---
version: 1
interactions:
- request:
    body: '{"id":"ea3f9c46-4a9a-4b03-a6b8-bc6427bb02d7","name":"cli-ns-gracious-hoover","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-06-22T10:40:35.772982Z","updated_at":"2026-06-22T10:40:35.772982Z","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"ea3f9c46-4a9a-4b03-a6b8-bc6427bb02d7","name":"cli-ns-gracious-hoover","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-06-22T10:40:35.772982Z","updated_at":"2026-06-22T10:40:35.772982Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"ea3f9c46-4a9a-4b03-a6b8-bc6427bb02d7","name":"cli-ns-gracious-hoover","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-06-22T10:40:35.772982Z","updated_at":"2026-06-22T10:40:35.772982Z","region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/ea3f9c46-4a9a-4b03-a6b8-bc6427bb02d7
    method: GET
  response:
    body: '{"id":"ea3f9c46-4a9a-4b03-a6b8-bc6427bb02d7","name":"cli-ns-gracious-hoover","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-06-22T10:40:35.772982Z","updated_at":"2026-06-22T10:40:35.772982Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"ab8f563d-4ec6-4c98-9365-ed8e2826d017","name":"cli-test-logs-pensive-pike","namespace_id":"ea3f9c46-4a9a-4b03-a6b8-bc6427bb02d7","description":"","status":"creating","created_at":"2026-06-22T10:40:51.482716Z","updated_at":"2026-06-22T10:40:51.482716Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"hello-world:latest","protocol":"http1","port":8080,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clinsgracioushooverea3f9c46-cli-test-logs-pensive-pike.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"ab8f563d-4ec6-4c98-9365-ed8e2826d017","name":"cli-test-logs-pensive-pike","namespace_id":"ea3f9c46-4a9a-4b03-a6b8-bc6427bb02d7","description":"","status":"creating","created_at":"2026-06-22T10:40:51.482716Z","updated_at":"2026-06-22T10:40:51.482716Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"hello-world:latest","protocol":"http1","port":8080,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clinsgracioushooverea3f9c46-cli-test-logs-pensive-pike.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"ab8f563d-4ec6-4c98-9365-ed8e2826d017","name":"cli-test-logs-pensive-pike","namespace_id":"ea3f9c46-4a9a-4b03-a6b8-bc6427bb02d7","description":"","status":"creating","created_at":"2026-06-22T10:40:51.482716Z","updated_at":"2026-06-22T10:40:51.482716Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"hello-world:latest","protocol":"http1","port":8080,"https_connections_only":false,"sandbox":"v2"[...]
[...]
- request:
    body: '{"id":"ab8f563d-4ec6-4c98-9365-ed8e2826d017","name":"cli-test-logs-pensive-pike","namespace_id":"ea3f9c46-4a9a-4b03-a6b8-bc6427bb02d7","description":"","status":"error","error_message":"Container
      is unable to start OR is not listening on port 8080","created_at":"2026-06-22T10:40:51.482716Z","updated_at":"2026-06-22T10:45:53Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"hello-world:latest","protocol":"http1","port":8080,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"env[...]
- request:
    body: '{"total_count":1,"data_sources":[{"id":"70f266df-eee2-4689-9c46-3284861909c9","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"Scaleway
      Logs","url":"https://70f266df-eee2-4689-9c46-3284861909c9.logs.cockpit.fr-par.scw.cloud","type":"logs","origin":"scaleway","created_at":"2024-04-17T14:54:47.534704Z","updated_at":"2024-04-17T14:54:47.534704Z","synchronized_with_grafana":true,"retention_days":7,"current_month_usage":32244860,"region":"fr-par"}]}'
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=scaleway&page=1&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&types=logs
    method: GET
  response:
    body: '{"total_count":1,"data_sources":[{"id":"70f266df-eee2-4689-9c46-3284861909c9","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"Scaleway
      Logs","url":"https://70f266df-eee2-4689-9c46-3284861909c9.logs.cockpit.fr-par.scw.cloud","type":"logs","origin":"scaleway","created_at":"2024-04-17T14:54:47.534704Z","updated_at":"2024-04-17T14:54:47.534704Z","synchronized_with_grafana":true,"retention_days":7,"current_month_usage":32244860,"region":"fr-par"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"f0c896e3-a4b7-4d8d-b691-0417621ae3e3","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-generated-for-container-logs","created_at":"2026-06-22T10:46:08.401571Z","updated_at":"2026-06-22T10:46:08.401571Z","scopes":["read_only_logs"],"secret_key":"Orj5B5cSlUVxSFJ9DYlgg-yiLjH-HPftlCmED6XkLbfV_fVsRvuaPNCEe8EpZOJo","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
    method: POST
  response:
    body: '{"id":"f0c896e3-a4b7-4d8d-b691-0417621ae3e3","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-generated-for-container-logs","created_at":"2026-06-22T10:46:08.401571Z","updated_at":"2026-06-22T10:46:08.401571Z","scopes":["read_only_logs"],"secret_key":"Orj5B5cSlUVxSFJ9DYlgg-yiLjH-HPftlCmED6XkLbfV_fVsRvuaPNCEe8EpZOJo","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"status":"success","data":{"resultType":"streams","result":[{"stream":{"detected_level":"unknown","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_name":"default","region":"fr-par","resource_id":"ab8f563d-4ec6-4c98-9365-ed8e2826d017","resource_name":"clinsgracioushooverea3f9c46-cli-test-logs-pensive-pike","resource_type":"serverless_container","service_name":"serverless_container"},"values":[["1782125044967423474","{\"stream\":\"stdout\",\"resource_instance\":\"clinsgracioushoovere77fbe2425861326ef111df0289d0d54b-deplown5qw\",\"message\":\"\"}"],["1782125044967418424","{\"stream\":\"stdout\",\"resource_instance\":\"clinsgracioushoovere77fbe2425861326ef111df0289d0d54b-deplown5qw\",\"message\":\" https://docs.docker.com/get-started/\"}"],["1782125044967412493","{\"stream\":\"stdout\",\"resource_instance\":\"clinsgracioushoovere77fbe2425861326ef111df0289d0d54b-deplown5qw\",\"message\":\"For more examples and ideas, visit:\"}"],["1782125044967403857","{\"stream\":\"stdout\",\"resource_instance\":\"clinsgracioushoovere77fbe2425861326[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/f0c896e3-a4b7-4d8d-b691-0417621ae3e3
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
