---
version: 1
interactions:
- request:
    body: '{"id":"1a3c297d-79a0-4d12-a5a2-c26d3512e550", "name":"cli-ns-quirky-poincare",
      "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-04-20T10:56:42.064905Z", "updated_at":"2026-04-20T10:56:42.064905Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"1a3c297d-79a0-4d12-a5a2-c26d3512e550", "name":"cli-ns-quirky-poincare",
      "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-04-20T10:56:42.064905Z", "updated_at":"2026-04-20T10:56:42.064905Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"1a3c297d-79a0-4d12-a5a2-c26d3512e550", "name":"cli-ns-quirky-poincare",
      "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-04-20T10:56:42.064905Z", "updated_at":"2026-04-20T10:56:42.064905Z",
      "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/1a3c297d-79a0-4d12-a5a2-c26d3512e550
    method: GET
  response:
    body: '{"id":"1a3c297d-79a0-4d12-a5a2-c26d3512e550", "name":"cli-ns-quirky-poincare",
      "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-04-20T10:56:42.064905Z", "updated_at":"2026-04-20T10:56:42.064905Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"8de1d6d9-10cf-46f1-b909-750b13d967af", "name":"cli-test-gracious-austin",
      "namespace_id":"1a3c297d-79a0-4d12-a5a2-c26d3512e550", "description":"", "status":"creating",
      "created_at":"2026-04-20T10:56:57.975906Z", "updated_at":"2026-04-20T10:56:57.975906Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"nginx:latest", "protocol":"http1",
      "port":80, "https_connections_only":false, "sandbox":"v2", "local_storage_limit_bytes":1000000000,
      "scaling_option":{"concurrent_requests_threshold":50}, "tags":[], "command":[],
      "args":[], "environment_variables":{}, "public_endpoint":"https://clinsquirkypoincare1a3c297d-cli-test-gracious-austin.functions.fnc.fr-par.scw.cloud",
      "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s",
      "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"8de1d6d9-10cf-46f1-b909-750b13d967af", "name":"cli-test-gracious-austin",
      "namespace_id":"1a3c297d-79a0-4d12-a5a2-c26d3512e550", "description":"", "status":"creating",
      "created_at":"2026-04-20T10:56:57.975906Z", "updated_at":"2026-04-20T10:56:57.975906Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"nginx:latest", "protocol":"http1",
      "port":80, "https_connections_only":false, "sandbox":"v2", "local_storage_limit_bytes":1000000000,
      "scaling_option":{"concurrent_requests_threshold":50}, "tags":[], "command":[],
      "args":[], "environment_variables":{}, "public_endpoint":"https://clinsquirkypoincare1a3c297d-cli-test-gracious-austin.functions.fnc.fr-par.scw.cloud",
      "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s",
      "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"8de1d6d9-10cf-46f1-b909-750b13d967af", "name":"cli-test-gracious-austin",
      "namespace_id":"1a3c297d-79a0-4d12-a5a2-c26d3512e550", "description":"", "status":"creating",
      "created_at":"2026-04-20T10:56:57.975906Z", "updated_at":"2026-04-20T10:56:57.975906Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"nginx:latest", "protocol":"http1",
      "port":80, "https_co[...]
- request:
    body: '{"id":"8de1d6d9-10cf-46f1-b909-750b13d967af", "name":"cli-test-gracious-austin",
      "namespace_id":"1a3c297d-79a0-4d12-a5a2-c26d3512e550", "description":"", "status":"ready",
      "error_message":"", "created_at":"2026-04-20T10:56:57.975906Z", "updated_at":"2026-04-20T10:57:09Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"nginx:latest", "protocol":"http1",
      "port":80, "https_connections_only":false, "sandbox":"v2", "local_storage_limit_bytes":1000000000,
      "scaling_option":{"concurrent_requests_threshold":50}, "tags":[], "command":[],
      "args":[], "environment_variables":{}, "p[...]
[...]
