---
version: 1
interactions:
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces?name=app-cli-t-ctnr-deploy-fp&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"839fc623-9dc2-4546-b0dc-255cc72c70d2", "name":"app-cli-t-ctnr-deploy-fp",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-06T14:35:51.959025Z", "updated_at":"2026-08-06T14:35:51.959025Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"839fc623-9dc2-4546-b0dc-255cc72c70d2", "name":"app-cli-t-ctnr-deploy-fp",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-06T14:35:51.959025Z", "updated_at":"2026-08-06T14:35:51.959025Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"839fc623-9dc2-4546-b0dc-255cc72c70d2", "name":"app-cli-t-ctnr-deploy-fp",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-06T14:35:51.959025Z", "updated_at":"2026-08-06T14:35:51.959025Z",
      "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/839fc623-9dc2-4546-b0dc-255cc72c70d2
    method: GET
  response:
    body: '{"id":"839fc623-9dc2-4546-b0dc-255cc72c70d2", "name":"app-cli-t-ctnr-deploy-fp",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-06T14:35:51.959025Z", "updated_at":"2026-08-06T14:35:51.959025Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=app-cli-t-ctnr-deploy-fp&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"4b7c6755-6b32-4a8e-b0f7-2377a6340559", "name":"app-cli-t-ctnr-deploy-fp",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/app-cli-t-ctnr-deploy-fp", "is_public":false,
      "size":0, "created_at":"2026-08-06T14:36:07.832588029Z", "updated_at":"2026-08-06T14:36:07.832588029Z",
      "image_count":0, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"4b7c6755-6b32-4a8e-b0f7-2377a6340559", "name":"app-cli-t-ctnr-deploy-fp",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/app-cli-t-ctnr-deploy-fp", "is_public":false,
      "size":0, "created_at":"2026-08-06T14:36:07.832588029Z", "updated_at":"2026-08-06T14:36:07.832588029Z",
      "image_count":0, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"containers":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/containers?name=app-cli-t-ctnr-deploy-fp&namespace_id=839fc623-9dc2-4546-b0dc-255cc72c70d2&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"containers":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"9eb4ff13-38d6-4090-9e9f-2fcd407bad50", "name":"app-cli-t-ctnr-deploy-fp",
      "namespace_id":"839fc623-9dc2-4546-b0dc-255cc72c70d2", "description":"", "status":"creating",
      "created_at":"2026-08-06T14:36:19.528087Z", "updated_at":"2026-08-06T14:36:19.528087Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/app-cli-t-ctnr-deploy-fp/app-cli-t-ctnr-deploy-fp:latest",
      "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2",
      "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50},
      "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://appclitctnrdeployfp839fc623-app-cli-t-ctnr-deploy-fp.functions.fnc.fr-par.scw.cloud",
      "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s",
      "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"9eb4ff13-38d6-4090-9e9f-2fcd407bad50", "name":"app-cli-t-ctnr-deploy-fp",
      "namespace_id":"839fc623-9dc2-4546-b0dc-255cc72c70d2", "description":"", "status":"creating",
      "created_at":"2026-08-06T14:36:19.528087Z", "updated_at":"2026-08-06T14:36:19.528087Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/app-cli-t-ctnr-deploy-fp/app-cli-t-ctnr-deploy-fp:latest",
      "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2",
      "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50},
      "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://appclitctnrdeployfp839fc623-app-cli-t-ctnr-deploy-fp.functions.fnc.fr-par.scw.cloud",
      "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s",
      "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"9eb4ff13-38d6-4090-9e9f-2fcd407bad50", "name":"app-cli-t-ctnr-deploy-fp",
      "namespace_id":"839fc623-9dc2-4546-b0dc-255cc72c70d2", "description":"", "status":"creating",
      "created_at":"2026-08-06T14:36:19.528087Z", "updated_at":"2026-08-06T14:36:19.528087Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/app-cli-t-ctnr-deploy-fp/app-cli-t-ctnr-d[...]
- request:
    body: '{"id":"9eb4ff13-38d6-4090-9e9f-2fcd407bad50", "name":"app-cli-t-ctnr-deploy-fp",
      "namespace_id":"839fc623-9dc2-4546-b0dc-255cc72c70d2", "description":"", "status":"error",
      "error_message":"Invalid Image architecture. Serverless Containers only support
      the amd64 architecture, but the image was built for the following architectures:
      arm64. Please rebuild the image for the correct architecture using the `--platform=linux/amd64`
      Docker build argument.", "created_at":"2026-08-06T14:36:19.528087Z", "updated_at":"2026-08-06T14:36:20.069181Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"publ[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"839fc623-9dc2-4546-b0dc-255cc72c70d2","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/839fc623-9dc2-4546-b0dc-255cc72c70d2
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"839fc623-9dc2-4546-b0dc-255cc72c70d2","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"id":"4b7c6755-6b32-4a8e-b0f7-2377a6340559", "name":"app-cli-t-ctnr-deploy-fp",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/app-cli-t-ctnr-deploy-fp", "is_public":false,
      "size":30474059, "created_at":"2026-08-06T14:36:07.832588Z", "updated_at":"2026-08-06T14:36:50.477177617Z",
      "image_count":1, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/4b7c6755-6b32-4a8e-b0f7-2377a6340559
    method: DELETE
  response:
    body: '{"id":"4b7c6755-6b32-4a8e-b0f7-2377a6340559", "name":"app-cli-t-ctnr-deploy-fp",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/app-cli-t-ctnr-deploy-fp", "is_public":false,
      "size":30474059, "created_at":"2026-08-06T14:36:07.832588Z", "updated_at":"2026-08-06T14:36:50.477177617Z",
      "image_count":1, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
