---
version: 1
interactions:
- request:
    body: '{"id":"7c897f59-1536-49b1-9e3b-841e50d27895","name":"cli-test-ctn-update-rg-img-busy-dhawan","description":"","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-busy-dhawan","is_public":false,"size":0,"created_at":"2026-05-18T18:08:12.650157724Z","updated_at":"2026-05-18T18:08:12.650157724Z","image_count":0,"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"7c897f59-1536-49b1-9e3b-841e50d27895","name":"cli-test-ctn-update-rg-img-busy-dhawan","description":"","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-busy-dhawan","is_public":false,"size":0,"created_at":"2026-05-18T18:08:12.650157724Z","updated_at":"2026-05-18T18:08:12.650157724Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"images":[{"id":"9af9f0a0-4a95-4752-b432-52afa857af4b","name":"sebp/lighttpd","namespace_id":"7c897f59-1536-49b1-9e3b-841e50d27895","status":"ready","status_message":"","visibility":"inherit","size":4436608,"created_at":"2026-05-18T18:08:19.627489Z","updated_at":"2026-05-18T18:08:20.263692Z","tags":["latest"]}],"total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=sebp%2Flighttpd&namespace_id=7c897f59-1536-49b1-9e3b-841e50d27895&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"images":[{"id":"9af9f0a0-4a95-4752-b432-52afa857af4b","name":"sebp/lighttpd","namespace_id":"7c897f59-1536-49b1-9e3b-841e50d27895","status":"ready","status_message":"","visibility":"inherit","size":4436608,"created_at":"2026-05-18T18:08:19.627489Z","updated_at":"2026-05-18T18:08:20.263692Z","tags":["latest"]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespaces":[{"id":"681422c2-2605-485d-be8c-4caaba0e40ad","name":"bidouille","description":"","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/bidouille","is_public":false,"size":125904904,"created_at":"2025-10-13T14:51:28.239376Z","updated_at":"2025-10-30T14:35:52.512165Z","image_count":6,"region":"fr-par"},{"id":"7c897f59-1536-49b1-9e3b-841e50d27895","name":"cli-test-ctn-update-[...]
- request:
    body: '{"images":[{"id":"2ca57b21-88a8-4424-934b-4ea433ec7fa0","name":"nginx","namespace_id":"7c897f59-1536-49b1-9e3b-841e50d27895","status":"ready","status_message":"","visibility":"inherit","size":22583979,"created_at":"2026-05-18T18:08:33.534194Z","updated_at":"2026-05-18T18:08:34.188917Z","tags":["1.29.2-alpine"]}],"total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=nginx&namespace_id=7c897f59-1536-49b1-9e3b-841e50d27895&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"images":[{"id":"2ca57b21-88a8-4424-934b-4ea433ec7fa0","name":"nginx","namespace_id":"7c897f59-1536-49b1-9e3b-841e50d27895","status":"ready","status_message":"","visibility":"inherit","size":22583979,"created_at":"2026-05-18T18:08:33.534194Z","updated_at":"2026-05-18T18:08:34.188917Z","tags":["1.29.2-alpine"]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"87985e88-42cb-4b38-848e-a44a9e11c3d3","name":"cli-ns-kind-minsky","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-18T18:08:35.012299Z","updated_at":"2026-05-18T18:08:35.012299Z","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"87985e88-42cb-4b38-848e-a44a9e11c3d3","name":"cli-ns-kind-minsky","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-18T18:08:35.012299Z","updated_at":"2026-05-18T18:08:35.012299Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"87985e88-42cb-4b38-848e-a44a9e11c3d3","name":"cli-ns-kind-minsky","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-18T18:08:35.012299Z","updated_at":"2026-05-18T18:08:35.012299Z","region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/87985e88-42cb-4b38-848e-a44a9e11c3d3
    method: GET
  response:
    body: '{"id":"87985e88-42cb-4b38-848e-a44a9e11c3d3","name":"cli-ns-kind-minsky","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-18T18:08:35.012299Z","updated_at":"2026-05-18T18:08:35.012299Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"6150688c-7791-41c3-8bf4-ff66206e984a","name":"cli-test-nifty-wescoff","namespace_id":"87985e88-42cb-4b38-848e-a44a9e11c3d3","description":"","status":"creating","created_at":"2026-05-18T18:08:51.098080Z","updated_at":"2026-05-18T18:08:51.098080Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-busy-dhawan/sebp/lighttpd:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clinskindminsky87985e88-cli-test-nifty-wescoff.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"6150688c-7791-41c3-8bf4-ff66206e984a","name":"cli-test-nifty-wescoff","namespace_id":"87985e88-42cb-4b38-848e-a44a9e11c3d3","description":"","status":"creating","created_at":"2026-05-18T18:08:51.098080Z","updated_at":"2026-05-18T18:08:51.098080Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-busy-dhawan/sebp/lighttpd:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clinskindminsky87985e88-cli-test-nifty-wescoff.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"6150688c-7791-41c3-8bf4-ff66206e984a","name":"cli-test-nifty-wescoff","namespace_id":"87985e88-42cb-4b38-848e-a44a9e11c3d3","description":"","status":"creating","created_at":"2026-05-18T18:08:51.098080Z","updated_at":"2026-05-18T18:08:51.098080Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-busy-dhawan/sebp/lighttpd:latest","protocol":"http1",[...]
[...]
- request:
    body: '{"id":"6150688c-7791-41c3-8bf4-ff66206e984a","name":"cli-test-nifty-wescoff","namespace_id":"87985e88-42cb-4b38-848e-a44a9e11c3d3","description":"","status":"error","error_message":"Container
      is unable to start OR is not listening on port 80","created_at":"2026-05-18T18:08:51.098080Z","updated_at":"2026-05-18T18:13:52Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-busy-dhawan/sebp/lighttpd:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requ[...]
[...]
- request:
    body: '{"id":"7c897f59-1536-49b1-9e3b-841e50d27895","name":"cli-test-ctn-update-rg-img-busy-dhawan","description":"","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"deleting","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-busy-dhawan","is_public":false,"size":27020587,"created_at":"2026-05-18T18:08:12.650158Z","updated_at":"2026-05-18T18:14:08.044274553Z","image_count":2,"region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/7c897f59-1536-49b1-9e3b-841e50d27895
    method: DELETE
  response:
    body: '{"id":"7c897f59-1536-49b1-9e3b-841e50d27895","name":"cli-test-ctn-update-rg-img-busy-dhawan","description":"","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"deleting","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-busy-dhawan","is_public":false,"size":27020587,"created_at":"2026-05-18T18:08:12.650158Z","updated_at":"2026-05-18T18:14:08.044274553Z","image_count":2,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
