---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-ns-tender-hellman","environment_variables":null,"secret_environment_variables":null,"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"47002ad0-6b74-4d41-bb3e-63499bdb638d", "name":"cli-ns-tender-hellman", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{}, "tags":[], "created_at":"2026-08-07T16:32:25.702518Z", "updated_at":"2026-08-07T16:32:25.702518Z", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.387097856s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/47002ad0-6b74-4d41-bb3e-63499bdb638d
        method: GET
      response:
        body: '{"id":"47002ad0-6b74-4d41-bb3e-63499bdb638d", "name":"cli-ns-tender-hellman", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{}, "tags":[], "created_at":"2026-08-07T16:32:25.702518Z", "updated_at":"2026-08-07T16:32:25.702518Z", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.283327ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"47002ad0-6b74-4d41-bb3e-63499bdb638d","name":"cli-test-logs-relaxed-engelbart","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"hello-world:latest","protocol":"http1","port":8080,"https_connections_only":false,"sandbox":"v2","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"ec41deb3-5024-4f27-8588-721ec26b6faa", "name":"cli-test-logs-relaxed-engelbart", "namespace_id":"47002ad0-6b74-4d41-bb3e-63499bdb638d", "description":"", "status":"creating", "created_at":"2026-08-07T16:32:41.447197Z", "updated_at":"2026-08-07T16:32:41.447197Z", "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000, "timeout":"300s", "privacy":"public", "image":"hello-world:latest", "protocol":"http1", "port":8080, "https_connections_only":false, "sandbox":"v2", "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50}, "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clinstenderhellman47002ad0-cli-test-logs-relaxed-engelbart.functions.fnc.fr-par.scw.cloud", "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s", "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.596761ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/ec41deb3-5024-4f27-8588-721ec26b6faa
        method: GET
      response:
        body: '{"id":"ec41deb3-5024-4f27-8588-721ec26b6faa", "name":"cli-test-logs-relaxed-engelbart", "namespace_id":"47002ad0-6b74-4d41-bb3e-63499bdb638d", "description":"", "status":"creating", "created_at":"2026-08-07T16:32:41.447197Z", "updated_at":"2026-08-07T16:32:41.447197Z", "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000, "timeout":"300s", "privacy":"public", "image":"hello-world:latest", "protocol":"http1", "port":8080, "https_connections_only":false, "sandbox":"v2", "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50}, "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clinstenderhellman47002ad0-cli-test-logs-relaxed-engelbart.functions.fnc.fr-par.scw.cloud", "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s", "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.960058ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/ec41deb3-5024-4f27-8588-721ec26b6faa
        method: GET
      response:
        body: '{"id":"ec41deb3-5024-4f27-8588-721ec26b6faa", "name":"cli-test-logs-relaxed-engelbart", "namespace_id":"47002ad0-6b74-4d41-bb3e-63499bdb638d", "description":"", "status":"error", "error_message":"Container is unable to start OR is not listening on port 8080", "created_at":"2026-08-07T16:32:41.447197Z", "updated_at":"2026-08-07T16:37:42Z", "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000, "timeout":"300s", "privacy":"public", "image":"hello-world:latest", "protocol":"http1", "port":8080, "https_connections_only":false, "sandbox":"v2", "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50}, "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clinstenderhellman47002ad0-cli-test-logs-relaxed-engelbart.functions.fnc.fr-par.scw.cloud", "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s", "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.110617ms
    - id: 25
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            origin:
                - scaleway
            page:
                - "1"
            project_id:
                - fa1e3217-dc80-42ac-85c3-3f034b78b552
            types:
                - logs
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=scaleway&page=1&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&types=logs
        method: GET
      response:
        body: '{"total_count":1, "data_sources":[{"id":"70f266df-eee2-4689-9c46-3284861909c9", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"Scaleway Logs", "url":"https://70f266df-eee2-4689-9c46-3284861909c9.logs.cockpit.fr-par.scw.cloud", "type":"logs", "origin":"scaleway", "created_at":"2024-04-17T14:54:47.534704Z", "updated_at":"2024-04-17T14:54:47.534704Z", "synchronized_with_grafana":true, "retention_days":7, "current_month_usage":4874094, "region":"fr-par"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.150461ms
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-generated-for-container-logs","token_scopes":["read_only_logs"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"id":"ad9a3fde-9860-40ea-bb55-3521ec13289e", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-generated-for-container-logs", "created_at":"2026-08-07T16:37:43.168927Z", "updated_at":"2026-08-07T16:37:43.168927Z", "scopes":["read_only_logs"], "secret_key":"3tKMQ_QK2kPZpihZ1KF0a4KOqkj1sCfYCWO95j6yVrOWCy1NFFwwxQeLZ9fEUFzN", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.703727ms
    - id: 27
      request:
        host: 70f266df-eee2-4689-9c46-3284861909c9.logs.cockpit.fr-par.scw.cloud
        form:
            end:
                - "2026-08-07T18:37:43+02:00"
            query:
                - '{resource_type="serverless_container", resource_id="ec41deb3-5024-4f27-8588-721ec26b6faa"}'
            start:
                - "2026-08-07T16:37:43+02:00"
        headers:
            X-Token:
                - 3tKMQ_QK2kPZpihZ1KF0a4KOqkj1sCfYCWO95j6yVrOWCy1NFFwwxQeLZ9fEUFzN
        url: https://70f266df-eee2-4689-9c46-3284861909c9.logs.cockpit.fr-par.scw.cloud/loki/api/v1/query_range?end=2026-08-07T18%3A37%3A43%2B02%3A00&query=%7Bresource_type%3D%22serverless_container%22%2C+resource_id%3D%22ec41deb3-5024-4f27-8588-721ec26b6faa%22%7D&start=2026-08-07T16%3A37%3A43%2B02%3A00
        method: GET
      response:
        body: |
            {"status":"success","data":{"resultType":"streams","result":[{"stream":{"detected_level":"unknown","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_name":"default","region":"fr-par","resource_id":"ec41deb3-5024-4f27-8588-721ec26b6faa","resource_name":"clinstenderhellman47002ad0-cli-test-logs-relaxed-engelbart","resource_type":"serverless_container","service_name":"serverless_container"},"values":[["1786120531317474182","{\"stream\":\"stdout\",\"resource_instance\":\"clinstenderhellman47a76c388c39fe53c520cbd525505d8dbe-deplozdtzp\",\"message\":\"\"}"],["1786120531317472459","{\"stream\":\"stdout\",\"resource_instance\":\"clinstenderhellman47a76c388c39fe53c520cbd525505d8dbe-deplozdtzp\",\"message\":\" https://docs.docker.com/get-started/\"}"],["1786120531317470586","{\"stream\":\"stdout\",\"resource_instance\":\"clinstenderhellman47a76c388c39fe53c520cbd525505d8dbe-deplozdtzp\",\"message\":\"For more examples and ideas, visit:\"}"],["1786120531317467489","{\"stream\":\"stdout\",\"resource_instance\":\"clinstenderhellman47a76c388c39fe53c[...]
    - id: 28
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/ad9a3fde-9860-40ea-bb55-3521ec13289e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 58.261277ms
[...]
