---
version: 1
interactions:
- request:
    body: '{"id":"9228fddb-a18e-4415-a6a8-356528f805d5","name":"cli-ns-mystifying-antonelli","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-06-22T10:05:34.864087Z","updated_at":"2026-06-22T10:05:34.864087Z","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"9228fddb-a18e-4415-a6a8-356528f805d5","name":"cli-ns-mystifying-antonelli","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-06-22T10:05:34.864087Z","updated_at":"2026-06-22T10:05:34.864087Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"9228fddb-a18e-4415-a6a8-356528f805d5","name":"cli-ns-mystifying-antonelli","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-06-22T10:05:34.864087Z","updated_at":"2026-06-22T10:05:34.864087Z","region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/9228fddb-a18e-4415-a6a8-356528f805d5
    method: GET
  response:
    body: '{"id":"9228fddb-a18e-4415-a6a8-356528f805d5","name":"cli-ns-mystifying-antonelli","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-06-22T10:05:34.864087Z","updated_at":"2026-06-22T10:05:34.864087Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"access_key":"SCW2WH4M9QAC6PWEJSJA","secret_key":null,"description":"my
      API key for prod","created_at":"2026-04-02T13:13:26.558853Z","updated_at":"2026-04-02T13:13:26.558853Z","expires_at":"2027-04-02T13:13:26.452Z","default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","editable":true,"deletable":true,"managed":false,"creation_ip":"51.159.73.9","user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW2WH4M9QAC6PWEJSJA
    method: GET
  response:
    body: '{"access_key":"SCW2WH4M9QAC6PWEJSJA","secret_key":null,"description":"my
      API key for prod","created_at":"2026-04-02T13:13:26.558853Z","updated_at":"2026-04-02T13:13:26.558853Z","expires_at":"2027-04-02T13:13:26.452Z","default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","editable":true,"deletable":true,"managed":false,"creation_ip":"51.159.73.9","user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"1c935f64-ff56-4c5d-ae0a-ab4cd812785f","name":"cli-test-logs-quirky-shaw","namespace_id":"9228fddb-a18e-4415-a6a8-356528f805d5","description":"","status":"creating","created_at":"2026-06-22T10:05:51.172461Z","updated_at":"2026-06-22T10:05:51.172461Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"hello-world:latest","protocol":"http1","port":8080,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clinsmystifyinganton9228fddb-cli-test-logs-quirky-shaw.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"1c935f64-ff56-4c5d-ae0a-ab4cd812785f","name":"cli-test-logs-quirky-shaw","namespace_id":"9228fddb-a18e-4415-a6a8-356528f805d5","description":"","status":"creating","created_at":"2026-06-22T10:05:51.172461Z","updated_at":"2026-06-22T10:05:51.172461Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"hello-world:latest","protocol":"http1","port":8080,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clinsmystifyinganton9228fddb-cli-test-logs-quirky-shaw.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"1c935f64-ff56-4c5d-ae0a-ab4cd812785f","name":"cli-test-logs-quirky-shaw","namespace_id":"9228fddb-a18e-4415-a6a8-356528f805d5","description":"","status":"creating","created_at":"2026-06-22T10:05:51.172461Z","updated_at":"2026-06-22T10:05:51.172461Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"hello-world:latest","protocol":"http1","port":8080,"https_connections_only":false,"sandbox":"v2",[...]
[...]
- request:
    body: '{"id":"1c935f64-ff56-4c5d-ae0a-ab4cd812785f","name":"cli-test-logs-quirky-shaw","namespace_id":"9228fddb-a18e-4415-a6a8-356528f805d5","description":"","status":"error","error_message":"Container
      is unable to start OR is not listening on port 8080","created_at":"2026-06-22T10:05:51.172461Z","updated_at":"2026-06-22T10:10:53Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"hello-world:latest","protocol":"http1","port":8080,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"env[...]
- request:
    body: '{"total_count":1,"data_sources":[{"id":"70f266df-eee2-4689-9c46-3284861909c9","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"Scaleway
      Logs","url":"https://70f266df-eee2-4689-9c46-3284861909c9.logs.cockpit.fr-par.scw.cloud","type":"logs","origin":"scaleway","created_at":"2024-04-17T14:54:47.534704Z","updated_at":"2024-04-17T14:54:47.534704Z","synchronized_with_grafana":true,"retention_days":7,"current_month_usage":32244860,"region":"fr-par"}]}'
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=scaleway&page=1&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&types=logs
    method: GET
  response:
    body: '{"total_count":1,"data_sources":[{"id":"70f266df-eee2-4689-9c46-3284861909c9","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"Scaleway
      Logs","url":"https://70f266df-eee2-4689-9c46-3284861909c9.logs.cockpit.fr-par.scw.cloud","type":"logs","origin":"scaleway","created_at":"2024-04-17T14:54:47.534704Z","updated_at":"2024-04-17T14:54:47.534704Z","synchronized_with_grafana":true,"retention_days":7,"current_month_usage":32244860,"region":"fr-par"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"c1ece835-182b-437c-98c8-7e1d77b3caa2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-generated-for-container-logs","created_at":"2026-06-22T10:11:08.390937Z","updated_at":"2026-06-22T10:11:08.390937Z","scopes":["read_only_logs"],"secret_key":"cEqV5LR9f0_DKxPQoecmSdWYVzKCc7BSYX0KaPRmj39ke2TYXnmi7X7xSeN6nL05","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
    method: POST
  response:
    body: '{"id":"c1ece835-182b-437c-98c8-7e1d77b3caa2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-generated-for-container-logs","created_at":"2026-06-22T10:11:08.390937Z","updated_at":"2026-06-22T10:11:08.390937Z","scopes":["read_only_logs"],"secret_key":"cEqV5LR9f0_DKxPQoecmSdWYVzKCc7BSYX0KaPRmj39ke2TYXnmi7X7xSeN6nL05","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"status":"success","data":{"resultType":"streams","result":[{"stream":{"detected_level":"unknown","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_name":"default","region":"fr-par","resource_id":"1c935f64-ff56-4c5d-ae0a-ab4cd812785f","resource_name":"clinsmystifyinganton9228fddb-cli-test-logs-quirky-shaw","resource_type":"serverless_container","service_name":"serverless_container"},"values":[["1782122931745494180","{\"stream\":\"stdout\",\"resource_instance\":\"clinsmystifyinganton860994c23f089d361d3e08809bab6005-deplomb9f9\",\"message\":\"\"}"],["1782122931745488980","{\"stream\":\"stdout\",\"resource_instance\":\"clinsmystifyinganton860994c23f089d361d3e08809bab6005-deplomb9f9\",\"message\":\" https://docs.docker.com/get-started/\"}"],["1782122931745483390","{\"stream\":\"stdout\",\"resource_instance\":\"clinsmystifyinganton860994c23f089d361d3e08809bab6005-deplomb9f9\",\"message\":\"For more examples and ideas, visit:\"}"],["1782122931745476830","{\"stream\":\"stdout\",\"resource_instance\":\"clinsmystifyinganton860994c23f089d3[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/c1ece835-182b-437c-98c8-7e1d77b3caa2
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
