---
version: 1
interactions:
- request:
    body: '{"namespaces":[{"id":"7d69e92a-2a77-4990-b1a9-4f3328288562", "name":"test-logs",
      "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "description":"", "status":"ready", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-04-02T14:39:58.610096Z", "updated_at":"2026-04-02T14:39:58.610096Z",
      "region":"fr-par"}, {"id":"08795313-7d08-4a6b-9dd6-f3643b28ae73", "name":"cli-cns-practical-thompson",
      "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "description":"", "status":"ready", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-04-09T13:29:14.902511Z", "updated_at":"2026-04-09T13:29:14.902511Z",
      "region":"fr-par"}, {"id":"7dd16df2-de1d-406f-8484-4e55553863a0", "name":"cli-ns-intelligent-morse",
      "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "description":"", "status":"deleting", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-04-20T10:57:12.445755Z", "updated_at":"2026-04-20T11:02:45.804930Z",
      "region":"fr-par"}], "total_count":3}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-s&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[{"id":"7d69e92a-2a77-4990-b1a9-4f3328288562", "name":"test-logs",
      "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "description":"", "status":"ready", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-04-02T14:39:58.610096Z", "updated_at":"2026-04-02T14:39:58.610096Z",
      "region":"fr-par"}, {"id":"08795313-7d08-4a6b-9dd6-f3643b28ae73", "name":"cli-cns-practical-thompson",
      "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "description":"", "status":"ready", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-04-09T13:29:14.902511Z", "updated_at":"2026-04-09T13:29:14.902511Z",
      "region":"fr-par"}, {"id":"7dd16df2-de1d-406f-8484-4e55553863a0", "name":"cli-ns-intelligent-morse",
      "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "description":"", "status":"deleting", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-04-20T10:57:12.445755Z", "updated_at":"2026-04-20T11:02:45.804930Z",
      "region":"fr-par"}], "total_count":3}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"2dcb76fe-3ae0-4cfe-867c-704bb307ccf3", "name":"cli-t-ctnr-deploy-s",
      "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-04-20T11:02:50.246701Z", "updated_at":"2026-04-20T11:02:50.246701Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"2dcb76fe-3ae0-4cfe-867c-704bb307ccf3", "name":"cli-t-ctnr-deploy-s",
      "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-04-20T11:02:50.246701Z", "updated_at":"2026-04-20T11:02:50.246701Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"2dcb76fe-3ae0-4cfe-867c-704bb307ccf3", "name":"cli-t-ctnr-deploy-s",
      "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-04-20T11:02:50.246701Z", "updated_at":"2026-04-20T11:02:50.246701Z",
      "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/2dcb76fe-3ae0-4cfe-867c-704bb307ccf3
    method: GET
  response:
    body: '{"id":"2dcb76fe-3ae0-4cfe-867c-704bb307ccf3", "name":"cli-t-ctnr-deploy-s",
      "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-04-20T11:02:50.246701Z", "updated_at":"2026-04-20T11:02:50.246701Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-s&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"a50f7c95-1145-4a62-b6ea-85eb9ba68a77", "name":"cli-t-ctnr-deploy-s",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s", "is_public":false, "size":0,
      "created_at":"2026-04-20T11:03:06.233711985Z", "updated_at":"2026-04-20T11:03:06.233711985Z",
      "image_count":0, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"a50f7c95-1145-4a62-b6ea-85eb9ba68a77", "name":"cli-t-ctnr-deploy-s",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s", "is_public":false, "size":0,
      "created_at":"2026-04-20T11:03:06.233711985Z", "updated_at":"2026-04-20T11:03:06.233711985Z",
      "image_count":0, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/_ping
    method: HEAD
  response:
    body: ""
    headers:
      Api-Version:
      - "1.54"
      Builder-Version:
      - "2"
      Content-Type:
      - text/plain; charset=utf-8
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
      Swarm:
      - inactive
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\"stream\":\"Step 1/4 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e 5e7abcdd2021\\n\"}\r\n{\"stream\":\"Step 2/4 : RUN apk add --no-cache
      curl git bash\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e bdf1ef9cfce3\\n\"}\r\n{\"stream\":\"Step
      3/4 : COPY ./index.html /usr/share/nginx/html/index.html\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e 2526015042db\\n\"}\r\n{\"stream\":\"Step
      4/4 : EXPOSE 80\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e 128b9541e8f4\\n\"}\r\n{\"aux\":{\"ID\":\"sha256:128b9541e8f4049bff9157a34f9100835fd23878a9cd35c85713a229582dafeb\"}}\r\n{\"stream\":\"Successfully
      built 128b9541e8f4\\n\"}\r\n{\"stream\":\"Successfully tagged rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s:latest\\n\"}\r\n"
    form: {}
    headers:
      Content-Type:
      - application/x-tar
      X-Registry-Config:
      - bnVsbA==
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.51/build?dockerfile=Dockerfile&rm=0&t=rg.fr-par.scw.cloud%2Fcli-t-ctnr-deploy-s%2Fcli-t-ctnr-deploy-s%3Alatest
    method: POST
  response:
    body: "{\"stream\":\"Step 1/4 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e 5e7abcdd2021\\n\"}\r\n{\"stream\":\"Step 2/4 : RUN apk add --no-cache
      curl git bash\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e bdf1ef9cfce3\\n\"}\r\n{\"stream\":\"Step
      3/4 : COPY ./index.html /usr/share/nginx/html/index.html\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e 2526015042db\\n\"}\r\n{\"stream\":\"Step
      4/4 : EXPOSE 80\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e 128b9541e8f4\\n\"}\r\n{\"aux\":{\"ID\":\"sha256:128b9541e8f4049bff9157a34f9100835fd23878a9cd35c85713a229582dafeb\"}}\r\n{\"stream\":\"Successfully
      built 128b9541e8f4\\n\"}\r\n{\"stream\":\"Successfully tagged rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s:latest\\n\"}\r\n"
    headers:
      Api-Version:
      - "1.54"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\"status\":\"The push refers to repository [rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s]\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"205429c26d8c\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"db5c9fbe944f\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"e9a26559275d\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"1704c5a3d8da\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"dc45ec6c902b\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"3e4655a38876\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"abbef7f88314\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"ed6be5e2fd33\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"1967fccdbe5e\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"256f393e029f\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"3e4655a38876\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"abbef7f88314\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"ed6be5e2fd33\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"1967fccdbe5e\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"256f393e029f\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":512,\"total\":144},\"id\":\"205429c26d8c\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":4096,\"total\":144},\"id\":\"205429c26d8c\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":512,\"total\":3018},\"id\":\"dc45ec6c902b\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":5120,\"total\":3018},\"id\":\"dc45ec6c902b\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":512,\"total\":4619},\"id\":\"1704c5a3d8da\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"curr[...]
- request:
    body: '{"containers":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/containers?name=cli-t-ctnr-deploy-s&namespace_id=2dcb76fe-3ae0-4cfe-867c-704bb307ccf3&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"containers":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"3ec4f79a-3dec-4ad8-88b2-b9c0e696c56e", "name":"cli-t-ctnr-deploy-s",
      "namespace_id":"2dcb76fe-3ae0-4cfe-867c-704bb307ccf3", "description":"", "status":"creating",
      "created_at":"2026-04-20T11:03:56.342166Z", "updated_at":"2026-04-20T11:03:56.342166Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s:latest",
      "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2",
      "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50},
      "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clitctnrdeploys2dcb76fe-cli-t-ctnr-deploy-s.functions.fnc.fr-par.scw.cloud",
      "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s",
      "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"3ec4f79a-3dec-4ad8-88b2-b9c0e696c56e", "name":"cli-t-ctnr-deploy-s",
      "namespace_id":"2dcb76fe-3ae0-4cfe-867c-704bb307ccf3", "description":"", "status":"creating",
      "created_at":"2026-04-20T11:03:56.342166Z", "updated_at":"2026-04-20T11:03:56.342166Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s:latest",
      "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2",
      "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50},
      "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clitctnrdeploys2dcb76fe-cli-t-ctnr-deploy-s.functions.fnc.fr-par.scw.cloud",
      "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s",
      "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"3ec4f79a-3dec-4ad8-88b2-b9c0e696c56e", "name":"cli-t-ctnr-deploy-s",
      "namespace_id":"2dcb76fe-3ae0-4cfe-867c-704bb307ccf3", "description":"", "status":"creating",
      "created_at":"2026-04-20T11:03:56.342166Z", "updated_at":"2026-04-20T11:03:56.342166Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s:latest[...]
- request:
    body: '{"id":"3ec4f79a-3dec-4ad8-88b2-b9c0e696c56e", "name":"cli-t-ctnr-deploy-s",
      "namespace_id":"2dcb76fe-3ae0-4cfe-867c-704bb307ccf3", "description":"", "status":"ready",
      "error_message":"", "created_at":"2026-04-20T11:03:56.342166Z", "updated_at":"2026-04-20T11:04:07Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s:latest",
      "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2",
      "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50},
      "tags":[], "[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"2dcb76fe-3ae0-4cfe-867c-704bb307ccf3","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/2dcb76fe-3ae0-4cfe-867c-704bb307ccf3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"2dcb76fe-3ae0-4cfe-867c-704bb307ccf3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"id":"a50f7c95-1145-4a62-b6ea-85eb9ba68a77", "name":"cli-t-ctnr-deploy-s",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s", "is_public":false, "size":26776297,
      "created_at":"2026-04-20T11:03:06.233712Z", "updated_at":"2026-04-20T11:04:29.318253289Z",
      "image_count":1, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/a50f7c95-1145-4a62-b6ea-85eb9ba68a77
    method: DELETE
  response:
    body: '{"id":"a50f7c95-1145-4a62-b6ea-85eb9ba68a77", "name":"cli-t-ctnr-deploy-s",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s", "is_public":false, "size":26776297,
      "created_at":"2026-04-20T11:03:06.233712Z", "updated_at":"2026-04-20T11:04:29.318253289Z",
      "image_count":1, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
