---
version: 1
interactions:
- request:
    body: '{"id":"322df4ca-1f9d-43f4-84d3-0c6617861657", "name":"cli-cns-objective-mayer",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2026-04-09T14:07:55.572871Z", "updated_at":"2026-04-09T14:07:55.572871Z",
      "vpc_integration_activated":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"322df4ca-1f9d-43f4-84d3-0c6617861657", "name":"cli-cns-objective-mayer",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2026-04-09T14:07:55.572871Z", "updated_at":"2026-04-09T14:07:55.572871Z",
      "vpc_integration_activated":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"322df4ca-1f9d-43f4-84d3-0c6617861657", "name":"cli-cns-objective-mayer",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2026-04-09T14:07:55.572871Z", "updated_at":"2026-04-09T14:07:55.572871Z",
      "vpc_integration_activated":true, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/322df4ca-1f9d-43f4-84d3-0c6617861657
    method: GET
  response:
    body: '{"id":"322df4ca-1f9d-43f4-84d3-0c6617861657", "name":"cli-cns-objective-mayer",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2026-04-09T14:07:55.572871Z", "updated_at":"2026-04-09T14:07:55.572871Z",
      "vpc_integration_activated":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"75e29a6a-dc68-4c15-b321-8c63ba408391", "name":"cli-test-logs-funny-kare",
      "namespace_id":"322df4ca-1f9d-43f4-84d3-0c6617861657", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"hello-world:latest",
      "max_concurrency":50, "domain_name":"clicnsobjectivemayer322df4ca-cli-test-logs-funny-kare.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":8080, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2026-04-09T14:08:13.868847Z", "updated_at":"2026-04-09T14:08:13.868847Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"75e29a6a-dc68-4c15-b321-8c63ba408391", "name":"cli-test-logs-funny-kare",
      "namespace_id":"322df4ca-1f9d-43f4-84d3-0c6617861657", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"hello-world:latest",
      "max_concurrency":50, "domain_name":"clicnsobjectivemayer322df4ca-cli-test-logs-funny-kare.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":8080, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2026-04-09T14:08:13.868847Z", "updated_at":"2026-04-09T14:08:13.868847Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"75e29a6a-dc68-4c15-b321-8c63ba408391", "name":"cli-test-logs-funny-kare",
      "namespace_id":"322df4ca-1f9d-43f4-84d3-0c6617861657", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"hello-world:latest",
      "max_concurrency":1, "domain_name":"clicnsobjectivemayer322df4ca-cli-test-logs-funny[...]
- request:
    body: '{"id":"75e29a6a-dc68-4c15-b321-8c63ba408391", "name":"cli-test-logs-funny-kare",
      "namespace_id":"322df4ca-1f9d-43f4-84d3-0c6617861657", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"hello-world:latest",
      "max_concurrency":1, "domain_name":"clicnsobjectivemayer322df4ca-cli-test-logs-funny[...]
[...]
- request:
    body: '{"total_count":1, "data_sources":[{"id":"70f266df-eee2-4689-9c46-3284861909c9",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"Scaleway Logs",
      "url":"https://70f266df-eee2-4689-9c46-3284861909c9.logs.cockpit.fr-par.scw.cloud",
      "type":"logs", "origin":"scaleway", "created_at":"2024-04-17T14:54:47.534704Z",
      "updated_at":"2024-04-17T14:54:47.534704Z", "synchronized_with_grafana":true,
      "retention_days":7, "current_month_usage":3101, "region":"fr-par"}]}'
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=scaleway&page=1&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&types=logs
    method: GET
  response:
    body: '{"total_count":1, "data_sources":[{"id":"70f266df-eee2-4689-9c46-3284861909c9",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"Scaleway Logs",
      "url":"https://70f266df-eee2-4689-9c46-3284861909c9.logs.cockpit.fr-par.scw.cloud",
      "type":"logs", "origin":"scaleway", "created_at":"2024-04-17T14:54:47.534704Z",
      "updated_at":"2024-04-17T14:54:47.534704Z", "synchronized_with_grafana":true,
      "retention_days":7, "current_month_usage":3101, "region":"fr-par"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"total_count":0, "tokens":[]}'
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens?order_by=created_at_asc&page=1&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&token_scopes=read_only_logs
    method: GET
  response:
    body: '{"total_count":0, "tokens":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"1ad0bfdb-0cd4-4532-8950-40b1580c3361", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "name":"cli-generated-for-container-logs", "created_at":"2026-04-09T14:13:17.103982Z",
      "updated_at":"2026-04-09T14:13:17.103982Z", "scopes":["read_only_logs"], "secret_key":"26eIP9vEobHw_xIjcE32FedgwNGsv6ExHBtqyo2npXs5FHv9c43qmA9560mzUx6x",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
    method: POST
  response:
    body: '{"id":"1ad0bfdb-0cd4-4532-8950-40b1580c3361", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "name":"cli-generated-for-container-logs", "created_at":"2026-04-09T14:13:17.103982Z",
      "updated_at":"2026-04-09T14:13:17.103982Z", "scopes":["read_only_logs"], "secret_key":"26eIP9vEobHw_xIjcE32FedgwNGsv6ExHBtqyo2npXs5FHv9c43qmA9560mzUx6x",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"status":"success","data":{"resultType":"streams","result":[{"stream":{"detected_level":"unknown","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_name":"default","region":"fr-par","resource_id":"75e29a6a-dc68-4c15-b321-8c63ba408391","resource_name":"clicnsobjectivemayer322df4ca-cli-test-logs-funny-kare","resource_type":"serverless_container","service_name":"serverless_container"},"values":[["1775743871726557253","{\"stream\":\"stdout\",\"resource_instance\":\"clicnsobjectivemayer9a1fe82a1796a1016964e95f3e5d4f15-deplo2btqr\",\"message\":\"\"}"],["1775743871726555530","{\"stream\":\"stdout\",\"resource_instance\":\"clicnsobjectivemayer9a1fe82a1796a1016964e95f3e5d4f15-deplo2btqr\",\"message\":\" https://docs.docker.com/get-started/\"}"],["1775743871726553696","{\"stream\":\"stdout\",\"resource_instance\":\"clicnsobjectivemayer9a1fe82a1796a1016964e95f3e5d4f15-deplo2btqr\",\"message\":\"For more examples and ideas, visit:\"}"],["1775743871726551272","{\"stream\":\"stdout\",\"resource_instance\":\"clicnsobjectivemayer9a1fe82a1796a10[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/1ad0bfdb-0cd4-4532-8950-40b1580c3361
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
