---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - cli-t-ctnr-deploy-s
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-s&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 382.854737ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-t-ctnr-deploy-s","environment_variables":null,"secret_environment_variables":null,"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"08defe75-bc0c-4e3b-aeda-5acdce12392c","name":"cli-t-ctnr-deploy-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-08-10T11:57:20.201180Z","updated_at":"2026-08-10T11:57:20.201180Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.79933007s
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/08defe75-bc0c-4e3b-aeda-5acdce12392c
        method: GET
      response:
        body: '{"id":"08defe75-bc0c-4e3b-aeda-5acdce12392c","name":"cli-t-ctnr-deploy-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-08-10T11:57:20.201180Z","updated_at":"2026-08-10T11:57:20.201180Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.974853ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        form:
            name:
                - cli-t-ctnr-deploy-s
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-s&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.530898ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"cli-t-ctnr-deploy-s","description":"","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"732a409a-936c-4bba-b001-9884cc8bfacc","name":"cli-t-ctnr-deploy-s","description":"","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s","is_public":false,"size":0,"created_at":"2026-08-10T11:57:36.578424128Z","updated_at":"2026-08-10T11:57:36.578424128Z","image_count":0,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.218365ms
    - id: 6
      request:
        host: api.moby.localhost
        headers:
        url: http:///var/run/docker.sock/_ping
        method: HEAD
      response:
        body: ""
        headers:
            Api-Version:
                - "1.55"
            Builder-Version:
                - "2"
            Content-Type:
                - text/plain; charset=utf-8
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
            Swarm:
                - inactive
        status: 200 OK
        code: 200
        duration: 497.273µs
    - id: 7
      request:
        host: api.moby.localhost
        body: "Dockerfile\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\00000600\00001750\00001750\000000000164\015236336237\0011273\0 0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
    - id: 8
      request:
        host: api.moby.localhost
        form:
            tag:
                - latest
        headers:
        url: http:///var/run/docker.sock/v1.55/images/rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s/push?tag=latest
        method: POST
      response:
            - chunked
        body: "{\"status\":\"The push refers to repository [rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s]\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"205429c26d8c\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"db5c9fbe944f\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"e9a26559275d\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"1704c5a3d8da\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"dc45ec6c902b\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"3e4655a38876\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"abbef7f88314\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"ed6be5e2fd33\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"1967fccdbe5e\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"256f393e029f\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"3e4655a38876\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"abbef7f88314\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"ed6be5e2fd33\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"1967fccdbe5e\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"256f393e029f\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":512,\"total\":144},\"id\":\"205429c26d8c\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":4096,\"total\":144},\"id\":\"205429c26d8c\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":512,\"total\":3018},\"id\":\"dc45ec6c902b\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":5120,\"total\":3018},\"id\":\"dc45ec6c902b\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":512,\"total\":4619},\"id\":\"1704c5a3d8da\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"curr[...]
    - id: 9
      request:
        host: api.scaleway.com
        form:
            name:
                - cli-t-ctnr-deploy-s
            namespace_id:
                - 08defe75-bc0c-4e3b-aeda-5acdce12392c
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers?name=cli-t-ctnr-deploy-s&namespace_id=08defe75-bc0c-4e3b-aeda-5acdce12392c&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"containers":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.447843ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"08defe75-bc0c-4e3b-aeda-5acdce12392c","name":"cli-t-ctnr-deploy-s","environment_variables":null,"secret_environment_variables":null,"privacy":"unknown_privacy","image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s:latest","protocol":"unknown_protocol","port":80,"sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"53574e6b-aede-4b85-aea4-0ddff19d3069","name":"cli-t-ctnr-deploy-s","namespace_id":"08defe75-bc0c-4e3b-aeda-5acdce12392c","description":"","status":"creating","created_at":"2026-08-10T11:58:33.857176Z","updated_at":"2026-08-10T11:58:33.857176Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clitctnrdeploys08defe75-cli-t-ctnr-deploy-s.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 742.615562ms
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/53574e6b-aede-4b85-aea4-0ddff19d3069
        method: GET
      response:
        body: '{"id":"53574e6b-aede-4b85-aea4-0ddff19d3069","name":"cli-t-ctnr-deploy-s","namespace_id":"08defe75-bc0c-4e3b-aeda-5acdce12392c","description":"","status":"creating","created_at":"2026-08-10T11:58:33.857176Z","updated_at":"2026-08-10T11:58:33.857176Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clitctnrdeploys08defe75-cli-t-ctnr-deploy-s.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.161245ms
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/53574e6b-aede-4b85-aea4-0ddff19d3069
        method: GET
      response:
        body: '{"id":"53574e6b-aede-4b85-aea4-0ddff19d3069","name":"cli-t-ctnr-deploy-s","namespace_id":"08defe75-bc0c-4e3b-aeda-5acdce12392c","description":"","status":"ready","error_message":"","created_at":"2026-08-10T11:58:33.857176Z","updated_at":"2026-08-10T11:58:41Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clitctnrdeploys08defe75-cli-t-ctnr-deploy-s.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.449865ms
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"access_key":"SCW077DT8M7T25V0B8WC","secret_key":null,"description":"my prod API key","created_at":"2026-07-30T09:49:37.613076Z","updated_at":"2026-07-30T09:49:37.613076Z","expires_at":"2027-07-30T09:49:37.486Z","default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","editable":true,"deletable":true,"managed":false,"creation_ip":"130.180.219.188","user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.888547ms
    - id: 14
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 10.193187ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/08defe75-bc0c-4e3b-aeda-5acdce12392c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"08defe75-bc0c-4e3b-aeda-5acdce12392c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 52.907074ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/732a409a-936c-4bba-b001-9884cc8bfacc
        method: DELETE
      response:
        body: '{"id":"732a409a-936c-4bba-b001-9884cc8bfacc","name":"cli-t-ctnr-deploy-s","description":"","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"deleting","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s","is_public":false,"size":26776297,"created_at":"2026-08-10T11:57:36.578424Z","updated_at":"2026-08-10T11:59:05.238906847Z","image_count":1,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.273068ms
