---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-ns-dazzling-jang","environment_variables":null,"secret_environment_variables":null,"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"a051f156-d2ef-4e56-9cba-220539e5b24a","name":"cli-ns-dazzling-jang","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-19T12:31:44.164514Z","updated_at":"2026-05-19T12:31:44.164514Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.239700032s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/a051f156-d2ef-4e56-9cba-220539e5b24a
        method: GET
      response:
        body: '{"id":"a051f156-d2ef-4e56-9cba-220539e5b24a","name":"cli-ns-dazzling-jang","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-19T12:31:44.164514Z","updated_at":"2026-05-19T12:31:44.164514Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.858822ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"a051f156-d2ef-4e56-9cba-220539e5b24a","name":"cli-test-practical-turing","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"nginx:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"87c75c03-b24f-4ac7-8ad4-077afd53c726","name":"cli-test-practical-turing","namespace_id":"a051f156-d2ef-4e56-9cba-220539e5b24a","description":"","status":"creating","created_at":"2026-05-19T12:32:00.029458Z","updated_at":"2026-05-19T12:32:00.029458Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clinsdazzlingjanga051f156-cli-test-practical-turing.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 273.472669ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/87c75c03-b24f-4ac7-8ad4-077afd53c726
        method: GET
      response:
        body: '{"id":"87c75c03-b24f-4ac7-8ad4-077afd53c726","name":"cli-test-practical-turing","namespace_id":"a051f156-d2ef-4e56-9cba-220539e5b24a","description":"","status":"creating","created_at":"2026-05-19T12:32:00.029458Z","updated_at":"2026-05-19T12:32:00.029458Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clinsdazzlingjanga051f156-cli-test-practical-turing.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.675836ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/87c75c03-b24f-4ac7-8ad4-077afd53c726
        method: GET
      response:
        body: '{"id":"87c75c03-b24f-4ac7-8ad4-077afd53c726","name":"cli-test-practical-turing","namespace_id":"a051f156-d2ef-4e56-9cba-220539e5b24a","description":"","status":"ready","error_message":"","created_at":"2026-05-19T12:32:00.029458Z","updated_at":"2026-05-19T12:32:18Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clinsdazzlingjanga051f156-cli-test-practical-turing.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.650981ms
[...]
