---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - cli-t-ctnr-deploy-bp
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-bp&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 438.092804ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-t-ctnr-deploy-bp","environment_variables":null,"secret_environment_variables":null,"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"4b80bd32-e86e-401f-9e64-3011adfe9bf6","name":"cli-t-ctnr-deploy-bp","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-08-10T12:01:15.559189Z","updated_at":"2026-08-10T12:01:15.559189Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.642913004s
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/4b80bd32-e86e-401f-9e64-3011adfe9bf6
        method: GET
      response:
        body: '{"id":"4b80bd32-e86e-401f-9e64-3011adfe9bf6","name":"cli-t-ctnr-deploy-bp","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-08-10T12:01:15.559189Z","updated_at":"2026-08-10T12:01:15.559189Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.268928ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        form:
            name:
                - cli-t-ctnr-deploy-bp
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-bp&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.99493ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"cli-t-ctnr-deploy-bp","description":"","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"bcee3d18-0eed-4ece-a4c4-f19b3ec5d5de","name":"cli-t-ctnr-deploy-bp","description":"","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-bp","is_public":false,"size":0,"created_at":"2026-08-10T12:01:31.950543168Z","updated_at":"2026-08-10T12:01:31.950543168Z","image_count":0,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.002596ms
    - id: 6
      request:
        host: api.moby.localhost
        headers:
        url: http:///var/run/docker.sock/_ping
        method: HEAD
      response:
        body: ""
        headers:
            Api-Version:
                - "1.55"
            Builder-Version:
                - "2"
            Content-Type:
                - text/plain; charset=utf-8
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
            Swarm:
                - inactive
        status: 200 OK
        code: 200
        duration: 424.998µs
    - id: 7
      request:
        host: api.moby.localhost
        headers:
        url: http:///var/run/docker.sock/v1.55/info
        method: GET
      response:
            - chunked
        body: |
            {"ID":"e19e7cbf-a555-4991-b8fe-f143dd98f128","Containers":25,"ContainersRunning":1,"ContainersPaused":0,"ContainersStopped":24,"Images":70,"Driver":"overlay2","DriverStatus":[["Backing Filesystem","extfs"],["Supports d_type","true"],["Using metacopy","false"],["Native Overlay Diff","true"],["userxattr","false"]],"Plugins":{"Volume":["local"],"Network":["bridge","host","ipvlan","macvlan","null","overlay"],"Authorization":null,"Log":["awslogs","fluentd","gcplogs","gelf","journald","json-file","local","splunk","syslog"]},"MemoryLimit":true,"SwapLimit":true,"CpuCfsPeriod":true,"CpuCfsQuota":true,"CPUShares":true,"CPUSet":true,"PidsLimit":true,"IPv4Forwarding":true,"Debug":false,"NFd":35,"OomKillDisable":false,"NGoroutines":55,"SystemTime":"2026-08-10T14:01:31.960857365+02:00","LoggingDriver":"json-file","CgroupDriver":"systemd","CgroupVersion":"2","NEventsListener":1,"KernelVersion":"6.17.0-1030-oem","OperatingSystem":"Ubuntu 24.04.4 LTS","OSVersion":"24.04","OSType":"linux","Architecture":"x86_64","IndexServerAddress":"https://index.docker.io/v1/","RegistryConfig":{"InsecureRegistryCIDRs":["::1/128","127.0.0.0/8"],"IndexConfigs":{"docker.io":{"Name":"docker.io","Mirrors":[],"Secure":true,"Official":true}},"Mirrors":[]},"NCPU":16,"MemTotal":32744677376,"GenericResources":null,"DockerRootDir":"/var/lib/docker","HttpProxy":"","HttpsProxy":"","NoProxy":"","Name":"lmarabese-ThinkPad-T14s-Gen-6","Labels":[],"ExperimentalBuild":false,"ServerVersion":"29.7.1","Runtimes":{"io.containerd.runc.v2":{"path":"runc","status":{"org.opencontainers.runtime-spec.features":"{\"ociVersionMin\":\"1.0.0\",\"ociVersionMax\":\"1.2.1\",\"hooks\":[\"prestart\",\"createRuntime\",\"createContainer\",\"startContainer\",\"poststart\",\"poststop\"],\"mountOptions\":[\"async\",\"atime\",\"bind\",\"defaults\",\"dev\",\"diratime\",\"dirsync\",\"exec\",\"iversion\",\"lazytime\",\"loud\",\"mand\",\"noatime\",\"nodev\",\"nodiratime\",\"noexec\",\"noiversion\",\"nolazytime\",\"nomand\",\"norelatime\",\"nostrictatime\",\"nosuid\",\"nosymfollow\",\"private\",\"ratime\",\"rbind\",\"rdev\",\"rdiratime\",\"relatime\",\"remount\",\"rexec\",\"rnoatime\",\"rnodev\",\"rnodiratime\",\"rnoexec\",\"rnorelatime\",\"rnostrictatime\",\"rnosuid\",\"rnosymfollow\",\"ro\",\"rprivate\",\"rrelatime\",\"rro\",\"rrw\",\"rshared\",\"rslave\",\"rstrictatime\",\"rsuid\",\"rsymfollow\",\"runbindable\",\"rw\",\"shared\",\"silent\",\"slave\",\"strictatime\",\"suid\",\"symfollow\",\"sync\",\"tmpcopyup\",\"unbindable\"],\"linux\":{\"namespaces\":[\"cgroup\",\"ipc\",\"mount\",\"network\",\"pid\",\"time\",\"user\",\"uts\"],\"capabilities\":[\"CAP_CHOWN\",\"CAP_DAC_OVERRIDE\",\"CAP_DAC_READ_SEARCH\",\"CAP_FOWNER\",\"CAP_FSETID\",\"CAP_KILL\",\"CAP_SETGID\",\"CAP_SETUID\",\"CAP_SETPCAP\",\"CAP_LINUX_IMMUTABLE\",\"CAP_NET_BIND_SERVICE\",\"CAP_NET_BROADCAST\",\"CAP_NET_ADMIN\",\"CAP_NET_RAW\",\"CAP_IPC_LOCK\",\"CAP_IPC_OWNER\",\"CAP_SYS_MODULE\",\"CAP_SYS_RAWIO\",\"CAP_SYS_CHROOT\",\"CAP_SYS_PTRACE\",\"CAP_SYS_PACCT\",\"CAP_SYS_ADMIN\",\"CAP_SYS_BOOT\",\"CAP_SYS_NICE\",\"CAP_SYS_RESOURCE\",\"CAP_SYS_TIME\",\"CAP_SYS_TTY_CONFIG\",\"CAP_MKNOD\",\"CAP_LEASE\",\"CAP_AUDIT_WRITE\",\"CAP_AUDIT_CONTROL\",\"CAP_SETFCAP\",\"CAP_MAC_OVERRIDE\",\"CAP_MAC_ADMIN\",\"CAP_SYSLOG\",\"CAP_WAKE_ALARM\",\"CAP_BLOCK_SUSPEND\",\"CAP_AUDIT_READ\",\"CAP_PERFMON\",\"CAP_BPF\",\"CAP_CHECKPOINT_RESTORE\"],\"cgroup\":{\"v1\":true,\"v2\":true,\"systemd\":true,\"systemdUser\":true,\"rdma\":true},\"seccomp\":{\"enabled\":true,\"actions\":[\"SCMP_ACT_ALLOW\",\"SCMP_ACT_ERRNO\",\"SCMP_ACT_KILL\",\"SCMP_ACT_KILL_PROCESS\",\"SCMP_ACT_KILL_THREAD\",\"SCMP_ACT_LOG\",\"SCMP_ACT_NOTIFY\",\"SCMP_ACT_TRACE\",\"SCMP_ACT_TRAP\"],\"operators\":[\"SCMP_CMP_EQ\",\"SCMP_CMP_GE\",\"SCMP_CMP_GT\",\"SCMP_CMP_LE\",\"SCMP_CMP_LT\",\"SCMP_CMP_MASKED_EQ\",\"SCMP_CMP_NE\"],\"archs\":[\"SCMP_ARCH_AARCH64\",\"SCMP_ARCH_ARM\",\"SCMP_ARCH_MIPS\",\"SCMP_ARCH_MIPS64\",\"SCMP_ARCH_MIPS64N32\",\"SCMP_ARCH_MIPSEL\",\"SCMP_ARCH_MIPSEL64\",\"SCMP_ARCH_MIPSEL64N32\",\"SCMP_ARCH_PPC\",\"SCMP_ARCH_PPC64\",\"SCMP_ARCH_PPC64LE\",\"SCMP_ARCH_RISCV64\",\"SCMP_ARCH_S390\",\"SCMP_ARCH_S390X\",\"SCMP_ARCH_X32\",\"SCMP_ARCH_X86\",\"SCMP_ARCH_X86_64\"],\"knownFlags\":[\"SECCOMP_FILTER_FLAG_TSYNC\",\"SECCOMP_FILTER_FLAG_SPEC_ALLOW\",\"SECCOMP_FILTER_FLAG_LOG\"],\"supportedFlags\":[\"SECCOMP_FILTER_FLAG_TSYNC\",\"SECCOMP_FILTER_FLAG_SPEC_ALLOW\",\"SECCOMP_FILTER_FLAG_LOG\"]},\"apparmor\":{\"enabled\":true},\"selinux\":{\"enabled\":true},\"intelRdt\":{\"enabled\":true},\"mountExtensions\":{\"idmap\":{\"enabled\":true}}},\"annotations\":{\"io.github.seccomp.libseccomp.version\":\"2.5.5\",\"org.opencontainers.runc.checkpoint.enabled\":\"true\",\"org.opencontainers.runc.commit\":\"v1.3.6-0-g491b69ba\",\"org.opencontainers.runc.version\":\"1.3.6\\n\"},\"potentiallyUnsafeConfigAnnotations\":[\"bundle\",\"org.systemd.property.\",\"org.criu.config\"]}"}},"runc":{"path":"runc","status":{"org.opencontainers.runtime-spec.features":"{\"ociVersionMin\":\"1.0.0\",\"ociVersionMax\":\"1.2.1\",\"hooks\":[\"prestart\",\"createRuntime\",\"createContainer\",\"startContainer\",\"poststart\",\"poststop\"],\"mountOptions\":[\"async\",\"atime\",\"bind\",\"defaults\",\"dev\",\"diratime\",\"dirsync\",\"exec\",\"iversion\",\"lazytime\",\"loud\",\"mand\",\"noatime\",\"nodev\",\"nodiratime\",\"noexec\",\"noiversion\",\"nolazytime\",\"nomand\",\"norelatime\",\"nostrictatime[...]
    - id: 8
      request:
        host: api.moby.localhost
        form:
            fromImage:
                - docker.io/paketobuildpacks/builder-jammy-base
            tag:
                - latest
        headers:
        url: http:///var/run/docker.sock/v1.55/images/create?fromImage=docker.io%2Fpaketobuildpacks%2Fbuilder-jammy-base&tag=latest
        method: POST
      response:
            - chunked
        body: "{\"status\":\"Pulling from paketobuildpacks/builder-jammy-base\",\"id\":\"latest\"}\r\n{\"status\":\"Digest: sha256:e92f59b97ef7876b01c502a2f97ddeac031ff27c1feff86705e33a669a4614e8\"}\r\n{\"status\":\"Status: Image is up to date for paketobuildpacks/builder-jammy-base:latest\"}\r\n"
        headers:
            Api-Version:
                - "1.55"
            Content-Type:
                - application/json
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 200 OK
        code: 200
        duration: 714.990997ms
    - id: 9
      request:
        host: api.moby.localhost
        headers:
        url: http:///var/run/docker.sock/v1.55/version
        method: GET
      response:
        body: |
            {"Platform":{"Name":"Docker Engine - Community"},"Version":"29.7.1","ApiVersion":"1.55","MinAPIVersion":"1.40","Os":"linux","Arch":"amd64","Components":[{"Name":"Engine","Version":"29.7.1","Details":{"ApiVersion":"1.55","Arch":"amd64","BuildTime":"2026-07-31T17:06:34.000000000+00:00","Experimental":"false","GitCommit":"c5b8ce9","GoVersion":"go1.26.5","KernelVersion":"6.17.0-1030-oem","MinAPIVersion":"1.40","Module":"github.com/moby/moby/v2","ModuleVersion":"v2.0.0+unknown","Os":"linux"}},{"Name":"containerd","Version":"v2.2.6","Details":{"GitCommit":"11ce9d5f3c68c941867e82890e93e815c1304f1b"}},{"Name":"runc","Version":"1.3.6","Details":{"GitCommit":"v1.3.6-0-g491b69ba"}},{"Name":"docker-init","Version":"0.19.0","Details":{"GitCommit":"de40ad0"}}],"GitCommit":"c5b8ce9","GoVersion":"go1.26.5","KernelVersion":"6.17.0-1030-oem","BuildTime":"2026-07-31T17:06:34.000000000+00:00"}
        headers:
            Api-Version:
                - "1.55"
            Content-Type:
                - application/json
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 200 OK
        code: 200
        duration: 5.120466ms
    - id: 10
      request:
        host: api.moby.localhost
        headers:
        url: http:///var/run/docker.sock/v1.55/images/index.docker.io/paketobuildpacks/builder-jammy-base:latest/json
        method: GET
      response:
            - chunked
        body: |
            {"Id":"sha256:fc8e4aef411e3b0ff4a846ef3bf3be0dd86f3d63292450cc94157d0bdd0066af","RepoTags":["paketobuildpacks/builder-jammy-base:latest"],"RepoDigests":["paketobuildpacks/builder-jammy-base@sha256:e92f59b97ef7876b01c502a2f97ddeac031ff27c1feff86705e33a669a4614e8"],"Created":"1980-01-01T00:00:01Z","Config":{"User":"1001:1000","Env":["PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin","CNB_USER_ID=1001","CNB_GROUP_ID=1000","CNB_STACK_ID=io.buildpacks.stacks.jammy"],"Cmd":["/bin/bash"],"WorkingDir":"/layers","Labels":{"io.buildpacks.builder.metadata":"{\"description\":\"Ubuntu 22.04 Jammy Jellyfish base image with buildpacks for Java, Go, .NET Core, Node.js, Python, Apache HTTPD, NGINX and Procfile\",\"buildpacks\":[{\"id\":\"paketo-buildpacks/dotnet-core\",\"name\":\"Paketo Buildpack for .NET Core\",\"version\":\"4.7.0\",\"homepage\":\"https://github.com/paketo-buildpacks/dotnet-core\"},{\"id\":\"paketo-buildpacks/ca-certificates\",\"name\":\"Paketo Buildpack for CA Certificates\",\"version\":\"3.12.6\",\"homepage\":\"https://github.com/paketo-buildpacks/ca-certificates\"},{\"id\":\"paketo-buildpacks/dotnet-core-aspnet-runtime\",\"name\":\"Paketo Buildpack for ASP.NET Core Runtime\",\"version\":\"1.6.35\",\"homepage\":\"https://github.com/paketo-buildpacks/dotnet-core-aspnet-runtime\"},{\"id\":\"paketo-buildpacks/dotnet-core[...]
    - id: 11
      request:
        host: api.moby.localhost
        headers:
        url: http:///var/run/docker.sock/v1.55/images/index.docker.io/paketobuildpacks/builder-jammy-base:latest/history
        method: GET
      response:
            - chunked
        body: |
            [{"Comment":"","Created":315532801,"CreatedBy":"","Id":"sha256:fc8e4aef411e3b0ff4a846ef3bf3be0dd86f3d63292450cc94157d0bdd0066af","Size":0,"Tags":["paketobuildpacks/builder-jammy-base:latest"]},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":78,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":79,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":813,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":70443249,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":70373617,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":5194603,"Tags":null},{"Comment":"[...]
    - id: 12
      request:
        host: api.moby.localhost
        form:
            fromImage:
                - docker.io/paketobuildpacks/run-jammy-base
            platform:
                - linux/amd64
            tag:
                - latest
        headers:
        url: http:///var/run/docker.sock/v1.55/images/create?fromImage=docker.io%2Fpaketobuildpacks%2Frun-jammy-base&platform=linux%2Famd64&tag=latest
        method: POST
      response:
            - chunked
        body: "{\"status\":\"Pulling from paketobuildpacks/run-jammy-base\",\"id\":\"latest\"}\r\n{\"status\":\"Digest: sha256:daa7fb1845d9b47e3f6ab5f38550340128f435fb2ae21d21aea663f8931b2aa5\"}\r\n{\"status\":\"Status: Image is up to date for paketobuildpacks/run-jammy-base:latest\"}\r\n"
        headers:
            Api-Version:
                - "1.55"
            Content-Type:
                - application/json
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 200 OK
        code: 200
        duration: 707.623614ms
[...]
    - id: 14
      request:
        host: api.moby.localhost
        headers:
        url: http:///var/run/docker.sock/v1.55/images/paketobuildpacks/run-jammy-base:latest/json
        method: GET
      response:
            - chunked
        body: |
            {"Id":"sha256:78412ee4c7c537e2589fc592d503d517223685df3e713d15e261f66412765822","RepoTags":["paketobuildpacks/run-jammy-base:latest"],"RepoDigests":["paketobuildpacks/run-jammy-base@sha256:daa7fb1845d9b47e3f6ab5f38550340128f435fb2ae21d21aea663f8931b2aa5"],"Created":"2026-08-06T01:06:41.239012271Z","Config":{"User":"1002:1000","Env":["PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"],"Cmd":["/bin/bash"],"Labels":{"io.buildpacks.stack.description":"ubuntu:jammy with some common dependencies like tzdata and openssl","io.buildpacks.stack.distro.name":"ubuntu","io.buildpacks.stack.distro.version":"22.04","io.buildpacks.stack.homepage":"https://github.com/paketo-buildpacks/jammy-base-stack","io.buildpacks.stack.id":"io.buildpacks.stacks.jammy","io.buildpacks.stack.maintainer":"Paketo Buildpacks","io.buildpacks.stack.metadata":"{}","io.buildpacks.stack.released":"2026-08-06T01:07:11Z","org.opencontainers.image.version":"22.04"}},"Architecture":"amd64","Os":"linux","Size":109601857,"GraphDriver":{"Data":{"LowerDir":"/var/lib/docker/overlay2/10e52a63ae5efb7e87b19a4ebb048f0feb5c0cde2d843581c5bc57c03aec5573/diff:/var/lib/docker/overlay2/f17a80ad9302c27e8b33aa1ae46af42e43468a36131823088f954592530ece80/diff:/var/lib/docker/overlay2/30710dacd9eb493a5e6b7ea29bc15ffd63d0e726b85e35862607860db2118c15/diff","MergedDir":"/var/lib/docker/overlay2/0441c378de948626b500079d61911c077c4ce5f5e84ae7dec6b0927c48b15be0/merged","UpperDir":"/var/lib/docker/overlay2/0441c378de948626b500079d61911c077c4ce5f5e84ae7dec6b0927c48b15be0/diff","WorkDir":"/var/lib/docker/overlay2/0441c378de948626b500079d61911c077c4ce5f5e84ae7dec6b0927c48b15be0/work"},"Name":"overlay2"},"RootFS":{"Type":"layers","Layers":["sha256:beb59027b96ddbf30ac9c80b527668fe7011f4f553fe83f5e59199e9a84fb5ca","sha256:366b8f45c74ffc335db8a018b6f61394ca1acbe7be50d36bc2a5e0d33ed7efbe","sha256:37735e5888a0627fe94b4f12db596b95b21b05ef796984ba45ee38311b83f6b0","sha256:d92f7551f21935159f8b967a9a0d24eda1e1f85a9e52945514757b0cdd411400"]},"Metadata":{"LastTagTime":"0001-01-01T00:00:00Z"}}
        headers:
            Api-Version:
                - "1.55"
            Content-Type:
                - application/json
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 200 OK
        code: 200
        duration: 567.194µs
    - id: 15
      request:
        host: api.moby.localhost
        headers:
        url: http:///var/run/docker.sock/v1.55/images/paketobuildpacks/run-jammy-base:latest/history
        method: GET
      response:
            - chunked
        body: |
            [{"Comment":"","Created":-62135596800,"CreatedBy":"","Id":"sha256:78412ee4c7c537e2589fc592d503d517223685df3e713d15e261f66412765822","Size":505,"Tags":["paketobuildpacks/run-jammy-base:latest"]},{"Comment":"","Created":-62135596800,"Cre[...]
[...]
    - id: 17
      request:
        host: api.moby.localhost
        body: "a0732f27ef2f4dba4f43f6742444355b42ee705d86de1d2bc095ffd149a566a7.json\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\00000644\00000000\00000000\000000266436\000000000000\0021010\0 0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0ustar\000\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\00000000\00000000\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0{\"architecture\":\"amd64\",\"created\":\"1980-01-01T00:00:01Z\",\"history\":[{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00[...]
    - id: 18
      request:
        host: api.moby.localhost
        headers:
        url: http:///var/run/docker.sock/v1.55/images/pack.local/builder/11111111111111111111:latest/json
        method: GET
      response:
            - chunked
        body: |
            {"Id":"sha256:a0732f27ef2f4dba4f43f6742444355b42ee705d86de1d2bc095ffd149a566a7","RepoTags":["pack.local/builder/11111111111111111111:latest"],"RepoDigests":[],"Created":"1980-01-01T00:00:01Z","Config":{"User":"1001:1000","Env":["P[...]
    - id: 19
      request:
        host: api.moby.localhost
        form:
            repo:
                - pack.local/builder/6a71776a726872646a75
            tag:
                - latest
        headers:
        url: http:///var/run/docker.sock/v1.55/images/sha256:a0732f27ef2f4dba4f43f6742444355b42ee705d86de1d2bc095ffd149a566a7/tag?repo=pack.local%2Fbuilder%2F11111111111111111111&tag=latest
        method: POST
      response:
        body: ""
        headers:
            Api-Version:
                - "1.55"
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 201 Created
        code: 201
        duration: 3.675596ms
    - id: 20
      request:
        host: api.moby.localhost
        body: '{"Name":"pack.local-network-686a766f627970777a70","Driver":"bridge","Scope":"","IPAM":null,"Internal":false,"Attachable":false,"Ingress":false,"ConfigOnly":false,"ConfigFrom":null,"Options":null,"Labels":null}'
        headers:
            Content-Type:
                - application/json
        url: http:///var/run/docker.sock/v1.55/networks/create
        method: POST
      response:
        body: |
            {"Id":"5d4f03204cf159e999bc14164971d356e19423ac4ca4df98b34c6306c2bacd6b","Warning":""}
        headers:
            Api-Version:
                - "1.55"
            Content-Type:
                - application/json
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 201 Created
        code: 201
        duration: 23.344368ms
    - id: 21
      request:
        host: api.moby.localhost
        body: '{"Hostname":"","Domainname":"","User":"root","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":["CNB_PLATFORM_API=0.15","CNB_EXEC_ENV="],"Cmd":["/cnb/lifecycle/creator","-daemon","-launch-cache","/launch-cache","-app","/workspace","-cache-dir","/cache","-run-image","paketobuildpacks/run-jammy-base:latest","-gid","0","-uid","0","rg.fr-par.scw.cloud/cli-t-ctnr-deploy-bp/cli-t-ctnr-deploy-bp:latest"],"Image":"pack.local/builder/11111111111111111111:latest","Volumes":null,"WorkingDir":"","Entrypoint":[""],"Labels":{"author":"pack"},"HostConfig":{"Binds":["pack-cache-cli-t-ctnr-deploy-bp_cli-t-ctnr-deploy-bp_latest-2a71189ff54c.build:/cache","/var/run/docker.sock:/var/run/docker.sock","pack-cache-cli-t-ctnr-deploy-bp_cli-t-ctnr-deploy-bp_latest-2a71189ff54c.launch:/launch-cache","pack-layers-dhysofipdh:/layers","pack-app-ylgbhvalhv:/workspace"],"ContainerIDFile":"","LogConfig":{"Type":"","Config":null},"NetworkMode":"pack.local-network-686a766f627970777a70","PortBindings":null,"RestartPolicy":{"Name":"","MaximumRetryCount":0},"AutoRemove":false,"VolumeDriver":"","VolumesFrom":null,"ConsoleSize":[0,0],"CapAdd":null,"CapDrop":null,"CgroupnsMode":"","Dns":null,"DnsOptions":null,"DnsSearch":null,"ExtraHosts":null,"GroupAdd":null,"IpcMode":"","Cgroup":"","Links":null,"OomScoreAdj":0,"PidMode":"","Privileged":false,"PublishAllPorts":false,"ReadonlyRootfs":false,"SecurityOpt":["label=disable"],"UTSMode":"","UsernsMode":"","ShmSize":0,"Isolation":"","CpuShares":0,"Memory":0,"NanoCpus":0,"CgroupParent":"","BlkioWeight":0,"BlkioWeightDevice":null,"BlkioDeviceReadBps":null,"BlkioDeviceWriteBps":null,"BlkioDeviceReadIOps":null,"BlkioDeviceWriteIOps":null,"CpuPeriod":0,"CpuQuota":0,"CpuRealtimePeriod":0,"CpuRealtimeRuntime":0,"CpusetCpus":"","CpusetMems":"","Devices":null,"DeviceCgroupRules":null,"DeviceRequests":null,"MemoryReservation":0,"MemorySwap":0,"MemorySwappiness":null,"OomKillDisable":null,"PidsLimit":null,"Ulimits":null,"CpuCount":0,"CpuPercent":0,"IOMaximumIOps":0,"IOMaximumBandwidth":0,"MaskedPaths":null,"ReadonlyPaths":null}}'
        headers:
            Content-Type:
                - application/json
        url: http:///var/run/docker.sock/v1.55/containers/create
        method: POST
      response:
        body: |
            {"Id":"d7d2e10da6e785e55be994fd148c9bef799d4cc82af4b6fe240e33f23d2d229e","Warnings":[]}
        headers:
            Api-Version:
                - "1.55"
            Content-Type:
                - application/json
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 201 Created
        code: 201
        duration: 49.859634ms
    - id: 22
      request:
        host: api.moby.localhost
        body: "/layers/project-metadata.toml\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\00000755\00000000\00000000\000000000000\002263523001\0014725\0 0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
[...]
    - id: 24
      request:
        host: api.moby.localhost
        headers:
        url: http:///var/run/docker.sock/v1.55/containers/d7d2e10da6e785e55be994fd148c9bef799d4cc82af4b6fe240e33f23d2d229e/start
        method: POST
      response:
        body: ""
        headers:
            Api-Version:
                - "1.55"
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 204 No Content
        code: 204
        duration: 109.937931ms
    - id: 25
      request:
        host: docker
        form:
            stderr:
                - "1"
            stdout:
                - "1"
            stream:
                - "1"
        headers:
            Content-Type:
                - text/plain
            Upgrade:
                - tcp
        url: http:///var/run/docker.sock/containers/d7d2e10da6e785e55be994fd148c9bef799d4cc82af4b6fe240e33f23d2d229e/attach?stderr=1&stdout=1&stream=1
        method: POST
      response:
        body: !!binary |
            AQAAAAAAABgbWzM2bT09PT4gQU5BTFlaSU5HG1swbQoBAAAAAAAALFJlc3RvcmluZyBkYX
            RhIGZvciBTQk9NIGZyb20gcHJldmlvdXMgaW1hZ2UKAQAAAAAAABgbWzM2bT09PT4gREVU
            RUNUSU5HG1swbQoBAAAAAAAASnRhcmdldCBkaXN0cm8gbmFtZS92ZXJzaW9uIGxhYmVscy
            Bub[...]
    - id: 26
      request:
        host: api.moby.localhost
        form:
            condition:
                - next-exit
        headers:
        url: http:///var/run/docker.sock/v1.55/containers/d7d2e10da6e785e55be994fd148c9bef799d4cc82af4b6fe240e33f23d2d229e/wait?condition=next-exit
        method: POST
      response:
            - chunked
        body: |
            {"StatusCode":0}
        headers:
            Api-Version:
                - "1.55"
            Content-Type:
                - application/json
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 200 OK
        code: 200
        duration: 109.988946ms
    - id: 27
      request:
        host: api.moby.localhost
        form:
            force:
                - "1"
        headers:
        url: http:///var/run/docker.sock/v1.55/containers/d7d2e10da6e785e55be994fd148c9bef799d4cc82af4b6fe240e33f23d2d229e?force=1
        method: DELETE
      response:
        body: ""
        headers:
            Api-Version:
                - "1.55"
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 204 No Content
        code: 204
        duration: 10.668245ms
    - id: 28
      request:
        host: api.moby.localhost
        headers:
        url: http:///var/run/docker.sock/v1.55/networks/pack.local-network-686a766f627970777a70
        method: DELETE
      response:
        body: ""
        headers:
            Api-Version:
                - "1.55"
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 204 No Content
        code: 204
        duration: 111.700467ms
    - id: 29
      request:
        host: api.moby.localhost
        form:
            force:
                - "1"
        headers:
        url: http:///var/run/docker.sock/v1.55/volumes/pack-layers-dhysofipdh?force=1
        method: DELETE
      response:
        body: ""
        headers:
            Api-Version:
                - "1.55"
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
[...]
