---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-test-ctn-update-rg-img-nervous-benz","description":"","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"c2914c11-bd01-4416-9a48-7b259e741468", "name":"cli-test-ctn-update-rg-img-nervous-benz", "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"", "endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-nervous-benz", "is_public":false, "size":0, "created_at":"2026-08-07T16:16:32.041017821Z", "updated_at":"2026-08-07T16:16:32.041017821Z", "image_count":0, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.019838ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            name:
                - sebp/lighttpd
            namespace_id:
                - c2914c11-bd01-4416-9a48-7b259e741468
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=sebp%2Flighttpd&namespace_id=c2914c11-bd01-4416-9a48-7b259e741468&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"images":[{"id":"afd49649-437b-44de-bcff-69732c31104d", "name":"sebp/lighttpd", "namespace_id":"c2914c11-bd01-4416-9a48-7b259e741468", "status":"ready", "status_message":"", "visibility":"inherit", "size":4436608, "created_at":"2026-08-07T16:16:39.346371Z", "updated_at":"2026-08-07T16:16:39.813628Z", "tags":["latest"]}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.406428ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[{"id":"681422c2-2605-485d-be8c-4caaba0e40ad", "name":"bidouille", "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"", "endpoint":"rg.fr-par.scw.cloud/bidouille", "is_public":false, "size":125904904, "created_at":"2025-10-13T14:51:28.239376Z", "updated_at":"2025-10-30T14:35:52.512165Z", "image_count":6, "region":"fr-par"}, {"id":"c2914c11-bd01-4416-9a48-7b259e741468", "name":"cli-test-ctn-update-rg-img-nervous-benz", "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"", "endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-nervous-benz", "is_public":false, "size":27020587, "created_at":"2026-08-07T16:16:32.041018Z", "updated_at":"2026-08-07T16:17:01.014607Z", "image_count":2, "region":"fr-par"}], "total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.91027ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            name:
                - nginx
            namespace_id:
                - c2914c11-bd01-4416-9a48-7b259e741468
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=nginx&namespace_id=c2914c11-bd01-4416-9a48-7b259e741468&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"images":[{"id":"ad0bfa7c-11f6-466b-8bd9-47456d4bf7d7", "name":"nginx", "namespace_id":"c2914c11-bd01-4416-9a48-7b259e741468", "status":"ready", "status_message":"", "visibility":"inherit", "size":22583979, "created_at":"2026-08-07T16:17:00.426780Z", "updated_at":"2026-08-07T16:17:01.007187Z", "tags":["1.29.2-alpine"]}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.095201ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-ns-affectionate-torvalds","environment_variables":null,"secret_environment_variables":null,"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"bd210c2f-1af8-4091-b228-033566363282", "name":"cli-ns-affectionate-torvalds", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{}, "tags":[], "created_at":"2026-08-07T16:17:02.020461Z", "updated_at":"2026-08-07T16:17:02.020461Z", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.01322312s
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/bd210c2f-1af8-4091-b228-033566363282
        method: GET
      response:
        body: '{"id":"bd210c2f-1af8-4091-b228-033566363282", "name":"cli-ns-affectionate-torvalds", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{}, "tags":[], "created_at":"2026-08-07T16:17:02.020461Z", "updated_at":"2026-08-07T16:17:02.020461Z", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.341081ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"bd210c2f-1af8-4091-b228-033566363282","name":"cli-test-blissful-jennings","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-nervous-benz/sebp/lighttpd:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"86e4aaa2-0fa9-4ea6-8e64-2571bde9133e", "name":"cli-test-blissful-jennings", "namespace_id":"bd210c2f-1af8-4091-b228-033566363282", "description":"", "status":"creating", "created_at":"2026-08-07T16:17:17.556457Z", "updated_at":"2026-08-07T16:17:17.556457Z", "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000, "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-nervous-benz/sebp/lighttpd:latest", "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2", "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50}, "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clinsaffectionatetorbd210c2f-cli-test-blissful-jennings.functions.fnc.fr-par.scw.cloud", "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s", "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 409.807973ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/86e4aaa2-0fa9-4ea6-8e64-2571bde9133e
        method: GET
      response:
        body: '{"id":"86e4aaa2-0fa9-4ea6-8e64-2571bde9133e", "name":"cli-test-blissful-jennings", "namespace_id":"bd210c2f-1af8-4091-b228-033566363282", "description":"", "status":"creating", "created_at":"2026-08-07T16:17:17.556457Z", "updated_at":"2026-08-07T16:17:17.556457Z", "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000, "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-nervous-benz/sebp/lighttpd:latest", "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2", "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50}, "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clinsaffectionatetorbd210c2f-cli-test-blissful-jennings.functions.fnc.fr-par.scw.cloud", "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s", "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.210912ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/86e4aaa2-0fa9-4ea6-8e64-2571bde9133e
        method: GET
      response:
        body: '{"id":"86e4aaa2-0fa9-4ea6-8e64-2571bde9133e", "name":"cli-test-blissful-jennings", "namespace_id":"bd210c2f-1af8-4091-b228-033566363282", "description":"", "status":"error", "error_message":"Container is unable to start OR is not listening on port 80", "created_at":"2026-08-07T16:17:17.556457Z", "updated_at":"2026-08-07T16:22:18Z", "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000, "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-nervous-benz/sebp/lighttpd:latest", "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2", "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50}, "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clinsaffectionatetorbd210c2f-cli-test-blissful-jennings.functions.fnc.fr-par.scw.cloud", "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s", "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.511755ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/c2914c11-bd01-4416-9a48-7b259e741468
        method: DELETE
      response:
        body: '{"id":"c2914c11-bd01-4416-9a48-7b259e741468", "name":"cli-test-ctn-update-rg-img-nervous-benz", "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"deleting", "status_message":"", "endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-nervous-benz", "is_public":false, "size":27020587, "created_at":"2026-08-07T16:16:32.041018Z", "updated_at":"2026-08-07T16:23:04.645145479Z", "image_count":2, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.856503ms
