---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-ns-dazzling-bartik","environment_variables":null,"secret_environment_variables":null,"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"db49186b-2bc9-43a5-a381-b1cc35f4f354","name":"cli-ns-dazzling-bartik","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-19T11:55:15.086506Z","updated_at":"2026-05-19T11:55:15.086506Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.572750468s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/db49186b-2bc9-43a5-a381-b1cc35f4f354
        method: GET
      response:
        body: '{"id":"db49186b-2bc9-43a5-a381-b1cc35f4f354","name":"cli-ns-dazzling-bartik","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-19T11:55:15.086506Z","updated_at":"2026-05-19T11:55:15.086506Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.858645ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"db49186b-2bc9-43a5-a381-b1cc35f4f354","name":"cli-test-logs-festive-galileo","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"hello-world:latest","protocol":"http1","port":8080,"https_connections_only":false,"sandbox":"v2","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"5a77c8c8-896e-4ef8-ac0a-c50c3d3e2c40","name":"cli-test-logs-festive-galileo","namespace_id":"db49186b-2bc9-43a5-a381-b1cc35f4f354","description":"","status":"creating","created_at":"2026-05-19T11:55:31.027942Z","updated_at":"2026-05-19T11:55:31.027942Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"hello-world:latest","protocol":"http1","port":8080,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clinsdazzlingbartikdb49186b-cli-test-logs-festive-galileo.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 289.898715ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/5a77c8c8-896e-4ef8-ac0a-c50c3d3e2c40
        method: GET
      response:
        body: '{"id":"5a77c8c8-896e-4ef8-ac0a-c50c3d3e2c40","name":"cli-test-logs-festive-galileo","namespace_id":"db49186b-2bc9-43a5-a381-b1cc35f4f354","description":"","status":"creating","created_at":"2026-05-19T11:55:31.027942Z","updated_at":"2026-05-19T11:55:31.027942Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"hello-world:latest","protocol":"http1","port":8080,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clinsdazzlingbartikdb49186b-cli-test-logs-festive-galileo.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.375046ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/5a77c8c8-896e-4ef8-ac0a-c50c3d3e2c40
        method: GET
      response:
        body: '{"id":"5a77c8c8-896e-4ef8-ac0a-c50c3d3e2c40","name":"cli-test-logs-festive-galileo","namespace_id":"db49186b-2bc9-43a5-a381-b1cc35f4f354","description":"","status":"error","error_message":"Container is unable to start OR is not listening on port 8080","created_at":"2026-05-19T11:55:31.027942Z","updated_at":"2026-05-19T12:00:32Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"hello-world:latest","protocol":"http1","port":8080,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clinsdazzlingbartikdb49186b-cli-test-logs-festive-galileo.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.462673ms
    - id: 25
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            origin:
                - scaleway
            page:
                - "1"
            project_id:
                - fa1e3217-dc80-42ac-85c3-3f034b78b552
            types:
                - logs
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=scaleway&page=1&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&types=logs
        method: GET
      response:
        body: '{"total_count":1,"data_sources":[{"id":"70f266df-eee2-4689-9c46-3284861909c9","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"Scaleway Logs","url":"https://70f266df-eee2-4689-9c46-3284861909c9.logs.cockpit.fr-par.scw.cloud","type":"logs","origin":"scaleway","created_at":"2024-04-17T14:54:47.534704Z","updated_at":"2024-04-17T14:54:47.534704Z","synchronized_with_grafana":true,"retention_days":7,"current_month_usage":5152840,"region":"fr-par"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.272982313s
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-generated-for-container-logs","token_scopes":["read_only_logs"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"id":"4eec016e-ac85-471b-993c-eb09cba79a0d","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-generated-for-container-logs","created_at":"2026-05-19T12:00:34.470125Z","updated_at":"2026-05-19T12:00:34.470125Z","scopes":["read_only_logs"],"secret_key":"f8wxv20M5fY_-zKePSLSY4nht9GWr2E_w3HsejajmyW--j28ODFTakKQNDQAXew3","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.387468ms
    - id: 27
      request:
        host: 70f266df-eee2-4689-9c46-3284861909c9.logs.cockpit.fr-par.scw.cloud
        form:
            end:
                - "2026-05-19T14:00:34+02:00"
            query:
                - '{resource_type="serverless_container", resource_id="5a77c8c8-896e-4ef8-ac0a-c50c3d3e2c40"}'
            start:
                - "2026-05-19T12:00:34+02:00"
        headers:
            X-Token:
                - f8wxv20M5fY_-zKePSLSY4nht9GWr2E_w3HsejajmyW--j28ODFTakKQNDQAXew3
        url: https://70f266df-eee2-4689-9c46-3284861909c9.logs.cockpit.fr-par.scw.cloud/loki/api/v1/query_range?end=2026-05-19T14%3A00%3A34%2B02%3A00&query=%7Bresource_type%3D%22serverless_container%22%2C+resource_id%3D%225a77c8c8-896e-4ef8-ac0a-c50c3d3e2c40%22%7D&start=2026-05-19T12%3A00%3A34%2B02%3A00
        method: GET
      response:
        body: |
            {"status":"success","data":{"resultType":"streams","result":[{"stream":{"detected_level":"unknown","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_name":"default","region":"fr-par","resource_id":"5a77c8c8-896e-4ef8-ac0a-c50c3d3e2c40","resource_name":"clinsdazzlingbartikdb49186b-cli-test-logs-festive-galileo","resource_type":"serverless_container","service_name":"serverless_container"},"values":[["1779191912736494524","{\"stream\":\"stdout\",\"resource_instance\":\"clinsdazzlingbartikd2ee76fba40d38770096f1cdc746eec0c-deplop2z48\",\"message\":\"\"}"],["1779191912736492771","{\"stream\":\"stdout\",\"resource_instance\":\"clinsdazzlingbartikd2ee76fba40d38770096f1cdc746eec0c-deplop2z48\",\"message\":\" https://docs.docker.com/get-started/\"}"],["1779191912736490858","{\"stream\":\"stdout\",\"resource_instance\":\"clinsdazzlingbartikd2ee76fba40d38770096f1cdc746eec0c-deplop2z48\",\"message\":\"For more examples and ideas, visit:\"}"],["1779191912736488243","{\"stream\":\"stdout\",\"resource_instance\":\"clinsdazzlingbartikd2ee76fba40d3877[...]
    - id: 28
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/4eec016e-ac85-471b-993c-eb09cba79a0d
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 59.502171ms
[...]
