---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - cli-t-ctnr-deploy-bp
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-bp&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[{"id":"7d69e92a-2a77-4990-b1a9-4f3328288562","name":"test-logs","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"ready","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-04-02T14:39:58.610096Z","updated_at":"2026-04-02T14:39:58.610096Z","region":"fr-par"},{"id":"215d32e6-0fc8-421f-9d3a-2f5563b0ccdc","name":"tf-ns-mystifying-lederberg","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"9e652dfc-4754-4a39-8fba-73946886cee6","description":"","status":"ready","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-04T19:04:43.890850Z","updated_at":"2026-05-04T19:04:43.890850Z","region":"fr-par"},{"id":"d1577321-4f04-43ff-a932-9bf3efa57727","name":"cli-ns-youthful-babbage","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"ready","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-19T11:53:49.254279Z","updated_at":"2026-05-19T11:53:49.254279Z","region":"fr-par"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.986794ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-t-ctnr-deploy-bp","environment_variables":null,"secret_environment_variables":null,"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"dd3015c6-c95d-425e-a3f4-6386cc617f9d","name":"cli-t-ctnr-deploy-bp","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-19T14:58:05.381488Z","updated_at":"2026-05-19T14:58:05.381488Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 902.433987ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/dd3015c6-c95d-425e-a3f4-6386cc617f9d
        method: GET
      response:
        body: '{"id":"dd3015c6-c95d-425e-a3f4-6386cc617f9d","name":"cli-t-ctnr-deploy-bp","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-19T14:58:05.381488Z","updated_at":"2026-05-19T14:58:05.381488Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.769308ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        form:
            name:
                - cli-t-ctnr-deploy-bp
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-bp&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.274283ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"cli-t-ctnr-deploy-bp","description":"","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"f76aa1a2-2e32-422f-9ce8-22dd9b638894","name":"cli-t-ctnr-deploy-bp","description":"","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-bp","is_public":false,"size":0,"created_at":"2026-05-19T14:58:21.021210767Z","updated_at":"2026-05-19T14:58:21.021210767Z","image_count":0,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.163589ms
    - id: 6
      request:
        host: api.moby.localhost
        headers:
        url: http:///var/run/docker.sock/_ping
        method: HEAD
      response:
        body: ""
        headers:
            Api-Version:
                - "1.54"
            Builder-Version:
                - "2"
            Content-Type:
                - text/plain; charset=utf-8
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
            Swarm:
                - inactive
        status: 200 OK
        code: 200
        duration: 376.026µs
    - id: 7
      request:
        host: api.moby.localhost
        headers:
        url: http:///var/run/docker.sock/v1.54/info
        method: GET
      response:
            - chunked
        body: |
            {"ID":"e19e7cbf-a555-4991-b8fe-f143dd98f128","Containers":24,"ContainersRunning":1,"ContainersPaused":0,"ContainersStopped":23,"Images":53,"Driver":"overlay2","DriverStatus":[["Backing Filesystem","extfs"],["Supports d_type","true"],["Using metacopy","false"],["Native Overlay Diff","true"],["userxattr","false"]],"Plugins":{"Volume":["local"],"Network":["bridge","host","ipvlan","macvlan","null","overlay"],"Authorization":null,"Log":["awslogs","fluentd","gcplogs","gelf","journald","json-file","local","splunk","syslog"]},"MemoryLimit":true,"SwapLimit":true,"CpuCfsPeriod":true,"CpuCfsQuota":true,"CPUShares":true,"CPUSet":true,"PidsLimit":true,"IPv4Forwarding":true,"Debug":false,"NFd":34,"OomKillDisable":false,"NGoroutines":52,"SystemTime":"2026-05-19T16:58:21.077309179+02:00","LoggingDriver":"json-file","CgroupDriver":"systemd","CgroupVersion":"2","NEventsListener":0,"KernelVersion":"6.17.0-1012-oem","OperatingSystem":"Ubuntu 24.04.4 LTS","OSVersion":"24.04","OSType":"linux","Architecture":"x86_64","IndexServerAddress":"https://index.docker.io/v1/","RegistryConfig":{"InsecureRegistryCIDRs":["::1/128","127.0.0.0/8"],"IndexConfigs":{"docker.io":{"Name":"docker.io","Mirrors":[],"Secure":true,"Official":true}},"Mirrors":[]},"NCPU":16,"MemTotal":32744697856,"GenericResources":null,"DockerRootDir":"/var/lib/docker","HttpProxy":"","HttpsProxy":"","NoProxy":"","Name":"lmarabese-ThinkPad-T14s-Gen-6","Labels":[],"ExperimentalBuild":false,"ServerVersion":"29.4.2","Runtimes":{"io.containerd.runc.v2":{"path":"runc","status":{"org.opencontainers.runtime-spec.features":"{\"ociVersionMin\":\"1.0.0\",\"ociVersionMax\":\"1.2.1\",\"hooks\":[\"prestart\",\"createRuntime\",\"createContainer\",\"startContainer\",\"poststart\",\"poststop\"],\"mountOptions\":[\"async\",\"atime\",\"bind\",\"defaults\",\"dev\",\"diratime\",\"dirsync\",\"exec\",\"iversion\",\"lazytime\",\"loud\",\"mand\",\"noatime\",\"nodev\",\"nodiratime\",\"noexec\",\"noiversion\",\"nolazytime\",\"nomand\",\"norelatime\",\"nostrictatime\",\"nosuid\",\"nosymfollow\",\"private\",\"ratime\",\"rbind\",\"rdev\",\"rdiratime\",\"relatime\",\"remount\",\"rexec\",\"rnoatime\",\"rnodev\",\"rnodiratime\",\"rnoexec\",\"rnorelatime\",\"rnostrictatime\",\"rnosuid\",\"rnosymfollow\",\"ro\",\"rprivate\",\"rrelatime\",\"rro\",\"rrw\",\"rshared\",\"rslave\",\"rstrictatime\",\"rsuid\",\"rsymfollow\",\"runbindable\",\"rw\",\"shared\",\"silent\",\"slave\",\"strictatime\",\"suid\",\"symfollow\",\"sync\",\"tmpcopyup\",\"unbindable\"],\"linux\":{\"namespaces\":[\"cgroup\",\"ipc\",\"mount\",\"network\",\"pid\",\"time\",\"user\",\"uts\"],\"capabilities\":[\"CAP_CHOWN\",\"CAP_DAC_OVERRIDE\",\"CAP_DAC_READ_SEARCH\",\"CAP_FOWNER\",\"CAP_FSETID\",\"CAP_KILL\",\"CAP_SETGID\",\"CAP_SETUID\",\"CAP_SETPCAP\",\"CAP_LINUX_IMMUTABLE\",\"CAP_NET_BIND_SERVICE\",\"CAP_NET_BROADCAST\",\"CAP_NET_ADMIN\",\"CAP_NET_RAW\",\"CAP_IPC_LOCK\",\"CAP_IPC_OWNER\",\"CAP_SYS_MODULE\",\"CAP_SYS_RAWIO\",\"CAP_SYS_CHROOT\",\"CAP_SYS_PTRACE\",\"CAP_SYS_PACCT\",\"CAP_SYS_ADMIN\",\"CAP_SYS_BOOT\",\"CAP_SYS_NICE\",\"CAP_SYS_RESOURCE\",\"CAP_SYS_TIME\",\"CAP_SYS_TTY_CONFIG\",\"CAP_MKNOD\",\"CAP_LEASE\",\"CAP_AUDIT_WRITE\",\"CAP_AUDIT_CONTROL\",\"CAP_SETFCAP\",\"CAP_MAC_OVERRIDE\",\"CAP_MAC_ADMIN\",\"CAP_SYSLOG\",\"CAP_WAKE_ALARM\",\"CAP_BLOCK_SUSPEND\",\"CAP_AUDIT_READ\",\"CAP_PERFMON\",\"CAP_BPF\",\"CAP_CHECKPOINT_RESTORE\"],\"cgroup\":{\"v1\":true,\"v2\":true,\"systemd\":true,\"systemdUser\":true,\"rdma\":true},\"seccomp\":{\"enabled\":true,\"actions\":[\"SCMP_ACT_ALLOW\",\"SCMP_ACT_ERRNO\",\"SCMP_ACT_KILL\",\"SCMP_ACT_KILL_PROCESS\",\"SCMP_ACT_KILL_THREAD\",\"SCMP_ACT_LOG\",\"SCMP_ACT_NOTIFY\",\"SCMP_ACT_TRACE\",\"SCMP_ACT_TRAP\"],\"operators\":[\"SCMP_CMP_EQ\",\"SCMP_CMP_GE\",\"SCMP_CMP_GT\",\"SCMP_CMP_LE\",\"SCMP_CMP_LT\",\"SCMP_CMP_MASKED_EQ\",\"SCMP_CMP_NE\"],\"archs\":[\"SCMP_ARCH_AARCH64\",\"SCMP_ARCH_ARM\",\"SCMP_ARCH_MIPS\",\"SCMP_ARCH_MIPS64\",\"SCMP_ARCH_MIPS64N32\",\"SCMP_ARCH_MIPSEL\",\"SCMP_ARCH_MIPSEL64\",\"SCMP_ARCH_MIPSEL64N32\",\"SCMP_ARCH_PPC\",\"SCMP_ARCH_PPC64\",\"SCMP_ARCH_PPC64LE\",\"SCMP_ARCH_RISCV64\",\"SCMP_ARCH_S390\",\"SCMP_ARCH_S390X\",\"SCMP_ARCH_X32\",\"SCMP_ARCH_X86\",\"SCMP_ARCH_X86_64\"],\"knownFlags\":[\"SECCOMP_FILTER_FLAG_TSYNC\",\"SECCOMP_FILTER_FLAG_SPEC_ALLOW\",\"SECCOMP_FILTER_FLAG_LOG\"],\"supportedFlags\":[\"SECCOMP_FILTER_FLAG_TSYNC\",\"SECCOMP_FILTER_FLAG_SPEC_ALLOW\",\"SECCOMP_FILTER_FLAG_LOG\"]},\"apparmor\":{\"enabled\":true},\"selinux\":{\"enabled\":true},\"intelRdt\":{\"enabled\":true},\"mountExtensions\":{\"idmap\":{\"enabled\":true}}},\"annotations\":{\"io.github.seccomp.libseccomp.version\":\"2.5.5\",\"org.opencontainers.runc.checkpoint.enabled\":\"true\",\"org.opencontainers.runc.commit\":\"v1.3.5-0-g488fc13e\",\"org.opencontainers.runc.version\":\"1.3.5\\n\"},\"potentiallyUnsafeConfigAnnotations\":[\"bundle\",\"org.systemd.property.\",\"org.criu.config\"]}"}},"runc":{"path":"runc","status":{"org.opencontainers.runtime-spec.features":"{\"ociVersionMin\":\"1.0.0\",\"ociVersionMax\":\"1.2.1\",\"hooks\":[\"prestart\",\"createRuntime\",\"createContainer\",\"startContainer\",\"poststart\",\"poststop\"],\"mountOptions\":[\"async\",\"atime\",\"bind\",\"defaults\",\"dev\",\"diratime\",\"dirsync\",\"exec\",\"iversion\",\"lazytime\",\"loud\",\"mand\",\"noatime\",\"nodev\",\"nodiratime\",\"noexec\",\"noiversion\",\"nolazytime\",\"nomand\",\"norelatime\",\"nostrictatime[...]
    - id: 8
      request:
        host: api.moby.localhost
        form:
            fromImage:
                - docker.io/paketobuildpacks/builder-jammy-base
            tag:
                - latest
        headers:
            X-Registry-Auth:
                - eyJhdXRoIjoiT2c9PSJ9
        url: http:///var/run/docker.sock/v1.54/images/create?fromImage=docker.io%2Fpaketobuildpacks%2Fbuilder-jammy-base&tag=latest
        method: POST
      response:
            - chunked
        body: "{\"status\":\"Pulling from paketobuildpacks/builder-jammy-base\",\"id\":\"latest\"}\r\n{\"status\":\"Digest: sha256:ee24a2f3c81fdc2f815235992583dae726e0b732eea02e3d06e84aa4a4395318\"}\r\n{\"status\":\"Status: Image is up to date for paketobuildpacks/builder-jammy-base:latest\"}\r\n"
        headers:
            Api-Version:
                - "1.54"
            Content-Type:
                - application/json
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 200 OK
        code: 200
        duration: 746.441583ms
    - id: 9
      request:
        host: api.moby.localhost
        headers:
        url: http:///var/run/docker.sock/v1.54/version
        method: GET
      response:
        body: |
            {"Platform":{"Name":"Docker Engine - Community"},"Version":"29.4.2","ApiVersion":"1.54","MinAPIVersion":"1.40","Os":"linux","Arch":"amd64","Components":[{"Name":"Engine","Version":"29.4.2","Details":{"ApiVersion":"1.54","Arch":"amd64","BuildTime":"2026-05-01T10:24:01.000000000+00:00","Experimental":"false","GitCommit":"d329809","GoVersion":"go1.26.2","KernelVersion":"6.17.0-1012-oem","MinAPIVersion":"1.40","Module":"github.com/moby/moby/v2","ModuleVersion":"v2.0.0+unknown","Os":"linux"}},{"Name":"containerd","Version":"v2.2.3","Details":{"GitCommit":"77c84241c7cbdd9b4eca2591793e3d4f4317c590"}},{"Name":"runc","Version":"1.3.5","Details":{"GitCommit":"v1.3.5-0-g488fc13e"}},{"Name":"docker-init","Version":"0.19.0","Details":{"GitCommit":"de40ad0"}}],"GitCommit":"d329809","GoVersion":"go1.26.2","KernelVersion":"6.17.0-1012-oem","BuildTime":"2026-05-01T10:24:01.000000000+00:00"}
        headers:
            Api-Version:
                - "1.54"
            Content-Type:
                - application/json
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 200 OK
        code: 200
        duration: 4.811106ms
    - id: 10
      request:
        host: api.moby.localhost
        headers:
        url: http:///var/run/docker.sock/v1.54/images/index.docker.io/paketobuildpacks/builder-jammy-base:latest/json
        method: GET
      response:
            - chunked
        body: |
            {"Id":"sha256:30b08445551ffdb5d17a58a05326689cebec2a9e61ecaa78e9d22fb6952a54eb","RepoTags":["paketobuildpacks/builder-jammy-base:latest"],"RepoDigests":["paketobuildpacks/builder-jammy-base@sha256:ee24a2f3c81fdc2f815235992583dae726e0b732eea02e3d06e84aa4a4395318"],"Created":"1980-01-01T00:00:01Z","Config":{"User":"1001:1000","Env":["PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin","CNB_USER_ID=1001","CNB_GROUP_ID=1000","CNB_STACK_ID=io.buildpacks.stacks.jammy"],"Cmd":["/bin/bash"],"WorkingDir":"/layers","Labels":{"io.buildpacks.builder.metadata":"{\"description\":\"Ubuntu 22.04 Jammy Jellyfish base image with buildpacks for Java, Go, .NET Core, Node.js, Python, Apache HTTPD, NGINX and Procfile\",\"buildpacks\":[{\"id\":\"paketo-buildpacks/dotnet-core\",\"name\":\"Paketo Buildpack for .NET Core\",\"version\":\"4.3.0\",\"homepage\":\"https://github.com/paketo-buildpacks/dotnet-core\"},{\"id\":\"paketo-buildpacks/ca-certificates\",\"name\":\"Paketo Buildpack for CA Certificates\",\"version\":\"3.12.2\",\"homepage\":\"https://github.com/paketo-buildpacks/ca-certificates\"},{\"id\":\"paketo-buildpacks/dotnet-core-aspnet-runtime\",\"name\":\"Paketo Buildpack for ASP.NET Core Runtime\",\"version\":\"1.6.23\",\"homepage\":\"https://github.com/paketo-buildpacks/dotnet-core-aspnet-runtime\"},{\"id\":\"paketo-buildpacks/dotnet-core[...]
    - id: 11
      request:
        host: api.moby.localhost
        headers:
        url: http:///var/run/docker.sock/v1.54/images/index.docker.io/paketobuildpacks/builder-jammy-base:latest/history
        method: GET
      response:
            - chunked
        body: |
            [{"Comment":"","Created":315532801,"CreatedBy":"","Id":"sha256:30b08445551ffdb5d17a58a05326689cebec2a9e61ecaa78e9d22fb6952a54eb","Size":0,"Tags":["paketobuildpacks/builder-jammy-base:latest"]},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":78,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":79,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":814,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":67334947,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":65610531,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":65598243,"Tags":null},{"Comment":[...]
    - id: 12
      request:
        host: api.moby.localhost
        form:
            fromImage:
                - docker.io/paketobuildpacks/run-jammy-base
            platform:
                - linux/amd64
            tag:
                - latest
        headers:
            X-Registry-Auth:
                - eyJhdXRoIjoiT2c9PSJ9
        url: http:///var/run/docker.sock/v1.54/images/create?fromImage=docker.io%2Fpaketobuildpacks%2Frun-jammy-base&platform=linux%2Famd64&tag=latest
        method: POST
      response:
            - chunked
        body: "{\"status\":\"Pulling from paketobuildpacks/run-jammy-base\",\"id\":\"latest\"}\r\n{\"status\":\"Digest: sha256:f64c1ed2ce580ce829b6d4b4e56e46c854dc0db229997af5d55ed053aa494be6\"}\r\n{\"status\":\"Status: Image is up to date for paketobuildpacks/run-jammy-base:latest\"}\r\n"
        headers:
            Api-Version:
                - "1.54"
            Content-Type:
                - application/json
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 200 OK
        code: 200
        duration: 725.960079ms
[...]
    - id: 14
      request:
        host: api.moby.localhost
        headers:
        url: http:///var/run/docker.sock/v1.54/images/paketobuildpacks/run-jammy-base:latest/json
        method: GET
      response:
            - chunked
        body: |
            {"Id":"sha256:bab513c563515a33b00afde206a46a4074daaa2a2f8f74faaaa414fc2cb746f0","RepoTags":["paketobuildpacks/run-jammy-base:latest"],"RepoDigests":["paketobuildpacks/run-jammy-base@sha256:f64c1ed2ce580ce829b6d4b4e56e46c854dc0db229997af5d55ed053aa494be6"],"Created":"2026-05-15T01:20:28.815480855Z","Config":{"User":"1002:1000","Env":["PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"],"Cmd":["/bin/bash"],"Labels":{"io.buildpacks.stack.description":"ubuntu:jammy with some common dependencies like tzdata and openssl","io.buildpacks.stack.distro.name":"ubuntu","io.buildpacks.stack.distro.version":"22.04","io.buildpacks.stack.homepage":"https://github.com/paketo-buildpacks/jammy-base-stack","io.buildpacks.stack.id":"io.buildpacks.stacks.jammy","io.buildpacks.stack.maintainer":"Paketo Buildpacks","io.buildpacks.stack.metadata":"{}","io.buildpacks.stack.released":"2026-05-15T01:20:59Z","org.opencontainers.image.version":"22.04"}},"Architecture":"amd64","Os":"linux","Size":109847972,"GraphDriver":{"Data":{"LowerDir":"/var/lib/docker/overlay2/9e0770da072b180ad669efa3dfd0c5b1f6c4a96b9fabbfdc3f13093920fc574e/diff:/var/lib/docker/overlay2/0dd6406ce74a5c05267367b5c1a3c3d56e02f559592c3a12a7588595baeb8cd4/diff:/var/lib/docker/overlay2/260861441cfdb5693b368032d8f18d4928651e1cc66c8021c1d9a10963cb279d/diff","MergedDir":"/var/lib/docker/overlay2/833329de9c57eb32db9b8e0b444e7a99b443cbeb527d2b9e9f8783eaf2ede287/merged","UpperDir":"/var/lib/docker/overlay2/833329de9c57eb32db9b8e0b444e7a99b443cbeb527d2b9e9f8783eaf2ede287/diff","WorkDir":"/var/lib/docker/overlay2/833329de9c57eb32db9b8e0b444e7a99b443cbeb527d2b9e9f8783eaf2ede287/work"},"Name":"overlay2"},"RootFS":{"Type":"layers","Layers":["sha256:39fbf5f8fe523b2ea819cd8eb2bf68807d8eaee383549f7ab80a44503ed6860b","sha256:f29016377d41d8cf6f0fada8791b720fc5f28138b527e920b22551edc14677df","sha256:b833db7b65e043fb91784e8cbf61884393c4302dc6ec80984f0b1ecc953f6e94","sha256:a66bc1e8791525d24a496bc3879920366588af0cca7d0ac9b1d35e44b35f7ffd"]},"Metadata":{"LastTagTime":"0001-01-01T00:00:00Z"}}
        headers:
            Api-Version:
                - "1.54"
            Content-Type:
                - application/json
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 200 OK
        code: 200
        duration: 596.12µs
    - id: 15
      request:
        host: api.moby.localhost
        headers:
        url: http:///var/run/docker.sock/v1.54/images/paketobuildpacks/run-jammy-base:latest/history
        method: GET
      response:
            - chunked
        body: |
            [{"Comment":"","Created":-62135596800,"CreatedBy":"","Id":"sha256:bab513c563515a33b00afde206a46a4074daaa2a2f8f74faaaa414fc2cb746f0","Size":505,"Tags":["paketobuildpacks/run-jammy-base:latest"]},{"Comment":"","Created":-62135596800,"Cre[...]
[...]
    - id: 17
      request:
        host: api.moby.localhost
        body: "e7a2d450e454cda1b8c3385af27e1874d5ad4c847b567dd9431a5e3ca838f767.json\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\00000644\00000000\00000000\000000263331\000000000000\0021013\0 0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0ustar\000\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\00000000\00000000\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0{\"architecture\":\"amd64\",\"created\":\"1980-01-01T00:00:01Z\",\"history\":[{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00[...]
    - id: 18
      request:
        host: api.moby.localhost
        headers:
        url: http:///var/run/docker.sock/v1.54/images/pack.local/builder/7463796e736762757072:latest/json
        method: GET
      response:
            - chunked
        body: |
            {"Id":"sha256:e7a2d450e454cda1b8c3385af27e1874d5ad4c847b567dd9431a5e3ca838f767","RepoTags":["pack.local/builder/7463796e736762757072:latest"],"RepoDigests":[],"Created":"1980-01-01T00:00:01Z","Config":{"User":"1001:1000","Env":["P[...]
    - id: 19
      request:
        host: api.moby.localhost
        form:
            repo:
                - pack.local/builder/7463796e736762757072
            tag:
                - latest
        headers:
        url: http:///var/run/docker.sock/v1.54/images/sha256:e7a2d450e454cda1b8c3385af27e1874d5ad4c847b567dd9431a5e3ca838f767/tag?repo=pack.local%2Fbuilder%2F7463796e736762757072&tag=latest
        method: POST
      response:
        body: ""
        headers:
            Api-Version:
                - "1.54"
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 201 Created
        code: 201
        duration: 2.761657ms
    - id: 20
      request:
        host: api.moby.localhost
        body: '{"Name":"pack.local-network-6877626e676c70747865","Driver":"bridge","Scope":"","IPAM":null,"Internal":false,"Attachable":false,"Ingress":false,"ConfigOnly":false,"ConfigFrom":null,"Options":null,"Labels":null}'
        headers:
            Content-Type:
                - application/json
        url: http:///var/run/docker.sock/v1.54/networks/create
        method: POST
      response:
        body: |
            {"Id":"3132f06de337ebf37a2c93868c729e5597826144d01113698bd7e3f3f2a07a47","Warning":""}
        headers:
            Api-Version:
                - "1.54"
            Content-Type:
                - application/json
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 201 Created
        code: 201
        duration: 23.786174ms
    - id: 21
      request:
        host: api.moby.localhost
        body: '{"Hostname":"","Domainname":"","User":"root","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":["CNB_PLATFORM_API=0.15","CNB_EXEC_ENV="],"Cmd":["/cnb/lifecycle/creator","-daemon","-launch-cache","/launch-cache","-app","/workspace","-cache-dir","/cache","-run-image","paketobuildpacks/run-jammy-base:latest","-gid","0","-uid","0","rg.fr-par.scw.cloud/cli-t-ctnr-deploy-bp/cli-t-ctnr-deploy-bp:latest"],"Image":"pack.local/builder/7463796e736762757072:latest","Volumes":null,"WorkingDir":"","Entrypoint":[""],"Labels":{"author":"pack"},"HostConfig":{"Binds":["pack-cache-cli-t-ctnr-deploy-bp_cli-t-ctnr-deploy-bp_latest-2a71189ff54c.build:/cache","/var/run/docker.sock:/var/run/docker.sock","pack-cache-cli-t-ctnr-deploy-bp_cli-t-ctnr-deploy-bp_latest-2a71189ff54c.launch:/launch-cache","pack-layers-yrdpcwsiqm:/layers","pack-app-zhcexyctra:/workspace"],"ContainerIDFile":"","LogConfig":{"Type":"","Config":null},"NetworkMode":"pack.local-network-6877626e676c70747865","PortBindings":null,"RestartPolicy":{"Name":"","MaximumRetryCount":0},"AutoRemove":false,"VolumeDriver":"","VolumesFrom":null,"ConsoleSize":[0,0],"CapAdd":null,"CapDrop":null,"CgroupnsMode":"","Dns":null,"DnsOptions":null,"DnsSearch":null,"ExtraHosts":null,"GroupAdd":null,"IpcMode":"","Cgroup":"","Links":null,"OomScoreAdj":0,"PidMode":"","Privileged":false,"PublishAllPorts":false,"ReadonlyRootfs":false,"SecurityOpt":["label=disable"],"UTSMode":"","UsernsMode":"","ShmSize":0,"Isolation":"","CpuShares":0,"Memory":0,"NanoCpus":0,"CgroupParent":"","BlkioWeight":0,"BlkioWeightDevice":null,"BlkioDeviceReadBps":null,"BlkioDeviceWriteBps":null,"BlkioDeviceReadIOps":null,"BlkioDeviceWriteIOps":null,"CpuPeriod":0,"CpuQuota":0,"CpuRealtimePeriod":0,"CpuRealtimeRuntime":0,"CpusetCpus":"","CpusetMems":"","Devices":null,"DeviceCgroupRules":null,"DeviceRequests":null,"MemoryReservation":0,"MemorySwap":0,"MemorySwappiness":null,"OomKillDisable":null,"PidsLimit":null,"Ulimits":null,"CpuCount":0,"CpuPercent":0,"IOMaximumIOps":0,"IOMaximumBandwidth":0,"MaskedPaths":null,"ReadonlyPaths":null}}'
        headers:
            Content-Type:
                - application/json
        url: http:///var/run/docker.sock/v1.54/containers/create
        method: POST
      response:
        body: |
            {"Id":"13475f8652825042568985fa10af725d59bc0ac6574529eeaa98877a6bbc7f14","Warnings":[]}
        headers:
            Api-Version:
                - "1.54"
            Content-Type:
                - application/json
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 201 Created
        code: 201
        duration: 38.940405ms
    - id: 22
      request:
        host: api.moby.localhost
        body: "/layers/project-metadata.toml\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\00000755\00000000\00000000\000000000000\002263523001\0014725\0 0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
[...]
    - id: 24
      request:
        host: api.moby.localhost
        headers:
        url: http:///var/run/docker.sock/v1.54/containers/13475f8652825042568985fa10af725d59bc0ac6574529eeaa98877a6bbc7f14/start
        method: POST
      response:
        body: ""
        headers:
            Api-Version:
                - "1.54"
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 204 No Content
        code: 204
        duration: 104.694289ms
    - id: 25
      request:
        host: docker
        form:
            stderr:
                - "1"
            stdout:
                - "1"
            stream:
                - "1"
        headers:
            Content-Type:
                - text/plain
            Upgrade:
                - tcp
        url: http:///var/run/docker.sock/containers/13475f8652825042568985fa10af725d59bc0ac6574529eeaa98877a6bbc7f14/attach?stderr=1&stdout=1&stream=1
        method: POST
      response:
        body: !!binary |
            AQAAAAAAABgbWzM2bT09PT4gQU5BTFlaSU5HG1swbQoBAAAAAAAALFJlc3RvcmluZyBkYX
            RhIGZvciBTQk9NIGZyb20gcHJldmlvdXMgaW1hZ2UKAQAAAAAAABgbWzM2bT09PT4gREVU
            RUNUSU5HG1swbQoBAAAAAAAASnRhcmdldCBkaXN0cm8gbmFtZS92ZXJzaW9uIGxhYmVscy
            Bub[...]
    - id: 26
      request:
        host: api.moby.localhost
        form:
            condition:
                - next-exit
        headers:
        url: http:///var/run/docker.sock/v1.54/containers/13475f8652825042568985fa10af725d59bc0ac6574529eeaa98877a6bbc7f14/wait?condition=next-exit
        method: POST
      response:
            - chunked
        body: |
            {"StatusCode":0}
        headers:
            Api-Version:
                - "1.54"
            Content-Type:
                - application/json
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 200 OK
        code: 200
        duration: 104.750144ms
    - id: 27
      request:
        host: api.moby.localhost
        form:
            force:
                - "1"
        headers:
[...]
