---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - cli-t-ctnr-deploy-ba
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-ba&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.709992ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-t-ctnr-deploy-ba","environment_variables":null,"secret_environment_variables":null,"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"2f5b65ce-938b-42ee-933f-3b40a133093f","name":"cli-t-ctnr-deploy-ba","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-21T12:52:34.675055Z","updated_at":"2026-05-21T12:52:34.675055Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.086275423s
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/2f5b65ce-938b-42ee-933f-3b40a133093f
        method: GET
      response:
        body: '{"id":"2f5b65ce-938b-42ee-933f-3b40a133093f","name":"cli-t-ctnr-deploy-ba","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-21T12:52:34.675055Z","updated_at":"2026-05-21T12:52:34.675055Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.981273ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        form:
            name:
                - cli-t-ctnr-deploy-ba
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-ba&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.837836ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"cli-t-ctnr-deploy-ba","description":"","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"acedb08d-bd9e-40d2-87e3-ccbd7c54dce8","name":"cli-t-ctnr-deploy-ba","description":"","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-ba","is_public":false,"size":0,"created_at":"2026-05-21T12:52:51.378755452Z","updated_at":"2026-05-21T12:52:51.378755452Z","image_count":0,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.223285ms
    - id: 6
      request:
        host: api.moby.localhost
        headers:
        url: http:///var/run/docker.sock/_ping
        method: HEAD
      response:
        body: ""
        headers:
            Api-Version:
                - "1.54"
            Builder-Version:
                - "2"
            Content-Type:
                - text/plain; charset=utf-8
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
            Swarm:
                - inactive
        status: 200 OK
        code: 200
        duration: 439.287µs
    - id: 7
      request:
        host: api.moby.localhost
        body: "Dockerfile\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\00000600\00001750\00001750\000000000221\015203600021\0011240\0 0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
    - id: 8
      request:
        host: api.moby.localhost
        form:
            tag:
                - latest
        headers:
            X-Registry-Auth:
                - eyJ1c2VybmFtZSI6IlNDVzJXSDRNOVFBQzZQV0VKU0pBIiwicGFzc3dvcmQiOiIxMTRhMDFlNi1hOTIxLTRiMjgtOTQ1ZC0zYWU3YmU4NDkyZDEiLCJzZXJ2ZXJhZGRyZXNzIjoicmcuZnItcGFyLnNjdy5jbG91ZC9jbGktdC1jdG5yLWRlcGxveS1iYSJ9
        url: http:///var/run/docker.sock/v1.54/images/rg.fr-par.scw.cloud/cli-t-ctnr-deploy-ba/cli-t-ctnr-deploy-ba/push?tag=latest
        method: POST
      response:
            - chunked
        body: "{\"status\":\"The push refers to repository [rg.fr-par.scw.cloud/cli-t-ctnr-deploy-ba/cli-t-ctnr-deploy-ba]\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"205429c26d8c\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"db5c9fbe944f\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"e9a26559275d\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"1704c5a3d8da\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"dc45ec6c902b\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"3e4655a38876\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"abbef7f88314\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"ed6be5e2fd33\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"1967fccdbe5e\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"256f393e029f\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"abbef7f88314\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"1967fccdbe5e\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"3e4655a38876\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"256f393e029f\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"ed6be5e2fd33\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":512,\"total\":144},\"id\":\"205429c26d8c\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":4096,\"total\":144},\"id\":\"205429c26d8c\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":99328,\"total\":8456691},\"id\":\"db5c9fbe944f\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":512,\"total\":3018},\"id\":\"dc45ec6c902b\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":5120,\"total\":3018},\"id\":\"dc45ec6c902b\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\[...]
    - id: 9
      request:
        host: api.scaleway.com
        form:
            name:
                - cli-t-ctnr-deploy-ba
            namespace_id:
                - 2f5b65ce-938b-42ee-933f-3b40a133093f
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers?name=cli-t-ctnr-deploy-ba&namespace_id=2f5b65ce-938b-42ee-933f-3b40a133093f&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"containers":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.06175ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"2f5b65ce-938b-42ee-933f-3b40a133093f","name":"cli-t-ctnr-deploy-ba","environment_variables":null,"secret_environment_variables":null,"privacy":"unknown_privacy","image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-ba/cli-t-ctnr-deploy-ba:latest","protocol":"unknown_protocol","port":80,"sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"b47aa33e-8962-403b-9e23-2c928bfad32f","name":"cli-t-ctnr-deploy-ba","namespace_id":"2f5b65ce-938b-42ee-933f-3b40a133093f","description":"","status":"creating","created_at":"2026-05-21T12:53:05.678948Z","updated_at":"2026-05-21T12:53:05.678948Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-ba/cli-t-ctnr-deploy-ba:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clitctnrdeployba2f5b65ce-cli-t-ctnr-deploy-ba.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 404.438903ms
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/b47aa33e-8962-403b-9e23-2c928bfad32f
        method: GET
      response:
        body: '{"id":"b47aa33e-8962-403b-9e23-2c928bfad32f","name":"cli-t-ctnr-deploy-ba","namespace_id":"2f5b65ce-938b-42ee-933f-3b40a133093f","description":"","status":"creating","created_at":"2026-05-21T12:53:05.678948Z","updated_at":"2026-05-21T12:53:05.678948Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-ba/cli-t-ctnr-deploy-ba:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clitctnrdeployba2f5b65ce-cli-t-ctnr-deploy-ba.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.231896ms
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/b47aa33e-8962-403b-9e23-2c928bfad32f
        method: GET
      response:
        body: '{"id":"b47aa33e-8962-403b-9e23-2c928bfad32f","name":"cli-t-ctnr-deploy-ba","namespace_id":"2f5b65ce-938b-42ee-933f-3b40a133093f","description":"","status":"ready","error_message":"","created_at":"2026-05-21T12:53:05.678948Z","updated_at":"2026-05-21T12:53:13Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-ba/cli-t-ctnr-deploy-ba:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clitctnrdeployba2f5b65ce-cli-t-ctnr-deploy-ba.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.967848ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/2f5b65ce-938b-42ee-933f-3b40a133093f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"2f5b65ce-938b-42ee-933f-3b40a133093f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.904746ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/acedb08d-bd9e-40d2-87e3-ccbd7c54dce8
        method: DELETE
      response:
        body: '{"id":"acedb08d-bd9e-40d2-87e3-ccbd7c54dce8","name":"cli-t-ctnr-deploy-ba","description":"","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"deleting","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-ba","is_public":false,"size":26776531,"created_at":"2026-05-21T12:52:51.378755Z","updated_at":"2026-05-21T12:53:36.441682230Z","image_count":1,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.795035ms
