---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-ns-quizzical-moore","environment_variables":null,"secret_environment_variables":null,"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"aa7e929d-6282-460b-8f85-ce815640d1ca", "name":"cli-ns-quizzical-moore", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{}, "tags":[], "created_at":"2026-08-07T16:16:15.459648Z", "updated_at":"2026-08-07T16:16:15.459648Z", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.961232956s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/aa7e929d-6282-460b-8f85-ce815640d1ca
        method: GET
      response:
        body: '{"id":"aa7e929d-6282-460b-8f85-ce815640d1ca", "name":"cli-ns-quizzical-moore", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{}, "tags":[], "created_at":"2026-08-07T16:16:15.459648Z", "updated_at":"2026-08-07T16:16:15.459648Z", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.485636ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"aa7e929d-6282-460b-8f85-ce815640d1ca","name":"cli-test-eager-curran","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"hello-world:latest","protocol":"http1","port":8080,"https_connections_only":false,"sandbox":"v2","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"0a1826ab-6f6e-4e77-9ed3-dd6db801e176", "name":"cli-test-eager-curran", "namespace_id":"aa7e929d-6282-460b-8f85-ce815640d1ca", "description":"", "status":"creating", "created_at":"2026-08-07T16:16:31.557558Z", "updated_at":"2026-08-07T16:16:31.557558Z", "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000, "timeout":"300s", "privacy":"public", "image":"hello-world:latest", "protocol":"http1", "port":8080, "https_connections_only":false, "sandbox":"v2", "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50}, "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clinsquizzicalmooreaa7e929d-cli-test-eager-curran.functions.fnc.fr-par.scw.cloud", "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s", "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 368.864733ms
[...]
