---
version: 1
interactions:
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-s&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"c3334ec3-22a7-4c7d-9e31-193bcb6acb23", "name":"cli-t-ctnr-deploy-s",
      "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-07T15:37:56.580947Z", "updated_at":"2026-08-07T15:37:56.580947Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"c3334ec3-22a7-4c7d-9e31-193bcb6acb23", "name":"cli-t-ctnr-deploy-s",
      "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-07T15:37:56.580947Z", "updated_at":"2026-08-07T15:37:56.580947Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"c3334ec3-22a7-4c7d-9e31-193bcb6acb23", "name":"cli-t-ctnr-deploy-s",
      "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-07T15:37:56.580947Z", "updated_at":"2026-08-07T15:37:56.580947Z",
      "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/c3334ec3-22a7-4c7d-9e31-193bcb6acb23
    method: GET
  response:
    body: '{"id":"c3334ec3-22a7-4c7d-9e31-193bcb6acb23", "name":"cli-t-ctnr-deploy-s",
      "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-07T15:37:56.580947Z", "updated_at":"2026-08-07T15:37:56.580947Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-s&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"95730c9f-c13c-4700-8066-a6e9662a3e29", "name":"cli-t-ctnr-deploy-s",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s", "is_public":false, "size":0,
      "created_at":"2026-08-07T15:38:13.406693888Z", "updated_at":"2026-08-07T15:38:13.406693888Z",
      "image_count":0, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"95730c9f-c13c-4700-8066-a6e9662a3e29", "name":"cli-t-ctnr-deploy-s",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s", "is_public":false, "size":0,
      "created_at":"2026-08-07T15:38:13.406693888Z", "updated_at":"2026-08-07T15:38:13.406693888Z",
      "image_count":0, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: http://%2Fvar%2Frun%2Fdocker.sock/_ping
    method: HEAD
  response:
    body: ""
    headers:
      Api-Version:
      - "1.55"
      Builder-Version:
      - "2"
      Content-Type:
      - text/plain; charset=utf-8
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
      Swarm:
      - inactive
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\"stream\":\"Step 1/4 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e 5e7abcdd2021\\n\"}\r\n{\"stream\":\"Step 2/4 : RUN apk add --no-cache
      curl git bash\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e bdf1ef9cfce3\\n\"}\r\n{\"stream\":\"Step
      3/4 : COPY ./index.html /usr/share/nginx/html/index.html\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e 2526015042db\\n\"}\r\n{\"stream\":\"Step
      4/4 : EXPOSE 80\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e 128b9541e8f4\\n\"}\r\n{\"aux\":{\"ID\":\"sha256:128b9541e8f4049bff9157a34f9100835fd23878a9cd35c85713a229582dafeb\"}}\r\n{\"stream\":\"Successfully
      built 128b9541e8f4\\n\"}\r\n{\"stream\":\"Successfully tagged rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s:latest\\n\"}\r\n"
    form: {}
    headers:
      Content-Type:
      - application/x-tar
      X-Registry-Config:
      - bnVsbA==
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.55/build?dockerfile=Dockerfile&rm=0&t=rg.fr-par.scw.cloud%2Fcli-t-ctnr-deploy-s%2Fcli-t-ctnr-deploy-s%3Alatest
    method: POST
  response:
    body: "{\"stream\":\"Step 1/4 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e 5e7abcdd2021\\n\"}\r\n{\"stream\":\"Step 2/4 : RUN apk add --no-cache
      curl git bash\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e bdf1ef9cfce3\\n\"}\r\n{\"stream\":\"Step
      3/4 : COPY ./index.html /usr/share/nginx/html/index.html\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e 2526015042db\\n\"}\r\n{\"stream\":\"Step
      4/4 : EXPOSE 80\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e 128b9541e8f4\\n\"}\r\n{\"aux\":{\"ID\":\"sha256:128b9541e8f4049bff9157a34f9100835fd23878a9cd35c85713a229582dafeb\"}}\r\n{\"stream\":\"Successfully
      built 128b9541e8f4\\n\"}\r\n{\"stream\":\"Successfully tagged rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s:latest\\n\"}\r\n"
    headers:
      Api-Version:
      - "1.55"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\"status\":\"The push refers to repository [rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s]\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"205429c26d8c\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"db5c9fbe944f\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"e9a26559275d\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"1704c5a3d8da\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"dc45ec6c902b\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"3e4655a38876\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"abbef7f88314\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"ed6be5e2fd33\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"1967fccdbe5e\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"256f393e029f\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"3e4655a38876\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"1967fccdbe5e\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"256f393e029f\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"abbef7f88314\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"ed6be5e2fd33\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":512,\"total\":4619},\"id\":\"1704c5a3d8da\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":7168,\"total\":4619},\"id\":\"1704c5a3d8da\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":512,\"total\":144},\"id\":\"205429c26d8c\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":4096,\"total\":144},\"id\":\"205429c26d8c\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":99328,\"total\":8456691},\"id\":\"db5c9fbe944f\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\[...]
- request:
    body: '{"containers":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/containers?name=cli-t-ctnr-deploy-s&namespace_id=c3334ec3-22a7-4c7d-9e31-193bcb6acb23&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"containers":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"f28a8429-0001-4829-9ae5-ff8011fb2019", "name":"cli-t-ctnr-deploy-s",
      "namespace_id":"c3334ec3-22a7-4c7d-9e31-193bcb6acb23", "description":"", "status":"creating",
      "created_at":"2026-08-07T15:38:23.856242Z", "updated_at":"2026-08-07T15:38:23.856242Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s:latest",
      "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2",
      "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50},
      "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clitctnrdeploysc3334ec3-cli-t-ctnr-deploy-s.functions.fnc.fr-par.scw.cloud",
      "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s",
      "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"f28a8429-0001-4829-9ae5-ff8011fb2019", "name":"cli-t-ctnr-deploy-s",
      "namespace_id":"c3334ec3-22a7-4c7d-9e31-193bcb6acb23", "description":"", "status":"creating",
      "created_at":"2026-08-07T15:38:23.856242Z", "updated_at":"2026-08-07T15:38:23.856242Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s:latest",
      "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2",
      "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50},
      "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clitctnrdeploysc3334ec3-cli-t-ctnr-deploy-s.functions.fnc.fr-par.scw.cloud",
      "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s",
      "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"f28a8429-0001-4829-9ae5-ff8011fb2019", "name":"cli-t-ctnr-deploy-s",
      "namespace_id":"c3334ec3-22a7-4c7d-9e31-193bcb6acb23", "description":"", "status":"creating",
      "created_at":"2026-08-07T15:38:23.856242Z", "updated_at":"2026-08-07T15:38:23.856242Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s:latest[...]
[...]
- request:
    body: '{"id":"f28a8429-0001-4829-9ae5-ff8011fb2019", "name":"cli-t-ctnr-deploy-s",
      "namespace_id":"c3334ec3-22a7-4c7d-9e31-193bcb6acb23", "description":"", "status":"ready",
      "error_message":"", "created_at":"2026-08-07T15:38:23.856242Z", "updated_at":"2026-08-07T15:38:39Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s:latest",
      "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2",
      "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50},
      "tags":[], "[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"c3334ec3-22a7-4c7d-9e31-193bcb6acb23","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/c3334ec3-22a7-4c7d-9e31-193bcb6acb23
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"c3334ec3-22a7-4c7d-9e31-193bcb6acb23","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"id":"95730c9f-c13c-4700-8066-a6e9662a3e29", "name":"cli-t-ctnr-deploy-s",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s", "is_public":false, "size":26776297,
      "created_at":"2026-08-07T15:38:13.406694Z", "updated_at":"2026-08-07T15:39:09.576993368Z",
      "image_count":1, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/95730c9f-c13c-4700-8066-a6e9662a3e29
    method: DELETE
  response:
    body: '{"id":"95730c9f-c13c-4700-8066-a6e9662a3e29", "name":"cli-t-ctnr-deploy-s",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s", "is_public":false, "size":26776297,
      "created_at":"2026-08-07T15:38:13.406694Z", "updated_at":"2026-08-07T15:39:09.576993368Z",
      "image_count":1, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
