---
version: 1
interactions:
- request:
    body: '{"id":"4ee876f4-d5ef-4b20-a285-3a6563bf5b28", "name":"cli-test-ctn-update-rg-img-jovial-raman",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-jovial-raman", "is_public":false,
      "size":0, "created_at":"2026-04-20T10:56:41.863258307Z", "updated_at":"2026-04-20T10:56:41.863258307Z",
      "image_count":0, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"4ee876f4-d5ef-4b20-a285-3a6563bf5b28", "name":"cli-test-ctn-update-rg-img-jovial-raman",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-jovial-raman", "is_public":false,
      "size":0, "created_at":"2026-04-20T10:56:41.863258307Z", "updated_at":"2026-04-20T10:56:41.863258307Z",
      "image_count":0, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"images":[{"id":"b468da42-8bad-4a05-9308-f6617b07bd24", "name":"sebp/lighttpd",
      "namespace_id":"4ee876f4-d5ef-4b20-a285-3a6563bf5b28", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":4436608, "created_at":"2026-04-20T10:56:52.464690Z",
      "updated_at":"2026-04-20T10:56:52.987920Z", "tags":["latest"]}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=sebp%2Flighttpd&namespace_id=4ee876f4-d5ef-4b20-a285-3a6563bf5b28&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"images":[{"id":"b468da42-8bad-4a05-9308-f6617b07bd24", "name":"sebp/lighttpd",
      "namespace_id":"4ee876f4-d5ef-4b20-a285-3a6563bf5b28", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":4436608, "created_at":"2026-04-20T10:56:52.464690Z",
      "updated_at":"2026-04-20T10:56:52.987920Z", "tags":["latest"]}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespaces":[{"id":"681422c2-2605-485d-be8c-4caaba0e40ad", "name":"bidouille",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/bidouille", "is_public":false, "size":125904904,
      "created_at":"2025-10-13T14:51:28.239376Z", "updated_at":"2025-10-30T14:35:52.512165Z",
      "image_count":6, "region":"fr-par"}, {"id":"1fb38b24-dbcc-4d67-9c2[...]
- request:
    body: '{"images":[{"id":"68aa91ab-1cb7-4ebf-abd0-ffec7a3af91a", "name":"nginx",
      "namespace_id":"4ee876f4-d5ef-4b20-a285-3a6563bf5b28", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":22583979, "created_at":"2026-04-20T10:57:10.441629Z",
      "updated_at":"2026-04-20T10:57:11.409693Z", "tags":["1.29.2-alpine"]}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=nginx&namespace_id=4ee876f4-d5ef-4b20-a285-3a6563bf5b28&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"images":[{"id":"68aa91ab-1cb7-4ebf-abd0-ffec7a3af91a", "name":"nginx",
      "namespace_id":"4ee876f4-d5ef-4b20-a285-3a6563bf5b28", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":22583979, "created_at":"2026-04-20T10:57:10.441629Z",
      "updated_at":"2026-04-20T10:57:11.409693Z", "tags":["1.29.2-alpine"]}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"7dd16df2-de1d-406f-8484-4e55553863a0", "name":"cli-ns-intelligent-morse",
      "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-04-20T10:57:12.445755Z", "updated_at":"2026-04-20T10:57:12.445755Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"7dd16df2-de1d-406f-8484-4e55553863a0", "name":"cli-ns-intelligent-morse",
      "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-04-20T10:57:12.445755Z", "updated_at":"2026-04-20T10:57:12.445755Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"7dd16df2-de1d-406f-8484-4e55553863a0", "name":"cli-ns-intelligent-morse",
      "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-04-20T10:57:12.445755Z", "updated_at":"2026-04-20T10:57:12.445755Z",
      "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/7dd16df2-de1d-406f-8484-4e55553863a0
    method: GET
  response:
    body: '{"id":"7dd16df2-de1d-406f-8484-4e55553863a0", "name":"cli-ns-intelligent-morse",
      "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-04-20T10:57:12.445755Z", "updated_at":"2026-04-20T10:57:12.445755Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"ead05389-38a1-4ad1-9a47-14ee4f3f49b7", "name":"cli-test-funny-archimedes",
      "namespace_id":"7dd16df2-de1d-406f-8484-4e55553863a0", "description":"", "status":"creating",
      "created_at":"2026-04-20T10:57:28.353739Z", "updated_at":"2026-04-20T10:57:28.353739Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-jovial-raman/sebp/lighttpd:latest",
      "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2",
      "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50},
      "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clinsintelligentmors7dd16df2-cli-test-funny-archimedes.functions.fnc.fr-par.scw.cloud",
      "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s",
      "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"ead05389-38a1-4ad1-9a47-14ee4f3f49b7", "name":"cli-test-funny-archimedes",
      "namespace_id":"7dd16df2-de1d-406f-8484-4e55553863a0", "description":"", "status":"creating",
      "created_at":"2026-04-20T10:57:28.353739Z", "updated_at":"2026-04-20T10:57:28.353739Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-jovial-raman/sebp/lighttpd:latest",
      "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2",
      "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50},
      "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clinsintelligentmors7dd16df2-cli-test-funny-archimedes.functions.fnc.fr-par.scw.cloud",
      "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s",
      "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"ead05389-38a1-4ad1-9a47-14ee4f3f49b7", "name":"cli-test-funny-archimedes",
      "namespace_id":"7dd16df2-de1d-406f-8484-4e55553863a0", "description":"", "status":"creating",
      "created_at":"2026-04-20T10:57:28.353739Z", "updated_at":"2026-04-20T10:57:28.353739Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-jovial-raman/[...]
[...]
- request:
    body: '{"id":"ead05389-38a1-4ad1-9a47-14ee4f3f49b7", "name":"cli-test-funny-archimedes",
      "namespace_id":"7dd16df2-de1d-406f-8484-4e55553863a0", "description":"", "status":"error",
      "error_message":"Container is unable to start OR is not listening on port 80",
      "created_at":"2026-04-20T10:57:28.353739Z", "updated_at":"2026-04-20T11:02:29Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-jovial-raman/sebp/lighttpd:latest",
      "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2",
      "local_storage_limit_bytes":100000[...]
[...]
- request:
    body: '{"id":"4ee876f4-d5ef-4b20-a285-3a6563bf5b28", "name":"cli-test-ctn-update-rg-img-jovial-raman",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-jovial-raman", "is_public":false,
      "size":27020587, "created_at":"2026-04-20T10:56:41.863258Z", "updated_at":"2026-04-20T11:02:47.512522131Z",
      "image_count":2, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/4ee876f4-d5ef-4b20-a285-3a6563bf5b28
    method: DELETE
  response:
    body: '{"id":"4ee876f4-d5ef-4b20-a285-3a6563bf5b28", "name":"cli-test-ctn-update-rg-img-jovial-raman",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-jovial-raman", "is_public":false,
      "size":27020587, "created_at":"2026-04-20T10:56:41.863258Z", "updated_at":"2026-04-20T11:02:47.512522131Z",
      "image_count":2, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
