---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-test-ctn-update-rg-img-sharp-kapitsa","description":"","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"8326d89e-53b9-4b2f-a1fa-b0f768d0e0bc","name":"cli-test-ctn-update-rg-img-sharp-kapitsa","description":"","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-sharp-kapitsa","is_public":false,"size":0,"created_at":"2026-05-19T12:31:43.691945207Z","updated_at":"2026-05-19T12:31:43.691945207Z","image_count":0,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.208163ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            name:
                - sebp/lighttpd
            namespace_id:
                - 8326d89e-53b9-4b2f-a1fa-b0f768d0e0bc
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=sebp%2Flighttpd&namespace_id=8326d89e-53b9-4b2f-a1fa-b0f768d0e0bc&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"images":[{"id":"ce2e0085-6978-4161-871b-93fd38b1b863","name":"sebp/lighttpd","namespace_id":"8326d89e-53b9-4b2f-a1fa-b0f768d0e0bc","status":"ready","status_message":"","visibility":"inherit","size":4436608,"created_at":"2026-05-19T12:31:49.983972Z","updated_at":"2026-05-19T12:31:50.435263Z","tags":["latest"]}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.236331ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[{"id":"681422c2-2605-485d-be8c-4caaba0e40ad","name":"bidouille","description":"","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/bidouille","is_public":false,"size":125904904,"created_at":"2025-10-13T14:51:28.239376Z","updated_at":"2025-10-30T14:35:52.512165Z","image_count":6,"region":"fr-par"},{"id":"8326d89e-53b9-4b2f-a1fa-b0f768d0e0bc","name":"cli-test-ctn-update-rg-img-sharp-kapitsa","description":"","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-sharp-kapitsa","is_public":false,"size":27020587,"created_at":"2026-05-19T12:31:43.691945Z","updated_at":"2026-05-19T12:32:02.510463Z","image_count":2,"region":"fr-par"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.057883ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            name:
                - nginx
            namespace_id:
                - 8326d89e-53b9-4b2f-a1fa-b0f768d0e0bc
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=nginx&namespace_id=8326d89e-53b9-4b2f-a1fa-b0f768d0e0bc&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"images":[{"id":"412ee16d-5208-4f96-87aa-b1983057f005","name":"nginx","namespace_id":"8326d89e-53b9-4b2f-a1fa-b0f768d0e0bc","status":"ready","status_message":"","visibility":"inherit","size":22583979,"created_at":"2026-05-19T12:32:02.129352Z","updated_at":"2026-05-19T12:32:02.494385Z","tags":["1.29.2-alpine"]}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.347185ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-ns-flamboyant-hofstadter","environment_variables":null,"secret_environment_variables":null,"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"c6546a5d-378d-4127-9255-8447a063abac","name":"cli-ns-flamboyant-hofstadter","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-19T12:32:03.454636Z","updated_at":"2026-05-19T12:32:03.454636Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.26832167s
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/c6546a5d-378d-4127-9255-8447a063abac
        method: GET
      response:
        body: '{"id":"c6546a5d-378d-4127-9255-8447a063abac","name":"cli-ns-flamboyant-hofstadter","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-19T12:32:03.454636Z","updated_at":"2026-05-19T12:32:03.454636Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.354529ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"c6546a5d-378d-4127-9255-8447a063abac","name":"cli-test-determined-wiles","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-sharp-kapitsa/sebp/lighttpd:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"4cd4b28b-c180-4fdb-aa60-2a57af8cf2af","name":"cli-test-determined-wiles","namespace_id":"c6546a5d-378d-4127-9255-8447a063abac","description":"","status":"creating","created_at":"2026-05-19T12:32:22.370752Z","updated_at":"2026-05-19T12:32:22.370752Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-sharp-kapitsa/sebp/lighttpd:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clinsflamboyanthofstc6546a5d-cli-test-determined-wiles.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 393.32931ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/4cd4b28b-c180-4fdb-aa60-2a57af8cf2af
        method: GET
      response:
        body: '{"id":"4cd4b28b-c180-4fdb-aa60-2a57af8cf2af","name":"cli-test-determined-wiles","namespace_id":"c6546a5d-378d-4127-9255-8447a063abac","description":"","status":"creating","created_at":"2026-05-19T12:32:22.370752Z","updated_at":"2026-05-19T12:32:22.370752Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-sharp-kapitsa/sebp/lighttpd:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clinsflamboyanthofstc6546a5d-cli-test-determined-wiles.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.449403ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/4cd4b28b-c180-4fdb-aa60-2a57af8cf2af
        method: GET
      response:
        body: '{"id":"4cd4b28b-c180-4fdb-aa60-2a57af8cf2af","name":"cli-test-determined-wiles","namespace_id":"c6546a5d-378d-4127-9255-8447a063abac","description":"","status":"error","error_message":"Container is unable to start OR is not listening on port 80","created_at":"2026-05-19T12:32:22.370752Z","updated_at":"2026-05-19T12:37:24Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-sharp-kapitsa/sebp/lighttpd:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clinsflamboyanthofstc6546a5d-cli-test-determined-wiles.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.444182ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/8326d89e-53b9-4b2f-a1fa-b0f768d0e0bc
        method: DELETE
      response:
        body: '{"id":"8326d89e-53b9-4b2f-a1fa-b0f768d0e0bc","name":"cli-test-ctn-update-rg-img-sharp-kapitsa","description":"","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"deleting","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-sharp-kapitsa","is_public":false,"size":27020587,"created_at":"2026-05-19T12:31:43.691945Z","updated_at":"2026-05-19T12:37:54.950931976Z","image_count":2,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 540.863237ms
