---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-ns-wonderful-chatterjee","environment_variables":null,"secret_environment_variables":null,"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"bca677ed-caf9-4569-b230-087ab5343ea5", "name":"cli-ns-wonderful-chatterjee", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{}, "tags":[], "created_at":"2026-08-07T16:16:32.641578Z", "updated_at":"2026-08-07T16:16:32.641578Z", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.176218634s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/bca677ed-caf9-4569-b230-087ab5343ea5
        method: GET
      response:
        body: '{"id":"bca677ed-caf9-4569-b230-087ab5343ea5", "name":"cli-ns-wonderful-chatterjee", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{}, "tags":[], "created_at":"2026-08-07T16:16:32.641578Z", "updated_at":"2026-08-07T16:16:32.641578Z", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.993792ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"bca677ed-caf9-4569-b230-087ab5343ea5","name":"cli-test-zen-lamarr","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"nginx:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"3e4360d0-9683-4402-a904-e52145d04809", "name":"cli-test-zen-lamarr", "namespace_id":"bca677ed-caf9-4569-b230-087ab5343ea5", "description":"", "status":"creating", "created_at":"2026-08-07T16:16:48.275376Z", "updated_at":"2026-08-07T16:16:48.275376Z", "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000, "timeout":"300s", "privacy":"public", "image":"nginx:latest", "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2", "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50}, "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clinswonderfulchattebca677ed-cli-test-zen-lamarr.functions.fnc.fr-par.scw.cloud", "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s", "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 261.377042ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/3e4360d0-9683-4402-a904-e52145d04809
        method: GET
      response:
        body: '{"id":"3e4360d0-9683-4402-a904-e52145d04809", "name":"cli-test-zen-lamarr", "namespace_id":"bca677ed-caf9-4569-b230-087ab5343ea5", "description":"", "status":"creating", "created_at":"2026-08-07T16:16:48.275376Z", "updated_at":"2026-08-07T16:16:48.275376Z", "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000, "timeout":"300s", "privacy":"public", "image":"nginx:latest", "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2", "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50}, "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clinswonderfulchattebca677ed-cli-test-zen-lamarr.functions.fnc.fr-par.scw.cloud", "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s", "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.448544ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/3e4360d0-9683-4402-a904-e52145d04809
        method: GET
      response:
        body: '{"id":"3e4360d0-9683-4402-a904-e52145d04809", "name":"cli-test-zen-lamarr", "namespace_id":"bca677ed-caf9-4569-b230-087ab5343ea5", "description":"", "status":"ready", "error_message":"", "created_at":"2026-08-07T16:16:48.275376Z", "updated_at":"2026-08-07T16:16:57Z", "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000, "timeout":"300s", "privacy":"public", "image":"nginx:latest", "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2", "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50}, "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clinswonderfulchattebca677ed-cli-test-zen-lamarr.functions.fnc.fr-par.scw.cloud", "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s", "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.366302ms
[...]
