---
version: 1
interactions:
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-s&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"42cc3647-9058-40ba-8a1e-8417665cb0ed", "name":"cli-t-ctnr-deploy-s",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-06T16:19:51.528636Z", "updated_at":"2026-08-06T16:19:51.528636Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"42cc3647-9058-40ba-8a1e-8417665cb0ed", "name":"cli-t-ctnr-deploy-s",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-06T16:19:51.528636Z", "updated_at":"2026-08-06T16:19:51.528636Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"42cc3647-9058-40ba-8a1e-8417665cb0ed", "name":"cli-t-ctnr-deploy-s",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-06T16:19:51.528636Z", "updated_at":"2026-08-06T16:19:51.528636Z",
      "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/42cc3647-9058-40ba-8a1e-8417665cb0ed
    method: GET
  response:
    body: '{"id":"42cc3647-9058-40ba-8a1e-8417665cb0ed", "name":"cli-t-ctnr-deploy-s",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-06T16:19:51.528636Z", "updated_at":"2026-08-06T16:19:51.528636Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-s&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"9fc114c9-e5a0-434e-b11d-f53c69c83925", "name":"cli-t-ctnr-deploy-s",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s", "is_public":false, "size":0,
      "created_at":"2026-08-06T16:20:07.674060706Z", "updated_at":"2026-08-06T16:20:07.674060706Z",
      "image_count":0, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"9fc114c9-e5a0-434e-b11d-f53c69c83925", "name":"cli-t-ctnr-deploy-s",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s", "is_public":false, "size":0,
      "created_at":"2026-08-06T16:20:07.674060706Z", "updated_at":"2026-08-06T16:20:07.674060706Z",
      "image_count":0, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"containers":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/containers?name=cli-t-ctnr-deploy-s&namespace_id=42cc3647-9058-40ba-8a1e-8417665cb0ed&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"containers":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"846fb49c-a080-42dc-b83f-c692b0d01519", "name":"cli-t-ctnr-deploy-s",
      "namespace_id":"42cc3647-9058-40ba-8a1e-8417665cb0ed", "description":"", "status":"creating",
      "created_at":"2026-08-06T16:20:22.318678Z", "updated_at":"2026-08-06T16:20:22.318678Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s:latest",
      "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2",
      "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50},
      "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clitctnrdeploys42cc3647-cli-t-ctnr-deploy-s.functions.fnc.fr-par.scw.cloud",
      "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s",
      "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"846fb49c-a080-42dc-b83f-c692b0d01519", "name":"cli-t-ctnr-deploy-s",
      "namespace_id":"42cc3647-9058-40ba-8a1e-8417665cb0ed", "description":"", "status":"creating",
      "created_at":"2026-08-06T16:20:22.318678Z", "updated_at":"2026-08-06T16:20:22.318678Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s:latest",
      "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2",
      "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50},
      "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clitctnrdeploys42cc3647-cli-t-ctnr-deploy-s.functions.fnc.fr-par.scw.cloud",
      "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s",
      "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"846fb49c-a080-42dc-b83f-c692b0d01519", "name":"cli-t-ctnr-deploy-s",
      "namespace_id":"42cc3647-9058-40ba-8a1e-8417665cb0ed", "description":"", "status":"creating",
      "created_at":"2026-08-06T16:20:22.318678Z", "updated_at":"2026-08-06T16:20:22.318678Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s:latest[...]
- request:
    body: '{"id":"846fb49c-a080-42dc-b83f-c692b0d01519", "name":"cli-t-ctnr-deploy-s",
      "namespace_id":"42cc3647-9058-40ba-8a1e-8417665cb0ed", "description":"", "status":"ready",
      "error_message":"", "created_at":"2026-08-06T16:20:22.318678Z", "updated_at":"2026-08-06T16:20:30Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s:latest",
      "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2",
      "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50},
      "tags":[], "[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"42cc3647-9058-40ba-8a1e-8417665cb0ed","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/42cc3647-9058-40ba-8a1e-8417665cb0ed
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"42cc3647-9058-40ba-8a1e-8417665cb0ed","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"id":"9fc114c9-e5a0-434e-b11d-f53c69c83925", "name":"cli-t-ctnr-deploy-s",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s", "is_public":false, "size":30441682,
      "created_at":"2026-08-06T16:20:07.674061Z", "updated_at":"2026-08-06T16:20:53.094935081Z",
      "image_count":1, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/9fc114c9-e5a0-434e-b11d-f53c69c83925
    method: DELETE
  response:
    body: '{"id":"9fc114c9-e5a0-434e-b11d-f53c69c83925", "name":"cli-t-ctnr-deploy-s",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s", "is_public":false, "size":30441682,
      "created_at":"2026-08-06T16:20:07.674061Z", "updated_at":"2026-08-06T16:20:53.094935081Z",
      "image_count":1, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
