---
version: 1
interactions:
- request:
    body: '{"id":"198663b0-a4a4-41f3-b670-74fd21b841ad","name":"cli-ns-vibrant-lewin","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-18T18:07:56.796062Z","updated_at":"2026-05-18T18:07:56.796062Z","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"198663b0-a4a4-41f3-b670-74fd21b841ad","name":"cli-ns-vibrant-lewin","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-18T18:07:56.796062Z","updated_at":"2026-05-18T18:07:56.796062Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"198663b0-a4a4-41f3-b670-74fd21b841ad","name":"cli-ns-vibrant-lewin","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-18T18:07:56.796062Z","updated_at":"2026-05-18T18:07:56.796062Z","region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/198663b0-a4a4-41f3-b670-74fd21b841ad
    method: GET
  response:
    body: '{"id":"198663b0-a4a4-41f3-b670-74fd21b841ad","name":"cli-ns-vibrant-lewin","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-18T18:07:56.796062Z","updated_at":"2026-05-18T18:07:56.796062Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"4ce99088-9c44-4240-8731-9f0ce35b3c5f","name":"cli-test-sad-bartik","namespace_id":"198663b0-a4a4-41f3-b670-74fd21b841ad","description":"","status":"creating","created_at":"2026-05-18T18:08:12.181319Z","updated_at":"2026-05-18T18:08:12.181319Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"hello-world:latest","protocol":"http1","port":8080,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clinsvibrantlewin198663b0-cli-test-sad-bartik.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"4ce99088-9c44-4240-8731-9f0ce35b3c5f","name":"cli-test-sad-bartik","namespace_id":"198663b0-a4a4-41f3-b670-74fd21b841ad","description":"","status":"creating","created_at":"2026-05-18T18:08:12.181319Z","updated_at":"2026-05-18T18:08:12.181319Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"hello-world:latest","protocol":"http1","port":8080,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clinsvibrantlewin198663b0-cli-test-sad-bartik.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
