---
version: 1
interactions:
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-ba&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"fea71aef-9989-43f7-bb8e-640b69a84d08", "name":"cli-t-ctnr-deploy-ba",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-06T14:38:48.323658Z", "updated_at":"2026-08-06T14:38:48.323658Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"fea71aef-9989-43f7-bb8e-640b69a84d08", "name":"cli-t-ctnr-deploy-ba",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-06T14:38:48.323658Z", "updated_at":"2026-08-06T14:38:48.323658Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"fea71aef-9989-43f7-bb8e-640b69a84d08", "name":"cli-t-ctnr-deploy-ba",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-06T14:38:48.323658Z", "updated_at":"2026-08-06T14:38:48.323658Z",
      "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/fea71aef-9989-43f7-bb8e-640b69a84d08
    method: GET
  response:
    body: '{"id":"fea71aef-9989-43f7-bb8e-640b69a84d08", "name":"cli-t-ctnr-deploy-ba",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-06T14:38:48.323658Z", "updated_at":"2026-08-06T14:38:48.323658Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-ba&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"dd33796d-f67e-4419-8c0e-1b15c090ec03", "name":"cli-t-ctnr-deploy-ba",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-ba", "is_public":false, "size":0,
      "created_at":"2026-08-06T14:39:04.729433233Z", "updated_at":"2026-08-06T14:39:04.729433233Z",
      "image_count":0, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"dd33796d-f67e-4419-8c0e-1b15c090ec03", "name":"cli-t-ctnr-deploy-ba",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-ba", "is_public":false, "size":0,
      "created_at":"2026-08-06T14:39:04.729433233Z", "updated_at":"2026-08-06T14:39:04.729433233Z",
      "image_count":0, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"containers":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/containers?name=cli-t-ctnr-deploy-ba&namespace_id=fea71aef-9989-43f7-bb8e-640b69a84d08&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"containers":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"969298da-08bd-44d3-b157-ae2338bae826", "name":"cli-t-ctnr-deploy-ba",
      "namespace_id":"fea71aef-9989-43f7-bb8e-640b69a84d08", "description":"", "status":"creating",
      "created_at":"2026-08-06T14:39:15.291964Z", "updated_at":"2026-08-06T14:39:15.291964Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-ba/cli-t-ctnr-deploy-ba:latest",
      "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2",
      "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50},
      "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clitctnrdeploybafea71aef-cli-t-ctnr-deploy-ba.functions.fnc.fr-par.scw.cloud",
      "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s",
      "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"969298da-08bd-44d3-b157-ae2338bae826", "name":"cli-t-ctnr-deploy-ba",
      "namespace_id":"fea71aef-9989-43f7-bb8e-640b69a84d08", "description":"", "status":"creating",
      "created_at":"2026-08-06T14:39:15.291964Z", "updated_at":"2026-08-06T14:39:15.291964Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-ba/cli-t-ctnr-deploy-ba:latest",
      "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2",
      "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50},
      "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clitctnrdeploybafea71aef-cli-t-ctnr-deploy-ba.functions.fnc.fr-par.scw.cloud",
      "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s",
      "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"969298da-08bd-44d3-b157-ae2338bae826", "name":"cli-t-ctnr-deploy-ba",
      "namespace_id":"fea71aef-9989-43f7-bb8e-640b69a84d08", "description":"", "status":"creating",
      "created_at":"2026-08-06T14:39:15.291964Z", "updated_at":"2026-08-06T14:39:15.291964Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-ba/cli-t-ctnr-deploy-ba:lat[...]
- request:
    body: '{"id":"969298da-08bd-44d3-b157-ae2338bae826", "name":"cli-t-ctnr-deploy-ba",
      "namespace_id":"fea71aef-9989-43f7-bb8e-640b69a84d08", "description":"", "status":"error",
      "error_message":"Invalid Image architecture. Serverless Containers only support
      the amd64 architecture, but the image was built for the following architectures:
      arm64. Please rebuild the image for the correct architecture using the `--platform=linux/amd64`
      Docker build argument.", "created_at":"2026-08-06T14:39:15.291964Z", "updated_at":"2026-08-06T14:39:15.892124Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"publ[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"fea71aef-9989-43f7-bb8e-640b69a84d08","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/fea71aef-9989-43f7-bb8e-640b69a84d08
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"fea71aef-9989-43f7-bb8e-640b69a84d08","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"id":"dd33796d-f67e-4419-8c0e-1b15c090ec03", "name":"cli-t-ctnr-deploy-ba",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-ba", "is_public":false, "size":30474294,
      "created_at":"2026-08-06T14:39:04.729433Z", "updated_at":"2026-08-06T14:39:46.093673666Z",
      "image_count":1, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/dd33796d-f67e-4419-8c0e-1b15c090ec03
    method: DELETE
  response:
    body: '{"id":"dd33796d-f67e-4419-8c0e-1b15c090ec03", "name":"cli-t-ctnr-deploy-ba",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-ba", "is_public":false, "size":30474294,
      "created_at":"2026-08-06T14:39:04.729433Z", "updated_at":"2026-08-06T14:39:46.093673666Z",
      "image_count":1, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
