---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-ns-agitated-poincare","environment_variables":null,"secret_environment_variables":null,"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"3f4c016a-5dcb-4cd5-8760-70a485f152e7","name":"cli-ns-agitated-poincare","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-19T12:31:27.861189Z","updated_at":"2026-05-19T12:31:27.861189Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 797.017409ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/3f4c016a-5dcb-4cd5-8760-70a485f152e7
        method: GET
      response:
        body: '{"id":"3f4c016a-5dcb-4cd5-8760-70a485f152e7","name":"cli-ns-agitated-poincare","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-19T12:31:27.861189Z","updated_at":"2026-05-19T12:31:27.861189Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.306761ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"3f4c016a-5dcb-4cd5-8760-70a485f152e7","name":"cli-test-objective-driscoll","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"hello-world:latest","protocol":"http1","port":8080,"https_connections_only":false,"sandbox":"v2","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"6ffa735f-07a7-4ad2-93e2-61e55096ac1e","name":"cli-test-objective-driscoll","namespace_id":"3f4c016a-5dcb-4cd5-8760-70a485f152e7","description":"","status":"creating","created_at":"2026-05-19T12:31:43.156951Z","updated_at":"2026-05-19T12:31:43.156951Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"hello-world:latest","protocol":"http1","port":8080,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clinsagitatedpoincar3f4c016a-cli-test-objective-driscoll.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 421.960153ms
[...]
