---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - app-cli-t-ctnr-deploy-fp
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces?name=app-cli-t-ctnr-deploy-fp&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[{"id":"7d69e92a-2a77-4990-b1a9-4f3328288562","name":"test-logs","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"ready","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-04-02T14:39:58.610096Z","updated_at":"2026-04-02T14:39:58.610096Z","region":"fr-par"},{"id":"215d32e6-0fc8-421f-9d3a-2f5563b0ccdc","name":"tf-ns-mystifying-lederberg","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"9e652dfc-4754-4a39-8fba-73946886cee6","description":"","status":"ready","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-04T19:04:43.890850Z","updated_at":"2026-05-04T19:04:43.890850Z","region":"fr-par"},{"id":"d1577321-4f04-43ff-a932-9bf3efa57727","name":"cli-ns-youthful-babbage","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"ready","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-19T11:53:49.254279Z","updated_at":"2026-05-19T11:53:49.254279Z","region":"fr-par"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.647262ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"app-cli-t-ctnr-deploy-fp","environment_variables":null,"secret_environment_variables":null,"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"f048fb1b-3552-4791-8d7c-5ff962e56269","name":"app-cli-t-ctnr-deploy-fp","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-19T14:56:04.951084Z","updated_at":"2026-05-19T14:56:04.951084Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.33347174s
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/f048fb1b-3552-4791-8d7c-5ff962e56269
        method: GET
      response:
        body: '{"id":"f048fb1b-3552-4791-8d7c-5ff962e56269","name":"app-cli-t-ctnr-deploy-fp","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-19T14:56:04.951084Z","updated_at":"2026-05-19T14:56:04.951084Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.505142ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        form:
            name:
                - app-cli-t-ctnr-deploy-fp
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=app-cli-t-ctnr-deploy-fp&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.19802ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"app-cli-t-ctnr-deploy-fp","description":"","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"2d40d174-c3c7-4e9d-9092-05b91bf15fc2","name":"app-cli-t-ctnr-deploy-fp","description":"","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/app-cli-t-ctnr-deploy-fp","is_public":false,"size":0,"created_at":"2026-05-19T14:56:20.947239857Z","updated_at":"2026-05-19T14:56:20.947239857Z","image_count":0,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.273642ms
    - id: 6
      request:
        host: api.moby.localhost
        headers:
        url: http:///var/run/docker.sock/_ping
        method: HEAD
      response:
        body: ""
        headers:
            Api-Version:
                - "1.54"
            Builder-Version:
                - "2"
            Content-Type:
                - text/plain; charset=utf-8
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
            Swarm:
                - inactive
        status: 200 OK
        code: 200
        duration: 530.967µs
    - id: 7
      request:
        host: api.moby.localhost
        body: "Dockerfile\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\00000600\00001750\00001750\000000000164\015203075004\0011255\0 0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
    - id: 8
      request:
        host: api.moby.localhost
        form:
            tag:
                - latest
        headers:
            X-Registry-Auth:
                - eyJ1c2VybmFtZSI6IlNDVzJXSDRNOVFBQzZQV0VKU0pBIiwicGFzc3dvcmQiOiIxMTRhMDFlNi1hOTIxLTRiMjgtOTQ1ZC0zYWU3YmU4NDkyZDEiLCJzZXJ2ZXJhZGRyZXNzIjoicmcuZnItcGFyLnNjdy5jbG91ZC9hcHAtY2xpLXQtY3Ruci1kZXBsb3ktZnAifQ==
        url: http:///var/run/docker.sock/v1.54/images/rg.fr-par.scw.cloud/app-cli-t-ctnr-deploy-fp/app-cli-t-ctnr-deploy-fp/push?tag=latest
        method: POST
      response:
            - chunked
        body: "{\"status\":\"The push refers to repository [rg.fr-par.scw.cloud/app-cli-t-ctnr-deploy-fp/app-cli-t-ctnr-deploy-fp]\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"205429c26d8c\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"db5c9fbe944f\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"e9a26559275d\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"1704c5a3d8da\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"dc45ec6c902b\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"3e4655a38876\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"abbef7f88314\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"ed6be5e2fd33\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"1967fccdbe5e\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"256f393e029f\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"3e4655a38876\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"abbef7f88314\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"ed6be5e2fd33\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"1967fccdbe5e\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"256f393e029f\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":512,\"total\":144},\"id\":\"205429c26d8c\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":4096,\"total\":144},\"id\":\"205429c26d8c\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":512,\"total\":3018},\"id\":\"dc45ec6c902b\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":5120,\"total\":3018},\"id\":\"dc45ec6c902b\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":99328,\"total\":8456691},\"id\":\"db5c9fbe944f\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\[...]
    - id: 9
      request:
        host: api.scaleway.com
        form:
            name:
                - app-cli-t-ctnr-deploy-fp
            namespace_id:
                - f048fb1b-3552-4791-8d7c-5ff962e56269
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers?name=app-cli-t-ctnr-deploy-fp&namespace_id=f048fb1b-3552-4791-8d7c-5ff962e56269&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"containers":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.872095ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"f048fb1b-3552-4791-8d7c-5ff962e56269","name":"app-cli-t-ctnr-deploy-fp","environment_variables":null,"secret_environment_variables":null,"privacy":"unknown_privacy","image":"rg.fr-par.scw.cloud/app-cli-t-ctnr-deploy-fp/app-cli-t-ctnr-deploy-fp:latest","protocol":"unknown_protocol","port":80,"sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"ef61df71-4db3-4875-8e35-022fa0a4d94b","name":"app-cli-t-ctnr-deploy-fp","namespace_id":"f048fb1b-3552-4791-8d7c-5ff962e56269","description":"","status":"creating","created_at":"2026-05-19T14:56:34.253141Z","updated_at":"2026-05-19T14:56:34.253141Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"rg.fr-par.scw.cloud/app-cli-t-ctnr-deploy-fp/app-cli-t-ctnr-deploy-fp:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://appclitctnrdeployfpf048fb1b-app-cli-t-ctnr-deploy-fp.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 362.342778ms
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/ef61df71-4db3-4875-8e35-022fa0a4d94b
        method: GET
      response:
        body: '{"id":"ef61df71-4db3-4875-8e35-022fa0a4d94b","name":"app-cli-t-ctnr-deploy-fp","namespace_id":"f048fb1b-3552-4791-8d7c-5ff962e56269","description":"","status":"creating","created_at":"2026-05-19T14:56:34.253141Z","updated_at":"2026-05-19T14:56:34.253141Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"rg.fr-par.scw.cloud/app-cli-t-ctnr-deploy-fp/app-cli-t-ctnr-deploy-fp:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://appclitctnrdeployfpf048fb1b-app-cli-t-ctnr-deploy-fp.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.073103ms
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/ef61df71-4db3-4875-8e35-022fa0a4d94b
        method: GET
      response:
        body: '{"id":"ef61df71-4db3-4875-8e35-022fa0a4d94b","name":"app-cli-t-ctnr-deploy-fp","namespace_id":"f048fb1b-3552-4791-8d7c-5ff962e56269","description":"","status":"ready","error_message":"","created_at":"2026-05-19T14:56:34.253141Z","updated_at":"2026-05-19T14:56:43Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"rg.fr-par.scw.cloud/app-cli-t-ctnr-deploy-fp/app-cli-t-ctnr-deploy-fp:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://appclitctnrdeployfpf048fb1b-app-cli-t-ctnr-deploy-fp.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.736456ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/f048fb1b-3552-4791-8d7c-5ff962e56269
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"f048fb1b-3552-4791-8d7c-5ff962e56269","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.220932ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/2d40d174-c3c7-4e9d-9092-05b91bf15fc2
        method: DELETE
      response:
        body: '{"id":"2d40d174-c3c7-4e9d-9092-05b91bf15fc2","name":"app-cli-t-ctnr-deploy-fp","description":"","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"deleting","status_message":"","endpoint":"rg.fr-par.scw.cloud/app-cli-t-ctnr-deploy-fp","is_public":false,"size":26776297,"created_at":"2026-05-19T14:56:20.947240Z","updated_at":"2026-05-19T14:57:04.966058099Z","image_count":1,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.101154ms
