---
version: 1
interactions:
- request:
    body: '{"id":"b0ea510a-60d3-44e1-a9ac-15fb94dac5e9","name":"cli-ns-vigorous-mccarthy","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-18T18:08:13.123741Z","updated_at":"2026-05-18T18:08:13.123741Z","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"b0ea510a-60d3-44e1-a9ac-15fb94dac5e9","name":"cli-ns-vigorous-mccarthy","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-18T18:08:13.123741Z","updated_at":"2026-05-18T18:08:13.123741Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"b0ea510a-60d3-44e1-a9ac-15fb94dac5e9","name":"cli-ns-vigorous-mccarthy","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-18T18:08:13.123741Z","updated_at":"2026-05-18T18:08:13.123741Z","region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/b0ea510a-60d3-44e1-a9ac-15fb94dac5e9
    method: GET
  response:
    body: '{"id":"b0ea510a-60d3-44e1-a9ac-15fb94dac5e9","name":"cli-ns-vigorous-mccarthy","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-18T18:08:13.123741Z","updated_at":"2026-05-18T18:08:13.123741Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"9cf4f426-b37d-45c4-9d6d-0238f2b9f307","name":"cli-test-sad-matsumoto","namespace_id":"b0ea510a-60d3-44e1-a9ac-15fb94dac5e9","description":"","status":"creating","created_at":"2026-05-18T18:08:29.040893Z","updated_at":"2026-05-18T18:08:29.040893Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clinsvigorousmccarthb0ea510a-cli-test-sad-matsumoto.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"9cf4f426-b37d-45c4-9d6d-0238f2b9f307","name":"cli-test-sad-matsumoto","namespace_id":"b0ea510a-60d3-44e1-a9ac-15fb94dac5e9","description":"","status":"creating","created_at":"2026-05-18T18:08:29.040893Z","updated_at":"2026-05-18T18:08:29.040893Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clinsvigorousmccarthb0ea510a-cli-test-sad-matsumoto.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"9cf4f426-b37d-45c4-9d6d-0238f2b9f307","name":"cli-test-sad-matsumoto","namespace_id":"b0ea510a-60d3-44e1-a9ac-15fb94dac5e9","description":"","status":"creating","created_at":"2026-05-18T18:08:29.040893Z","updated_at":"2026-05-18T18:08:29.040893Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_stor[...]
[...]
- request:
    body: '{"id":"9cf4f426-b37d-45c4-9d6d-0238f2b9f307","name":"cli-test-sad-matsumoto","namespace_id":"b0ea510a-60d3-44e1-a9ac-15fb94dac5e9","description":"","status":"ready","error_message":"","created_at":"2026-05-18T18:08:29.040893Z","updated_at":"2026-05-18T18:08:44Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://clinsvigorousmccarthb0ea5[...]
[...]
