---
version: 1
interactions:
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-ba&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"1b9c4447-282c-4843-b3ca-163e59c217df", "name":"cli-t-ctnr-deploy-ba",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-06T16:21:52.844083Z", "updated_at":"2026-08-06T16:21:52.844083Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"1b9c4447-282c-4843-b3ca-163e59c217df", "name":"cli-t-ctnr-deploy-ba",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-06T16:21:52.844083Z", "updated_at":"2026-08-06T16:21:52.844083Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"1b9c4447-282c-4843-b3ca-163e59c217df", "name":"cli-t-ctnr-deploy-ba",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-06T16:21:52.844083Z", "updated_at":"2026-08-06T16:21:52.844083Z",
      "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/1b9c4447-282c-4843-b3ca-163e59c217df
    method: GET
  response:
    body: '{"id":"1b9c4447-282c-4843-b3ca-163e59c217df", "name":"cli-t-ctnr-deploy-ba",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-06T16:21:52.844083Z", "updated_at":"2026-08-06T16:21:52.844083Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-ba&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"4396a38d-18e8-4216-a22a-b56c7f338daa", "name":"cli-t-ctnr-deploy-ba",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-ba", "is_public":false, "size":0,
      "created_at":"2026-08-06T16:22:09.917291265Z", "updated_at":"2026-08-06T16:22:09.917291265Z",
      "image_count":0, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"4396a38d-18e8-4216-a22a-b56c7f338daa", "name":"cli-t-ctnr-deploy-ba",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-ba", "is_public":false, "size":0,
      "created_at":"2026-08-06T16:22:09.917291265Z", "updated_at":"2026-08-06T16:22:09.917291265Z",
      "image_count":0, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"containers":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/containers?name=cli-t-ctnr-deploy-ba&namespace_id=1b9c4447-282c-4843-b3ca-163e59c217df&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"containers":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"f131377e-aba1-49a2-b9f2-21921d398bd3", "name":"cli-t-ctnr-deploy-ba",
      "namespace_id":"1b9c4447-282c-4843-b3ca-163e59c217df", "description":"", "status":"creating",
      "created_at":"2026-08-06T16:22:21.882499Z", "updated_at":"2026-08-06T16:22:21.882499Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-ba/cli-t-ctnr-deploy-ba:latest",
      "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2",
      "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50},
      "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clitctnrdeployba1b9c4447-cli-t-ctnr-deploy-ba.functions.fnc.fr-par.scw.cloud",
      "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s",
      "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"f131377e-aba1-49a2-b9f2-21921d398bd3", "name":"cli-t-ctnr-deploy-ba",
      "namespace_id":"1b9c4447-282c-4843-b3ca-163e59c217df", "description":"", "status":"creating",
      "created_at":"2026-08-06T16:22:21.882499Z", "updated_at":"2026-08-06T16:22:21.882499Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-ba/cli-t-ctnr-deploy-ba:latest",
      "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2",
      "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50},
      "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clitctnrdeployba1b9c4447-cli-t-ctnr-deploy-ba.functions.fnc.fr-par.scw.cloud",
      "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s",
      "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"f131377e-aba1-49a2-b9f2-21921d398bd3", "name":"cli-t-ctnr-deploy-ba",
      "namespace_id":"1b9c4447-282c-4843-b3ca-163e59c217df", "description":"", "status":"creating",
      "created_at":"2026-08-06T16:22:21.882499Z", "updated_at":"2026-08-06T16:22:21.882499Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-ba/cli-t-ctnr-deploy-ba:lat[...]
- request:
    body: '{"id":"f131377e-aba1-49a2-b9f2-21921d398bd3", "name":"cli-t-ctnr-deploy-ba",
      "namespace_id":"1b9c4447-282c-4843-b3ca-163e59c217df", "description":"", "status":"ready",
      "error_message":"", "created_at":"2026-08-06T16:22:21.882499Z", "updated_at":"2026-08-06T16:22:28Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-ba/cli-t-ctnr-deploy-ba:latest",
      "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2",
      "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50},
      "tags":[],[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"1b9c4447-282c-4843-b3ca-163e59c217df","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/1b9c4447-282c-4843-b3ca-163e59c217df
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"1b9c4447-282c-4843-b3ca-163e59c217df","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"id":"4396a38d-18e8-4216-a22a-b56c7f338daa", "name":"cli-t-ctnr-deploy-ba",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-ba", "is_public":false, "size":30442082,
      "created_at":"2026-08-06T16:22:09.917291Z", "updated_at":"2026-08-06T16:22:52.644689794Z",
      "image_count":1, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/4396a38d-18e8-4216-a22a-b56c7f338daa
    method: DELETE
  response:
    body: '{"id":"4396a38d-18e8-4216-a22a-b56c7f338daa", "name":"cli-t-ctnr-deploy-ba",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-ba", "is_public":false, "size":30442082,
      "created_at":"2026-08-06T16:22:09.917291Z", "updated_at":"2026-08-06T16:22:52.644689794Z",
      "image_count":1, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
