---
version: 1
interactions:
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces?name=app-cli-t-ctnr-deploy-fp&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"ea5835fb-ec57-405f-bcde-f83845ad8a9a", "name":"app-cli-t-ctnr-deploy-fp",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-06T16:20:53.880553Z", "updated_at":"2026-08-06T16:20:53.880553Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"ea5835fb-ec57-405f-bcde-f83845ad8a9a", "name":"app-cli-t-ctnr-deploy-fp",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-06T16:20:53.880553Z", "updated_at":"2026-08-06T16:20:53.880553Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"ea5835fb-ec57-405f-bcde-f83845ad8a9a", "name":"app-cli-t-ctnr-deploy-fp",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-06T16:20:53.880553Z", "updated_at":"2026-08-06T16:20:53.880553Z",
      "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/ea5835fb-ec57-405f-bcde-f83845ad8a9a
    method: GET
  response:
    body: '{"id":"ea5835fb-ec57-405f-bcde-f83845ad8a9a", "name":"app-cli-t-ctnr-deploy-fp",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-06T16:20:53.880553Z", "updated_at":"2026-08-06T16:20:53.880553Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=app-cli-t-ctnr-deploy-fp&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"bc33d626-7ebd-469b-af0c-6d0d190d07a9", "name":"app-cli-t-ctnr-deploy-fp",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/app-cli-t-ctnr-deploy-fp", "is_public":false,
      "size":0, "created_at":"2026-08-06T16:21:09.469638240Z", "updated_at":"2026-08-06T16:21:09.469638240Z",
      "image_count":0, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"bc33d626-7ebd-469b-af0c-6d0d190d07a9", "name":"app-cli-t-ctnr-deploy-fp",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/app-cli-t-ctnr-deploy-fp", "is_public":false,
      "size":0, "created_at":"2026-08-06T16:21:09.469638240Z", "updated_at":"2026-08-06T16:21:09.469638240Z",
      "image_count":0, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"containers":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/containers?name=app-cli-t-ctnr-deploy-fp&namespace_id=ea5835fb-ec57-405f-bcde-f83845ad8a9a&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"containers":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"9ff903f6-6b51-4418-b16c-55697002e84e", "name":"app-cli-t-ctnr-deploy-fp",
      "namespace_id":"ea5835fb-ec57-405f-bcde-f83845ad8a9a", "description":"", "status":"creating",
      "created_at":"2026-08-06T16:21:21.245591Z", "updated_at":"2026-08-06T16:21:21.245591Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/app-cli-t-ctnr-deploy-fp/app-cli-t-ctnr-deploy-fp:latest",
      "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2",
      "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50},
      "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://appclitctnrdeployfpea5835fb-app-cli-t-ctnr-deploy-fp.functions.fnc.fr-par.scw.cloud",
      "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s",
      "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"9ff903f6-6b51-4418-b16c-55697002e84e", "name":"app-cli-t-ctnr-deploy-fp",
      "namespace_id":"ea5835fb-ec57-405f-bcde-f83845ad8a9a", "description":"", "status":"creating",
      "created_at":"2026-08-06T16:21:21.245591Z", "updated_at":"2026-08-06T16:21:21.245591Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/app-cli-t-ctnr-deploy-fp/app-cli-t-ctnr-deploy-fp:latest",
      "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2",
      "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50},
      "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://appclitctnrdeployfpea5835fb-app-cli-t-ctnr-deploy-fp.functions.fnc.fr-par.scw.cloud",
      "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s",
      "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"9ff903f6-6b51-4418-b16c-55697002e84e", "name":"app-cli-t-ctnr-deploy-fp",
      "namespace_id":"ea5835fb-ec57-405f-bcde-f83845ad8a9a", "description":"", "status":"creating",
      "created_at":"2026-08-06T16:21:21.245591Z", "updated_at":"2026-08-06T16:21:21.245591Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/app-cli-t-ctnr-deploy-fp/app-cli-t-ctnr-d[...]
- request:
    body: '{"id":"9ff903f6-6b51-4418-b16c-55697002e84e", "name":"app-cli-t-ctnr-deploy-fp",
      "namespace_id":"ea5835fb-ec57-405f-bcde-f83845ad8a9a", "description":"", "status":"ready",
      "error_message":"", "created_at":"2026-08-06T16:21:21.245591Z", "updated_at":"2026-08-06T16:21:31Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/app-cli-t-ctnr-deploy-fp/app-cli-t-ctnr-deploy-fp:latest",
      "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2",
      "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50},
      "t[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"ea5835fb-ec57-405f-bcde-f83845ad8a9a","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/ea5835fb-ec57-405f-bcde-f83845ad8a9a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"ea5835fb-ec57-405f-bcde-f83845ad8a9a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"id":"bc33d626-7ebd-469b-af0c-6d0d190d07a9", "name":"app-cli-t-ctnr-deploy-fp",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/app-cli-t-ctnr-deploy-fp", "is_public":false,
      "size":30441682, "created_at":"2026-08-06T16:21:09.469638Z", "updated_at":"2026-08-06T16:21:52.009500488Z",
      "image_count":1, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/bc33d626-7ebd-469b-af0c-6d0d190d07a9
    method: DELETE
  response:
    body: '{"id":"bc33d626-7ebd-469b-af0c-6d0d190d07a9", "name":"app-cli-t-ctnr-deploy-fp",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/app-cli-t-ctnr-deploy-fp", "is_public":false,
      "size":30441682, "created_at":"2026-08-06T16:21:09.469638Z", "updated_at":"2026-08-06T16:21:52.009500488Z",
      "image_count":1, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
