---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-ns-affectionate-hoover","environment_variables":null,"secret_environment_variables":null,"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"23e1eea6-a051-4d6a-bca3-d98cea7d2ad4", "name":"cli-ns-affectionate-hoover", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{}, "tags":[], "created_at":"2026-08-07T16:32:26.999520Z", "updated_at":"2026-08-07T16:32:26.999520Z", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.360046285s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/23e1eea6-a051-4d6a-bca3-d98cea7d2ad4
        method: GET
      response:
        body: '{"id":"23e1eea6-a051-4d6a-bca3-d98cea7d2ad4", "name":"cli-ns-affectionate-hoover", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{}, "tags":[], "created_at":"2026-08-07T16:32:26.999520Z", "updated_at":"2026-08-07T16:32:26.999520Z", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.311799ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"23e1eea6-a051-4d6a-bca3-d98cea7d2ad4","name":"cli-test-logs-zen-bardeen","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"hello-world:latest","protocol":"http1","port":8080,"https_connections_only":false,"sandbox":"v2","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"9321fa29-bcda-4ef7-aadd-5c5e83054c15", "name":"cli-test-logs-zen-bardeen", "namespace_id":"23e1eea6-a051-4d6a-bca3-d98cea7d2ad4", "description":"", "status":"creating", "created_at":"2026-08-07T16:32:42.435839Z", "updated_at":"2026-08-07T16:32:42.435839Z", "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000, "timeout":"300s", "privacy":"public", "image":"hello-world:latest", "protocol":"http1", "port":8080, "https_connections_only":false, "sandbox":"v2", "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50}, "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clinsaffectionatehoo23e1eea6-cli-test-logs-zen-bardeen.functions.fnc.fr-par.scw.cloud", "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s", "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.022517ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/9321fa29-bcda-4ef7-aadd-5c5e83054c15
        method: GET
      response:
        body: '{"id":"9321fa29-bcda-4ef7-aadd-5c5e83054c15", "name":"cli-test-logs-zen-bardeen", "namespace_id":"23e1eea6-a051-4d6a-bca3-d98cea7d2ad4", "description":"", "status":"creating", "created_at":"2026-08-07T16:32:42.435839Z", "updated_at":"2026-08-07T16:32:42.435839Z", "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000, "timeout":"300s", "privacy":"public", "image":"hello-world:latest", "protocol":"http1", "port":8080, "https_connections_only":false, "sandbox":"v2", "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50}, "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clinsaffectionatehoo23e1eea6-cli-test-logs-zen-bardeen.functions.fnc.fr-par.scw.cloud", "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s", "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.741702ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/9321fa29-bcda-4ef7-aadd-5c5e83054c15
        method: GET
      response:
        body: '{"id":"9321fa29-bcda-4ef7-aadd-5c5e83054c15", "name":"cli-test-logs-zen-bardeen", "namespace_id":"23e1eea6-a051-4d6a-bca3-d98cea7d2ad4", "description":"", "status":"error", "error_message":"Container is unable to start OR is not listening on port 8080", "created_at":"2026-08-07T16:32:42.435839Z", "updated_at":"2026-08-07T16:37:44Z", "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000, "timeout":"300s", "privacy":"public", "image":"hello-world:latest", "protocol":"http1", "port":8080, "https_connections_only":false, "sandbox":"v2", "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50}, "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clinsaffectionatehoo23e1eea6-cli-test-logs-zen-bardeen.functions.fnc.fr-par.scw.cloud", "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s", "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.863591ms
    - id: 26
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            origin:
                - scaleway
            page:
                - "1"
            project_id:
                - fa1e3217-dc80-42ac-85c3-3f034b78b552
            types:
                - logs
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/data-sources?order_by=created_at_asc&origin=scaleway&page=1&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&types=logs
        method: GET
      response:
        body: '{"total_count":1, "data_sources":[{"id":"70f266df-eee2-4689-9c46-3284861909c9", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"Scaleway Logs", "url":"https://70f266df-eee2-4689-9c46-3284861909c9.logs.cockpit.fr-par.scw.cloud", "type":"logs", "origin":"scaleway", "created_at":"2024-04-17T14:54:47.534704Z", "updated_at":"2024-04-17T14:54:47.534704Z", "synchronized_with_grafana":true, "retention_days":7, "current_month_usage":4874094, "region":"fr-par"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.989629ms
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-generated-for-container-logs","token_scopes":["read_only_logs"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"id":"23107361-67f4-4e1b-93e6-d7c500647a33", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-generated-for-container-logs", "created_at":"2026-08-07T16:37:58.628713Z", "updated_at":"2026-08-07T16:37:58.628713Z", "scopes":["read_only_logs"], "secret_key":"BUyDkcGnu4dLR_fWXcEOuZ4NgyXa7ChFyWxQP1N3hRgCBZvFcTXBKljJrDqb1MeU", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.361145ms
    - id: 28
      request:
        host: 70f266df-eee2-4689-9c46-3284861909c9.logs.cockpit.fr-par.scw.cloud
        form:
            end:
                - "2026-08-07T18:37:58+02:00"
            query:
                - '{resource_type="serverless_container", resource_id="9321fa29-bcda-4ef7-aadd-5c5e83054c15"}'
            start:
                - "2026-08-07T16:37:58+02:00"
        headers:
            X-Token:
                - BUyDkcGnu4dLR_fWXcEOuZ4NgyXa7ChFyWxQP1N3hRgCBZvFcTXBKljJrDqb1MeU
        url: https://70f266df-eee2-4689-9c46-3284861909c9.logs.cockpit.fr-par.scw.cloud/loki/api/v1/query_range?end=2026-08-07T18%3A37%3A58%2B02%3A00&query=%7Bresource_type%3D%22serverless_container%22%2C+resource_id%3D%229321fa29-bcda-4ef7-aadd-5c5e83054c15%22%7D&start=2026-08-07T16%3A37%3A58%2B02%3A00
        method: GET
      response:
        body: |
            {"status":"success","data":{"resultType":"streams","result":[{"stream":{"detected_level":"unknown","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_name":"default","region":"fr-par","resource_id":"9321fa29-bcda-4ef7-aadd-5c5e83054c15","resource_name":"clinsaffectionatehoo23e1eea6-cli-test-logs-zen-bardeen","resource_type":"serverless_container","service_name":"serverless_container"},"values":[["1786120542192012312","{\"resource_instance\":\"clinsaffectionatehoo27be6a9847fd7f839151fe627966d752-deplog5zvk\",\"stream\":\"stdout\",\"message\":\"\"}"],["1786120542192009742","{\"resource_instance\":\"clinsaffectionatehoo27be6a9847fd7f839151fe627966d752-deplog5zvk\",\"stream\":\"stdout\",\"message\":\" https://docs.docker.com/get-started/\"}"],["1786120542192006842","{\"resource_instance\":\"clinsaffectionatehoo27be6a9847fd7f839151fe627966d752-deplog5zvk\",\"stream\":\"stdout\",\"message\":\"For more examples and ideas, visit:\"}"],["1786120542192002822","{\"resource_instance\":\"clinsaffectionatehoo27be6a9847fd7f839151fe627966d752-depl[...]
    - id: 29
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/cockpit/v1/regions/fr-par/tokens/23107361-67f4-4e1b-93e6-d7c500647a33
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 55.441484ms
[...]
