---
version: 1
interactions:
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-s&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"167479bd-5c8f-4009-84ab-f5e201e14a19", "name":"cli-t-ctnr-deploy-s",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-06T13:10:16.309471Z", "updated_at":"2026-08-06T13:10:16.309471Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"167479bd-5c8f-4009-84ab-f5e201e14a19", "name":"cli-t-ctnr-deploy-s",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-06T13:10:16.309471Z", "updated_at":"2026-08-06T13:10:16.309471Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"167479bd-5c8f-4009-84ab-f5e201e14a19", "name":"cli-t-ctnr-deploy-s",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-06T13:10:16.309471Z", "updated_at":"2026-08-06T13:10:16.309471Z",
      "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/167479bd-5c8f-4009-84ab-f5e201e14a19
    method: GET
  response:
    body: '{"id":"167479bd-5c8f-4009-84ab-f5e201e14a19", "name":"cli-t-ctnr-deploy-s",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{},
      "tags":[], "created_at":"2026-08-06T13:10:16.309471Z", "updated_at":"2026-08-06T13:10:16.309471Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-s&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"b69b2588-08e8-4e51-ba67-dacd3e9f0929", "name":"cli-t-ctnr-deploy-s",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s", "is_public":false, "size":0,
      "created_at":"2026-08-06T13:10:32.758333594Z", "updated_at":"2026-08-06T13:10:32.758333594Z",
      "image_count":0, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"b69b2588-08e8-4e51-ba67-dacd3e9f0929", "name":"cli-t-ctnr-deploy-s",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s", "is_public":false, "size":0,
      "created_at":"2026-08-06T13:10:32.758333594Z", "updated_at":"2026-08-06T13:10:32.758333594Z",
      "image_count":0, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: http://%2Fvar%2Frun%2Fdocker.sock/_ping
    method: HEAD
  response:
    body: ""
    headers:
      Api-Version:
      - "1.55"
      Builder-Version:
      - "2"
      Content-Type:
      - text/plain; charset=utf-8
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
      Swarm:
      - inactive
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\"stream\":\"Step 1/4 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e 4a73073bd557\\n\"}\r\n{\"stream\":\"Step 2/4 : RUN apk add --no-cache
      curl git bash\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e 9c526d9e736a\\n\"}\r\n{\"stream\":\"Step
      3/4 : COPY ./index.html /usr/share/nginx/html/index.html\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e 810848a59477\\n\"}\r\n{\"stream\":\"Step
      4/4 : EXPOSE 80\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e 731cf8bf6cc5\\n\"}\r\n{\"aux\":{\"ID\":\"sha256:731cf8bf6cc5970450825e3ed13934310f319c3e9c0cc41a08fd4058e8675071\"}}\r\n{\"stream\":\"Successfully
      built 731cf8bf6cc5\\n\"}\r\n{\"stream\":\"Successfully tagged rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s:latest\\n\"}\r\n"
    form: {}
    headers:
      Content-Type:
      - application/x-tar
      X-Registry-Config:
      - bnVsbA==
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.55/build?dockerfile=Dockerfile&rm=0&t=rg.fr-par.scw.cloud%2Fcli-t-ctnr-deploy-s%2Fcli-t-ctnr-deploy-s%3Alatest
    method: POST
  response:
    body: "{\"stream\":\"Step 1/4 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e 4a73073bd557\\n\"}\r\n{\"stream\":\"Step 2/4 : RUN apk add --no-cache
      curl git bash\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e 9c526d9e736a\\n\"}\r\n{\"stream\":\"Step
      3/4 : COPY ./index.html /usr/share/nginx/html/index.html\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e 810848a59477\\n\"}\r\n{\"stream\":\"Step
      4/4 : EXPOSE 80\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e 731cf8bf6cc5\\n\"}\r\n{\"aux\":{\"ID\":\"sha256:731cf8bf6cc5970450825e3ed13934310f319c3e9c0cc41a08fd4058e8675071\"}}\r\n{\"stream\":\"Successfully
      built 731cf8bf6cc5\\n\"}\r\n{\"stream\":\"Successfully tagged rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s:latest\\n\"}\r\n"
    headers:
      Api-Version:
      - "1.55"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\"status\":\"The push refers to repository [rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s]\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"4cff946977b9\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"d0e9565ba4ff\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"977aedb192ad\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"bf67ed63a708\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"5de55e5ef9c0\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"7b1fb50ff9dc\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"e1f13a453c9d\"}\r\n{\"status\":\"Waiting\",\[...]
- request:
    body: '{"containers":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/containers?name=cli-t-ctnr-deploy-s&namespace_id=167479bd-5c8f-4009-84ab-f5e201e14a19&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"containers":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"fee3f784-9688-4c33-a2db-12f61d965734", "name":"cli-t-ctnr-deploy-s",
      "namespace_id":"167479bd-5c8f-4009-84ab-f5e201e14a19", "description":"", "status":"creating",
      "created_at":"2026-08-06T13:10:48.206564Z", "updated_at":"2026-08-06T13:10:48.206564Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s:latest",
      "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2",
      "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50},
      "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clitctnrdeploys167479bd-cli-t-ctnr-deploy-s.functions.fnc.fr-par.scw.cloud",
      "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s",
      "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"fee3f784-9688-4c33-a2db-12f61d965734", "name":"cli-t-ctnr-deploy-s",
      "namespace_id":"167479bd-5c8f-4009-84ab-f5e201e14a19", "description":"", "status":"creating",
      "created_at":"2026-08-06T13:10:48.206564Z", "updated_at":"2026-08-06T13:10:48.206564Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s:latest",
      "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v2",
      "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50},
      "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://clitctnrdeploys167479bd-cli-t-ctnr-deploy-s.functions.fnc.fr-par.scw.cloud",
      "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s",
      "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"fee3f784-9688-4c33-a2db-12f61d965734", "name":"cli-t-ctnr-deploy-s",
      "namespace_id":"167479bd-5c8f-4009-84ab-f5e201e14a19", "description":"", "status":"creating",
      "created_at":"2026-08-06T13:10:48.206564Z", "updated_at":"2026-08-06T13:10:48.206564Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"public", "image":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s/cli-t-ctnr-deploy-s:latest[...]
- request:
    body: '{"id":"fee3f784-9688-4c33-a2db-12f61d965734", "name":"cli-t-ctnr-deploy-s",
      "namespace_id":"167479bd-5c8f-4009-84ab-f5e201e14a19", "description":"", "status":"error",
      "error_message":"Invalid Image architecture. Serverless Containers only support
      the amd64 architecture, but the image was built for the following architectures:
      arm64. Please rebuild the image for the correct architecture using the `--platform=linux/amd64`
      Docker build argument.", "created_at":"2026-08-06T13:10:48.206564Z", "updated_at":"2026-08-06T13:10:48.761374Z",
      "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000,
      "timeout":"300s", "privacy":"publ[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"167479bd-5c8f-4009-84ab-f5e201e14a19","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/167479bd-5c8f-4009-84ab-f5e201e14a19
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"167479bd-5c8f-4009-84ab-f5e201e14a19","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"id":"b69b2588-08e8-4e51-ba67-dacd3e9f0929", "name":"cli-t-ctnr-deploy-s",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s", "is_public":false, "size":30474059,
      "created_at":"2026-08-06T13:10:32.758334Z", "updated_at":"2026-08-06T13:11:19.455301439Z",
      "image_count":1, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/b69b2588-08e8-4e51-ba67-dacd3e9f0929
    method: DELETE
  response:
    body: '{"id":"b69b2588-08e8-4e51-ba67-dacd3e9f0929", "name":"cli-t-ctnr-deploy-s",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-t-ctnr-deploy-s", "is_public":false, "size":30474059,
      "created_at":"2026-08-06T13:10:32.758334Z", "updated_at":"2026-08-06T13:11:19.455301439Z",
      "image_count":1, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
