---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"c6321444-4d2f-47ad-a93a-074f14df83d8", "name":"cli-vol-jovial-merkle", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:27.163848Z", "updated_at":"2025-07-22T15:54:27.163848Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"c6321444-4d2f-47ad-a93a-074f14df83d8", "name":"cli-vol-jovial-merkle", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:27.163848Z", "updated_at":"2025-07-22T15:54:27.163848Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 659.265576ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"c6321444-4d2f-47ad-a93a-074f14df83d8", "name":"cli-vol-jovial-merkle", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:27.163848Z", "updated_at":"2025-07-22T15:54:27.163848Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/c6321444-4d2f-47ad-a93a-074f14df83d8
        method: GET
      response:
        body: '{"id":"c6321444-4d2f-47ad-a93a-074f14df83d8", "name":"cli-vol-jovial-merkle", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:27.163848Z", "updated_at":"2025-07-22T15:54:27.163848Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.541868ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"id":"36e7bb66-d284-4d7e-bbd6-bc208cfcde29", "name":"cli-snp-nostalgic-bouman", "parent_volume":{"id":"c6321444-4d2f-47ad-a93a-074f14df83d8", "name":"cli-vol-jovial-merkle", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:32.460924Z", "updated_at":"2025-07-22T15:54:32.460924Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"36e7bb66-d284-4d7e-bbd6-bc208cfcde29", "name":"cli-snp-nostalgic-bouman", "parent_volume":{"id":"c6321444-4d2f-47ad-a93a-074f14df83d8", "name":"cli-vol-jovial-merkle", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:32.460924Z", "updated_at":"2025-07-22T15:54:32.460924Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 613.606621ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"id":"36e7bb66-d284-4d7e-bbd6-bc208cfcde29", "name":"cli-snp-nostalgic-bouman", "parent_volume":{"id":"c6321444-4d2f-47ad-a93a-074f14df83d8", "name":"cli-vol-jovial-merkle", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:32.460924Z", "updated_at":"2025-07-22T15:54:32.460924Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/36e7bb66-d284-4d7e-bbd6-bc208cfcde29
        method: GET
      response:
        body: '{"id":"36e7bb66-d284-4d7e-bbd6-bc208cfcde29", "name":"cli-snp-nostalgic-bouman", "parent_volume":{"id":"c6321444-4d2f-47ad-a93a-074f14df83d8", "name":"cli-vol-jovial-merkle", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:32.460924Z", "updated_at":"2025-07-22T15:54:32.460924Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 355.289931ms
[...]
