---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"6459e726-5612-471d-aebd-cf21a7a18a33", "name":"cli-vol-heuristic-heisenberg", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:38.903931Z", "updated_at":"2025-07-22T15:54:38.903931Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"6459e726-5612-471d-aebd-cf21a7a18a33", "name":"cli-vol-heuristic-heisenberg", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:38.903931Z", "updated_at":"2025-07-22T15:54:38.903931Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.843419ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"6459e726-5612-471d-aebd-cf21a7a18a33", "name":"cli-vol-heuristic-heisenberg", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:38.903931Z", "updated_at":"2025-07-22T15:54:38.903931Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/6459e726-5612-471d-aebd-cf21a7a18a33
        method: GET
      response:
        body: '{"id":"6459e726-5612-471d-aebd-cf21a7a18a33", "name":"cli-vol-heuristic-heisenberg", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:38.903931Z", "updated_at":"2025-07-22T15:54:38.903931Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.770226ms
[...]
