---
version: 1
interactions:
- request:
    body: '{"name":"cli-vol-eloquent-turing","perf_iops":5000,"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","from_empty":{"size":20000000000},"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"id":"8652ddc1-0fde-47a3-93d8-777f6d2c1957","name":"cli-vol-eloquent-turing","type":"sbs_5k","size":20000000000,"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-10-07T07:30:40.895145Z","updated_at":"2026-10-07T07:30:40.895145Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "49"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/8652ddc1-0fde-47a3-93d8-777f6d2c1957
    method: GET
  response:
    body: '{"id":"8652ddc1-0fde-47a3-93d8-777f6d2c1957","name":"cli-vol-eloquent-turing","type":"sbs_5k","size":20000000000,"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-10-07T07:30:40.895145Z","updated_at":"2026-10-07T07:30:40.895145Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "49"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"volume_id":"8652ddc1-0fde-47a3-93d8-777f6d2c1957","name":"cli-snp-festive-kare","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"id":"3d724360-a2a1-43fa-a700-d56b3e80e766","name":"cli-snp-festive-kare","parent_volume":{"id":"8652ddc1-0fde-47a3-93d8-777f6d2c1957","name":"cli-vol-eloquent-turing","type":"sbs_5k","status":"available"},"size":20000000000,"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-10-07T07:30:46.115964Z","updated_at":"2026-10-07T07:30:46.115964Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "49"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/3d724360-a2a1-43fa-a700-d56b3e80e766
    method: GET
  response:
    body: '{"id":"3d724360-a2a1-43fa-a700-d56b3e80e766","name":"cli-snp-festive-kare","parent_volume":{"id":"8652ddc1-0fde-47a3-93d8-777f6d2c1957","name":"cli-vol-eloquent-turing","type":"sbs_5k","status":"available"},"size":20000000000,"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-10-07T07:30:46.115964Z","updated_at":"2026-10-07T07:30:46.115964Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "48"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
