---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"8b9af4b7-bfa5-449f-a794-a9067735a016", "name":"cli-vol-vigilant-yonath", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:27.169415Z", "updated_at":"2025-07-22T15:54:27.169415Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"8b9af4b7-bfa5-449f-a794-a9067735a016", "name":"cli-vol-vigilant-yonath", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:27.169415Z", "updated_at":"2025-07-22T15:54:27.169415Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 749.011392ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"8b9af4b7-bfa5-449f-a794-a9067735a016", "name":"cli-vol-vigilant-yonath", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:27.169415Z", "updated_at":"2025-07-22T15:54:27.169415Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/8b9af4b7-bfa5-449f-a794-a9067735a016
        method: GET
      response:
        body: '{"id":"8b9af4b7-bfa5-449f-a794-a9067735a016", "name":"cli-vol-vigilant-yonath", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:27.169415Z", "updated_at":"2025-07-22T15:54:27.169415Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.471797ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"id":"3bf40496-f7df-4c5c-90bc-afc4d211a21d", "name":"cli-snp-cranky-perlman", "parent_volume":{"id":"8b9af4b7-bfa5-449f-a794-a9067735a016", "name":"cli-vol-vigilant-yonath", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:32.508298Z", "updated_at":"2025-07-22T15:54:32.508298Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"3bf40496-f7df-4c5c-90bc-afc4d211a21d", "name":"cli-snp-cranky-perlman", "parent_volume":{"id":"8b9af4b7-bfa5-449f-a794-a9067735a016", "name":"cli-vol-vigilant-yonath", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:32.508298Z", "updated_at":"2025-07-22T15:54:32.508298Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 503.914234ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"id":"3bf40496-f7df-4c5c-90bc-afc4d211a21d", "name":"cli-snp-cranky-perlman", "parent_volume":{"id":"8b9af4b7-bfa5-449f-a794-a9067735a016", "name":"cli-vol-vigilant-yonath", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:32.508298Z", "updated_at":"2025-07-22T15:54:32.508298Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/3bf40496-f7df-4c5c-90bc-afc4d211a21d
        method: GET
      response:
        body: '{"id":"3bf40496-f7df-4c5c-90bc-afc4d211a21d", "name":"cli-snp-cranky-perlman", "parent_volume":{"id":"8b9af4b7-bfa5-449f-a794-a9067735a016", "name":"cli-vol-vigilant-yonath", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:32.508298Z", "updated_at":"2025-07-22T15:54:32.508298Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 279.229721ms
[...]
