---
version: 1
interactions:
- request:
    body: '{"name":"cli-vol-reverent-pascal","perf_iops":5000,"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","from_empty":{"size":20000000000},"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"id":"6fe45cd1-e040-4eba-b164-9b4fcd2c4ce9","name":"cli-vol-reverent-pascal","type":"sbs_5k","size":20000000000,"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-10-07T07:30:51.451496Z","updated_at":"2026-10-07T07:30:51.451496Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "49"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/6fe45cd1-e040-4eba-b164-9b4fcd2c4ce9
    method: GET
  response:
    body: '{"id":"6fe45cd1-e040-4eba-b164-9b4fcd2c4ce9","name":"cli-vol-reverent-pascal","type":"sbs_5k","size":20000000000,"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-10-07T07:30:51.451496Z","updated_at":"2026-10-07T07:30:51.451496Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "46"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"volume_id":"6fe45cd1-e040-4eba-b164-9b4fcd2c4ce9","name":"cli-snp-angry-grothendieck","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"id":"1f3733f9-b4ac-4a1e-b5a3-78576a5ac4da","name":"cli-snp-angry-grothendieck","parent_volume":{"id":"6fe45cd1-e040-4eba-b164-9b4fcd2c4ce9","name":"cli-vol-reverent-pascal","type":"sbs_5k","status":"available"},"size":20000000000,"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-10-07T07:30:56.675496Z","updated_at":"2026-10-07T07:30:56.675496Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "48"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/1f3733f9-b4ac-4a1e-b5a3-78576a5ac4da
    method: GET
  response:
    body: '{"id":"1f3733f9-b4ac-4a1e-b5a3-78576a5ac4da","name":"cli-snp-angry-grothendieck","parent_volume":{"id":"6fe45cd1-e040-4eba-b164-9b4fcd2c4ce9","name":"cli-vol-reverent-pascal","type":"sbs_5k","status":"available"},"size":20000000000,"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-10-07T07:30:56.675496Z","updated_at":"2026-10-07T07:30:56.675496Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "49"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
