---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-vol-musing-elbakyan","perf_iops":5000,"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","from_empty":{"size":20000000000},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"9469e1a0-ee73-42eb-ade3-eddc3b337bac","name":"cli-vol-musing-elbakyan","type":"sbs_5k","size":20000000000,"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-09-24T09:36:53.195933Z","updated_at":"2026-09-24T09:36:53.195933Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 150.74998ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/9469e1a0-ee73-42eb-ade3-eddc3b337bac
        method: GET
      response:
        body: '{"id":"9469e1a0-ee73-42eb-ade3-eddc3b337bac","name":"cli-vol-musing-elbakyan","type":"sbs_5k","size":20000000000,"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-09-24T09:36:53.195933Z","updated_at":"2026-09-24T09:36:53.195933Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 70.623562ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"volume_id":"9469e1a0-ee73-42eb-ade3-eddc3b337bac","name":"cli-snp-hungry-greider","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"d8d0ce4e-78d3-48d1-9a09-5c6dc70d4f4d","name":"cli-snp-hungry-greider","parent_volume":{"id":"9469e1a0-ee73-42eb-ade3-eddc3b337bac","name":"cli-vol-musing-elbakyan","type":"sbs_5k","status":"available"},"size":20000000000,"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-09-24T09:36:58.493711Z","updated_at":"2026-09-24T09:36:58.493711Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 180.550672ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/d8d0ce4e-78d3-48d1-9a09-5c6dc70d4f4d
        method: GET
      response:
        body: '{"id":"d8d0ce4e-78d3-48d1-9a09-5c6dc70d4f4d","name":"cli-snp-hungry-greider","parent_volume":{"id":"9469e1a0-ee73-42eb-ade3-eddc3b337bac","name":"cli-vol-musing-elbakyan","type":"sbs_5k","status":"available"},"size":20000000000,"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-09-24T09:36:58.493711Z","updated_at":"2026-09-24T09:36:58.493711Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 54.063847ms
[...]
