---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"44928842-d62c-4046-85de-09249e6ceaa4", "name":"cli-vol-wizardly-solomon", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:38.963331Z", "updated_at":"2025-07-22T15:54:38.963331Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"44928842-d62c-4046-85de-09249e6ceaa4", "name":"cli-vol-wizardly-solomon", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:38.963331Z", "updated_at":"2025-07-22T15:54:38.963331Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 239.50112ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"44928842-d62c-4046-85de-09249e6ceaa4", "name":"cli-vol-wizardly-solomon", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:38.963331Z", "updated_at":"2025-07-22T15:54:38.963331Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/44928842-d62c-4046-85de-09249e6ceaa4
        method: GET
      response:
        body: '{"id":"44928842-d62c-4046-85de-09249e6ceaa4", "name":"cli-vol-wizardly-solomon", "type":"sbs_5k", "size":20000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:38.963331Z", "updated_at":"2025-07-22T15:54:38.963331Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.681162ms
[...]
