---
version: 1
interactions:
- request:
    body: '{"id":"e09f17d5-7486-4750-b91a-3be27feab133", "name":"cli-vol-optimistic-northcutt",
      "type":"sbs_5k", "size":20000000000, "project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "created_at":"2025-01-21T14:47:52.927439Z", "updated_at":"2025-01-21T14:47:52.927439Z",
      "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[],
      "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"id":"e09f17d5-7486-4750-b91a-3be27feab133", "name":"cli-vol-optimistic-northcutt",
      "type":"sbs_5k", "size":20000000000, "project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "created_at":"2025-01-21T14:47:52.927439Z", "updated_at":"2025-01-21T14:47:52.927439Z",
      "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[],
      "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"e09f17d5-7486-4750-b91a-3be27feab133", "name":"cli-vol-optimistic-northcutt",
      "type":"sbs_5k", "size":20000000000, "project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "created_at":"2025-01-21T14:47:52.927439Z", "updated_at":"2025-01-21T14:47:52.927439Z",
      "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[],
      "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/e09f17d5-7486-4750-b91a-3be27feab133
    method: GET
  response:
    body: '{"id":"e09f17d5-7486-4750-b91a-3be27feab133", "name":"cli-vol-optimistic-northcutt",
      "type":"sbs_5k", "size":20000000000, "project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "created_at":"2025-01-21T14:47:52.927439Z", "updated_at":"2025-01-21T14:47:52.927439Z",
      "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[],
      "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
