---
version: 1
interactions:
- request:
    body: '{"id":"6df15b31-60c4-40d7-8998-6eecae898290", "name":"cli-vol-lucid-fermi",
      "type":"sbs_5k", "size":20000000000, "project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "created_at":"2025-01-21T15:00:23.642644Z", "updated_at":"2025-01-21T15:00:23.642644Z",
      "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[],
      "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"id":"6df15b31-60c4-40d7-8998-6eecae898290", "name":"cli-vol-lucid-fermi",
      "type":"sbs_5k", "size":20000000000, "project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "created_at":"2025-01-21T15:00:23.642644Z", "updated_at":"2025-01-21T15:00:23.642644Z",
      "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[],
      "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"6df15b31-60c4-40d7-8998-6eecae898290", "name":"cli-vol-lucid-fermi",
      "type":"sbs_5k", "size":20000000000, "project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "created_at":"2025-01-21T15:00:23.642644Z", "updated_at":"2025-01-21T15:00:23.642644Z",
      "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[],
      "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/6df15b31-60c4-40d7-8998-6eecae898290
    method: GET
  response:
    body: '{"id":"6df15b31-60c4-40d7-8998-6eecae898290", "name":"cli-vol-lucid-fermi",
      "type":"sbs_5k", "size":20000000000, "project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "created_at":"2025-01-21T15:00:23.642644Z", "updated_at":"2025-01-21T15:00:23.642644Z",
      "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[],
      "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"b1abe56e-aeec-4fc2-86d9-70899e742a9d", "name":"cli-snp-wizardly-blackwell",
      "parent_volume":{"id":"6df15b31-60c4-40d7-8998-6eecae898290", "name":"cli-vol-lucid-fermi",
      "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "created_at":"2025-01-21T15:00:28.960512Z", "updated_at":"2025-01-21T15:00:28.960512Z",
      "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"id":"b1abe56e-aeec-4fc2-86d9-70899e742a9d", "name":"cli-snp-wizardly-blackwell",
      "parent_volume":{"id":"6df15b31-60c4-40d7-8998-6eecae898290", "name":"cli-vol-lucid-fermi",
      "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "created_at":"2025-01-21T15:00:28.960512Z", "updated_at":"2025-01-21T15:00:28.960512Z",
      "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"b1abe56e-aeec-4fc2-86d9-70899e742a9d", "name":"cli-snp-wizardly-blackwell",
      "parent_volume":{"id":"6df15b31-60c4-40d7-8998-6eecae898290", "name":"cli-vol-lucid-fermi",
      "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "created_at":"2025-01-21T15:00:28.960512Z", "updated_at":"2025-01-21T15:00:28.960512Z",
      "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/b1abe56e-aeec-4fc2-86d9-70899e742a9d
    method: GET
  response:
    body: '{"id":"b1abe56e-aeec-4fc2-86d9-70899e742a9d", "name":"cli-snp-wizardly-blackwell",
      "parent_volume":{"id":"6df15b31-60c4-40d7-8998-6eecae898290", "name":"cli-vol-lucid-fermi",
      "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "created_at":"2025-01-21T15:00:28.960512Z", "updated_at":"2025-01-21T15:00:28.960512Z",
      "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
