---
version: 1
interactions:
- request:
    body: '{"id":"dba8cdf8-4d13-4456-acdf-d0637d5a8f50", "name":"cli-vol-bold-morse",
      "type":"sbs_5k", "size":20000000000, "project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "created_at":"2025-01-21T14:58:43.391757Z", "updated_at":"2025-01-21T14:58:43.391757Z",
      "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[],
      "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"id":"dba8cdf8-4d13-4456-acdf-d0637d5a8f50", "name":"cli-vol-bold-morse",
      "type":"sbs_5k", "size":20000000000, "project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "created_at":"2025-01-21T14:58:43.391757Z", "updated_at":"2025-01-21T14:58:43.391757Z",
      "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[],
      "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"dba8cdf8-4d13-4456-acdf-d0637d5a8f50", "name":"cli-vol-bold-morse",
      "type":"sbs_5k", "size":20000000000, "project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "created_at":"2025-01-21T14:58:43.391757Z", "updated_at":"2025-01-21T14:58:43.391757Z",
      "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[],
      "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/dba8cdf8-4d13-4456-acdf-d0637d5a8f50
    method: GET
  response:
    body: '{"id":"dba8cdf8-4d13-4456-acdf-d0637d5a8f50", "name":"cli-vol-bold-morse",
      "type":"sbs_5k", "size":20000000000, "project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "created_at":"2025-01-21T14:58:43.391757Z", "updated_at":"2025-01-21T14:58:43.391757Z",
      "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[],
      "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"c15492e2-fc63-4cc5-8b8f-de07eedfc1de", "name":"cli-snp-serene-wu",
      "parent_volume":{"id":"dba8cdf8-4d13-4456-acdf-d0637d5a8f50", "name":"cli-vol-bold-morse",
      "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "created_at":"2025-01-21T14:58:48.658546Z", "updated_at":"2025-01-21T14:58:48.658546Z",
      "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"id":"c15492e2-fc63-4cc5-8b8f-de07eedfc1de", "name":"cli-snp-serene-wu",
      "parent_volume":{"id":"dba8cdf8-4d13-4456-acdf-d0637d5a8f50", "name":"cli-vol-bold-morse",
      "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "created_at":"2025-01-21T14:58:48.658546Z", "updated_at":"2025-01-21T14:58:48.658546Z",
      "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"c15492e2-fc63-4cc5-8b8f-de07eedfc1de", "name":"cli-snp-serene-wu",
      "parent_volume":{"id":"dba8cdf8-4d13-4456-acdf-d0637d5a8f50", "name":"cli-vol-bold-morse",
      "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "created_at":"2025-01-21T14:58:48.658546Z", "updated_at":"2025-01-21T14:58:48.658546Z",
      "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/c15492e2-fc63-4cc5-8b8f-de07eedfc1de
    method: GET
  response:
    body: '{"id":"c15492e2-fc63-4cc5-8b8f-de07eedfc1de", "name":"cli-snp-serene-wu",
      "parent_volume":{"id":"dba8cdf8-4d13-4456-acdf-d0637d5a8f50", "name":"cli-vol-bold-morse",
      "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "created_at":"2025-01-21T14:58:48.658546Z", "updated_at":"2025-01-21T14:58:48.658546Z",
      "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
