---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-vol-eloquent-bouman","perf_iops":5000,"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","from_empty":{"size":20000000000},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"cf54724a-5cf2-464c-b9ed-1bf18f5d0de1","name":"cli-vol-eloquent-bouman","type":"sbs_5k","size":20000000000,"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-09-24T09:36:42.554928Z","updated_at":"2026-09-24T09:36:42.554928Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 147.410771ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/cf54724a-5cf2-464c-b9ed-1bf18f5d0de1
        method: GET
      response:
        body: '{"id":"cf54724a-5cf2-464c-b9ed-1bf18f5d0de1","name":"cli-vol-eloquent-bouman","type":"sbs_5k","size":20000000000,"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-09-24T09:36:42.554928Z","updated_at":"2026-09-24T09:36:42.554928Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 42.258688ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"volume_id":"cf54724a-5cf2-464c-b9ed-1bf18f5d0de1","name":"cli-snp-affectionate-tharp","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"81746523-9611-41f3-842f-24691596eb62","name":"cli-snp-affectionate-tharp","parent_volume":{"id":"cf54724a-5cf2-464c-b9ed-1bf18f5d0de1","name":"cli-vol-eloquent-bouman","type":"sbs_5k","status":"available"},"size":20000000000,"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-09-24T09:36:47.761298Z","updated_at":"2026-09-24T09:36:47.761298Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 131.161864ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/81746523-9611-41f3-842f-24691596eb62
        method: GET
      response:
        body: '{"id":"81746523-9611-41f3-842f-24691596eb62","name":"cli-snp-affectionate-tharp","parent_volume":{"id":"cf54724a-5cf2-464c-b9ed-1bf18f5d0de1","name":"cli-vol-eloquent-bouman","type":"sbs_5k","status":"available"},"size":20000000000,"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-09-24T09:36:47.761298Z","updated_at":"2026-09-24T09:36:47.761298Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 47.663959ms
[...]
