---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"versions":[{"version":"7.0.21", "end_of_life_at":"2026-01-02T15:04:05Z", "available_settings":[]}, {"version":"7.0.12", "end_of_life_at":"2026-01-02T15:04:05Z", "available_settings":[]}], "total_count":2}'
        form: {}
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"version":"7.0.21", "end_of_life_at":"2026-01-02T15:04:05Z", "available_settings":[]}, {"version":"7.0.12", "end_of_life_at":"2026-01-02T15:04:05Z", "available_settings":[]}], "total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 618.665186ms
