---
version: 1
interactions:
- request:
    body: '{"versions":[{"version":"7.0.12", "end_of_life_at":"2026-01-02T15:04:05Z",
      "available_settings":[]}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"version":"7.0.12", "end_of_life_at":"2026-01-02T15:04:05Z",
      "available_settings":[]}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
