---
version: 1
interactions:
- request:
    body: '{"access_key":"SCWHJNSK2028RFV4SE6K","secret_key":null,"description":"lmarabese
      IAM API key","created_at":"2023-02-07T12:50:30.653520Z","updated_at":"2023-02-07T12:50:30.653520Z","expires_at":null,"default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","editable":true,"creation_ip":"51.159.46.153","user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: '{"access_key":"SCWHJNSK2028RFV4SE6K","secret_key":null,"description":"lmarabese
      IAM API key","created_at":"2023-02-07T12:50:30.653520Z","updated_at":"2023-02-07T12:50:30.653520Z","expires_at":null,"default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","editable":true,"creation_ip":"51.159.46.153","user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
