---
version: 1
interactions:
- request:
    body: '{"access_key":"SCW7DJXHG04SGMT342RA", "secret_key":null, "description":"Generated
      by the Scaleway CLI", "created_at":"2025-06-27T14:00:16.810892Z", "updated_at":"2025-06-27T14:00:16.810892Z",
      "expires_at":null, "default_project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"130.180.219.188",
      "user_id":"4fcf3b56-3e90-4461-8198-dcf85c2699d6"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW7DJXHG04SGMT342RA
    method: GET
  response:
    body: '{"access_key":"SCW7DJXHG04SGMT342RA", "secret_key":null, "description":"Generated
      by the Scaleway CLI", "created_at":"2025-06-27T14:00:16.810892Z", "updated_at":"2025-06-27T14:00:16.810892Z",
      "expires_at":null, "default_project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"130.180.219.188",
      "user_id":"4fcf3b56-3e90-4461-8198-dcf85c2699d6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
