---
version: 1
interactions:
- request:
    body: '{"access_key":"SCWT1QDH37HKCW326MN4", "secret_key":null, "description":"",
      "created_at":"2025-02-04T09:54:24.943193Z", "updated_at":"2025-02-04T09:54:24.943193Z",
      "expires_at":null, "default_project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153",
      "user_id":"c6d30243-8c79-4999-867f-e901e6f498e7"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWT1QDH37HKCW326MN4
    method: GET
  response:
    body: '{"access_key":"SCWT1QDH37HKCW326MN4", "secret_key":null, "description":"",
      "created_at":"2025-02-04T09:54:24.943193Z", "updated_at":"2025-02-04T09:54:24.943193Z",
      "expires_at":null, "default_project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153",
      "user_id":"c6d30243-8c79-4999-867f-e901e6f498e7"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
