---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"version":"8.0.32","end_of_life_at":"2029-10-31T00:00:00Z","available_settings":[]},{"version":"8.0.29","end_of_life_at":"2029-10-31T00:00:00Z","available_settings":[]},{"version":"8.0.26","end_of_life_at":"2029-10-31T00:00:00Z","available_settings":[]},{"version":"7.0.43","end_of_life_at":"2027-08-31T00:00:00Z","available_settings":[]},{"version":"7.0.40","end_of_life_at":"2027-08-31T00:00:00Z","available_settings":[]},{"version":"7.0.37","end_of_life_at":"2027-08-31T00:00:00Z","available_settings":[]},{"version":"7.0.34","end_of_life_at":"2027-08-31T00:00:00Z","available_settings":[]},{"version":"7.0.30","end_of_life_at":"2027-08-31T00:00:00Z","available_settings":[]},{"version":"7.0.28","end_of_life_at":"2027-08-31T00:00:00Z","available_settings":[]},{"version":"7.0.21","end_of_life_at":"2027-08-31T00:00:00Z","available_settings":[]},{"version":"7.0.12","end_of_life_at":"2027-08-31T00:00:00Z","available_settings":[]}],"total_count":11}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 177.496592ms
