---
version: 1
interactions:
- request:
    body: '{"versions":[{"version":"8.0.26","end_of_life_at":"2029-10-31T00:00:00Z","available_settings":[]},{"version":"7.0.37","end_of_life_at":"2027-08-31T00:00:00Z","available_settings":[]},{"version":"7.0.34","end_of_life_at":"2027-08-31T00:00:00Z","available_settings":[]},{"version":"7.0.30","end_of_life_at":"2027-08-31T00:00:00Z","available_settings":[]},{"version":"7.0.28","end_of_life_at":"2027-08-31T00:00:00Z","available_settings":[]},{"version":"7.0.21","end_of_life_at":"2027-08-31T00:00:00Z","available_settings":[]},{"version":"7.0.12","end_of_life_at":"2027-08-31T00:00:00Z","available_settings":[]}],"total_count":7}'
    form: {}
    headers:
    url: https://api.scaleway.com/mongodb/v1alpha1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"version":"8.0.26","end_of_life_at":"2029-10-31T00:00:00Z","available_settings":[]},{"version":"7.0.37","end_of_life_at":"2027-08-31T00:00:00Z","available_settings":[]},{"version":"7.0.34","end_of_life_at":"2027-08-31T00:00:00Z","available_settings":[]},{"version":"7.0.30","end_of_life_at":"2027-08-31T00:00:00Z","available_settings":[]},{"version":"7.0.28","end_of_life_at":"2027-08-31T00:00:00Z","available_settings":[]},{"version":"7.0.21","end_of_life_at":"2027-08-31T00:00:00Z","available_settings":[]},{"version":"7.0.12","end_of_life_at":"2027-08-31T00:00:00Z","available_settings":[]}],"total_count":7}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
