---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWPAXSFMY8TSNBBBDJV
    method: GET
  response:
    body: '{"access_key":"SCWPAXSFMY8TSNBBBDJV","secret_key":null,"description":"2026-05-06,
      test \"backend s3\"","created_at":"2026-05-06T14:00:26.793493Z","updated_at":"2026-05-06T14:00:26.793493Z","expires_at":null,"default_project_id":"4d333544-41be-4b0b-8907-0b9036859747","editable":true,"deletable":true,"managed":false,"creation_ip":"51.159.73.145","user_id":"91a93231-b51f-40ba-ab24-e6eecf7318de"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "49"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/metadata
    method: GET
  response:
    body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "48"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
