---
version: 1
interactions:
- request:
    body: '{"access_key":"SCWW672KA1GMSPSVFRFN","secret_key":null,"description":"my-key","created_at":"2026-04-01T16:22:34.237139Z","updated_at":"2026-04-01T16:22:34.237139Z","expires_at":"2026-04-01T17:22:34.084Z","default_project_id":"986b6f8e-795e-4de3-8a2a-a4170d8ed258","editable":true,"deletable":true,"managed":false,"creation_ip":"51.159.73.145","user_id":"0b8cc93b-dfd2-4427-b674-8d27affb0334"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWW672KA1GMSPSVFRFN
    method: GET
  response:
    body: '{"access_key":"SCWW672KA1GMSPSVFRFN","secret_key":null,"description":"my-key","created_at":"2026-04-01T16:22:34.237139Z","updated_at":"2026-04-01T16:22:34.237139Z","expires_at":"2026-04-01T17:22:34.084Z","default_project_id":"986b6f8e-795e-4de3-8a2a-a4170d8ed258","editable":true,"deletable":true,"managed":false,"creation_ip":"51.159.73.145","user_id":"0b8cc93b-dfd2-4427-b674-8d27affb0334"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
