---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW34JXNB73TWW45XC21
    method: GET
  response:
    body: '{"srn":"srn://iam.scw.eu/api-keys/SCW34JXNB73TWW45XC21","access_key":"SCW34JXNB73TWW45XC21","secret_key":null,"description":"Generated
      by the Scaleway CLI","created_at":"2026-09-21T08:59:40.180590Z","updated_at":"2026-09-21T08:59:40.180590Z","expires_at":"2026-12-20T08:59:35.980374Z","default_project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","editable":true,"deletable":true,"managed":false,"creation_ip":"130.180.219.188","user_id":"c54eef01-c4c6-48fa-9a1e-36e8998b9776"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "45"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/metadata
    method: GET
  response:
    body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "44"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
