---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?page=1&volume_type=l_ssd
    method: GET
  response:
    body: '{"volumes": [{"id": "d8676f92-8957-4816-b458-d0dcea680bda", "name": "test",
      "volume_type": "l_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "server": null, "size": 20000000000, "state": "available", "creation_date":
      "2020-03-08T15:05:29.061451+00:00", "modification_date": "2020-03-08T15:05:29.061451+00:00",
      "zone": "fr-par-1"}, {"id": "a0000a57-6f9d-48a6-81ed-f470dfabedfb", "name":
      "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13", "volume_type":
      "l_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "server": null, "size": 20000000000, "state": "available", "creation_date":
      "2020-03-05T09:02:04.901002+00:00", "modification_date": "2020-03-05T09:02:05.491346+00:00",
      "zone": "fr-par-1"}, {"id": "624ac2ae-7d45-4787-a580-865b1f1ce599"[...]
