---
version: 1
interactions:
- request:
    body: '{"volume": {"id": "2d40f9e7-2522-45da-af1d-bbe54278b8f5", "name": "test",
      "volume_type": "l_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2025-10-28T16:53:41.126067+00:00", "modification_date":
      "2025-10-28T16:53:41.126067+00:00", "tags": [], "zone": "fr-par-1"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "2d40f9e7-2522-45da-af1d-bbe54278b8f5", "name": "test",
      "volume_type": "l_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2025-10-28T16:53:41.126067+00:00", "modification_date":
      "2025-10-28T16:53:41.126067+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/2d40f9e7-2522-45da-af1d-bbe54278b8f5
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/2d40f9e7-2522-45da-af1d-bbe54278b8f5
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
