---
version: 1
interactions:
- request:
    body: '{"volume": {"id": "6edefc20-4cc5-462e-a8b0-80dded76c78c", "name": "test",
      "volume_type": "b_ssd", "export_uri": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2024-10-23T12:02:48.930043+00:00", "modification_date":
      "2024-10-23T12:02:48.930043+00:00", "tags": [], "zone": "fr-par-1"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "6edefc20-4cc5-462e-a8b0-80dded76c78c", "name": "test",
      "volume_type": "b_ssd", "export_uri": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2024-10-23T12:02:48.930043+00:00", "modification_date":
      "2024-10-23T12:02:48.930043+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6edefc20-4cc5-462e-a8b0-80dded76c78c
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6edefc20-4cc5-462e-a8b0-80dded76c78c
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
