---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"ip\": {\"id\": \"9918ae90-cd48-408f-97af-bcf3bc77afbc\", \"address\": \"51.15.229.243\", \"prefix\": null, \"reverse\": null, \"server\": null, \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"zone\": \"fr-par-1\", \"type\": \"routed_ipv4\", \"state\": \"detached\", \"tags\": [], \"ipam_id\": \"4eed59c6-696e-4e92-a394-48323abd12f0\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/9918ae90-cd48-408f-97af-bcf3bc77afbc
    status: 201 Created
    code: 201
    duration: 310.064802ms
- id: 1
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips?page=1
    method: GET
  response:
    body: "{\"ips\": [{\"id\": \"9ff6f7a8-d4b1-44c9-a51e-636185d6e60d\", \"address\": \"51.158.97.101\", \"prefix\": null, \"reverse\": null, \"server\": {\"id\": \"6ab3aeee-069c-493c-895c-f7328500e45b\", \"name\": \"cli-srv-priceless-black\"}, \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"zone\": \"fr-par-1\", \"type\": \"routed_ipv4\", \"state\": \"attached\", \"tags\": [], \"ipam_id\": \"4421046d-395f-44c0-aebc-6453fafd27f7\"}, {\"id\": \"9918ae90-cd48-408f-97af-bcf3bc77afbc\", \"address\": \"51.15.229.243\", \"prefix\": null, \"reverse\": null, \"server\": null, \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"zone\": \"fr-par-1\", \"type\": \"routed_ipv4\", \"state\": \"detached\", \"tags\": [], \"ipam_id\": \"4eed59c6-696e-4e92-a394-48323abd12f0\"}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </ips?page=1&per_page=50&>; rel="last"
      X-Total-Count:
      - "2"
    status: 200 OK
    code: 200
    duration: 88.529082ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/51.15.229.243
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 232.083653ms
