---
version: 1
interactions:
- request:
    body: '{"local_images":[{"id":"dd88ce8e-6184-44ed-aa9d-4d3d8158196e", "arch":"x86_64",
      "zone":"fr-par-2", "compatible_commercial_types":["L4-1-24G", "RENDER-S", "GPU-3070-S",
      "H100-1-80G", "H100-2-80G"], "label":"ubuntu_jammy_gpu_os_12", "type":"instance_local"}],
      "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/marketplace/v2/local-images?image_label=ubuntu_jammy_gpu_os_12&order_by=created_at_asc&type=instance_local&zone=fr-par-2
    method: GET
  response:
    body: '{"local_images":[{"id":"dd88ce8e-6184-44ed-aa9d-4d3d8158196e", "arch":"x86_64",
      "zone":"fr-par-2", "compatible_commercial_types":["L4-1-24G", "RENDER-S", "GPU-3070-S",
      "H100-1-80G", "H100-2-80G"], "label":"ubuntu_jammy_gpu_os_12", "type":"instance_local"}],
      "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"image": {"id": "dd88ce8e-6184-44ed-aa9d-4d3d8158196e", "name": "Ubuntu
      Jammy GPU OS 12 passthrough", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "43a48fa3-2df2-4905-9e83-ee6e8814d161",
      "name": "Ubuntu Jammy GPU OS 12 passthrough", "volume_type": "unified", "size":
      20000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date":
      "2023-11-02T09:52:11.664310+00:00", "modification_date": "2023-11-02T09:52:11.664310+00:00",
      "default_bootscript": null, "from_server": null, "state": "available", "tags":
      [], "zone": "fr-par-2"}}'
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/images/dd88ce8e-6184-44ed-aa9d-4d3d8158196e
    method: GET
  response:
    body: '{"image": {"id": "dd88ce8e-6184-44ed-aa9d-4d3d8158196e", "name": "Ubuntu
      Jammy GPU OS 12 passthrough", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "43a48fa3-2df2-4905-9e83-ee6e8814d161",
      "name": "Ubuntu Jammy GPU OS 12 passthrough", "volume_type": "unified", "size":
      20000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date":
      "2023-11-02T09:52:11.664310+00:00", "modification_date": "2023-11-02T09:52:11.664310+00:00",
      "default_bootscript": null, "from_server": null, "state": "available", "tags":
      [], "zone": "fr-par-2"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"servers": {"AMP2-C1": {"alt_names": [], "arch": "arm64", "ncpus": 1,
      "ram": 1879048192, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      3.6, "hourly_price": 0.005007, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      100000000, "sum_internet_bandwidth": 100000000, "interfaces": [{"internal_bandwidth":
      100000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      100000000}]}}, "AMP2-C12": {"alt_names": [], "arch": "arm64", "ncpus": 12, "ram":
      25501368320, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      28.62, "hourly_price": 0.039752, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      1200000000, "sum_internet_bandwidth": 1200000000, "interfaces": [{"internal_bandwidth":
      1200000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      1200000000}]}}, "AMP2-C2": {"alt_names": [], "arch": "arm64", "ncpus": 2, "ram":
      4026531840, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      5.88, "hourly_price": 0.008165, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      200000000, "sum_internet_bandwidth": 200000000, "interfaces": [{"internal_bandwidth":
      200000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      200000000}]}}, "AMP2-C24": {"alt_names": [], "arch": "arm64", "ncpus": 24, "ram":
      51271172096, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      55.91, "hourly_price": 0.077657, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      2400000000, "sum_internet_bandwidth": 2400000000, "interfaces": [{"internal_bandwidth":
      2400000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      2400000000}]}}, "AMP2-C4": {"alt_names": [], "arch": "arm64", "ncpus": 4, "ram":
      8321499136, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      10.43, "hourly_price": 0.014483, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      400000000, "sum_internet_bandwidth": 400000000, "interfaces": [{"internal_bandwidth":
      400000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      400000000}]}}, "AMP2-C48": {"alt_names": [], "arch": "arm64", "ncpus": 48, "ram":
      102810779648, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      110.5, "hourly_price": 0.153466, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      4800000000, "sum_internet_bandwidth": 4800000000, "interfaces": [{"internal_bandwidth":
      4800000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      4800000000}]}}, "AMP2-C60": {"alt_names": [], "arch": "arm64", "ncpus": 60,
      "ram": 128580583424, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      137.79, "hourly_price": 0.19137, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      6000000000, "sum_internet_bandwidth": 6000000000, "interfaces": [{"internal_bandwidth":
      6000000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      6000000000}]}}, "AMP2-C8": {"alt_names": [], "arch": "arm64", "ncpus": 8, "ram":
      16911433728, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      19.52, "hourly_price": 0.027118, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      800000000, "sum_internet_bandwidth": 800000000, "interfaces": [{"internal_bandwidth":
      800000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      800000000}]}}, "COPARM1-16C-64G": {"alt_names": [], "arch": "arm64", "ncpus":
      16, "ram": 68719476736, "gpu": 0, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size":
      0, "max_size": 0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      252.14, "hourly_price": 0.3454, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      1600000000, "sum_internet_bandwidth": 1600000000, "interfaces": [{"internal_bandwidth":
      1600000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      1600000000}]}}, "COPARM1-2C-8G": {"alt_names": [], "arch": "arm64", "ncpus":
      2, "ram": 8589934592, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      31.1, "hourly_price": 0.0426, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      200000000, "sum_internet_bandwidth": 200000000, "interfaces": [{"internal_bandwidth":
      200000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      200000000}]}}, "COPARM1-32C-128G": {"alt_names": [], "arch": "arm64", "ncpus":
      32, "ram": 137438953472, "gpu": 0, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size":
      0, "max_size": 0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      506.26, "hourly_price": 0.6935, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      3200000000, "sum_internet_bandwidth": 3200000000, "interfaces": [{"internal_bandwidth":
      3200000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      3200000000}]}}, "COPARM1-4C-16G": {"alt_names": [], "arch": "arm64", "ncpus":
      4, "ram": 17179869184, "gpu": 0, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size":
      0, "max_size": 0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      62.56, "hourly_price": 0.0857, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      400000000, "sum_internet_bandwidth": 400000000, "interfaces": [{"internal_bandwidth":
      400000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      400000000}]}}, "COPARM1-8C-32G": {"alt_names": [], "arch": "arm64", "ncpus":
      8, "ram": 34359738368, "gpu": 0, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size":
      0, "max_size": 0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      125.85, "hourly_price": 0.1724, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      800000000, "sum_internet_bandwidth": 800000000, "interfaces": [{"internal_bandwidth":
      800000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      800000000}]}}, "DEV1-L": {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram":
      8589934592, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 80000000000}, "per_volume_constraint": {"l_ssd": {"min_size":
      1000000000, "max_size": 800000000000}}, "scratch_storage_max_size": null, "baremetal":
      false, "monthly_price": 36.1496, "hourly_price": 0.04952, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "hot_snapshots_local_volume": true, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth": 400000000,
      "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 400000000}]}}, "DEV1-M":
      {"alt_names": [], "arch": "x86_64", "ncpus": 3, "ram": 4294967296, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 40000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "scratch_storage_max_size": null, "baremetal": false, "monthly_price": 18.6588,
      "hourly_price": 0.02556, "capabilities": {"boot_types": ["bootscript", "rescue",
      "local"], "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      300000000, "sum_internet_bandwidth": 300000000, "interfaces": [{"internal_bandwidth":
      300000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      300000000}]}}, "DEV1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram":
      2147483648, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 20000000000}, "per_volume_constraint": {"l_ssd": {"min_size":
      1000000000, "max_size": 800000000000}}, "scratch_storage_max_size": null, "baremetal":
      false, "monthly_price": 9.9864, "hourly_price": 0.01368, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "hot_snapshots_local_volume": true, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 200000000, "sum_internet_bandwidth": 200000000,
      "interfaces": [{"internal_bandwidth": 200000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 200000000}]}}, "DEV1-XL":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 12884901888, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 120000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "scratch_storage_max_size": null, "baremetal": false, "monthly_price": 53.3484,
      "hourly_price": 0.07308, "capabilities": {"boot_types": ["bootscript", "rescue",
      "local"], "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      500000000, "sum_internet_bandwidth": 500000000, "interfaces": [{"internal_bandwidth":
      500000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      500000000}]}}, "ENT1-2XL": {"alt_names": [], "arch": "x86_64", "ncpus": 96,
      "ram": 412316860416, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      2576.9, "hourly_price": 3.53, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      20000000000, "sum_internet_bandwidth": 20000000000, "interfaces": [{"internal_bandwidth":
      20000000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      20000000000}]}}, "ENT1-L": {"alt_names": [], "arch": "x86_64", "ncpus": 32,
      "ram": 137438953472, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      861.4, "hourly_price": 1.18, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      6400000000, "sum_internet_bandwidth": 6400000000, "interfaces": [{"internal_bandwidth":
      6400000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      6400000000}]}}, "ENT1-M": {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram":
      68719476736, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      430.7, "hourly_price": 0.59, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      3200000000, "sum_internet_bandwidth": 3200000000, "interfaces": [{"internal_bandwidth":
      3200000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      3200000000}]}}, "ENT1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram":
      34359738368, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      211.7, "hourly_price": 0.29, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      1600000000, "sum_internet_bandwidth": 1600000000, "interfaces": [{"internal_bandwidth":
      1600000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      1600000000}]}}, "ENT1-XL": {"alt_names": [], "arch": "x86_64", "ncpus": 64,
      "ram": 274877906944, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      1715.5, "hourly_price": 2.35, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      12800000000, "sum_internet_bandwidth": 12800000000, "interfaces": [{"internal_bandwidth":
      12800000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      12800000000}]}}, "ENT1-XS": {"alt_names": [], "arch": "x86_64", "ncpus": 4,
      "ram": 17179869184, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      107.31, "hourly_price": 0.147, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      800000000, "sum_internet_bandwidth": 800000000, "interfaces": [{"internal_bandwidth":
      800000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      800000000}]}}, "ENT1-XXS": {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram":
      8589934592, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      53.655, "hourly_price": 0.0735, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      400000000, "sum_internet_bandwidth": 400000000, "interfaces": [{"internal_bandwidth":
      400000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      400000000}]}}, "GP1-L": {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram":
      137438953472, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 600000000000}, "per_volume_constraint": {"l_ssd": {"min_size":
      1000000000, "max_size": 800000000000}}, "scratch_storage_max_size": null, "baremetal":
      false, "monthly_price": 576.262, "hourly_price": 0.7894, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "hot_snapshots_local_volume": true, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 5000000000, "sum_internet_bandwidth": 5000000000,
      "interfaces": [{"internal_bandwidth": 5000000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 5000000000}]}}, "GP1-M":
      {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 68719476736, "gpu":
      0, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 600000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "scratch_storage_max_size": null, "baremetal": false, "monthly_price": 296.672,
      "hourly_price": 0.4064, "capabilities": {"boot_types": ["bootscript", "rescue",
      "local"], "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      1500000000, "sum_internet_bandwidth": 1500000000, "interfaces": [{"internal_bandwidth":
      1500000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      1500000000}]}}, "GP1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram":
      34359738368, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 300000000000}, "per_volume_constraint": {"l_ssd": {"min_size":
      1000000000, "max_size": 800000000000}}, "scratch_storage_max_size": null, "baremetal":
      false, "monthly_price": 149.066, "hourly_price": 0.2042, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "hot_snapshots_local_volume": true, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 800000000, "sum_internet_bandwidth": 800000000,
      "interfaces": [{"internal_bandwidth": 800000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 800000000}]}}, "GP1-XL":
      {"alt_names": [], "arch": "x86_64", "ncpus": 48, "ram": 274877906944, "gpu":
      0, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 600000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "scratch_storage_max_size": null, "baremetal": false, "monthly_price": 1220.122,
      "hourly_price": 1.6714, "capabilities": {"boot_types": ["bootscript", "rescue",
      "local"], "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      10000000000, "sum_internet_bandwidth": 10000000000, "interfaces": [{"internal_bandwidth":
      10000000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      10000000000}]}}, "GP1-XS": {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram":
      17179869184, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 150000000000}, "per_volume_constraint": {"l_ssd": {"min_size":
      1000000000, "max_size": 800000000000}}, "scratch_storage_max_size": null, "baremetal":
      false, "monthly_price": 74.168, "hourly_price": 0.1016, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "hot_snapshots_local_volume": true, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 500000000, "sum_internet_bandwidth": 500000000,
      "interfaces": [{"internal_bandwidth": 500000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 500000000}]}}, "GPU-3070-S":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 17179869184, "gpu": 1,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "baremetal": false, "monthly_price": 715.4, "hourly_price": 0.98, "capabilities":
      {"boot_types": ["local", "rescue"], "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 2500000000, "sum_internet_bandwidth": 2500000000,
      "interfaces": [{"internal_bandwidth": 2500000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 2500000000}]}}, "H100-1-80G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 24, "ram": 257698037760, "gpu":
      1, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0},
      "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      3000000000000, "baremetal": false, "monthly_price": 1839.6, "hourly_price":
      2.52, "capabilities": {"boot_types": ["rescue", "local"], "hot_snapshots_local_volume":
      false, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 10000000000, "sum_internet_bandwidth":
      10000000000, "interfaces": [{"internal_bandwidth": 10000000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 10000000000}]}}, "H100-2-80G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 48, "ram": 515396075520, "gpu":
      2, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0},
      "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      6000000000000, "baremetal": false, "monthly_price": 3679.2, "hourly_price":
      5.04, "capabilities": {"boot_types": ["rescue", "local"], "hot_snapshots_local_volume":
      false, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 20000000000, "sum_internet_bandwidth":
      20000000000, "interfaces": [{"internal_bandwidth": 20000000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 20000000000}]}}, "PLAY2-MICRO":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 8589934592, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "baremetal": false, "monthly_price": 39.42, "hourly_price": 0.054, "capabilities":
      {"boot_types": ["rescue", "local"], "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth": 400000000,
      "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 400000000}]}}, "PLAY2-NANO":
      {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 4294967296, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
[...]
