---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/products/volumes
    method: GET
  response:
    body: "{\"volumes\": {\"l_ssd\": {\"capabilities\": {\"snapshot\": true}, \"display_name\": \"Local SSD\", \"constraints\": {\"min\": 1000000000, \"max\": 800000000000}}, \"scratch\": {\"capabilities\": {\"snapshot\": false}, \"display_name\": \"Scratch Storage\", \"constraints\": {\"min\": 1000000000, \"max\": 60000000000000}}}}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </products/volumes?page=1&per_page=50&>; rel="last"
      X-Total-Count:
      - "2"
    status: 200 OK
    code: 200
    duration: 21.788567ms
