---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?page=1
    method: GET
  response:
    body: '{"snapshots": [{"id": "060eddb3-cbc4-4595-b279-4454fd22d7af", "name": "cli-snp-intelligent-villani",
      "volume_type": "l_ssd", "creation_date": "2020-03-04T09:45:01.577275+00:00",
      "modification_date": "2020-03-04T09:45:57.989591+00:00", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "size": 300000000000, "state": "available", "base_volume": {"id": "d2884dfc-ea5e-41ab-96c7-a6c50429fae9",
      "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13"}, "zone":
      "fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </snapshots?page=1&per_page=50&>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
