---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?page=1&public=false
    method: GET
  response:
    body: '{"images": [{"id": "c5371903-0ace-40de-8c76-c26479264baa", "name": "test-cli",
      "organization": "b2593aa3-d0e8-4366-89c3-6e666abe1f6f", "root_volume": {"id":
      "85d26247-8b27-4cb2-8853-df8dc7da256e", "name": "test-cli_snap_0", "volume_type":
      "l_ssd", "size": 20000000000}, "extra_volumes": {}, "public": false, "arch":
      "x86_64", "creation_date": "2020-04-08T16:09:17.791308+00:00", "modification_date":
      "2020-04-08T16:09:17.791308+00:00", "default_bootscript": {"id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8",
      "public": false, "title": "x86_64 mainline 4.9.93 rev1", "architecture": "x86_64",
      "organization": "11111111-1111-4111-8111-111111111111", "kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "dtb": "", "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      false, "zone": "fr-par-1"}, "from_server": "748baef5-e858-45c4-b090-f01c4db8b8dc",
      "state": "available", "zone": "fr-par-1"}, {"id": "99344168-3dff-4b5c-9d81-6730c1e04d30",
      "name": "cli-img-laughing-noyce", "organization": "b2593aa3-d0e8-4366-89c3-6e666abe1f6f",
      "root_volume": {"id": "5f90cf0d-c36a-46ad-b947-f4e2d9eb87c5", "name": "cli-snp-festive-hertz",
      "volume_type": "l_ssd", "size": 20000000000}, "extra_volumes": {}, "public":
      false, "arch": "x86_64", "creation_date": "2020-04-08T15:54:25.954633+00:00",
      "modification_date": "2020-04-08T15:54:25.954633+00:00", "default_bootscript":
      null, "from_server": null, "state": "available", "zone": "fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </images?page=1&per_page=50&public=false>; rel="last"
      X-Total-Count:
      - "2"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/748baef5-e858-45c4-b090-f01c4db8b8dc
    method: GET
  response:
    body: '{"server": {"id": "748baef5-e858-45c4-b090-f01c4db8b8dc", "name": "scw-objective-snyder",
      "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
      "b2593aa3-d0e8-4366-89c3-6e666abe1f6f", "hostname": "scw-objective-snyder",
      "image": {"id": "f974feac-abae-4365-b988-8ec7d1cec10d", "name": "Ubuntu Bionic
      Beaver", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume":
      {"id": "dd5f5c10-23b1-4c9c-8445-eb6740957c84", "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13",
      "volume_type": "l_ssd", "size": 10000000000}, "extra_volumes": {}, "public":
      true, "arch": "x86_64", "creation_date": "2019-03-05T10:13:15.974944+00:00",
      "modification_date": "2019-03-05T13:32:29.274319+00:00", "default_bootscript":
      {"id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8", "public": false, "title": "x86_64
      mainline 4.9.93 rev1", "architecture": "x86_64", "organization": "11111111-1111-4111-8111-111111111111",
      "kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "dtb": "", "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      false, "zone": "fr-par-1"}, "from_server": null, "state": "available", "zone":
      "fr-par-1"}, "volumes": {"0": {"id": "963ad6a2-975d-40f7-8b21-9ae524c83889",
      "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13", "volume_type":
      "l_ssd", "export_uri": null, "organization": "b2593aa3-d0e8-4366-89c3-6e666abe1f6f",
      "server": {"id": "748baef5-e858-45c4-b090-f01c4db8b8dc", "name": "scw-objective-snyder"},
      "size": 20000000000, "state": "available", "creation_date": "2020-02-06T20:29:56.860210+00:00",
      "modification_date": "2020-04-08T16:22:40.291254+00:00", "zone": "fr-par-1"}},
      "tags": ["reddit-tracker", "prod"], "state": "running", "protected": true, "state_detail":
      "booting kernel", "public_ip": {"id": "2c453330-0286-4986-ab36-a7f9aee549fd",
      "address": "51.158.72.139", "dynamic": false}, "ipv6": {"address": "2001:bc8:604:b20::1",
      "gateway": "2001:bc8:604:b20::", "netmask": "64"}, "extra_networks": [], "dynamic_ip_required":
      false, "enable_ipv6": true, "private_ip": "10.68.102.65", "creation_date": "2020-02-06T20:29:56.860210+00:00",
      "modification_date": "2020-02-10T15:02:11.628299+00:00", "bootscript": {"id":
      "15fbd2f7-a0f9-412b-8502-6a44da8d98b8", "public": false, "title": "x86_64 mainline
      4.9.93 rev1", "architecture": "x86_64", "organization": "11111111-1111-4111-8111-111111111111",
      "kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "dtb": "", "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      false, "zone": "fr-par-1"}, "security_group": {"id": "980142a3-a959-4aee-8325-91a6ba787439",
      "name": "Default security group"}, "location": {"zone_id": "par1", "platform_id":
      "14", "cluster_id": "36", "hypervisor_id": "602", "node_id": "33"}, "maintenances":
      [], "allowed_actions": ["backup"], "placement_group": null, "compute_cluster":
      null, "private_nics": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
