---
version: 1
interactions:
- request:
    body: '{"name":"test","organization":"951df375-e094-4d26-97c1-ba548eeb9c42","volume_type":"l_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "7e9a04db-2cb2-4aa5-a924-4e0f067aa44b", "name": "test",
      "volume_type": "l_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "server": null, "size": 20000000000, "state": "available", "creation_date":
      "2020-03-08T16:15:48.424411+00:00", "modification_date": "2020-03-08T16:15:48.424411+00:00",
      "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cp-par1.scaleway.com/volumes/7e9a04db-2cb2-4aa5-a924-4e0f067aa44b
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/7e9a04db-2cb2-4aa5-a924-4e0f067aa44b
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
