---
version: 1
interactions:
- request:
    body: '{"name":"test","organization":"951df375-e094-4d26-97c1-ba548eeb9c42","volume_type":"l_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "cefa2edd-c8d2-47f3-98cf-578bd92f1d4e", "name": "test",
      "volume_type": "l_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "server": null, "size": 20000000000, "state": "available", "creation_date":
      "2020-03-08T16:06:41.053462+00:00", "modification_date": "2020-03-08T16:06:41.053462+00:00",
      "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cp-par1.scaleway.com/volumes/cefa2edd-c8d2-47f3-98cf-578bd92f1d4e
    status: 201 Created
    code: 201
    duration: ""
