---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: GET
  response:
    body: '{"servers": [{"allowed_actions": ["backup"], "maintenances": [], "state_detail":
      "booting kernel", "image": {"creation_date": "2019-03-05T10:13:15.974944+00:00",
      "default_bootscript": {"kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz", "default":
      false, "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "architecture":
      "x86_64", "title": "x86_64 mainline 4.9.93 rev1", "dtb": "", "organization":
      "11111111-1111-4111-8111-111111111111", "id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8",
      "public": false}, "from_server": null, "arch": "x86_64", "id": "f974feac-abae-4365-b988-8ec7d1cec10d",
      "root_volume": {"size": 10000000000, "id": "dd5f5c10-23b1-4c9c-8445-eb6740957c84",
      "volume_type": "l_ssd", "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13"},
      "name": "Ubuntu Bionic Beaver", "modification_date": "2019-03-05T13:32:29.274319+00:00",
      "state": "available", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "extra_volumes": {}, "public": true}, "creation_date": "2019-07-16T09:53:40.787772+00:00",
      "public_ip": {"dynamic": false, "id": "19ee7b6b-dc92-4db7-962e-57e8212011e5",
      "address": "51.15.240.20"}, "private_ip": "10.64.30.163", "id": "64c3ed5c-72f6-495b-94f5-f43c4536f49c",
      "dynamic_ip_required": false, "modification_date": "2020-01-13T16:28:36.631608+00:00",
      "enable_ipv6": true, "hostname": "terraform-v2-doc", "state": "running", "bootscript":
      {"kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz", "default":
      false, "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "architecture":
      "x86_64", "title": "x86_64 mainline 4.9.93 rev1", "dtb": "", "organization":
      "11111111-1111-4111-8111-111111111111", "id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8",
      "public": false}, "location": {"platform_id": "14", "hypervisor_id": "802",
      "node_id": "82", "cluster_id": "15", "zone_id": "par1"}, "boot_type": "local",
      "ipv6": {"netmask": "64", "gateway": "2001:bc8:47a0:f51::", "address": "2001:bc8:47a0:f51::1"},
      "commercial_type": "DEV1-S", "placement_group": null, "tags": ["tf", "test1",
      "test2"], "arch": "x86_64", "extra_networks": [], "compute_cluster": null, "name":
      "terraform-v2-doc", "protected": true, "volumes": {"0": {"size": 20000000000,
      "state": "available", "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13",
      "modification_date": "2020-01-13T16:31:28.870440+00:00", "organization": "14d2f7ae-9775-414c-9bed-6810e060d500",
      "export_uri": null, "creation_date": "2019-07-16T09:53:40.787772+00:00", "id":
      "66a64345-539e-4897-9a50-4511313bbd58", "volume_type": "l_ssd", "server": {"id":
      "64c3ed5c-72f6-495b-94f5-f43c4536f49c", "name": "terraform-v2-doc"}}}, "security_group":
      {"id": "e5bf4522-94b4-4933-bebb-9b21f786b4af", "name": "Default security group"},
      "organization": "14d2f7ae-9775-414c-9bed-6810e060d500", "private_nics": []}]}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </servers?page=1&per_page=50&>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
