---
version: 1
interactions:
- request:
    body: '{"name":"cli-test","project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","volume_type":"b_ssd","size":10000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "d733f408-34be-41b0-8d7e-d9604096be6d", "name": "cli-test",
      "volume_type": "b_ssd", "export_uri": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "server": null, "size": 10000000000,
      "state": "available", "creation_date": "2023-04-24T09:55:37.433385+00:00", "modification_date":
      "2023-04-24T09:55:37.433385+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/d733f408-34be-41b0-8d7e-d9604096be6d
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/d733f408-34be-41b0-8d7e-d9604096be6d
    method: GET
  response:
    body: '{"volume": {"id": "d733f408-34be-41b0-8d7e-d9604096be6d", "name": "cli-test",
      "volume_type": "b_ssd", "export_uri": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "server": null, "size": 10000000000,
      "state": "available", "creation_date": "2023-04-24T09:55:37.433385+00:00", "modification_date":
      "2023-04-24T09:55:37.433385+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"cli-test-snapshot-update-tags","volume_id":"d733f408-34be-41b0-8d7e-d9604096be6d","tags":["foo","bar"],"project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","volume_type":"b_ssd"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "7ba227c5-4064-4f2f-92f9-70b7f3ec23c3", "name": "cli-test-snapshot-update-tags",
      "volume_type": "b_ssd", "creation_date": "2023-04-24T09:55:37.616333+00:00",
      "modification_date": "2023-04-24T09:55:37.616333+00:00", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "size": 10000000000, "state":
      "snapshotting", "base_volume": {"id": "d733f408-34be-41b0-8d7e-d9604096be6d",
      "name": "cli-test"}, "tags": ["foo", "bar"], "zone": "fr-par-1", "error_details":
      null}, "task": {"id": "6ad68be6-9eb6-4eb0-aadf-4f8070b39bcc", "description":
      "snapshot_7ba227c5-4064-4f2f-92f9-70b7f3ec23c3", "status": "pending", "href_from":
      "/snapshots", "href_result": "snapshots/7ba227c5-4064-4f2f-92f9-70b7f3ec23c3",
      "started_at": "2023-04-24T09:55:37.900342+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/7ba227c5-4064-4f2f-92f9-70b7f3ec23c3
    method: GET
  response:
    body: '{"snapshot": {"id": "7ba227c5-4064-4f2f-92f9-70b7f3ec23c3", "name": "cli-test-snapshot-update-tags",
      "volume_type": "b_ssd", "creation_date": "2023-04-24T09:55:37.616333+00:00",
      "modification_date": "2023-04-24T09:55:37.616333+00:00", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "size": 10000000000, "state":
      "snapshotting", "base_volume": {"id": "d733f408-34be-41b0-8d7e-d9604096be6d",
      "name": "cli-test"}, "tags": ["foo", "bar"], "zone": "fr-par-1", "error_details":
      null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
