---
version: 1
interactions:
- request:
    body: '{"name":"test","organization":"951df375-e094-4d26-97c1-ba548eeb9c42","volume_type":"l_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "98ec1ad4-ea93-4a5c-a758-9e5cf91573d0", "name": "test",
      "volume_type": "l_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "server": null, "size": 20000000000, "state": "available", "creation_date":
      "2020-03-08T15:55:46.687218+00:00", "modification_date": "2020-03-08T15:55:46.687218+00:00",
      "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cp-par1.scaleway.com/volumes/98ec1ad4-ea93-4a5c-a758-9e5cf91573d0
    status: 201 Created
    code: 201
    duration: ""
