---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"ip": {"id": "115a380f-74e2-4d96-8a9a-f5f0604c04a7", "address": "51.158.72.29", "prefix": null, "reverse": null, "server": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "5ff6e239-910b-4ca0-b14c-a8f0a7c1d1a6"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "115a380f-74e2-4d96-8a9a-f5f0604c04a7", "address": "51.158.72.29", "prefix": null, "reverse": null, "server": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "5ff6e239-910b-4ca0-b14c-a8f0a7c1d1a6"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/115a380f-74e2-4d96-8a9a-f5f0604c04a7
        status: 201 Created
        code: 201
        duration: 600.307752ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"ips": [{"id": "350d32ef-bc87-448d-a6b3-a5fb337a26a8", "address": "212.47.235.103", "prefix": null, "reverse": null, "server": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "9874c258-65ac-43ac-81b1-1b8c32483340"}, {"id": "56011563-560b-4eea-b86c-dce802ddd698", "address": "51.158.122.244", "prefix": null, "reverse": null, "server": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "f3cab55d-a3aa-4310-8800-f2882ebd7bb7"}, {"id": "a20b1bd8-f9bd-44c6-8d16-4326e8b079af", "address": "51.158.79.181", "prefix": null, "reverse": null, "server": {"id": "c84db1f8-af1a-40b9-8ce0-6e08ab87f6bc", "name": "cli-srv-optimistic-yonath"}, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "zone": "fr-par-1", "type": "routed_ipv4", "state": "attached", "tags": [], "ipam_id": "1964c1f6-ecfc-4913-b856-0f30e8f1c807"}, {"id": "0e88974a-3004-425b-b392-409b36846022", "address": "51.158.77.100", "prefix": null, "reverse": null, "server": {"id": "d1bd0dd8-1b42-4bc6-bbbd-d464e8dbcc76", "name": "cli-srv-loving-leavitt"}, "organization": "fa1e3217-dc80-42a[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/51.158.72.29
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 427.629162ms
