---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?page=1
    method: GET
  response:
    body: '{"servers": [{"id": "ac2f54b4-3c02-4fc4-b7f7-85f7a4683a8d", "name": "oss-exporter",
      "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
      "32f707c5-df07-43c7-8b57-6e09b687dd03", "project": "32f707c5-df07-43c7-8b57-6e09b687dd03",
      "hostname": "oss-exporter", "image": {"id": "f974feac-abae-4365-b988-8ec7d1cec10d",
      "name": "Ubuntu Bionic Beaver", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "dd5f5c10-23b1-4c9c-8445-eb6740957c84",
      "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13", "volume_type":
      "l_ssd", "size": 10000000000}, "extra_volumes": {}, "public": true, "arch":
      "x86_64", "creation_date": "2019-03-05T10:13:15.974944+00:00", "modification_date":
      "2019-03-05T13:32:29.274319+00:00", "default_bootscript": {"id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8",
      "public": false, "title": "x86_64 mainline 4.9.93 rev1", "architecture": "x86_64",
      "organization": "11111111-1111-4111-8111-111111111111", "project": "11111111-1111-4111-8111-111111111111",
      "kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "dtb": "", "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      false, "zone": "fr-par-1"}, "from_server": null, "state": "available", "zone":
      "fr-par-1"}, "volumes": {"0": {"id": "d8f1355c-c755-4b38-953a-d597e8b4c698",
      "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13", "volume_type":
      "l_ssd", "export_uri": null, "organization": "32f707c5-df07-43c7-8b57-6e09b687dd03",
      "project": "32f707c5-df07-43c7-8b57-6e09b687dd03", "server": {"id": "ac2f54b4-3c02-4fc4-b7f7-85f7a4683a8d",
      "name": "oss-exporter"}, "size": 20000000000, "state": "available", "creation_date":
      "2020-05-18T14:12:39.242778+00:00", "modification_date": "2020-05-18T14:12:39.980971+00:00",
      "zone": "fr-par-1"}}, "tags": ["oss-exporter"], "state": "running", "protected":
      false, "state_detail": "booting kernel", "public_ip": {"id": "52f3bf8e-006f-48dc-9e2f-293ed2330dd1",
      "address": "51.158.113.81", "dynamic": false}, "ipv6": {"address": "2001:bc8:47a8:842::1",
      "gateway": "2001:bc8:47a8:842::", "netmask": "64"}, "extra_networks": [], "dynamic_ip_required":
      false, "enable_ipv6": true, "private_ip": "10.64.176.133", "creation_date":
      "2020-05-18T14:12:39.242778+00:00", "modification_date": "2020-05-18T14:13:00.251958+00:00",
      "bootscript": {"id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8", "public": false,
      "title": "x86_64 mainline 4.9.93 rev1", "architecture": "x86_64", "organization":
      "11111111-1111-4111-8111-111111111111", "project": "11111111-1111-4111-8111-111111111111",
      "kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "dtb": "", "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      false, "zone": "fr-par-1"}, "security_group": {"id": "2e13e713-2522-483f-be2f-b18d52222a7a",
      "name": "oss-exporter"}, "location": {"zone_id": "par1", "platform_id": "14",
      "cluster_id": "17", "hypervisor_id": "501", "node_id": "67"}, "maintenances":
      [], "allowed_actions": ["poweroff", "terminate", "reboot", "stop_in_place",
      "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1"},
      {"id": "fa37ff62-4665-4b94-93bf-385d264a7b4d", "name": "juju", "arch": "x86_64",
      "commercial_type": "GP1-S", "boot_type": "local", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "hostname": "juju", "image":
      {"id": "f974feac-abae-4365-b988-8ec7d1cec10d", "name": "Ubuntu Bionic Beaver",
      "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bd[...]
