---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"ip": {"id": "115a380f-74e2-4d96-8a9a-f5f0604c04a7", "address": "51.158.72.29", "prefix": null, "reverse": null, "server": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "38f3a2dc-41b4-4703-99e7-86cc75f9cb7d"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "115a380f-74e2-4d96-8a9a-f5f0604c04a7", "address": "51.158.72.29", "prefix": null, "reverse": null, "server": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "38f3a2dc-41b4-4703-99e7-86cc75f9cb7d"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/115a380f-74e2-4d96-8a9a-f5f0604c04a7
        status: 201 Created
        code: 201
        duration: 498.638658ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/115a380f-74e2-4d96-8a9a-f5f0604c04a7
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 479.457048ms
