---
version: 2
interactions:
- request:
    body: '{"local_images":[{"id":"b4ce7a6b-d72f-4d80-8d7e-871f5443b5ba","arch":"arm64","zone":"fr-par-3","compatible_commercial_types":["AMP2-C1","AMP2-C2","AMP2-C4","AMP2-C8","AMP2-C12","AMP2-C24","AMP2-C48","AMP2-C60","COPARM1-2C-8G","COPARM1-4C-16G","COPARM1-8C-32G","COPARM1-16C-64G","COPARM1-32C-128G"],"label":"ubuntu_jammy","type":"instance_local"},{"id":"79740822-61f3-4b68-99a2-6340de44fbdd","arch":"x86_64","zone":"fr-par-3","compatible_commercial_types":["GP1-L","GP1-M","GP1-S","GP1-XL","GP1-XS","START1-L","START1-M","START1-S","START1-XS","VC1L","VC1M","VC1S","X64-120GB","X64-15GB","X64-30GB","X64-60GB","ENT1-XXS","ENT1-XS","ENT1-S","ENT1-M","ENT1-L","ENT1-XL","ENT1-2XL","PRO2-XXS","PRO2-XS","PRO2-S","PRO2-M","PRO2-L","PLAY2-MICRO","PLAY2-NANO","PLAY2-PICO","POP2-2C-8G","POP2-4C-16G","POP2-8C-32G","POP2-16C-64G","POP2-32C-128G","POP2-64C-256G","POP2-HM-2C-16G","POP2-HM-4C-32G","POP2-HM-8C-64G","POP2-HM-16C-128G","POP2-HM-32C-256G","POP2-HM-64C-512G","POP2-HC-2C-4G","POP2-HC-4C-8G","POP2-HC-8C-16G","POP2-HC-16C-32G","POP2-HC-32C-64G","POP2-HC-64C-128G"],"label":"ubuntu_jammy","type":"instance_local"}],"total_count":2}'
    form: {}
    headers:
    url: https://api.scaleway.com/marketplace/v2/local-images?image_label=ubuntu_jammy&order_by=created_at_asc&type=instance_local&zone=fr-par-3
    method: GET
  response:
    body: '{"local_images":[{"id":"b4ce7a6b-d72f-4d80-8d7e-871f5443b5ba","arch":"arm64","zone":"fr-par-3","compatible_commercial_types":["AMP2-C1","AMP2-C2","AMP2-C4","AMP2-C8","AMP2-C12","AMP2-C24","AMP2-C48","AMP2-C60","COPARM1-2C-8G","COPARM1-4C-16G","COPARM1-8C-32G","COPARM1-16C-64G","COPARM1-32C-128G"],"label":"ubuntu_jammy","type":"instance_local"},{"id":"79740822-61f3-4b68-99a2-6340de44fbdd","arch":"x86_64","zone":"fr-par-3","compatible_commercial_types":["GP1-L","GP1-M","GP1-S","GP1-XL","GP1-XS","START1-L","START1-M","START1-S","START1-XS","VC1L","VC1M","VC1S","X64-120GB","X64-15GB","X64-30GB","X64-60GB","ENT1-XXS","ENT1-XS","ENT1-S","ENT1-M","ENT1-L","ENT1-XL","ENT1-2XL","PRO2-XXS","PRO2-XS","PRO2-S","PRO2-M","PRO2-L","PLAY2-MICRO","PLAY2-NANO","PLAY2-PICO","POP2-2C-8G","POP2-4C-16G","POP2-8C-32G","POP2-16C-64G","POP2-32C-128G","POP2-64C-256G","POP2-HM-2C-16G","POP2-HM-4C-32G","POP2-HM-8C-64G","POP2-HM-16C-128G","POP2-HM-32C-256G","POP2-HM-64C-512G","POP2-HC-2C-4G","POP2-HC-4C-8G","POP2-HC-8C-16G","POP2-HC-16C-32G","POP2-HC-32C-64G","POP2-HC-64C-128G"],"label":"ubuntu_jammy","type":"instance_local"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"image": {"id": "79740822-61f3-4b68-99a2-6340de44fbdd", "name": "Ubuntu
      22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "71ad587c-5318-4b68-971c-359079f439ed",
      "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "unified", "size": 10000000000},
      "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2023-11-27T15:58:05.796663+00:00",
      "modification_date": "2023-11-27T15:58:05.796663+00:00", "default_bootscript":
      null, "from_server": null, "state": "available", "tags": [], "zone": "fr-par-3"}}'
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-3/images/79740822-61f3-4b68-99a2-6340de44fbdd
    method: GET
  response:
    body: '{"image": {"id": "79740822-61f3-4b68-99a2-6340de44fbdd", "name": "Ubuntu
      22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "71ad587c-5318-4b68-971c-359079f439ed",
      "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "unified", "size": 10000000000},
      "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2023-11-27T15:58:05.796663+00:00",
      "modification_date": "2023-11-27T15:58:05.796663+00:00", "default_bootscript":
      null, "from_server": null, "state": "available", "tags": [], "zone": "fr-par-3"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"servers": {"ENT1-2XL": {"alt_names": [], "arch": "x86_64", "ncpus": 96,
      "ram": 412316860416, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      3861.7, "hourly_price": 5.29, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      20000000000, "sum_internet_bandwidth": 20000000000, "interfaces": [{"internal_bandwidth":
      20000000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      20000000000}]}}, "ENT1-L": {"alt_names": [], "arch": "x86_64", "ncpus": 32,
      "ram": 137438953472, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      1284.8, "hourly_price": 1.76, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      6400000000, "sum_internet_bandwidth": 6400000000, "interfaces": [{"internal_bandwidth":
      6400000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      6400000000}]}}, "ENT1-M": {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram":
      68719476736, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      642.4, "hourly_price": 0.88, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      3200000000, "sum_internet_bandwidth": 3200000000, "interfaces": [{"internal_bandwidth":
      3200000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      3200000000}]}}, "ENT1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram":
      34359738368, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      321.2, "hourly_price": 0.44, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      1600000000, "sum_internet_bandwidth": 1600000000, "interfaces": [{"internal_bandwidth":
      1600000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      1600000000}]}}, "ENT1-XL": {"alt_names": [], "arch": "x86_64", "ncpus": 64,
      "ram": 274877906944, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      2576.9, "hourly_price": 3.53, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      12800000000, "sum_internet_bandwidth": 12800000000, "interfaces": [{"internal_bandwidth":
      12800000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      12800000000}]}}, "ENT1-XS": {"alt_names": [], "arch": "x86_64", "ncpus": 4,
      "ram": 17179869184, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      161.33, "hourly_price": 0.221, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      800000000, "sum_internet_bandwidth": 800000000, "interfaces": [{"internal_bandwidth":
      800000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      800000000}]}}, "ENT1-XXS": {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram":
      8589934592, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      80.3, "hourly_price": 0.11, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      400000000, "sum_internet_bandwidth": 400000000, "interfaces": [{"internal_bandwidth":
      400000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      400000000}]}}, "GP1-M": {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram":
      68719476736, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 600000000000}, "per_volume_constraint": {"l_ssd": {"min_size":
      1000000000, "max_size": 800000000000}}, "scratch_storage_max_size": null, "baremetal":
      false, "monthly_price": 433.912, "hourly_price": 0.5944, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "hot_snapshots_local_volume": true, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 1500000000, "sum_internet_bandwidth": 1500000000,
      "interfaces": [{"internal_bandwidth": 1500000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 1500000000}]}}, "GP1-S":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 300000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "scratch_storage_max_size": null, "baremetal": false, "monthly_price": 217.686,
      "hourly_price": 0.2982, "capabilities": {"boot_types": ["bootscript", "rescue",
      "local"], "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      800000000, "sum_internet_bandwidth": 800000000, "interfaces": [{"internal_bandwidth":
      800000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      800000000}]}}, "GP1-XS": {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram":
      17179869184, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 150000000000}, "per_volume_constraint": {"l_ssd": {"min_size":
      1000000000, "max_size": 800000000000}}, "scratch_storage_max_size": null, "baremetal":
      false, "monthly_price": 107.748, "hourly_price": 0.1476, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "hot_snapshots_local_volume": true, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 500000000, "sum_internet_bandwidth": 500000000,
      "interfaces": [{"internal_bandwidth": 500000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 500000000}]}}, "POP2-16C-64G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 68719476736, "gpu":
      0, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0},
      "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      null, "baremetal": false, "monthly_price": 646.05, "hourly_price": 0.885, "capabilities":
      {"boot_types": ["rescue", "local"], "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 3200000000, "sum_internet_bandwidth": 3200000000,
      "interfaces": [{"internal_bandwidth": 3200000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 3200000000}]}}, "POP2-2C-8G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 8589934592, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "baremetal": false, "monthly_price": 80.4825, "hourly_price": 0.1103, "capabilities":
      {"boot_types": ["rescue", "local"], "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth": 400000000,
      "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 400000000}]}}, "POP2-32C-128G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram": 137438953472, "gpu":
      0, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0},
      "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      null, "baremetal": false, "monthly_price": 1291.1, "hourly_price": 1.77, "capabilities":
      {"boot_types": ["rescue", "local"], "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 6400000000, "sum_internet_bandwidth": 6400000000,
      "interfaces": [{"internal_bandwidth": 6400000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 6400000000}]}}, "POP2-4C-16G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 17179869184, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "baremetal": false, "monthly_price": 160.965, "hourly_price": 0.2205, "capabilities":
      {"boot_types": ["rescue", "local"], "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 800000000, "sum_internet_bandwidth": 800000000,
      "interfaces": [{"internal_bandwidth": 800000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 800000000}]}}, "POP2-64C-256G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 64, "ram": 274877906944, "gpu":
      0, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0},
      "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      null, "baremetal": false, "monthly_price": 2573.25, "hourly_price": 3.525, "capabilities":
      {"boot_types": ["rescue", "local"], "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 12800000000, "sum_internet_bandwidth": 12800000000,
      "interfaces": [{"internal_bandwidth": 12800000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 12800000000}]}}, "POP2-8C-32G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "baremetal": false, "monthly_price": 317.55, "hourly_price": 0.435, "capabilities":
      {"boot_types": ["rescue", "local"], "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 1600000000, "sum_internet_bandwidth": 1600000000,
      "interfaces": [{"internal_bandwidth": 1600000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 1600000000}]}}, "POP2-HC-16C-32G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 34359738368, "gpu":
      0, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0},
      "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      null, "baremetal": false, "monthly_price": 466.032, "hourly_price": 0.6384,
      "capabilities": {"boot_types": ["rescue", "local"], "hot_snapshots_local_volume":
      false, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 3200000000, "sum_internet_bandwidth":
      3200000000, "interfaces": [{"internal_bandwidth": 3200000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 3200000000}]}}, "POP2-HC-2C-4G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 4294967296, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "baremetal": false, "monthly_price": 58.254, "hourly_price": 0.0798, "capabilities":
      {"boot_types": ["rescue", "local"], "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth": 400000000,
      "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 400000000}]}}, "POP2-HC-32C-64G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram": 68719476736, "gpu":
      0, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0},
      "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      null, "baremetal": false, "monthly_price": 932.064, "hourly_price": 1.2768,
      "capabilities": {"boot_types": ["rescue", "local"], "hot_snapshots_local_volume":
      false, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 6400000000, "sum_internet_bandwidth":
      6400000000, "interfaces": [{"internal_bandwidth": 6400000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 6400000000}]}}, "POP2-HC-4C-8G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 8589934592, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "baremetal": false, "monthly_price": 116.508, "hourly_price": 0.1596, "capabilities":
      {"boot_types": ["rescue", "local"], "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 800000000, "sum_internet_bandwidth": 800000000,
      "interfaces": [{"internal_bandwidth": 800000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 800000000}]}}, "POP2-HC-64C-128G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 64, "ram": 137438953472, "gpu":
      0, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0},
      "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      null, "baremetal": false, "monthly_price": 1864.128, "hourly_price": 2.5536,
      "capabilities": {"boot_types": ["rescue", "local"], "hot_snapshots_local_volume":
      false, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 12800000000, "sum_internet_bandwidth":
      12800000000, "interfaces": [{"internal_bandwidth": 12800000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 12800000000}]}}, "POP2-HC-8C-16G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 17179869184, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "baremetal": false, "monthly_price": 233.016, "hourly_price": 0.3192, "capabilities":
      {"boot_types": ["rescue", "local"], "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 1600000000, "sum_internet_bandwidth": 1600000000,
      "interfaces": [{"internal_bandwidth": 1600000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 1600000000}]}}, "POP2-HM-16C-128G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 137438953472, "gpu":
      0, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0},
      "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      null, "baremetal": false, "monthly_price": 902.28, "hourly_price": 1.236, "capabilities":
      {"boot_types": ["rescue", "local"], "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 3200000000, "sum_internet_bandwidth": 3200000000,
      "interfaces": [{"internal_bandwidth": 3200000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 3200000000}]}}, "POP2-HM-2C-16G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 17179869184, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "baremetal": false, "monthly_price": 112.785, "hourly_price": 0.1545, "capabilities":
      {"boot_types": ["rescue", "local"], "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth": 400000000,
      "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 400000000}]}}, "POP2-HM-32C-256G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram": 274877906944, "gpu":
      0, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0},
      "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      null, "baremetal": false, "monthly_price": 1804.56, "hourly_price": 2.472, "capabilities":
      {"boot_types": ["rescue", "local"], "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 6400000000, "sum_internet_bandwidth": 6400000000,
      "interfaces": [{"internal_bandwidth": 6400000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 6400000000}]}}, "POP2-HM-4C-32G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 34359738368, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "baremetal": false, "monthly_price": 225.57, "hourly_price": 0.309, "capabilities":
      {"boot_types": ["rescue", "local"], "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 800000000, "sum_internet_bandwidth": 800000000,
      "interfaces": [{"internal_bandwidth": 800000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 800000000}]}}, "POP2-HM-64C-512G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 64, "ram": 549755813888, "gpu":
      0, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0},
      "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      null, "baremetal": false, "monthly_price": 3609.12, "hourly_price": 4.944, "capabilities":
      {"boot_types": ["rescue", "local"], "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 12800000000, "sum_internet_bandwidth": 12800000000,
      "interfaces": [{"internal_bandwidth": 12800000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 12800000000}]}}, "POP2-HM-8C-64G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 68719476736, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "baremetal": false, "monthly_price": 451.14, "hourly_price": 0.618, "capabilities":
      {"boot_types": ["rescue", "local"], "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 1600000000, "sum_internet_bandwidth": 1600000000,
      "interfaces": [{"internal_bandwidth": 1600000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 1600000000}]}}, "PRO2-L":
      {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram": 137438953472, "gpu":
      0, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0},
      "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      null, "baremetal": false, "monthly_price": 959.95, "hourly_price": 1.315, "capabilities":
      {"boot_types": ["rescue", "local"], "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 6000000000, "sum_internet_bandwidth": 6000000000,
      "interfaces": [{"internal_bandwidth": 6000000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 6000000000}]}}, "PRO2-M":
      {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 68719476736, "gpu":
      0, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0},
      "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      null, "baremetal": false, "monthly_price": 480.34, "hourly_price": 0.658, "capabilities":
      {"boot_types": ["rescue", "local"], "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 3000000000, "sum_internet_bandwidth": 3000000000,
      "interfaces": [{"internal_bandwidth": 3000000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 3000000000}]}}, "PRO2-S":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "baremetal": false, "monthly_price": 240.17, "hourly_price": 0.329, "capabilities":
      {"boot_types": ["rescue", "local"], "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 1500000000, "sum_internet_bandwidth": 1500000000,
      "interfaces": [{"internal_bandwidth": 1500000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 1500000000}]}}, "PRO2-XS":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 17179869184, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "baremetal": false, "monthly_price": 119.72, "hourly_price": 0.164, "capabilities":
      {"boot_types": ["rescue", "local"], "hot_snapshots_local_volume": false, "placement_groups":
[...]
