---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?page=1
    method: GET
  response:
    body: '{"servers": [{"id": "3391c8bd-514a-443f-bd8c-dd2adc824480", "name": "cli-srv-wonderful-moser",
      "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
      "951df375-e094-4d26-97c1-ba548eeb9c42", "hostname": "cli-srv-wonderful-moser",
      "image": {"id": "f974feac-abae-4365-b988-8ec7d1cec10d", "name": "Ubuntu Bionic
      Beaver", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume":
      {"id": "dd5f5c10-23b1-4c9c-8445-eb6740957c84", "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13",
      "volume_type": "l_ssd", "size": 10000000000}, "extra_volumes": {}, "public":
      true, "arch": "x86_64", "creation_date": "2019-03-05T10:13:15.974944+00:00",
      "modification_date": "2019-03-05T13:32:29.274319+00:00", "default_bootscript":
      {"id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8", "public": false, "title": "x86_64
      mainline 4.9.93 rev1", "architecture": "x86_64", "organization": "11111111-1111-4111-8111-111111111111",
      "kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "dtb": "", "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      false, "zone": "fr-par-1"}, "from_server": null, "state": "available", "zone":
      "fr-par-1"}, "volumes": {"0": {"id": "ef16cbe8-3864-4316-b97d-3bc1bd7ac2bc",
      "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13", "volume_type":
      "l_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "server": {"id": "3391c8bd-514a-443f-bd8c-dd2adc824480", "name": "cli-srv-wonderful-moser"},
      "size": 20000000000, "state": "available", "creation_date": "2020-03-05T08:57:13.990673+00:00",
      "modification_date": "2020-03-05T08:57:14.229178+00:00", "zone": "fr-par-1"}},
      "tags": [], "state": "running", "protected": false, "state_detail": "booting
      kernel", "public_ip": {"id": "7635037a-910e-4586-a3d6-7c0b5e68f0cf", "address":
      "51.15.216.206", "dynamic": false}, "ipv6": null, "extra_networks": [], "dynamic_ip_required":
      false, "enable_ipv6": false, "private_ip": "10.64.208.83", "creation_date":
      "2020-03-05T08:57:13.990673+00:00", "modification_date": "2020-03-05T08:57:58.303125+00:00",
      "bootscript": {"id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8", "public": false,
      "title": "x86_64 mainline 4.9.93 rev1", "architecture": "x86_64", "organization":
      "11111111-1111-4111-8111-111111111111", "kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "dtb": "", "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      false, "zone": "fr-par-1"}, "security_group": {"id": "54e2d5f6-d79c-44cc-b19f-613699b9cc7e",
      "name": "Default security group"}, "location": {"zone_id": "par1", "platform_id":
      "14", "cluster_id": "17", "hypervisor_id": "1301", "node_id": "42"}, "maintenances":
      [], "allowed_actions": ["poweroff", "terminate", "reboot", "stop_in_place",
      "backup"], "placement_group": null, "compute_cluster": null, "private_nics":
      [], "zone": "fr-par-1"}, {"id": "705195d7-5ca8-4736-b2d4-710f0c2eb60a", "name":
      "cli-srv-suspicious-beaver", "arch": "x86_64", "commercial_type": "DEV1-S",
      "boot_type": "local", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "hostname": "cli-srv-suspicious-beaver", "image": {"id": "f974feac-abae-4365-b988-8ec7d1cec10d",
      "name": "Ubuntu Bionic Beaver", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "root_volume": {"id": "dd5f5c10-23b1-4c9c-84[...]
