---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?page=1
    method: GET
  response:
    body: '{"servers": [{"id": "14e29ae5-8d49-4fed-94c0-184fa5c17856", "name": "scw-magical-stallman",
      "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
      "b8fdefc6-c926-4a47-af24-24f14f724d6a", "project": "b8fdefc6-c926-4a47-af24-24f14f724d6a",
      "hostname": "scw-magical-stallman", "image": {"id": "f974feac-abae-4365-b988-8ec7d1cec10d",
      "name": "Ubuntu Bionic Beaver", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "dd5f5c10-23b1-4c9c-8445-eb6740957c84",
      "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13", "volume_type":
      "l_ssd", "size": 10000000000}, "extra_volumes": {}, "public": true, "arch":
      "x86_64", "creation_date": "2019-03-05T10:13:15.974944+00:00", "modification_date":
      "2019-03-05T13:32:29.274319+00:00", "default_bootscript": {"id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8",
      "public": false, "title": "x86_64 mainline 4.9.93 rev1", "architecture": "x86_64",
      "organization": "11111111-1111-4111-8111-111111111111", "project": "11111111-1111-4111-8111-111111111111",
      "kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "dtb": "", "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      false, "zone": "fr-par-1"}, "from_server": null, "state": "available", "zone":
      "fr-par-1"}, "volumes": {"0": {"id": "55b1bd2e-9a99-4437-a5da-063de5acd301",
      "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13", "volume_type":
      "l_ssd", "export_uri": null, "organization": "b8fdefc6-c926-4a47-af24-24f14f724d6a",
      "project": "b8fdefc6-c926-4a47-af24-24f14f724d6a", "server": {"id": "14e29ae5-8d49-4fed-94c0-184fa5c17856",
      "name": "scw-magical-stallman"}, "size": 20000000000, "state": "available",
      "creation_date": "2020-08-19T13:42:31.652418+00:00", "modification_date": "2020-08-19T13:42:31.800949+00:00",
      "zone": "fr-par-1"}}, "tags": [], "state": "running", "protected": false, "state_detail":
      "booting kernel", "public_ip": {"id": "3c3b31cf-fcc3-4e07-8c06-410309a3ff2b",
      "address": "51.15.243.126", "dynamic": false}, "ipv6": {"address": "2001:bc8:604:162b::1",
      "gateway": "2001:bc8:604:162b::", "netmask": "64"}, "extra_networks": [], "dynamic_ip_required":
      false, "enable_ipv6": true, "private_ip": "10.68.124.87", "creation_date": "2020-08-19T13:42:31.652418+00:00",
      "modification_date": "2020-08-19T13:42:54.107548+00:00", "bootscript": {"id":
      "15fbd2f7-a0f9-412b-8502-6a44da8d98b8", "public": false, "title": "x86_64 mainline
      4.9.93 rev1", "architecture": "x86_64", "organization": "11111111-1111-4111-8111-111111111111",
      "project": "11111111-1111-4111-8111-111111111111", "kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "dtb": "", "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      false, "zone": "fr-par-1"}, "security_group": {"id": "c73f1fa9-a053-4839-ab81-2de8aa8e0b2c",
      "name": "Default security group"}, "location": {"zone_id": "par1", "platform_id":
      "14", "cluster_id": "36", "hypervisor_id": "1201", "node_id": "44"}, "maintenances":
      [], "allowed_actions": ["poweroff", "terminate", "reboot", "stop_in_place",
      "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </servers?page=1&per_page=50&>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
