---
version: 1
interactions:
- request:
    body: '{"organization":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "4695f4cd-d066-4b41-b6b5-0ff2158227e6", "address": "51.158.74.63",
      "reverse": null, "server": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "zone": "fr-par-1", "tags": []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cp-par1.scaleway.com/ips/4695f4cd-d066-4b41-b6b5-0ff2158227e6
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/51.158.74.63
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
