---
version: 2
interactions:
- request:
    body: '{"volume": {"id": "eb1a9658-31f8-454a-851f-4e3569203d4b", "name": "cli-test",
      "volume_type": "b_ssd", "export_uri": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "server": null, "size": 10000000000,
      "state": "available", "creation_date": "2023-12-14T14:00:00.949529+00:00", "modification_date":
      "2023-12-14T14:00:00.949529+00:00", "tags": [], "zone": "fr-par-1"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "eb1a9658-31f8-454a-851f-4e3569203d4b", "name": "cli-test",
      "volume_type": "b_ssd", "export_uri": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "server": null, "size": 10000000000,
      "state": "available", "creation_date": "2023-12-14T14:00:00.949529+00:00", "modification_date":
      "2023-12-14T14:00:00.949529+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/eb1a9658-31f8-454a-851f-4e3569203d4b
    status: 201 Created
    code: 201
[...]
- request:
    body: '{"snapshot": {"id": "f8cf3efd-885d-46bd-b390-f3ce21df07eb", "name": "cli-test-snapshot-update-tags",
      "volume_type": "b_ssd", "creation_date": "2023-12-14T14:00:01.157397+00:00",
      "modification_date": "2023-12-14T14:00:01.157397+00:00", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "size": 10000000000, "state":
      "snapshotting", "base_volume": {"id": "eb1a9658-31f8-454a-851f-4e3569203d4b",
      "name": "cli-test"}, "tags": ["foo", "bar"], "zone": "fr-par-1", "error_details":
      null}, "task": {"id": "8f7e60e6-5bca-4a99-a3b3-22a52acb5080", "description":
      "snapshot_f8cf3efd-885d-46bd-b390-f3ce21df07eb", "status": "pending", "href_from":
      "/snapshots", "href_result": "snapshots/f8cf3efd-885d-46bd-b390-f3ce21df07eb",
      "started_at": "2023-12-14T14:00:01.377312+00:00", "terminated_at": null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "f8cf3efd-885d-46bd-b390-f3ce21df07eb", "name": "cli-test-snapshot-update-tags",
      "volume_type": "b_ssd", "creation_date": "2023-12-14T14:00:01.157397+00:00",
      "modification_date": "2023-12-14T14:00:01.157397+00:00", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "size": 10000000000, "state":
      "snapshotting", "base_volume": {"id": "eb1a9658-31f8-454a-851f-4e3569203d4b",
      "name": "cli-test"}, "tags": ["foo", "bar"], "zone": "fr-par-1", "error_details":
      null}, "task": {"id": "8f7e60e6-5bca-4a99-a3b3-22a52acb5080", "description":
      "snapshot_f8cf3efd-885d-46bd-b390-f3ce21df07eb", "status": "pending", "href_from":
      "/snapshots", "href_result": "snapshots/f8cf3efd-885d-46bd-b390-f3ce21df07eb",
      "started_at": "2023-12-14T14:00:01.377312+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
- request:
    body: '{"snapshot": {"id": "f8cf3efd-885d-46bd-b390-f3ce21df07eb", "name": "cli-test-snapshot-update-tags",
      "volume_type": "b_ssd", "creation_date": "2023-12-14T14:00:01.157397+00:00",
      "modification_date": "2023-12-14T14:00:01.768008+00:00", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "size": 10000000000, "state":
      "snapshotting", "base_volume": {"id": "eb1a9658-31f8-454a-851f-4e3569203d4b",
      "name": "cli-test"}, "tags": ["bar", "foo"], "zone": "fr-par-1", "error_details":
      null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/f8cf3efd-885d-46bd-b390-f3ce21df07eb
    method: PATCH
  response:
    body: '{"snapshot": {"id": "f8cf3efd-885d-46bd-b390-f3ce21df07eb", "name": "cli-test-snapshot-update-tags",
      "volume_type": "b_ssd", "creation_date": "2023-12-14T14:00:01.157397+00:00",
      "modification_date": "2023-12-14T14:00:01.768008+00:00", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "size": 10000000000, "state":
      "snapshotting", "base_volume": {"id": "eb1a9658-31f8-454a-851f-4e3569203d4b",
      "name": "cli-test"}, "tags": ["bar", "foo"], "zone": "fr-par-1", "error_details":
      null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/eb1a9658-31f8-454a-851f-4e3569203d4b
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
