---
version: 1
interactions:
- request:
    body: '{"name":"foobar","root_volume":"6fd63468-b198-42cf-8462-81df850a7a8e","arch":"x86_64","extra_volumes":{"0":{"volume_type":"l_ssd"}},"organization":"aba2d0d0-b01d-4d88-b322-935edc96d0fd"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
    method: POST
  response:
    body: '{"type": "invalid_request_error", "message": "Validation Error", "fields":
      {"extra_volumes.0": ["extra keys not allowed"]}}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
