---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"security_group": {"id": "163141d1-6e3a-4791-831f-4dd776a94ef9", "creation_date": "2025-07-23T13:16:54.056133+00:00", "modification_date": "2025-07-23T13:16:54.056133+00:00", "name": "cli-sg-fervent-darwin", "description": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "servers": [], "stateful": true, "inbound_default_policy": "accept", "outbound_default_policy": "accept", "organization_default": false, "project_default": false, "enable_default_security": true, "state": "available", "tags": [], "zone": "fr-par-1"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
        method: POST
      response:
        body: '{"security_group": {"id": "163141d1-6e3a-4791-831f-4dd776a94ef9", "creation_date": "2025-07-23T13:16:54.056133+00:00", "modification_date": "2025-07-23T13:16:54.056133+00:00", "name": "cli-sg-fervent-darwin", "description": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "servers": [], "stateful": true, "inbound_default_policy": "accept", "outbound_default_policy": "accept", "organization_default": false, "project_default": false, "enable_default_security": true, "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/163141d1-6e3a-4791-831f-4dd776a94ef9
        status: 201 Created
        code: 201
        duration: 602.704103ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"security_group": {"id": "163141d1-6e3a-4791-831f-4dd776a94ef9", "creation_date": "2025-07-23T13:16:54.056133+00:00", "modification_date": "2025-07-23T13:16:54.056133+00:00", "name": "cli-sg-fervent-darwin", "description": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "servers": [], "stateful": true, "inbound_default_policy": "accept", "outbound_default_pol[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"rules": [{"id": "11111111-2222-4333-8444-000000000001", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 25, "dest_port_to": null, "position": 1, "editable": false, "action": "drop", "zone": "fr-par-1"}, {"id": "11111111-2222-4333-8444-000000000002", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 465, "dest_port_to": null, "position": 2, "editable": false, "action": "drop", "zone": "fr-par-1"}, {"id": "11111111-2222-4333-8444-000000000003", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 587, "dest_port_to": null, "position": 3, "editable": fa[...]
[...]
