---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test\",\"project\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"volume_type\":\"l_ssd\",\"size\":20000000000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"volume\": {\"id\": \"c48f4759-5755-4a2a-9832-6877a4b2cd0c\", \"name\": \"test\", \"volume_type\": \"l_ssd\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"server\": null, \"size\": 20000000000, \"state\": \"available\", \"creation_date\": \"2025-11-04T10:25:47.200437+00:00\", \"modification_date\": \"2025-11-04T10:25:47.200437+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/c48f4759-5755-4a2a-9832-6877a4b2cd0c
    status: 201 Created
    code: 201
    duration: 160.816013ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/c48f4759-5755-4a2a-9832-6877a4b2cd0c
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 105.012433ms
