---
version: 1
interactions:
- request:
    body: '{"volume": {"id": "b99feb65-37d5-4c9f-8184-9cfe59458242", "name": "cli-test",
      "volume_type": "b_ssd", "export_uri": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "server": null, "size": 10000000000,
      "state": "available", "creation_date": "2023-12-04T12:28:26.746002+00:00", "modification_date":
      "2023-12-04T12:28:26.746002+00:00", "tags": [], "zone": "fr-par-1"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "b99feb65-37d5-4c9f-8184-9cfe59458242", "name": "cli-test",
      "volume_type": "b_ssd", "export_uri": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "server": null, "size": 10000000000,
      "state": "available", "creation_date": "2023-12-04T12:28:26.746002+00:00", "modification_date":
      "2023-12-04T12:28:26.746002+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/b99feb65-37d5-4c9f-8184-9cfe59458242
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"snapshot": {"id": "b9c85505-7021-455d-9f93-3cfc266ffbb9", "name": "cli-test-snapshot-update-name",
      "volume_type": "b_ssd", "creation_date": "2023-12-04T12:28:27.040408+00:00",
      "modification_date": "2023-12-04T12:28:27.040408+00:00", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "size": 10000000000, "state":
      "snapshotting", "base_volume": {"id": "b99feb65-37d5-4c9f-8184-9cfe59458242",
      "name": "cli-test"}, "tags": ["foo", "bar"], "zone": "fr-par-1", "error_details":
      null}, "task": {"id": "3681bb4d-b312-486e-8082-1087f5c96cf4", "description":
      "snapshot_b9c85505-7021-455d-9f93-3cfc266ffbb9", "status": "pending", "href_from":
      "/snapshots", "href_result": "snapshots/b9c85505-7021-455d-9f93-3cfc266ffbb9",
      "started_at": "2023-12-04T12:28:27.248270+00:00", "terminated_at": null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "b9c85505-7021-455d-9f93-3cfc266ffbb9", "name": "cli-test-snapshot-update-name",
      "volume_type": "b_ssd", "creation_date": "2023-12-04T12:28:27.040408+00:00",
      "modification_date": "2023-12-04T12:28:27.040408+00:00", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "size": 10000000000, "state":
      "snapshotting", "base_volume": {"id": "b99feb65-37d5-4c9f-8184-9cfe59458242",
      "name": "cli-test"}, "tags": ["foo", "bar"], "zone": "fr-par-1", "error_details":
      null}, "task": {"id": "3681bb4d-b312-486e-8082-1087f5c96cf4", "description":
      "snapshot_b9c85505-7021-455d-9f93-3cfc266ffbb9", "status": "pending", "href_from":
      "/snapshots", "href_result": "snapshots/b9c85505-7021-455d-9f93-3cfc266ffbb9",
      "started_at": "2023-12-04T12:28:27.248270+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"snapshot": {"id": "b9c85505-7021-455d-9f93-3cfc266ffbb9", "name": "cli-test-snapshot-update-name-updated",
      "volume_type": "b_ssd", "creation_date": "2023-12-04T12:28:27.040408+00:00",
      "modification_date": "2023-12-04T12:28:27.837127+00:00", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "size": 10000000000, "state":
      "snapshotting", "base_volume": {"id": "b99feb65-37d5-4c9f-8184-9cfe5945824[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/b99feb65-37d5-4c9f-8184-9cfe59458242
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
