---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?order=creation_date_desc&page=1
    method: GET
  response:
    body: '{"servers": [{"id": "b78e0677-78e7-499f-a0fe-693e9b91732d", "name": "cli-srv-distracted-chandrasekhar",
      "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
      "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "hostname": "cli-srv-distracted-chandrasekhar", "image": {"id": "96cfdd7b-a266-4bfd-8177-0b05ec324229",
      "name": "Ubuntu 18.04 Bionic Beaver", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "91886dbe-41c8-4a18-85b1-02a724d83215",
      "name": "ubuntu_18.04_bionic_beaver:volume-0", "volume_type": "l_ssd", "size":
      10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date":
      "2021-11-29T08:58:09.601333+00:00", "modification_date": "2021-11-29T08:58:09.601333+00:00",
      "default_bootscript": null, "from_server": null, "state": "available", "zone":
      "fr-par-1"}, "volumes": {"0": {"boot": false, "id": "c4983a35-10d5-423c-b405-5bf20e6d094a",
      "name": "ubuntu_18.04_bionic_beaver:volume-0", "volume_type": "l_ssd", "export_uri":
      null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "server": {"id": "b78e0677-78e7-499f-a0fe-693e9b91732d", "name": "cli-srv-distracted-chandrasekhar"},
      "size": 20000000000, "state": "available", "creation_date": "2021-12-13T13:42:00.196492+00:00",
      "modification_date": "2021-12-13T13:42:00.196492+00:00", "zone": "fr-par-1"},
      "1": {"boot": false, "id": "879974bf-c656-43a0-9b6e-0a5a4b93b142", "name": "cli-test",
      "volume_type": "l_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": {"id": "b78e0677-78e7-499f-a0fe-693e9b91732d",
      "name": "cli-srv-distracted-chandrasekhar"}, "size": 10000000000, "state": "available",
      "creation_date": "2021-12-13T13:42:00.697452+00:00", "modification_date": "2021-12-13T13:42:01.026347+00:00",
      "zone": "fr-par-1"}}, "tags": [], "state": "stopped", "protected": false, "state_detail":
      "", "public_ip": {"id": "dd9e8df6-6775-4863-b517-e0b0ee3d7477", "address": "212.47.232.136",
      "dynamic": false}, "ipv6": null, "extra_networks": [], "dynamic_ip_required":
      false, "enable_ipv6": false, "private_ip": null, "creation_date": "2021-12-13T13:42:00.196492+00:00",
      "modification_date": "2021-12-13T13:42:00.196492+00:00", "bootscript": {"id":
      "fdfe150f-a870-4ce4-b432-9f56b5b995c1", "public": true, "title": "x86_64 mainline
      4.4.230 rev1", "architecture": "x86_64", "organization": "11111111-1111-4111-8111-111111111111",
      "project": "11111111-1111-4111-8111-111111111111", "kernel": "http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230",
      "dtb": "", "initrd": "http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      true, "zone": "fr-par-1"}, "security_group": {"id": "54e2d5f6-d79c-44cc-b19f-613699b9cc7e",
      "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions":
      ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone":
      "fr-par-1"}, {"id": "ca2aad63-b8a6-4210-a6c6-661449b1e46c", "name": "cli-srv-agitated-benz",
      "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
      "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "hostname": "cli-srv-agitated-benz", "image": {"id": "96cfdd7b-a266-4bfd-8177-0b05ec324229",
      "name": "Ubuntu 18.04 Bionic Beaver", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
 [...]
