---
version: 1
interactions:
- request:
    body: '{"name":"test","organization":"14d2f7ae-9775-414c-9bed-6810e060d500","volume_type":"l_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"size": 20000000000, "state": "available", "name": "test",
      "modification_date": "2020-01-20T14:36:28.843991+00:00", "organization": "14d2f7ae-9775-414c-9bed-6810e060d500",
      "export_uri": null, "creation_date": "2020-01-20T14:36:28.843991+00:00", "id":
      "44baf81c-9bf9-4d4e-a1b8-61e344a425a3", "volume_type": "l_ssd", "server": null}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cp-par1.scaleway.com/volumes/44baf81c-9bf9-4d4e-a1b8-61e344a425a3
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/44baf81c-9bf9-4d4e-a1b8-61e344a425a3
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
