---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/marketplace/v1/images?page=1
    method: GET
  response:
    body: '{"images": [{"id": "b381b2bf-804a-4b12-91f6-9f4ff273462f", "name": "Ubuntu Bionic", "label": "ubuntu_bionic", "logo": "https://marketplace-logos.s3.nl-ams.scw.cloud/ubuntu.png", "description": "Ubuntu is the ideal distribution for scale-out computing, Ubuntu Server helps you make the most of your infrastructure.", "organization": {"id": "51b656e3-4865-41e8-adbc-0c45bdd780db", "name": "Instances User Resources Build System"}, "versions": [{"id": "7b72fe52-3bdd-4c57-8331-6e2cdfb8fb01", "name": "2021-01-04T15:28:30.145191+00:00", "local_images": [{"id": "8ddea044-bb97-4892-8715-f5ad1b317a01", "zone": "pl-waw-1", "arch": "x86_64", "compatible_commercial_types": ["VC1S", "VC1M", "VC1L", "START1-XS", "START1-S", "START1-M", "START1-L", "DEV1-S", "DEV1-M", "DEV1-L", "DEV1-XL", "GP1-XS", "GP1-S", "GP1-M", "GP1-L", "GP1-XL"]}, {"id": "b4bdbee1-e1f1-4436-8de4-bdb1b6ba4803", "zone": "par1", "arch": "arm64", "compatible_commercial_types": ["ARM64-8GB", "ARM64-2GB", "ARM64-32GB", "ARM64-128GB", "ARM64-4GB", "ARM64-64GB", "ARM64-16GB"]}, {"id": "7663c62b-40e3-4e6b-a835-70723ec2050b", "zone": "ams1", "arch": "arm64", "compatible_commercial_types": ["ARM64-4GB", [...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/25dddb13-9e1a-4d9f-be25-92df3a801168
    method: GET
  response:
    body: '{"image": {"id": "25dddb13-9e1a-4d9f-be25-92df3a801168", "name": "Ubuntu 18.04 Bionic Beaver", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "e3b72912-adbf-40cb-9d7a-1470b6787d07", "name": "ubuntu_18.04_bionic_beaver:volume-0", "volume_type": "l_ssd", "size": 10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2021-01-04T14:25:42.256836+00:00", "modification_date": "2021-01-04T14:25:42.256836+00:00", "default_bootscript": null, "from_server": null, "state": "available", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/products/servers
    method: GET
  response:
    body: '{"servers": {"ARM64-128GB": {"alt_names": [], "arch": "arm64", "ncpus": 64, "ram": 137438953472, "gpu": null, "volumes_constraint": {"min_size": 500000000000, "max_size": 1000000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 403.2, "hourly_price": 0.56, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 1073741824, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 1073741824}]}}, "ARM64-16GB": {"alt_names": [], "arch": "arm64", "ncpus": 16, "ram": 17179869184, "gpu": null, "volumes_constraint": {"min_size": 200000000000, "max_size": 400000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 50.4, "hourly_price": 0.07, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 524288000, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 524288000}]}}, "ARM64-2GB": {"alt_names": [], "arch": "arm64", "ncpus": 4, "ram": 2147483648, "gpu": null, "volumes_constraint": {"min_size": 50000000000, "max_size": 50000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 4.32, "hourly_price": 0.006, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 209715200, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 209715200}]}}, "ARM64-32GB": {"alt_names": [], "arch": "arm64", "ncpus": 32, "ram": 34359738368, "gpu": null, "volumes_constraint": {"min_size": 300000000000, "max_size": 600000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 100.8, "hourly_price": 0.14, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 524288000, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 524288000}]}}, "ARM64-4GB": {"alt_names": [], "arch": "arm64", "ncpus": 6, "ram": 4294967296, "gpu": null, "volumes_constraint": {"min_size": 100000000000, "max_size": 100000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 8.64, "hourly_price": 0.012, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 209715200, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 209715200}]}}, "ARM64-64GB": {"alt_names": [], "arch": "arm64", "ncpus": 48, "ram": 68719476736, "gpu": null, "volumes_constraint": {"min_size": 400000000000, "max_size": 800000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 201.6, "hourly_price": 0.28, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 1073741824, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 1073741824}]}}, "ARM64-8GB": {"alt_names": [], "arch": "arm64", "ncpus": 8, "ram": 8589934592, "gpu": null, "volumes_constraint": {"min_size": 200000000000, "max_size": 200000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 17.28, "hourly_price": 0.024, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 209715200, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 209715200}]}}, "C1": {"alt_names": [], "arch": "arm", "ncpus": 4, "ram": 2147483648, "gpu": null, "volumes_constraint": {"min_size": 50000000000, "max_size": 1000000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": true, "monthly_price": 4.32, "hourly_price": 0.006, "capabilities": {"boot_types": ["bootscript", "rescue"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": false, "placement_groups": false, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": false, "sum_internal_bandwidth": 1073741824, "sum_internet_bandwidth": 209715200, "interfaces": [{"internal_bandwidth": 1073741824, "internet_bandwidth": 209715200}]}}, "C2L": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": null, "volumes_constraint": {"min_size": 50000000000, "max_size": 1000000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": true, "monthly_price": 34.56, "hourly_price": 0.048, "capabilities": {"boot_types": ["bootscript", "rescue"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": false, "placement_groups": false, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 5368709120, "sum_internet_bandwidth": 629145600, "interfaces": [{"internal_bandwidth": 2684354560, "internet_bandwidth": 629145600}, {"internal_bandwidth": 2684354560, "internet_bandwidth": null}]}}, "C2M": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 17179869184, "gpu": null, "volumes_constraint": {"min_size": 50000000000, "max_size": 1000000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": true, "monthly_price": 25.92, "hourly_price": 0.036, "capabilities": {"boot_types": ["bootscript", "rescue"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": false, "placement_groups": false, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 5368709120, "sum_internet_bandwidth": 524288000, "interfaces": [{"internal_bandwidth": 2684354560, "internet_bandwidth": 524288000}, {"internal_bandwidth": 2684354560, "internet_bandwidth": null}]}}, "C2S": {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 8589934592, "gpu": null, "volumes_constraint": {"min_size": 50000000000, "max_size": 1000000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": true, "monthly_price": 17.28, "hourly_price": 0.024, "capabilities": {"boot_types": ["bootscript", "rescue"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": false, "placement_groups": false, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 2684354560, "sum_internet_bandwidth": 314572800, "interfaces": [{"internal_bandwidth": 2684354560, "internet_bandwidth": 314572800}]}}, "DEV1-L": {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 8589934592, "gpu": null, "volumes_constraint": {"min_size": 80000000000, "max_size": 80000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price": 28.8, "hourly_price": 0.04, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 419430400, "sum_internet_bandwidth": 419430400, "interfaces": [{"internal_bandwidth": 419430400, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth": 419430400}]}}, "DEV1-M": {"alt_names": [], "arch": "x86_64", "ncpus": 3, "ram": 4294967296, "gpu": null, "volumes_constraint": {"min_size": 40000000000, "max_size": 40000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price": 14.4, "hourly_price": 0.02, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 314572800, "sum_internet_bandwidth": 314572800, "interfaces": [{"internal_bandwidth": 314572800, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth": 314572800}]}}, "DEV1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 2147483648, "gpu": null, "volumes_constraint": {"min_size": 20000000000, "max_size": 20000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price": 7.2, "hourly_price": 0.01, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 209715200, "sum_internet_bandwidth": 209715200, "interfaces": [{"internal_bandwidth": 209715200, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth": 209715200}]}}, "DEV1-XL": {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 12884901888, "gpu": null, "volumes_constraint": {"min_size": 120000000000, "max_size": 120000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price": 43.2, "hourly_price": 0.06, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 524288000, "sum_internet_bandwidth": 524288000, "interfaces": [{"internal_bandwidth": 524288000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth": 524288000}]}}, "GP1-L": {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram": 137438953472, "gpu": null, "volumes_constraint": {"min_size": 600000000000, "max_size": 600000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price": 475.2, "hourly_price": 0.66, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 5368709120, "sum_internet_bandwidth": 5368709120, "interfaces": [{"internal_bandwidth": 5368709120, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth": 5368709120}]}}, "GP1-M": {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 68719476736, "gpu": null, "volumes_constraint": {"min_size": 600000000000, "max_size": 600000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price": 244.8, "hourly_price": 0.34, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 1610612736, "sum_internet_bandwidth": 1610612736, "interfaces": [{"internal_bandwidth": 1610612736, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth": 1610612736}]}}, "GP1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": null, "volumes_constraint": {"min_size": 300000000000, "max_size": 300000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price": 122.4, "hourly_price": 0.17, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 838860800, "sum_internet_bandwidth": 838860800, "interfaces": [{"internal_bandwidth": 838860800, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth": 838860800}]}}, "GP1-VIZ": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": null, "volumes_constraint": {"min_size": 300000000000, "max_size": 300000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price": 72.0, "hourly_price": 0.1, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 524288000, "sum_internet_bandwidth": 524288000, "interfaces": [{"internal_bandwidth": 524288000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth": 524288000}]}}, "GP1-XL": {"alt_names": [], "arch": "x86_64", "ncpus": 48, "ram": 274877906944, "gpu": null, "volumes_constraint": {"min_size": 600000000000, "max_size": 600000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price": 1008.0, "hourly_price": 1.4, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 10737418240, "sum_internet_bandwidth": 10737418240, "interfaces": [{"internal_bandwidth": 10737418240, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth": 10737418240}]}}, "GP1-XS": {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 17179869184, "gpu": null, "volumes_constraint": {"min_size": 150000000000, "max_size": 150000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price": 60.48, "hourly_price": 0.084, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 524288000, "sum_internet_bandwidth": 524288000, "interfaces": [{"internal_bandwidth": 524288000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth": 524288000}]}}, "RENDER-S": {"alt_names": [], "arch": "x86_64", "ncpus": 10, "ram": 48318382080, "gpu": 1, "volumes_constraint": {"min_size": 400000000000, "max_size": 400000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price": 720.0, "hourly_price": 1.0, "capabilities": {"boot_types": ["local", "rescue"], "default_boot_type": "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 1073741824, "sum_internet_bandwidth": 1073741824, "interfaces": [{"internal_bandwidth": 1073741824, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth": 1073741824}]}}, "STARDUST1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 1, "ram": 1073741824, "gpu": null, "volumes_constraint": {"min_size": 10000000000, "max_size": 10000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price": 1.8, "hourly_price": 0.0025, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 104857600, "sum_internet_bandwidth": 104857600, "interfaces": [{"internal_bandwidth": 104857600, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth": 104857600}]}}, "START1-L": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 8589934592, "gpu": null, "volumes_constraint": {"min_size": 200000000000, "max_size": 200000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 23.04, "hourly_price": 0.032, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 419430400, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 419430400}]}}, "START1-M": {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 4294967296, "gpu": null, "volumes_constraint": {"min_size": 100000000000, "max_size": 100000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 11.52, "hourly_price": 0.016, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 314572800, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 314572800}]}}, "START1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 2147483648, "gpu": null, "volumes_constraint": {"min_size": 50000000000, "max_size": 50000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 5.76, "hourly_price": 0.008, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 209715200, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 209715200}]}}, "START1-XS": {"alt_names": [], "arch": "x86_64", "ncpus": 1, "ram": 1073741824, "gpu": null, "volumes_constraint": {"min_size": 25000000000, "max_size": 25000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 2.88, "hourly_price": 0.004, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 104857600, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 104857600}]}}, "VC1L": {"alt_names": ["X64-8GB"], "arch": "x86_64", "ncpus": 6, "ram": 8589934592, "gpu": null, "volumes_constraint": {"min_size": 200000000000, "max_size": 200000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 14.4, "hourly_price": 0.02, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 209715200, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 209715200}]}}, "VC1M": {"alt_names": ["X64-4GB"], "arch": "x86_64", "ncpus": 4, "ram": 4294967296, "gpu": null, "volumes_constraint": {"min_size": 100000000000, "max_size": 100000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 8.64, "hourly_price": 0.012, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 209715200, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 209715200}]}}, "VC1S": {"alt_names": ["X64-2GB"], "arch": "x86_64", "ncpus": 2, "ram": 2147483648, "gpu": null, "volumes_constraint": {"min_size": 50000000000, "max_size": 50000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 4.32, "hourly_price": 0.006, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 209715200, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 209715200}]}}, "X64-120GB": {"alt_names": [], "arch": "x86_64", "ncpus": 12, "ram": 128849018880, "gpu": null, "volumes_constraint": {"min_size": 500000000000, "max_size": 1000000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 259.2, "hourly_price": 0.36, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 1073741824, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 1073741824}]}}, "X64-15GB": {"alt_names": [], "arch": "x86_64", "ncpus": 6, "ram": 16106127360, "gpu": null, "volumes_constraint": {"min_size": 200000000000, "max_size": 200000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 36.0, "hourly_price": 0.05, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 262144000, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 262144000}]}}, "X64-30GB": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 32212254720, "gpu": null, "volumes_constraint": {"min_size": 300000000000, "max_size": 400000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 72.0, "hourly_price": 0.1, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 524288000, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 524288000}]}}, "X64-60GB": {"alt_names": [], "arch": "x86_64", "ncpus": 10, "ram": 64424509440, "gpu": null, "volumes_constraint": {"min_size": 400000000000, "max_size": 700000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 129.6, "hourly_price": 0.18, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 1073741824, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 1073741824}]}}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </products/servers?page=1&per_page=50&>; rel="last"
      X-Total-Count:
      - "34"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "a68a4dde-753c-4514-b99c-6b02616cf12c", "address": "163.172.146.20", "reverse": null, "server": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "zone": "fr-par-1", "tags": []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api02.internal.scaleway.com/ips/a68a4dde-753c-4514-b99c-6b02616cf12c
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"cli-srv-objective-mestorf","commercial_type":"DEV1-S","image":"25dddb13-9e1a-4d9f-be25-92df3a801168","public_ip":"a68a4dde-753c-4514-b99c-6b02616cf12c","boot_type":"local","project":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
[...]
