---
version: 1
interactions:
- request:
    body: '{"id":"7654bdd8-16b0-4a13-85aa-796c6af49590", "name":"test-cli-instance-server-get-rdp-password",
      "public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDHWGB4QQ4glvQYhmlGYtFvJhDLlK764Fe2vx77L+M7eAoG3CHwoHI98ZERj0VsL4LTN2Zvew+1q/UWTaPwerFyBEjEu1+IZssG5vTIJbrDhSx+PH4g30dHARU86CLD5ngYB5QFGa3Y5nTzJE9dDv0b6PXFWsD02N7DwTLLF1niNSwIKhd1Ru734Aw0NwBJtCm0LLbEEBhINkBn1aMXwecWgRC3mK/AkIHAI7zh5VoVQcOeQKjNJW0nVv2741s3BkvZMUo5DZL1QVouT+2fITIIhpurmxIGatiHZIR7X8iId9/4ADgQKP1OIiWMyUsG7IacfG4DB7frse7dBMfvSluv",
      "fingerprint":"2048 MD5:69:7a:f4:43:63:39:15:91:e7:64:52:1b:d4:aa:58:99 (ssh-rsa)",
      "created_at":"2025-10-31T17:36:29.464932Z", "updated_at":"2025-10-31T17:36:29.464932Z",
      "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"7654bdd8-16b0-4a13-85aa-796c6af49590", "name":"test-cli-instance-server-get-rdp-password",
      "public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDHWGB4QQ4glvQYhmlGYtFvJhDLlK764Fe2vx77L+M7eAoG3CHwoHI98ZERj0VsL4LTN2Zvew+1q/UWTaPwerFyBEjEu1+IZssG5vTIJbrDhSx+PH4g30dHARU86CLD5ngYB5QFGa3Y5nTzJE9dDv0b6PXFWsD02N7DwTLLF1niNSwIKhd1Ru734Aw0NwBJtCm0LLbEEBhINkBn1aMXwecWgRC3mK/AkIHAI7zh5VoVQcOeQKjNJW0nVv2741s3BkvZMUo5DZL1QVouT+2fITIIhpurmxIGatiHZIR7X8iId9/4ADgQKP1OIiWMyUsG7IacfG4DB7frse7dBMfvSluv",
      "fingerprint":"2048 MD5:69:7a:f4:43:63:39:15:91:e7:64:52:1b:d4:aa:58:99 (ssh-rsa)",
      "created_at":"2025-10-31T17:36:29.464932Z", "updated_at":"2025-10-31T17:36:29.464932Z",
      "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "disabled":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"servers": {"COPARM1-16C-64G": {"alt_names": [], "arch": "arm64", "ncpus":
      16, "ram": 68719476736, "gpu": 0, "gpu_info": null, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size":
      0, "max_size": 0}}, "scratch_storage_max_size": null, "monthly_price": 252.14,
      "hourly_price": 0.3454, "capabilities": {"boot_types": ["local", "rescue"],
      "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 1600000000, "sum_internet_bandwidth": 1600000000,
      "interfaces": [{"internal_bandwidth": 1600000000, "internet_bandwidth": 1600000000}]},
      "block_bandwidth": 671088640, "end_of_service": false}, "COPARM1-2C-8G": {"alt_names":
      [], "arch": "arm64", "ncpus": 2, "ram": 8589934592, "gpu": 0, "gpu_info": null,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "monthly_price": 31.1, "hourly_price": 0.0426, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 200000000, "sum_internet_bandwidth": 200000000,
      "interfaces": [{"internal_bandwidth": 200000000, "internet_bandwidth": 200000000}]},
      "block_bandwidth": 83886080, "end_of_service": false}, "COPARM1-32C-128G": {"alt_names":
      [], "arch": "arm64", "ncpus": 32, "ram": 137438953472, "gpu": 0, "gpu_info":
      null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size":
      0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      null, "monthly_price": 506.26, "hourly_price": 0.6935, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 3200000000, "sum_internet_bandwidth": 3200000000,
      "interfaces": [{"internal_bandwidth": 3200000000, "internet_bandwidth": 3200000000}]},
      "block_bandwidth": 1342177280, "end_of_service": false}, "COPARM1-4C-16G": {"alt_names":
      [], "arch": "arm64", "ncpus": 4, "ram": 17179869184, "gpu": 0, "gpu_info": null,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "monthly_price": 62.56, "hourly_price": 0.0857, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth": 400000000,
      "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth": 400000000}]},
      "block_bandwidth": 167772160, "end_of_service": false}, "COPARM1-8C-32G": {"alt_names":
      [], "arch": "arm64", "ncpus": 8, "ram": 34359738368, "gpu": 0, "gpu_info": null,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "monthly_price": 125.85, "hourly_price": 0.1724, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 800000000, "sum_internet_bandwidth": 800000000,
      "interfaces": [{"internal_bandwidth": 800000000, "internet_bandwidth": 800000000}]},
      "block_bandwidth": 335544320, "end_of_service": false}, "DEV1-L": {"alt_names":
      [], "arch": "x86_64", "ncpus": 4, "ram": 8589934592, "gpu": 0, "gpu_info": null,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 80000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "scratch_storage_max_size": null, "monthly_price": 36.1496, "hourly_price":
      0.04952, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups":
      true, "block_storage": true, "hot_snapshots_local_volume": true, "private_network":
      8, "max_file_systems": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      400000000, "sum_internet_bandwidth": 400000000, "interfaces": [{"internal_bandwidth":
      400000000, "internet_bandwidth": 400000000}]}, "block_bandwidth": 209715200,
      "end_of_service": false}, "DEV1-M": {"alt_names": [], "arch": "x86_64", "ncpus":
      3, "ram": 4294967296, "gpu": 0, "gpu_info": null, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 40000000000}, "per_volume_constraint": {"l_ssd":
      {"min_size": 1000000000, "max_size": 800000000000}}, "scratch_storage_max_size":
      null, "monthly_price": 18.6588, "hourly_price": 0.02556, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      true, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 300000000, "sum_internet_bandwidth": 300000000,
      "interfaces": [{"internal_bandwidth": 300000000, "internet_bandwidth": 300000000}]},
      "block_bandwidth": 157286400, "end_of_service": false}, "DEV1-S": {"alt_names":
      [], "arch": "x86_64", "ncpus": 2, "ram": 2147483648, "gpu": 0, "gpu_info": null,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 20000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "scratch_storage_max_size": null, "monthly_price": 9.9864, "hourly_price": 0.01368,
      "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true,
      "block_storage": true, "hot_snapshots_local_volume": true, "private_network":
      8, "max_file_systems": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      200000000, "sum_internet_bandwidth": 200000000, "interfaces": [{"internal_bandwidth":
      200000000, "internet_bandwidth": 200000000}]}, "block_bandwidth": 104857600,
      "end_of_service": false}, "DEV1-XL": {"alt_names": [], "arch": "x86_64", "ncpus":
      4, "ram": 12884901888, "gpu": 0, "gpu_info": null, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 120000000000}, "per_volume_constraint": {"l_ssd":
      {"min_size": 1000000000, "max_size": 800000000000}}, "scratch_storage_max_size":
      null, "monthly_price": 53.3484, "hourly_price": 0.07308, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      true, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 500000000, "sum_internet_bandwidth": 500000000,
      "interfaces": [{"internal_bandwidth": 500000000, "internet_bandwidth": 500000000}]},
      "block_bandwidth": 262144000, "end_of_service": false}, "GP1-L": {"alt_names":
      [], "arch": "x86_64", "ncpus": 32, "ram": 137438953472, "gpu": 0, "gpu_info":
      null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size":
      600000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      800000000000}}, "scratch_storage_max_size": null, "monthly_price": 576.262,
      "hourly_price": 0.7894, "capabilities": {"boot_types": ["local", "rescue"],
      "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      true, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 5000000000, "sum_internet_bandwidth": 5000000000,
      "interfaces": [{"internal_bandwidth": 5000000000, "internet_bandwidth": 5000000000}]},
      "block_bandwidth": 1073741824, "end_of_service": false}, "GP1-M": {"alt_names":
      [], "arch": "x86_64", "ncpus": 16, "ram": 68719476736, "gpu": 0, "gpu_info":
      null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size":
      600000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      800000000000}}, "scratch_storage_max_size": null, "monthly_price": 296.672,
      "hourly_price": 0.4064, "capabilities": {"boot_types": ["local", "rescue"],
      "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      true, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 1500000000, "sum_internet_bandwidth": 1500000000,
      "interfaces": [{"internal_bandwidth": 1500000000, "internet_bandwidth": 1500000000}]},
      "block_bandwidth": 838860800, "end_of_service": false}, "GP1-S": {"alt_names":
      [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": 0, "gpu_info":
      null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size":
      300000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      800000000000}}, "scratch_storage_max_size": null, "monthly_price": 149.066,
      "hourly_price": 0.2042, "capabilities": {"boot_types": ["local", "rescue"],
      "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      true, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 800000000, "sum_internet_bandwidth": 800000000,
      "interfaces": [{"internal_bandwidth": 800000000, "internet_bandwidth": 800000000}]},
      "block_bandwidth": 524288000, "end_of_service": false}, "GP1-XL": {"alt_names":
      [], "arch": "x86_64", "ncpus": 48, "ram": 274877906944, "gpu": 0, "gpu_info":
      null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size":
      600000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      800000000000}}, "scratch_storage_max_size": null, "monthly_price": 1220.122,
      "hourly_price": 1.6714, "capabilities": {"boot_types": ["local", "rescue"],
      "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      true, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 10000000000, "sum_internet_bandwidth": 10000000000,
      "interfaces": [{"internal_bandwidth": 10000000000, "internet_bandwidth": 10000000000}]},
      "block_bandwidth": 2147483648, "end_of_service": false}, "GP1-XS": {"alt_names":
      [], "arch": "x86_64", "ncpus": 4, "ram": 17179869184, "gpu": 0, "gpu_info":
      null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size":
      150000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      800000000000}}, "scratch_storage_max_size": null, "monthly_price": 74.168, "hourly_price":
      0.1016, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups":
      true, "block_storage": true, "hot_snapshots_local_volume": true, "private_network":
      8, "max_file_systems": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      500000000, "sum_internet_bandwidth": 500000000, "interfaces": [{"internal_bandwidth":
      500000000, "internet_bandwidth": 500000000}]}, "block_bandwidth": 314572800,
      "end_of_service": false}, "L4-1-24G": {"alt_names": [], "arch": "x86_64", "ncpus":
      8, "ram": 51539607552, "gpu": 1, "gpu_info": {"gpu_manufacturer": "NVIDIA",
      "gpu_name": "L4", "gpu_memory": 25769803776}, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size":
      0, "max_size": 0}}, "scratch_storage_max_size": null, "monthly_price": 547.5,
      "hourly_price": 0.75, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups":
      true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network":
      8, "max_file_systems": 2}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      2500000000, "sum_internet_bandwidth": 2500000000, "interfaces": [{"internal_bandwidth":
      2500000000, "internet_bandwidth": 2500000000}]}, "block_bandwidth": 1048576000,
      "end_of_service": false}, "L4-2-24G": {"alt_names": [], "arch": "x86_64", "ncpus":
      16, "ram": 103079215104, "gpu": 2, "gpu_info": {"gpu_manufacturer": "NVIDIA",
      "gpu_name": "L4", "gpu_memory": 25769803776}, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size":
      0, "max_size": 0}}, "scratch_storage_max_size": null, "monthly_price": 1095.0,
      "hourly_price": 1.5, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups":
      true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network":
      8, "max_file_systems": 4}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      5000000000, "sum_internet_bandwidth": 5000000000, "interfaces": [{"internal_bandwidth":
      5000000000, "internet_bandwidth": 5000000000}]}, "block_bandwidth": 1572864000,
      "end_of_service": false}, "L4-4-24G": {"alt_names": [], "arch": "x86_64", "ncpus":
      32, "ram": 206158430208, "gpu": 4, "gpu_info": {"gpu_manufacturer": "NVIDIA",
      "gpu_name": "L4", "gpu_memory": 25769803776}, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size":
      0, "max_size": 0}}, "scratch_storage_max_size": null, "monthly_price": 2190.0,
      "hourly_price": 3.0, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups":
      true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network":
      8, "max_file_systems": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      10000000000, "sum_internet_bandwidth": 10000000000, "interfaces": [{"internal_bandwidth":
      10000000000, "internet_bandwidth": 10000000000}]}, "block_bandwidth": 2621440000,
      "end_of_service": false}, "L4-8-24G": {"alt_names": [], "arch": "x86_64", "ncpus":
      64, "ram": 412316860416, "gpu": 8, "gpu_info": {"gpu_manufacturer": "NVIDIA",
      "gpu_name": "L4", "gpu_memory": 25769803776}, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size":
      0, "max_size": 0}}, "scratch_storage_max_size": null, "monthly_price": 4380.0,
      "hourly_price": 6.0, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups":
      true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network":
      8, "max_file_systems": 16}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      20000000000, "sum_internet_bandwidth": 20000000000, "interfaces": [{"internal_bandwidth":
      20000000000, "internet_bandwidth": 20000000000}]}, "block_bandwidth": 5242880000,
      "end_of_service": false}, "PLAY2-MICRO": {"alt_names": [], "arch": "x86_64",
      "ncpus": 4, "ram": 8589934592, "gpu": 0, "gpu_info": null, "mig_profile": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "monthly_price": 39.42, "hourly_price": 0.054, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth": 400000000,
      "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth": 400000000}]},
      "block_bandwidth": 167772160, "end_of_service": false}, "PLAY2-NANO": {"alt_names":
      [], "arch": "x86_64", "ncpus": 2, "ram": 4294967296, "gpu": 0, "gpu_info": null,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "monthly_price": 19.71, "hourly_price": 0.027, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 200000000, "sum_internet_bandwidth": 200000000,
      "interfaces": [{"internal_bandwidth": 200000000, "internet_bandwidth": 200000000}]},
      "block_bandwidth": 83886080, "end_of_service": false}, "PLAY2-PICO": {"alt_names":
      [], "arch": "x86_64", "ncpus": 1, "ram": 2147483648, "gpu": 0, "gpu_info": null,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "monthly_price": 10.22, "hourly_price": 0.014, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 100000000, "sum_internet_bandwidth": 100000000,
      "interfaces": [{"internal_bandwidth": 100000000, "internet_bandwidth": 100000000}]},
      "block_bandwidth": 41943040, "end_of_service": false}, "POP2-16C-64G": {"alt_names":
      [], "arch": "x86_64", "ncpus": 16, "ram": 68719476736, "gpu": 0, "gpu_info":
      null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size":
      0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      null, "monthly_price": 430.7, "hourly_price": 0.59, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 4}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 3200000000, "sum_internet_bandwidth": 3200000000,
      "interfaces": [{"internal_bandwidth": 3200000000, "internet_bandwidth": 3200000000}]},
      "block_bandwidth": 3355443200, "end_of_service": false}, "POP2-16C-64G-WIN":
      {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 68719476736, "gpu":
      0, "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "monthly_price": 1063.391, "hourly_price":
      1.4567, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups":
      true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network":
      8, "max_file_systems": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      3200000000, "sum_internet_bandwidth": 3200000000, "interfaces": [{"internal_bandwidth":
      3200000000, "internet_bandwidth": 3200000000}]}, "block_bandwidth": 3355443200,
      "end_of_service": false}, "POP2-2C-8G": {"alt_names": [], "arch": "x86_64",
      "ncpus": 2, "ram": 8589934592, "gpu": 0, "gpu_info": null, "mig_profile": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "monthly_price": 53.66, "hourly_price": 0.0735, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 1}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth": 400000000,
      "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth": 400000000}]},
      "block_bandwidth": 419430400, "end_of_service": false}, "POP2-2C-8G-WIN": {"alt_names":
      [], "arch": "x86_64", "ncpus": 2, "ram": 8589934592, "gpu": 0, "gpu_info": null,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "monthly_price": 133.079, "hourly_price": 0.1823, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth": 400000000,
      "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth": 400000000}]},
      "block_bandwidth": 419430400, "end_of_service": false}, "POP2-32C-128G": {"alt_names":
      [], "arch": "x86_64", "ncpus": 32, "ram": 137438953472, "gpu": 0, "gpu_info":
      null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size":
      0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      null, "monthly_price": 861.4, "hourly_price": 1.18, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 6400000000, "sum_internet_bandwidth": 6400000000,
      "interfaces": [{"internal_bandwidth": 6400000000, "internet_bandwidth": 6400000000}]},
      "block_bandwidth": 5905580032, "end_of_service": false}, "POP2-32C-128G-WIN":
      {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram": 137438953472, "gpu":
      0, "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "monthly_price": 2126.709, "hourly_price":
      2.9133, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups":
      true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network":
      8, "max_file_systems": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      6400000000, "sum_internet_bandwidth": 6400000000, "interfaces": [{"internal_bandwidth":
      6400000000, "internet_bandwidth": 6400000000}]}, "block_bandwidth": 5905580032,
      "end_of_service": false}, "POP2-48C-192G": {"alt_names": [], "arch": "x86_64",
      "ncpus": 48, "ram": 206158430208, "gpu": 0, "gpu_info": null, "mig_profile":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "monthly_price": 1274.4, "hourly_price": 1.77, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 12}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 9600000000, "sum_internet_bandwidth": 9600000000,
      "interfaces": [{"internal_bandwidth": 9600000000, "internet_bandwidth": 9600000000}]},
      "block_bandwidth": 5905580032, "end_of_service": false}, "POP2-4C-16G": {"alt_names":
      [], "arch": "x86_64", "ncpus": 4, "ram": 17179869184, "gpu": 0, "gpu_info":
      null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size":
      0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      null, "monthly_price": 107.31, "hourly_price": 0.147, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 1}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 800000000, "sum_internet_bandwidth": 800000000,
      "interfaces": [{"internal_bandwidth": 800000000, "internet_bandwidth": 800000000}]},
      "block_bandwidth": 838860800, "end_of_service": false}, "POP2-4C-16G-WIN": {"alt_names":
      [], "arch": "x86_64", "ncpus": 4, "ram": 17179869184, "gpu": 0, "gpu_info":
      null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size":
      0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      null, "monthly_price": 265.501, "hourly_price": 0.3637, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 800000000, "sum_internet_bandwidth": 800000000,
      "interfaces": [{"internal_bandwidth": 800000000, "internet_bandwidth": 800000000}]},
      "block_bandwidth": 838860800, "end_of_service": false}, "POP2-64C-256G": {"alt_names":
      [], "arch": "x86_64", "ncpus": 64, "ram": 274877906944, "gpu": 0, "gpu_info":
      null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size":
      0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      null, "monthly_price": 1715.5, "hourly_price": 2.35, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 16}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 12800000000, "sum_internet_bandwidth": 12800000000,
      "interfaces": [{"internal_bandwidth": 12800000000, "internet_bandwidth": 12800000000}]},
      "block_bandwidth": 5905580032, "end_of_service": false}, "POP2-8C-32G": {"alt_names":
      [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": 0, "gpu_info":
      null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size":
      0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      null, "monthly_price": 211.7, "hourly_price": 0.29, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 2}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 1600000000, "sum_internet_bandwidth": 1600000000,
      "interfaces": [{"internal_bandwidth": 1600000000, "internet_bandwidth": 1600000000}]},
      "block_bandwidth": 1677721600, "end_of_service": false}, "POP2-8C-32G-WIN":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": 0,
      "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size": 0,
      "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "monthly_price": 528.009, "hourly_price":
      0.7233, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups":
      true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network":
      8, "max_file_systems": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      1600000000, "sum_internet_bandwidth": 1600000000, "interfaces": [{"internal_bandwidth":
      1600000000, "internet_bandwidth": 1600000000}]}, "block_bandwidth": 1677721600,
      "end_of_service": false}, "POP2-HC-16C-32G": {"alt_names": [], "arch": "x86_64",
[...]
