---
version: 1
interactions:
- request:
    body: '{"organization":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "dc78c1dd-4436-4193-b82f-94bd5881ea35", "address": "51.15.215.79",
      "reverse": null, "server": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "zone": "fr-par-1", "tags": []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cp-par1.scaleway.com/ips/dc78c1dd-4436-4193-b82f-94bd5881ea35
    status: 201 Created
    code: 201
    duration: ""
