---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"volume": {"id": "5395100f-3ea6-4b8d-881b-3dbc8a87bafa", "name": "test", "volume_type": "l_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000, "state": "available", "creation_date": "2025-07-23T13:32:44.739501+00:00", "modification_date": "2025-07-23T13:32:44.739501+00:00", "tags": [], "zone": "fr-par-1"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"volume": {"id": "5395100f-3ea6-4b8d-881b-3dbc8a87bafa", "name": "test", "volume_type": "l_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000, "state": "available", "creation_date": "2025-07-23T13:32:44.739501+00:00", "modification_date": "2025-07-23T13:32:44.739501+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/5395100f-3ea6-4b8d-881b-3dbc8a87bafa
        status: 201 Created
        code: 201
        duration: 154.389944ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/5395100f-3ea6-4b8d-881b-3dbc8a87bafa
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 113.092704ms
