---
version: 1
interactions:
- request:
    body: '{"name":"cli-test","organization":"b2593aa3-d0e8-4366-89c3-6e666abe1f6f","volume_type":"b_ssd","size":10000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "75307a61-94c7-4e4b-be2b-6c0d11e9b5ec", "name": "cli-test",
      "volume_type": "b_ssd", "export_uri": null, "organization": "b2593aa3-d0e8-4366-89c3-6e666abe1f6f",
      "server": null, "size": 10000000000, "state": "available", "creation_date":
      "2020-02-13T16:28:24.360782+00:00", "modification_date": "2020-02-13T16:28:24.360782+00:00"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cp-par1.scaleway.com/volumes/75307a61-94c7-4e4b-be2b-6c0d11e9b5ec
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/marketplace/v1/images?page=1
    method: GET
  response:
    body: '{"images": [{"valid_until": null, "description": "Ubuntu is the ideal distribution
      for scale-out computing, Ubuntu Server helps you make the most of your infrastructure.",
      "creation_date": "2018-04-27T14:07:25.221998+00:00", "logo": "https://marketplace-logos.s3.nl-ams.scw.cloud/ubuntu.png",
      "id": "b381b2bf-804a-4b12-91f6-9f4ff273462f", "categories": ["distribution"],
      "name": "Ubuntu Bionic", "modification_date": "2019-03-26T14:00:51.745705+00:00",
      "versions": [{"creation_date": "2019-03-05T16:39:34.893732+00:00", "modification_date":
      "2019-03-05T16:39:34.893732+00:00", "id": "e640c621-305b-45f5-975f-a3f80c1cec66",
      "local_images": [{"compatible_commercial_types": ["GP1-XS", "DEV1-M", "DEV1-L",
      "START1-XS", "DEV1-S", "RENDER-S", "GP1-XL", "C2S", "X64-15GB", "DEV1-XL", "C2L",
      "C2M", "VC1S", "START1-S", "X64-30GB", "GP1-L", "GP1-M", "GP1-S", "START1-L",
      "START1-M", "VC1L", "VC1M", "X64-120GB", "X64-60GB"], "arch": "x86_64", "id":
      "f974feac-abae-4365-b988-8ec7d1cec10d", "zone": "par1"}, {"compatible_commercial_types":
      ["C1"], "arch": "arm", "id": "f63fe42a-900f-4a5e-ba99-ab0e59469b7e", "zone":
      "par1"}, {"compatible_commercial_types": ["ARM64-8GB", "ARM64-2GB", "ARM64-32GB",
      "ARM64-128GB", "ARM64-4GB", "ARM64-64GB", "ARM64-16GB"], "arch": "arm64", "id":
      "b4bdbee1-e1f1-4436-8de4-bdb1b6ba4803", "zone": "par1"}, {"compatible_commercial_types":
      ["X64-120GB", "C2M", "START1-S", "VC1S", "START1-XS", "C2L", "X64-15GB", "C2S",
      "X64-30GB", "START1-L", "START1-M", "X64-60GB", "VC1L", "VC1M"], "arch": "x86_64",
      "id": "9444d178-2285-4842-ac35-5e86eda8da91", "zone": "ams1"}, {"compatible_commercial_types":
      [], "arch": "arm", "id": "a5076337-734f-4b99-95ed-9a5bc73b9b09", "zone": "ams1"},
      {"compatible_commercial_types": ["ARM64-4GB", "ARM64-128GB", "ARM64-16GB", "ARM64-32GB",
      "ARM64-8GB", "ARM64-2GB", "ARM64-64GB"], "arch": "arm64", "id": "7663c62b-40e3-4e6b-a835-70723ec2050b",
      "zone": "ams1"}], "name": "2019-03-05T16:39:34.377275"}], "current_public_version":
      "e640c621-305b-45f5-975f-a3f80c1cec66", "label": "ubuntu_bionic", "organization":
      {"id": "6d6b64e5-6bad-4cc6-b7ef-2030884c3e11", "name": "mtouron@ocs.online.net"}},
      {"valid_until": null, "description": "Ubuntu is the ideal distribution for scale-out
      computing, Ubuntu Server helps you make the most of your infrastructure.", "creation_date":
      "2016-04-22T13:27:33.769932+00:00", "logo": "https://marketplace-logos.s3.nl-ams.scw.cloud/ubuntu.png",
      "id": "acf93867-88d9-40ee-99ea-6b2bb1ee8f0c", "categories": ["distributi[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/f974feac-abae-4365-b988-8ec7d1cec10d
    method: GET
  response:
    body: '{"image": {"id": "f974feac-abae-4365-b988-8ec7d1cec10d", "name": "Ubuntu
      Bionic Beaver", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume":
      {"id": "dd5f5c10-23b1-4c9c-8445-eb6740957c84", "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13",
      "volume_type": "l_ssd", "size": 10000000000}, "extra_volumes": {}, "public":
      true, "arch": "x86_64", "creation_date": "2019-03-05T10:13:15.974944+00:00",
      "modification_date": "2019-03-05T13:32:29.274319+00:00", "default_bootscript":
      {"id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8", "public": false, "title": "x86_64
      mainline 4.9.93 rev1", "architecture": "x86_64", "organization": "11111111-1111-4111-8111-111111111111",
      "kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "dtb": "", "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      false}, "from_server": null, "state": "available"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/products/servers
    method: GET
  response:
    body: '{"servers": {"ARM64-128GB": {"alt_names": [], "arch": "arm64", "ncpus":
      64, "ram": 137438953472, "gpu": null, "volumes_constraint": {"min_size": 500000000000,
      "max_size": 1000000000000}, "per_volume_constraint": {"l_ssd": {"min_size":
      1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price":
      279.99, "hourly_price": 0.56, "capabilities": {"boot_types": ["bootscript",
      "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": false, "private_network": 0},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth":
      1073741824, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth":
      1073741824}]}}, "ARM64-16GB": {"alt_names": [], "arch": "arm64", "ncpus": 16,
      "ram": 17179869184, "gpu": null, "volumes_constraint": {"min_size": 200000000000,
      "max_size": 400000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 200000000000}}, "baremetal": false, "monthly_price": 34.99, "hourly_price":
      0.07, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true,
      "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true,
      "sum_internal_bandwidth": null, "sum_internet_bandwidth": 524288000, "interfaces":
      [{"internal_bandwidth": null, "internet_bandwidth": 524288000}]}}, "ARM64-2GB":
      {"alt_names": [], "arch": "arm64", "ncpus": 4, "ram": 2147483648, "gpu": null,
      "volumes_constraint": {"min_size": 50000000000, "max_size": 50000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal":
      false, "monthly_price": 2.99, "hourly_price": 0.006, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": false, "private_network": 0},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth":
      209715200, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth":
      209715200}]}}, "ARM64-32GB": {"alt_names": [], "arch": "arm64", "ncpus": 32,
      "ram": 34359738368, "gpu": null, "volumes_constraint": {"min_size": 300000000000,
      "max_size": 600000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 200000000000}}, "baremetal": false, "monthly_price": 69.99, "hourly_price":
      0.14, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true,
      "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true,
      "sum_internal_bandwidth": null, "sum_internet_bandwidth": 524288000, "interfaces":
      [{"internal_bandwidth": null, "internet_bandwidth": 524288000}]}}, "ARM64-4GB":
      {"alt_names": [], "arch": "arm64", "ncpus": 6, "ram": 4294967296, "gpu": null,
      "volumes_constraint": {"min_size": 100000000000, "max_size": 100000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}},
      "baremetal": false, "monthly_price": 5.99, "hourly_price": 0.012, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      null, "sum_internet_bandwidth": 209715200, "interfaces": [{"internal_bandwidth":
      null, "internet_bandwidth": 209715200}]}}, "ARM64-64GB": {"alt_names": [], "arch":
      "arm64", "ncpus": 48, "ram": 68719476736, "gpu": null, "volumes_constraint":
      {"min_size": 400000000000, "max_size": 800000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal":
      false, "monthly_price": 139.99, "hourly_price": 0.28, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": false, "private_network": 0},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth":
      1073741824, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth":
      1073741824}]}}, "ARM64-8GB": {"alt_names": [], "arch": "arm64", "ncpus": 8,
      "ram": 8589934592, "gpu": null, "volumes_constraint": {"min_size": 200000000000,
      "max_size": 200000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 200000000000}}, "baremetal": false, "monthly_price": 11.99, "hourly_price":
      0.024, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true,
      "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true,
      "sum_internal_bandwidth": null, "sum_internet_bandwidth": 209715200, "interfaces":
      [{"internal_bandwidth": null, "internet_bandwidth": 209715200}]}}, "C1": {"alt_names":
      [], "arch": "arm", "ncpus": 4, "ram": 2147483648, "gpu": null, "volumes_constraint":
      {"min_size": 50000000000, "max_size": 1000000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal":
      true, "monthly_price": 2.99, "hourly_price": 0.006, "capabilities": {"boot_types":
      ["bootscript", "rescue"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      false, "placement_groups": false, "block_storage": false, "private_network":
      0}, "network": {"ipv6_support": false, "sum_internal_bandwidth": 1073741824,
      "sum_internet_bandwidth": 209715200, "interfaces": [{"internal_bandwidth": 1073741824,
      "internet_bandwidth": 209715200}]}}, "C2L": {"alt_names": [], "arch": "x86_64",
      "ncpus": 8, "ram": 34359738368, "gpu": null, "volumes_constraint": {"min_size":
      50000000000, "max_size": 1000000000000}, "per_volume_constraint": {"l_ssd":
      {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": true, "monthly_price":
      23.99, "hourly_price": 0.048, "capabilities": {"boot_types": ["bootscript",
      "rescue"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      false, "placement_groups": false, "block_storage": false, "private_network":
      0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 5368709120,
      "sum_internet_bandwidth": 629145600, "interfaces": [{"internal_bandwidth": 2684354560,
      "internet_bandwidth": 629145600}, {"internal_bandwidth": 2684354560, "internet_bandwidth":
      null}]}}, "C2M": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 17179869184,
      "gpu": null, "volumes_constraint": {"min_size": 50000000000, "max_size": 1000000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}},
      "baremetal": true, "monthly_price": 17.99, "hourly_price": 0.036, "capabilities":
      {"boot_types": ["bootscript", "rescue"], "default_boot_type": "bootscript",
      "hot_snapshots_local_volume": false, "placement_groups": false, "block_storage":
      false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      5368709120, "sum_internet_bandwidth": 524288000, "interfaces": [{"internal_bandwidth":
      2684354560, "internet_bandwidth": 524288000}, {"internal_bandwidth": 2684354560,
      "internet_bandwidth": null}]}}, "C2S": {"alt_names": [], "arch": "x86_64", "ncpus":
      4, "ram": 8589934592, "gpu": null, "volumes_constraint": {"min_size": 50000000000,
      "max_size": 1000000000000}, "per_volume_constraint": {"l_ssd": {"min_size":
      1000000000, "max_size": 200000000000}}, "baremetal": true, "monthly_price":
      11.99, "hourly_price": 0.024, "capabilities": {"boot_types": ["bootscript",
      "rescue"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      false, "placement_groups": false, "block_storage": false, "private_network":
      0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 2684354560,
      "sum_internet_bandwidth": 314572800, "interfaces": [{"internal_bandwidth": 2684354560,
      "internet_bandwidth": 314572800}]}}, "DEV1-L": {"alt_names": [], "arch": "x86_64",
      "ncpus": 4, "ram": 8589934592, "gpu": null, "volumes_constraint": {"min_size":
      80000000000, "max_size": 80000000000}, "per_volume_constraint": {"l_ssd": {"min_size":
      1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price":
      15.99, "hourly_price": 0.032, "capabilities": {"boot_types": ["bootscript",
      "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 104857600, "sum_internet_bandwidth":
      419430400, "interfaces": [{"internal_bandwidth": 104857600, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 419430400}]}}, "DEV1-M":
      {"alt_names": [], "arch": "x86_64", "ncpus": 3, "ram": 4294967296, "gpu": null,
      "volumes_constraint": {"min_size": 40000000000, "max_size": 40000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 7.99, "hourly_price": 0.016, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 104857600, "sum_internet_bandwidth":
      314572800, "interfaces": [{"internal_bandwidth": 104857600, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 314572800}]}}, "DEV1-S":
      {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 2147483648, "gpu": null,
      "volumes_constraint": {"min_size": 20000000000, "max_size": 20000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 2.99, "hourly_price": 0.006, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 104857600, "sum_internet_bandwidth":
      209715200, "interfaces": [{"internal_bandwidth": 104857600, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 209715200}]}}, "DEV1-XL":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 12884901888, "gpu": null,
      "volumes_constraint": {"min_size": 120000000000, "max_size": 120000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "baremetal": false, "monthly_price": 23.99, "hourly_price": 0.048, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      104857600, "sum_internet_bandwidth": 524288000, "interfaces": [{"internal_bandwidth":
      104857600, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      524288000}]}}, "GP1-L": {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram":
      137438953472, "gpu": null, "volumes_constraint": {"min_size": 600000000000,
      "max_size": 600000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 800000000000}}, "baremetal": false, "monthly_price": 299.0, "hourly_price":
      0.598, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      104857600, "sum_internet_bandwidth": 5368709120, "interfaces": [{"internal_bandwidth":
      104857600, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      5368709120}]}}, "GP1-M": {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram":
      68719476736, "gpu": null, "volumes_constraint": {"min_size": 600000000000, "max_size":
      600000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      800000000000}}, "baremetal": false, "monthly_price": 159.0, "hourly_price":
      0.318, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      104857600, "sum_internet_bandwidth": 1610612736, "interfaces": [{"internal_bandwidth":
      104857600, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      1610612736}]}}, "GP1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram":
      34359738368, "gpu": null, "volumes_constraint": {"min_size": 300000000000, "max_size":
      300000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      800000000000}}, "baremetal": false, "monthly_price": 79.0, "hourly_price": 0.158,
      "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      104857600, "sum_internet_bandwidth": 838860800, "interfaces": [{"internal_bandwidth":
      104857600, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      838860800}]}}, "GP1-XL": {"alt_names": [], "arch": "x86_64", "ncpus": 48, "ram":
      274877906944, "gpu": null, "volumes_constraint": {"min_size": 600000000000,
      "max_size": 600000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 800000000000}}, "baremetal": false, "monthly_price": 569.0, "hourly_price":
      1.138, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      104857600, "sum_internet_bandwidth": 10737418240, "interfaces": [{"internal_bandwidth":
      104857600, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      10737418240}]}}, "GP1-XS": {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram":
      17179869184, "gpu": null, "volumes_constraint": {"min_size": 150000000000, "max_size":
      150000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      800000000000}}, "baremetal": false, "monthly_price": 39.0, "hourly_price": 0.078,
      "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      104857600, "sum_internet_bandwidth": 524288000, "interfaces": [{"internal_bandwidth":
      104857600, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      524288000}]}}, "RENDER-S": {"alt_names": [], "arch": "x86_64", "ncpus": 10,
      "ram": 48318382080, "gpu": 1, "volumes_constraint": {"min_size": 400000000000,
      "max_size": 400000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 800000000000}}, "baremetal": false, "monthly_price": 499.99, "hourly_price":
      1.0, "capabilities": {"boot_types": ["local", "rescue"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      104857600, "sum_internet_bandwidth": 1073741824, "interfaces": [{"internal_bandwidth":
      104857600, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      1073741824}]}}, "START1-L": {"alt_names": [], "arch": "x86_64", "ncpus": 8,
      "ram": 8589934592, "gpu": null, "volumes_constraint": {"min_size": 200000000000,
      "max_size": 200000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 200000000000}}, "baremetal": false, "monthly_price": 15.99, "hourly_price":
      0.032, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true,
      "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true,
      "sum_internal_bandwidth": null, "sum_internet_bandwidth": 419430400, "interfaces":
      [{"internal_bandwidth": null, "internet_bandwidth": 419430400}]}}, "START1-M":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 4294967296, "gpu": null,
      "volumes_constraint": {"min_size": 100000000000, "max_size": 100000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}},
      "baremetal": false, "monthly_price": 7.99, "hourly_price": 0.016, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      null, "sum_internet_bandwidth": 314572800, "interfaces": [{"internal_bandwidth":
      null, "internet_bandwidth": 314572800}]}}, "START1-S": {"alt_names": [], "arch":
      "x86_64", "ncpus": 2, "ram": 2147483648, "gpu": null, "volumes_constraint":
      {"min_size": 50000000000, "max_size": 50000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal":
      false, "monthly_price": 3.99, "hourly_price": 0.008, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": false, "private_network": 0},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth":
      209715200, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth":
      209715200}]}}, "START1-XS": {"alt_names": [], "arch": "x86_64", "ncpus": 1,
      "ram": 1073741824, "gpu": null, "volumes_constraint": {"min_size": 25000000000,
      "max_size": 25000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 200000000000}}, "baremetal": false, "monthly_price": 1.99, "hourly_price":
      0.004, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true,
      "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true,
      "sum_internal_bandwidth": null, "sum_internet_bandwidth": 104857600, "interfaces":
      [{"internal_bandwidth": null, "internet_bandwidth": 104857600}]}}, "VC1L": {"alt_names":
      ["X64-8GB"], "arch": "x86_64", "ncpus": 6, "ram": 8589934592, "gpu": null, "volumes_constraint":
      {"min_size": 200000000000, "max_size": 200000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal":
      false, "monthly_price": 9.99, "hourly_price": 0.02, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": false, "private_network": 0},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth":
      209715200, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth":
      209715200}]}}, "VC1M": {"alt_names": ["X64-4GB"], "arch": "x86_64", "ncpus":
      4, "ram": 4294967296, "gpu": null, "volumes_constraint": {"min_size": 100000000000,
      "max_size": 100000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 200000000000}}, "baremetal": false, "monthly_price": 5.99, "hourly_price":
      0.012, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true,
      "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true,
      "sum_internal_bandwidth": null, "sum_internet_bandwidth": 209715200, "interfaces":
      [{"internal_bandwidth": null, "internet_bandwidth": 209715200}]}}, "VC1S": {"alt_names":
      ["X64-2GB"], "arch": "x86_64", "ncpus": 2, "ram": 2147483648, "gpu": null, "volumes_constraint":
      {"min_size": 50000000000, "max_size": 50000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal":
      false, "monthly_price": 2.99, "hourly_price": 0.006, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": false, "private_network": 0},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth":
      209715200, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth":
      209715200}]}}, "X64-120GB": {"alt_names": [], "arch": "x86_64", "ncpus": 12,
      "ram": 128849018880, "gpu": null, "volumes_constraint": {"min_size": 500000000000,
      "max_size": 1000000000000}, "per_volume_constraint": {"l_ssd": {"min_size":
      1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price":
      179.99, "hourly_price": 0.36, "capabilities": {"boot_types": ["bootscript",
      "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": false, "private_network": 0},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth":
      1073741824, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth":
      1073741824}]}}, "X64-15GB": {"alt_names": [], "arch": "x86_64", "ncpus": 6,
      "ram": 16106127360, "gpu": null, "volumes_constraint": {"min_size": 200000000000,
      "max_size": 200000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 200000000000}}, "baremetal": false, "monthly_price": 24.99, "hourly_price":
      0.05, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true,
      "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true,
      "sum_internal_bandwidth": null, "sum_internet_bandwidth": 262144000, "interfaces":
      [{"internal_bandwidth": null, "internet_bandwidth": 262144000}]}}, "X64-30GB":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 32212254720, "gpu": null,
      "volumes_constraint": {"min_size": 300000000000, "max_size": 400000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}},
      "baremetal": false, "monthly_price": 49.99, "hourly_price": 0.1, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      null, "sum_internet_bandwidth": 524288000, "interfaces": [{"internal_bandwidth":
      null, "internet_bandwidth": 524288000}]}}, "X64-60GB": {"alt_names": [], "arch":
[...]
