---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/products/servers?page=1
    method: GET
  response:
    body: '{"servers": {"DEV1-L": {"alt_names": [], "arch": "x86_64", "ncpus": 4,
      "ram": 8589934592, "gpu": 0, "volumes_constraint": {"min_size": 0, "max_size":
      80000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      800000000000}}, "baremetal": false, "monthly_price": 36.1496, "hourly_price":
      0.04952, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      400000000, "sum_internet_bandwidth": 400000000, "interfaces": [{"internal_bandwidth":
      400000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      400000000}]}}, "DEV1-M": {"alt_names": [], "arch": "x86_64", "ncpus": 3, "ram":
      4294967296, "gpu": 0, "volumes_constraint": {"min_size": 0, "max_size": 40000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "baremetal": false, "monthly_price": 18.6588, "hourly_price": 0.02556, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      300000000, "sum_internet_bandwidth": 300000000, "interfaces": [{"internal_bandwidth":
      300000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      300000000}]}}, "DEV1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram":
      2147483648, "gpu": 0, "volumes_constraint": {"min_size": 0, "max_size": 20000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "baremetal": false, "monthly_price": 9.9864, "hourly_price": 0.01368, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      200000000, "sum_internet_bandwidth": 200000000, "interfaces": [{"internal_bandwidth":
      200000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      200000000}]}}, "DEV1-XL": {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram":
      12884901888, "gpu": 0, "volumes_constraint": {"min_size": 0, "max_size": 120000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "baremetal": false, "monthly_price": 53.3484, "hourly_price": 0.07308, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      500000000, "sum_internet_bandwidth": 500000000, "interfaces": [{"internal_bandwidth":
      500000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      500000000}]}}, "ENT1-2XL": {"alt_names": [], "arch": "x86_64", "ncpus": 96,
      "ram": 412316860416, "gpu": 0, "volumes_constraint": {"min_size": 0, "max_size":
      0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal":
      false, "monthly_price": 2576.9, "hourly_price": 3.53, "capabilities": {"boot_types":
      ["rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      false, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 20000000000, "sum_internet_bandwidth":
      20000000000, "interfaces": [{"internal_bandwidth": 20000000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 20000000000}]}}, "ENT1-L":
      {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram": 137438953472, "gpu":
      0, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      861.4, "hourly_price": 1.18, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 6400000000, "sum_internet_bandwidth": 6400000000,
      "interfaces": [{"internal_bandwidth": 6400000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 6400000000}]}}, "ENT1-M":
      {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 68719476736, "gpu":
      0, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      430.7, "hourly_price": 0.59, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 3200000000, "sum_internet_bandwidth": 3200000000,
      "interfaces": [{"internal_bandwidth": 3200000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 3200000000}]}}, "ENT1-S":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": 0,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      211.7, "hourly_price": 0.29, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 1600000000, "sum_internet_bandwidth": 1600000000,
      "interfaces": [{"internal_bandwidth": 1600000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 1600000000}]}}, "ENT1-XL":
      {"alt_names": [], "arch": "x86_64", "ncpus": 64, "ram": 274877906944, "gpu":
      0, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      1715.5, "hourly_price": 2.35, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 12800000000, "sum_internet_bandwidth": 12800000000,
      "interfaces": [{"internal_bandwidth": 12800000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 12800000000}]}}, "ENT1-XS":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 17179869184, "gpu": 0,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      107.31, "hourly_price": 0.147, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 800000000, "sum_internet_bandwidth": 800000000,
      "interfaces": [{"internal_bandwidth": 800000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 800000000}]}}, "ENT1-XXS":
      {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 8589934592, "gpu": 0,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      53.655, "hourly_price": 0.0735, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth": 400000000,
      "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 400000000}]}}, "GP1-L": {"alt_names":
      [], "arch": "x86_64", "ncpus": 32, "ram": 137438953472, "gpu": 0, "volumes_constraint":
      {"min_size": 0, "max_size": 600000000000}, "per_volume_constraint": {"l_ssd":
      {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price":
      576.262, "hourly_price": 0.7894, "capabilities": {"boot_types": ["bootscript",
      "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 5000000000, "sum_internet_bandwidth":
      5000000000, "interfaces": [{"internal_bandwidth": 5000000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 5000000000}]}}, "GP1-M":
      {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 68719476736, "gpu":
      0, "volumes_constraint": {"min_size": 0, "max_size": 600000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 296.672, "hourly_price": 0.4064, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 1500000000, "sum_internet_bandwidth":
      1500000000, "interfaces": [{"internal_bandwidth": 1500000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 1500000000}]}}, "GP1-S":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": 0,
      "volumes_constraint": {"min_size": 0, "max_size": 300000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 149.066, "hourly_price": 0.2042, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 800000000, "sum_internet_bandwidth":
      800000000, "interfaces": [{"internal_bandwidth": 800000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 800000000}]}}, "GP1-VIZ":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": 0,
      "volumes_constraint": {"min_size": 0, "max_size": 300000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 72.0, "hourly_price": 0.1, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 500000000, "sum_internet_bandwidth":
      500000000, "interfaces": [{"internal_bandwidth": 500000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 500000000}]}}, "GP1-XL":
      {"alt_names": [], "arch": "x86_64", "ncpus": 48, "ram": 274877906944, "gpu":
      0, "volumes_constraint": {"min_size": 0, "max_size": 600000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 1220.122, "hourly_price": 1.6714, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 10000000000, "sum_internet_bandwidth":
      10000000000, "interfaces": [{"internal_bandwidth": 10000000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 10000000000}]}}, "GP1-XS":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 17179869184, "gpu": 0,
      "volumes_constraint": {"min_size": 0, "max_size": 150000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 74.168, "hourly_price": 0.1016, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 500000000, "sum_internet_bandwidth":
      500000000, "interfaces": [{"internal_bandwidth": 500000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 500000000}]}}, "PLAY2-MICRO":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 8589934592, "gpu": 0,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      39.42, "hourly_price": 0.054, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth": 400000000,
      "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 400000000}]}}, "PLAY2-NANO":
      {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 4294967296, "gpu": 0,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      19.71, "hourly_price": 0.027, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 200000000, "sum_internet_bandwidth": 200000000,
      "interfaces": [{"internal_bandwidth": 200000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 200000000}]}}, "PLAY2-PICO":
      {"alt_names": [], "arch": "x86_64", "ncpus": 1, "ram": 2147483648, "gpu": 0,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      10.22, "hourly_price": 0.014, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 100000000, "sum_internet_bandwidth": 100000000,
      "interfaces": [{"internal_bandwidth": 100000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 100000000}]}}, "PRO2-L":
      {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram": 137438953472, "gpu":
      0, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      640.21, "hourly_price": 0.877, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 6000000000, "sum_internet_bandwidth": 6000000000,
      "interfaces": [{"internal_bandwidth": 6000000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 6000000000}]}}, "PRO2-M":
      {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 68719476736, "gpu":
      0, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      319.74, "hourly_price": 0.438, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 3000000000, "sum_internet_bandwidth": 3000000000,
      "interfaces": [{"internal_bandwidth": 3000000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 3000000000}]}}, "PRO2-S":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": 0,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      159.87, "hourly_price": 0.219, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 1500000000, "sum_internet_bandwidth": 1500000000,
      "interfaces": [{"internal_bandwidth": 1500000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 1500000000}]}}, "PRO2-XS":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 17179869184, "gpu": 0,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      80.3, "hourly_price": 0.11, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 700000000, "sum_internet_bandwidth": 700000000,
      "interfaces": [{"internal_bandwidth": 700000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 700000000}]}}, "PRO2-XXS":
      {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 8589934592, "gpu": 0,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      40.15, "hourly_price": 0.055, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 350000000, "sum_internet_bandwidth": 350000000,
      "interfaces": [{"internal_bandwidth": 350000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 350000000}]}}, "RENDER-S":
      {"alt_names": [], "arch": "x86_64", "ncpus": 10, "ram": 45097156608, "gpu":
      1, "volumes_constraint": {"min_size": 0, "max_size": 400000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 907.098, "hourly_price": 1.2426, "capabilities": {"boot_types":
      ["local", "rescue"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 1000000000, "sum_internet_bandwidth":
      1000000000, "interfaces": [{"internal_bandwidth": 1000000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 1000000000}]}}, "STARDUST1-S":
      {"alt_names": [], "arch": "x86_64", "ncpus": 1, "ram": 1073741824, "gpu": 0,
      "volumes_constraint": {"min_size": 0, "max_size": 10000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 3.3507, "hourly_price": 0.00459, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 100000000, "sum_internet_bandwidth":
      100000000, "interfaces": [{"internal_bandwidth": 100000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 100000000}]}}, "START1-L":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 8589934592, "gpu": 0,
      "volumes_constraint": {"min_size": 200000000000, "max_size": 200000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}},
      "baremetal": false, "monthly_price": 26.864, "hourly_price": 0.0368, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      104857600, "sum_internet_bandwidth": 400000000, "interfaces": [{"internal_bandwidth":
      null, "internet_bandwidth": 400000000}]}}, "START1-M": {"alt_names": [], "arch":
      "x86_64", "ncpus": 4, "ram": 4294967296, "gpu": 0, "volumes_constraint": {"min_size":
      100000000000, "max_size": 100000000000}, "per_volume_constraint": {"l_ssd":
      {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price":
      14.162, "hourly_price": 0.0194, "capabilities": {"boot_types": ["bootscript",
      "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 0},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 104857600, "sum_internet_bandwidth":
      300000000, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth":
      300000000}]}}, "START1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram":
      2147483648, "gpu": 0, "volumes_constraint": {"min_size": 50000000000, "max_size":
      50000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      200000000000}}, "baremetal": false, "monthly_price": 7.738, "hourly_price":
      0.0106, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true,
      "block_storage": true, "private_network": 0}, "network": {"ipv6_support": true,
      "sum_internal_bandwidth": 104857600, "sum_internet_bandwidth": 200000000, "interfaces":
      [{"internal_bandwidth": null, "internet_bandwidth": 200000000}]}}, "START1-XS":
      {"alt_names": [], "arch": "x86_64", "ncpus": 1, "ram": 1073741824, "gpu": 0,
      "volumes_constraint": {"min_size": 25000000000, "max_size": 25000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal":
      false, "monthly_price": 4.526, "hourly_price": 0.0062, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 0},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 104857600, "sum_internet_bandwidth":
      100000000, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth":
      100000000}]}}, "VC1L": {"alt_names": ["X64-8GB"], "arch": "x86_64", "ncpus":
      6, "ram": 8589934592, "gpu": 0, "volumes_constraint": {"min_size": 200000000000,
      "max_size": 200000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 200000000000}}, "baremetal": false, "monthly_price": 18.0164, "hourly_price":
      0.02468, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true,
      "block_storage": true, "private_network": 0}, "network": {"ipv6_support": true,
      "sum_internal_bandwidth": 104857600, "sum_internet_bandwidth": 200000000, "interfaces":
      [{"internal_bandwidth": null, "internet_bandwidth": 200000000}]}}, "VC1M": {"alt_names":
      ["X64-4GB"], "arch": "x86_64", "ncpus": 4, "ram": 4294967296, "gpu": 0, "volumes_constraint":
      {"min_size": 100000000000, "max_size": 100000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal":
      false, "monthly_price": 11.3515, "hourly_price": 0.01555, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 0},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 104857600, "sum_internet_bandwidth":
      200000000, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth":
      200000000}]}}, "VC1S": {"alt_names": ["X64-2GB"], "arch": "x86_64", "ncpus":
      2, "ram": 2147483648, "gpu": 0, "volumes_constraint": {"min_size": 50000000000,
      "max_size": 50000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 200000000000}}, "baremetal": false, "monthly_price": 6.2926, "hourly_price":
      0.00862, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true,
      "block_storage": true, "private_network": 0}, "network": {"ipv6_support": true,
      "sum_internal_bandwidth": 104857600, "sum_internet_bandwidth": 200000000, "interfaces":
      [{"internal_bandwidth": null, "internet_bandwidth": 200000000}]}}, "X64-120GB":
      {"alt_names": [], "arch": "x86_64", "ncpus": 12, "ram": 128849018880, "gpu":
      0, "volumes_constraint": {"min_size": 500000000000, "max_size": 1000000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}},
      "baremetal": false, "monthly_price": 310.7902, "hourly_price": 0.42574, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      104857600, "sum_internet_bandwidth": 1000000000, "interfaces": [{"internal_bandwidth":
      null, "internet_bandwidth": 1000000000}]}}, "X64-15GB": {"alt_names": [], "arch":
      "x86_64", "ncpus": 6, "ram": 16106127360, "gpu": 0, "volumes_constraint": {"min_size":
      200000000000, "max_size": 200000000000}, "per_volume_constraint": {"l_ssd":
      {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price":
      44.0336, "hourly_price": 0.06032, "capabilities": {"boot_types": ["bootscript",
      "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 0},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 104857600, "sum_internet_bandwidth":
      250000000, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth":
      250000000}]}}, "X64-30GB": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram":
      32212254720, "gpu": 0, "volumes_constraint": {"min_size": 300000000000, "max_size":
      400000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      200000000000}}, "baremetal": false, "monthly_price": 86.9138, "hourly_price":
      0.11906, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true,
      "block_storage": true, "private_network": 0}, "network": {"ipv6_support": true,
      "sum_internal_bandwidth": 104857600, "sum_internet_bandwidth": 500000000, "interfaces":
      [{"internal_bandwidth": null, "internet_bandwidth": 500000000}]}}, "X64-60GB":
      {"alt_names": [], "arch": "x86_64", "ncpus": 10, "ram": 64424509440, "gpu":
      0, "volumes_constraint": {"min_size": 400000000000, "max_size": 700000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}},
      "baremetal": false, "monthly_price": 155.49, "hourly_price": 0.213, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript",
[...]
