---
version: 1
interactions:
- request:
    body: '{"name":"cli-sg-elastic-heisenberg","organization":"951df375-e094-4d26-97c1-ba548eeb9c42","stateful":true,"inbound_default_policy":"accept","outbound_default_policy":"accept"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
    method: POST
  response:
    body: '{"security_group": {"id": "6dfa90e2-c6fa-4315-afa3-23e8f7d33b9c", "creation_date":
      "2020-03-08T17:06:06.980163+00:00", "modification_date": "2020-03-08T17:06:06.980163+00:00",
      "name": "cli-sg-elastic-heisenberg", "description": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "servers": [], "stateful": true, "inbound_default_policy": "accept", "outbound_default_policy":
      "accept", "organization_default": false, "enable_default_security": true, "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cp-par1.scaleway.com/security_groups/6dfa90e2-c6fa-4315-afa3-23e8f7d33b9c
    status: 201 Created
    code: 201
    duration: ""
