---
version: 1
interactions:
- request:
    body: '{"volume": {"id": "1da7a6ea-a239-437d-a5a5-f09085a7055f", "name": "cli-test",
      "volume_type": "b_ssd", "export_uri": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "server": null, "size": 10000000000,
      "state": "available", "creation_date": "2023-12-04T12:28:26.765375+00:00", "modification_date":
      "2023-12-04T12:28:26.765375+00:00", "tags": [], "zone": "fr-par-1"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "1da7a6ea-a239-437d-a5a5-f09085a7055f", "name": "cli-test",
      "volume_type": "b_ssd", "export_uri": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "server": null, "size": 10000000000,
      "state": "available", "creation_date": "2023-12-04T12:28:26.765375+00:00", "modification_date":
      "2023-12-04T12:28:26.765375+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/1da7a6ea-a239-437d-a5a5-f09085a7055f
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"snapshot": {"id": "f3c20d27-6dab-4baf-986e-5ffcfe2b3483", "name": "cli-test-snapshot-update-tags",
      "volume_type": "b_ssd", "creation_date": "2023-12-04T12:28:27.020529+00:00",
      "modification_date": "2023-12-04T12:28:27.020529+00:00", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "size": 10000000000, "state":
      "snapshotting", "base_volume": {"id": "1da7a6ea-a239-437d-a5a5-f09085a7055f",
      "name": "cli-test"}, "tags": ["foo", "bar"], "zone": "fr-par-1", "error_details":
      null}, "task": {"id": "09fdce7a-42e0-4a24-98ee-7cc9a20ec5f1", "description":
      "snapshot_f3c20d27-6dab-4baf-986e-5ffcfe2b3483", "status": "pending", "href_from":
      "/snapshots", "href_result": "snapshots/f3c20d27-6dab-4baf-986e-5ffcfe2b3483",
      "started_at": "2023-12-04T12:28:27.244917+00:00", "terminated_at": null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "f3c20d27-6dab-4baf-986e-5ffcfe2b3483", "name": "cli-test-snapshot-update-tags",
      "volume_type": "b_ssd", "creation_date": "2023-12-04T12:28:27.020529+00:00",
      "modification_date": "2023-12-04T12:28:27.020529+00:00", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "size": 10000000000, "state":
      "snapshotting", "base_volume": {"id": "1da7a6ea-a239-437d-a5a5-f09085a7055f",
      "name": "cli-test"}, "tags": ["foo", "bar"], "zone": "fr-par-1", "error_details":
      null}, "task": {"id": "09fdce7a-42e0-4a24-98ee-7cc9a20ec5f1", "description":
      "snapshot_f3c20d27-6dab-4baf-986e-5ffcfe2b3483", "status": "pending", "href_from":
      "/snapshots", "href_result": "snapshots/f3c20d27-6dab-4baf-986e-5ffcfe2b3483",
      "started_at": "2023-12-04T12:28:27.244917+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"snapshot": {"id": "f3c20d27-6dab-4baf-986e-5ffcfe2b3483", "name": "cli-test-snapshot-update-tags",
      "volume_type": "b_ssd", "creation_date": "2023-12-04T12:28:27.020529+00:00",
      "modification_date": "2023-12-04T12:28:27.840238+00:00", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "size": 10000000000, "state":
      "snapshotting", "base_volume": {"id": "1da7a6ea-a239-437d-a5a5-f09085a7055f",
    [...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/1da7a6ea-a239-437d-a5a5-f09085a7055f
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
