---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips?page=1
    method: GET
  response:
    body: '{"ips": [{"id": "6dbcc5ac-d8d2-4ea9-847b-f03fbc1dd719", "address": "212.47.242.161",
      "reverse": null, "server": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "zone": "fr-par-1", "tags": []}, {"id": "da0627ab-9083-460f-9203-24f8815e01a7",
      "address": "212.47.234.248", "reverse": null, "server": null, "organization":
      "951df375-e094-4d26-97c1-ba548eeb9c42", "zone": "fr-par-1", "tags": []}, {"id":
      "ba066024-ed49-43d3-bb11-ce2946ad2848", "address": "212.47.233.150", "reverse":
      null, "server": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "zone": "fr-par-1", "tags": []}, {"id": "3817aab0-72fd-4b87-8520-4f7e9e90e468",
      "address": "212.47.226.205", "reverse": null, "server": {"id": "97165b33-61f8-4b56-aa8d-d5ffdd4cf673",
      "name": "cli-srv-competent-volhard"}, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "zone": "fr-par-1", "tags": []}, {"id": "57d32a52-8884-4a99-93d4-89984760cbc5",
      "address": "163.172.178.220", "reverse": null, "server": null, "organization":
      "951df375-e094-4d26-97c1-ba548eeb9c42", "zone": "fr-par-1", "tags": []}, {"id":
      "2b787244-b127-449b-92cd-a0784a46a154", "address": "163.172.143.144", "reverse":
      null, "server": null, "organization": "951df375-e094-4d26-97c1-[...]
