---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"ip": {"id": "115a380f-74e2-4d96-8a9a-f5f0604c04a7", "address": "51.158.72.29", "prefix": null, "reverse": null, "server": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "c7d0cae3-4222-4a64-b486-7f5af6098ae9"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip": {"id": "115a380f-74e2-4d96-8a9a-f5f0604c04a7", "address": "51.158.72.29", "prefix": null, "reverse": null, "server": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "c7d0cae3-4222-4a64-b486-7f5af6098ae9"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/115a380f-74e2-4d96-8a9a-f5f0604c04a7
        status: 201 Created
        code: 201
        duration: 486.317209ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"ip": {"id": "115a380f-74e2-4d96-8a9a-f5f0604c04a7", "address": "51.158.72.29", "prefix": null, "reverse": null, "server": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "c7d0cae3-4222-4a64-b486-7f5af6098ae9"}}'
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/115a380f-74e2-4d96-8a9a-f5f0604c04a7
        method: GET
      response:
        body: '{"ip": {"id": "115a380f-74e2-4d96-8a9a-f5f0604c04a7", "address": "51.158.72.29", "prefix": null, "reverse": null, "server": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "zone": "fr-par-1", "type": "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "c7d0cae3-4222-4a64-b486-7f5af6098ae9"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.583797ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/51.158.72.29
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 549.627164ms
