---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?state=running
    method: GET
  response:
    body: '{"servers": [{"allowed_actions": ["poweroff", "terminate", "reboot", "stop_in_place",
      "backup"], "maintenances": [], "state_detail": "booting kernel", "image": {"creation_date":
      "2019-03-05T10:13:15.974944+00:00", "default_bootscript": {"kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz", "default":
      false, "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "architecture":
      "x86_64", "title": "x86_64 mainline 4.9.93 rev1", "dtb": "", "organization":
      "11111111-1111-4111-8111-111111111111", "id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8",
      "public": false}, "from_server": null, "arch": "x86_64", "id": "f974feac-abae-4365-b988-8ec7d1cec10d",
      "root_volume": {"size": 10000000000, "id": "dd5f5c10-23b1-4c9c-8445-eb6740957c84",
      "volume_type": "l_ssd", "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13"},
      "name": "Ubuntu Bionic Beaver", "modification_date": "2019-03-05T13:32:29.274319+00:00",
      "state": "available", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "extra_volumes": {}, "public": true}, "creation_date": "2020-01-03T19:19:39.841828+00:00",
      "public_ip": {"dynamic": false, "id": "a805d28c-708c-4b43-ac35-ed626eb2aa97",
      "address": "51.158.121.43"}, "private_ip": "10.12.152.219", "id": "e20d912b-88a4-453d-90b7-7f97c8e92283",
      "dynamic_ip_required": false, "modification_date": "2020-01-03T19:20:00.682901+00:00",
      "enable_ipv6": true, "hostname": "scw-epic-robinson", "state": "running", "bootscript":
      {"kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz", "default":
      false, "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "architecture":
      "x86_64", "title": "x86_64 mainline 4.9.93 rev1", "dtb": "", "organization":
      "11111111-1111-4111-8111-111111111111", "id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8",
      "public": false}, "location": {"platform_id": "14", "hypervisor_id": "1002",
      "node_id": "14", "cluster_id": "3", "zone_id": "par1"}, "boot_type": "local",
      "ipv6": {"netmask": "64", "gateway": "2001:bc8:4748:130d::", "address": "2001:bc8:4748:130d::1"},
      "commercial_type": "GP1-XS", "placement_group": null, "tags": [], "arch": "x86_64",
      "extra_networks": [], "compute_cluster": null, "name": "scw-epic-robinson",
      "protected": false, "volumes": {"0": {"size": 150000000000, "state": "available",
      "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13", "modification_date":
      "2020-01-03T19:19:40.065887+00:00", "organization": "b3ba839a-dcf2-4b0a-ac81-fc32370052a0",
      "export_uri": null, "creation_date": "2020-01-03T19:19:39.841828+00:00", "id":
      "6161ce52-21fb-4374-b1f4-71d0a2c96308", "volume_type": "l_ssd", "server": {"id":
      "e20d912b-88a4-453d-90b7-7f97c8e92283", "name": "scw-epic-robinson"}}}, "security_group":
      {"id": "8c2471b6-317d-46a9-ba7d-081f1bc8ba69", "name": "Default security group"},
      "organization": "b3ba839a-dcf2-4b0a-ac81-fc32370052a0"}]}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </servers?page=1&per_page=50&state=running>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
