---
version: 1
interactions:
- request:
    body: '{"name":"cli-sg-cranky-meninsky","organization":"951df375-e094-4d26-97c1-ba548eeb9c42","stateful":true,"inbound_default_policy":"accept","outbound_default_policy":"accept"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
    method: POST
  response:
    body: '{"security_group": {"id": "717dda7f-0f49-4851-92fc-1e56e95069b6", "creation_date":
      "2020-03-08T16:15:43.476820+00:00", "modification_date": "2020-03-08T16:15:43.476820+00:00",
      "name": "cli-sg-cranky-meninsky", "description": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "servers": [], "stateful": true, "inbound_default_policy": "accept", "outbound_default_policy":
      "accept", "organization_default": false, "enable_default_security": true, "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cp-par1.scaleway.com/security_groups/717dda7f-0f49-4851-92fc-1e56e95069b6
    status: 201 Created
    code: 201
    duration: ""
