---
version: 1
interactions:
- request:
    body: '{"organization":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "10d0c80b-25a4-4cfd-b71f-9e6c196ada1b", "address": "51.15.248.118",
      "reverse": null, "server": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "zone": "fr-par-1", "tags": []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cp-par1.scaleway.com/ips/10d0c80b-25a4-4cfd-b71f-9e6c196ada1b
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips?page=1
    method: GET
  response:
    body: '{"ips": [{"id": "8ed1c207-86db-4e60-84cd-0a4e84031239", "address": "51.15.253.183",
      "reverse": null, "server": {"id": "fa37ff62-4665-4b94-93bf-385d264a7b4d", "name":
      "juju"}, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42", "zone": "fr-par-1",
      "tags": []}, {"id": "10d0c80b-25a4-4cfd-b71f-9e6c196ada1b", "address": "51.15.248.118",
      "reverse": null, "server": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "zone": "fr-par-1", "tags": []}]}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </ips?page=1&per_page=50&>; rel="last"
      X-Total-Count:
      - "2"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/51.15.248.118
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
