---
version: 2
interactions:
- request:
    body: '{"ip": {"id": "647be9ab-3627-4f02-b205-2ae3fe896c5d", "address": "51.15.214.148",
      "prefix": null, "reverse": null, "server": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "zone": "fr-par-1", "type":
      "nat", "state": "attached", "tags": []}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "647be9ab-3627-4f02-b205-2ae3fe896c5d", "address": "51.15.214.148",
      "prefix": null, "reverse": null, "server": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "zone": "fr-par-1", "type":
      "nat", "state": "attached", "tags": []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/647be9ab-3627-4f02-b205-2ae3fe896c5d
    status: 201 Created
    code: 201
- request:
    body: '{"ips": [{"id": "58542407-77e1-444b-9fa3-30c4a0d9d7fb", "address": "163.172.170.102",
      "prefix": null, "reverse": null, "server": {"id": "c66fe648-06c8-4cab-83d4-d963bf0ef8df",
      "name": "kubetest-runner"}, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "zone": "fr-par-1", "type":
      "nat", "state": "attached", "tags": []}, {"id": "647be9ab-3627-4f02-b205-2ae3fe896c5d",
      "address": "51.15.214.148", "prefix": null, "reverse": null, "server": null,
      "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "zone": "fr-par-1", "type": "nat", "state": "attached", "tags": []}]}'
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips?page=1
    method: GET
  response:
    body: '{"ips": [{"id": "58542407-77e1-444b-9fa3-30c4a0d9d7fb", "address": "163.172.170.102",
      "prefix": null, "reverse": null, "server": {"id": "c66fe648-06c8-4cab-83d4-d963bf0ef8df",
      "name": "kubetest-runner"}, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "zone": "fr-par-1", "type":
      "nat", "state": "attached", "tags": []}, {"id": "647be9ab-3627-4f02-b205-2ae3fe896c5d",
      "address": "51.15.214.148", "prefix": null, "reverse": null, "server": null,
      "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "zone": "fr-par-1", "type": "nat", "state": "attached", "tags": []}]}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </ips?page=1&per_page=50&>; rel="last"
      X-Total-Count:
      - "2"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/51.15.214.148
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
