---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips?page=1
    method: GET
  response:
    body: '{"ips": [{"id": "3817aab0-72fd-4b87-8520-4f7e9e90e468", "address": "212.47.226.205",
      "reverse": null, "server": {"id": "129e3eb4-68e9-45d3-ae87-5955ce46b579", "name":
      "cli-srv-crazy-thompson"}, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "zone": "fr-par-1", "tags": []}, {"id": "fd91b5f1-b3f9-4dbc-a6c0-d33c24898a13",
      "address": "51.158.126.73", "reverse": null, "server": {"id": "bd6ccec8-f674-4690-95ee-af5d4b393577",
      "name": "cli-srv-quirky-booth"}, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "zone": "fr-par-1", "tags": []}, {"id": "5128dddf-f3d2-45d0-bee0-aacdff00d467",
      "address": "51.158.117.27", "reverse": null, "server": null, "organization":
      "951df375-e094-4d26-97c1-ba548eeb9c42", "zone": "fr-par-1", "tags": [[...]
