---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: GET
  response:
    body: '{"servers": [{"allowed_actions": ["poweron", "backup"], "maintenances":
      [], "state_detail": "", "image": {"creation_date": "2019-03-05T10:13:15.974944+00:00",
      "default_bootscript": {"kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz", "default":
      false, "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "architecture":
      "x86_64", "title": "x86_64 mainline 4.9.93 rev1", "dtb": "", "organization":
      "11111111-1111-4111-8111-111111111111", "id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8",
      "public": false}, "from_server": null, "arch": "x86_64", "id": "f974feac-abae-4365-b988-8ec7d1cec10d",
      "root_volume": {"size": 10000000000, "id": "dd5f5c10-23b1-4c9c-8445-eb6740957c84",
      "volume_type": "l_ssd", "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13"},
      "name": "Ubuntu Bionic Beaver", "modification_date": "2019-03-05T13:32:29.274319+00:00",
      "state": "available", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "extra_volumes": {}, "public": true}, "creation_date": "2020-02-11T13:40:35.675206+00:00",
      "public_ip": {"dynamic": false, "id": "535c33cd-4c78-4b95-8796-896c2948b026",
      "address": "163.172.133.14"}, "private_ip": null, "id": "6ee01533-3fb9-4f20-8160-a7ad7967c6d4",
      "dynamic_ip_required": false, "modification_date": "2020-02-11T13:40:36.017139+00:00",
      "enable_ipv6": false, "hostname": "cli-srv-festive-antonelli", "state": "stopped",
      "bootscript": {"kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz", "default":
      false, "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "architecture":
      "x86_64", "title": "x86_64 mainline 4.9.93 rev1", "dtb": "", "organization":
      "11111111-1111-4111-8111-111111111111", "id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8",
      "public": false}, "location": null, "boot_type": "local", "ipv6": null, "commercial_type":
      "DEV1-S", "placement_group": null, "tags": [], "arch": "x86_64", "extra_networks":
      [], "compute_cluster": null, "name": "cli-srv-festive-antonelli", "protected":
      false, "volumes": {"0": {"size": 20000000000, "state": "available", "name":
      "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13", "modification_date":
      "2020-02-11T13:40:35.998956+00:00", "organization": "aba2d0d0-b01d-4d88-b322-935edc96d0fd",
      "export_uri": null, "creation_date": "2020-02-11T13:40:35.675206+00:00", "id":
      "a37a3f12-7a93-41fd-9cb4-22828b23a81e", "volume_type": "l_ssd", "server": {"id":
      "6ee01533-3fb9-4f20-8160-a7ad7967c6d4", "name": "cli-srv-festive-antonelli"}}},
      "security_group": {"id": "49822f6c-1d32-465c-a017-720691d159b2", "name": "Default
      security group"}, "organization": "aba2d0d0-b01d-4d88-b322-935edc96d0fd", "private_nics":
      []}, {"allowed_actions": ["poweron", "backup"], "maintenances": [], "state_detail":
      "", "image": {"creation_date": "2018-08-31T12:09:48.318542+00:00", "default_bootscript":
      {"kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz", "default":
      false, "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "architecture":
      "x86_64", "title": "x86_[...]
