---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/marketplace/v1/images?page=1
    method: GET
  response:
    body: '{"images": [{"id": "0d3a22da-c634-45d6-a7dd-aff402f88b0c", "name": "AlmaLinux
      8", "label": "almalinux_8", "logo": "https://marketplace-logos.s3.nl-ams.scw.cloud/almalinux.png",
      "description": "AlmaLinux OS is an Open Source and forever-free enterprise Linux
      distribution, governed and driven by the community, focused on long-term stability
      and a robust production-grade platform", "organization": {"id": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "name": "Instances User Resources Build System"}, "versions": [{"id": "a17b88fc-3ba5-41a5-b5fe-a03deeed9974",
      "name": "2022-08-01T08:09:53.231561+00:00", "local_images": [{"id": "7a670a5e-c1f2-4f71-93fb-5cacfd3f22ea",
      "zone": "fr-par-3", "arch": "x86_64", "compatible_commercial_types": ["GP1-L",
      "GP1-M", "GP1-S", "GP1-XL", "GP1-XS", "START1-L", "START1-M", "START1-S", "START1-XS",
      "VC1L", "VC1M", "VC1S", "X64-120GB", "X64-15GB", "X64-30GB", "X64-60GB", "ENT1-S",
      "ENT1-M", "ENT1-L", "ENT1-XL", "ENT1-2XL", "PRO2-XXS", "PRO2-XS", "PRO2-S",
      "PRO2-M", "PRO2-L", "PLAY2-MICRO", "PLAY2-NANO", "PLAY2-PICO"]}, {"id": "8571f06a-3002-4df4-b325-5da0f062513c",
      "zone": "par1", "arch": "x86_64", "compatible_commercial_types": ["DEV1-L",
      "DEV1-M", "DEV1-S",[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/2289fad9-2694-48ab-bb41-f19e4a9a8584
    method: GET
  response:
    body: '{"image": {"id": "2289fad9-2694-48ab-bb41-f19e4a9a8584", "name": "Ubuntu
      22.04 jammy", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project":
      "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "899be1d5-be84-485e-a868-0a77a613e19c",
      "name": "ubuntu_22.04_jammy:volume-0", "volume_type": "unified", "size": 10000000000},
      "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2022-08-02T12:50:49.548258+00:00",
      "modification_date": "2022-08-02T12:50:49.548258+00:00", "default_bootscript":
      null, "from_server": null, "state": "available", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/products/servers
    method: GET
  response:
    body: '{"servers": {"DEV1-L": {"alt_names": [], "arch": "x86_64", "ncpus": 4,
      "ram": 8589934592, "gpu": null, "volumes_constraint": {"min_size": 0, "max_size":
      80000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      800000000000}}, "baremetal": false, "monthly_price": 31.39, "hourly_price":
      0.043, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      400000000, "sum_internet_bandwidth": 400000000, "interfaces": [{"internal_bandwidth":
      400000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      400000000}]}}, "DEV1-M": {"alt_names": [], "arch": "x86_64", "ncpus": 3, "ram":
      4294967296, "gpu": null, "volumes_constraint": {"min_size": 0, "max_size": 40000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "baremetal": false, "monthly_price": 16.06, "hourly_price": 0.022, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      300000000, "sum_internet_bandwidth": 300000000, "interfaces": [{"internal_bandwidth":
      300000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      300000000}]}}, "DEV1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram":
      2147483648, "gpu": null, "volumes_constraint": {"min_size": 0, "max_size": 20000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "baremetal": false, "monthly_price": 8.03, "hourly_price": 0.011, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      200000000, "sum_internet_bandwidth": 200000000, "interfaces": [{"internal_bandwidth":
      200000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      200000000}]}}, "DEV1-XL": {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram":
      12884901888, "gpu": null, "volumes_constraint": {"min_size": 0, "max_size":
      120000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      800000000000}}, "baremetal": false, "monthly_price": 47.45, "hourly_price":
      0.065, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      500000000, "sum_internet_bandwidth": 500000000, "interfaces": [{"internal_bandwidth":
      500000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      500000000}]}}, "ENT1-2XL": {"alt_names": [], "arch": "x86_64", "ncpus": 96,
      "ram": 412316860416, "gpu": null, "volumes_constraint": {"min_size": 0, "max_size":
      0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal":
      false, "monthly_price": 2452.8, "hourly_price": 3.36, "capabilities": {"boot_types":
      ["rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      false, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 20000000000, "sum_internet_bandwidth":
      20000000000, "interfaces": [{"internal_bandwidth": 20000000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 20000000000}]}}, "ENT1-L":
      {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram": 137438953472, "gpu":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      817.6, "hourly_price": 1.12, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 6400000000, "sum_internet_bandwidth": 6400000000,
      "interfaces": [{"internal_bandwidth": 6400000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 6400000000}]}}, "ENT1-M":
      {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 68719476736, "gpu":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      408.8, "hourly_price": 0.56, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 3200000000, "sum_internet_bandwidth": 3200000000,
      "interfaces": [{"internal_bandwidth": 3200000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 3200000000}]}}, "ENT1-S":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      204.4, "hourly_price": 0.28, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 1600000000, "sum_internet_bandwidth": 1600000000,
      "interfaces": [{"internal_bandwidth": 1600000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 1600000000}]}}, "ENT1-XL":
      {"alt_names": [], "arch": "x86_64", "ncpus": 64, "ram": 274877906944, "gpu":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      1635.2, "hourly_price": 2.24, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 12800000000, "sum_internet_bandwidth": 12800000000,
      "interfaces": [{"internal_bandwidth": 12800000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 12800000000}]}}, "GP1-L":
      {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram": 137438953472, "gpu":
      null, "volumes_constraint": {"min_size": 0, "max_size": 600000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 522.68, "hourly_price": 0.716, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 5000000000, "sum_internet_bandwidth":
      5000000000, "interfaces": [{"internal_bandwidth": 5000000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 5000000000}]}}, "GP1-M":
      {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 68719476736, "gpu":
      null, "volumes_constraint": {"min_size": 0, "max_size": 600000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 268.64, "hourly_price": 0.368, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 1500000000, "sum_internet_bandwidth":
      1500000000, "interfaces": [{"internal_bandwidth": 1500000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 1500000000}]}}, "GP1-S":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": null,
      "volumes_constraint": {"min_size": 0, "max_size": 300000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 134.32, "hourly_price": 0.184, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 800000000, "sum_internet_bandwidth":
      800000000, "interfaces": [{"internal_bandwidth": 800000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 800000000}]}}, "GP1-VIZ":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": null,
      "volumes_constraint": {"min_size": 0, "max_size": 300000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 72.0, "hourly_price": 0.1, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 500000000, "sum_internet_bandwidth":
      500000000, "interfaces": [{"internal_bandwidth": 500000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 500000000}]}}, "GP1-XL":
      {"alt_names": [], "arch": "x86_64", "ncpus": 48, "ram": 274877906944, "gpu":
      null, "volumes_constraint": {"min_size": 0, "max_size": 600000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 1108.14, "hourly_price": 1.518, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 10000000000, "sum_internet_bandwidth":
      10000000000, "interfaces": [{"internal_bandwidth": 10000000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 10000000000}]}}, "GP1-XS":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 17179869184, "gpu": null,
      "volumes_constraint": {"min_size": 0, "max_size": 150000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 66.43, "hourly_price": 0.091, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 500000000, "sum_internet_bandwidth":
      500000000, "interfaces": [{"internal_bandwidth": 500000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 500000000}]}}, "PLAY2-MICRO":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 8589934592, "gpu": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      39.42, "hourly_price": 0.054, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth": 400000000,
      "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 400000000}]}}, "PLAY2-NANO":
      {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 4294967296, "gpu": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      19.71, "hourly_price": 0.027, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 200000000, "sum_internet_bandwidth": 200000000,
      "interfaces": [{"internal_bandwidth": 200000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 200000000}]}}, "PLAY2-PICO":
      {"alt_names": [], "arch": "x86_64", "ncpus": 1, "ram": 2147483648, "gpu": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      10.22, "hourly_price": 0.014, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 100000000, "sum_internet_bandwidth": 100000000,
      "interfaces": [{"internal_bandwidth": 100000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 100000000}]}}, "PRO2-L":
      {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram": 137438953472, "gpu":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      640.21, "hourly_price": 0.877, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 6000000000, "sum_internet_bandwidth": 6000000000,
      "interfaces": [{"internal_bandwidth": 6000000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 6000000000}]}}, "PRO2-M":
      {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 68719476736, "gpu":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      319.74, "hourly_price": 0.438, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 3000000000, "sum_internet_bandwidth": 3000000000,
      "interfaces": [{"internal_bandwidth": 3000000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 3000000000}]}}, "PRO2-S":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      159.87, "hourly_price": 0.219, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 1500000000, "sum_internet_bandwidth": 1500000000,
      "interfaces": [{"internal_bandwidth": 1500000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 1500000000}]}}, "PRO2-XS":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 17179869184, "gpu": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      80.3, "hourly_price": 0.11, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 700000000, "sum_internet_bandwidth": 700000000,
      "interfaces": [{"internal_bandwidth": 700000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 700000000}]}}, "PRO2-XXS":
      {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 8589934592, "gpu": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      40.15, "hourly_price": 0.055, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 350000000, "sum_internet_bandwidth": 350000000,
      "interfaces": [{"internal_bandwidth": 350000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 350000000}]}}, "RENDER-S":
      {"alt_names": [], "arch": "x86_64", "ncpus": 10, "ram": 45097156608, "gpu":
      1, "volumes_constraint": {"min_size": 0, "max_size": 400000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 788.4, "hourly_price": 1.08, "capabilities": {"boot_types":
      ["local", "rescue"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 1000000000, "sum_internet_bandwidth":
      1000000000, "interfaces": [{"internal_bandwidth": 1000000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 1000000000}]}}, "STARDUST1-S":
      {"alt_names": [], "arch": "x86_64", "ncpus": 1, "ram": 1073741824, "gpu": null,
      "volumes_constraint": {"min_size": 0, "max_size": 10000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 1.8469, "hourly_price": 0.00253, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 100000000, "sum_internet_bandwidth":
      100000000, "interfaces": [{"internal_bandwidth": 100000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 100000000}]}}, "START1-L":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 8589934592, "gpu": null,
      "volumes_constraint": {"min_size": 200000000000, "max_size": 200000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}},
      "baremetal": false, "monthly_price": 24.674, "hourly_price": 0.0338, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      null, "sum_internet_bandwidth": 400000000, "interfaces": [{"internal_bandwidth":
      null, "internet_bandwidth": 400000000}]}}, "START1-M": {"alt_names": [], "arch":
      "x86_64", "ncpus": 4, "ram": 4294967296, "gpu": null, "volumes_constraint":
      {"min_size": 100000000000, "max_size": 100000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal":
      false, "monthly_price": 12.264, "hourly_price": 0.0168, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": false, "private_network": 0},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth":
      300000000, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth":
      300000000}]}}, "START1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram":
      2147483648, "gpu": null, "volumes_constraint": {"min_size": 50000000000, "max_size":
      50000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      200000000000}}, "baremetal": false, "monthly_price": 6.059, "hourly_price":
      0.0083, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true,
      "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true,
      "sum_internal_bandwidth": null, "sum_internet_bandwidth": 200000000, "interfaces":
      [{"internal_bandwidth": null, "internet_bandwidth": 200000000}]}}, "START1-XS":
      {"alt_names": [], "arch": "x86_64", "ncpus": 1, "ram": 1073741824, "gpu": null,
      "volumes_constraint": {"min_size": 25000000000, "max_size": 25000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal":
      false, "monthly_price": 2.993, "hourly_price": 0.0041, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": false, "private_network": 0},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth":
      100000000, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth":
      100000000}]}}, "VC1L": {"alt_names": ["X64-8GB"], "arch": "x86_64", "ncpus":
      6, "ram": 8589934592, "gpu": null, "volumes_constraint": {"min_size": 200000000000,
      "max_size": 200000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 200000000000}}, "baremetal": false, "monthly_price": 14.4, "hourly_price":
      0.02, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true,
      "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true,
      "sum_internal_bandwidth": null, "sum_internet_bandwidth": 200000000, "interfaces":
      [{"internal_bandwidth": null, "internet_bandwidth": 200000000}]}}, "VC1M": {"alt_names":
      ["X64-4GB"], "arch": "x86_64", "ncpus": 4, "ram": 4294967296, "gpu": null, "volumes_constraint":
      {"min_size": 100000000000, "max_size": 100000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal":
      false, "monthly_price": 8.64, "hourly_price": 0.012, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": false, "private_network": 0},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth":
      200000000, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth":
      200000000}]}}, "VC1S": {"alt_names": ["X64-2GB"], "arch": "x86_64", "ncpus":
      2, "ram": 2147483648, "gpu": null, "volumes_constraint": {"min_size": 50000000000,
      "max_size": 50000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 200000000000}}, "baremetal": false, "monthly_price": 4.32, "hourly_price":
      0.006, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true,
      "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true,
      "sum_internal_bandwidth": null, "sum_internet_bandwidth": 200000000, "interfaces":
      [{"internal_bandwidth": null, "internet_bandwidth": 200000000}]}}, "X64-120GB":
      {"alt_names": [], "arch": "x86_64", "ncpus": 12, "ram": 128849018880, "gpu":
      null, "volumes_constraint": {"min_size": 500000000000, "max_size": 1000000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}},
      "baremetal": false, "monthly_price": 281.342, "hourly_price": 0.3854, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      null, "sum_internet_bandwidth": 1000000000, "interfaces": [{"internal_bandwidth":
      null, "internet_bandwidth": 1000000000}]}}, "X64-15GB": {"alt_names": [], "arch":
      "x86_64", "ncpus": 6, "ram": 16106127360, "gpu": null, "volumes_constraint":
      {"min_size": 200000000000, "max_size": 200000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal":
      false, "monthly_price": 38.836, "hourly_price": 0.0532, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": false, "private_network": 0},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth":
      250000000, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth":
      250000000}]}}, "X64-30GB": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram":
      32212254720, "gpu": null, "volumes_constraint": {"min_size": 300000000000, "max_size":
      400000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      200000000000}}, "baremetal": false, "monthly_price": 77.818, "hourly_price":
      0.1066, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
[...]
