---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"ip\": {\"id\": \"9918ae90-cd48-408f-97af-bcf3bc77afbc\", \"address\": \"51.15.229.243\", \"prefix\": null, \"reverse\": null, \"server\": null, \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"zone\": \"fr-par-1\", \"type\": \"routed_ipv4\", \"state\": \"detached\", \"tags\": [], \"ipam_id\": \"8f8bdc4a-eff1-49f2-88d9-4513cb6ccfed\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/9918ae90-cd48-408f-97af-bcf3bc77afbc
    status: 201 Created
    code: 201
    duration: 335.117115ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/9918ae90-cd48-408f-97af-bcf3bc77afbc
    method: PATCH
  response:
    body: "{\"ip\": {\"id\": \"9918ae90-cd48-408f-97af-bcf3bc77afbc\", \"address\": \"51.15.229.243\", \"prefix\": null, \"reverse\": null, \"server\": null, \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"zone\": \"fr-par-1\", \"type\": \"routed_ipv4\", \"state\": \"detached\", \"tags\": [], \"ipam_id\": \"8f8bdc4a-eff1-49f2-88d9-4513cb6ccfed\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 110.972452ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/51.15.229.243
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 296.94388ms
