---
version: 1
interactions:
- request:
    body: '{"ip": {"id": "e0bcadc9-914f-429e-82af-e2bffda353d4", "address": "51.158.98.0",
      "prefix": null, "reverse": null, "server": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "zone": "fr-par-1", "type":
      "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "89b18ec5-a28e-4738-8c41-1b163c16b956"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "e0bcadc9-914f-429e-82af-e2bffda353d4", "address": "51.158.98.0",
      "prefix": null, "reverse": null, "server": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "zone": "fr-par-1", "type":
      "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "89b18ec5-a28e-4738-8c41-1b163c16b956"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/e0bcadc9-914f-429e-82af-e2bffda353d4
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"ips": [{"id": "5518b669-2712-486d-a79f-447c7dea27db", "address": null,
      "prefix": "2001:bc8:710:7074::/64", "reverse": null, "server": null, "organization":
      "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "zone": "fr-par-1", "type": "routed_ipv6", "state": "detached", "tags": [],
      "ipam_id": "3aef1c94-7c9a-47b6-aa8d-eb4b13f1061d"}, {"id": "a81b021c-d607-4479-aa5b-816afdadec9f",
      "address": null, "prefix": "2001:bc8:710:3c3b::/64", [...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/51.158.98.0
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
