---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups?page=1
    method: GET
  response:
    body: '{"security_groups": [{"id": "54e2d5f6-d79c-44cc-b19f-613699b9cc7e", "creation_date":
      "2015-01-23T13:24:29.162033+00:00", "modification_date": "2019-11-06T14:23:27.051999+00:00",
      "name": "Default security group", "description": "Auto generated security group.",
      "organization": "951df375-e094-4d26-97c1-ba548eeb9c42", "servers": [{"id": "97165b33-61f8-4b56-aa8d-d5ffdd4cf673",
      "name": "cli-srv-competent-volhard"}, {"id": "764b1814-9b29-4a72-a423-87dfbdbd9d4e",
      "name": "cli-srv-awesome-archimedes"}, {"id": "f0f5212b-e1a7-404c-b1f1-2653f3984053",
      "name": "cli-srv-epic-mcnulty"}, {"id": "de275cd9-9578-4e75-8fb4-00543db83bf8",
      "name": "cli-srv-jovial-kepler"}, {"id": "3391c8bd-514a-443f-bd8c-dd2adc824480",
      "name": "cli-srv-wonderful-moser"}, {"id": "705195d7-5ca8-4736-b2d4-710f0c2eb60a",
      "name": "cli-srv-suspicious-beaver"}, {"id": "e8977860-18f8-4835-a7dc-6aa504c0468e",
      "name": "cli-srv-angry-cori"}, {"id": "755855d3-a0f6-466b-8115-69a0fd6dd1c6",
      "name": "silly-knuth"}, {"id": "054f02b2-5aa0-4a87-a9c0-27cbe47255e1", "name":
      "nostalgic-yalow"}, {"id": "fa37ff62-4665-4b94-93bf-385d264a7b4d", "name": "scw-kind-roentgen"}],
      "stateful": false, "inbound_default_policy": "accept", "outbound_default_policy":
      "accept", "organization_default": true, "enable_default_security": true, "zone":
      "fr-par-1"}, {"id": "6a3ec618-9ed9-4809-ac45-80aa3b623e2d", "creation_date":
      "2019-12-24T08:44:28.791692+00:00", "modification_date": "2019-12-24T08:44:28.791692+00:00",
      "name": "kubernetes 0a48a2f9-14a1-4646-b93c-47a9a6b16d26", "description": null,
      "organization": "951df375-e094-4d26-97c1-ba548eeb9c42", "servers": [{"id": "719a2a2f-261d-46ed-b651-e6418aa7342b",
      "name": "scw-k8s-clever-cori-default-f7af7a391d274421ba"}], "stateful": false,
      "inbound_default_po[...]
