---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            order:
                - creation_date_desc
            page:
                - "1"
            state:
                - stopped_in_place
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?order=creation_date_desc&page=1&state=stopped_in_place
        method: GET
      response:
        body: '{"servers": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </servers?page=0&per_page=50&order=creation_date_desc&state=stopped_in_place>; rel="last"
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 212.722875ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 11.062083ms
