---
version: 1
interactions:
- request:
    body: '{"name":"cli-test","project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","volume_type":"b_ssd","size":10000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "a7a59b39-db83-41d5-8865-c860ab2b31fe", "name": "cli-test",
      "volume_type": "b_ssd", "export_uri": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "server": null, "size": 10000000000,
      "state": "available", "creation_date": "2023-04-24T09:55:37.424968+00:00", "modification_date":
      "2023-04-24T09:55:37.424968+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/a7a59b39-db83-41d5-8865-c860ab2b31fe
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/a7a59b39-db83-41d5-8865-c860ab2b31fe
    method: GET
  response:
    body: '{"volume": {"id": "a7a59b39-db83-41d5-8865-c860ab2b31fe", "name": "cli-test",
      "volume_type": "b_ssd", "export_uri": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "server": null, "size": 10000000000,
      "state": "available", "creation_date": "2023-04-24T09:55:37.424968+00:00", "modification_date":
      "2023-04-24T09:55:37.424968+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"cli-test-snapshot-update-name","volume_id":"a7a59b39-db83-41d5-8865-c860ab2b31fe","tags":["foo","bar"],"project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","volume_type":"b_ssd"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "5107b67e-0bf4-4042-b8e6-3d06b184d9e9", "name": "cli-test-snapshot-update-name",
      "volume_type": "b_ssd", "creation_date": "2023-04-24T09:55:37.636643+00:00",
      "modification_date": "2023-04-24T09:55:37.636643+00:00", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "size": 10000000000, "state":
      "snapshotting", "base_volume": {"id": "a7a59b39-db83-41d5-8865-c860ab2b31fe",
      "name": "cli-test"}, "tags": ["foo", "bar"], "zone": "fr-par-1", "error_details":
      null}, "task": {"id": "ecda1b36-930d-493f-afd1-6c886b6012d5", "description":
      "snapshot_5107b67e-0bf4-4042-b8e6-3d06b184d9e9", "status": "pending", "href_from":
      "/snapshots", "href_result": "snapshots/5107b67e-0bf4-4042-b8e6-3d06b184d9e9",
      "started_at": "2023-04-24T09:55:37.990328+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/5107b67e-0bf4-4042-b8e6-3d06b184d9e9
    method: GET
  response:
    body: '{"snapshot": {"id": "5107b67e-0bf4-4042-b8e6-3d06b184d9e9", "name": "cli-test-snapshot-update-name",
      "volume_type": "b_ssd", "creation_date": "2023-04-24T09:55:37.636643+00:00",
      "modification_date": "2023-04-24T09:55:37.636643+00:00", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "size": 10000000000, "state":
      "snapshotting", "base_volume": {"id": "a7a59b39-db83-41d5-8865-c860ab2b31fe",
      "name": "cli-test"}, "tags": ["foo", "bar"], "zone": "fr-par-1", "error_details":
      null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
