---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?order=creation_date_desc&page=1
    method: GET
  response:
    body: '{"servers": [{"id": "ded8df25-bb54-4d8c-8cd8-dea1d79741b6", "name": "cli-srv-determined-williamson",
      "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
      "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "hostname": "cli-srv-determined-williamson", "image": {"id": "ff48b73a-097d-4685-b996-d3ebe50636ea",
      "name": "Ubuntu 20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "c4cd9fbf-5345-4ab8-8b22-d2dd3c37bb6f",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "size":
      10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date":
      "2021-04-20T14:35:38.328865+00:00", "modification_date": "2021-04-20T14:35:38.328865+00:00",
      "default_bootscript": null, "from_server": null, "state": "available", "zone":
      "fr-par-1"}, "volumes": {"0": {"id": "799a5279-d233-445b-9d93-f651cf4e936f",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "export_uri":
      null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "server": {"id": "ded8df25-bb54-4d8c-8cd8-dea1d79741b6", "name": "cli-srv-determined-williamson"},
      "size": 20000000000, "state": "available", "creation_date": "2021-06-22T07:46:22.583969+00:00",
      "modification_date": "2021-06-22T07:46:22.583969+00:00", "zone": "fr-par-1"}},
      "tags": [], "state": "running", "protected": false, "state_detail": "booted",
      "public_ip": {"id": "dd9e8df6-6775-4863-b517-e0b0ee3d7477", "address": "212.47.232.136",
      "dynamic": false}, "ipv6": null, "extra_networks": [], "dynamic_ip_required":
      false, "enable_ipv6": false, "private_ip": "10.72.80.43", "creation_date": "2021-06-22T07:46:22.583969+00:00",
      "modification_date": "2021-06-22T07:46:45.994633+00:00", "bootscript": {"id":
      "fdfe150f-a870-4ce4-b432-9f56b5b995c1", "public": true, "title": "x86_64 mainline
      4.4.230 rev1", "architecture": "x86_64", "organization": "11111111-1111-4111-8111-111111111111",
      "project": "11111111-1111-4111-8111-111111111111", "kernel": "http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230",
      "dtb": "", "initrd": "http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      true, "zone": "fr-par-1"}, "security_group": {"id": "54e2d5f6-d79c-44cc-b19f-613699b9cc7e",
      "name": "Default security group"}, "location": {"zone_id": "par1", "platform_id":
      "14", "cluster_id": "32", "hypervisor_id": "301", "node_id": "22"}, "maintenances":
      [], "allowed_actions": ["poweroff", "terminate", "reboot", "stop_in_place",
      "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1"},
      {"id": "55a88034-6f0d-4021-b175-838abf07078f", "name": "cli-srv-thirsty-colden",
      "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
      "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "hostname": "cli-srv-thirsty-colden", "image": {"id": "ff48b73a-097d-4685-b996-d3ebe50636ea",
      "name": "Ubuntu 20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
 [...]
