---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/marketplace/v1/images?page=1
    method: GET
  response:
    body: '{"images": [{"id": "b381b2bf-804a-4b12-91f6-9f4ff273462f", "name": "Ubuntu
      Bionic", "label": "ubuntu_bionic", "logo": "https://marketplace-logos.s3.nl-ams.scw.cloud/ubuntu.png",
      "description": "Ubuntu is the ideal distribution for scale-out computing, Ubuntu
      Server helps you make the most of your infrastructure.", "organization": {"id":
      "51b656e3-4865-41e8-adbc-0c45bdd780db", "name": "Instances User Resources Build
      System"}, "versions": [{"id": "a61307b9-5916-4494-96f3-1fb13c0be9b2", "name":
      "2021-11-29T09:04:09.529050+00:00", "local_images": [{"id": "a7306ef9-5e1b-464d-a409-a44026d91a9e",
      "zone": "ams1", "arch": "x86_64", "compatible_commercial_types": ["C2S", "C2M",
      "C2L", "X64-15GB", "X64-30GB", "X64-60GB", "X64-120GB"]}, {"id": "60eb89c7-1c29-4a94-a954-dddb81fc1a55",
      "zone": "par1", "arch": "x86_64", "compatible_commercial_types": ["C2S", "C2M",
      "C2L", "X64-15GB", "X64-30GB", "X64-60GB", "X64-120GB"]}, {"id": "b0ba3fe6-5922-4dcc-a421-bfbad0ff28fb",
      "zone": "fr-par-3", "arch": "x86_64", "compatible_commercial_types": ["ENT1-S",
      "ENT1-M", "ENT1-L", "ENT1-XL", "ENT1-2XL"]}, {"id": "2c5d560c-0dda-421d-8a4e-413f3a6[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/96cfdd7b-a266-4bfd-8177-0b05ec324229
    method: GET
  response:
    body: '{"image": {"id": "96cfdd7b-a266-4bfd-8177-0b05ec324229", "name": "Ubuntu
      18.04 Bionic Beaver", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "91886dbe-41c8-4a18-85b1-02a724d83215",
      "name": "ubuntu_18.04_bionic_beaver:volume-0", "volume_type": "l_ssd", "size":
      10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date":
      "2021-11-29T08:58:09.601333+00:00", "modification_date": "2021-11-29T08:58:09.601333+00:00",
      "default_bootscript": null, "from_server": null, "state": "available", "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/products/servers
    method: GET
  response:
    body: '{"servers": {"C1": {"alt_names": [], "arch": "arm", "ncpus": 4, "ram":
      2147483648, "gpu": null, "volumes_constraint": {"min_size": 50000000000, "max_size":
      1000000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 200000000000}}, "baremetal": true, "monthly_price": 4.32, "hourly_price":
      0.006, "capabilities": {"boot_types": ["bootscript", "rescue"], "default_boot_type":
      "bootscript", "hot_snapshots_local_volume": false, "placement_groups": false,
      "block_storage": false, "private_network": 0}, "network": {"ipv6_support": false,
      "sum_internal_bandwidth": 1000000000, "sum_internet_bandwidth": 200000000, "interfaces":
      [{"internal_bandwidth": 1000000000, "internet_bandwidth": 200000000}]}}, "DEV1-L":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 8589934592, "gpu": null,
      "volumes_constraint": {"min_size": 80000000000, "max_size": 80000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 28.8, "hourly_price": 0.04, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth":
      400000000, "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 400000000}]}}, "DEV1-M":
      {"alt_names": [], "arch": "x86_64", "ncpus": 3, "ram": 4294967296, "gpu": null,
      "volumes_constraint": {"min_size": 40000000000, "max_size": 40000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 14.4, "hourly_price": 0.02, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 300000000, "sum_internet_bandwidth":
      300000000, "interfaces": [{"internal_bandwidth": 300000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 300000000}]}}, "DEV1-S":
      {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 2147483648, "gpu": null,
      "volumes_constraint": {"min_size": 20000000000, "max_size": 20000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 7.2, "hourly_price": 0.01, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 200000000, "sum_internet_bandwidth":
      200000000, "interfaces": [{"internal_bandwidth": 200000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 200000000}]}}, "DEV1-XL":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 12884901888, "gpu": null,
      "volumes_constraint": {"min_size": 120000000000, "max_size": 120000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "baremetal": false, "monthly_price": 43.2, "hourly_price": 0.06, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      500000000, "sum_internet_bandwidth": 500000000, "interfaces": [{"internal_bandwidth":
      500000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      500000000}]}}, "GP1-L": {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram":
      137438953472, "gpu": null, "volumes_constraint": {"min_size": 600000000000,
      "max_size": 600000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 800000000000}}, "baremetal": false, "monthly_price": 475.2, "hourly_price":
      0.66, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      5000000000, "sum_internet_bandwidth": 5000000000, "interfaces": [{"internal_bandwidth":
      5000000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      5000000000}]}}, "GP1-M": {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram":
      68719476736, "gpu": null, "volumes_constraint": {"min_size": 600000000000, "max_size":
      600000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      800000000000}}, "baremetal": false, "monthly_price": 244.8, "hourly_price":
      0.34, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      1500000000, "sum_internet_bandwidth": 1500000000, "interfaces": [{"internal_bandwidth":
      1500000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      1500000000}]}}, "GP1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram":
      34359738368, "gpu": null, "volumes_constraint": {"min_size": 300000000000, "max_size":
      300000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      800000000000}}, "baremetal": false, "monthly_price": 122.4, "hourly_price":
      0.17, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      800000000, "sum_internet_bandwidth": 800000000, "interfaces": [{"internal_bandwidth":
      800000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      800000000}]}}, "GP1-VIZ": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram":
      34359738368, "gpu": null, "volumes_constraint": {"min_size": 300000000000, "max_size":
      300000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      800000000000}}, "baremetal": false, "monthly_price": 72.0, "hourly_price": 0.1,
      "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      500000000, "sum_internet_bandwidth": 500000000, "interfaces": [{"internal_bandwidth":
      500000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      500000000}]}}, "GP1-XL": {"alt_names": [], "arch": "x86_64", "ncpus": 48, "ram":
      274877906944, "gpu": null, "volumes_constraint": {"min_size": 600000000000,
      "max_size": 600000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 800000000000}}, "baremetal": false, "monthly_price": 1008.0, "hourly_price":
      1.4, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      10000000000, "sum_internet_bandwidth": 10000000000, "interfaces": [{"internal_bandwidth":
      10000000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      10000000000}]}}, "GP1-XS": {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram":
      17179869184, "gpu": null, "volumes_constraint": {"min_size": 150000000000, "max_size":
      150000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      800000000000}}, "baremetal": false, "monthly_price": 60.48, "hourly_price":
      0.084, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      500000000, "sum_internet_bandwidth": 500000000, "interfaces": [{"internal_bandwidth":
      500000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      500000000}]}}, "RENDER-S": {"alt_names": [], "arch": "x86_64", "ncpus": 10,
      "ram": 48318382080, "gpu": 1, "volumes_constraint": {"min_size": 400000000000,
      "max_size": 400000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 800000000000}}, "baremetal": false, "monthly_price": 720.0, "hourly_price":
      1.0, "capabilities": {"boot_types": ["local", "rescue"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      1000000000, "sum_internet_bandwidth": 1000000000, "interfaces": [{"internal_bandwidth":
      1000000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      1000000000}]}}, "STARDUST1-S": {"alt_names": [], "arch": "x86_64", "ncpus":
      1, "ram": 1073741824, "gpu": null, "volumes_constraint": {"min_size": 10000000000,
      "max_size": 10000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 800000000000}}, "baremetal": false, "monthly_price": 1.8, "hourly_price":
      0.0025, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      100000000, "sum_internet_bandwidth": 100000000, "interfaces": [{"internal_bandwidth":
      100000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      100000000}]}}, "START1-L": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram":
      8589934592, "gpu": null, "volumes_constraint": {"min_size": 200000000000, "max_size":
      200000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      200000000000}}, "baremetal": false, "monthly_price": 23.04, "hourly_price":
      0.032, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true,
      "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true,
      "sum_internal_bandwidth": null, "sum_internet_bandwidth": 400000000, "interfaces":
      [{"internal_bandwidth": null, "internet_bandwidth": 400000000}]}}, "START1-M":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 4294967296, "gpu": null,
      "volumes_constraint": {"min_size": 100000000000, "max_size": 100000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}},
      "baremetal": false, "monthly_price": 11.52, "hourly_price": 0.016, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      null, "sum_internet_bandwidth": 300000000, "interfaces": [{"internal_bandwidth":
      null, "internet_bandwidth": 300000000}]}}, "START1-S": {"alt_names": [], "arch":
      "x86_64", "ncpus": 2, "ram": 2147483648, "gpu": null, "volumes_constraint":
      {"min_size": 50000000000, "max_size": 50000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal":
      false, "monthly_price": 5.76, "hourly_price": 0.008, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": false, "private_network": 0},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth":
      200000000, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth":
      200000000}]}}, "START1-XS": {"alt_names": [], "arch": "x86_64", "ncpus": 1,
      "ram": 1073741824, "gpu": null, "volumes_constraint": {"min_size": 25000000000,
      "max_size": 25000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 200000000000}}, "baremetal": false, "monthly_price": 2.88, "hourly_price":
      0.004, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true,
      "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true,
      "sum_internal_bandwidth": null, "sum_internet_bandwidth": 100000000, "interfaces":
      [{"internal_bandwidth": null, "internet_bandwidth": 100000000}]}}, "VC1L": {"alt_names":
      ["X64-8GB"], "arch": "x86_64", "ncpus": 6, "ram": 8589934592, "gpu": null, "volumes_constraint":
      {"min_size": 200000000000, "max_size": 200000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal":
      false, "monthly_price": 14.4, "hourly_price": 0.02, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": false, "private_network": 0},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth":
      200000000, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth":
      200000000}]}}, "VC1M": {"alt_names": ["X64-4GB"], "arch": "x86_64", "ncpus":
      4, "ram": 4294967296, "gpu": null, "volumes_constraint": {"min_size": 100000000000,
      "max_size": 100000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 200000000000}}, "baremetal": false, "monthly_price": 8.64, "hourly_price":
      0.012, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true,
      "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true,
      "sum_internal_bandwidth": null, "sum_internet_bandwidth": 200000000, "interfaces":
      [{"internal_bandwidth": null, "internet_bandwidth": 200000000}]}}, "VC1S": {"alt_names":
      ["X64-2GB"], "arch": "x86_64", "ncpus": 2, "ram": 2147483648, "gpu": null, "volumes_constraint":
      {"min_size": 50000000000, "max_size": 50000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal":
      false, "monthly_price": 4.32, "hourly_price": 0.006, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": false, "private_network": 0},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth":
      200000000, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth":
      200000000}]}}, "X64-120GB": {"alt_names": [], "arch": "x86_64", "ncpus": 12,
      "ram": 128849018880, "gpu": null, "volumes_constraint": {"min_size": 500000000000,
      "max_size": 1000000000000}, "per_volume_constraint": {"l_ssd": {"min_size":
      1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price":
      259.2, "hourly_price": 0.36, "capabilities": {"boot_types": ["bootscript", "rescue",
      "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true,
      "placement_groups": true, "block_storage": false, "private_network": 0}, "network":
      {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth":
      1000000000, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth":
      1000000000}]}}, "X64-15GB": {"alt_names": [], "arch": "x86_64", "ncpus": 6,
      "ram": 16106127360, "gpu": null, "volumes_constraint": {"min_size": 200000000000,
      "max_size": 200000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 200000000000}}, "baremetal": false, "monthly_price": 36.0, "hourly_price":
      0.05, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true,
      "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true,
      "sum_internal_bandwidth": null, "sum_internet_bandwidth": 250000000, "interfaces":
      [{"internal_bandwidth": null, "internet_bandwidth": 250000000}]}}, "X64-30GB":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 32212254720, "gpu": null,
      "volumes_constraint": {"min_size": 300000000000, "max_size": 400000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}},
      "baremetal": false, "monthly_price": 72.0, "hourly_price": 0.1, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      null, "sum_internet_bandwidth": 500000000, "interfaces": [{"internal_bandwidth":
      null, "internet_bandwidth": 500000000}]}}, "X64-60GB": {"alt_names": [], "arch":
      "x86_64", "ncpus": 10, "ram": 64424509440, "gpu": null, "volumes_constraint":
      {"min_size": 400000000000, "max_size": 700000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal":
      false, "monthly_price": 129.6, "hourly_price": 0.18, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": false, "private_network": 0},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth":
      1000000000, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth":
      1000000000}]}}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </products/servers?page=1&per_page=50&>; rel="last"
      X-Total-Count:
      - "24"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "c87da022-ca2c-485a-8bcd-0480df0343b6", "address": "51.15.218.186",
      "reverse": null, "server": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/c87da022-ca2c-485a-8bcd-0480df0343b6
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"cli-srv-awesome-dewdney","commercial_type":"DEV1-S","image":"96cfdd7b-a266-4bfd-8177-0b05ec324229","public_ip":"c87da022-ca2c-485a-8bcd-0480df0343b6","boot_type":"local","project":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"server": {"id": "2641b153-b863-4bab-aa2b-1d31253afa5c", "name": "cli-srv-awesome-dewdney",
      "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
      "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "hostname": "cli-srv-awesome-dewdney", "image": {"id": "96cfdd7b-a266-4bfd-8177-0b05ec324229",
      "name": "Ubuntu 18.04 Bionic Beaver", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "91886dbe-41c8-4a18-85b1-02a724d83215",
      "name": "ubuntu_18.04_bionic_beaver:volume-0", "volume_type": "l_ssd", "size":
      10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date":
      "2021-11-29T08:58:09.601333+00:00", "modification_date": "2021-11-29T08:58:09.601333+00:00",
      "default_bootscript": null, "from_server": null, "state": "available", "zone":
      "fr-par-1"}, "volumes": {"0": {"boot": false, "id": "4fd8ce75-952a-4820-a255-9c6de9501f06",
      "name": "ubuntu_18.04_bionic_beaver:volume-0", "volume_type": "l_ssd", "export_uri":
      null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "server": {"id": "2641b153-b863-4bab-aa2b-1d31253afa5c", "name": "cli-srv-awesome-dewdney"},
      "size": 20000000000, "state": "available", "creation_date": "2021-12-13T13:42:02.638057+00:00",
      "modification_date": "2021-12-13T13:42:02.638057+00:00", "zone": "fr-par-1"}},
      "tags": [], "state": "stopped", "protected": false, "state_detail": "", "public_ip":
      {"id": "c87da022-ca2c-485a-8bcd-0480df0343b6", "address": "51.15.218.186", "dynamic":
      false}, "ipv6": null, "extra_networks": [], "dynamic_ip_required": false, "enable_ipv6":
      false, "private_ip": null, "creation_date": "2021-12-13T13:42:02.638057+00:00",
      "modification_date": "2021-12-13T13:42:02.638057+00:00", "bootscript": {"id":
      "fdfe150f-a870-4ce4-b432-9f56b5b995c1", "public": true, "title": "x86_64 mainline
      4.4.230 rev1", "architecture": "x86_64", "organization": "11111111-1111-4111-8111-111111111111",
      "project": "11111111-1111-4111-8111-111111111111", "kernel": "http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230",
      "dtb": "", "initrd": "http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      true, "zone": "fr-par-1"}, "security_group": {"id": "54e2d5f6-d79c-44cc-b19f-613699b9cc7e",
      "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions":
      ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/2641b153-b863-4bab-aa2b-1d31253afa5c
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/2641b153-b863-4bab-aa2b-1d31253afa5c
    method: GET
  response:
    body: '{"server": {"id": "2641b153-b863-4bab-aa2b-1d31253afa5c", "name": "cli-srv-awesome-dewdney",
      "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
      "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "hostname": "cli-s[...]
- request:
    body: '{"volumes":{"0":{"id":"4fd8ce75-952a-4820-a255-9c6de9501f06","name":"ubuntu_18.04_bionic_beaver:volume-0"},"1":{"id":"11111111-1111-1111-1111-111111111111","name":"11111111-1111-1111-1111-111111111111"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/2641b153-b863-4bab-aa2b-1d31253afa5c
    method: PATCH
  response:
    body: '{"type": "unknown_resource", "message": "\"11111111-1111-1111-1111-111111111111\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/c87da022-ca2c-485a-8bcd-0480df0343b6
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/4fd8ce75-952a-4820-a255-9c6de9501f06
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
