---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?state=running
    method: GET
  response:
    body: '{"servers": [{"allowed_actions": ["poweroff", "terminate", "reboot", "stop_in_place",
      "backup"], "maintenances": [], "state_detail": "booting kernel", "image": {"creation_date":
      "2019-03-05T10:13:15.974944+00:00", "default_bootscript": {"kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz", "default":
      false, "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "architecture":
      "x86_64", "title": "x86_64 mainline 4.9.93 rev1", "dtb": "", "organization":
      "11111111-1111-4111-8111-111111111111", "id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8",
      "public": false}, "from_server": null, "arch": "x86_64", "id": "f974feac-abae-4365-b988-8ec7d1cec10d",
      "root_volume": {"size": 10000000000, "id": "dd5f5c10-23b1-4c9c-8445-eb6740957c84",
      "volume_type": "l_ssd", "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13"},
      "name": "Ubuntu Bionic Beaver", "modification_date": "2019-03-05T13:32:29.274319+00:00",
      "state": "available", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "extra_volumes": {}, "public": true}, "creation_date": "2020-01-09T15:37:30.301602+00:00",
      "public_ip": {"dynamic": false, "id": "e8086eeb-cca1-4fc9-ada3-1495741cdea4",
      "address": "163.172.146.186"}, "private_ip": "10.64.188.135", "id": "598b51b5-55ee-400b-bb0d-569ec1193d98",
      "dynamic_ip_required": false, "modification_date": "2020-01-09T15:37:53.604759+00:00",
      "enable_ipv6": true, "hostname": "scw-confident-roentgen", "state": "running",
      "bootscript": {"kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz", "default":
      false, "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "architecture":
      "x86_64", "title": "x86_64 mainline 4.9.93 rev1", "dtb": "", "organization":
      "11111111-1111-4111-8111-111111111111", "id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8",
      "public": false}, "location": {"platform_id": "14", "hypervisor_id": "801",
      "node_id": "68", "cluster_id": "17", "zone_id": "par1"}, "boot_type": "local",
      "ipv6": {"netmask": "64", "gateway": "2001:bc8:47a8:e43::", "address": "2001:bc8:47a8:e43::1"},
      "commercial_type": "DEV1-S", "placement_group": null, "tags": [], "arch": "x86_64",
      "extra_networks": [], "compute_cluster": null, "name": "scw-confident-roentgen",
      "protected": false, "volumes": {"0": {"size": 20000000000, "state": "available",
      "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13", "modification_date":
      "2020-01-09T15:37:30.503725+00:00", "organization": "b2593aa3-d0e8-4366-89c3-6e666abe1f6f",
      "export_uri": null, "creation_date": "2020-01-09T15:37:30.301602+00:00", "id":
      "cf67a5aa-839a-494b-b298-163c04c1dad0", "volume_type": "l_ssd", "server": {"id":
      "598b51b5-55ee-400b-bb0d-569ec1193d98", "name": "scw-confident-roentgen"}}},
      "security_group": {"id": "980142a3-a959-4aee-8325-91a6ba787439", "name": "Default
      security group"}, "organization": "b2593aa3-d0e8-4366-89c3-6e666abe1f6f", "private_nics":
      []}]}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </servers?page=1&per_page=50&state=running>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
