---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?page=1
    method: GET
  response:
    body: '{"servers": [{"id": "18e19087-4435-420b-abf7-a47c50a77fe7", "name": "cli-srv-mystifying-brattain",
      "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
      "aba2d0d0-b01d-4d88-b322-935edc96d0fd", "hostname": "cli-srv-mystifying-brattain",
      "image": {"id": "f974feac-abae-4365-b988-8ec7d1cec10d", "name": "Ubuntu Bionic
      Beaver", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume":
      {"id": "dd5f5c10-23b1-4c9c-8445-eb6740957c84", "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13",
      "volume_type": "l_ssd", "size": 10000000000}, "extra_volumes": {}, "public":
      true, "arch": "x86_64", "creation_date": "2019-03-05T10:13:15.974944+00:00",
      "modification_date": "2019-03-05T13:32:29.274319+00:00", "default_bootscript":
      {"id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8", "public": false, "title": "x86_64
      mainline 4.9.93 rev1", "architecture": "x86_64", "organization": "11111111-1111-4111-8111-111111111111",
      "kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "dtb": "", "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      false, "zone": "fr-par-1"}, "from_server": null, "state": "available", "zone":
      "fr-par-1"}, "volumes": {"0": {"id": "9cc2d6d2-aefa-4ed1-a0cb-a0cb7a362db7",
      "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13", "volume_type":
      "l_ssd", "export_uri": null, "organization": "aba2d0d0-b01d-4d88-b322-935edc96d0fd",
      "server": {"id": "18e19087-4435-420b-abf7-a47c50a77fe7", "name": "cli-srv-mystifying-brattain"},
      "size": 20000000000, "state": "available", "creation_date": "2020-02-24T12:07:55.625156+00:00",
      "modification_date": "2020-02-24T12:07:55.878439+00:00", "zone": "fr-par-1"}},
      "tags": [], "state": "stopped", "protected": false, "state_detail": "", "public_ip":
      {"id": "95c94531-cba7-4e57-aa5e-b6a4dd7a816c", "address": "163.172.170.53",
      "dynamic": false}, "ipv6": null, "extra_networks": [], "dynamic_ip_required":
      false, "enable_ipv6": false, "private_ip": null, "creation_date": "2020-02-24T12:07:55.625156+00:00",
      "modification_date": "2020-02-24T12:07:55.889310+00:00", "bootscript": {"id":
      "15fbd2f7-a0f9-412b-8502-6a44da8d98b8", "public": false, "title": "x86_64 mainline
      4.9.93 rev1", "architecture": "x86_64", "organization": "11111111-1111-4111-8111-111111111111",
      "kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "dtb": "", "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      false, "zone": "fr-par-1"}, "security_group": {"id": "49822f6c-1d32-465c-a017-720691d159b2",
      "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions":
      ["poweron", "backup"], "placement_group": null, "compute_cluster": null, "private_nics":
      [], "zone": "fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </servers?page=1&per_page=50&>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
