---
version: 1
interactions:
- request:
    body: '{"organization":"b2593aa3-d0e8-4366-89c3-6e666abe1f6f"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"organization": "b2593aa3-d0e8-4366-89c3-6e666abe1f6f", "reverse":
      null, "id": "902dae7f-302d-4be3-a821-f361b652f308", "server": null, "address":
      "51.15.134.93"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cp-par1.scaleway.com/ips/902dae7f-302d-4be3-a821-f361b652f308
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"cli-srv-kind-jones","commercial_type":"DEV1-S","image":"f974feac-abae-4365-b988-8ec7d1cec10d","public_ip":"902dae7f-302d-4be3-a821-f361b652f308","boot_type":"local","organization":"b2593aa3-d0e8-4366-89c3-6e666abe1f6f"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"server": {"allowed_actions": ["poweron", "backup"], "maintenances": [],
      "state_detail": "", "image": {"creation_date": "2019-03-05T10:13:15.974944+00:00",
      "default_bootscript": {"kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz", "default":
      false, "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "architecture":
      "x86_64", "title": "x86_64 mainline 4.9.93 rev1", "dtb": "", "organization":
      "11111111-1111-4111-8111-111111111111", "id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8",
      "public": false}, "from_server": null, "arch": "x86_64", "id": "f974feac-abae-4365-b988-8ec7d1cec10d",
      "root_volume": {"size": 10000000000, "id": "dd5f5c10-23b1-4c9c-8445-eb6740957c84",
      "volume_type": "l_ssd", "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13"},
      "name": "Ubuntu Bionic Beaver", "modification_date": "2019-03-05T13:32:29.274319+00:00",
      "state": "available", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "extra_volumes": {}, "public": true}, "creation_date": "2020-01-24T13:12:29.669872+00:00",
      "public_ip": {"dynamic": false, "id": "902dae7f-302d-4be3-a821-f361b652f308",
      "address": "51.15.134.93"}, "private_ip": null, "id": "17fe77d4-bb58-4a96-abee-b3d4d87d5a44",
      "dynamic_ip_required": false, "modification_date": "2020-01-24T13:12:30.013385+00:00",
      "enable_ipv6": false, "hostname": "cli-srv-kind-jones", "state": "stopped",
      "bootscript": {"kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz", "default":
      false, "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "architecture":
      "x86_64", "title": "x86_64 mainline 4.9.93 rev1", "dtb": "", "organization":
      "11111111-1111-4111-8111-111111111111", "id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8",
      "public": false}, "location": null, "boot_type": "local", "ipv6": null, "commercial_type":
      "DEV1-S", "placement_group": null, "tags": [], "arch": "x86_64", "extra_networks":
      [], "compute_cluster": null, "name": "cli-srv-kind-jones", "protected": false,
      "volumes": {"0": {"size": 20000000000, "state": "available", "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13",
      "modification_date": "2020-01-24T13:12:29.943744+00:00", "organization": "b2593aa3-d0e8-4366-89c3-6e666abe1f6f",
      "export_uri": null, "creation_date": "2020-01-24T13:12:29.669872+00:00", "id":
      "06f9d7d6-613d-44bc-89a1-c12965bbbcab", "volume_type": "l_ssd", "server": {"id":
      "17fe77d4-bb58-4a96-abee-b3d4d87d5a44", "name": "cli-srv-kind-jones"}}}, "security_group":
      {"id": "980142a3-a959-4aee-8325-91a6ba787439", "name": "Default security group"},
      "organization": "b2593aa3-d0e8-4366-89c3-6e666abe1f6f", "private_nics": []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cp-par1.scaleway.com/servers/17fe77d4-bb58-4a96-abee-b3d4d87d5a44
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/17fe77d4-bb58-4a96-abee-b3d4d87d5a44
    method: GET
  response:
    body: '{"server": {"allowed_actions": ["poweron", "backup"], "maintenances": [],
      "state_detail": "", "image": {"creation_date": "2019-03-05T10:13:15.974944+00:00",
      "default_bootscript": {"kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "initrd": "http[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/902dae7f-302d-4be3-a821-f361b652f308
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/06f9d7d6-613d-44bc-89a1-c12965bbbcab
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
