---
version: 1
interactions:
- request:
    body: '{"message":"Not found","resource":"MarketplaceImage","resource_id":"macos","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/marketplace/v2/local-images?image_label=macos&order_by=type_asc&type=instance_local&zone=fr-par-1
    method: GET
  response:
    body: '{"message":"Not found","resource":"MarketplaceImage","resource_id":"macos","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
