---
version: 1
interactions:
- request:
    body: '{"volume": {"id": "dfc990a0-2ba8-405d-807b-b4ce02cf484e", "name": "cli-test",
      "volume_type": "b_ssd", "export_uri": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "server": null, "size": 10000000000,
      "state": "available", "creation_date": "2023-12-14T14:00:00.932832+00:00", "modification_date":
      "2023-12-14T14:00:00.932832+00:00", "tags": [], "zone": "fr-par-1"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "dfc990a0-2ba8-405d-807b-b4ce02cf484e", "name": "cli-test",
      "volume_type": "b_ssd", "export_uri": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "server": null, "size": 10000000000,
      "state": "available", "creation_date": "2023-12-14T14:00:00.932832+00:00", "modification_date":
      "2023-12-14T14:00:00.932832+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/dfc990a0-2ba8-405d-807b-b4ce02cf484e
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"snapshot": {"id": "0d4bb79c-06ef-4fa1-809c-d103cb1efdad", "name": "cli-test-snapshot-update-name",
      "volume_type": "b_ssd", "creation_date": "2023-12-14T14:00:01.150505+00:00",
      "modification_date": "2023-12-14T14:00:01.150505+00:00", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "size": 10000000000, "state":
      "snapshotting", "base_volume": {"id": "dfc990a0-2ba8-405d-807b-b4ce02cf484e",
      "name": "cli-test"}, "tags": ["foo", "bar"], "zone": "fr-par-1", "error_details":
      null}, "task": {"id": "0ce29c7c-5415-4720-acd5-baf08a0026af", "description":
      "snapshot_0d4bb79c-06ef-4fa1-809c-d103cb1efdad", "status": "pending", "href_from":
      "/snapshots", "href_result": "snapshots/0d4bb79c-06ef-4fa1-809c-d103cb1efdad",
      "started_at": "2023-12-14T14:00:01.655761+00:00", "terminated_at": null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "0d4bb79c-06ef-4fa1-809c-d103cb1efdad", "name": "cli-test-snapshot-update-name",
      "volume_type": "b_ssd", "creation_date": "2023-12-14T14:00:01.150505+00:00",
      "modification_date": "2023-12-14T14:00:01.150505+00:00", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "size": 10000000000, "state":
      "snapshotting", "base_volume": {"id": "dfc990a0-2ba8-405d-807b-b4ce02cf484e",
      "name": "cli-test"}, "tags": ["foo", "bar"], "zone": "fr-par-1", "error_details":
      null}, "task": {"id": "0ce29c7c-5415-4720-acd5-baf08a0026af", "description":
      "snapshot_0d4bb79c-06ef-4fa1-809c-d103cb1efdad", "status": "pending", "href_from":
      "/snapshots", "href_result": "snapshots/0d4bb79c-06ef-4fa1-809c-d103cb1efdad",
      "started_at": "2023-12-14T14:00:01.655761+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"snapshot": {"id": "0d4bb79c-06ef-4fa1-809c-d103cb1efdad", "name": "cli-test-snapshot-update-name-updated",
      "volume_type": "b_ssd", "creation_date": "2023-12-14T14:00:01.150505+00:00",
      "modification_date": "2023-12-14T14:00:01.925156+00:00", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "size": 10000000000, "state":
      "snapshotting", "base_volume": {"id": "dfc990a0-2ba8-405d-807b-b4ce02cf484[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/dfc990a0-2ba8-405d-807b-b4ce02cf484e
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
