---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?page=1&volume_type=l_ssd
    method: GET
  response:
    body: '{"volumes": [{"id": "d05c9952-e4b6-4f5c-b5ca-a3d7c753c7cb", "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13",
      "volume_type": "l_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "server": null, "size": 20000000000, "state": "available", "creation_date":
      "2020-03-08T16:15:35.850151+00:00", "modification_date": "2020-03-08T16:15:36.942225+00:00",
      "zone": "fr-par-1"}, {"id": "3d92511c-e6db-435c-9ed7-3827004c65a0", "name":
      "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13", "volume_type":
      "l_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "server": null, "size": 20000000000, "state": "available", "creation_date":
      "2020-03-08T16:15:30.637644+00:00", "modification_date": "2020-03-08T16:15:31.793464+00:00",
      "zone": "fr-par-1"}, {"id": "b919332e-a298-45a2-97f5-bce69ce4883d"[...]
