---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"87f3aa93-db39-4f35-83ed-be1c757a1a68","name":"cli-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","engine":"PostgreSQL-15","upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d","name":"PostgreSQL-16","version":"16","minor_version":"16.9"}],"endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false,"next_run_at":"2025-08-13T17:29:28.957605Z"},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000,"class":"lssd"},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"encryption":{"enabled":false},"created_at":"2025-08-12T17:29:28.957605Z","region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"id":"87f3aa93-db39-4f35-83ed-be1c757a1a68","name":"cli-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","engine":"PostgreSQL-15","upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d","name":"PostgreSQL-16","version":"16","minor_version":"16.9"}],"endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false,"next_run_at":"2025-08-13T17:29:28.957605Z"},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000,"class":"lssd"},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"encryption":{"enabled":false},"created_at":"2025-08-12T17:29:28.957605Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 683.457511ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"87f3aa93-db39-4f35-83ed-be1c757a1a68","name":"cli-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","engine":"PostgreSQL-15","upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d","name":"PostgreSQL-16","version":"16","minor_version":"16.9"}],"endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"r[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"id":"87f3aa93-db39-4f35-83ed-be1c757a1a68","name":"cli-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"initializing","engine":"PostgreSQL-15","upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d","name":"PostgreSQL-16","version":"16","minor_version":"16.9"}],"endpoint":null,"tags":[],"settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false,"next_run_at":"2025-08-13T17:29:28.957605Z"},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000,"class":"lssd"},"init_settings":[],"endpoints":[],"logs_p[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"id":"87f3aa93-db39-4f35-83ed-be1c757a1a68","name":"cli-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"ready","engine":"PostgreSQL-15","upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d","name":"PostgreSQL-16","version":"16","minor_version":"16.9"}],"endpoint":{"ip":"51.159.24.190","port":10301,"name":null,"id":"66f735cc-8956-46e1-984f-0bc449ff0745","load_balancer":{}},"tags":[],"settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false,"next_run_at":"2025-08-13T17:29:28.957605Z"},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":500[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"id":"8a9791d0-81a1-4ae1-a877-6da2962f20c4","instance_id":"87f3aa93-db39-4f35-83ed-be1c757a1a68","database_name":"rdb","name":"will_be_exported","status":"creating","size":null,"expires_at":"2032-01-02T22:04:05Z","created_at":"2025-08-12T17:33:01.950690Z","updated_at":null,"instance_name":"cli-test","download_url":null,"download_url_expires_at":null,"same_region":false,"region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
        method: POST
      response:
        body: '{"id":"8a9791d0-81a1-4ae1-a877-6da2962f20c4","instance_id":"87f3aa93-db39-4f35-83ed-be1c757a1a68","database_name":"rdb","name":"will_be_exported","status":"creating","size":null,"expires_at":"2032-01-02T22:04:05Z","created_at":"2025-08-12T17:33:01.950690Z","updated_at":null,"instance_name":"cli-test","download_url":null,"download_url_expires_at":null,"same_region":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 828.037185ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{"id":"8a9791d0-81a1-4ae1-a877-6da2962f20c4","instance_id":"87f3aa93-db39-4f35-83ed-be1c757a1a68","database_name":"rdb","name":"will_be_exported","status":"ready","size":2106,"expires_at":"2032-01-02T22:04:05Z","created_at":"2025-08-12T17:33:01.950690Z","updated_at":"2025-08-12T17:33:03.963041Z","instance_name":"cli-test","download_url":"https://s3.nl-ams.scw.cloud/65940610-0e5e-4a98-9306-568aa4eb3673/87f3aa93-db39-4f35-83[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: '{"database_backups":[{"id":"8a9791d0-81a1-4ae1-a877-6da2962f20c4","instance_id":"87f3aa93-db39-4f35-83ed-be1c757a1a68","database_name":"rdb","name":"will_be_exported","status":"ready","size":2106,"expires_at":"2032-01-02T22:04:05Z","created_at":"2025-08-12T17:33:01.950690Z","updated_at":"2025-08-12T17:33:03.963041Z","instance_name":"cli-test","download_url":"https://s3.nl-ams.scw.cloud/65940610-0e5e-4a98-9306-568aa4eb3673/87f3aa93-db39-4f35-83ed-be1c757a1a68/8a9791d0-81a1-4ae1-a877-6da2962f20c4.custom?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=SCW2HJV1WMKPE0CKDAW5%2F20250812%2Fnl-ams%2Fs3%2Faws4_request&X-Amz-Date=20250812T173334Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=e07db4c5a0f47dbba337ad3e6fb02ff77b45902efc8fc1db5986dcf20f3acb48","download_url_expires_at":"2025-08-13T17:33:34.081167Z","same_region":false,"region":"fr-par"},{"id":"a347f936-88d6-4084-8e2c-cf0073cb9359","instance_id":"87f3aa93-db39-4f35-83ed-be1c757a1a68","database_name":"rdb","name":"will_not_be_exported","status":"ready","size":2106,"expires_at":"2032-01-02T22:04:05Z","created_at":"2025-08-12T17:33:17.971472Z","updated_at":"2025-08-12T17:33:21.115362Z","instance_name":"cli-test","download_url":null,"download_url_expires_at":null,"same_region":false,"region":"fr-par"}],"total_count":2}'
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?instance_id=87f3aa93-db39-4f35-83ed-be1c757a1a68&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"database_backups":[{"id":"8a9791d0-81a1-4ae1-a877-6da2962f20c4","instance_id":"87f3aa93-db39-4f35-83ed-be1c757a1a68","database_name":"rdb","name":"will_be_exported","status":"ready","size":2106,"expires_at":"2032-01-02T22:04:05Z","created_at":"2025-08-12T17:33:[...]
[...]
