---
version: 1
interactions:
- request:
    body: '{"id":"a39d9d0e-5860-4b87-8f8f-b9384fa497d5", "name":"pn-exciting-babbage",
      "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-11-19T16:28:46.828785Z",
      "updated_at":"2024-11-19T16:28:46.828785Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "subnets":[{"id":"d41c238c-4205-409f-80c6-6f4e5ba8f363", "created_at":"2024-11-19T16:28:46.828785Z",
      "updated_at":"2024-11-19T16:28:46.828785Z", "subnet":"172.16.40.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "private_network_id":"a39d9d0e-5860-4b87-8f8f-b9384fa497d5", "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},
      {"id":"d98714b3-6d28-4ee8-8b74-7ccad43c2bc5", "created_at":"2024-11-19T16:28:46.828785Z",
      "updated_at":"2024-11-19T16:28:46.828785Z", "subnet":"fd49:821a:a311:1cc0::/64",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"a39d9d0e-5860-4b87-8f8f-b9384fa497d5",
      "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}], "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"a39d9d0e-5860-4b87-8f8f-b9384fa497d5", "name":"pn-exciting-babbage",
      "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-11-19T16:28:46.828785Z",
      "updated_at":"2024-11-19T16:28:46.828785Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "subnets":[{"id":"d41c238c-4205-409f-80c6-6f4e5ba8f363", "created_at":"2024-11-19T16:28:46.828785Z",
      "updated_at":"2024-11-19T16:28:46.828785Z", "subnet":"172.16.40.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "private_network_id":"a39d9d0e-5860-4b87-8f8f-b9384fa497d5", "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},
      {"id":"d98714b3-6d28-4ee8-8b74-7ccad43c2bc5", "created_at":"2024-11-19T16:28:46.828785Z",
      "updated_at":"2024-11-19T16:28:46.828785Z", "subnet":"fd49:821a:a311:1cc0::/64",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"a39d9d0e-5860-4b87-8f8f-b9384fa497d5",
      "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}], "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"d38ca86f-2222-4f0f-80e1-6a9ddf72c233", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T16:28:47.723508Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null,
      "id":"dbc38f0e-800a-4c12-a623-4bfee6862bd9", "private_network":{"private_network_id":"a39d9d0e-5860-4b87-8f8f-b9384fa497d5",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2024-11-19T16:28:47.723508Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"d38ca86f-2222-4f0f-80e1-6a9ddf72c233", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T16:28:47.723508Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null,
      "id":"dbc38f0e-800a-4c12-a623-4bfee6862bd9", "private_network":{"private_network_id":"a39d9d0e-5860-4b87-8f8f-b9384fa497d5",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2024-11-19T16:28:47.723508Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"d38ca86f-2222-4f0f-80e1-6a9ddf72c233", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T16:28:47.723508Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"d38ca86f-2222-4f0f-80e1-6a9ddf72c233", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"initializing",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T16:28:47.723508Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
[...]
- request:
    body: '{"id":"d38ca86f-2222-4f0f-80e1-6a9ddf72c233", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":{"ip":"51.159.75.175", "port":11645, "name":null,
      "id":"f0461334-12d9-48a9-b9c3-2f1db1728053", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T16:28:47.723508Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
- request:
    body: '{"access_key":"SCW363CZ5SRN5YHQBGXY", "secret_key":null, "description":"sieben-macbook",
      "created_at":"2023-03-28T09:41:12.847132Z", "updated_at":"2023-03-28T09:41:12.847132Z",
      "expires_at":null, "default_project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9",
      "user_id":"b49d82c1-ce3a-473f-9cef-420acc5256bf"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW363CZ5SRN5YHQBGXY
    method: GET
  response:
    body: '{"access_key":"SCW363CZ5SRN5YHQBGXY", "secret_key":null, "description":"sieben-macbook",
      "created_at":"2023-03-28T09:41:12.847132Z", "updated_at":"2023-03-28T09:41:12.847132Z",
      "expires_at":null, "default_project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9",
      "user_id":"b49d82c1-ce3a-473f-9cef-420acc5256bf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"d38ca86f-2222-4f0f-80e1-6a9ddf72c233","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d38ca86f-2222-4f0f-80e1-6a9ddf72c233
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"d38ca86f-2222-4f0f-80e1-6a9ddf72c233","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a39d9d0e-5860-4b87-8f8f-b9384fa497d5
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
