---
version: 1
interactions:
- request:
    body: '{"id":"d11983de-bfca-49b3-9f1a-311153d6d80f", "name":"pn-elated-sanderson",
      "tags":[], "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "created_at":"2025-01-07T14:30:50.153989Z",
      "updated_at":"2025-01-07T14:30:50.153989Z", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "subnets":[{"id":"3c048f37-af89-4b8f-b949-5d8737006e79", "created_at":"2025-01-07T14:30:50.153989Z",
      "updated_at":"2025-01-07T14:30:50.153989Z", "subnet":"172.16.192.0/22", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "private_network_id":"d11983de-bfca-49b3-9f1a-311153d6d80f", "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"},
      {"id":"7b25b7d1-eb55-4221-89aa-a73d48356027", "created_at":"2025-01-07T14:30:50.153989Z",
      "updated_at":"2025-01-07T14:30:50.153989Z", "subnet":"fdcd:e4f1:8712:ca31::/64",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "private_network_id":"d11983de-bfca-49b3-9f1a-311153d6d80f",
      "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"}], "vpc_id":"d4535842-cddd-478d-a978-1797d57da787",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"d11983de-bfca-49b3-9f1a-311153d6d80f", "name":"pn-elated-sanderson",
      "tags":[], "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "created_at":"2025-01-07T14:30:50.153989Z",
      "updated_at":"2025-01-07T14:30:50.153989Z", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "subnets":[{"id":"3c048f37-af89-4b8f-b949-5d8737006e79", "created_at":"2025-01-07T14:30:50.153989Z",
      "updated_at":"2025-01-07T14:30:50.153989Z", "subnet":"172.16.192.0/22", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "private_network_id":"d11983de-bfca-49b3-9f1a-311153d6d80f", "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"},
      {"id":"7b25b7d1-eb55-4221-89aa-a73d48356027", "created_at":"2025-01-07T14:30:50.153989Z",
      "updated_at":"2025-01-07T14:30:50.153989Z", "subnet":"fdcd:e4f1:8712:ca31::/64",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "private_network_id":"d11983de-bfca-49b3-9f1a-311153d6d80f",
      "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"}], "vpc_id":"d4535842-cddd-478d-a978-1797d57da787",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"5a9a79b2-6e76-40ab-a26e-d6bffabd68e0", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:30:51.075453Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null,
      "id":"ed060d32-1ae4-4a7d-9b37-9502a5a9b4ba", "private_network":{"private_network_id":"d11983de-bfca-49b3-9f1a-311153d6d80f",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-01-07T14:30:51.075453Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"5a9a79b2-6e76-40ab-a26e-d6bffabd68e0", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:30:51.075453Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null,
      "id":"ed060d32-1ae4-4a7d-9b37-9502a5a9b4ba", "private_network":{"private_network_id":"d11983de-bfca-49b3-9f1a-311153d6d80f",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-01-07T14:30:51.075453Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"5a9a79b2-6e76-40ab-a26e-d6bffabd68e0", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:30:51.075453Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"5a9a79b2-6e76-40ab-a26e-d6bffabd68e0", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"initializing",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:30:51.075453Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
[...]
- request:
    body: '{"id":"5a9a79b2-6e76-40ab-a26e-d6bffabd68e0", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":{"ip":"51.159.8.181", "port":14800, "name":null,
      "id":"efc7ca3b-9f17-41cc-9cdf-bebb5415748d", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:30:51.075453Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
[...]
- request:
    body: '{"total_count":0, "ips":[]}'
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=5a9a79b2-6e76-40ab-a26e-d6bffabd68e0&resource_type=rdb_instance
    method: GET
  response:
    body: '{"total_count":0, "ips":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"5a9a79b2-6e76-40ab-a26e-d6bffabd68e0","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5a9a79b2-6e76-40ab-a26e-d6bffabd68e0
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"5a9a79b2-6e76-40ab-a26e-d6bffabd68e0","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d11983de-bfca-49b3-9f1a-311153d6d80f
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
