---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"pn-infallible-lalande","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":null,"subnets":null,"default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/ba08dc49-40c7-45ac-8286-bf51aa5425ad","id":"ba08dc49-40c7-45ac-8286-bf51aa5425ad","name":"pn-infallible-lalande","tags":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-09-23T15:06:44.433697Z","updated_at":"2026-09-23T15:06:44.433697Z","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","subnets":[{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/1dec5302-815c-4c83-a860-178c1fee42bc","id":"1dec5302-815c-4c83-a860-178c1fee42bc","created_at":"2026-09-23T15:06:44.433697Z","updated_at":"2026-09-23T15:06:44.433697Z","subnet":"172.16.16.0/22","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","private_network_id":"ba08dc49-40c7-45ac-8286-bf51aa5425ad","vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964","region":"fr-par"},{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/5108f7a2-4d92-49c3-a2d2-ce5d4919be9b","id":"5108f7a2-4d92-49c3-a2d2-ce5d4919be9b","created_at":"2026-09-23T15:06:44.433697Z","updated_at":"2026-09-23T15:06:44.433697Z","subnet":"fdb9:eb31:3ccc:bf4d::/64","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","private_network_id":"ba08dc49-40c7-45ac-8286-bf51aa5425ad","vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964","region":"fr-par"}],"vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964","dhcp_enabled":true,"default_route_propagation_enabled":false,"has_object_storage_private_access":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 631.272534ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 10.803512ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-test","engine":"PostgreSQL-15","user_name":"foobar","password":"{4xdl*#QOoP+\u00263XRkGA)]","node_type":"db-dev-s","is_ha_cluster":false,"high_availability_mode":"unknown_high_availability_mode","disable_backup":false,"tags":null,"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"ba08dc49-40c7-45ac-8286-bf51aa5425ad","ipam_config":{}}},{"load_balancer":{}}],"backup_same_region":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"id":"f72764e7-8b9d-40b5-8c8e-b75349c3e5af","name":"cli-test","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"provisioning","engine":"PostgreSQL-15","upgradable_version":[{"id":"61c89bd6-9dc4-47d8-8f6c-120329e6d5bb","name":"PostgreSQL-16","version":"16","minor_version":"16.15"},{"id":"16903b5b-dfe2-4a17-b741-46ebb22e1222","name":"PostgreSQL-17","version":"17","minor_version":"17.11"}],"endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false,"next_run_at":"2026-09-24T15:06:45.296064Z"},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000,"class":"lssd"},"init_settings":[],"endpoints":[{"ip":"172.16.16.2","port":5432,"name":null,"id":"b3de546f-fcb3-4eee-832b-82830f287720","private_network":{"private_network_id":"ba08dc49-40c7-45ac-8286-bf51aa5425ad","service_ip":"172.16.16.2/22","zone":"fr-par-1","provisioning_mode":"ipam"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"encryption":{"enabled":false},"created_at":"2026-09-23T15:06:45.296064Z","high_availability_mode":"disabled","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.202197202s
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f72764e7-8b9d-40b5-8c8e-b75349c3e5af
        method: GET
      response:
        body: '{"id":"f72764e7-8b9d-40b5-8c8e-b75349c3e5af","name":"cli-test","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"provisioning","engine":"PostgreSQL-15","upgradable_version":[{"id":"61c89bd6-9dc4-47d[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f72764e7-8b9d-40b5-8c8e-b75349c3e5af
        method: GET
      response:
        body: '{"id":"f72764e7-8b9d-40b5-8c8e-b75349c3e5af","name":"cli-test","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"initializing","engine":"PostgreSQL-15","upgradable_version":[{"id":"61c89bd6-9dc4-47d8-8f6c-120329e6d5bb","name":"PostgreSQL-16","version":"16","minor_version":"16.15"},{"id":"16903b5b-dfe2-4a17-b741-46ebb22e1222","name":"PostgreSQL-17","version":"17","minor_version":"17.11"}],"endpoint":null,"tags":[],"settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false,"next_run_at":"2026-09-24T15:06:45.296064Z"},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000,"class":"lssd"},"init_settings":[],"endpoints":[{"ip":"172.16.16.2","port":5432,"name":null,"id":"b3de546f-fcb3-4eee-832b-82830f287720","private_network":{"private_network_id":"ba08dc49-40c7-45ac-8286-bf51aa5425ad","service_ip":"172.16.16.2/22","zone":"fr-par-1","provisioning_mode":"ipam"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"encryption":{"enabled":false},"created_at":"2026-09-23T15:06:45.296064Z","high_availability_mode":"disabled","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 132.549902ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        form:
            is_ipv6:
                - "false"
            order_by:
                - created_at_desc
            page:
                - "1"
            resource_id:
                - f72764e7-8b9d-40b5-8c8e-b75349c3e5af
            resource_type:
                - rdb_instance
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=f72764e7-8b9d-40b5-8c8e-b75349c3e5af&resource_type=rdb_instance
        method: GET
      response:
        body: '{"total_count":1,"ips":[{"srn":"","id":"6232710b-1920-42ea-9723-1e86b44ef09d","address":"172.16.16.2/22","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","is_ipv6":false,"created_at":"2026-09-23T15:06:45.815610Z","updated_at":"2026-09-23T15:07:16.599967Z","source":{"subnet_id":"1dec5302-815c-4c83-a860-178c1fee42bc"},"resource":{"type":"rdb_instance","id":"f72764e7-8b9d-40b5-8c8e-b75349c3e5af","mac_address":"02:00:00:1A:1F:1A","name":"cli-test"},"tags":["managed","scwdbaas"],"reverses":[],"region":"fr-par","zone":null}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 103.832776ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f72764e7-8b9d-40b5-8c8e-b75349c3e5af
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"f72764e7-8b9d-40b5-8c8e-b75349c3e5af","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 75.426922ms
    - id: 24
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ba08dc49-40c7-45ac-8286-bf51aa5425ad
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 1.729293177s
