---
version: 1
interactions:
- request:
    body: '{"id":"d5427dd7-1553-43db-91c7-a323c056f9da", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-14T08:57:20.968388Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false},
      "created_at":"2025-01-13T08:57:20.968388Z", "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"d5427dd7-1553-43db-91c7-a323c056f9da", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-14T08:57:20.968388Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false},
      "created_at":"2025-01-13T08:57:20.968388Z", "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"d5427dd7-1553-43db-91c7-a323c056f9da", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-14T08:57:20.968388Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"d5427dd7-1553-43db-91c7-a323c056f9da", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"initializing",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-14T08:57:20.968388Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
[...]
- request:
    body: '{"id":"d5427dd7-1553-43db-91c7-a323c056f9da", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":{"ip":"51.159.75.187", "port":12750, "name":null,
      "id":"5c9a5a3e-c7a2-49a9-a9d4-038c10b917a8", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-14T08:57:20.968388Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
- request:
    body: '{"id":"0f9e3bc1-b747-4a00-9276-5a374cebc9ce", "instance_id":"d5427dd7-1553-43db-91c7-a323c056f9da",
      "database_name":"rdb", "name":"will_be_exported", "status":"creating", "size":null,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-01-13T09:00:53.709613Z",
      "updated_at":null, "instance_name":"cli-test", "download_url":null, "download_url_expires_at":null,
      "same_region":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
    method: POST
  response:
    body: '{"id":"0f9e3bc1-b747-4a00-9276-5a374cebc9ce", "instance_id":"d5427dd7-1553-43db-91c7-a323c056f9da",
      "database_name":"rdb", "name":"will_be_exported", "status":"creating", "size":null,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-01-13T09:00:53.709613Z",
      "updated_at":null, "instance_name":"cli-test", "download_url":null, "download_url_expires_at":null,
      "same_region":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"0f9e3bc1-b747-4a00-9276-5a374cebc9ce", "instance_id":"d5427dd7-1553-43db-91c7-a323c056f9da",
      "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2104,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-01-13T09:00:53.709613Z",
      "updated_at":"2025-01-13T09:00:56.355465Z", "instance_name":"cli-test", "download_url":"https://s3.nl-ams.scw.cloud/65940610-0e5e-4a98-9306-568aa4eb3673/d5427dd7-1553-43db-91c7-a323c056f9da/0f9e3bc1[...]
- request:
    body: '{"database_backups":[{"id":"0f9e3bc1-b747-4a00-9276-5a374cebc9ce", "instance_id":"d5427dd7-1553-43db-91c7-a323c056f9da",
      "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2104,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-01-13T09:00:53.709613Z",
      "updated_at":"2025-01-13T09:00:56.355465Z", "instance_name":"cli-test", "download_url":"https://s3.nl-ams.scw.cloud/65940610-0e5e-4a98-9306-568aa4eb3673/d5427dd7-1553-43db-91c7-a323c056f9da/0f9e3bc1-b747-4a00-9276-5a374cebc9ce.custom?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=SCW2HJV1WMKPE0CKDAW5%2F20250113%2Fnl-ams%2Fs3%2Faws4_request&X-Amz-Date=20250113T090126Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=2b6baa1dbc6889688ff2c7cfdb07c53361c494c18dad5e8a83e48e2e3575a919",
      "download_url_expires_at":"2025-01-14T09:01:26.282140Z", "same_region":false,
      "region":"fr-par"}, {"id":"87a826a9-096f-4d41-8a18-51281b70801c", "instance_id":"d5427dd7-1553-43db-91c7-a323c056f9da",
      "database_name":"rdb", "name":"will_not_be_exported", "status":"ready", "size":2104,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-01-13T09:01:09.834476Z",
      "updated_at":"2025-01-13T09:01:11.758832Z", "instance_name":"cli-test", "download_url":null,
      "download_url_expires_at":null, "same_region":false, "region":"fr-par"}], "total_count":2}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?instance_id=d5427dd7-1553-43db-91c7-a323c056f9da&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"database_backups":[{"id":"0f9e3bc1-b747-4a00-9276-5a374cebc9ce", "instance_id":"d5427dd7-1553-43db-91c7-a323c056f9da",
      "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2104,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-01-13T09:00:53.70[...]
[...]
