---
version: 1
interactions:
- request:
    body: '{"id":"1b79dceb-5632-4176-b594-d6a73bfb06e1", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"2e670f5c-493b-443f-92bd-986f23da2750",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.12"}, {"id":"2988cc5e-e0dd-48ba-bd8b-b394db1fc6b9",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.9"}, {"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.4"}], "endpoint":null,
      "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7,
      "disabled":false, "next_run_at":"2023-11-10T19:20:53.568041Z"}, "is_ha_cluster":false,
      "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000,
      "class":"lssd"}, "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30,
      "total_disk_retention":null}, "backup_same_region":false, "maintenances":[],
      "created_at":"2023-11-09T19:20:53.568041Z", "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"1b79dceb-5632-4176-b594-d6a73bfb06e1", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"2e670f5c-493b-443f-92bd-986f23da2750",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.12"}, {"id":"2988cc5e-e0dd-48ba-bd8b-b394db1fc6b9",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.9"}, {"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.4"}], "endpoint":null,
      "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7,
      "disabled":false, "next_run_at":"2023-11-10T19:20:53.568041Z"}, "is_ha_cluster":false,
      "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000,
      "class":"lssd"}, "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30,
      "total_disk_retention":null}, "backup_same_region":false, "maintenances":[],
      "created_at":"2023-11-09T19:20:53.568041Z", "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"1b79dceb-5632-4176-b594-d6a73bfb06e1", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"2e670f5c-493b-443f-92bd-986f23da2750",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.12"}, {"id":"2988cc5e-e0dd-48ba-bd8b-b394db1fc6b9",
      "name":"PostgreSQL-14", "version":"14", "minor_[...]
[...]
- request:
    body: '{"id":"1b79dceb-5632-4176-b594-d6a73bfb06e1", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"initializing",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"2e670f5c-493b-443f-92bd-986f23da2750",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.12"}, {"id":"2988cc5e-e0dd-48ba-bd8b-b394db1fc6b9",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.9"}, {"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.4"}], "endpoint":null,
      "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2023-11-10T19:20:53.568041Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
- request:
    body: '{"id":"1b79dceb-5632-4176-b594-d6a73bfb06e1", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "engine":"PostgreSQL-12",
      "upgradable_version":[{"id":"2e670f5c-493b-443f-92bd-986f23da2750", "name":"PostgreSQL-13",
      "version":"13", "minor_version":"13.12"}, {"id":"2988cc5e-e0dd-48ba-bd8b-b394db1fc6b9",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.9"}, {"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.4"}], "endpoint":{"ip":"51.158.57.216",
      "port":23713, "name":null, "id":"321703e2-f557-4f59-aa14-6c2e965bbd41", "load_balancer":{}},
      "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2023-11-10T19:20:53.568041Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
- request:
    body: '{"id":"6d576d04-9dc3-4081-8c3f-ab16d4bd2b3d", "instance_id":"1b79dceb-5632-4176-b594-d6a73bfb06e1",
      "database_name":"rdb", "name":"will_be_exported", "status":"creating", "size":null,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2023-11-09T19:23:30.994771Z",
      "updated_at":null, "instance_name":"cli-test", "download_url":null, "download_url_expires_at":null,
      "same_region":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
    method: POST
  response:
    body: '{"id":"6d576d04-9dc3-4081-8c3f-ab16d4bd2b3d", "instance_id":"1b79dceb-5632-4176-b594-d6a73bfb06e1",
      "database_name":"rdb", "name":"will_be_exported", "status":"creating", "size":null,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2023-11-09T19:23:30.994771Z",
      "updated_at":null, "instance_name":"cli-test", "download_url":null, "download_url_expires_at":null,
      "same_region":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"6d576d04-9dc3-4081-8c3f-ab16d4bd2b3d", "instance_id":"1b79dceb-5632-4176-b594-d6a73bfb06e1",
      "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2107,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2023-11-09T19:23:30.994771Z",
      "updated_at":"2023-11-09T19:23:32.255134Z", "instance_name":"cli-test", "download_url":"https://s3.nl-ams.scw.cloud/65940610-0e5e-4a98-9306-568aa4eb3673/1b79dceb-5632-4176-b594-d6a73bfb06e1/6d576d04[...]
- request:
    body: '{"database_backups":[{"id":"6d576d04-9dc3-4081-8c3f-ab16d4bd2b3d", "instance_id":"1b79dceb-5632-4176-b594-d6a73bfb06e1",
      "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2107,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2023-11-09T19:23:30.994771Z",
      "updated_at":"2023-11-09T19:23:32.255134Z", "instance_name":"cli-test", "download_url":"https://s3.nl-ams.scw.cloud/65940610-0e5e-4a98-9306-568aa4eb3673/1b79dceb-5632-4176-b594-d6a73bfb06e1/6d576d04-9dc3-4081-8c3f-ab16d4bd2b3d.custom?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=SCW2HJV1WMKPE0CKDAW5%2F20231109%2Fnl-ams%2Fs3%2Faws4_request&X-Amz-Date=20231109T192408Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=cc0e126290d5bd4dc7fa3db04e5293928a4e311ffa9466a015629361c33361ea",
      "download_url_expires_at":"2023-11-10T19:24:08.687616Z", "same_region":false,
      "region":"fr-par"}, {"id":"0aab45e7-e1de-493f-807b-4d843f8b383d", "instance_id":"1b79dceb-5632-4176-b594-d6a73bfb06e1",
      "database_name":"rdb", "name":"will_not_be_exported", "status":"ready", "size":2107,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2023-11-09T19:23:51.954670Z",
      "updated_at":"2023-11-09T19:23:53.925026Z", "instance_name":"cli-test", "download_url":null,
      "download_url_expires_at":null, "same_region":false, "region":"fr-par"}], "total_count":2}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?instance_id=1b79dceb-5632-4176-b594-d6a73bfb06e1&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"database_backups":[{"id":"6d576d04-9dc3-4081-8c3f-ab16d4bd2b3d", "instance_id":"1b79dceb-5632-4176-b594-d6a73bfb06e1",
      "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2107,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2023-11-09T19:23:30.99[...]
[...]
