---
version: 1
interactions:
- request:
    body: '{"id":"a5a0594d-b9d5-4ee7-a56f-44ca5520a00d", "name":"pn-elastic-keldysh",
      "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-11-20T09:44:44.890158Z",
      "updated_at":"2024-11-20T09:44:44.890158Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "subnets":[{"id":"5937e203-e89a-44c1-bd48-136b53e11c6c", "created_at":"2024-11-20T09:44:44.890158Z",
      "updated_at":"2024-11-20T09:44:44.890158Z", "subnet":"172.16.84.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "private_network_id":"a5a0594d-b9d5-4ee7-a56f-44ca5520a00d", "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},
      {"id":"b73cc37d-6dbf-448f-8cf3-411a64342c66", "created_at":"2024-11-20T09:44:44.890158Z",
      "updated_at":"2024-11-20T09:44:44.890158Z", "subnet":"fd49:821a:a311:9114::/64",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"a5a0594d-b9d5-4ee7-a56f-44ca5520a00d",
      "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}], "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"a5a0594d-b9d5-4ee7-a56f-44ca5520a00d", "name":"pn-elastic-keldysh",
      "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-11-20T09:44:44.890158Z",
      "updated_at":"2024-11-20T09:44:44.890158Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "subnets":[{"id":"5937e203-e89a-44c1-bd48-136b53e11c6c", "created_at":"2024-11-20T09:44:44.890158Z",
      "updated_at":"2024-11-20T09:44:44.890158Z", "subnet":"172.16.84.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "private_network_id":"a5a0594d-b9d5-4ee7-a56f-44ca5520a00d", "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},
      {"id":"b73cc37d-6dbf-448f-8cf3-411a64342c66", "created_at":"2024-11-20T09:44:44.890158Z",
      "updated_at":"2024-11-20T09:44:44.890158Z", "subnet":"fd49:821a:a311:9114::/64",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"a5a0594d-b9d5-4ee7-a56f-44ca5520a00d",
      "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}], "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"ef87e456-9f2f-4280-b4d1-aae776b8b7f0", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-21T09:44:45.891443Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.84.2", "port":5432, "name":null,
      "id":"bcaac50b-86f7-43c3-88af-431130220b02", "private_network":{"private_network_id":"a5a0594d-b9d5-4ee7-a56f-44ca5520a00d",
      "service_ip":"172.16.84.2/22", "zone":"fr-par-1", "provisioning_mode":"ipam"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2024-11-20T09:44:45.891443Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"ef87e456-9f2f-4280-b4d1-aae776b8b7f0", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-21T09:44:45.891443Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.84.2", "port":5432, "name":null,
      "id":"bcaac50b-86f7-43c3-88af-431130220b02", "private_network":{"private_network_id":"a5a0594d-b9d5-4ee7-a56f-44ca5520a00d",
      "service_ip":"172.16.84.2/22", "zone":"fr-par-1", "provisioning_mode":"ipam"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2024-11-20T09:44:45.891443Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"ef87e456-9f2f-4280-b4d1-aae776b8b7f0", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-21T09:44:45.891443Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"ef87e456-9f2f-4280-b4d1-aae776b8b7f0", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":null, "tags":[], "settings":[{"name":"effective_cache_size",
      "value":"1300"}, {"name":"maintenance_work_mem", "value":"150"}, {"name":"max_connections",
      "value":"100"}, {"name":"max_parallel_workers", "value":"0"}, {"name":"max_parallel_workers_per_gather",
      "value":"0"}, {"name":"work_mem", "value":"4"}], "backup_schedule":{"frequency":24,
      "retention":7, "disabled":false, "next_run_at":"2024-11-21T09:44:45.891443Z"},
      "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd",
      "size":5000000000, "class"[...]
[...]
- request:
    body: '{"total_count":1, "ips":[{"id":"6dc6a8bd-92c2-48cf-9978-a9fe5dcae452",
      "address":"172.16.84.2/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "is_ipv6":false, "created_at":"2024-11-20T09:44:46.474773Z", "updated_at":"2024-11-20T09:45:18.446424Z",
      "source":{"subnet_id":"5937e203-e89a-44c1-bd48-136b53e11c6c"}, "resource":{"type":"rdb_instance",
      "id":"ef87e456-9f2f-4280-b4d1-aae776b8b7f0", "mac_address":"02:00:00:1D:E6:89",
      "name":"cli-test"}, "tags":["managed", "scwdbaas"], "reverses":[], "region":"fr-par",
      "zone":null}]}'
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=ef87e456-9f2f-4280-b4d1-aae776b8b7f0&resource_type=rdb_instance
    method: GET
  response:
    body: '{"total_count":1, "ips":[{"id":"6dc6a8bd-92c2-48cf-9978-a9fe5dcae452",
      "address":"172.16.84.2/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "is_ipv6":false, "created_at":"2024-11-20T09:44:46.474773Z", "updated_at":"2024-11-20T09:45:18.446424Z",
      "source":{"subnet_id":"5937e203-e89a-44c1-bd48-136b53e11c6c"}, "resource":{"type":"rdb_instance",
      "id":"ef87e456-9f2f-4280-b4d1-aae776b8b7f0", "mac_address":"02:00:00:1D:E6:89",
      "name":"cli-test"}, "tags":["managed", "scwdbaas"], "reverses":[], "region":"fr-par",
      "zone":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"ef87e456-9f2f-4280-b4d1-aae776b8b7f0","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ef87e456-9f2f-4280-b4d1-aae776b8b7f0
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"ef87e456-9f2f-4280-b4d1-aae776b8b7f0","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a5a0594d-b9d5-4ee7-a56f-44ca5520a00d
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
