---
version: 1
interactions:
- request:
    body: '{"id":"7edb4da5-96da-4916-8533-b29132ed172d", "name":"pn-cool-diffie",
      "tags":[], "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "created_at":"2025-01-07T14:00:24.512121Z",
      "updated_at":"2025-01-07T14:00:24.512121Z", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "subnets":[{"id":"f02426be-fc9f-4049-b9ea-18a7af96510e", "created_at":"2025-01-07T14:00:24.512121Z",
      "updated_at":"2025-01-07T14:00:24.512121Z", "subnet":"172.16.200.0/22", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "private_network_id":"7edb4da5-96da-4916-8533-b29132ed172d", "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"},
      {"id":"10cf8546-cb8d-4436-b13a-92789908d8a8", "created_at":"2025-01-07T14:00:24.512121Z",
      "updated_at":"2025-01-07T14:00:24.512121Z", "subnet":"fdcd:e4f1:8712:3ca1::/64",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "private_network_id":"7edb4da5-96da-4916-8533-b29132ed172d",
      "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"}], "vpc_id":"d4535842-cddd-478d-a978-1797d57da787",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"7edb4da5-96da-4916-8533-b29132ed172d", "name":"pn-cool-diffie",
      "tags":[], "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "created_at":"2025-01-07T14:00:24.512121Z",
      "updated_at":"2025-01-07T14:00:24.512121Z", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "subnets":[{"id":"f02426be-fc9f-4049-b9ea-18a7af96510e", "created_at":"2025-01-07T14:00:24.512121Z",
      "updated_at":"2025-01-07T14:00:24.512121Z", "subnet":"172.16.200.0/22", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "private_network_id":"7edb4da5-96da-4916-8533-b29132ed172d", "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"},
      {"id":"10cf8546-cb8d-4436-b13a-92789908d8a8", "created_at":"2025-01-07T14:00:24.512121Z",
      "updated_at":"2025-01-07T14:00:24.512121Z", "subnet":"fdcd:e4f1:8712:3ca1::/64",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "private_network_id":"7edb4da5-96da-4916-8533-b29132ed172d",
      "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"}], "vpc_id":"d4535842-cddd-478d-a978-1797d57da787",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"6d83f623-2802-411d-b7cc-0db708be64fd", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:00:25.474065Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null,
      "id":"39afbfc4-7d05-4349-b248-0dc1c0465ed1", "private_network":{"private_network_id":"7edb4da5-96da-4916-8533-b29132ed172d",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-01-07T14:00:25.474065Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"6d83f623-2802-411d-b7cc-0db708be64fd", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:00:25.474065Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null,
      "id":"39afbfc4-7d05-4349-b248-0dc1c0465ed1", "private_network":{"private_network_id":"7edb4da5-96da-4916-8533-b29132ed172d",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-01-07T14:00:25.474065Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"6d83f623-2802-411d-b7cc-0db708be64fd", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:00:25.474065Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"6d83f623-2802-411d-b7cc-0db708be64fd", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":null, "tags":[], "settings":[{"name":"effective_cache_size",
      "value":"1300"}, {"name":"maintenance_work_mem", "value":"150"}, {"name":"max_connections",
      "value":"100"}, {"name":"max_parallel_workers", "value":"0"}, {"name":"max_parallel_workers_per_gather",
      "value":"0"}, {"name":"work_mem", "value":"4"}], "backup_schedule":{"frequency":24,
      "retention":7, "disabled":false, "next_run_at":"2025-01-08T14:00:25.474065Z"},
      "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd",
      "size":5000000000, "class"[...]
- request:
    body: '{"port":0, "name":null, "id":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6d83f623-2802-411d-b7cc-0db708be64fd/endpoints
    method: POST
  response:
    body: '{"port":0, "name":null, "id":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"6d83f623-2802-411d-b7cc-0db708be64fd", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":{"ip":"195.154.69.50", "port":28739, "name":null,
      "id":"9f32c59c-cc84-4d57-9d23-0c1a639af825", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:00:25.474065Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
[...]
- request:
    body: '{"total_count":0, "ips":[]}'
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=6d83f623-2802-411d-b7cc-0db708be64fd&resource_type=rdb_instance
    method: GET
  response:
    body: '{"total_count":0, "ips":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
