---
version: 1
interactions:
- request:
    body: '{"id":"c3f95c45-66c1-4b17-aa69-ef8668792e00", "name":"pn-gallant-nash",
      "tags":[], "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "created_at":"2025-01-07T14:30:50.467896Z",
      "updated_at":"2025-01-07T14:30:50.467896Z", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "subnets":[{"id":"5de13d9b-d346-4b46-b2a6-96cd6ffea88c", "created_at":"2025-01-07T14:30:50.467896Z",
      "updated_at":"2025-01-07T14:30:50.467896Z", "subnet":"172.16.28.0/22", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "private_network_id":"c3f95c45-66c1-4b17-aa69-ef8668792e00", "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"},
      {"id":"6a0758d2-df2a-4056-b345-38c653d1400d", "created_at":"2025-01-07T14:30:50.467896Z",
      "updated_at":"2025-01-07T14:30:50.467896Z", "subnet":"fdcd:e4f1:8712:6710::/64",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "private_network_id":"c3f95c45-66c1-4b17-aa69-ef8668792e00",
      "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"}], "vpc_id":"d4535842-cddd-478d-a978-1797d57da787",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"c3f95c45-66c1-4b17-aa69-ef8668792e00", "name":"pn-gallant-nash",
      "tags":[], "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "created_at":"2025-01-07T14:30:50.467896Z",
      "updated_at":"2025-01-07T14:30:50.467896Z", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "subnets":[{"id":"5de13d9b-d346-4b46-b2a6-96cd6ffea88c", "created_at":"2025-01-07T14:30:50.467896Z",
      "updated_at":"2025-01-07T14:30:50.467896Z", "subnet":"172.16.28.0/22", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "private_network_id":"c3f95c45-66c1-4b17-aa69-ef8668792e00", "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"},
      {"id":"6a0758d2-df2a-4056-b345-38c653d1400d", "created_at":"2025-01-07T14:30:50.467896Z",
      "updated_at":"2025-01-07T14:30:50.467896Z", "subnet":"fdcd:e4f1:8712:6710::/64",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "private_network_id":"c3f95c45-66c1-4b17-aa69-ef8668792e00",
      "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"}], "vpc_id":"d4535842-cddd-478d-a978-1797d57da787",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"7dcc0495-dd11-43d5-9b24-cde1900503e3", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:30:54.147349Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.28.2", "port":5432, "name":null,
      "id":"ffce9c00-0a4f-44a7-a2ce-d41661290a14", "private_network":{"private_network_id":"c3f95c45-66c1-4b17-aa69-ef8668792e00",
      "service_ip":"172.16.28.2/22", "zone":"fr-par-1", "provisioning_mode":"ipam"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-01-07T14:30:54.147349Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"7dcc0495-dd11-43d5-9b24-cde1900503e3", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:30:54.147349Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.28.2", "port":5432, "name":null,
      "id":"ffce9c00-0a4f-44a7-a2ce-d41661290a14", "private_network":{"private_network_id":"c3f95c45-66c1-4b17-aa69-ef8668792e00",
      "service_ip":"172.16.28.2/22", "zone":"fr-par-1", "provisioning_mode":"ipam"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-01-07T14:30:54.147349Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"7dcc0495-dd11-43d5-9b24-cde1900503e3", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:30:54.147349Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"7dcc0495-dd11-43d5-9b24-cde1900503e3", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"initializing",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:30:54.147349Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
- request:
    body: '{"id":"7dcc0495-dd11-43d5-9b24-cde1900503e3", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":{"ip":"195.154.70.203", "port":4837, "name":null,
      "id":"02229f84-eb4c-4ba6-a94a-f8f07131ae21", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:30:54.147349Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
[...]
- request:
    body: '{"total_count":1, "ips":[{"id":"77360feb-22a5-4214-bafe-05b4a5797c28",
      "address":"172.16.28.2/22", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "is_ipv6":false, "created_at":"2025-01-07T14:30:54.614732Z", "updated_at":"2025-01-07T14:31:30.892777Z",
      "source":{"subnet_id":"5de13d9b-d346-4b46-b2a6-96cd6ffea88c"}, "resource":{"type":"rdb_instance",
      "id":"7dcc0495-dd11-43d5-9b24-cde1900503e3", "mac_address":"02:00:00:11:AE:0C",
      "name":"cli-test"}, "tags":["managed", "scwdbaas"], "reverses":[], "region":"fr-par",
      "zone":null}]}'
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=7dcc0495-dd11-43d5-9b24-cde1900503e3&resource_type=rdb_instance
    method: GET
  response:
    body: '{"total_count":1, "ips":[{"id":"77360feb-22a5-4214-bafe-05b4a5797c28",
      "address":"172.16.28.2/22", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "is_ipv6":false, "created_at":"2025-01-07T14:30:54.614732Z", "updated_at":"2025-01-07T14:31:30.892777Z",
      "source":{"subnet_id":"5de13d9b-d346-4b46-b2a6-96cd6ffea88c"}, "resource":{"type":"rdb_instance",
      "id":"7dcc0495-dd11-43d5-9b24-cde1900503e3", "mac_address":"02:00:00:11:AE:0C",
      "name":"cli-test"}, "tags":["managed", "scwdbaas"], "reverses":[], "region":"fr-par",
      "zone":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"7dcc0495-dd11-43d5-9b24-cde1900503e3","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7dcc0495-dd11-43d5-9b24-cde1900503e3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"7dcc0495-dd11-43d5-9b24-cde1900503e3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c3f95c45-66c1-4b17-aa69-ef8668792e00
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
