---
version: 1
interactions:
- request:
    body: '{"id":"f32d97bc-422f-4a76-ae24-1822c8e7f6fd", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.13"}, {"id":"8af4ebbb-fd08-4038-89f6-9d8c8f1232ca",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.10"}, {"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.5"}], "endpoint":{"port":0,
      "name":null, "id":"2ddab1e9-0951-4477-a42c-a382f999dccf", "load_balancer":{}},
      "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7,
      "disabled":false, "next_run_at":"2024-01-04T13:19:49.614374Z"}, "is_ha_cluster":false,
      "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000,
      "class":"lssd"}, "init_settings":[], "endpoints":[{"port":0, "name":null, "id":"2ddab1e9-0951-4477-a42c-a382f999dccf",
      "load_balancer":{}}], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "created_at":"2024-01-03T13:19:49.614374Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"f32d97bc-422f-4a76-ae24-1822c8e7f6fd", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.13"}, {"id":"8af4ebbb-fd08-4038-89f6-9d8c8f1232ca",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.10"}, {"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.5"}], "endpoint":{"port":0,
      "name":null, "id":"2ddab1e9-0951-4477-a42c-a382f999dccf", "load_balancer":{}},
      "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7,
      "disabled":false, "next_run_at":"2024-01-04T13:19:49.614374Z"}, "is_ha_cluster":false,
      "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000,
      "class":"lssd"}, "init_settings":[], "endpoints":[{"port":0, "name":null, "id":"2ddab1e9-0951-4477-a42c-a382f999dccf",
      "load_balancer":{}}], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "created_at":"2024-01-03T13:19:49.614374Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"f32d97bc-422f-4a76-ae24-1822c8e7f6fd", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.13"}, {"id":"8af4ebbb-fd08-4038-89f6-9d8c8f1232ca",
      "name":"PostgreSQL-14", "version":"14", "minor_[...]
[...]
- request:
    body: '{"id":"f32d97bc-422f-4a76-ae24-1822c8e7f6fd", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"initializing",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.13"}, {"id":"8af4ebbb-fd08-4038-89f6-9d8c8f1232ca",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.10"}, {"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.5"}], "endpoint":{"port":0,
      "name":null, "id":"2ddab1e9-0951-4477-a42c-a382f999dccf", "load_balancer":{}},
      "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-01-04T13:19:49.614374Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
[...]
- request:
    body: '{"id":"f32d97bc-422f-4a76-ae24-1822c8e7f6fd", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "engine":"PostgreSQL-12",
      "upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba", "name":"PostgreSQL-13",
      "version":"13", "minor_version":"13.13"}, {"id":"8af4ebbb-fd08-4038-89f6-9d8c8f1232ca",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.10"}, {"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.5"}], "endpoint":{"ip":"51.159.114.140",
      "port":13729, "name":null, "id":"2ddab1e9-0951-4477-a42c-a382f999dccf", "load_balancer":{}},
      "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disable[...]
- request:
    body: '{"rules":[{"ip":"0.0.0.0/0", "port":13729, "protocol":"tcp", "direction":"inbound",
      "action":"allow", "description":"Allow All"}, {"ip":"1.2.3.4/32", "port":13729,
      "protocol":"tcp", "direction":"inbound", "action":"allow", "description":"Allow
      1.2.3.4/32"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f32d97bc-422f-4a76-ae24-1822c8e7f6fd/acls
    method: POST
  response:
    body: '{"rules":[{"ip":"0.0.0.0/0", "port":13729, "protocol":"tcp", "direction":"inbound",
      "action":"allow", "description":"Allow All"}, {"ip":"1.2.3.4/32", "port":13729,
      "protocol":"tcp", "direction":"inbound", "action":"allow", "description":"Allow
      1.2.3.4/32"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
