---
version: 1
interactions:
- request:
    body: '{"id":"05af7df5-bff3-4b34-ae28-88398f38b21b", "name":"pn-xenodochial-proskuriakova",
      "tags":[], "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "created_at":"2025-01-07T14:00:23.951660Z",
      "updated_at":"2025-01-07T14:00:23.951660Z", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "subnets":[{"id":"7ed2d28d-138f-4d10-98f4-e27103e9966f", "created_at":"2025-01-07T14:00:23.951660Z",
      "updated_at":"2025-01-07T14:00:23.951660Z", "subnet":"172.16.124.0/22", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "private_network_id":"05af7df5-bff3-4b34-ae28-88398f38b21b", "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"},
      {"id":"f174d1f0-f88c-4c3c-b9a4-3a8e7b0e49bc", "created_at":"2025-01-07T14:00:23.951660Z",
      "updated_at":"2025-01-07T14:00:23.951660Z", "subnet":"fdcd:e4f1:8712:1c92::/64",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "private_network_id":"05af7df5-bff3-4b34-ae28-88398f38b21b",
      "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"}], "vpc_id":"d4535842-cddd-478d-a978-1797d57da787",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"05af7df5-bff3-4b34-ae28-88398f38b21b", "name":"pn-xenodochial-proskuriakova",
      "tags":[], "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "created_at":"2025-01-07T14:00:23.951660Z",
      "updated_at":"2025-01-07T14:00:23.951660Z", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "subnets":[{"id":"7ed2d28d-138f-4d10-98f4-e27103e9966f", "created_at":"2025-01-07T14:00:23.951660Z",
      "updated_at":"2025-01-07T14:00:23.951660Z", "subnet":"172.16.124.0/22", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "private_network_id":"05af7df5-bff3-4b34-ae28-88398f38b21b", "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"},
      {"id":"f174d1f0-f88c-4c3c-b9a4-3a8e7b0e49bc", "created_at":"2025-01-07T14:00:23.951660Z",
      "updated_at":"2025-01-07T14:00:23.951660Z", "subnet":"fdcd:e4f1:8712:1c92::/64",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "private_network_id":"05af7df5-bff3-4b34-ae28-88398f38b21b",
      "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"}], "vpc_id":"d4535842-cddd-478d-a978-1797d57da787",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"engines":[{"name":"MySQL", "logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg",
      "versions":[{"version":"8", "name":"MySQL-8", "end_of_life":"2026-04-01T00:00:00Z",
      "available_settings":[{"name":"auto_increment_increment", "default_value":"1",
      "hot_configurable":true, "description":"Controls the AUTO_INCREMENT interval
      between successive column values", "property_type":"INT", "unit":null, "string_constraint":null,
      "int_min":1, "int_max":65535, "float_min":null, "float_max":null}, {"name":"auto_increment_offset",
      "default_value":"1", "hot_configurable":true, "description":"Determines the
      starting point for the AUTO_INCREMENT column value", "property_type":"INT",
      "unit":null, "string_constraint":null, "int_min":1, "int_max":65535, "float_min":null,
      "float_max":null}, {"name":"character_set_server", "default_value":"utf8mb4",
      "hot_configurable":true, "description":"Specify a specific server side character-set
      encoding", "property_t[...]
- request:
    body: '{"id":"360bfbef-ce60-455c-a382-3005dd2d0363", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:00:25.178638Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false},
      "created_at":"2025-01-07T14:00:25.178638Z", "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"360bfbef-ce60-455c-a382-3005dd2d0363", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:00:25.178638Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false},
      "created_at":"2025-01-07T14:00:25.178638Z", "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"360bfbef-ce60-455c-a382-3005dd2d0363", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:00:25.178638Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"360bfbef-ce60-455c-a382-3005dd2d0363", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"initializing",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:00:25.178638Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
[...]
- request:
    body: '{"id":"360bfbef-ce60-455c-a382-3005dd2d0363", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":{"ip":"195.154.71.12", "port":7212, "name":null,
      "id":"af6a39da-94fe-462f-81d3-ba36dae53b8c", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:00:25.178638Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
- request:
    body: '{"ip":"172.16.0.3", "port":5432, "name":null, "id":"e609c33d-72a5-4d32-89a2-3706fba74fec",
      "private_network":{"private_network_id":"05af7df5-bff3-4b34-ae28-88398f38b21b",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/360bfbef-ce60-455c-a382-3005dd2d0363/endpoints
    method: POST
  response:
    body: '{"ip":"172.16.0.3", "port":5432, "name":null, "id":"e609c33d-72a5-4d32-89a2-3706fba74fec",
      "private_network":{"private_network_id":"05af7df5-bff3-4b34-ae28-88398f38b21b",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"total_count":0, "ips":[]}'
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=360bfbef-ce60-455c-a382-3005dd2d0363&resource_type=rdb_instance
    method: GET
  response:
    body: '{"total_count":0, "ips":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"360bfbef-ce60-455c-a382-3005dd2d0363","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/360bfbef-ce60-455c-a382-3005dd2d0363
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"360bfbef-ce60-455c-a382-3005dd2d0363","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/05af7df5-bff3-4b34-ae28-88398f38b21b
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
