---
version: 1
interactions:
- request:
    body: '{"id":"27f4ea47-1365-4e22-b0ad-965046da14bc", "name":"pn-infallible-noyce",
      "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-11-19T16:14:19.074751Z",
      "updated_at":"2024-11-19T16:14:19.074751Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "subnets":[{"id":"fa0f49e7-efa2-41ed-ab3f-4a9a8b900e2a", "created_at":"2024-11-19T16:14:19.074751Z",
      "updated_at":"2024-11-19T16:14:19.074751Z", "subnet":"172.16.8.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "private_network_id":"27f4ea47-1365-4e22-b0ad-965046da14bc", "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},
      {"id":"e8063c08-5169-4818-a3e3-da1d75ba27e7", "created_at":"2024-11-19T16:14:19.074751Z",
      "updated_at":"2024-11-19T16:14:19.074751Z", "subnet":"fd49:821a:a311:6017::/64",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"27f4ea47-1365-4e22-b0ad-965046da14bc",
      "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}], "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"27f4ea47-1365-4e22-b0ad-965046da14bc", "name":"pn-infallible-noyce",
      "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-11-19T16:14:19.074751Z",
      "updated_at":"2024-11-19T16:14:19.074751Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "subnets":[{"id":"fa0f49e7-efa2-41ed-ab3f-4a9a8b900e2a", "created_at":"2024-11-19T16:14:19.074751Z",
      "updated_at":"2024-11-19T16:14:19.074751Z", "subnet":"172.16.8.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "private_network_id":"27f4ea47-1365-4e22-b0ad-965046da14bc", "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},
      {"id":"e8063c08-5169-4818-a3e3-da1d75ba27e7", "created_at":"2024-11-19T16:14:19.074751Z",
      "updated_at":"2024-11-19T16:14:19.074751Z", "subnet":"fd49:821a:a311:6017::/64",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"27f4ea47-1365-4e22-b0ad-965046da14bc",
      "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}], "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"f150ca45-91a0-47de-aa69-de7927c127a3", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T16:14:19.913207Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null,
      "id":"c8880913-644c-4e5c-b52e-b2edba647e5c", "private_network":{"private_network_id":"27f4ea47-1365-4e22-b0ad-965046da14bc",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2024-11-19T16:14:19.913207Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"f150ca45-91a0-47de-aa69-de7927c127a3", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T16:14:19.913207Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null,
      "id":"c8880913-644c-4e5c-b52e-b2edba647e5c", "private_network":{"private_network_id":"27f4ea47-1365-4e22-b0ad-965046da14bc",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2024-11-19T16:14:19.913207Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"f150ca45-91a0-47de-aa69-de7927c127a3", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T16:14:19.913207Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"f150ca45-91a0-47de-aa69-de7927c127a3", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"initializing",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T16:14:19.913207Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
- request:
    body: '{"id":"f150ca45-91a0-47de-aa69-de7927c127a3", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":{"ip":"51.159.204.219", "port":22931, "name":null,
      "id":"085fea40-fe0e-464c-bc27-333b5375ec29", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T16:14:19.913207Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
- request:
    body: '{"ip":"51.159.204.219", "port":22931, "name":null, "id":"085fea40-fe0e-464c-bc27-333b5375ec29",
      "load_balancer":{}}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/085fea40-fe0e-464c-bc27-333b5375ec29
    method: GET
  response:
    body: '{"ip":"51.159.204.219", "port":22931, "name":null, "id":"085fea40-fe0e-464c-bc27-333b5375ec29",
      "load_balancer":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"total_count":0, "ips":[]}'
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=f150ca45-91a0-47de-aa69-de7927c127a3&resource_type=rdb_instance
    method: GET
  response:
    body: '{"total_count":0, "ips":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"f150ca45-91a0-47de-aa69-de7927c127a3","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f150ca45-91a0-47de-aa69-de7927c127a3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"f150ca45-91a0-47de-aa69-de7927c127a3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/27f4ea47-1365-4e22-b0ad-965046da14bc
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
