---
version: 1
interactions:
- request:
    body: '{"id":"26e61880-234b-4236-978c-c8e1964039aa","name":"cli-pn-stupefied-euclid","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-11-30T12:34:51.200776Z","updated_at":"2023-11-30T12:34:51.200776Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"959bc9b2-1c49-4173-a613-c7cc89bf1386","created_at":"2023-11-30T12:34:51.200776Z","updated_at":"2023-11-30T12:34:51.200776Z","subnet":"172.16.12.0/22"},{"id":"ee16104e-550e-484f-a6d7-968d87abeedb","created_at":"2023-11-30T12:34:51.200776Z","updated_at":"2023-11-30T12:34:51.200776Z","subnet":"fd63:256c:45f7:38c0::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"26e61880-234b-4236-978c-c8e1964039aa","name":"cli-pn-stupefied-euclid","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-11-30T12:34:51.200776Z","updated_at":"2023-11-30T12:34:51.200776Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"959bc9b2-1c49-4173-a613-c7cc89bf1386","created_at":"2023-11-30T12:34:51.200776Z","updated_at":"2023-11-30T12:34:51.200776Z","subnet":"172.16.12.0/22"},{"id":"ee16104e-550e-484f-a6d7-968d87abeedb","created_at":"2023-11-30T12:34:51.200776Z","updated_at":"2023-11-30T12:34:51.200776Z","subnet":"fd63:256c:45f7:38c0::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"27f1ef66-5b0b-486b-837b-ae6713c0f06e","name":"cli-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","engine":"PostgreSQL-12","upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba","name":"PostgreSQL-13","version":"13","minor_version":"13.13"},{"id":"8af4ebbb-fd08-4038-89f6-9d8c8f1232ca","name":"PostgreSQL-14","version":"14","minor_version":"14.10"},{"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c","name":"PostgreSQL-15","version":"15","minor_version":"15.5"}],"endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false,"next_run_at":"2023-12-01T12:34:52.158384Z"},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000,"class":"lssd"},"init_settings":[],"endpoints":[{"ip":"172.16.12.2","port":5432,"name":null,"id":"0415633b-3cc5-494e-8a3f-3730d6fde6d1","private_network":{"private_network_id":"26e61880-234b-4236-978c-c8e1964039aa","service_ip":"172.16.12.2/22","zone":"fr-par-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2023-11-30T12:34:52.158384Z","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"27f1ef66-5b0b-486b-837b-ae6713c0f06e","name":"cli-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","engine":"PostgreSQL-12","upgradable_version":[{"id":"f4c1ec4[...]
- request:
    body: '{"id":"27f1ef66-5b0b-486b-837b-ae6713c0f06e","name":"cli-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","engine":"PostgreSQL-12","upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba","name":"PostgreSQL-13","version":"13","minor_version":"13.13"},{"id":"8af4ebbb-fd08-4038-89f6-9d8c8f1232ca","name":"PostgreSQL-14","version":"14","minor_version":"14.10"},{"id":"764c6bb3-2f1[...]
[...]
- request:
    body: '{"id":"27f1ef66-5b0b-486b-837b-ae6713c0f06e","name":"cli-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"initializing","engine":"PostgreSQL-12","upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba","name":"PostgreSQL-13","version":"13","minor_version":"13.13"},{"id":"8af4ebbb-fd08-4038-89f6-9d8c8f1232ca","name":"PostgreSQL-14","version":"14","minor_version":"14.10"},{"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c","name":"PostgreSQL-15","version":"15","minor_version":"15.5"}],"endpoint":null,"tags":[],"settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false,"next_run_at":"2023-12-01T12:34:52.158384Z"},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000,"class":"lssd"},"init_settings":[],"endpoints":[{"ip":"17[...]
- request:
    body: '{"id":"27f1ef66-5b0b-486b-837b-ae6713c0f06e","name":"cli-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"ready","engine":"PostgreSQL-12","upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba","name":"PostgreSQL-13","version":"13","minor_version":"13.13"},{"id":"8af4ebbb-fd08-4038-89f6-9d8c8f1232ca","name":"PostgreSQL-14","version":"14","minor_version":"14.10"},{"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c","name":"PostgreSQL-15","version":"15","minor_version":"15.5"}],"endpoint":{"ip":"51.159.112.67","port":1485,"name":null,"id":"ed67eea6-a3d6-402b-99d6-b699ede7cf70","load_balancer":{}},"tags":[],"settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false,"next_run_at":"2023-12-01T12:34:52.158384Z"},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":500[...]
- request:
    body: '{"total_count":1,"ips":[{"id":"424ed2e9-460a-4376-ad97-5af024dc10b6","address":"172.16.12.2/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_ipv6":false,"created_at":"2023-11-30T12:34:52.599073Z","updated_at":"2023-11-30T12:35:24.807112Z","source":{"subnet_id":"959bc9b2-1c49-4173-a613-c7cc89bf1386"},"resource":{"type":"rdb_instance","id":"27f1ef66-5b0b-486b-837b-ae6713c0f06e","mac_address":"02:00:00:15:15:91","name":"cli-test"},"tags":["managed","scwdbaas"],"region":"fr-par","zone":null}]}'
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=27f1ef66-5b0b-486b-837b-ae6713c0f06e&resource_type=rdb_instance
    method: GET
  response:
    body: '{"total_count":1,"ips":[{"id":"424ed2e9-460a-4376-ad97-5af024dc10b6","address":"172.16.12.2/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_ipv6":false,"created_at":"2023-11-30T12:34:52.599073Z","updated_at":"2023-11-30T12:35:24.807112Z","source":{"subnet_id":"959bc9b2-1c49-4173-a613-c7cc89bf1386"},"resource":{"type":"rdb_instance","id":"27f1ef66-5b0b-486b-837b-ae6713c0f06e","mac_address":"02:00:00:15:15:91","name":"cli-test"},"tags":["managed","scwdbaas"],"region":"fr-par","zone":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"27f1ef66-5b0b-486b-837b-ae6713c0f06e","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/27f1ef66-5b0b-486b-837b-ae6713c0f06e
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"27f1ef66-5b0b-486b-837b-ae6713c0f06e","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/26e61880-234b-4236-978c-c8e1964039aa
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
