---
version: 1
interactions:
- request:
    body: '{"id":"dea404f5-f684-4aa2-b92c-a2a8f3ea0baf", "name":"pn-bold-albattani",
      "tags":[], "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "created_at":"2025-01-07T14:07:55.658604Z",
      "updated_at":"2025-01-07T14:07:55.658604Z", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "subnets":[{"id":"71c845ae-b355-400b-a63f-32d92d707122", "created_at":"2025-01-07T14:07:55.658604Z",
      "updated_at":"2025-01-07T14:07:55.658604Z", "subnet":"172.16.32.0/22", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "private_network_id":"dea404f5-f684-4aa2-b92c-a2a8f3ea0baf", "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"},
      {"id":"7c2a097d-3ca3-480a-ada9-5731ea4994c3", "created_at":"2025-01-07T14:07:55.658604Z",
      "updated_at":"2025-01-07T14:07:55.658604Z", "subnet":"fdcd:e4f1:8712:c6df::/64",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "private_network_id":"dea404f5-f684-4aa2-b92c-a2a8f3ea0baf",
      "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"}], "vpc_id":"d4535842-cddd-478d-a978-1797d57da787",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"dea404f5-f684-4aa2-b92c-a2a8f3ea0baf", "name":"pn-bold-albattani",
      "tags":[], "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "created_at":"2025-01-07T14:07:55.658604Z",
      "updated_at":"2025-01-07T14:07:55.658604Z", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "subnets":[{"id":"71c845ae-b355-400b-a63f-32d92d707122", "created_at":"2025-01-07T14:07:55.658604Z",
      "updated_at":"2025-01-07T14:07:55.658604Z", "subnet":"172.16.32.0/22", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "private_network_id":"dea404f5-f684-4aa2-b92c-a2a8f3ea0baf", "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"},
      {"id":"7c2a097d-3ca3-480a-ada9-5731ea4994c3", "created_at":"2025-01-07T14:07:55.658604Z",
      "updated_at":"2025-01-07T14:07:55.658604Z", "subnet":"fdcd:e4f1:8712:c6df::/64",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "private_network_id":"dea404f5-f684-4aa2-b92c-a2a8f3ea0baf",
      "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"}], "vpc_id":"d4535842-cddd-478d-a978-1797d57da787",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"6dee9480-d86e-4074-abc5-b05f4f73364c", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:07:56.566931Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null,
      "id":"2ca69956-a846-42f9-a8fa-6dcf3a1b4a10", "private_network":{"private_network_id":"dea404f5-f684-4aa2-b92c-a2a8f3ea0baf",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-01-07T14:07:56.566931Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"6dee9480-d86e-4074-abc5-b05f4f73364c", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:07:56.566931Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null,
      "id":"2ca69956-a846-42f9-a8fa-6dcf3a1b4a10", "private_network":{"private_network_id":"dea404f5-f684-4aa2-b92c-a2a8f3ea0baf",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-01-07T14:07:56.566931Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"6dee9480-d86e-4074-abc5-b05f4f73364c", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:07:56.566931Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"6dee9480-d86e-4074-abc5-b05f4f73364c", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"initializing",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:07:56.566931Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
- request:
    body: '{"id":"6dee9480-d86e-4074-abc5-b05f4f73364c", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":{"ip":"195.154.71.12", "port":17183, "name":null,
      "id":"563846c5-a0f3-4710-85b0-9a6f3d6a4e18", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:07:56.566931Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
- request:
    body: '{"ip":"195.154.71.12", "port":17183, "name":null, "id":"563846c5-a0f3-4710-85b0-9a6f3d6a4e18",
      "load_balancer":{}}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/563846c5-a0f3-4710-85b0-9a6f3d6a4e18
    method: GET
  response:
    body: '{"ip":"195.154.71.12", "port":17183, "name":null, "id":"563846c5-a0f3-4710-85b0-9a6f3d6a4e18",
      "load_balancer":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"total_count":0, "ips":[]}'
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=6dee9480-d86e-4074-abc5-b05f4f73364c&resource_type=rdb_instance
    method: GET
  response:
    body: '{"total_count":0, "ips":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"6dee9480-d86e-4074-abc5-b05f4f73364c","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6dee9480-d86e-4074-abc5-b05f4f73364c
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"6dee9480-d86e-4074-abc5-b05f4f73364c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/dea404f5-f684-4aa2-b92c-a2a8f3ea0baf
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
