---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"fc6e31d0-1b1d-4fec-8d62-165f57c93c17", "name":"pn-vigilant-shannon", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T09:17:18.691808Z", "updated_at":"2025-07-24T09:17:18.691808Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"5f17fb3a-526c-43cb-8c30-251bb67db349", "created_at":"2025-07-24T09:17:18.691808Z", "updated_at":"2025-07-24T09:17:18.691808Z", "subnet":"172.16.200.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"fc6e31d0-1b1d-4fec-8d62-165f57c93c17", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"b5ae331c-aea5-4cd0-bbf3-ee275ed424d8", "created_at":"2025-07-24T09:17:18.691808Z", "updated_at":"2025-07-24T09:17:18.691808Z", "subnet":"fd63:256c:45f7:4443::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"fc6e31d0-1b1d-4fec-8d62-165f57c93c17", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"fc6e31d0-1b1d-4fec-8d62-165f57c93c17", "name":"pn-vigilant-shannon", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T09:17:18.691808Z", "updated_at":"2025-07-24T09:17:18.691808Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"5f17fb3a-526c-43cb-8c30-251bb67db349", "created_at":"2025-07-24T09:17:18.691808Z", "updated_at":"2025-07-24T09:17:18.691808Z", "subnet":"172.16.200.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"fc6e31d0-1b1d-4fec-8d62-165f57c93c17", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"b5ae331c-aea5-4cd0-bbf3-ee275ed424d8", "created_at":"2025-07-24T09:17:18.691808Z", "updated_at":"2025-07-24T09:17:18.691808Z", "subnet":"fd63:256c:45f7:4443::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"fc6e31d0-1b1d-4fec-8d62-165f57c93c17", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 821.65302ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"dfc60e5c-d31c-4eb6-8a4c-fd042f5bae2c", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-25T09:17:19.600935Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"}, "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null, "id":"07ec17ff-ed9c-4f7c-989b-097df00e1483", "private_network":{"private_network_id":"fc6e31d0-1b1d-4fec-8d62-165f57c93c17", "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}], "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-07-24T09:17:19.600935Z", "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"id":"dfc60e5c-d31c-4eb6-8a4c-fd042f5bae2c", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"dfc60e5c-d31c-4eb6-8a4c-fd042f5bae2c", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[], "backup_schedule":{"fre[...]
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"id":"dfc60e5c-d31c-4eb6-8a4c-fd042f5bae2c", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem", "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers", "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem", "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-25T09:17:19.600935Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"}, "init_settings":[], [...]
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"total_count":0, "ips":[]}'
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=dfc60e5c-d31c-4eb6-8a4c-fd042f5bae2c&resource_type=rdb_instance
        method: GET
      response:
        body: '{"total_count":0, "ips":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.255493ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"instance","resource_id":"dfc60e5c-d31c-4eb6-8a4c-fd042f5bae2c","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/dfc60e5c-d31c-4eb6-8a4c-fd042f5bae2c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"dfc60e5c-d31c-4eb6-8a4c-fd042f5bae2c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 71.188705ms
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"message":"internal error"}'
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/fc6e31d0-1b1d-4fec-8d62-165f57c93c17
        method: DELETE
      response:
        body: '{"message":"internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 5.07655668s
[...]
