---
version: 1
interactions:
- request:
    body: '{"id":"785bdb35-2dc7-4c4e-86ab-45398145f686", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"MySQL-8", "upgradable_version":[], "endpoint":{"port":0, "name":null,
      "id":"bbad8ae3-6e7a-48eb-b60b-457107d24a07", "load_balancer":{}}, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-01-05T14:36:37.718205Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"port":0, "name":null, "id":"bbad8ae3-6e7a-48eb-b60b-457107d24a07",
      "load_balancer":{}}], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "created_at":"2024-01-04T14:36:37.718205Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"785bdb35-2dc7-4c4e-86ab-45398145f686", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"MySQL-8", "upgradable_version":[], "endpoint":{"port":0, "name":null,
      "id":"bbad8ae3-6e7a-48eb-b60b-457107d24a07", "load_balancer":{}}, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-01-05T14:36:37.718205Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"port":0, "name":null, "id":"bbad8ae3-6e7a-48eb-b60b-457107d24a07",
      "load_balancer":{}}], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "created_at":"2024-01-04T14:36:37.718205Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"785bdb35-2dc7-4c4e-86ab-45398145f686", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"MySQL-8", "upgradable_version":[], "endpoint":{"port":0, "name":null,
      "id":"bbad8ae3-6e7a-48eb-b60b-457107d24a07", "load_balancer":{}}, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_r[...]
[...]
- request:
    body: '{"id":"785bdb35-2dc7-4c4e-86ab-45398145f686", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"initializing",
      "engine":"MySQL-8", "upgradable_version":[], "endpoint":{"port":0, "name":null,
      "id":"bbad8ae3-6e7a-48eb-b60b-457107d24a07", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"max_connections", "value":"100"}], "backup_schedule":{"frequency":24,
      "retention":7, "disabled":false, "next_run_at":"2024-01-05T14:36:37.718205Z"},
      "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd",
      "size":5000000000, "class":"lssd"}, "init_settings":[], "endpoints":[{"port":0,
      "name":null, "id":"bbad8ae3-6e7a-48eb-b60b-457107d24a07", "load_balancer":{}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false[...]
[...]
- request:
    body: '{"id":"785bdb35-2dc7-4c4e-86ab-45398145f686", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "engine":"MySQL-8",
      "upgradable_version":[], "endpoint":{"ip":"51.159.207.166", "port":26151, "name":null,
      "id":"bbad8ae3-6e7a-48eb-b60b-457107d24a07", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"max_connections", "value":"100"}], "backup_schedule":{"frequency":24,
      "retention":7, "disabled":false, "next_run_at":"2024-01-05T14:36:37.718205Z"},
      "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd",
      "size":5000000000, "class":"lssd"}, "init_settings":[], "endpoints":[{"ip":"51.159.207[...]
[...]
- request:
    body: '{"users":[{"name":"foobar", "is_admin":true}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/785bdb35-2dc7-4c4e-86ab-45398145f686/users?name=&order_by=name_asc&page=1
    method: GET
  response:
    body: '{"users":[{"name":"foobar", "is_admin":true}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
