---
version: 2
interactions:
- request:
    body: '{"id":"9d5da363-d570-43ef-a959-8f915d9831ef", "name":"pn-condescending-lichterman",
      "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2023-12-26T17:37:19.762735Z",
      "updated_at":"2023-12-26T17:37:19.762735Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "subnets":["172.16.8.0/22", "fd63:256c:45f7:4864::/64"], "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"9d5da363-d570-43ef-a959-8f915d9831ef", "name":"pn-condescending-lichterman",
      "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2023-12-26T17:37:19.762735Z",
      "updated_at":"2023-12-26T17:37:19.762735Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "subnets":["172.16.8.0/22", "fd63:256c:45f7:4864::/64"], "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"id":"c62861ba-3583-48a3-8f43-b04e0f72ec3a", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.13"}, {"id":"8af4ebbb-fd08-4038-89f6-9d8c8f1232ca",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.10"}, {"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.5"}], "endpoint":null,
      "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7,
      "disabled":false, "next_run_at":"2023-12-27T17:37:20.988897Z"}, "is_ha_cluster":false,
      "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000,
      "class":"lssd"}, "init_settings":[], "endpoints":[{"ip":"172.16.8.2", "port":5432,
      "name":null, "id":"1f5ff8de-14fc-4751-9213-31bb0c8ad7de", "private_network":{"private_network_id":"9d5da363-d570-43ef-a959-8f915d9831ef",
      "service_ip":"172.16.8.2/22", "zone":"fr-par-1"}}], "logs_policy":{"max_age_retention":30,
      "total_disk_retention":null}, "backup_same_region":false, "maintenances":[],
      "created_at":"2023-12-26T17:37:20.988897Z", "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"c62861ba-3583-48a3-8f43-b04e0f72ec3a", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba",
     [...]
- request:
    body: '{"id":"c62861ba-3583-48a3-8f43-b04e0f72ec3a", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.13"}, {"id":"8af4ebbb-fd08-4038-89f6-9d8c8f1232ca",
      "name":"PostgreSQL-14", "version":"14", "minor_[...]
[...]
- request:
    body: '{"id":"c62861ba-3583-48a3-8f43-b04e0f72ec3a", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "engine":"PostgreSQL-12",
      "upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba", "name":"PostgreSQL-13",
      "version":"13", "minor_version":"13.13"}, {"id":"8af4ebbb-fd08-4038-89f6-9d8c8f1232ca",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.10"}, {"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.5"}], "endpoint":null,
      "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2023-12-27T17:37:20.988897Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
- request:
    body: '{"total_count":1, "ips":[{"id":"fe127178-b4d6-4800-b6cb-5cd8b8431503",
      "address":"172.16.8.2/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "is_ipv6":false, "created_at":"2023-12-26T17:37:21.396933Z", "updated_at":"2023-12-26T17:37:48.078167Z",
      "source":{"subnet_id":"5633c8b1-8acd-48d1-9fca-c1b94f2fcc9d"}, "resource":{"type":"rdb_instance",
      "id":"c62861ba-3583-48a3-8f43-b04e0f72ec3a", "mac_address":"02:00:00:15:FB:9B",
      "name":"cli-test"}, "tags":["managed", "scwdbaas"], "region":"fr-par", "zone":null}]}'
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=c62861ba-3583-48a3-8f43-b04e0f72ec3a&resource_type=rdb_instance
    method: GET
  response:
    body: '{"total_count":1, "ips":[{"id":"fe127178-b4d6-4800-b6cb-5cd8b8431503",
      "address":"172.16.8.2/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "is_ipv6":false, "created_at":"2023-12-26T17:37:21.396933Z", "updated_at":"2023-12-26T17:37:48.078167Z",
      "source":{"subnet_id":"5633c8b1-8acd-48d1-9fca-c1b94f2fcc9d"}, "resource":{"type":"rdb_instance",
      "id":"c62861ba-3583-48a3-8f43-b04e0f72ec3a", "mac_address":"02:00:00:15:FB:9B",
      "name":"cli-test"}, "tags":["managed", "scwdbaas"], "region":"fr-par", "zone":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"c62861ba-3583-48a3-8f43-b04e0f72ec3a","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c62861ba-3583-48a3-8f43-b04e0f72ec3a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"c62861ba-3583-48a3-8f43-b04e0f72ec3a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9d5da363-d570-43ef-a959-8f915d9831ef
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
