---
version: 1
interactions:
- request:
    body: '{"id":"05194470-da05-4611-a6d4-2182d482099e", "name":"pn-goofy-kalam",
      "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-11-20T09:28:09.681797Z",
      "updated_at":"2024-11-20T09:28:09.681797Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "subnets":[{"id":"13d0454a-919d-4d0b-ae38-3d6ffc954a17", "created_at":"2024-11-20T09:28:09.681797Z",
      "updated_at":"2024-11-20T09:28:09.681797Z", "subnet":"172.16.88.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "private_network_id":"05194470-da05-4611-a6d4-2182d482099e", "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},
      {"id":"89f955ce-0b2a-413d-b764-9664b43a2967", "created_at":"2024-11-20T09:28:09.681797Z",
      "updated_at":"2024-11-20T09:28:09.681797Z", "subnet":"fd49:821a:a311:4eeb::/64",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"05194470-da05-4611-a6d4-2182d482099e",
      "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}], "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"05194470-da05-4611-a6d4-2182d482099e", "name":"pn-goofy-kalam",
      "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-11-20T09:28:09.681797Z",
      "updated_at":"2024-11-20T09:28:09.681797Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "subnets":[{"id":"13d0454a-919d-4d0b-ae38-3d6ffc954a17", "created_at":"2024-11-20T09:28:09.681797Z",
      "updated_at":"2024-11-20T09:28:09.681797Z", "subnet":"172.16.88.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "private_network_id":"05194470-da05-4611-a6d4-2182d482099e", "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},
      {"id":"89f955ce-0b2a-413d-b764-9664b43a2967", "created_at":"2024-11-20T09:28:09.681797Z",
      "updated_at":"2024-11-20T09:28:09.681797Z", "subnet":"fd49:821a:a311:4eeb::/64",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"05194470-da05-4611-a6d4-2182d482099e",
      "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}], "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"344ab830-95e0-4a77-aaeb-f418af1ebc28", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-21T09:28:10.713678Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null,
      "id":"a9982be5-7f01-47e1-9ce1-ee79c7d803ce", "private_network":{"private_network_id":"05194470-da05-4611-a6d4-2182d482099e",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2024-11-20T09:28:10.713678Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"344ab830-95e0-4a77-aaeb-f418af1ebc28", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-21T09:28:10.713678Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null,
      "id":"a9982be5-7f01-47e1-9ce1-ee79c7d803ce", "private_network":{"private_network_id":"05194470-da05-4611-a6d4-2182d482099e",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2024-11-20T09:28:10.713678Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"344ab830-95e0-4a77-aaeb-f418af1ebc28", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-21T09:28:10.713678Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"344ab830-95e0-4a77-aaeb-f418af1ebc28", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":null, "tags":[], "settings":[{"name":"effective_cache_size",
      "value":"1300"}, {"name":"maintenance_work_mem", "value":"150"}, {"name":"max_connections",
      "value":"100"}, {"name":"max_parallel_workers", "value":"0"}, {"name":"max_parallel_workers_per_gather",
      "value":"0"}, {"name":"work_mem", "value":"4"}], "backup_schedule":{"frequency":24,
      "retention":7, "disabled":false, "next_run_at":"2024-11-21T09:28:10.713678Z"},
      "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd",
      "size":5000000000, "class"[...]
[...]
- request:
    body: '{"total_count":0, "ips":[]}'
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=344ab830-95e0-4a77-aaeb-f418af1ebc28&resource_type=rdb_instance
    method: GET
  response:
    body: '{"total_count":0, "ips":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"344ab830-95e0-4a77-aaeb-f418af1ebc28","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/344ab830-95e0-4a77-aaeb-f418af1ebc28
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"344ab830-95e0-4a77-aaeb-f418af1ebc28","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/05194470-da05-4611-a6d4-2182d482099e
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
