---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"f27e33d5-87ed-4330-86c5-2dfa3e972a4d", "name":"pn-beautiful-almeida", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-23T19:01:06.550554Z", "updated_at":"2025-07-23T19:01:06.550554Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"e34fc164-ecd5-49b9-810f-5a765b3ac607", "created_at":"2025-07-23T19:01:06.550554Z", "updated_at":"2025-07-23T19:01:06.550554Z", "subnet":"172.16.136.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"f27e33d5-87ed-4330-86c5-2dfa3e972a4d", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"88b872d6-a892-42c6-ae89-f315b80248ef", "created_at":"2025-07-23T19:01:06.550554Z", "updated_at":"2025-07-23T19:01:06.550554Z", "subnet":"fd63:256c:45f7:729b::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"f27e33d5-87ed-4330-86c5-2dfa3e972a4d", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"f27e33d5-87ed-4330-86c5-2dfa3e972a4d", "name":"pn-beautiful-almeida", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-23T19:01:06.550554Z", "updated_at":"2025-07-23T19:01:06.550554Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"e34fc164-ecd5-49b9-810f-5a765b3ac607", "created_at":"2025-07-23T19:01:06.550554Z", "updated_at":"2025-07-23T19:01:06.550554Z", "subnet":"172.16.136.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"f27e33d5-87ed-4330-86c5-2dfa3e972a4d", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"88b872d6-a892-42c6-ae89-f315b80248ef", "created_at":"2025-07-23T19:01:06.550554Z", "updated_at":"2025-07-23T19:01:06.550554Z", "subnet":"fd63:256c:45f7:729b::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"f27e33d5-87ed-4330-86c5-2dfa3e972a4d", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 554.893727ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"ab834e1b-d282-4ed1-9906-262ddd7ec896", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-24T19:01:07.413287Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"}, "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null, "id":"29927237-2d8e-412a-803e-b99806973063", "private_network":{"private_network_id":"f27e33d5-87ed-4330-86c5-2dfa3e972a4d", "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}], "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-07-23T19:01:07.413287Z", "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"id":"ab834e1b-d282-4ed1-9906-262ddd7ec896", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"ab834e1b-d282-4ed1-9906-262ddd7ec896", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[], "backup_schedule":{"fre[...]
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"id":"ab834e1b-d282-4ed1-9906-262ddd7ec896", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"initializing", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem", "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers", "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem", "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-24T19:01:07.413287Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"}, "init_settings":[], [...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"id":"ab834e1b-d282-4ed1-9906-262ddd7ec896", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":{"ip":"51.159.8.83", "port":23278, "name":null, "id":"89e0c01c-fed2-4c67-b249-0aa11368b5a5", "load_balancer":{}}, "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem", "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers", "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem", "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-24T19:01:07.413287Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"ty[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/89e0c01c-fed2-4c67-b249-0aa11368b5a5
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 168.778505ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"total_count":0, "ips":[]}'
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=ab834e1b-d282-4ed1-9906-262ddd7ec896&resource_type=rdb_instance
        method: GET
      response:
        body: '{"total_count":0, "ips":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.790404ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"instance","resource_id":"ab834e1b-d282-4ed1-9906-262ddd7ec896","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ab834e1b-d282-4ed1-9906-262ddd7ec896
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"ab834e1b-d282-4ed1-9906-262ddd7ec896","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 74.76643ms
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f27e33d5-87ed-4330-86c5-2dfa3e972a4d
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 2.181846496s
