---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"cli-test","engine":"PostgreSQL-12","user_name":"foobar","password":"{4xdl*#QOoP+\u00263XRkGA)]","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"e3678a86-fc68-43ae-90b1-d267b2369576","name":"cli-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-09-01T13:37:49.268972Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/e3678a86-fc68-43ae-90b1-d267b2369576
    method: GET
  response:
    body: '{"id":"e3678a86-fc68-43ae-90b1-d267b2369576","name":"cli-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-09-01T13:37:49.268972Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/e3678a86-fc68-43ae-90b1-d267b2369576
    method: GET
  response:
    body: '{"id":"e3678a86-fc68-43ae-90b1-d267b2369576","name":"cli-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"ready","engine":"PostgreSQL-12","endpoint":{"ip":"195.154.69.180","port":33071,"name":null,"id":"c1cf2d68-e2f2-42e4-a1a4-82e9c5e0943f","load_balancer":{}},"tags":[],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[{"ip":"195.154.69.180","port":33071,"name":null,"id":"c1cf2d68-e2f2-42e4-a1a4-82e9c5e0943f","load_balancer":{}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-09-01T13:37:49.268972Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"instance_id":"e3678a86-fc68-43ae-90b1-d267b2369576","database_name":"rdb","name":"will_be_exported","expires_at":"2999-01-02T15:04:05-07:00"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
    method: POST
  response:
    body: '{"id":"da73454a-8232-4d91-b773-8f16ad50a7e1","instance_id":"e3678a86-fc68-43ae-90b1-d267b2369576","database_name":"rdb","name":"will_be_exported","status":"creating","size":null,"expires_at":"2999-01-02T22:04:05Z","created_at":"2022-09-01T13:42:22.418577Z","updated_at":null,"instance_name":"cli-test","download_url":null,"download_url_expires_at":null,"same_region":false,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/da73454a-8232-4d91-b773-8f16ad50a7e1
    method: GET
  response:
    body: '{"id":"da73454a-8232-4d91-b773-8f16ad50a7e1","instance_id":"e3678a86-fc68-43ae-90b1-d267b2369576","database_name":"rdb","name":"will_be_exported","status":"creating","size":null,"expires_at":"2999-01-02T22:04:05Z","created_at":"2022-09-01T13:42:22.418577Z","updated_at":null,"instance_name":"cli-test","download_url":null,"download_url_expires_at":null,"same_region":false,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/da73454a-8232-4d91-b773-8f16ad50a7e1/export
    method: POST
  response:
    body: '{"id":"da73454a-8232-4d91-b773-8f16ad50a7e1","instance_id":"e3678a86-fc68-43ae-90b1-d267b2369576","database_name":"rdb","name":"will_be_exported","status":"exporting","size":2107,"expires_at":"2999-01-02T22:04:05Z","created_at":"2022-09-01T13:42:22.418577Z","updated_at":"2022-09-01T13:42:25.697093Z","instance_name":"cli-test","download_url":null,"download_url_expires_at":null,"same_region":false,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?instance_id=e3678a86-fc68-43ae-90b1-d267b2369576&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"database_backups":[{"id":"da73454a-8232-4d91-b773-8f16ad50a7e1","instance_id":"e3678a86-fc68-43ae-90b1-d267b2369576","database_name":"rdb","name":"will_be_exported","status":"ready","size":2107,"expires_at":"2999-01-02T22:04:05Z","created_at":"2022-09-01T13:42:22.418577Z","updated_at":"2022-09-01T13:42:25.697093Z","instance_name":"cli-test","download_url":"https://s3.nl-ams.scw.cloud/65940610-0e5e-4a98-9306-568aa4eb3673/e3678a86-fc68-43ae-90b1-d267b2369576/da73454a-8232-4d91-b773-8f16ad50a7e1.custom?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=SCWBTK7RYYS1750DS37K%2F20220901%2Fnl-ams%2Fs3%2Faws4_request\u0026X-Amz-Date=20220901T134254Z\u0026X-Amz-Expires=86400\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=4c1622ddf93fa720d38e9a7ba365c16ae07e9d731ba6f6182c95847214d7e21d","download_url_expires_at":"2022-09-02T13:42:54.437192Z","same_region":false,"region":"fr-par"},{"id":"65ce3352-def6-4376-a9d2-cb063a3ce973","instance_id":"e3678a86-fc68-43ae-90b1-d267b2369576","database_name":"rdb","name":"will_not_be_exported","status":"ready","size":2107,"expires_at":"2999-01-02T22:04:05Z","created_at":"2022-09-01T13:42:38.051843Z","updated_at":"2022-09-01T13:42:41.335743Z","instance_name":"cli-test","download_url":null,"download_url_expires_at":null,"same_region":false,"region":"fr-par"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
