---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"261f628f-abc8-4ce8-9fc5-379d37669557", "name":"pn-unruffled-mccarthy", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T09:24:07.730155Z", "updated_at":"2025-07-24T09:24:07.730155Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"bce1fab9-151b-4391-8c9a-048316df009b", "created_at":"2025-07-24T09:24:07.730155Z", "updated_at":"2025-07-24T09:24:07.730155Z", "subnet":"172.16.232.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"261f628f-abc8-4ce8-9fc5-379d37669557", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"1631c586-cc7a-440a-a67b-13e1f99f6c05", "created_at":"2025-07-24T09:24:07.730155Z", "updated_at":"2025-07-24T09:24:07.730155Z", "subnet":"fd63:256c:45f7:76e0::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"261f628f-abc8-4ce8-9fc5-379d37669557", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"261f628f-abc8-4ce8-9fc5-379d37669557", "name":"pn-unruffled-mccarthy", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T09:24:07.730155Z", "updated_at":"2025-07-24T09:24:07.730155Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"bce1fab9-151b-4391-8c9a-048316df009b", "created_at":"2025-07-24T09:24:07.730155Z", "updated_at":"2025-07-24T09:24:07.730155Z", "subnet":"172.16.232.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"261f628f-abc8-4ce8-9fc5-379d37669557", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"1631c586-cc7a-440a-a67b-13e1f99f6c05", "created_at":"2025-07-24T09:24:07.730155Z", "updated_at":"2025-07-24T09:24:07.730155Z", "subnet":"fd63:256c:45f7:76e0::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"261f628f-abc8-4ce8-9fc5-379d37669557", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.191004333s
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"369d1095-7ee2-4e21-8378-ea23f31db25a", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-25T09:24:09.216762Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"}, "init_settings":[], "endpoints":[{"ip":"172.16.232.2", "port":5432, "name":null, "id":"60a96069-774a-4730-8905-113f25f2c6cb", "private_network":{"private_network_id":"261f628f-abc8-4ce8-9fc5-379d37669557", "service_ip":"172.16.232.2/22", "zone":"fr-par-1", "provisioning_mode":"ipam"}}], "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-07-24T09:24:09.216762Z", "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"id":"369d1095-7ee2-4e21-8378-ea23f31db25a", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"369d1095-7ee2-4e21-8378-ea23f31db25a", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[], "backup_schedule":{"fre[...]
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"id":"369d1095-7ee2-4e21-8378-ea23f31db25a", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"initializing", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem", "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers", "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem", "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-25T09:24:09.216762Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"}, "init_settings":[], [...]
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"id":"369d1095-7ee2-4e21-8378-ea23f31db25a", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":{"ip":"195.154.70.155", "port":3539, "name":null, "id":"8d313f93-b1cb-4dc5-a018-ee62487608c7", "load_balancer":{}}, "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem", "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers", "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem", "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-25T09:24:09.216762Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"ty[...]
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"total_count":1, "ips":[{"id":"b26512b8-0fea-44c2-b093-7c94d791cda8", "address":"172.16.232.2/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "is_ipv6":false, "created_at":"2025-07-24T09:24:11.121408Z", "updated_at":"2025-07-24T09:24:48.479399Z", "source":{"subnet_id":"bce1fab9-151b-4391-8c9a-048316df009b"}, "resource":{"type":"rdb_instance", "id":"369d1095-7ee2-4e21-8378-ea23f31db25a", "mac_address":"02:00:00:14:69:C3", "name":"cli-test"}, "tags":["managed", "scwdbaas"], "reverses":[], "region":"fr-par", "zone":null}]}'
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=369d1095-7ee2-4e21-8378-ea23f31db25a&resource_type=rdb_instance
        method: GET
      response:
        body: '{"total_count":1, "ips":[{"id":"b26512b8-0fea-44c2-b093-7c94d791cda8", "address":"172.16.232.2/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "is_ipv6":false, "created_at":"2025-07-24T09:24:11.121408Z", "updated_at":"2025-07-24T09:24:48.479399Z", "source":{"subnet_id":"bce1fab9-151b-4391-8c9a-048316df009b"}, "resource":{"type":"rdb_instance", "id":"369d1095-7ee2-4e21-8378-ea23f31db25a", "mac_address":"02:00:00:14:69:C3", "name":"cli-test"}, "tags":["managed", "scwdbaas"], "reverses":[], "region":"fr-par", "zone":null}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.742242ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"instance","resource_id":"369d1095-7ee2-4e21-8378-ea23f31db25a","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/369d1095-7ee2-4e21-8378-ea23f31db25a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"369d1095-7ee2-4e21-8378-ea23f31db25a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 82.312636ms
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/261f628f-abc8-4ce8-9fc5-379d37669557
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 2.384632275s
