---
version: 1
interactions:
- request:
    body: '{"id":"46f12434-2e71-424a-a801-441f9149b198", "name":"pn-silly-blackburn",
      "tags":[], "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "created_at":"2025-01-07T14:11:00.832997Z",
      "updated_at":"2025-01-07T14:11:00.832997Z", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "subnets":[{"id":"c7bf4f0f-3403-4166-adb8-e48cca769bc0", "created_at":"2025-01-07T14:11:00.832997Z",
      "updated_at":"2025-01-07T14:11:00.832997Z", "subnet":"172.16.28.0/22", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "private_network_id":"46f12434-2e71-424a-a801-441f9149b198", "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"},
      {"id":"335ab175-8e14-47d3-bb4e-9cf9b2976a1b", "created_at":"2025-01-07T14:11:00.832997Z",
      "updated_at":"2025-01-07T14:11:00.832997Z", "subnet":"fdcd:e4f1:8712:28c4::/64",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "private_network_id":"46f12434-2e71-424a-a801-441f9149b198",
      "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"}], "vpc_id":"d4535842-cddd-478d-a978-1797d57da787",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"46f12434-2e71-424a-a801-441f9149b198", "name":"pn-silly-blackburn",
      "tags":[], "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "created_at":"2025-01-07T14:11:00.832997Z",
      "updated_at":"2025-01-07T14:11:00.832997Z", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "subnets":[{"id":"c7bf4f0f-3403-4166-adb8-e48cca769bc0", "created_at":"2025-01-07T14:11:00.832997Z",
      "updated_at":"2025-01-07T14:11:00.832997Z", "subnet":"172.16.28.0/22", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "private_network_id":"46f12434-2e71-424a-a801-441f9149b198", "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"},
      {"id":"335ab175-8e14-47d3-bb4e-9cf9b2976a1b", "created_at":"2025-01-07T14:11:00.832997Z",
      "updated_at":"2025-01-07T14:11:00.832997Z", "subnet":"fdcd:e4f1:8712:28c4::/64",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "private_network_id":"46f12434-2e71-424a-a801-441f9149b198",
      "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"}], "vpc_id":"d4535842-cddd-478d-a978-1797d57da787",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"6672c814-8480-4bb7-b230-fd47b41f808f", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:11:01.712028Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null,
      "id":"ab06a941-0824-4b06-8f9c-1645a1de755f", "private_network":{"private_network_id":"46f12434-2e71-424a-a801-441f9149b198",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-01-07T14:11:01.712028Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"6672c814-8480-4bb7-b230-fd47b41f808f", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:11:01.712028Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null,
      "id":"ab06a941-0824-4b06-8f9c-1645a1de755f", "private_network":{"private_network_id":"46f12434-2e71-424a-a801-441f9149b198",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-01-07T14:11:01.712028Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"6672c814-8480-4bb7-b230-fd47b41f808f", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:11:01.712028Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"6672c814-8480-4bb7-b230-fd47b41f808f", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"initializing",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:11:01.712028Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
[...]
- request:
    body: '{"id":"6672c814-8480-4bb7-b230-fd47b41f808f", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":{"ip":"195.154.71.12", "port":21923, "name":null,
      "id":"23857e88-0019-4b3f-98d5-8cd64090109f", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:11:01.712028Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"6672c814-8480-4bb7-b230-fd47b41f808f","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6672c814-8480-4bb7-b230-fd47b41f808f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"6672c814-8480-4bb7-b230-fd47b41f808f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/46f12434-2e71-424a-a801-441f9149b198
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
