---
version: 1
interactions:
- request:
    body: '{"id":"74c392a8-9bb3-43d5-9b20-a9a14efd6207", "name":"pn-pensive-hertz",
      "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-11-19T16:06:58.536080Z",
      "updated_at":"2024-11-19T16:06:58.536080Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "subnets":[{"id":"8037116d-883a-4993-8858-90ca6dae90e0", "created_at":"2024-11-19T16:06:58.536080Z",
      "updated_at":"2024-11-19T16:06:58.536080Z", "subnet":"172.16.16.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "private_network_id":"74c392a8-9bb3-43d5-9b20-a9a14efd6207", "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},
      {"id":"2439beff-300c-48e2-b718-470b356ed45d", "created_at":"2024-11-19T16:06:58.536080Z",
      "updated_at":"2024-11-19T16:06:58.536080Z", "subnet":"fd49:821a:a311:153f::/64",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"74c392a8-9bb3-43d5-9b20-a9a14efd6207",
      "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}], "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"74c392a8-9bb3-43d5-9b20-a9a14efd6207", "name":"pn-pensive-hertz",
      "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-11-19T16:06:58.536080Z",
      "updated_at":"2024-11-19T16:06:58.536080Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "subnets":[{"id":"8037116d-883a-4993-8858-90ca6dae90e0", "created_at":"2024-11-19T16:06:58.536080Z",
      "updated_at":"2024-11-19T16:06:58.536080Z", "subnet":"172.16.16.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "private_network_id":"74c392a8-9bb3-43d5-9b20-a9a14efd6207", "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},
      {"id":"2439beff-300c-48e2-b718-470b356ed45d", "created_at":"2024-11-19T16:06:58.536080Z",
      "updated_at":"2024-11-19T16:06:58.536080Z", "subnet":"fd49:821a:a311:153f::/64",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"74c392a8-9bb3-43d5-9b20-a9a14efd6207",
      "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}], "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"c496cf22-a208-40a6-9b68-e44964a7acf4", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T16:06:59.359427Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null,
      "id":"6f4a842d-cf1b-4a83-bd36-a75442c605f2", "private_network":{"private_network_id":"74c392a8-9bb3-43d5-9b20-a9a14efd6207",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2024-11-19T16:06:59.359427Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"c496cf22-a208-40a6-9b68-e44964a7acf4", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T16:06:59.359427Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null,
      "id":"6f4a842d-cf1b-4a83-bd36-a75442c605f2", "private_network":{"private_network_id":"74c392a8-9bb3-43d5-9b20-a9a14efd6207",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2024-11-19T16:06:59.359427Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"c496cf22-a208-40a6-9b68-e44964a7acf4", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T16:06:59.359427Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"c496cf22-a208-40a6-9b68-e44964a7acf4", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"initializing",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T16:06:59.359427Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
[...]
- request:
    body: '{"id":"c496cf22-a208-40a6-9b68-e44964a7acf4", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":{"ip":"51.159.204.219", "port":18581, "name":null,
      "id":"18554188-0aef-403c-b4fb-bbeddfa99a57", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T16:06:59.359427Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/6f4a842d-cf1b-4a83-bd36-a75442c605f2
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"c496cf22-a208-40a6-9b68-e44964a7acf4","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c496cf22-a208-40a6-9b68-e44964a7acf4
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"c496cf22-a208-40a6-9b68-e44964a7acf4","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/74c392a8-9bb3-43d5-9b20-a9a14efd6207
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
