---
version: 1
interactions:
- request:
    body: '{"name":"pn-infallible-goodall","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"2efff555-7f00-4d53-a370-42bd9eb75710","name":"pn-infallible-goodall","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2023-04-27T12:15:05.975809Z","updated_at":"2023-04-27T12:15:05.975809Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":["172.16.24.0/22","fd5f:519c:6d46:6ea9::/64"],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"cli-test","engine":"PostgreSQL-14","user_name":"foobar","password":"{4xdl*#QOoP+\u00263XRkGA)]","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"2efff555-7f00-4d53-a370-42bd9eb75710","service_ip":"172.16.0.3/22"}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"1a1fbfa6-3a8a-477a-a1fa-308967cfb50c","name":"cli-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-14","upgradable_version":[],"endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[{"ip":"172.16.0.3","port":5432,"name":null,"id":"d469b4eb-4bf5-44ab-8b13-8d60140c635a","private_network":{"private_network_id":"2efff555-7f00-4d53-a370-42bd9eb75710","service_ip":"172.16.0.3/22","zone":"fr-par-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2023-04-27T12:15:27.045220Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1a1fbfa6-3a8a-477a-a1fa-308967cfb50c
    method: GET
  response:
    body: '{"id":"1a1fbfa6-3a8a-477a-a1fa-308967cfb50c","name":"cli-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-14","upgradable_version":[],"endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[{"ip":"172.16.0.3","port":5432,"name":null,"id":"d469b4eb-4bf5-44ab-8b13-8d60140c635a","private_network":{"private_network_id":"2efff555-7f00-4d53-a370-42bd9eb75710","service_ip":"172.16.0.3/22","zone":"fr-par-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2023-04-27T12:15:27.045220Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1a1fbfa6-3a8a-477a-a1fa-308967cfb50c
    method: GET
  response:
    body: '{"id":"1a1fbfa6-3a8a-477a-a1fa-308967cfb50c","name":"cli-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","engine":"PostgreSQL-14","upgradable_version":[],"endpoint":{"ip":"51.158.57.6","port":7351,"name":null,"id":"85eb91d7-892f-43a2-b877-3766b33cbbf1","load_balancer":{}},"tags":[],"settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[{"ip":"172.16.0.3","port":5432,"name":null,"id":"d469b4eb-4bf5-44ab-8b13-8d60140c635a","private_network":{"private_network_id":"2efff555-7f00-4d53-a370-42bd9eb75710","service_ip":"172.16.0.3/22","zone":"fr-par-1"}},{"ip":"51.158.57.6","port":7351,"name":null,"id":"85eb91d7-892f-43a2-b877-3766b33cbbf1","load_balancer":{}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2023-04-27T12:15:27.045220Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
