---
version: 1
interactions:
- request:
    body: '{"id":"2f11467a-278e-4e9e-a51b-74793db12f97", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-21T09:39:15.952221Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false},
      "created_at":"2024-11-20T09:39:15.952221Z", "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"2f11467a-278e-4e9e-a51b-74793db12f97", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-21T09:39:15.952221Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false},
      "created_at":"2024-11-20T09:39:15.952221Z", "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"2f11467a-278e-4e9e-a51b-74793db12f97", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-21T09:39:15.952221Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"2f11467a-278e-4e9e-a51b-74793db12f97", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"initializing",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-21T09:39:15.952221Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
- request:
    body: '{"id":"2f11467a-278e-4e9e-a51b-74793db12f97", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":{"ip":"51.158.57.112", "port":9715, "name":null,
      "id":"288e53c0-fb95-4e92-a0d3-709b4f9503cc", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-21T09:39:15.952221Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
[...]
