---
version: 1
interactions:
- request:
    body: '{"id":"8a25dbba-dac7-49bf-854c-5f1da6a545bc", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-16T09:24:24.042518Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false},
      "created_at":"2025-01-15T09:24:24.042518Z", "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"8a25dbba-dac7-49bf-854c-5f1da6a545bc", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-16T09:24:24.042518Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false},
      "created_at":"2025-01-15T09:24:24.042518Z", "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"8a25dbba-dac7-49bf-854c-5f1da6a545bc", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-16T09:24:24.042518Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"8a25dbba-dac7-49bf-854c-5f1da6a545bc", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"initializing",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-16T09:24:24.042518Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
- request:
    body: '{"id":"8a25dbba-dac7-49bf-854c-5f1da6a545bc", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":{"ip":"51.159.114.224", "port":22958, "name":null,
      "id":"5edbe668-7133-4aec-bb52-43e34d1aa991", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-16T09:24:24.042518Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
- request:
    body: '{"access_key":"SCW7ZEW470JAKP4FHE8E", "secret_key":null, "description":"",
      "created_at":"2025-01-07T13:16:21.002236Z", "updated_at":"2025-01-07T13:16:21.002236Z",
      "expires_at":null, "default_project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153",
      "user_id":"136b6f64-5a92-45d2-9d91-1d45c0c69ff3"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW7ZEW470JAKP4FHE8E
    method: GET
  response:
    body: '{"access_key":"SCW7ZEW470JAKP4FHE8E", "secret_key":null, "description":"",
      "created_at":"2025-01-07T13:16:21.002236Z", "updated_at":"2025-01-07T13:16:21.002236Z",
      "expires_at":null, "default_project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153",
      "user_id":"136b6f64-5a92-45d2-9d91-1d45c0c69ff3"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"4a7d57b2-f92b-4b13-86de-b56e47cad9f5", "instance_id":"8a25dbba-dac7-49bf-854c-5f1da6a545bc",
      "database_name":"rdb", "name":"will_be_exported", "status":"creating", "size":null,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-01-15T09:27:26.515802Z",
      "updated_at":null, "instance_name":"cli-test", "download_url":null, "download_url_expires_at":null,
      "same_region":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
    method: POST
  response:
    body: '{"id":"4a7d57b2-f92b-4b13-86de-b56e47cad9f5", "instance_id":"8a25dbba-dac7-49bf-854c-5f1da6a545bc",
      "database_name":"rdb", "name":"will_be_exported", "status":"creating", "size":null,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-01-15T09:27:26.515802Z",
      "updated_at":null, "instance_name":"cli-test", "download_url":null, "download_url_expires_at":null,
      "same_region":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"4a7d57b2-f92b-4b13-86de-b56e47cad9f5", "instance_id":"8a25dbba-dac7-49bf-854c-5f1da6a545bc",
      "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2106,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-01-15T09:27:26.515802Z",
      "updated_at":"2025-01-15T09:27:29.278517Z", "instance_name":"cli-test", "download_url":"https://s3.nl-ams.scw.cloud/65940610-0e5e-4a98-9306-568aa4eb3673/8a25dbba-dac7-49bf-854c-5f1da6a545bc/4a7d57b2[...]
- request:
    body: '{"database_backups":[{"id":"4a7d57b2-f92b-4b13-86de-b56e47cad9f5", "instance_id":"8a25dbba-dac7-49bf-854c-5f1da6a545bc",
      "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2106,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-01-15T09:27:26.515802Z",
      "updated_at":"2025-01-15T09:27:29.278517Z", "instance_name":"cli-test", "download_url":"https://s3.nl-ams.scw.cloud/65940610-0e5e-4a98-9306-568aa4eb3673/8a25dbba-dac7-49bf-854c-5f1da6a545bc/4a7d57b2-f92b-4b13-86de-b56e47cad9f5.custom?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=SCW2HJV1WMKPE0CKDAW5%2F20250115%2Fnl-ams%2Fs3%2Faws4_request&X-Amz-Date=20250115T092759Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=0f6c256e8cae0558ae5965ec119afd29fea8a77487b6ffd59b8a9773cc9a8242",
      "download_url_expires_at":"2025-01-16T09:27:59.436619Z", "same_region":false,
      "region":"fr-par"}, {"id":"a929798a-28be-4717-b8a7-0c02c088160e", "instance_id":"8a25dbba-dac7-49bf-854c-5f1da6a545bc",
      "database_name":"rdb", "name":"will_not_be_exported", "status":"ready", "size":2106,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-01-15T09:27:42.497451Z",
      "updated_at":"2025-01-15T09:27:44.972473Z", "instance_name":"cli-test", "download_url":null,
      "download_url_expires_at":null, "same_region":false, "region":"fr-par"}], "total_count":2}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?instance_id=8a25dbba-dac7-49bf-854c-5f1da6a545bc&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"database_backups":[{"id":"4a7d57b2-f92b-4b13-86de-b56e47cad9f5", "instance_id":"8a25dbba-dac7-49bf-854c-5f1da6a545bc",
      "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2106,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-01-15T09:27:26.51[...]
[...]
