---
version: 1
interactions:
- request:
    body: '{"id":"83d80e36-cb5d-428a-a86c-b0e96acec543", "name":"pn-nostalgic-hofstadter",
      "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-11-19T16:28:36.042022Z",
      "updated_at":"2024-11-19T16:28:36.042022Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "subnets":[{"id":"7d2fd128-c2ab-4bf3-a3ee-a6ba78c17711", "created_at":"2024-11-19T16:28:36.042022Z",
      "updated_at":"2024-11-19T16:28:36.042022Z", "subnet":"172.16.0.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "private_network_id":"83d80e36-cb5d-428a-a86c-b0e96acec543", "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},
      {"id":"8aa45ee7-c855-46e6-8bba-709ee71b3cd9", "created_at":"2024-11-19T16:28:36.042022Z",
      "updated_at":"2024-11-19T16:28:36.042022Z", "subnet":"fd49:821a:a311:50ed::/64",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"83d80e36-cb5d-428a-a86c-b0e96acec543",
      "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}], "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"83d80e36-cb5d-428a-a86c-b0e96acec543", "name":"pn-nostalgic-hofstadter",
      "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-11-19T16:28:36.042022Z",
      "updated_at":"2024-11-19T16:28:36.042022Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "subnets":[{"id":"7d2fd128-c2ab-4bf3-a3ee-a6ba78c17711", "created_at":"2024-11-19T16:28:36.042022Z",
      "updated_at":"2024-11-19T16:28:36.042022Z", "subnet":"172.16.0.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "private_network_id":"83d80e36-cb5d-428a-a86c-b0e96acec543", "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},
      {"id":"8aa45ee7-c855-46e6-8bba-709ee71b3cd9", "created_at":"2024-11-19T16:28:36.042022Z",
      "updated_at":"2024-11-19T16:28:36.042022Z", "subnet":"fd49:821a:a311:50ed::/64",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"83d80e36-cb5d-428a-a86c-b0e96acec543",
      "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}], "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"message":"PostgreSQL-12 is not available yet"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"message":"PostgreSQL-12 is not available yet"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
