---
version: 1
interactions:
- request:
    body: '{"engines":[{"name":"MySQL", "logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg",
      "versions":[{"version":"8", "name":"MySQL-8", "end_of_life":"2026-04-01T00:00:00Z",
      "available_settings":[{"name":"auto_increment_increment", "default_value":"1",
      "hot_configurable":true, "description":"Controls the AUTO_INCREMENT interval
      between successive column values", "property_type":"INT", "unit":null, "string_constraint":null,
      "int_min":1, "int_max":65535, "float_min":null, "float_max":null}, {"name":"auto_increment_offset",
      "default_value":"1", "hot_configurable":true, "description":"Determines the
      starting point for the AUTO_INCREMENT column value", "property_type":"INT",
      "unit":null, "string_constraint":null, "int_min":1, "int_max":65535, "float_min":null,
      "float_max":null}, {"name":"character_set_server", "default_value":"utf8mb4",
      "hot_configurable":true, "description":"Specify a specific server side character-set
      encoding", "property_t[...]
- request:
    body: '{"id":"67292aff-60ac-4ad9-834b-650194df97a0", "name":"cli-test", "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "status":"provisioning",
      "engine":"MySQL-8", "upgradable_version":[], "endpoint":null, "tags":[], "settings":[],
      "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-10-16T10:14:26.245630Z"},
      "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd",
      "size":5000000000, "class":"lssd"}, "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30,
      "total_disk_retention":null}, "backup_same_region":false, "maintenances":[],
      "encryption":{"enabled":false}, "created_at":"2025-10-15T10:14:26.245630Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"67292aff-60ac-4ad9-834b-650194df97a0", "name":"cli-test", "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "status":"provisioning",
      "engine":"MySQL-8", "upgradable_version":[], "endpoint":null, "tags":[], "settings":[],
      "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-10-16T10:14:26.245630Z"},
      "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd",
      "size":5000000000, "class":"lssd"}, "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30,
      "total_disk_retention":null}, "backup_same_region":false, "maintenances":[],
      "encryption":{"enabled":false}, "created_at":"2025-10-15T10:14:26.245630Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"67292aff-60ac-4ad9-834b-650194df97a0", "name":"cli-test", "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "status":"provisioning",
      "engine":"MySQL-8", "upgradable_version":[], "endpoint":null, "tags":[], "settings":[],
      "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-10-16T10:14:26.245630Z"},
      "is_ha_cluster":false, "read_replicas":[], "node_ty[...]
[...]
- request:
    body: '{"id":"67292aff-60ac-4ad9-834b-650194df97a0", "name":"cli-test", "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "status":"initializing",
      "engine":"MySQL-8", "upgradable_version":[], "endpoint":null, "tags":[], "settings":[{"name":"max_connections",
      "value":"100"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-10-16T10:14:26.245630Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false},
      "created_at":"2025-10-15T10:14:26.2[...]
[...]
- request:
    body: '{"id":"67292aff-60ac-4ad9-834b-650194df97a0", "name":"cli-test", "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "status":"ready", "engine":"MySQL-8",
      "upgradable_version":[], "endpoint":{"ip":"163.172.166.66", "port":7222, "name":null,
      "id":"90af0138-39cf-4ff5-8587-3e05948618b2", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"max_connections", "value":"100"}], "backup_schedule":{"frequency":24,
      "retention":7, "disabled":false, "next_run_at":"2025-10-16T10:14:26.245630Z"},
      "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd",
      "size":5000000000, "class":"lssd"}, "init_settings":[], "endpoints":[{"ip":"163.172.166.66",
      "port":7222, "name":null, "id":"90af0138-39cf-4ff5-8587-3e05948618b2", "load_balancer":{}}],
      [...]
[...]
- request:
    body: '{"users":[{"name":"foobar", "is_admin":true}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/67292aff-60ac-4ad9-834b-650194df97a0/users?name=&order_by=name_asc&page=1
    method: GET
  response:
    body: '{"users":[{"name":"foobar", "is_admin":true}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
