---
version: 2
interactions:
- request:
    body: '{"id":"0e5a2379-3f31-494c-b8c6-16952073ac33", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"MySQL-8", "upgradable_version":[], "endpoint":null, "tags":[], "settings":[],
      "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2023-11-09T21:34:51.292889Z"},
      "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd",
      "size":5000000000, "class":"lssd"}, "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30,
      "total_disk_retention":null}, "backup_same_region":false, "maintenances":[],
      "created_at":"2023-11-08T21:34:51.292889Z", "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"0e5a2379-3f31-494c-b8c6-16952073ac33", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"MySQL-8", "upgradable_version":[], "endpoint":null, "tags":[], "settings":[],
      "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2023-11-09T21:34:51.292889Z"},
      "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd",
      "size":5000000000, "class":"lssd"}, "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30,
      "total_disk_retention":null}, "backup_same_region":false, "maintenances":[],
      "created_at":"2023-11-08T21:34:51.292889Z", "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"id":"0e5a2379-3f31-494c-b8c6-16952073ac33", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"MySQL-8", "upgradable_version":[], "endpoint":null, "tags":[], "settings":[],
      "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2023-11-09T21:34:51.292889Z"},
      "is_ha_cluster":false, "read_replicas":[], "node_ty[...]
[...]
- request:
    body: '{"id":"0e5a2379-3f31-494c-b8c6-16952073ac33", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "engine":"MySQL-8",
      "upgradable_version":[], "endpoint":{"ip":"51.159.204.209", "port":17057, "name":null,
      "id":"842f6a38-2a13-43ca-86ff-e3fa6c6e7957", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"max_connections", "value":"100"}], "backup_schedule":{"frequency":24,
      "retention":7, "disabled":false, "next_run_at":"2023-11-09T21:34:51.292889Z"},
      "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd",
      "size":5000000000, "class":"lssd"}, "init_settings":[], "endpoints":[{"ip":"51.159.204.209",
      "port":17057, "name":null, "id":"842f6a38-2a13-43ca-86ff-e3fa6c6e7957", "load_balancer":{}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null},[...]
[...]
