---
version: 2
interactions:
- request:
    body: '{"id":"b197be59-7cb6-406e-8652-355d14e2609a", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.13"}, {"id":"8af4ebbb-fd08-4038-89f6-9d8c8f1232ca",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.10"}, {"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.5"}], "endpoint":{"port":0,
      "name":null, "id":"5ceac8d9-412b-47dd-83fb-06887ef3a426", "load_balancer":{}},
      "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7,
      "disabled":false, "next_run_at":"2024-01-05T14:36:37.603492Z"}, "is_ha_cluster":false,
      "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000,
      "class":"lssd"}, "init_settings":[], "endpoints":[{"port":0, "name":null, "id":"5ceac8d9-412b-47dd-83fb-06887ef3a426",
      "load_balancer":{}}], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "created_at":"2024-01-04T14:36:37.603492Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"b197be59-7cb6-406e-8652-355d14e2609a", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.13"}, {"id":"8af4ebbb-fd08-4038-89f6-9d8c8f1232ca",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.10"}, {"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.5"}], "endpoint":{"port":0,
      "name":null, "id":"5ceac8d9-412b-47dd-83fb-06887ef3a426", "load_balancer":{}},
      "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7,
      "disabled":false, "next_run_at":"2024-01-05T14:36:37.603492Z"}, "is_ha_cluster":false,
      "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000,
      "class":"lssd"}, "init_settings":[], "endpoints":[{"port":0, "name":null, "id":"5ceac8d9-412b-47dd-83fb-06887ef3a426",
      "load_balancer":{}}], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "created_at":"2024-01-04T14:36:37.603492Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"id":"b197be59-7cb6-406e-8652-355d14e2609a", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.13"}, {"id":"8af4ebbb-fd08-4038-89f6-9d8c8f1232ca",
      "name":"PostgreSQL-14", "version":"14", "minor_[...]
[...]
- request:
    body: '{"id":"b197be59-7cb6-406e-8652-355d14e2609a", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"initializing",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.13"}, {"id":"8af4ebbb-fd08-4038-89f6-9d8c8f1232ca",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.10"}, {"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.5"}], "endpoint":{"port":0,
      "name":null, "id":"5ceac8d9-412b-47dd-83fb-06887ef3a426", "load_balancer":{}},
      "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-01-05T14:36:37.603492Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
[...]
- request:
    body: '{"id":"b197be59-7cb6-406e-8652-355d14e2609a", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "engine":"PostgreSQL-12",
      "upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba", "name":"PostgreSQL-13",
      "version":"13", "minor_version":"13.13"}, {"id":"8af4ebbb-fd08-4038-89f6-9d8c8f1232ca",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.10"}, {"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.5"}], "endpoint":{"ip":"51.159.113.128",
      "port":27119, "name":null, "id":"5ceac8d9-412b-47dd-83fb-06887ef3a426", "load_balancer":{}},
      "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disable[...]
- request:
    body: '{"name":"custom-db", "owner":"", "managed":true, "size":0}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/b197be59-7cb6-406e-8652-355d14e2609a/databases
    method: POST
  response:
    body: '{"name":"custom-db", "owner":"", "managed":true, "size":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"users":[{"name":"foobar", "is_admin":true}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/b197be59-7cb6-406e-8652-355d14e2609a/users?name=&order_by=name_asc&page=1
    method: GET
  response:
    body: '{"users":[{"name":"foobar", "is_admin":true}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"databases":[{"name":"custom-db", "owner":"_rdb_superadmin", "managed":true,
      "size":8160111}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/b197be59-7cb6-406e-8652-355d14e2609a/databases?name=custom-db&order_by=name_asc&page=1
    method: GET
  response:
    body: '{"databases":[{"name":"custom-db", "owner":"_rdb_superadmin", "managed":true,
      "size":8160111}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
