---
version: 1
interactions:
- request:
    body: '{"engines":[{"name":"MySQL", "logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg",
      "versions":[{"version":"8", "name":"MySQL-8", "end_of_life":"2026-04-01T00:00:00Z",
      "available_settings":[{"name":"auto_increment_increment", "default_value":"1",
      "hot_configurable":true, "description":"Controls the AUTO_INCREMENT interval
      between successive column values", "property_type":"INT", "unit":null, "string_constraint":null,
      "int_min":1, "int_max":65535, "float_min":null, "float_max":null}, {"name":"auto_increment_offset",
      "default_value":"1", "hot_configurable":true, "description":"Determines the
      starting point for the AUTO_INCREMENT column value", "property_type":"INT",
      "unit":null, "string_constraint":null, "int_min":1, "int_max":65535, "float_min":null,
      "float_max":null}, {"name":"character_set_server", "default_value":"utf8mb4",
      "hot_configurable":true, "description":"Specify a specific server side character-set
      encoding", "property_t[...]
