---
version: 1
interactions:
- request:
    body: '{"id":"53fbd31b-aa1e-4e17-b6bd-cd807f9ba171", "name":"pn-magical-bassi",
      "tags":[], "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "created_at":"2025-01-07T14:30:49.960233Z",
      "updated_at":"2025-01-07T14:30:49.960233Z", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "subnets":[{"id":"c53044fb-fabb-424c-adf0-c75a9bfbc03c", "created_at":"2025-01-07T14:30:49.960233Z",
      "updated_at":"2025-01-07T14:30:49.960233Z", "subnet":"172.16.32.0/22", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "private_network_id":"53fbd31b-aa1e-4e17-b6bd-cd807f9ba171", "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"},
      {"id":"0d10b62f-5cac-40a6-8bd6-aaca6d25a9f8", "created_at":"2025-01-07T14:30:49.960233Z",
      "updated_at":"2025-01-07T14:30:49.960233Z", "subnet":"fdcd:e4f1:8712:a2ab::/64",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "private_network_id":"53fbd31b-aa1e-4e17-b6bd-cd807f9ba171",
      "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"}], "vpc_id":"d4535842-cddd-478d-a978-1797d57da787",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"53fbd31b-aa1e-4e17-b6bd-cd807f9ba171", "name":"pn-magical-bassi",
      "tags":[], "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "created_at":"2025-01-07T14:30:49.960233Z",
      "updated_at":"2025-01-07T14:30:49.960233Z", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "subnets":[{"id":"c53044fb-fabb-424c-adf0-c75a9bfbc03c", "created_at":"2025-01-07T14:30:49.960233Z",
      "updated_at":"2025-01-07T14:30:49.960233Z", "subnet":"172.16.32.0/22", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "private_network_id":"53fbd31b-aa1e-4e17-b6bd-cd807f9ba171", "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"},
      {"id":"0d10b62f-5cac-40a6-8bd6-aaca6d25a9f8", "created_at":"2025-01-07T14:30:49.960233Z",
      "updated_at":"2025-01-07T14:30:49.960233Z", "subnet":"fdcd:e4f1:8712:a2ab::/64",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "private_network_id":"53fbd31b-aa1e-4e17-b6bd-cd807f9ba171",
      "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"}], "vpc_id":"d4535842-cddd-478d-a978-1797d57da787",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"983f229a-3fa8-45b2-9835-97cae2c2d1cf", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:30:50.903916Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null,
      "id":"985255dc-9b99-487a-93d8-4847c892df7a", "private_network":{"private_network_id":"53fbd31b-aa1e-4e17-b6bd-cd807f9ba171",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-01-07T14:30:50.903916Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"983f229a-3fa8-45b2-9835-97cae2c2d1cf", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:30:50.903916Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null,
      "id":"985255dc-9b99-487a-93d8-4847c892df7a", "private_network":{"private_network_id":"53fbd31b-aa1e-4e17-b6bd-cd807f9ba171",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-01-07T14:30:50.903916Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"983f229a-3fa8-45b2-9835-97cae2c2d1cf", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:30:50.903916Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"983f229a-3fa8-45b2-9835-97cae2c2d1cf", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":null, "tags":[], "settings":[{"name":"effective_cache_size",
      "value":"1300"}, {"name":"maintenance_work_mem", "value":"150"}, {"name":"max_connections",
      "value":"100"}, {"name":"max_parallel_workers", "value":"0"}, {"name":"max_parallel_workers_per_gather",
      "value":"0"}, {"name":"work_mem", "value":"4"}], "backup_schedule":{"frequency":24,
      "retention":7, "disabled":false, "next_run_at":"2025-01-08T14:30:50.903916Z"},
      "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd",
      "size":5000000000, "class"[...]
[...]
- request:
    body: '{"total_count":0, "ips":[]}'
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=983f229a-3fa8-45b2-9835-97cae2c2d1cf&resource_type=rdb_instance
    method: GET
  response:
    body: '{"total_count":0, "ips":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"983f229a-3fa8-45b2-9835-97cae2c2d1cf","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/983f229a-3fa8-45b2-9835-97cae2c2d1cf
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"983f229a-3fa8-45b2-9835-97cae2c2d1cf","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/53fbd31b-aa1e-4e17-b6bd-cd807f9ba171
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
