---
version: 1
interactions:
- request:
    body: '{"id":"3ccf1bba-10aa-4e57-ab54-d3281248e590","name":"cli-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","engine":"PostgreSQL-12","upgradable_version":[{"id":"43f09d77-6597-479b-b705-4a93735b85e9","name":"PostgreSQL-13","version":"13","minor_version":"13.14"},{"id":"1d5d77e5-5644-4468-9d8e-d9008476f2f3","name":"PostgreSQL-14","version":"14","minor_version":"14.11"},{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","name":"PostgreSQL-15","version":"15","minor_version":"15.6"}],"endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false,"next_run_at":"2024-04-10T18:20:28.324749Z"},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000,"class":"lssd"},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2024-04-09T18:20:28.324749Z","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"3ccf1bba-10aa-4e57-ab54-d3281248e590","name":"cli-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","engine":"PostgreSQL-12","upgradable_version":[{"id":"43f09d77-6597-479b-b705-4a93735b85e9","name":"PostgreSQL-13","version":"13","minor_version":"13.14"},{"id":"1d5d77e5-5644-4468-9d8e-d9008476f2f3","name":"PostgreSQL-14","version":"14","minor_version":"14.11"},{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","name":"PostgreSQL-15","version":"15","minor_version":"15.6"}],"endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false,"next_run_at":"2024-04-10T18:20:28.324749Z"},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000,"class":"lssd"},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2024-04-09T18:20:28.324749Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"3ccf1bba-10aa-4e57-ab54-d3281248e590","name":"cli-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","engine":"PostgreSQL-12","upgradable_version":[{"id":"43f09d77-6597-479b-b705-4a93735b85e9","name":"PostgreSQL-13","version":"13","minor_version":"13.14"},{"id":"1d5d77e5-5644-4468-9d8e-d9008476f2f3","name":"PostgreSQL-14","version":"14","minor_version":"14.11"},{"id":"f70a484b-31e[...]
[...]
- request:
    body: '{"id":"3ccf1bba-10aa-4e57-ab54-d3281248e590","name":"cli-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"initializing","engine":"PostgreSQL-12","upgradable_version":[{"id":"43f09d77-6597-479b-b705-4a93735b85e9","name":"PostgreSQL-13","version":"13","minor_version":"13.14"},{"id":"1d5d77e5-5644-4468-9d8e-d9008476f2f3","name":"PostgreSQL-14","version":"14","minor_version":"14.11"},{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","name":"PostgreSQL-15","version":"15","minor_version":"15.6"}],"endpoint":null,"tags":[],"settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false,"next_run_at":"2024-04-10T18:20:28.324749Z"},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000,"class":"lssd"},"init_settings":[],"endpoints":[],"logs_p[...]
- request:
    body: '{"id":"3ccf1bba-10aa-4e57-ab54-d3281248e590","name":"cli-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"ready","engine":"PostgreSQL-12","upgradable_version":[{"id":"43f09d77-6597-479b-b705-4a93735b85e9","name":"PostgreSQL-13","version":"13","minor_version":"13.14"},{"id":"1d5d77e5-5644-4468-9d8e-d9008476f2f3","name":"PostgreSQL-14","version":"14","minor_version":"14.11"},{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","name":"PostgreSQL-15","version":"15","minor_version":"15.6"}],"endpoint":{"ip":"51.158.59.186","port":4389,"name":null,"id":"5ba2d8bd-eff1-4c9c-a16b-af6ca753ff3e","load_balancer":{}},"tags":[],"settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false,"next_run_at":"2024-04-10T18:20:28.324749Z"},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":500[...]
- request:
    body: '{"rules":[{"ip":"0.0.0.0/0","port":4389,"protocol":"tcp","direction":"inbound","action":"allow","description":"Allow
      All"},{"ip":"1.2.3.4/32","port":4389,"protocol":"tcp","direction":"inbound","action":"allow","description":"Allow
      1.2.3.4/32"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/3ccf1bba-10aa-4e57-ab54-d3281248e590/acls
    method: POST
  response:
    body: '{"rules":[{"ip":"0.0.0.0/0","port":4389,"protocol":"tcp","direction":"inbound","action":"allow","description":"Allow
      All"},{"ip":"1.2.3.4/32","port":4389,"protocol":"tcp","direction":"inbound","action":"allow","description":"Allow
      1.2.3.4/32"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
