---
version: 1
interactions:
- request:
    body: '{"id":"4be8c89e-51a6-43a0-9c72-3bc8bd3b1279", "name":"pn-upbeat-newton",
      "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-11-19T19:33:20.187092Z",
      "updated_at":"2024-11-19T19:33:20.187092Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "subnets":[{"id":"edc6aa7f-3169-4070-8e94-c9e00b4e1fe4", "created_at":"2024-11-19T19:33:20.187092Z",
      "updated_at":"2024-11-19T19:33:20.187092Z", "subnet":"172.16.56.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "private_network_id":"4be8c89e-51a6-43a0-9c72-3bc8bd3b1279", "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},
      {"id":"b19a784c-a903-41a7-8364-99e9dde52d44", "created_at":"2024-11-19T19:33:20.187092Z",
      "updated_at":"2024-11-19T19:33:20.187092Z", "subnet":"fd49:821a:a311:c622::/64",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"4be8c89e-51a6-43a0-9c72-3bc8bd3b1279",
      "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}], "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"4be8c89e-51a6-43a0-9c72-3bc8bd3b1279", "name":"pn-upbeat-newton",
      "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-11-19T19:33:20.187092Z",
      "updated_at":"2024-11-19T19:33:20.187092Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "subnets":[{"id":"edc6aa7f-3169-4070-8e94-c9e00b4e1fe4", "created_at":"2024-11-19T19:33:20.187092Z",
      "updated_at":"2024-11-19T19:33:20.187092Z", "subnet":"172.16.56.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "private_network_id":"4be8c89e-51a6-43a0-9c72-3bc8bd3b1279", "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},
      {"id":"b19a784c-a903-41a7-8364-99e9dde52d44", "created_at":"2024-11-19T19:33:20.187092Z",
      "updated_at":"2024-11-19T19:33:20.187092Z", "subnet":"fd49:821a:a311:c622::/64",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"4be8c89e-51a6-43a0-9c72-3bc8bd3b1279",
      "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}], "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"message":"PostgreSQL-12 is not available yet"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"message":"PostgreSQL-12 is not available yet"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
