---
version: 1
interactions:
- request:
    body: '{"id":"0761b1ab-69c5-49b8-891a-28b7e53dc674", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"2e670f5c-493b-443f-92bd-986f23da2750",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.12"}, {"id":"2988cc5e-e0dd-48ba-bd8b-b394db1fc6b9",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.9"}, {"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.4"}], "endpoint":null,
      "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7,
      "disabled":false, "next_run_at":"2023-11-10T19:09:14.336231Z"}, "is_ha_cluster":false,
      "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000,
      "class":"lssd"}, "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30,
      "total_disk_retention":null}, "backup_same_region":false, "maintenances":[],
      "created_at":"2023-11-09T19:09:14.336231Z", "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"0761b1ab-69c5-49b8-891a-28b7e53dc674", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"2e670f5c-493b-443f-92bd-986f23da2750",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.12"}, {"id":"2988cc5e-e0dd-48ba-bd8b-b394db1fc6b9",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.9"}, {"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.4"}], "endpoint":null,
      "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7,
      "disabled":false, "next_run_at":"2023-11-10T19:09:14.336231Z"}, "is_ha_cluster":false,
      "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000,
      "class":"lssd"}, "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30,
      "total_disk_retention":null}, "backup_same_region":false, "maintenances":[],
      "created_at":"2023-11-09T19:09:14.336231Z", "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"0761b1ab-69c5-49b8-891a-28b7e53dc674", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"2e670f5c-493b-443f-92bd-986f23da2750",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.12"}, {"id":"2988cc5e-e0dd-48ba-bd8b-b394db1fc6b9",
      "name":"PostgreSQL-14", "version":"14", "minor_[...]
[...]
- request:
    body: '{"id":"0761b1ab-69c5-49b8-891a-28b7e53dc674", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "engine":"PostgreSQL-12",
      "upgradable_version":[{"id":"2e670f5c-493b-443f-92bd-986f23da2750", "name":"PostgreSQL-13",
      "version":"13", "minor_version":"13.12"}, {"id":"2988cc5e-e0dd-48ba-bd8b-b394db1fc6b9",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.9"}, {"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.4"}], "endpoint":{"ip":"51.158.57.216",
      "port":20924, "name":null, "id":"ddce2ff8-20c3-423b-afb8-90debd6e960a", "load_balancer":{}},
      "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2023-11-10T19:09:14.336231Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
- request:
    body: '{"id":"bf4eb12e-d7d8-4e7f-9524-787eb6cabcf3", "instance_id":"0761b1ab-69c5-49b8-891a-28b7e53dc674",
      "database_name":"rdb", "name":"foobar", "status":"creating", "size":null, "expires_at":"2032-01-02T22:04:05Z",
      "created_at":"2023-11-09T19:12:52.325421Z", "updated_at":null, "instance_name":"cli-test",
      "download_url":null, "download_url_expires_at":null, "same_region":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
    method: POST
  response:
    body: '{"id":"bf4eb12e-d7d8-4e7f-9524-787eb6cabcf3", "instance_id":"0761b1ab-69c5-49b8-891a-28b7e53dc674",
      "database_name":"rdb", "name":"foobar", "status":"creating", "size":null, "expires_at":"2032-01-02T22:04:05Z",
      "created_at":"2023-11-09T19:12:52.325421Z", "updated_at":null, "instance_name":"cli-test",
      "download_url":null, "download_url_expires_at":null, "same_region":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
