---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"4030b706-aaae-4c32-8cd9-4d5f082879cb", "name":"pn-romantic-goldberg", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T12:20:55.711281Z", "updated_at":"2025-07-24T12:20:55.711281Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"edbf1c4c-34f5-4a75-9e77-f5203cab6980", "created_at":"2025-07-24T12:20:55.711281Z", "updated_at":"2025-07-24T12:20:55.711281Z", "subnet":"172.16.236.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"4030b706-aaae-4c32-8cd9-4d5f082879cb", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"650e81a6-4382-43b2-8b9e-822245daf098", "created_at":"2025-07-24T12:20:55.711281Z", "updated_at":"2025-07-24T12:20:55.711281Z", "subnet":"fd63:256c:45f7:ea1d::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"4030b706-aaae-4c32-8cd9-4d5f082879cb", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"4030b706-aaae-4c32-8cd9-4d5f082879cb", "name":"pn-romantic-goldberg", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T12:20:55.711281Z", "updated_at":"2025-07-24T12:20:55.711281Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"edbf1c4c-34f5-4a75-9e77-f5203cab6980", "created_at":"2025-07-24T12:20:55.711281Z", "updated_at":"2025-07-24T12:20:55.711281Z", "subnet":"172.16.236.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"4030b706-aaae-4c32-8cd9-4d5f082879cb", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"650e81a6-4382-43b2-8b9e-822245daf098", "created_at":"2025-07-24T12:20:55.711281Z", "updated_at":"2025-07-24T12:20:55.711281Z", "subnet":"fd63:256c:45f7:ea1d::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"4030b706-aaae-4c32-8cd9-4d5f082879cb", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 705.208259ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"e41bd693-e620-466b-91b3-c887339e51ef", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-25T12:20:56.628357Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"}, "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null, "id":"848aa7e6-b2d1-493e-a3e6-145be3a9ab03", "private_network":{"private_network_id":"4030b706-aaae-4c32-8cd9-4d5f082879cb", "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}], "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-07-24T12:20:56.628357Z", "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"id":"e41bd693-e620-466b-91b3-c887339e51ef", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"e41bd693-e620-466b-91b3-c887339e51ef", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[], "backup_schedule":{"fre[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"id":"e41bd693-e620-466b-91b3-c887339e51ef", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"initializing", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem", "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers", "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem", "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-25T12:20:56.628357Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"}, "init_settings":[], [...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"id":"e41bd693-e620-466b-91b3-c887339e51ef", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":{"ip":"51.159.8.143", "port":25430, "name":null, "id":"bc22c03d-0644-4909-993d-2099e82154ba", "load_balancer":{}}, "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem", "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers", "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem", "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-25T12:20:56.628357Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"ty[...]
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"total_count":0, "ips":[]}'
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=e41bd693-e620-466b-91b3-c887339e51ef&resource_type=rdb_instance
        method: GET
      response:
        body: '{"total_count":0, "ips":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.635078ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"instance","resource_id":"e41bd693-e620-466b-91b3-c887339e51ef","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/e41bd693-e620-466b-91b3-c887339e51ef
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"e41bd693-e620-466b-91b3-c887339e51ef","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 70.254086ms
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"message":"internal error"}'
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4030b706-aaae-4c32-8cd9-4d5f082879cb
        method: DELETE
      response:
        body: '{"message":"internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 5.064640652s
[...]
