---
version: 1
interactions:
- request:
    body: '{"id":"2a8dda5b-d161-455c-9099-c6c7cab5602b", "name":"pn-angry-chatterjee",
      "tags":[], "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "created_at":"2025-01-07T14:51:46.686363Z",
      "updated_at":"2025-01-07T14:51:46.686363Z", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "subnets":[{"id":"5060205f-658a-4968-a5bf-23232f843ee8", "created_at":"2025-01-07T14:51:46.686363Z",
      "updated_at":"2025-01-07T14:51:46.686363Z", "subnet":"172.16.28.0/22", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "private_network_id":"2a8dda5b-d161-455c-9099-c6c7cab5602b", "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"},
      {"id":"692cc189-8efb-4399-b0cf-45d378636f3d", "created_at":"2025-01-07T14:51:46.686363Z",
      "updated_at":"2025-01-07T14:51:46.686363Z", "subnet":"fdcd:e4f1:8712:5b0c::/64",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "private_network_id":"2a8dda5b-d161-455c-9099-c6c7cab5602b",
      "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"}], "vpc_id":"d4535842-cddd-478d-a978-1797d57da787",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"2a8dda5b-d161-455c-9099-c6c7cab5602b", "name":"pn-angry-chatterjee",
      "tags":[], "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "created_at":"2025-01-07T14:51:46.686363Z",
      "updated_at":"2025-01-07T14:51:46.686363Z", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "subnets":[{"id":"5060205f-658a-4968-a5bf-23232f843ee8", "created_at":"2025-01-07T14:51:46.686363Z",
      "updated_at":"2025-01-07T14:51:46.686363Z", "subnet":"172.16.28.0/22", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "private_network_id":"2a8dda5b-d161-455c-9099-c6c7cab5602b", "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"},
      {"id":"692cc189-8efb-4399-b0cf-45d378636f3d", "created_at":"2025-01-07T14:51:46.686363Z",
      "updated_at":"2025-01-07T14:51:46.686363Z", "subnet":"fdcd:e4f1:8712:5b0c::/64",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "private_network_id":"2a8dda5b-d161-455c-9099-c6c7cab5602b",
      "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"}], "vpc_id":"d4535842-cddd-478d-a978-1797d57da787",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"2e1736e5-1344-4e70-a427-b46ca4c1dce2", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:51:47.692290Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null,
      "id":"6847efb9-86ea-4460-904e-0237b4e57358", "private_network":{"private_network_id":"2a8dda5b-d161-455c-9099-c6c7cab5602b",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-01-07T14:51:47.692290Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"2e1736e5-1344-4e70-a427-b46ca4c1dce2", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:51:47.692290Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null,
      "id":"6847efb9-86ea-4460-904e-0237b4e57358", "private_network":{"private_network_id":"2a8dda5b-d161-455c-9099-c6c7cab5602b",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-01-07T14:51:47.692290Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"2e1736e5-1344-4e70-a427-b46ca4c1dce2", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:51:47.692290Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"2e1736e5-1344-4e70-a427-b46ca4c1dce2", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"initializing",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:51:47.692290Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
[...]
- request:
    body: '{"id":"2e1736e5-1344-4e70-a427-b46ca4c1dce2", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":{"ip":"51.159.74.117", "port":5012, "name":null,
      "id":"0b706ab8-5ba8-4528-92b3-54fcba574ed1", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:51:47.692290Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
[...]
