---
version: 1
interactions:
- request:
    body: '{"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-test","engine":"PostgreSQL-12","user_name":"foobar","password":"{4xdl*#QOoP+\u00263XRkGA)]","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"id":"b0ab81a1-530d-47f4-be05-e313414acafa","name":"cli-test","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"created_at":"2020-09-07T12:56:03.512855Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/b0ab81a1-530d-47f4-be05-e313414acafa
    method: GET
  response:
    body: '{"id":"b0ab81a1-530d-47f4-be05-e313414acafa","name":"cli-test","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"created_at":"2020-09-07T12:56:03.512855Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/b0ab81a1-530d-47f4-be05-e313414acafa
    method: GET
  response:
    body: '{"id":"b0ab81a1-530d-47f4-be05-e313414acafa","name":"cli-test","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"initializing","engine":"PostgreSQL-12","endpoint":{"ip":"51.158.128.255","port":33888,"name":null},"tags":[],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"created_at":"2020-09-07T12:56:03.512855Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"instance_id":"b0ab81a1-530d-47f4-be05-e313414acafa","database_name":"rdb","name":"foobar","expires_at":"2999-01-02T15:04:05-07:00"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/backups
    method: POST
  response:
    body: '{"id":"5afaed8e-33c0-4490-b768-8e4735551b94","instance_id":"b0ab81a1-530d-47f4-be05-e313414acafa","database_name":"rdb","name":"foobar","status":"creating","size":null,"expires_at":"2999-01-02T22:04:05Z","created_at":"2020-09-07T12:58:51.828076Z","updated_at":null,"instance_name":"cli-test","download_url":null,"download_url_expires_at":null,"region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/backups/5afaed8e-33c0-4490-b768-8e4735551b94
    method: GET
  response:
    body: '{"id":"5afaed8e-33c0-4490-b768-8e4735551b94","instance_id":"b0ab81a1-530d-47f4-be05-e313414acafa","database_name":"rdb","name":"foobar","status":"creating","size":null,"expires_at":"2999-01-02T22:04:05Z","created_at":"2020-09-07T12:58:51.828076Z","updated_at":null,"instance_name":"cli-test","download_url":null,"download_url_expires_at":null,"region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/backups/5afaed8e-33c0-4490-b768-8e4735551b94/export
    method: POST
  response:
    body: '{"id":"5afaed8e-33c0-4490-b768-8e4735551b94","instance_id":"b0ab81a1-530d-47f4-be05-e313414acafa","database_name":"rdb","name":"foobar","status":"exporting","size":2547,"expires_at":"2999-01-02T22:04:05Z","created_at":"2020-09-07T12:58:51.828076Z","updated_at":"2020-09-07T12:58:55.365360Z","instance_name":"cli-test","download_url":null,"download_url_expires_at":null,"region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
