---
version: 1
interactions:
- request:
    body: '{"id":"ed99aef7-59eb-4bb6-ae4a-f8bb9de4bcd4", "name":"pn-loving-mestorf",
      "tags":[], "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "created_at":"2025-01-07T14:30:50.322725Z",
      "updated_at":"2025-01-07T14:30:50.322725Z", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "subnets":[{"id":"3afd149a-12ee-4962-9d81-0b2d83baa011", "created_at":"2025-01-07T14:30:50.322725Z",
      "updated_at":"2025-01-07T14:30:50.322725Z", "subnet":"172.16.204.0/22", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "private_network_id":"ed99aef7-59eb-4bb6-ae4a-f8bb9de4bcd4", "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"},
      {"id":"e9117f8e-7127-4417-93c9-20bfe4f53ee0", "created_at":"2025-01-07T14:30:50.322725Z",
      "updated_at":"2025-01-07T14:30:50.322725Z", "subnet":"fdcd:e4f1:8712:6233::/64",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "private_network_id":"ed99aef7-59eb-4bb6-ae4a-f8bb9de4bcd4",
      "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"}], "vpc_id":"d4535842-cddd-478d-a978-1797d57da787",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"ed99aef7-59eb-4bb6-ae4a-f8bb9de4bcd4", "name":"pn-loving-mestorf",
      "tags":[], "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "created_at":"2025-01-07T14:30:50.322725Z",
      "updated_at":"2025-01-07T14:30:50.322725Z", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "subnets":[{"id":"3afd149a-12ee-4962-9d81-0b2d83baa011", "created_at":"2025-01-07T14:30:50.322725Z",
      "updated_at":"2025-01-07T14:30:50.322725Z", "subnet":"172.16.204.0/22", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "private_network_id":"ed99aef7-59eb-4bb6-ae4a-f8bb9de4bcd4", "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"},
      {"id":"e9117f8e-7127-4417-93c9-20bfe4f53ee0", "created_at":"2025-01-07T14:30:50.322725Z",
      "updated_at":"2025-01-07T14:30:50.322725Z", "subnet":"fdcd:e4f1:8712:6233::/64",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "private_network_id":"ed99aef7-59eb-4bb6-ae4a-f8bb9de4bcd4",
      "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"}], "vpc_id":"d4535842-cddd-478d-a978-1797d57da787",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"d70724e9-bdbb-4f46-b61e-4e20114f8ade", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:30:51.154523Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.204.2", "port":5432, "name":null,
      "id":"7a002c44-6ef5-43c2-903f-8bd84ba07033", "private_network":{"private_network_id":"ed99aef7-59eb-4bb6-ae4a-f8bb9de4bcd4",
      "service_ip":"172.16.204.2/22", "zone":"fr-par-1", "provisioning_mode":"ipam"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-01-07T14:30:51.154523Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"d70724e9-bdbb-4f46-b61e-4e20114f8ade", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:30:51.154523Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.204.2", "port":5432, "name":null,
      "id":"7a002c44-6ef5-43c2-903f-8bd84ba07033", "private_network":{"private_network_id":"ed99aef7-59eb-4bb6-ae4a-f8bb9de4bcd4",
      "service_ip":"172.16.204.2/22", "zone":"fr-par-1", "provisioning_mode":"ipam"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-01-07T14:30:51.154523Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"d70724e9-bdbb-4f46-b61e-4e20114f8ade", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:30:51.154523Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"d70724e9-bdbb-4f46-b61e-4e20114f8ade", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":null, "tags":[], "settings":[{"name":"effective_cache_size",
      "value":"1300"}, {"name":"maintenance_work_mem", "value":"150"}, {"name":"max_connections",
      "value":"100"}, {"name":"max_parallel_workers", "value":"0"}, {"name":"max_parallel_workers_per_gather",
      "value":"0"}, {"name":"work_mem", "value":"4"}], "backup_schedule":{"frequency":24,
      "retention":7, "disabled":false, "next_run_at":"2025-01-08T14:30:51.154523Z"},
      "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd",
      "size":5000000000, "class"[...]
[...]
- request:
    body: '{"total_count":1, "ips":[{"id":"e6735cdb-ce2c-46f6-8d3f-5cb5e2ae2ad9",
      "address":"172.16.204.2/22", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "is_ipv6":false, "created_at":"2025-01-07T14:30:51.648129Z", "updated_at":"2025-01-07T14:31:29.836648Z",
      "source":{"subnet_id":"3afd149a-12ee-4962-9d81-0b2d83baa011"}, "resource":{"type":"rdb_instance",
      "id":"d70724e9-bdbb-4f46-b61e-4e20114f8ade", "mac_address":"02:00:00:13:14:34",
      "name":"cli-test"}, "tags":["managed", "scwdbaas"], "reverses":[], "region":"fr-par",
      "zone":null}]}'
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=d70724e9-bdbb-4f46-b61e-4e20114f8ade&resource_type=rdb_instance
    method: GET
  response:
    body: '{"total_count":1, "ips":[{"id":"e6735cdb-ce2c-46f6-8d3f-5cb5e2ae2ad9",
      "address":"172.16.204.2/22", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "is_ipv6":false, "created_at":"2025-01-07T14:30:51.648129Z", "updated_at":"2025-01-07T14:31:29.836648Z",
      "source":{"subnet_id":"3afd149a-12ee-4962-9d81-0b2d83baa011"}, "resource":{"type":"rdb_instance",
      "id":"d70724e9-bdbb-4f46-b61e-4e20114f8ade", "mac_address":"02:00:00:13:14:34",
      "name":"cli-test"}, "tags":["managed", "scwdbaas"], "reverses":[], "region":"fr-par",
      "zone":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"d70724e9-bdbb-4f46-b61e-4e20114f8ade","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d70724e9-bdbb-4f46-b61e-4e20114f8ade
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"d70724e9-bdbb-4f46-b61e-4e20114f8ade","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ed99aef7-59eb-4bb6-ae4a-f8bb9de4bcd4
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
