---
version: 1
interactions:
- request:
    body: '{"id":"ed5d5a24-7abb-49b2-b878-7580ed9bf552","name":"cli-pn-competent-ellis","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2023-11-30T11:09:23.983030Z","updated_at":"2023-11-30T11:09:23.983030Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[{"id":"6ac10623-0aa2-41b2-91cc-7ed81dd9cb44","created_at":"2023-11-30T11:09:23.983030Z","updated_at":"2023-11-30T11:09:23.983030Z","subnet":"172.16.4.0/22"},{"id":"8645c02f-02b3-4373-ab72-24c81768cdef","created_at":"2023-11-30T11:09:23.983030Z","updated_at":"2023-11-30T11:09:23.983030Z","subnet":"fd5f:519c:6d46:a66f::/64"}],"vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e","dhcp_enabled":true,"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"ed5d5a24-7abb-49b2-b878-7580ed9bf552","name":"cli-pn-competent-ellis","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2023-11-30T11:09:23.983030Z","updated_at":"2023-11-30T11:09:23.983030Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[{"id":"6ac10623-0aa2-41b2-91cc-7ed81dd9cb44","created_at":"2023-11-30T11:09:23.983030Z","updated_at":"2023-11-30T11:09:23.983030Z","subnet":"172.16.4.0/22"},{"id":"8645c02f-02b3-4373-ab72-24c81768cdef","created_at":"2023-11-30T11:09:23.983030Z","updated_at":"2023-11-30T11:09:23.983030Z","subnet":"fd5f:519c:6d46:a66f::/64"}],"vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e","dhcp_enabled":true,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"8c83084d-930d-4217-b53b-77ebdffe2f6c","name":"cli-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-12","upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba","name":"PostgreSQL-13","version":"13","minor_version":"13.13"},{"id":"8af4ebbb-fd08-4038-89f6-9d8c8f1232ca","name":"PostgreSQL-14","version":"14","minor_version":"14.10"},{"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c","name":"PostgreSQL-15","version":"15","minor_version":"15.5"}],"endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false,"next_run_at":"2023-12-01T11:09:24.936218Z"},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000,"class":"lssd"},"init_settings":[],"endpoints":[{"ip":"172.16.4.1","port":5432,"name":null,"id":"7999f72e-bd0f-4fcb-9013-cd1fd091c0cc","private_network":{"private_network_id":"ed5d5a24-7abb-49b2-b878-7580ed9bf552","service_ip":"172.16.4.1/22","zone":"fr-par-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2023-11-30T11:09:24.936218Z","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"8c83084d-930d-4217-b53b-77ebdffe2f6c","name":"cli-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-12","upgradable_version":[{"id":"f4c1ec4[...]
- request:
    body: '{"id":"8c83084d-930d-4217-b53b-77ebdffe2f6c","name":"cli-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-12","upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba","name":"PostgreSQL-13","version":"13","minor_version":"13.13"},{"id":"8af4ebbb-fd08-4038-89f6-9d8c8f1232ca","name":"PostgreSQL-14","version":"14","minor_version":"14.10"},{"id":"764c6bb3-2f1[...]
[...]
- request:
    body: '{"id":"8c83084d-930d-4217-b53b-77ebdffe2f6c","name":"cli-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"initializing","engine":"PostgreSQL-12","upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba","name":"PostgreSQL-13","version":"13","minor_version":"13.13"},{"id":"8af4ebbb-fd08-4038-89f6-9d8c8f1232ca","name":"PostgreSQL-14","version":"14","minor_version":"14.10"},{"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c","name":"PostgreSQL-15","version":"15","minor_version":"15.5"}],"endpoint":null,"tags":[],"settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false,"next_run_at":"2023-12-01T11:09:24.936218Z"},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000,"class":"lssd"},"init_settings":[],"endpoints":[{"ip":"17[...]
[...]
- request:
    body: '{"id":"8c83084d-930d-4217-b53b-77ebdffe2f6c","name":"cli-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","engine":"PostgreSQL-12","upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba","name":"PostgreSQL-13","version":"13","minor_version":"13.13"},{"id":"8af4ebbb-fd08-4038-89f6-9d8c8f1232ca","name":"PostgreSQL-14","version":"14","minor_version":"14.10"},{"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c","name":"PostgreSQL-15","version":"15","minor_version":"15.5"}],"endpoint":{"ip":"51.159.207.85","port":10782,"name":null,"id":"b3747eee-610f-4b5b-8747-3b8f2ae8de2a","load_balancer":{}},"tags":[],"settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false,"next_run_at":"2023-12-01T11:09:24.936218Z"},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":500[...]
- request:
    body: '{"total_count":0,"ips":[]}'
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=8c83084d-930d-4217-b53b-77ebdffe2f6c&resource_type=rdb_instance
    method: GET
  response:
    body: '{"total_count":0,"ips":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"8c83084d-930d-4217-b53b-77ebdffe2f6c","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8c83084d-930d-4217-b53b-77ebdffe2f6c
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"8c83084d-930d-4217-b53b-77ebdffe2f6c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ed5d5a24-7abb-49b2-b878-7580ed9bf552
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
