---
version: 1
interactions:
- request:
    body: '{"id":"5191ab4f-1d84-4f30-a710-9fd9b5623b50", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-10T09:38:22.433088Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false},
      "created_at":"2025-01-09T09:38:22.433088Z", "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"5191ab4f-1d84-4f30-a710-9fd9b5623b50", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-10T09:38:22.433088Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false},
      "created_at":"2025-01-09T09:38:22.433088Z", "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"5191ab4f-1d84-4f30-a710-9fd9b5623b50", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-10T09:38:22.433088Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"5191ab4f-1d84-4f30-a710-9fd9b5623b50", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"initializing",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-10T09:38:22.433088Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
- request:
    body: '{"id":"5191ab4f-1d84-4f30-a710-9fd9b5623b50", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":{"ip":"51.159.205.159", "port":10970, "name":null,
      "id":"6a3a7ffc-bbfd-45b3-87ff-52e4a8ff1110", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-10T09:38:22.433088Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
- request:
    body: '{"access_key":"SCW7ZEW470JAKP4FHE8E", "secret_key":null, "description":"",
      "created_at":"2025-01-07T13:16:21.002236Z", "updated_at":"2025-01-07T13:16:21.002236Z",
      "expires_at":null, "default_project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153",
      "user_id":"136b6f64-5a92-45d2-9d91-1d45c0c69ff3"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW7ZEW470JAKP4FHE8E
    method: GET
  response:
    body: '{"access_key":"SCW7ZEW470JAKP4FHE8E", "secret_key":null, "description":"",
      "created_at":"2025-01-07T13:16:21.002236Z", "updated_at":"2025-01-07T13:16:21.002236Z",
      "expires_at":null, "default_project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153",
      "user_id":"136b6f64-5a92-45d2-9d91-1d45c0c69ff3"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"cfb1e639-ea9b-485f-a18c-3a6e2fae8d78", "instance_id":"5191ab4f-1d84-4f30-a710-9fd9b5623b50",
      "database_name":"rdb", "name":"will_be_exported", "status":"creating", "size":null,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-01-09T09:41:55.450359Z",
      "updated_at":null, "instance_name":"cli-test", "download_url":null, "download_url_expires_at":null,
      "same_region":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
    method: POST
  response:
    body: '{"id":"cfb1e639-ea9b-485f-a18c-3a6e2fae8d78", "instance_id":"5191ab4f-1d84-4f30-a710-9fd9b5623b50",
      "database_name":"rdb", "name":"will_be_exported", "status":"creating", "size":null,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-01-09T09:41:55.450359Z",
      "updated_at":null, "instance_name":"cli-test", "download_url":null, "download_url_expires_at":null,
      "same_region":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"cfb1e639-ea9b-485f-a18c-3a6e2fae8d78", "instance_id":"5191ab4f-1d84-4f30-a710-9fd9b5623b50",
      "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2104,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-01-09T09:41:55.450359Z",
      "updated_at":"2025-01-09T09:41:58.738689Z", "instance_name":"cli-test", "download_url":"https://s3.nl-ams.scw.cloud/65940610-0e5e-4a98-9306-568aa4eb3673/5191ab4f-1d84-4f30-a710-9fd9b5623b50/cfb1e639[...]
- request:
    body: '{"database_backups":[{"id":"cfb1e639-ea9b-485f-a18c-3a6e2fae8d78", "instance_id":"5191ab4f-1d84-4f30-a710-9fd9b5623b50",
      "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2104,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-01-09T09:41:55.450359Z",
      "updated_at":"2025-01-09T09:41:58.738689Z", "instance_name":"cli-test", "download_url":"https://s3.nl-ams.scw.cloud/65940610-0e5e-4a98-9306-568aa4eb3673/5191ab4f-1d84-4f30-a710-9fd9b5623b50/cfb1e639-ea9b-485f-a18c-3a6e2fae8d78.custom?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=SCW2HJV1WMKPE0CKDAW5%2F20250109%2Fnl-ams%2Fs3%2Faws4_request&X-Amz-Date=20250109T094228Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=904bf250fc33ae3a71338f10d0ca94d365f5c8981c4c833f3e24ad0596b19628",
      "download_url_expires_at":"2025-01-10T09:42:28.430572Z", "same_region":false,
      "region":"fr-par"}, {"id":"d9e26787-68eb-4555-84ea-e6f9979b9e50", "instance_id":"5191ab4f-1d84-4f30-a710-9fd9b5623b50",
      "database_name":"rdb", "name":"will_not_be_exported", "status":"ready", "size":2104,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-01-09T09:42:11.855982Z",
      "updated_at":"2025-01-09T09:42:14.997573Z", "instance_name":"cli-test", "download_url":null,
      "download_url_expires_at":null, "same_region":false, "region":"fr-par"}], "total_count":2}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?instance_id=5191ab4f-1d84-4f30-a710-9fd9b5623b50&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"database_backups":[{"id":"cfb1e639-ea9b-485f-a18c-3a6e2fae8d78", "instance_id":"5191ab4f-1d84-4f30-a710-9fd9b5623b50",
      "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2104,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-01-09T09:41:55.45[...]
[...]
