---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"fa8af7b5-87e0-417a-bc9e-9981d9be0c49", "name":"pn-magical-jennings", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T12:47:25.622213Z", "updated_at":"2025-07-24T12:47:25.622213Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"9a6c8d13-c103-4116-ba0e-99afc748e3dd", "created_at":"2025-07-24T12:47:25.622213Z", "updated_at":"2025-07-24T12:47:25.622213Z", "subnet":"172.16.32.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"fa8af7b5-87e0-417a-bc9e-9981d9be0c49", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"dc0d635e-5fe9-4f1f-baa3-a9cd6cea6811", "created_at":"2025-07-24T12:47:25.622213Z", "updated_at":"2025-07-24T12:47:25.622213Z", "subnet":"fd63:256c:45f7:ba27::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"fa8af7b5-87e0-417a-bc9e-9981d9be0c49", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"fa8af7b5-87e0-417a-bc9e-9981d9be0c49", "name":"pn-magical-jennings", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T12:47:25.622213Z", "updated_at":"2025-07-24T12:47:25.622213Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"9a6c8d13-c103-4116-ba0e-99afc748e3dd", "created_at":"2025-07-24T12:47:25.622213Z", "updated_at":"2025-07-24T12:47:25.622213Z", "subnet":"172.16.32.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"fa8af7b5-87e0-417a-bc9e-9981d9be0c49", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"dc0d635e-5fe9-4f1f-baa3-a9cd6cea6811", "created_at":"2025-07-24T12:47:25.622213Z", "updated_at":"2025-07-24T12:47:25.622213Z", "subnet":"fd63:256c:45f7:ba27::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"fa8af7b5-87e0-417a-bc9e-9981d9be0c49", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 693.300555ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"6e9bb521-38eb-45ba-8f1a-35e7b698a608", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-25T12:47:26.416941Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"}, "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null, "id":"721397d0-9467-4487-8d83-2f95a29b7a2c", "private_network":{"private_network_id":"fa8af7b5-87e0-417a-bc9e-9981d9be0c49", "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}], "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-07-24T12:47:26.416941Z", "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"id":"6e9bb521-38eb-45ba-8f1a-35e7b698a608", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"6e9bb521-38eb-45ba-8f1a-35e7b698a608", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[], "backup_schedule":{"fre[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"id":"6e9bb521-38eb-45ba-8f1a-35e7b698a608", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"initializing", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem", "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers", "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem", "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-25T12:47:26.416941Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"}, "init_settings":[], [...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"id":"6e9bb521-38eb-45ba-8f1a-35e7b698a608", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":{"ip":"51.159.8.143", "port":23164, "name":null, "id":"e6f0a68e-4e31-4fbd-b48b-1aaa2cd02cf2", "load_balancer":{}}, "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem", "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers", "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem", "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-25T12:47:26.416941Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"ty[...]
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"instance","resource_id":"6e9bb521-38eb-45ba-8f1a-35e7b698a608","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6e9bb521-38eb-45ba-8f1a-35e7b698a608
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"6e9bb521-38eb-45ba-8f1a-35e7b698a608","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 75.748635ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/fa8af7b5-87e0-417a-bc9e-9981d9be0c49
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 2.313398667s
