---
version: 1
interactions:
- request:
    body: '{"id":"5f3df926-2cdd-441c-8917-02369e9559a6", "name":"pn-frosty-joliot",
      "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-11-19T15:47:35.227023Z",
      "updated_at":"2024-11-19T15:47:35.227023Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "subnets":[{"id":"b8dd1cf5-5959-4bb3-bfdc-dee8c21c3167", "created_at":"2024-11-19T15:47:35.227023Z",
      "updated_at":"2024-11-19T15:47:35.227023Z", "subnet":"172.16.20.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "private_network_id":"5f3df926-2cdd-441c-8917-02369e9559a6", "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},
      {"id":"f47bd73e-446c-4b99-85c8-8e05a003f2b0", "created_at":"2024-11-19T15:47:35.227023Z",
      "updated_at":"2024-11-19T15:47:35.227023Z", "subnet":"fd49:821a:a311:cfcb::/64",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"5f3df926-2cdd-441c-8917-02369e9559a6",
      "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}], "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"5f3df926-2cdd-441c-8917-02369e9559a6", "name":"pn-frosty-joliot",
      "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-11-19T15:47:35.227023Z",
      "updated_at":"2024-11-19T15:47:35.227023Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "subnets":[{"id":"b8dd1cf5-5959-4bb3-bfdc-dee8c21c3167", "created_at":"2024-11-19T15:47:35.227023Z",
      "updated_at":"2024-11-19T15:47:35.227023Z", "subnet":"172.16.20.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "private_network_id":"5f3df926-2cdd-441c-8917-02369e9559a6", "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},
      {"id":"f47bd73e-446c-4b99-85c8-8e05a003f2b0", "created_at":"2024-11-19T15:47:35.227023Z",
      "updated_at":"2024-11-19T15:47:35.227023Z", "subnet":"fd49:821a:a311:cfcb::/64",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"5f3df926-2cdd-441c-8917-02369e9559a6",
      "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}], "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"7c572af9-6b30-43e5-8b0a-1c295408bd22", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T15:47:36.041715Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null,
      "id":"adb1fc06-2cf0-4660-a13e-1f92a54e8c61", "private_network":{"private_network_id":"5f3df926-2cdd-441c-8917-02369e9559a6",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2024-11-19T15:47:36.041715Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"7c572af9-6b30-43e5-8b0a-1c295408bd22", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T15:47:36.041715Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null,
      "id":"adb1fc06-2cf0-4660-a13e-1f92a54e8c61", "private_network":{"private_network_id":"5f3df926-2cdd-441c-8917-02369e9559a6",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2024-11-19T15:47:36.041715Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"7c572af9-6b30-43e5-8b0a-1c295408bd22", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T15:47:36.041715Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"7c572af9-6b30-43e5-8b0a-1c295408bd22", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":null, "tags":[], "settings":[{"name":"effective_cache_size",
      "value":"1300"}, {"name":"maintenance_work_mem", "value":"150"}, {"name":"max_connections",
      "value":"100"}, {"name":"max_parallel_workers", "value":"0"}, {"name":"max_parallel_workers_per_gather",
      "value":"0"}, {"name":"work_mem", "value":"4"}], "backup_schedule":{"frequency":24,
      "retention":7, "disabled":false, "next_run_at":"2024-11-20T15:47:36.041715Z"},
      "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd",
      "size":5000000000, "class"[...]
- request:
    body: '{"port":0, "name":null, "id":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7c572af9-6b30-43e5-8b0a-1c295408bd22/endpoints
    method: POST
  response:
    body: '{"port":0, "name":null, "id":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"7c572af9-6b30-43e5-8b0a-1c295408bd22", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":{"ip":"51.159.204.219", "port":23097, "name":null,
      "id":"6deeb5c0-0bc3-4805-bc82-f06c537093f9", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T15:47:36.041715Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
[...]
- request:
    body: '{"total_count":0, "ips":[]}'
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=7c572af9-6b30-43e5-8b0a-1c295408bd22&resource_type=rdb_instance
    method: GET
  response:
    body: '{"total_count":0, "ips":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
