---
version: 2
interactions:
- request:
    body: '{"id":"b8f27e9a-4648-46f7-89aa-24d7042e99f0", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"43f09d77-6597-479b-b705-4a93735b85e9",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.14"}, {"id":"1d5d77e5-5644-4468-9d8e-d9008476f2f3",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.11"}, {"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.6"}], "endpoint":null,
      "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7,
      "disabled":false, "next_run_at":"2024-02-28T15:20:25.703850Z"}, "is_ha_cluster":false,
      "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000,
      "class":"lssd"}, "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30,
      "total_disk_retention":null}, "backup_same_region":false, "maintenances":[],
      "created_at":"2024-02-27T15:20:25.703850Z", "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"b8f27e9a-4648-46f7-89aa-24d7042e99f0", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"43f09d77-6597-479b-b705-4a93735b85e9",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.14"}, {"id":"1d5d77e5-5644-4468-9d8e-d9008476f2f3",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.11"}, {"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.6"}], "endpoint":null,
      "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7,
      "disabled":false, "next_run_at":"2024-02-28T15:20:25.703850Z"}, "is_ha_cluster":false,
      "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000,
      "class":"lssd"}, "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30,
      "total_disk_retention":null}, "backup_same_region":false, "maintenances":[],
      "created_at":"2024-02-27T15:20:25.703850Z", "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"id":"b8f27e9a-4648-46f7-89aa-24d7042e99f0", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"43f09d77-6597-479b-b705-4a93735b85e9",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.14"}, {"id":"1d5d77e5-5644-4468-9d8e-d9008476f2f3",
      "name":"PostgreSQL-14", "version":"14", "minor_[...]
[...]
- request:
    body: '{"id":"b8f27e9a-4648-46f7-89aa-24d7042e99f0", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"initializing",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"43f09d77-6597-479b-b705-4a93735b85e9",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.14"}, {"id":"1d5d77e5-5644-4468-9d8e-d9008476f2f3",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.11"}, {"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.6"}], "endpoint":null,
      "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-02-28T15:20:25.703850Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
[...]
- request:
    body: '{"id":"b8f27e9a-4648-46f7-89aa-24d7042e99f0", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "engine":"PostgreSQL-12",
      "upgradable_version":[{"id":"43f09d77-6597-479b-b705-4a93735b85e9", "name":"PostgreSQL-13",
      "version":"13", "minor_version":"13.14"}, {"id":"1d5d77e5-5644-4468-9d8e-d9008476f2f3",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.11"}, {"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.6"}], "endpoint":{"ip":"51.159.74.238",
      "port":28955, "name":null, "id":"06fe5559-ce94-496a-812d-04a7855f8609", "load_balancer":{}},
      "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-02-28T15:20:25.703850Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
- request:
    body: '{"access_key":"SCWHJNSK2028RFV4SE6K", "secret_key":null, "description":"lmarabese
      IAM API key", "created_at":"2023-02-07T12:50:30.653520Z", "updated_at":"2023-02-07T12:50:30.653520Z",
      "expires_at":null, "default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "editable":true, "creation_ip":"51.159.46.153", "user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: '{"access_key":"SCWHJNSK2028RFV4SE6K", "secret_key":null, "description":"lmarabese
      IAM API key", "created_at":"2023-02-07T12:50:30.653520Z", "updated_at":"2023-02-07T12:50:30.653520Z",
      "expires_at":null, "default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "editable":true, "creation_ip":"51.159.46.153", "user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"rules":[{"ip":"0.0.0.0/0", "port":28955, "protocol":"tcp", "direction":"inbound",
      "action":"allow", "description":"Allow All"}, {"ip":"1.2.3.4/32", "port":28955,
      "protocol":"tcp", "direction":"inbound", "action":"allow", "description":"Allow
      1.2.3.4/32"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/b8f27e9a-4648-46f7-89aa-24d7042e99f0/acls
    method: POST
  response:
    body: '{"rules":[{"ip":"0.0.0.0/0", "port":28955, "protocol":"tcp", "direction":"inbound",
      "action":"allow", "description":"Allow All"}, {"ip":"1.2.3.4/32", "port":28955,
      "protocol":"tcp", "direction":"inbound", "action":"allow", "description":"Allow
      1.2.3.4/32"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"rules":[{"ip":"0.0.0.0/0", "port":28955, "protocol":"tcp", "direction":"inbound",
      "action":"allow", "description":"Allow All"}, {"ip":"1.2.3.4/32", "port":28955,
      "protocol":"tcp", "direction":"inbound", "action":"allow", "description":"Allow
      1.2.3.4/32"}, {"ip":"10.10.10.10/32", "port":28955, "protocol":"tcp", "direction":"inbound",
      "action":"allow", "description":"Allow 10.10.10.10/32"}, {"ip":"192.168.1.0/32",
      "port":28955, "protocol":"tcp", "direction":"inbound", "action":"allow", "description":"Allow
      192.168.1.0/32"}], "total_count":4}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/b8f27e9a-4648-46f7-89aa-24d7042e99f0/acls?page=1
    method: GET
  response:
    body: '{"rules":[{"ip":"0.0.0.0/0", "port":28955, "protocol":"tcp", "direction":"inbound",
      "action":"allow", "description":"Allow All"}, {"ip":"1.2.3.4/32", "port":28955,
      "protocol":"tcp", "direction":"inbound", "action":"allow", "description":"Allow
      1.2.3.4/32"}, {"ip":"10.10.10.10/32", "port":28955, "protocol":"tcp", "direction":"inbound",
      "action":"allow", "description":"Allow 10.10.10.10/32"}, {"ip":"192.168.1.0/32",
      "port":28955, "protocol":"tcp", "direction":"inbound", "action":"allow", "description":"Allow
      192.168.1.0/32"}], "total_count":4}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
