---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"engines":[{"name":"MySQL", "logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg", "versions":[{"version":"8", "name":"MySQL-8", "end_of_life":"2026-04-01T00:00:00Z", "available_settings":[{"name":"auto_increment_increment", "default_value":"1", "hot_configurable":true, "description":"Controls the AUTO_INCREMENT interval between successive column values", "property_type":"INT", "unit":null, "string_constraint":null, "int_min":1, "int_max":65535, "float_min":null, "float_max":null}, {"name":"auto_increment_offset", "default_value":"1", "hot_configurable":true, "description":"Determines the starting point for the AUTO_INCREMENT column value", "property_type":"INT", "unit":null, "string_constraint":null, "int_min":1, "int_max":65535, "float_min":null, "float_max":null}, {"name":"character_set_server", "default_value":"utf8mb4", "hot_configurable":true, "description":"Specify a specific server side character-set encoding", "property_type":"STRING", "unit":null, "string_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"33649329-31bb-4b3d-a0d0-5cedf07c10c7", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"PostgreSQL-16", "upgradable_version":[], "endpoint":null, "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-24T18:23:58.393046Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"}, "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-07-23T18:23:58.393046Z", "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"id":"33649329-31bb-4b3d-a0d0-5cedf07c10c7", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"PostgreSQL-16", "upgradable_version":[], "endpoint":null, "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-24T18:23:58.393046Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"}, "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-07-23T18:23:58.393046Z", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 552.016196ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"33649329-31bb-4b3d-a0d0-5cedf07c10c7", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"PostgreSQL-16", "upgradable_version":[], "endpoint":null, "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-24T18:23:58.393046Z"}, "is_ha_cluster":fa[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"id":"33649329-31bb-4b3d-a0d0-5cedf07c10c7", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"initializing", "engine":"PostgreSQL-16", "upgradable_version":[], "endpoint":null, "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem", "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers", "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem", "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-24T18:23:58.393046Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"}, "init_settings":[], [...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"id":"33649329-31bb-4b3d-a0d0-5cedf07c10c7", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "engine":"PostgreSQL-16", "upgradable_version":[], "endpoint":{"ip":"51.159.8.83", "port":20049, "name":null, "id":"d07c5586-2d4d-40e3-ba69-bc72613a71c8", "load_balancer":{}}, "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem", "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers", "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem", "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-24T18:23:58.393046Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"ty[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"rules":[{"ip":"0.0.0.0/0", "port":20049, "protocol":"tcp", "direction":"inbound", "action":"allow", "description":"Allow All"}, {"ip":"1.2.3.4/32", "port":20049, "protocol":"tcp", "direction":"inbound", "action":"allow", "description":"Allow 1.2.3.4/32"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/33649329-31bb-4b3d-a0d0-5cedf07c10c7/acls
        method: POST
      response:
        body: '{"rules":[{"ip":"0.0.0.0/0", "port":20049, "protocol":"tcp", "direction":"inbound", "action":"allow", "description":"Allow All"}, {"ip":"1.2.3.4/32", "port":20049, "protocol":"tcp", "direction":"inbound", "action":"allow", "description":"Allow 1.2.3.4/32"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 300.078587ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: '{"rules":[{"ip":"0.0.0.0/0", "port":20049, "protocol":"tcp", "direction":"inbound", "action":"allow", "description":"Allow All"}, {"ip":"1.2.3.4/32", "port":20049, "protocol":"tcp", "direction":"inbound", "action":"allow", "description":"Allow 1.2.3.4/32"}, {"ip":"10.10.10.10/32", "port":20049, "protocol":"tcp", "direction":"inbound", "action":"allow", "description":"Allow 10.10.10.10/32"}, {"ip":"192.168.1.0/32", "port":20049, "protocol":"tcp", "direction":"inbound", "action":"allow", "description":"Allow 192.168.1.0/32"}], "total_count":4}'
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/33649329-31bb-4b3d-a0d0-5cedf07c10c7/acls?page=1
        method: GET
      response:
        body: '{"rules":[{"ip":"0.0.0.0/0", "port":20049, "protocol":"tcp", "direction":"inbound", "action":"allow", "description":"Allow All"}, {"ip":"1.2.3.4/32", "port":20049, "protocol":"tcp", "direction":"inbound", "action":"allow", "description":"Allow 1.2.3.4/32"}, {"ip":"10.10.10.10/32", "port":20049, "protocol":"tcp", "direction":"inbound", "action":"allow", "description":"Allow 10.10.10.10/32"}, {"ip":"192.168.1.0/32", "port":20049, "protocol":"tcp", "direction":"inbound", "action":"allow", "description":"Allow 192.168.1.0/32"}], "total_count":4}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.321207ms
[...]
