---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"cli-test","engine":"PostgreSQL-12","user_name":"foobar","password":"{4xdl*#QOoP+\u00263XRkGA)]","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"61458ec3-4378-457f-b3f1-4dcd40f9d3ac","name":"cli-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-12","upgradable_version":[{"id":"91550da0-b896-4f3a-aa4d-aa30893d0a89","name":"PostgreSQL-14","version":"14","minor_version":"14.6"},{"id":"46701e85-b5f4-479f-a92d-cc4f31a9eeb9","name":"PostgreSQL-13","version":"13","minor_version":"13.9"}],"endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2023-01-24T10:17:17.075310Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/61458ec3-4378-457f-b3f1-4dcd40f9d3ac
    method: GET
  response:
    body: '{"id":"61458ec3-4378-457f-b3f1-4dcd40f9d3ac","name":"cli-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-12","upgradable_version":[{"id":"91550da0-b896-4f3a-aa4d-aa30893d0a89","name":"PostgreSQL-14","version":"14","minor_version":"14.6"},{"id":"46701e85-b5f4-479f-a92d-cc4f31a9eeb9","name":"PostgreSQL-13","version":"13","minor_version":"13.9"}],"endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2023-01-24T10:17:17.075310Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/61458ec3-4378-457f-b3f1-4dcd40f9d3ac
    method: GET
  response:
    body: '{"id":"61458ec3-4378-457f-b3f1-4dcd40f9d3ac","name":"cli-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","engine":"PostgreSQL-12","upgradable_version":[{"id":"91550da0-b896-4f3a-aa4d-aa30893d0a89","name":"PostgreSQL-14","version":"14","minor_version":"14.6"},{"id":"46701e85-b5f4-479f-a92d-cc4f31a9eeb9","name":"PostgreSQL-13","version":"13","minor_version":"13.9"}],"endpoint":{"ip":"195.154.70.133","port":42461,"name":null,"id":"07f5898a-b8ff-4fa2-85fb-ab3fe2da163b","load_balancer":{}},"tags":[],"settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[{"ip":"195.154.70.133","port":42461,"name":null,"id":"07f5898a-b8ff-4fa2-85fb-ab3fe2da163b","load_balancer":{}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2023-01-24T10:17:17.075310Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
