---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"a01cc526-dcf8-4322-8904-66c45cec27af", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-24T18:52:20.932737Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"}, "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-07-23T18:52:20.932737Z", "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"id":"a01cc526-dcf8-4322-8904-66c45cec27af", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-24T18:52:20.932737Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"}, "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-07-23T18:52:20.932737Z", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 630.41381ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"a01cc526-dcf8-4322-8904-66c45cec27af", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[], "backup_schedule":{"fre[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"id":"a01cc526-dcf8-4322-8904-66c45cec27af", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"initializing", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem", "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers", "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem", "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-24T18:52:20.932737Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"}, "init_settings":[], [...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"id":"a01cc526-dcf8-4322-8904-66c45cec27af", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":{"ip":"195.154.70.155", "port":10639, "name":null, "id":"83185a66-ba27-45b0-b36c-14119ceb5fee", "load_balancer":{}}, "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem", "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers", "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem", "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-24T18:52:20.932737Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"ty[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"id":"24c36ef7-8f7a-426d-89ad-6733da273bb2", "instance_id":"a01cc526-dcf8-4322-8904-66c45cec27af", "database_name":"rdb", "name":"will_be_exported", "status":"creating", "size":null, "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-07-23T18:55:38.480626Z", "updated_at":null, "instance_name":"cli-test", "download_url":null, "download_url_expires_at":null, "same_region":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
        method: POST
      response:
        body: '{"id":"24c36ef7-8f7a-426d-89ad-6733da273bb2", "instance_id":"a01cc526-dcf8-4322-8904-66c45cec27af", "database_name":"rdb", "name":"will_be_exported", "status":"creating", "size":null, "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-07-23T18:55:38.480626Z", "updated_at":null, "instance_name":"cli-test", "download_url":null, "download_url_expires_at":null, "same_region":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 649.720867ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: '{"id":"24c36ef7-8f7a-426d-89ad-6733da273bb2", "instance_id":"a01cc526-dcf8-4322-8904-66c45cec27af", "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2106, "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-07-23T18:55:38.480626Z", "updated_at":"2025-07-23T18:55:40.438831Z", "instance_name":"cli-test", "download_url":"https://s3.nl-ams.scw.cloud/65940610-0e5e-4a98-9306-568aa4eb3673/a01cc526-dc[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{"database_backups":[{"id":"24c36ef7-8f7a-426d-89ad-6733da273bb2", "instance_id":"a01cc526-dcf8-4322-8904-66c45cec27af", "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2106, "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-07-23T18:55:38.480626Z", "updated_at":"2025-07-23T18:55:40.438831Z", "instance_name":"cli-test", "download_url":"https://s3.nl-ams.scw.cloud/65940610-0e5e-4a98-9306-568aa4eb3673/a01cc526-dcf8-4322-8904-66c45cec27af/24c36ef7-8f7a-426d-89ad-6733da273bb2.custom?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=SCW2HJV1WMKPE0CKDAW5%2F20250723%2Fnl-ams%2Fs3%2Faws4_request&X-Amz-Date=20250723T185610Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=a3f97eb956abece7b3ee8238d1be5a6e0376f3fd2eaf1c2b3d85fe0b7fb19a8a", "download_url_expires_at":"2025-07-24T18:56:10.265331Z", "same_region":false, "region":"fr-par"}, {"id":"30d0039e-81d6-4664-ba4c-269962c23fe6", "instance_id":"a01cc526-dcf8-4322-8904-66c45cec27af", "database_name":"rdb", "name":"will_not_be_exported", "status":"ready", "size":2106, "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-07-23T18:55:54.229772Z", "updated_at":"2025-07-23T18:55:56.331890Z", "instance_name":"cli-test", "download_url":null, "download_url_expires_at":null, "same_region":false, "region":"fr-par"}], "total_count":2}'
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?instance_id=a01cc526-dcf8-4322-8904-66c45cec27af&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"database_backups":[{"id":"24c36ef7-8f7a-426d-89ad-6733da273bb2", "instance_id":"a01cc526-dcf8-4322-8904-66c45cec27af", "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2106, "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-07-23[...]
[...]
