---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"1160dd82-33f4-44f0-91af-c110be874f21", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-08-08T09:55:02.766413Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"}, "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-08-07T09:55:02.766413Z", "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"id":"1160dd82-33f4-44f0-91af-c110be874f21", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-08-08T09:55:02.766413Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"}, "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-08-07T09:55:02.766413Z", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 635.439054ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"1160dd82-33f4-44f0-91af-c110be874f21", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[], "backup_schedule":{"fre[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"id":"1160dd82-33f4-44f0-91af-c110be874f21", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"initializing", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem", "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers", "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem", "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-08-08T09:55:02.766413Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"}, "init_settings":[], [...]
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"id":"1160dd82-33f4-44f0-91af-c110be874f21", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":{"ip":"51.159.204.200", "port":21612, "name":null, "id":"48a5b830-ebcb-4147-b322-e7abe7c84826", "load_balancer":{}}, "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem", "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers", "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem", "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-08-08T09:55:02.766413Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"ty[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"id":"c5ef2c35-2c5d-4fcb-9ced-9583b9a65203", "instance_id":"1160dd82-33f4-44f0-91af-c110be874f21", "database_name":"rdb", "name":"will_be_exported", "status":"creating", "size":null, "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-08-07T09:58:20.329514Z", "updated_at":null, "instance_name":"cli-test", "download_url":null, "download_url_expires_at":null, "same_region":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
        method: POST
      response:
        body: '{"id":"c5ef2c35-2c5d-4fcb-9ced-9583b9a65203", "instance_id":"1160dd82-33f4-44f0-91af-c110be874f21", "database_name":"rdb", "name":"will_be_exported", "status":"creating", "size":null, "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-08-07T09:58:20.329514Z", "updated_at":null, "instance_name":"cli-test", "download_url":null, "download_url_expires_at":null, "same_region":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 696.118544ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: '{"id":"c5ef2c35-2c5d-4fcb-9ced-9583b9a65203", "instance_id":"1160dd82-33f4-44f0-91af-c110be874f21", "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2106, "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-08-07T09:58:20.329514Z", "updated_at":"2025-08-07T09:58:23.354255Z", "instance_name":"cli-test", "download_url":"https://s3.nl-ams.scw.cloud/65940610-0e5e-4a98-9306-568aa4eb3673/1160dd82-33[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{"database_backups":[{"id":"c5ef2c35-2c5d-4fcb-9ced-9583b9a65203", "instance_id":"1160dd82-33f4-44f0-91af-c110be874f21", "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2106, "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-08-07T09:58:20.329514Z", "updated_at":"2025-08-07T09:58:23.354255Z", "instance_name":"cli-test", "download_url":"https://s3.nl-ams.scw.cloud/65940610-0e5e-4a98-9306-568aa4eb3673/1160dd82-33f4-44f0-91af-c110be874f21/c5ef2c35-2c5d-4fcb-9ced-9583b9a65203.custom?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=SCW2HJV1WMKPE0CKDAW5%2F20250807%2Fnl-ams%2Fs3%2Faws4_request&X-Amz-Date=20250807T095852Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=2da33c3e24d20359a084fe76c52def76898b2f62a7faf5b74592b6a39f89216f", "download_url_expires_at":"2025-08-08T09:58:52.147210Z", "same_region":false, "region":"fr-par"}, {"id":"c925f92a-1514-43be-8b2e-7a23dabd41a1", "instance_id":"1160dd82-33f4-44f0-91af-c110be874f21", "database_name":"rdb", "name":"will_not_be_exported", "status":"ready", "size":2106, "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-08-07T09:58:36.155471Z", "updated_at":"2025-08-07T09:58:39.743327Z", "instance_name":"cli-test", "download_url":null, "download_url_expires_at":null, "same_region":false, "region":"fr-par"}], "total_count":2}'
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?instance_id=1160dd82-33f4-44f0-91af-c110be874f21&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"database_backups":[{"id":"c5ef2c35-2c5d-4fcb-9ced-9583b9a65203", "instance_id":"1160dd82-33f4-44f0-91af-c110be874f21", "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2106, "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-08-07[...]
[...]
