---
version: 1
interactions:
- request:
    body: '{"id":"00d66909-6e04-4c1a-867a-bb7d31c9848a", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"2e670f5c-493b-443f-92bd-986f23da2750",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.12"}, {"id":"2988cc5e-e0dd-48ba-bd8b-b394db1fc6b9",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.9"}, {"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.4"}], "endpoint":null,
      "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7,
      "disabled":false, "next_run_at":"2023-11-09T21:02:27.280764Z"}, "is_ha_cluster":false,
      "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000,
      "class":"lssd"}, "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30,
      "total_disk_retention":null}, "backup_same_region":false, "maintenances":[],
      "created_at":"2023-11-08T21:02:27.280764Z", "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"00d66909-6e04-4c1a-867a-bb7d31c9848a", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"2e670f5c-493b-443f-92bd-986f23da2750",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.12"}, {"id":"2988cc5e-e0dd-48ba-bd8b-b394db1fc6b9",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.9"}, {"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.4"}], "endpoint":null,
      "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7,
      "disabled":false, "next_run_at":"2023-11-09T21:02:27.280764Z"}, "is_ha_cluster":false,
      "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000,
      "class":"lssd"}, "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30,
      "total_disk_retention":null}, "backup_same_region":false, "maintenances":[],
      "created_at":"2023-11-08T21:02:27.280764Z", "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"00d66909-6e04-4c1a-867a-bb7d31c9848a", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"2e670f5c-493b-443f-92bd-986f23da2750",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.12"}, {"id":"2988cc5e-e0dd-48ba-bd8b-b394db1fc6b9",
      "name":"PostgreSQL-14", "version":"14", "minor_[...]
[...]
- request:
    body: '{"id":"00d66909-6e04-4c1a-867a-bb7d31c9848a", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"initializing",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"2e670f5c-493b-443f-92bd-986f23da2750",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.12"}, {"id":"2988cc5e-e0dd-48ba-bd8b-b394db1fc6b9",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.9"}, {"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.4"}], "endpoint":null,
      "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2023-11-09T21:02:27.280764Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
- request:
    body: '{"id":"00d66909-6e04-4c1a-867a-bb7d31c9848a", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "engine":"PostgreSQL-12",
      "upgradable_version":[{"id":"2e670f5c-493b-443f-92bd-986f23da2750", "name":"PostgreSQL-13",
      "version":"13", "minor_version":"13.12"}, {"id":"2988cc5e-e0dd-48ba-bd8b-b394db1fc6b9",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.9"}, {"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.4"}], "endpoint":{"ip":"51.159.204.209",
      "port":7366, "name":null, "id":"d3954504-7487-47a2-a80b-ef4ad78db8d4", "load_balancer":{}},
      "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2023-11-09T21:02:27.280764Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
- request:
    body: '{"id":"b7ef526e-1b8d-4b66-ac37-1417ca648f63", "instance_id":"00d66909-6e04-4c1a-867a-bb7d31c9848a",
      "database_name":"rdb", "name":"will_be_exported", "status":"creating", "size":null,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2023-11-08T21:05:00.664762Z",
      "updated_at":null, "instance_name":"cli-test", "download_url":null, "download_url_expires_at":null,
      "same_region":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
    method: POST
  response:
    body: '{"id":"b7ef526e-1b8d-4b66-ac37-1417ca648f63", "instance_id":"00d66909-6e04-4c1a-867a-bb7d31c9848a",
      "database_name":"rdb", "name":"will_be_exported", "status":"creating", "size":null,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2023-11-08T21:05:00.664762Z",
      "updated_at":null, "instance_name":"cli-test", "download_url":null, "download_url_expires_at":null,
      "same_region":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"b7ef526e-1b8d-4b66-ac37-1417ca648f63", "instance_id":"00d66909-6e04-4c1a-867a-bb7d31c9848a",
      "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2107,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2023-11-08T21:05:00.664762Z",
      "updated_at":"2023-11-08T21:05:02.834545Z", "instance_name":"cli-test", "download_url":"https://s3.nl-ams.scw.cloud/65940610-0e5e-4a98-9306-568aa4eb3673/00d66909-6e04-4c1a-867a-bb7d31c9848a/b7ef526e[...]
- request:
    body: '{"database_backups":[{"id":"b7ef526e-1b8d-4b66-ac37-1417ca648f63", "instance_id":"00d66909-6e04-4c1a-867a-bb7d31c9848a",
      "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2107,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2023-11-08T21:05:00.664762Z",
      "updated_at":"2023-11-08T21:05:02.834545Z", "instance_name":"cli-test", "download_url":"https://s3.nl-ams.scw.cloud/65940610-0e5e-4a98-9306-568aa4eb3673/00d66909-6e04-4c1a-867a-bb7d31c9848a/b7ef526e-1b8d-4b66-ac37-1417ca648f63.custom?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=SCW2HJV1WMKPE0CKDAW5%2F20231108%2Fnl-ams%2Fs3%2Faws4_request&X-Amz-Date=20231108T210533Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=8b08f6e62430e9c11c90803c26f55f15bf8eb3dbc965e607846c7c26d0deabc5",
      "download_url_expires_at":"2023-11-09T21:05:33.123308Z", "same_region":false,
      "region":"fr-par"}, {"id":"851e3fb2-343e-47d7-a2ff-52095337af70", "instance_id":"00d66909-6e04-4c1a-867a-bb7d31c9848a",
      "database_name":"rdb", "name":"will_not_be_exported", "status":"ready", "size":2107,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2023-11-08T21:05:16.867888Z",
      "updated_at":"2023-11-08T21:05:18.673868Z", "instance_name":"cli-test", "download_url":null,
      "download_url_expires_at":null, "same_region":false, "region":"fr-par"}], "total_count":2}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?instance_id=00d66909-6e04-4c1a-867a-bb7d31c9848a&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"database_backups":[{"id":"b7ef526e-1b8d-4b66-ac37-1417ca648f63", "instance_id":"00d66909-6e04-4c1a-867a-bb7d31c9848a",
      "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2107,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2023-11-08T21:05:00.66[...]
[...]
