---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"b7cb4229-6ccb-42f7-8909-8c387abf007d", "name":"pn-blissful-satoshi", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T09:32:16.435260Z", "updated_at":"2025-07-24T09:32:16.435260Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"fcd9dab7-1a18-4e60-90d8-db66b46d38a8", "created_at":"2025-07-24T09:32:16.435260Z", "updated_at":"2025-07-24T09:32:16.435260Z", "subnet":"172.16.236.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"b7cb4229-6ccb-42f7-8909-8c387abf007d", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"5b7086ed-8da6-4b49-93d9-533eb98f66f3", "created_at":"2025-07-24T09:32:16.435260Z", "updated_at":"2025-07-24T09:32:16.435260Z", "subnet":"fd63:256c:45f7:3f92::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"b7cb4229-6ccb-42f7-8909-8c387abf007d", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"b7cb4229-6ccb-42f7-8909-8c387abf007d", "name":"pn-blissful-satoshi", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T09:32:16.435260Z", "updated_at":"2025-07-24T09:32:16.435260Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"fcd9dab7-1a18-4e60-90d8-db66b46d38a8", "created_at":"2025-07-24T09:32:16.435260Z", "updated_at":"2025-07-24T09:32:16.435260Z", "subnet":"172.16.236.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"b7cb4229-6ccb-42f7-8909-8c387abf007d", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"5b7086ed-8da6-4b49-93d9-533eb98f66f3", "created_at":"2025-07-24T09:32:16.435260Z", "updated_at":"2025-07-24T09:32:16.435260Z", "subnet":"fd63:256c:45f7:3f92::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"b7cb4229-6ccb-42f7-8909-8c387abf007d", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 857.973324ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"e4f29dcf-5733-4c2f-8306-3a5c0357fac8", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-25T09:32:17.311216Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"}, "init_settings":[], "endpoints":[{"ip":"172.16.236.2", "port":5432, "name":null, "id":"56dc51b1-8eaf-4892-949c-fd24d0686951", "private_network":{"private_network_id":"b7cb4229-6ccb-42f7-8909-8c387abf007d", "service_ip":"172.16.236.2/22", "zone":"fr-par-1", "provisioning_mode":"ipam"}}], "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-07-24T09:32:17.311216Z", "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"id":"e4f29dcf-5733-4c2f-8306-3a5c0357fac8", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"e4f29dcf-5733-4c2f-8306-3a5c0357fac8", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[], "backup_schedule":{"fre[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"id":"e4f29dcf-5733-4c2f-8306-3a5c0357fac8", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem", "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers", "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem", "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-25T09:32:17.311216Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"}, "init_settings":[], [...]
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"total_count":1, "ips":[{"id":"e4bb891b-fe74-433b-aff3-8177e3cde40c", "address":"172.16.236.2/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "is_ipv6":false, "created_at":"2025-07-24T09:32:19.642625Z", "updated_at":"2025-07-24T09:32:57.398694Z", "source":{"subnet_id":"fcd9dab7-1a18-4e60-90d8-db66b46d38a8"}, "resource":{"type":"rdb_instance", "id":"e4f29dcf-5733-4c2f-8306-3a5c0357fac8", "mac_address":"02:00:00:14:3C:B9", "name":"cli-test"}, "tags":["managed", "scwdbaas"], "reverses":[], "region":"fr-par", "zone":null}]}'
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=e4f29dcf-5733-4c2f-8306-3a5c0357fac8&resource_type=rdb_instance
        method: GET
      response:
        body: '{"total_count":1, "ips":[{"id":"e4bb891b-fe74-433b-aff3-8177e3cde40c", "address":"172.16.236.2/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "is_ipv6":false, "created_at":"2025-07-24T09:32:19.642625Z", "updated_at":"2025-07-24T09:32:57.398694Z", "source":{"subnet_id":"fcd9dab7-1a18-4e60-90d8-db66b46d38a8"}, "resource":{"type":"rdb_instance", "id":"e4f29dcf-5733-4c2f-8306-3a5c0357fac8", "mac_address":"02:00:00:14:3C:B9", "name":"cli-test"}, "tags":["managed", "scwdbaas"], "reverses":[], "region":"fr-par", "zone":null}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.440074ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"instance","resource_id":"e4f29dcf-5733-4c2f-8306-3a5c0357fac8","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/e4f29dcf-5733-4c2f-8306-3a5c0357fac8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"e4f29dcf-5733-4c2f-8306-3a5c0357fac8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 77.13393ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b7cb4229-6ccb-42f7-8909-8c387abf007d
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 2.277987928s
