---
version: 1
interactions:
- request:
    body: '{"id":"8f9569a3-c65a-442f-a566-3a2a009b1b88", "name":"pn-dazzling-hodgkin",
      "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-11-20T09:33:34.903844Z",
      "updated_at":"2024-11-20T09:33:34.903844Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "subnets":[{"id":"930e86c5-a43e-4939-af93-2915dcb180f5", "created_at":"2024-11-20T09:33:34.903844Z",
      "updated_at":"2024-11-20T09:33:34.903844Z", "subnet":"172.16.88.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "private_network_id":"8f9569a3-c65a-442f-a566-3a2a009b1b88", "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},
      {"id":"01ad1259-98fb-47e0-adc4-92f9c78b6498", "created_at":"2024-11-20T09:33:34.903844Z",
      "updated_at":"2024-11-20T09:33:34.903844Z", "subnet":"fd49:821a:a311:1036::/64",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"8f9569a3-c65a-442f-a566-3a2a009b1b88",
      "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}], "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"8f9569a3-c65a-442f-a566-3a2a009b1b88", "name":"pn-dazzling-hodgkin",
      "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-11-20T09:33:34.903844Z",
      "updated_at":"2024-11-20T09:33:34.903844Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "subnets":[{"id":"930e86c5-a43e-4939-af93-2915dcb180f5", "created_at":"2024-11-20T09:33:34.903844Z",
      "updated_at":"2024-11-20T09:33:34.903844Z", "subnet":"172.16.88.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "private_network_id":"8f9569a3-c65a-442f-a566-3a2a009b1b88", "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},
      {"id":"01ad1259-98fb-47e0-adc4-92f9c78b6498", "created_at":"2024-11-20T09:33:34.903844Z",
      "updated_at":"2024-11-20T09:33:34.903844Z", "subnet":"fd49:821a:a311:1036::/64",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"8f9569a3-c65a-442f-a566-3a2a009b1b88",
      "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}], "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"085d86ca-6636-4d36-a1d6-700f9226a10d", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-21T09:33:35.805794Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.88.2", "port":5432, "name":null,
      "id":"c7ef11bb-76f1-4345-9bdf-94b0c96edb2a", "private_network":{"private_network_id":"8f9569a3-c65a-442f-a566-3a2a009b1b88",
      "service_ip":"172.16.88.2/22", "zone":"fr-par-1", "provisioning_mode":"ipam"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2024-11-20T09:33:35.805794Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"085d86ca-6636-4d36-a1d6-700f9226a10d", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-21T09:33:35.805794Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.88.2", "port":5432, "name":null,
      "id":"c7ef11bb-76f1-4345-9bdf-94b0c96edb2a", "private_network":{"private_network_id":"8f9569a3-c65a-442f-a566-3a2a009b1b88",
      "service_ip":"172.16.88.2/22", "zone":"fr-par-1", "provisioning_mode":"ipam"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2024-11-20T09:33:35.805794Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"085d86ca-6636-4d36-a1d6-700f9226a10d", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-21T09:33:35.805794Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"085d86ca-6636-4d36-a1d6-700f9226a10d", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"initializing",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-21T09:33:35.805794Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
[...]
- request:
    body: '{"id":"085d86ca-6636-4d36-a1d6-700f9226a10d", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":{"ip":"51.158.57.112", "port":22370, "name":null,
      "id":"62a1b1f3-40a4-49c8-b8c8-fc9bcded236d", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-21T09:33:35.805794Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
[...]
- request:
    body: '{"total_count":1, "ips":[{"id":"55728b4a-a24f-4dd6-87db-5916664775d4",
      "address":"172.16.88.2/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "is_ipv6":false, "created_at":"2024-11-20T09:33:36.384032Z", "updated_at":"2024-11-20T09:34:07.565922Z",
      "source":{"subnet_id":"930e86c5-a43e-4939-af93-2915dcb180f5"}, "resource":{"type":"rdb_instance",
      "id":"085d86ca-6636-4d36-a1d6-700f9226a10d", "mac_address":"02:00:00:12:0A:8F",
      "name":"cli-test"}, "tags":["managed", "scwdbaas"], "reverses":[], "region":"fr-par",
      "zone":null}]}'
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=085d86ca-6636-4d36-a1d6-700f9226a10d&resource_type=rdb_instance
    method: GET
  response:
    body: '{"total_count":1, "ips":[{"id":"55728b4a-a24f-4dd6-87db-5916664775d4",
      "address":"172.16.88.2/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "is_ipv6":false, "created_at":"2024-11-20T09:33:36.384032Z", "updated_at":"2024-11-20T09:34:07.565922Z",
      "source":{"subnet_id":"930e86c5-a43e-4939-af93-2915dcb180f5"}, "resource":{"type":"rdb_instance",
      "id":"085d86ca-6636-4d36-a1d6-700f9226a10d", "mac_address":"02:00:00:12:0A:8F",
      "name":"cli-test"}, "tags":["managed", "scwdbaas"], "reverses":[], "region":"fr-par",
      "zone":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"085d86ca-6636-4d36-a1d6-700f9226a10d","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/085d86ca-6636-4d36-a1d6-700f9226a10d
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"085d86ca-6636-4d36-a1d6-700f9226a10d","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8f9569a3-c65a-442f-a566-3a2a009b1b88
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
