---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"10b1c4a3-a5e7-4c68-a543-fa735b92cabd", "name":"pn-suspicious-liskov", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T08:57:07.671005Z", "updated_at":"2025-07-24T08:57:07.671005Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"c060164f-0c92-4694-85a3-26b28602bd2d", "created_at":"2025-07-24T08:57:07.671005Z", "updated_at":"2025-07-24T08:57:07.671005Z", "subnet":"172.16.204.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"10b1c4a3-a5e7-4c68-a543-fa735b92cabd", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"d967d9f4-cc76-442f-8a44-8c5d256e9746", "created_at":"2025-07-24T08:57:07.671005Z", "updated_at":"2025-07-24T08:57:07.671005Z", "subnet":"fd63:256c:45f7:f3d2::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"10b1c4a3-a5e7-4c68-a543-fa735b92cabd", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"10b1c4a3-a5e7-4c68-a543-fa735b92cabd", "name":"pn-suspicious-liskov", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T08:57:07.671005Z", "updated_at":"2025-07-24T08:57:07.671005Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"c060164f-0c92-4694-85a3-26b28602bd2d", "created_at":"2025-07-24T08:57:07.671005Z", "updated_at":"2025-07-24T08:57:07.671005Z", "subnet":"172.16.204.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"10b1c4a3-a5e7-4c68-a543-fa735b92cabd", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"d967d9f4-cc76-442f-8a44-8c5d256e9746", "created_at":"2025-07-24T08:57:07.671005Z", "updated_at":"2025-07-24T08:57:07.671005Z", "subnet":"fd63:256c:45f7:f3d2::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"10b1c4a3-a5e7-4c68-a543-fa735b92cabd", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 785.224874ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"895903f3-914a-41ff-b958-e277c8637a95", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-25T08:57:08.784339Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"}, "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null, "id":"170d3f59-faa1-4bd0-ac8f-e0dc996d9a33", "private_network":{"private_network_id":"10b1c4a3-a5e7-4c68-a543-fa735b92cabd", "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}], "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-07-24T08:57:08.784339Z", "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"id":"895903f3-914a-41ff-b958-e277c8637a95", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"895903f3-914a-41ff-b958-e277c8637a95", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[], "backup_schedule":{"fre[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"id":"895903f3-914a-41ff-b958-e277c8637a95", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"initializing", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":null, "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem", "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers", "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem", "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-25T08:57:08.784339Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"}, "init_settings":[], [...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"id":"895903f3-914a-41ff-b958-e277c8637a95", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "engine":"PostgreSQL-15", "upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d", "name":"PostgreSQL-16", "version":"16", "minor_version":"16.9"}], "endpoint":{"ip":"51.159.75.144", "port":19905, "name":null, "id":"60dfad19-4d50-4e24-836d-3537dc46f541", "load_balancer":{}}, "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem", "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers", "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem", "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false, "next_run_at":"2025-07-25T08:57:08.784339Z"}, "is_ha_cluster":false, "read_replicas":[], "node_type":"db-dev-s", "volume":{"ty[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"ip":"172.16.0.3", "port":5432, "name":null, "id":"170d3f59-faa1-4bd0-ac8f-e0dc996d9a33", "private_network":{"private_network_id":"10b1c4a3-a5e7-4c68-a543-fa735b92cabd", "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}'
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/170d3f59-faa1-4bd0-ac8f-e0dc996d9a33
        method: GET
      response:
        body: '{"ip":"172.16.0.3", "port":5432, "name":null, "id":"170d3f59-faa1-4bd0-ac8f-e0dc996d9a33", "private_network":{"private_network_id":"10b1c4a3-a5e7-4c68-a543-fa735b92cabd", "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.796891ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"total_count":0, "ips":[]}'
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=895903f3-914a-41ff-b958-e277c8637a95&resource_type=rdb_instance
        method: GET
      response:
        body: '{"total_count":0, "ips":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.802637ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"instance","resource_id":"895903f3-914a-41ff-b958-e277c8637a95","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/895903f3-914a-41ff-b958-e277c8637a95
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"895903f3-914a-41ff-b958-e277c8637a95","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 70.584075ms
    - id: 23
      request:
        host: api.scaleway.com
        body: '{"message":"internal error"}'
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/10b1c4a3-a5e7-4c68-a543-fa735b92cabd
        method: DELETE
      response:
        body: '{"message":"internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 5.071148752s
[...]
