---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"pn-nifty-mendeleev","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":null,"subnets":null,"default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/9c221b76-bcbb-4adc-a97b-48148a1b5330","id":"9c221b76-bcbb-4adc-a97b-48148a1b5330","name":"pn-nifty-mendeleev","tags":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-09-23T15:10:51.626910Z","updated_at":"2026-09-23T15:10:51.626910Z","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","subnets":[{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/ae52730b-d2e9-4093-bca3-30b949f32442","id":"ae52730b-d2e9-4093-bca3-30b949f32442","created_at":"2026-09-23T15:10:51.626910Z","updated_at":"2026-09-23T15:10:51.626910Z","subnet":"172.16.0.0/22","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","private_network_id":"9c221b76-bcbb-4adc-a97b-48148a1b5330","vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964","region":"fr-par"},{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/df8e0505-3446-4e3c-8b86-c6e906d2baf1","id":"df8e0505-3446-4e3c-8b86-c6e906d2baf1","created_at":"2026-09-23T15:10:51.626910Z","updated_at":"2026-09-23T15:10:51.626910Z","subnet":"fdb9:eb31:3ccc:a464::/64","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","private_network_id":"9c221b76-bcbb-4adc-a97b-48148a1b5330","vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964","region":"fr-par"}],"vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964","dhcp_enabled":true,"default_route_propagation_enabled":false,"has_object_storage_private_access":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 638.120521ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 8.264888ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-test","engine":"PostgreSQL-15","user_name":"foobar","password":"{4xdl*#QOoP+\u00263XRkGA)]","node_type":"db-dev-s","is_ha_cluster":false,"high_availability_mode":"unknown_high_availability_mode","disable_backup":false,"tags":null,"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"9c221b76-bcbb-4adc-a97b-48148a1b5330","service_ip":"172.16.0.3/22"}},{"load_balancer":{}}],"backup_same_region":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"id":"5771ed2c-0393-4f4e-b2db-2d31582a60b6","name":"cli-test","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"provisioning","engine":"PostgreSQL-15","upgradable_version":[{"id":"61c89bd6-9dc4-47d8-8f6c-120329e6d5bb","name":"PostgreSQL-16","version":"16","minor_version":"16.15"},{"id":"16903b5b-dfe2-4a17-b741-46ebb22e1222","name":"PostgreSQL-17","version":"17","minor_version":"17.11"}],"endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false,"next_run_at":"2026-09-24T15:10:52.603276Z"},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000,"class":"lssd"},"init_settings":[],"endpoints":[{"ip":"172.16.0.3","port":5432,"name":null,"id":"53512941-820e-4655-96ef-03fe0ea97020","private_network":{"private_network_id":"9c221b76-bcbb-4adc-a97b-48148a1b5330","service_ip":"172.16.0.3/22","zone":"fr-par-1","provisioning_mode":"static"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"encryption":{"enabled":false},"created_at":"2026-09-23T15:10:52.603276Z","high_availability_mode":"disabled","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.189075095s
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5771ed2c-0393-4f4e-b2db-2d31582a60b6
        method: GET
      response:
        body: '{"id":"5771ed2c-0393-4f4e-b2db-2d31582a60b6","name":"cli-test","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"provisioning","engine":"PostgreSQL-15","upgradable_version":[{"id":"61c89bd6-9dc4-47d[...]
[...]
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5771ed2c-0393-4f4e-b2db-2d31582a60b6
        method: GET
      response:
        body: '{"id":"5771ed2c-0393-4f4e-b2db-2d31582a60b6","name":"cli-test","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"initializing","engine":"PostgreSQL-15","upgradable_version":[{"id":"61c89bd6-9dc4-47d8-8f6c-120329e6d5bb","name":"PostgreSQL-16","version":"16","minor_version":"16.15"},{"id":"16903b5b-dfe2-4a17-b741-46ebb22e1222","name":"PostgreSQL-17","version":"17","minor_version":"17.11"}],"endpoint":null,"tags":[],"settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false,"next_run_at":"2026-09-24T15:10:52.603276Z"},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000,"class":"lssd"},"init_settings":[],"endpoints":[{"ip":"172.16.0.3","port":5432,"name":null,"id":"53512941-820e-4655-96ef-03fe0ea97020","private_network":{"private_network_id":"9c221b76-bcbb-4adc-a97b-48148a1b5330","service_ip":"172.16.0.3/22","zone":"fr-par-1","provisioning_mode":"static"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"encryption":{"enabled":false},"created_at":"2026-09-23T15:10:52.603276Z","high_availability_mode":"disabled","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 125.47672ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        form:
            is_ipv6:
                - "false"
            order_by:
                - created_at_desc
            page:
                - "1"
            resource_id:
                - 5771ed2c-0393-4f4e-b2db-2d31582a60b6
            resource_type:
                - rdb_instance
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=5771ed2c-0393-4f4e-b2db-2d31582a60b6&resource_type=rdb_instance
        method: GET
      response:
        body: '{"total_count":0,"ips":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 112.034955ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5771ed2c-0393-4f4e-b2db-2d31582a60b6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"5771ed2c-0393-4f4e-b2db-2d31582a60b6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 67.762532ms
    - id: 26
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9c221b76-bcbb-4adc-a97b-48148a1b5330
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 2.01752789s
