---
version: 1
interactions:
- request:
    body: '{"id":"6317c3aa-bc97-4b28-93fc-a107af13c157", "name":"pn-modest-chaum",
      "tags":[], "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "created_at":"2025-01-07T14:04:03.611108Z",
      "updated_at":"2025-01-07T14:04:03.611108Z", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "subnets":[{"id":"f484b51e-f9d4-4ac7-8903-594217dcad9b", "created_at":"2025-01-07T14:04:03.611108Z",
      "updated_at":"2025-01-07T14:04:03.611108Z", "subnet":"172.16.192.0/22", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "private_network_id":"6317c3aa-bc97-4b28-93fc-a107af13c157", "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"},
      {"id":"5e1226c1-0a38-475a-8fc1-8b81bac0c7e0", "created_at":"2025-01-07T14:04:03.611108Z",
      "updated_at":"2025-01-07T14:04:03.611108Z", "subnet":"fdcd:e4f1:8712:a687::/64",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "private_network_id":"6317c3aa-bc97-4b28-93fc-a107af13c157",
      "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"}], "vpc_id":"d4535842-cddd-478d-a978-1797d57da787",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"6317c3aa-bc97-4b28-93fc-a107af13c157", "name":"pn-modest-chaum",
      "tags":[], "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "created_at":"2025-01-07T14:04:03.611108Z",
      "updated_at":"2025-01-07T14:04:03.611108Z", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "subnets":[{"id":"f484b51e-f9d4-4ac7-8903-594217dcad9b", "created_at":"2025-01-07T14:04:03.611108Z",
      "updated_at":"2025-01-07T14:04:03.611108Z", "subnet":"172.16.192.0/22", "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "private_network_id":"6317c3aa-bc97-4b28-93fc-a107af13c157", "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"},
      {"id":"5e1226c1-0a38-475a-8fc1-8b81bac0c7e0", "created_at":"2025-01-07T14:04:03.611108Z",
      "updated_at":"2025-01-07T14:04:03.611108Z", "subnet":"fdcd:e4f1:8712:a687::/64",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "private_network_id":"6317c3aa-bc97-4b28-93fc-a107af13c157",
      "vpc_id":"d4535842-cddd-478d-a978-1797d57da787"}], "vpc_id":"d4535842-cddd-478d-a978-1797d57da787",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"9cfb42a8-4147-4855-98fd-38ca76ae8cb1", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:04:04.891145Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null,
      "id":"fcb29c9a-6252-4089-8489-15475927c70e", "private_network":{"private_network_id":"6317c3aa-bc97-4b28-93fc-a107af13c157",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-01-07T14:04:04.891145Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"9cfb42a8-4147-4855-98fd-38ca76ae8cb1", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:04:04.891145Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432, "name":null,
      "id":"fcb29c9a-6252-4089-8489-15475927c70e", "private_network":{"private_network_id":"6317c3aa-bc97-4b28-93fc-a107af13c157",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}],
      "logs_policy":{"max_age_retention":30, "total_disk_retention":null}, "backup_same_region":false,
      "maintenances":[], "encryption":{"enabled":false}, "created_at":"2025-01-07T14:04:04.891145Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"9cfb42a8-4147-4855-98fd-38ca76ae8cb1", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:04:04.891145Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"9cfb42a8-4147-4855-98fd-38ca76ae8cb1", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"initializing",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:04:04.891145Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
- request:
    body: '{"id":"9cfb42a8-4147-4855-98fd-38ca76ae8cb1", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":{"ip":"51.159.114.202", "port":4479, "name":null,
      "id":"11c8115a-1074-4cc1-83dc-39f6b3223d57", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:04:04.891145Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/11c8115a-1074-4cc1-83dc-39f6b3223d57
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"total_count":0, "ips":[]}'
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=9cfb42a8-4147-4855-98fd-38ca76ae8cb1&resource_type=rdb_instance
    method: GET
  response:
    body: '{"total_count":0, "ips":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"9cfb42a8-4147-4855-98fd-38ca76ae8cb1","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9cfb42a8-4147-4855-98fd-38ca76ae8cb1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"9cfb42a8-4147-4855-98fd-38ca76ae8cb1","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/6317c3aa-bc97-4b28-93fc-a107af13c157
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
