---
version: 1
interactions:
- request:
    body: '{"id":"19fe63d7-3a09-4c5b-87ba-0db8206ea38d", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:27:17.263055Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false},
      "created_at":"2025-01-07T14:27:17.263055Z", "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"19fe63d7-3a09-4c5b-87ba-0db8206ea38d", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:27:17.263055Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false},
      "created_at":"2025-01-07T14:27:17.263055Z", "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"19fe63d7-3a09-4c5b-87ba-0db8206ea38d", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:27:17.263055Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"19fe63d7-3a09-4c5b-87ba-0db8206ea38d", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"initializing",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:27:17.263055Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
[...]
- request:
    body: '{"id":"19fe63d7-3a09-4c5b-87ba-0db8206ea38d", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":{"ip":"195.154.71.12", "port":6467, "name":null,
      "id":"4e6e7f82-a155-43c6-a364-925b6413e7c3", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-08T14:27:17.263055Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
[...]
