---
version: 1
interactions:
- request:
    body: '{"id":"144b379c-c3cd-4cee-b63d-31697d122b11", "name":"pn-hungry-merkle",
      "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-11-19T16:36:00.696515Z",
      "updated_at":"2024-11-19T16:36:00.696515Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "subnets":[{"id":"67ca163c-0154-479e-a6af-783cf246f809", "created_at":"2024-11-19T16:36:00.696515Z",
      "updated_at":"2024-11-19T16:36:00.696515Z", "subnet":"172.16.32.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "private_network_id":"144b379c-c3cd-4cee-b63d-31697d122b11", "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},
      {"id":"b8f1e090-38ba-46e1-9ba9-58c1b305b5a2", "created_at":"2024-11-19T16:36:00.696515Z",
      "updated_at":"2024-11-19T16:36:00.696515Z", "subnet":"fd49:821a:a311:e376::/64",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"144b379c-c3cd-4cee-b63d-31697d122b11",
      "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}], "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"144b379c-c3cd-4cee-b63d-31697d122b11", "name":"pn-hungry-merkle",
      "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-11-19T16:36:00.696515Z",
      "updated_at":"2024-11-19T16:36:00.696515Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "subnets":[{"id":"67ca163c-0154-479e-a6af-783cf246f809", "created_at":"2024-11-19T16:36:00.696515Z",
      "updated_at":"2024-11-19T16:36:00.696515Z", "subnet":"172.16.32.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "private_network_id":"144b379c-c3cd-4cee-b63d-31697d122b11", "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},
      {"id":"b8f1e090-38ba-46e1-9ba9-58c1b305b5a2", "created_at":"2024-11-19T16:36:00.696515Z",
      "updated_at":"2024-11-19T16:36:00.696515Z", "subnet":"fd49:821a:a311:e376::/64",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"144b379c-c3cd-4cee-b63d-31697d122b11",
      "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}], "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"message":"PostgreSQL-12 is not available yet"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"message":"PostgreSQL-12 is not available yet"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
