---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"3a8aa406-fba7-42f0-ac05-daebee14aade","name":"cli-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","engine":"PostgreSQL-15","upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d","name":"PostgreSQL-16","version":"16","minor_version":"16.9"}],"endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false,"next_run_at":"2025-08-21T15:01:09.481187Z"},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000,"class":"lssd"},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"encryption":{"enabled":false},"created_at":"2025-08-20T15:01:09.481187Z","region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"id":"3a8aa406-fba7-42f0-ac05-daebee14aade","name":"cli-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","engine":"PostgreSQL-15","upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d","name":"PostgreSQL-16","version":"16","minor_version":"16.9"}],"endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false,"next_run_at":"2025-08-21T15:01:09.481187Z"},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000,"class":"lssd"},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"encryption":{"enabled":false},"created_at":"2025-08-20T15:01:09.481187Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.10892579s
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"3a8aa406-fba7-42f0-ac05-daebee14aade","name":"cli-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","engine":"PostgreSQL-15","upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d","name":"PostgreSQL-16","version":"16","minor_version":"16.9"}],"endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"r[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"id":"3a8aa406-fba7-42f0-ac05-daebee14aade","name":"cli-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"initializing","engine":"PostgreSQL-15","upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d","name":"PostgreSQL-16","version":"16","minor_version":"16.9"}],"endpoint":null,"tags":[],"settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false,"next_run_at":"2025-08-21T15:01:09.481187Z"},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000,"class":"lssd"},"init_settings":[],"endpoints":[],"logs_p[...]
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"id":"3a8aa406-fba7-42f0-ac05-daebee14aade","name":"cli-test","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"ready","engine":"PostgreSQL-15","upgradable_version":[{"id":"1f94fa0f-ff3a-4727-81a2-3e75aa7bf98d","name":"PostgreSQL-16","version":"16","minor_version":"16.9"}],"endpoint":{"ip":"51.159.25.174","port":19079,"name":null,"id":"928514fd-dcfd-4da0-949e-e6e5788d16ff","load_balancer":{}},"tags":[],"settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false,"next_run_at":"2025-08-21T15:01:09.481187Z"},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":500[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"id":"b8b2deb0-9f03-4ff3-9ee2-091a8ac33c13","instance_id":"3a8aa406-fba7-42f0-ac05-daebee14aade","database_name":"rdb","name":"will_be_exported","status":"creating","size":null,"expires_at":"2032-01-02T22:04:05Z","created_at":"2025-08-20T15:04:57.785688Z","updated_at":null,"instance_name":"cli-test","download_url":null,"download_url_expires_at":null,"same_region":false,"region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
        method: POST
      response:
        body: '{"id":"b8b2deb0-9f03-4ff3-9ee2-091a8ac33c13","instance_id":"3a8aa406-fba7-42f0-ac05-daebee14aade","database_name":"rdb","name":"will_be_exported","status":"creating","size":null,"expires_at":"2032-01-02T22:04:05Z","created_at":"2025-08-20T15:04:57.785688Z","updated_at":null,"instance_name":"cli-test","download_url":null,"download_url_expires_at":null,"same_region":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 941.60294ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: '{"id":"b8b2deb0-9f03-4ff3-9ee2-091a8ac33c13","instance_id":"3a8aa406-fba7-42f0-ac05-daebee14aade","database_name":"rdb","name":"will_be_exported","status":"ready","size":2079,"expires_at":"2032-01-02T22:04:05Z","created_at":"2025-08-20T15:04:57.785688Z","updated_at":"2025-08-20T15:05:00.326374Z","instance_name":"cli-test","download_url":"https://s3.nl-ams.scw.cloud/65940610-0e5e-4a98-9306-568aa4eb3673/3a8aa406-fba7-42f0-ac[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"database_backups":[{"id":"b8b2deb0-9f03-4ff3-9ee2-091a8ac33c13","instance_id":"3a8aa406-fba7-42f0-ac05-daebee14aade","database_name":"rdb","name":"will_be_exported","status":"ready","size":2079,"expires_at":"2032-01-02T22:04:05Z","created_at":"2025-08-20T15:04:57.785688Z","updated_at":"2025-08-20T15:05:00.326374Z","instance_name":"cli-test","download_url":"https://s3.nl-ams.scw.cloud/65940610-0e5e-4a98-9306-568aa4eb3673/3a8aa406-fba7-42f0-ac05-daebee14aade/b8b2deb0-9f03-4ff3-9ee2-091a8ac33c13.custom?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=SCW2HJV1WMKPE0CKDAW5%2F20250820%2Fnl-ams%2Fs3%2Faws4_request&X-Amz-Date=20250820T150530Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=44f1d0202f884a55e1ffad050716159a238a30e435bc4f3bba938e3f6bdb184e","download_url_expires_at":"2025-08-21T15:05:30.123993Z","same_region":false,"region":"fr-par"},{"id":"dd013adc-c9c8-453f-bf4e-1c16700c916c","instance_id":"3a8aa406-fba7-42f0-ac05-daebee14aade","database_name":"rdb","name":"will_not_be_exported","status":"ready","size":2079,"expires_at":"2032-01-02T22:04:05Z","created_at":"2025-08-20T15:05:13.766623Z","updated_at":"2025-08-20T15:05:16.217965Z","instance_name":"cli-test","download_url":null,"download_url_expires_at":null,"same_region":false,"region":"fr-par"}],"total_count":2}'
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?instance_id=3a8aa406-fba7-42f0-ac05-daebee14aade&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"database_backups":[{"id":"b8b2deb0-9f03-4ff3-9ee2-091a8ac33c13","instance_id":"3a8aa406-fba7-42f0-ac05-daebee14aade","database_name":"rdb","name":"will_be_exported","status":"ready","size":2079,"expires_at":"2032-01-02T22:04:05Z","created_at":"2025-08-20T15:04:[...]
[...]
