---
version: 1
interactions:
- request:
    body: '{"id":"5373de56-50d3-4058-9aaf-0bc9a70fdad5", "name":"pn-compassionate-lamarr",
      "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2023-12-26T17:37:19.814658Z",
      "updated_at":"2023-12-26T17:37:19.814658Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "subnets":["172.16.28.0/22", "fd63:256c:45f7:8b6e::/64"], "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"5373de56-50d3-4058-9aaf-0bc9a70fdad5", "name":"pn-compassionate-lamarr",
      "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2023-12-26T17:37:19.814658Z",
      "updated_at":"2023-12-26T17:37:19.814658Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "subnets":["172.16.28.0/22", "fd63:256c:45f7:8b6e::/64"], "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"eda4f089-a4ad-44a6-9b7b-53395810730c", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.13"}, {"id":"8af4ebbb-fd08-4038-89f6-9d8c8f1232ca",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.10"}, {"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.5"}], "endpoint":{"port":0,
      "name":null, "id":"4c924e70-8d97-4859-8084-8a6b366e9f6c", "load_balancer":{}},
      "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7,
      "disabled":false, "next_run_at":"2023-12-27T17:37:21.025686Z"}, "is_ha_cluster":false,
      "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000,
      "class":"lssd"}, "init_settings":[], "endpoints":[{"ip":"172.16.28.2", "port":5432,
      "name":null, "id":"75242b54-076d-47bd-b7bd-41274240e677", "private_network":{"private_network_id":"5373de56-50d3-4058-9aaf-0bc9a70fdad5",
      "service_ip":"172.16.28.2/22", "zone":"fr-par-1"}}, {"port":0, "name":null,
      "id":"4c924e70-8d97-4859-8084-8a6b366e9f6c", "load_balancer":{}}], "logs_policy":{"max_age_retention":30,
      "total_disk_retention":null}, "backup_same_region":false, "maintenances":[],
      "created_at":"2023-12-26T17:37:21.025686Z", "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"eda4f089-a4ad-44a6-9b7b-53395810730c", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba",
     [...]
- request:
    body: '{"id":"eda4f089-a4ad-44a6-9b7b-53395810730c", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.13"}, {"id":"8af4ebbb-fd08-4038-89f6-9d8c8f1232ca",
      "name":"PostgreSQL-14", "version":"14", "minor_[...]
[...]
- request:
    body: '{"id":"eda4f089-a4ad-44a6-9b7b-53395810730c", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"initializing",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"f4c1ec41-89e1-48de-b872-b63b779b0dba",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.13"}, {"id":"8af4ebbb-fd08-4038-89f6-9d8c8f1232ca",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.10"}, {"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.5"}], "endpoint":{"port":0,
      "name":null, "id":"4c924e70-8d97-4859-8084-8a6b366e9f6c", "load_balancer":{}},
      "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2023-12-27T17:37:21.025686Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
[...]
- request:
    body: '{"total_count":1, "ips":[{"id":"1a37217e-4c55-489a-91ee-6c6794a3fb3b",
      "address":"172.16.28.2/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "is_ipv6":false, "created_at":"2023-12-26T17:37:21.477413Z", "updated_at":"2023-12-26T17:37:59.545549Z",
      "source":{"subnet_id":"a06be82d-1cda-4bfc-b993-6d2ec63e232f"}, "resource":{"type":"rdb_instance",
      "id":"eda4f089-a4ad-44a6-9b7b-53395810730c", "mac_address":"02:00:00:15:FB:9D",
      "name":"cli-test"}, "tags":["managed", "scwdbaas"], "region":"fr-par", "zone":null}]}'
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=eda4f089-a4ad-44a6-9b7b-53395810730c&resource_type=rdb_instance
    method: GET
  response:
    body: '{"total_count":1, "ips":[{"id":"1a37217e-4c55-489a-91ee-6c6794a3fb3b",
      "address":"172.16.28.2/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "is_ipv6":false, "created_at":"2023-12-26T17:37:21.477413Z", "updated_at":"2023-12-26T17:37:59.545549Z",
      "source":{"subnet_id":"a06be82d-1cda-4bfc-b993-6d2ec63e232f"}, "resource":{"type":"rdb_instance",
      "id":"eda4f089-a4ad-44a6-9b7b-53395810730c", "mac_address":"02:00:00:15:FB:9D",
      "name":"cli-test"}, "tags":["managed", "scwdbaas"], "region":"fr-par", "zone":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"eda4f089-a4ad-44a6-9b7b-53395810730c","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/eda4f089-a4ad-44a6-9b7b-53395810730c
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"eda4f089-a4ad-44a6-9b7b-53395810730c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5373de56-50d3-4058-9aaf-0bc9a70fdad5
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
