---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"pn-beautiful-satoshi","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":null,"subnets":null,"default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/f0a1701d-fe03-406a-ab1f-e5866f4e8c06","id":"f0a1701d-fe03-406a-ab1f-e5866f4e8c06","name":"pn-beautiful-satoshi","tags":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-09-23T15:03:36.606141Z","updated_at":"2026-09-23T15:03:36.606141Z","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","subnets":[{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/4dfb8be0-691f-4af8-b4be-b222ea023370","id":"4dfb8be0-691f-4af8-b4be-b222ea023370","created_at":"2026-09-23T15:03:36.606141Z","updated_at":"2026-09-23T15:03:36.606141Z","subnet":"172.16.4.0/22","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","private_network_id":"f0a1701d-fe03-406a-ab1f-e5866f4e8c06","vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964","region":"fr-par"},{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/743570d5-224d-43ab-bb78-6d1117b3ecc5","id":"743570d5-224d-43ab-bb78-6d1117b3ecc5","created_at":"2026-09-23T15:03:36.606141Z","updated_at":"2026-09-23T15:03:36.606141Z","subnet":"fdb9:eb31:3ccc:e534::/64","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","private_network_id":"f0a1701d-fe03-406a-ab1f-e5866f4e8c06","vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964","region":"fr-par"}],"vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964","dhcp_enabled":true,"default_route_propagation_enabled":false,"has_object_storage_private_access":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 828.304095ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 8.795368ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-test","engine":"PostgreSQL-15","user_name":"foobar","password":"{4xdl*#QOoP+\u00263XRkGA)]","node_type":"db-dev-s","is_ha_cluster":false,"high_availability_mode":"unknown_high_availability_mode","disable_backup":false,"tags":null,"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"f0a1701d-fe03-406a-ab1f-e5866f4e8c06","ipam_config":{}}}],"backup_same_region":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"id":"88eb3afc-8f6b-406d-8ec5-6f50864d9659","name":"cli-test","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"provisioning","engine":"PostgreSQL-15","upgradable_version":[{"id":"61c89bd6-9dc4-47d8-8f6c-120329e6d5bb","name":"PostgreSQL-16","version":"16","minor_version":"16.15"},{"id":"16903b5b-dfe2-4a17-b741-46ebb22e1222","name":"PostgreSQL-17","version":"17","minor_version":"17.11"}],"endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false,"next_run_at":"2026-09-24T15:03:37.647375Z"},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000,"class":"lssd"},"init_settings":[],"endpoints":[{"ip":"172.16.4.2","port":5432,"name":null,"id":"7ff22045-ba1a-4acd-a52e-cf79845e1e56","private_network":{"private_network_id":"f0a1701d-fe03-406a-ab1f-e5866f4e8c06","service_ip":"172.16.4.2/22","zone":"fr-par-1","provisioning_mode":"ipam"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"encryption":{"enabled":false},"created_at":"2026-09-23T15:03:37.647375Z","high_availability_mode":"disabled","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.646457091s
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/88eb3afc-8f6b-406d-8ec5-6f50864d9659
        method: GET
      response:
        body: '{"id":"88eb3afc-8f6b-406d-8ec5-6f50864d9659","name":"cli-test","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"provisioning","engine":"PostgreSQL-15","upgradable_version":[{"id":"61c89bd6-9dc4-47d[...]
[...]
    - id: 14
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/88eb3afc-8f6b-406d-8ec5-6f50864d9659
        method: GET
      response:
        body: '{"id":"88eb3afc-8f6b-406d-8ec5-6f50864d9659","name":"cli-test","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"ready","engine":"PostgreSQL-15","upgradable_version":[{"id":"61c89bd6-9dc4-47d8-8f6c-120329e6d5bb","name":"PostgreSQL-16","version":"16","minor_version":"16.15"},{"id":"16903b5b-dfe2-4a17-b741-46ebb22e1222","name":"PostgreSQL-17","version":"17","minor_version":"17.11"}],"endpoint":null,"tags":[],"settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false,"next_run_at":"2026-09-24T15:03:37.647375Z"},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000,"class":"lssd"},"init_settings":[],"endpoints":[{"ip":"172.16.4.2","port":5432,"name":null,"id":"7ff22045-ba1a-4acd-a52e-cf79845e1e56","private_network":{"private_network_id":"f0a1701d-fe03-406a-ab1f-e5866f4e8c06","service_ip":"172.16.4.2/22","zone":"fr-par-1","provisioning_mode":"ipam"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"encryption":{"enabled":false},"created_at":"2026-09-23T15:03:37.647375Z","high_availability_mode":"disabled","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 105.308186ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        form:
            is_ipv6:
                - "false"
            order_by:
                - created_at_desc
            page:
                - "1"
            resource_id:
                - 88eb3afc-8f6b-406d-8ec5-6f50864d9659
            resource_type:
                - rdb_instance
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=88eb3afc-8f6b-406d-8ec5-6f50864d9659&resource_type=rdb_instance
        method: GET
      response:
        body: '{"total_count":1,"ips":[{"srn":"","id":"7c027893-efd9-4f73-82d4-48db4bb1e3a4","address":"172.16.4.2/22","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","is_ipv6":false,"created_at":"2026-09-23T15:03:38.206184Z","updated_at":"2026-09-23T15:03:58.895892Z","source":{"subnet_id":"4dfb8be0-691f-4af8-b4be-b222ea023370"},"resource":{"type":"rdb_instance","id":"88eb3afc-8f6b-406d-8ec5-6f50864d9659","mac_address":"02:00:00:1F:A1:73","name":"cli-test"},"tags":["managed","scwdbaas"],"reverses":[],"region":"fr-par","zone":null}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 66.397746ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/88eb3afc-8f6b-406d-8ec5-6f50864d9659
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"88eb3afc-8f6b-406d-8ec5-6f50864d9659","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 95.4573ms
    - id: 20
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f0a1701d-fe03-406a-ab1f-e5866f4e8c06
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 1.762703524s
