---
version: 1
interactions:
- request:
    body: '{"id":"ecb7cd08-420c-4cd5-a92d-429c9d0dcea9", "name":"cli-test", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"2e670f5c-493b-443f-92bd-986f23da2750",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.12"}, {"id":"2988cc5e-e0dd-48ba-bd8b-b394db1fc6b9",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.9"}, {"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.4"}], "endpoint":null,
      "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7,
      "disabled":false, "next_run_at":"2023-11-11T09:44:57.026801Z"}, "is_ha_cluster":false,
      "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000,
      "class":"lssd"}, "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30,
      "total_disk_retention":null}, "backup_same_region":false, "maintenances":[],
      "created_at":"2023-11-10T09:44:57.026801Z", "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"ecb7cd08-420c-4cd5-a92d-429c9d0dcea9", "name":"cli-test", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"2e670f5c-493b-443f-92bd-986f23da2750",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.12"}, {"id":"2988cc5e-e0dd-48ba-bd8b-b394db1fc6b9",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.9"}, {"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.4"}], "endpoint":null,
      "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7,
      "disabled":false, "next_run_at":"2023-11-11T09:44:57.026801Z"}, "is_ha_cluster":false,
      "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000,
      "class":"lssd"}, "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30,
      "total_disk_retention":null}, "backup_same_region":false, "maintenances":[],
      "created_at":"2023-11-10T09:44:57.026801Z", "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"ecb7cd08-420c-4cd5-a92d-429c9d0dcea9", "name":"cli-test", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "status":"provisioning",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"2e670f5c-493b-443f-92bd-986f23da2750",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.12"}, {"id":"2988cc5e-e0dd-48ba-bd8b-b394db1fc6b9",
      "name":"PostgreSQL-14", "version":"14", "minor_[...]
[...]
- request:
    body: '{"id":"ecb7cd08-420c-4cd5-a92d-429c9d0dcea9", "name":"cli-test", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "status":"initializing",
      "engine":"PostgreSQL-12", "upgradable_version":[{"id":"2e670f5c-493b-443f-92bd-986f23da2750",
      "name":"PostgreSQL-13", "version":"13", "minor_version":"13.12"}, {"id":"2988cc5e-e0dd-48ba-bd8b-b394db1fc6b9",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.9"}, {"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.4"}], "endpoint":null,
      "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2023-11-11T09:44:57.026801Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
- request:
    body: '{"id":"ecb7cd08-420c-4cd5-a92d-429c9d0dcea9", "name":"cli-test", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "status":"ready", "engine":"PostgreSQL-12",
      "upgradable_version":[{"id":"2e670f5c-493b-443f-92bd-986f23da2750", "name":"PostgreSQL-13",
      "version":"13", "minor_version":"13.12"}, {"id":"2988cc5e-e0dd-48ba-bd8b-b394db1fc6b9",
      "name":"PostgreSQL-14", "version":"14", "minor_version":"14.9"}, {"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.4"}], "endpoint":{"ip":"51.159.204.170",
      "port":28235, "name":null, "id":"5995e576-d85e-4929-8ea4-24d5052e76a1", "load_balancer":{}},
      "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2023-11-11T09:44:57.026801Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
- request:
    body: '{"id":"2b9ed709-8958-4bba-bf5e-64edf2e3233f", "instance_id":"ecb7cd08-420c-4cd5-a92d-429c9d0dcea9",
      "database_name":"rdb", "name":"will_be_exported", "status":"creating", "size":null,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2023-11-10T09:48:04.896073Z",
      "updated_at":null, "instance_name":"cli-test", "download_url":null, "download_url_expires_at":null,
      "same_region":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
    method: POST
  response:
    body: '{"id":"2b9ed709-8958-4bba-bf5e-64edf2e3233f", "instance_id":"ecb7cd08-420c-4cd5-a92d-429c9d0dcea9",
      "database_name":"rdb", "name":"will_be_exported", "status":"creating", "size":null,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2023-11-10T09:48:04.896073Z",
      "updated_at":null, "instance_name":"cli-test", "download_url":null, "download_url_expires_at":null,
      "same_region":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"2b9ed709-8958-4bba-bf5e-64edf2e3233f", "instance_id":"ecb7cd08-420c-4cd5-a92d-429c9d0dcea9",
      "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2107,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2023-11-10T09:48:04.896073Z",
      "updated_at":"2023-11-10T09:48:06.215586Z", "instance_name":"cli-test", "download_url":"https://s3.nl-ams.scw.cloud/65940610-0e5e-4a98-9306-568aa4eb3673/ecb7cd08-420c-4cd5-a92d-429c9d0dcea9/2b9ed709[...]
- request:
    body: '{"database_backups":[{"id":"2b9ed709-8958-4bba-bf5e-64edf2e3233f", "instance_id":"ecb7cd08-420c-4cd5-a92d-429c9d0dcea9",
      "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2107,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2023-11-10T09:48:04.896073Z",
      "updated_at":"2023-11-10T09:48:06.215586Z", "instance_name":"cli-test", "download_url":"https://s3.nl-ams.scw.cloud/65940610-0e5e-4a98-9306-568aa4eb3673/ecb7cd08-420c-4cd5-a92d-429c9d0dcea9/2b9ed709-8958-4bba-bf5e-64edf2e3233f.custom?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=SCW2HJV1WMKPE0CKDAW5%2F20231110%2Fnl-ams%2Fs3%2Faws4_request&X-Amz-Date=20231110T094836Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=a074ed0e29f618a8dac93398b737cfbb11b825fef9dfb5b16e4a4e0e9887f432",
      "download_url_expires_at":"2023-11-11T09:48:36.581872Z", "same_region":false,
      "region":"fr-par"}, {"id":"0b1110b2-8e4d-4d50-b539-b38e198e6b6f", "instance_id":"ecb7cd08-420c-4cd5-a92d-429c9d0dcea9",
      "database_name":"rdb", "name":"will_not_be_exported", "status":"ready", "size":2107,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2023-11-10T09:48:20.556020Z",
      "updated_at":"2023-11-10T09:48:21.912991Z", "instance_name":"cli-test", "download_url":null,
      "download_url_expires_at":null, "same_region":false, "region":"fr-par"}], "total_count":2}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?instance_id=ecb7cd08-420c-4cd5-a92d-429c9d0dcea9&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"database_backups":[{"id":"2b9ed709-8958-4bba-bf5e-64edf2e3233f", "instance_id":"ecb7cd08-420c-4cd5-a92d-429c9d0dcea9",
      "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2107,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2023-11-10T09:48:04.89[...]
[...]
