---
version: 2
interactions:
- request:
    body: '{"id":"fa55fcaf-1695-4ba6-85f3-a9e23ff409d1", "name":"pn-loving-shaw",
      "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2024-01-22T15:35:51.863392Z",
      "updated_at":"2024-01-22T15:35:51.863392Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "subnets":["172.16.20.0/22", "fd63:256c:45f7:8875::/64"], "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"fa55fcaf-1695-4ba6-85f3-a9e23ff409d1", "name":"pn-loving-shaw",
      "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2024-01-22T15:35:51.863392Z",
      "updated_at":"2024-01-22T15:35:51.863392Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "subnets":["172.16.20.0/22", "fd63:256c:45f7:8875::/64"], "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"id":"bcfd4701-dc39-4acc-9c03-146196133804", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-01-23T15:35:53.125485Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "created_at":"2024-01-22T15:35:53.125485Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"bcfd4701-dc39-4acc-9c03-146196133804", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-01-23T15:35:53.125485Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "created_at":"2024-01-22T15:35:53.125485Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"id":"bcfd4701-dc39-4acc-9c03-146196133804", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-01-23T15:35:53.125485Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"bcfd4701-dc39-4acc-9c03-146196133804", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"initializing",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-01-23T15:35:53.125485Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
[...]
- request:
    body: '{"id":"bcfd4701-dc39-4acc-9c03-146196133804", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":{"ip":"195.154.70.77", "port":6570, "name":null,
      "id":"8399a629-06aa-4b0e-8621-b31bb3b6f8b6", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-01-23T15:35:53.125485Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
- request:
    body: '{"ip":"172.16.20.2", "port":5432, "name":null, "id":"1c7a65ea-d353-4c39-bd59-0a589267c522",
      "private_network":{"private_network_id":"fa55fcaf-1695-4ba6-85f3-a9e23ff409d1",
      "service_ip":"172.16.20.2/22", "zone":"fr-par-1"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/bcfd4701-dc39-4acc-9c03-146196133804/endpoints
    method: POST
  response:
    body: '{"ip":"172.16.20.2", "port":5432, "name":null, "id":"1c7a65ea-d353-4c39-bd59-0a589267c522",
      "private_network":{"private_network_id":"fa55fcaf-1695-4ba6-85f3-a9e23ff409d1",
      "service_ip":"172.16.20.2/22", "zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"total_count":1, "ips":[{"id":"87c2cc0b-c287-4e24-9d26-ace3fd8401c0",
      "address":"172.16.20.2/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "is_ipv6":false, "created_at":"2024-01-22T15:39:07.425909Z", "updated_at":"2024-01-22T15:39:08.749609Z",
      "source":{"subnet_id":"b7424c9f-7906-4251-b37d-d598999640f6"}, "resource":{"type":"rdb_instance",
      "id":"bcfd4701-dc39-4acc-9c03-146196133804", "mac_address":"02:00:00:17:75:37",
      "name":"cli-test"}, "tags":["managed", "scwdbaas"], "reverses":[], "region":"fr-par",
      "zone":null}]}'
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=bcfd4701-dc39-4acc-9c03-146196133804&resource_type=rdb_instance
    method: GET
  response:
    body: '{"total_count":1, "ips":[{"id":"87c2cc0b-c287-4e24-9d26-ace3fd8401c0",
      "address":"172.16.20.2/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "is_ipv6":false, "created_at":"2024-01-22T15:39:07.425909Z", "updated_at":"2024-01-22T15:39:08.749609Z",
      "source":{"subnet_id":"b7424c9f-7906-4251-b37d-d598999640f6"}, "resource":{"type":"rdb_instance",
      "id":"bcfd4701-dc39-4acc-9c03-146196133804", "mac_address":"02:00:00:17:75:37",
      "name":"cli-test"}, "tags":["managed", "scwdbaas"], "reverses":[], "region":"fr-par",
      "zone":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"bcfd4701-dc39-4acc-9c03-146196133804","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/bcfd4701-dc39-4acc-9c03-146196133804
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"bcfd4701-dc39-4acc-9c03-146196133804","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/fa55fcaf-1695-4ba6-85f3-a9e23ff409d1
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
