---
version: 1
interactions:
- request:
    body: '{"id":"f965b737-8193-4868-8db8-67f78d7c9190", "name":"pn-vibrant-colden",
      "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-11-19T15:47:35.011690Z",
      "updated_at":"2024-11-19T15:47:35.011690Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "subnets":[{"id":"40679b94-548e-4218-aedc-34bf36f64567", "created_at":"2024-11-19T15:47:35.011690Z",
      "updated_at":"2024-11-19T15:47:35.011690Z", "subnet":"172.16.12.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "private_network_id":"f965b737-8193-4868-8db8-67f78d7c9190", "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},
      {"id":"b2366b69-fe75-4288-bf45-3cd55fb1512c", "created_at":"2024-11-19T15:47:35.011690Z",
      "updated_at":"2024-11-19T15:47:35.011690Z", "subnet":"fd49:821a:a311:98b9::/64",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"f965b737-8193-4868-8db8-67f78d7c9190",
      "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}], "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"f965b737-8193-4868-8db8-67f78d7c9190", "name":"pn-vibrant-colden",
      "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-11-19T15:47:35.011690Z",
      "updated_at":"2024-11-19T15:47:35.011690Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "subnets":[{"id":"40679b94-548e-4218-aedc-34bf36f64567", "created_at":"2024-11-19T15:47:35.011690Z",
      "updated_at":"2024-11-19T15:47:35.011690Z", "subnet":"172.16.12.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "private_network_id":"f965b737-8193-4868-8db8-67f78d7c9190", "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},
      {"id":"b2366b69-fe75-4288-bf45-3cd55fb1512c", "created_at":"2024-11-19T15:47:35.011690Z",
      "updated_at":"2024-11-19T15:47:35.011690Z", "subnet":"fd49:821a:a311:98b9::/64",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"f965b737-8193-4868-8db8-67f78d7c9190",
      "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}], "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"3e88fefa-1bf9-45a1-bbb1-f962d1a69126", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T15:47:35.852980Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false},
      "created_at":"2024-11-19T15:47:35.852980Z", "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"3e88fefa-1bf9-45a1-bbb1-f962d1a69126", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T15:47:35.852980Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false},
      "created_at":"2024-11-19T15:47:35.852980Z", "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"3e88fefa-1bf9-45a1-bbb1-f962d1a69126", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T15:47:35.852980Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"3e88fefa-1bf9-45a1-bbb1-f962d1a69126", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"initializing",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T15:47:35.852980Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
[...]
- request:
    body: '{"id":"3e88fefa-1bf9-45a1-bbb1-f962d1a69126", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":{"ip":"51.159.75.199", "port":10181, "name":null,
      "id":"fc2d3294-0fda-4fa9-b994-60a42aad5a02", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T15:47:35.852980Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
- request:
    body: '{"ip":"172.16.12.2", "port":5432, "name":null, "id":"975b2558-ed30-447c-8206-3d73010142d6",
      "private_network":{"private_network_id":"f965b737-8193-4868-8db8-67f78d7c9190",
      "service_ip":"172.16.12.2/22", "zone":"fr-par-1", "provisioning_mode":"ipam"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/3e88fefa-1bf9-45a1-bbb1-f962d1a69126/endpoints
    method: POST
  response:
    body: '{"ip":"172.16.12.2", "port":5432, "name":null, "id":"975b2558-ed30-447c-8206-3d73010142d6",
      "private_network":{"private_network_id":"f965b737-8193-4868-8db8-67f78d7c9190",
      "service_ip":"172.16.12.2/22", "zone":"fr-par-1", "provisioning_mode":"ipam"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"total_count":1, "ips":[{"id":"90ce54ca-c1f3-4646-9911-a412a48beb7f",
      "address":"172.16.12.2/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "is_ipv6":false, "created_at":"2024-11-19T15:51:09.111451Z", "updated_at":"2024-11-19T15:51:10.110014Z",
      "source":{"subnet_id":"40679b94-548e-4218-aedc-34bf36f64567"}, "resource":{"type":"rdb_instance",
      "id":"3e88fefa-1bf9-45a1-bbb1-f962d1a69126", "mac_address":"02:00:00:1A:85:DF",
      "name":"cli-test"}, "tags":["managed", "scwdbaas"], "reverses":[], "region":"fr-par",
      "zone":null}]}'
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=3e88fefa-1bf9-45a1-bbb1-f962d1a69126&resource_type=rdb_instance
    method: GET
  response:
    body: '{"total_count":1, "ips":[{"id":"90ce54ca-c1f3-4646-9911-a412a48beb7f",
      "address":"172.16.12.2/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "is_ipv6":false, "created_at":"2024-11-19T15:51:09.111451Z", "updated_at":"2024-11-19T15:51:10.110014Z",
      "source":{"subnet_id":"40679b94-548e-4218-aedc-34bf36f64567"}, "resource":{"type":"rdb_instance",
      "id":"3e88fefa-1bf9-45a1-bbb1-f962d1a69126", "mac_address":"02:00:00:1A:85:DF",
      "name":"cli-test"}, "tags":["managed", "scwdbaas"], "reverses":[], "region":"fr-par",
      "zone":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"3e88fefa-1bf9-45a1-bbb1-f962d1a69126","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/3e88fefa-1bf9-45a1-bbb1-f962d1a69126
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"3e88fefa-1bf9-45a1-bbb1-f962d1a69126","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f965b737-8193-4868-8db8-67f78d7c9190
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
