---
version: 1
interactions:
- request:
    body: '{"id":"319e7311-4804-4035-9b70-c762c694a3e0", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-18T10:20:57.485967Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false},
      "created_at":"2025-01-17T10:20:57.485967Z", "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"319e7311-4804-4035-9b70-c762c694a3e0", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-18T10:20:57.485967Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false},
      "created_at":"2025-01-17T10:20:57.485967Z", "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"319e7311-4804-4035-9b70-c762c694a3e0", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-18T10:20:57.485967Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"319e7311-4804-4035-9b70-c762c694a3e0", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"initializing",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-18T10:20:57.485967Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
- request:
    body: '{"id":"319e7311-4804-4035-9b70-c762c694a3e0", "name":"cli-test", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":{"ip":"51.159.24.161", "port":14583, "name":null,
      "id":"95352812-dc90-4589-903f-ff97db6bd4bb", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2025-01-18T10:20:57.485967Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
- request:
    body: '{"access_key":"SCW7ZEW470JAKP4FHE8E", "secret_key":null, "description":"",
      "created_at":"2025-01-07T13:16:21.002236Z", "updated_at":"2025-01-07T13:16:21.002236Z",
      "expires_at":null, "default_project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153",
      "user_id":"136b6f64-5a92-45d2-9d91-1d45c0c69ff3"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW7ZEW470JAKP4FHE8E
    method: GET
  response:
    body: '{"access_key":"SCW7ZEW470JAKP4FHE8E", "secret_key":null, "description":"",
      "created_at":"2025-01-07T13:16:21.002236Z", "updated_at":"2025-01-07T13:16:21.002236Z",
      "expires_at":null, "default_project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153",
      "user_id":"136b6f64-5a92-45d2-9d91-1d45c0c69ff3"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"bd5681c4-a529-463e-8368-791619b53644", "instance_id":"319e7311-4804-4035-9b70-c762c694a3e0",
      "database_name":"rdb", "name":"will_be_exported", "status":"creating", "size":null,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-01-17T10:24:15.066952Z",
      "updated_at":null, "instance_name":"cli-test", "download_url":null, "download_url_expires_at":null,
      "same_region":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
    method: POST
  response:
    body: '{"id":"bd5681c4-a529-463e-8368-791619b53644", "instance_id":"319e7311-4804-4035-9b70-c762c694a3e0",
      "database_name":"rdb", "name":"will_be_exported", "status":"creating", "size":null,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-01-17T10:24:15.066952Z",
      "updated_at":null, "instance_name":"cli-test", "download_url":null, "download_url_expires_at":null,
      "same_region":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"bd5681c4-a529-463e-8368-791619b53644", "instance_id":"319e7311-4804-4035-9b70-c762c694a3e0",
      "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2106,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-01-17T10:24:15.066952Z",
      "updated_at":"2025-01-17T10:24:17.638303Z", "instance_name":"cli-test", "download_url":"https://s3.nl-ams.scw.cloud/65940610-0e5e-4a98-9306-568aa4eb3673/319e7311-4804-4035-9b70-c762c694a3e0/bd5681c4[...]
- request:
    body: '{"database_backups":[{"id":"bd5681c4-a529-463e-8368-791619b53644", "instance_id":"319e7311-4804-4035-9b70-c762c694a3e0",
      "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2106,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-01-17T10:24:15.066952Z",
      "updated_at":"2025-01-17T10:24:17.638303Z", "instance_name":"cli-test", "download_url":"https://s3.nl-ams.scw.cloud/65940610-0e5e-4a98-9306-568aa4eb3673/319e7311-4804-4035-9b70-c762c694a3e0/bd5681c4-a529-463e-8368-791619b53644.custom?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=SCW2HJV1WMKPE0CKDAW5%2F20250117%2Fnl-ams%2Fs3%2Faws4_request&X-Amz-Date=20250117T102447Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=3a0bae9c4ccda55cf202c397395ee928fd5fc820f636b21a945de94aea9e657a",
      "download_url_expires_at":"2025-01-18T10:24:47.719670Z", "same_region":false,
      "region":"fr-par"}, {"id":"8c2e48c7-31c1-4e15-9556-08040b8701a9", "instance_id":"319e7311-4804-4035-9b70-c762c694a3e0",
      "database_name":"rdb", "name":"will_not_be_exported", "status":"ready", "size":2106,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-01-17T10:24:31.126288Z",
      "updated_at":"2025-01-17T10:24:33.598775Z", "instance_name":"cli-test", "download_url":null,
      "download_url_expires_at":null, "same_region":false, "region":"fr-par"}], "total_count":2}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?instance_id=319e7311-4804-4035-9b70-c762c694a3e0&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"database_backups":[{"id":"bd5681c4-a529-463e-8368-791619b53644", "instance_id":"319e7311-4804-4035-9b70-c762c694a3e0",
      "database_name":"rdb", "name":"will_be_exported", "status":"ready", "size":2106,
      "expires_at":"2032-01-02T22:04:05Z", "created_at":"2025-01-17T10:24:15.06[...]
[...]
