---
version: 1
interactions:
- request:
    body: '{"id":"c620b29d-f113-4ffd-a857-97e8c8d9a73e", "name":"pn-cool-minsky",
      "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2023-11-08T21:34:50.707765Z",
      "updated_at":"2023-11-08T21:34:50.707765Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "subnets":["172.16.16.0/22", "fd63:256c:45f7:85ec::/64"], "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"c620b29d-f113-4ffd-a857-97e8c8d9a73e", "name":"pn-cool-minsky",
      "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2023-11-08T21:34:50.707765Z",
      "updated_at":"2023-11-08T21:34:50.707765Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "subnets":["172.16.16.0/22", "fd63:256c:45f7:85ec::/64"], "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"f37c504e-9f4f-4f73-b938-8141ba105149", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-14", "upgradable_version":[{"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.4"}], "endpoint":null,
      "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7,
      "disabled":false, "next_run_at":"2023-11-09T21:34:51.811076Z"}, "is_ha_cluster":false,
      "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000,
      "class":"lssd"}, "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432,
      "name":null, "id":"d9b5fb37-7c5e-4f25-8e9c-cbc7a2bd9ce6", "private_network":{"private_network_id":"c620b29d-f113-4ffd-a857-97e8c8d9a73e",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1"}}], "logs_policy":{"max_age_retention":30,
      "total_disk_retention":null}, "backup_same_region":false, "maintenances":[],
      "created_at":"2023-11-08T21:34:51.811076Z", "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"f37c504e-9f4f-4f73-b938-8141ba105149", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-14", "upgradable_version":[{"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.4"}], "endpoint":null,
      "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7,
      "disabled":false, "next_run_at":"2023-11-09T21:34:51.811076Z"}, "is_ha_cluster":false,
      "read_replicas":[], "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000,
      "class":"lssd"}, "init_settings":[], "endpoints":[{"ip":"172.16.0.3", "port":5432,
      "name":null, "id":"d9b5fb37-7c5e-4f25-8e9c-cbc7a2bd9ce6", "private_network":{"private_network_id":"c620b29d-f113-4ffd-a857-97e8c8d9a73e",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1"}}], "logs_policy":{"max_age_retention":30,
      "total_disk_retention":null}, "backup_same_region":false, "maintenances":[],
      "created_at":"2023-11-08T21:34:51.811076Z", "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"f37c504e-9f4f-4f73-b938-8141ba105149", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning",
      "engine":"PostgreSQL-14", "upgradable_version":[{"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.4"}], "endpoint":null,
      "tags":[], "settings":[], "backup_schedule":{"frequency":24, "retention":7,
[...]
[...]
- request:
    body: '{"id":"f37c504e-9f4f-4f73-b938-8141ba105149", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"initializing",
      "engine":"PostgreSQL-14", "upgradable_version":[{"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d",
      "name":"PostgreSQL-15", "version":"15", "minor_version":"15.4"}], "endpoint":null,
      "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2023-11-09T21:34:51.811076Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
- request:
    body: '{"id":"f37c504e-9f4f-4f73-b938-8141ba105149", "name":"cli-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "engine":"PostgreSQL-14",
      "upgradable_version":[{"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d", "name":"PostgreSQL-15",
      "version":"15", "minor_version":"15.4"}], "endpoint":{"ip":"51.159.204.209",
      "port":17305, "name":null, "id":"fa0425d8-4228-4c47-b383-df828b652779", "load_balancer":{}},
      "tags":[], "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2023-11-09T21:34:51.811076Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
[...]
