---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"cli-test","engine":"PostgreSQL-12","user_name":"foobar","password":"{4xdl*#QOoP+\u00263XRkGA)]","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"323465ef-5b16-4dd6-8436-4a5327cb52dd","name":"cli-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","engine":"PostgreSQL-12","upgradable_version":[{"id":"94b0ba01-eadf-4649-b276-3f8da215e693","name":"PostgreSQL-14","version":"14","minor_version":"14.5"},{"id":"0cef4c5a-1856-443b-a929-f2e7bd561317","name":"PostgreSQL-13","version":"13","minor_version":"13.8"}],"endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-12-06T08:32:36.685191Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/323465ef-5b16-4dd6-8436-4a5327cb52dd
    method: GET
  response:
    body: '{"id":"323465ef-5b16-4dd6-8436-4a5327cb52dd","name":"cli-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","engine":"PostgreSQL-12","upgradable_version":[{"id":"94b0ba01-eadf-4649-b276-3f8da215e693","name":"PostgreSQL-14","version":"14","minor_version":"14.5"},{"id":"0cef4c5a-1856-443b-a929-f2e7bd561317","name":"PostgreSQL-13","version":"13","minor_version":"13.8"}],"endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-12-06T08:32:36.685191Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/323465ef-5b16-4dd6-8436-4a5327cb52dd
    method: GET
  response:
    body: '{"id":"323465ef-5b16-4dd6-8436-4a5327cb52dd","name":"cli-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"ready","engine":"PostgreSQL-12","upgradable_version":[{"id":"94b0ba01-eadf-4649-b276-3f8da215e693","name":"PostgreSQL-14","version":"14","minor_version":"14.5"},{"id":"0cef4c5a-1856-443b-a929-f2e7bd561317","name":"PostgreSQL-13","version":"13","minor_version":"13.8"}],"endpoint":{"ip":"51.159.205.65","port":8622,"name":null,"id":"e173f511-cc54-41ca-89f9-fe8978188b19","load_balancer":{}},"tags":[],"settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[{"ip":"51.159.205.65","port":8622,"name":null,"id":"e173f511-cc54-41ca-89f9-fe8978188b19","load_balancer":{}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-12-06T08:32:36.685191Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"rules":[{"ip":"1.2.3.4/32","description":""}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/323465ef-5b16-4dd6-8436-4a5327cb52dd/acls
    method: POST
  response:
    body: '{"rules":[{"ip":"0.0.0.0/0","port":8622,"protocol":"tcp","direction":"inbound","action":"allow","description":"Allow
      All"},{"ip":"1.2.3.4/32","port":8622,"protocol":"tcp","direction":"inbound","action":"allow","description":"IP
      allowed"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"acl_rule_ips":["1.2.3.4"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/323465ef-5b16-4dd6-8436-4a5327cb52dd/acls
    method: DELETE
  response:
    body: '{"rules":[{"ip":"1.2.3.4/32","port":8622,"protocol":"tcp","direction":"inbound","action":"allow","description":"IP
      allowed"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
