---
version: 1
interactions:
- request:
    body: '{"id":"ef99b867-702b-45b5-bf87-e60ab0ee1fd7", "name":"pn-quizzical-bose",
      "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-11-19T15:47:35.127280Z",
      "updated_at":"2024-11-19T15:47:35.127280Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "subnets":[{"id":"3f79a5c2-ea84-4850-96dd-ef9aadbf3b6b", "created_at":"2024-11-19T15:47:35.127280Z",
      "updated_at":"2024-11-19T15:47:35.127280Z", "subnet":"172.16.8.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "private_network_id":"ef99b867-702b-45b5-bf87-e60ab0ee1fd7", "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},
      {"id":"a0d4b891-8d2e-4018-ab36-a8f928ec0681", "created_at":"2024-11-19T15:47:35.127280Z",
      "updated_at":"2024-11-19T15:47:35.127280Z", "subnet":"fd49:821a:a311:2c73::/64",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"ef99b867-702b-45b5-bf87-e60ab0ee1fd7",
      "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}], "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"ef99b867-702b-45b5-bf87-e60ab0ee1fd7", "name":"pn-quizzical-bose",
      "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-11-19T15:47:35.127280Z",
      "updated_at":"2024-11-19T15:47:35.127280Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "subnets":[{"id":"3f79a5c2-ea84-4850-96dd-ef9aadbf3b6b", "created_at":"2024-11-19T15:47:35.127280Z",
      "updated_at":"2024-11-19T15:47:35.127280Z", "subnet":"172.16.8.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "private_network_id":"ef99b867-702b-45b5-bf87-e60ab0ee1fd7", "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},
      {"id":"a0d4b891-8d2e-4018-ab36-a8f928ec0681", "created_at":"2024-11-19T15:47:35.127280Z",
      "updated_at":"2024-11-19T15:47:35.127280Z", "subnet":"fd49:821a:a311:2c73::/64",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"ef99b867-702b-45b5-bf87-e60ab0ee1fd7",
      "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}], "vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"866cbdcb-7c36-42d1-9afd-b0395a77fff2", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T15:47:35.878227Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false},
      "created_at":"2024-11-19T15:47:35.878227Z", "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"866cbdcb-7c36-42d1-9afd-b0395a77fff2", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T15:47:35.878227Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class":"lssd"},
      "init_settings":[], "endpoints":[], "logs_policy":{"max_age_retention":30, "total_disk_retention":null},
      "backup_same_region":false, "maintenances":[], "encryption":{"enabled":false},
      "created_at":"2024-11-19T15:47:35.878227Z", "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"866cbdcb-7c36-42d1-9afd-b0395a77fff2", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T15:47:35.878227Z"}, "is_ha_cluster":false, "read_replicas":[],
  [...]
[...]
- request:
    body: '{"id":"866cbdcb-7c36-42d1-9afd-b0395a77fff2", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"initializing",
      "engine":"PostgreSQL-15", "upgradable_version":[], "endpoint":null, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T15:47:35.878227Z"}, "is_ha_cluster":false, "read_replicas":[],
      "node_type":"db-dev-s", "volume":{"type":"lssd", "size":5000000000, "class"[...]
[...]
- request:
    body: '{"id":"866cbdcb-7c36-42d1-9afd-b0395a77fff2", "name":"cli-test", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"ready", "engine":"PostgreSQL-15",
      "upgradable_version":[], "endpoint":{"ip":"51.159.11.19", "port":16346, "name":null,
      "id":"aa2342a0-6c13-41be-9d72-54bb097170fb", "load_balancer":{}}, "tags":[],
      "settings":[{"name":"effective_cache_size", "value":"1300"}, {"name":"maintenance_work_mem",
      "value":"150"}, {"name":"max_connections", "value":"100"}, {"name":"max_parallel_workers",
      "value":"0"}, {"name":"max_parallel_workers_per_gather", "value":"0"}, {"name":"work_mem",
      "value":"4"}], "backup_schedule":{"frequency":24, "retention":7, "disabled":false,
      "next_run_at":"2024-11-20T15:47:35.878227Z"}, "is_ha_cluster":false, "read_replicas":[],
      "[...]
- request:
    body: '{"ip":"172.16.0.3", "port":5432, "name":null, "id":"805bc5dc-839a-45bc-bfc6-8d2068f967b8",
      "private_network":{"private_network_id":"ef99b867-702b-45b5-bf87-e60ab0ee1fd7",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/866cbdcb-7c36-42d1-9afd-b0395a77fff2/endpoints
    method: POST
  response:
    body: '{"ip":"172.16.0.3", "port":5432, "name":null, "id":"805bc5dc-839a-45bc-bfc6-8d2068f967b8",
      "private_network":{"private_network_id":"ef99b867-702b-45b5-bf87-e60ab0ee1fd7",
      "service_ip":"172.16.0.3/22", "zone":"fr-par-1", "provisioning_mode":"static"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"total_count":0, "ips":[]}'
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=866cbdcb-7c36-42d1-9afd-b0395a77fff2&resource_type=rdb_instance
    method: GET
  response:
    body: '{"total_count":0, "ips":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"866cbdcb-7c36-42d1-9afd-b0395a77fff2","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/866cbdcb-7c36-42d1-9afd-b0395a77fff2
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"866cbdcb-7c36-42d1-9afd-b0395a77fff2","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ef99b867-702b-45b5-bf87-e60ab0ee1fd7
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
