---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines?page=1
    method: GET
  response:
    body: '{"engines":[{"name":"PostgreSQL","logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/postgresql.svg","versions":[{"version":"12","name":"PostgreSQL-12","end_of_life":"2024-11-14T00:00:00Z","available_settings":[{"name":"max_locks_per_transaction","default_value":"64","hot_configurable":false,"description":"Sets
      the maximum number of locks per transaction.","property_type":"INT","unit":null,"string_constraint":null,"int_min":10,"int_max":2147483647},{"name":"tcp_keepalives_idle","default_value":"0","hot_configurable":true,"description":"Time
      between issuing TCP keepalives.","property_type":"INT","unit":null,"string_constraint":null,"int_min":0,"int_max":2147483647},{"name":"statement_timeout","default_value":"86400000","hot_configurable":true,"description":"Sets
      the maximum allowed duration of any statement. Value in ms","property_type":"INT","unit":"ms","string_constraint":null,"int_min":30000,"int_max":2147483647},[...]
