# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/internal/namespaces/account/ @Codelax
/internal/namespaces/alias/ @Codelax
/internal/namespaces/applesilicon/ @Laure-di
/internal/namespaces/baremetal/ @Laure-di
/internal/namespaces/billing/ @yfodil
/internal/namespaces/block/ @Codelax
/internal/namespaces/cockpit/ @jremy42
/internal/namespaces/config/ @Codelax
/internal/namespaces/container/ @Codelax
/internal/namespaces/documentdb/ @jremy42
/internal/namespaces/domain/ @yfodil
/internal/namespaces/feedback/ @Codelax
/internal/namespaces/flexibleip/ @yfodil
/internal/namespaces/function/ @Codelax
/internal/namespaces/help/ @Codelax
/internal/namespaces/iam/ @Codelax
/internal/namespaces/info/ @Codelax
/internal/namespaces/init/ @Codelax
/internal/namespaces/instance/ @Codelax
/internal/namespaces/iot/ @jremy42
/internal/namespaces/ipam/ @yfodil
/internal/namespaces/jobs/ @Codelax
/internal/namespaces/k8s/ @Codelax
/internal/namespaces/lb/ @yfodil
/internal/namespaces/llm_inference/ @Laure-di
/internal/namespaces/marketplace/ @Codelax
/internal/namespaces/mnq/ @Codelax
/internal/namespaces/object/ @Laure-di
/internal/namespaces/rdb/ @jremy42
/internal/namespaces/redis/ @jremy42
/internal/namespaces/registry/ @Codelax
/internal/namespaces/secret/ @Codelax
/internal/namespaces/shell/ @Codelax
/internal/namespaces/tem/ @jremy42
/internal/namespaces/vpc/ @yfodil
/internal/namespaces/vpcgw/ @yfodil
/internal/namespaces/webhosting/ @jremy42
