# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/internal/namespaces/account/ @scaleway/devtools-core
/internal/namespaces/alias/ @scaleway/devtools
/internal/namespaces/applesilicon/ @scaleway/devtools-compute-foundation
/internal/namespaces/baremetal/ @scaleway/devtools-compute-foundation
/internal/namespaces/billing/ @scaleway/devtools-core
/internal/namespaces/block/ @scaleway/devtools-storage
/internal/namespaces/cockpit/ @scaleway/devtools-dms
/internal/namespaces/config/ @scaleway/devtools
/internal/namespaces/container/ @scaleway/devtools-compute
/internal/namespaces/domain/ @scaleway/devtools-dms
/internal/namespaces/feedback/ @scaleway/devtools
/internal/namespaces/flexibleip/ @scaleway/devtools-network
/internal/namespaces/function/ @scaleway/devtools-compute
/internal/namespaces/help/ @scaleway/devtools
/internal/namespaces/iam/ @scaleway/devtools-core
/internal/namespaces/info/ @scaleway/devtools
/internal/namespaces/init/ @scaleway/devtools
/internal/namespaces/instance/ @scaleway/devtools-compute
/internal/namespaces/iot/ @scaleway/devtools-dms
/internal/namespaces/ipam/ @scaleway/devtools-network
/internal/namespaces/jobs/ @scaleway/devtools-compute
/internal/namespaces/k8s/ @scaleway/devtools-compute
/internal/namespaces/lb/ @scaleway/devtools-network
/internal/namespaces/llm_inference/ @scaleway/devtools-ai
/internal/namespaces/marketplace/ @scaleway/devtools-compute
/internal/namespaces/mnq/ @scaleway/devtools-dms
/internal/namespaces/object/ @scaleway/devtools-storage
/internal/namespaces/rdb/ @scaleway/devtools-dms
/internal/namespaces/redis/ @scaleway/devtools-dms
/internal/namespaces/registry/ @scaleway/devtools-compute
/internal/namespaces/secret/ @scaleway/devtools-core
/internal/namespaces/shell/ @scaleway/devtools
/internal/namespaces/tem/ @scaleway/devtools-dms
/internal/namespaces/vpc/ @scaleway/devtools-network
/internal/namespaces/vpcgw/ @scaleway/devtools-network
/internal/namespaces/webhosting/ @scaleway/devtools-dms
