---
version: 1
interactions:
- request:
    body: '{"project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","name":"cli-test","description":"cli-test","ip_id":null,"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"15ddfb18-dc78-4150-9aeb-a103b85747d3","name":"cli-test","description":"cli-test","status":"pending","instances":[],"organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","ip":[{"id":"c2c24b68-db83-4614-9b58-b2e03b9242a9","ip_address":"51.159.113.163","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":"15ddfb18-dc78-4150-9aeb-a103b85747d3","reverse":"51-159-113-163.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-04-27T12:33:15.018907211Z","updated_at":"2021-04-27T12:33:15.018907211Z","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/15ddfb18-dc78-4150-9aeb-a103b85747d3
    method: GET
  response:
    body: '{"id":"15ddfb18-dc78-4150-9aeb-a103b85747d3","name":"cli-test","description":"cli-test","status":"pending","instances":[],"organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","ip":[{"id":"c2c24b68-db83-4614-9b58-b2e03b9242a9","ip_address":"51.159.113.163","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":"15ddfb18-dc78-4150-9aeb-a103b85747d3","reverse":"51-159-113-163.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-04-27T12:33:15.018907Z","updated_at":"2021-04-27T12:33:15.018907Z","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/15ddfb18-dc78-4150-9aeb-a103b85747d3?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
