---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-test-rg-tag-delete-festive-murdock","description":"","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","is_public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"142c736b-fcbf-4983-b24a-c32d6df87033","name":"cli-test-rg-tag-delete-festive-murdock","description":"","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-festive-murdock","is_public":false,"size":0,"created_at":"2026-09-21T14:16:53.832378532Z","updated_at":"2026-09-21T14:16:53.832378532Z","image_count":0,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 59.79399ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            name:
                - hello-world
            namespace_id:
                - 142c736b-fcbf-4983-b24a-c32d6df87033
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=hello-world&namespace_id=142c736b-fcbf-4983-b24a-c32d6df87033&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"images":[{"id":"c1e53919-91df-43e0-bc83-8cc49cbb7d9c","name":"hello-world","namespace_id":"142c736b-fcbf-4983-b24a-c32d6df87033","status":"ready","status_message":"","visibility":"inherit","size":2992,"created_at":"2026-09-21T14:16:56.565022Z","updated_at":"2026-09-21T14:16:56.755422Z","tags":["latest"]}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 40.590559ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[{"id":"142c736b-fcbf-4983-b24a-c32d6df87033","name":"cli-test-rg-tag-delete-festive-murdock","description":"","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-festive-murdock","is_public":false,"size":2992,"created_at":"2026-09-21T14:16:53.832379Z","updated_at":"2026-09-21T14:16:56.763537Z","image_count":1,"region":"fr-par"},{"id":"4736fd55-681c-4937-96fc-96aa98e27988","name":"cli-test-rg-tag-delete-musing-merkle","description":"","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-musing-merkle","is_public":false,"size":0,"created_at":"2026-09-21T14:16:53.850840Z","updated_at":"2026-09-21T14:16:53.850840Z","image_count":0,"region":"fr-par"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 33.995675ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        form:
            name:
                - latest
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images/c1e53919-91df-43e0-bc83-8cc49cbb7d9c/tags?name=latest&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"tags":[{"id":"06b01a0d-d0a2-4f71-afc8-1efef96b09c7","name":"latest","image_id":"c1e53919-91df-43e0-bc83-8cc49cbb7d9c","status":"ready","digest":"sha256:d1a8d0a4eeb63aff09f5f34d4d80505e0ba81905f36158cc3970d8e07179e59e","created_at":"2026-09-21T14:16:56.582222Z","updated_at":"2026-09-21T14:16:56.771293Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 42.387972ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images/c1e53919-91df-43e0-bc83-8cc49cbb7d9c
        method: GET
      response:
        body: '{"id":"c1e53919-91df-43e0-bc83-8cc49cbb7d9c","name":"hello-world","namespace_id":"142c736b-fcbf-4983-b24a-c32d6df87033","status":"ready","status_message":"","visibility":"inherit","size":2992,"created_at":"2026-09-21T14:16:56.565022Z","updated_at":"2026-09-21T14:16:56.755422Z","tags":["latest"]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 49.437516ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/142c736b-fcbf-4983-b24a-c32d6df87033
        method: GET
      response:
        body: '{"id":"142c736b-fcbf-4983-b24a-c32d6df87033","name":"cli-test-rg-tag-delete-festive-murdock","description":"","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-festive-murdock","is_public":false,"size":2992,"created_at":"2026-09-21T14:16:53.832379Z","updated_at":"2026-09-21T14:16:56.763537Z","image_count":1,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 46.352882ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/tags/06b01a0d-d0a2-4f71-afc8-1efef96b09c7
        method: DELETE
      response:
        body: '{"id":"06b01a0d-d0a2-4f71-afc8-1efef96b09c7","name":"latest","image_id":"c1e53919-91df-43e0-bc83-8cc49cbb7d9c","status":"deleting","digest":"sha256:d1a8d0a4eeb63aff09f5f34d4d80505e0ba81905f36158cc3970d8e07179e59e","created_at":"2026-09-21T14:16:56.582222Z","updated_at":"2026-09-21T14:16:57.161778540Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 169.52124ms
[...]
