---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=visibility_public&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"images":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[{"id":"a61dd26f-b93c-4de6-bb05-bc9a331d3c02","name":"cli-public-namespace","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"deleting","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-public-namespace","is_public":true,"size":0,"created_at":"2020-06-01T13:51:06.144693Z","updated_at":"2020-06-01T13:55:34.463910Z","image_count":0,"region":"fr-par"},{"id":"d62a3e7a-b9ff-4ad8-8ff3-91c398108066","name":"cli-private-namespace","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"deleting","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-private-namespace","is_public":false,"size":0,"created_at":"2020-06-01T13:51:06.262700Z","updated_at":"2020-06-01T13:53:46.763967Z","image_count":0,"region":"fr-par"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
