---
version: 1
interactions:
- request:
    body: '{"name":"cli-public-namespace","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_public":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"842074b6-defa-4f1c-aabc-b948564af655","name":"cli-public-namespace","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-public-namespace","is_public":true,"size":0,"created_at":"2020-06-03T15:58:22.928187362Z","updated_at":"2020-06-03T15:58:22.928187362Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=visibility_public&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"images":[{"id":"93750845-dfcd-4245-a60a-3468edaee82e","name":"visibility_public","namespace_id":"842074b6-defa-4f1c-aabc-b948564af655","status":"ready","status_message":"","visibility":"inherit","size":760455,"created_at":"2020-06-03T15:58:27.650304Z","updated_at":"2020-06-03T15:58:28.219478Z","tags":["latest"]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[{"id":"842074b6-defa-4f1c-aabc-b948564af655","name":"cli-public-namespace","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-public-namespace","is_public":true,"size":760455,"created_at":"2020-06-03T15:58:22.928187Z","updated_at":"2020-06-03T15:58:28.241394Z","image_count":1,"region":"fr-par"},{"id":"b32628da-a6f5-424c-a8fa-5eb6c3d5721a","name":"cli-private-namespace","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-private-namespace","is_public":false,"size":0,"created_at":"2020-06-03T15:58:23.014324Z","updated_at":"2020-06-03T15:58:23.014324Z","image_count":0,"region":"fr-par"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
