---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-test-rg-tag-delete-sleepy-liskov","description":"","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","is_public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"8ca32bcf-f450-44c1-8f85-52305c00621e", "name":"cli-test-rg-tag-delete-sleepy-liskov", "description":"", "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "status":"ready", "status_message":"", "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-sleepy-liskov", "is_public":false, "size":0, "created_at":"2026-10-08T08:32:39.340357202Z", "updated_at":"2026-10-08T08:32:39.340357202Z", "image_count":0, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 63.007556ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            name:
                - hello-world
            namespace_id:
                - 8ca32bcf-f450-44c1-8f85-52305c00621e
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=hello-world&namespace_id=8ca32bcf-f450-44c1-8f85-52305c00621e&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"images":[{"id":"cb4a4ab6-443c-494a-ba5f-0bb53188c2c6", "name":"hello-world", "namespace_id":"8ca32bcf-f450-44c1-8f85-52305c00621e", "status":"ready", "status_message":"", "visibility":"inherit", "size":2992, "created_at":"2026-10-08T08:32:41.078482Z", "updated_at":"2026-10-08T08:32:41.145270Z", "tags":["latest"]}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 43.778635ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[{"id":"8ca32bcf-f450-44c1-8f85-52305c00621e", "name":"cli-test-rg-tag-delete-sleepy-liskov", "description":"", "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "status":"ready", "status_message":"", "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-sleepy-liskov", "is_public":false, "size":2992, "created_at":"2026-10-08T08:32:39.340357Z", "updated_at":"2026-10-08T08:32:41.152634Z", "image_count":1, "region":"fr-par"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 39.727654ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        form:
            name:
                - latest
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images/cb4a4ab6-443c-494a-ba5f-0bb53188c2c6/tags?name=latest&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"tags":[{"id":"11d0cd11-1d6d-4eeb-ba5c-aae70337f302", "name":"latest", "image_id":"cb4a4ab6-443c-494a-ba5f-0bb53188c2c6", "status":"ready", "digest":"sha256:d1a8d0a4eeb63aff09f5f34d4d80505e0ba81905f36158cc3970d8e07179e59e", "created_at":"2026-10-08T08:32:41.089786Z", "updated_at":"2026-10-08T08:32:41.165189Z"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 57.15488ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images/cb4a4ab6-443c-494a-ba5f-0bb53188c2c6
        method: GET
      response:
        body: '{"id":"cb4a4ab6-443c-494a-ba5f-0bb53188c2c6", "name":"hello-world", "namespace_id":"8ca32bcf-f450-44c1-8f85-52305c00621e", "status":"ready", "status_message":"", "visibility":"inherit", "size":2992, "created_at":"2026-10-08T08:32:41.078482Z", "updated_at":"2026-10-08T08:32:41.145270Z", "tags":["latest"]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 45.623512ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/8ca32bcf-f450-44c1-8f85-52305c00621e
        method: GET
      response:
        body: '{"id":"8ca32bcf-f450-44c1-8f85-52305c00621e", "name":"cli-test-rg-tag-delete-sleepy-liskov", "description":"", "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "status":"ready", "status_message":"", "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-sleepy-liskov", "is_public":false, "size":2992, "created_at":"2026-10-08T08:32:39.340357Z", "updated_at":"2026-10-08T08:32:41.152634Z", "image_count":1, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 40.663968ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/tags/11d0cd11-1d6d-4eeb-ba5c-aae70337f302
        method: DELETE
      response:
        body: '{"id":"11d0cd11-1d6d-4eeb-ba5c-aae70337f302", "name":"latest", "image_id":"cb4a4ab6-443c-494a-ba5f-0bb53188c2c6", "status":"deleting", "digest":"sha256:d1a8d0a4eeb63aff09f5f34d4d80505e0ba81905f36158cc3970d8e07179e59e", "created_at":"2026-10-08T08:32:41.089786Z", "updated_at":"2026-10-08T08:32:41.569529511Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 125.47411ms
[...]
