---
version: 1
interactions:
- request:
    body: '{"id":"f69c41c3-5b3f-43ed-bdf2-fffb8762a141", "name":"cli-test-rg-tag-delete-cocky-moser",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-cocky-moser", "is_public":false,
      "size":0, "created_at":"2025-10-29T21:48:02.043937976Z", "updated_at":"2025-10-29T21:48:02.043937976Z",
      "image_count":0, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"f69c41c3-5b3f-43ed-bdf2-fffb8762a141", "name":"cli-test-rg-tag-delete-cocky-moser",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-cocky-moser", "is_public":false,
      "size":0, "created_at":"2025-10-29T21:48:02.043937976Z", "updated_at":"2025-10-29T21:48:02.043937976Z",
      "image_count":0, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"images":[{"id":"8f8ff853-9717-449d-b15c-706f53779fbf", "name":"hello-world",
      "namespace_id":"f69c41c3-5b3f-43ed-bdf2-fffb8762a141", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":2927, "created_at":"2025-10-29T21:48:08.753105Z",
      "updated_at":"2025-10-29T21:48:08.988747Z", "tags":["latest"]}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=hello-world&namespace_id=f69c41c3-5b3f-43ed-bdf2-fffb8762a141&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"images":[{"id":"8f8ff853-9717-449d-b15c-706f53779fbf", "name":"hello-world",
      "namespace_id":"f69c41c3-5b3f-43ed-bdf2-fffb8762a141", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":2927, "created_at":"2025-10-29T21:48:08.753105Z",
      "updated_at":"2025-10-29T21:48:08.988747Z", "tags":["latest"]}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespaces":[{"id":"681422c2-2605-485d-be8c-4caaba0e40ad", "name":"bidouille",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/bidouille", "is_public":false, "size":125904904,
      "created_at":"2025-10-13T14:51:28.239376Z", "updated_at":"2025-10-29T19:30:05.641334Z",
      "image_count":6, "region":"fr-par"}, {"id":"fa6b9795-60d2-4601-9f3[...]
[...]
- request:
    body: '{"tags":[{"id":"fd00936c-1306-4f4d-8973-2db87eba7138", "name":"latest",
      "image_id":"8f8ff853-9717-449d-b15c-706f53779fbf", "status":"ready", "digest":"sha256:19459a6bbefb63f83f137f08c1df645f8846e2cd1f44fe209294ebc505e6495e",
      "created_at":"2025-10-29T21:48:08.783325Z", "updated_at":"2025-10-29T21:48:09.011171Z"}],
      "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images/8f8ff853-9717-449d-b15c-706f53779fbf/tags?name=latest&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"tags":[{"id":"fd00936c-1306-4f4d-8973-2db87eba7138", "name":"latest",
      "image_id":"8f8ff853-9717-449d-b15c-706f53779fbf", "status":"ready", "digest":"sha256:19459a6bbefb63f83f137f08c1df645f8846e2cd1f44fe209294ebc505e6495e",
      "created_at":"2025-10-29T21:48:08.783325Z", "updated_at":"2025-10-29T21:48:09.011171Z"}],
      "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"8f8ff853-9717-449d-b15c-706f53779fbf", "name":"hello-world", "namespace_id":"f69c41c3-5b3f-43ed-bdf2-fffb8762a141",
      "status":"ready", "status_message":"", "visibility":"inherit", "size":2927,
      "created_at":"2025-10-29T21:48:08.753105Z", "updated_at":"2025-10-29T21:48:08.988747Z",
      "tags":["latest"]}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images/8f8ff853-9717-449d-b15c-706f53779fbf
    method: GET
  response:
    body: '{"id":"8f8ff853-9717-449d-b15c-706f53779fbf", "name":"hello-world", "namespace_id":"f69c41c3-5b3f-43ed-bdf2-fffb8762a141",
      "status":"ready", "status_message":"", "visibility":"inherit", "size":2927,
      "created_at":"2025-10-29T21:48:08.753105Z", "updated_at":"2025-10-29T21:48:08.988747Z",
      "tags":["latest"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"f69c41c3-5b3f-43ed-bdf2-fffb8762a141", "name":"cli-test-rg-tag-delete-cocky-moser",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-cocky-moser", "is_public":false,
      "size":2927, "created_at":"2025-10-29T21:48:02.043938Z", "updated_at":"2025-10-29T21:48:08.998052Z",
      "image_count":1, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/f69c41c3-5b3f-43ed-bdf2-fffb8762a141
    method: GET
  response:
    body: '{"id":"f69c41c3-5b3f-43ed-bdf2-fffb8762a141", "name":"cli-test-rg-tag-delete-cocky-moser",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-cocky-moser", "is_public":false,
      "size":2927, "created_at":"2025-10-29T21:48:02.043938Z", "updated_at":"2025-10-29T21:48:08.998052Z",
      "image_count":1, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
