---
version: 1
interactions:
- request:
    body: '{"id":"bf784387-bf20-4c28-b6d8-060ddf1c2385", "name":"cli-test-rg-tag-delete-trusting-dirac",
      "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-trusting-dirac", "is_public":false,
      "size":0, "created_at":"2025-10-30T14:49:49.260644842Z", "updated_at":"2025-10-30T14:49:49.260644842Z",
      "image_count":0, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"bf784387-bf20-4c28-b6d8-060ddf1c2385", "name":"cli-test-rg-tag-delete-trusting-dirac",
      "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-trusting-dirac", "is_public":false,
      "size":0, "created_at":"2025-10-30T14:49:49.260644842Z", "updated_at":"2025-10-30T14:49:49.260644842Z",
      "image_count":0, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"images":[{"id":"1a2ffb81-1fc2-48f4-aaa5-98819150071b", "name":"hello-world",
      "namespace_id":"bf784387-bf20-4c28-b6d8-060ddf1c2385", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":2927, "created_at":"2025-10-30T14:49:57.136503Z",
      "updated_at":"2025-10-30T14:49:57.695741Z", "tags":["latest"]}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=hello-world&namespace_id=bf784387-bf20-4c28-b6d8-060ddf1c2385&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"images":[{"id":"1a2ffb81-1fc2-48f4-aaa5-98819150071b", "name":"hello-world",
      "namespace_id":"bf784387-bf20-4c28-b6d8-060ddf1c2385", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":2927, "created_at":"2025-10-30T14:49:57.136503Z",
      "updated_at":"2025-10-30T14:49:57.695741Z", "tags":["latest"]}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespaces":[{"id":"bf784387-bf20-4c28-b6d8-060ddf1c2385", "name":"cli-test-rg-tag-delete-trusting-dirac",
      "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-trusting-dirac", "is_public":false,
      "size":2927, "created_at":"2025-10-30T14:49:49.260645Z", "updated_at":"2025-10-30T14:49:57.703222Z",
      "image_count":1[...]
[...]
- request:
    body: '{"tags":[{"id":"24b970d0-e716-4a18-9741-ea1622951c97", "name":"latest",
      "image_id":"1a2ffb81-1fc2-48f4-aaa5-98819150071b", "status":"ready", "digest":"sha256:19459a6bbefb63f83f137f08c1df645f8846e2cd1f44fe209294ebc505e6495e",
      "created_at":"2025-10-30T14:49:57.157170Z", "updated_at":"2025-10-30T14:49:57.712466Z"}],
      "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images/1a2ffb81-1fc2-48f4-aaa5-98819150071b/tags?name=latest&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"tags":[{"id":"24b970d0-e716-4a18-9741-ea1622951c97", "name":"latest",
      "image_id":"1a2ffb81-1fc2-48f4-aaa5-98819150071b", "status":"ready", "digest":"sha256:19459a6bbefb63f83f137f08c1df645f8846e2cd1f44fe209294ebc505e6495e",
      "created_at":"2025-10-30T14:49:57.157170Z", "updated_at":"2025-10-30T14:49:57.712466Z"}],
      "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"1a2ffb81-1fc2-48f4-aaa5-98819150071b", "name":"hello-world", "namespace_id":"bf784387-bf20-4c28-b6d8-060ddf1c2385",
      "status":"ready", "status_message":"", "visibility":"inherit", "size":2927,
      "created_at":"2025-10-30T14:49:57.136503Z", "updated_at":"2025-10-30T14:49:57.695741Z",
      "tags":["latest"]}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images/1a2ffb81-1fc2-48f4-aaa5-98819150071b
    method: GET
  response:
    body: '{"id":"1a2ffb81-1fc2-48f4-aaa5-98819150071b", "name":"hello-world", "namespace_id":"bf784387-bf20-4c28-b6d8-060ddf1c2385",
      "status":"ready", "status_message":"", "visibility":"inherit", "size":2927,
      "created_at":"2025-10-30T14:49:57.136503Z", "updated_at":"2025-10-30T14:49:57.695741Z",
      "tags":["latest"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"bf784387-bf20-4c28-b6d8-060ddf1c2385", "name":"cli-test-rg-tag-delete-trusting-dirac",
      "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-trusting-dirac", "is_public":false,
      "size":2927, "created_at":"2025-10-30T14:49:49.260645Z", "updated_at":"2025-10-30T14:49:57.703222Z",
      "image_count":1, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/bf784387-bf20-4c28-b6d8-060ddf1c2385
    method: GET
  response:
    body: '{"id":"bf784387-bf20-4c28-b6d8-060ddf1c2385", "name":"cli-test-rg-tag-delete-trusting-dirac",
      "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-trusting-dirac", "is_public":false,
      "size":2927, "created_at":"2025-10-30T14:49:49.260645Z", "updated_at":"2025-10-30T14:49:57.703222Z",
      "image_count":1, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"24b970d0-e716-4a18-9741-ea1622951c97", "name":"latest", "image_id":"1a2ffb81-1fc2-48f4-aaa5-98819150071b",
      "status":"deleting", "digest":"sha256:19459a6bbefb63f83f137f08c1df645f8846e2cd1f44fe209294ebc505e6495e",
      "created_at":"2025-10-30T14:49:57.157170Z", "updated_at":"2025-10-30T14:49:58.804261854Z"}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/tags/24b970d0-e716-4a18-9741-ea1622951c97
    method: DELETE
  response:
    body: '{"id":"24b970d0-e716-4a18-9741-ea1622951c97", "name":"latest", "image_id":"1a2ffb81-1fc2-48f4-aaa5-98819150071b",
      "status":"deleting", "digest":"sha256:19459a6bbefb63f83f137f08c1df645f8846e2cd1f44fe209294ebc505e6495e",
      "created_at":"2025-10-30T14:49:57.157170Z", "updated_at":"2025-10-30T14:49:58.804261854Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
