---
version: 1
interactions:
- request:
    body: '{"id":"e739a7d5-9c31-466a-a296-1bfb8c99e73b", "name":"cli-public-namespace-1692550640656725191",
      "description":"", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-public-namespace-1692550640656725191", "is_public":true,
      "size":0, "created_at":"2024-12-23T09:32:48.337043997Z", "updated_at":"2024-12-23T09:32:48.337043997Z",
      "image_count":0, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"e739a7d5-9c31-466a-a296-1bfb8c99e73b", "name":"cli-public-namespace-1692550640656725191",
      "description":"", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-public-namespace-1692550640656725191", "is_public":true,
      "size":0, "created_at":"2024-12-23T09:32:48.337043997Z", "updated_at":"2024-12-23T09:32:48.337043997Z",
      "image_count":0, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"images":[{"id":"2d8149ff-2924-45b9-90e4-554315289d0d", "name":"visibility_public",
      "namespace_id":"e739a7d5-9c31-466a-a296-1bfb8c99e73b", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":848871, "created_at":"2024-12-23T09:32:56.212645Z",
      "updated_at":"2024-12-23T09:32:56.563118Z", "tags":["latest"]}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=visibility_public&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"images":[{"id":"2d8149ff-2924-45b9-90e4-554315289d0d", "name":"visibility_public",
      "namespace_id":"e739a7d5-9c31-466a-a296-1bfb8c99e73b", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":848871, "created_at":"2024-12-23T09:32:56.212645Z",
      "updated_at":"2024-12-23T09:32:56.563118Z", "tags":["latest"]}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespaces":[{"id":"3803f8ff-bede-4a01-b4c7-0835fcf9361e", "name":"cli-public-namespace-7939799000782016162",
      "description":"", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-public-namespace-7939799000782016162", "is_public":true,
      "size":0, "created_at":"2024-12-23T09:15:11.455785Z", "updated_at":"2024-12-23T09:15:11.455785Z",
      "image_count"[...]
- request:
    body: '{"id":"2d8149ff-2924-45b9-90e4-554315289d0d", "name":"visibility_public",
      "namespace_id":"e739a7d5-9c31-466a-a296-1bfb8c99e73b", "status":"ready", "status_message":"",
      "visibility":"public", "size":848871, "created_at":"2024-12-23T09:32:56.212645Z",
      "updated_at":"2024-12-23T09:32:56.863317279Z", "tags":["latest"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images/2d8149ff-2924-45b9-90e4-554315289d0d
    method: PATCH
  response:
    body: '{"id":"2d8149ff-2924-45b9-90e4-554315289d0d", "name":"visibility_public",
      "namespace_id":"e739a7d5-9c31-466a-a296-1bfb8c99e73b", "status":"ready", "status_message":"",
      "visibility":"public", "size":848871, "created_at":"2024-12-23T09:32:56.212645Z",
      "updated_at":"2024-12-23T09:32:56.863317279Z", "tags":["latest"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"images":[{"id":"a59160cd-17ab-434f-9cc3-2e9be1bc7421", "name":"visibility_private",
      "namespace_id":"e739a7d5-9c31-466a-a296-1bfb8c99e73b", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":826573, "created_at":"2024-12-23T09:33:04.318972Z",
      "updated_at":"2024-12-23T09:33:04.853056Z", "tags":["latest"]}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=visibility_private&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"images":[{"id":"a59160cd-17ab-434f-9cc3-2e9be1bc7421", "name":"visibility_private",
      "namespace_id":"e739a7d5-9c31-466a-a296-1bfb8c99e73b", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":826573, "created_at":"2024-12-23T09:33:04.318972Z",
      "updated_at":"2024-12-23T09:33:04.853056Z", "tags":["latest"]}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"images":[{"id":"1b47179b-f83a-48ef-9053-0d552835b515", "name":"visibility_inherit",
      "namespace_id":"e739a7d5-9c31-466a-a296-1bfb8c99e73b", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":781920, "created_at":"2024-12-23T09:33:13.266758Z",
      "updated_at":"2024-12-23T09:33:13.790147Z", "tags":["latest"]}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=visibility_inherit&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"images":[{"id":"1b47179b-f83a-48ef-9053-0d552835b515", "name":"visibility_inherit",
      "namespace_id":"e739a7d5-9c31-466a-a296-1bfb8c99e73b", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":781920, "created_at":"2024-12-23T09:33:13.266758Z",
      "updated_at":"2024-12-23T09:33:13.790147Z", "tags":["latest"]}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"images":[{"id":"2d8149ff-2924-45b9-90e4-554315289d0d", "name":"visibility_public",
      "namespace_id":"e739a7d5-9c31-466a-a296-1bfb8c99e73b", "status":"ready", "status_message":"",
      "visibility":"public", "size":848871, "created_at":"2024-12-23T09:32:56.212645Z",
      "updated_at":"2024-12-23T09:33:21.318034Z", "tags":["latest"]}, {"id":"a59160cd-17ab-434f-9cc3-2e9be1bc7421",
      "name":"visibility_private", "namespace_id":"e739a7d5-9c31-466a-a296-1bfb8c99e73b",[...]
[...]
- request:
    body: '{"id":"e739a7d5-9c31-466a-a296-1bfb8c99e73b", "name":"cli-public-namespace-1692550640656725191",
      "description":"", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-public-namespace-1692550640656725191", "is_public":true,
      "size":2457364, "created_at":"2024-12-23T09:32:48.337044Z", "updated_at":"2024-12-23T09:33:48.207572928Z",
      "image_count":3, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/e739a7d5-9c31-466a-a296-1bfb8c99e73b
    method: DELETE
  response:
    body: '{"id":"e739a7d5-9c31-466a-a296-1bfb8c99e73b", "name":"cli-public-namespace-1692550640656725191",
      "description":"", "organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2",
      "project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-public-namespace-1692550640656725191", "is_public":true,
      "size":2457364, "created_at":"2024-12-23T09:32:48.337044Z", "updated_at":"2024-12-23T09:33:48.207572928Z",
      "image_count":3, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
