---
version: 1
interactions:
- request:
    body: '{"id":"296a564d-b63d-42fa-818a-1422b2298021", "name":"cli-test-rg-tag-delete-naughty-villani",
      "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-naughty-villani", "is_public":false,
      "size":0, "created_at":"2025-10-30T14:49:49.265657097Z", "updated_at":"2025-10-30T14:49:49.265657097Z",
      "image_count":0, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"296a564d-b63d-42fa-818a-1422b2298021", "name":"cli-test-rg-tag-delete-naughty-villani",
      "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-naughty-villani", "is_public":false,
      "size":0, "created_at":"2025-10-30T14:49:49.265657097Z", "updated_at":"2025-10-30T14:49:49.265657097Z",
      "image_count":0, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"images":[{"id":"b07d093d-712a-4790-8f81-6f208ac3cc89", "name":"hello-world",
      "namespace_id":"296a564d-b63d-42fa-818a-1422b2298021", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":2927, "created_at":"2025-10-30T14:49:57.100463Z",
      "updated_at":"2025-10-30T14:49:57.358546Z", "tags":["latest"]}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=hello-world&namespace_id=296a564d-b63d-42fa-818a-1422b2298021&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"images":[{"id":"b07d093d-712a-4790-8f81-6f208ac3cc89", "name":"hello-world",
      "namespace_id":"296a564d-b63d-42fa-818a-1422b2298021", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":2927, "created_at":"2025-10-30T14:49:57.100463Z",
      "updated_at":"2025-10-30T14:49:57.358546Z", "tags":["latest"]}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespaces":[{"id":"bf784387-bf20-4c28-b6d8-060ddf1c2385", "name":"cli-test-rg-tag-delete-trusting-dirac",
      "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-trusting-dirac", "is_public":false,
      "size":0, "created_at":"2025-10-30T14:49:49.260645Z", "updated_at":"2025-10-30T14:49:49.260645Z",
      "image_count":1, "[...]
[...]
- request:
    body: '{"tags":[{"id":"088861a8-4571-44ef-b171-111b757337c1", "name":"latest",
      "image_id":"b07d093d-712a-4790-8f81-6f208ac3cc89", "status":"ready", "digest":"sha256:19459a6bbefb63f83f137f08c1df645f8846e2cd1f44fe209294ebc505e6495e",
      "created_at":"2025-10-30T14:49:57.117738Z", "updated_at":"2025-10-30T14:49:57.392892Z"}],
      "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images/b07d093d-712a-4790-8f81-6f208ac3cc89/tags?name=latest&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"tags":[{"id":"088861a8-4571-44ef-b171-111b757337c1", "name":"latest",
      "image_id":"b07d093d-712a-4790-8f81-6f208ac3cc89", "status":"ready", "digest":"sha256:19459a6bbefb63f83f137f08c1df645f8846e2cd1f44fe209294ebc505e6495e",
      "created_at":"2025-10-30T14:49:57.117738Z", "updated_at":"2025-10-30T14:49:57.392892Z"}],
      "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"b07d093d-712a-4790-8f81-6f208ac3cc89", "name":"hello-world", "namespace_id":"296a564d-b63d-42fa-818a-1422b2298021",
      "status":"ready", "status_message":"", "visibility":"inherit", "size":2927,
      "created_at":"2025-10-30T14:49:57.100463Z", "updated_at":"2025-10-30T14:49:57.358546Z",
      "tags":["latest"]}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images/b07d093d-712a-4790-8f81-6f208ac3cc89
    method: GET
  response:
    body: '{"id":"b07d093d-712a-4790-8f81-6f208ac3cc89", "name":"hello-world", "namespace_id":"296a564d-b63d-42fa-818a-1422b2298021",
      "status":"ready", "status_message":"", "visibility":"inherit", "size":2927,
      "created_at":"2025-10-30T14:49:57.100463Z", "updated_at":"2025-10-30T14:49:57.358546Z",
      "tags":["latest"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"296a564d-b63d-42fa-818a-1422b2298021", "name":"cli-test-rg-tag-delete-naughty-villani",
      "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-naughty-villani", "is_public":false,
      "size":2927, "created_at":"2025-10-30T14:49:49.265657Z", "updated_at":"2025-10-30T14:49:57.375667Z",
      "image_count":1, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/296a564d-b63d-42fa-818a-1422b2298021
    method: GET
  response:
    body: '{"id":"296a564d-b63d-42fa-818a-1422b2298021", "name":"cli-test-rg-tag-delete-naughty-villani",
      "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-naughty-villani", "is_public":false,
      "size":2927, "created_at":"2025-10-30T14:49:49.265657Z", "updated_at":"2025-10-30T14:49:57.375667Z",
      "image_count":1, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
