---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-public-namespace-5864301630716047962","description":"","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","is_public":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"512366a6-fa42-48c7-8dda-2144daf97141", "name":"cli-public-namespace-5864301630716047962", "description":"", "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "status":"ready", "status_message":"", "endpoint":"rg.fr-par.scw.cloud/cli-public-namespace-5864301630716047962", "is_public":true, "size":0, "created_at":"2026-10-08T08:32:20.905440451Z", "updated_at":"2026-10-08T08:32:20.905440451Z", "image_count":0, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 111.776871ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        form:
            name:
                - visibility_public
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=visibility_public&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"images":[{"id":"39689dbc-d7ec-4b62-bb92-084343c75bbe", "name":"visibility_public", "namespace_id":"512366a6-fa42-48c7-8dda-2144daf97141", "status":"ready", "status_message":"", "visibility":"inherit", "size":761949, "created_at":"2026-10-08T08:32:23.243577Z", "updated_at":"2026-10-08T08:32:23.310399Z", "tags":["latest"]}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 55.093813ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[{"id":"512366a6-fa42-48c7-8dda-2144daf97141", "name":"cli-public-namespace-5864301630716047962", "description":"", "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "status":"ready", "status_message":"", "endpoint":"rg.fr-par.scw.cloud/cli-public-namespace-5864301630716047962", "is_public":true, "size":761949, "created_at":"2026-10-08T08:32:20.905440Z", "updated_at":"2026-10-08T08:32:23.322193Z", "image_count":1, "region":"fr-par"}, {"id":"6ad33666-90c6-473b-b3af-0a7ec24a33fa", "name":"cli-private-namespace-150322579116438200", "description":"", "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "status":"ready", "status_message":"", "endpoint":"rg.fr-par.scw.cloud/cli-private-namespace-150322579116438200", "is_public":false, "size":0, "created_at":"2026-10-08T08:32:21.003282Z", "updated_at":"2026-10-08T08:32:21.003282Z", "image_count":0, "region":"fr-par"}], "total_count":2}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 84.125942ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"visibility":"public"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images/39689dbc-d7ec-4b62-bb92-084343c75bbe
        method: PATCH
      response:
        body: '{"id":"39689dbc-d7ec-4b62-bb92-084343c75bbe", "name":"visibility_public", "namespace_id":"512366a6-fa42-48c7-8dda-2144daf97141", "status":"ready", "status_message":"", "visibility":"public", "size":761949, "created_at":"2026-10-08T08:32:23.243577Z", "updated_at":"2026-10-08T08:32:23.592060718Z", "tags":["latest"]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 60.879634ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            name:
                - visibility_private
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=visibility_private&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"images":[{"id":"3353c2af-5132-41b7-8d3c-ca730864c54e", "name":"visibility_private", "namespace_id":"512366a6-fa42-48c7-8dda-2144daf97141", "status":"ready", "status_message":"", "visibility":"inherit", "size":757309, "created_at":"2026-10-08T08:32:25.637093Z", "updated_at":"2026-10-08T08:32:25.704568Z", "tags":["latest"]}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 47.130672ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            name:
                - visibility_inherit
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=visibility_inherit&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"images":[{"id":"ed289e7f-96bf-48dc-9843-a1521347c2c5", "name":"visibility_inherit", "namespace_id":"512366a6-fa42-48c7-8dda-2144daf97141", "status":"ready", "status_message":"", "visibility":"inherit", "size":729459, "created_at":"2026-10-08T08:32:27.677605Z", "updated_at":"2026-10-08T08:32:27.738920Z", "tags":["latest"]}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 63.373889ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"images":[{"id":"39689dbc-d7ec-4b62-bb92-084343c75bbe", "name":"visibility_public", "namespace_id":"512366a6-fa42-48c7-8dda-2144daf97141", "status":"ready", "st[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/512366a6-fa42-48c7-8dda-2144daf97141
        method: DELETE
      response:
        body: '{"id":"512366a6-fa42-48c7-8dda-2144daf97141", "name":"cli-public-namespace-5864301630716047962", "description":"", "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "status":"deleting", "status_message":"", "endpoint":"rg.fr-par.scw.cloud/cli-public-namespace-5864301630716047962", "is_public":true, "size":2248717, "created_at":"2026-10-08T08:32:20.905440Z", "updated_at":"2026-10-08T08:32:35.400744222Z", "image_count":3, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 68.35715ms
[...]
