---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-public-namespace-5727355187148924882","description":"","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","is_public":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"26418d0b-f394-42ff-8fe3-d092809f008e","name":"cli-public-namespace-5727355187148924882","description":"","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-public-namespace-5727355187148924882","is_public":true,"size":0,"created_at":"2026-09-21T14:16:32.552277442Z","updated_at":"2026-09-21T14:16:32.552277442Z","image_count":0,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 97.967978ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        form:
            name:
                - visibility_public
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=visibility_public&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"images":[{"id":"24b6b4a6-0579-4631-ba0f-b4a0463fedae","name":"visibility_public","namespace_id":"26418d0b-f394-42ff-8fe3-d092809f008e","status":"ready","status_message":"","visibility":"inherit","size":761949,"created_at":"2026-09-21T14:16:35.798004Z","updated_at":"2026-09-21T14:16:36.022887Z","tags":["latest"]}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 54.552146ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[{"id":"26418d0b-f394-42ff-8fe3-d092809f008e","name":"cli-public-namespace-5727355187148924882","description":"","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-public-namespace-5727355187148924882","is_public":true,"size":761949,"created_at":"2026-09-21T14:16:32.552277Z","updated_at":"2026-09-21T14:16:36.039372Z","image_count":1,"region":"fr-par"},{"id":"4885cbfa-1c10-4085-a41a-47b67be0fde2","name":"cli-private-namespace-16155399812127778201","description":"","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-private-namespace-16155399812127778201","is_public":false,"size":0,"created_at":"2026-09-21T14:16:32.666449Z","updated_at":"2026-09-21T14:16:32.666449Z","image_count":0,"region":"fr-par"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 53.284082ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"visibility":"public"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images/24b6b4a6-0579-4631-ba0f-b4a0463fedae
        method: PATCH
      response:
        body: '{"id":"24b6b4a6-0579-4631-ba0f-b4a0463fedae","name":"visibility_public","namespace_id":"26418d0b-f394-42ff-8fe3-d092809f008e","status":"ready","status_message":"","visibility":"public","size":761949,"created_at":"2026-09-21T14:16:35.798004Z","updated_at":"2026-09-21T14:16:36.250723551Z","tags":["latest"]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 76.59887ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            name:
                - visibility_private
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=visibility_private&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"images":[{"id":"a77f4ff6-a9da-46b0-81b4-8a086bc3ae9b","name":"visibility_private","namespace_id":"26418d0b-f394-42ff-8fe3-d092809f008e","status":"ready","status_message":"","visibility":"inherit","size":757309,"created_at":"2026-09-21T14:16:40.653569Z","updated_at":"2026-09-21T14:16:40.902312Z","tags":["latest"]}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 42.55481ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            name:
                - visibility_inherit
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=visibility_inherit&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"images":[{"id":"678615fb-e0a1-4c9d-9162-d646e6c46375","name":"visibility_inherit","namespace_id":"26418d0b-f394-42ff-8fe3-d092809f008e","status":"ready","status_message":"","visibility":"inherit","size":729459,"created_at":"2026-09-21T14:16:44.238558Z","updated_at":"2026-09-21T14:16:44.413030Z","tags":["latest"]}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 62.668211ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"images":[{"id":"24b6b4a6-0579-4631-ba0f-b4a0463fedae","name":"visibility_public","namespace_id":"26418d0b-f394-42ff-8fe3-d092809f008e","status":"ready","status[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/26418d0b-f394-42ff-8fe3-d092809f008e
        method: DELETE
      response:
        body: '{"id":"26418d0b-f394-42ff-8fe3-d092809f008e","name":"cli-public-namespace-5727355187148924882","description":"","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"deleting","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-public-namespace-5727355187148924882","is_public":true,"size":2248717,"created_at":"2026-09-21T14:16:32.552277Z","updated_at":"2026-09-21T14:16:53.640461296Z","image_count":3,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 87.154217ms
[...]
