---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"b5067ef1-d0aa-4f1b-b4a6-10c50cfff621", "name":"cli-public-namespace-7528399943970262977", "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"", "endpoint":"rg.fr-par.scw.cloud/cli-public-namespace-7528399943970262977", "is_public":true, "size":0, "created_at":"2025-07-22T15:54:37.424506069Z", "updated_at":"2025-07-22T15:54:37.424506069Z", "image_count":0, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"b5067ef1-d0aa-4f1b-b4a6-10c50cfff621", "name":"cli-public-namespace-7528399943970262977", "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"", "endpoint":"rg.fr-par.scw.cloud/cli-public-namespace-7528399943970262977", "is_public":true, "size":0, "created_at":"2025-07-22T15:54:37.424506069Z", "updated_at":"2025-07-22T15:54:37.424506069Z", "image_count":0, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.566052ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"images":[{"id":"2ce6d14c-32c1-4edf-a90e-e5ba2f75de84", "name":"visibility_public", "namespace_id":"b5067ef1-d0aa-4f1b-b4a6-10c50cfff621", "status":"ready", "status_message":"", "visibility":"inherit", "size":761949, "created_at":"2025-07-22T15:54:45.183037Z", "updated_at":"2025-07-22T15:54:45.584366Z", "tags":["latest"]}], "total_count":1}'
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=visibility_public&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"images":[{"id":"2ce6d14c-32c1-4edf-a90e-e5ba2f75de84", "name":"visibility_public", "namespace_id":"b5067ef1-d0aa-4f1b-b4a6-10c50cfff621", "status":"ready", "status_message":"", "visibility":"inherit", "size":761949, "created_at":"2025-07-22T15:54:45.183037Z", "updated_at":"2025-07-22T15:54:45.584366Z", "tags":["latest"]}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.219843ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"namespaces":[{"id":"d4dcf1ed-fb5a-4196-ae9d-aaf2a9270aea", "name":"kops", "description":"Stores images needed by kops (things like etcd-manager, dns-controller, kops-controller, etc)", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"", "endpoint":"rg.fr-par.scw.cloud/kops", "is_public":true, "size":318220460, "created_at":"2022-08-25T11:53:01.416882Z", "updated_at":"2024-03-05T14:45:17.831429Z", "image_count":[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"id":"2ce6d14c-32c1-4edf-a90e-e5ba2f75de84", "name":"visibility_public", "namespace_id":"b5067ef1-d0aa-4f1b-b4a6-10c50cfff621", "status":"ready", "status_message":"", "visibility":"public", "size":761949, "created_at":"2025-07-22T15:54:45.183037Z", "updated_at":"2025-07-22T15:54:45.841884600Z", "tags":["latest"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images/2ce6d14c-32c1-4edf-a90e-e5ba2f75de84
        method: PATCH
      response:
        body: '{"id":"2ce6d14c-32c1-4edf-a90e-e5ba2f75de84", "name":"visibility_public", "namespace_id":"b5067ef1-d0aa-4f1b-b4a6-10c50cfff621", "status":"ready", "status_message":"", "visibility":"public", "size":761949, "created_at":"2025-07-22T15:54:45.183037Z", "updated_at":"2025-07-22T15:54:45.841884600Z", "tags":["latest"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.848937ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"images":[{"id":"55105cd0-7bad-4e3b-9f80-35058668ad81", "name":"visibility_private", "namespace_id":"b5067ef1-d0aa-4f1b-b4a6-10c50cfff621", "status":"ready", "status_message":"", "visibility":"inherit", "size":757309, "created_at":"2025-07-22T15:54:53.394092Z", "updated_at":"2025-07-22T15:54:53.863148Z", "tags":["latest"]}], "total_count":1}'
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=visibility_private&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"images":[{"id":"55105cd0-7bad-4e3b-9f80-35058668ad81", "name":"visibility_private", "namespace_id":"b5067ef1-d0aa-4f1b-b4a6-10c50cfff621", "status":"ready", "status_message":"", "visibility":"inherit", "size":757309, "created_at":"2025-07-22T15:54:53.394092Z", "updated_at":"2025-07-22T15:54:53.863148Z", "tags":["latest"]}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.252348ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"images":[{"id":"1e9e16c6-63c3-435a-af6e-cf4f589dfe18", "name":"visibility_inherit", "namespace_id":"b5067ef1-d0aa-4f1b-b4a6-10c50cfff621", "status":"ready", "status_message":"", "visibility":"inherit", "size":729459, "created_at":"2025-07-22T15:55:00.772809Z", "updated_at":"2025-07-22T15:55:01.196810Z", "tags":["latest"]}], "total_count":1}'
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=visibility_inherit&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"images":[{"id":"1e9e16c6-63c3-435a-af6e-cf4f589dfe18", "name":"visibility_inherit", "namespace_id":"b5067ef1-d0aa-4f1b-b4a6-10c50cfff621", "status":"ready", "status_message":"", "visibility":"inherit", "size":729459, "created_at":"2025-07-22T15:55:00.772809Z", "updated_at":"2025-07-22T15:55:01.196810Z", "tags":["latest"]}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.610646ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"images":[{"id":"9e89b480-4e30-448b-b241-3303912e6423", "name":"kops-controller", "namespace_id":"d4dcf1ed-fb5a-4196-ae9d-aaf2a9270aea", "status":"ready", "status_message":"", "visibility":"inherit", "size":22484545, "created_at":"2022-12-12T16:40:49.136645Z", "updated_at":"2024-03-05T14:45:06.420972Z", "tags":["1.29.0-alpha.3", "sha256-7a45da378227e84ec4f2dc8bb44ddb9b5beac458a21388e6bd85b2d697e181ee.sbom", "sha256-dae693[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"id":"b5067ef1-d0aa-4f1b-b4a6-10c50cfff621", "name":"cli-public-namespace-7528399943970262977", "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"deleting", "status_message":"", "endpoint":"rg.fr-par.scw.cloud/cli-public-namespace-7528399943970262977", "is_public":true, "size":2248717, "created_at":"2025-07-22T15:54:37.424506Z", "updated_at":"2025-07-22T15:55:30.560611234Z", "image_count":3, "region":"fr-par"}'
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/b5067ef1-d0aa-4f1b-b4a6-10c50cfff621
        method: DELETE
      response:
        body: '{"id":"b5067ef1-d0aa-4f1b-b4a6-10c50cfff621", "name":"cli-public-namespace-7528399943970262977", "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"deleting", "status_message":"", "endpoint":"rg.fr-par.scw.cloud/cli-public-namespace-7528399943970262977", "is_public":true, "size":2248717, "created_at":"2025-07-22T15:54:37.424506Z", "updated_at":"2025-07-22T15:55:30.560611234Z", "image_count":3, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.704473ms
[...]
