---
version: 1
interactions:
- request:
    body: '{"name":"cli-public-namespace","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_public":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"message":"Namespace already exist"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
