---
version: 1
interactions:
- request:
    body: '{"id":"2dcbc03b-4372-4acb-bb4c-b73ff3e77536", "name":"cli-test-rg-tag-delete-sweet-feynman",
      "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-sweet-feynman", "is_public":false,
      "size":0, "created_at":"2025-11-03T15:54:55.475453520Z", "updated_at":"2025-11-03T15:54:55.475453520Z",
      "image_count":0, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"2dcbc03b-4372-4acb-bb4c-b73ff3e77536", "name":"cli-test-rg-tag-delete-sweet-feynman",
      "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-sweet-feynman", "is_public":false,
      "size":0, "created_at":"2025-11-03T15:54:55.475453520Z", "updated_at":"2025-11-03T15:54:55.475453520Z",
      "image_count":0, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"images":[{"id":"de12f99f-3ef0-48e6-b30d-c097f75e349f", "name":"hello-world",
      "namespace_id":"2dcbc03b-4372-4acb-bb4c-b73ff3e77536", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":2927, "created_at":"2025-11-03T15:55:04.882283Z",
      "updated_at":"2025-11-03T15:55:05.136888Z", "tags":["latest"]}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=hello-world&namespace_id=2dcbc03b-4372-4acb-bb4c-b73ff3e77536&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"images":[{"id":"de12f99f-3ef0-48e6-b30d-c097f75e349f", "name":"hello-world",
      "namespace_id":"2dcbc03b-4372-4acb-bb4c-b73ff3e77536", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":2927, "created_at":"2025-11-03T15:55:04.882283Z",
      "updated_at":"2025-11-03T15:55:05.136888Z", "tags":["latest"]}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespaces":[{"id":"389afd74-a9de-4a44-a3f2-4e407e0a2040", "name":"cli-test-rg-tag-delete-recursing-wilbur",
      "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-recursing-wilbur", "is_public":false,
      "size":2927, "created_at":"2025-11-03T15:54:55.468188Z", "updated_at":"2025-11-03T15:55:05.182249Z",
      "image_coun[...]
[...]
- request:
    body: '{"tags":[{"id":"9ce53a10-cf67-4bab-90c3-a49a7af67dda", "name":"latest",
      "image_id":"de12f99f-3ef0-48e6-b30d-c097f75e349f", "status":"ready", "digest":"sha256:19459a6bbefb63f83f137f08c1df645f8846e2cd1f44fe209294ebc505e6495e",
      "created_at":"2025-11-03T15:55:04.902466Z", "updated_at":"2025-11-03T15:55:05.166370Z"}],
      "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images/de12f99f-3ef0-48e6-b30d-c097f75e349f/tags?name=latest&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"tags":[{"id":"9ce53a10-cf67-4bab-90c3-a49a7af67dda", "name":"latest",
      "image_id":"de12f99f-3ef0-48e6-b30d-c097f75e349f", "status":"ready", "digest":"sha256:19459a6bbefb63f83f137f08c1df645f8846e2cd1f44fe209294ebc505e6495e",
      "created_at":"2025-11-03T15:55:04.902466Z", "updated_at":"2025-11-03T15:55:05.166370Z"}],
      "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"de12f99f-3ef0-48e6-b30d-c097f75e349f", "name":"hello-world", "namespace_id":"2dcbc03b-4372-4acb-bb4c-b73ff3e77536",
      "status":"ready", "status_message":"", "visibility":"inherit", "size":2927,
      "created_at":"2025-11-03T15:55:04.882283Z", "updated_at":"2025-11-03T15:55:05.136888Z",
      "tags":["latest"]}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images/de12f99f-3ef0-48e6-b30d-c097f75e349f
    method: GET
  response:
    body: '{"id":"de12f99f-3ef0-48e6-b30d-c097f75e349f", "name":"hello-world", "namespace_id":"2dcbc03b-4372-4acb-bb4c-b73ff3e77536",
      "status":"ready", "status_message":"", "visibility":"inherit", "size":2927,
      "created_at":"2025-11-03T15:55:04.882283Z", "updated_at":"2025-11-03T15:55:05.136888Z",
      "tags":["latest"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"2dcbc03b-4372-4acb-bb4c-b73ff3e77536", "name":"cli-test-rg-tag-delete-sweet-feynman",
      "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-sweet-feynman", "is_public":false,
      "size":2927, "created_at":"2025-11-03T15:54:55.475454Z", "updated_at":"2025-11-03T15:55:05.149587Z",
      "image_count":1, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/2dcbc03b-4372-4acb-bb4c-b73ff3e77536
    method: GET
  response:
    body: '{"id":"2dcbc03b-4372-4acb-bb4c-b73ff3e77536", "name":"cli-test-rg-tag-delete-sweet-feynman",
      "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-sweet-feynman", "is_public":false,
      "size":2927, "created_at":"2025-11-03T15:54:55.475454Z", "updated_at":"2025-11-03T15:55:05.149587Z",
      "image_count":1, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"9ce53a10-cf67-4bab-90c3-a49a7af67dda", "name":"latest", "image_id":"de12f99f-3ef0-48e6-b30d-c097f75e349f",
      "status":"deleting", "digest":"sha256:19459a6bbefb63f83f137f08c1df645f8846e2cd1f44fe209294ebc505e6495e",
      "created_at":"2025-11-03T15:55:04.902466Z", "updated_at":"2025-11-03T15:55:06.385879658Z"}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/tags/9ce53a10-cf67-4bab-90c3-a49a7af67dda
    method: DELETE
  response:
    body: '{"id":"9ce53a10-cf67-4bab-90c3-a49a7af67dda", "name":"latest", "image_id":"de12f99f-3ef0-48e6-b30d-c097f75e349f",
      "status":"deleting", "digest":"sha256:19459a6bbefb63f83f137f08c1df645f8846e2cd1f44fe209294ebc505e6495e",
      "created_at":"2025-11-03T15:55:04.902466Z", "updated_at":"2025-11-03T15:55:06.385879658Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
