---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-test-rg-tag-delete-nostalgic-chatelet","description":"","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","is_public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"9806714b-20f6-4ee9-936d-20ccbccd6b0b", "name":"cli-test-rg-tag-delete-nostalgic-chatelet", "description":"", "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "status":"ready", "status_message":"", "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-nostalgic-chatelet", "is_public":false, "size":0, "created_at":"2026-10-08T08:32:35.570155519Z", "updated_at":"2026-10-08T08:32:35.570155519Z", "image_count":0, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 87.635223ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            name:
                - hello-world
            namespace_id:
                - 9806714b-20f6-4ee9-936d-20ccbccd6b0b
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=hello-world&namespace_id=9806714b-20f6-4ee9-936d-20ccbccd6b0b&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"images":[{"id":"667df78c-44ae-42fd-9d37-d795ddf01979", "name":"hello-world", "namespace_id":"9806714b-20f6-4ee9-936d-20ccbccd6b0b", "status":"ready", "status_message":"", "visibility":"inherit", "size":2992, "created_at":"2026-10-08T08:32:38.714434Z", "updated_at":"2026-10-08T08:32:38.776028Z", "tags":["latest"]}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 39.069941ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[{"id":"9806714b-20f6-4ee9-936d-20ccbccd6b0b", "name":"cli-test-rg-tag-delete-nostalgic-chatelet", "description":"", "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "status":"ready", "status_message":"", "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-nostalgic-chatelet", "is_public":false, "size":2992, "created_at":"2026-10-08T08:32:35.570156Z", "updated_at":"2026-10-08T08:32:38.787816Z", "image_count":1, "region":"fr-par"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 47.061666ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        form:
            name:
                - latest
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images/667df78c-44ae-42fd-9d37-d795ddf01979/tags?name=latest&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"tags":[{"id":"d0991f66-3df5-4458-bdd5-ff51ce91e2d0", "name":"latest", "image_id":"667df78c-44ae-42fd-9d37-d795ddf01979", "status":"ready", "digest":"sha256:d1a8d0a4eeb63aff09f5f34d4d80505e0ba81905f36158cc3970d8e07179e59e", "created_at":"2026-10-08T08:32:38.724386Z", "updated_at":"2026-10-08T08:32:38.801145Z"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 42.957306ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images/667df78c-44ae-42fd-9d37-d795ddf01979
        method: GET
      response:
        body: '{"id":"667df78c-44ae-42fd-9d37-d795ddf01979", "name":"hello-world", "namespace_id":"9806714b-20f6-4ee9-936d-20ccbccd6b0b", "status":"ready", "status_message":"", "visibility":"inherit", "size":2992, "created_at":"2026-10-08T08:32:38.714434Z", "updated_at":"2026-10-08T08:32:38.776028Z", "tags":["latest"]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 52.634378ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/9806714b-20f6-4ee9-936d-20ccbccd6b0b
        method: GET
      response:
        body: '{"id":"9806714b-20f6-4ee9-936d-20ccbccd6b0b", "name":"cli-test-rg-tag-delete-nostalgic-chatelet", "description":"", "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "status":"ready", "status_message":"", "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-nostalgic-chatelet", "is_public":false, "size":2992, "created_at":"2026-10-08T08:32:35.570156Z", "updated_at":"2026-10-08T08:32:38.787816Z", "image_count":1, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 33.500545ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/tags/d0991f66-3df5-4458-bdd5-ff51ce91e2d0
        method: DELETE
      response:
        body: '{"id":"d0991f66-3df5-4458-bdd5-ff51ce91e2d0", "name":"latest", "image_id":"667df78c-44ae-42fd-9d37-d795ddf01979", "status":"deleting", "digest":"sha256:d1a8d0a4eeb63aff09f5f34d4d80505e0ba81905f36158cc3970d8e07179e59e", "created_at":"2026-10-08T08:32:38.724386Z", "updated_at":"2026-10-08T08:32:39.157473717Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 121.886065ms
[...]
