---
version: 1
interactions:
- request:
    body: '{"name":"cli-public-namespace","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_public":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"28e23716-4bad-44e9-be08-13739e5a7af1","name":"cli-public-namespace","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-public-namespace","is_public":true,"size":0,"created_at":"2020-05-28T15:08:25.344571766Z","updated_at":"2020-05-28T15:08:25.344571766Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=visibility_public&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"images":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[{"id":"28e23716-4bad-44e9-be08-13739e5a7af1","name":"cli-public-namespace","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-public-namespace","is_public":true,"size":0,"created_at":"2020-05-28T15:08:25.344572Z","updated_at":"2020-05-28T15:08:25.344572Z","image_count":0,"region":"fr-par"},{"id":"90b88379-adbe-48c8-9170-df6aaf675d90","name":"cli-private-namespace","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-private-namespace","is_public":false,"size":0,"created_at":"2020-05-28T15:08:25.455169Z","updated_at":"2020-05-28T15:08:25.455169Z","image_count":0,"region":"fr-par"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
