---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-test-rg-tag-delete-musing-merkle","description":"","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","is_public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"4736fd55-681c-4937-96fc-96aa98e27988","name":"cli-test-rg-tag-delete-musing-merkle","description":"","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-musing-merkle","is_public":false,"size":0,"created_at":"2026-09-21T14:16:53.850839877Z","updated_at":"2026-09-21T14:16:53.850839877Z","image_count":0,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 81.012414ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            name:
                - hello-world
            namespace_id:
                - 4736fd55-681c-4937-96fc-96aa98e27988
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=hello-world&namespace_id=4736fd55-681c-4937-96fc-96aa98e27988&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"images":[{"id":"75a0198e-b6d2-4d48-a33a-712a5c91ef72","name":"hello-world","namespace_id":"4736fd55-681c-4937-96fc-96aa98e27988","status":"ready","status_message":"","visibility":"inherit","size":2992,"created_at":"2026-09-21T14:16:56.983213Z","updated_at":"2026-09-21T14:16:57.387750Z","tags":["latest"]}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 35.96976ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[{"id":"142c736b-fcbf-4983-b24a-c32d6df87033","name":"cli-test-rg-tag-delete-festive-murdock","description":"","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"deleting","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-festive-murdock","is_public":false,"size":0,"created_at":"2026-09-21T14:16:53.832379Z","updated_at":"2026-09-21T14:16:57.312410Z","image_count":1,"region":"fr-par"},{"id":"4736fd55-681c-4937-96fc-96aa98e27988","name":"cli-test-rg-tag-delete-musing-merkle","description":"","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-musing-merkle","is_public":false,"size":2992,"created_at":"2026-09-21T14:16:53.850840Z","updated_at":"2026-09-21T14:16:57.399609Z","image_count":1,"region":"fr-par"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 41.157197ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        form:
            name:
                - latest
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images/75a0198e-b6d2-4d48-a33a-712a5c91ef72/tags?name=latest&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"tags":[{"id":"e7ec667c-231a-4225-a537-2d3bbe5983d9","name":"latest","image_id":"75a0198e-b6d2-4d48-a33a-712a5c91ef72","status":"ready","digest":"sha256:d1a8d0a4eeb63aff09f5f34d4d80505e0ba81905f36158cc3970d8e07179e59e","created_at":"2026-09-21T14:16:57.001287Z","updated_at":"2026-09-21T14:16:57.413774Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 50.013714ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images/75a0198e-b6d2-4d48-a33a-712a5c91ef72
        method: GET
      response:
        body: '{"id":"75a0198e-b6d2-4d48-a33a-712a5c91ef72","name":"hello-world","namespace_id":"4736fd55-681c-4937-96fc-96aa98e27988","status":"ready","status_message":"","visibility":"inherit","size":2992,"created_at":"2026-09-21T14:16:56.983213Z","updated_at":"2026-09-21T14:16:57.387750Z","tags":["latest"]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 46.729898ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/4736fd55-681c-4937-96fc-96aa98e27988
        method: GET
      response:
        body: '{"id":"4736fd55-681c-4937-96fc-96aa98e27988","name":"cli-test-rg-tag-delete-musing-merkle","description":"","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-musing-merkle","is_public":false,"size":2992,"created_at":"2026-09-21T14:16:53.850840Z","updated_at":"2026-09-21T14:16:57.399609Z","image_count":1,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 44.563433ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/tags/e7ec667c-231a-4225-a537-2d3bbe5983d9
        method: DELETE
      response:
        body: '{"id":"e7ec667c-231a-4225-a537-2d3bbe5983d9","name":"latest","image_id":"75a0198e-b6d2-4d48-a33a-712a5c91ef72","status":"deleting","digest":"sha256:d1a8d0a4eeb63aff09f5f34d4d80505e0ba81905f36158cc3970d8e07179e59e","created_at":"2026-09-21T14:16:57.001287Z","updated_at":"2026-09-21T14:16:57.807825813Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 124.616597ms
[...]
