---
version: 1
interactions:
- request:
    body: '{"id":"389afd74-a9de-4a44-a3f2-4e407e0a2040", "name":"cli-test-rg-tag-delete-recursing-wilbur",
      "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-recursing-wilbur", "is_public":false,
      "size":0, "created_at":"2025-11-03T15:54:55.468188474Z", "updated_at":"2025-11-03T15:54:55.468188474Z",
      "image_count":0, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"389afd74-a9de-4a44-a3f2-4e407e0a2040", "name":"cli-test-rg-tag-delete-recursing-wilbur",
      "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-recursing-wilbur", "is_public":false,
      "size":0, "created_at":"2025-11-03T15:54:55.468188474Z", "updated_at":"2025-11-03T15:54:55.468188474Z",
      "image_count":0, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"images":[{"id":"320fc700-c3fa-4c65-9a0a-427df20781ca", "name":"hello-world",
      "namespace_id":"389afd74-a9de-4a44-a3f2-4e407e0a2040", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":2927, "created_at":"2025-11-03T15:55:04.541236Z",
      "updated_at":"2025-11-03T15:55:05.164976Z", "tags":["latest"]}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=hello-world&namespace_id=389afd74-a9de-4a44-a3f2-4e407e0a2040&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"images":[{"id":"320fc700-c3fa-4c65-9a0a-427df20781ca", "name":"hello-world",
      "namespace_id":"389afd74-a9de-4a44-a3f2-4e407e0a2040", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":2927, "created_at":"2025-11-03T15:55:04.541236Z",
      "updated_at":"2025-11-03T15:55:05.164976Z", "tags":["latest"]}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespaces":[{"id":"389afd74-a9de-4a44-a3f2-4e407e0a2040", "name":"cli-test-rg-tag-delete-recursing-wilbur",
      "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-recursing-wilbur", "is_public":false,
      "size":2927, "created_at":"2025-11-03T15:54:55.468188Z", "updated_at":"2025-11-03T15:55:05.182249Z",
      "image_coun[...]
[...]
- request:
    body: '{"tags":[{"id":"0bd7b99b-a1f2-4ba0-9099-5661073f8ad9", "name":"latest",
      "image_id":"320fc700-c3fa-4c65-9a0a-427df20781ca", "status":"ready", "digest":"sha256:19459a6bbefb63f83f137f08c1df645f8846e2cd1f44fe209294ebc505e6495e",
      "created_at":"2025-11-03T15:55:04.567050Z", "updated_at":"2025-11-03T15:55:05.201593Z"}],
      "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images/320fc700-c3fa-4c65-9a0a-427df20781ca/tags?name=latest&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"tags":[{"id":"0bd7b99b-a1f2-4ba0-9099-5661073f8ad9", "name":"latest",
      "image_id":"320fc700-c3fa-4c65-9a0a-427df20781ca", "status":"ready", "digest":"sha256:19459a6bbefb63f83f137f08c1df645f8846e2cd1f44fe209294ebc505e6495e",
      "created_at":"2025-11-03T15:55:04.567050Z", "updated_at":"2025-11-03T15:55:05.201593Z"}],
      "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"320fc700-c3fa-4c65-9a0a-427df20781ca", "name":"hello-world", "namespace_id":"389afd74-a9de-4a44-a3f2-4e407e0a2040",
      "status":"ready", "status_message":"", "visibility":"inherit", "size":2927,
      "created_at":"2025-11-03T15:55:04.541236Z", "updated_at":"2025-11-03T15:55:05.164976Z",
      "tags":["latest"]}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images/320fc700-c3fa-4c65-9a0a-427df20781ca
    method: GET
  response:
    body: '{"id":"320fc700-c3fa-4c65-9a0a-427df20781ca", "name":"hello-world", "namespace_id":"389afd74-a9de-4a44-a3f2-4e407e0a2040",
      "status":"ready", "status_message":"", "visibility":"inherit", "size":2927,
      "created_at":"2025-11-03T15:55:04.541236Z", "updated_at":"2025-11-03T15:55:05.164976Z",
      "tags":["latest"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"389afd74-a9de-4a44-a3f2-4e407e0a2040", "name":"cli-test-rg-tag-delete-recursing-wilbur",
      "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-recursing-wilbur", "is_public":false,
      "size":2927, "created_at":"2025-11-03T15:54:55.468188Z", "updated_at":"2025-11-03T15:55:05.182249Z",
      "image_count":1, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/389afd74-a9de-4a44-a3f2-4e407e0a2040
    method: GET
  response:
    body: '{"id":"389afd74-a9de-4a44-a3f2-4e407e0a2040", "name":"cli-test-rg-tag-delete-recursing-wilbur",
      "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-rg-tag-delete-recursing-wilbur", "is_public":false,
      "size":2927, "created_at":"2025-11-03T15:54:55.468188Z", "updated_at":"2025-11-03T15:55:05.182249Z",
      "image_count":1, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"0bd7b99b-a1f2-4ba0-9099-5661073f8ad9", "name":"latest", "image_id":"320fc700-c3fa-4c65-9a0a-427df20781ca",
      "status":"deleting", "digest":"sha256:19459a6bbefb63f83f137f08c1df645f8846e2cd1f44fe209294ebc505e6495e",
      "created_at":"2025-11-03T15:55:04.567050Z", "updated_at":"2025-11-03T15:55:06.368642110Z"}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/tags/0bd7b99b-a1f2-4ba0-9099-5661073f8ad9
    method: DELETE
  response:
    body: '{"id":"0bd7b99b-a1f2-4ba0-9099-5661073f8ad9", "name":"latest", "image_id":"320fc700-c3fa-4c65-9a0a-427df20781ca",
      "status":"deleting", "digest":"sha256:19459a6bbefb63f83f137f08c1df645f8846e2cd1f44fe209294ebc505e6495e",
      "created_at":"2025-11-03T15:55:04.567050Z", "updated_at":"2025-11-03T15:55:06.368642110Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
