---
version: 1
interactions:
- request:
    body: '{"access_key":"SCWHHBSCFNYC4ERE6AVP","secret_key":null,"description":"rleone-macbook","created_at":"2026-04-01T08:17:23.679481Z","updated_at":"2026-04-01T08:17:23.679481Z","expires_at":null,"default_project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","editable":true,"deletable":true,"managed":false,"creation_ip":"51.159.73.145","user_id":"b49d82c1-ce3a-473f-9cef-420acc5256bf"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWHHBSCFNYC4ERE6AVP
    method: GET
  response:
    body: '{"access_key":"SCWHHBSCFNYC4ERE6AVP","secret_key":null,"description":"rleone-macbook","created_at":"2026-04-01T08:17:23.679481Z","updated_at":"2026-04-01T08:17:23.679481Z","expires_at":null,"default_project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","editable":true,"deletable":true,"managed":false,"creation_ip":"51.159.73.145","user_id":"b49d82c1-ce3a-473f-9cef-420acc5256bf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
