---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1
    method: GET
  response:
    body: '{"total_count":7,"offers":[{"id":"3ab0dc29-2fd4-486e-88bf-d08fbf49214b","name":"HC-BM1-L","stock":"empty","bandwidth":1048576000,"commercial_range":"high_cpu","disks":[{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"}],"enable":true,"cpus":[{"name":"Intel
      Xeon Gold 5120","core_count":14,"thread_count":28,"frequency":2200},{"name":"Intel
      Xeon Gold 5120","core_count":14,"thread_count":28,"frequency":2200}],"memories":[{"capacity":412316860416,"type":"DDR4","frequency":2133,"is_ecc":true}],"quota_name":"bmaas_high","price_per_hour":{"currency_code":"EUR","units":1,"nanos":499900000},"price_per_month":{"currency_code":"EUR","units":749,"nanos":990000000}},{"id":"5363865f-2266-40f9-a43f-4f3aba251524","name":"HM-BM1-XL","stock":"available","bandwidth":1048576000,"commercial_range":"high_memory","disks":[{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacit[...]
- request:
    body: '{"offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-silly-bose","description":"","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"id":"b92a7e29-d441-4c6b-bd83-4431d13cc3a2","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-silly-bose","description":"","updated_at":"2020-05-29T10:33:39.248049622Z","created_at":"2020-05-29T10:33:39.248049622Z","status":"delivering","offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/b92a7e29-d441-4c6b-bd83-4431d13cc3a2
    method: GET
  response:
    body: '{"id":"b92a7e29-d441-4c6b-bd83-4431d13cc3a2","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-silly-bose","description":"","updated_at":"2020-05-29T10:33:39.248050Z","created_at":"2020-05-29T10:33:39.248050Z","status":"delivering","offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/b92a7e29-d441-4c6b-bd83-4431d13cc3a2
    method: GET
  response:
    body: '{"id":"b92a7e29-d441-4c6b-bd83-4431d13cc3a2","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-silly-bose","description":"","updated_at":"2020-05-29T10:35:41.601832Z","created_at":"2020-05-29T10:33:39.248050Z","status":"ready","offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","install":null,"tags":[],"ips":[{"id":"2f4cf811-e7bf-47f6-9086-bb9b89984e90","address":"51.159.31.82","reverse":"b92a7e29-d441-4c6b-bd83-4431d13cc3a2.fr-par-2.baremetal.scw.cloud","version":"IPv4","reverse_status":"pending","reverse_status_message":""},{"id":"909f814c-4445-4905-b30a-d804d5a10e06","address":"2001:0bc8:6005:001b:dac4:97ff:fe2a:2e3c","reverse":"b92a7e29-d441-4c6b-bd83-4431d13cc3a2.fr-par-2.baremetal.scw.cloud","version":"IPv6","reverse_status":"pending","reverse_status_message":""}],"domain":"b92a7e29-d441-4c6b-bd83-4431d13cc3a2.fr-par-2.baremetal.scw.cloud","boot_type":"normal","ping_status":"ping_status_unknown","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/b92a7e29-d441-4c6b-bd83-4431d13cc3a2/start
    method: POST
  response:
    body: '{"id":"b92a7e29-d441-4c6b-bd83-4431d13cc3a2","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-silly-bose","description":"","updated_at":"2020-05-29T10:35:54.831637Z","created_at":"2020-05-29T10:33:39.248050Z","status":"starting","offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","install":null,"tags":[],"ips":[{"id":"2f4cf811-e7bf-47f6-9086-bb9b89984e90","address":"51.159.31.82","reverse":"b92a7e29-d441-4c6b-bd83-4431d13cc3a2.fr-par-2.baremetal.scw.cloud","version":"IPv4","reverse_status":"pending","reverse_status_message":""},{"id":"909f814c-4445-4905-b30a-d804d5a10e06","address":"2001:0bc8:6005:001b:dac4:97ff:fe2a:2e3c","reverse":"b92a7e29-d441-4c6b-bd83-4431d13cc3a2.fr-par-2.baremetal.scw.cloud","version":"IPv6","reverse_status":"pending","reverse_status_message":""}],"domain":"b92a7e29-d441-4c6b-bd83-4431d13cc3a2.fr-par-2.baremetal.scw.cloud","boot_type":"normal","ping_status":"ping_status_unknown","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
