---
version: 1
interactions:
- request:
    body: '{"message":"authentication is denied","method":"api_key","reason":"not_found","type":"denied_authentication"}'
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: '{"message":"authentication is denied","method":"api_key","reason":"not_found","type":"denied_authentication"}'
    headers:
      Content-Type:
      - application/json
    status: 401 Unauthorized
    code: 401
    duration: ""
