---
version: 1
interactions:
- request:
    body: '{"name":"","public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQCbJuYSOQc01zjHsMyn4OUsW61cqRvttKt3StJgbvt2WBuGpwi1/5RtSoMQpudYlZpdeivFb21S8QRas8zcOc+6WqgWa2nj/8yA+cauRlV6CMWY+hOTkkg39xaekstuQ+WR2/AP7O/9hjVx5735+9ZNIxxHsFjVYdBEuk9gEX+1Rw==
      foobar@foobar","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"f06d9273-385e-4747-806c-d4673c410f9d","name":"","public_key":"ssh-rsa
      AAAAB3NzaC1yc2EAAAADAQABAAAAgQCbJuYSOQc01zjHsMyn4OUsW61cqRvttKt3StJgbvt2WBuGpwi1/5RtSoMQpudYlZpdeivFb21S8QRas8zcOc+6WqgWa2nj/8yA+cauRlV6CMWY+hOTkkg39xaekstuQ+WR2/AP7O/9hjVx5735+9ZNIxxHsFjVYdBEuk9gEX+1Rw==
      foobar@foobar","fingerprint":"1024 MD5:da:0f:06:4c:de:fe:a1:c0:6c:e9:bb:78:e1:a4:e8:ce
      foobar@foobar (ssh-rsa)","created_at":"2020-04-16T14:47:24.725962Z","updated_at":"2020-05-29T10:20:35.103402Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1
    method: GET
  response:
    body: '{"total_count":7,"offers":[{"id":"3ab0dc29-2fd4-486e-88bf-d08fbf49214b","name":"HC-BM1-L","stock":"empty","bandwidth":1048576000,"commercial_range":"high_cpu","disks":[{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"}],"enable":true,"cpus":[{"name":"Intel
      Xeon Gold 5120","core_count":14,"thread_count":28,"frequency":2200},{"name":"Intel
      Xeon Gold 5120","core_count":14,"thread_count":28,"frequency":2200}],"memories":[{"capacity":412316860416,"type":"DDR4","frequency":2133,"is_ecc":true}],"quota_name":"bmaas_high","price_per_hour":{"currency_code":"EUR","units":1,"nanos":499900000},"price_per_month":{"currency_code":"EUR","units":749,"nanos":990000000}},{"id":"5363865f-2266-40f9-a43f-4f3aba251524","name":"HM-BM1-XL","stock":"available","bandwidth":1048576000,"commercial_range":"high_memory","disks":[{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacit[...]
- request:
    body: '{"offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-affectionate-swartz","description":"","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"id":"9c5c279f-693e-45e3-a3ef-5dbfe71ad6ac","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-affectionate-swartz","description":"","updated_at":"2020-05-29T10:20:35.279188793Z","created_at":"2020-05-29T10:20:35.279188793Z","status":"delivering","offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/9c5c279f-693e-45e3-a3ef-5dbfe71ad6ac
    method: GET
  response:
    body: '{"id":"9c5c279f-693e-45e3-a3ef-5dbfe71ad6ac","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-affectionate-swartz","description":"","updated_at":"2020-05-29T10:20:35.279189Z","created_at":"2020-05-29T10:20:35.279189Z","status":"delivering","offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/9c5c279f-693e-45e3-a3ef-5dbfe71ad6ac
    method: GET
  response:
    body: '{"id":"9c5c279f-693e-45e3-a3ef-5dbfe71ad6ac","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-affectionate-swartz","description":"","updated_at":"2020-05-29T10:25:19.231984Z","created_at":"2020-05-29T10:20:35.279189Z","status":"ready","offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","install":null,"tags":[],"ips":[{"id":"0a097c83-5bd2-46af-844d-f8795be5b4af","address":"2001:0bc8:6005:001b:dac4:97ff:fe2a:3560","reverse":"9c5c279f-693e-45e3-a3ef-5dbfe71ad6ac.fr-par-2.baremetal.scw.cloud","version":"IPv6","reverse_status":"pending","reverse_status_message":""},{"id":"8dda9501-7b2d-4fac-8c3c-fd919a8b2781","address":"51.159.31.80","reverse":"9c5c279f-693e-45e3-a3ef-5dbfe71ad6ac.fr-par-2.baremetal.scw.cloud","version":"IPv4","reverse_status":"pending","reverse_status_message":""}],"domain":"9c5c279f-693e-45e3-a3ef-5dbfe71ad6ac.fr-par-2.baremetal.scw.cloud","boot_type":"normal","ping_status":"ping_status_unknown","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"os_id":"d859aa89-8b4a-4551-af42-ff7c0c27260a","hostname":"test-install-server","ssh_key_ids":["f06d9273-385e-4747-806c-d4673c410f9d"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/9c5c279f-693e-45e3-a3ef-5dbfe71ad6ac/install
    method: POST
  response:
    body: '{"id":"9c5c279f-693e-45e3-a3ef-5dbfe71ad6ac","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-affectionate-swartz","description":"","updated_at":"2020-05-29T10:25:19.231984Z","created_at":"2020-05-29T10:20:35.279189Z","status":"ready","offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","install":{"os_id":"d859aa89-8b4a-4551-af42-ff7c0c27260a","hostname":"test-install-server","ssh_key_ids":["f06d9273-385e-4747-806c-d4673c410f9d"],"status":"to_install"},"tags":[],"ips":[{"id":"0a097c83-5bd2-46af-844d-f8795be5b4af","address":"2001:0bc8:6005:001b:dac4:97ff:fe2a:3560","reverse":"9c5c279f-693e-45e3-a3ef-5dbfe71ad6ac.fr-par-2.baremetal.scw.cloud","version":"IPv6","reverse_status":"pending","reverse_status_message":""},{"id":"8dda9501-7b2d-4fac-8c3c-fd919a8b2781","address":"51.159.31.80","reverse":"9c5c279f-693e-45e3-a3ef-5dbfe71ad6ac.fr-par-2.baremetal.scw.cloud","version":"IPv4","reverse_status":"pending","reverse_status_message":""}],"domain":"9c5c279f-693e-45e3-a3ef-5dbfe71ad6ac.fr-par-2.baremetal.scw.cloud","boot_type":"normal","ping_status":"ping_status_unknown","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
