---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
            subscription_period:
                - unknown_subscription_period
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
        method: GET
      response:
        body: '{"total_count":41,"offers":[{"id":"f78052df-c8f7-437b-9793-098ef3d45f91","name":"EM-RV1-C4M16S128-A","stock":"empty","bandwidth":100000000,"max_bandwidth":100000000,"commercial_range":"labs","disks":[{"capacity":128000000000,"type":"MMC"}],"enable":true,"cpus":[{"name":"TH1520","core_count":4,"thread_count":4,"frequency":1850,"benchmark":""}],"memories":[{"capacity":16000000000,"type":"DDR4","frequency":3733,"is_ecc":true,"ecc_type":"standard"}],"quota_name":"EM_RV1_C4M16S128_A","price_per_hour":{"currency_code":"EUR","units":0,"nanos":42000000},"price_per_month":null,"persistent_memories":[],"raid_controllers":[],"incompatible_os_ids":["bc7e4ca2-bf32-407f-a04b-72ad6455beb2","d17d6872-0412-45d9-a198-af82c34d3c5c","5dfefb70-053e-4ba8-9d76-537b230db94e","bd43e67e-be12-4a48-bb7e-f56c751c99b0","ac5cc157-caee-406a-ae0a-a28d7c30389a","83640d93-a0b8-45ad-9c9f-30cae48380a4","0058e276-66ef-4883-ad83-0e48536f635c","7e865c16-1a63-4dc7-8181-dabc020fc21b","96e5f0f2-d216-4de2-8a15-68730d877885","bf705b90-1548-4368-98ca-d17dbd8dd860","bd17a2bb-e686-486a-aacf-44fa8ce6e553","4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","52a2423a-3fbc-4fc0-8ac6-91735a[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"cli-key-admiring-meitner","public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQCbJuYSOQc01zjHsMyn4OUsW61cqRvttKt3StJgbvt2WBuGpwi1/5RtSoMQpudYlZpdeivFb21S8QRas8zcOc+6WqgWa2nj/8yA+cauRlV6CMWY+hOTkkg39xaekstuQ+WR2/AP7O/9hjVx5735+9ZNIxxHsFjVYdBEuk9gEX+1Rw== foobar@foobar","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/ssh-keys/e92f8e18-39ba-4c88-b514-115fc913f601","id":"e92f8e18-39ba-4c88-b514-115fc913f601","name":"cli-key-admiring-meitner","public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQCbJuYSOQc01zjHsMyn4OUsW61cqRvttKt3StJgbvt2WBuGpwi1/5RtSoMQpudYlZpdeivFb21S8QRas8zcOc+6WqgWa2nj/8yA+cauRlV6CMWY+hOTkkg39xaekstuQ+WR2/AP7O/9hjVx5735+9ZNIxxHsFjVYdBEuk9gEX+1Rw==","fingerprint":"1024 MD5:da:0f:06:4c:de:fe:a1:c0:6c:e9:bb:78:e1:a4:e8:ce (ssh-rsa)","created_at":"2026-10-07T07:05:47.801462Z","updated_at":"2026-10-07T07:05:47.801462Z","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","disabled":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 84.037565ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 9.60484ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"offer_id":"7e81d4d4-a84b-4dd0-9f44-f0ac34a09e3a","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-bm-flamboyant-goldberg","description":"","tags":null,"option_ids":null,"protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
        method: POST
      response:
        body: '{"id":"d30bfee5-8a2a-420a-8915-15bdb9eee4d0","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-bm-flamboyant-goldberg","description":"","updated_at":"2026-10-07T07:05:48.502178Z","created_at":"2026-10-07T07:05:48.418706Z","status":"ordered","offer_id":"7e81d4d4-a84b-4dd0-9f44-f0ac34a09e3a","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","options":[],"offer_name":"EM-I210E-NVME","rescue_server":null,"protected":false,"user_data":null,"zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 538.319398ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/d30bfee5-8a2a-420a-8915-15bdb9eee4d0
        method: GET
      response:
        body: '{"id":"d30bfee5-8a2a-420a-8915-15bdb9eee4d0","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-bm-flamboyant-goldberg","description":"","updated_at":"2026-10-07T07:05:48.502178Z","created_at":"2026-10-07T07:05:48.418706Z","status":"ordered","offer_id":"7e81d4d4-a84b-4dd0-9f44-f0ac34a09e3a","install":null,"tags":[],"ips":[{"id":"86c67582-c730-4d7e-8558-9e0f1898c17b","address":"2001:bc8:1201:51c:b683:51ff:fe06:7434","reverse":"","version":"IPv6","reverse_status":"unknown","reverse_status_message":""},{"id":"9335eb0e-8e77-4e82-b485-6c55d5da97e2","address":"51.158.55.160","reverse":"","version":"IPv4","reverse_status":"unknown","reverse_status_message":""}],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","options":[],"offer_name":"EM-I210E-NVME","rescue_server":null,"protected":false,"user_data":null,"zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 47.469351ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"os_id":"b9a016fc-947f-4bbc-bf95-343c8524535a","hostname":"test-install-server","ssh_key_ids":["e92f8e18-39ba-4c88-b514-115fc913f601"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/d30bfee5-8a2a-420a-8915-15bdb9eee4d0/install
        method: POST
      response:
        body: '{"id":"d30bfee5-8a2a-420a-8915-15bdb9eee4d0","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-bm-flamboyant-goldberg","description":"","updated_at":"2026-10-07T07:05:54.724372Z","created_at":"2026-10-07T07:05:48.418706Z","status":"ready","offer_id":"7e81d4d4-a84b-4dd0-9f44-f0ac34a09e3a","install":{"os_id":"b9a016fc-947f-4bbc-bf95-343c8524535a","hostname":"test-install-server","ssh_key_ids":["e92f8e18-39ba-4c88-b514-115fc913f601"],"status":"to_install","user":"ubuntu","service_user":"","service_url":"","partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912,"use_all_available_space":false},{"label":"swap","number":2,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":3,"size":536870912,"use_all_available_space":false},{"label":"root","number":4,"size":1915003863040,"use_all_available_space":false}]},{"device":"/dev/nvme1n1","partitions":[{"label":"swap","number":1,"size":4294967296,"use_all_available_space":false},{"label":"boot","number":2,"size":536870912,"use_all_available_space":false},{"label":"root","number":3,"size":1915003863040,"use_all_available_space":false}]}],"raids":[{"name":"/dev/md0","level":"raid_level_1","devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"]},{"name":"/dev/md1","level":"raid_level_1","devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"zfs":{"pools":[]}}},"tags":[],"ips":[{"id":"86c67582-c730-4d7e-8558-9e0f1898c17b","address":"2001:bc8:1201:51c:b683:51ff:fe06:7434","reverse":"","version":"IPv6","reverse_status":"unknown","reverse_status_message":""},{"id":"9335eb0e-8e77-4e82-b485-6c55d5da97e2","address":"51.158.55.160","reverse":"","version":"IPv4","reverse_status":"unknown","reverse_status_message":""}],"domain":"d30bfee5-8a2a-420a-8915-15bdb9eee4d0.fr-par-2.baremetal.scw.cloud","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","options":[],"offer_name":"EM-I210E-NVME","rescue_server":null,"protected":false,"user_data":null,"zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 251.794068ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/e92f8e18-39ba-4c88-b514-115fc913f601
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 60.090784ms
[...]
