---
version: 1
interactions:
- request:
    body: '{"id":"c5853302-63e4-40c7-a711-4a91629565c8", "name":"EM-L105X-SATA", "stock":"available",
      "bandwidth":1000000000, "commercial_range":"lithium", "disks":[{"capacity":6000000000000,
      "type":"HDD"}, {"capacity":6000000000000, "type":"HDD"}, {"capacity":6000000000000,
      "type":"HDD"}, {"capacity":6000000000000, "type":"HDD"}], "enable":true, "cpus":[{"name":"Intel
      Xeon E5 1410 v2", "core_count":4, "thread_count":8, "frequency":2800, "benchmark":""}],
      "memories":[{"capacity":96000000000, "type":"DDR3", "frequency":1600, "is_ecc":true}],
      "quota_name":"EM_L105X_SATA", "price_per_hour":{"currency_code":"EUR", "units":0,
      "nanos":213000000}, "price_per_month":null, "persistent_memories":[], "raid_controllers":[],
      "incompatible_os_ids":[], "subscription_period":"hourly", "operation_path":"",
      "fee":{"currency_code":"EUR", "units":0, "nanos":0}, "options":[{"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0",
      "name":"Windows 2022 datacenter", "price":{"currency_code":"EUR", "units":143,
      "nanos":0}, "enabled":false, "subscription_period":"monthly", "manageable":false,
      "os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41"}, {"id":"931df052-d713-4674-8b58-96a63244c8e2",
      "name":"Remote Access", "price":{"currency_code":"EUR", "units":0, "nanos":990000000},
      "enabled":false, "subscription_period":"hourly", "manageable":true, "os_id":"00000000-0000-0000-0000-000000000000"},
      {"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c", "name":"Private Network", "price":{"currency_code":"EUR",
      "units":0, "nanos":30000000}, "enabled":false, "subscription_period":"hourly",
      "manageable":true, "os_id":"00000000-0000-0000-0000-000000000000"}, {"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda",
      "name":"Windows 2019 standard", "price":{"currency_code":"EUR", "units":22,
      "nanos":0}, "enabled":false, "subscription_period":"monthly", "manageable":false,
      "os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175"}, {"id":"f74a6322-070e-41dd-a13f-8165ea63aca8",
      "name":"Windows 2019 datacenter", "price":{"currency_code":"EUR", "units":143,
      "nanos":0}, "enabled":false, "subscription_period":"monthly", "manageable":false,
      "os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a"}, {"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8",
      "name":"Windows 2022 standard", "price":{"currency_code":"EUR", "units":22,
      "nanos":0}, "enabled":false, "subscription_period":"monthly", "manageable":false,
      "os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860"}], "private_bandwidth":1000000000,
      "shared_bandwidth":true, "tags":[]}'
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers/c5853302-63e4-40c7-a711-4a91629565c8
    method: GET
  response:
    body: '{"id":"c5853302-63e4-40c7-a711-4a91629565c8", "name":"EM-L105X-SATA", "stock":"available",
      "bandwidth":1000000000, "commercial_range":"lithium", "disks":[{"capacity":6000000000000,
      "type":"HDD"}, {"capacity":6000000000000, "type":"HDD"}, {"capacity":6000000000000,
      "type":"HDD"}, {"capacity":6000000000000, "type":"HDD"}], "enable":true, "cpus":[{"name":"Intel
      Xeon E5 1410 v2", "core_count":4, "thread_count":8, "frequency":2800, "benchmark":""}],
      "memories[...]
