---
version: 1
interactions:
- request:
    body: '{"name":"cli-key-keen-hoover","public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQCbJuYSOQc01zjHsMyn4OUsW61cqRvttKt3StJgbvt2WBuGpwi1/5RtSoMQpudYlZpdeivFb21S8QRas8zcOc+6WqgWa2nj/8yA+cauRlV6CMWY+hOTkkg39xaekstuQ+WR2/AP7O/9hjVx5735+9ZNIxxHsFjVYdBEuk9gEX+1Rw==
      foobar@foobar","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"97cbb7e8-3ea5-4e06-b665-ef84386a9ff2","name":"cli-key-keen-hoover","public_key":"ssh-rsa
      AAAAB3NzaC1yc2EAAAADAQABAAAAgQCbJuYSOQc01zjHsMyn4OUsW61cqRvttKt3StJgbvt2WBuGpwi1/5RtSoMQpudYlZpdeivFb21S8QRas8zcOc+6WqgWa2nj/8yA+cauRlV6CMWY+hOTkkg39xaekstuQ+WR2/AP7O/9hjVx5735+9ZNIxxHsFjVYdBEuk9gEX+1Rw==
      foobar@foobar","fingerprint":"1024 MD5:da:0f:06:4c:de:fe:a1:c0:6c:e9:bb:78:e1:a4:e8:ce
      foobar@foobar (ssh-rsa)","created_at":"2023-01-03T15:00:05.489052Z","updated_at":"2023-01-03T15:00:05.489052Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","disabled":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: '{"total_count":8,"offers":[{"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","name":"EM-A210R-HDD","stock":"empty","bandwidth":1000000000,"commercial_range":"aluminium","disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"cpus":[{"name":"AMD
      Ryzen PRO 3600","core_count":6,"thread_count":12,"frequency":3600,"benchmark":""}],"memories":[{"capacity":16000000000,"type":"DDR4","frequency":3200,"is_ecc":true}],"quota_name":"EM_A210R_SATA","price_per_hour":{"currency_code":"EUR","units":0,"nanos":122000000},"price_per_month":null,"persistent_memories":[],"raid_controllers":[],"incompatible_os_ids":["01d6eef6-6b96-47fd-b9f9-3857321abe4f","ac5cc157-caee-406a-ae0a-a28d7c30389a","3ea52186-1e57-499e-8146-ab38051a5c10","7fb86682-316e-4f6e-a845-de9b230cdd29","a47ccf6f-1990-4488-8f64-332a6da3ef84","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","39176c6e-509d-4e6c-8e42-417d103f4579","7e865c16-1a63-4dc7-8181-dabc020fc21b","3422ae02-d6d7-4980-8a00-eb38c262fb41","52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","b4816d13-8585-4005-a7c7-54a031dd933b","bf705b90-1548-4368-98ca-d17dbd8dd860","7c70ff80-dbfa-4e07-be73-1de0e60fe175","5dfefb70-053e-4ba8-9d76-537b230db94e","bd17a2bb-e686-486a-aacf-44fa8ce6e553"],"subscription_period":"hourly","operation_path":"","fee":{"currency_code":"EUR","units":0,"nanos":0},"options":[{"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","name":"Private
      Network","price":{"currency_code":"EUR","units":0,"nanos":30000000},"enabled":false,"subscription_period":"hourly","manageable":true,"os_id":"00000000-0000-0000-0000-000000000000"},{"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","name":"Windows
      2019 datacenter","price":{"currency_code":"EUR","units":107,"nanos":250000000},"enabled":false,"subscription_period":"monthly","manageable":false,"os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a"},{"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","name":"Windows
      2019 standard","price":{"currency_code":"EUR","units":16,"nanos":500000000},"enabled":false,"subscription_period":"monthly","managea[...]
- request:
    body: '{"offer_id":"bd757ca3-a71b-4158-9ef5-39436b6db2a4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"cli-bm-youthful-nobel","description":"","tags":null,"install":null,"option_ids":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"id":"f1673b48-1677-449a-aa72-ed4b97a96e27","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"cli-bm-youthful-nobel","description":"","updated_at":"2023-01-03T15:00:05.952392Z","created_at":"2023-01-03T15:00:05.952392Z","status":"delivering","offer_id":"bd757ca3-a71b-4158-9ef5-39436b6db2a4","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","options":[],"offer_name":"EM-L101X-SATA","rescue_server":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/f1673b48-1677-449a-aa72-ed4b97a96e27
    method: GET
  response:
    body: '{"id":"f1673b48-1677-449a-aa72-ed4b97a96e27","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"cli-bm-youthful-nobel","description":"","updated_at":"2023-01-03T15:00:05.952392Z","created_at":"2023-01-03T15:00:05.952392Z","status":"delivering","offer_id":"bd757ca3-a71b-4158-9ef5-39436b6db2a4","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","options":[],"offer_name":"EM-L101X-SATA","rescue_server":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/f1673b48-1677-449a-aa72-ed4b97a96e27
    method: GET
  response:
    body: '{"id":"f1673b48-1677-449a-aa72-ed4b97a96e27","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"cli-bm-youthful-nobel","description":"","updated_at":"2023-01-03T15:00:28.075464Z","created_at":"2023-01-03T15:00:05.952392Z","status":"ready","offer_id":"bd757ca3-a71b-4158-9ef5-39436b6db2a4","install":null,"tags":[],"ips":[{"id":"d1c82f63-fc3a-48ba-bb96-c0adafdfa92d","address":"62.210.88.153","reverse":"f1673b48-1677-449a-aa72-ed4b97a96e27.fr-par-1.baremetal.scw.cloud","version":"IPv4","reverse_status":"pending","reverse_status_message":""},{"id":"fc8ea2b4-4ec8-456e-ac05-51f58e269e72","address":"2001:0bc8:0701:0006:b283:feff:fed1:9d9e","reverse":"f1673b48-1677-449a-aa72-ed4b97a96e27.fr-par-1.baremetal.scw.cloud","version":"IPv6","reverse_status":"pending","reverse_status_message":""}],"domain":"f1673b48-1677-449a-aa72-ed4b97a96e27.fr-par-1.baremetal.scw.cloud","boot_type":"normal","ping_status":"ping_status_up","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","options":[],"offer_name":"EM-L101X-SATA","rescue_server":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"os_id":"03b7f4ba-a6a1-4305-984e-b54fafbf1681","hostname":"test-install-server","ssh_key_ids":["97cbb7e8-3ea5-4e06-b665-ef84386a9ff2"],"user":null,"password":null,"service_user":null,"service_password":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/f1673b48-1677-449a-aa72-ed4b97a96e27/install
    method: POST
  response:
    body: '{"id":"f1673b48-1677-449a-aa72-ed4b97a96e27","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"cli-bm-youthful-nobel","description":"","updated_at":"2023-01-03T15:00:28.075464Z","created_at":"2023-01-03T15:00:05.952392Z","status":"ready","offer_id":"bd757ca3-a71b-4158-9ef5-39436b6db2a4","install":{"os_id":"03b7f4ba-a6a1-4305-984e-b54fafbf1681","hostname":"test-install-server","ssh_key_ids":["97cbb7e8-3ea5-4e06-b665-ef84386a9ff2"],"status":"to_install","user":"ubuntu","service_user":"","service_url":""},"tags":[],"ips":[{"id":"d1c82f63-fc3a-48ba-bb96-c0adafdfa92d","address":"62.210.88.153","reverse":"f1673b48-1677-449a-aa72-ed4b97a96e27.fr-par-1.baremetal.scw.cloud","version":"IPv4","reverse_status":"pending","reverse_status_message":""},{"id":"fc8ea2b4-4ec8-456e-ac05-51f58e269e72","address":"2001:0bc8:0701:0006:b283:feff:fed1:9d9e","reverse":"f1673b48-1677-449a-aa72-ed4b97a96e27.fr-par-1.baremetal.scw.cloud","version":"IPv6","reverse_status":"pending","reverse_status_message":""}],"domain":"f1673b48-1677-449a-aa72-ed4b97a96e27.fr-par-1.baremetal.scw.cloud","boot_type":"normal","ping_status":"ping_status_up","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","options":[],"offer_name":"EM-L101X-SATA","rescue_server":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/97cbb7e8-3ea5-4e06-b665-ef84386a9ff2
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
