---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1
    method: GET
  response:
    body: '{"total_count":7,"offers":[{"id":"3ab0dc29-2fd4-486e-88bf-d08fbf49214b","name":"HC-BM1-L","stock":"empty","bandwidth":1048576000,"commercial_range":"high_cpu","disks":[{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"}],"enable":true,"cpus":[{"name":"Intel
      Xeon Gold 5120","core_count":14,"thread_count":28,"frequency":2200},{"name":"Intel
      Xeon Gold 5120","core_count":14,"thread_count":28,"frequency":2200}],"memories":[{"capacity":412316860416,"type":"DDR4","frequency":2133,"is_ecc":true}],"quota_name":"bmaas_high","price_per_hour":{"currency_code":"EUR","units":1,"nanos":499900000},"price_per_month":{"currency_code":"EUR","units":749,"nanos":990000000}},{"id":"5363865f-2266-40f9-a43f-4f3aba251524","name":"HM-BM1-XL","stock":"available","bandwidth":1048576000,"commercial_range":"high_memory","disks":[{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacit[...]
- request:
    body: '{"offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-gifted-perlman","description":"","tags":["prod","blue"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"id":"d4ef9be0-a729-4210-9f5c-3255f9487951","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-gifted-perlman","description":"","updated_at":"2020-05-29T10:19:04.438436065Z","created_at":"2020-05-29T10:19:04.438436065Z","status":"delivering","offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","install":null,"tags":["prod","blue"],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/d4ef9be0-a729-4210-9f5c-3255f9487951
    method: GET
  response:
    body: '{"id":"d4ef9be0-a729-4210-9f5c-3255f9487951","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-gifted-perlman","description":"","updated_at":"2020-05-29T10:19:04.438436Z","created_at":"2020-05-29T10:19:04.438436Z","status":"delivering","offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","install":null,"tags":["prod","blue"],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/d4ef9be0-a729-4210-9f5c-3255f9487951
    method: GET
  response:
    body: '{"id":"d4ef9be0-a729-4210-9f5c-3255f9487951","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-gifted-perlman","description":"","updated_at":"2020-05-29T10:20:26.798986Z","created_at":"2020-05-29T10:19:04.438436Z","status":"ready","offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","install":null,"tags":["prod","blue"],"ips":[{"id":"13897852-b71b-4849-b12b-a6a8dce4475f","address":"2001:0bc8:6005:001b:dac4:97ff:fe2a:32a8","reverse":"d4ef9be0-a729-4210-9f5c-3255f9487951.fr-par-2.baremetal.scw.cloud","version":"IPv6","reverse_status":"pending","reverse_status_message":""},{"id":"8af3e656-52f7-4375-8e5d-33a7ce7c3f63","address":"51.159.31.79","reverse":"d4ef9be0-a729-4210-9f5c-3255f9487951.fr-par-2.baremetal.scw.cloud","version":"IPv4","reverse_status":"pending","reverse_status_message":""}],"domain":"d4ef9be0-a729-4210-9f5c-3255f9487951.fr-par-2.baremetal.scw.cloud","boot_type":"normal","ping_status":"ping_status_unknown","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
