---
version: 1
interactions:
- request:
    body: '{"id":"584a34fe-d851-40e2-a928-324885541bf5","name":"cli-key-sad-kare","public_key":"ssh-rsa
      AAAAB3NzaC1yc2EAAAADAQABAAAAgQCbJuYSOQc01zjHsMyn4OUsW61cqRvttKt3StJgbvt2WBuGpwi1/5RtSoMQpudYlZpdeivFb21S8QRas8zcOc+6WqgWa2nj/8yA+cauRlV6CMWY+hOTkkg39xaekstuQ+WR2/AP7O/9hjVx5735+9ZNIxxHsFjVYdBEuk9gEX+1Rw==","fingerprint":"1024
      MD5:da:0f:06:4c:de:fe:a1:c0:6c:e9:bb:78:e1:a4:e8:ce (ssh-rsa)","created_at":"2024-12-12T16:22:35.399869Z","updated_at":"2024-12-12T16:22:35.399869Z","organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"584a34fe-d851-40e2-a928-324885541bf5","name":"cli-key-sad-kare","public_key":"ssh-rsa
      AAAAB3NzaC1yc2EAAAADAQABAAAAgQCbJuYSOQc01zjHsMyn4OUsW61cqRvttKt3StJgbvt2WBuGpwi1/5RtSoMQpudYlZpdeivFb21S8QRas8zcOc+6WqgWa2nj/8yA+cauRlV6CMWY+hOTkkg39xaekstuQ+WR2/AP7O/9hjVx5735+9ZNIxxHsFjVYdBEuk9gEX+1Rw==","fingerprint":"1024
      MD5:da:0f:06:4c:de:fe:a1:c0:6c:e9:bb:78:e1:a4:e8:ce (ssh-rsa)","created_at":"2024-12-12T16:22:35.399869Z","updated_at":"2024-12-12T16:22:35.399869Z","organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","disabled":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"total_count":25,"offers":[{"id":"f7241870-c383-4fa2-bbca-5189600df5c4","name":"EM-A115X-SSD","stock":"available","bandwidth":500000000,"max_bandwidth":1000000000,"commercial_range":"aluminium","disks":[{"capacity":1024209543168,"type":"SSD"},{"capacity":1024209543168,"type":"SSD"}],"enable":true,"cpus":[{"name":"Intel
      Xeon E3 1220 or equivalent","core_count":4,"thread_count":4,"frequency":3100,"benchmark":""}],"memories":[{"capacity":32000000000,"type":"DDR3","frequency":1600,"is_ecc":true}],"quota_name":"EM_A115X_SSD","price_per_hour":{"currency_code":"EUR","units":0,"nanos":91000000},"price_per_month":null,"persistent_memories":[],"raid_controllers":[],"incompatible_os_ids":["3422ae02-d6d7-4980-8a00-eb38c262fb41","1c376d8a-f237-438d-9cd9-47902050ffd3","69e740ab-9f0e-4107-8516-16470000729c","6aa3f876-1c83-4434-8cc4-a2dbc94216db","2e06fa49-4677-4bd7-8bf5-b1c490d8a966","bd17a2bb-e686-486a-aacf-44fa8ce6e553","b4816d13-8585-4005-a7c7-54a031dd933b","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","fa29896b-6b49-468d-a787-966559a55c12","7c70ff80-dbfa-4e07-be73-1de0e60fe175","fd771862-4b75-46a7-ab42-73c46c0ac2db","4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","bf705b90-1548-4368-98ca-d17dbd8dd860","847bb37a-dc13-4536-9f07-023d38dba98d","93fb3e11-e02e-47d9-aa3a-f77a2f7a7129","7e865c16-1a63-4dc7-8181-dabc020fc21b","a5c00c1b-95b1-4c08-8a33-79cc079f9dac","7fb86682-316e-4f6e-a845-de9b230cdd29"],"subscription_period":"hourly","operation_path":"","fee":{"currency_code":"EUR","units":0,"nanos":0},"options":[{"id":"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb","name":"Public
      Bandwidth 1Gbps","price":{"currency_code":"EUR","units":0,"nanos":28000000},"enabled":false,"subscription_period":"hourly","manageable":true,"os_id":"00000000-0000-0000-0000-000000000000","public_bandwidth":{"bandwidth_in_bps":1000000000}},{"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","name":"Windows
      2019 datacenter","price":{"currency_code":"EUR","units":143,"nanos":0},"enabled":false,"subscription_period":"monthly","manageable":false,"os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","license":{"os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a"}},{"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","name":"Private
      Network","price":{"currency_code":"EUR","units":0,"nanos":30000000},"enabled":false,"subscription_period":"hourly","manageable":true,"os_id":"00000000-0000-0000-0000-000000000000","private_network":{"bandwidth_in_bps":1000000000}},{"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","name":"Windows
      2022 standard","price":{"currency_code":"EUR","units":22,"nanos":0},"enabled":false,"subscription_period":"monthly","manageable":false,"os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860","license":{"os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860"}},{"id":"931df052-d713-4674-8b58-96a63244c8e2","name":"Remote
      Access","price":{"currency_code":"EUR","units":0,"nanos":990000000},"enabled":false,"subscription_period":"hourly","manageable":true,"os_id":"00000000-0000-0000-0000-000000000000","remote_access":{}},{"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","name":"Windows
      2022 datacenter","price":{"currency_code":"EUR","units":143,"nanos":0},"enabled":false,"subscription_period":"monthly","manageable":false,"os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41","license":{"os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41"}},{"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","name":"Windows
      2019 standard","price":{"currency_code":"EUR","units":22,"nanos":0},"enabled":false,"subscription_period":"monthly","manageable":false,"os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175","license":{"os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175"}}],"private_bandwidth":1000000000,"shared_bandwidth":true,"tags":["install-system-v2"],"gpus":[]},{"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","name":"EM-A210R-HDD","stock":"empty","bandwidth":1000000000,"max_bandwidth":1000000000,"commercial_range":"aluminium","disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"cpus":[{"name":"AMD
      Ryzen PRO 3600","core_count":6,"thread_count":12,"frequency":3600,"benchmark":""}],"memories":[{"capacity":16000000000,"type":"DDR4","frequency":3200,"is_ecc":true}],"quota_name":"EM_A210R_SATA","price[...]
- request:
    body: '{"id":"c64d397d-fe45-47e0-a7b8-d67285165728","organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","name":"cli-bm-lucid-gates","description":"","updated_at":"2024-12-12T16:22:35.965914Z","created_at":"2024-12-12T16:22:35.965914Z","status":"delivering","offer_id":"206ea234-9097-4ae1-af68-6d2be09f47ed","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","options":[],"offer_name":"EM-B220E-NVME","rescue_server":null,"zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"id":"c64d397d-fe45-47e0-a7b8-d67285165728","organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","name":"cli-bm-lucid-gates","description":"","updated_at":"2024-12-12T16:22:35.965914Z","created_at":"2024-12-12T16:22:35.965914Z","status":"delivering","offer_id":"206ea234-9097-4ae1-af68-6d2be09f47ed","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","options":[],"offer_name":"EM-B220E-NVME","rescue_server":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"c64d397d-fe45-47e0-a7b8-d67285165728","organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","name":"cli-bm-lucid-gates","description":"","updated_at":"2024-12-12T16:22:36.032802Z","created_at":"2024-12-12T16:22:35.965914Z","status":"ready","offer_id":"206ea234-9097-4ae1-af68-6d2be09f47ed","install":null,"tags":[],"ips":[{"id":"0e147df8-fe12-47d1-990e-2eb335c5261f","address":"2001:bc8:701:701:3eec:efff:feff:174e","reverse":"","version":"IPv6","reverse_status":"unknown","reverse_status_message":""},{"id":"f0337c2f-3048-4866-bb58-ec87a3282a98","address":"62.210.158.50","reverse":"","version":"IPv4","reverse_status":"unknown","reverse_status_message":""}],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","options":[],"offer_name":"EM-B220E-NVME","rescue_server":null,"zone":"fr-par-1"}'
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/c64d397d-fe45-47e0-a7b8-d67285165728
 [...]
- request:
    body: '{"id":"c64d397d-fe45-47e0-a7b8-d67285165728","organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","name":"cli-bm-lucid-gates","description":"","updated_at":"2024-12-12T16:22:36.162437Z","created_at":"2024-12-12T16:22:35.965914Z","status":"ready","offer_id":"206ea234-9097-4ae1-af68-6d2be09f47ed","install":{"os_id":"03b7f4ba-a6a1-4305-984e-b54fafbf1681","hostname":"test-install-server","ssh_key_ids":["584a34fe-d851-40e2-a928-324885541bf5"],"status":"to_install","user":"ubuntu","service_user":"","service_url":"","partitioning_schema":{"disks":[{"device":"/dev/nvme0n1","partitions":[{"label":"uefi","number":1,"size":536870912},{"label":"swap","number":2,"size":4294967296},{"label":"boot","number":3,"size":536870912},{"label":"root","number":4,"size":1018839433216}]},{"device":"/dev/nvme1n1","partitions":[{"label":"swap","number":1,"size":4294967296},{"label":"boot","number":2,"size":536870912},{"label":"root","number":3,"size":1018839433216}]}],"raids":[{"name":"/dev/md0","level":"raid_level_1","devices":["/dev/nvme0n1p3","/dev/nvme1n1p2"]},{"name":"/dev/md1","level":"raid_level_1","devices":["/dev/nvme0n1p4","/dev/nvme1n1p3"]}],"filesystems":[{"device":"/dev/nvme0n1p1","format":"fat32","mountpoint":"/boot/efi"},{"device":"/dev/md0","format":"ext4","mountpoint":"/boot"},{"device":"/dev/md1","format":"ext4","mountpoint":"/"}],"zfs":{"pools":[]}}},"tags":[],"ips":[{"id":"0e147df8-fe12-47d1-990e-2eb335c5261f","address":"2001:bc8:701:701:3eec:efff:feff:174e","reverse":"","version":"IPv6","reverse_status":"unknown","reverse_status_message":""},{"id":"f0337c2f-3048-4866-bb58-ec87a3282a98","address":"62.210.158.50","reverse":"","version":"IPv4","reverse_status":"unknown","reverse_status_message":""}],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","options":[],"offe[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/584a34fe-d851-40e2-a928-324885541bf5
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
