---
version: 1
interactions:
- request:
    body: '{"name":"","public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQCbJuYSOQc01zjHsMyn4OUsW61cqRvttKt3StJgbvt2WBuGpwi1/5RtSoMQpudYlZpdeivFb21S8QRas8zcOc+6WqgWa2nj/8yA+cauRlV6CMWY+hOTkkg39xaekstuQ+WR2/AP7O/9hjVx5735+9ZNIxxHsFjVYdBEuk9gEX+1Rw==
      foobar@foobar","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"48734124-36fc-409c-a515-40c87ed0e1b8","name":"","public_key":"ssh-rsa
      AAAAB3NzaC1yc2EAAAADAQABAAAAgQCbJuYSOQc01zjHsMyn4OUsW61cqRvttKt3StJgbvt2WBuGpwi1/5RtSoMQpudYlZpdeivFb21S8QRas8zcOc+6WqgWa2nj/8yA+cauRlV6CMWY+hOTkkg39xaekstuQ+WR2/AP7O/9hjVx5735+9ZNIxxHsFjVYdBEuk9gEX+1Rw==
      foobar@foobar","fingerprint":"1024 MD5:da:0f:06:4c:de:fe:a1:c0:6c:e9:bb:78:e1:a4:e8:ce
      foobar@foobar (ssh-rsa)","created_at":"2021-10-08T09:37:05.123519Z","updated_at":"2021-10-08T09:37:05.123519Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/nl-ams-1/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: '{"total_count":6,"offers":[{"id":"c27dd792-2538-4c54-8989-f460b1aeb5fd","name":"GP-BM2-S","stock":"available","bandwidth":750000000,"commercial_range":"general_purpose","disks":[{"capacity":480000000000,"type":"NVMe"},{"capacity":480000000000,"type":"NVMe"}],"enable":true,"cpus":[{"name":"Intel
      Xeon E-2246G","core_count":6,"thread_count":12,"frequency":3600}],"memories":[{"capacity":32000000000,"type":"DDR4","frequency":3200,"is_ecc":true}],"quota_name":"bmaas_gp","price_per_hour":{"currency_code":"EUR","units":0,"nanos":187000000},"price_per_month":null,"persistent_memories":[],"raid_controllers":[],"incompatible_os_ids":["3ea52186-1e57-499e-8146-ab38051a5c10"],"subscription_period":"unknown_subscription_period","operation_path":"","fee":null},{"id":"964f9b38-577e-470f-a220-7d762f9e8672","name":"GP-BM1-M","stock":"empty","bandwidth":500000000,"commercial_range":"general_purpose","disks":[{"capacity":1024000000000,"type":"SSD"},{"capacity":1024000000000,"type":"SSD"},{"capacity":1024000000000,"type":"SSD"}],"enable":true,"cpus":[{"name":"Intel
      Xeon E3 1240v6","core_count":4,"thread_count":8,"frequency":3700}],"memories":[{"capacity":64000000000,"type":"DDR4","frequency":2133,"is_ecc":true}],"quota_name":"bmaas_gp","price_pe[...]
- request:
    body: '{"offer_id":"c27dd792-2538-4c54-8989-f460b1aeb5fd","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-focused-vaughan","description":"","tags":null,"install":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/nl-ams-1/servers
    method: POST
  response:
    body: '{"id":"85a4280a-4d3d-462c-9214-fb8d8d9d1971","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-focused-vaughan","description":"","updated_at":"2021-10-08T09:37:05.537038492Z","created_at":"2021-10-08T09:37:05.537038492Z","status":"delivering","offer_id":"c27dd792-2538-4c54-8989-f460b1aeb5fd","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/nl-ams-1/servers/85a4280a-4d3d-462c-9214-fb8d8d9d1971
    method: GET
  response:
    body: '{"id":"85a4280a-4d3d-462c-9214-fb8d8d9d1971","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-focused-vaughan","description":"","updated_at":"2021-10-08T09:37:05.537038Z","created_at":"2021-10-08T09:37:05.537038Z","status":"delivering","offer_id":"c27dd792-2538-4c54-8989-f460b1aeb5fd","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/nl-ams-1/servers/85a4280a-4d3d-462c-9214-fb8d8d9d1971
    method: GET
  response:
    body: '{"id":"85a4280a-4d3d-462c-9214-fb8d8d9d1971","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-focused-vaughan","description":"","updated_at":"2021-10-08T09:40:11.509336Z","created_at":"2021-10-08T09:37:05.537038Z","status":"ready","offer_id":"c27dd792-2538-4c54-8989-f460b1aeb5fd","install":null,"tags":[],"ips":[{"id":"1184315d-69ec-4c7d-9870-b668b9d4e927","address":"2001:0bc8:1600:0006:224:ecff:fef2:bfe8","reverse":"85a4280a-4d3d-462c-9214-fb8d8d9d1971.nl-ams-1.baremetal.scw.cloud","version":"IPv6","reverse_status":"pending","reverse_status_message":""},{"id":"cda10b95-c3cd-41a4-8dfb-52cb562c1e81","address":"51.158.156.47","reverse":"85a4280a-4d3d-462c-9214-fb8d8d9d1971.nl-ams-1.baremetal.scw.cloud","version":"IPv4","reverse_status":"pending","reverse_status_message":""}],"domain":"85a4280a-4d3d-462c-9214-fb8d8d9d1971.nl-ams-1.baremetal.scw.cloud","boot_type":"normal","ping_status":"ping_status_down","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"os_id":"03b7f4ba-a6a1-4305-984e-b54fafbf1681","hostname":"test-install-server","ssh_key_ids":["48734124-36fc-409c-a515-40c87ed0e1b8"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/nl-ams-1/servers/85a4280a-4d3d-462c-9214-fb8d8d9d1971/install
    method: POST
  response:
    body: '{"id":"85a4280a-4d3d-462c-9214-fb8d8d9d1971","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-focused-vaughan","description":"","updated_at":"2021-10-08T09:40:11.509336Z","created_at":"2021-10-08T09:37:05.537[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/48734124-36fc-409c-a515-40c87ed0e1b8
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
