---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/nl-ams-1/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: '{"total_count":6,"offers":[{"id":"c27dd792-2538-4c54-8989-f460b1aeb5fd","name":"GP-BM2-S","stock":"available","bandwidth":750000000,"commercial_range":"general_purpose","disks":[{"capacity":480000000000,"type":"NVMe"},{"capacity":480000000000,"type":"NVMe"}],"enable":true,"cpus":[{"name":"Intel
      Xeon E-2246G","core_count":6,"thread_count":12,"frequency":3600}],"memories":[{"capacity":32000000000,"type":"DDR4","frequency":3200,"is_ecc":true}],"quota_name":"bmaas_gp","price_per_hour":{"currency_code":"EUR","units":0,"nanos":187000000},"price_per_month":null,"persistent_memories":[],"raid_controllers":[],"incompatible_os_ids":["3ea52186-1e57-499e-8146-ab38051a5c10"],"subscription_period":"unknown_subscription_period","operation_path":"","fee":null},{"id":"964f9b38-577e-470f-a220-7d762f9e8672","name":"GP-BM1-M","stock":"empty","bandwidth":500000000,"commercial_range":"general_purpose","disks":[{"capacity":1024000000000,"type":"SSD"},{"capacity":1024000000000,"type":"SSD"},{"capacity":1024000000000,"type":"SSD"}],"enable":true,"cpus":[{"name":"Intel
      Xeon E3 1240v6","core_count":4,"thread_count":8,"frequency":3700}],"memories":[{"capacity":64000000000,"type":"DDR4","frequency":2133,"is_ecc":true}],"quota_name":"bmaas_gp","price_pe[...]
- request:
    body: '{"offer_id":"c27dd792-2538-4c54-8989-f460b1aeb5fd","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-gallant-lamport","description":"","tags":["prod","blue"],"install":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/nl-ams-1/servers
    method: POST
  response:
    body: '{"id":"87f6c0d7-9dff-4cf6-b1bc-6a363f429075","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-gallant-lamport","description":"","updated_at":"2021-10-08T08:59:18.202879364Z","created_at":"2021-10-08T08:59:18.202879364Z","status":"delivering","offer_id":"c27dd792-2538-4c54-8989-f460b1aeb5fd","install":null,"tags":["prod","blue"],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/nl-ams-1/servers/87f6c0d7-9dff-4cf6-b1bc-6a363f429075
    method: GET
  response:
    body: '{"id":"87f6c0d7-9dff-4cf6-b1bc-6a363f429075","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-gallant-lamport","description":"","updated_at":"2021-10-08T08:59:18.202879Z","created_at":"2021-10-08T08:59:18.202879Z","status":"delivering","offer_id":"c27dd792-2538-4c54-8989-f460b1aeb5fd","install":null,"tags":["prod","blue"],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/nl-ams-1/servers/87f6c0d7-9dff-4cf6-b1bc-6a363f429075
    method: GET
  response:
    body: '{"id":"87f6c0d7-9dff-4cf6-b1bc-6a363f429075","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-gallant-lamport","description":"","updated_at":"2021-10-08T09:00:21.923362Z","created_at":"2021-10-08T08:59:18.202879Z","status":"ready","offer_id":"c27dd792-2538-4c54-8989-f460b1aeb5fd","install":null,"tags":["prod","blue"],"ips":[{"id":"337b0b69-b17c-4f33-818d-0b5dd7fee168","address":"2001:0bc8:1600:0006:224:ecff:fef2:2c5e","reverse":"87f6c0d7-9dff-4cf6-b1bc-6a363f429075.nl-ams-1.baremetal.scw.cloud","version":"IPv6","reverse_status":"pending","reverse_status_message":""},{"id":"f9e37f40-7833-43f4-a913-a57d309c63ae","address":"51.158.156.35","reverse":"87f6c0d7-9dff-4cf6-b1bc-6a363f429075.nl-ams-1.baremetal.scw.cloud","version":"IPv4","reverse_status":"pending","reverse_status_message":""}],"domain":"87f6c0d7-9dff-4cf6-b1bc-6a363f429075.nl-ams-1.baremetal.scw.cloud","boot_type":"normal","ping_status":"ping_status_down","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
