---
version: 1
interactions:
- request:
    body: '{"total_count":0,"servers":[]}'
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers?order_by=created_at_asc&page=1&tags=a
    method: GET
  response:
    body: '{"total_count":0,"servers":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"total_count":30,"offers":[{"id":"f78052df-c8f7-437b-9793-098ef3d45f91","name":"EM-RV1-C4M16S128-A","stock":"available","bandwidth":100000000,"max_bandwidth":100000000,"commercial_range":"labs","disks":[{"capacity":128000000000,"type":"MMC"}],"enable":true,"cpus":[{"name":"TH1520","core_count":4,"thread_count":4,"frequency":1850,"benchmark":""}],"memories":[{"capacity":16000000000,"type":"DDR4","frequency":3733,"is_ecc":true}],"quota_name":"EM_RV1_C4M16S128_A","price_per_hour":{"currency_code":"EUR","units":0,"nanos":42000000},"price_per_month":null,"persistent_memories":[],"raid_controllers":[],"incompatible_os_ids":["4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","3ea52186-1e57-499e-8146-ab38051a5c10","bd43e67e-be12-4a48-bb7e-f56c751c99b0","86fd5e3a-b023-4fa8-a3ae-1a194d8cd68c","5a7210ac-9d87-4f4a-b596-cc7f43a89b21","0058e276-66ef-4883-ad83-0e48536f635c","7e865c16-1a63-4dc7-8181-dabc020fc21b","7fb86682-316e-4f6e-a845-de9b230cdd29","d859aa89-8b4a-4551-af42-ff7c0c27260a","01d6eef6-6b96-47fd-b9f9-3857321abe4f","0aa99516-52bb-4a7d-b9fe-1adc8478c2e0","eef03f45-057b-4192-b95f-c21cae01e959","5dfefb70-053e-4ba8-9d76-537b23[...]
