---
version: 1
interactions:
- request:
    body: '{"total_count":0, "servers":[]}'
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"total_count":0, "servers":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"total_count":32, "offers":[{"id":"f78052df-c8f7-437b-9793-098ef3d45f91",
      "name":"EM-RV1-C4M16S128-A", "stock":"available", "bandwidth":100000000, "max_bandwidth":100000000,
      "commercial_range":"labs", "disks":[{"capacity":128000000000, "type":"MMC"}],
      "enable":true, "cpus":[{"name":"TH1520", "core_count":4, "thread_count":4, "frequency":1850,
      "benchmark":""}], "memories":[{"capacity":16000000000, "type":"DDR4", "frequency":3733,
      "is_ecc":true}], "quota_name":"EM_RV1_C4M16S128_A", "price_per_hour":{"currency_code":"EUR",
      "units":0, "nanos":42000000}, "price_per_month":null, "persistent_memories":[],
      "raid_controllers":[], "incompatible_os_ids":["e8fc12e5-cfcd-434a-a8b0-d5f5141baf91",
      "03b7f4ba-a6a1-4305-984e-b54fafbf1681", "d859aa89-8b4a-4551-af42-ff7c0c27260a",
      "bf705b90-1548-4368-98ca-d17dbd8dd860", "a5cec64e-d7b0-4c6e-a819-60139d30a76c",
      "a47ccf6f-1990-4488-8f64-332a6da3ef84", "01d6eef6-6b96-47fd-b9f9-3857321abe4f",
      "8d034a5d-84c6-4b24-af8a-60ab7c55807f", "f2aeab5d-6015-4b7c-b4ed-d76e89093621",
      "c2f3e970-63f0-4f48-aa84-3455e4e13802", "d17d6872-0412-45d9-a198-af82c34d3c5c",
      "0aa99516-52bb-4a7d-b9f[...]
