---
version: 1
interactions:
- request:
    body: '{"id":"5d440b7c-1e81-476f-bc0d-793b2a721584","name":"cli-key-beautiful-antonelli","public_key":"ssh-rsa
      AAAAB3NzaC1yc2EAAAADAQABAAAAgQCbJuYSOQc01zjHsMyn4OUsW61cqRvttKt3StJgbvt2WBuGpwi1/5RtSoMQpudYlZpdeivFb21S8QRas8zcOc+6WqgWa2nj/8yA+cauRlV6CMWY+hOTkkg39xaekstuQ+WR2/AP7O/9hjVx5735+9ZNIxxHsFjVYdBEuk9gEX+1Rw==","fingerprint":"1024
      MD5:da:0f:06:4c:de:fe:a1:c0:6c:e9:bb:78:e1:a4:e8:ce (ssh-rsa)","created_at":"2024-12-12T16:22:35.401753Z","updated_at":"2024-12-12T16:22:35.401753Z","organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"5d440b7c-1e81-476f-bc0d-793b2a721584","name":"cli-key-beautiful-antonelli","public_key":"ssh-rsa
      AAAAB3NzaC1yc2EAAAADAQABAAAAgQCbJuYSOQc01zjHsMyn4OUsW61cqRvttKt3StJgbvt2WBuGpwi1/5RtSoMQpudYlZpdeivFb21S8QRas8zcOc+6WqgWa2nj/8yA+cauRlV6CMWY+hOTkkg39xaekstuQ+WR2/AP7O/9hjVx5735+9ZNIxxHsFjVYdBEuk9gEX+1Rw==","fingerprint":"1024
      MD5:da:0f:06:4c:de:fe:a1:c0:6c:e9:bb:78:e1:a4:e8:ce (ssh-rsa)","created_at":"2024-12-12T16:22:35.401753Z","updated_at":"2024-12-12T16:22:35.401753Z","organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","disabled":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"total_count":25,"offers":[{"id":"f7241870-c383-4fa2-bbca-5189600df5c4","name":"EM-A115X-SSD","stock":"available","bandwidth":500000000,"max_bandwidth":1000000000,"commercial_range":"aluminium","disks":[{"capacity":1024209543168,"type":"SSD"},{"capacity":1024209543168,"type":"SSD"}],"enable":true,"cpus":[{"name":"Intel
      Xeon E3 1220 or equivalent","core_count":4,"thread_count":4,"frequency":3100,"benchmark":""}],"memories":[{"capacity":32000000000,"type":"DDR3","frequency":1600,"is_ecc":true}],"quota_name":"EM_A115X_SSD","price_per_hour":{"currency_code":"EUR","units":0,"nanos":91000000},"price_per_month":null,"persistent_memories":[],"raid_controllers":[],"incompatible_os_ids":["7e865c16-1a63-4dc7-8181-dabc020fc21b","bd17a2bb-e686-486a-aacf-44fa8ce6e553","bf705b90-1548-4368-98ca-d17dbd8dd860","2e06fa49-4677-4bd7-8bf5-b1c490d8a966","7fb86682-316e-4f6e-a845-de9b230cdd29","847bb37a-dc13-4536-9f07-023d38dba98d","1c376d8a-f237-438d-9cd9-47902050ffd3","6aa3f876-1c83-4434-8cc4-a2dbc94216db","69e740ab-9f0e-4107-8516-16470000729c","93fb3e11-e02e-47d9-aa3a-f77a2f7a7129","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","3422ae02-d6d7-4980-8a00-eb38c262fb41","fd771862-4b75-46a7-ab42-73c46c0ac2db","fa29896b-6b49-468d-a787-966559a55c12","a5c00c1b-95b1-4c08-8a33-79cc079f9dac","b4816d13-8585-4005-a7c7-54a031dd933b","4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","7c70ff80-dbfa-4e07-be73-1de0e60fe175"],"subscription_period":"hourly","operation_path":"","fee":{"currency_code":"EUR","units":0,"nanos":0},"options":[{"id":"9ce714f1-ed03-4e3b-8c69-d46957ab0ebb","name":"Public
      Bandwidth 1Gbps","price":{"currency_code":"EUR","units":0,"nanos":28000000},"enabled":false,"subscription_period":"hourly","manageable":true,"os_id":"00000000-0000-0000-0000-000000000000","public_bandwidth":{"bandwidth_in_bps":1000000000}},{"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","name":"Windows
      2019 datacenter","price":{"currency_code":"EUR","units":143,"nanos":0},"enabled":false,"subscription_period":"monthly","manageable":false,"os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","license":{"os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a"}},{"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","name":"Private
      Network","price":{"currency_code":"EUR","units":0,"nanos":30000000},"enabled":false,"subscription_period":"hourly","manageable":true,"os_id":"00000000-0000-0000-0000-000000000000","private_network":{"bandwidth_in_bps":1000000000}},{"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","name":"Windows
      2022 standard","price":{"currency_code":"EUR","units":22,"nanos":0},"enabled":false,"subscription_period":"monthly","manageable":false,"os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860","license":{"os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860"}},{"id":"931df052-d713-4674-8b58-96a63244c8e2","name":"Remote
      Access","price":{"currency_code":"EUR","units":0,"nanos":990000000},"enabled":false,"subscription_period":"hourly","manageable":true,"os_id":"00000000-0000-0000-0000-000000000000","remote_access":{}},{"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","name":"Windows
      2022 datacenter","price":{"currency_code":"EUR","units":143,"nanos":0},"enabled":false,"subscription_period":"monthly","manageable":false,"os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41","license":{"os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41"}},{"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","name":"Windows
      2019 standard","price":{"currency_code":"EUR","units":22,"nanos":0},"enabled":false,"subscription_period":"monthly","manageable":false,"os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175","license":{"os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175"}}],"private_bandwidth":1000000000,"shared_bandwidth":true,"tags":["install-system-v2"],"gpus":[]},{"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","name":"EM-A210R-HDD","stock":"empty","bandwidth":1000000000,"max_bandwidth":1000000000,"commercial_range":"aluminium","disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"cpus":[{"name":"AMD
      Ryzen PRO 3600","core_count":6,"thread_count":12,"frequency":3600,"benchmark":""}],"memories":[{"capacity":16000000000,"type":"DDR4","frequency":3200,"is_ecc":true}],"quota_name":"EM_A210R_SATA","price[...]
- request:
    body: '{"id":"dd95ae38-d37d-4502-8d8f-3ff00a795fbc","organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","name":"cli-bm-boring-panini","description":"","updated_at":"2024-12-12T16:22:36.043993Z","created_at":"2024-12-12T16:22:36.043993Z","status":"delivering","offer_id":"206ea234-9097-4ae1-af68-6d2be09f47ed","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","options":[],"offer_name":"EM-B220E-NVME","rescue_server":null,"zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"id":"dd95ae38-d37d-4502-8d8f-3ff00a795fbc","organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","name":"cli-bm-boring-panini","description":"","updated_at":"2024-12-12T16:22:36.043993Z","created_at":"2024-12-12T16:22:36.043993Z","status":"delivering","offer_id":"206ea234-9097-4ae1-af68-6d2be09f47ed","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","options":[],"offer_name":"EM-B220E-NVME","rescue_server":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"dd95ae38-d37d-4502-8d8f-3ff00a795fbc","organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","name":"cli-bm-boring-panini","description":"","updated_at":"2024-12-12T16:22:36.125582Z","created_at":"2024-12-12T16:22:36.043993Z","status":"ready","offer_id":"206ea234-9097-4ae1-af68-6d2be09f47ed","install":null,"tags":[],"ips":[{"id":"2b52b947-e19a-4098-a740-6cf36ffacd7e","address":"2001:bc8:701:702:3eec:efff:feff:1898","reverse":"","version":"IPv6","reverse_status":"unknown","reverse_status_message":""},{"id":"df322c99-395c-4b38-abd2-5c841785564f","address":"62.210.158.105","reverse":"","version":"IPv4","reverse_status":"unknown","reverse_status_message":""}],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","options":[],"offer_name":"EM-B220E-NVME","rescue_server":null,"zone":"fr-par-1"}'
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/dd95ae38-d37d-4502-8d8f-3ff00a795fbc
[...]
- request:
    body: '{"ssh_keys":[{"id":"c7954590-1616-4574-a1e1-e95b48ef4378","name":"test-cli-KeyRegistered","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAICd8ZxAm9mXQsRHhQ5iADEJuO+Ai8EbXMI7TIlsh9jbE","fingerprint":"256
      MD5:2e:c9:d3:87:1c:04:5f:c8:86:0c:08:4d:34:3f:ff:4c (ssh-ed25519)","created_at":"2024-11-30T00:46:58.388645Z","updated_at":"2024-11-30T00:46:58.388645Z","organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","disabled":false},{"id":"5e781941[...]
[...]
- request:
    body: '{"id":"dd95ae38-d37d-4502-8d8f-3ff00a795fbc","organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","name":"cli-bm-boring-panini","description":"","updated_at":"2024-12-12T16:22:36.682617Z","created_at":"2024-12-12T16:22:36.043993Z","status":"ready","offer_id":"206ea234-9097-4ae1-af68-6d2be09f47ed","install":{"os_id":"03b7f4ba-a6a1-4305-984e-b54fafbf1681","hostname":"test-install-server","ssh_key_ids":["c7954590-1616-4574-a1e1-e95b48ef4378","5e781941-b542-4136-bb01-342eb56544bd","74a9d119-bb04-4aed-b7b1-9c80a8424deb","68514ecc-e009-4b3d-b560-6e923fa507a0","b822b395-4592-46be-9619-fc06d5f04f3d","91ec9928-4eaf-45f2-9ca7-28b4cc6a1b8e","4c094aa6-ea32-4756-b9aa-c159becb2467","7b7f455f-4b82-4894-9341-354cdbc6a0f1","4ad20cb5-7ccc-44db-939b-8babfc741cf9","b4a04bff-3f5a-4c31-b98f-8e6665c85e1c","df47ed9f-ef38-4cc9-a239-8c8c9dba12ed","55f75375-16aa-458b-9c4c-448c1d77c44c","e0ba4fee-fe43-493f-8fcc-95fd9c[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/5d440b7c-1e81-476f-bc0d-793b2a721584
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
