---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1
    method: GET
  response:
    body: '{"total_count":9,"offers":[{"id":"3ab0dc29-2fd4-486e-88bf-d08fbf49214b","name":"HC-BM1-L","stock":"low","bandwidth":1048576000,"commercial_range":"high_cpu","disks":[{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"}],"enable":true,"cpus":[{"name":"Intel
      Xeon Gold 5120","core_count":14,"thread_count":28,"frequency":2200},{"name":"Intel
      Xeon Gold 5120","core_count":14,"thread_count":28,"frequency":2200}],"memories":[{"capacity":412316860416,"type":"DDR4","frequency":2133,"is_ecc":true}],"quota_name":"bmaas_high_cpu","price_per_hour":{"currency_code":"EUR","units":1,"nanos":499900000},"price_per_month":{"currency_code":"EUR","units":749,"nanos":990000000},"persistent_memories":[],"raid_controllers":[]},{"id":"3b654f13-34e5-452a-bed8-4f7472d29593","name":"HM-BM1-S","stock":"available","bandwidth":1048576000,"commercial_range":"high_memory","disks":[{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"}],"enable":true,"cpus":[{"name":"Intel
      Xeon Silver 4114","core_count":10,"thread_count":20,"frequency":2200},{"name":"Intel
      Xeon Silver 4114","core_count":10,"thread_count":20,"frequency":2200}],"memories":[{"capacity":206158430208,"type":"DDR4","frequenc[...]
- request:
    body: '{"offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","organization_id":"b8fdefc6-c926-4a47-af24-24f14f724d6a","name":"cli-bm-suspicious-mcnulty","description":"","tags":["prod","blue"],"install":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"id":"b8ea4af0-d0da-445a-b115-1047174818ae","organization_id":"b8fdefc6-c926-4a47-af24-24f14f724d6a","name":"cli-bm-suspicious-mcnulty","description":"","updated_at":"2020-08-19T14:00:30.970115440Z","created_at":"2020-08-19T14:00:30.970115440Z","status":"delivering","offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","install":null,"tags":["prod","blue"],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/b8ea4af0-d0da-445a-b115-1047174818ae
    method: GET
  response:
    body: '{"id":"b8ea4af0-d0da-445a-b115-1047174818ae","organization_id":"b8fdefc6-c926-4a47-af24-24f14f724d6a","name":"cli-bm-suspicious-mcnulty","description":"","updated_at":"2020-08-19T14:00:30.970115Z","created_at":"2020-08-19T14:00:30.970115Z","status":"delivering","offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","install":null,"tags":["prod","blue"],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/b8ea4af0-d0da-445a-b115-1047174818ae
    method: GET
  response:
    body: '{"id":"b8ea4af0-d0da-445a-b115-1047174818ae","organization_id":"b8fdefc6-c926-4a47-af24-24f14f724d6a","name":"cli-bm-suspicious-mcnulty","description":"","updated_at":"2020-08-19T14:05:15.188710Z","created_at":"2020-08-19T14:00:30.970115Z","status":"ready","offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","install":null,"tags":["prod","blue"],"ips":[{"id":"1648e19c-1c3d-4d80-bfd5-09b4f4a9ab8a","address":"2001:0bc8:6005:001b:dac4:97ff:fe2a:31e8","reverse":"b8ea4af0-d0da-445a-b115-1047174818ae.fr-par-2.baremetal.scw.cloud","version":"IPv6","reverse_status":"pending","reverse_status_message":""},{"id":"ff5ab843-7886-41ae-b2eb-44f658f0dcc3","address":"51.159.31.105","reverse":"b8ea4af0-d0da-445a-b115-1047174818ae.fr-par-2.baremetal.scw.cloud","version":"IPv4","reverse_status":"pending","reverse_status_message":""}],"domain":"b8ea4af0-d0da-445a-b115-1047174818ae.fr-par-2.baremetal.scw.cloud","boot_type":"normal","ping_status":"ping_status_unknown","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
