---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=testcli&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[{"id":"a36af907-1539-44ca-b08a-383b58c3308f","name":"testcli","description":"","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/testcli","is_public":false,"size":0,"created_at":"2020-04-22T17:05:34.279271Z","updated_at":"2020-04-22T17:05:34.279271Z","image_count":0,"region":"fr-par"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
