---
version: 1
interactions:
- request:
    body: '{"name":"cli-public-namespace","description":"","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","is_public":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"bbf6b158-7645-4e61-8168-d93fa8ca0b95","name":"cli-public-namespace","description":"","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-public-namespace","is_public":true,"size":0,"created_at":"2020-06-03T16:53:16.197893165Z","updated_at":"2020-06-03T16:53:16.197893165Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=visibility_public&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"images":[{"id":"5edd2996-d00c-4d64-9629-e8ffe1c52ae1","name":"visibility_public","namespace_id":"bbf6b158-7645-4e61-8168-d93fa8ca0b95","status":"ready","status_message":"","visibility":"inherit","size":0,"created_at":"2020-06-03T16:53:23.406431Z","updated_at":"2020-06-03T16:53:23.406431Z","tags":["latest"]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[{"id":"9c7ad6f7-326d-44e6-a920-aea196ac897e","name":"jquere01","description":"","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/jquere01","is_public":false,"size":2797541,"created_at":"2020-06-01T17:39:33.333350Z","updated_at":"2020-06-01T17:46:30.407834Z","image_count":1,"region":"fr-par"},{"id":"bbf6b158-7645-4e61-8168-d93fa8ca0b95","name":"cli-public-namespace","description":"","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-public-namespace","is_public":true,"size":0,"created_at":"2020-06-03T16:53:16.197893Z","updated_at":"2020-06-03T16:53:16.197893Z","image_count":1,"region":"fr-par"},{"id":"91665e85-422e-480c-921c-560d0f1b2184","name":"cli-private-namespace","description":"","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-private-namespace","is_public":false,"size":0,"created_at":"2020-06-03T16:53:16.304460Z","updated_at":"2020-06-03T16:53:16.304460Z","image_count":0,"region":"fr-par"}],"total_count":3}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"visibility":"public"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images/5edd2996-d00c-4d64-9629-e8ffe1c52ae1
    method: PATCH
  response:
    body: '{"id":"5edd2996-d00c-4d64-9629-e8ffe1c52ae1","name":"visibility_public","namespace_id":"bbf6b158-7645-4e61-8168-d93fa8ca0b95","status":"ready","status_message":"","visibility":"public","size":0,"created_at":"2020-06-03T16:53:23.406431Z","updated_at":"2020-06-03T16:53:23.664552801Z","tags":["latest"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=visibility_private&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"images":[{"id":"16db06c2-2908-4a97-8dfa-35e1c7fa00ca","name":"visibility_private","namespace_id":"bbf6b158-7645-4e61-8168-d93fa8ca0b95","status":"ready","status_message":"","visibility":"inherit","size":0,"created_at":"2020-06-03T16:53:29.527984Z","updated_at":"2020-06-03T16:53:29.527984Z","tags":["latest"]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=visibility_inherit&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"images":[{"id":"d7982e5f-bd5d-447e-89b6-7bfff824314b","name":"visibility_inherit","namespace_id":"bbf6b158-7645-4e61-8168-d93fa8ca0b95","status":"ready","status_message":"","visibility":"inherit","size":0,"created_at":"2020-06-03T16:53:34.012944Z","updated_at":"2020-06-03T16:53:34.012944Z","tags":["latest"]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"images":[{"id":"f091a7b6-561a-4741-9658-186f7141b681","name":"alpine","namespace_id":"9c7ad6f7-326d-44e6-a920-aea196ac897e","status":"ready","status_message":"","visibility":"inherit","size":2797541,"created_at":"2020-06-01T17:46:29.938072Z","updated_at":"2020-06-01T17:46:30.387874Z","tags":["latest"]},{"id":[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/bbf6b158-7645-4e61-8168-d93fa8ca0b95
    method: DELETE
  response:
    body: '{"id":"bbf6b158-7645-4e61-8168-d93fa8ca0b95","name":"cli-public-namespace","description":"","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","status":"deleting","status_message":"","endpoint":"rg.fr-par.scw.cloud/cli-public-namespace","is_public":true,"size":2244230,"created_at":"2020-06-03T16:53:16.197893Z","updated_at":"2020-06-03T16:53:47.412786323Z","image_count":3,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
