---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"total_count":1,"servers":[{"id":"63122914-918a-431b-aeb1-001fc1a7e3b2","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"bm-blissful-yonath","description":"","updated_at":"2020-03-26T09:58:55.787980Z","created_at":"2020-03-26T09:51:14.289250Z","status":"ready","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":["a"],"ips":[{"id":"fe70a9b5-7f3d-4927-8730-cc3c995fefec","address":"51.159.56.110","reverse":"63122914-918a-431b-aeb1-001fc1a7e3b2.fr-par-2.baremetal.scw.cloud","version":"Ipv4","reverse_status":"active","reverse_status_message":null},{"id":"f160ce5b-58c1-47cf-a9ab-807e5f5f45dd","address":"2001:0bc8:1200:0000:dac4:97ff:fe5b:7c81","reverse":"63122914-918a-431b-aeb1-001fc1a7e3b2.fr-par-2.baremetal.scw.cloud","version":"Ipv6","reverse_status":"active","reverse_status_message":null}],"domain":"63122914-918a-431b-aeb1-001fc1a7e3b2.fr-par-2.baremetal.scw.cloud","boot_type":"normal","zone":"fr-par-2"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
