---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/offers?page=1
    method: GET
  response:
    body: '{"total_count":7,"offers":[{"id":"3ab0dc29-2fd4-486e-88bf-d08fbf49214b","name":"HC-BM1-L","stock":"available","bandwidth":1000,"commercial_range":"high_cpu","price_by_minute":{"currency_code":"EUR","units":1,"nanos":499900000},"price_by_month":{"currency_code":"EUR","units":749,"nanos":990000000},"disk":[{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"}],"enable":true,"cpu":[{"name":"Intel
      Xeon Gold 5120","cores":28,"threads":56,"frequency":2200},{"name":"Intel Xeon
      Gold 5120","cores":28,"threads":56,"frequency":2200}],"memory":[{"capacity":384,"type":"DDR4","frequency":2133,"ecc":true}],"quota_name":"bmaas_high","price_per_sixty_minutes":{"currency_code":"EUR","units":1,"nanos":499900000},"price_per_month":{"currency_code":"EUR","units":749,"nanos":990000000}},{"id":"5363865f-2266-40f9-a43f-4f3aba251524","name":"HM-BM1-XL","stock":"empty","bandwidth":1000,"commercial_range":"high_memory","price_by_minute":{"currency_code":"EUR","units":2,"nanos":599900000},"price_by_month":{"currency_code":"EUR","units":1299,"nanos":990000000},"disk":[{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"cap[...]
- request:
    body: '{"offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-suspicious-perlman","description":"","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"id":"f1303c26-297c-490d-86fe-06af7d7c7a50","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-suspicious-perlman","description":"","updated_at":"2020-03-27T12:57:34.491900034Z","created_at":"2020-03-27T12:57:34.491900034Z","status":"undelivered","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers/f1303c26-297c-490d-86fe-06af7d7c7a50
    method: GET
  response:
    body: '{"id":"f1303c26-297c-490d-86fe-06af7d7c7a50","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-suspicious-perlman","description":"","updated_at":"2020-03-27T12:57:34.491900Z","created_at":"2020-03-27T12:57:34.491900Z","status":"undelivered","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers/f1303c26-297c-490d-86fe-06af7d7c7a50
    method: GET
  response:
    body: '{"id":"f1303c26-297c-490d-86fe-06af7d7c7a50","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-suspicious-perlman","description":"","updated_at":"2020-03-27T13:00:18.213363Z","created_at":"2020-03-27T12:57:34.491900Z","status":"ready","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":[],"ips":[{"id":"30b600a4-ddc2-48b0-8dc8-9eaa215086de","address":"51.159.56.173","reverse":"f1303c26-297c-490d-86fe-06af7d7c7a50.fr-par-2.baremetal.scw.cloud","version":"Ipv4","reverse_status":"pending","reverse_status_message":null},{"id":"f01b17c5-9bb5-4d15-8488-9ca7673a5771","address":"2001:0bc8:1200:0000:dac4:97ff:fe5b:73b1","reverse":"f1303c26-297c-490d-86fe-06af7d7c7a50.fr-par-2.baremetal.scw.cloud","version":"Ipv6","reverse_status":"pending","reverse_status_message":null}],"domain":"f1303c26-297c-490d-86fe-06af7d7c7a50.fr-par-2.baremetal.scw.cloud","boot_type":"normal","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
