---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/offers?page=1
    method: GET
  response:
    body: '{"total_count":7,"offers":[{"id":"3ab0dc29-2fd4-486e-88bf-d08fbf49214b","name":"HC-BM1-L","stock":"available","bandwidth":1000,"commercial_range":"high_cpu","price_by_minute":{"currency_code":"EUR","units":1,"nanos":499900000},"price_by_month":{"currency_code":"EUR","units":749,"nanos":990000000},"disk":[{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"}],"enable":true,"cpu":[{"name":"Intel
      Xeon Gold 5120","cores":28,"threads":56,"frequency":2200},{"name":"Intel Xeon
      Gold 5120","cores":28,"threads":56,"frequency":2200}],"memory":[{"capacity":384,"type":"DDR4","frequency":2133,"ecc":true}],"quota_name":"bmaas_high","price_per_sixty_minutes":{"currency_code":"EUR","units":1,"nanos":499900000},"price_per_month":{"currency_code":"EUR","units":749,"nanos":990000000}},{"id":"5363865f-2266-40f9-a43f-4f3aba251524","name":"HM-BM1-XL","stock":"empty","bandwidth":1000,"commercial_range":"high_memory","price_by_minute":{"currency_code":"EUR","units":2,"nanos":599900000},"price_by_month":{"currency_code":"EUR","units":1299,"nanos":990000000},"disk":[{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"cap[...]
- request:
    body: '{"offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-angry-mayer","description":"","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"id":"c342a860-a71c-4b92-b625-86eb2d83d64f","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-angry-mayer","description":"","updated_at":"2020-03-27T11:11:48.339252838Z","created_at":"2020-03-27T11:11:48.339252838Z","status":"undelivered","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers/c342a860-a71c-4b92-b625-86eb2d83d64f
    method: GET
  response:
    body: '{"id":"c342a860-a71c-4b92-b625-86eb2d83d64f","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-angry-mayer","description":"","updated_at":"2020-03-27T11:11:48.339253Z","created_at":"2020-03-27T11:11:48.339253Z","status":"undelivered","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers/c342a860-a71c-4b92-b625-86eb2d83d64f
    method: GET
  response:
    body: '{"id":"c342a860-a71c-4b92-b625-86eb2d83d64f","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-angry-mayer","description":"","updated_at":"2020-03-27T11:15:31.972698Z","created_at":"2020-03-27T11:11:48.339253Z","status":"ready","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":[],"ips":[{"id":"3a3b3fa8-acce-45d7-9cae-167aba71ac4a","address":"51.159.56.176","reverse":"c342a860-a71c-4b92-b625-86eb2d83d64f.fr-par-2.baremetal.scw.cloud","version":"Ipv4","reverse_status":"pending","reverse_status_message":null},{"id":"e11162b8-0cb7-452b-9a24-de0713716a9d","address":"2001:0bc8:1200:0000:dac4:97ff:fe5b:74a5","reverse":"c342a860-a71c-4b92-b625-86eb2d83d64f.fr-par-2.baremetal.scw.cloud","version":"Ipv6","reverse_status":"pending","reverse_status_message":null}],"domain":"c342a860-a71c-4b92-b625-86eb2d83d64f.fr-par-2.baremetal.scw.cloud","boot_type":"normal","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
