---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/offers?page=1
    method: GET
  response:
    body: '{"total_count":7,"offers":[{"id":"3ab0dc29-2fd4-486e-88bf-d08fbf49214b","name":"HC-BM1-L","stock":"available","bandwidth":1000,"commercial_range":"high_cpu","price_by_minute":{"currency_code":"EUR","units":1,"nanos":499900000},"price_by_month":{"currency_code":"EUR","units":749,"nanos":990000000},"disk":[{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"}],"enable":true,"cpu":[{"name":"Intel
      Xeon Gold 5120","cores":28,"threads":56,"frequency":2200},{"name":"Intel Xeon
      Gold 5120","cores":28,"threads":56,"frequency":2200}],"memory":[{"capacity":384,"type":"DDR4","frequency":2133,"ecc":true}],"quota_name":"bmaas_high","price_per_sixty_minutes":{"currency_code":"EUR","units":1,"nanos":499900000},"price_per_month":{"currency_code":"EUR","units":749,"nanos":990000000}},{"id":"5363865f-2266-40f9-a43f-4f3aba251524","name":"HM-BM1-XL","stock":"empty","bandwidth":1000,"commercial_range":"high_memory","price_by_minute":{"currency_code":"EUR","units":2,"nanos":599900000},"price_by_month":{"currency_code":"EUR","units":1299,"nanos":990000000},"disk":[{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"cap[...]
- request:
    body: '{"offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-epic-knuth","description":"","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"id":"97a2732c-fcdc-4401-88f4-fe2b0b3fd8f5","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-epic-knuth","description":"","updated_at":"2020-03-26T19:36:18.990926490Z","created_at":"2020-03-26T19:36:18.990926490Z","status":"undelivered","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers/97a2732c-fcdc-4401-88f4-fe2b0b3fd8f5/start
    method: POST
  response:
    body: '{"message":"Server is not delivered"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers/97a2732c-fcdc-4401-88f4-fe2b0b3fd8f5
    method: GET
  response:
    body: '{"id":"97a2732c-fcdc-4401-88f4-fe2b0b3fd8f5","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-epic-knuth","description":"","updated_at":"2020-03-26T19:36:18.990926Z","created_at":"2020-03-26T19:36:18.990926Z","status":"undelivered","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers/97a2732c-fcdc-4401-88f4-fe2b0b3fd8f5
    method: GET
  response:
    body: '{"id":"97a2732c-fcdc-4401-88f4-fe2b0b3fd8f5","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-epic-knuth","description":"","updated_at":"2020-03-26T19:45:23.823626Z","created_at":"2020-03-26T19:36:18.990926Z","status":"ready","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":[],"ips":[{"id":"28d1234e-bd46-4d4e-af26-bb7ff4e9f94e","address":"51.159.56.161","reverse":"97a2732c-fcdc-4401-88f4-fe2b0b3fd8f5.fr-par-2.baremetal.scw.cloud","version":"Ipv4","reverse_status":"pending","reverse_status_message":null},{"id":"7255984c-c888-4aed-96f4-306cb3db17d4","address":"2001:0bc8:1200:0000:dac4:97ff:fe5b:7cc1","reverse":"97a2732c-fcdc-4401-88f4-fe2b0b3fd8f5.fr-par-2.baremetal.scw.cloud","version":"Ipv6","reverse_status":"pending","reverse_status_message":null}],"domain":"97a2732c-fcdc-4401-88f4-fe2b0b3fd8f5.fr-par-2.baremetal.scw.cloud","boot_type":"normal","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
