---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"total_count":8,"servers":[{"id":"a3d5a790-2abe-4ae4-816e-b20f2957bf1b","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-angry-hofstadter","description":"","updated_at":"2020-03-19T11:05:09.352605Z","created_at":"2020-03-19T11:02:06.215470Z","status":"ready","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":[],"ips":[{"id":"2c90a64b-c4a7-4b71-b657-6c37431d1141","address":"2001:0bc8:1200:0000:dac4:97ff:fe2a:334c","reverse":"a3d5a790-2abe-4ae4-816e-b20f2957bf1b.fr-par-2.baremetal.scw.cloud","version":"Ipv6","reverse_status":"active","reverse_status_message":null},{"id":"bacf8df9-9e64-41ef-996d-b59788302a7a","address":"51.159.56.5","reverse":"a3d5a790-2abe-4ae4-816e-b20f2957bf1b.fr-par-2.baremetal.scw.cloud","version":"Ipv4","reverse_status":"active","reverse_status_message":null}],"domain":"a3d5a790-2abe-4ae4-816e-b20f2957bf1b.fr-par-2.baremetal.scw.cloud","boot_type":"normal","zone":"fr-par-2"},{"id":"07bbf448-e001-49c8-809b-4994684ed905","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-naughty-nightingale","description":"","updated_at":"2020-03-19T11:05:09.471918Z","created_at":"2020-03-19T11:02:46.384076Z","status":"ready","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":[],"ips":[{"id":"9708b6c6-4a10-4665-b53d-3a17956e1adc","address":"51.159.56.59","reverse":"07bbf448-e001-49c8-809b-4994684ed905.fr-par-2.baremetal.scw.cloud",[...]
