---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/offers?page=1
    method: GET
  response:
    body: '{"total_count":7,"offers":[{"id":"3ab0dc29-2fd4-486e-88bf-d08fbf49214b","name":"HC-BM1-L","stock":"available","bandwidth":1000,"commercial_range":"high_cpu","price_by_minute":{"currency_code":"EUR","units":1,"nanos":499900000},"price_by_month":{"currency_code":"EUR","units":749,"nanos":990000000},"disk":[{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"}],"enable":true,"cpu":[{"name":"Intel
      Xeon Gold 5120","cores":28,"threads":56,"frequency":2200},{"name":"Intel Xeon
      Gold 5120","cores":28,"threads":56,"frequency":2200}],"memory":[{"capacity":384,"type":"DDR4","frequency":2133,"ecc":true}],"quota_name":"bmaas_high","price_per_sixty_minutes":{"currency_code":"EUR","units":1,"nanos":499900000},"price_per_month":{"currency_code":"EUR","units":749,"nanos":990000000}},{"id":"5363865f-2266-40f9-a43f-4f3aba251524","name":"HM-BM1-XL","stock":"empty","bandwidth":1000,"commercial_range":"high_memory","price_by_minute":{"currency_code":"EUR","units":2,"nanos":599900000},"price_by_month":{"currency_code":"EUR","units":1299,"nanos":990000000},"disk":[{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"cap[...]
- request:
    body: '{"offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-magical-northcutt","description":"","tags":["prod","blue"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"id":"a72e6f1b-0cdc-449b-ae93-a91547d5dae4","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-magical-northcutt","description":"","updated_at":"2020-03-27T12:57:34.486858025Z","created_at":"2020-03-27T12:57:34.486858025Z","status":"undelivered","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":["prod","blue"],"ips":[],"domain":"","boot_type":"normal","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers/a72e6f1b-0cdc-449b-ae93-a91547d5dae4
    method: GET
  response:
    body: '{"id":"a72e6f1b-0cdc-449b-ae93-a91547d5dae4","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-magical-northcutt","description":"","updated_at":"2020-03-27T12:57:34.486858Z","created_at":"2020-03-27T12:57:34.486858Z","status":"undelivered","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":["prod","blue"],"ips":[],"domain":"","boot_type":"normal","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers/a72e6f1b-0cdc-449b-ae93-a91547d5dae4
    method: GET
  response:
    body: '{"id":"a72e6f1b-0cdc-449b-ae93-a91547d5dae4","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-magical-northcutt","description":"","updated_at":"2020-03-27T13:00:18.086102Z","created_at":"2020-03-27T12:57:34.486858Z","status":"ready","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":["prod","blue"],"ips":[{"id":"080c7d67-e056-4e45-afdd-02234fffacb3","address":"2001:0bc8:1200:0000:dac4:97ff:fe5b:74fd","reverse":"a72e6f1b-0cdc-449b-ae93-a91547d5dae4.fr-par-2.baremetal.scw.cloud","version":"Ipv6","reverse_status":"pending","reverse_status_message":null},{"id":"2779da21-6cab-4df2-99ad-419b5801193b","address":"51.159.56.167","reverse":"a72e6f1b-0cdc-449b-ae93-a91547d5dae4.fr-par-2.baremetal.scw.cloud","version":"Ipv4","reverse_status":"pending","reverse_status_message":null}],"domain":"a72e6f1b-0cdc-449b-ae93-a91547d5dae4.fr-par-2.baremetal.scw.cloud","boot_type":"normal","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
