---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/offers?page=1
    method: GET
  response:
    body: '{"total_count":7,"offers":[{"id":"3ab0dc29-2fd4-486e-88bf-d08fbf49214b","name":"HC-BM1-L","stock":"available","bandwidth":1000,"commercial_range":"high_cpu","price_by_minute":{"currency_code":"EUR","units":1,"nanos":499900000},"price_by_month":{"currency_code":"EUR","units":749,"nanos":990000000},"disk":[{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"}],"enable":true,"cpu":[{"name":"Intel
      Xeon Gold 5120","cores":28,"threads":56,"frequency":2200},{"name":"Intel Xeon
      Gold 5120","cores":28,"threads":56,"frequency":2200}],"memory":[{"capacity":384,"type":"DDR4","frequency":2133,"ecc":true}],"quota_name":"bmaas_high","price_per_sixty_minutes":{"currency_code":"EUR","units":1,"nanos":499900000},"price_per_month":{"currency_code":"EUR","units":749,"nanos":990000000}},{"id":"5363865f-2266-40f9-a43f-4f3aba251524","name":"HM-BM1-XL","stock":"empty","bandwidth":1000,"commercial_range":"high_memory","price_by_minute":{"currency_code":"EUR","units":2,"nanos":599900000},"price_by_month":{"currency_code":"EUR","units":1299,"nanos":990000000},"disk":[{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"cap[...]
- request:
    body: '{"offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-jovial-brown","description":"","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"id":"5c3fd7fa-6df0-4d44-983a-819b749e6a7e","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-jovial-brown","description":"","updated_at":"2020-03-27T10:10:40.358951329Z","created_at":"2020-03-27T10:10:40.358951329Z","status":"undelivered","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"boot_type":"normal"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers/5c3fd7fa-6df0-4d44-983a-819b749e6a7e/reboot
    method: POST
  response:
    body: '{"message":"Server is not delivered"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers/5c3fd7fa-6df0-4d44-983a-819b749e6a7e
    method: GET
  response:
    body: '{"id":"5c3fd7fa-6df0-4d44-983a-819b749e6a7e","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-jovial-brown","description":"","updated_at":"2020-03-27T10:10:40.358951Z","created_at":"2020-03-27T10:10:40.358951Z","status":"undelivered","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers/5c3fd7fa-6df0-4d44-983a-819b749e6a7e
    method: GET
  response:
    body: '{"id":"5c3fd7fa-6df0-4d44-983a-819b749e6a7e","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-jovial-brown","description":"","updated_at":"2020-03-27T10:15:23.684191Z","created_at":"2020-03-27T10:10:40.358951Z","status":"ready","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":[],"ips":[{"id":"71955658-ee4e-4a8f-a2b3-c8f974dc475f","address":"51.159.56.110","reverse":"5c3fd7fa-6df0-4d44-983a-819b749e6a7e.fr-par-2.baremetal.scw.cloud","version":"Ipv4","reverse_status":"pending","reverse_status_message":null},{"id":"b89d1699-7ffd-4ccb-baf5-e01ac432d594","address":"2001:0bc8:1200:0000:dac4:97ff:fe5b:7c81","reverse":"5c3fd7fa-6df0-4d44-983a-819b749e6a7e.fr-par-2.baremetal.scw.cloud","version":"Ipv6","reverse_status":"pending","reverse_status_message":null}],"domain":"5c3fd7fa-6df0-4d44-983a-819b749e6a7e.fr-par-2.baremetal.scw.cloud","boot_type":"normal","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
