---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/offers?page=1
    method: GET
  response:
    body: '{"total_count":7,"offers":[{"id":"3ab0dc29-2fd4-486e-88bf-d08fbf49214b","name":"HC-BM1-L","stock":"available","bandwidth":1000,"commercial_range":"high_cpu","price_by_minute":{"currency_code":"EUR","units":1,"nanos":499900000},"price_by_month":{"currency_code":"EUR","units":749,"nanos":990000000},"disk":[{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"}],"enable":true,"cpu":[{"name":"Intel
      Xeon Gold 5120","cores":28,"threads":56,"frequency":2200},{"name":"Intel Xeon
      Gold 5120","cores":28,"threads":56,"frequency":2200}],"memory":[{"capacity":384,"type":"DDR4","frequency":2133,"ecc":true}],"quota_name":"bmaas_high","price_per_sixty_minutes":{"currency_code":"EUR","units":1,"nanos":499900000},"price_per_month":{"currency_code":"EUR","units":749,"nanos":990000000}},{"id":"5363865f-2266-40f9-a43f-4f3aba251524","name":"HM-BM1-XL","stock":"empty","bandwidth":1000,"commercial_range":"high_memory","price_by_minute":{"currency_code":"EUR","units":2,"nanos":599900000},"price_by_month":{"currency_code":"EUR","units":1299,"nanos":990000000},"disk":[{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"cap[...]
- request:
    body: '{"offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-beautiful-khorana","description":"","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"id":"43f935cb-f3fb-4757-8f89-bbf29976efcd","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-beautiful-khorana","description":"","updated_at":"2020-03-27T10:05:23.954358666Z","created_at":"2020-03-27T10:05:23.954358666Z","status":"undelivered","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers/43f935cb-f3fb-4757-8f89-bbf29976efcd/stop
    method: POST
  response:
    body: '{"message":"Server is not delivered"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers/43f935cb-f3fb-4757-8f89-bbf29976efcd
    method: GET
  response:
    body: '{"id":"43f935cb-f3fb-4757-8f89-bbf29976efcd","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-beautiful-khorana","description":"","updated_at":"2020-03-27T10:05:23.954359Z","created_at":"2020-03-27T10:05:23.954359Z","status":"undelivered","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers/43f935cb-f3fb-4757-8f89-bbf29976efcd
    method: GET
  response:
    body: '{"id":"43f935cb-f3fb-4757-8f89-bbf29976efcd","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-beautiful-khorana","description":"","updated_at":"2020-03-27T10:10:27.698331Z","created_at":"2020-03-27T10:05:23.954359Z","status":"ready","offer_id":"964f9b38-577e-470f-a220-7d762f9e8672","install":null,"tags":[],"ips":[{"id":"103d06aa-1f97-463a-9932-0307d2cbf834","address":"51.159.56.77","reverse":"43f935cb-f3fb-4757-8f89-bbf29976efcd.fr-par-2.baremetal.scw.cloud","version":"Ipv4","reverse_status":"pending","reverse_status_message":null},{"id":"dc3014c6-e070-4110-bac7-a6c447058f28","address":"2001:0bc8:1200:0000:dac4:97ff:fe2a:33b0","reverse":"43f935cb-f3fb-4757-8f89-bbf29976efcd.fr-par-2.baremetal.scw.cloud","version":"Ipv6","reverse_status":"pending","reverse_status_message":null}],"domain":"43f935cb-f3fb-4757-8f89-bbf29976efcd.fr-par-2.baremetal.scw.cloud","boot_type":"normal","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
