---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"total_count":2,"servers":[{"id":"0ae6f1a4-1200-4552-9251-b1e4c6dfef8a","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"esme","description":"https://sd-153205.dedibox.fr.
      BigBlueButton will be available ±30min after the end of OS installation at https://sd-153205.dedibox.fr","updated_at":"2020-05-04T13:27:48.747123Z","created_at":"2020-05-04T10:49:31.553445Z","status":"ready","offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","install":{"os_id":"3ea52186-1e57-499e-8146-ab38051a5c10","hostname":"esme","ssh_key_ids":["9bf6c340-687c-4f31-8aad-6a525761d8cd"],"status":"completed"},"tags":[],"ips":[{"id":"c0572775-cb28-4159-9149-68874a9ecd6a","address":"51.159.31.33","reverse":"0ae6f1a4-1200-4552-9251-b1e4c6dfef8a.fr-par-2.baremetal.scw.cloud","version":"Ipv4","reverse_status":"active","reverse_status_message":null},{"id":"01fd7ff7-94d6-4f87-b69d-32f8fa3be6e2","address":"2001:0bc8:6005:001b:dac4:97ff:fe2a:330c","reverse":"0ae6f1a4-1200-4552-9251-b1e4c6dfef8a.fr-par-2.baremetal.scw.cloud","version":"Ipv6","reverse_status":"active","reverse_status_message":null}],"domain":"0ae6f1a4-1200-4552-9251-b1e4c6dfef8a.fr-par-2.baremetal.scw.cloud","boot_type":"normal","ping_status":"ping_status_unknown","zone":"fr-par-2"},{"id":"a6a49e51-1af3-44ae-9dd4-f7fe067f5c6b","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"bbb.sieben.fr","description":"BigBlueButton
      will be available ±30min after the end of OS installation at https://sd-153217.dedibox.fr","updated_at":"2020-05-04T16:17:48.790864Z","created_at":"2020-05-04T13:13:48.531309Z","status":"ready","offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","install":{"os_id":"3ea52186-1e57-499e-8146-ab38051a5c10","hostname":"bm-sad-wiles","ssh_key_ids":["9bf6c340-687c-4f31-8aad-6a525761d8cd","cffa1bb1-57f0-4ad8-be20-f335df743b27","f06d9273-385e-4747-806c-d4673c410f9d"],"status":"completed"},"tags":[],"ips":[{"id":"a2e3a43c-c0d1-49b4-a273-edaf8c80c577","address":"51.159.31.45","reverse":"a6a49e51-1af3-44ae-9dd4-f7fe067f5c6b.fr-par-2.baremetal.scw.cloud","version":"Ipv4","reverse_status":"active","reverse_status_message":null},{"id":"83c78fe2-0b2e-4702-825b-2d1961d6c7e9","address":"2001:0bc8:6005:001b:dac4:97ff:fe2a:3310","reverse":"a6a49e51-1af3-44ae-9dd4-f7fe067f5c6b.fr-par-2.baremetal.scw.cloud","version":"Ipv6","reverse_status":"active","reverse_status_message":null}],"domain":"a6a49e51-1af3-44ae-9dd4-f7fe067f5c6b.fr-par-2.baremetal.scw.cloud","boot_type":"normal","ping_status":"ping_status_up","zone":"fr-par-2"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/offers
    method: GET
  response:
    body: '{"total_count":7,"offers":[{"id":"3ab0dc29-2fd4-486e-88bf-d08fbf49214b","name":"HC-BM1-L","stock":"available","bandwidth":1000,"commercial_range":"high_cpu","price_by_minute":{"currency_code":"EUR","units":1,"nanos":499900000},"price_by_month":{"currency_code":"EUR","units":749,"nanos":990000000},"disk":[{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"}],"enable":true,"cpu":[{"name":"Intel
      Xeon Gold 5120","cores":14,"threads":28,"frequency":2200},{"name":"Intel Xeon
      Gold 5120","cores":14,"threads":28,"frequency":2200}],"memory":[{"capacity":384,"type":"DDR4","frequency":2133,"ecc":true}],"quota_name":"bmaas_high","price_per_sixty_minutes":{"currency_code":"EUR","units":1,"nanos":499900000},"price_per_month":{"currency_code":"EUR","units":749,"nanos":990000000}},{"id":"5363865f-2266-40f9-a43f-4f3aba251524","name":"HM-BM1-XL","stock":"available","bandwidth":1000,"commercial_range":"high_memory","price_by_minute":{"currency_code":"EUR","units":2,"nanos":599900000},"price_by_month":{"currency_code":"EUR","units":1299,"nanos":990000000},"disk":[{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{[...]
