---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/offers?page=1
    method: GET
  response:
    body: '{"total_count":7,"offers":[{"id":"3ab0dc29-2fd4-486e-88bf-d08fbf49214b","name":"HC-BM1-L","stock":"empty","bandwidth":1000,"commercial_range":"high_cpu","price_by_minute":{"currency_code":"EUR","units":1,"nanos":499900000},"price_by_month":{"currency_code":"EUR","units":749,"nanos":990000000},"disk":[{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"}],"enable":true,"cpu":[{"name":"Intel
      Xeon Gold 5120","cores":28,"threads":56,"frequency":2200},{"name":"Intel Xeon
      Gold 5120","cores":28,"threads":56,"frequency":2200}],"memory":[{"capacity":384,"type":"DDR4","frequency":2133,"ecc":true}],"quota_name":"bmaas_high","price_per_sixty_minutes":{"currency_code":"EUR","units":1,"nanos":499900000},"price_per_month":{"currency_code":"EUR","units":749,"nanos":990000000}},{"id":"5363865f-2266-40f9-a43f-4f3aba251524","name":"HM-BM1-XL","stock":"empty","bandwidth":1000,"commercial_range":"high_memory","price_by_minute":{"currency_code":"EUR","units":2,"nanos":599900000},"price_by_month":{"currency_code":"EUR","units":1299,"nanos":990000000},"disk":[{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"capacity":1024,"type":"NVMe"},{"cap[...]
- request:
    body: '{"offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-peaceful-lewin","description":"","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"id":"7d25ddb0-9cdb-49fb-8d71-9afaa0c977b5","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-peaceful-lewin","description":"","updated_at":"2020-03-31T12:42:49.829565387Z","created_at":"2020-03-31T12:42:49.829565387Z","status":"undelivered","offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers/7d25ddb0-9cdb-49fb-8d71-9afaa0c977b5
    method: GET
  response:
    body: '{"id":"7d25ddb0-9cdb-49fb-8d71-9afaa0c977b5","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-peaceful-lewin","description":"","updated_at":"2020-03-31T12:42:49.829565Z","created_at":"2020-03-31T12:42:49.829565Z","status":"undelivered","offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1alpha1/zones/fr-par-2/servers/7d25ddb0-9cdb-49fb-8d71-9afaa0c977b5
    method: GET
  response:
    body: '{"id":"7d25ddb0-9cdb-49fb-8d71-9afaa0c977b5","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-peaceful-lewin","description":"","updated_at":"2020-03-31T12:45:12.097905Z","created_at":"2020-03-31T12:42:49.829565Z","status":"ready","offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","install":null,"tags":[],"ips":[{"id":"084ea4f5-1f9c-4509-86c1-8f3141d0ac43","address":"2001:0bc8:6005:001b:dac4:97ff:fe2a:33a8","reverse":"7d25ddb0-9cdb-49fb-8d71-9afaa0c977b5.fr-par-2.baremetal.scw.cloud","version":"Ipv6","reverse_status":"pending","reverse_status_message":null},{"id":"2aa5bb6d-1f65-4566-b44f-fa30bf5c9d01","address":"51.159.31.12","reverse":"7d25ddb0-9cdb-49fb-8d71-9afaa0c977b5.fr-par-2.baremetal.scw.cloud","version":"Ipv4","reverse_status":"pending","reverse_status_message":null}],"domain":"7d25ddb0-9cdb-49fb-8d71-9afaa0c977b5.fr-par-2.baremetal.scw.cloud","boot_type":"normal","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
