---
version: 1
interactions:
- request:
    body: '{"id":"5eefe2f9-f3cb-46dc-80f6-f446641cc296", "name":"cli-pn-jolly-maxwell",
      "tags":[], "organization_id":"4d333544-41be-4b0b-8907-0b9036859747", "created_at":"2026-08-06T15:15:10.240824Z",
      "updated_at":"2026-08-06T15:15:10.240824Z", "project_id":"4d333544-41be-4b0b-8907-0b9036859747",
      "subnets":[{"id":"682b134e-e5b4-4178-aa95-cf43d1e1da79", "created_at":"2026-08-06T15:15:10.240824Z",
      "updated_at":"2026-08-06T15:15:10.240824Z", "subnet":"172.16.40.0/22", "project_id":"4d333544-41be-4b0b-8907-0b9036859747",
      "private_network_id":"5eefe2f9-f3cb-46dc-80f6-f446641cc296", "vpc_id":"3a436539-0369-429e-95b4-c38683bcac76",
      "region":"fr-par"}, {"id":"7078c31c-77bf-45e6-be01-0b224e3d6e72", "created_at":"2026-08-06T15:15:10.240824Z",
      "updated_at":"2026-08-06T15:15:10.240824Z", "subnet":"fd6d:9b51:d4ce:a832::/64",
      "project_id":"4d333544-41be-4b0b-8907-0b9036859747", "private_network_id":"5eefe2f9-f3cb-46dc-80f6-f446641cc296",
      "vpc_id":"3a436539-0369-429e-95b4-c38683bcac76", "region":"fr-par"}], "vpc_id":"3a436539-0369-429e-95b4-c38683bcac76",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "has_s3_integration":false,
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"5eefe2f9-f3cb-46dc-80f6-f446641cc296", "name":"cli-pn-jolly-maxwell",
      "tags":[], "organization_id":"4d333544-41be-4b0b-8907-0b9036859747", "created_at":"2026-08-06T15:15:10.240824Z",
      "updated_at":"2026-08-06T15:15:10.240824Z", "project_id":"4d333544-41be-4b0b-8907-0b9036859747",
      "subnets":[{"id":"682b134e-e5b4-4178-aa95-cf43d1e1da79", "created_at":"2026-08-06T15:15:10.240824Z",
      "updated_at":"2026-08-06T15:15:10.240824Z", "subnet":"172.16.40.0/22", "project_id":"4d333544-41be-4b0b-8907-0b9036859747",
      "private_network_id":"5eefe2f9-f3cb-46dc-80f6-f446641cc296", "vpc_id":"3a436539-0369-429e-95b4-c38683bcac76",
      "region":"fr-par"}, {"id":"7078c31c-77bf-45e6-be01-0b224e3d6e72", "created_at":"2026-08-06T15:15:10.240824Z",
      "updated_at":"2026-08-06T15:15:10.240824Z", "subnet":"fd6d:9b51:d4ce:a832::/64",
      "project_id":"4d333544-41be-4b0b-8907-0b9036859747", "private_network_id":"5eefe2f9-f3cb-46dc-80f6-f446641cc296",
      "vpc_id":"3a436539-0369-429e-95b4-c38683bcac76", "region":"fr-par"}], "vpc_id":"3a436539-0369-429e-95b4-c38683bcac76",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "has_s3_integration":false,
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"servers": {"BASIC2-A12C-24G": {"alt_names": [], "arch": "arm64", "ncpus":
      12, "ram": 25769803776, "gpu": 0, "gpu_info": null, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size":
      0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count":
      0, "monthly_price": 115.194, "hourly_price": 0.1578, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 1200000000, "sum_internet_bandwidth": 1200000000,
      "interfaces": [{"internal_bandwidth": 1200000000, "internet_bandwidth": 1200000000}]},
      "block_bandwidth": 335544320, "end_of_service": false}, "BASIC2-A12C-48G": {"alt_names":
      [], "arch": "arm64", "ncpus": 12, "ram": 51539607552, "gpu": 0, "gpu_info":
      null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size":
      0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      0, "scratch_storage_max_volumes_count": 0, "monthly_price": 131.911, "hourly_price":
      0.1807, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups":
      true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network":
      8, "max_file_systems": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      1200000000, "sum_internet_bandwidth": 1200000000, "interfaces": [{"internal_bandwidth":
      1200000000, "internet_bandwidth": 1200000000}]}, "block_bandwidth": 335544320,
      "end_of_service": false}, "BASIC2-A16C-32G": {"alt_names": [], "arch": "arm64",
      "ncpus": 16, "ram": 34359738368, "gpu": 0, "gpu_info": null, "mig_profile":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count":
      0, "monthly_price": 150.891, "hourly_price": 0.2067, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 1600000000, "sum_internet_bandwidth": 1600000000,
      "interfaces": [{"internal_bandwidth": 1600000000, "internet_bandwidth": 1600000000}]},
      "block_bandwidth": 503316480, "end_of_service": false}, "BASIC2-A16C-64G": {"alt_names":
      [], "arch": "arm64", "ncpus": 16, "ram": 68719476736, "gpu": 0, "gpu_info":
      null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size":
      0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      0, "scratch_storage_max_volumes_count": 0, "monthly_price": 201.188, "hourly_price":
      0.2756, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups":
      true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network":
      8, "max_file_systems": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      1600000000, "sum_internet_bandwidth": 1600000000, "interfaces": [{"internal_bandwidth":
      1600000000, "internet_bandwidth": 1600000000}]}, "block_bandwidth": 503316480,
      "end_of_service": false}, "BASIC2-A2C-4G": {"alt_names": [], "arch": "arm64",
      "ncpus": 2, "ram": 4294967296, "gpu": 0, "gpu_info": null, "mig_profile": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count":
      0, "monthly_price": 16.79, "hourly_price": 0.023, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 200000000, "sum_internet_bandwidth": 200000000,
      "interfaces": [{"internal_bandwidth": 200000000, "internet_bandwidth": 200000000}]},
      "block_bandwidth": 83886080, "end_of_service": false}, "BASIC2-A2C-8G": {"alt_names":
      [], "arch": "arm64", "ncpus": 2, "ram": 8589934592, "gpu": 0, "gpu_info": null,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count":
      0, "monthly_price": 25.185, "hourly_price": 0.0345, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 200000000, "sum_internet_bandwidth": 200000000,
      "interfaces": [{"internal_bandwidth": 200000000, "internet_bandwidth": 200000000}]},
      "block_bandwidth": 83886080, "end_of_service": false}, "BASIC2-A4C-16G": {"alt_names":
      [], "arch": "arm64", "ncpus": 4, "ram": 17179869184, "gpu": 0, "gpu_info": null,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count":
      0, "monthly_price": 50.297, "hourly_price": 0.0689, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth": 400000000,
      "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth": 400000000}]},
      "block_bandwidth": 125829120, "end_of_service": false}, "BASIC2-A4C-8G": {"alt_names":
      [], "arch": "arm64", "ncpus": 4, "ram": 8589934592, "gpu": 0, "gpu_info": null,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count":
      0, "monthly_price": 37.741, "hourly_price": 0.0517, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth": 400000000,
      "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth": 400000000}]},
      "block_bandwidth": 125829120, "end_of_service": false}, "BASIC2-A6C-12G": {"alt_names":
      [], "arch": "arm64", "ncpus": 6, "ram": 12884901888, "gpu": 0, "gpu_info": null,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count":
      0, "monthly_price": 57.597, "hourly_price": 0.0789, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 600000000, "sum_internet_bandwidth": 600000000,
      "interfaces": [{"internal_bandwidth": 600000000, "internet_bandwidth": 600000000}]},
      "block_bandwidth": 188743680, "end_of_service": false}, "BASIC2-A6C-24G": {"alt_names":
      [], "arch": "arm64", "ncpus": 6, "ram": 25769803776, "gpu": 0, "gpu_info": null,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count":
      0, "monthly_price": 65.919, "hourly_price": 0.0903, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 600000000, "sum_internet_bandwidth": 600000000,
      "interfaces": [{"internal_bandwidth": 600000000, "internet_bandwidth": 600000000}]},
      "block_bandwidth": 188743680, "end_of_service": false}, "BASIC2-A8C-16G": {"alt_names":
      [], "arch": "arm64", "ncpus": 8, "ram": 17179869184, "gpu": 0, "gpu_info": null,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count":
      0, "monthly_price": 75.482, "hourly_price": 0.1034, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 800000000, "sum_internet_bandwidth": 800000000,
      "interfaces": [{"internal_bandwidth": 800000000, "internet_bandwidth": 800000000}]},
      "block_bandwidth": 251658240, "end_of_service": false}, "BASIC2-A8C-32G": {"alt_names":
      [], "arch": "arm64", "ncpus": 8, "ram": 34359738368, "gpu": 0, "gpu_info": null,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count":
      0, "monthly_price": 100.594, "hourly_price": 0.1378, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 800000000, "sum_internet_bandwidth": 800000000,
      "interfaces": [{"internal_bandwidth": 800000000, "internet_bandwidth": 800000000}]},
      "block_bandwidth": 251658240, "end_of_service": false}, "BASIC3-X12C-24G": {"alt_names":
      [], "arch": "x86_64", "ncpus": 12, "ram": 25769803776, "gpu": 0, "gpu_info":
      null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size":
      0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      0, "scratch_storage_max_volumes_count": 0, "monthly_price": 197.903, "hourly_price":
      0.2711, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups":
      true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network":
      8, "max_file_systems": 4}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      2250000000, "sum_internet_bandwidth": 2250000000, "interfaces": [{"internal_bandwidth":
      2250000000, "internet_bandwidth": 2250000000}]}, "block_bandwidth": 786432000,
      "end_of_service": false}, "BASIC3-X12C-48G": {"alt_names": [], "arch": "x86_64",
      "ncpus": 12, "ram": 51539607552, "gpu": 0, "gpu_info": null, "mig_profile":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count":
      0, "monthly_price": 226.592, "hourly_price": 0.3104, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 4}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 2250000000, "sum_internet_bandwidth": 2250000000,
      "interfaces": [{"internal_bandwidth": 2250000000, "internet_bandwidth": 2250000000}]},
      "block_bandwidth": 786432000, "end_of_service": false}, "BASIC3-X16C-32G": {"alt_names":
      [], "arch": "x86_64", "ncpus": 16, "ram": 34359738368, "gpu": 0, "gpu_info":
      null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size":
      0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      0, "scratch_storage_max_volumes_count": 0, "monthly_price": 259.33031, "hourly_price":
      0.355247, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups":
      true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network":
      8, "max_file_systems": 4}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      3000000000, "sum_internet_bandwidth": 3000000000, "interfaces": [{"internal_bandwidth":
      3000000000, "internet_bandwidth": 3000000000}]}, "block_bandwidth": 1048576000,
      "end_of_service": false}, "BASIC3-X16C-64G": {"alt_names": [], "arch": "x86_64",
      "ncpus": 16, "ram": 68719476736, "gpu": 0, "gpu_info": null, "mig_profile":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count":
      0, "monthly_price": 345.49805, "hourly_price": 0.473285, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 3000000000, "sum_internet_bandwidth": 3000000000,
      "interfaces": [{"internal_bandwidth": 3000000000, "internet_bandwidth": 3000000000}]},
      "block_bandwidth": 1048576000, "end_of_service": false}, "BASIC3-X2C-4G": {"alt_names":
      [], "arch": "x86_64", "ncpus": 2, "ram": 4294967296, "gpu": 0, "gpu_info": null,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count":
      0, "monthly_price": 28.79777, "hourly_price": 0.039449, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 1}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 350000000, "sum_internet_bandwidth": 350000000,
      "interfaces": [{"internal_bandwidth": 350000000, "internet_bandwidth": 350000000}]},
      "block_bandwidth": 131072000, "end_of_service": false}, "BASIC3-X2C-8G": {"alt_names":
      [], "arch": "x86_64", "ncpus": 2, "ram": 8589934592, "gpu": 0, "gpu_info": null,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count":
      0, "monthly_price": 43.23425, "hourly_price": 0.059225, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 1}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 350000000, "sum_internet_bandwidth": 350000000,
      "interfaces": [{"internal_bandwidth": 350000000, "internet_bandwidth": 350000000}]},
      "block_bandwidth": 131072000, "end_of_service": false}, "BASIC3-X4C-16G": {"alt_names":
      [], "arch": "x86_64", "ncpus": 4, "ram": 17179869184, "gpu": 0, "gpu_info":
      null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size":
      0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      0, "scratch_storage_max_volumes_count": 0, "monthly_price": 86.4685, "hourly_price":
      0.11845, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups":
      true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network":
      8, "max_file_systems": 2}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      700000000, "sum_internet_bandwidth": 700000000, "interfaces": [{"internal_bandwidth":
      700000000, "internet_bandwidth": 700000000}]}, "block_bandwidth": 262144000,
      "end_of_service": false}, "BASIC3-X4C-8G": {"alt_names": [], "arch": "x86_64",
      "ncpus": 4, "ram": 8589934592, "gpu": 0, "gpu_info": null, "mig_profile": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count":
      0, "monthly_price": 57.67073, "hourly_price": 0.079001, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 1}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 700000000, "sum_internet_bandwidth": 700000000,
      "interfaces": [{"internal_bandwidth": 700000000, "internet_bandwidth": 700000000}]},
      "block_bandwidth": 262144000, "end_of_service": false}, "BASIC3-X6C-12G": {"alt_names":
      [], "arch": "x86_64", "ncpus": 6, "ram": 12884901888, "gpu": 0, "gpu_info":
      null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size":
      0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      0, "scratch_storage_max_volumes_count": 0, "monthly_price": 98.988, "hourly_price":
      0.1356, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups":
      true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network":
      8, "max_file_systems": 2}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      1050000000, "sum_internet_bandwidth": 1050000000, "interfaces": [{"internal_bandwidth":
      1050000000, "internet_bandwidth": 1050000000}]}, "block_bandwidth": 393216000,
      "end_of_service": false}, "BASIC3-X6C-24G": {"alt_names": [], "arch": "x86_64",
      "ncpus": 6, "ram": 25769803776, "gpu": 0, "gpu_info": null, "mig_profile": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count":
      0, "monthly_price": 113.369, "hourly_price": 0.1553, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 2}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 1050000000, "sum_internet_bandwidth": 1050000000,
      "interfaces": [{"internal_bandwidth": 1050000000, "internet_bandwidth": 1050000000}]},
      "block_bandwidth": 393216000, "end_of_service": false}, "BASIC3-X8C-16G": {"alt_names":
      [], "arch": "x86_64", "ncpus": 8, "ram": 17179869184, "gpu": 0, "gpu_info":
      null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size":
      0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size":
      0, "scratch_storage_max_volumes_count": 0, "monthly_price": 129.70275, "hourly_price":
      0.177675, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups":
      true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network":
      8, "max_file_systems": 2}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      1500000000, "sum_internet_bandwidth": 1500000000, "interfaces": [{"internal_bandwidth":
      1500000000, "internet_bandwidth": 1500000000}]}, "block_bandwidth": 524288000,
      "end_of_service": false}, "BASIC3-X8C-32G": {"alt_names": [], "arch": "x86_64",
      "ncpus": 8, "ram": 34359738368, "gpu": 0, "gpu_info": null, "mig_profile": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count":
      0, "monthly_price": 172.86181, "hourly_price": 0.236797, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 4}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 1500000000, "sum_internet_bandwidth": 1500000000,
      "interfaces": [{"internal_bandwidth": 1500000000, "internet_bandwidth": 1500000000}]},
      "block_bandwidth": 524288000, "end_of_service": false}, "COMPUTE3-X12C-24G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 12, "ram": 25769803776, "gpu":
      0, "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": 240000000000, "scratch_storage_max_volumes_count":
      2, "monthly_price": 256.317, "hourly_price": 0.3511, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 4}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 4000000000, "sum_internet_bandwidth": 4000000000,
      "interfaces": [{"internal_bandwidth": 4000000000, "internet_bandwidth": 4000000000}]},
      "block_bandwidth": 500170752, "end_of_service": false}, "COMPUTE3-X16C-32G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 34359738368, "gpu":
      0, "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": 320000000000, "scratch_storage_max_volumes_count":
      4, "monthly_price": 341.786, "hourly_price": 0.4682, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 4}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 4000000000, "sum_internet_bandwidth": 4000000000,
      "interfaces": [{"internal_bandwidth": 4000000000, "internet_bandwidth": 4000000000}]},
      "block_bandwidth": 500170752, "end_of_service": false}, "COMPUTE3-X24C-48G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 24, "ram": 51539607552, "gpu":
      0, "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": 480000000000, "scratch_storage_max_volumes_count":
      4, "monthly_price": 512.3176, "hourly_price": 0.7022, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8, "max_file_systems": 4}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 6000000000, "sum_internet_bandwidth": 6000000000,
      "interfaces": [{"internal_bandwidth": 6000000000, "internet_bandwidth": 6000000000}]},
      "block_bandwidth": 749731840, "end_of_service": false}, "COMPUTE3-X2C-4G": {"alt_names":
      [], "arch": "x86_64", "ncpus": 2, "ram": 4294967296, "gpu": 0, "gpu_info": null,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 40000000000,
      "scratch_storage_max_volumes_count": 1, "monthly_price": 42.705, "hourly_price":
      0.0585, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups":
      true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network":
      8, "max_file_systems": 1}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      4000000000, "sum_internet_bandwidth": 500000000, "interfaces": [{"internal_bandwidth":
      4000000000, "internet_bandwidth": 500000000}]}, "block_bandwidth": 500170752,
      "end_of_service": false}, "COMPUTE3-X32C-64G": {"alt_names": [], "arch": "x86_64",
      "ncpus": 32, "ram": 68719476736, "gpu": 0, "gpu_info": null, "mig_profile":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 640000000000,
      "scratch_storage_max_volumes_count": 4, "monthly_price": 683.499, "hourly_price":
      0.9363, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups":
      true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network":
      8, "max_file_systems": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      8000000000, "sum_internet_bandwidth": 8000000000, "interfaces": [{"internal_bandwidth":
      8000000000, "internet_bandwidth": 8000000000}]}, "block_bandwidth": 1000341504,
      "end_of_service": false}, "COMPUTE3-X48C-96G": {"alt_names": [], "arch": "x86_64",
      "ncpus": 48, "ram": 103079215104, "gpu": 0, "gpu_info": null, "mig_profile":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 960000000000,
      "scratch_storage_max_volumes_count": 8, "monthly_price": 1019.81, "hourly_price":
      1.397, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups":
      true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network":
      8, "max_file_systems": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      16000000000, "sum_internet_bandwidth": 16000000000, "interfaces": [{"internal_bandwidth":
      16000000000, "internet_bandwidth": 16000000000}]}, "block_bandwidth": 1999634432,
      "end_of_service": false}, "COMPUTE3-X4C-8G": {"alt_names": [], "arch": "x86_64",
      "ncpus": 4, "ram": 8589934592, "gpu": 0, "gpu_info": null, "mig_profile": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 80000000000,
      "scratch_storage_max_volumes_count": 2, "monthly_price": 85.41, "hourly_price":
      0.117, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups":
      true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network":
      8, "max_file_systems": 2}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      4000000000, "sum_internet_bandwidth": 1000000000, "interfaces": [{"internal_bandwidth":
      4000000000, "internet_bandwidth": 1000000000}]}, "block_bandwidth": 500170752,
      "end_of_service": false}, "COMPUTE3-X64C-128G": {"alt_names": [], "arch": "x86_64",
[...]
