---
version: 1
interactions:
- request:
    body: '{"id":"70b32810-d6e4-4301-b6b1-88b87fae93b0","name":"cli-pn-sweet-lehmann","tags":[],"organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","created_at":"2024-03-05T10:43:37.141221Z","updated_at":"2024-03-05T10:43:37.141221Z","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","subnets":[{"id":"389c4a16-177b-4af3-860e-27b88f85c10b","created_at":"2024-03-05T10:43:37.141221Z","updated_at":"2024-03-05T10:43:37.141221Z","subnet":"172.16.40.0/22"},{"id":"f9ae0cd0-9bf1-4c14-9a1b-62f9eecdd6a5","created_at":"2024-03-05T10:43:37.141221Z","updated_at":"2024-03-05T10:43:37.141221Z","subnet":"fd5d:9132:befe:2317::/64"}],"vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322","dhcp_enabled":true,"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"70b32810-d6e4-4301-b6b1-88b87fae93b0","name":"cli-pn-sweet-lehmann","tags":[],"organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","created_at":"2024-03-05T10:43:37.141221Z","updated_at":"2024-03-05T10:43:37.141221Z","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","subnets":[{"id":"389c4a16-177b-4af3-860e-27b88f85c10b","created_at":"2024-03-05T10:43:37.141221Z","updated_at":"2024-03-05T10:43:37.141221Z","subnet":"172.16.40.0/22"},{"id":"f9ae0cd0-9bf1-4c14-9a1b-62f9eecdd6a5","created_at":"2024-03-05T10:43:37.141221Z","updated_at":"2024-03-05T10:43:37.141221Z","subnet":"fd5d:9132:befe:2317::/64"}],"vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322","dhcp_enabled":true,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"local_images":[{"id":"1bed752e-f775-4ec2-b179-40af20ec1eec","arch":"x86_64","zone":"fr-par-1","compatible_commercial_types":["DEV1-L","DEV1-M","DEV1-S","DEV1-XL","GP1-L","GP1-M","GP1-S","GP1-XL","GP1-XS","START1-L","START1-M","START1-S","START1-XS","VC1L","VC1M","VC1S","X64-120GB","X64-15GB","X64-30GB","X64-60GB","ENT1-XXS","ENT1-XS","ENT1-S","ENT1-M","ENT1-L","ENT1-XL","ENT1-2XL","PRO2-XXS","PRO2-XS","PRO2-S","PRO2-M","PRO2-L","STARDUST1-S","PLAY2-MICRO","PLAY2-NANO","PLAY2-PICO","POP2-2C-8G","POP2-4C-16G","POP2-8C-32G","POP2-16C-64G","POP2-32C-128G","POP2-64C-256G","POP2-HM-2C-16G","POP2-HM-4C-32G","POP2-HM-8C-64G","POP2-HM-16C-128G","POP2-HM-32C-256G","POP2-HM-64C-512G","POP2-HC-2C-4G","POP2-HC-4C-8G","POP2-HC-8C-16G","POP2-HC-16C-32G","POP2-HC-32C-64G","POP2-HC-64C-128G"],"label":"ubuntu_focal","type":"instance_local"},{"id":"9517ef8a-b830-4880-ab30-3f2366a8a207","arch":"arm64","zone":"fr-par-1","compatible_commercial_types":["AMP2-C1","AMP2-C2","AMP2-C4","AMP2-C8","AMP2-C12","AMP2-C24","AMP2-C48","AMP2-C60","COPARM1-2C-8G","COPARM1-4C-16G","COPARM1-8C-32G","COPARM1-16C-64G","COPARM1-32C-128G"],"label":"ubuntu_focal","type":"instance_local"}],"total_count":2}'
    form: {}
    headers:
    url: https://api.scaleway.com/marketplace/v2/local-images?image_label=ubuntu_focal&order_by=created_at_asc&type=instance_local&zone=fr-par-1
    method: GET
  response:
    body: '{"local_images":[{"id":"1bed752e-f775-4ec2-b179-40af20ec1eec","arch":"x86_64","zone":"fr-par-1","compatible_commercial_types":["DEV1-L","DEV1-M","DEV1-S","DEV1-XL","GP1-L","GP1-M","GP1-S","GP1-XL","GP1-XS","START1-L","START1-M","START1-S","START1-XS","VC1L","VC1M","VC1S","X64-120GB","X[...]
- request:
    body: '{"image": {"id": "1bed752e-f775-4ec2-b179-40af20ec1eec", "name": "Ubuntu
      20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "9199297e-fd35-4012-9164-8c97820f205b",
      "name": "Ubuntu 20.04 Focal Fossa", "volume_type": "unified", "size": 10000000000},
      "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2024-02-22T15:47:31.528876+00:00",
      "modification_date": "2024-02-22T15:47:31.528876+00:00", "default_bootscript":
      null, "from_server": null, "state": "available", "tags": [], "zone": "fr-par-1"}}'
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/1bed752e-f775-4ec2-b179-40af20ec1eec
    method: GET
  response:
    body: '{"image": {"id": "1bed752e-f775-4ec2-b179-40af20ec1eec", "name": "Ubuntu
      20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "9199297e-fd35-4012-9164-8c97820f205b",
      "name": "Ubuntu 20.04 Focal Fossa", "volume_type": "unified", "size": 10000000000},
      "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2024-02-22T15:47:31.528876+00:00",
      "modification_date": "2024-02-22T15:47:31.528876+00:00", "default_bootscript":
      null, "from_server": null, "state": "available", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"servers": {"COPARM1-16C-64G": {"alt_names": [], "arch": "arm64", "ncpus":
      16, "ram": 68719476736, "gpu": 0, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size":
      0, "max_size": 0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      252.14, "hourly_price": 0.3454, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      1600000000, "sum_internet_bandwidth": 1600000000, "interfaces": [{"internal_bandwidth":
      1600000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      1600000000}]}}, "COPARM1-2C-8G": {"alt_names": [], "arch": "arm64", "ncpus":
      2, "ram": 8589934592, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      31.1, "hourly_price": 0.0426, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      200000000, "sum_internet_bandwidth": 200000000, "interfaces": [{"internal_bandwidth":
      200000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      200000000}]}}, "COPARM1-32C-128G": {"alt_names": [], "arch": "arm64", "ncpus":
      32, "ram": 137438953472, "gpu": 0, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size":
      0, "max_size": 0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      506.26, "hourly_price": 0.6935, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      3200000000, "sum_internet_bandwidth": 3200000000, "interfaces": [{"internal_bandwidth":
      3200000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      3200000000}]}}, "COPARM1-4C-16G": {"alt_names": [], "arch": "arm64", "ncpus":
      4, "ram": 17179869184, "gpu": 0, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size":
      0, "max_size": 0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      62.56, "hourly_price": 0.0857, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      400000000, "sum_internet_bandwidth": 400000000, "interfaces": [{"internal_bandwidth":
      400000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      400000000}]}}, "COPARM1-8C-32G": {"alt_names": [], "arch": "arm64", "ncpus":
      8, "ram": 34359738368, "gpu": 0, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size":
      0, "max_size": 0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      125.85, "hourly_price": 0.1724, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      800000000, "sum_internet_bandwidth": 800000000, "interfaces": [{"internal_bandwidth":
      800000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      800000000}]}}, "DEV1-L": {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram":
      8589934592, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 80000000000}, "per_volume_constraint": {"l_ssd": {"min_size":
      1000000000, "max_size": 800000000000}}, "scratch_storage_max_size": null, "baremetal":
      false, "monthly_price": 36.1496, "hourly_price": 0.04952, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "hot_snapshots_local_volume": true, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth": 400000000,
      "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 400000000}]}}, "DEV1-M":
      {"alt_names": [], "arch": "x86_64", "ncpus": 3, "ram": 4294967296, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 40000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "scratch_storage_max_size": null, "baremetal": false, "monthly_price": 18.6588,
      "hourly_price": 0.02556, "capabilities": {"boot_types": ["bootscript", "rescue",
      "local"], "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      300000000, "sum_internet_bandwidth": 300000000, "interfaces": [{"internal_bandwidth":
      300000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      300000000}]}}, "DEV1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram":
      2147483648, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 20000000000}, "per_volume_constraint": {"l_ssd": {"min_size":
      1000000000, "max_size": 800000000000}}, "scratch_storage_max_size": null, "baremetal":
      false, "monthly_price": 9.9864, "hourly_price": 0.01368, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "hot_snapshots_local_volume": true, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 200000000, "sum_internet_bandwidth": 200000000,
      "interfaces": [{"internal_bandwidth": 200000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 200000000}]}}, "DEV1-XL":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 12884901888, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 120000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "scratch_storage_max_size": null, "baremetal": false, "monthly_price": 53.3484,
      "hourly_price": 0.07308, "capabilities": {"boot_types": ["bootscript", "rescue",
      "local"], "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      500000000, "sum_internet_bandwidth": 500000000, "interfaces": [{"internal_bandwidth":
      500000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      500000000}]}}, "ENT1-2XL": {"alt_names": [], "arch": "x86_64", "ncpus": 96,
      "ram": 412316860416, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      2576.9, "hourly_price": 3.53, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      20000000000, "sum_internet_bandwidth": 20000000000, "interfaces": [{"internal_bandwidth":
      20000000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      20000000000}]}}, "ENT1-L": {"alt_names": [], "arch": "x86_64", "ncpus": 32,
      "ram": 137438953472, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      861.4, "hourly_price": 1.18, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      6400000000, "sum_internet_bandwidth": 6400000000, "interfaces": [{"internal_bandwidth":
      6400000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      6400000000}]}}, "ENT1-M": {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram":
      68719476736, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      430.7, "hourly_price": 0.59, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      3200000000, "sum_internet_bandwidth": 3200000000, "interfaces": [{"internal_bandwidth":
      3200000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      3200000000}]}}, "ENT1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram":
      34359738368, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      211.7, "hourly_price": 0.29, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      1600000000, "sum_internet_bandwidth": 1600000000, "interfaces": [{"internal_bandwidth":
      1600000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      1600000000}]}}, "ENT1-XL": {"alt_names": [], "arch": "x86_64", "ncpus": 64,
      "ram": 274877906944, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      1715.5, "hourly_price": 2.35, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      12800000000, "sum_internet_bandwidth": 12800000000, "interfaces": [{"internal_bandwidth":
      12800000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      12800000000}]}}, "ENT1-XS": {"alt_names": [], "arch": "x86_64", "ncpus": 4,
      "ram": 17179869184, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      107.31, "hourly_price": 0.147, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      800000000, "sum_internet_bandwidth": 800000000, "interfaces": [{"internal_bandwidth":
      800000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      800000000}]}}, "ENT1-XXS": {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram":
      8589934592, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      53.655, "hourly_price": 0.0735, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      400000000, "sum_internet_bandwidth": 400000000, "interfaces": [{"internal_bandwidth":
      400000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      400000000}]}}, "GP1-L": {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram":
      137438953472, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 600000000000}, "per_volume_constraint": {"l_ssd": {"min_size":
      1000000000, "max_size": 800000000000}}, "scratch_storage_max_size": null, "baremetal":
      false, "monthly_price": 576.262, "hourly_price": 0.7894, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "hot_snapshots_local_volume": true, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 5000000000, "sum_internet_bandwidth": 5000000000,
      "interfaces": [{"internal_bandwidth": 5000000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 5000000000}]}}, "GP1-M":
      {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 68719476736, "gpu":
      0, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 600000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "scratch_storage_max_size": null, "baremetal": false, "monthly_price": 296.672,
      "hourly_price": 0.4064, "capabilities": {"boot_types": ["bootscript", "rescue",
      "local"], "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      1500000000, "sum_internet_bandwidth": 1500000000, "interfaces": [{"internal_bandwidth":
      1500000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      1500000000}]}}, "GP1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram":
      34359738368, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 300000000000}, "per_volume_constraint": {"l_ssd": {"min_size":
      1000000000, "max_size": 800000000000}}, "scratch_storage_max_size": null, "baremetal":
      false, "monthly_price": 149.066, "hourly_price": 0.2042, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "hot_snapshots_local_volume": true, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 800000000, "sum_internet_bandwidth": 800000000,
      "interfaces": [{"internal_bandwidth": 800000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 800000000}]}}, "GP1-VIZ":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 300000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "scratch_storage_max_size": null, "baremetal": false, "monthly_price": 72.0,
      "hourly_price": 0.1, "capabilities": {"boot_types": ["bootscript", "rescue",
      "local"], "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      500000000, "sum_internet_bandwidth": 500000000, "interfaces": [{"internal_bandwidth":
      500000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      500000000}]}}, "GP1-XL": {"alt_names": [], "arch": "x86_64", "ncpus": 48, "ram":
      274877906944, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 600000000000}, "per_volume_constraint": {"l_ssd": {"min_size":
      1000000000, "max_size": 800000000000}}, "scratch_storage_max_size": null, "baremetal":
      false, "monthly_price": 1220.122, "hourly_price": 1.6714, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "hot_snapshots_local_volume": true, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 10000000000, "sum_internet_bandwidth": 10000000000,
      "interfaces": [{"internal_bandwidth": 10000000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 10000000000}]}}, "GP1-XS":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 17179869184, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 150000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "scratch_storage_max_size": null, "baremetal": false, "monthly_price": 74.168,
      "hourly_price": 0.1016, "capabilities": {"boot_types": ["bootscript", "rescue",
      "local"], "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      500000000, "sum_internet_bandwidth": 500000000, "interfaces": [{"internal_bandwidth":
      500000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      500000000}]}}, "PLAY2-MICRO": {"alt_names": [], "arch": "x86_64", "ncpus": 4,
      "ram": 8589934592, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      39.42, "hourly_price": 0.054, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      400000000, "sum_internet_bandwidth": 400000000, "interfaces": [{"internal_bandwidth":
      400000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      400000000}]}}, "PLAY2-NANO": {"alt_names": [], "arch": "x86_64", "ncpus": 2,
      "ram": 4294967296, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      19.71, "hourly_price": 0.027, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      200000000, "sum_internet_bandwidth": 200000000, "interfaces": [{"internal_bandwidth":
      200000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      200000000}]}}, "PLAY2-PICO": {"alt_names": [], "arch": "x86_64", "ncpus": 1,
      "ram": 2147483648, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      10.22, "hourly_price": 0.014, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      100000000, "sum_internet_bandwidth": 100000000, "interfaces": [{"internal_bandwidth":
      100000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      100000000}]}}, "POP2-16C-64G": {"alt_names": [], "arch": "x86_64", "ncpus":
      16, "ram": 68719476736, "gpu": 0, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size":
      0, "max_size": 0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      430.7, "hourly_price": 0.59, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      3200000000, "sum_internet_bandwidth": 3200000000, "interfaces": [{"internal_bandwidth":
      3200000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      3200000000}]}}, "POP2-2C-8G": {"alt_names": [], "arch": "x86_64", "ncpus": 2,
      "ram": 8589934592, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      53.66, "hourly_price": 0.0735, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      400000000, "sum_internet_bandwidth": 400000000, "interfaces": [{"internal_bandwidth":
      400000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      400000000}]}}, "POP2-32C-128G": {"alt_names": [], "arch": "x86_64", "ncpus":
      32, "ram": 137438953472, "gpu": 0, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size":
      0, "max_size": 0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      861.4, "hourly_price": 1.18, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      6400000000, "sum_internet_bandwidth": 6400000000, "interfaces": [{"internal_bandwidth":
      6400000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      6400000000}]}}, "POP2-4C-16G": {"alt_names": [], "arch": "x86_64", "ncpus":
      4, "ram": 17179869184, "gpu": 0, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size":
      0, "max_size": 0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      107.31, "hourly_price": 0.147, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      800000000, "sum_internet_bandwidth": 800000000, "interfaces": [{"internal_bandwidth":
      800000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      800000000}]}}, "POP2-64C-256G": {"alt_names": [], "arch": "x86_64", "ncpus":
      64, "ram": 274877906944, "gpu": 0, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size":
      0, "max_size": 0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      1715.5, "hourly_price": 2.35, "capabilities": {"boot_types": ["rescue", "local"],
      "hot_snapshots_local_volume": false, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      12800000000, "sum_internet_bandwidth": 12800000000, "interfaces": [{"internal_bandwidth":
      12800000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      12800000000}]}}, "POP2-8C-32G": {"alt_names": [], "arch": "x86_64", "ncpus":
      8, "ram": 34359738368, "gpu": 0, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size":
[...]
