---
version: 1
interactions:
- request:
    body: '{"id":"545d64db-70a4-496d-9a96-2b544fcbb44e", "name":"cli-pn-condescending-wozniak",
      "tags":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "created_at":"2024-12-17T13:48:19.202702Z",
      "updated_at":"2024-12-17T13:48:19.202702Z", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "subnets":[{"id":"fd8163aa-68d7-4336-b96d-53a3a31e39b8", "created_at":"2024-12-17T13:48:19.202702Z",
      "updated_at":"2024-12-17T13:48:19.202702Z", "subnet":"172.16.44.0/22", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "private_network_id":"545d64db-70a4-496d-9a96-2b544fcbb44e", "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},
      {"id":"8cd086c0-5517-410f-9ea8-5ff93b46b2f8", "created_at":"2024-12-17T13:48:19.202702Z",
      "updated_at":"2024-12-17T13:48:19.202702Z", "subnet":"fd46:78ab:30b8:a93e::/64",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "private_network_id":"545d64db-70a4-496d-9a96-2b544fcbb44e",
      "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}], "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"545d64db-70a4-496d-9a96-2b544fcbb44e", "name":"cli-pn-condescending-wozniak",
      "tags":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "created_at":"2024-12-17T13:48:19.202702Z",
      "updated_at":"2024-12-17T13:48:19.202702Z", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "subnets":[{"id":"fd8163aa-68d7-4336-b96d-53a3a31e39b8", "created_at":"2024-12-17T13:48:19.202702Z",
      "updated_at":"2024-12-17T13:48:19.202702Z", "subnet":"172.16.44.0/22", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "private_network_id":"545d64db-70a4-496d-9a96-2b544fcbb44e", "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},
      {"id":"8cd086c0-5517-410f-9ea8-5ff93b46b2f8", "created_at":"2024-12-17T13:48:19.202702Z",
      "updated_at":"2024-12-17T13:48:19.202702Z", "subnet":"fd46:78ab:30b8:a93e::/64",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "private_network_id":"545d64db-70a4-496d-9a96-2b544fcbb44e",
      "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}], "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"servers": {"COPARM1-16C-64G": {"alt_names": [], "arch": "arm64", "ncpus":
      16, "ram": 68719476736, "gpu": 0, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size":
      0, "max_size": 0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      252.14, "hourly_price": 0.3454, "capabilities": {"boot_types": ["local", "rescue"],
      "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      1600000000, "sum_internet_bandwidth": 1600000000, "interfaces": [{"internal_bandwidth":
      1600000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      1600000000}]}, "block_bandwidth": 671088640}, "COPARM1-2C-8G": {"alt_names":
      [], "arch": "arm64", "ncpus": 2, "ram": 8589934592, "gpu": 0, "mig_profile":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "baremetal": false, "monthly_price": 31.1, "hourly_price": 0.0426, "capabilities":
      {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage":
      true, "hot_snapshots_local_volume": false, "private_network": 8}, "network":
      {"ipv6_support": true, "sum_internal_bandwidth": 200000000, "sum_internet_bandwidth":
      200000000, "interfaces": [{"internal_bandwidth": 200000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 200000000}]}, "block_bandwidth":
      83886080}, "COPARM1-32C-128G": {"alt_names": [], "arch": "arm64", "ncpus": 32,
      "ram": 137438953472, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      506.26, "hourly_price": 0.6935, "capabilities": {"boot_types": ["local", "rescue"],
      "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      3200000000, "sum_internet_bandwidth": 3200000000, "interfaces": [{"internal_bandwidth":
      3200000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      3200000000}]}, "block_bandwidth": 1342177280}, "COPARM1-4C-16G": {"alt_names":
      [], "arch": "arm64", "ncpus": 4, "ram": 17179869184, "gpu": 0, "mig_profile":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "baremetal": false, "monthly_price": 62.56, "hourly_price": 0.0857, "capabilities":
      {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage":
      true, "hot_snapshots_local_volume": false, "private_network": 8}, "network":
      {"ipv6_support": true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth":
      400000000, "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 400000000}]}, "block_bandwidth":
      167772160}, "COPARM1-8C-32G": {"alt_names": [], "arch": "arm64", "ncpus": 8,
      "ram": 34359738368, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      125.85, "hourly_price": 0.1724, "capabilities": {"boot_types": ["local", "rescue"],
      "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      800000000, "sum_internet_bandwidth": 800000000, "interfaces": [{"internal_bandwidth":
      800000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      800000000}]}, "block_bandwidth": 335544320}, "DEV1-L": {"alt_names": [], "arch":
      "x86_64", "ncpus": 4, "ram": 8589934592, "gpu": 0, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 80000000000}, "per_volume_constraint": {"l_ssd":
      {"min_size": 1000000000, "max_size": 800000000000}}, "scratch_storage_max_size":
      null, "baremetal": false, "monthly_price": 36.1496, "hourly_price": 0.04952,
      "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true,
      "block_storage": true, "hot_snapshots_local_volume": true, "private_network":
      8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth":
      400000000, "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 400000000}]}, "block_bandwidth":
      209715200}, "DEV1-M": {"alt_names": [], "arch": "x86_64", "ncpus": 3, "ram":
      4294967296, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 40000000000}, "per_volume_constraint": {"l_ssd": {"min_size":
      1000000000, "max_size": 800000000000}}, "scratch_storage_max_size": null, "baremetal":
      false, "monthly_price": 18.6588, "hourly_price": 0.02556, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      300000000, "sum_internet_bandwidth": 300000000, "interfaces": [{"internal_bandwidth":
      300000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      300000000}]}, "block_bandwidth": 157286400}, "DEV1-S": {"alt_names": [], "arch":
      "x86_64", "ncpus": 2, "ram": 2147483648, "gpu": 0, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 20000000000}, "per_volume_constraint": {"l_ssd":
      {"min_size": 1000000000, "max_size": 800000000000}}, "scratch_storage_max_size":
      null, "baremetal": false, "monthly_price": 9.9864, "hourly_price": 0.01368,
      "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true,
      "block_storage": true, "hot_snapshots_local_volume": true, "private_network":
      8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 200000000, "sum_internet_bandwidth":
      200000000, "interfaces": [{"internal_bandwidth": 200000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 200000000}]}, "block_bandwidth":
      104857600}, "DEV1-XL": {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram":
      12884901888, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 120000000000}, "per_volume_constraint": {"l_ssd": {"min_size":
      1000000000, "max_size": 800000000000}}, "scratch_storage_max_size": null, "baremetal":
      false, "monthly_price": 53.3484, "hourly_price": 0.07308, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      500000000, "sum_internet_bandwidth": 500000000, "interfaces": [{"internal_bandwidth":
      500000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      500000000}]}, "block_bandwidth": 262144000}, "ENT1-2XL": {"alt_names": [], "arch":
      "x86_64", "ncpus": 96, "ram": 412316860416, "gpu": 0, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size":
      0, "max_size": 0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      2576.9, "hourly_price": 3.53, "capabilities": {"boot_types": ["local", "rescue"],
      "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      20000000000, "sum_internet_bandwidth": 20000000000, "interfaces": [{"internal_bandwidth":
      20000000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      20000000000}]}, "block_bandwidth": 21474836480}, "ENT1-L": {"alt_names": [],
      "arch": "x86_64", "ncpus": 32, "ram": 137438953472, "gpu": 0, "mig_profile":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "baremetal": false, "monthly_price": 861.4, "hourly_price": 1.18, "capabilities":
      {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage":
      true, "hot_snapshots_local_volume": false, "private_network": 8}, "network":
      {"ipv6_support": true, "sum_internal_bandwidth": 6400000000, "sum_internet_bandwidth":
      6400000000, "interfaces": [{"internal_bandwidth": 6400000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 6400000000}]}, "block_bandwidth":
      6710886400}, "ENT1-M": {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram":
      68719476736, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      430.7, "hourly_price": 0.59, "capabilities": {"boot_types": ["local", "rescue"],
      "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      3200000000, "sum_internet_bandwidth": 3200000000, "interfaces": [{"internal_bandwidth":
      3200000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      3200000000}]}, "block_bandwidth": 3355443200}, "ENT1-S": {"alt_names": [], "arch":
      "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": 0, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size":
      0, "max_size": 0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      211.7, "hourly_price": 0.29, "capabilities": {"boot_types": ["local", "rescue"],
      "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      1600000000, "sum_internet_bandwidth": 1600000000, "interfaces": [{"internal_bandwidth":
      1600000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      1600000000}]}, "block_bandwidth": 1677721600}, "ENT1-XL": {"alt_names": [],
      "arch": "x86_64", "ncpus": 64, "ram": 274877906944, "gpu": 0, "mig_profile":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "baremetal": false, "monthly_price": 1715.5, "hourly_price": 2.35, "capabilities":
      {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage":
      true, "hot_snapshots_local_volume": false, "private_network": 8}, "network":
      {"ipv6_support": true, "sum_internal_bandwidth": 12800000000, "sum_internet_bandwidth":
      12800000000, "interfaces": [{"internal_bandwidth": 12800000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 12800000000}]}, "block_bandwidth":
      13421772800}, "ENT1-XS": {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram":
      17179869184, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      107.31, "hourly_price": 0.147, "capabilities": {"boot_types": ["local", "rescue"],
      "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      800000000, "sum_internet_bandwidth": 800000000, "interfaces": [{"internal_bandwidth":
      800000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      800000000}]}, "block_bandwidth": 838860800}, "ENT1-XXS": {"alt_names": [], "arch":
      "x86_64", "ncpus": 2, "ram": 8589934592, "gpu": 0, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size":
      0, "max_size": 0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      53.655, "hourly_price": 0.0735, "capabilities": {"boot_types": ["local", "rescue"],
      "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      400000000, "sum_internet_bandwidth": 400000000, "interfaces": [{"internal_bandwidth":
      400000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      400000000}]}, "block_bandwidth": 419430400}, "GP1-L": {"alt_names": [], "arch":
      "x86_64", "ncpus": 32, "ram": 137438953472, "gpu": 0, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 600000000000}, "per_volume_constraint": {"l_ssd":
      {"min_size": 1000000000, "max_size": 800000000000}}, "scratch_storage_max_size":
      null, "baremetal": false, "monthly_price": 576.262, "hourly_price": 0.7894,
      "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true,
      "block_storage": true, "hot_snapshots_local_volume": true, "private_network":
      8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 5000000000,
      "sum_internet_bandwidth": 5000000000, "interfaces": [{"internal_bandwidth":
      5000000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      5000000000}]}, "block_bandwidth": 1073741824}, "GP1-M": {"alt_names": [], "arch":
      "x86_64", "ncpus": 16, "ram": 68719476736, "gpu": 0, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 600000000000}, "per_volume_constraint": {"l_ssd":
      {"min_size": 1000000000, "max_size": 800000000000}}, "scratch_storage_max_size":
      null, "baremetal": false, "monthly_price": 296.672, "hourly_price": 0.4064,
      "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true,
      "block_storage": true, "hot_snapshots_local_volume": true, "private_network":
      8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 1500000000,
      "sum_internet_bandwidth": 1500000000, "interfaces": [{"internal_bandwidth":
      1500000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      1500000000}]}, "block_bandwidth": 838860800}, "GP1-S": {"alt_names": [], "arch":
      "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": 0, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 300000000000}, "per_volume_constraint": {"l_ssd":
      {"min_size": 1000000000, "max_size": 800000000000}}, "scratch_storage_max_size":
      null, "baremetal": false, "monthly_price": 149.066, "hourly_price": 0.2042,
      "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true,
      "block_storage": true, "hot_snapshots_local_volume": true, "private_network":
      8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 800000000, "sum_internet_bandwidth":
      800000000, "interfaces": [{"internal_bandwidth": 800000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 800000000}]}, "block_bandwidth":
      524288000}, "GP1-VIZ": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram":
      34359738368, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 300000000000}, "per_volume_constraint": {"l_ssd": {"min_size":
      1000000000, "max_size": 800000000000}}, "scratch_storage_max_size": null, "baremetal":
      false, "monthly_price": 72.0, "hourly_price": 0.1, "capabilities": {"boot_types":
      ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      500000000, "sum_internet_bandwidth": 500000000, "interfaces": [{"internal_bandwidth":
      500000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      500000000}]}, "block_bandwidth": 314572800}, "GP1-XL": {"alt_names": [], "arch":
      "x86_64", "ncpus": 48, "ram": 274877906944, "gpu": 0, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 600000000000}, "per_volume_constraint": {"l_ssd":
      {"min_size": 1000000000, "max_size": 800000000000}}, "scratch_storage_max_size":
      null, "baremetal": false, "monthly_price": 1220.122, "hourly_price": 1.6714,
      "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true,
      "block_storage": true, "hot_snapshots_local_volume": true, "private_network":
      8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 10000000000,
      "sum_internet_bandwidth": 10000000000, "interfaces": [{"internal_bandwidth":
      10000000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      10000000000}]}, "block_bandwidth": 2147483648}, "GP1-XS": {"alt_names": [],
      "arch": "x86_64", "ncpus": 4, "ram": 17179869184, "gpu": 0, "mig_profile": null,
      "volumes_constraint": {"min_size": 0, "max_size": 150000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "scratch_storage_max_size":
      null, "baremetal": false, "monthly_price": 74.168, "hourly_price": 0.1016, "capabilities":
      {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage":
      true, "hot_snapshots_local_volume": true, "private_network": 8}, "network":
      {"ipv6_support": true, "sum_internal_bandwidth": 500000000, "sum_internet_bandwidth":
      500000000, "interfaces": [{"internal_bandwidth": 500000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 500000000}]}, "block_bandwidth":
      314572800}, "PLAY2-MICRO": {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram":
      8589934592, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      39.42, "hourly_price": 0.054, "capabilities": {"boot_types": ["local", "rescue"],
      "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      400000000, "sum_internet_bandwidth": 400000000, "interfaces": [{"internal_bandwidth":
      400000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      400000000}]}, "block_bandwidth": 167772160}, "PLAY2-NANO": {"alt_names": [],
      "arch": "x86_64", "ncpus": 2, "ram": 4294967296, "gpu": 0, "mig_profile": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "baremetal": false, "monthly_price": 19.71, "hourly_price": 0.027, "capabilities":
      {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage":
      true, "hot_snapshots_local_volume": false, "private_network": 8}, "network":
      {"ipv6_support": true, "sum_internal_bandwidth": 200000000, "sum_internet_bandwidth":
      200000000, "interfaces": [{"internal_bandwidth": 200000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 200000000}]}, "block_bandwidth":
      83886080}, "PLAY2-PICO": {"alt_names": [], "arch": "x86_64", "ncpus": 1, "ram":
      2147483648, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      10.22, "hourly_price": 0.014, "capabilities": {"boot_types": ["local", "rescue"],
      "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      100000000, "sum_internet_bandwidth": 100000000, "interfaces": [{"internal_bandwidth":
      100000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      100000000}]}, "block_bandwidth": 41943040}, "POP2-16C-64G": {"alt_names": [],
      "arch": "x86_64", "ncpus": 16, "ram": 68719476736, "gpu": 0, "mig_profile":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "baremetal": false, "monthly_price": 430.7, "hourly_price": 0.59, "capabilities":
      {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage":
      true, "hot_snapshots_local_volume": false, "private_network": 8}, "network":
      {"ipv6_support": true, "sum_internal_bandwidth": 3200000000, "sum_internet_bandwidth":
      3200000000, "interfaces": [{"internal_bandwidth": 3200000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 3200000000}]}, "block_bandwidth":
      3355443200}, "POP2-16C-64G-WIN": {"alt_names": [], "arch": "x86_64", "ncpus":
      16, "ram": 68719476736, "gpu": 0, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size":
      0, "max_size": 0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      1063.391, "hourly_price": 1.4567, "capabilities": {"boot_types": ["local", "rescue"],
      "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      3200000000, "sum_internet_bandwidth": 3200000000, "interfaces": [{"internal_bandwidth":
      3200000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      3200000000}]}, "block_bandwidth": 3355443200}, "POP2-2C-8G": {"alt_names": [],
      "arch": "x86_64", "ncpus": 2, "ram": 8589934592, "gpu": 0, "mig_profile": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "baremetal": false, "monthly_price": 53.66, "hourly_price": 0.0735, "capabilities":
      {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage":
      true, "hot_snapshots_local_volume": false, "private_network": 8}, "network":
      {"ipv6_support": true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth":
      400000000, "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 400000000}]}, "block_bandwidth":
      419430400}, "POP2-2C-8G-WIN": {"alt_names": [], "arch": "x86_64", "ncpus": 2,
      "ram": 8589934592, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      133.079, "hourly_price": 0.1823, "capabilities": {"boot_types": ["local", "rescue"],
      "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      400000000, "sum_internet_bandwidth": 400000000, "interfaces": [{"internal_bandwidth":
      400000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      400000000}]}, "block_bandwidth": 419430400}, "POP2-32C-128G": {"alt_names":
      [], "arch": "x86_64", "ncpus": 32, "ram": 137438953472, "gpu": 0, "mig_profile":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "baremetal": false, "monthly_price": 861.4, "hourly_price": 1.18, "capabilities":
      {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage":
      true, "hot_snapshots_local_volume": false, "private_network": 8}, "network":
      {"ipv6_support": true, "sum_internal_bandwidth": 6400000000, "sum_internet_bandwidth":
      6400000000, "interfaces": [{"internal_bandwidth": 6400000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 6400000000}]}, "block_bandwidth":
      6710886400}, "POP2-32C-128G-WIN": {"alt_names": [], "arch": "x86_64", "ncpus":
      32, "ram": 137438953472, "gpu": 0, "mig_profile": null, "volumes_constraint":
      {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size":
      0, "max_size": 0}}, "scratch_storage_max_size": null, "baremetal": false, "monthly_price":
      2126.709, "hourly_price": 2.9133, "capabilities": {"boot_types": ["local", "rescue"],
      "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume":
      false, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      6400000000, "sum_internet_bandwidth": 6400000000, "interfaces": [{"internal_bandwidth":
      6400000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      6400000000}]}, "block_bandwidth": 6710886400}, "POP2-4C-16G": {"alt_names":
      [], "arch": "x86_64", "ncpus": 4, "ram": 17179869184, "gpu": 0, "mig_profile":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": null,
      "baremetal": false, "monthly_price": 107.31, "hourly_price": 0.147, "capabilities":
      {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage":
      true, "hot_snapshots_local_volume": false, "private_network": 8}, "network":
      {"ipv6_support": true, "sum_internal_bandwidth": 800000000, "sum_internet_bandwidth":
      800000000, "interfaces": [{"internal_bandwidth": 800000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 800000000}]}, "block_bandwidth":
      838860800}, "POP2-4C-16G-WIN": {"alt_names": [], "arch": "x86_64", "ncpus":
      4, "ram": 17179869184, "gpu": 0, "mig_profile": null, "volumes_constraint":
[...]
