---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - 229770f1-21cc-46bf-8df9-aafef2991257
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV/20260803/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;content-length;content-type;host;x-amz-acl;x-amz-bucket-object-lock-enabled;x-amz-content-sha256;x-amz-date,
        Signature=3be6fe40383870f26f20c41737ed54a218d88579360e389dcd4554418638926e
      Content-Type:
      - application/xml
      X-Amz-Acl:
      - private
      X-Amz-Bucket-Object-Lock-Enabled:
      - "false"
      X-Amz-Content-Sha256:
      - 2cb57fad7b7168921a4c94426cfcb9ee2953f126430595df844e22d50f029060
      X-Amz-Date:
      - 20260803T075834Z
    url: https://s3.fr-par.scw.cloud/cli-test-bucket-create-1308268995137794838
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - /cli-test-bucket-create-1308268995137794838
      X-Amz-Request-Id:
      - txg47a8a06b266a455cb532-006a704a2a
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - 3e015eb4-0fa8-4b40-b8e9-2e1307f54d77
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV/20260803/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;content-length;content-type;host;x-amz-checksum-crc32;x-amz-content-sha256;x-amz-date,
        Signature=2fd1412477bf20674a46c9a60ef05c3237957b58d41d05c09e9df570e1f069d1
      Content-Type:
      - application/xml
      X-Amz-Checksum-Crc32:
      - gZ/csg==
      X-Amz-Content-Sha256:
      - d7f1d7ed35d188f6a89d394cc2055f5910c14a3abccf41e808e7f7327d21e129
      X-Amz-Date:
      - 20260803T075836Z
    url: https://s3.fr-par.scw.cloud/cli-test-bucket-create-1308268995137794838?versioning=
    method: PUT
  response:
    body: ""
    headers:
      X-Amz-Request-Id:
      - txg316716a7389043acbfa2-006a704a2e
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - b87a67c3-b468-49ac-b9dd-b0f00bf30ab0
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV/20260803/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;content-length;content-type;host;x-amz-checksum-crc32;x-amz-content-sha256;x-amz-date,
        Signature=d5b1b85ebea637eeb21a5ac444eac5b52c5582b4434b9d785f9f22c6afcc4211
      Content-Type:
      - application/xml
      X-Amz-Checksum-Crc32:
      - 7YrCYg==
      X-Amz-Content-Sha256:
      - 443f16b1c875f5379407594167eb7f9cb55457f990e72f2fc755292809c53ee2
      X-Amz-Date:
      - 20260803T075838Z
    url: https://s3.fr-par.scw.cloud/cli-test-bucket-create-1308268995137794838?tagging=
    method: PUT
  response:
    body: ""
    headers:
      X-Amz-Request-Id:
      - txgb32e2ec955144041b13c-006a704a2e
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <VersioningConfiguration><Status>Suspended</Status></VersioningConfiguration>
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - 734d55be-9983-4997-a0fd-44b3b417c15b
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV/20260803/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;host;x-amz-content-sha256;x-amz-date,
        Signature=74e58740da7826812a5d3a170b12d7dbadf6800a2f10e82ab3886f3da08e41fa
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20260803T075838Z
    url: https://s3.fr-par.scw.cloud/cli-test-bucket-create-1308268995137794838?versioning=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <VersioningConfiguration><Status>Suspended</Status></VersioningConfiguration>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txg2302fd77135f4537b96f-006a704a2e
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <Tagging><TagSet><Tag><Key>key1</Key><Value>value1</Value></Tag><Tag><Key>key2</Key><Value>value2</Value></Tag></TagSet></Tagging>
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - 2bcc6420-f394-41bd-98db-8ad6f322bd29
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV/20260803/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;host;x-amz-content-sha256;x-amz-date,
        Signature=870e507c50a5b92d63c625da4e724c648661651a056f55fed6e11eb45aeff338
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20260803T075838Z
    url: https://s3.fr-par.scw.cloud/cli-test-bucket-create-1308268995137794838?tagging=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <Tagging><TagSet><Tag><Key>key1</Key><Value>value1</Value></Tag><Tag><Key>key2</Key><Value>value2</Value></Tag></TagSet></Tagging>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txge8031417d56e43a58d29-006a704a2e
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - c41e97e9-b6db-4a67-8c89-0a05567322e2
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV/20260803/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;host;x-amz-content-sha256;x-amz-date,
        Signature=b514fc790fe98227c2d5457a5b2d0fe01[...]
[...]
