---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - bef45df9-3789-46c9-b597-971e739144c7
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV/20260803/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;content-length;content-type;host;x-amz-acl;x-amz-bucket-object-lock-enabled;x-amz-content-sha256;x-amz-date,
        Signature=0f44e85dcb64c34cba50c52a009aff542304e5af46bdb3cdb31acc0e259f101a
      Content-Type:
      - application/xml
      X-Amz-Acl:
      - authenticated-read
      X-Amz-Bucket-Object-Lock-Enabled:
      - "false"
      X-Amz-Content-Sha256:
      - 2cb57fad7b7168921a4c94426cfcb9ee2953f126430595df844e22d50f029060
      X-Amz-Date:
      - 20260803T075834Z
    url: https://s3.fr-par.scw.cloud/cli-test-bucket-create-2302534092093097554
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - /cli-test-bucket-create-2302534092093097554
      X-Amz-Request-Id:
      - txg2316918c5ebb46e3a712-006a704a2a
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - 29163468-2a21-4fe2-820c-35fcd5ee3621
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV/20260803/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;content-length;content-type;host;x-amz-checksum-crc32;x-amz-content-sha256;x-amz-date,
        Signature=0c97b04e05f24a16cdc8c971f3e55b356716842b7ff9b071ec5884dc7435e2aa
      Content-Type:
      - application/xml
      X-Amz-Checksum-Crc32:
      - gZ/csg==
      X-Amz-Content-Sha256:
      - d7f1d7ed35d188f6a89d394cc2055f5910c14a3abccf41e808e7f7327d21e129
      X-Amz-Date:
      - 20260803T075836Z
    url: https://s3.fr-par.scw.cloud/cli-test-bucket-create-2302534092093097554?versioning=
    method: PUT
  response:
    body: ""
    headers:
      X-Amz-Request-Id:
      - txg3238bb6999b040cdbc46-006a704a2e
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <VersioningConfiguration><Status>Suspended</Status></VersioningConfiguration>
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - 2f5d4829-5e13-4d7f-820d-ffb03e987a20
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV/20260803/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;host;x-amz-content-sha256;x-amz-date,
        Signature=d83ac67f5ec98f345eeeea93ea4981b5eb4b292a4f8b83e10b5cf7f0cc3c31f8
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20260803T075838Z
    url: https://s3.fr-par.scw.cloud/cli-test-bucket-create-2302534092093097554?versioning=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <VersioningConfiguration><Status>Suspended</Status></VersioningConfiguration>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txg9234ca8495914caea17a-006a704a2e
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg559ee03dc50646dabca7-006a704a2f</RequestId><HostId>txg559ee03dc50646dabca7-006a704a2f</HostId><Resource>/cli-test-bucket-create-2302534092093097554</Resource><BucketName>cli-test-bucket-create-2302534092093097554</BucketName></Error>
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - 485c91af-41dd-4e49-aff9-025fdca3e5a3
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV/20260803/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;host;x-amz-content-sha256;x-amz-date,
        Signature=3293454d4d18857a4c61690eedca51c2f6d93205468e2443b305ebb0c198be82
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20260803T075838Z
    url: https://s3.fr-par.scw.cloud/cli-test-bucket-create-2302534092093097554?tagging=
    method: GET
  response:
    body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg559ee03dc50646dabca7-006a704a2f</RequestId><HostId>txg559ee03dc50646dabca7-006a704a2f</HostId><Resource>/cli-test-bucket-create-2302534092093097554</Resource><BucketName>cli-test-bucket-create-2302534092093097554</BucketName></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg559ee03dc50646dabca7-006a704a2f
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="Group"><URI>http://acs.amazonaws.com/groups/global/AuthenticatedUsers</URI></Grantee><Permission>READ</Permission></Grant></AccessControlList></AccessControlPolicy>
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - 588c48d5-08ee-4d98-a303-7dcc4dd16e32
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV/20260803/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;host;x-amz-c[...]
[...]
