---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - 9367b5f7-268e-4b44-9d20-f7de951ecf8a
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV/20260803/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;content-length;content-type;host;x-amz-acl;x-amz-bucket-object-lock-enabled;x-amz-content-sha256;x-amz-date,
        Signature=b58ba0701c61e381702692916535c223f414657d50ffb60eaf48a3e3d90e2945
      Content-Type:
      - application/xml
      X-Amz-Acl:
      - private
      X-Amz-Bucket-Object-Lock-Enabled:
      - "false"
      X-Amz-Content-Sha256:
      - 2cb57fad7b7168921a4c94426cfcb9ee2953f126430595df844e22d50f029060
      X-Amz-Date:
      - 20260803T075834Z
    url: https://s3.fr-par.scw.cloud/cli-test-bucket-create-5574285487361835351
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - /cli-test-bucket-create-5574285487361835351
      X-Amz-Request-Id:
      - txg7bf649cc167441f1b503-006a704a2a
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - 9428d7d4-340e-4aae-a735-9e2950739d1f
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV/20260803/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;content-length;content-type;host;x-amz-checksum-crc32;x-amz-content-sha256;x-amz-date,
        Signature=87c9e2e4d4180b34208ca99b78ac78359ba6cf7f13579d05927cf25108fc6211
      Content-Type:
      - application/xml
      X-Amz-Checksum-Crc32:
      - C8vlPQ==
      X-Amz-Content-Sha256:
      - 482d4e510b5cdcf0bbf3a044e82832dc711f4f28757a6c06eb21758282a73ef7
      X-Amz-Date:
      - 20260803T075834Z
    url: https://s3.fr-par.scw.cloud/cli-test-bucket-create-5574285487361835351?versioning=
    method: PUT
  response:
    body: ""
    headers:
      X-Amz-Request-Id:
      - txg3986525b4fbc42c4b8a5-006a704a2a
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <VersioningConfiguration><Status>Enabled</Status></VersioningConfiguration>
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - b7d1e9bd-5bad-4c55-ace2-d40089081c4e
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV/20260803/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;host;x-amz-content-sha256;x-amz-date,
        Signature=81ba9eefd157702aafb73466d92066e081a763c8d02236ea25f7fa624d8e47e4
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20260803T075834Z
    url: https://s3.fr-par.scw.cloud/cli-test-bucket-create-5574285487361835351?versioning=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <VersioningConfiguration><Status>Enabled</Status></VersioningConfiguration>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txg93b3e30e6c464fc49cab-006a704a2a
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg456e250130f0419d9686-006a704a2a</RequestId><HostId>txg456e250130f0419d9686-006a704a2a</HostId><Resource>/cli-test-bucket-create-5574285487361835351</Resource><BucketName>cli-test-bucket-create-5574285487361835351</BucketName></Error>
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - c20d75e5-36e5-4ebe-a4f2-4022f2dae28b
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV/20260803/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;host;x-amz-content-sha256;x-amz-date,
        Signature=6149630bdfd8592e80646c9169a6ff1c6707b6c852f24a277d7459f8eb3570ff
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20260803T075834Z
    url: https://s3.fr-par.scw.cloud/cli-test-bucket-create-5574285487361835351?tagging=
    method: GET
  response:
    body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg456e250130f0419d9686-006a704a2a</RequestId><HostId>txg456e250130f0419d9686-006a704a2a</HostId><Resource>/cli-test-bucket-create-5574285487361835351</Resource><BucketName>cli-test-bucket-create-5574285487361835351</BucketName></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg456e250130f0419d9686-006a704a2a
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - bb918804-646d-45f5-876c-1e48aae407c6
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV/20260803/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;host;x-amz-content-sha256;x-amz-date,
        Signature=b6df576edbd7c052ed62a0f4320d9d4e7[...]
[...]
