---
version: 1
interactions:
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>fr-par</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - 649806d7-fe3b-4af8-9aac-380973898e05
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV@4d333544-41be-4b0b-8907-0b9036859747/20260831/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;content-length;content-type;host;x-amz-acl;x-amz-bucket-object-lock-enabled;x-amz-content-sha256;x-amz-date,
        Signature=5c6ff9344381533d037e3d70967d2ed6c447fc853f7d5f61dac516bf67603453
      Content-Type:
      - application/xml
      X-Amz-Acl:
      - private
      X-Amz-Bucket-Object-Lock-Enabled:
      - "false"
      X-Amz-Content-Sha256:
      - 2cb57fad7b7168921a4c94426cfcb9ee2953f126430595df844e22d50f029060
      X-Amz-Date:
      - 20260831T112846Z
    url: https://s3.fr-par.scw.cloud/cli-test-bucket-create-2890460934447004373
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - /cli-test-bucket-create-2890460934447004373
      X-Amz-Request-Id:
      - txgec95740ec3174d0fac9a-006a95656e
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Status>Suspended</Status></VersioningConfiguration>
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - d3dae7b7-3ca9-4596-9392-3a896f48fef3
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV@4d333544-41be-4b0b-8907-0b9036859747/20260831/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;content-length;content-type;host;x-amz-checksum-crc32;x-amz-content-sha256;x-amz-date,
        Signature=4972de216121557568713c06bdfd97d0e7a0206911dbd36d86b7ff3be1768c92
      Content-Type:
      - application/xml
      X-Amz-Checksum-Crc32:
      - gZ/csg==
      X-Amz-Content-Sha256:
      - d7f1d7ed35d188f6a89d394cc2055f5910c14a3abccf41e808e7f7327d21e129
      X-Amz-Date:
      - 20260831T112847Z
    url: https://s3.fr-par.scw.cloud/cli-test-bucket-create-2890460934447004373?versioning=
    method: PUT
  response:
    body: ""
    headers:
      X-Amz-Request-Id:
      - txga3ace64839684774b759-006a956572
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - 11948016-c41b-4b7c-93f1-2367aa012267
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV@4d333544-41be-4b0b-8907-0b9036859747/20260831/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;host;x-amz-content-sha256;x-amz-date,
        Signature=43c1370fcbe7dfe846455e79051e34d89610fd193a73d02cd6bbee42324f212c
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20260831T112850Z
    url: https://s3.fr-par.scw.cloud/cli-test-bucket-create-2890460934447004373?tagging=
    method: GET
  response:
    body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txgdc096312aad2474eb28c-006a956572</RequestId><HostId>txgdc096312aad2474eb28c-006a956572</HostId><Resource>/cli-test-bucket-create-2890460934447004373</Resource><BucketName>cli-test-bucket-create-2890460934447004373</BucketName></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txgdc096312aad2474eb28c-006a956572
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - 6253d807-373f-47e2-b2c8-256ed813d425
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV@4d333544-41be-4b0b-8907-0b9036859747/20260831/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;host;x-amz-content-sha256;x-amz-date,
        Signature=22c8931296ea8a6c5c1ad799138722f18ca84beefed90bfdc178777e51d65bb3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20260831T112850Z
    url: https://s3.fr-par.scw.cloud/cli-test-bucket-create-2890460934447004373?acl=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txg7d393a294f8c4753a2ae-006a956572
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - 387fdd5f-964f-4467-9226-a7a6b13719d8
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV@4d333544-41be-4b0b-8907-0b9036859747/20260831/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;host;x-amz-content-sha256;x-amz-date,
        Signature=ea2c24efe8fc01e4d6a9c76c2800ce9df16cf4fcc64eb32e3812f72ac2c596f1
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20260831T112851Z
    url: https://cli-test-bucket-create-2890460934447004373.s3.fr-par.scw.cloud/
    method: DELETE
  response:
    body: ""
    headers:
      X-Amz-Request-Id:
      - txg52911740d95e41c1a6c3-006a956573
    status: 204 No Content
    code: 204
    duration: ""
