---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - 547df5ea-c415-486d-ac1b-35d0e80bf047
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV/20260803/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;content-length;content-type;host;x-amz-acl;x-amz-bucket-object-lock-enabled;x-amz-content-sha256;x-amz-date,
        Signature=2372b61f0c581d154b007bc51544148b9346cc8ada1d55a06f8c9e1a748a7bb4
      Content-Type:
      - application/xml
      X-Amz-Acl:
      - private
      X-Amz-Bucket-Object-Lock-Enabled:
      - "false"
      X-Amz-Content-Sha256:
      - 2cb57fad7b7168921a4c94426cfcb9ee2953f126430595df844e22d50f029060
      X-Amz-Date:
      - 20260803T075834Z
    url: https://s3.fr-par.scw.cloud/cli-test-bucket-create-7373809934098248175
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - /cli-test-bucket-create-7373809934098248175
      X-Amz-Request-Id:
      - txg8299df227e8b4c8daf97-006a704a2a
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - edf45da1-7247-4152-a8dd-580047e99a59
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV/20260803/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;content-length;content-type;host;x-amz-checksum-crc32;x-amz-content-sha256;x-amz-date,
        Signature=e95c674dc8480c42f038a28efdfea833a5793e4d427b38d9e367ced73058cc66
      Content-Type:
      - application/xml
      X-Amz-Checksum-Crc32:
      - gZ/csg==
      X-Amz-Content-Sha256:
      - d7f1d7ed35d188f6a89d394cc2055f5910c14a3abccf41e808e7f7327d21e129
      X-Amz-Date:
      - 20260803T075836Z
    url: https://s3.fr-par.scw.cloud/cli-test-bucket-create-7373809934098248175?versioning=
    method: PUT
  response:
    body: ""
    headers:
      X-Amz-Request-Id:
      - txg9461513a84a84a48b577-006a704a2e
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <VersioningConfiguration><Status>Suspended</Status></VersioningConfiguration>
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - 6ab7aa9b-d826-401a-9baf-e53465cbe4ff
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV/20260803/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;host;x-amz-content-sha256;x-amz-date,
        Signature=ced281cfdc6b355155c78a5128f032d718b0e593c952c84c25517e51dc4edde1
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20260803T075838Z
    url: https://s3.fr-par.scw.cloud/cli-test-bucket-create-7373809934098248175?versioning=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <VersioningConfiguration><Status>Suspended</Status></VersioningConfiguration>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txg49cf904e207b4f0f8b71-006a704a2e
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txgbcbff5cd623d4664b253-006a704a2f</RequestId><HostId>txgbcbff5cd623d4664b253-006a704a2f</HostId><Resource>/cli-test-bucket-create-7373809934098248175</Resource><BucketName>cli-test-bucket-create-7373809934098248175</BucketName></Error>
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - 583b51dd-7fe9-42df-8463-5fc4dd366d2e
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV/20260803/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;host;x-amz-content-sha256;x-amz-date,
        Signature=c17043280d4efa041bdc4e5c4b18e9708c94e85cd4113821101a82a91d8cc4c5
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20260803T075838Z
    url: https://s3.fr-par.scw.cloud/cli-test-bucket-create-7373809934098248175?tagging=
    method: GET
  response:
    body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txgbcbff5cd623d4664b253-006a704a2f</RequestId><HostId>txgbcbff5cd623d4664b253-006a704a2f</HostId><Resource>/cli-test-bucket-create-7373809934098248175</Resource><BucketName>cli-test-bucket-create-7373809934098248175</BucketName></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txgbcbff5cd623d4664b253-006a704a2f
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
    form: {}
    headers:
      Amz-Sdk-Invocation-Id:
      - 1b26fcde-4438-4271-9a7d-ee51848801b9
      Amz-Sdk-Request:
      - attempt=1; max=3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWPAXSFMY8TSNBBBDJV/20260803/fr-par/s3/aws4_request,
        SignedHeaders=accept-encoding;amz-sdk-invocation-id;amz-sdk-request;host;x-amz-content-sha256;x-amz-date,
        Signature=3c16c8c80f0ab45e6fd807ca351a37448[...]
[...]
