---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mongodb/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"version":"8.0", "end_of_life_at":"2029-10-31T00:00:00Z",
      "released_at":"2024-10-01T00:00:00Z"}, {"version":"7.0", "end_of_life_at":"2027-08-31T00:00:00Z",
      "released_at":"2024-10-09T00:00:00Z"}], "total_count":2}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "49"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"generated-password","version":"8.0","tags":null,"node_amount":1,"node_type":"mgdb-play2-nano","user_name":"admin","password":"yE71]S8ani?vJe=UR??XQ","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public_network":{}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"srn":"srn://mongodb.scw.eu/regions/fr-par/instances/141cac52-ea8a-4a31-8e1c-0be7093e6380",
      "id":"141cac52-ea8a-4a31-8e1c-0be7093e6380", "name":"generated-password", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "version":"8.0", "tags":[], "node_amount":1, "node_type":"mgdb-play2-nano",
      "volume":{"type":"sbs_5k", "size_bytes":5000000000}, "endpoints":[{"id":"50904be1-c9c5-456d-9400-085b92172bfc",
      "dns_record":"141cac52-ea8a-4a31-8e1c-0be7093e6380.mgdb.fr-par.scw.cloud", "port":27017,
      "public_network":{}}], "created_at":"2026-10-08T13:33:00.932774Z", "snapshot_schedule":{"frequency_hours":24,
      "retention_days":7, "enabled":false, "next_update":"2026-10-08T13:33:00.944164Z",
      "last_run":null}, "settings":[], "region":"fr-par", "maintenances":[], "upgradable_versions":[]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "49"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/metadata
    method: GET
  response:
    body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "49"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mongodb/v1/regions/fr-par/instances/141cac52-ea8a-4a31-8e1c-0be7093e6380
    method: GET
  response:
    body: '{"srn":"srn://mongodb.scw.eu/regions/fr-par/instances/141cac52-ea8a-4a31-8e1c-0be7093e6380",
      "id":"141cac52-ea8a-4a31-8e1c-0be7093e6380", "name":"generated-password", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "version":"8.0", "tags":[], "node_amount":1, "node_type":"mgdb-play2-nano",
      "volume":{"type":"sbs_5k", "size_bytes":5000000000}, "endpoints":[{"id":"50904be1-c9c5-456d-9400-085b92172bfc",
      "dns_record":"141cac52-ea8a-4a31-8e1c-0be7093e6380.mgdb.fr-par.scw.cloud", "port":27017,
      "public_network":{}}], "created_at":"2026-10-08T13:33:00.932774Z", "snapshot_schedule":{"frequency_hours":24,
      "retention_days":7, "enabled":false, "next_update":"2026-10-08T13:33:00.944164Z",
      "last_run":null}, "settings":[], "region":"fr-par", "maintenances":[], "upgradable_versions":[]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "48"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
