---
version: 1
interactions:
- request:
    body: '{"id":"5086630c-1a9c-4820-bd29-93aefca10d32", "name":"cli-inference-xenodochial-dubinsky",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "status":"creating", "tags":[],
      "node_type_name":"H100-2", "endpoints":[{"id":"e510f39d-24f4-4437-857e-74c83f73d608",
      "url":"https://5086630c-1a9c-4820-bd29-93aefca10d32.ifr.fr-par.scaleway.com",
      "public_network":{}, "disable_auth":false}], "size":0, "min_size":1, "max_size":1,
      "created_at":"2025-11-20T10:06:35.298762Z", "updated_at":null, "model_id":"739d51ae-4f1e-4193-a4bf-f7380c090d46",
      "quantization":{"bits":4}, "model_name":"qwen/qwen3-235b-a22b-instruct-2507:awq",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments
    method: POST
  response:
    body: '{"id":"5086630c-1a9c-4820-bd29-93aefca10d32", "name":"cli-inference-xenodochial-dubinsky",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "status":"creating", "tags":[],
      "node_type_name":"H100-2", "endpoints":[{"id":"e510f39d-24f4-4437-857e-74c83f73d608",
      "url":"https://5086630c-1a9c-4820-bd29-93aefca10d32.ifr.fr-par.scaleway.com",
      "public_network":{}, "disable_auth":false}], "size":0, "min_size":1, "max_size":1,
      "created_at":"2025-11-20T10:06:35.298762Z", "updated_at":null, "model_id":"739d51ae-4f1e-4193-a4bf-f7380c090d46",
      "quantization":{"bits":4}, "model_name":"qwen/qwen3-235b-a22b-instruct-2507:awq",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"5086630c-1a9c-4820-bd29-93aefca10d32", "name":"cli-inference-xenodochial-dubinsky",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "status":"deploying", "tags":[],
      "node_type_name":"H100-2", "endpoints":[{"id":"e510f39d-24f4-4437-857e-74c83f73d608",
      "url":"https://5086630c-1a9c-4820-bd29-93aefca10d32.ifr.fr-par.scaleway.com",
      "public_network":{}, "disable_auth":false}], "size":0, "min_size":1, "max_size":1,
      "error_message":"", "created_at":"2025-11-20T10:06:35.298762Z", "updated_at":"2025-11-20T10:08:29.676666Z",
      "model_id":"739d51ae-4f1e-4193-a4bf-f7380c090d46", "quantization":{"bits":4},
      "model_name":"qwen/qwen3-235b-a22b-instruct-2507:awq", "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/5086630c-1a9c-4820-bd29-93aefca10d32
    method: GET
  response:
    body: '{"id":"5086630c-1a9c-4820-bd29-93aefca10d32", "name":"cli-inference-xenodochial-dubinsky",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "status":"deploying", "tags":[],
      "node_type_name":"H100-2", "endpoints":[{"id":"e510f39d-24f4-4437-857e-74c83f73d608",
      "url":"https://5086630c-1a9c-4820-bd29-93aefca10d32.ifr.fr-par.scaleway.com",
      "public_network":{}, "disable_auth":false}], "size":0, "min_size":1, "max_size":1,
      "error_message":"", "created_at":"2025-11-20T10:06:35.298762Z", "updated_at":"2025-11-20T10:08:29.676666Z",
      "model_id":"739d51ae-4f1e-4193-a4bf-f7380c090d46", "quantization":{"bits":4},
      "model_name":"qwen/qwen3-235b-a22b-instruct-2507:awq", "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"access_key":"SCWHR0TR7ZTXD5GYMBMS", "secret_key":null, "description":"Generated
      by the Scaleway CLI", "created_at":"2025-07-22T09:34:00.009103Z", "updated_at":"2025-07-22T09:34:00.009103Z",
      "expires_at":null, "default_project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9",
      "user_id":"c6d30243-8c79-4999-867f-e901e6f498e7"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWHR0TR7ZTXD5GYMBMS
    method: GET
  response:
    body: '{"access_key":"SCWHR0TR7ZTXD5GYMBMS", "secret_key":null, "description":"Generated
      by the Scaleway CLI", "created_at":"2025-07-22T09:34:00.009103Z", "updated_at":"2025-07-22T09:34:00.009103Z",
      "expires_at":null, "default_project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9",
      "user_id":"c6d30243-8c79-4999-867f-e901e6f498e7"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
