---
version: 1
interactions:
- request:
    body: '{"details":[{"argument_name":"endpoints","help_message":"Deployments must
      have at least one endpoint","reason":"required"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments
    method: POST
  response:
    body: '{"details":[{"argument_name":"endpoints","help_message":"Deployments must
      have at least one endpoint","reason":"required"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
