---
version: 1
interactions:
- request:
    body: '{"id":"a14dfc0b-4e9b-4651-b361-ee3228bb3d47", "name":"cli-inference-fervent-raman",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "status":"creating", "tags":[],
      "node_type_name":"H100-2", "endpoints":[{"id":"53d7bd6b-2753-4bd0-8795-81f46b34de4d",
      "url":"https://a14dfc0b-4e9b-4651-b361-ee3228bb3d47.ifr.fr-par.scaleway.com",
      "public_network":{}, "disable_auth":false}], "size":0, "min_size":1, "max_size":1,
      "created_at":"2025-11-20T10:03:28.480168Z", "updated_at":null, "model_id":"739d51ae-4f1e-4193-a4bf-f7380c090d46",
      "quantization":{"bits":4}, "model_name":"qwen/qwen3-235b-a22b-instruct-2507:awq",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments
    method: POST
  response:
    body: '{"id":"a14dfc0b-4e9b-4651-b361-ee3228bb3d47", "name":"cli-inference-fervent-raman",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "status":"creating", "tags":[],
      "node_type_name":"H100-2", "endpoints":[{"id":"53d7bd6b-2753-4bd0-8795-81f46b34de4d",
      "url":"https://a14dfc0b-4e9b-4651-b361-ee3228bb3d47.ifr.fr-par.scaleway.com",
      "public_network":{}, "disable_auth":false}], "size":0, "min_size":1, "max_size":1,
      "created_at":"2025-11-20T10:03:28.480168Z", "updated_at":null, "model_id":"739d51ae-4f1e-4193-a4bf-f7380c090d46",
      "quantization":{"bits":4}, "model_name":"qwen/qwen3-235b-a22b-instruct-2507:awq",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
