---
version: 1
interactions:
- request:
    body: '{"id":"6bddbd90-e2b5-45ec-9985-410f2a399756", "name":"cli-pn-stupefied-noether",
      "tags":[], "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "created_at":"2025-11-20T15:48:31.274643Z",
      "updated_at":"2025-11-20T15:48:31.274643Z", "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "subnets":[{"id":"d812863b-4cec-4993-9daf-fe0b09fc490d", "created_at":"2025-11-20T15:48:31.274643Z",
      "updated_at":"2025-11-20T15:48:31.274643Z", "subnet":"172.16.168.0/22", "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "private_network_id":"6bddbd90-e2b5-45ec-9985-410f2a399756", "vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"},
      {"id":"19fd34d9-0eb1-4d48-ad51-07aefabdff54", "created_at":"2025-11-20T15:48:31.274643Z",
      "updated_at":"2025-11-20T15:48:31.274643Z", "subnet":"fd64:badd:7710:d434::/64",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "private_network_id":"6bddbd90-e2b5-45ec-9985-410f2a399756",
      "vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}], "vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"6bddbd90-e2b5-45ec-9985-410f2a399756", "name":"cli-pn-stupefied-noether",
      "tags":[], "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "created_at":"2025-11-20T15:48:31.274643Z",
      "updated_at":"2025-11-20T15:48:31.274643Z", "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "subnets":[{"id":"d812863b-4cec-4993-9daf-fe0b09fc490d", "created_at":"2025-11-20T15:48:31.274643Z",
      "updated_at":"2025-11-20T15:48:31.274643Z", "subnet":"172.16.168.0/22", "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "private_network_id":"6bddbd90-e2b5-45ec-9985-410f2a399756", "vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"},
      {"id":"19fd34d9-0eb1-4d48-ad51-07aefabdff54", "created_at":"2025-11-20T15:48:31.274643Z",
      "updated_at":"2025-11-20T15:48:31.274643Z", "subnet":"fd64:badd:7710:d434::/64",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "private_network_id":"6bddbd90-e2b5-45ec-9985-410f2a399756",
      "vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1"}], "vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"731c3313-1cd0-4755-bcd4-4eeeaeaf3f11", "name":"cli-inference-focused-moore",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "status":"creating", "tags":[],
      "node_type_name":"H100-SXM-2", "endpoints":[{"id":"e7af3dac-e83e-4a82-8c5c-542c270fa834",
      "url":"https://731c3313-1cd0-4755-bcd4-4eeeaeaf3f11.6bddbd90-e2b5-45ec-9985-410f2a399756.internal",
      "private_network":{"private_network_id":"6bddbd90-e2b5-45ec-9985-410f2a399756"},
      "disable_auth":false}], "size":0, "min_size":1, "max_size":1, "created_at":"2025-11-20T15:48:31.944608Z",
      "updated_at":null, "model_id":"739d51ae-4f1e-4193-a4bf-f7380c090d46", "quantization":{"bits":4},
      "model_name":"qwen/qwen3-235b-a22b-instruct-2507:awq", "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments
    method: POST
  response:
    body: '{"id":"731c3313-1cd0-4755-bcd4-4eeeaeaf3f11", "name":"cli-inference-focused-moore",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "status":"creating", "tags":[],
      "node_type_name":"H100-SXM-2", "endpoints":[{"id":"e7af3dac-e83e-4a82-8c5c-542c270fa834",
      "url":"https://731c3313-1cd0-4755-bcd4-4eeeaeaf3f11.6bddbd90-e2b5-45ec-9985-410f2a399756.internal",
      "private_network":{"private_network_id":"6bddbd90-e2b5-45ec-9985-410f2a399756"},
      "disable_auth":false}], "size":0, "min_size":1, "max_size":1, "created_at":"2025-11-20T15:48:31.944608Z",
      "updated_at":null, "model_id":"739d51ae-4f1e-4193-a4bf-f7380c090d46", "quantization":{"bits":4},
      "model_name":"qwen/qwen3-235b-a22b-instruct-2507:awq", "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"731c3313-1cd0-4755-bcd4-4eeeaeaf3f11", "name":"cli-inference-focused-moore",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "status":"deploying", "tags":[],
      "node_type_name":"H100-SXM-2", "endpoints":[{"id":"e7af3dac-e83e-4a82-8c5c-542c270fa834",
      "url":"https://731c3313-1cd0-4755-bcd4-4eeeaeaf3f11.6bddbd90-e2b5-45ec-9985-410f2a399756.internal",
      "private_network":{"private_network_id":"6bddbd90-e2b5-45ec-9985-410f2a399756"},
      "disable_auth":false}], "size":0, "min_size":1, "max_size":1, "error_message":"",
      "created_at":"2025-11-20T15:48:31.944608Z", "updated_at":"2025-11-20T15:50:09.426387Z",
      "model_id":"739d51ae-4f1e-4193-a4bf-f7380c090d46", "quantization":{"bits":4},
      "model_name":"qwen/qwen3-235b-a22b-instruct-2507:awq", "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/731c3313-1cd0-4755-bcd4-4eeeaeaf3f11
    method: GET
  response:
    body: '{"id":"731c3313-1cd0-4755-bcd4-4eeeaeaf3f11", "name":"cli-inference-focused-moore",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "status":"deploying", "tags":[],
      "node_type_name":"H100-SXM-2", "endpoints":[{"id":"e7af3dac-e83e-4a82-8c5c-542c270fa834",
      "url":"https://731c3313-1cd0-4755-bcd4-4eeeaeaf3f11.6bddbd90-e2b5-45ec-9985-410f2a399756.internal",
      "private_network":{"private_network_id":"6bddbd90-e2b5-45ec-9985-410f2a399756"},
      "disable_auth":false}], "size":0, "min_size":1, "max_size":1, "error_message":"",
      "created_at":"2025-11-20T15:48:31.944608Z", "updated_at":"2025-11-20T15:50:09.426387Z",
      "model_id":"739d51ae-4f1e-4193-a4bf-f7380c090d46", "quantization":{"bits":4},
      "model_name":"qwen/qwen3-235b-a22b-instruct-2507:awq", "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"deployment","resource_id":"731c3313-1cd0-4755-bcd4-4eeeaeaf3f11","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/731c3313-1cd0-4755-bcd4-4eeeaeaf3f11
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"deployment","resource_id":"731c3313-1cd0-4755-bcd4-4eeeaeaf3f11","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/6bddbd90-e2b5-45ec-9985-410f2a399756
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
