---
version: 1
interactions:
- request:
    body: '{"id":"f999c364-b523-4fb7-b56d-7a1290a7716f", "name":"cli-inference-funny-aryabhata",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "status":"creating", "tags":[],
      "node_type_name":"H100-2", "endpoints":[{"id":"f166a192-ad92-4ed1-8578-7ba6555468c0",
      "url":"https://f999c364-b523-4fb7-b56d-7a1290a7716f.ifr.fr-par.scaleway.com",
      "public_network":{}, "disable_auth":false}], "size":0, "min_size":1, "max_size":1,
      "created_at":"2025-11-20T16:54:47.637718Z", "updated_at":null, "model_id":"739d51ae-4f1e-4193-a4bf-f7380c090d46",
      "quantization":{"bits":4}, "model_name":"qwen/qwen3-235b-a22b-instruct-2507:awq",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments
    method: POST
  response:
    body: '{"id":"f999c364-b523-4fb7-b56d-7a1290a7716f", "name":"cli-inference-funny-aryabhata",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "status":"creating", "tags":[],
      "node_type_name":"H100-2", "endpoints":[{"id":"f166a192-ad92-4ed1-8578-7ba6555468c0",
      "url":"https://f999c364-b523-4fb7-b56d-7a1290a7716f.ifr.fr-par.scaleway.com",
      "public_network":{}, "disable_auth":false}], "size":0, "min_size":1, "max_size":1,
      "created_at":"2025-11-20T16:54:47.637718Z", "updated_at":null, "model_id":"739d51ae-4f1e-4193-a4bf-f7380c090d46",
      "quantization":{"bits":4}, "model_name":"qwen/qwen3-235b-a22b-instruct-2507:awq",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"f999c364-b523-4fb7-b56d-7a1290a7716f", "name":"cli-inference-funny-aryabhata",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "status":"deploying", "tags":[],
      "node_type_name":"H100-2", "endpoints":[{"id":"f166a192-ad92-4ed1-8578-7ba6555468c0",
      "url":"https://f999c364-b523-4fb7-b56d-7a1290a7716f.ifr.fr-par.scaleway.com",
      "public_network":{}, "disable_auth":false}], "size":0, "min_size":1, "max_size":1,
      "error_message":"", "created_at":"2025-11-20T16:54:47.637718Z", "updated_at":"2025-11-20T16:57:06.145911Z",
      "model_id":"739d51ae-4f1e-4193-a4bf-f7380c090d46", "quantization":{"bits":4},
      "model_name":"qwen/qwen3-235b-a22b-instruct-2507:awq", "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/f999c364-b523-4fb7-b56d-7a1290a7716f
    method: GET
  response:
    body: '{"id":"f999c364-b523-4fb7-b56d-7a1290a7716f", "name":"cli-inference-funny-aryabhata",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "status":"deploying", "tags":[],
      "node_type_name":"H100-2", "endpoints":[{"id":"f166a192-ad92-4ed1-8578-7ba6555468c0",
      "url":"https://f999c364-b523-4fb7-b56d-7a1290a7716f.ifr.fr-par.scaleway.com",
      "public_network":{}, "disable_auth":false}], "size":0, "min_size":1, "max_size":1,
      "error_message":"", "created_at":"2025-11-20T16:54:47.637718Z", "updated_at":"2025-11-20T16:57:06.145911Z",
      "model_id":"739d51ae-4f1e-4193-a4bf-f7380c090d46", "quantization":{"bits":4},
      "model_name":"qwen/qwen3-235b-a22b-instruct-2507:awq", "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"deployment","resource_id":"f999c364-b523-4fb7-b56d-7a1290a7716f","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/f999c364-b523-4fb7-b56d-7a1290a7716f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"deployment","resource_id":"f999c364-b523-4fb7-b56d-7a1290a7716f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
