---
version: 1
interactions:
- request:
    body: '{"id":"85d5ddd1-c199-4373-8258-28d81e6a8ab0", "name":"cli-inference-festive-mendel",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "status":"creating", "tags":[],
      "node_type_name":"H100-2", "endpoints":[{"id":"afe74bcb-384e-4db0-9292-838ea75d3d59",
      "url":"https://85d5ddd1-c199-4373-8258-28d81e6a8ab0.ifr.fr-par.scaleway.com",
      "public_network":{}, "disable_auth":false}], "size":0, "min_size":1, "max_size":1,
      "created_at":"2025-11-20T09:37:45.355295Z", "updated_at":null, "model_id":"739d51ae-4f1e-4193-a4bf-f7380c090d46",
      "quantization":{"bits":4}, "model_name":"qwen/qwen3-235b-a22b-instruct-2507:awq",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments
    method: POST
  response:
    body: '{"id":"85d5ddd1-c199-4373-8258-28d81e6a8ab0", "name":"cli-inference-festive-mendel",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "status":"creating", "tags":[],
      "node_type_name":"H100-2", "endpoints":[{"id":"afe74bcb-384e-4db0-9292-838ea75d3d59",
      "url":"https://85d5ddd1-c199-4373-8258-28d81e6a8ab0.ifr.fr-par.scaleway.com",
      "public_network":{}, "disable_auth":false}], "size":0, "min_size":1, "max_size":1,
      "created_at":"2025-11-20T09:37:45.355295Z", "updated_at":null, "model_id":"739d51ae-4f1e-4193-a4bf-f7380c090d46",
      "quantization":{"bits":4}, "model_name":"qwen/qwen3-235b-a22b-instruct-2507:awq",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"85d5ddd1-c199-4373-8258-28d81e6a8ab0", "name":"cli-inference-festive-mendel",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "status":"deploying", "tags":[],
      "node_type_name":"H100-2", "endpoints":[{"id":"afe74bcb-384e-4db0-9292-838ea75d3d59",
      "url":"https://85d5ddd1-c199-4373-8258-28d81e6a8ab0.ifr.fr-par.scaleway.com",
      "public_network":{}, "disable_auth":false}], "size":0, "min_size":1, "max_size":1,
      "error_message":"", "created_at":"2025-11-20T09:37:45.355295Z", "updated_at":"2025-11-20T09:40:00.974723Z",
      "model_id":"739d51ae-4f1e-4193-a4bf-f7380c090d46", "quantization":{"bits":4},
      "model_name":"qwen/qwen3-235b-a22b-instruct-2507:awq", "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/inference/v1/regions/fr-par/deployments/85d5ddd1-c199-4373-8258-28d81e6a8ab0
    method: GET
  response:
    body: '{"id":"85d5ddd1-c199-4373-8258-28d81e6a8ab0", "name":"cli-inference-festive-mendel",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "status":"deploying", "tags":[],
      "node_type_name":"H100-2", "endpoints":[{"id":"afe74bcb-384e-4db0-9292-838ea75d3d59",
      "url":"https://85d5ddd1-c199-4373-8258-28d81e6a8ab0.ifr.fr-par.scaleway.com",
      "public_network":{}, "disable_auth":false}], "size":0, "min_size":1, "max_size":1,
      "error_message":"", "created_at":"2025-11-20T09:37:45.355295Z", "updated_at":"2025-11-20T09:40:00.974723Z",
      "model_id":"739d51ae-4f1e-4193-a4bf-f7380c090d46", "quantization":{"bits":4},
      "model_name":"qwen/qwen3-235b-a22b-instruct-2507:awq", "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
