{{- /*
gottype: github.com/scaleway/scaleway-cli/v2/internal/docgen.tplNamespace
*/ -}}

{{- define "namespace" -}}
{{ template "do_not_edit" }}
# Documentation for {{ bq }}scw {{ .Cmd.Namespace }}{{ bq }}
{{- $hasResources := .Resources | len -}}
{{- if $hasResources }}

{{ trim (normalize_newlines (remove_escape_sequence (.Cmd.Long | default .Cmd.Short))) }}

{{ range $resourceName, $resource := .Resources -}}
- [{{ $resource.Cmd.Short }}](#{{ anchor $resource.Cmd.Short }})
{{- range $verbName, $cmd := $resource.Verbs }}
  - [{{ $cmd.Short }}](#{{ anchor $cmd.Short }})
{{- end }}
{{ end }}
{{ range $resourceName, $resource := .Resources -}}

## {{ $resource.Cmd.Short }}
{{- if $resource.Verbs | len -}}
{{- if $resource.Cmd.Long }}

{{ trim (normalize_newlines $resource.Cmd.Long) }}
{{- end }}

{{ range $verbName, $cmd := $resource.Verbs }}
### {{ $cmd.Short }}
{{ template "cmd" (map "Cmd" $cmd "Data" $) }}
{{ end -}}
{{- else -}}

{{ template "cmd" (map "Cmd" $resource.Cmd "Data" $) }}
{{ end }}
{{ end }}
{{- else }}

{{ trim (normalize_newlines (.Cmd.Long | default .Cmd.Short)) }}
{{- end }}
{{- end -}}

{{- define "cmd" -}}
{{- $text := trim (normalize_newlines (.Cmd.Long | default .Cmd.Short)) }}
{{ $text }}

**Usage:**

```shell
{{ .Cmd.GetUsage "scw" .Data.Commands }}
```
{{- if .Cmd.ArgSpecs }}

**Args:**

| Name |   | Description |
|------|---|-------------|
{{ range $arg := .Cmd.ArgSpecs -}}
| {{ arg_spec_name $arg }} | {{ arg_spec_flag $arg }} | {{ $arg.Short }} |
{{ end -}}
{{- end -}}
{{- if .Cmd.Examples }}

**Examples:**

{{ range $example := .Cmd.Examples }}
{{ $example.Short }}

```shell
{{ $example.GetCommandLine "scw" $.Cmd }}
```
{{ end }}
{{- end -}}
{{- end -}}

{{- define "cmdNoLong" -}}
**Usage:**

```shell
{{ .Cmd.GetUsage "scw" .Data.Commands }}
```
{{- if .Cmd.ArgSpecs }}

**Args:**

| Name |   | Description |
|------|---|-------------|
{{ range $arg := .Cmd.ArgSpecs -}}
| {{ arg_spec_name $arg }} | {{ arg_spec_flag $arg }} | {{ $arg.Short }} |
{{ end -}}
{{- end -}}
{{- if .Cmd.Examples }}

**Examples:**

{{ range $example := .Cmd.Examples }}
{{ $example.Short }}

```shell
{{ $example.GetCommandLine "scw" $.Cmd }}
```
{{ end }}
{{- end -}}
{{- end -}}

{{- define "do_not_edit" -}}
<!-- DO NOT EDIT: this file is automatically generated using scw-doc-gen -->
{{- end -}}
