---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1
    method: GET
  response:
    body: '{"total_count":7,"offers":[{"id":"3ab0dc29-2fd4-486e-88bf-d08fbf49214b","name":"HC-BM1-L","stock":"available","bandwidth":1048576000,"commercial_range":"high_cpu","disks":[{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"}],"enable":true,"cpus":[{"name":"Intel
      Xeon Gold 5120","core_count":14,"thread_count":28,"frequency":2200},{"name":"Intel
      Xeon Gold 5120","core_count":14,"thread_count":28,"frequency":2200}],"memories":[{"capacity":412316860416,"type":"DDR4","frequency":2133,"is_ecc":true}],"quota_name":"bmaas_high","price_per_hour":{"currency_code":"EUR","units":1,"nanos":499900000},"price_per_month":{"currency_code":"EUR","units":749,"nanos":990000000}},{"id":"5363865f-2266-40f9-a43f-4f3aba251524","name":"HM-BM1-XL","stock":"empty","bandwidth":1048576000,"commercial_range":"high_memory","disks":[{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1099511627776,"type":"NVMe"},{"capacity":1[...]
- request:
    body: '{"offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-optimistic-lichterman","description":"","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"id":"a3110924-825a-4713-86b7-c7e4c444bcbf","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-optimistic-lichterman","description":"","updated_at":"2020-06-01T09:19:06.766381611Z","created_at":"2020-06-01T09:19:06.766381611Z","status":"delivering","offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"boot_type":"normal"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/a3110924-825a-4713-86b7-c7e4c444bcbf/reboot
    method: POST
  response:
    body: '{"message":"Server is not delivered"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/a3110924-825a-4713-86b7-c7e4c444bcbf
    method: GET
  response:
    body: '{"id":"a3110924-825a-4713-86b7-c7e4c444bcbf","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-optimistic-lichterman","description":"","updated_at":"2020-06-01T09:19:06.766382Z","created_at":"2020-06-01T09:19:06.766382Z","status":"delivering","offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/a3110924-825a-4713-86b7-c7e4c444bcbf
    method: GET
  response:
    body: '{"id":"a3110924-825a-4713-86b7-c7e4c444bcbf","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-bm-optimistic-lichterman","description":"","updated_at":"2020-06-01T09:20:29.013562Z","created_at":"2020-06-01T09:19:06.766382Z","status":"ready","offer_id":"7fde3890-9787-488c-ac89-c4e00a4e5f83","install":null,"tags":[],"ips":[{"id":"b19e5c97-2c0d-4a89-9597-d4bd341d11b9","address":"51.159.31.14","reverse":"a3110924-825a-4713-86b7-c7e4c444bcbf.fr-par-2.baremetal.scw.cloud","version":"IPv4","reverse_status":"pending","reverse_status_message":""},{"id":"c74e9d0d-bc36-481f-833b-6a864a993365","address":"2001:0bc8:6005:001b:dac4:97ff:fe2a:30a0","reverse":"a3110924-825a-4713-86b7-c7e4c444bcbf.fr-par-2.baremetal.scw.cloud","version":"IPv6","reverse_status":"pending","reverse_status_message":""}],"domain":"a3110924-825a-4713-86b7-c7e4c444bcbf.fr-par-2.baremetal.scw.cloud","boot_type":"normal","ping_status":"ping_status_unknown","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
