---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-hub-determined-matsumoto","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","product_plan":"plan_shared"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
        method: POST
      response:
        body: '{"region":"fr-par","id":"abf3f293-9716-487c-8a7b-76b3cb682b20","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-hub-determined-matsumoto","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2026-09-24T09:31:46.395Z","updated_at":"2026-09-24T09:31:46.395Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 918.810168ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/abf3f293-9716-487c-8a7b-76b3cb682b20
        method: GET
      response:
        body: '{"region":"fr-par","id":"abf3f293-9716-487c-8a7b-76b3cb682b20","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-hub-determined-matsumoto","status":"ready","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2026-09-24T09:31:46.395Z","updated_at":"2026-09-24T09:31:46.395Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 47.767336ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"foo","hub_id":"abf3f293-9716-487c-8a7b-76b3cb682b20","allow_insecure":false,"allow_multiple_connections":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/devices
        method: POST
      response:
        body: '{"device":{"id":"8f09872d-ebb8-487b-9a1b-1583f320f325","name":"foo","status":"enabled","hub_id":"abf3f293-9716-487c-8a7b-76b3cb682b20","created_at":"2026-09-24T09:31:47.412Z","updated_at":"2026-09-24T09:31:47.412Z","allow_insecure":false,"last_activity_at":"1970-01-01T00:00:00Z","is_connected":false,"message_filters":{"publish":{"policy":"reject","topics":[]},"subscribe":{"policy":"reject","topics":[]}},"allow_multiple_connections":false,"description":"","has_custom_certificate":false,"region":"fr-par"},"certificate":{"crt":"-----BEGIN CERTIFICATE-----\nMIIETzCCAzegAwIBAgIRAJUMAxmsrsQGYyz+8k50ZucwDQYJKoZIhvcNAQELBQAw\ngc4xCzAJBgNVBAYTAkZSMQ8wDQYDVQQIEwZGcmFuY2UxDjAMBgNVBAcTBVBhcmlz\nMRIwEAYDVQQJEwlMYSBNYWlzb24xCTAHBgNVBBETADEYMBYGA1UEChMPU2NhbGV3\nYXkvT25saW5lMRAwDgYDVQQLEwdMYWIvSW9UMSEwHwYDVQQDExhTY2FsZXdheSBJ\nb1QgQ2VydGlmaWNhdGUxMDAuBgNVBAUTJzE3OTIwNjEzMjEwMjY1ODg0NTI3MTkz\nNDk0NDU1NTI5MjQ5OTQyNTAeFw0yNjA5MjMwOTMxNDdaFw0zNjA5MjMwOTMxNDda\nMIGeMQswCQYDVQQGEwJGUjEMMAoGA1UECBMDSURGMQ4wDAYDVQQHEwVQYXJpczEx\nMC8GA1UE[...]
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/devices/8f09872d-ebb8-487b-9a1b-1583f320f325
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 212.718509ms
[...]
