---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"region":"fr-par", "id":"7ce16c5e-015d-48af-8ed2-4de0e2e84ef6", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-hub-busy-mclaren", "status":"enabling", "product_plan":"plan_shared", "endpoint":"iot.fr-par.scw.cloud", "created_at":"2025-07-22T15:54:39.106Z", "updated_at":"2025-07-22T15:54:39.106Z", "enabled":true, "device_count":0, "connected_device_count":0, "disable_events":false, "events_topic_prefix":"$SCW/events", "enable_device_auto_provisioning":false, "has_custom_ca":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
        method: POST
      response:
        body: '{"region":"fr-par", "id":"7ce16c5e-015d-48af-8ed2-4de0e2e84ef6", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-hub-busy-mclaren", "status":"enabling", "product_plan":"plan_shared", "endpoint":"iot.fr-par.scw.cloud", "created_at":"2025-07-22T15:54:39.106Z", "updated_at":"2025-07-22T15:54:39.106Z", "enabled":true, "device_count":0, "connected_device_count":0, "disable_events":false, "events_topic_prefix":"$SCW/events", "enable_device_auto_provisioning":false, "has_custom_ca":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 306.235262ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"region":"fr-par", "id":"7ce16c5e-015d-48af-8ed2-4de0e2e84ef6", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-hub-busy-mclaren", "status":"enabling", "product_plan":"plan_shared", "endpoint":"iot.fr-par.scw.cloud", "created_at":"2025-07-22T15:54:39.106Z", "updated_at":"2025-07-22T15:54:39.106Z", "enabled":true, "device_count":0, "connected_device_[...]
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"network":{"id":"e7a1fd06-1511-4195-8dc8-c5394b30ab99", "name":"cli-network-boring-lamport", "endpoint":"sigfox.iot.fr-par.scw.cloud", "type":"sigfox", "hub_id":"7ce16c5e-015d-48af-8ed2-4de0e2e84ef6", "created_at":"2025-07-22T15:54:44.526Z", "topic_prefix":"foo"}, "secret":"eyJOZXRJRCI6ImU3YTFmZDA2LTE1MTEtNDE5NS04ZGM4LWM1Mzk0YjMwYWI5OSIsIk5ldEtleSI6IjkwMmIzZGIzLWZjNGItNGIxOS04ZTk3LTVkYWY3NGJkMjMxZCJ9"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/networks
        method: POST
      response:
        body: '{"network":{"id":"e7a1fd06-1511-4195-8dc8-c5394b30ab99", "name":"cli-network-boring-lamport", "endpoint":"sigfox.iot.fr-par.scw.cloud", "type":"sigfox", "hub_id":"7ce16c5e-015d-48af-8ed2-4de0e2e84ef6", "created_at":"2025-07-22T15:54:44.526Z", "topic_prefix":"foo"}, "secret":"eyJOZXRJRCI6ImU3YTFmZDA2LTE1MTEtNDE5NS04ZGM4LWM1Mzk0YjMwYWI5OSIsIk5ldEtleSI6IjkwMmIzZGIzLWZjNGItNGIxOS04ZTk3LTVkYWY3NGJkMjMxZCJ9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.908819ms
[...]
