---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-hub-confident-banach","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","product_plan":"plan_shared"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
        method: POST
      response:
        body: '{"region":"fr-par","id":"1fc23b5c-f87b-4174-a329-399eb652bd39","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-hub-confident-banach","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2026-09-24T09:31:48.553Z","updated_at":"2026-09-24T09:31:48.553Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 769.587639ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/1fc23b5c-f87b-4174-a329-399eb652bd39
        method: GET
      response:
        body: '{"region":"fr-par","id":"1fc23b5c-f87b-4174-a329-399eb652bd39","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-hub-confident-banach","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2026-09-24T09:31:48.553Z","updated_at":"2026-09-24T09:31:48.553Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 128.394736ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"cli-network-frosty-proskuriakova","type":"sigfox","hub_id":"1fc23b5c-f87b-4174-a329-399eb652bd39","topic_prefix":"foo"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/networks
        method: POST
      response:
        body: '{"network":{"id":"9b5c9dfc-37f0-4b15-a01c-a1aeace2e615","name":"cli-network-frosty-proskuriakova","endpoint":"sigfox.iot.fr-par.scw.cloud","type":"sigfox","hub_id":"1fc23b5c-f87b-4174-a329-399eb652bd39","created_at":"2026-09-24T09:32:04.514Z","topic_prefix":"foo","region":"fr-par"},"secret":"eyJOZXRJRCI6IjliNWM5ZGZjLTM3ZjAtNGIxNS1hMDFjLWExYWVhY2UyZTYxNSIsIk5ldEtleSI6ImZlZjUwOWQ5LWUwMjMtNGIzNC1iZGU2LTczYTJkZjAzZDM5ZCJ9"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 74.869302ms
[...]
