---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-hub-happy-swanson","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","product_plan":"plan_shared"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
        method: POST
      response:
        body: '{"region":"fr-par", "id":"dfe46261-6b30-4193-95df-f7bfa1904ef4", "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "name":"cli-hub-happy-swanson", "status":"enabling", "product_plan":"plan_shared", "endpoint":"iot.fr-par.scw.cloud", "created_at":"2026-10-07T15:21:17.542Z", "updated_at":"2026-10-07T15:21:17.542Z", "enabled":true, "device_count":0, "connected_device_count":0, "disable_events":false, "events_topic_prefix":"$SCW/events", "enable_device_auto_provisioning":false, "has_custom_ca":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 922.814587ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/dfe46261-6b30-4193-95df-f7bfa1904ef4
        method: GET
      response:
        body: '{"region":"fr-par", "id":"dfe46261-6b30-4193-95df-f7bfa1904ef4", "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "name":"cli-hub-happy-swanson", "status":"enabling", "product_plan":"plan_shared", "endpoint":"iot.fr-par.scw.cloud", "created_at":"2026-10-07T15:21:17.542Z", "updated_at":"2026-10-07T15:21:17.542Z", "enabled":true, "device_count":0, "connected_device_count":0, "disable_events":false, "events_topic_prefix":"$SCW/events", "enable_device_auto_provisioning":false, "has_custom_ca":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 83.183538ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"cli-network-gifted-edison","type":"sigfox","hub_id":"dfe46261-6b30-4193-95df-f7bfa1904ef4","topic_prefix":"foo"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/networks
        method: POST
      response:
        body: '{"network":{"id":"e372451f-9d8d-4f80-94a5-5fa78cfa697d", "name":"cli-network-gifted-edison", "endpoint":"sigfox.iot.fr-par.scw.cloud", "type":"sigfox", "hub_id":"dfe46261-6b30-4193-95df-f7bfa1904ef4", "created_at":"2026-10-07T15:21:33.628Z", "topic_prefix":"foo", "region":"fr-par"}, "secret":"eyJOZXRJRCI6ImUzNzI0NTFmLTlkOGQtNGY4MC05NGE1LTVmYTc4Y2ZhNjk3ZCIsIk5ldEtleSI6IjgyMzRjZjZiLWUzNmYtNDRmYS1hNjFjLTA1ZmE5OWRiYjY2MCJ9"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 92.764746ms
[...]
