---
version: 2
interactions:
- request:
    body: '{"name":"cli-hub-jovial-bardeen","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","product_plan":"plan_shared","disable_events":null,"events_topic_prefix":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: '{"region":"fr-par","id":"e50c1da4-3ade-4c67-9321-ce39d4bbe1ca","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"cli-hub-jovial-bardeen","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-11-14T11:22:39.323Z","updated_at":"2022-11-14T11:22:39.323Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/e50c1da4-3ade-4c67-9321-ce39d4bbe1ca
    method: GET
  response:
    body: '{"region":"fr-par","id":"e50c1da4-3ade-4c67-9321-ce39d4bbe1ca","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"cli-hub-jovial-bardeen","status":"ready","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-11-14T11:22:39.323Z","updated_at":"2022-11-14T11:22:39.323Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"cli-network-jolly-thompson","type":"sigfox","hub_id":"e50c1da4-3ade-4c67-9321-ce39d4bbe1ca","topic_prefix":"foo"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/networks
    method: POST
  response:
    body: '{"network":{"id":"0fc1c42f-050e-421e-86fc-54dcf154cf84","name":"cli-network-jolly-thompson","endpoint":"sigfox.iot.fr-par.scw.cloud","type":"sigfox","hub_id":"e50c1da4-3ade-4c67-9321-ce39d4bbe1ca","created_at":"2022-11-14T11:22:40.273Z","topic_prefix":"foo"},"secret":"eyJOZXRJRCI6IjBmYzFjNDJmLTA1MGUtNDIxZS04NmZjLTU0ZGNmMTU0Y2Y4NCIsIk5ldEtleSI6Ijg0ZWY0MzA4LTBmNjMtNGMyNy04YmJiLTA4YzkzOGU2ZmZkMiJ9"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
