---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-hub-loving-dirac","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","product_plan":"plan_shared"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
        method: POST
      response:
        body: '{"region":"fr-par", "id":"ed30534c-4291-4707-a107-2b84577733c8", "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "name":"cli-hub-loving-dirac", "status":"enabling", "product_plan":"plan_shared", "endpoint":"iot.fr-par.scw.cloud", "created_at":"2026-10-07T15:21:00.971Z", "updated_at":"2026-10-07T15:21:00.971Z", "enabled":true, "device_count":0, "connected_device_count":0, "disable_events":false, "events_topic_prefix":"$SCW/events", "enable_device_auto_provisioning":false, "has_custom_ca":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 735.942157ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/ed30534c-4291-4707-a107-2b84577733c8
        method: GET
      response:
        body: '{"region":"fr-par", "id":"ed30534c-4291-4707-a107-2b84577733c8", "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "name":"cli-hub-loving-dirac", "status":"enabling", "product_plan":"plan_shared", "endpoint":"iot.fr-par.scw.cloud", "created_at":"2026-10-07T15:21:00.971Z", "updated_at":"2026-10-07T15:21:00.971Z", "enabled":true, "device_count":0, "connected_device_count":0, "disable_events":false, "events_topic_prefix":"$SCW/events", "enable_device_auto_provisioning":false, "has_custom_ca":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 50.639275ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"foo","hub_id":"ed30534c-4291-4707-a107-2b84577733c8","allow_insecure":false,"allow_multiple_connections":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iot/v1/regions/fr-par/devices
        method: POST
      response:
        body: '{"device":{"id":"de1cda46-443a-47bc-8938-b53906efe28e", "name":"foo", "status":"enabled", "hub_id":"ed30534c-4291-4707-a107-2b84577733c8", "created_at":"2026-10-07T15:21:16.773Z", "updated_at":"2026-10-07T15:21:16.773Z", "allow_insecure":false, "last_activity_at":"1970-01-01T00:00:00Z", "is_connected":false, "message_filters":{"publish":{"policy":"reject", "topics":[]}, "subscribe":{"policy":"reject", "topics":[]}}, "allow_multiple_connections":false, "description":"", "has_custom_certificate":false, "region":"fr-par"}, "certificate":{"crt":"-----BEGIN CERTIFICATE-----\nMIIETjCCAzagAwIBAgIRAO0F/ASkqrDoxvJsocEhmmQwDQYJKoZIhvcNAQELBQAw\ngc0xCzAJBgNVBAYTAkZSMQ8wDQYDVQQIEwZGcmFuY2UxDjAMBgNVBAcTBVBhcmlz\nMRIwEAYDVQQJEwlMYSBNYWlzb24xCTAHBgNVBBETADEYMBYGA1UEChMPU2NhbGV3\nYXkvT25saW5lMRAwDgYDVQQLEwdMYWIvSW9UMSEwHwYDVQQDExhTY2FsZXdheSBJ\nb1QgQ2VydGlmaWNhdGUxLzAtBgNVBAUTJjYxMDAxNjgzNjIyMDI0Njg5MzE2MjA5\nODU0OTgyMTAxOTI3NzM1MB4XDTI2MTAwNjE1MjExN1oXDTM2MTAwNjE1MjExN1ow\ngZ4xCzAJBgNVBAYTAkZSMQwwCgYDVQQIEwNJREYxDjAMBgNVBAcTBVBhcmlzMTEw\nLwYDVQQK[...]
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iot/v1/regions/fr-par/devices/de1cda46-443a-47bc-8938-b53906efe28e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 147.153751ms
[...]
