---
version: 2
interactions:
- request:
    body: '{"namespaces":[],"total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-s&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"id":"829107d4-a9e3-497c-99c1-d24c890a8c9b","name":"cli-t-ctnr-deploy-s","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"829107d4-a9e3-497c-99c1-d24c890a8c9b","name":"cli-t-ctnr-deploy-s","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"id":"829107d4-a9e3-497c-99c1-d24c890a8c9b","name":"cli-t-ctnr-deploy-s","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/829107d4-a9e3-497c-99c1-d24c890a8c9b
    method: GET
  response:
    body: '{"id":"829107d4-a9e3-497c-99c1-d24c890a8c9b","name":"cli-t-ctnr-deploy-s","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/_ping
    method: HEAD
  response:
    body: ""
    headers:
      Api-Version:
      - "1.43"
      Builder-Version:
      - "2"
      Content-Type:
      - text/plain; charset=utf-8
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
      Swarm:
      - inactive
    status: 200 OK
    code: 200
- request:
    body: "{\"stream\":\"Step 1/4 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e 414132ff3b07\\n\"}\r\n{\"stream\":\"Step 2/4 : RUN apk add --no-cache
      curl git bash\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e 741d0c3fe579\\n\"}\r\n{\"stream\":\"Step
      3/4 : COPY ./index.html /usr/share/nginx/html/index.html\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e 38213b6de979\\n\"}\r\n{\"stream\":\"Step
      4/4 : EXPOSE 80\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e 5e05f584aba4\\n\"}\r\n{\"aux\":{\"ID\":\"sha256:5e05f584aba4c67ffae13235f44835cc084d30f5c1a0bc1f2b5817979c83f1df\"}}\r\n{\"stream\":\"Successfully
      built 5e05f584aba4\\n\"}\r\n{\"stream\":\"Successfully tagged rg.fr-par.scw.cloud/funcscwclitctnrdeploysnaeu9odv/cli-t-ctnr-deploy-s:latest\\n\"}\r\n"
    form: {}
    headers:
      Content-Type:
      - application/x-tar
      X-Registry-Config:
      - bnVsbA==
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.43/build?buildargs=null&cachefrom=null&cgroupparent=&cpuperiod=0&cpuquota=0&cpusetcpus=&cpusetmems=&cpushares=0&dockerfile=Dockerfile&labels=null&memory=0&memswap=0&networkmode=&rm=0&shmsize=0&t=rg.fr-par.scw.cloud%2Ffuncscwclitctnrdeploysnaeu9odv%2Fcli-t-ctnr-deploy-s%3Alatest&target=&ulimits=null&version=
    method: POST
  response:
    body: "{\"stream\":\"Step 1/4 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"[...]
- request:
    body: "{\"status\":\"The push refers to repository [rg.fr-par.scw.cloud/funcscwclitctnrdeploysnaeu9odv/cli-t-ctnr-deploy-s]\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"11a0432d0d05\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"24266030f98d\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"abaf9665d5d7\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"6ec20fc79771\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"6f2a9eaf22e9\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"b938c7b9f1b5\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"de91f65bcbc4\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"ba960ae476af\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"604cbedf1215\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"36b50b131297\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"b938c7b9f1b5\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"ba960ae476af\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"de91f65bcbc4\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"604cbedf1215\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"36b50b131297\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":512,\"total\":4621},\"progress\":\"[=====\\u003e
      \                                            ]     512B/4.621kB\",\"id\":\"6ec20fc79771\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":512,\"total\":144},\"progress\":\"[==================================================\\u003e]
      \    512B\",\"id\":\"11a0432d0d05\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":4096,\"total\":144},\"progress\":\"[==================================================\\u003e]
      \ 4.096kB\",\"id\":\"11a0432d0d[...]
- request:
    body: '{"containers":[],"total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers?name=cli-t-ctnr-deploy-s&namespace_id=829107d4-a9e3-497c-99c1-d24c890a8c9b&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"containers":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"id":"7633ba7f-4429-4df2-8a83-425b4bd5e9b9","name":"cli-t-ctnr-deploy-s","namespace_id":"829107d4-a9e3-497c-99c1-d24c890a8c9b","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploysnaeu9odv/cli-t-ctnr-deploy-s:latest","max_concurrency":50,"domain_name":"clitctnrdeploysnaeu9odv-cli-t-ctnr-deploy-s.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"enabled","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"7633ba7f-4429-4df2-8a83-425b4bd5e9b9","name":"cli-t-ctnr-deploy-s","namespace_id":"829107d4-a9e3-497c-99c1-d24c890a8c9b","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploysnaeu9odv/cli-t-ctnr-deploy-s:latest","max_concurrency":50,"domain_name":"clitctnrdeploysnaeu9odv-cli-t-ctnr-deploy-s.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"enabled","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"id":"7633ba7f-4429-4df2-8a83-425b4bd5e9b9","name":"cli-t-ctnr-deploy-s","namespace_id":"829107d4-a9e3-497c-99c1-d24c890a8c9b","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploysnaeu9odv/cli-t-ctnr-deploy-s:latest","max_concurrency":50,"domain_name":"clitctnrdeploysnaeu9odv-cli-t-ctnr[...]
[...]
- request:
    body: '{"id":"7633ba7f-4429-4df2-8a83-425b4bd5e9b9","name":"cli-t-ctnr-deploy-s","namespace_id":"829107d4-a9e3-497c-99c1-d24c890a8c9b","status":"pending","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploysnaeu9odv/cli-t-ctnr-deploy-s:latest","max_concurrency":50,"domain_name":"clitctnrdeploysnaeu9odv-cli-t-ctnr[...]
[...]
- request:
    body: '{"message":"Namespace was not found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/829107d4-a9e3-497c-99c1-d24c890a8c9b
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
- request:
    body: '{"namespaces":[],"total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-s&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
