---
version: 1
interactions:
- request:
    body: '{"namespaces":[{"id":"c0e37f87-8074-43f2-bef1-12c03fa02dc8","name":"app-cli-t-ctnr-deploy-fp","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","registry_namespace_id":"303c798f-82ab-42f2-bf05-7ce0f3d0e0c9","error_message":null,"registry_endpoint":"rg.fr-par.scw.cloud/funcscwappclitctnrdeployfpzayj9zdx","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-07-08T12:15:39.836627Z","updated_at":"2025-07-08T12:16:11.535723Z","vpc_integration_activated":false,"region":"fr-par"}],"total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=app-cli-t-ctnr-deploy-fp&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[{"id":"c0e37f87-8074-43f2-bef1-12c03fa02dc8","name":"app-cli-t-ctnr-deploy-fp","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","registry_namespace_id":"303c798f-82ab-42f2-bf05-7ce0f3d0e0c9","error_message":null,"registry_endpoint":"rg.fr-par.scw.cloud/funcscwappclitctnrdeployfpzayj9zdx","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-07-08T12:15:39.836627Z","updated_at":"2025-07-08T12:16:11.535723Z","vpc_integration_activated":false,"region":"fr-par"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/_ping
    method: HEAD
  response:
    body: ""
    headers:
      Api-Version:
      - "1.51"
      Builder-Version:
      - "2"
      Content-Type:
      - text/plain; charset=utf-8
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
      Swarm:
      - inactive
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\"stream\":\"Step 1/4 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e 42a516af16b8\\n\"}\r\n{\"stream\":\"Step 2/4 : RUN apk add --no-cache
      curl git bash\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e 11667ca862c7\\n\"}\r\n{\"stream\":\"Step
      3/4 : COPY ./index.html /usr/share/nginx/html/index.html\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e 8ef66367ffd4\\n\"}\r\n{\"stream\":\"Step
      4/4 : EXPOSE 80\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e 85d49ddb70ab\\n\"}\r\n{\"aux\":{\"ID\":\"sha256:85d49ddb70abe9c6fd0263f32159cae1956017601b2872b2143751370b3a5dbd\"}}\r\n{\"stream\":\"Successfully
      built 85d49ddb70ab\\n\"}\r\n{\"stream\":\"Successfully tagged rg.fr-par.scw.cloud/funcscwappclitctnrdeployfpzayj9zdx/app-cli-t-ctnr-deploy-fp:latest\\n\"}\r\n"
    form: {}
    headers:
      Content-Type:
      - application/x-tar
      X-Registry-Config:
      - bnVsbA==
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.51/build?dockerfile=Dockerfile&rm=0&t=rg.fr-par.scw.cloud%2Ffuncscwappclitctnrdeployfpzayj9zdx%2Fapp-cli-t-ctnr-deploy-fp%3Alatest
    method: POST
  response:
    body: "{\"stream\":\"Step 1/4 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e 42a516af16b8\\n\"}\r\n{\"stream\":\"Step 2/4 : RUN apk add --no-cache
      curl git bash\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e 11667ca862c7\\n\"}\r\n{\"stream\":\"Step
      3/4 : COPY ./index.html /usr/share/nginx/html/index.html\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e 8ef66367ffd4\\n\"}\r\n{\"stream\":\"Step
      4/4 : EXPOSE 80\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e 85d49ddb70ab\\n\"}\r\n{\"aux\":{\"ID\":\"sha256:85d49ddb70abe9c6fd0263f32159cae1956017601b2872b2143751370b3a5dbd\"}}\r\n{\"stream\":\"Successfully
      built 85d49ddb70ab\\n\"}\r\n{\"stream\":\"Successfully tagged rg.fr-par.scw.cloud/funcscwappclitctnrdeployfpzayj9zdx/app-cli-t-ctnr-deploy-fp:latest\\n\"}\r\n"
    headers:
      Api-Version:
      - "1.51"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\"status\":\"The push refers to repository [rg.fr-par.scw.cloud/funcscwappclitctnrdeployfpzayj9zdx/app-cli-t-ctnr-deploy-fp]\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"6e174226ea69\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"49f3b06c840f\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"6156ecb6dfff\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"66ce170f7dd8\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"556d70b7bec9\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"24e19c209694\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"04ba7957f9d2\"}\r\n{\"status\":\"Waiting\",\[...]
- request:
    body: '{"containers":[],"total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers?name=app-cli-t-ctnr-deploy-fp&namespace_id=c0e37f87-8074-43f2-bef1-12c03fa02dc8&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"containers":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"b75c5371-6252-46b9-a957-7a3234d60610","name":"app-cli-t-ctnr-deploy-fp","namespace_id":"c0e37f87-8074-43f2-bef1-12c03fa02dc8","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":2048,"cpu_limit":1000,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwappclitctnrdeployfpzayj9zdx/app-cli-t-ctnr-deploy-fp:latest","max_concurrency":50,"domain_name":"appclitctnrdeployfpzayj9zdx-app-cli-t-ctnr-deploy-fp.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"enabled","sandbox":"v2","local_storage_limit":1000,"scaling_option":{"concurrent_requests_threshold":50},"created_at":"2025-09-08T12:20:25.339658666Z","updated_at":"2025-09-08T12:20:25.339658666Z","ready_at":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"tags":[],"private_network_id":null,"command":[],"args":[],"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"b75c5371-6252-46b9-a957-7a3234d60610","name":"app-cli-t-ctnr-deploy-fp","namespace_id":"c0e37f87-8074-43f2-bef1-12c03fa02dc8","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":2048,"cpu_limit":1000,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwappclitctnrdeployfpzayj9zdx/app-cli-t-ctnr-deploy-fp:latest","max_concurrency":50,"domain_name":"appclitctnrdeployfpzayj9zdx-app-cli-t-ctnr-deploy-fp.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"enabled","sandbox":"v2","local_storage_limit":1000,"scaling_option":{"concurrent_requests_threshold":50},"created_at":"2025-09-08T12:20:25.339658666Z","updated_at":"2025-09-08T12:20:25.339658666Z","ready_at":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"tags":[],"private_network_id":null,"command":[],"args":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"b75c5371-6252-46b9-a957-7a3234d60610","name":"app-cli-t-ctnr-deploy-fp","namespace_id":"c0e37f87-8074-43f2-bef1-12c03fa02dc8","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":2048,"cpu_limit":1000,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwappclitctnrdeployfpzayj9zdx/app-cli-t-ctnr-deploy-fp:latest","max_concurrency":50,"domain_name":"appclitctnrdeployf[...]
[...]
- request:
    body: '{"id":"b75c5371-6252-46b9-a957-7a3234d60610","name":"app-cli-t-ctnr-deploy-fp","namespace_id":"c0e37f87-8074-43f2-bef1-12c03fa02dc8","status":"pending","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":2048,"cpu_limit":1000,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwappclitctnrdeployfpzayj9zdx/app-cli-t-ctnr-deploy-fp:latest","max_concurrency":50,"domain_name":"appclitctnrdeployf[...]
[...]
- request:
    body: '{"namespaces":[],"total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-fp&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespaces":[],"total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-fp&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
