---
version: 1
interactions:
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-bp&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"d55c37dc-fe3a-45ff-bb29-87003ee4bdce", "name":"cli-t-ctnr-deploy-bp",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-04-29T14:07:04.765181194Z", "updated_at":"2025-04-29T14:07:04.765181194Z",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"d55c37dc-fe3a-45ff-bb29-87003ee4bdce", "name":"cli-t-ctnr-deploy-bp",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-04-29T14:07:04.765181194Z", "updated_at":"2025-04-29T14:07:04.765181194Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"d55c37dc-fe3a-45ff-bb29-87003ee4bdce", "name":"cli-t-ctnr-deploy-bp",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-04-29T14:07:04.765181Z", "updated_at":"2025-04-29T14:07:04.765181Z",
      "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/d55c37dc-fe3a-45ff-bb29-87003ee4bdce
    method: GET
  response:
    body: '{"id":"d55c37dc-fe3a-45ff-bb29-87003ee4bdce", "name":"cli-t-ctnr-deploy-bp",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-04-29T14:07:04.765181Z", "updated_at":"2025-04-29T14:07:04.765181Z",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/_ping
    method: HEAD
  response:
    body: ""
    headers:
      Api-Version:
      - "1.45"
      Builder-Version:
      - "2"
      Content-Type:
      - text/plain; charset=utf-8
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
      Swarm:
      - inactive
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\"status\":\"Pulling from paketobuildpacks/builder-jammy-base\",\"id\":\"latest\"}\r\n{\"status\":\"Pulling
      fs layer\",\"progressDetail\":{},\"id\":\"aaf908379da9\"}\r\n{\"status\":\"Pulling
      fs layer\",\"progressDetail\":{},\"id\":\"f295e1bdcca6\"}\r\n{\"status\":\"Pulling
      fs layer\",\"progressDetail\":{},\"id\":\"4e6dc31d05a9\"}\r\n{\"status\":\"Pulling
      fs layer\",\"progressDetail\":{},\"id\":\"c501d664298a\"}\r\n{\"status\":\"Pulling
      fs layer\",\"progressDetail\":{},\"id\":\"0550bc0169a3\"}\r\n{\"status\":\"Pulling
      fs layer\",\"progressDetail\":{},\"id\":\"a781523ccbfc\"}\r\n{\"status\":\"Pulling
  [...]
- request:
    body: |
      {"Platform":{"Name":""},"Components":[{"Name":"Engine","Version":"26.1.3","Details":{"ApiVersion":"1.45","Arch":"amd64","BuildTime":"2024-12-12T08:27:10.000000000+00:00","Experimental":"false","GitCommit":"26.1.3-0ubuntu1.1","GoVersion":"go1.22.8","KernelVersion":"6.11.0-24-generic","MinAPIVersion":"1.24","Os":"linux"}},{"Name":"containerd","Version":"2.0.0~rc3","Details":{"GitCommit":""}},{"Name":"runc","Version":"1.1.12-0ubuntu4","Details":{"GitCommit":""}},{"Name":"docker-init","Version":"0.19.0","Details":{"GitCommit":""}}],"Version":"26.1.3","ApiVersion":"1.45","MinAPIVersion":"1.24","GitCommit":"26.1.3-0ubuntu1.1","GoVersion":"go1.22.8","Os":"linux","Arch":"amd64","KernelVersion":"6.11.0-24-generic","BuildTime":"2024-12-12T08:27:10.000000000+00:00"}
    form: {}
    headers: {}
    url: http://%[...]
- request:
    body: |
      {"Id":"sha256:138347c43bdda6ced9bcc55a4a76c1c5238eebeda26b8179ed2bb1ea9c0a01c7","RepoTags":["paketobuildpacks/builder-jammy-base:latest"],"RepoDigests":["paketobuildpacks/builder-jammy-base@sha256:195f4f9092ac3143809ca9bac477068d0ad267477d54a3cc6f09b0d1db894708"],"Parent":"","Comment":"","Created":"1980-01-01T00:00:01Z","DockerVersion":"","Author":"","Config":{"Hostname":"","Domainname":"","User":"1001:1000","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":["PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin","CNB_USER_ID=1001","CNB_GROUP_ID=1000","CNB_STACK_ID=io.buildpacks.stacks.jammy"],"Cmd":["/bin/bash"],"Image":"","Volumes":null,"WorkingDir":"/layers","Entrypoint":null,"OnBuild":null,"Labels":{"io.buildpacks.builder.metadata":"{\"description\":\"Ubuntu 22.04 Jammy Jellyfish base image with buildpacks for Java, Go, .NET Core, Node.js, Python, Apache HTTPD, NGINX and Procfile\",\"buildpacks\":[{\"id\":\"paketo-buildpacks/dotnet-core\",\"name\":\"Paketo Buildpack for .NET Core\",\"version\":\"1.6.3\",\"homepage\":\"https://github.com/paketo-buildpacks/dotnet-core\"},{\"id\":\"paketo-buildpacks/ca-certificates\",\"name\":\"Paketo Buildpack for CA Certificates\",\"version\":\"3.10.1\",\"homepage\":\"https://github.com/paketo-buildpacks/ca-certificates\"},{\"id\":\"paketo-buildpacks/dotnet-core-aspnet-runtime\",\"name\":\"Paketo Buildpack for ASP.NET Core Runtime\",\"version\":\"1.0.17\",\"homepage\":\"https://github.com/paketo-buildpacks/dotnet-core-aspnet-runtime\"},{\"id\":\"paketo-buildpacks/dotnet-core[...]
- request:
    body: |
      [{"Comment":"","Created":315532801,"CreatedBy":"","Id":"sha256:138347c43bdda6ced9bcc55a4a76c1c5238eebeda26b8179ed2bb1ea9c0a01c7","Size":0,"Tags":["paketobuildpacks/builder-jammy-base:latest"]},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":93,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":94,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":813,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":22559354,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":22559355,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":21813851,"Tags":null},{"Comment":[...]
- request:
    body: "{\"status\":\"Pulling from paketobuildpacks/run-jammy-base\",\"id\":\"latest\"}\r\n{\"status\":\"Already
      exists\",\"progressDetail\":{},\"id\":\"aaf908379da9\"}\r\n{\"status\":\"Pulling
      fs layer\",\"progressDetail\":{},\"id\":\"a3ea12e4d875\"}\r\n{\"status\":\"Pulling
      fs layer\",\"progressDetail\":{},\"id\":\"cb4197092ed1\"}\r\n{\"status\":\"Pulling
      fs layer\",\"progressDetail\":{},\"id\":\"0f560873d144\"}\r\n{\"status\":\"Downloading\",\"progressDetail\":{\"current\":421,\"total\":421},\"progress\":\"[==================================================\\u003e]
      \    421B/421B\",\"id\":\"0f560873d144\"}\r\n{\"status\":\"Verifying Checksum\",\"progressDetail\":{},\"id\":\"0f560873d144\"}\r\n{\"status\":\"Download
      complete\",\"progressDetail\":{},\"id\":\"0f560873d144\"}\r\n{\"status\":\"Downloading\",\"progressDetail\":{\"current\":720,\"total\":809},\"progress\":\"[============================================\\u003e
      \     ]     720B/809B\",\"id\":\"cb4197092ed1\"}\r\n{\"stat[...]
[...]
- request:
    body: |
      {"Id":"sha256:be69f851d370fdce0054d8720fd36ec8698b839c070336412c6277e6d9264d0a","RepoTags":["paketobuildpacks/run-jammy-base:latest"],"RepoDigests":["paketobuildpacks/run-jammy-base@sha256:26d6d26e0e08ae5003a0d1ee4cdd63a0692cb9c530b2704f78fbd7662d79ae09"],"Parent":"","Comment":"","Created":"2025-02-21T02:44:17.87122112Z","DockerVersion":"","Author":"","Config":{"Hostname":"","Domainname":"","User":"1002:1000","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":["PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"],"Cmd":["/bin/bash"],"Image":"","Volumes":null,"WorkingDir":"","Entrypoint":null,"OnBuild":null,"Labels":{"io.buildpacks.stack.description":"ubuntu:jammy with some common dependencies like tzdata and openssl","io.buildpacks.stack.distro.name":"ubuntu","io.buildpacks.stack.distro.version":"22.04","io.buildpacks.stack.homepage":"https://github.com/paketo-buildpacks/jammy-base-stack","io.buildpacks.stack.id":"io.buildpacks.stacks.jammy","io.buildpacks.stack.maintainer":"Paketo Buildpacks","io.buildpacks.stack.metadata":"{}","io.buildpacks.stack.released":"2025-02-21T02:44:45Z","org.opencontainers.image.ref.name":"ubuntu","org.opencontainers.image.version":"22.04"}},"Architecture":"amd64","Os":"linux","Size":129032302,"GraphDriver":{"Data":{"LowerDir":"/var/lib/docker/overlay2/588ed03aae4ec0ef305c1176148e577963d1c200db65e87b533881508e15ff2f/diff:/var/lib/docker/overlay2/d68d09b25fdc7e1f8f6f7569f387accc6eb4e9a88328e12336190a3bf76a3070/diff:/var/lib/docker/overlay2/c5363b11f9c691b0e11c67abac5e379db6a56349fe329fe58cd29d0b208100e1/diff","MergedDir":"/var/lib/docker/overlay2/28a69e6106a13ce61128a4aaf1415c3d0064f662f600fbf4d462716f9fc98a27/merged","UpperDir":"/var/lib/docker/overlay2/28a69e6106a13ce61128a4aaf1415c3d0064f662f600fbf4d462716f9fc98a27/diff","WorkDir":"/var/lib/docker/overlay2/28a69e6106a13ce61128a4aaf1415c3d0064f662f600fbf4d462716f9fc98a27/work"},"Name":"overlay2"},"RootFS":{"Type":"layers","Layers":["sha256:270a1170e7e398434ff1b31e17e233f7d7b71aa99a40473615860068e86720af","sha256:69e7e9143c29e5bb6533dd6d139a74bc8debb7a588217c38eb0b0b792056e0ea","sha256:1f5a07f2fc66d9e8121aea9102bbb98072d21bad0c3ee6ef02aa8afa4d0cf85b","sha256:1ff5e081e9bc7b11362171e0ec53e158ed6d1d3ccb06256eb3ab7e455f48f70f"]},"Metadata":{"LastTagTime":"0001-01-01T00:00:00Z"}}
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.45/images/index.docker.io/paketobuildpacks/run-jammy-base:latest/json
    method: GET
  response:
    body: |
      {"Id":"sha256:be69f851d370fdce0054d8720fd36ec8698b839c070336412c6277e6d9264d0a","RepoTags":["paketobuildpacks/run-jammy-base:latest"],"RepoDigests":["paketobuildpacks/run-jammy-base@sha256:26d6d26e0e08ae5003a0d1ee4cdd63a0692cb9c530b2704f78fbd7662d79ae09"],"Parent":"","Comment":"","Cr[...]
- request:
    body: |
      [{"Comment":"","Created":-62135596800,"CreatedBy":"","Id":"sha256:be69f851d370fdce0054d8720fd36ec8698b839c070336412c6277e6d9264d0a","Size":505,"Tags":["paketobuildpacks/run-jammy-base:latest"]},{"Comment":"","Created":-62135596800,"CreatedBy":"","Id":"<missing>","Size":1417,"Tags":null},{"Comment":"buildkit.dockerfile.v0","Created":1740105857,"CreatedBy":"RUN |3 sources=    deb http://archive.ubuntu.com/ubuntu jammy main universe multiverse\n    deb http://archive.ub[...]
- request:
    body: |
      {"ID":"1e13782b-3300-45d6-9158-bbc39f57081f","Containers":21,"ContainersRunning":0,"ContainersPaused":0,"ContainersStopped":21,"Images":63,"Driver":"overlay2","DriverStatus":[["Backing Filesystem","extfs"],["Supports d_type","true"],["Using metacopy","false"],["Native Overlay Diff","true"],["userxattr","false"]],"Plugins":{"Volume":["local"],"Network":["bridge","host","ipvlan","macvlan","null","overlay"],"Authorization":null,"Log":["awslogs","fluentd","gcplogs","gelf","journald","json-file","local","splunk","syslog"]},"MemoryLimit":true,"SwapLimit":true,"CpuCfsPeriod":true,"CpuCfsQuota":true,"CPUShares":true,"CPUSet":true,"PidsLimit":true,"IPv4Forwarding":true,"BridgeNfIptables":true,"BridgeNfIp6tables":true,"Debug":false,"NFd":23,"OomKillDisable":false,"NGoroutines":41,"SystemTime":"2025-04-29T16:08:35.088001619+02:00","LoggingDriver":"json-file","CgroupDriver":"systemd","CgroupVersion":"2","NEventsListener":0,"KernelVersion":"6.11.0-24-generic","OperatingSystem":"Ubuntu 24.10","OSVersion":"24.10","OSType":"linux","Architecture":"x86_64","IndexServerAddress":"https://index.docker.io/v1/","RegistryConfig":{"AllowNondistributableArtifactsCIDRs":null,"AllowNondistributableArtifactsHostnames":null,"InsecureRegistryCIDRs":["127.0.0.0/8"],"IndexConfigs":{"docker.io":{"Name":"docker.io","Mirrors":[],"Secure":true,"Official":true}},"Mirrors":null},"NCPU":16,"MemTotal":32210378752,"GenericResources":null,"DockerRootDir":"/var/lib/docker","HttpProxy":"","HttpsProxy":"","NoProxy":"","Name":"leila-ThinkPad-T14s-Gen-6","Labels":[],"ExperimentalBuild":false,"ServerVersion":"26.1.3","Runtimes":{"io.containerd.runc.v2":{"path":"runc","status":{"org.opencontainers.runtime-spec.features":"{\"ociVersionMin\":\"1.0.0\",\"ociVersionMax\":\"1.0.2-dev\",\"hooks\":[\"prestart\",\"createRuntime\",\"createContainer\",\"startContainer\",\"poststart\",\"poststop\"],\"mountOptions\":[\"acl\",\"async\",\"atime\",\"bind\",\"defaults\",\"dev\",\"diratime\",\"dirsync\",\"exec\",\"iversion\",\"lazytime\",\"loud\",\"mand\",\"noacl\",\"noatime\",\"nodev\",\"nodiratime\",\"noexec\",\"noiversion\",\"nolazytime\",\"nomand\",\"norelatime\",\"nostrictatime\",\"nosuid\",\"nosymfollow\",\"private\",\"ratime\",\"rbind\",\"rdev\",\"rdiratime\",\"relatime\",\"remount\",\"rexec\",\"rnoatime\",\"rnodev\",\"rnodiratime\",\"rnoexec\",\"rnorelatime\",\"rnostrictatime\",\"rnosuid\",\"rnosymfollow\",\"ro\",\"rprivate\",\"rrelatime\",\"rro\",\"rrw\",\"rshared\",\"rslave\",\"rstrictatime\",\"rsuid\",\"rsymfollow\",\"runbindable\",\"rw\",\"shared\",\"silent\",\"slave\",\"strictatime\",\"suid\",\"symfollow\",\"sync\",\"tmpcopyup\",\"unbindable\"],\"linux\":{\"namespaces\":[\"cgroup\",\"ipc\",\"mount\",\"network\",\"pid\",\"user\",\"uts\"],\"capabilities\":[\"CAP_CHOWN\",\"CAP_DAC_OVERRIDE\",\"CAP_DAC_READ_SEARCH\",\"CAP_FOWNER\",\"CAP_FSETID\",\"CAP_KILL\",\"CAP_SETGID\",\"CAP_SETUID\",\"CAP_SETPCAP\",\"CAP_LINUX_IMMUTABLE\",\"CAP_NET_BIND_SERVICE\",\"CAP_NET_BROADCAST\",\"CAP_NET_ADMIN\",\"CAP_NET_RAW\",\"CAP_IPC_LOCK\",\"CAP_IPC_OWNER\",\"CAP_SYS_MODULE\",\"CAP_SYS_RAWIO\",\"CAP_SYS_CHROOT\",\"CAP_SYS_PTRACE\",\"CAP_SYS_PACCT\",\"CAP_SYS_ADMIN\",\"CAP_SYS_BOOT\",\"CAP_SYS_NICE\",\"CAP_SYS_RESOURCE\",\"CAP_SYS_TIME\",\"CAP_SYS_TTY_CONFIG\",\"CAP_MKNOD\",\"CAP_LEASE\",\"CAP_AUDIT_WRITE\",\"CAP_AUDIT_CONTROL\",\"CAP_SETFCAP\",\"CAP_MAC_OVERRIDE\",\"CAP_MAC_ADMIN\",\"CAP_SYSLOG\",\"CAP_WAKE_ALARM\",\"CAP_BLOCK_SUSPEND\",\"CAP_AUDIT_READ\",\"CAP_PERFMON\",\"CAP_BPF\",\"CAP_CHECKPOINT_RESTORE\"],\"cgroup\":{\"v1\":true,\"v2\":true,\"systemd\":true,\"systemdUser\":true},\"seccomp\":{\"enabled\":true,\"actions\":[\"SCMP_ACT_ALLOW\",\"SCMP_ACT_ERRNO\",\"SCMP_ACT_KILL\",\"SCMP_ACT_KILL_PROCESS\",\"SCMP_ACT_KILL_THREAD\",\"SCMP_ACT_LOG\",\"SCMP_ACT_NOTIFY\",\"SCMP_ACT_TRACE\",\"SCMP_ACT_TRAP\"],\"operators\":[\"SCMP_CMP_EQ\",\"SCMP_CMP_GE\",\"SCMP_CMP_GT\",\"SCMP_CMP_LE\",\"SCMP_CMP_LT\",\"SCMP_CMP_MASKED_EQ\",\"SCMP_CMP_NE\"],\"archs\":[\"SCMP_ARCH_AARCH64\",\"SCMP_ARCH_ARM\",\"SCMP_ARCH_MIPS\",\"SCMP_ARCH_MIPS64\",\"SCMP_ARCH_MIPS64N32\",\"SCMP_ARCH_MIPSEL\",\"SCMP_ARCH_MIPSEL64\",\"SCMP_ARCH_MIPSEL64N32\",\"SCMP_ARCH_PPC\",\"SCMP_ARCH_PPC64\",\"SCMP_ARCH_PPC64LE\",\"SCMP_ARCH_RISCV64\",\"SCMP_ARCH_S390\",\"SCMP_ARCH_S390X\",\"SCMP_ARCH_X32\",\"SCMP_ARCH_X86\",\"SCMP_ARCH_X86_64\"]},\"apparmor\":{\"enabled\":true},\"selinux\":{\"enabled\":true}},\"annotations\":{\"io.github.seccomp.libseccomp.version\":\"2.5.5\",\"org.opencontainers.runc.checkpoint.enabled\":\"true\",\"org.opencontainers.runc.commit\":\"\",\"org.opencontainers.runc.version\":\"1.1.12-0ubuntu4\"}}"}},"runc":{"path":"runc","status":{"org.opencontainers.runtime-spec.features":"{\"ociVersionMin\":\"1.0.0\",\"ociVersionMax\":\"1.0.2-dev\",\"hooks\":[\"prestart\",\"createRuntime\",\"createContainer\",\"startContainer\",\"poststart\",\"poststop\"],\"mountOptions\":[\"acl\",\"async\",\"atime\",\"bind\",\"defaults\",\"dev\",\"diratime\",\"dirsync\",\"exec\",\"iversion\",\"lazytime\",\"loud\",\"mand\",\"noacl\",\"noatime\",\"nodev\",\"nodiratime\",\"noexec\",\"noiversion\",\"nolazytime\",\"nomand\",\"norela[...]
- request:
    body: "{\"stream\":\"Loaded image: pack.local/builder/11111111111111111111:latest\\n\"}\r\n"
    form: {}
    headers:
      Content-Type:
      - application/x-tar
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.45/images/load?quiet=1
    method: POST
  response:
    body: "{\"stream\":\"Loaded image: pack.local/builder/11111111111111111111:latest\\n\"}\r\n"
    headers:
      Api-Version:
      - "1.45"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"Id":"sha256:8ee9eebded8df366c1c4ebee8af7b73e46dfd3dd7850ac8e55232fe40b6135bc","RepoTags":["pack.local/builder/11111111111111111111:latest"],"RepoDigests":[],"Parent":"","Comment":"","Created":"1980-01-01T00:00:01Z","DockerVersion":"","Author":"","Config":{"Hostname":"","Domainname":"","User":"1001:1000","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":["PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.45/images/sha256:8ee9eebded8df366c1c4ebee8af7b73e46dfd3dd7850ac8e55232fe40b6135bc/tag?repo=pack.local%2Fbuilder%2F11111111111111111111&tag=latest
    method: POST
  response:
    body: ""
    headers:
      Api-Version:
      - "1.45"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"Id":"5ec1f3edf570ebfd3221663f640b27bb3b5b2be952e3e1d6d7356764530da9d0","Warnings":[]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.45/containers/create
    method: POST
  response:
    body: |
      {"Id":"5ec1f3edf570ebfd3221663f640b27bb3b5b2be952e3e1d6d7356764530da9d0","Warnings":[]}
    headers:
      Api-Version:
      - "1.45"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - text/plain
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.45/containers/5ec1f3edf570ebfd3221663f640b27bb3b5b2be952e3e1d6d7356764530da9d0/archive?noOverwriteDirNonDir=true&path=%2F
    method: PUT
  response:
    body: ""
    headers:
      Api-Version:
      - "1.45"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.45/containers/5ec1f3edf570ebfd3221663f640b27bb3b5b2be952e3e1d6d7356764530da9d0/start
    method: POST
  response:
    body: ""
    headers:
      Api-Version:
      - "1.45"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: !!binary |
      AQAAAAAAABgbWzM2bT09PT4gQU5BTFlaSU5HG1swbQoBAAAAAAAAbEltYWdlIHdpdGggbm
      FtZSAicmcuZnItcGFyLnNjdy5jbG91ZC9mdW5jc2N3Y2xpdGN0bnJkZXBsb3licHhvdmZu
      dWpkL2NsaS10LWN0bnItZGVwbG95LWJwOmxhdGVzdCIgbm90IGZvdW5kCgEAAAAAAAAYG1
      szNm09PT0+IERFVEVDVElORxtbMG0KAQAAAAAAAEp0YXJnZXQgZGlzdHJvIG5hbWUvdmVy
      c2lvbiBsYWJlbHMgbm90IGZvdW5kLCByZWFkaW5nIC9ldGMvb3MtcmVsZWFzZSBmaWxlCg
      EAAAAAAAJpPT09PT09PT0gT3V0cHV0OiBwYWtldG8tYnVpbGRwYWNrcy9ub2RlLXJ1bi1z
      [...]
- request:
    body: |
      {"StatusCode":0}
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.45/containers/5ec1f3edf570ebfd3221663f640b27bb3b5b2be952e3e1d6d7356764530da9d0/wait?condition=next-exit
    method: POST
  response:
    body: |
      {"StatusCode":0}
    headers:
      Api-Version:
      - "1.45"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.45/containers/5ec1f3edf570ebfd3221663f640b27bb3b5b2be952e3e1d6d7356764530da9d0?force=1
    method: DELETE
  response:
    body: ""
    headers:
      Api-Version:
      - "1.45"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.45/volumes/pack-layers-hnusxkqrrn?force=1
    method: DELETE
  response:
    body: ""
    headers:
      Api-Version:
      - "1.45"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.45/volumes/pack-app-sssvzauydi?force=1
    method: DELETE
  response:
    body: ""
    headers:
      Api-Version:
      - "1.45"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: |
      [{"Untagged":"pack.local/builder/11111111111111111111:latest"},{"Deleted":"sha256:8ee9eebded8df366c1c4ebee8af7b73e46dfd3dd7850ac8e55232fe40b6135bc"},{"Deleted":"sha256:98319689967147fa70475f7b8eb66a01967d7151e9407dca9cf83366aa5b390e"},{"Deleted":"sha256:b33ab2b4f3c2986f29c84e8cd5943c23a246118df0c19176ff979a685e450368"},{"Deleted":"sha256:3bb60f492dd1b38ad9747976f5beefa4831b3eeea265e2f933a1adc920126672"},{"Deleted":"sha256:a0cdc3192fc30863ba88f69163e2ff61db1d52af6537e518340f569af99a8b35"}]
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.45/images/pack.local/builder/11111111111111111111:latest?force=1&noprune=1
    method: DELETE
  response:
    body: |
      [{"Untagged":"pack.local/builder/11111111111111111111:latest"},{"Deleted":"sha256:8ee9eebded8df366c1c4ebee8af7b73e46dfd3dd7850ac8e55232fe40b6135bc"},{"Deleted":"sha256:98319689967147fa70475f7b8eb66a01967d7151e9407dca9cf83366aa5b390e"},{"Deleted":"sha256:b33ab2b4f3c2986f29c84e8cd5943c23a246118df0c19176ff979a685e450368"},{"Deleted":"sha256:3bb60f492dd1b38ad9747976f5beefa4831b3eeea265e2f933a1adc920126672"},{"Deleted":"sha256:a0cdc3192fc30863ba88f69163e2ff61db1d52af6537e518340f569af99a8b35"}]
    headers:
      Api-Version:
      - "1.45"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
[...]
