---
version: 1
interactions:
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-bp&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"af4f8dde-1587-4cff-86d3-65f068b2d378", "name":"cli-t-ctnr-deploy-bp",
      "environment_variables":{}, "organization_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba",
      "project_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-12-15T13:30:07.132876529Z", "updated_at":"2025-12-15T13:30:07.132876529Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"af4f8dde-1587-4cff-86d3-65f068b2d378", "name":"cli-t-ctnr-deploy-bp",
      "environment_variables":{}, "organization_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba",
      "project_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-12-15T13:30:07.132876529Z", "updated_at":"2025-12-15T13:30:07.132876529Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"af4f8dde-1587-4cff-86d3-65f068b2d378", "name":"cli-t-ctnr-deploy-bp",
      "environment_variables":{}, "organization_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba",
      "project_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-12-15T13:30:07.132877Z", "updated_at":"2025-12-15T13:30:07.132877Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/af4f8dde-1587-4cff-86d3-65f068b2d378
    method: GET
  response:
    body: '{"id":"af4f8dde-1587-4cff-86d3-65f068b2d378", "name":"cli-t-ctnr-deploy-bp",
      "environment_variables":{}, "organization_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba",
      "project_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-12-15T13:30:07.132877Z", "updated_at":"2025-12-15T13:30:07.132877Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/_ping
    method: HEAD
  response:
    body: ""
    headers:
      Api-Version:
      - "1.51"
      Builder-Version:
      - "2"
      Content-Type:
      - text/plain; charset=utf-8
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
      Swarm:
      - inactive
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"ID":"2696a8fb-0d3a-46a9-8f99-17c163543a95","Containers":15,"ContainersRunning":1,"ContainersPaused":0,"ContainersStopped":14,"Images":34,"Driver":"overlay2","DriverStatus":[["Backing Filesystem","extfs"],["Supports d_type","true"],["Using metacopy","false"],["Native Overlay Diff","true"],["userxattr","false"]],"Plugins":{"Volume":["local"],"Network":["bridge","host","ipvlan","macvlan","null","overlay"],"Authorization":null,"Log":["awslogs","fluentd","gcplogs","gelf","journald","json-file","local","splunk","syslog"]},"MemoryLimit":true,"SwapLimit":true,"CpuCfsPeriod":true,"CpuCfsQuota":true,"CPUShares":true,"CPUSet":true,"PidsLimit":true,"IPv4Forwarding":true,"Debug":false,"NFd":80,"OomKillDisable":false,"NGoroutines":123,"SystemTime":"2025-12-15T14:30:22.521471971+01:00","LoggingDriver":"journald","CgroupDriver":"systemd","CgroupVersion":"2","NEventsListener":0,"KernelVersion":"6.17.8","OperatingSystem":"NixOS 25.11 (Xantusia)","OSVersion":"25.11","OSType":"linux","Architecture":"x86_64","IndexServerAddress":"https://index.docker.io/v1/","RegistryConfig":{"IndexConfigs":{"docker.io":{"Mirrors":[],"Name":"docker.io","Official":true,"Secure":true}},"InsecureRegistryCIDRs":["::1/128","127.0.0.0/8"],"Mirrors":null},"NCPU":8,"MemTotal":16419725312,"GenericResources":null,"DockerRootDir":"/var/lib/docker","HttpProxy":"","HttpsProxy":"","NoProxy":"","Name":"nixos","Labels":[],"ExperimentalBuild":false,"ServerVersion":"28.5.1","Runtimes":{"io.containerd.runc.v2":{"path":"runc","status":{"org.opencontainers.runtime-spec.features":"{\"ociVersionMin\":\"1.0.0\",\"ociVersionMax\":\"1.2.1\",\"hooks\":[\"prestart\",\"createRuntime\",\"createContainer\",\"startContainer\",\"poststart\",\"poststop\"],\"mountOptions\":[\"async\",\"atime\",\"bind\",\"defaults\",\"dev\",\"diratime\",\"dirsync\",\"exec\",\"iversion\",\"lazytime\",\"loud\",\"mand\",\"noatime\",\"nodev\",\"nodiratime\",\"noexec\",\"noiversion\",\"nolazytime\",\"nomand\",\"norelatime\",\"nostrictatime\",\"nosuid\",\"nosymfollow\",\"private\",\"ratime\",\"rbind\",\"rdev\",\"rdiratime\",\"relatime\",\"remount\",\"rexec\",\"rnoatime\",\"rnodev\",\"rnodiratime\",\"rnoexec\",\"rnorelatime\",\"rnostrictatime\",\"rnosuid\",\"rnosymfollow\",\"ro\",\"rprivate\",\"rrelatime\",\"rro\",\"rrw\",\"rshared\",\"rslave\",\"rstrictatime\",\"rsuid\",\"rsymfollow\",\"runbindable\",\"rw\",\"shared\",\"silent\",\"slave\",\"strictatime\",\"suid\",\"symfollow\",\"sync\",\"tmpcopyup\",\"unbindable\"],\"linux\":{\"namespaces\":[\"cgroup\",\"ipc\",\"mount\",\"network\",\"pid\",\"time\",\"user\",\"uts\"],\"capabilities\":[\"CAP_CHOWN\",\"CAP_DAC_OVERRIDE\",\"CAP_DAC_READ_SEARCH\",\"CAP_FOWNER\",\"CAP_FSETID\",\"CAP_KILL\",\"CAP_SETGID\",\"CAP_SETUID\",\"CAP_SETPCAP\",\"CAP_LINUX_IMMUTABLE\",\"CAP_NET_BIND_SERVICE\",\"CAP_NET_BROADCAST\",\"CAP_NET_ADMIN\",\"CAP_NET_RAW\",\"CAP_IPC_LOCK\",\"CAP_IPC_OWNER\",\"CAP_SYS_MODULE\",\"CAP_SYS_RAWIO\",\"CAP_SYS_CHROOT\",\"CAP_SYS_PTRACE\",\"CAP_SYS_PACCT\",\"CAP_SYS_ADMIN\",\"CAP_SYS_BOOT\",\"CAP_SYS_NICE\",\"CAP_SYS_RESOURCE\",\"CAP_SYS_TIME\",\"CAP_SYS_TTY_CONFIG\",\"CAP_MKNOD\",\"CAP_LEASE\",\"CAP_AUDIT_WRITE\",\"CAP_AUDIT_CONTROL\",\"CAP_SETFCAP\",\"CAP_MAC_OVERRIDE\",\"CAP_MAC_ADMIN\",\"CAP_SYSLOG\",\"CAP_WAKE_ALARM\",\"CAP_BLOCK_SUSPEND\",\"CAP_AUDIT_READ\",\"CAP_PERFMON\",\"CAP_BPF\",\"CAP_CHECKPOINT_RESTORE\"],\"cgroup\":{\"v1\":true,\"v2\":true,\"systemd\":true,\"systemdUser\":true,\"rdma\":true},\"seccomp\":{\"enabled\":true,\"actions\":[\"SCMP_ACT_ALLOW\",\"SCMP_ACT_ERRNO\",\"SCMP_ACT_KILL\",\"SCMP_ACT_KILL_PROCESS\",\"SCMP_ACT_KILL_THREAD\",\"SCMP_ACT_LOG\",\"SCMP_ACT_NOTIFY\",\"SCMP_ACT_TRACE\",\"SCMP_ACT_TRAP\"],\"operators\":[\"SCMP_CMP_EQ\",\"SCMP_CMP_GE\",\"SCMP_CMP_GT\",\"SCMP_CMP_LE\",\"SCMP_CMP_LT\",\"SCMP_CMP_MASKED_EQ\",\"SCMP_CMP_NE\"],\"archs\":[\"SCMP_ARCH_AARCH64\",\"SCMP_ARCH_ARM\",\"SCMP_ARCH_MIPS\",\"SCMP_ARCH_MIPS64\",\"SCMP_ARCH_MIPS64N32\",\"SCMP_ARCH_MIPSEL\",\"SCMP_ARCH_MIPSEL64\",\"SCMP_ARCH_MIPSEL64N32\",\"SCMP_ARCH_PPC\",\"SCMP_ARCH_PPC64\",\"SCMP_ARCH_PPC64LE\",\"SCMP_ARCH_RISCV64\",\"SCMP_ARCH_S390\",\"SCMP_ARCH_S390X\",\"SCMP_ARCH_X32\",\"SCMP_ARCH_X86\",\"SCMP_ARCH_X86_64\"],\"knownFlags\":[\"SECCOMP_FILTER_FLAG_TSYNC\",\"SECCOMP_FILTER_FLAG_SPEC_ALLOW\",\"SECCOMP_FILTER_FLAG_LOG\"],\"supportedFlags\":[\"SECCOMP_FILTER_FLAG_TSYNC\",\"SECCOMP_FILTER_FLAG_SPEC_ALLOW\",\"SECCOMP_FILTER_FLAG_LOG\"]},\"apparmor\":{\"enabled\":true},\"selinux\":{\"enabled\":true},\"intelRdt\":{\"enabled\":true},\"mountExtensions\":{\"idmap\":{\"enabled\":true}}},\"annotations\":{\"io.github.seccomp.libseccomp.version\":\"2.6.0\",\"org.opencontainers.runc.checkpoint.enabled\":\"true\",\"org.opencontainers.runc.commit\":\"\",\"org.opencontainers.runc.version\":\"1.3.0\\n\"},\"potentiallyUnsafeConfigAnnotations\":[\"bundle\",\"org.systemd.property.\",\"org.criu.config\"]}"}},"runc":{"path":"runc","status":{"org.opencontainers.runtime-spec.features":"{\"ociVersionMin\":\"1.0.0\",\"ociVersionMax\":\"1.2.1\",\"hooks\":[\"prestart\",\"createRuntime\",\"createContainer\",\"startContainer\",\"poststart\",\"poststop\"],\"mountOptions\":[\"async\",\"atime\",\"bind\",\"defaults\",\"dev\",\"diratime\",\"dirsync\",\"exec\",\"iversion\",\"lazytime\",\"loud\",\"mand\",\"noatime\",\"nodev\",\"nodiratime\",\"noexec\",\"noiversion\",\"nolazytime\",\"nomand\",\"norelatime\",\"nostrictatime[...]
- request:
    body: "{\"status\":\"Pulling from paketobuildpacks/builder-jammy-base\",\"id\":\"latest\"}\r\n{\"status\":\"Digest:
      sha256:18da82f2a9aecc4bca22762be6309059392282b0b22541b527b68a248945636a\"}\r\n{\"status\":\"Status:
      Image is up to date for paketobuildpacks/builder-jammy-base:latest\"}\r\n"
    form: {}
    headers:
      X-Registry-Auth:
      - eyJhdXRoIjoiT2c9PSJ9
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.51/images/create?fromImage=docker.io%2Fpaketobuildpacks%2Fbuilder-jammy-base&tag=latest
    method: POST
  response:
    body: "{\"status\":\"Pulling from paketobuildpacks/builder-jammy-base\",\"id\":\"latest\"}\r\n{\"status\":\"Digest:
      sha256:18da82f2a9aecc4bca22762be6309059392282b0b22541b527b68a248945636a\"}\r\n{\"status\":\"Status:
      Image is up to date for paketobuildpacks/builder-jammy-base:latest\"}\r\n"
    headers:
      Api-Version:
      - "1.51"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"Platform":{"Name":""},"Components":[{"Name":"Engine","Version":"28.5.1","Details":{"ApiVersion":"1.51","Arch":"amd64","BuildTime":"1980-01-01T00:00:00.000000000+00:00","Experimental":"false","GitCommit":"v28.5.1","GoVersion":"go1.25.4","KernelVersion":"6.17.8","MinAPIVersion":"1.24","Os":"linux"}},{"Name":"containerd","Version":"v2.2.0","Details":{"GitCommit":"refs/tags/v2.2.0"}},{"Name":"runc","Version":"1.3.0","Details":{"GitCommit":""}},{"Name":"docker-init","Version":"0.19.0","Details":{"GitCommit":""}}],"Version":"28.5.1","ApiVersion":"1.51","MinAPIVersion":"1.24","GitCommit":"v28.5.1","GoVersion":"go1.25.4","Os":"linux","Arch":"amd64","KernelVersion":"6.17.8","BuildTime":"1980-01-01T00:00:00.000000000+00:00"}
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdock[...]
- request:
    body: |
      {"Id":"sha256:b9ec1b046ffe1e8ade5b133654b5c81c9f9f05270ec3bb06322fd31c891093ab","RepoTags":["paketobuildpacks/builder-jammy-base:latest"],"RepoDigests":["paketobuildpacks/builder-jammy-base@sha256:18da82f2a9aecc4bca22762be6309059392282b0b22541b527b68a248945636a"],"Parent":"","Comment":"","Created":"1980-01-01T00:00:01Z","DockerVersion":"","Author":"","Architecture":"amd64","Os":"linux","Size":3118502372,"GraphDriver":{"Data":{"LowerDir":"/var/lib/docker/overlay2/f7aa179b301c551e656e3d0ec991b7e70cc62305c0293104bb5b0e587cc7fde6/diff:/var/lib/docker/overlay2/b53a12d849b82a8f260427e82f7ca1722b19ea2e94b59c47dcaa0636e921c06f/diff:/var/lib/docker/overlay2/85c722e49f0eb8d2ce9a1c849d5547080b0a752721b9df3a95b84d609358faad/diff:/var/lib/docker/overlay2/bfb3320cfaabab834a218a31d6b179b136e3b7d577ac81ce6d2e56968f5b30e8/diff:/var/lib/docker/overlay2/c6d53049aacf215136e6f978f096dad0d3097b955be16f584a55bbc33bac0b9f/diff:/var/lib/docker/overlay2[...]
- request:
    body: |
      [{"Comment":"","Created":315532801,"CreatedBy":"","Id":"sha256:b9ec1b046ffe1e8ade5b133654b5c81c9f9f05270ec3bb06322fd31c891093ab","Size":0,"Tags":["paketobuildpacks/builder-jammy-base:latest"]},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":78,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":79,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":816,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":64928620,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":64932717,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":49826669,"Tags":null},{"Comment":[...]
- request:
    body: "{\"status\":\"Pulling from paketobuildpacks/run-jammy-base\",\"id\":\"latest\"}\r\n{\"status\":\"Digest:
      sha256:3df61c6af47ac98f3132352cff29aa684d5fbb9c6ef6543844d91ef82c28073e\"}\r\n{\"status\":\"Status:
      Image is up to date for paketobuildpacks/run-jammy-base:latest\"}\r\n"
    form: {}
    headers:
      X-Registry-Auth:
      - eyJhdXRoIjoiT2c9PSJ9
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.51/images/create?fromImage=docker.io%2Fpaketobuildpacks%2Frun-jammy-base&platform=linux%2Famd64&tag=latest
    method: POST
  response:
    body: "{\"status\":\"Pulling from paketobuildpacks/run-jammy-base\",\"id\":\"latest\"}\r\n{\"status\":\"Digest:
      sha256:3df61c6af47ac98f3132352cff29aa684d5fbb9c6ef6543844d91ef82c28073e\"}\r\n{\"status\":\"Status:
      Image is up to date for paketobuildpacks/run-jammy-base:latest\"}\r\n"
    headers:
      Api-Version:
      - "1.51"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"Id":"sha256:bd58da2ffeddf8c0af4d3123d1115bc83b93b3c508a5beff6d470099ca784f0d","RepoTags":["paketobuildpacks/run-jammy-base:latest"],"RepoDigests":["paketobuildpacks/run-jammy-base@sha256:3df61c6af47ac98f3132352cff29aa684d5fbb9c6ef6543844d91ef82c28073e"],"Parent":"","Comment":"","Created":"2025-12-08T04:43:30.878371044Z","DockerVersion":"","Author":"","Architecture":"amd64","Os":"linux","Size":109483652,"GraphDriver":{"Data":{"LowerDir":"/var/lib/docker/overlay2/81200a7826ef679d04d8706c847a251b3083f059047c48d5c2120ec2a605fd36/diff:/var/lib/docker/overlay2/b88bf6b550ed6540de80c5ba1e2c9f373f42ffabdcff6d16db0b3dce26df9cd1/diff:/var/lib/docker/overlay2/013f624f42900dcb7795c96c5c844bfbe7f5cbbcf8b2ea05cb65571f2eaec262/diff","MergedDir":"/var/lib/docker/overlay2/6adfce331b3db64e141116dc65e4f8093c2198f83a0565f50aebe880546a6430/merged","UpperDir":"/var/lib/docker/overlay2/6adfce331b3db64e141116dc65e4f8093c2198f83a0565f50aebe880546a6430/diff","WorkDir":"/var/lib/docker/overlay2/6adfce331b3db64e141116dc65e4f8093c2198f83a0565f50aebe880546a6430/work"},"Name":"overlay2"},"RootFS":{"Type":"layers","Layers":["sha256:73974f74b436f39a2fdb6461b1e3f7c3e41c73325776fa71d16b942a5b4a365b","sha256:c11ee8f96dca1dddff3b0275b59f38593aa5d6585f45185088b869773d2baafe","sha256:6c963d3b99498646b594ba9e3684721b9ad9797a347e4d661828a62214b32a2c","sha256:5c6e39b36b811278e902fa997cdcb4a7cd57e03f2a4359afec25e3afdc62cef0"]},"Metadata":{"LastTagTime":"0001-01-01T00:00:00Z"},"Config":{"Cmd":["/bin/bash"],"Entrypoint":null,"Env":["PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"],"Labels":{"io.buildpacks.stack.description":"ubuntu:jammy with some common dependencies like tzdata and openssl","io.buildpacks.stack.distro.name":"ubuntu","io.buildpacks.stack.distro.version":"22.04","io.buildpacks.stack.homepage":"https://github.com/paketo-buildpacks/jammy-base-stack","io.buildpacks.stack.id":"io.buildpacks.stacks.jammy","io.buildpacks.stack.maintainer":"Paketo Buildpacks","io.buildpacks.stack.metadata":"{}","io.buildpacks.stack.released":"2025-12-08T04:44:03Z","org.opencontainers.image.ref.name":"ubuntu","org.opencontainers.image.version":"22.04"},"OnBuild":null,"User":"1002:1000","Volumes":null,"WorkingDir":""}}
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.51/images/paketobuildpacks/run-jammy-base:latest/json
    method: GET
  response:
    body: |
      {"Id":"sha256:bd58da2ffeddf8c0af4d3123d1115bc83b93b3c508a5beff6d470099ca784f0d","RepoTags":["paketobuildpacks/run-jammy-base:latest"],"RepoDigests":["paketobuildpacks/run-jammy-base@sha256:3df61c6af47ac98f3132352cff29aa684d5fbb9c6ef6543844d91ef82c28073e"],"Parent":"","Comment":"","Created":"2025-12-08T04:43:30.87837104[...]
- request:
    body: |
      [{"Comment":"","Created":-62135596800,"CreatedBy":"","Id":"sha256:bd58da2ffeddf8c0af4d3123d1115bc83b93b3c508a5beff6d470099ca784f0d","Size":505,"Tags":["paketobuildpacks/run-jammy-base:latest"]},{"Comment":"","Created":-62135596800,"CreatedBy":"","Id":"<missing>","Size":1417,"Tags":null},{"Comment":"buildkit.dockerfile.v0","Created":1765169010,"CreatedBy":"RUN |3 sources=    deb http://archive.ubuntu.com/ubuntu jammy main universe multiverse\n    deb http://archive.ub[...]
[...]
- request:
    body: "{\"stream\":\"Loaded image: pack.local/builder/11111111111111111111:latest\\n\"}\r\n"
    form: {}
    headers:
      Content-Type:
      - application/x-tar
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.51/images/load?quiet=1
    method: POST
  response:
    body: "{\"stream\":\"Loaded image: pack.local/builder/11111111111111111111:latest\\n\"}\r\n"
    headers:
      Api-Version:
      - "1.51"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"Id":"sha256:47a95ec04ae8b5ff64d33325d99535c60c288856859587f4cd3c5049b3c25a78","RepoTags":["pack.local/builder/11111111111111111111:latest"],"RepoDigests":[],"Parent":"","Comment":"","Created":"1980-01-01T00:00:01Z","DockerVersion":"","Author":"","Architecture":"amd64","Os":"linux","Size":3118502497,"GraphDriver":{"Data":{"LowerDir":"/var/lib/docker/overlay2/5f76e0948cee0b71b73f3f410a69aebbf4eaf3375e41866f93a34d9e02f93478/diff:/var/lib/docker/overlay2/f3830a9b05d9c7[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.51/images/sha256:47a95ec04ae8b5ff64d33325d99535c60c288856859587f4cd3c5049b3c25a78/tag?repo=pack.local%2Fbuilder%2F11111111111111111111&tag=latest
    method: POST
  response:
    body: ""
    headers:
      Api-Version:
      - "1.51"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"Id":"a2c1b5af8cbc948d73893c8cc276bb2edb909dbe7ce198d4d6f9997df630fb9c","Warning":""}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.51/networks/create
    method: POST
  response:
    body: |
      {"Id":"a2c1b5af8cbc948d73893c8cc276bb2edb909dbe7ce198d4d6f9997df630fb9c","Warning":""}
    headers:
      Api-Version:
      - "1.51"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"Id":"201c65b8c3c084028eb7d93734e4dea2d7e495deb49bda560fab851b65d705f9","Warnings":[]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.51/containers/create
    method: POST
  response:
    body: |
      {"Id":"201c65b8c3c084028eb7d93734e4dea2d7e495deb49bda560fab851b65d705f9","Warnings":[]}
    headers:
      Api-Version:
      - "1.51"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - text/plain
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.51/containers/201c65b8c3c084028eb7d93734e4dea2d7e495deb49bda560fab851b65d705f9/archive?noOverwriteDirNonDir=true&path=%2F
    method: PUT
  response:
    body: ""
    headers:
      Api-Version:
      - "1.51"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.51/containers/201c65b8c3c084028eb7d93734e4dea2d7e495deb49bda560fab851b65d705f9/start
    method: POST
  response:
    body: ""
    headers:
      Api-Version:
      - "1.51"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: !!binary |
      AQAAAAAAABgbWzM2bT09PT4gQU5BTFlaSU5HG1swbQoBAAAAAAAAbEltYWdlIHdpdGggbm
      FtZSAicmcuZnItcGFyLnNjdy5jbG91ZC9mdW5jc2N3Y2xpdGN0bnJkZXBsb3licHpsaW1k
      dXlpL2NsaS10LWN0bnItZGVwbG95LWJwOmxhdGVzdCIgbm90IGZvdW5kCgEAAAAAAAAYG1
      szNm09PT0+IERFVEVDVElORxtbMG0KAQAAAAAAAEp0YXJnZXQgZGlzdHJvIG5hbWUvdmVy
      c2lvbiBsYWJlbHMgbm90IGZvdW5kLCByZWFkaW5nIC9ldGMvb3MtcmVsZWFzZSBmaWxlCg
      EAAAAAAATXPT09PT09PT0gT3V0cHV0OiBwYWtldG8tYnVpbGRwYWNrcy9ub2RlLXJ1bi1z
      [...]
- request:
    body: |
      {"StatusCode":0}
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.51/containers/201c65b8c3c084028eb7d93734e4dea2d7e495deb49bda560fab851b65d705f9/wait?condition=next-exit
    method: POST
  response:
    body: |
      {"StatusCode":0}
    headers:
      Api-Version:
      - "1.51"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.51/containers/201c65b8c3c084028eb7d93734e4dea2d7e495deb49bda560fab851b65d705f9?force=1
    method: DELETE
  response:
    body: ""
    headers:
      Api-Version:
      - "1.51"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.51/networks/pack.local-network-6c70787a767a7961626b
    method: DELETE
  response:
    body: ""
    headers:
      Api-Version:
      - "1.51"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.51/volumes/pack-layers-ahpoxkdnva?force=1
    method: DELETE
  response:
    body: ""
    headers:
      Api-Version:
      - "1.51"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.51/volumes/pack-app-axbujscgxt?force=1
    method: DELETE
  response:
    body: ""
    headers:
      Api-Version:
      - "1.51"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: |
      [{"Untagged":"pack.local/builder/11111111111111111111:latest"},{"Deleted":"sha256:47a95ec04ae8b5ff64d33325d99535c60c288856859587f4cd3c5049b3c25a78"},{"Deleted":"sha256:6fa48a8b9a5a1210f592468a34ff7ccc05ffd0d487e75b02ed743c5bc8c02fb0"},{"Deleted":"sha256:d21179bd0ee699292815562c586a12f8661b0df61abde0d83a1d4e57513a5c0e"},{"Deleted":"sha256:a6cfb361ac0f15d990b5ca8a1a5fd7842e7362e2a55927172945c1684e7c39e5"},{"Deleted":"sha256:18cde52b91c71ea193763b51cd4b590605e92b080f9b02f4dbb584bbe4eeedd1"}]
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.51/images/pack.local/builder/11111111111111111111:latest?force=1&noprune=1
    method: DELETE
  response:
    body: |
      [{"Untagged":"pack.local/builder/11111111111111111111:latest"},{"Deleted":"sha256:47a95ec04ae8b5ff64d33325d99535c60c288856859587f4cd3c5049b3c25a78"},{"Deleted":"sha256:6fa48a8b9a5a1210f592468a34ff7ccc05ffd0d487e75b02ed743c5bc8c02fb0"},{"Deleted":"sha256:d21179bd0ee699292815562c586a12f8661b0df61abde0d83a1d4e57513a5c0e"},{"Deleted":"sha256:a6cfb361ac0f15d990b5ca8a1a5fd7842e7362e2a55927172945c1684e7c39e5"},{"Deleted":"sha256:18cde52b91c71ea193763b51cd4b590605e92b080f9b02f4dbb584bbe4eeedd1"}]
    headers:
      Api-Version:
      - "1.51"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\"status\":\"The push refers to repository [rg.fr-par.scw.cloud/funcscwclitctnrdeploybpzlimduyi/cli-t-ctnr-deploy-bp]\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"83d85471d9f8\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"353fd76ab07b\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"e553d7c9d019\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"f7580b15775a\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"b02dc65251f7\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"f103b1c057a1\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"4c2549957338\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"c7c21870a50e\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"5c6e39b36b81\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"6c963d3b9949\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"c11ee8f96dca\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"73974f74b436\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"f103b1c057a1\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"4c2549957338\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"c7c21870a50e\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"5c6e39b36b81\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"c11ee8f96dca\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"6c963d3b9949\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"73974f74b436\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":512,\"total\":22532},\"progress\":\"[=\\u003e
      \                                                ]     512B/22.53kB\",\"id\":\"f7580b15775a\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":3072,\"total\":284896},\"progress\":\"[\\u003e
      \                                                 ]  3.072kB/284.9kB\",\"id\":\"b02dc65251f7\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":27648,\"total\":22532},\"progress\":\"[==================================================\\u003e]
      \ 27.65kB\",\"id[...]
- request:
    body: '{"containers":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers?name=cli-t-ctnr-deploy-bp&namespace_id=af4f8dde-1587-4cff-86d3-65f068b2d378&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"containers":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"500da0db-72ac-4df4-bd83-531a29c7d1c6", "name":"cli-t-ctnr-deploy-bp",
      "namespace_id":"af4f8dde-1587-4cff-86d3-65f068b2d378", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploybpzlimduyi/cli-t-ctnr-deploy-bp:latest",
      "max_concurrency":50, "domain_name":"clitctnrdeploybpzlimduyi-cli-t-ctnr-deploy-bp.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":8080, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2025-12-15T13:31:27.762152733Z", "updated_at":"2025-12-15T13:31:27.762152733Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"500da0db-72ac-4df4-bd83-531a29c7d1c6", "name":"cli-t-ctnr-deploy-bp",
      "namespace_id":"af4f8dde-1587-4cff-86d3-65f068b2d378", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploybpzlimduyi/cli-t-ctnr-deploy-bp:latest",
      "max_concurrency":50, "domain_name":"clitctnrdeploybpzlimduyi-cli-t-ctnr-deploy-bp.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":8080, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2025-12-15T13:31:27.762152733Z", "updated_at":"2025-12-15T13:31:27.762152733Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"500da0db-72ac-4df4-bd83-531a29c7d1c6", "name":"cli-t-ctnr-deploy-bp",
      "namespace_id":"af4f8dde-1587-4cff-86d3-65f068b2d378", "status":"created", "environment_variables":{},
[...]
