---
version: 1
interactions:
- request:
    body: '{"id":"69ef4ba6-ae2d-4016-8432-b9c7ca5d41fb", "name":"cli-cns-cocky-tesla",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-22T13:23:32.297805197Z", "updated_at":"2025-10-22T13:23:32.297805197Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"69ef4ba6-ae2d-4016-8432-b9c7ca5d41fb", "name":"cli-cns-cocky-tesla",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-22T13:23:32.297805197Z", "updated_at":"2025-10-22T13:23:32.297805197Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"69ef4ba6-ae2d-4016-8432-b9c7ca5d41fb", "name":"cli-cns-cocky-tesla",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-22T13:23:32.297805Z", "updated_at":"2025-10-22T13:23:32.297805Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/69ef4ba6-ae2d-4016-8432-b9c7ca5d41fb
    method: GET
  response:
    body: '{"id":"69ef4ba6-ae2d-4016-8432-b9c7ca5d41fb", "name":"cli-cns-cocky-tesla",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-22T13:23:32.297805Z", "updated_at":"2025-10-22T13:23:32.297805Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"1c72d1fa-ea2d-41b7-b289-1bcf98576999", "name":"cli-test-stupefied-burnell",
      "namespace_id":"69ef4ba6-ae2d-4016-8432-b9c7ca5d41fb", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclicnscockyteslarzbhitkg/cli-test-stupefied-burnell:latest",
      "max_concurrency":50, "domain_name":"clicnscockyteslarzbhitkg-cli-test-stupefied-burnell.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":8080, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2025-10-22T13:23:37.491991204Z", "updated_at":"2025-10-22T13:23:37.491991204Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"1c72d1fa-ea2d-41b7-b289-1bcf98576999", "name":"cli-test-stupefied-burnell",
      "namespace_id":"69ef4ba6-ae2d-4016-8432-b9c7ca5d41fb", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclicnscockyteslarzbhitkg/cli-test-stupefied-burnell:latest",
      "max_concurrency":50, "domain_name":"clicnscockyteslarzbhitkg-cli-test-stupefied-burnell.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":8080, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2025-10-22T13:23:37.491991204Z", "updated_at":"2025-10-22T13:23:37.491991204Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"1c72d1fa-ea2d-41b7-b289-1bcf98576999", "name":"cli-test-stupefied-burnell",
      "namespace_id":"69ef4ba6-ae2d-4016-8432-b9c7ca5d41fb", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclicnscockyteslarzbhitkg/cli-test-stupefied-burnell:latest",
      "max_concurrenc[...]
- request:
    body: '{"id":"1c72d1fa-ea2d-41b7-b289-1bcf98576999", "name":"cli-test-stupefied-burnell",
      "namespace_id":"69ef4ba6-ae2d-4016-8432-b9c7ca5d41fb", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclicnscockyteslarzbhitkg/cli-test-stupefied-burnell:latest",
      "max_concurrenc[...]
[...]
