---
version: 1
interactions:
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=app-cli-test-deploy-poney&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"a627cb3a-1597-4f96-ae9d-2a35d226dfa3", "name":"app-cli-test-deploy-poney",
      "environment_variables":{}, "organization_id":"67d28312-0d7b-4df7-a63c-b347116e4aec",
      "project_id":"67d28312-0d7b-4df7-a63c-b347116e4aec", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"a627cb3a-1597-4f96-ae9d-2a35d226dfa3", "name":"app-cli-test-deploy-poney",
      "environment_variables":{}, "organization_id":"67d28312-0d7b-4df7-a63c-b347116e4aec",
      "project_id":"67d28312-0d7b-4df7-a63c-b347116e4aec", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=app-cli-test-deploy-poney&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"9b607ac5-0b07-4587-ba85-e7da10ade2a0", "name":"app-cli-test-deploy-poney",
      "description":"", "organization_id":"67d28312-0d7b-4df7-a63c-b347116e4aec",
      "project_id":"67d28312-0d7b-4df7-a63c-b347116e4aec", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/app-cli-test-deploy-poney", "is_public":false,
      "size":0, "created_at":"2023-05-05T10:13:40.768582617Z", "updated_at":"2023-05-05T10:13:40.768582617Z",
      "image_count":0, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"9b607ac5-0b07-4587-ba85-e7da10ade2a0", "name":"app-cli-test-deploy-poney",
      "description":"", "organization_id":"67d28312-0d7b-4df7-a63c-b347116e4aec",
      "project_id":"67d28312-0d7b-4df7-a63c-b347116e4aec", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/app-cli-test-deploy-poney", "is_public":false,
      "size":0, "created_at":"2023-05-05T10:13:40.768582617Z", "updated_at":"2023-05-05T10:13:40.768582617Z",
      "image_count":0, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/_ping
    method: HEAD
  response:
    body: ""
    headers:
      Api-Version:
      - "1.41"
      Builder-Version:
      - "2"
      Content-Type:
      - text/plain; charset=utf-8
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\"stream\":\"Step 1/4 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e 8e75cbc5b25c\\n\"}\r\n{\"stream\":\"Step 2/4 : RUN apk add --no-cache
      curl git bash\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e cc2f79f1e37f\\n\"}\r\n{\"stream\":\"Step
      3/4 : COPY ./index.html /usr/share/nginx/html/index.html\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e 47d0ff08a407\\n\"}\r\n{\"stream\":\"Step
      4/4 : EXPOSE 80\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e a59b09856803\\n\"}\r\n{\"aux\":{\"ID\":\"sha256:a59b098568037e15c6fc0f229d307528b8c49aba8e5eb96b148499545907991d\"}}\r\n{\"stream\":\"Successfully
      built a59b09856803\\n\"}\r\n{\"stream\":\"Successfully tagged rg.fr-par.scw.cloud/app-cli-test-deploy-poney/app-cli-test-deploy-poney:latest\\n\"}\r\n"
    form: {}
    headers:
      Content-Type:
      - application/x-tar
      X-Registry-Config:
      - bnVsbA==
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/build?buildargs=null&cachefrom=null&cgroupparent=&cpuperiod=0&cpuquota=0&cpusetcpus=&cpusetmems=&cpushares=0&dockerfile=Dockerfile&labels=null&memory=0&memswap=0&networkmode=&rm=0&shmsize=0&t=rg.fr-par.scw.cloud%2Fapp-cli-test-deploy-poney%2Fapp-cli-test-deploy-poney%3Alatest&target=&ulimits=null&version=
    method: POST
  response:
    body: "{\"stream\":\"Step 1/4 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\[...]
- request:
    body: "{\"status\":\"The push refers to repository [rg.fr-par.scw.cloud/app-cli-test-deploy-poney/app-cli-test-deploy-poney]\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"a06e53d19550\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"f68d9e13e9ec\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"31531248c7cb\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"f9cb3f1f1d3d\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"f0fb842dea41\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"c1cd5c8c68ef\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"1d54586a1706\"}\r\n{\"status\":\[...]
- request:
    body: '{"containers":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers?name=app-cli-test-deploy-poney&namespace_id=a627cb3a-1597-4f96-ae9d-2a35d226dfa3&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"containers":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"03c2184b-ae0a-4414-a628-5718109cc3fc", "name":"app-cli-test-deploy-poney",
      "namespace_id":"a627cb3a-1597-4f96-ae9d-2a35d226dfa3", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":256, "cpu_limit":140, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwappclitestdeployponegekob0mb/app-cli-test-deploy-poney:latest",
      "max_concurrency":50, "domain_name":"appclitestdeployponegekob0mb-app-cli-test-deploy-poney.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":8080, "secret_environment_variables":[], "http_option":"enabled",
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"03c2184b-ae0a-4414-a628-5718109cc3fc", "name":"app-cli-test-deploy-poney",
      "namespace_id":"a627cb3a-1597-4f96-ae9d-2a35d226dfa3", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":256, "cpu_limit":140, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwappclitestdeployponegekob0mb/app-cli-test-deploy-poney:latest",
      "max_concurrency":50, "domain_name":"appclitestdeployponegekob0mb-app-cli-test-deploy-poney.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":8080, "secret_environment_variables":[], "http_option":"enabled",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"03c2184b-ae0a-4414-a628-5718109cc3fc", "name":"app-cli-test-deploy-poney",
      "namespace_id":"a627cb3a-1597-4f96-ae9d-2a35d226dfa3", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":256, "cpu_limit":140, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/app-cli-test-deploy-poney/app-cli-test-deploy-poney:latest",
      "max_concurrency":50, "do[...]
[...]
- request:
    body: '{"id":"03c2184b-ae0a-4414-a628-5718109cc3fc", "name":"app-cli-test-deploy-poney",
      "namespace_id":"a627cb3a-1597-4f96-ae9d-2a35d226dfa3", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":256, "cpu_limit":140, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/app-cli-test-deploy-poney/app-cli-test-deploy-poney:latest",
      "max_concurrency":50, "do[...]
[...]
- request:
    body: '{"id":"a627cb3a-1597-4f96-ae9d-2a35d226dfa3", "name":"app-cli-test-deploy-poney",
      "environment_variables":{}, "organization_id":"67d28312-0d7b-4df7-a63c-b347116e4aec",
      "project_id":"67d28312-0d7b-4df7-a63c-b347116e4aec", "status":"deleting", "registry_namespace_id":"30846eb9-ea7b-4125-9a84-997c037e6340",
      "error_message":null, "registry_endpoint":"rg.fr-par.scw.cloud/funcscwappclitestdeployponegekob0mb",
      "description":"", "secret_environment_variables":[], "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/a627cb3a-1597-4f96-ae9d-2a35d226dfa3
    method: DELETE
  response:
    body: '{"id":"a627cb3a-1597-4f96-ae9d-2a35d226dfa3", "name":"app-cli-test-deploy-poney",
      "environment_variables":{}, "organization_id":"67d28312-0d7b-4df7-a63c-b347116e4aec",
      "project_id":"67d28312-0d7b-4df7-a63c-b347116e4aec", "status":"deleting", "registry_namespace_id":"30846eb9-ea7b-4125-9a84-997c037e6340",
      "error_message":null, "registry_endpoint":"rg.fr-par.scw.cloud/funcscwappclitestdeployponegekob0mb",
      "description":"", "secret_environment_variables":[], "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"Namespace was not found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/a627cb3a-1597-4f96-ae9d-2a35d226dfa3
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"id":"9b607ac5-0b07-4587-ba85-e7da10ade2a0", "name":"app-cli-test-deploy-poney",
      "description":"", "organization_id":"67d28312-0d7b-4df7-a63c-b347116e4aec",
      "project_id":"67d28312-0d7b-4df7-a63c-b347116e4aec", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/app-cli-test-deploy-poney", "is_public":false,
      "size":20550646, "created_at":"2023-05-05T10:13:40.768583Z", "updated_at":"2023-05-05T10:15:03.509560216Z",
      "image_count":1, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/9b607ac5-0b07-4587-ba85-e7da10ade2a0
    method: DELETE
  response:
    body: '{"id":"9b607ac5-0b07-4587-ba85-e7da10ade2a0", "name":"app-cli-test-deploy-poney",
      "description":"", "organization_id":"67d28312-0d7b-4df7-a63c-b347116e4aec",
      "project_id":"67d28312-0d7b-4df7-a63c-b347116e4aec", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/app-cli-test-deploy-poney", "is_public":false,
      "size":20550646, "created_at":"2023-05-05T10:13:40.768583Z", "updated_at":"2023-05-05T10:15:03.509560216Z",
      "image_count":1, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
