---
version: 1
interactions:
- request:
    body: '{"id":"c91e9027-0a66-4d15-9ae4-5943af74b1ef", "name":"cli-test-ctn-update-rg-img-hardcore-banzai",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-hardcore-banzai",
      "is_public":false, "size":0, "created_at":"2025-10-27T14:17:53.140501039Z",
      "updated_at":"2025-10-27T14:17:53.140501039Z", "image_count":0, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"c91e9027-0a66-4d15-9ae4-5943af74b1ef", "name":"cli-test-ctn-update-rg-img-hardcore-banzai",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-hardcore-banzai",
      "is_public":false, "size":0, "created_at":"2025-10-27T14:17:53.140501039Z",
      "updated_at":"2025-10-27T14:17:53.140501039Z", "image_count":0, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"images":[{"id":"1e8975c6-306d-419b-a187-e02def077895", "name":"sebp/lighttpd",
      "namespace_id":"c91e9027-0a66-4d15-9ae4-5943af74b1ef", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":4436608, "created_at":"2025-10-27T14:17:58.269600Z",
      "updated_at":"2025-10-27T14:17:58.498655Z", "tags":["latest"]}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=sebp%2Flighttpd&namespace_id=c91e9027-0a66-4d15-9ae4-5943af74b1ef&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"images":[{"id":"1e8975c6-306d-419b-a187-e02def077895", "name":"sebp/lighttpd",
      "namespace_id":"c91e9027-0a66-4d15-9ae4-5943af74b1ef", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":4436608, "created_at":"2025-10-27T14:17:58.269600Z",
      "updated_at":"2025-10-27T14:17:58.498655Z", "tags":["latest"]}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespaces":[{"id":"681422c2-2605-485d-be8c-4caaba0e40ad", "name":"bidouille",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/bidouille", "is_public":false, "size":125901977,
      "created_at":"2025-10-13T14:51:28.239376Z", "updated_at":"2025-10-27T13:33:56.482308Z",
      "image_count":5, "region":"fr-par"}, {"id":"fa6b9795-60d2-4601-9f3[...]
- request:
    body: '{"images":[{"id":"90bd29a2-468c-44a0-aebb-aa7c5570184f", "name":"nginx",
      "namespace_id":"c91e9027-0a66-4d15-9ae4-5943af74b1ef", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":22583979, "created_at":"2025-10-27T14:18:05.642688Z",
      "updated_at":"2025-10-27T14:18:06.542177Z", "tags":["1.29.2-alpine"]}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=nginx&namespace_id=c91e9027-0a66-4d15-9ae4-5943af74b1ef&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"images":[{"id":"90bd29a2-468c-44a0-aebb-aa7c5570184f", "name":"nginx",
      "namespace_id":"c91e9027-0a66-4d15-9ae4-5943af74b1ef", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":22583979, "created_at":"2025-10-27T14:18:05.642688Z",
      "updated_at":"2025-10-27T14:18:06.542177Z", "tags":["1.29.2-alpine"]}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"7bc2181b-12ca-4497-8714-248420baa927", "name":"cli-cns-upbeat-kilby",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-27T14:18:08.360052069Z", "updated_at":"2025-10-27T14:18:08.360052069Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"7bc2181b-12ca-4497-8714-248420baa927", "name":"cli-cns-upbeat-kilby",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-27T14:18:08.360052069Z", "updated_at":"2025-10-27T14:18:08.360052069Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"7bc2181b-12ca-4497-8714-248420baa927", "name":"cli-cns-upbeat-kilby",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-27T14:18:08.360052Z", "updated_at":"2025-10-27T14:18:08.360052Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/7bc2181b-12ca-4497-8714-248420baa927
    method: GET
  response:
    body: '{"id":"7bc2181b-12ca-4497-8714-248420baa927", "name":"cli-cns-upbeat-kilby",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-27T14:18:08.360052Z", "updated_at":"2025-10-27T14:18:08.360052Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"6d2eea3a-29ac-4bd8-983a-8f4a8400bc35", "name":"cli-test-boring-margulis",
      "namespace_id":"7bc2181b-12ca-4497-8714-248420baa927", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-hardcore-banzai/sebp/lighttpd:latest",
      "max_concurrency":50, "domain_name":"clicnsupbeatkilbyj4rddccg-cli-test-boring-margulis.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":80, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2025-10-27T14:18:18.768925140Z", "updated_at":"2025-10-27T14:18:18.768925140Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"6d2eea3a-29ac-4bd8-983a-8f4a8400bc35", "name":"cli-test-boring-margulis",
      "namespace_id":"7bc2181b-12ca-4497-8714-248420baa927", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-hardcore-banzai/sebp/lighttpd:latest",
      "max_concurrency":50, "domain_name":"clicnsupbeatkilbyj4rddccg-cli-test-boring-margulis.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":80, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2025-10-27T14:18:18.768925140Z", "updated_at":"2025-10-27T14:18:18.768925140Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"6d2eea3a-29ac-4bd8-983a-8f4a8400bc35", "name":"cli-test-boring-margulis",
      "namespace_id":"7bc2181b-12ca-4497-8714-248420baa927", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-hardcore-banzai/sebp/lighttpd:latest",
      "max_concurrency":5[...]
- request:
    body: '{"id":"6d2eea3a-29ac-4bd8-983a-8f4a8400bc35", "name":"cli-test-boring-margulis",
      "namespace_id":"7bc2181b-12ca-4497-8714-248420baa927", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-hardcore-banzai/sebp/lighttpd:latest",
      "max_concurrency":5[...]
[...]
- request:
    body: '{"id":"c91e9027-0a66-4d15-9ae4-5943af74b1ef", "name":"cli-test-ctn-update-rg-img-hardcore-banzai",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-hardcore-banzai",
      "is_public":false, "size":27020587, "created_at":"2025-10-27T14:17:53.140501Z",
      "updated_at":"2025-10-27T14:23:54.220494871Z", "image_count":2, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/c91e9027-0a66-4d15-9ae4-5943af74b1ef
    method: DELETE
  response:
    body: '{"id":"c91e9027-0a66-4d15-9ae4-5943af74b1ef", "name":"cli-test-ctn-update-rg-img-hardcore-banzai",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-hardcore-banzai",
      "is_public":false, "size":27020587, "created_at":"2025-10-27T14:17:53.140501Z",
      "updated_at":"2025-10-27T14:23:54.220494871Z", "image_count":2, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
