---
version: 1
interactions:
- request:
    body: '{"id":"03116f81-a73d-42a8-8eb1-8e334e954a09", "name":"cli-test-ctn-update-rg-img-flamboyant-keller",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-flamboyant-keller",
      "is_public":false, "size":0, "created_at":"2025-10-23T09:10:46.920335214Z",
      "updated_at":"2025-10-23T09:10:46.920335214Z", "image_count":0, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"03116f81-a73d-42a8-8eb1-8e334e954a09", "name":"cli-test-ctn-update-rg-img-flamboyant-keller",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-flamboyant-keller",
      "is_public":false, "size":0, "created_at":"2025-10-23T09:10:46.920335214Z",
      "updated_at":"2025-10-23T09:10:46.920335214Z", "image_count":0, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"images":[{"id":"b458ca01-0371-471b-a421-182f2bb15bf1", "name":"nginx-1-28-0-alpine",
      "namespace_id":"03116f81-a73d-42a8-8eb1-8e334e954a09", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":21002833, "created_at":"2025-10-23T09:11:03.325909Z",
      "updated_at":"2025-10-23T09:11:03.810117Z", "tags":["latest"]}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=nginx-1-28-0-alpine&namespace_id=03116f81-a73d-42a8-8eb1-8e334e954a09&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"images":[{"id":"b458ca01-0371-471b-a421-182f2bb15bf1", "name":"nginx-1-28-0-alpine",
      "namespace_id":"03116f81-a73d-42a8-8eb1-8e334e954a09", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":21002833, "created_at":"2025-10-23T09:11:03.325909Z",
      "updated_at":"2025-10-23T09:11:03.810117Z", "tags":["latest"]}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespaces":[{"id":"681422c2-2605-485d-be8c-4caaba0e40ad", "name":"bidouille",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/bidouille", "is_public":false, "size":121465369,
      "created_at":"2025-10-13T14:51:28.239376Z", "updated_at":"2025-10-21T11:47:43.913707Z",
      "image_count":4, "region":"fr-par"}, {"id":"fa6b9795-60d2-4601-9f3[...]
[...]
- request:
    body: '{"id":"10fb6bd1-4846-41c0-b888-64765a9d8242", "name":"cli-cns-vibrant-neumann",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-23T09:11:25.111301185Z", "updated_at":"2025-10-23T09:11:25.111301185Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"10fb6bd1-4846-41c0-b888-64765a9d8242", "name":"cli-cns-vibrant-neumann",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-23T09:11:25.111301185Z", "updated_at":"2025-10-23T09:11:25.111301185Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"10fb6bd1-4846-41c0-b888-64765a9d8242", "name":"cli-cns-vibrant-neumann",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-23T09:11:25.111301Z", "updated_at":"2025-10-23T09:11:25.111301Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/10fb6bd1-4846-41c0-b888-64765a9d8242
    method: GET
  response:
    body: '{"id":"10fb6bd1-4846-41c0-b888-64765a9d8242", "name":"cli-cns-vibrant-neumann",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-23T09:11:25.111301Z", "updated_at":"2025-10-23T09:11:25.111301Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"1dd62e61-1739-45c2-b8e0-a977245ea1dc", "name":"cli-test-sharp-bouman",
      "namespace_id":"10fb6bd1-4846-41c0-b888-64765a9d8242", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-flamboyant-keller/nginx-1-28-0-alpine:latest",
      "max_concurrency":50, "domain_name":"clicnsvibrantneumannboscmces-cli-test-sharp-bouman.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":80, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2025-10-23T09:11:45.636977400Z", "updated_at":"2025-10-23T09:11:45.636977400Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"1dd62e61-1739-45c2-b8e0-a977245ea1dc", "name":"cli-test-sharp-bouman",
      "namespace_id":"10fb6bd1-4846-41c0-b888-64765a9d8242", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-flamboyant-keller/nginx-1-28-0-alpine:latest",
      "max_concurrency":50, "domain_name":"clicnsvibrantneumannboscmces-cli-test-sharp-bouman.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":80, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2025-10-23T09:11:45.636977400Z", "updated_at":"2025-10-23T09:11:45.636977400Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"1dd62e61-1739-45c2-b8e0-a977245ea1dc", "name":"cli-test-sharp-bouman",
      "namespace_id":"10fb6bd1-4846-41c0-b888-64765a9d8242", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-flamboyant-keller/nginx-1-28-0-alpine:latest",
      "max_concurren[...]
- request:
    body: '{"id":"1dd62e61-1739-45c2-b8e0-a977245ea1dc", "name":"cli-test-sharp-bouman",
      "namespace_id":"10fb6bd1-4846-41c0-b888-64765a9d8242", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-flamboyant-keller/nginx-1-28-0-alpine:latest",
      "max_concurren[...]
[...]
- request:
    body: '{"id":"03116f81-a73d-42a8-8eb1-8e334e954a09", "name":"cli-test-ctn-update-rg-img-flamboyant-keller",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-flamboyant-keller",
      "is_public":false, "size":43586812, "created_at":"2025-10-23T09:10:46.920335Z",
      "updated_at":"2025-10-23T09:12:21.731991061Z", "image_count":2, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/03116f81-a73d-42a8-8eb1-8e334e954a09
    method: DELETE
  response:
    body: '{"id":"03116f81-a73d-42a8-8eb1-8e334e954a09", "name":"cli-test-ctn-update-rg-img-flamboyant-keller",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-flamboyant-keller",
      "is_public":false, "size":43586812, "created_at":"2025-10-23T09:10:46.920335Z",
      "updated_at":"2025-10-23T09:12:21.731991061Z", "image_count":2, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
