---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"namespaces":[],"total_count":0}'
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-s&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200.835029ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"4662a715-78a2-44d9-8552-ea48667566c8","name":"cli-t-ctnr-deploy-s","environment_variables":{},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-08-12T16:39:17.557283827Z","updated_at":"2025-08-12T16:39:17.557283827Z","vpc_integration_activated":false,"region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"4662a715-78a2-44d9-8552-ea48667566c8","name":"cli-t-ctnr-deploy-s","environment_variables":{},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-08-12T16:39:17.557283827Z","updated_at":"2025-08-12T16:39:17.557283827Z","vpc_integration_activated":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.015362861s
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"4662a715-78a2-44d9-8552-ea48667566c8","name":"cli-t-ctnr-deploy-s","environment_variables":{},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-08-12T16:39:17.557284Z","updated_at":"2025-08-12T16:39:17.557284Z","vpc_integration_activated":false,"region":"fr-par"}'
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/4662a715-78a2-44d9-8552-ea48667566c8
        method: GET
      response:
        body: '{"id":"4662a715-78a2-44d9-8552-ea48667566c8","name":"cli-t-ctnr-deploy-s","environment_variables":{},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-08-12T16:39:17.557284Z","updated_at":"2025-08-12T16:39:17.557284Z","vpc_integration_activated":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.313501ms
[...]
    - id: 4
      request:
        host: api.moby.localhost
        body: ""
        form: {}
        headers: {}
        url: http:///var/run/docker.sock/_ping
        method: HEAD
      response:
        body: ""
        headers:
            Api-Version:
                - "1.47"
            Builder-Version:
                - "2"
            Content-Type:
                - text/plain; charset=utf-8
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
            Swarm:
                - inactive
        status: 200 OK
        code: 200
        duration: 482.376µs
    - id: 5
      request:
        host: api.moby.localhost
        body: "{\"stream\":\"Step 1/4 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e 6769dc3a703c\\n\"}\r\n{\"stream\":\"Step 2/4 : RUN apk add --no-cache curl git bash\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e 90c527519f03\\n\"}\r\n{\"stream\":\"Step 3/4 : COPY ./index.html /usr/share/nginx/html/index.html\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e d745d9ef0d1a\\n\"}\r\n{\"stream\":\"Step 4/4 : EXPOSE 80\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e 01d19f1f67fe\\n\"}\r\n{\"aux\":{\"ID\":\"sha256:01d19f1f67fe6af99d4f40a3c5bc969774fb12ae9d067cabb12a5f4704f15b8a\"}}\r\n{\"stream\":\"Successfully built 01d19f1f67fe\\n\"}\r\n{\"stream\":\"Successfully tagged rg.fr-par.scw.cloud/funcscwclitctnrdeploys2shkyxjo/cli-t-ctnr-deploy-s:latest\\n\"}\r\n"
        form: {}
        headers:
            Content-Type:
                - application/x-tar
            X-Registry-Config:
                - bnVsbA==
        url: http:///var/run/docker.sock/v1.47/build?buildargs=null&cachefrom=null&cgroupparent=&cpuperiod=0&cpuquota=0&cpusetcpus=&cpusetmems=&cpushares=0&dockerfile=Dockerfile&labels=null&memory=0&memswap=0&networkmode=&rm=0&shmsize=0&t=rg.fr-par.scw.cloud%2Ffuncscwclitctnrdeploys2shkyxjo%2Fcli-t-ctnr-deploy-s%3Alatest&target=&ulimits=null&version=
        method: POST
      response:
            - chunked
        body: "{\"stream\":\"Step 1/4 : FROM nginx:alpine\"}[...]
    - id: 6
      request:
        host: api.moby.localhost
        body: "{\"status\":\"The push refers to repository [rg.fr-par.scw.cloud/funcscwclitctnrdeploys2shkyxjo/cli-t-ctnr-deploy-s]\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"e2d2b7085bf9\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"f77a9c7a72e7\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"0d853d50b128\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"947e805a4ac7\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"811a4dbbf4a5\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"b8d7d1d22634\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"e244aa659f61\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"c56f134d3805\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"d71eae0084c1\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"08000c18d16d\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"08000c18d16d\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"d71eae0084c1\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"b8d7d1d22634\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"c56f134d3805\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"e244aa659f61\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":512,\"total\":144},\"progress\":\"[==================================================\\u003e]     512B\",\"id\":\"e2d2b7085bf9\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":4096,\"total\":144},\"progress\":\"[==================================================\\u003e]  4.096kB\",\"id\":\"e2d2b7085bf9\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":512,\"total\":4619},\"progress\":\"[=====\\u003e                                             ]     512B/4.619kB\",\"id\":\"947e805a4ac7\"}\r\n{\"status\"[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"containers":[],"total_count":0}'
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers?name=cli-t-ctnr-deploy-s&namespace_id=4662a715-78a2-44d9-8552-ea48667566c8&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"containers":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.352233ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"id":"e10efc32-9c45-42a2-b435-61513c5ad0f4","name":"cli-t-ctnr-deploy-s","namespace_id":"4662a715-78a2-44d9-8552-ea48667566c8","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":2048,"cpu_limit":1000,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploys2shkyxjo/cli-t-ctnr-deploy-s:latest","max_concurrency":50,"domain_name":"clitctnrdeploys2shkyxjo-cli-t-ctnr-deploy-s.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"enabled","sandbox":"v2","local_storage_limit":1000,"scaling_option":{"concurrent_requests_threshold":50},"created_at":"2025-08-12T16:39:37.093224279Z","updated_at":"2025-08-12T16:39:37.093224279Z","ready_at":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"tags":[],"private_network_id":null,"command":[],"args":[],"region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"e10efc32-9c45-42a2-b435-61513c5ad0f4","name":"cli-t-ctnr-deploy-s","namespace_id":"4662a715-78a2-44d9-8552-ea48667566c8","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":2048,"cpu_limit":1000,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploys2shkyxjo/cli-t-ctnr-deploy-s:latest","max_concurrency":50,"domain_name":"clitctnrdeploys2shkyxjo-cli-t-ctnr-deploy-s.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"enabled","sandbox":"v2","local_storage_limit":1000,"scaling_option":{"concurrent_requests_threshold":50},"created_at":"2025-08-12T16:39:37.093224279Z","updated_at":"2025-08-12T16:39:37.093224279Z","ready_at":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"tags":[],"private_network_id":null,"command":[],"args":[],"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 266.15547ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"id":"e10efc32-9c45-42a2-b435-61513c5ad0f4","name":"cli-t-ctnr-deploy-s","namespace_id":"4662a715-78a2-44d9-8552-ea48667566c8","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":2048,"cpu_limit":1000,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploys2shkyxjo/cli-t-ctnr-deploy-s:latest","max_concurrency"[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"id":"e10efc32-9c45-42a2-b435-61513c5ad0f4","name":"cli-t-ctnr-deploy-s","namespace_id":"4662a715-78a2-44d9-8552-ea48667566c8","status":"pending","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":2048,"cpu_limit":1000,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploys2shkyxjo/cli-t-ctnr-deploy-s:latest","max_concurrency[...]
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"message":"Namespace was not found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/4662a715-78a2-44d9-8552-ea48667566c8
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.876392ms
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"namespaces":[],"total_count":0}'
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-s&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.707712ms
