---
version: 1
interactions:
- request:
    body: '{"namespaces":[],"total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-bp&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"8d87ae29-9c47-4479-aaa9-393bcc2edf1c","name":"cli-t-ctnr-deploy-bp","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"8d87ae29-9c47-4479-aaa9-393bcc2edf1c","name":"cli-t-ctnr-deploy-bp","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"8d87ae29-9c47-4479-aaa9-393bcc2edf1c","name":"cli-t-ctnr-deploy-bp","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/8d87ae29-9c47-4479-aaa9-393bcc2edf1c
    method: GET
  response:
    body: '{"id":"8d87ae29-9c47-4479-aaa9-393bcc2edf1c","name":"cli-t-ctnr-deploy-bp","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/_ping
    method: HEAD
  response:
    body: ""
    headers:
      Api-Version:
      - "1.43"
      Builder-Version:
      - "2"
      Content-Type:
      - text/plain; charset=utf-8
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
      Swarm:
      - inactive
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\"status\":\"Pulling from paketobuildpacks/builder\",\"id\":\"base\"}\r\n{\"status\":\"Digest:
      sha256:17ea21162ba8c7717d3ead3ee3836a368aced7f02f2e59658e52029bd6d149e7\"}\r\n{\"status\":\"Status:
      Image is up to date for paketobuildpacks/builder:base\"}\r\n"
    form: {}
    headers:
      Content-Type:
      - text/plain
      X-Registry-Auth:
      - eyJhdXRoIjoiT2c9PSJ9
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.43/images/create?fromImage=paketobuildpacks%2Fbuilder&tag=base
    method: POST
  response:
    body: "{\"status\":\"Pulling from paketobuildpacks/builder\",\"id\":\"base\"}\r\n{\"status\":\"Digest:
      sha256:17ea21162ba8c7717d3ead3ee3836a368aced7f02f2e59658e52029bd6d149e7\"}\r\n{\"status\":\"Status:
      Image is up to date for paketobuildpacks/builder:base\"}\r\n"
    headers:
      Api-Version:
      - "1.43"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"ID":"3733ff77-8b8e-41a8-a40b-c53a7e48ab8f","Containers":30,"ContainersRunning":0,"ContainersPaused":0,"ContainersStopped":30,"Images":57,"Driver":"overlay2","DriverStatus":[["Backing Filesystem","extfs"],["Supports d_type","true"],["Using metacopy","false"],["Native Overlay Diff","true"],["userxattr","false"]],"Plugins":{"Volume":["local"],"Network":["bridge","host","ipvlan","macvlan","null","overlay"],"Authorization":null,"Log":["awslogs","fluentd","gcplogs","gelf","journald","json-file","local","logentries","splunk","syslog"]},"MemoryLimit":true,"SwapLimit":true,"CpuCfsPeriod":true,"CpuCfsQuota":true,"CPUShares":true,"CPUSet":true,"PidsLimit":true,"IPv4Forwarding":true,"BridgeNfIptables":true,"BridgeNfIp6tables":true,"Debug":false,"NFd":46,"OomKillDisable":false,"NGoroutines":67,"SystemTime":"2023-08-09T13:28:15.720589721Z","LoggingDriver":"json-file","CgroupDriver":"cgroupfs","CgroupVersion":"2","NEventsListener":8,"KernelVersion":"5.15.49-linuxkit-pr","OperatingSystem":"Docker Desktop","OSVersion":"","OSType":"linux","Architecture":"x86_64","IndexServerAddress":"https://index.docker.io/v1/","RegistryConfig":{"AllowNondistributableArtifactsCIDRs":null,"AllowNondistributableArtifactsHostnames":null,"InsecureRegistryCIDRs":["127.0.0.0/8"],"IndexConfigs":{"0.0.0.0:8080":{"Name":"0.0.0.0:8080","Mirrors":[],"Secure":false,"Official":false},"docker.io":{"Name":"docker.io","Mirrors":[],"Secure":true,"Official":true},"hubproxy.docker.internal:5555":{"Name":"hubproxy.docker.internal:5555","Mirrors":[],"Secure":false,"Official":false}},"Mirrors":null},"NCPU":6,"MemTotal":8240779264,"GenericResources":null,"DockerRootDir":"/var/lib/docker","HttpProxy":"http.docker.internal:3128","HttpsProxy":"http.docker.internal:3128","NoProxy":"hubproxy.docker.internal","Name":"docker-desktop","Labels":[],"ExperimentalBuild":false,"ServerVersion":"24.0.2","Runtimes":{"io.containerd.runc.v2":{"path":"runc"},"runc":{"path":"runc"}},"DefaultRuntime":"runc","Swarm":{"NodeID":"","NodeAddr":"","LocalNodeState":"inactive","ControlAvailable":false,"Error":"","RemoteManagers":null},"LiveRestoreEnabled":false,"Isolation":"","InitBinary":"docker-init","ContainerdCommit":{"ID":"3dce8eb055cbb6872793272b4f20ed16117344f8","Expected":"3dce8eb055cbb6872793272b4f20ed16117344f8"},"RuncCommit":{"ID":"v1.1.7-0-g860f061","Expected":"v1.1.7-0-g860f061"},"InitCommit":{"ID":"de40ad0","Expected":"de40ad0"},"SecurityOptions":["name=seccomp,profile=builtin","name=cgroupns"],"Warnings":null}
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.43/info
    method: GET
  response:
    body: |
      {"ID":"3733ff77-8b8e-41a8-a40b-c53a7e48ab8f","Containers":30,"ContainersRunning":0,"ContainersPaused":0,"ContainersStopped":30,"Images":57,"Driver":"overlay2","DriverStatus":[["Backing Filesystem","extfs"],["Supports d_type","true"],["Using metacopy","false"],["Native Overlay Diff","true"],["userxattr","false"]],"Plugins":{"Volume":["local"],"Network":["bridge","[...]
- request:
    body: |
      {"Id":"sha256:050ed48532b2372205a8bded4b0ad65578e02f979ef50cabbc587e7c157bb255","RepoTags":["paketobuildpacks/builder:base"],"RepoDigests":["paketobuildpacks/builder@sha256:17ea21162ba8c7717d3ead3ee3836a368aced7f02f2e59658e52029bd6d149e7"],"Parent":"","Comment":"","Created":"1980-01-01T00:00:01Z","Container":"","ContainerConfig":{"Hostname":"","Domainname":"","User":"","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":null,"Cmd":null,"Image":"","Volumes":null,"WorkingDir":"","Entrypoint":null,"OnBuild":null,"Labels":null},"DockerVersion":"","Author":"","Config":{"Hostname":"","Domainname":"","User":"1000:1000","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":["PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin","CNB_USER_ID=1000","CNB_GROUP_ID=1000","CNB_STACK_ID=io.buildpacks.stacks.bionic"],"Cmd":["/bin/bash"],"Image":"","Volumes":null,"WorkingDir":"/layers","Entrypoint":null,"OnBuild":null,"Labels":{"io.buildpacks.builder.metadata":"{\"description\":\"Ubuntu bionic base image with buildpacks for Java, .NET Core, NodeJS, Go, Python, Ruby, Apache HTTPD, NGINX and Procfile\",\"buildpacks\":[{\"id\":\"paketo-buildpacks/dotnet-core\",\"name\":\"Paketo Buildpack for .NET Core\",\"version\":\"0.38.0\",\"homepage\":\"https://github.com/paketo-buildpacks/dotnet-core\"},{\"id\":\"paketo-buildpacks/ca-certificates\",\"name\":\"Paketo Buildpack for CA Certificates\",\"version\":\"3.6.3\",\"homepage\":\"https://github.com/paketo-buildpacks/ca-certificates\"},{\"id\":\"paketo-buildpacks/dotnet-core-aspnet-runtime\",\"name\":\"Paketo Buildpack for ASP.NET Core Runtime\",\"version\":\"0.3.19\",\"homepage\":\"https://github.com/paketo-buildpacks/dotnet-core-aspnet-runtime\"},{\"id\":\"paketo-buildpacks/dotnet-core-[...]
- request:
    body: |
      [{"Comment":"","Created":315532801,"CreatedBy":"","Id":"sha256:050ed48532b2372205a8bded4b0ad65578e02f979ef50cabbc587e7c157bb255","Size":0,"Tags":["paketobuildpacks/builder:base"]},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":124,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":812,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":21588400,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":4145623,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":28717662,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":5685,"Tags":null},{"Comment[...]
- request:
    body: "{\"status\":\"Pulling from paketobuildpacks/run\",\"id\":\"base-cnb\"}\r\n{\"status\":\"Digest:
      sha256:1af9935d8987fd52b2266d288200c9482d1dd5529860bbf5bc2d248de1cb1a38\"}\r\n{\"status\":\"Status:
      Image is up to date for paketobuildpacks/run:base-cnb\"}\r\n"
    form: {}
    headers:
      Content-Type:
      - text/plain
      X-Registry-Auth:
      - eyJhdXRoIjoiT2c9PSJ9
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.43/images/create?fromImage=paketobuildpacks%2Frun&tag=base-cnb
    method: POST
  response:
    body: "{\"status\":\"Pulling from paketobuildpacks/run\",\"id\":\"base-cnb\"}\r\n{\"status\":\"Digest:
      sha256:1af9935d8987fd52b2266d288200c9482d1dd5529860bbf5bc2d248de1cb1a38\"}\r\n{\"status\":\"Status:
      Image is up to date for paketobuildpacks/run:base-cnb\"}\r\n"
    headers:
      Api-Version:
      - "1.43"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"Id":"sha256:f2e5000af0cb0db7d16a2939fc88c2aa522e91826c0e87ef2a4ec2825b213585","RepoTags":["paketobuildpacks/run:base-cnb"],"RepoDigests":["paketobuildpacks/run@sha256:1af9935d8987fd52b2266d288200c9482d1dd5529860bbf5bc2d248de1cb1a38"],"Parent":"","Comment":"","Created":"2023-06-29T19:41:21.43038979Z","Container":"","ContainerConfig":{"Hostname":"","Domainname":"","User":"","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":null,"Cmd":null,"Image":"","Volumes":null,"WorkingDir":"","Entrypoint":null,"OnBuild":null,"Labels":null},"DockerVersion":"","Author":"","Config":{"Hostname":"","Domainname":"","User":"1000:1000","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":["PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"],"Cmd":["/bin/bash"],"Image":"","Volumes":null,"WorkingDir":"","Entrypoint":null,"OnBuild":null,"Labels":{"io.buildpacks.stack.description":"ubuntu:bionic with some common dependencies like tzdata and openssl","io.buildpacks.stack.distro.name":"ubuntu","io.buildpacks.stack.distro.version":"18.04","io.buildpacks.stack.homepage":"https://github.com/paketo-buildpacks/bionic-base-stack","io.buildpacks.stack.id":"io.buildpacks.stacks.bionic","io.buildpacks.stack.maintainer":"Paketo Buildpacks","io.buildpacks.stack.metadata":"{}","io.buildpacks.stack.mixins":"[\"libaudit1\",\"liblzma5\",\"libncurses5\",\"passwd\",\"zlib1g\",\"dpkg\",\"libgcrypt20\",\"libdebconfclient0\",\"liblz4-1\",\"libbz2-1.0\",\"gcc-8-base\",\"gpgv\",\"base-passwd\",\"libudev1\",\"mount\",\"sed\",\"libpam-modules-bin\",\"libseccomp2\",\"libss2\",\"tar\",\"sysvinit-utils\",\"grep\",\"libcap-ng0\",\"libcom-err2\",\"libext2fs2\",\"libgcc1\",\"locales\",\"netbase\",\"libblkid1\",\"libuuid1\",\"mawk\",\"libgmp10\",\"libsepol1\",\"findutils\",\"libffi6\",\"libidn2-0\",\"login\",\"dash\",\"libc-bin\",\"libselinux1\",\"tzdata\",\"diffutils\",\"libpam-modules\",\"libpam0g\",\"libpcre3\",\"libyaml-0-2\",\"openssl\",\"libc6\",\"ncurses-bin\",\"libaudit-common\",\"libncursesw5\",\"gzip\",\"libzstd1\",\"fdisk\",\"libapt-pkg5.0\",\"lsb-base\",\"ca-certificates\",\"libattr1\",\"perl-base\",\"ubuntu-keyring\",\"apt\",\"libprocps6\",\"debianutils\",\"libtasn1-6\",\"libtinfo5\",\"adduser\",\"init-system-helpers\",\"libsemanage1\",\"bash\",\"hostname\",\"libdb5.3\",\"libsmartcols1\",\"bzip2\",\"e2fsprogs\",\"libgnutls30\",\"libsystemd0\",\"libunistring2\",\"libsemanage-common\",\"libgpg-error0\",\"procps\",\"libexpat1\",\"libacl1\",\"libfdisk1\",\"ncurses-base\",\"sensible-utils\",\"util-linux\",\"bsdutils\",\"debconf\",\"libhogweed4\",\"libnettle6\",\"libp11-kit0\",\"base-files\",\"libmount1\",\"libpam-runtime\",\"coreutils\",\"libstdc++6\",\"libssl1.1\"]","io.buildpacks.stack.released":"2023-06-29T19:41:56Z","io.paketo.stack.packages":"[{\"name\":\"adduser\",\"version\":\"3.116ubuntu1\",\"arch\":\"all\",\"source\":{\"name\":\"\"},\"summary\":\"add and remove users and groups\"},{\"name\":\"apt\",\"version\":\"1.6.17\",\"arch\":\"amd64\",\"source\":{\"name\":\"\"},\"summary\":\"commandline package manager\"},{\"name\":\"base-files\",\"version\":\"10.1ubuntu2.11\",\"arch\":\"amd64\",\"source\":{\"name\":\"\"},\"summary\":\"Debian base system miscellaneous files\"},{\"name\":\"base-passwd\",\"version\":\"3.5.44\",\"arch\":\"amd64\",\"source\":{\"name\":\"\"},\"summary\":\"Debian base system master password and group files\"},{\"name\":\"bash\",\"version\":\"4.4.18-2ubuntu1.3\",\"arch\":\"amd64\",\"source\":{\"name\":\"\"},\"summary\":\"GNU Bourne Again SHell\"},{\"name\":\"bsdutils\",\"version\":\"1:2.31.1-0.4ubuntu3.7\",\"arch\":\"amd64\",\"source\":{\"name\":\"util-linux\",\"version\":\"2.31.1-0.4ubuntu3.7\",\"upstreamVersion\":\"2.31.1\"},\"summary\":\"basic utilities from 4.4BSD-Lite\"},{\"name\":\"bzip2\",\"version\":\"1.0.6-8.1ubuntu0.2\",\"arch\":\"amd64\",\"source\":{\"name\":\"\"},\"summary\":\"high-quality block-sorting file compressor - utilities\"},{\"name\":\"ca-certificates\",\"version\":\"20230311ubuntu0.18.04.1\",\"arch\":\"all\",\"source\":{\"name\":\"\"},\"summary\":\"Common CA certificates\"},{\"name\":\"coreutils\",\"version\":\"8.28-1ubuntu1\",\"arch\":\"amd64\",\"source\":{\"name\":\"\"},\"summary\"[...]
- request:
    body: |
      [{"Comment":"","Created":-62135596800,"CreatedBy":"","Id":"sha256:f2e5000af0cb0db7d16a2939fc88c2aa522e91826c0e87ef2a4ec2825b213585","Size":509,"Tags":["paketobuildpacks/run:base-cnb"]},{"Comment":"","Created":-62135596800,"CreatedBy":"","Id":"<missing>","Size":1421,"Tags":null},{"Comment":"buildkit.dockerfile.v0","Created":1688067681,"CreatedBy":"RUN |3 sources=    deb http://archive.ubuntu.com/ubuntu bionic main universe multiverse\n    deb http://archive.ubuntu.com[...]
- request:
    body: "{\"stream\":\"Loaded image: pack.local/builder/11111111111111111111:latest\\n\"}\r\n"
    form: {}
    headers:
      Content-Type:
      - application/x-tar
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.43/images/load?quiet=1
    method: POST
  response:
    body: "{\"stream\":\"Loaded image: pack.local/builder/11111111111111111111:latest\\n\"}\r\n"
    headers:
      Api-Version:
      - "1.43"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"Id":"sha256:3b49f61003390882042b9f5e7713bd826b3b2fe93728edbdf973de79712971f0","RepoTags":["pack.local/builder/11111111111111111111:latest","pack.local/builder/11111111111111111111:latest","pack.local/builder/11111111111111111111:latest","pack.local/builder/11111111111111111111:latest","pack.local/builder/11111111111111111111:latest","pack.local/builder/11111111111111111111:latest","pack.local/builder/11111111111111111111:latest","pack.local/builder/1111111111111111[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - text/plain
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.43/images/sha256:3b49f61003390882042b9f5e7713bd826b3b2fe93728edbdf973de79712971f0/tag?repo=pack.local%2Fbuilder%2F11111111111111111111&tag=latest
    method: POST
  response:
    body: ""
    headers:
      Api-Version:
      - "1.43"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"Id":"8f709ad9dbe47acdca86d3115b414705d0cc92a696c19e62520f1ca83d04ba80","Warnings":[]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.43/containers/create
    method: POST
  response:
    body: |
      {"Id":"8f709ad9dbe47acdca86d3115b414705d0cc92a696c19e62520f1ca83d04ba80","Warnings":[]}
    headers:
      Api-Version:
      - "1.43"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - text/plain
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.43/containers/8f709ad9dbe47acdca86d3115b414705d0cc92a696c19e62520f1ca83d04ba80/archive?noOverwriteDirNonDir=true&path=%2F
    method: PUT
  response:
    body: ""
    headers:
      Api-Version:
      - "1.43"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - text/plain
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.43/containers/8f709ad9dbe47acdca86d3115b414705d0cc92a696c19e62520f1ca83d04ba80/start
    method: POST
  response:
    body: ""
    headers:
      Api-Version:
      - "1.43"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: !!binary |
      AQAAAAAAABgbWzM2bT09PT4gQU5BTFlaSU5HG1swbQoBAAAAAAAAhEltYWdlIHdpdGggbm
      FtZSAicmcuZnItcGFyLnNjdy5jbG91ZC9mdW5jc2N3Y2xpdGN0bnJkZXBsb3licHNtaHph
      a2x3L2NsaS10LWN0bnItZGVwbG95LWJwOmxhdGVzdCIgbm90IGZvdW5kChtbMzZtPT09Pi
      BERVRFQ1RJTkcbWzBtCgEAAAAAAATtPT09PT09PT0gT3V0cHV0OiBwYWtldG8tYnVpbGRw
      YWNrcy9ub2RlLXJ1bi1zY3JpcHRAMS4wLjEwID09PT09PT09CmNvdWxkIG5vdCBmaW5kIH
      NjcmlwdChzKSBbYnVpbGRdIGluIHBhY2thZ2UuanNvbgplcnI6ICBwYWtldG8tYnVpbGRw
      [...]
- request:
    body: |
      {"StatusCode":0}
    form: {}
    headers:
      Content-Type:
      - text/plain
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.43/containers/8f709ad9dbe47acdca86d3115b414705d0cc92a696c19e62520f1ca83d04ba80/wait?condition=next-exit
    method: POST
  response:
    body: |
      {"StatusCode":0}
    headers:
      Api-Version:
      - "1.43"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.43/containers/8f709ad9dbe47acdca86d3115b414705d0cc92a696c19e62520f1ca83d04ba80?force=1
    method: DELETE
  response:
    body: ""
    headers:
      Api-Version:
      - "1.43"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.43/volumes/pack-layers-bnwmrwykdm?force=1
    method: DELETE
  response:
    body: ""
    headers:
      Api-Version:
      - "1.43"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.43/volumes/pack-app-jxnybeyqnx?force=1
    method: DELETE
  response:
    body: ""
    headers:
      Api-Version:
      - "1.43"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: |
      [{"Untagged":"pack.local/builder/11111111111111111111:latest"}]
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.43/images/pack.local/builder/11111111111111111111:latest?force=1&noprune=1
    method: DELETE
  response:
    body: |
      [{"Untagged":"pack.local/builder/11111111111111111111:latest"}]
    headers:
      Api-Version:
      - "1.43"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\"status\":\"The push refers to repository [rg.fr-par.scw.cloud/funcscwclitctnrdeploybpsmhzaklw/cli-t-ctnr-deploy-bp]\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"83d85471d9f8\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"1e57d09462bc\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"8812c86dc680\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"b74a3e3c70c5\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"316102a103dc\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"b8fb2917be3a\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"29cf954d38f0\"}\r\n{\"status\":\[...]
- request:
    body: '{"containers":[],"total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers?name=cli-t-ctnr-deploy-bp&namespace_id=8d87ae29-9c47-4479-aaa9-393bcc2edf1c&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"containers":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"a7a81a01-821e-4547-ba3d-42314c5b3785","name":"cli-t-ctnr-deploy-bp","namespace_id":"8d87ae29-9c47-4479-aaa9-393bcc2edf1c","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploybpsmhzaklw/cli-t-ctnr-deploy-bp:latest","max_concurrency":50,"domain_name":"clitctnrdeploybpsmhzaklw-cli-t-ctnr-deploy-bp.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"enabled","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"a7a81a01-821e-4547-ba3d-42314c5b3785","name":"cli-t-ctnr-deploy-bp","namespace_id":"8d87ae29-9c47-4479-aaa9-393bcc2edf1c","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploybpsmhzaklw/cli-t-ctnr-deploy-bp:latest","max_concurrency":50,"domain_name":"clitctnrdeploybpsmhzaklw-cli-t-ctnr-deploy-bp.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"enabled","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"a7a81a01-821e-4547-ba3d-42314c5b3785","name":"cli-t-ctnr-deploy-bp","namespace_id":"8d87ae29-9c47-4479-aaa9-393bcc2edf1c","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploybpsmhzaklw/cli-t-ctnr-deploy-bp:latest","max_concurrency":50,"domain_name":"clitctnrdeploybpsmhzaklw-cli-t-[...]
[...]
- request:
    body: '{"id":"a7a81a01-821e-4547-ba3d-42314c5b3785","name":"cli-t-ctnr-deploy-bp","namespace_id":"8d87ae29-9c47-4479-aaa9-393bcc2edf1c","status":"pending","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploybpsmhzaklw/cli-t-ctnr-deploy-bp:latest","max_concurrency":50,"domain_name":"clitctnrdeploybpsmhzaklw-cli-t-[...]
[...]
- request:
    body: '{"message":"Namespace was not found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/8d87ae29-9c47-4479-aaa9-393bcc2edf1c
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"namespaces":[],"total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-bp&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
