---
version: 1
interactions:
- request:
    body: '{"namespaces":[{"id":"bae80efe-e92e-404f-b0a5-1abda3a6f7df", "name":"cli-test-container-deploy-bp",
      "environment_variables":{}, "organization_id":"67d28312-0d7b-4df7-a63c-b347116e4aec",
      "project_id":"67d28312-0d7b-4df7-a63c-b347116e4aec", "status":"ready", "registry_namespace_id":"81ba7fe9-735a-4217-80e7-14f2a92aca69",
      "error_message":null, "registry_endpoint":"rg.fr-par.scw.cloud/funcscwclitestcontainerdepl7c5rqg2x",
      "description":"", "secret_environment_variables":[], "region":"fr-par"}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-test-container-deploy-bp&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[{"id":"bae80efe-e92e-404f-b0a5-1abda3a6f7df", "name":"cli-test-container-deploy-bp",
      "environment_variables":{}, "organization_id":"67d28312-0d7b-4df7-a63c-b347116e4aec",
      "project_id":"67d28312-0d7b-4df7-a63c-b347116e4aec", "status":"ready", "registry_namespace_id":"81ba7fe9-735a-4217-80e7-14f2a92aca69",
      "error_message":null, "registry_endpoint":"rg.fr-par.scw.cloud/funcscwclitestcontainerdepl7c5rqg2x",
      "description":"", "secret_environment_variables":[], "region":"fr-par"}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/_ping
    method: HEAD
  response:
    body: ""
    headers:
      Api-Version:
      - "1.41"
      Builder-Version:
      - "2"
      Content-Type:
      - text/plain; charset=utf-8
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\"status\":\"Pulling from paketobuildpacks/builder\",\"id\":\"base\"}\r\n{\"status\":\"Digest:
      sha256:a7e8b473dd368b6251c2389e25a6a6555a83d826726e31e511460bb85b51fe45\"}\r\n{\"status\":\"Status:
      Image is up to date for paketobuildpacks/builder:base\"}\r\n"
    form: {}
    headers:
      Content-Type:
      - text/plain
      X-Registry-Auth:
      - eyJhdXRoIjoiT2c9PSJ9
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/images/create?fromImage=paketobuildpacks%2Fbuilder&tag=base
    method: POST
  response:
    body: "{\"status\":\"Pulling from paketobuildpacks/builder\",\"id\":\"base\"}\r\n{\"status\":\"Digest:
      sha256:a7e8b473dd368b6251c2389e25a6a6555a83d826726e31e511460bb85b51fe45\"}\r\n{\"status\":\"Status:
      Image is up to date for paketobuildpacks/builder:base\"}\r\n"
    headers:
      Api-Version:
      - "1.41"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"ID":"ERDT:S6HN:AR5V:E75P:URLZ:DTKZ:55QD:AMDX:QQQS:JSPA:QWU5:TVK2","Containers":9,"ContainersRunning":3,"ContainersPaused":0,"ContainersStopped":6,"Images":42,"Driver":"overlay2","DriverStatus":[["Backing Filesystem","extfs"],["Supports d_type","true"],["Native Overlay Diff","true"],["userxattr","false"]],"Plugins":{"Volume":["local"],"Network":["bridge","host","ipvlan","macvlan","null","overlay"],"Authorization":null,"Log":["awslogs","fluentd","gcplogs","gelf","journald","json-file","local","logentries","splunk","syslog"]},"MemoryLimit":true,"SwapLimit":true,"KernelMemory":false,"KernelMemoryTCP":false,"CpuCfsPeriod":true,"CpuCfsQuota":true,"CPUShares":true,"CPUSet":true,"PidsLimit":true,"IPv4Forwarding":true,"BridgeNfIptables":true,"BridgeNfIp6tables":true,"Debug":false,"NFd":95,"OomKillDisable":false,"NGoroutines":115,"SystemTime":"2023-05-05T10:09:55.376058672Z","LoggingDriver":"json-file","CgroupDriver":"cgroupfs","CgroupVersion":"2","NEventsListener":10,"KernelVersion":"5.15.49-linuxkit","OperatingSystem":"Docker Desktop","OSVersion":"","OSType":"linux","Architecture":"x86_64","IndexServerAddress":"https://index.docker.io/v1/","RegistryConfig":{"AllowNondistributableArtifactsCIDRs":[],"AllowNondistributableArtifactsHostnames":[],"InsecureRegistryCIDRs":["127.0.0.0/8"],"IndexConfigs":{"0.0.0.0:8080":{"Name":"0.0.0.0:8080","Mirrors":[],"Secure":false,"Official":false},"docker.io":{"Name":"docker.io","Mirrors":[],"Secure":true,"Official":true},"hubproxy.docker.internal:5555":{"Name":"hubproxy.docker.internal:5555","Mirrors":[],"Secure":false,"Official":false}},"Mirrors":[]},"NCPU":6,"MemTotal":8240787456,"GenericResources":null,"DockerRootDir":"/var/lib/docker","HttpProxy":"http.docker.internal:3128","HttpsProxy":"http.docker.internal:3128","NoProxy":"hubproxy.docker.internal","Name":"docker-desktop","Labels":[],"ExperimentalBuild":false,"ServerVersion":"20.10.24","Runtimes":{"io.containerd.runc.v2":{"path":"runc"},"io.containerd.runtime.v1.linux":{"path":"runc"},"runc":{"path":"runc"}},"DefaultRuntime":"runc","Swarm":{"NodeID":"","NodeAddr":"","LocalNodeState":"inactive","ControlAvailable":false,"Error":"","RemoteManagers":null},"LiveRestoreEnabled":false,"Isolation":"","InitBinary":"docker-init","ContainerdCommit":{"ID":"2456e983eb9e37e47538f59ea18f2043c9a73640","Expected":"2456e983eb9e37e47538f59ea18f2043c9a73640"},"RuncCommit":{"ID":"v1.1.4-0-g5fd4c4d","Expected":"v1.1.4-0-g5fd4c4d"},"InitCommit":{"ID":"de40ad0","Expected":"de40ad0"},"SecurityOptions":["name=seccomp,profile=default","name=cgroupns"],"Warnings":null}
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/info
    method: GET
  response:
    body: |
      {"ID":"ERDT:S6HN:AR5V:E75P:URLZ:DTKZ:55QD:AMDX:QQQS:JSPA:QWU5:TVK2","Containers":9,"ContainersRunning":3,"ContainersPaused":0,"ContainersStopped":6,"Images":42,"Driver":"overlay2","DriverStatus":[["Backing Filesystem","extfs"],["Supports d_type","true"],["Native Overlay Diff","true"],["userxattr","false"]],"Plugins":{"Volume":["local"],"Network":["bridge","host",[...]
- request:
    body: |
      {"Id":"sha256:f7ff217df5d39096ccdab9afe0f12b30cd27c5ff0a87ff1d2dee9591c4e82b64","RepoTags":["paketobuildpacks/builder:base"],"RepoDigests":["paketobuildpacks/builder@sha256:a7e8b473dd368b6251c2389e25a6a6555a83d826726e31e511460bb85b51fe45"],"Parent":"","Comment":"","Created":"1980-01-01T00:00:01Z","Container":"","ContainerConfig":{"Hostname":"","Domainname":"","User":"","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":null,"Cmd":null,"Image":"","Volumes":null,"WorkingDir":"","Entrypoint":null,"OnBuild":null,"Labels":null},"DockerVersion":"","Author":"","Config":{"Hostname":"","Domainname":"","User":"1000:1000","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":["PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin","CNB_USER_ID=1000","CNB_GROUP_ID=1000","CNB_STACK_ID=io.buildpacks.stacks.bionic"],"Cmd":["/bin/bash"],"Image":"","Volumes":null,"WorkingDir":"/layers","Entrypoint":null,"OnBuild":null,"Labels":{"io.buildpacks.builder.metadata":"{\"description\":\"Ubuntu bionic base image with buildpacks for Java, .NET Core, NodeJS, Go, Python, Ruby, Apache HTTPD, NGINX and Procfile\",\"buildpacks\":[{\"id\":\"paketo-buildpacks/dotnet-core\",\"name\":\"Paketo Buildpack for .NET Core\",\"version\":\"0.36.1\",\"homepage\":\"https://github.com/paketo-buildpacks/dotnet-core\"},{\"id\":\"paketo-buildpacks/ca-certificates\",\"name\":\"Paketo Buildpack for CA Certificates\",\"version\":\"3.6.1\",\"homepage\":\"https://github.com/paketo-buildpacks/ca-certificates\"},{\"id\":\"paketo-buildpacks/dotnet-core-aspnet-runtime\",\"name\":\"Paketo Buildpack for ASP.NET Core Runtime\",\"version\":\"0.3.12\",\"homepage\":\"https://github.com/paketo-buildpacks/dotnet-core-aspnet-runtime\"},{\"id\":\"paketo-buildpacks/dotnet-core-[...]
- request:
    body: "{\"status\":\"Pulling from paketobuildpacks/run\",\"id\":\"base-cnb\"}\r\n{\"status\":\"Digest:
      sha256:f30b94d1acc0ccd74c416b4c83b59081f9f51a92a80e33793a43eb4f0afe4ceb\"}\r\n{\"status\":\"Status:
      Image is up to date for paketobuildpacks/run:base-cnb\"}\r\n"
    form: {}
    headers:
      Content-Type:
      - text/plain
      X-Registry-Auth:
      - eyJhdXRoIjoiT2c9PSJ9
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/images/create?fromImage=paketobuildpacks%2Frun&tag=base-cnb
    method: POST
  response:
    body: "{\"status\":\"Pulling from paketobuildpacks/run\",\"id\":\"base-cnb\"}\r\n{\"status\":\"Digest:
      sha256:f30b94d1acc0ccd74c416b4c83b59081f9f51a92a80e33793a43eb4f0afe4ceb\"}\r\n{\"status\":\"Status:
      Image is up to date for paketobuildpacks/run:base-cnb\"}\r\n"
    headers:
      Api-Version:
      - "1.41"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"Id":"sha256:dd974fc40e68bcfa3eaefe3f771812dca31c6980ad056af569fb34c38f930b2f","RepoTags":["paketobuildpacks/run:base-cnb"],"RepoDigests":["paketobuildpacks/run@sha256:f30b94d1acc0ccd74c416b4c83b59081f9f51a92a80e33793a43eb4f0afe4ceb"],"Parent":"","Comment":"","Created":"2023-05-01T12:12:10.359730829Z","Container":"","ContainerConfig":{"Hostname":"","Domainname":"","User":"","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":null,"Cmd":null,"Image":"","Volumes":null,"WorkingDir":"","Entrypoint":null,"OnBuild":null,"Labels":null},"DockerVersion":"","Author":"","Config":{"Hostname":"","Domainname":"","User":"1000:1000","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":["PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"],"Cmd":["/bin/bash"],"Image":"","Volumes":null,"WorkingDir":"","Entrypoint":null,"OnBuild":null,"Labels":{"io.buildpacks.stack.description":"ubuntu:bionic with some common dependencies like tzdata and openssl","io.buildpacks.stack.distro.name":"ubuntu","io.buildpacks.stack.distro.version":"18.04","io.buildpacks.stack.homepage":"https://github.com/paketo-buildpacks/bionic-base-stack","io.buildpacks.stack.id":"io.buildpacks.stacks.bionic","io.buildpacks.stack.maintainer":"Paketo Buildpacks","io.buildpacks.stack.metadata":"{}","io.buildpacks.stack.mixins":"[\"libseccomp2\",\"fdisk\",\"libaudit1\",\"libsemanage1\",\"gpgv\",\"libacl1\",\"libidn2-0\",\"mawk\",\"ncurses-bin\",\"e2fsprogs\",\"libsepol1\",\"libsystemd0\",\"libpam0g\",\"libaudit-common\",\"libgcc1\",\"libunistring2\",\"libcap-ng0\",\"libpam-runtime\",\"libpcre3\",\"gzip\",\"libblkid1\",\"libnettle6\",\"libtasn1-6\",\"dpkg\",\"openssl\",\"libgnutls30\",\"sensible-utils\",\"libzstd1\",\"mount\",\"libext2fs2\",\"libdb5.3\",\"libuuid1\",\"tzdata\",\"init-system-helpers\",\"ca-certificates\",\"libhogweed4\",\"libss2\",\"ncurses-base\",\"libcom-err2\",\"libgcrypt20\",\"debconf\",\"libdebconfclient0\",\"libselinux1\",\"libsemanage-common\",\"locales\",\"login\",\"coreutils\",\"libprocps6\",\"sed\",\"libmount1\",\"zlib1g\",\"diffutils\",\"perl-base\",\"libp11-kit0\",\"hostname\",\"lsb-base\",\"debianutils\",\"libpam-modules-bin\",\"libyaml-0-2\",\"gcc-8-base\",\"libtinfo5\",\"libgpg-error0\",\"liblzma5\",\"libssl1.1\",\"bash\",\"findutils\",\"passwd\",\"sysvinit-utils\",\"bzip2\",\"bsdutils\",\"libattr1\",\"libncursesw5\",\"libsmartcols1\",\"netbase\",\"adduser\",\"util-linux\",\"libc6\",\"ubuntu-keyring\",\"libapt-pkg5.0\",\"libpam-modules\",\"apt\",\"dash\",\"libbz2-1.0\",\"libexpat1\",\"libstdc++6\",\"base-files\",\"tar\",\"grep\",\"libc-bin\",\"libfdisk1\",\"liblz4-1\",\"base-passwd\",\"libffi6\",\"libgmp10\",\"libncurses5\",\"procps\",\"libudev1\"]","io.buildpacks.stack.released":"2023-05-01T12:12:54Z","io.paketo.stack.packages":"[{\"name\":\"adduser\",\"version\":\"3.116ubuntu1\",\"arch\":\"all\",\"source\":{\"name\":\"\"},\"summary\":\"add and remove users and groups\"},{\"name\":\"apt\",\"version\":\"1.6.17\",\"arch\":\"amd64\",\"source\":{\"name\":\"\"},\"summary\":\"commandline package manager\"},{\"name\":\"base-files\",\"version\":\"10.1ubuntu2.11\",\"arch\":\"amd64\",\"source\":{\"name\":\"\"},\"summary\":\"Debian base system miscellaneous files\"},{\"name\":\"base-passwd\",\"version\":\"3.5.44\",\"arch\":\"amd64\",\"source\":{\"name\":\"\"},\"summary\":\"Debian base system master password and group files\"},{\"name\":\"bash\",\"version\":\"4.4.18-2ubuntu1.3\",\"arch\":\"amd64\",\"source\":{\"name\":\"\"},\"summary\":\"GNU Bourne Again SHell\"},{\"name\":\"bsdutils\",\"version\":\"1:2.31.1-0.4ubuntu3.7\",\"arch\":\"amd64\",\"source\":{\"name\":\"util-linux\",\"version\":\"2.31.1-0.4ubuntu3.7\",\"upstreamVersion\":\"2.31.1\"},\"summary\":\"basic utilities from 4.4BSD-Lite\"},{\"name\":\"bzip2\",\"version\":\"1.0.6-8.1ubuntu0.2\",\"arch\":\"amd64\",\"source\":{\"name\":\"\"},\"summary\":\"high-quality block-sorting file compressor - utilities\"},{\"name\":\"ca-certificates\",\"version\":\"20211016ubuntu0.18.04.1\",\"arch\":\"all\",\"source\":{\"name\":\"\"},\"summary\":\"Common CA certificates\"},{\"name\":\"coreutils\",\"version\":\"8.28-1ubuntu1\",\"arch\":\"amd64\",\"source\":{\"name\":\"\"},\"summary\"[...]
- request:
    body: "{\"stream\":\"Loaded image: pack.local/builder/11111111111111111111:latest\\n\"}\r\n"
    form: {}
    headers:
      Content-Type:
      - application/x-tar
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/images/load?quiet=1
    method: POST
  response:
    body: "{\"stream\":\"Loaded image: pack.local/builder/11111111111111111111:latest\\n\"}\r\n"
    headers:
      Api-Version:
      - "1.41"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"Id":"sha256:696f86e989a5230fc0e8cf11a2af83165243cfd7951bf5d38a439a1dd1035ff9","RepoTags":["pack.local/builder/11111111111111111111:latest","pack.local/builder/11111111111111111111:latest","pack.local/builder/11111111111111111111:latest","pack.local/builder/11111111111111111111:latest","pack.local/builder/11111111111111111111:latest","pack.local/builder/11111111111111111111:latest","pack.local/builder/11111111111111111111:latest","pack.local/builder/1111111111111111[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - text/plain
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/images/sha256:696f86e989a5230fc0e8cf11a2af83165243cfd7951bf5d38a439a1dd1035ff9/tag?repo=pack.local%2Fbuilder%2F6d746d6373797579706b&tag=latest
    method: POST
  response:
    body: ""
    headers:
      Api-Version:
      - "1.41"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"Id":"d23799a1e782233dcb999511f433f4b967c68f228f4849e942c0831cacc9031e","Warnings":[]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/containers/create
    method: POST
  response:
    body: |
      {"Id":"d23799a1e782233dcb999511f433f4b967c68f228f4849e942c0831cacc9031e","Warnings":[]}
    headers:
      Api-Version:
      - "1.41"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - text/plain
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/containers/d23799a1e782233dcb999511f433f4b967c68f228f4849e942c0831cacc9031e/archive?noOverwriteDirNonDir=true&path=%2F
    method: PUT
  response:
    body: ""
    headers:
      Api-Version:
      - "1.41"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - text/plain
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/containers/d23799a1e782233dcb999511f433f4b967c68f228f4849e942c0831cacc9031e/start
    method: POST
  response:
    body: ""
    headers:
      Api-Version:
      - "1.41"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: !!binary |
      AQAAAAAAABgbWzM2bT09PT4gQU5BTFlaSU5HG1swbQoBAAAAAAAALFJlc3RvcmluZyBkYX
      RhIGZvciBTQk9NIGZyb20gcHJldmlvdXMgaW1hZ2UKAQAAAAAAABgbWzM2bT09PT4gREVU
      RUNUSU5HG1swbQoBAAAAAAAExz09PT09PT09IE91dHB1dDogcGFrZXRvLWJ1aWxkcGFja3
      Mvbm9kZS1ydW4tc2NyaXB0QDEuMC42ID09PT09PT09CmNvdWxkIG5vdCBmaW5kIHNjcmlw
      dChzKSBbYnVpbGRdIGluIHBhY2thZ2UuanNvbgplcnI6ICBwYWtldG8tYnVpbGRwYWNrcy
      9ub2RlLXJ1bi1zY3JpcHRAMS4wLjYgKDEpCj09PT09PT09IE91dHB1dDogcGFrZXRvLWJ1
      [...]
- request:
    body: |
      {"Error":null,"StatusCode":0}
    form: {}
    headers:
      Content-Type:
      - text/plain
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/containers/d23799a1e782233dcb999511f433f4b967c68f228f4849e942c0831cacc9031e/wait?condition=next-exit
    method: POST
  response:
    body: |
      {"Error":null,"StatusCode":0}
    headers:
      Api-Version:
      - "1.41"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/containers/d23799a1e782233dcb999511f433f4b967c68f228f4849e942c0831cacc9031e?force=1
    method: DELETE
  response:
    body: ""
    headers:
      Api-Version:
      - "1.41"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/volumes/pack-layers-vojoyrvjek?force=1
    method: DELETE
  response:
    body: ""
    headers:
      Api-Version:
      - "1.41"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/volumes/pack-app-odaooskmxc?force=1
    method: DELETE
  response:
    body: ""
    headers:
      Api-Version:
      - "1.41"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: |
      [{"Untagged":"pack.local/builder/11111111111111111111:latest"}]
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/images/pack.local/builder/11111111111111111111:latest?force=1&noprune=1
    method: DELETE
  response:
    body: |
      [{"Untagged":"pack.local/builder/11111111111111111111:latest"}]
    headers:
      Api-Version:
      - "1.41"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\"status\":\"The push refers to repository [rg.fr-par.scw.cloud/funcscwclitestcontainerdepl7c5rqg2x/cli-test-container-deploy-bp]\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"83d85471d9f8\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"70757e2f3ee9\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"f4475860d332\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"281bfcb10d35\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"477a669d8224\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"83806be9fe7c\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"76f0217ccdbd\"}\r\n{\"status\":\[...]
- request:
    body: '{"containers":[{"id":"a36775ee-bd0e-4bea-b8a2-7edd4e8c666d", "name":"cli-test-container-deploy-bp",
      "namespace_id":"bae80efe-e92e-404f-b0a5-1abda3a6f7df", "status":"ready", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":256, "cpu_limit":140, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclitestcontainerdepl7c5rqg2x/cli-test-container-deploy-bp:latest",
      "max_concurrency":50, "domain_name":"clitestcontainerdepl7c5rqg2x-cli-test-container-deploy-bp.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":3000, "secret_environment_variables":[], "http_option":"enabled",
      "region":"fr-par"}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers?name=cli-test-container-deploy-bp&namespace_id=bae80efe-e92e-404f-b0a5-1abda3a6f7df&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"containers":[{"id":"a36775ee-bd0e-4bea-b8a2-7edd4e8c666d", "name":"cli-test-container-deploy-bp",
      "namespace_id":"bae80efe-e92e-404f-b0a5-1abda3a6f7df", "status":"ready", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":256, "cpu_limit":140, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclitestcontainerdepl7c5rqg2x/cli-test-container-deploy-bp:latest",
      "max_concurrency":50, "domain_name":"clitestcontainerdepl7c5rqg2x-cli-test-container-deploy-bp.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":3000, "secret_environment_variables":[], "http_option":"enabled",
      "region":"fr-par"}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"a36775ee-bd0e-4bea-b8a2-7edd4e8c666d", "name":"cli-test-container-deploy-bp",
      "namespace_id":"bae80efe-e92e-404f-b0a5-1abda3a6f7df", "status":"ready", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":256, "cpu_limit":140, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclitestcontainerdepl7c5rqg2x/cli-test-container-deploy-bp:latest",
      "max_concur[...]
[...]
- request:
    body: '{"id":"a36775ee-bd0e-4bea-b8a2-7edd4e8c666d", "name":"cli-test-container-deploy-bp",
      "namespace_id":"bae80efe-e92e-404f-b0a5-1abda3a6f7df", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":256, "cpu_limit":140, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclitestcontainerdepl7c5rqg2x/cli-test-container-deploy-bp:latest",
      "max_conc[...]
[...]
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-test-container-deploy&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-test-container-deploy&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
