---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-test-container-deploy&order_by=created_at_asc
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"cli-test-container-deploy","environment_variables":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"efdd5a57-0148-4f5b-bc08-5f8a039edc5d", "name":"cli-test-container-deploy",
      "environment_variables":{}, "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-test-container-deploy&order_by=created_at_asc
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"cli-test-container-deploy","description":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_public":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"9dfce60a-c32b-4062-a862-de6cd6696a81", "name":"cli-test-container-deploy",
      "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-container-deploy", "is_public":false,
      "size":0, "created_at":"2023-03-22T13:52:38.196909950Z", "updated_at":"2023-03-22T13:52:38.196909950Z",
      "image_count":0, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers?name=cli-test-container-deploy&namespace_id=efdd5a57-0148-4f5b-bc08-5f8a039edc5d&order_by=created_at_asc
    method: GET
  response:
    body: '{"containers":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespace_id":"efdd5a57-0148-4f5b-bc08-5f8a039edc5d","name":"cli-test-container-deploy","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"unknown_privacy","description":null,"registry_image":null,"max_concurrency":null,"protocol":"unknown_protocol","port":null,"secret_environment_variables":null,"http_option":"unknown_http_option"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"5c08a6cd-39c2-4818-98a4-d57e64f6ff67", "name":"cli-test-container-deploy",
      "namespace_id":"efdd5a57-0148-4f5b-bc08-5f8a039edc5d", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":256, "cpu_limit":140, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclitestcontainerdeplmbq9eyss/cli-test-container-deploy:latest",
      "max_concurrency":50, "domain_name":"clitestcontainerdeplmbq9eyss-cli-test-container-deploy.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":8080, "secret_environment_variables":[], "http_option":"enabled",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"redeploy":false,"privacy":"unknown_privacy","description":null,"registry_image":"rg.fr-par.scw.cloud/cli-test-container-deploy/cli-test-container-deploy:latest","max_concurrency":null,"protocol":"unknown_protocol","port":80,"secret_environment_variables":null,"http_option":"unknown_http_option"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/5c08a6cd-39c2-4818-98a4-d57e64f6ff67
    method: PATCH
  response:
    body: '{"id":"5c08a6cd-39c2-4818-98a4-d57e64f6ff67", "name":"cli-test-container-deploy",
      "namespace_id":"efdd5a57-0148-4f5b-bc08-5f8a039edc5d", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":256, "cpu_limit":140, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/cli-test-container-deploy/cli-test-container-deploy:latest",
      "max_concurrency":50, "domain_name":"clitestcontainerdeplmbq9eyss-cli-test-container-deploy.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":80, "secret_environment_variables":[], "http_option":"enabled",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/5c08a6cd-39c2-4818-98a4-d57e64f6ff67/deploy
    method: POST
  response:
    body: '{"id":"5c08a6cd-39c2-4818-98a4-d57e64f6ff67", "name":"cli-test-container-deploy",
      "namespace_id":"efdd5a57-0148-4f5b-bc08-5f8a039edc5d", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":256, "cpu_limit":140, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/cli-test-container-deploy/cli-test-container-deploy:latest",
      "max_concurrency":50, "domain_name":"clitestcontainerdeplmbq9eyss-cli-test-container-deploy.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":80, "secret_environment_variables":[], "http_option":"enabled",
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-test-container-deploy&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[{"id":"efdd5a57-0148-4f5b-bc08-5f8a039edc5d", "name":"cli-test-container-deploy",
      "environment_variables":{}, "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"ready", "registry_namespace_id":"2cb55284-cf8d-48f0-aabc-3f8bbbe55c2b",
      "error_message":null, "registry_endpoint":"rg.fr-par.scw.cloud/funcscwclitestcontainerdeplmbq9eyss",
      "description":"", "secret_environment_variables":[], "region":"fr-par"}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/efdd5a57-0148-4f5b-bc08-5f8a039edc5d
    method: DELETE
  response:
    body: '{"id":"efdd5a57-0148-4f5b-bc08-5f8a039edc5d", "name":"cli-test-container-deploy",
      "environment_variables":{}, "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"deleting", "registry_namespace_id":"2cb55284-cf8d-48f0-aabc-3f8bbbe55c2b",
      "error_message":null, "registry_endpoint":"rg.fr-par.scw.cloud/funcscwclitestcontainerdeplmbq9eyss",
      "description":"", "secret_environment_variables":[], "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-test-container-deploy&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[{"id":"9dfce60a-c32b-4062-a862-de6cd6696a81", "name":"cli-test-container-deploy",
      "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-container-deploy", "is_public":false,
      "size":20430837, "created_at":"2023-03-22T13:52:38.196910Z", "updated_at":"2023-03-22T13:53:00.910483Z",
      "image_count":1, "region":"fr-par"}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/9dfce60a-c32b-4062-a862-de6cd6696a81
    method: DELETE
  response:
    body: '{"id":"9dfce60a-c32b-4062-a862-de6cd6696a81", "name":"cli-test-container-deploy",
      "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf",
      "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-container-deploy", "is_public":false,
      "size":20430837, "created_at":"2023-03-22T13:52:38.196910Z", "updated_at":"2023-03-22T13:53:23.153950178Z",
      "image_count":1, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
