---
version: 1
interactions:
- request:
    body: '{"namespaces":[],"total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-s&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"eab9ca37-264f-4670-b825-fae21c231842","name":"cli-t-ctnr-deploy-s","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-09-08T12:18:46.640706292Z","updated_at":"2025-09-08T12:18:46.640706292Z","vpc_integration_activated":false,"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"eab9ca37-264f-4670-b825-fae21c231842","name":"cli-t-ctnr-deploy-s","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-09-08T12:18:46.640706292Z","updated_at":"2025-09-08T12:18:46.640706292Z","vpc_integration_activated":false,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"eab9ca37-264f-4670-b825-fae21c231842","name":"cli-t-ctnr-deploy-s","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-09-08T12:18:46.640706Z","updated_at":"2025-09-08T12:18:46.640706Z","vpc_integration_activated":false,"region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/eab9ca37-264f-4670-b825-fae21c231842
    method: GET
  response:
    body: '{"id":"eab9ca37-264f-4670-b825-fae21c231842","name":"cli-t-ctnr-deploy-s","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-09-08T12:18:46.640706Z","updated_at":"2025-09-08T12:18:46.640706Z","vpc_integration_activated":false,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/_ping
    method: HEAD
  response:
    body: ""
    headers:
      Api-Version:
      - "1.51"
      Builder-Version:
      - "2"
      Content-Type:
      - text/plain; charset=utf-8
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
      Swarm:
      - inactive
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\"stream\":\"Step 1/4 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"status\":\"Pulling
      from library/nginx\",\"id\":\"alpine\"}\r\n{\"status\":\"Pulling fs layer\",\"progressDetail\":{},\"id\":\"021cb5923c0e\"}\r\n{\"status\":\"Pulling
      fs layer\",\"progressDetail\":{},\"id\":\"49f3b06c840f\"}\r\n{\"status\":\"Pulling
      fs layer\",\"progressDetail\":{},\"id\":\"04ba7957f9d2\"}\r\n{\"status\":\"Pulling
      fs layer\",\"progressDetail\":{},\"id\":\"66ce170f7dd8\"}\r\n{\"status\":\"Pulling
      fs layer\",\"progressDetail\":{},\"id\":\"6c2c01fdb094\"}\r\n{\"status\":\"Pulling
      fs layer\",\"progressDetail\":{},\"id\":\"6156ecb6dfff\"}\r\n{\"status\":\"Pulling
      fs layer\",\"progressDetail\":{},\"id\":\"0bc2f07fbf03\"}\r\n{\"status\":\"Download
      complete\",\"progressDetail\":{\"hidecounts\":true},\"id\":\"49f3b06c840f\"}\r\n{\"status\":\"Extracting\",\"progressDetail\":{\"current\":1,\"units\":\"s\"},\"progress\":\"1
      s\",\"id\":\"49f3b06c840f\"}\r\n{\"status\":\"Downloading\",\"progressDetail\":{\"current\":2097152,\"total\":16988973},\"progress\":\"[======\\u003e
      \                                           ]  2.097MB/16.99MB\",\"id\":\"021cb5923c0e\"}\r\n{\"status\":\"Pull
      complete\",\"progressDetail\":{\"hidecounts\":true},\"id\":\"49f3b06c840f\"}\r\n{\"status\":\"Download
      complete\",\"progressDetail\":{\"hidecounts\":true},\"id\":\"0bc2f07fbf03\"}\r\n{\"status\":\"Downloading\",\"progressDetail\":{\"current\":6291456,\"total\":16988973},\"progress\":\"[==================\\u003e
      \          [...]
- request:
    body: "{\"status\":\"The push refers to repository [rg.fr-par.scw.cloud/funcscwclitctnrdeploysy040pszu/cli-t-ctnr-deploy-s]\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"6156ecb6dfff\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"6e174226ea69\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"49f3b06c840f\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"04ba7957f9d2\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"66ce[...]
- request:
    body: '{"containers":[],"total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers?name=cli-t-ctnr-deploy-s&namespace_id=eab9ca37-264f-4670-b825-fae21c231842&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"containers":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"1d2fc160-8fb9-468b-97af-08036c018b02","name":"cli-t-ctnr-deploy-s","namespace_id":"eab9ca37-264f-4670-b825-fae21c231842","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":2048,"cpu_limit":1000,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploysy040pszu/cli-t-ctnr-deploy-s:latest","max_concurrency":50,"domain_name":"clitctnrdeploysy040pszu-cli-t-ctnr-deploy-s.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"enabled","sandbox":"v2","local_storage_limit":1000,"scaling_option":{"concurrent_requests_threshold":50},"created_at":"2025-09-08T12:19:37.555467664Z","updated_at":"2025-09-08T12:19:37.555467664Z","ready_at":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"tags":[],"private_network_id":null,"command":[],"args":[],"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"1d2fc160-8fb9-468b-97af-08036c018b02","name":"cli-t-ctnr-deploy-s","namespace_id":"eab9ca37-264f-4670-b825-fae21c231842","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":2048,"cpu_limit":1000,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploysy040pszu/cli-t-ctnr-deploy-s:latest","max_concurrency":50,"domain_name":"clitctnrdeploysy040pszu-cli-t-ctnr-deploy-s.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"enabled","sandbox":"v2","local_storage_limit":1000,"scaling_option":{"concurrent_requests_threshold":50},"created_at":"2025-09-08T12:19:37.555467664Z","updated_at":"2025-09-08T12:19:37.555467664Z","ready_at":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"tags":[],"private_network_id":null,"command":[],"args":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"1d2fc160-8fb9-468b-97af-08036c018b02","name":"cli-t-ctnr-deploy-s","namespace_id":"eab9ca37-264f-4670-b825-fae21c231842","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":2048,"cpu_limit":1000,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploysy040pszu/cli-t-ctnr-deploy-s:latest","max_concurrency":50,"domain_name":"clitctnrdeploysy040pszu-cli-t-ct[...]
[...]
- request:
    body: '{"id":"1d2fc160-8fb9-468b-97af-08036c018b02","name":"cli-t-ctnr-deploy-s","namespace_id":"eab9ca37-264f-4670-b825-fae21c231842","status":"pending","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":2048,"cpu_limit":1000,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploysy040pszu/cli-t-ctnr-deploy-s:latest","max_concurrency":50,"domain_name":"clitctnrdeploysy040pszu-cli-t-ct[...]
[...]
- request:
    body: '{"message":"Namespace was not found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/eab9ca37-264f-4670-b825-fae21c231842
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"namespaces":[],"total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-s&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
