---
version: 1
interactions:
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=app-cli-t-ctnr-deploy-fp&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"18240f6a-c906-43d5-a628-39908c92a488", "name":"app-cli-t-ctnr-deploy-fp",
      "environment_variables":{}, "organization_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba",
      "project_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-12-15T13:27:15.762510361Z", "updated_at":"2025-12-15T13:27:15.762510361Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"18240f6a-c906-43d5-a628-39908c92a488", "name":"app-cli-t-ctnr-deploy-fp",
      "environment_variables":{}, "organization_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba",
      "project_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-12-15T13:27:15.762510361Z", "updated_at":"2025-12-15T13:27:15.762510361Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"18240f6a-c906-43d5-a628-39908c92a488", "name":"app-cli-t-ctnr-deploy-fp",
      "environment_variables":{}, "organization_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba",
      "project_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-12-15T13:27:15.762510Z", "updated_at":"2025-12-15T13:27:15.762510Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/18240f6a-c906-43d5-a628-39908c92a488
    method: GET
  response:
    body: '{"id":"18240f6a-c906-43d5-a628-39908c92a488", "name":"app-cli-t-ctnr-deploy-fp",
      "environment_variables":{}, "organization_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba",
      "project_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-12-15T13:27:15.762510Z", "updated_at":"2025-12-15T13:27:15.762510Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/_ping
    method: HEAD
  response:
    body: ""
    headers:
      Api-Version:
      - "1.51"
      Builder-Version:
      - "2"
      Content-Type:
      - text/plain; charset=utf-8
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
      Swarm:
      - inactive
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\"stream\":\"Step 1/4 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e a236f84b9d5d\\n\"}\r\n{\"stream\":\"Step 2/4 : RUN apk add --no-cache
      curl git bash\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e 2a152b29efa2\\n\"}\r\n{\"stream\":\"Step
      3/4 : COPY ./index.html /usr/share/nginx/html/index.html\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e ad9fa50aba34\\n\"}\r\n{\"stream\":\"Step
      4/4 : EXPOSE 80\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e 135dd8fddaa1\\n\"}\r\n{\"aux\":{\"ID\":\"sha256:135dd8fddaa1576848ef1a3fa1f7028f60e5c0c19dbc7c7fd10b6224fafc2979\"}}\r\n{\"stream\":\"Successfully
      built 135dd8fddaa1\\n\"}\r\n{\"stream\":\"Successfully tagged rg.fr-par.scw.cloud/funcscwappclitctnrdeployfpv7kvie1v/app-cli-t-ctnr-deploy-fp:latest\\n\"}\r\n"
    form: {}
    headers:
      Content-Type:
      - application/x-tar
      X-Registry-Config:
      - bnVsbA==
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.51/build?dockerfile=Dockerfile&rm=0&t=rg.fr-par.scw.cloud%2Ffuncscwappclitctnrdeployfpv7kvie1v%2Fapp-cli-t-ctnr-deploy-fp%3Alatest
    method: POST
  response:
    body: "{\"stream\":\"Step 1/4 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e a236f84b9d5d\\n\"}\r\n{\"stream\":\"Step 2/4 : RUN apk add --no-cache
      curl git bash\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e 2a152b29efa2\\n\"}\r\n{\"stream\":\"Step
      3/4 : COPY ./index.html /usr/share/nginx/html/index.html\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e ad9fa50aba34\\n\"}\r\n{\"stream\":\"Step
      4/4 : EXPOSE 80\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e 135dd8fddaa1\\n\"}\r\n{\"aux\":{\"ID\":\"sha256:135dd8fddaa1576848ef1a3fa1f7028f60e5c0c19dbc7c7fd10b6224fafc2979\"}}\r\n{\"stream\":\"Successfully
      built 135dd8fddaa1\\n\"}\r\n{\"stream\":\"Successfully tagged rg.fr-par.scw.cloud/funcscwappclitctnrdeployfpv7kvie1v/app-cli-t-ctnr-deploy-fp:latest\\n\"}\r\n"
    headers:
      Api-Version:
      - "1.51"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\"status\":\"The push refers to repository [rg.fr-par.scw.cloud/funcscwappclitctnrdeployfpv7kvie1v/app-cli-t-ctnr-deploy-fp]\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"9bd69bb06fd1\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"004f7270b76c\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"7a44d12423b9\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"a2ec75146a7f\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"dcfd04fc2e09\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"45178d7e9376\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"9f71ae529e9d\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"44227ec39841\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"e4531687ef8e\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"5aa68bbbc67e\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"45178d7e9376\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"9f71ae529e9d\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"44227ec39841\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"5aa68bbbc67e\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"e4531687ef8e\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":512,\"total\":3018},\"progress\":\"[========\\u003e
      \                                         ]     512B/3.018kB\",\"id\":\"dcfd04fc2e09\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":5120,\"total\":3018},\"progress\":\"[==================================================\\u003e]
      \  5.12kB\",\"id\":\"dcfd04fc2e09\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":99328,\"total\":8669818},\"progress\":\"[\\u003e
      \                                                 ]  99.33kB/8.67MB\",\"id\[...]
- request:
    body: '{"containers":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers?name=app-cli-t-ctnr-deploy-fp&namespace_id=18240f6a-c906-43d5-a628-39908c92a488&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"containers":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"781e023f-8166-4e87-90bc-3d88b72448b2", "name":"app-cli-t-ctnr-deploy-fp",
      "namespace_id":"18240f6a-c906-43d5-a628-39908c92a488", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwappclitctnrdeployfpv7kvie1v/app-cli-t-ctnr-deploy-fp:latest",
      "max_concurrency":50, "domain_name":"appclitctnrdeployfpv7kvie1v-app-cli-t-ctnr-deploy-fp.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":8080, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2025-12-15T13:27:49.505366780Z", "updated_at":"2025-12-15T13:27:49.505366780Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"781e023f-8166-4e87-90bc-3d88b72448b2", "name":"app-cli-t-ctnr-deploy-fp",
      "namespace_id":"18240f6a-c906-43d5-a628-39908c92a488", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwappclitctnrdeployfpv7kvie1v/app-cli-t-ctnr-deploy-fp:latest",
      "max_concurrency":50, "domain_name":"appclitctnrdeployfpv7kvie1v-app-cli-t-ctnr-deploy-fp.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":8080, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2025-12-15T13:27:49.505366780Z", "updated_at":"2025-12-15T13:27:49.505366780Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"781e023f-8166-4e87-90bc-3d88b72448b2", "name":"app-cli-t-ctnr-deploy-fp",
      "namespace_id":"18240f6a-c906-43d5-a628-39908c92a488", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwappclitctnrdeployfpv7kvie1v/app-cli-t-ctnr-deploy-fp:latest",
      "max_concurrency[...]
[...]
- request:
    body: '{"id":"781e023f-8166-4e87-90bc-3d88b72448b2", "name":"app-cli-t-ctnr-deploy-fp",
      "namespace_id":"18240f6a-c906-43d5-a628-39908c92a488", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwappclitctnrdeployfpv7kvie1v/app-cli-t-ctnr-deploy-fp:latest",
      "max_concurrency[...]
[...]
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-fp&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-fp&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
