---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"namespaces":[],"total_count":0}'
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-ba&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.690544ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"4ab5ab4b-0f06-491c-8b93-a91f3e9e91f0","name":"cli-t-ctnr-deploy-ba","environment_variables":{},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-08-12T16:46:39.410796863Z","updated_at":"2025-08-12T16:46:39.410796863Z","vpc_integration_activated":false,"region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"4ab5ab4b-0f06-491c-8b93-a91f3e9e91f0","name":"cli-t-ctnr-deploy-ba","environment_variables":{},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-08-12T16:46:39.410796863Z","updated_at":"2025-08-12T16:46:39.410796863Z","vpc_integration_activated":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.08582281s
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"4ab5ab4b-0f06-491c-8b93-a91f3e9e91f0","name":"cli-t-ctnr-deploy-ba","environment_variables":{},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-08-12T16:46:39.410797Z","updated_at":"2025-08-12T16:46:39.410797Z","vpc_integration_activated":false,"region":"fr-par"}'
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/4ab5ab4b-0f06-491c-8b93-a91f3e9e91f0
        method: GET
      response:
        body: '{"id":"4ab5ab4b-0f06-491c-8b93-a91f3e9e91f0","name":"cli-t-ctnr-deploy-ba","environment_variables":{},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-08-12T16:46:39.410797Z","updated_at":"2025-08-12T16:46:39.410797Z","vpc_integration_activated":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.041068ms
[...]
    - id: 4
      request:
        host: api.moby.localhost
        body: ""
        form: {}
        headers: {}
        url: http:///var/run/docker.sock/_ping
        method: HEAD
      response:
        body: ""
        headers:
            Api-Version:
                - "1.47"
            Builder-Version:
                - "2"
            Content-Type:
                - text/plain; charset=utf-8
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
            Swarm:
                - inactive
        status: 200 OK
        code: 200
        duration: 509.267µs
    - id: 5
      request:
        host: api.moby.localhost
        body: "{\"stream\":\"Step 1/6 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e 6769dc3a703c\\n\"}\r\n{\"stream\":\"Step 2/6 : RUN apk add --no-cache curl git bash\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e 90c527519f03\\n\"}\r\n{\"stream\":\"Step 3/6 : COPY ./index.html /usr/share/nginx/html/index.html\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e d745d9ef0d1a\\n\"}\r\n{\"stream\":\"Step 4/6 : ARG TEST\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e 17ea30384c85\\n\"}\r\n{\"stream\":\"Step 5/6 : RUN test -n \\\"$TEST\\\"\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e a73b783c8bea\\n\"}\r\n{\"stream\":\"Step 6/6 : EXPOSE 80\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e 7f9edc39fc50\\n\"}\r\n{\"aux\":{\"ID\":\"sha256:7f9edc39fc50faf917aff1b32d9bd84ef1f965a036756e0df77e0b2c9aaf7470\"}}\r\n{\"stream\":\"Successfully built 7f9edc39fc50\\n\"}\r\n{\"stream\":\"Successfully tagged rg.fr-par.scw.cloud/funcscwclitctnrdeploybajqohkyqb/cli-t-ctnr-deploy-ba:latest\\n\"}\r\n"
        form: {}
        headers:
            Content-Type:
                - application/x-tar
            X-Registry-Config:
                - bnVsbA==
        url: http:///var/run/docker.sock/v1.47/build?buildargs=%7B%22TEST%22%3A%22thisisatest%22%7D&cachefrom=null&cgroupparent=&cpuperiod=0&cpuquota=0&cpusetcpus=&cpusetmems=&cpushares=0&dockerfile=Dockerfile&labels=null&memory=0&memswap=0&networkmode=&rm=0&shmsize=0&t=rg.fr-par.scw.cloud%2Ffuncscwclitctnrdeploybajqohkyqb%2Fcli-t-ctnr-deploy-ba%3Alatest&target=&ulimits=null&version=
        method: POST
      response:
            - chunked
        body: "{\"stream\"[...]
    - id: 6
      request:
        host: api.moby.localhost
        body: "{\"status\":\"The push refers to repository [rg.fr-par.scw.cloud/funcscwclitctnrdeploybajqohkyqb/cli-t-ctnr-deploy-ba]\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"e2d2b7085bf9\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"f77a9c7a72e7\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"0d853d50b128\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"947e805a4ac7\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"811a4dbbf4a5\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"b8d7d1d22634\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"e244aa659f61\"}\r\n{\"status\":\[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"containers":[],"total_count":0}'
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers?name=cli-t-ctnr-deploy-ba&namespace_id=4ab5ab4b-0f06-491c-8b93-a91f3e9e91f0&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"containers":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.618431ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"id":"71d36b85-0566-4dab-b37a-28c85d45d65d","name":"cli-t-ctnr-deploy-ba","namespace_id":"4ab5ab4b-0f06-491c-8b93-a91f3e9e91f0","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":2048,"cpu_limit":1000,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploybajqohkyqb/cli-t-ctnr-deploy-ba:latest","max_concurrency":50,"domain_name":"clitctnrdeploybajqohkyqb-cli-t-ctnr-deploy-ba.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"enabled","sandbox":"v2","local_storage_limit":1000,"scaling_option":{"concurrent_requests_threshold":50},"created_at":"2025-08-12T16:46:53.090933679Z","updated_at":"2025-08-12T16:46:53.090933679Z","ready_at":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"tags":[],"private_network_id":null,"command":[],"args":[],"region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"71d36b85-0566-4dab-b37a-28c85d45d65d","name":"cli-t-ctnr-deploy-ba","namespace_id":"4ab5ab4b-0f06-491c-8b93-a91f3e9e91f0","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":2048,"cpu_limit":1000,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploybajqohkyqb/cli-t-ctnr-deploy-ba:latest","max_concurrency":50,"domain_name":"clitctnrdeploybajqohkyqb-cli-t-ctnr-deploy-ba.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"enabled","sandbox":"v2","local_storage_limit":1000,"scaling_option":{"concurrent_requests_threshold":50},"created_at":"2025-08-12T16:46:53.090933679Z","updated_at":"2025-08-12T16:46:53.090933679Z","ready_at":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"tags":[],"private_network_id":null,"command":[],"args":[],"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 310.716997ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"id":"71d36b85-0566-4dab-b37a-28c85d45d65d","name":"cli-t-ctnr-deploy-ba","namespace_id":"4ab5ab4b-0f06-491c-8b93-a91f3e9e91f0","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":2048,"cpu_limit":1000,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploybajqohkyqb/cli-t-ctnr-deploy-ba:latest","max_concurren[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"id":"71d36b85-0566-4dab-b37a-28c85d45d65d","name":"cli-t-ctnr-deploy-ba","namespace_id":"4ab5ab4b-0f06-491c-8b93-a91f3e9e91f0","status":"pending","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":2048,"cpu_limit":1000,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploybajqohkyqb/cli-t-ctnr-deploy-ba:latest","max_concurre[...]
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: '{"message":"Namespace was not found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/4ab5ab4b-0f06-491c-8b93-a91f3e9e91f0
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.127312ms
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"namespaces":[],"total_count":0}'
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-ba&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.955262ms
