---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"namespaces":[],"total_count":0}'
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-bp&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.434108ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"8097891a-6966-4d56-8fa3-76798df35645","name":"cli-t-ctnr-deploy-bp","environment_variables":{},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-08-12T16:47:45.261790020Z","updated_at":"2025-08-12T16:47:45.261790020Z","vpc_integration_activated":false,"region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"8097891a-6966-4d56-8fa3-76798df35645","name":"cli-t-ctnr-deploy-bp","environment_variables":{},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-08-12T16:47:45.261790020Z","updated_at":"2025-08-12T16:47:45.261790020Z","vpc_integration_activated":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 698.53076ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"8097891a-6966-4d56-8fa3-76798df35645","name":"cli-t-ctnr-deploy-bp","environment_variables":{},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-08-12T16:47:45.261790Z","updated_at":"2025-08-12T16:47:45.261790Z","vpc_integration_activated":false,"region":"fr-par"}'
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/8097891a-6966-4d56-8fa3-76798df35645
        method: GET
      response:
        body: '{"id":"8097891a-6966-4d56-8fa3-76798df35645","name":"cli-t-ctnr-deploy-bp","environment_variables":{},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-08-12T16:47:45.261790Z","updated_at":"2025-08-12T16:47:45.261790Z","vpc_integration_activated":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.256918ms
[...]
    - id: 4
      request:
        host: api.moby.localhost
        body: ""
        form: {}
        headers: {}
        url: http:///var/run/docker.sock/_ping
        method: HEAD
      response:
        body: ""
        headers:
            Api-Version:
                - "1.47"
            Builder-Version:
                - "2"
            Content-Type:
                - text/plain; charset=utf-8
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
            Swarm:
                - inactive
        status: 200 OK
        code: 200
        duration: 356.64µs
    - id: 5
      request:
        host: api.moby.localhost
        body: "{\"status\":\"Pulling from paketobuildpacks/builder-jammy-base\",\"id\":\"latest\"}\r\n{\"status\":\"Digest: sha256:62d87457b69a5ca7a1e16f8787729b33e41891462c27f50984addb9d69066f1d\"}\r\n{\"status\":\"Status: Image is up to date for paketobuildpacks/builder-jammy-base:latest\"}\r\n"
        form: {}
        headers:
            X-Registry-Auth:
                - eyJhdXRoIjoiT2c9PSJ9
        url: http:///var/run/docker.sock/v1.47/images/create?fromImage=paketobuildpacks%2Fbuilder-jammy-base&tag=latest
        method: POST
      response:
            - chunked
        body: "{\"status\":\"Pulling from paketobuildpacks/builder-jammy-base\",\"id\":\"latest\"}\r\n{\"status\":\"Digest: sha256:62d87457b69a5ca7a1e16f8787729b33e41891462c27f50984addb9d69066f1d\"}\r\n{\"status\":\"Status: Image is up to date for paketobuildpacks/builder-jammy-base:latest\"}\r\n"
        headers:
            Api-Version:
                - "1.47"
            Content-Type:
                - application/json
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 200 OK
        code: 200
        duration: 1.250402332s
    - id: 6
      request:
        host: api.moby.localhost
        body: |
            {"Platform":{"Name":""},"Components":[{"Name":"Engine","Version":"27.5.1","Details":{"ApiVersion":"1.47","Arch":"amd64","BuildTime":"2025-02-25T11:04:14.000000000+00:00","Experimental":"false","GitCommit":"27.5.1-0ubuntu3","GoVersion":"go1.24.0","KernelVersion":"6.14.0-27-generic","MinAPIVersion":"1.24","Os":"linux"}},{"Name":"containerd","Version":"2.0.5","Details":{"GitCommit":""}},{"Name":"runc","Version":"1.2.5-0ubuntu1","Details":{"GitCommit":""}},{"Name":"docker-init","Version":"0.19.0","Details":{"GitCommit":""}}],"Version":"27.5.1","ApiVersion":"1.47","MinAPIVersion":"1.24","GitCommit":"27.5.1-0ubuntu3","GoVersion":"go1.24.0","Os":"linux","Arch":"amd64","KernelVersion":"6.14.0-27-generic","BuildTime":"2025-02-25T11:04:14.000000000+00:00"}
        form: {}
        headers: {}
        url: htt[...]
    - id: 7
      request:
        host: api.moby.localhost
        body: |
            {"Id":"sha256:e2892ff856555357d77ecba5f1227fc5231aff3f32635c7a423702aa394546fc","RepoTags":["paketobuildpacks/builder-jammy-base:latest"],"RepoDigests":["paketobuildpacks/builder-jammy-base@sha256:62d87457b69a5ca7a1e16f8787729b33e41891462c27f50984addb9d69066f1d"],"Parent":"","Comment":"","Created":"1980-01-01T00:00:01Z","DockerVersion":"","Author":"","Config":{"Hostname":"","Domainname":"","User":"1001:1000","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":["PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin","CNB_USER_ID=1001","CNB_GROUP_ID=1000","CNB_STACK_ID=io.buildpacks.stacks.jammy"],"Cmd":["/bin/bash"],"Image":"","Volumes":null,"WorkingDir":"/layers","Entrypoint":null,"OnBuild":null,"Labels":{"io.buildpacks.builder.metadata":"{\"description\":\"Ubuntu 22.04 Jammy Jellyfish base image with buildpacks for Java, Go, .NET Core, Node.js, Python, Apache HTTPD, NGINX and Procfile\",\"buildpacks\":[{\"id\":\"paketo-buildpacks/dotnet-core\",\"name\":\"Paketo Buildpack for .NET Core\",\"version\":\"3.1.3\",\"homepage\":\"https://github.com/paketo-buildpacks/dotnet-core\"},{\"id\":\"paketo-buildpacks/ca-certificates\",\"name\":\"Paketo Buildpack for CA Certificates\",\"version\":\"3.10.3\",\"homepage\":\"https://github.com/paketo-buildpacks/ca-certificates\"},{\"id\":\"paketo-buildpacks/dotnet-core-aspnet-runtime\",\"name\":\"Paketo Buildpack for ASP.NET Core Runtime\",\"version\":\"1.0.22\",\"homepage\":\"https://github.com/paketo-buildpacks/dotnet-core-aspnet-runtime\"},{\"id\":\"paketo-buildpacks/dotnet-core[...]
    - id: 8
      request:
        host: api.moby.localhost
        body: |
            [{"Comment":"","Created":315532801,"CreatedBy":"","Id":"sha256:e2892ff856555357d77ecba5f1227fc5231aff3f32635c7a423702aa394546fc","Size":0,"Tags":["paketobuildpacks/builder-jammy-base:latest"]},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":78,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":79,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":814,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":56199802,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":21813851,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":4899470,"Tags":null},{"Comment":"[...]
    - id: 9
      request:
        host: api.moby.localhost
        body: "{\"status\":\"Pulling from paketobuildpacks/run-jammy-base\",\"id\":\"latest\"}\r\n{\"status\":\"Digest: sha256:7232bd497bab4f1aef59b84c68d9fb7c3a699aa59115f9e958f041bc6fa90f98\"}\r\n{\"status\":\"Status: Image is up to date for paketobuildpacks/run-jammy-base:latest\"}\r\n"
        form: {}
        headers:
            X-Registry-Auth:
                - eyJhdXRoIjoiT2c9PSJ9
        url: http:///var/run/docker.sock/v1.47/images/create?fromImage=paketobuildpacks%2Frun-jammy-base&platform=linux%2Famd64&tag=latest
        method: POST
      response:
            - chunked
        body: "{\"status\":\"Pulling from paketobuildpacks/run-jammy-base\",\"id\":\"latest\"}\r\n{\"status\":\"Digest: sha256:7232bd497bab4f1aef59b84c68d9fb7c3a699aa59115f9e958f041bc6fa90f98\"}\r\n{\"status\":\"Status: Image is up to date for paketobuildpacks/run-jammy-base:latest\"}\r\n"
        headers:
            Api-Version:
                - "1.47"
            Content-Type:
                - application/json
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 200 OK
        code: 200
        duration: 1.211919318s
[...]
    - id: 11
      request:
        host: api.moby.localhost
        body: |
            {"Id":"sha256:a8884f748b31d41e37eb9b648d571b086bc257f79e417fad5f162365ed155300","RepoTags":["paketobuildpacks/run-jammy-base:latest"],"RepoDigests":["paketobuildpacks/run-jammy-base@sha256:7232bd497bab4f1aef59b84c68d9fb7c3a699aa59115f9e958f041bc6fa90f98"],"Parent":"","Comment":"","Created":"2025-08-11T04:44:34.960178234Z","DockerVersion":"","Author":"","Config":{"Hostname":"","Domainname":"","User":"1002:1000","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":["PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"],"Cmd":["/bin/bash"],"Image":"","Volumes":null,"WorkingDir":"","Entrypoint":null,"OnBuild":null,"Labels":{"io.buildpacks.stack.description":"ubuntu:jammy with some common dependencies like tzdata and openssl","io.buildpacks.stack.distro.name":"ubuntu","io.buildpacks.stack.distro.version":"22.04","io.buildpacks.stack.homepage":"https://github.com/paketo-buildpacks/jammy-base-stack","io.buildpacks.stack.id":"io.buildpacks.stacks.jammy","io.buildpacks.stack.maintainer":"Paketo Buildpacks","io.buildpacks.stack.metadata":"{}","io.buildpacks.stack.released":"2025-08-11T04:45:10Z","org.opencontainers.image.ref.name":"ubuntu","org.opencontainers.image.version":"22.04"}},"Architecture":"amd64","Os":"linux","Size":111309026,"GraphDriver":{"Data":{"LowerDir":"/var/lib/docker/overlay2/06eeb6ecccc76cbfd7dc7d2623db4897ca40e4272bdfb96b3b6bdad587c360b9/diff:/var/lib/docker/overlay2/aedbadfae9178e161c758df885500eac9377cca0c8cd76fcb1ffc83e2948913d/diff:/var/lib/docker/overlay2/8d8ceb6952d5b9e2855db66c9a5e60bff66c1299b3468a9ee8fcc899c2b88813/diff","MergedDir":"/var/lib/docker/overlay2/792e82f211b90d6bc4273c76968b976156fabcfff09c5b4b1a73c4f1aa1c7372/merged","UpperDir":"/var/lib/docker/overlay2/792e82f211b90d6bc4273c76968b976156fabcfff09c5b4b1a73c4f1aa1c7372/diff","WorkDir":"/var/lib/docker/overlay2/792e82f211b90d6bc4273c76968b976156fabcfff09c5b4b1a73c4f1aa1c7372/work"},"Name":"overlay2"},"RootFS":{"Type":"layers","Layers":["sha256:3cc982388b71ef357e0157e0b7d3059dcefa4dc9fd2e3815bde6c6ce040302f3","sha256:c7ac11f4d5092137452cf30a54c01c991966c16c0ef47208ffd51d894d96d31b","sha256:c9effda33d60ecc76e603401566c8f962c6ec75b7d4e141799cf311c1752c3b0","sha256:febe488c520d778a5f5bd6fc12eb4bff3bbd8d499fe62e68a5283d2ff487bd5f"]},"Metadata":{"LastTagTime":"0001-01-01T00:00:00Z"}}
        form: {}
        headers: {}
        url: http:///var/run/docker.sock/v1.47/images/index.docker.io/paketobuildpacks/run-jammy-base:latest/json
        method: GET
      response:
            - chunked
        body: |
            {"Id":"sha256:a8884f748b31d41e37eb9b648d571b086bc257f79e417fad5f162365ed155300","RepoTags":["paketobuildpacks/run-jammy-base:latest"],"RepoDigests":["paketobuildpacks/run-jammy-base@sha256:7232bd497bab4f1aef59b84c68d9fb7c3a699aa59115f9e95[...]
    - id: 12
      request:
        host: api.moby.localhost
        body: |
            [{"Comment":"","Created":-62135596800,"CreatedBy":"","Id":"sha256:a8884f748b31d41e37eb9b648d571b086bc257f79e417fad5f162365ed155300","Size":505,"Tags":["paketobuildpacks/run-jammy-base:latest"]},{"Comment":"","Created":-62135596800,"CreatedBy":"","Id":"<missing>","Size":1417,"Tags":null},{"Comment":"buildkit.dockerfile.v0","Created":1754887474,"CreatedBy":"RUN |3 sources=    deb http://archive.ubuntu.com/ubun[...]
    - id: 13
      request:
        host: api.moby.localhost
        body: |
            {"ID":"1e13782b-3300-45d6-9158-bbc39f57081f","Containers":70,"ContainersRunning":0,"ContainersPaused":0,"ContainersStopped":70,"Images":85,"Driver":"overlay2","DriverStatus":[["Backing Filesystem","extfs"],["Supports d_type","true"],["Using metacopy","false"],["Native Overlay Diff","true"],["userxattr","false"]],"Plugins":{"Volume":["local"],"Network":["bridge","host","ipvlan","macvlan","null","overlay"],"Authorization":null,"Log":["awslogs","fluentd","gcplogs","gelf","journald","json-file","local","splunk","syslog"]},"MemoryLimit":true,"SwapLimit":true,"CpuCfsPeriod":true,"CpuCfsQuota":true,"CPUShares":true,"CPUSet":true,"PidsLimit":true,"IPv4Forwarding":true,"BridgeNfIptables":false,"BridgeNfIp6tables":false,"Debug":false,"NFd":22,"OomKillDisable":false,"NGoroutines":42,"SystemTime":"2025-08-12T18:47:54.025140627+02:00","LoggingDriver":"json-file","CgroupDriver":"systemd","CgroupVersion":"2","NEventsListener":0,"KernelVersion":"6.14.0-27-generic","OperatingSystem":"Ubuntu 25.04","OSVersion":"25.04","OSType":"linux","Architecture":"x86_64","IndexServerAddress":"https://index.docker.io/v1/","RegistryConfig":{"AllowNondistributableArtifactsCIDRs":null,"AllowNondistributableArtifactsHostnames":null,"InsecureRegistryCIDRs":["127.0.0.0/8"],"IndexConfigs":{"docker.io":{"Name":"docker.io","Mirrors":[],"Secure":true,"Official":true}},"Mirrors":null},"NCPU":16,"MemTotal":32210350080,"GenericResources":null,"DockerRootDir":"/var/lib/docker","HttpProxy":"","HttpsProxy":"","NoProxy":"","Name":"leila-ThinkPad-T14s-Gen-6","Labels":[],"ExperimentalBuild":false,"ServerVersion":"27.5.1","Runtimes":{"io.containerd.runc.v2":{"path":"runc","status":{"org.opencontainers.runtime-spec.features":"{\"ociVersionMin\":\"1.0.0\",\"ociVersionMax\":\"1.2.0\",\"hooks\":[\"prestart\",\"createRuntime\",\"createContainer\",\"startContainer\",\"poststart\",\"poststop\"],\"mountOptions\":[\"async\",\"atime\",\"bind\",\"defaults\",\"dev\",\"diratime\",\"dirsync\",\"exec\",\"iversion\",\"lazytime\",\"loud\",\"mand\",\"noatime\",\"nodev\",\"nodiratime\",\"noexec\",\"noiversion\",\"nolazytime\",\"nomand\",\"norelatime\",\"nostrictatime\",\"nosuid\",\"nosymfollow\",\"private\",\"ratime\",\"rbind\",\"rdev\",\"rdiratime\",\"relatime\",\"remount\",\"rexec\",\"rnoatime\",\"rnodev\",\"rnodiratime\",\"rnoexec\",\"rnorelatime\",\"rnostrictatime\",\"rnosuid\",\"rnosymfollow\",\"ro\",\"rprivate\",\"rrelatime\",\"rro\",\"rrw\",\"rshared\",\"rslave\",\"rstrictatime\",\"rsuid\",\"rsymfollow\",\"runbindable\",\"rw\",\"shared\",\"silent\",\"slave\",\"strictatime\",\"suid\",\"symfollow\",\"sync\",\"tmpcopyup\",\"unbindable\"],\"linux\":{\"namespaces\":[\"cgroup\",\"ipc\",\"mount\",\"network\",\"pid\",\"time\",\"user\",\"uts\"],\"capabilities\":[\"CAP_CHOWN\",\"CAP_DAC_OVERRIDE\",\"CAP_DAC_READ_SEARCH\",\"CAP_FOWNER\",\"CAP_FSETID\",\"CAP_KILL\",\"CAP_SETGID\",\"CAP_SETUID\",\"CAP_SETPCAP\",\"CAP_LINUX_IMMUTABLE\",\"CAP_NET_BIND_SERVICE\",\"CAP_NET_BROADCAST\",\"CAP_NET_ADMIN\",\"CAP_NET_RAW\",\"CAP_IPC_LOCK\",\"CAP_IPC_OWNER\",\"CAP_SYS_MODULE\",\"CAP_SYS_RAWIO\",\"CAP_SYS_CHROOT\",\"CAP_SYS_PTRACE\",\"CAP_SYS_PACCT\",\"CAP_SYS_ADMIN\",\"CAP_SYS_BOOT\",\"CAP_SYS_NICE\",\"CAP_SYS_RESOURCE\",\"CAP_SYS_TIME\",\"CAP_SYS_TTY_CONFIG\",\"CAP_MKNOD\",\"CAP_LEASE\",\"CAP_AUDIT_WRITE\",\"CAP_AUDIT_CONTROL\",\"CAP_SETFCAP\",\"CAP_MAC_OVERRIDE\",\"CAP_MAC_ADMIN\",\"CAP_SYSLOG\",\"CAP_WAKE_ALARM\",\"CAP_BLOCK_SUSPEND\",\"CAP_AUDIT_READ\",\"CAP_PERFMON\",\"CAP_BPF\",\"CAP_CHECKPOINT_RESTORE\"],\"cgroup\":{\"v1\":true,\"v2\":true,\"systemd\":true,\"systemdUser\":true,\"rdma\":true},\"seccomp\":{\"enabled\":true,\"actions\":[\"SCMP_ACT_ALLOW\",\"SCMP_ACT_ERRNO\",\"SCMP_ACT_KILL\",\"SCMP_ACT_KILL_PROCESS\",\"SCMP_ACT_KILL_THREAD\",\"SCMP_ACT_LOG\",\"SCMP_ACT_NOTIFY\",\"SCMP_ACT_TRACE\",\"SCMP_ACT_TRAP\"],\"operators\":[\"SCMP_CMP_EQ\",\"SCMP_CMP_GE\",\"SCMP_CMP_GT\",\"SCMP_CMP_LE\",\"SCMP_CMP_LT\",\"SCMP_CMP_MASKED_EQ\",\"SCMP_CMP_NE\"],\"archs\":[\"SCMP_ARCH_AARCH64\",\"SCMP_ARCH_ARM\",\"SCMP_ARCH_MIPS\",\"SCMP_ARCH_MIPS64\",\"SCMP_ARCH_MIPS64N32\",\"SCMP_ARCH_MIPSEL\",\"SCMP_ARCH_MIPSEL64\",\"SCMP_ARCH_MIPSEL64N32\",\"SCMP_ARCH_PPC\",\"SCMP_ARCH_PPC64\",\"SCMP_ARCH_PPC64LE\",\"SCMP_ARCH_RISCV64\",\"SCMP_ARCH_S390\",\"SCMP_ARCH_S390X\",\"SCMP_ARCH_X32\",\"SCMP_ARCH_X86\",\"SCMP_ARCH_X86_64\"],\"knownFlags\":[\"SECCOMP_FILTER_FLAG_TSYNC\",\"SECCOMP_FILTER_FLAG_SPEC_ALLOW\",\"SECCOMP_FILTER_FLAG_LOG\"],\"supportedFlags\":[\"SECCOMP_FILTER_FLAG_TSYNC\",\"SECCOMP_FILTER_FLAG_SPEC_ALLOW\",\"SECCOMP_FILTER_FLAG_LOG\"]},\"apparmor\":{\"enabled\":true},\"selinux\":{\"enabled\":true},\"intelRdt\":{\"enabled\":true},\"mountExtensions\":{\"idmap\":{\"enabled\":true}}},\"annotations\":{\"io.github.seccomp.libseccomp.version\":\"2.5.5\",\"org.opencontainers.runc.checkpoint.enabled\":\"true\",\"org.opencontainers.runc.commit\":\"\",\"org.opencontainers.runc.version\":\"1.2.5-0ubuntu1\"},\"potentiallyUnsafeConfigAnnotations\":[\"bundle\",\"org.systemd.property.\",\"org.criu.config\"]}"}},"runc":{"path":"runc","status":{"org.opencontainers.runtime-spec.features":"{\"ociVersionMin\":\"1.0.0\",\"ociVersionMax\":\"1.2.0\",\"hooks\":[\"prestart\",\"createRuntime\",\"createContainer\",\"startContainer\",\"poststart\",\"poststop\"],\"mountOptions\":[\"async\",\"atime\",\"bind\",\"defaults\",\"dev\",\"diratime\",\"dirsync\",\"exec\",\"iversion\",\"lazytime\",\"loud\",\"mand\",\"noatime\",\"nodev\",\"nodiratime\",\"noexec\",\"noiversion\",\"nolazytime\",\"nomand\",\"norelatime\",\"nostrictatime[...]
    - id: 14
      request:
        host: api.moby.localhost
        body: "{\"stream\":\"Loaded image: pack.local/builder/11111111111111111111:latest\\n\"}\r\n"
        form: {}
        headers:
            Content-Type:
                - application/x-tar
        url: http:///var/run/docker.sock/v1.47/images/load?quiet=1
        method: POST
      response:
            - chunked
        body: "{\"stream\":\"Loaded image: pack.local/builder/11111111111111111111:latest\\n\"}\r\n"
        headers:
            Api-Version:
                - "1.47"
            Content-Type:
                - application/json
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 200 OK
        code: 200
        duration: 64.80835ms
    - id: 15
      request:
        host: api.moby.localhost
        body: |
            {"Id":"sha256:ab713f1b31bd1417b36757a0e8907e5defb89fa695b3823846e3160e0dc80bda","RepoTags":["pack.local/builder/11111111111111111111:latest"],"RepoDigests":[],"Parent":"","Comment":"","Created":"1980-01-01T00:00:01Z","DockerVersion":"","Author":"","Config":{"Hostname":"","Domainname":"","User":"1001:1000","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":[...]
    - id: 16
      request:
        host: api.moby.localhost
        body: ""
        form: {}
        headers: {}
        url: http:///var/run/docker.sock/v1.47/images/sha256:ab713f1b31bd1417b36757a0e8907e5defb89fa695b3823846e3160e0dc80bda/tag?repo=pack.local%2Fbuilder%2F11111111111111111111&tag=latest
        method: POST
      response:
        body: ""
        headers:
            Api-Version:
                - "1.47"
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 201 Created
        code: 201
        duration: 4.228724ms
    - id: 17
      request:
        host: api.moby.localhost
        body: |
            {"Id":"b3e780b91c693b8a678788682fd0b19e3a0919a5b58898fb82e3e53dcee14713","Warnings":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: http:///var/run/docker.sock/v1.47/containers/create
        method: POST
      response:
        body: |
            {"Id":"b3e780b91c693b8a678788682fd0b19e3a0919a5b58898fb82e3e53dcee14713","Warnings":[]}
        headers:
            Api-Version:
                - "1.47"
            Content-Type:
                - application/json
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 201 Created
        code: 201
        duration: 56.65876ms
    - id: 18
      request:
        host: api.moby.localhost
        body: ""
        form: {}
        headers:
            Content-Type:
                - text/plain
        url: http:///var/run/docker.sock/v1.47/containers/b3e780b91c693b8a678788682fd0b19e3a0919a5b58898fb82e3e53dcee14713/archive?noOverwriteDirNonDir=true&path=%2F
        method: PUT
      response:
        body: ""
        headers:
            Api-Version:
                - "1.47"
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 200 OK
        code: 200
        duration: 8.945775ms
[...]
    - id: 20
      request:
        host: api.moby.localhost
        body: ""
        form: {}
        headers: {}
        url: http:///var/run/docker.sock/v1.47/containers/b3e780b91c693b8a678788682fd0b19e3a0919a5b58898fb82e3e53dcee14713/start
        method: POST
      response:
        body: ""
        headers:
            Api-Version:
                - "1.47"
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 204 No Content
        code: 204
        duration: 861.234697ms
    - id: 21
      request:
        host: docker
        body: !!binary |
            AQAAAAAAABgbWzM2bT09PT4gQU5BTFlaSU5HG1swbQoBAAAAAAAAbEltYWdlIHdpdGggbm
            FtZSAicmcuZnItcGFyLnNjdy5jbG91ZC9mdW5jc2N3Y2xpdGN0bnJkZXBsb3licDluaGtr
            NGVtL2NsaS10LWN0bnItZGVwbG95LWJwOmxhdGVzdCIgbm90IGZvdW5kCgEAAAAAAAAYG1
            szNm09PT0+IERFVEVDVElORxtbMG0KAQAAAAAAAEp0YXJnZXQgZGlzdHJvIG5hbWUvdmVy
            c2lvbiBsYWJlbHMgbm90IGZvdW5kLCByZWFkaW5nIC9ldGMvb3MtcmVsZWFzZSBmaWxlCg
           [...]
    - id: 22
      request:
        host: api.moby.localhost
        body: |
            {"StatusCode":0}
        form: {}
        headers: {}
        url: http:///var/run/docker.sock/v1.47/containers/b3e780b91c693b8a678788682fd0b19e3a0919a5b58898fb82e3e53dcee14713/wait?condition=next-exit
        method: POST
      response:
            - chunked
        body: |
            {"StatusCode":0}
        headers:
            Api-Version:
                - "1.47"
            Content-Type:
                - application/json
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 200 OK
        code: 200
        duration: 861.092931ms
    - id: 23
      request:
        host: api.moby.localhost
        body: ""
        form: {}
        headers: {}
        url: http:///var/run/docker.sock/v1.47/containers/b3e780b91c693b8a678788682fd0b19e3a0919a5b58898fb82e3e53dcee14713?force=1
        method: DELETE
      response:
        body: ""
        headers:
            Api-Version:
                - "1.47"
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 204 No Content
        code: 204
        duration: 133.773419ms
    - id: 24
      request:
        host: api.moby.localhost
        body: ""
        form: {}
        headers: {}
        url: http:///var/run/docker.sock/v1.47/volumes/pack-layers-gmoqturtil?force=1
        method: DELETE
      response:
        body: ""
        headers:
            Api-Version:
                - "1.47"
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 204 No Content
        code: 204
        duration: 778.244321ms
    - id: 25
      request:
        host: api.moby.localhost
        body: ""
        form: {}
        headers: {}
        url: http:///var/run/docker.sock/v1.47/volumes/pack-app-abxmiflfqe?force=1
        method: DELETE
      response:
        body: ""
        headers:
            Api-Version:
                - "1.47"
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 204 No Content
        code: 204
        duration: 2.888156ms
    - id: 26
      request:
        host: api.moby.localhost
        body: |
            [{"Untagged":"pack.local/builder/11111111111111111111:latest"},{"Deleted":"sha256:ab713f1b31bd1417b36757a0e8907e5defb89fa695b3823846e3160e0dc80bda"},{"Deleted":"sha256:92962345a211ccc21bf21a1ce3fdb88c1b2d8a0ba0d60b9612f170acc1f7c222"},{"Deleted":"sha256:7401e09ab4e9836f1db5de297101b95aeb89a0b206c5e085cd033837306cf636"},{"Deleted":"sha256:c71d8c52b73c036028ab71ef7502d86f8926c9ca4d6af9a4854a3540a3f2ec1c"},{"Deleted":"sha256:0c0a1ca8aa023cace2a8b793b42c121d89bf4cfdae752cadd78af68f3f7eee78"}]
        form: {}
        headers: {}
        url: http:///var/run/docker.sock/v1.47/images/pack.local/builder/11111111111111111111:latest?force=1&noprune=1
        method: DELETE
      response:
        body: |
            [{"Untagged":"pack.local/builder/11111111111111111111:latest"},{"Deleted":"sha256:ab713f1b31bd1417b36757a0e8907e5defb89fa695b3823846e3160e0dc80bda"},{"Deleted":"sha256:92962345a211ccc21bf21a1ce3fdb88c1b2d8a0ba0d60b9612f170acc1f7c222"},{"Deleted":"sha256:7401e09ab4e9836f1db5de297101b95aeb89a0b206c5e085cd033837306cf636"},{"Deleted":"sha256:c71d8c52b73c036028ab71ef7502d86f8926c9ca4d6af9a4854a3540a3f2ec1c"},{"Deleted":"sha256:0c0a1ca8aa023cace2a8b793b42c121d89bf4cfdae752cadd78af68f3f7eee78"}]
        headers:
            Api-Version:
                - "1.47"
            Content-Type:
                - application/json
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
        status: 200 OK
        code: 200
        duration: 25.860221ms
    - id: 27
      request:
        host: api.moby.localhost
        body: "{\"status\":\"The push refers to repository [rg.fr-par.scw.cloud/funcscwclitctnrdeploybp9nhkk4em/cli-t-ctnr-deploy-bp]\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"83d85471d9f8\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"062fcbb740e0\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"2ff3caac6126\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"f7580b15775a\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"bea52ac9c027\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"fdfdf5ed2fd4\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"bffaf1effca3\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"532ce74b85eb\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"febe488c520d\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"c9effda33d60\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"c7ac11f4d509\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"3cc982388b71\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"bffaf1effca3\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"532ce74b85eb\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"febe488c520d\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"c9effda33d60\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"c7ac11f4d509\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"3cc982388b71\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"fdfdf5ed2fd4\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":512,\"total\":23},\"progress\":\"[==================================================\\u003e]     512B\",\"id\":\"83d85471d9f8\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":2560,\"total\":23},\"progress\":\"[==================================================\\u003e]   2.56kB\",\"id\":\"83d85471d9f8\"}\r\n{\"status\":\"Pushing\",\"progressDetail\":{\"current\":3072,\"total\":284888},\"progress\":\"[\\u003e                                                  ]  3.072kB/284.9kB\",\"id\":\"bea52ac9c027\"}\r\n{\"status[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"containers":[],"total_count":0}'
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers?name=cli-t-ctnr-deploy-bp&namespace_id=8097891a-6966-4d56-8fa3-76798df35645&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"containers":[],"total_count":0}'
        headers:
[...]
