---
version: 1
interactions:
- request:
    body: '{"id":"10723b04-8aa7-436b-a894-a884f14d2e3c", "name":"cli-test-ctn-update-rg-img-relaxed-cohen",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-relaxed-cohen", "is_public":false,
      "size":0, "created_at":"2025-10-22T13:24:19.805965205Z", "updated_at":"2025-10-22T13:24:19.805965205Z",
      "image_count":0, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"10723b04-8aa7-436b-a894-a884f14d2e3c", "name":"cli-test-ctn-update-rg-img-relaxed-cohen",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-relaxed-cohen", "is_public":false,
      "size":0, "created_at":"2025-10-22T13:24:19.805965205Z", "updated_at":"2025-10-22T13:24:19.805965205Z",
      "image_count":0, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"images":[{"id":"40657d74-f668-44b5-822d-4fe83e9b466a", "name":"nginx-1-28-0-alpine",
      "namespace_id":"10723b04-8aa7-436b-a894-a884f14d2e3c", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":21002833, "created_at":"2025-10-22T13:24:30.566758Z",
      "updated_at":"2025-10-22T13:24:30.855412Z", "tags":["latest"]}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=nginx-1-28-0-alpine&namespace_id=10723b04-8aa7-436b-a894-a884f14d2e3c&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"images":[{"id":"40657d74-f668-44b5-822d-4fe83e9b466a", "name":"nginx-1-28-0-alpine",
      "namespace_id":"10723b04-8aa7-436b-a894-a884f14d2e3c", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":21002833, "created_at":"2025-10-22T13:24:30.566758Z",
      "updated_at":"2025-10-22T13:24:30.855412Z", "tags":["latest"]}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespaces":[{"id":"681422c2-2605-485d-be8c-4caaba0e40ad", "name":"bidouille",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/bidouille", "is_public":false, "size":121465369,
      "created_at":"2025-10-13T14:51:28.239376Z", "updated_at":"2025-10-21T11:47:43.913707Z",
      "image_count":4, "region":"fr-par"}, {"id":"10723b04-8aa7-436b-a89[...]
[...]
- request:
    body: '{"id":"f89b1cb8-f8ea-4a16-8c2d-14a5e515a65f", "name":"cli-cns-charming-blackburn",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-22T13:25:20.125365166Z", "updated_at":"2025-10-22T13:25:20.125365166Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"f89b1cb8-f8ea-4a16-8c2d-14a5e515a65f", "name":"cli-cns-charming-blackburn",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-22T13:25:20.125365166Z", "updated_at":"2025-10-22T13:25:20.125365166Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"f89b1cb8-f8ea-4a16-8c2d-14a5e515a65f", "name":"cli-cns-charming-blackburn",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-22T13:25:20.125365Z", "updated_at":"2025-10-22T13:25:20.125365Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/f89b1cb8-f8ea-4a16-8c2d-14a5e515a65f
    method: GET
  response:
    body: '{"id":"f89b1cb8-f8ea-4a16-8c2d-14a5e515a65f", "name":"cli-cns-charming-blackburn",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-22T13:25:20.125365Z", "updated_at":"2025-10-22T13:25:20.125365Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"fee028d9-ff56-43d1-85ad-5806e803500f", "name":"cli-test-funny-snyder",
      "namespace_id":"f89b1cb8-f8ea-4a16-8c2d-14a5e515a65f", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-relaxed-cohen/nginx-1-28-0-alpine:latest",
      "max_concurrency":50, "domain_name":"clicnscharmingblackbvnksda2h-cli-test-funny-snyder.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":80, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2025-10-22T13:25:46.206383428Z", "updated_at":"2025-10-22T13:25:46.206383428Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"fee028d9-ff56-43d1-85ad-5806e803500f", "name":"cli-test-funny-snyder",
      "namespace_id":"f89b1cb8-f8ea-4a16-8c2d-14a5e515a65f", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-relaxed-cohen/nginx-1-28-0-alpine:latest",
      "max_concurrency":50, "domain_name":"clicnscharmingblackbvnksda2h-cli-test-funny-snyder.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":80, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2025-10-22T13:25:46.206383428Z", "updated_at":"2025-10-22T13:25:46.206383428Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"fee028d9-ff56-43d1-85ad-5806e803500f", "name":"cli-test-funny-snyder",
      "namespace_id":"f89b1cb8-f8ea-4a16-8c2d-14a5e515a65f", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-relaxed-cohen/nginx-1-28-0-alpine:latest",
      "max_concurrency":[...]
- request:
    body: '{"id":"fee028d9-ff56-43d1-85ad-5806e803500f", "name":"cli-test-funny-snyder",
      "namespace_id":"f89b1cb8-f8ea-4a16-8c2d-14a5e515a65f", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-relaxed-cohen/nginx-1-28-0-alpine:latest",
      "max_concurrency":[...]
[...]
- request:
    body: '{"id":"10723b04-8aa7-436b-a894-a884f14d2e3c", "name":"cli-test-ctn-update-rg-img-relaxed-cohen",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-relaxed-cohen", "is_public":false,
      "size":43586812, "created_at":"2025-10-22T13:24:19.805965Z", "updated_at":"2025-10-22T13:26:22.205204291Z",
      "image_count":2, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/10723b04-8aa7-436b-a894-a884f14d2e3c
    method: DELETE
  response:
    body: '{"id":"10723b04-8aa7-436b-a894-a884f14d2e3c", "name":"cli-test-ctn-update-rg-img-relaxed-cohen",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "status":"deleting", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-relaxed-cohen", "is_public":false,
      "size":43586812, "created_at":"2025-10-22T13:24:19.805965Z", "updated_at":"2025-10-22T13:26:22.205204291Z",
      "image_count":2, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
