---
version: 1
interactions:
- request:
    body: '{"id":"213fb58c-6b93-4713-94db-f747a8b2e400", "name":"cli-cns-gifted-darwin",
      "environment_variables":{}, "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-05-19T14:36:25.677968411Z", "updated_at":"2025-05-19T14:36:25.677968411Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"213fb58c-6b93-4713-94db-f747a8b2e400", "name":"cli-cns-gifted-darwin",
      "environment_variables":{}, "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-05-19T14:36:25.677968411Z", "updated_at":"2025-05-19T14:36:25.677968411Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"213fb58c-6b93-4713-94db-f747a8b2e400", "name":"cli-cns-gifted-darwin",
      "environment_variables":{}, "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-05-19T14:36:25.677968Z", "updated_at":"2025-05-19T14:36:25.677968Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/213fb58c-6b93-4713-94db-f747a8b2e400
    method: GET
  response:
    body: '{"id":"213fb58c-6b93-4713-94db-f747a8b2e400", "name":"cli-cns-gifted-darwin",
      "environment_variables":{}, "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-05-19T14:36:25.677968Z", "updated_at":"2025-05-19T14:36:25.677968Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"a2844e21-3cf0-42a3-bab0-194ff3ddcae4", "name":"cli-test-quirky-northcutt",
      "namespace_id":"213fb58c-6b93-4713-94db-f747a8b2e400", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclicnsgifteddarwinplhkllu4/cli-test-quirky-northcutt:latest",
      "max_concurrency":50, "domain_name":"clicnsgifteddarwinplhkllu4-cli-test-quirky-northcutt.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":8080, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2025-05-19T14:36:51.224081657Z", "updated_at":"2025-05-19T14:36:51.224081657Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"a2844e21-3cf0-42a3-bab0-194ff3ddcae4", "name":"cli-test-quirky-northcutt",
      "namespace_id":"213fb58c-6b93-4713-94db-f747a8b2e400", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclicnsgifteddarwinplhkllu4/cli-test-quirky-northcutt:latest",
      "max_concurrency":50, "domain_name":"clicnsgifteddarwinplhkllu4-cli-test-quirky-northcutt.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":8080, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2025-05-19T14:36:51.224081657Z", "updated_at":"2025-05-19T14:36:51.224081657Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"a2844e21-3cf0-42a3-bab0-194ff3ddcae4", "name":"cli-test-quirky-northcutt",
      "namespace_id":"213fb58c-6b93-4713-94db-f747a8b2e400", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclicnsgifteddarwinplhkllu4/cli-test-quirky-northcutt:latest",
      "max_concurrenc[...]
[...]
