---
version: 1
interactions:
- request:
    body: '{"id":"f29e7425-baaf-4d5e-9fde-807f822c4f9b", "name":"cli-cns-modest-booth",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-23T08:57:41.103814012Z", "updated_at":"2025-10-23T08:57:41.103814012Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"f29e7425-baaf-4d5e-9fde-807f822c4f9b", "name":"cli-cns-modest-booth",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-23T08:57:41.103814012Z", "updated_at":"2025-10-23T08:57:41.103814012Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"f29e7425-baaf-4d5e-9fde-807f822c4f9b", "name":"cli-cns-modest-booth",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-23T08:57:41.103814Z", "updated_at":"2025-10-23T08:57:41.103814Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/f29e7425-baaf-4d5e-9fde-807f822c4f9b
    method: GET
  response:
    body: '{"id":"f29e7425-baaf-4d5e-9fde-807f822c4f9b", "name":"cli-cns-modest-booth",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-23T08:57:41.103814Z", "updated_at":"2025-10-23T08:57:41.103814Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"a5c124fd-b498-467a-a1d6-2c6f75b575ac", "name":"cli-test-bold-ishizaka",
      "namespace_id":"f29e7425-baaf-4d5e-9fde-807f822c4f9b", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclicnsmodestboothuodegdpe/cli-test-bold-ishizaka:latest",
      "max_concurrency":50, "domain_name":"clicnsmodestboothuodegdpe-cli-test-bold-ishizaka.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":8080, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2025-10-23T08:57:56.438051175Z", "updated_at":"2025-10-23T08:57:56.438051175Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"a5c124fd-b498-467a-a1d6-2c6f75b575ac", "name":"cli-test-bold-ishizaka",
      "namespace_id":"f29e7425-baaf-4d5e-9fde-807f822c4f9b", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclicnsmodestboothuodegdpe/cli-test-bold-ishizaka:latest",
      "max_concurrency":50, "domain_name":"clicnsmodestboothuodegdpe-cli-test-bold-ishizaka.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":8080, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2025-10-23T08:57:56.438051175Z", "updated_at":"2025-10-23T08:57:56.438051175Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"a5c124fd-b498-467a-a1d6-2c6f75b575ac", "name":"cli-test-bold-ishizaka",
      "namespace_id":"f29e7425-baaf-4d5e-9fde-807f822c4f9b", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclicnsmodestboothuodegdpe/cli-test-bold-ishizaka:latest",
      "max_concurrency":50, [...]
[...]
