---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"namespaces":[], "total_count":0}'
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-ba&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.281547ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"21b5c239-3c7e-479b-b1a6-11dbbacde27f", "name":"cli-t-ctnr-deploy-ba", "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"", "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[], "tags":[], "created_at":"2025-07-22T15:54:46.942754591Z", "updated_at":"2025-07-22T15:54:46.942754591Z", "vpc_integration_activated":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"21b5c239-3c7e-479b-b1a6-11dbbacde27f", "name":"cli-t-ctnr-deploy-ba", "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"", "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[], "tags":[], "created_at":"2025-07-22T15:54:46.942754591Z", "updated_at":"2025-07-22T15:54:46.942754591Z", "vpc_integration_activated":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 624.460962ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"21b5c239-3c7e-479b-b1a6-11dbbacde27f", "name":"cli-t-ctnr-deploy-ba", "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"", "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[], "tags":[], "created_at":"2025-07-22T15:54:46.942755Z", "updated_at":"2025-07-22T15:54:46.942755Z", "vpc_integration_activated":false, "region":"fr-par"}'
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/21b5c239-3c7e-479b-b1a6-11dbbacde27f
        method: GET
      response:
        body: '{"id":"21b5c239-3c7e-479b-b1a6-11dbbacde27f", "name":"cli-t-ctnr-deploy-ba", "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"", "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[], "tags":[], "created_at":"2025-07-22T15:54:46.942755Z", "updated_at":"2025-07-22T15:54:46.942755Z", "vpc_integration_activated":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.539939ms
[...]
    - id: 4
      request:
        host: api.moby.localhost
        body: ""
        form: {}
        headers: {}
        url: http://%2Fvar%2Frun%2Fdocker.sock/_ping
        method: HEAD
      response:
        body: ""
        headers:
            Api-Version:
                - "1.47"
            Builder-Version:
                - "2"
            Content-Type:
                - text/plain; charset=utf-8
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
            Swarm:
                - inactive
        status: 200 OK
        code: 200
        duration: 507.616µs
    - id: 5
      request:
        host: api.moby.localhost
        body: "{\"stream\":\"Step 1/6 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e 6769dc3a703c\\n\"}\r\n{\"stream\":\"Step 2/6 : RUN apk add --no-cache curl git bash\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e 90c527519f03\\n\"}\r\n{\"stream\":\"Step 3/6 : COPY ./index.html /usr/share/nginx/html/index.html\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e d745d9ef0d1a\\n\"}\r\n{\"stream\":\"Step 4/6 : ARG TEST\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e 17ea30384c85\\n\"}\r\n{\"stream\":\"Step 5/6 : RUN test -n \\\"$TEST\\\"\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e a73b783c8bea\\n\"}\r\n{\"stream\":\"Step 6/6 : EXPOSE 80\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e 7f9edc39fc50\\n\"}\r\n{\"aux\":{\"ID\":\"sha256:7f9edc39fc50faf917aff1b32d9bd84ef1f965a036756e0df77e0b2c9aaf7470\"}}\r\n{\"stream\":\"Successfully built 7f9edc39fc50\\n\"}\r\n{\"stream\":\"Successfully tagged rg.fr-par.scw.cloud/funcscwclitctnrdeploybat2mhdji3/cli-t-ctnr-deploy-ba:latest\\n\"}\r\n"
        form: {}
        headers:
            Content-Type:
                - application/x-tar
            X-Registry-Config:
                - bnVsbA==
        url: http://%2Fvar%2Frun%2Fdocker.sock/v1.47/build?buildargs=%7B%22TEST%22%3A%22thisisatest%22%7D&cachefrom=null&cgroupparent=&cpuperiod=0&cpuquota=0&cpusetcpus=&cpusetmems=&cpushares=0&dockerfile=Dockerfile&labels=null&memory=0&memswap=0&networkmode=&rm=0&shmsize=0&t=rg.fr-par.scw.cloud%2Ffuncscwclitctnrdeploybat2mhdji3%2Fcli-t-ctnr-deploy-ba%3Alatest&target=&ulimits=null&version=
        method: POST
      response:
            - chunked
        body: "{\"st[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"message":"Namespace was not found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/21b5c239-3c7e-479b-b1a6-11dbbacde27f
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.393167ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"namespaces":[], "total_count":0}'
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-ba&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.423657ms
