---
version: 2
interactions:
- request:
    body: '{"namespaces":[],"total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-bp&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"id":"d7da9ba0-c141-4213-9a28-320dfef652a0","name":"cli-t-ctnr-deploy-bp","environment_variables":{},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"d7da9ba0-c141-4213-9a28-320dfef652a0","name":"cli-t-ctnr-deploy-bp","environment_variables":{},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"id":"d7da9ba0-c141-4213-9a28-320dfef652a0","name":"cli-t-ctnr-deploy-bp","environment_variables":{},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/d7da9ba0-c141-4213-9a28-320dfef652a0
    method: GET
  response:
    body: '{"id":"d7da9ba0-c141-4213-9a28-320dfef652a0","name":"cli-t-ctnr-deploy-bp","environment_variables":{},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/_ping
    method: HEAD
  response:
    body: ""
    headers:
      Api-Version:
      - "1.41"
      Builder-Version:
      - "2"
      Content-Type:
      - text/plain; charset=utf-8
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
- request:
    body: "{\"status\":\"Pulling from paketobuildpacks/builder\",\"id\":\"base\"}\r\n{\"status\":\"Digest:
      sha256:17ea21162ba8c7717d3ead3ee3836a368aced7f02f2e59658e52029bd6d149e7\"}\r\n{\"status\":\"Status:
      Image is up to date for paketobuildpacks/builder:base\"}\r\n"
    form: {}
    headers:
      Content-Type:
      - text/plain
      X-Registry-Auth:
      - eyJ1c2VybmFtZSI6Inlmb2RpbCIsInBhc3N3b3JkIjoiT25jaGVvbmNoZTMxIiwiYXV0aCI6ImVXWnZaR2xzT2s5dVkyaGxiMjVqYUdVek1RPT0ifQ==
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/images/create?fromImage=paketobuildpacks%2Fbuilder&tag=base
    method: POST
  response:
    body: "{\"status\":\"Pulling from paketobuildpacks/builder\",\"id\":\"base\"}\r\n{\"status\":\"Digest:
      sha256:17ea21162ba8c7717d3ead3ee3836a368aced7f02f2e59658e52029bd6d149e7\"}\r\n{\"status\":\"Status:
      Image is up to date for paketobuildpacks/builder:base\"}\r\n"
    headers:
      Api-Version:
      - "1.41"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
- request:
    body: |
      {"Platform":{"Name":"Docker Desktop 4.12.0 (85629)"},"Components":[{"Name":"Engine","Version":"20.10.17","Details":{"ApiVersion":"1.41","Arch":"amd64","BuildTime":"2022-06-06T23:01:23.000000000+00:00","Experimental":"false","GitCommit":"a89b842","GoVersion":"go1.17.11","KernelVersion":"5.10.124-linuxkit","MinAPIVersion":"1.12","Os":"linux"}},{"Name":"containerd","Version":"1.6.8","Details":{"GitCommit":"9cd3357b7fd7218e4aec3eae239db1f68a5a6ec6"}},{"Name":"runc","Version":"1.1.4","Details":{"GitCommit":"v1.1.4-0-g5fd4c4d"}},{"Name":"docker-init","Version":"0.19.0","Details":{"GitCommit":"de40ad0"}}],"Version":"20.10.17","ApiVersion":"1.41","MinAPIVersion":"1.12","GitCommit":"a89b842","GoVersion":"go1.17.11","Os":"linux","Arch":"amd64","KernelVersion":"5.10.124-linuxkit","BuildTime":"2022-06-06T23:01:23.000000000+00:00"}
   [...]
- request:
    body: |
      {"Id":"sha256:050ed48532b2372205a8bded4b0ad65578e02f979ef50cabbc587e7c157bb255","RepoTags":["paketobuildpacks/builder:base"],"RepoDigests":["paketobuildpacks/builder@sha256:17ea21162ba8c7717d3ead3ee3836a368aced7f02f2e59658e52029bd6d149e7"],"Parent":"","Comment":"","Created":"1980-01-01T00:00:01Z","Container":"","ContainerConfig":{"Hostname":"","Domainname":"","User":"","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":null,"Cmd":null,"Image":"","Volumes":null,"WorkingDir":"","Entrypoint":null,"OnBuild":null,"Labels":null},"DockerVersion":"","Author":"","Config":{"Hostname":"","Domainname":"","User":"1000:1000","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":["PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin","CNB_USER_ID=1000","CNB_GROUP_ID=1000","CNB_STACK_ID=io.buildpacks.stacks.bionic"],"Cmd":["/bin/bash"],"Image":"","Volumes":null,"WorkingDir":"/layers","Entrypoint":null,"OnBuild":null,"Labels":{"io.buildpacks.builder.metadata":"{\"description\":\"Ubuntu bionic base image with buildpacks for Java, .NET Core, NodeJS, Go, Python, Ruby, Apache HTTPD, NGINX and Procfile\",\"buildpacks\":[{\"id\":\"paketo-buildpacks/dotnet-core\",\"name\":\"Paketo Buildpack for .NET Core\",\"version\":\"0.38.0\",\"homepage\":\"https://github.com/paketo-buildpacks/dotnet-core\"},{\"id\":\"paketo-buildpacks/ca-certificates\",\"name\":\"Paketo Buildpack for CA Certificates\",\"version\":\"3.6.3\",\"homepage\":\"https://github.com/paketo-buildpacks/ca-certificates\"},{\"id\":\"paketo-buildpacks/dotnet-core-aspnet-runtime\",\"name\":\"Paketo Buildpack for ASP.NET Core Runtime\",\"version\":\"0.3.19\",\"homepage\":\"https://github.com/paketo-buildpacks/dotnet-core-aspnet-runtime\"},{\"id\":\"paketo-buildpacks/dotnet-core-[...]
- request:
    body: |
      [{"Comment":"","Created":315532801,"CreatedBy":"","Id":"sha256:050ed48532b2372205a8bded4b0ad65578e02f979ef50cabbc587e7c157bb255","Size":0,"Tags":["paketobuildpacks/builder:base"]},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":124,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":812,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":21588400,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":4145623,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":28717662,"Tags":null},{"Comment":"","Created":315532801,"CreatedBy":"","Id":"<missing>","Size":5685,"Tags":null},{"Comment[...]
- request:
    body: "{\"status\":\"Pulling from paketobuildpacks/run\",\"id\":\"base-cnb\"}\r\n{\"status\":\"Digest:
      sha256:1af9935d8987fd52b2266d288200c9482d1dd5529860bbf5bc2d248de1cb1a38\"}\r\n{\"status\":\"Status:
      Image is up to date for paketobuildpacks/run:base-cnb\"}\r\n"
    form: {}
    headers:
      Content-Type:
      - text/plain
      X-Registry-Auth:
      - eyJ1c2VybmFtZSI6Inlmb2RpbCIsInBhc3N3b3JkIjoiT25jaGVvbmNoZTMxIiwiYXV0aCI6ImVXWnZaR2xzT2s5dVkyaGxiMjVqYUdVek1RPT0ifQ==
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/images/create?fromImage=paketobuildpacks%2Frun&platform=linux%2Famd64&tag=base-cnb
    method: POST
  response:
    body: "{\"status\":\"Pulling from paketobuildpacks/run\",\"id\":\"base-cnb\"}\r\n{\"status\":\"Digest:
      sha256:1af9935d8987fd52b2266d288200c9482d1dd5529860bbf5bc2d248de1cb1a38\"}\r\n{\"status\":\"Status:
      Image is up to date for paketobuildpacks/run:base-cnb\"}\r\n"
    headers:
      Api-Version:
      - "1.41"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
[...]
- request:
    body: |
      {"Id":"sha256:f2e5000af0cb0db7d16a2939fc88c2aa522e91826c0e87ef2a4ec2825b213585","RepoTags":["paketobuildpacks/run:base-cnb"],"RepoDigests":["paketobuildpacks/run@sha256:1af9935d8987fd52b2266d288200c9482d1dd5529860bbf5bc2d248de1cb1a38"],"Parent":"","Comment":"","Created":"2023-06-29T19:41:21.43038979Z","Container":"","ContainerConfig":{"Hostname":"","Domainname":"","User":"","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":null,"Cmd":null,"Image":"","Volumes":null,"WorkingDir":"","Entrypoint":null,"OnBuild":null,"Labels":null},"DockerVersion":"","Author":"","Config":{"Hostname":"","Domainname":"","User":"1000:1000","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":["PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"],"Cmd":["/bin/bash"],"Image":"","Volumes":null,"WorkingDir":"","Entrypoint":null,"OnBuild":null,"Labels":{"io.buildpacks.stack.description":"ubuntu:bionic with some common dependencies like tzdata and openssl","io.buildpacks.stack.distro.name":"ubuntu","io.buildpacks.stack.distro.version":"18.04","io.buildpacks.stack.homepage":"https://github.com/paketo-buildpacks/bionic-base-stack","io.buildpacks.stack.id":"io.buildpacks.stacks.bionic","io.buildpacks.stack.maintainer":"Paketo Buildpacks","io.buildpacks.stack.metadata":"{}","io.buildpacks.stack.mixins":"[\"libaudit1\",\"liblzma5\",\"libncurses5\",\"passwd\",\"zlib1g\",\"dpkg\",\"libgcrypt20\",\"libdebconfclient0\",\"liblz4-1\",\"libbz2-1.0\",\"gcc-8-base\",\"gpgv\",\"base-passwd\",\"libudev1\",\"mount\",\"sed\",\"libpam-modules-bin\",\"libseccomp2\",\"libss2\",\"tar\",\"sysvinit-utils\",\"grep\",\"libcap-ng0\",\"libcom-err2\",\"libext2fs2\",\"libgcc1\",\"locales\",\"netbase\",\"libblkid1\",\"libuuid1\",\"mawk\",\"libgmp10\",\"libsepol1\",\"findutils\",\"libffi6\",\"libidn2-0\",\"login\",\"dash\",\"libc-bin\",\"libselinux1\",\"tzdata\",\"diffutils\",\"libpam-modules\",\"libpam0g\",\"libpcre3\",\"libyaml-0-2\",\"openssl\",\"libc6\",\"ncurses-bin\",\"libaudit-common\",\"libncursesw5\",\"gzip\",\"libzstd1\",\"fdisk\",\"libapt-pkg5.0\",\"lsb-base\",\"ca-certificates\",\"libattr1\",\"perl-base\",\"ubuntu-keyring\",\"apt\",\"libprocps6\",\"debianutils\",\"libtasn1-6\",\"libtinfo5\",\"adduser\",\"init-system-helpers\",\"libsemanage1\",\"bash\",\"hostname\",\"libdb5.3\",\"libsmartcols1\",\"bzip2\",\"e2fsprogs\",\"libgnutls30\",\"libsystemd0\",\"libunistring2\",\"libsemanage-common\",\"libgpg-error0\",\"procps\",\"libexpat1\",\"libacl1\",\"libfdisk1\",\"ncurses-base\",\"sensible-utils\",\"util-linux\",\"bsdutils\",\"debconf\",\"libhogweed4\",\"libnettle6\",\"libp11-kit0\",\"base-files\",\"libmount1\",\"libpam-runtime\",\"coreutils\",\"libstdc++6\",\"libssl1.1\"]","io.buildpacks.stack.released":"2023-06-29T19:41:56Z","io.paketo.stack.packages":"[{\"name\":\"adduser\",\"version\":\"3.116ubuntu1\",\"arch\":\"all\",\"source\":{\"name\":\"\"},\"summary\":\"add and remove users and groups\"},{\"name\":\"apt\",\"version\":\"1.6.17\",\"arch\":\"amd64\",\"source\":{\"name\":\"\"},\"summary\":\"commandline package manager\"},{\"name\":\"base-files\",\"version\":\"10.1ubuntu2.11\",\"arch\":\"amd64\",\"source\":{\"name\":\"\"},\"summary\":\"Debian base system miscellaneous files\"},{\"name\":\"base-passwd\",\"version\":\"3.5.44\",\"arch\":\"amd64\",\"source\":{\"name\":\"\"},\"summary\":\"Debian base system master password and group files\"},{\"name\":\"bash\",\"version\":\"4.4.18-2ubuntu1.3\",\"arch\":\"amd64\",\"source\":{\"name\":\"\"},\"summary\":\"GNU Bourne Again SHell\"},{\"name\":\"bsdutils\",\"version\":\"1:2.31.1-0.4ubuntu3.7\",\"arch\":\"amd64\",\"source\":{\"name\":\"util-linux\",\"version\":\"2.31.1-0.4ubuntu3.7\",\"upstreamVersion\":\"2.31.1\"},\"summary\":\"basic utilities from 4.4BSD-Lite\"},{\"name\":\"bzip2\",\"version\":\"1.0.6-8.1ubuntu0.2\",\"arch\":\"amd64\",\"source\":{\"name\":\"\"},\"summary\":\"high-quality block-sorting file compressor - utilities\"},{\"name\":\"ca-certificates\",\"version\":\"20230311ubuntu0.18.04.1\",\"arch\":\"all\",\"source\":{\"name\":\"\"},\"summary\":\"Common CA certificates\"},{\"name\":\"coreutils\",\"version\":\"8.28-1ubuntu1\",\"arch\":\"amd64\",\"source\":{\"name\":\"\"},\"summary\"[...]
- request:
    body: |
      [{"Comment":"","Created":-62135596800,"CreatedBy":"","Id":"sha256:f2e5000af0cb0db7d16a2939fc88c2aa522e91826c0e87ef2a4ec2825b213585","Size":509,"Tags":["paketobuildpacks/run:base-cnb"]},{"Comment":"","Created":-62135596800,"CreatedBy":"","Id":"<missing>","Size":1421,"Tags":null},{"Comment":"buildkit.dockerfile.v0","Created":1688067681,"CreatedBy":"RUN |3 sources=    deb http://archive.ubuntu.com/ubuntu bionic main universe multiverse\n    deb http://archive.ubuntu.com[...]
- request:
    body: |
      {"ID":"HEXW:6FAA:BOXA:VOL6:KXN3:VRXY:X6FW:UX34:KYRE:VLP4:INY3:HM6J","Containers":6,"ContainersRunning":2,"ContainersPaused":0,"ContainersStopped":4,"Images":29,"Driver":"overlay2","DriverStatus":[["Backing Filesystem","extfs"],["Supports d_type","true"],["Native Overlay Diff","true"],["userxattr","false"]],"Plugins":{"Volume":["local"],"Network":["bridge","host","ipvlan","macvlan","null","overlay"],"Authorization":null,"Log":["awslogs","fluentd","gcplogs","gelf","journald","json-file","local","logentries","splunk","syslog"]},"MemoryLimit":true,"SwapLimit":true,"KernelMemory":false,"KernelMemoryTCP":false,"CpuCfsPeriod":true,"CpuCfsQuota":true,"CPUShares":true,"CPUSet":true,"PidsLimit":true,"IPv4Forwarding":true,"BridgeNfIptables":true,"BridgeNfIp6tables":true,"Debug":false,"NFd":63,"OomKillDisable":false,"NGoroutines":57,"SystemTime":"2023-11-08T12:44:11.218231433Z","LoggingDriver":"json-file","CgroupDriver":"cgroupfs","CgroupVersion":"2","NEventsListener":3,"KernelVersion":"5.10.124-linuxkit","OperatingSystem":"Docker Desktop","OSVersion":"","OSType":"linux","Architecture":"x86_64","IndexServerAddress":"https://index.docker.io/v1/","RegistryConfig":{"AllowNondistributableArtifactsCIDRs":[],"AllowNondistributableArtifactsHostnames":[],"InsecureRegistryCIDRs":["127.0.0.0/8"],"IndexConfigs":{"docker.io":{"Name":"docker.io","Mirrors":[],"Secure":true,"Official":true},"hubproxy.docker.internal:5000":{"Name":"hubproxy.docker.internal:5000","Mirrors":[],"Secure":false,"Official":false}},"Mirrors":[]},"NCPU":8,"MemTotal":6232109056,"GenericResources":null,"DockerRootDir":"/var/lib/docker","HttpProxy":"http.docker.internal:3128","HttpsProxy":"http.docker.internal:3128","NoProxy":"hubproxy.docker.internal","Name":"docker-desktop","Labels":[],"ExperimentalBuild":false,"ServerVersion":"20.10.17","Runtimes":{"io.containerd.runc.v2":{"path":"runc"},"io.containerd.runtime.v1.linux":{"path":"runc"},"runc":{"path":"runc"}},"DefaultRuntime":"runc","Swarm":{"NodeID":"","NodeAddr":"","LocalNodeState":"inactive","ControlAvailable":false,"Error":"","RemoteManagers":null},"LiveRestoreEnabled":false,"Isolation":"","InitBinary":"docker-init","ContainerdCommit":{"ID":"9cd3357b7fd7218e4aec3eae239db1f68a5a6ec6","Expected":"9cd3357b7fd7218e4aec3eae239db1f68a5a6ec6"},"RuncCommit":{"ID":"v1.1.4-0-g5fd4c4d","Expected":"v1.1.4-0-g5fd4c4d"},"InitCommit":{"ID":"de40ad0","Expected":"de40ad0"},"SecurityOptions":["name=seccomp,profile=default","name=cgroupns"],"Warnings":null}
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/info
    method: GET
  response:
    body: |
      {"ID":"HEXW:6FAA:BOXA:VOL6:KXN3:VRXY:X6FW:UX34:KYRE:VLP4:INY3:HM6J","Containers":6,"ContainersRunning":2,"ContainersPaused":0,"ContainersStopped":4,"Images":29,"Driver":"overlay2","DriverStatus":[["Backing Filesystem","extfs"],["Supports d_type","true"],["Native Overlay Diff","true"],["userxattr","false"]],"Plugins":{"Volume":["local"],"Network":["bridge","host",[...]
- request:
    body: "{\"stream\":\"Loaded image: pack.local/builder/11111111111111111111:latest\\n\"}\r\n"
    form: {}
    headers:
      Content-Type:
      - application/x-tar
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/images/load?quiet=1
    method: POST
  response:
    body: "{\"stream\":\"Loaded image: pack.local/builder/11111111111111111111:latest\\n\"}\r\n"
    headers:
      Api-Version:
      - "1.41"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
- request:
    body: |
      {"Id":"sha256:47765944e4c055695ef2f8b39234d96d43834ae00c757762e952cb71809809fe","RepoTags":["pack.local/builder/11111111111111111111:latest"],"RepoDigests":[],"Parent":"","Comment":"","Created":"1980-01-01T00:00:01Z","Container":"","ContainerConfig":{"Hostname":"","Domainname":"","User":"","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":null,"Cmd":null,"Image":"","Volumes":null,"WorkingDir":"","Entry[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - text/plain
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/images/sha256:47765944e4c055695ef2f8b39234d96d43834ae00c757762e952cb71809809fe/tag?repo=pack.local%2Fbuilder%2F11111111111111111111&tag=latest
    method: POST
  response:
    body: ""
    headers:
      Api-Version:
      - "1.41"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 201 Created
    code: 201
- request:
    body: |
      {"Id":"3fb83d9dd9329387b8832ef6b2e9d734e2dce7190753873463a8fdba1932bcb6","Warnings":[]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/containers/create
    method: POST
  response:
    body: |
      {"Id":"3fb83d9dd9329387b8832ef6b2e9d734e2dce7190753873463a8fdba1932bcb6","Warnings":[]}
    headers:
      Api-Version:
      - "1.41"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 201 Created
    code: 201
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - text/plain
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/containers/3fb83d9dd9329387b8832ef6b2e9d734e2dce7190753873463a8fdba1932bcb6/archive?noOverwriteDirNonDir=true&path=%2F
    method: PUT
  response:
    body: ""
    headers:
      Api-Version:
      - "1.41"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - text/plain
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/containers/3fb83d9dd9329387b8832ef6b2e9d734e2dce7190753873463a8fdba1932bcb6/start
    method: POST
  response:
    body: ""
    headers:
      Api-Version:
      - "1.41"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 204 No Content
    code: 204
- request:
    body: !!binary |
      AQAAAAAAABgbWzM2bT09PT4gQU5BTFlaSU5HG1swbQoBAAAAAAAAhEltYWdlIHdpdGggbm
      FtZSAicmcuZnItcGFyLnNjdy5jbG91ZC9mdW5jc2N3Y2xpdGN0bnJkZXBsb3licGV1d3ky
      bGZtL2NsaS10LWN0bnItZGVwbG95LWJwOmxhdGVzdCIgbm90IGZvdW5kChtbMzZtPT09Pi
      BERVRFQ1RJTkcbWzBtCgEAAAAAAATtPT09PT09PT0gT3V0cHV0OiBwYWtldG8tYnVpbGRw
      YWNrcy9ub2RlLXJ1bi1zY3JpcHRAMS4wLjEwID09PT09PT09CmNvdWxkIG5vdCBmaW5kIH
      NjcmlwdChzKSBbYnVpbGRdIGluIHBhY2thZ2UuanNvbgplcnI6ICBwYWtldG8tYnVpbGRw
      [...]
- request:
    body: |
      {"Error":null,"StatusCode":0}
    form: {}
    headers:
      Content-Type:
      - text/plain
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/containers/3fb83d9dd9329387b8832ef6b2e9d734e2dce7190753873463a8fdba1932bcb6/wait?condition=next-exit
    method: POST
  response:
    body: |
      {"Error":null,"StatusCode":0}
    headers:
      Api-Version:
      - "1.41"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/containers/3fb83d9dd9329387b8832ef6b2e9d734e2dce7190753873463a8fdba1932bcb6?force=1
    method: DELETE
  response:
    body: ""
    headers:
      Api-Version:
      - "1.41"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 204 No Content
    code: 204
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/volumes/pack-layers-plqdhqebot?force=1
    method: DELETE
  response:
    body: ""
    headers:
      Api-Version:
      - "1.41"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 204 No Content
    code: 204
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/volumes/pack-app-ozddbtpayk?force=1
    method: DELETE
  response:
    body: ""
    headers:
      Api-Version:
      - "1.41"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 204 No Content
    code: 204
- request:
    body: |
      [{"Untagged":"pack.local/builder/11111111111111111111:latest"},{"Deleted":"sha256:47765944e4c055695ef2f8b39234d96d43834ae00c757762e952cb71809809fe"},{"Deleted":"sha256:685fc768cab9add4bdab3a861580623de7fae989d21b771911222892da7009ea"},{"Deleted":"sha256:c21720e5b06f04cbd1ab670b1cd95f22c8afecd2b48368b6a9decb69b301b765"},{"Deleted":"sha256:0134997dccaf1923f554c78520bf47dba878f2ffa5d04597439cf22012417c23"},{"Deleted":"sha256:e714d1a2ad562ad8a3fe7974feed63c3de90d929ecbdf218d588ce6c4eaea33f"}]
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/images/pack.local/builder/11111111111111111111:latest?force=1&noprune=1
    method: DELETE
  response:
    body: |
      [{"Untagged":"pack.local/builder/11111111111111111111:latest"},{"Deleted":"sha256:47765944e4c055695ef2f8b39234d96d43834ae00c757762e952cb71809809fe"},{"Deleted":"sha256:685fc768cab9add4bdab3a861580623de7fae989d21b771911222892da7009ea"},{"Deleted":"sha256:c21720e5b06f04cbd1ab670b1cd95f22c8afecd2b48368b6a9decb69b301b765"},{"Deleted":"sha256:0134997dccaf1923f554c78520bf47dba878f2ffa5d04597439cf22012417c23"},{"Deleted":"sha256:e714d1a2ad562ad8a3fe7974feed63c3de90d929ecbdf218d588ce6c4eaea33f"}]
    headers:
      Api-Version:
      - "1.41"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
- request:
    body: "{\"status\":\"The push refers to repository [rg.fr-par.scw.cloud/funcscwclitctnrdeploybpeuwy2lfm/cli-t-ctnr-deploy-bp]\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"83d85471d9f8\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"1e57d09462bc\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"8812c86dc680\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"b74a3e3c70c5\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"316102a103dc\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"b8fb2917be3a\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"29cf954d38f0\"}\r\n{\"status\":\[...]
- request:
    body: '{"containers":[],"total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers?name=cli-t-ctnr-deploy-bp&namespace_id=d7da9ba0-c141-4213-9a28-320dfef652a0&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"containers":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"id":"ac3ef2fc-a699-43d1-b84b-9a1c9160b587","name":"cli-t-ctnr-deploy-bp","namespace_id":"d7da9ba0-c141-4213-9a28-320dfef652a0","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploybpeuwy2lfm/cli-t-ctnr-deploy-bp:latest","max_concurrency":50,"domain_name":"clitctnrdeploybpeuwy2lfm-cli-t-ctnr-deploy-bp.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"enabled","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"ac3ef2fc-a699-43d1-b84b-9a1c9160b587","name":"cli-t-ctnr-deploy-bp","namespace_id":"d7da9ba0-c141-4213-9a28-320dfef652a0","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploybpeuwy2lfm/cli-t-ctnr-deploy-bp:latest","max_concurrency":50,"domain_name":"clitctnrdeploybpeuwy2lfm-cli-t-ctnr-deploy-bp.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"enabled","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"id":"ac3ef2fc-a699-43d1-b84b-9a1c9160b587","name":"cli-t-ctnr-deploy-bp","namespace_id":"d7da9ba0-c141-4213-9a28-320dfef652a0","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploybpeuwy2lfm/cli-t-ctnr-deploy-bp:latest","max_concurrency":50,"domain_name":"clitctnrdeploybpeuwy2lfm-cli-t-[...]
[...]
- request:
    body: '{"id":"ac3ef2fc-a699-43d1-b84b-9a1c9160b587","name":"cli-t-ctnr-deploy-bp","namespace_id":"d7da9ba0-c141-4213-9a28-320dfef652a0","status":"pending","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploybpeuwy2lfm/cli-t-ctnr-deploy-bp:latest","max_concurrency":50,"domain_name":"clitctnrdeploybpeuwy2lfm-cli-t-[...]
[...]
- request:
    body: '{"message":"Namespace was not found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/d7da9ba0-c141-4213-9a28-320dfef652a0
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
- request:
    body: '{"namespaces":[],"total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-bp&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
