---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"namespaces":[], "total_count":0}'
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-bp&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.44115ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"8be9ded0-72d8-421c-a7d7-6c9d4882bd4c", "name":"cli-t-ctnr-deploy-bp", "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"", "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[], "tags":[], "created_at":"2025-07-22T15:54:58.142324909Z", "updated_at":"2025-07-22T15:54:58.142324909Z", "vpc_integration_activated":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"8be9ded0-72d8-421c-a7d7-6c9d4882bd4c", "name":"cli-t-ctnr-deploy-bp", "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"", "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[], "tags":[], "created_at":"2025-07-22T15:54:58.142324909Z", "updated_at":"2025-07-22T15:54:58.142324909Z", "vpc_integration_activated":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 612.934641ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"8be9ded0-72d8-421c-a7d7-6c9d4882bd4c", "name":"cli-t-ctnr-deploy-bp", "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"", "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[], "tags":[], "created_at":"2025-07-22T15:54:58.142325Z", "updated_at":"2025-07-22T15:54:58.142325Z", "vpc_integration_activated":false, "region":"fr-par"}'
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/8be9ded0-72d8-421c-a7d7-6c9d4882bd4c
        method: GET
      response:
        body: '{"id":"8be9ded0-72d8-421c-a7d7-6c9d4882bd4c", "name":"cli-t-ctnr-deploy-bp", "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"", "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[], "tags":[], "created_at":"2025-07-22T15:54:58.142325Z", "updated_at":"2025-07-22T15:54:58.142325Z", "vpc_integration_activated":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.299914ms
[...]
    - id: 4
      request:
        host: api.moby.localhost
        body: ""
        form: {}
        headers: {}
        url: http://%2Fvar%2Frun%2Fdocker.sock/_ping
        method: HEAD
      response:
        body: ""
        headers:
            Api-Version:
                - "1.47"
            Builder-Version:
                - "2"
            Content-Type:
                - text/plain; charset=utf-8
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
            Swarm:
                - inactive
        status: 200 OK
        code: 200
        duration: 434.498µs
    - id: 5
      request:
        host: api.moby.localhost
        body: "{\"status\":\"Pulling from paketobuildpacks/builder-jammy-base\",\"id\":\"latest\"}\r\n{\"status\":\"Already exists\",\"progressDetail\":{},\"id\":\"9338c8dd059c\"}\r\n{\"status\":\"Already exists\",\"progressDetail\":{},\"id\":\"09f9f6748475\"}\r\n{\"status\":\"Already exists\",\"progressDetail\":{},\"id\":\"42fc8563fd4a\"}\r\n{\"status\":\"Already exists\",\"progressDetail\":{},\"id\":\"c501d664298a\"}\r\n{\"status\":\"Pulling fs layer\",\"progressDetail\":{},\"id\":\"5e10d6376679\"}\r\n{\"status\":\"Pulling fs layer\",\"progressDetail\":{},\"id\":\"3f8d14f38ed4\"}\r\n{\"status\":\"Pulling fs layer\",\"progressDetail\":{},\"id\[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"message":"Namespace was not found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/8be9ded0-72d8-421c-a7d7-6c9d4882bd4c
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.516693ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"namespaces":[], "total_count":0}'
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-bp&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.734753ms
