---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"namespaces":[{"id":"6eacfa60-3c9d-4ffb-a8f5-f3cc30190588", "name":"app-cli-t-ctnr-deploy-fp", "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "registry_namespace_id":"175e5989-90d6-4318-8412-87bd16792956", "error_message":null, "registry_endpoint":"rg.fr-par.scw.cloud/funcscwappclitctnrdeployfpdmrsxdcp", "description":"", "secret_environment_variables":[], "tags":[], "created_at":"2025-07-18T12:47:41.889157Z", "updated_at":"2025-07-18T12:47:43.026760Z", "vpc_integration_activated":false, "region":"fr-par"}], "total_count":1}'
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=app-cli-t-ctnr-deploy-fp&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[{"id":"6eacfa60-3c9d-4ffb-a8f5-f3cc30190588", "name":"app-cli-t-ctnr-deploy-fp", "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "registry_namespace_id":"175e5989-90d6-4318-8412-87bd16792956", "error_message":null, "registry_endpoint":"rg.fr-par.scw.cloud/funcscwappclitctnrdeployfpdmrsxdcp", "description":"", "secret_environment_variables":[], "tags":[], "created_at":"2025-07-18T12:47:41.889157Z", "updated_at":"2025-07-18T12:47:43.026760Z", "vpc_integration_activated":false, "region":"fr-par"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.003569ms
    - id: 1
      request:
        host: api.moby.localhost
        body: ""
        form: {}
        headers: {}
        url: http://%2Fvar%2Frun%2Fdocker.sock/_ping
        method: HEAD
      response:
        body: ""
        headers:
            Api-Version:
                - "1.47"
            Builder-Version:
                - "2"
            Content-Type:
                - text/plain; charset=utf-8
            Docker-Experimental:
                - "false"
            Ostype:
                - linux
            Swarm:
                - inactive
        status: 200 OK
        code: 200
        duration: 607.053µs
    - id: 2
      request:
        host: api.moby.localhost
        body: "{\"stream\":\"Step 1/4 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e 6769dc3a703c\\n\"}\r\n{\"stream\":\"Step 2/4 : RUN apk add --no-cache curl git bash\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e 90c527519f03\\n\"}\r\n{\"stream\":\"Step 3/4 : COPY ./index.html /usr/share/nginx/html/index.html\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e d745d9ef0d1a\\n\"}\r\n{\"stream\":\"Step 4/4 : EXPOSE 80\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e 01d19f1f67fe\\n\"}\r\n{\"aux\":{\"ID\":\"sha256:01d19f1f67fe6af99d4f40a3c5bc969774fb12ae9d067cabb12a5f4704f15b8a\"}}\r\n{\"stream\":\"Successfully built 01d19f1f67fe\\n\"}\r\n{\"stream\":\"Successfully tagged rg.fr-par.scw.cloud/funcscwappclitctnrdeployfpdmrsxdcp/app-cli-t-ctnr-deploy-fp:latest\\n\"}\r\n"
        form: {}
        headers:
            Content-Type:
                - application/x-tar
            X-Registry-Config:
                - bnVsbA==
        url: http://%2Fvar%2Frun%2Fdocker.sock/v1.47/build?buildargs=null&cachefrom=null&cgroupparent=&cpuperiod=0&cpuquota=0&cpusetcpus=&cpusetmems=&cpushares=0&dockerfile=Dockerfile&labels=null&memory=0&memswap=0&networkmode=&rm=0&shmsize=0&t=rg.fr-par.scw.cloud%2Ffuncscwappclitctnrdeployfpdmrsxdcp%2Fapp-cli-t-ctnr-deploy-fp%3Alatest&target=&ulimits=null&version=
        method: POST
      response:
            - chunked
        body: "{\"stream\":\"Step 1/4 : FROM [...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"namespaces":[], "total_count":0}'
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-fp&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.493504ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"namespaces":[], "total_count":0}'
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-fp&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.989179ms
