---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-test-container-deploy-bp&order_by=created_at_asc
    method: GET
  response:
    body: '{"namespaces":[{"id":"a8f24ebc-d090-404c-8e86-ee07a4923cd0","name":"cli-test-container-deploy-bp","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","registry_namespace_id":"9cdf20b0-33d6-4a80-bd20-ecd55c9c295d","error_message":null,"registry_endpoint":"rg.fr-par.scw.cloud/funcscwclitestcontainerdepltd8quiwy","description":"","secret_environment_variables":[],"region":"fr-par"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/_ping
    method: HEAD
  response:
    body: ""
    headers:
      Api-Version:
      - "1.41"
      Builder-Version:
      - "2"
      Content-Type:
      - text/plain; charset=utf-8
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - text/plain
      X-Registry-Auth:
      - eyJhdXRoIjoiT2c9PSJ9
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/images/create?fromImage=paketobuildpacks%2Fbuilder&tag=base
    method: POST
  response:
    body: "{\"status\":\"Pulling from paketobuildpacks/builder\",\"id\":\"base\"}\r\n{\"status\":\"Digest:
      sha256:ba5f7656d1813ace3f411c273850079e867ead9766262988b5e0fe0aa9e8474d\"}\r\n{\"status\":\"Status:
      Image is up to date for paketobuildpacks/builder:base\"}\r\n"
    headers:
      Api-Version:
      - "1.41"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/info
    method: GET
  response:
    body: |
      {"ID":"LFZE:MO2Q:VNT5:CWXX:KVY4:TWCP:SLTL:MIDJ:ZIXC:CPYF:CQTP:GRYJ","Containers":21,"ContainersRunning":0,"ContainersPaused":0,"ContainersStopped":21,"Images":63,"Driver":"overlay2","DriverStatus":[["Backing Filesystem","extfs"],["Supports d_type","true"],["Native Overlay Diff","true"],["userxattr","false"]],"Plugins":{"Volume":["local"],"Network":["bridge","host","ipvlan","macvlan","null","overlay"],"Authorization":null,"Log":["awslogs","fluentd","gcplogs","gelf","journald","json-file","local","logentries","splunk","syslog"]},"MemoryLimit":true,"SwapLimit":true,"KernelMemory":false,"KernelMemoryTCP":false,"CpuCfsPeriod":true,"CpuCfsQuota":true,"CPUShares":true,"CPUSet":true,"PidsLimit":true,"IPv4Forwarding":true,"BridgeNfIptables":true,"BridgeNfIp6tables":true,"Debug":false,"NFd":55,"OomKillDisable":false,"NGoroutines":90,"SystemTime":"2023-04-27T10:49:50.116046108Z","LoggingDriver":"json-file","CgroupDriver":"cgroupfs","CgroupVersion":"2","NEventsListener":9,"KernelVersion":"5.15.49-linuxkit","OperatingSystem":"Docker Desktop","OSVersion":"","OSType":"linux","Architecture":"x86_64","IndexServerAddress":"https://index.docker.io/v1/","RegistryConfig":{"AllowNondistributableArtifactsCIDRs":[],"AllowNondistributableArtifactsHostnames":[],"InsecureRegistryCIDRs":["127.0.0.0/8"],"IndexConfigs":{"0.0.0.0:8080":{"Name":"0.0.0.0:8080","Mirrors":[],"Secure":false,"Official":false},"docker.io":{"Name":"docker.io","Mirrors":[],"Secure":true,"Official":true},"hubproxy.docker.internal:5555":{"Name":"hubproxy.docker.internal:5555","Mirrors":[],"Secure":false,"Official":false}},"Mirrors":[]},"NCPU":6,"MemTotal":8240779264,"GenericResources":null,"DockerRootDir":"/var/lib/docker","HttpProxy":"http.docker.internal:3128","HttpsProxy":"http.docker.internal:3128","NoProxy":"hubproxy.docker.internal","Name":"docker-desktop","Labels":[],"ExperimentalBuild":false,"ServerVersion":"20.10.24","Runtimes":{"io.containerd.runc.v2":{"path":"runc"},"io.containerd.runtime.v1.linux":{"path":"runc"},"runc":{"path":"runc"}},"DefaultRuntime":"runc","Swarm":{"NodeID":"","NodeAddr":"","LocalNodeState":"inactive","ControlAvailable":false,"Error":"","RemoteManagers":null},"LiveRestoreEnabled":false,"Isolation":"","InitBinary":"docker-init","ContainerdCommit":{"ID":"2456e983eb9e37e47538f59ea18f2043c9a73640","Expected":"2456e983eb9e37e47538f59ea18f2043c9a73640"},"RuncCommit":{"ID":"v1.1.4-0-g5fd4c4d","Expected":"v1.1.4-0-g5fd4c4d"},"InitCommit":{"ID":"de40ad0","Expected":"de40ad0"},"SecurityOptions":["name=seccomp,profile=default","name=cgroupns"],"Warnings":null}
    headers:
      Api-Version:
      - "1.41"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/images/index.docker.io/paketobuildpacks/builder:base/json
    method: GET
  response:
    body: |
      {"Id":"sha256:6d1a252f040eb231efd01bfca97fbbb293ac301b450ebf19066e52e842bdc691","RepoTags":["paketobuildpacks/builder:base"],"RepoDigests":["paketobuildpacks/builder@sha256:ba5f7656d1813ace3f411c273850079e867ead9766262988b5e0fe0aa9e8474d"],"Parent":"","Comment":"","Created":"1980-01-01T00:00:01Z","Container":"","ContainerConfig":{"Hostname":"","Domainname":"","User":"","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":null,"Cmd":null,"Image":"","Volumes":null,"WorkingDir":"","Entrypoint":null,"OnBuild":null,"Labels":null},"DockerVersion":"","Author":"","Config":{"Hostname":"","Domainname":"","User":"1000:1000","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":["PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin","CNB_USER_ID=1000","CNB_GROUP_ID=1000","CNB_STACK_ID=io.buildpacks.stacks.bionic"],"Cmd":["/bin/bash"],"Image":"","Volumes":null,"WorkingDir":"/layers","Entrypoint":null,"OnBuild":null,"Labels":{"io.buildpacks.builder.metadata":"{\"description\":\"Ubuntu bionic base image with buildpacks for Java, .NET Core, NodeJS, Go, Python, Ruby, Apache HTTPD, NGINX and Procfile\",\"buildpacks\":[{\"id\":\"paketo-buildpacks/dotnet-core\",\"name\":\"Paketo Buildpack for .NET Core\",\"version\":\"0.35.3\",\"homepage\":\"https://github.com/paketo-buildpacks/dotnet-core\"},{\"id\":\"paketo-buildpacks/ca-certificates\",\"name\":\"Paketo Buildpack for CA Certificates\",\"version\":\"3.6.1\",\"homepage\":\"https://github.com/paketo-buildpacks/ca-certificates\"},{\"id\":\"paketo-buildpacks/dotnet-core-aspnet-runtime\",\"name\":\"Paketo Buildpack for ASP.NET Core Runtime\",\"version\":\"0.3.10\",\"homepage\":\"https://github.com/paketo-buildpacks/dotnet-core-aspnet-runtime\"},{\"id\":\"paketo-buildpacks/dotnet-core-[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - text/plain
      X-Registry-Auth:
      - eyJhdXRoIjoiT2c9PSJ9
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/images/create?fromImage=paketobuildpacks%2Frun&tag=base-cnb
    method: POST
  response:
    body: "{\"status\":\"Pulling from paketobuildpacks/run\",\"id\":\"base-cnb\"}\r\n{\"status\":\"Digest:
      sha256:f8dfc4b892edd3185d02e21d1145ebab0e713065837f7d42cbc9577c7489812e\"}\r\n{\"status\":\"Status:
      Image is up to date for paketobuildpacks/run:base-cnb\"}\r\n"
    headers:
      Api-Version:
      - "1.41"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/images/index.docker.io/paketobuildpacks/run:base-cnb/json
    method: GET
  response:
    body: |
      {"Id":"sha256:215c952ef658043673bb9be75193ab63de807e2916d14a89f0460454fbe2de49","RepoTags":["paketobuildpacks/run:base-cnb"],"RepoDigests":["paketobuildpacks/run@sha256:f8dfc4b892edd3185d02e21d1145ebab0e713065837f7d42cbc9577c7489812e"],"Parent":"","Comment":"","Created":"2023-04-25T17:33:08.085686775Z","Container":"","ContainerConfig":{"Hostname":"","Domainname":"","User":"","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":null,"Cmd":null,"Image":"","Volumes":null,"WorkingDir":"","Entrypoint":null,"OnBuild":null,"Labels":null},"DockerVersion":"","Author":"","Config":{"Hostname":"","Domainname":"","User":"1000:1000","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":["PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"],"Cmd":["/bin/bash"],"Image":"","Volumes":null,"WorkingDir":"","Entrypoint":null,"OnBuild":null,"Labels":{"io.buildpacks.stack.description":"ubuntu:bionic with some common dependencies like tzdata and openssl","io.buildpacks.stack.distro.name":"ubuntu","io.buildpacks.stack.distro.version":"18.04","io.buildpacks.stack.homepage":"https://github.com/paketo-buildpacks/bionic-base-stack","io.buildpacks.stack.id":"io.buildpacks.stacks.bionic","io.buildpacks.stack.maintainer":"Paketo Buildpacks","io.buildpacks.stack.metadata":"{}","io.buildpacks.stack.mixins":"[\"libp11-kit0\",\"libsystemd0\",\"bash\",\"libc-bin\",\"libseccomp2\",\"libsemanage-common\",\"debianutils\",\"libaudit-common\",\"libgcrypt20\",\"gcc-8-base\",\"libstdc++6\",\"openssl\",\"passwd\",\"libpam0g\",\"libudev1\",\"perl-base\",\"coreutils\",\"libdebconfclient0\",\"libncursesw5\",\"libgcc1\",\"libidn2-0\",\"adduser\",\"libexpat1\",\"liblz4-1\",\"libprocps6\",\"libselinux1\",\"ubuntu-keyring\",\"libattr1\",\"libncurses5\",\"libunistring2\",\"lsb-base\",\"e2fsprogs\",\"libblkid1\",\"ncurses-base\",\"hostname\",\"zlib1g\",\"libffi6\",\"libsemanage1\",\"libtinfo5\",\"tzdata\",\"mawk\",\"libpam-modules\",\"libsmartcols1\",\"libss2\",\"diffutils\",\"gzip\",\"libpam-modules-bin\",\"base-files\",\"bzip2\",\"libuuid1\",\"locales\",\"netbase\",\"util-linux\",\"dash\",\"libgnutls30\",\"libpcre3\",\"ncurses-bin\",\"procps\",\"base-passwd\",\"libhogweed4\",\"libmount1\",\"sed\",\"libyaml-0-2\",\"sysvinit-utils\",\"mount\",\"grep\",\"libssl1.1\",\"libtasn1-6\",\"login\",\"gpgv\",\"init-system-helpers\",\"libdb5.3\",\"debconf\",\"libgpg-error0\",\"libsepol1\",\"sensible-utils\",\"ca-certificates\",\"libapt-pkg5.0\",\"libaudit1\",\"libbz2-1.0\",\"libext2fs2\",\"libnettle6\",\"libzstd1\",\"fdisk\",\"libacl1\",\"bsdutils\",\"libcom-err2\",\"liblzma5\",\"apt\",\"dpkg\",\"findutils\",\"libc6\",\"libcap-ng0\",\"libpam-runtime\",\"tar\",\"libfdisk1\",\"libgmp10\"]","io.buildpacks.stack.released":"2023-04-25T17:33:57Z","io.paketo.stack.packages":"[{\"name\":\"adduser\",\"version\":\"3.116ubuntu1\",\"arch\":\"all\",\"source\":{\"name\":\"\"},\"summary\":\"add and remove users and groups\"},{\"name\":\"apt\",\"version\":\"1.6.17\",\"arch\":\"amd64\",\"source\":{\"name\":\"\"},\"summary\":\"commandline package manager\"},{\"name\":\"base-files\",\"version\":\"10.1ubuntu2.11\",\"arch\":\"amd64\",\"source\":{\"name\":\"\"},\"summary\":\"Debian base system miscellaneous files\"},{\"name\":\"base-passwd\",\"version\":\"3.5.44\",\"arch\":\"amd64\",\"source\":{\"name\":\"\"},\"summary\":\"Debian base system master password and group files\"},{\"name\":\"bash\",\"version\":\"4.4.18-2ubuntu1.3\",\"arch\":\"amd64\",\"source\":{\"name\":\"\"},\"summary\":\"GNU Bourne Again SHell\"},{\"name\":\"bsdutils\",\"version\":\"1:2.31.1-0.4ubuntu3.7\",\"arch\":\"amd64\",\"source\":{\"name\":\"util-linux\",\"version\":\"2.31.1-0.4ubuntu3.7\",\"upstreamVersion\":\"2.31.1\"},\"summary\":\"basic utilities from 4.4BSD-Lite\"},{\"name\":\"bzip2\",\"version\":\"1.0.6-8.1ubuntu0.2\",\"arch\":\"amd64\",\"source\":{\"name\":\"\"},\"summary\":\"high-quality block-sorting file compressor - utilities\"},{\"name\":\"ca-certificates\",\"version\":\"20211016ubuntu0.18.04.1\",\"arch\":\"all\",\"source\":{\"name\":\"\"},\"summary\":\"Common CA certificates\"},{\"name\":\"coreutils\",\"version\":\"8.28-1ubuntu1\",\"arch\":\"amd64\",\"source\":{\"name\":\"\"},\"summary\"[...]
- request:
    body: "655d1b2e40c4a285e36a83e8346a4d0ae9f0abc17fe793479ee52c7748b2e030.json\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\00000644\00000000\00000000\000000340312\000000000000\0020707\0
      0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0ustar\000\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\00000000\00000000\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0{\"architecture\":\"amd64\",\"created\":\"1980-01-01T00:00:01Z\",\"history\":[{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00:01Z\"},{\"created\":\"1980-01-01T00:00[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/images/655d1b2e40c4a285e36a83e8346a4d0ae9f0abc17fe793479ee52c7748b2e030/json
    method: GET
  response:
    body: |
      {"Id":"sha256:655d1b2e40c4a285e36a83e8346a4d0ae9f0abc17fe793479ee52c7748b2e030","RepoTags":["pack.local/builder/687a706a7264707a6b6d:latest","pack.local/builder/6a6d7175776e6968746b:latest","pack.local/builder/6e67646f71626a7a6562:latest","pack.local/builder/746267786d676766[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - text/plain
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/images/sha256:655d1b2e40c4a285e36a83e8346a4d0ae9f0abc17fe793479ee52c7748b2e030/tag?repo=pack.local%2Fbuilder%2F11111111111111111111&tag=latest
    method: POST
  response:
    body: ""
    headers:
      Api-Version:
      - "1.41"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"Hostname":"","Domainname":"","User":"root","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":["CNB_PLATFORM_API=0.11"],"Cmd":["/cnb/lifecycle/creator","-daemon","-launch-cache","/launch-cache","-app","/workspace","-cache-dir","/cache","-run-image","index.docker.io/paketobuildpacks/run:base-cnb","-gid","0","rg.fr-par.scw.cloud/funcscwclitestcontainerdepltd8quiwy/cli-test-container-deploy-bp:latest"],"Image":"pack.local/builder/746267786d676766686e:latest","Volumes":null,"WorkingDir":"","Entrypoint":[""],"OnBuild":null,"Labels":{"author":"pack"},"HostConfig":{"Binds":["pack-cache-funcscwclitestc_o_ntainerdepltd8quiwy_cli-test-c_o_ntainer-deploy-bp_latest-c496878ec17e.build:/cache","/var/run/docker.sock:/var/run/docker.sock","pack-cache-funcscwclitestc_o_ntainerdepltd8quiwy_cli-test-c_o_ntainer-deploy-bp_latest-c496878ec17e.launch:/launch-cache","pack-layers-ghprzorxjf:/layers","pack-app-rjkvvtolzd:/workspace"],"ContainerIDFile":"","LogConfig":{"Type":"","Config":null},"NetworkMode":"","PortBindings":null,"RestartPolicy":{"Name":"","MaximumRetryCount":0},"AutoRemove":false,"VolumeDriver":"","VolumesFrom":null,"ConsoleSize":[0,0],"CapAdd":null,"CapDrop":null,"CgroupnsMode":"","Dns":null,"DnsOptions":null,"DnsSearch":null,"ExtraHosts":null,"GroupAdd":null,"IpcMode":"","Cgroup":"","Links":null,"OomScoreAdj":0,"PidMode":"","Privileged":false,"PublishAllPorts":false,"ReadonlyRootfs":false,"SecurityOpt":["label=disable"],"UTSMode":"","UsernsMode":"","ShmSize":0,"Isolation":"","CpuShares":0,"Memory":0,"NanoCpus":0,"CgroupParent":"","BlkioWeight":0,"BlkioWeightDevice":null,"BlkioDeviceReadBps":null,"BlkioDeviceWriteBps":null,"BlkioDeviceReadIOps":null,"BlkioDeviceWriteIOps":null,"CpuPeriod":0,"CpuQuota":0,"CpuRealtimePeriod":0,"CpuRealtimeRuntime":0,"CpusetCpus":"","CpusetMems":"","Devices":null,"DeviceCgroupRules":null,"DeviceRequests":null,"MemoryReservation":0,"MemorySwap":0,"MemorySwappiness":null,"OomKillDisable":null,"PidsLimit":null,"Ulimits":null,"CpuCount":0,"CpuPercent":0,"IOMaximumIOps":0,"IOMaximumBandwidth":0,"MaskedPaths":null,"ReadonlyPaths":null},"NetworkingConfig":null}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/containers/create
    method: POST
  response:
    body: |
      {"Id":"3b3803f7dc118ee84ee527f31ca627c0b619a12470886addf7350a90767a7821","Warnings":[]}
    headers:
      Api-Version:
      - "1.41"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: "/layers/project-metadata.toml\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\00000755\00000000\00000000\000000000000\002263523001\0014725\0
      0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0ustar\000\0\0\0\0\0\0\0\0\0\0\0\0\0\0\[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - text/plain
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/containers/3b3803f7dc118ee84ee527f31ca627c0b619a12470886addf7350a90767a7821/wait?condition=not-running
    method: POST
  response:
    body: |
      {"Error":null,"StatusCode":0}
    headers:
      Api-Version:
      - "1.41"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - text/plain
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/containers/3b3803f7dc118ee84ee527f31ca627c0b619a12470886addf7350a90767a7821/start
    method: POST
  response:
    body: ""
    headers:
      Api-Version:
      - "1.41"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - text/plain
    url: http://%2Fvar%2Frun%2Fdocker.sock/containers/3b3803f7dc118ee84ee527f31ca627c0b619a12470886addf7350a90767a7821/attach?stderr=1&stdout=1&stream=1
    method: POST
  response:
    body: !!binary |
      AQAAAAAAABgbWzM2bT09PT4gQU5BTFlaSU5HG1swbQoBAAAAAAAAkEltYWdlIHdpdGggbm
      FtZSAicmcuZnItcGFyLnNjdy5jbG91ZC9mdW5jc2N3Y2xpdGVzdGNvbnRhaW5lcmRlcGx0
      ZDhxdWl3eS9jbGktdGVzdC1jb250YWluZXItZGVwbG95LWJw[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/containers/3b3803f7dc118ee84ee527f31ca627c0b619a12470886addf7350a90767a7821?force=1
    method: DELETE
  response:
    body: ""
    headers:
      Api-Version:
      - "1.41"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/volumes/pack-layers-ghprzorxjf?force=1
    method: DELETE
  response:
    body: ""
    headers:
      Api-Version:
      - "1.41"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/volumes/pack-app-rjkvvtolzd?force=1
    method: DELETE
  response:
    body: ""
    headers:
      Api-Version:
      - "1.41"
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/images/pack.local/builder/11111111111111111111:latest?force=1&noprune=1
    method: DELETE
  response:
    body: |
      [{"Untagged":"pack.local/builder/746267786d676766686e:latest"}]
    headers:
      Api-Version:
      - "1.41"
      Content-Type:
      - application/json
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - text/plain
      X-Registry-Auth:
      - eyJ1c2VybmFtZSI6IlNDVzAxTlRKVzk5MEE3UUs4NUQ3IiwicGFzc3dvcmQiOiJkY2M1YzI1NC1kOGQyLTQ3NmYtYmNkYi1iOTQ2N2Y1NTY1MzIiLCJzZXJ2ZXJhZGRyZXNzIjoicmcuZnItcGFyLnNjdy5jbG91ZC9mdW5jc2N3Y2xpdGVzdGNvbnRhaW5lcmRlcGx0ZDhxdWl3eSJ9
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/images/rg.fr-par.scw.cloud/funcscwclitestcontainerdepltd8quiwy/cli-test-container-deploy-bp/push?tag=latest
    method: POST
  response:
    body: "{\"status\":\"The push refers to repository [rg.fr-par.scw.cloud/funcscwclitestcontainerdepltd8quiwy/cli-test-container-deploy-bp]\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"83d85471d9f8\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"70757e2f3ee9\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"f4475860d332\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"281bfcb10d35\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"477a669d8224\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"83806be9fe7c\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"76f0217ccdbd\"}\r\n{\"status\":\[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers?name=cli-test-container-deploy-bp&namespace_id=a8f24ebc-d090-404c-8e86-ee07a4923cd0&order_by=created_at_asc
    method: GET
  response:
    body: '{"containers":[{"id":"34380e67-83c8-4151-972e-8b0e0f44a8b1","name":"cli-test-container-deploy-bp","namespace_id":"a8f24ebc-d090-404c-8e86-ee07a4923cd0","status":"ready","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/cli-test-container-deploy-bp/cli-test-container-deploy-bp:latest","max_concurrency":50,"domain_name":"clitestcontainerdepltd8quiwy-cli-test-container-deploy-bp.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":3000,"secret_environment_variables":[],"http_option":"enabled","region":"fr-par"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"cpu_limit":null,"timeout":null,"redeploy":false,"privacy":"unknown_privacy","description":null,"registry_image":"rg.fr-par.scw.cloud/funcscwclitestcontainerdepltd8quiwy/cli-test-container-deploy-bp:latest","max_concurrency":null,"protocol":"unknown_protocol","port":3000,"secret_environment_variables":null,"http_option":"unknown_http_option"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/34380e67-83c8-4151-972e-8b0e0f44a8b1
    method: PATCH
  response:
    body: '{"id":"34380e67-83c8-4151-972e-8b0e0f44a8b1","name":"cli-test-container-deploy-bp","namespace_id":"a8f24ebc-d090-404c-8e86-ee07a4923cd0","status":"ready","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitestcontainerdepltd8quiwy/cli-test-container-deploy-bp:latest","max_concurrency":50,"domain_name":"clitestcontainerdepltd8quiwy-cli-test-container-deploy-bp.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":3000,"secret_environment_variables":[],"http_option":"enabled","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/34380e67-83c8-4151-972e-8b0e0f44a8b1/deploy
    method: POST
  response:
    body: '{"id":"34380e67-83c8-4151-972e-8b0e0f44a8b1","name":"cli-test-container-deploy-bp","namespace_id":"a8f24ebc-d090-404c-8e86-ee07a4923cd0","status":"pending","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitestcontainerdepltd8quiwy/cli-test-container-deploy-bp:latest","max_concurrency":50,"domain_name":"clitestcontainerdepltd8quiwy-cli-test-container-deploy-bp.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":3000,"secret_environment_variables":[],"http_option":"enabled","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-test-container-deploy&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-test-container-deploy&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
