---
version: 1
interactions:
- request:
    body: '{"id":"45655c7b-d04d-4222-a22f-d8a48f34e6f1", "name":"cli-test-ctn-update-rg-img-blissful-sutherland",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-blissful-sutherland",
      "is_public":false, "size":0, "created_at":"2025-10-22T16:16:08.288221081Z",
      "updated_at":"2025-10-22T16:16:08.288221081Z", "image_count":0, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"45655c7b-d04d-4222-a22f-d8a48f34e6f1", "name":"cli-test-ctn-update-rg-img-blissful-sutherland",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-blissful-sutherland",
      "is_public":false, "size":0, "created_at":"2025-10-22T16:16:08.288221081Z",
      "updated_at":"2025-10-22T16:16:08.288221081Z", "image_count":0, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"images":[{"id":"77f5c475-6a31-4564-a0e0-7d5fffb45e33", "name":"nginx-1-28-0-alpine",
      "namespace_id":"45655c7b-d04d-4222-a22f-d8a48f34e6f1", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":21002833, "created_at":"2025-10-22T16:16:14.686050Z",
      "updated_at":"2025-10-22T16:16:14.960320Z", "tags":["latest"]}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=nginx-1-28-0-alpine&namespace_id=45655c7b-d04d-4222-a22f-d8a48f34e6f1&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"images":[{"id":"77f5c475-6a31-4564-a0e0-7d5fffb45e33", "name":"nginx-1-28-0-alpine",
      "namespace_id":"45655c7b-d04d-4222-a22f-d8a48f34e6f1", "status":"ready", "status_message":"",
      "visibility":"inherit", "size":21002833, "created_at":"2025-10-22T16:16:14.686050Z",
      "updated_at":"2025-10-22T16:16:14.960320Z", "tags":["latest"]}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespaces":[{"id":"681422c2-2605-485d-be8c-4caaba0e40ad", "name":"bidouille",
      "description":"", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"ready", "status_message":"",
      "endpoint":"rg.fr-par.scw.cloud/bidouille", "is_public":false, "size":121465369,
      "created_at":"2025-10-13T14:51:28.239376Z", "updated_at":"2025-10-21T11:47:43.913707Z",
      "image_count":4, "region":"fr-par"}, {"id":"fa6b9795-60d2-4601-9f3[...]
[...]
- request:
    body: '{"id":"afa0c112-0346-44f2-aacf-682037fa4821", "name":"cli-cns-serene-bardeen",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-22T16:16:25.849356345Z", "updated_at":"2025-10-22T16:16:25.849356345Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"afa0c112-0346-44f2-aacf-682037fa4821", "name":"cli-cns-serene-bardeen",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-22T16:16:25.849356345Z", "updated_at":"2025-10-22T16:16:25.849356345Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"afa0c112-0346-44f2-aacf-682037fa4821", "name":"cli-cns-serene-bardeen",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-22T16:16:25.849356Z", "updated_at":"2025-10-22T16:16:25.849356Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/afa0c112-0346-44f2-aacf-682037fa4821
    method: GET
  response:
    body: '{"id":"afa0c112-0346-44f2-aacf-682037fa4821", "name":"cli-cns-serene-bardeen",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-22T16:16:25.849356Z", "updated_at":"2025-10-22T16:16:25.849356Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"48b71dee-b83a-4c27-bccf-2b58db5f5553", "name":"cli-test-recursing-lamarr",
      "namespace_id":"afa0c112-0346-44f2-aacf-682037fa4821", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-blissful-sutherland/nginx-1-28-0-alpine:latest",
      "max_concurrency":50, "domain_name":"clicnsserenebardeenkbin7tx5-cli-test-recursing-lamarr.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":80, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2025-10-22T16:16:31.169437948Z", "updated_at":"2025-10-22T16:16:31.169437948Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"48b71dee-b83a-4c27-bccf-2b58db5f5553", "name":"cli-test-recursing-lamarr",
      "namespace_id":"afa0c112-0346-44f2-aacf-682037fa4821", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-blissful-sutherland/nginx-1-28-0-alpine:latest",
      "max_concurrency":50, "domain_name":"clicnsserenebardeenkbin7tx5-cli-test-recursing-lamarr.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":80, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2025-10-22T16:16:31.169437948Z", "updated_at":"2025-10-22T16:16:31.169437948Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"48b71dee-b83a-4c27-bccf-2b58db5f5553", "name":"cli-test-recursing-lamarr",
      "namespace_id":"afa0c112-0346-44f2-aacf-682037fa4821", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-blissful-sutherland/nginx-1-28-0-alpine:latest",
      "max_con[...]
- request:
    body: '{"id":"48b71dee-b83a-4c27-bccf-2b58db5f5553", "name":"cli-test-recursing-lamarr",
      "namespace_id":"afa0c112-0346-44f2-aacf-682037fa4821", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/cli-test-ctn-update-rg-img-blissful-sutherland/nginx-1-28-0-alpine:latest",
      "max_con[...]
[...]
