---
version: 1
interactions:
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-ba&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"eca8273b-ac27-46c9-b983-ae9e4685e626", "name":"cli-t-ctnr-deploy-ba",
      "environment_variables":{}, "organization_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba",
      "project_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-12-15T13:28:21.575817193Z", "updated_at":"2025-12-15T13:28:21.575817193Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"eca8273b-ac27-46c9-b983-ae9e4685e626", "name":"cli-t-ctnr-deploy-ba",
      "environment_variables":{}, "organization_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba",
      "project_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-12-15T13:28:21.575817193Z", "updated_at":"2025-12-15T13:28:21.575817193Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"eca8273b-ac27-46c9-b983-ae9e4685e626", "name":"cli-t-ctnr-deploy-ba",
      "environment_variables":{}, "organization_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba",
      "project_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-12-15T13:28:21.575817Z", "updated_at":"2025-12-15T13:28:21.575817Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/eca8273b-ac27-46c9-b983-ae9e4685e626
    method: GET
  response:
    body: '{"id":"eca8273b-ac27-46c9-b983-ae9e4685e626", "name":"cli-t-ctnr-deploy-ba",
      "environment_variables":{}, "organization_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba",
      "project_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-12-15T13:28:21.575817Z", "updated_at":"2025-12-15T13:28:21.575817Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/_ping
    method: HEAD
  response:
    body: ""
    headers:
      Api-Version:
      - "1.51"
      Builder-Version:
      - "2"
      Content-Type:
      - text/plain; charset=utf-8
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
      Swarm:
      - inactive
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\"stream\":\"Step 1/6 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e a236f84b9d5d\\n\"}\r\n{\"stream\":\"Step 2/6 : RUN apk add --no-cache
      curl git bash\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e 2a152b29efa2\\n\"}\r\n{\"stream\":\"Step
      3/6 : COPY ./index.html /usr/share/nginx/html/index.html\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e ad9fa50aba34\\n\"}\r\n{\"stream\":\"Step
      4/6 : ARG TEST\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Running
      in 56b52e8fb973\\n\"}\r\n{\"stream\":\" ---\\u003e 0ed3e671d007\\n\"}\r\n{\"stream\":\"Step
      5/6 : RUN test -n \\\"$TEST\\\"\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e Running in 15bf30eabd27\\n\"}\r\n{\"stream\":\" ---\\u003e 95c1f0ebc25c\\n\"}\r\n{\"stream\":\"Step
      6/6 : EXPOSE 80\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Running
      in 950708c2ac04\\n\"}\r\n{\"stream\":\" ---\\u003e bd828e4ab8ee\\n\"}\r\n{\"aux\":{\"ID\":\"sha256:bd828e4ab8ee3b2a042ec8f8ae46be12d13550e3ee4cbaa3bfe940c06331caef\"}}\r\n{\"stream\":\"Successfully
      built bd828e4ab8ee\\n\"}\r\n{\"stream\":\"Successfully tagged rg.fr-par.scw.cloud/funcscwclitctnrdeploybao7dknudy/cli-t-ctnr-deploy-ba:latest\\n\"}\r\n"
    form: {}
    headers:
      Content-Type:
      - application/x-tar
      X-Registry-Config:
      - bnVsbA==
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.51/build?buildargs=%7B%22TEST%22%3A%22thisisatest%22%7D&dockerfile=Dockerfile&rm=0&t=rg.fr-par.scw.cloud%2Ffuncscwclitctnrdeploybao7dknudy%2Fcli-t-ctnr-deploy-ba%3Alatest
    method: POST
  response:
    body: "{\"stream\":\"Step 1/6 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e a236f84b9d5d\\n\"}\r\n{\"stream\":\"Step 2/6 : RUN apk add --no-cache
      curl git bash\"}\r\n{\"stream\":\"\\n\"}\r\n[...]
- request:
    body: "{\"status\":\"The push refers to repository [rg.fr-par.scw.cloud/funcscwclitctnrdeploybao7dknudy/cli-t-ctnr-deploy-ba]\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"9bd69bb06fd1\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"004f7270b76c\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"7a44d12423b9\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"a2ec75146a7f\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"dcfd04fc2e09\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"45178d7e9376\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"9f71ae529e9d\"}\r\n{\"status\":\[...]
- request:
    body: '{"containers":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers?name=cli-t-ctnr-deploy-ba&namespace_id=eca8273b-ac27-46c9-b983-ae9e4685e626&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"containers":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"604b7270-b991-469c-9c5b-422be05c0049", "name":"cli-t-ctnr-deploy-ba",
      "namespace_id":"eca8273b-ac27-46c9-b983-ae9e4685e626", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploybao7dknudy/cli-t-ctnr-deploy-ba:latest",
      "max_concurrency":50, "domain_name":"clitctnrdeploybao7dknudy-cli-t-ctnr-deploy-ba.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":8080, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2025-12-15T13:28:49.931751450Z", "updated_at":"2025-12-15T13:28:49.931751450Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"604b7270-b991-469c-9c5b-422be05c0049", "name":"cli-t-ctnr-deploy-ba",
      "namespace_id":"eca8273b-ac27-46c9-b983-ae9e4685e626", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploybao7dknudy/cli-t-ctnr-deploy-ba:latest",
      "max_concurrency":50, "domain_name":"clitctnrdeploybao7dknudy-cli-t-ctnr-deploy-ba.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":8080, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2025-12-15T13:28:49.931751450Z", "updated_at":"2025-12-15T13:28:49.931751450Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"604b7270-b991-469c-9c5b-422be05c0049", "name":"cli-t-ctnr-deploy-ba",
      "namespace_id":"eca8273b-ac27-46c9-b983-ae9e4685e626", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploybao7dknudy/cli-t-ctnr-deploy-ba:latest",
      "max_concurrency":50, "doma[...]
[...]
- request:
    body: '{"id":"604b7270-b991-469c-9c5b-422be05c0049", "name":"cli-t-ctnr-deploy-ba",
      "namespace_id":"eca8273b-ac27-46c9-b983-ae9e4685e626", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploybao7dknudy/cli-t-ctnr-deploy-ba:latest",
      "max_concurrency":50, "doma[...]
[...]
- request:
    body: '{"message":"Namespace was not found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/eca8273b-ac27-46c9-b983-ae9e4685e626
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-ba&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
