---
version: 1
interactions:
- request:
    body: '{"id":"dd6cb597-6885-4da9-b8c1-effbd4641489","name":"cli-cns-brave-hypatia","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-05-19T11:09:15.671231786Z","updated_at":"2025-05-19T11:09:15.671231786Z","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api-pl-waw.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"dd6cb597-6885-4da9-b8c1-effbd4641489","name":"cli-cns-brave-hypatia","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-05-19T11:09:15.671231786Z","updated_at":"2025-05-19T11:09:15.671231786Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"dd6cb597-6885-4da9-b8c1-effbd4641489","name":"cli-cns-brave-hypatia","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-05-19T11:09:15.671232Z","updated_at":"2025-05-19T11:09:15.671232Z","region":"fr-par"}'
    form: {}
    headers:
    url: https://api-pl-waw.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/dd6cb597-6885-4da9-b8c1-effbd4641489
    method: GET
  response:
    body: '{"id":"dd6cb597-6885-4da9-b8c1-effbd4641489","name":"cli-cns-brave-hypatia","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-05-19T11:09:15.671232Z","updated_at":"2025-05-19T11:09:15.671232Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"75fa8f1e-aacd-497d-935c-8d95f8110bd3","name":"cli-test-hungry-gould","namespace_id":"dd6cb597-6885-4da9-b8c1-effbd4641489","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":2048,"cpu_limit":1000,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclicnsbravehypatiaqxvrhdir/cli-test-hungry-gould:latest","max_concurrency":50,"domain_name":"clicnsbravehypatiaqxvrhdir-cli-test-hungry-gould.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"enabled","sandbox":"v2","local_storage_limit":1000,"scaling_option":{"concurrent_requests_threshold":50},"created_at":"2025-05-19T11:09:21.437285632Z","updated_at":"2025-05-19T11:09:21.437285632Z","ready_at":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"tags":[],"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api-pl-waw.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"75fa8f1e-aacd-497d-935c-8d95f8110bd3","name":"cli-test-hungry-gould","namespace_id":"dd6cb597-6885-4da9-b8c1-effbd4641489","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":2048,"cpu_limit":1000,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclicnsbravehypatiaqxvrhdir/cli-test-hungry-gould:latest","max_concurrency":50,"domain_name":"clicnsbravehypatiaqxvrhdir-cli-test-hungry-gould.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"enabled","sandbox":"v2","local_storage_limit":1000,"scaling_option":{"concurrent_requests_threshold":50},"created_at":"2025-05-19T11:09:21.437285632Z","updated_at":"2025-05-19T11:09:21.437285632Z","ready_at":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"tags":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"75fa8f1e-aacd-497d-935c-8d95f8110bd3","name":"cli-test-hungry-gould","namespace_id":"dd6cb597-6885-4da9-b8c1-effbd4641489","status":"pending","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":2048,"cpu_limit":1000,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclicnsbravehypatiaqxvrhdir/cli-test-hungry-gould:latest","max_concurrency":50,"domain_name":"clicnsbravehypatiaqxvrhdi[...]
[...]
