---
version: 1
interactions:
- request:
    body: '{"id":"d65b72e6-05ef-4c4d-a3c0-34099ffbbbd4", "name":"cli-cns-optimistic-payne",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-23T08:58:51.395710306Z", "updated_at":"2025-10-23T08:58:51.395710306Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"d65b72e6-05ef-4c4d-a3c0-34099ffbbbd4", "name":"cli-cns-optimistic-payne",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-23T08:58:51.395710306Z", "updated_at":"2025-10-23T08:58:51.395710306Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"d65b72e6-05ef-4c4d-a3c0-34099ffbbbd4", "name":"cli-cns-optimistic-payne",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-23T08:58:51.395710Z", "updated_at":"2025-10-23T08:58:51.395710Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/d65b72e6-05ef-4c4d-a3c0-34099ffbbbd4
    method: GET
  response:
    body: '{"id":"d65b72e6-05ef-4c4d-a3c0-34099ffbbbd4", "name":"cli-cns-optimistic-payne",
      "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-10-23T08:58:51.395710Z", "updated_at":"2025-10-23T08:58:51.395710Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"53c229f3-ac9a-48c4-8021-aec9c98b0092", "name":"cli-test-awesome-kirch",
      "namespace_id":"d65b72e6-05ef-4c4d-a3c0-34099ffbbbd4", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclicnsoptimisticpaynenzkzzsq/cli-test-awesome-kirch:latest",
      "max_concurrency":50, "domain_name":"clicnsoptimisticpaynenzkzzsq-cli-test-awesome-kirch.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":8080, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2025-10-23T08:58:56.775699307Z", "updated_at":"2025-10-23T08:58:56.775699307Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"53c229f3-ac9a-48c4-8021-aec9c98b0092", "name":"cli-test-awesome-kirch",
      "namespace_id":"d65b72e6-05ef-4c4d-a3c0-34099ffbbbd4", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclicnsoptimisticpaynenzkzzsq/cli-test-awesome-kirch:latest",
      "max_concurrency":50, "domain_name":"clicnsoptimisticpaynenzkzzsq-cli-test-awesome-kirch.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":8080, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2025-10-23T08:58:56.775699307Z", "updated_at":"2025-10-23T08:58:56.775699307Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"53c229f3-ac9a-48c4-8021-aec9c98b0092", "name":"cli-test-awesome-kirch",
      "namespace_id":"d65b72e6-05ef-4c4d-a3c0-34099ffbbbd4", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclicnsoptimisticpaynenzkzzsq/cli-test-awesome-kirch:latest",
      "max_concurrency":5[...]
- request:
    body: '{"id":"53c229f3-ac9a-48c4-8021-aec9c98b0092", "name":"cli-test-awesome-kirch",
      "namespace_id":"d65b72e6-05ef-4c4d-a3c0-34099ffbbbd4", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclicnsoptimisticpaynenzkzzsq/cli-test-awesome-kirch:latest",
      "max_concurrency":5[...]
[...]
