---
version: 1
interactions:
- request:
    body: '{"namespaces":[],"total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-ba&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"777d5d5d-cde4-4cb6-a3ae-518c938a2825","name":"cli-t-ctnr-deploy-ba","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-09-08T12:20:31.838197590Z","updated_at":"2025-09-08T12:20:31.838197590Z","vpc_integration_activated":false,"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"777d5d5d-cde4-4cb6-a3ae-518c938a2825","name":"cli-t-ctnr-deploy-ba","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-09-08T12:20:31.838197590Z","updated_at":"2025-09-08T12:20:31.838197590Z","vpc_integration_activated":false,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"777d5d5d-cde4-4cb6-a3ae-518c938a2825","name":"cli-t-ctnr-deploy-ba","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-09-08T12:20:31.838198Z","updated_at":"2025-09-08T12:20:31.838198Z","vpc_integration_activated":false,"region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/777d5d5d-cde4-4cb6-a3ae-518c938a2825
    method: GET
  response:
    body: '{"id":"777d5d5d-cde4-4cb6-a3ae-518c938a2825","name":"cli-t-ctnr-deploy-ba","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2025-09-08T12:20:31.838198Z","updated_at":"2025-09-08T12:20:31.838198Z","vpc_integration_activated":false,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/_ping
    method: HEAD
  response:
    body: ""
    headers:
      Api-Version:
      - "1.51"
      Builder-Version:
      - "2"
      Content-Type:
      - text/plain; charset=utf-8
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
      Swarm:
      - inactive
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\"stream\":\"Step 1/6 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e 42a516af16b8\\n\"}\r\n{\"stream\":\"Step 2/6 : RUN apk add --no-cache
      curl git bash\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e 11667ca862c7\\n\"}\r\n{\"stream\":\"Step
      3/6 : COPY ./index.html /usr/share/nginx/html/index.html\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e 8ef66367ffd4\\n\"}\r\n{\"stream\":\"Step
      4/6 : ARG TEST\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Running
      in 16ba49a71d60\\n\"}\r\n{\"stream\":\" ---\\u003e 5163a80c97f7\\n\"}\r\n{\"stream\":\"Step
      5/6 : RUN test -n \\\"$TEST\\\"\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e Running in 5629278f629a\\n\"}\r\n{\"stream\":\" ---\\u003e dbc0a75bf248\\n\"}\r\n{\"stream\":\"Step
      6/6 : EXPOSE 80\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Running
      in f2311db07965\\n\"}\r\n{\"stream\":\" ---\\u003e b14290056865\\n\"}\r\n{\"aux\":{\"ID\":\"sha256:b14290056865d75ce81c1ddb419cee5c566a5e4e6a7017e510992abfc548db05\"}}\r\n{\"stream\":\"Successfully
      built b14290056865\\n\"}\r\n{\"stream\":\"Successfully tagged rg.fr-par.scw.cloud/funcscwclitctnrdeploybanaloas4l/cli-t-ctnr-deploy-ba:latest\\n\"}\r\n"
    form: {}
    headers:
      Content-Type:
      - application/x-tar
      X-Registry-Config:
      - bnVsbA==
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.51/build?buildargs=%7B%22TEST%22%3A%22thisisatest%22%7D&dockerfile=Dockerfile&rm=0&t=rg.fr-par.scw.cloud%2Ffuncscwclitctnrdeploybanaloas4l%2Fcli-t-ctnr-deploy-ba%3Alatest
    method: POST
  response:
    body: "{\"stream\":\"Step 1/6 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e 42a516af16b8\\n\"}\r\n{\"stream\":\"Step 2/6 : RUN apk add --no-cache
      curl git bash\"}\r\n{\"stream\":\"\\n\"}\r\n[...]
- request:
    body: "{\"status\":\"The push refers to repository [rg.fr-par.scw.cloud/funcscwclitctnrdeploybanaloas4l/cli-t-ctnr-deploy-ba]\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"6e174226ea69\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"0bc2f07fbf03\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"556d70b7bec9\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"49f3b06c840f\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"6c2c01fdb094\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"04ba7957f9d2\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"6156ecb6dfff\"}\r\n{\"status\":\"Waiting\",\[...]
- request:
    body: '{"containers":[],"total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers?name=cli-t-ctnr-deploy-ba&namespace_id=777d5d5d-cde4-4cb6-a3ae-518c938a2825&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"containers":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"7c40dd23-a821-4e82-b217-3d1791a5e587","name":"cli-t-ctnr-deploy-ba","namespace_id":"777d5d5d-cde4-4cb6-a3ae-518c938a2825","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":2048,"cpu_limit":1000,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploybanaloas4l/cli-t-ctnr-deploy-ba:latest","max_concurrency":50,"domain_name":"clitctnrdeploybanaloas4l-cli-t-ctnr-deploy-ba.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"enabled","sandbox":"v2","local_storage_limit":1000,"scaling_option":{"concurrent_requests_threshold":50},"created_at":"2025-09-08T12:20:48.542644286Z","updated_at":"2025-09-08T12:20:48.542644286Z","ready_at":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"tags":[],"private_network_id":null,"command":[],"args":[],"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"7c40dd23-a821-4e82-b217-3d1791a5e587","name":"cli-t-ctnr-deploy-ba","namespace_id":"777d5d5d-cde4-4cb6-a3ae-518c938a2825","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":2048,"cpu_limit":1000,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploybanaloas4l/cli-t-ctnr-deploy-ba:latest","max_concurrency":50,"domain_name":"clitctnrdeploybanaloas4l-cli-t-ctnr-deploy-ba.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"enabled","sandbox":"v2","local_storage_limit":1000,"scaling_option":{"concurrent_requests_threshold":50},"created_at":"2025-09-08T12:20:48.542644286Z","updated_at":"2025-09-08T12:20:48.542644286Z","ready_at":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"tags":[],"private_network_id":null,"command":[],"args":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"7c40dd23-a821-4e82-b217-3d1791a5e587","name":"cli-t-ctnr-deploy-ba","namespace_id":"777d5d5d-cde4-4cb6-a3ae-518c938a2825","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":2048,"cpu_limit":1000,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploybanaloas4l/cli-t-ctnr-deploy-ba:latest","max_concurrency":50,"domain_name":"clitctnrdeploybanaloas4l-cli-[...]
[...]
- request:
    body: '{"id":"7c40dd23-a821-4e82-b217-3d1791a5e587","name":"cli-t-ctnr-deploy-ba","namespace_id":"777d5d5d-cde4-4cb6-a3ae-518c938a2825","status":"pending","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":2048,"cpu_limit":1000,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploybanaloas4l/cli-t-ctnr-deploy-ba:latest","max_concurrency":50,"domain_name":"clitctnrdeploybanaloas4l-cli-[...]
[...]
- request:
    body: '{"message":"Namespace was not found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/777d5d5d-cde4-4cb6-a3ae-518c938a2825
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"namespaces":[],"total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-ba&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
