---
version: 1
interactions:
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-s&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"6136f95c-71c8-49b1-a186-142a1d4b8eb6", "name":"cli-t-ctnr-deploy-s",
      "environment_variables":{}, "organization_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba",
      "project_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-12-15T13:25:25.632398683Z", "updated_at":"2025-12-15T13:25:25.632398683Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"6136f95c-71c8-49b1-a186-142a1d4b8eb6", "name":"cli-t-ctnr-deploy-s",
      "environment_variables":{}, "organization_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba",
      "project_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-12-15T13:25:25.632398683Z", "updated_at":"2025-12-15T13:25:25.632398683Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"6136f95c-71c8-49b1-a186-142a1d4b8eb6", "name":"cli-t-ctnr-deploy-s",
      "environment_variables":{}, "organization_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba",
      "project_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-12-15T13:25:25.632399Z", "updated_at":"2025-12-15T13:25:25.632399Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/6136f95c-71c8-49b1-a186-142a1d4b8eb6
    method: GET
  response:
    body: '{"id":"6136f95c-71c8-49b1-a186-142a1d4b8eb6", "name":"cli-t-ctnr-deploy-s",
      "environment_variables":{}, "organization_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba",
      "project_id":"37cfd5c4-06cd-4058-8948-38edd1c599ba", "status":"pending", "registry_namespace_id":"",
      "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[],
      "tags":[], "created_at":"2025-12-15T13:25:25.632399Z", "updated_at":"2025-12-15T13:25:25.632399Z",
      "vpc_integration_activated":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/_ping
    method: HEAD
  response:
    body: ""
    headers:
      Api-Version:
      - "1.51"
      Builder-Version:
      - "2"
      Content-Type:
      - text/plain; charset=utf-8
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
      Swarm:
      - inactive
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\"stream\":\"Step 1/4 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"status\":\"Pulling
      from library/nginx\",\"id\":\"alpine\"}\r\n{\"status\":\"Pulling fs layer\",\"progressDetail\":{},\"id\":\"014e56e61396\"}\r\n{\"status\":\"Pulling
      fs layer\",\"progressDetail\":{},\"id\":\"dfad290a5c25\"}\r\n{\"status\":\"Pulling
      fs layer\",\"progressDetail\":{},\"id\":\"5d2cc344426d\"}\r\n{\"status\":\"Pulling
      fs layer\",\"progressDetail\":{},\"id\":\"abdece946203\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"abdece946203\"}\r\n{\"status\":\"Pulling
      fs layer\",\"progressDetail\":{},\"id\":\"51c30493937c\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"51c30493937c\"}\r\n{\"status\":\"Pulling
      fs layer\",\"progressDetail\":{},\"id\":\"ad5b65da02cf\"}\r\n{\"status\":\"Pulling
      fs layer\",\"progressDetail\":{},\"id\":\"fc13532503d7\"}\r\n{\"status\":\"Pulling
      fs layer\",\"progressDetail\":{},\"id\":\"136bc6976c20\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"ad5b65da02cf\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"fc13532503d7\"}\r\n{\"status\":\"Waiting\",\"progressDetail\":{},\"id\":\"136bc6976c20\"}\r\n{\"status\":\"Downloading\",\"progressDetail\":{\"current\":19166,\"total\":1856020},\"progress\":\"[\\u003e
      \                                                 ]  19.17kB/1.856MB\",\"id\":\"dfad290a5c25\"}\r\n{\"status\":\"Downloading\",\"progressDetail\":{\"current\":39701,\"total\":3859315},\"progress\":\"[\\u003e
      \                                                 ]   39.7kB/3.859MB\",\"id\":\"014e56e61396\"}\r\n{\"status\":\"Downloading\",\"progressDetail\":{\"current\":629,\"total\":629},\"progress\":\"[==================================================\\u003e]
      \    629B/[...]
- request:
    body: "{\"status\":\"The push refers to repository [rg.fr-par.scw.cloud/funcscwclitctnrdeploysnwevqmkl/cli-t-ctnr-deploy-s]\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"9bd69bb06fd1\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"004f7270b76c\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"7a44d12423b9\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"a2ec75146a7f\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"i[...]
- request:
    body: '{"containers":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers?name=cli-t-ctnr-deploy-s&namespace_id=6136f95c-71c8-49b1-a186-142a1d4b8eb6&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"containers":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"8d4f0b59-b4a0-4c0a-8409-2622d25ca48a", "name":"cli-t-ctnr-deploy-s",
      "namespace_id":"6136f95c-71c8-49b1-a186-142a1d4b8eb6", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploysnwevqmkl/cli-t-ctnr-deploy-s:latest",
      "max_concurrency":50, "domain_name":"clitctnrdeploysnwevqmkl-cli-t-ctnr-deploy-s.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":8080, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2025-12-15T13:25:58.104310581Z", "updated_at":"2025-12-15T13:25:58.104310581Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"8d4f0b59-b4a0-4c0a-8409-2622d25ca48a", "name":"cli-t-ctnr-deploy-s",
      "namespace_id":"6136f95c-71c8-49b1-a186-142a1d4b8eb6", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploysnwevqmkl/cli-t-ctnr-deploy-s:latest",
      "max_concurrency":50, "domain_name":"clitctnrdeploysnwevqmkl-cli-t-ctnr-deploy-s.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":8080, "secret_environment_variables":[], "http_option":"enabled",
      "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50},
      "created_at":"2025-12-15T13:25:58.104310581Z", "updated_at":"2025-12-15T13:25:58.104310581Z",
      "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}},
      "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"8d4f0b59-b4a0-4c0a-8409-2622d25ca48a", "name":"cli-t-ctnr-deploy-s",
      "namespace_id":"6136f95c-71c8-49b1-a186-142a1d4b8eb6", "status":"created", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploysnwevqmkl/cli-t-ctnr-deploy-s:latest",
      "max_concurrency":50, "domain_[...]
[...]
- request:
    body: '{"id":"8d4f0b59-b4a0-4c0a-8409-2622d25ca48a", "name":"cli-t-ctnr-deploy-s",
      "namespace_id":"6136f95c-71c8-49b1-a186-142a1d4b8eb6", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclitctnrdeploysnwevqmkl/cli-t-ctnr-deploy-s:latest",
      "max_concurrency":50, "domain_[...]
[...]
- request:
    body: '{"message":"Namespace was not found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/6136f95c-71c8-49b1-a186-142a1d4b8eb6
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-t-ctnr-deploy-s&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
