---
version: 1
interactions:
- request:
    body: '{"namespaces":[{"id":"2e35f4f9-c9f3-4906-b20f-0ec0651aa17c", "name":"cli-test-container-deploy-simple",
      "environment_variables":{}, "organization_id":"67d28312-0d7b-4df7-a63c-b347116e4aec",
      "project_id":"67d28312-0d7b-4df7-a63c-b347116e4aec", "status":"ready", "registry_namespace_id":"05144b3d-90fd-4c18-bd65-6db13c547b76",
      "error_message":null, "registry_endpoint":"rg.fr-par.scw.cloud/funcscwclitestcontainerdepld1xdr64f",
      "description":"", "secret_environment_variables":[], "region":"fr-par"}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-test-container-deploy-simple&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[{"id":"2e35f4f9-c9f3-4906-b20f-0ec0651aa17c", "name":"cli-test-container-deploy-simple",
      "environment_variables":{}, "organization_id":"67d28312-0d7b-4df7-a63c-b347116e4aec",
      "project_id":"67d28312-0d7b-4df7-a63c-b347116e4aec", "status":"ready", "registry_namespace_id":"05144b3d-90fd-4c18-bd65-6db13c547b76",
      "error_message":null, "registry_endpoint":"rg.fr-par.scw.cloud/funcscwclitestcontainerdepld1xdr64f",
      "description":"", "secret_environment_variables":[], "region":"fr-par"}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/_ping
    method: HEAD
  response:
    body: ""
    headers:
      Api-Version:
      - "1.41"
      Builder-Version:
      - "2"
      Content-Type:
      - text/plain; charset=utf-8
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\"stream\":\"Step 1/4 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e 8e75cbc5b25c\\n\"}\r\n{\"stream\":\"Step 2/4 : RUN apk add --no-cache
      curl git bash\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e cc2f79f1e37f\\n\"}\r\n{\"stream\":\"Step
      3/4 : COPY ./index.html /usr/share/nginx/html/index.html\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e 47d0ff08a407\\n\"}\r\n{\"stream\":\"Step
      4/4 : EXPOSE 80\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e a59b09856803\\n\"}\r\n{\"aux\":{\"ID\":\"sha256:a59b098568037e15c6fc0f229d307528b8c49aba8e5eb96b148499545907991d\"}}\r\n{\"stream\":\"Successfully
      built a59b09856803\\n\"}\r\n{\"stream\":\"Successfully tagged rg.fr-par.scw.cloud/funcscwclitestcontainerdepld1xdr64f/cli-test-container-deploy-simple:latest\\n\"}\r\n"
    form: {}
    headers:
      Content-Type:
      - application/x-tar
      X-Registry-Config:
      - bnVsbA==
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/build?buildargs=null&cachefrom=null&cgroupparent=&cpuperiod=0&cpuquota=0&cpusetcpus=&cpusetmems=&cpushares=0&dockerfile=Dockerfile&labels=null&memory=0&memswap=0&networkmode=&rm=0&shmsize=0&t=rg.fr-par.scw.cloud%2Ffuncscwclitestcontainerdepld1xdr64f%2Fcli-test-container-deploy-simple%3Alatest&target=&ulimits=null&version=
    method: POST
  response:
    body: "{\"stream\":\"Step 1/4 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}[...]
- request:
    body: "{\"status\":\"The push refers to repository [rg.fr-par.scw.cloud/funcscwclitestcontainerdepld1xdr64f/cli-test-container-deploy-simple]\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"a06e53d19550\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"f68d9e13e9ec\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"31531248c7cb\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"f9cb3f1f1d3d\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"f0fb842dea41\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"c1cd5c8c68ef\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"1d54586a1706\"}\r\n{\"status\":\[...]
- request:
    body: '{"containers":[{"id":"647f9679-878d-4d50-b2d7-5b056de8ec3c", "name":"cli-test-container-deploy-simple",
      "namespace_id":"2e35f4f9-c9f3-4906-b20f-0ec0651aa17c", "status":"ready", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":256, "cpu_limit":140, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/cli-test-container-deploy-simple/cli-test-container-deploy-simple:latest",
      "max_concurrency":50, "domain_name":"clitestcontainerdepld1xdr64f-cli-test-container-deploy-simple.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":80, "secret_environment_variables":[], "http_option":"enabled",
      "region":"fr-par"}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers?name=cli-test-container-deploy-simple&namespace_id=2e35f4f9-c9f3-4906-b20f-0ec0651aa17c&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"containers":[{"id":"647f9679-878d-4d50-b2d7-5b056de8ec3c", "name":"cli-test-container-deploy-simple",
      "namespace_id":"2e35f4f9-c9f3-4906-b20f-0ec0651aa17c", "status":"ready", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":256, "cpu_limit":140, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/cli-test-container-deploy-simple/cli-test-container-deploy-simple:latest",
      "max_concurrency":50, "domain_name":"clitestcontainerdepld1xdr64f-cli-test-container-deploy-simple.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":80, "secret_environment_variables":[], "http_option":"enabled",
      "region":"fr-par"}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"647f9679-878d-4d50-b2d7-5b056de8ec3c", "name":"cli-test-container-deploy-simple",
      "namespace_id":"2e35f4f9-c9f3-4906-b20f-0ec0651aa17c", "status":"ready", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":256, "cpu_limit":140, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclitestcontainerdepld1xdr64f/cli-test-container-deploy-simple:latest",
      "ma[...]
[...]
- request:
    body: '{"id":"647f9679-878d-4d50-b2d7-5b056de8ec3c", "name":"cli-test-container-deploy-simple",
      "namespace_id":"2e35f4f9-c9f3-4906-b20f-0ec0651aa17c", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":256, "cpu_limit":140, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclitestcontainerdepld1xdr64f/cli-test-container-deploy-simple:latest",
      "[...]
[...]
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-test-container-deploy&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-test-container-deploy&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
