---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"7ba34dbe-5cc5-43c0-ab56-9d8ec1754e05", "name":"cli-cns-blissful-wu", "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"", "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[], "tags":[], "created_at":"2025-07-22T15:54:29.009507373Z", "updated_at":"2025-07-22T15:54:29.009507373Z", "vpc_integration_activated":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"7ba34dbe-5cc5-43c0-ab56-9d8ec1754e05", "name":"cli-cns-blissful-wu", "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"", "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[], "tags":[], "created_at":"2025-07-22T15:54:29.009507373Z", "updated_at":"2025-07-22T15:54:29.009507373Z", "vpc_integration_activated":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 981.473643ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"7ba34dbe-5cc5-43c0-ab56-9d8ec1754e05", "name":"cli-cns-blissful-wu", "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"", "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[], "tags":[], "created_at":"2025-07-22T15:54:29.009507Z", "updated_at":"2025-07-22T15:54:29.009507Z", "vpc_integration_activated":false, "region":"fr-par"}'
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/7ba34dbe-5cc5-43c0-ab56-9d8ec1754e05
        method: GET
      response:
        body: '{"id":"7ba34dbe-5cc5-43c0-ab56-9d8ec1754e05", "name":"cli-cns-blissful-wu", "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"pending", "registry_namespace_id":"", "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[], "tags":[], "created_at":"2025-07-22T15:54:29.009507Z", "updated_at":"2025-07-22T15:54:29.009507Z", "vpc_integration_activated":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.305518ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"id":"5271d03d-7261-44c2-a3dd-45108c165ffa", "name":"cli-test-tender-noyce", "namespace_id":"7ba34dbe-5cc5-43c0-ab56-9d8ec1754e05", "status":"created", "environment_variables":{}, "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s", "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclicnsblissfulwuyumgjd1h/cli-test-tender-noyce:latest", "max_concurrency":50, "domain_name":"clicnsblissfulwuyumgjd1h-cli-test-tender-noyce.functions.fnc.fr-par.scw.cloud", "protocol":"http1", "port":8080, "secret_environment_variables":[], "http_option":"enabled", "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50}, "created_at":"2025-07-22T15:54:34.416969443Z", "updated_at":"2025-07-22T15:54:34.416969443Z", "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}}, "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"5271d03d-7261-44c2-a3dd-45108c165ffa", "name":"cli-test-tender-noyce", "namespace_id":"7ba34dbe-5cc5-43c0-ab56-9d8ec1754e05", "status":"created", "environment_variables":{}, "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s", "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclicnsblissfulwuyumgjd1h/cli-test-tender-noyce:latest", "max_concurrency":50, "domain_name":"clicnsblissfulwuyumgjd1h-cli-test-tender-noyce.functions.fnc.fr-par.scw.cloud", "protocol":"http1", "port":8080, "secret_environment_variables":[], "http_option":"enabled", "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50}, "created_at":"2025-07-22T15:54:34.416969443Z", "updated_at":"2025-07-22T15:54:34.416969443Z", "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}}, "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 318.820141ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"id":"5271d03d-7261-44c2-a3dd-45108c165ffa", "name":"cli-test-tender-noyce", "namespace_id":"7ba34dbe-5cc5-43c0-ab56-9d8ec1754e05", "status":"pending", "environment_variables":{}, "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s", "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclicnsblissfulwuyumgjd1h/cli-test-tender-noyce:latest"[...]
[...]
