---
version: 1
interactions:
- request:
    body: '{"namespaces":[{"id":"6bdb7705-4243-4f0f-a234-d86f6a19d941", "name":"cli-test-container-deploy-ba",
      "environment_variables":{}, "organization_id":"67d28312-0d7b-4df7-a63c-b347116e4aec",
      "project_id":"67d28312-0d7b-4df7-a63c-b347116e4aec", "status":"ready", "registry_namespace_id":"188eaef9-71a1-4f84-b27b-a14ebd8a197d",
      "error_message":null, "registry_endpoint":"rg.fr-par.scw.cloud/funcscwclitestcontainerdeplmktxfygu",
      "description":"", "secret_environment_variables":[], "region":"fr-par"}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-test-container-deploy-ba&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[{"id":"6bdb7705-4243-4f0f-a234-d86f6a19d941", "name":"cli-test-container-deploy-ba",
      "environment_variables":{}, "organization_id":"67d28312-0d7b-4df7-a63c-b347116e4aec",
      "project_id":"67d28312-0d7b-4df7-a63c-b347116e4aec", "status":"ready", "registry_namespace_id":"188eaef9-71a1-4f84-b27b-a14ebd8a197d",
      "error_message":null, "registry_endpoint":"rg.fr-par.scw.cloud/funcscwclitestcontainerdeplmktxfygu",
      "description":"", "secret_environment_variables":[], "region":"fr-par"}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: http://%2Fvar%2Frun%2Fdocker.sock/_ping
    method: HEAD
  response:
    body: ""
    headers:
      Api-Version:
      - "1.41"
      Builder-Version:
      - "2"
      Content-Type:
      - text/plain; charset=utf-8
      Docker-Experimental:
      - "false"
      Ostype:
      - linux
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\"stream\":\"Step 1/6 : FROM nginx:alpine\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e 8e75cbc5b25c\\n\"}\r\n{\"stream\":\"Step 2/6 : RUN apk add --no-cache
      curl git bash\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e cc2f79f1e37f\\n\"}\r\n{\"stream\":\"Step
      3/6 : COPY ./index.html /usr/share/nginx/html/index.html\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e 47d0ff08a407\\n\"}\r\n{\"stream\":\"Step
      4/6 : ARG TEST\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e e8a3b32f13c5\\n\"}\r\n{\"stream\":\"Step
      5/6 : RUN test -n \\\"$TEST\\\"\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\"
      ---\\u003e Using cache\\n\"}\r\n{\"stream\":\" ---\\u003e 3202cabf33b9\\n\"}\r\n{\"stream\":\"Step
      6/6 : EXPOSE 80\"}\r\n{\"stream\":\"\\n\"}\r\n{\"stream\":\" ---\\u003e Using
      cache\\n\"}\r\n{\"stream\":\" ---\\u003e f82368fd4073\\n\"}\r\n{\"aux\":{\"ID\":\"sha256:f82368fd4073509edcede57aba26100f8ea38b0d912e143dda3cf301150e66c9\"}}\r\n{\"stream\":\"Successfully
      built f82368fd4073\\n\"}\r\n{\"stream\":\"Successfully tagged rg.fr-par.scw.cloud/funcscwclitestcontainerdeplmktxfygu/cli-test-container-deploy-ba:latest\\n\"}\r\n"
    form: {}
    headers:
      Content-Type:
      - application/x-tar
      X-Registry-Config:
      - bnVsbA==
    url: http://%2Fvar%2Frun%2Fdocker.sock/v1.41/build?buildargs=%7B%22TEST%22%3A%22thisisatest%22%7D&cachefrom=null&cgroupparent=&cpuperiod=0&cpuquota=0&cpusetcpus=&cpusetmems=&cpushares=0&dockerfile=Dockerfile&labels=null&memory=0&memswap=0&networkmode=&rm=0&shmsize=0&t=rg.fr-par.scw.cloud%2Ffuncscwclitestcontainerdeplmktxfygu%2Fcli-test-container-deploy-ba%3Alatest&target=&ulimits=null&version=
    method: POST
  response:
    body: "{\"stream\":\"Step 1/6 : FROM nginx:alpin[...]
- request:
    body: "{\"status\":\"The push refers to repository [rg.fr-par.scw.cloud/funcscwclitestcontainerdeplmktxfygu/cli-test-container-deploy-ba]\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"a06e53d19550\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"f68d9e13e9ec\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"31531248c7cb\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"f9cb3f1f1d3d\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"f0fb842dea41\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"c1cd5c8c68ef\"}\r\n{\"status\":\"Preparing\",\"progressDetail\":{},\"id\":\"1d54586a1706\"}\r\n{\"status\":\[...]
- request:
    body: '{"containers":[{"id":"73eaa3ec-ba52-47a4-87b3-f562c5b5ad94", "name":"cli-test-container-deploy-ba",
      "namespace_id":"6bdb7705-4243-4f0f-a234-d86f6a19d941", "status":"ready", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":256, "cpu_limit":140, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/cli-test-container-deploy-ba/cli-test-container-deploy-ba:latest",
      "max_concurrency":50, "domain_name":"clitestcontainerdeplmktxfygu-cli-test-container-deploy-ba.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":80, "secret_environment_variables":[], "http_option":"enabled",
      "region":"fr-par"}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers?name=cli-test-container-deploy-ba&namespace_id=6bdb7705-4243-4f0f-a234-d86f6a19d941&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"containers":[{"id":"73eaa3ec-ba52-47a4-87b3-f562c5b5ad94", "name":"cli-test-container-deploy-ba",
      "namespace_id":"6bdb7705-4243-4f0f-a234-d86f6a19d941", "status":"ready", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":256, "cpu_limit":140, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/cli-test-container-deploy-ba/cli-test-container-deploy-ba:latest",
      "max_concurrency":50, "domain_name":"clitestcontainerdeplmktxfygu-cli-test-container-deploy-ba.functions.fnc.fr-par.scw.cloud",
      "protocol":"http1", "port":80, "secret_environment_variables":[], "http_option":"enabled",
      "region":"fr-par"}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"73eaa3ec-ba52-47a4-87b3-f562c5b5ad94", "name":"cli-test-container-deploy-ba",
      "namespace_id":"6bdb7705-4243-4f0f-a234-d86f6a19d941", "status":"ready", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":256, "cpu_limit":140, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclitestcontainerdeplmktxfygu/cli-test-container-deploy-ba:latest",
      "max_concur[...]
[...]
- request:
    body: '{"id":"73eaa3ec-ba52-47a4-87b3-f562c5b5ad94", "name":"cli-test-container-deploy-ba",
      "namespace_id":"6bdb7705-4243-4f0f-a234-d86f6a19d941", "status":"pending", "environment_variables":{},
      "min_scale":0, "max_scale":5, "memory_limit":256, "cpu_limit":140, "timeout":"300s",
      "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwclitestcontainerdeplmktxfygu/cli-test-container-deploy-ba:latest",
      "max_conc[...]
[...]
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=cli-test-container-deploy&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespaces":[], "total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=cli-test-container-deploy&order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"namespaces":[], "total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
