---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-mnq-adoring-chaum","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","region":"fr-par","created_at":"2026-09-24T09:26:55.116055376Z","updated_at":"2026-09-24T09:26:55.116055376Z","id":"ACZRW7MLB2FBY7H6OGCBVF7JAAZEGFQQE2DGUVYTANTOKAJ36Z5JZZBJ","name":"cli-mnq-adoring-chaum","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 114.442718ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts?order_by=created_at_asc
        method: GET
      response:
        body: '{"total_count":2,"nats_accounts":[{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","region":"fr-par","created_at":"2026-09-24T09:26:55.116055Z","updated_at":"2026-09-24T09:26:55.116055Z","id":"ACZRW7MLB2FBY7H6OGCBVF7JAAZEGFQQE2DGUVYTANTOKAJ36Z5JZZBJ","name":"cli-mnq-adoring-chaum","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"},{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","region":"fr-par","created_at":"2026-09-24T09:26:55.934575Z","updated_at":"2026-09-24T09:26:55.934575Z","id":"AA2OIBTKI4ZKAP56L3IL7ER4PHMJ3G3DCVNWWUTB6FIJZN27C24KQJ7X","name":"cli-mnq-unruffled-ptolemy","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 38.742366ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ACZRW7MLB2FBY7H6OGCBVF7JAAZEGFQQE2DGUVYTANTOKAJ36Z5JZZBJ
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 118.469407ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/AA2OIBTKI4ZKAP56L3IL7ER4PHMJ3G3DCVNWWUTB6FIJZN27C24KQJ7X
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 190.280217ms
