---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-mnq-musing-elbakyan","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "region":"fr-par", "created_at":"2026-10-07T17:01:22.768964628Z", "updated_at":"2026-10-07T17:01:22.768964628Z", "id":"ABYSZLOQLS3PW33KBHV7OGIVB4L2CSP2D4K2LHHBTBYTB4JOI3UQGO7F", "name":"cli-mnq-musing-elbakyan", "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 236.831049ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCW34JXNB73TWW45XC21", "access_key":"SCWXXXXXXXXXXXXXXXXX", "secret_key":null, "description":"Generated by the Scaleway CLI", "created_at":"2026-09-21T08:59:40.180590Z", "updated_at":"2026-09-21T08:59:40.180590Z", "expires_at":"2026-12-20T08:59:35.980374Z", "default_project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "editable":true, "deletable":true, "managed":false, "creation_ip":"130.180.219.188", "user_id":"c54eef01-c4c6-48fa-9a1e-36e8998b9776"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 41.926327ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 11.587058ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ABYSZLOQLS3PW33KBHV7OGIVB4L2CSP2D4K2LHHBTBYTB4JOI3UQGO7F
        method: GET
      response:
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "region":"fr-par", "created_at":"2026-10-07T17:01:22.768964Z", "updated_at":"2026-10-07T17:01:22.768964Z", "id":"ABYSZLOQLS3PW33KBHV7OGIVB4L2CSP2D4K2LHHBTBYTB4JOI3UQGO7F", "name":"cli-mnq-musing-elbakyan", "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 48.222998ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"nats_account_id":"ABYSZLOQLS3PW33KBHV7OGIVB4L2CSP2D4K2LHHBTBYTB4JOI3UQGO7F","name":"cli-mnq-musing-elbakyancli-creds-relaxed-euler"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials
        method: POST
      response:
        body: '{"nats_account_id":"ABYSZLOQLS3PW33KBHV7OGIVB4L2CSP2D4K2LHHBTBYTB4JOI3UQGO7F", "region":"fr-par", "created_at":"2026-10-07T17:01:23.076392013Z", "updated_at":"2026-10-07T17:01:23.076392335Z", "id":"c32d7e7d-1997-4df8-883f-ea79dc09b1d5", "name":"cli-mnq-musing-elbakyancli-creds-relaxed-euler", "credentials":{"name":"user.creds", "content":"-----BEGIN NATS USER JWT-----\neyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiJCUVNMNVpBRzZPT1BXU0laWkczREFFRUo3VUVNVE8zQk5NN0JRSVRIU1dOU0FJTEVWNUtBIiwiaWF0IjoxNzkxMzkyNDgzLCJpc3MiOiJBREZNTFBEVlNYWTRKMlk0U0xVVVpTV1ZNS0NPWDRMWFZENUxOQzRXV0lXVldRWjVOTTIzMjJSTSIsIm5hbWUiOiJjbGktbW5xLW11c2luZy1lbGJha3lhbmNsaS1jcmVkcy1yZWxheGVkLWV1bGVyIiwic3ViIjoiVUMyQ0pCMlhNVjZMNVdHS0pSM1lBSEVFVTMyRldFWllBQ1UyWUJRRUlJNDVOWkNRWlYzS1ZDR04iLCJuYXRzIjp7InB1YiI6e30sInN1YiI6e30sInN1YnMiOi0xLCJkYXRhIjotMSwicGF5bG9hZCI6LTEsImlzc3Vlcl9hY2NvdW50IjoiQUJZU1pMT1FMUzNQVzMzS0JIVjdPR0lWQjRMMkNTUDJENEsyTEhIQlRCWVRCNEpPSTNVUUdPN0YiLCJ0eXBlIjoidXNlciIsInZlcnNpb24iOjJ9fQ.qruUISMNBbo-fGi7zW9_CnGHoIm6sQ3MOTHG5ikFqOzhB-o_iaD9t3Y9Ru6VJ-AevJfQma5JFj3Leaa3H-lxAg\n------END NATS USER JWT------\n\n************************* IMPORTANT *************************\nNKEY Seed printed below can be used to sign and prove identity.\nNKEYs are sensitive and should be treated as secrets.\n\n-----BEGIN USER NKEY SEED-----\nSUABHP6HKUBK7VMFO57XOM3COIXYK275W5N5I3IKMZI6I5MAF3QEED6VUE\n------END USER NKEY SEED------\n\n*************************************************************\n"}, "checksum":"168e12a40536c5e1b3860c12b9dc3a5ca6d3e9a2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 146.14919ms
[...]
