---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "region":"fr-par", "created_at":"2025-07-22T15:54:36.044102735Z", "updated_at":"2025-07-22T15:54:36.044102735Z", "id":"ACOKDTRJM22VEV4BZLKXDOYB37HFOZKEUZKUW6SIHW4JYKTVXYHNBUI7", "name":"cli-mnq-heuristic-hopper", "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "region":"fr-par", "created_at":"2025-07-22T15:54:36.044102735Z", "updated_at":"2025-07-22T15:54:36.044102735Z", "id":"ACOKDTRJM22VEV4BZLKXDOYB37HFOZKEUZKUW6SIHW4JYKTVXYHNBUI7", "name":"cli-mnq-heuristic-hopper", "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.995984ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"total_count":2, "nats_accounts":[{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "region":"fr-par", "created_at":"2025-07-22T15:54:36.044102Z", "updated_at":"2025-07-22T15:54:36.044102Z", "id":"ACOKDTRJM22VEV4BZLKXDOYB37HFOZKEUZKUW6SIHW4JYKTVXYHNBUI7", "name":"cli-mnq-heuristic-hopper", "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}, {"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "region":"fr-par", "created_at":"2025-07-22T15:54:36.261929Z", "updated_at":"2025-07-22T15:54:36.261929Z", "id":"ADWSWG6JRQDLYYG[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ACOKDTRJM22VEV4BZLKXDOYB37HFOZKEUZKUW6SIHW4JYKTVXYHNBUI7
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 166.160929ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ADWSWG6JRQDLYYGAX4LB3D6K5FUVFUO3RHKW34M7JGDPNFOO7GSZY3KG
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 131.688267ms
