---
version: 2
interactions:
- request:
    body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "region":"fr-par",
      "created_at":"2024-02-12T10:55:37.801029198Z", "updated_at":"2024-02-12T10:55:37.801029198Z",
      "id":"ACWHDNNUTFG4T5TWGFVIU2J7TT5VLV2O3CAT4UXO2MCBUMJ3PXLQ56BQ", "name":"cli-mnq-great-shamir",
      "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
    method: POST
  response:
    body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "region":"fr-par",
      "created_at":"2024-02-12T10:55:37.801029198Z", "updated_at":"2024-02-12T10:55:37.801029198Z",
      "id":"ACWHDNNUTFG4T5TWGFVIU2J7TT5VLV2O3CAT4UXO2MCBUMJ3PXLQ56BQ", "name":"cli-mnq-great-shamir",
      "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"total_count":2, "nats_accounts":[{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "region":"fr-par", "created_at":"2024-02-12T10:55:37.801029Z", "updated_at":"2024-02-12T10:55:37.801029Z",
      "id":"ACWHDNNUTFG4T5TWGFVIU2J7TT5VLV2O3CAT4UXO2MCBUMJ3PXLQ56BQ", "name":"cli-mnq-great-shamir",
      "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}, {"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "region":"fr-par", "created_at":"2024-02-12T10:55:37.917806Z", "updated_at":"2024-02-12T10:55:37.917806Z",
 [...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ACWHDNNUTFG4T5TWGFVIU2J7TT5VLV2O3CAT4UXO2MCBUMJ3PXLQ56BQ
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/AD3KXVE3JUQPXXPT7I5LXGVJUPNNMSMIE3PGG2HWCHJXLRWPXXLB3DAC
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
