---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-mnq-practical-lamarr","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "region":"fr-par", "created_at":"2026-10-07T17:01:21.831132591Z", "updated_at":"2026-10-07T17:01:21.831132591Z", "id":"AC2TDYJQDYMLIDTCFB2GKFRVUXVCJ5OMNPBHM4FVYUK2NLH3QF7RLL4Y", "name":"cli-mnq-practical-lamarr", "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 231.973323ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts?order_by=created_at_asc
        method: GET
      response:
        body: '{"total_count":2, "nats_accounts":[{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "region":"fr-par", "created_at":"2026-10-07T17:01:21.831132Z", "updated_at":"2026-10-07T17:01:21.831132Z", "id":"AC2TDYJQDYMLIDTCFB2GKFRVUXVCJ5OMNPBHM4FVYUK2NLH3QF7RLL4Y", "name":"cli-mnq-practical-lamarr", "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}, {"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "region":"fr-par", "created_at":"2026-10-07T17:01:22.063010Z", "updated_at":"2026-10-07T17:01:22.063010Z", "id":"AANY7RPFEPNDI5KQCM2O3T5A2DY3X52NCDXWCFAS2EJ6ZM3VERZYDQVS", "name":"cli-mnq-pensive-jones", "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 42.192416ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/AC2TDYJQDYMLIDTCFB2GKFRVUXVCJ5OMNPBHM4FVYUK2NLH3QF7RLL4Y
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 207.493254ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/AANY7RPFEPNDI5KQCM2O3T5A2DY3X52NCDXWCFAS2EJ6ZM3VERZYDQVS
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 234.535355ms
