---
version: 1
interactions:
- request:
    body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "region":"fr-par",
      "created_at":"2024-02-19T15:12:40.034465840Z", "updated_at":"2024-02-19T15:12:40.034465840Z",
      "id":"ABDLXG3FVXGC4NOWTCLQ6WKPVP3ZVL7FUKWCRH6V5R3FDMHZH5SSLXRJ", "name":"cli-mnq-confident-elion",
      "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
    method: POST
  response:
    body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "region":"fr-par",
      "created_at":"2024-02-19T15:12:40.034465840Z", "updated_at":"2024-02-19T15:12:40.034465840Z",
      "id":"ABDLXG3FVXGC4NOWTCLQ6WKPVP3ZVL7FUKWCRH6V5R3FDMHZH5SSLXRJ", "name":"cli-mnq-confident-elion",
      "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"total_count":6, "nats_accounts":[{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "region":"fr-par", "created_at":"2024-02-19T09:48:46.687350Z", "updated_at":"2024-02-19T09:48:46.687350Z",
      "id":"ABURI34PBZXAB7VDGHGK7LJX4SFBDA6PHUDR3Y2XU42QIOGHD3GKN6RS", "name":"cli-mnq-competent-moser",
      "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}, {"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "region":"fr-par", "created_at":"2024-02-19T09:49:15.694622Z", "updated_at":"2024-02-19T09:49:15.694622Z"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ABDLXG3FVXGC4NOWTCLQ6WKPVP3ZVL7FUKWCRH6V5R3FDMHZH5SSLXRJ
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/AAWVS4I5P67K2SEI3PDB2Q7KI772VYT5WFQZSDARYJMDIIFPC4DKES4I
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
