---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-mnq-xenodochial-bardeen","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","region":"fr-par","created_at":"2026-09-24T09:26:54.646307511Z","updated_at":"2026-09-24T09:26:54.646307511Z","id":"AAVXXA3T4PJ5TPS5CXBCNGC4HXPUOCQUUQ3VVXXP6EFQCQP6WNNPIS2F","name":"cli-mnq-xenodochial-bardeen","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 143.514901ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"srn":"","access_key":"SCWXXXXXXXXXXXXXXXXX","secret_key":null,"description":"Generated by the Scaleway CLI","created_at":"2026-09-21T08:59:40.180590Z","updated_at":"2026-09-21T08:59:40.180590Z","expires_at":"2026-12-20T08:59:35.980374Z","default_project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","editable":true,"deletable":true,"managed":false,"creation_ip":"130.180.219.188","user_id":"c54eef01-c4c6-48fa-9a1e-36e8998b9776"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 43.502932ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 12.526399ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/AAVXXA3T4PJ5TPS5CXBCNGC4HXPUOCQUUQ3VVXXP6EFQCQP6WNNPIS2F
        method: GET
      response:
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","region":"fr-par","created_at":"2026-09-24T09:26:54.646307Z","updated_at":"2026-09-24T09:26:54.646307Z","id":"AAVXXA3T4PJ5TPS5CXBCNGC4HXPUOCQUUQ3VVXXP6EFQCQP6WNNPIS2F","name":"cli-mnq-xenodochial-bardeen","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 28.047652ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"nats_account_id":"AAVXXA3T4PJ5TPS5CXBCNGC4HXPUOCQUUQ3VVXXP6EFQCQP6WNNPIS2F","name":"cli-mnq-xenodochial-bardeencli-creds-sleepy-archimedes"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials
        method: POST
      response:
        body: '{"nats_account_id":"AAVXXA3T4PJ5TPS5CXBCNGC4HXPUOCQUUQ3VVXXP6EFQCQP6WNNPIS2F","region":"fr-par","created_at":"2026-09-24T09:26:54.829859017Z","updated_at":"2026-09-24T09:26:54.829859188Z","id":"6eb073ce-ffb9-48c9-8402-4e5f65562f55","name":"cli-mnq-xenodochial-bardeencli-creds-sleepy-archimedes","credentials":{"name":"user.creds","content":"-----BEGIN NATS USER JWT-----\neyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiJHV0Y1MjI1NVBGNklZNllORTZKMlZIREJGM0E0WFpVWVhORERHSUtEN1FCTFQ1SFVQV0tBIiwiaWF0IjoxNzkwMjQyMDE0LCJpc3MiOiJBRDM1WFAzT0hZN1NYSE1QN1BDQUpRWVlDTTQzVDJSRFBOWldYT1hRNjRDNUw3QVlCRzJNRFU0VCIsIm5hbWUiOiJjbGktbW5xLXhlbm9kb2NoaWFsLWJhcmRlZW5jbGktY3JlZHMtc2xlZXB5LWFyY2hpbWVkZXMiLCJzdWIiOiJVQU9GTUpMNFlGNUhMR0cyMkJWNTdHVDVJWjdFNVRYMkdHNjVIQTNNN0U0SDJKRTRQV0FXTTVUWSIsIm5hdHMiOnsicHViIjp7fSwic3ViIjp7fSwic3VicyI6LTEsImRhdGEiOi0xLCJwYXlsb2FkIjotMSwiaXNzdWVyX2FjY291bnQiOiJBQVZYWEEzVDRQSjVUUFM1Q1hCQ05HQzRIWFBVT0NRVVVRM1ZWWFhQNkVGUUNRUDZXTk5QSVMyRiIsInR5cGUiOiJ1c2VyIiwidmVyc2lvbiI6Mn19.dU2R685SrQI9_BvyU2woTh7VnheojVRTWUA4bpdzDqzD3WIKasAl2WKt8wlL5MiAybedM-hrmogy5_YlrSBoCg\n------END NATS USER JWT------\n\n************************* IMPORTANT *************************\nNKEY Seed printed below can be used to sign and prove identity.\nNKEYs are sensitive and should be treated as secrets.\n\n-----BEGIN USER NKEY SEED-----\nSUAPD7VYUUDGL6ZE3WTEPBMQQJCFQA2TBZLNZH4ZNNQ52HWM2QJECKVIVY\n------END USER NKEY SEED------\n\n*************************************************************\n"},"checksum":"b24fbb2391c4a7cd27d5f8ac9ad535c299986c66"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 58.293073ms
[...]
