---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"details":[{"argument_name":"nats_account_id","help_message":"value length must be 56 runes","reason":"constraint"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/Wrong-id
        method: GET
      response:
        body: '{"details":[{"argument_name":"nats_account_id","help_message":"value length must be 56 runes","reason":"constraint"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 19.699715ms
