---
version: 2
interactions:
- request:
    body: '{"total_count":4, "nats_accounts":[{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "region":"fr-par", "created_at":"2024-02-19T09:48:46.687350Z", "updated_at":"2024-02-19T09:48:46.687350Z",
      "id":"ABURI34PBZXAB7VDGHGK7LJX4SFBDA6PHUDR3Y2XU42QIOGHD3GKN6RS", "name":"cli-mnq-competent-moser",
      "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}, {"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "region":"fr-par", "created_at":"2024-02-19T09:49:15.694622Z", "updated_at":"2024-02-19T09:49:15.694622Z",
      "id":"ACQBLIGB4MNGFZ3RQJCI223YMJ6G3BLZ4TD32A6E56KKZT75XWEVJZKJ", "name":"cli-mnq-zealous-curie",
      "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}, {"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "region":"fr-par", "created_at":"2024-02-19T13:24:39.062406Z", "updated_at":"2024-02-19T13:24:39.062406Z",
      "id":"AAULS6BP6AZ3YFJOXBWYTCEMS35NTJ4K5GUMVKM5M4N764IJDP3SMKSS", "name":"cli-mnq-vibrant-gates",
      "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}, {"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "region":"fr-par", "created_at":"2024-02-19T13:59:22.353551Z", "updated_at":"2024-02-19T13:59:22.353551Z",
      "id":"AAMRPEMQWUCBKJ2HTGAESWJ7ITP4QFNSBYFVE5JPBLETC4TQAO3GOLKD", "name":"cli-mnq-keen-meninsky",
      "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}]}'
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts?order_by=created_at_asc
    method: GET
  response:
    body: '{"total_count":4, "nats_accounts":[{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "region":"fr-par", "created_at":"2024-02-19T09:48:46.687350Z", "updated_at":"2024-02-19T09:48:46.687350Z",
      "id":"ABURI34PBZXAB7VDGHGK7LJX4SFBDA6PHUDR3Y2XU42QIOGHD3GKN6RS", "name":"cli-mnq-competent-moser",
      "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}, {"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "region":"fr-par", "created_at":"2024-02-19T09:49:15.694622Z", "updated_at":"2024-02-19T09:49:15.694622Z",
      "id":"ACQBLIGB4MNGFZ3RQJCI223YMJ6G3BLZ4TD32A6E56KKZT75XWEVJZKJ", "name":"cli-mnq-zealous-curie",
      "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}, {"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "region":"fr-par", "created_at":"2024-02-19T13:24:39.062406Z", "updated_at":"2024-02-19T13:24:39.062406Z",
      "id":"AAULS6BP6AZ3YFJOXBWYTCEMS35NTJ4K5GUMVKM5M4N764IJDP3SMKSS", "name":"cli-mnq-vibrant-gates",
      "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}, {"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "region":"fr-par", "created_at":"2024-02-19T13:59:22.353551Z", "updated_at":"2024-02-19T13:59:22.353551Z",
      "id":"AAMRPEMQWUCBKJ2HTGAESWJ7ITP4QFNSBYFVE5JPBLETC4TQAO3GOLKD", "name":"cli-mnq-keen-meninsky",
      "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
