---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-mnq-serene-bhabha","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","region":"fr-par","created_at":"2026-09-24T09:26:56.390243845Z","updated_at":"2026-09-24T09:26:56.390243845Z","id":"AD64SLCK6ZJOA74DSXVRDSM6TPLOVJZHYVAREYQU7WRA73YVW6O5NKCZ","name":"cli-mnq-serene-bhabha","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 136.509137ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"srn":"","access_key":"SCWXXXXXXXXXXXXXXXXX","secret_key":null,"description":"Generated by the Scaleway CLI","created_at":"2026-09-21T08:59:40.180590Z","updated_at":"2026-09-21T08:59:40.180590Z","expires_at":"2026-12-20T08:59:35.980374Z","default_project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","editable":true,"deletable":true,"managed":false,"creation_ip":"130.180.219.188","user_id":"c54eef01-c4c6-48fa-9a1e-36e8998b9776"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 32.516696ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 10.963785ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/AD64SLCK6ZJOA74DSXVRDSM6TPLOVJZHYVAREYQU7WRA73YVW6O5NKCZ
        method: GET
      response:
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","region":"fr-par","created_at":"2026-09-24T09:26:56.390243Z","updated_at":"2026-09-24T09:26:56.390243Z","id":"AD64SLCK6ZJOA74DSXVRDSM6TPLOVJZHYVAREYQU7WRA73YVW6O5NKCZ","name":"cli-mnq-serene-bhabha","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 27.35463ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"nats_account_id":"AD64SLCK6ZJOA74DSXVRDSM6TPLOVJZHYVAREYQU7WRA73YVW6O5NKCZ","name":"cli-mnq-serene-bhabhacli-creds-adoring-haslett"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials
        method: POST
      response:
        body: '{"nats_account_id":"AD64SLCK6ZJOA74DSXVRDSM6TPLOVJZHYVAREYQU7WRA73YVW6O5NKCZ","region":"fr-par","created_at":"2026-09-24T09:26:56.565494649Z","updated_at":"2026-09-24T09:26:56.565494763Z","id":"d870aa55-febf-4356-bd6d-74e25c65418e","name":"cli-mnq-serene-bhabhacli-creds-adoring-haslett","credentials":{"name":"user.creds","content":"-----BEGIN NATS USER JWT-----\neyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiI1RkdFSEtORkxSRUVMQU9PV1QySVVYTEYzRlVUUTM0WUkySFBCUUdFNk41UFpHVU5OTkdBIiwiaWF0IjoxNzkwMjQyMDE2LCJpc3MiOiJBQ1NYREQ2MkFOUVdSV0NHWUVMMktGSFVMR1NCS0VWU09aQzVXMjZBWTVFVkpXT0lQTktOTlhHWCIsIm5hbWUiOiJjbGktbW5xLXNlcmVuZS1iaGFiaGFjbGktY3JlZHMtYWRvcmluZy1oYXNsZXR0Iiwic3ViIjoiVUM2NlkzSkFGWUJTUDVSWEM0TUE3R0dPTFlKNlhQUkJVTUFFNERZRktUV1hRWU1WUUpVT1pVSkkiLCJuYXRzIjp7InB1YiI6e30sInN1YiI6e30sInN1YnMiOi0xLCJkYXRhIjotMSwicGF5bG9hZCI6LTEsImlzc3Vlcl9hY2NvdW50IjoiQUQ2NFNMQ0s2WkpPQTc0RFNYVlJEU002VFBMT1ZKWkhZVkFSRVlRVTdXUkE3M1lWVzZPNU5LQ1oiLCJ0eXBlIjoidXNlciIsInZlcnNpb24iOjJ9fQ.ZLMert__-uSzhN2Va7LB9nyjsjG_zdhrSUfs5s5qY9I328lIswbtW4O0lZ9wf6ZPHEtSQqJvU2QLVWNvhQYVAQ\n------END NATS USER JWT------\n\n************************* IMPORTANT *************************\nNKEY Seed printed below can be used to sign and prove identity.\nNKEYs are sensitive and should be treated as secrets.\n\n-----BEGIN USER NKEY SEED-----\nSUAM7OMYRTD4JTDP7AHNRD75FQZ5EHDXZZ4JTN4A6DPHMKT4P6J53TMYR4\n------END USER NKEY SEED------\n\n*************************************************************\n"},"checksum":"3ab93eb93e422c14f5b25b8500e4ec47c432bd8e"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 42.136585ms
[...]
