---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "region":"fr-par", "created_at":"2025-07-22T15:54:35.520515376Z", "updated_at":"2025-07-22T15:54:35.520515376Z", "id":"AAGWLQQ455PXYVUHV3P46GPS4YDFBBJEZOYGOGV3Z6QBKEDQ4NR2CFZL", "name":"cli-mnq-optimistic-elion", "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "region":"fr-par", "created_at":"2025-07-22T15:54:35.520515376Z", "updated_at":"2025-07-22T15:54:35.520515376Z", "id":"AAGWLQQ455PXYVUHV3P46GPS4YDFBBJEZOYGOGV3Z6QBKEDQ4NR2CFZL", "name":"cli-mnq-optimistic-elion", "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 357.973949ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"access_key":"SCWPB5A8ZHKGTSD2NHB0", "secret_key":null, "description":"Generated by the Scaleway CLI", "created_at":"2025-03-25T13:28:06.409480Z", "updated_at":"2025-03-25T13:28:06.409480Z", "expires_at":null, "default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9", "user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWPB5A8ZHKGTSD2NHB0
        method: GET
      response:
        body: '{"access_key":"SCWPB5A8ZHKGTSD2NHB0", "secret_key":null, "description":"Generated by the Scaleway CLI", "created_at":"2025-03-25T13:28:06.409480Z", "updated_at":"2025-03-25T13:28:06.409480Z", "expires_at":null, "default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9", "user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.5266ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "region":"fr-par", "created_at":"2025-07-22T15:54:35.520515Z", "updated_at":"2025-07-22T15:54:35.520515Z", "id":"AAGWLQQ455PXYVUHV3P46GPS4YDFBBJEZOYGOGV3Z6QBKEDQ4NR2CFZL", "name":"cli-mnq-optimistic-elion", "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/AAGWLQQ455PXYVUHV3P46GPS4YDFBBJEZOYGOGV3Z6QBKEDQ4NR2CFZL
        method: GET
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "region":"fr-par", "created_at":"2025-07-22T15:54:35.520515Z", "updated_at":"2025-07-22T15:54:35.520515Z", "id":"AAGWLQQ455PXYVUHV3P46GPS4YDFBBJEZOYGOGV3Z6QBKEDQ4NR2CFZL", "name":"cli-mnq-optimistic-elion", "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.377431ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"nats_account_id":"AAGWLQQ455PXYVUHV3P46GPS4YDFBBJEZOYGOGV3Z6QBKEDQ4NR2CFZL", "created_at":"2025-07-22T15:54:35.737125485Z", "updated_at":"2025-07-22T15:54:35.737125597Z", "id":"fb4cf651-1c00-4608-a11d-c92dbd5d5d52", "name":"cli-mnq-optimistic-elioncli-creds-xenodochial-gauss", "credentials":{"name":"user.creds", "content":"-----BEGIN NATS USER JWT-----\neyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiJFMzVRRFdEUTZZVVdTN0JMWU9WRFNPRklZTEM0TjRBREI2WUwzVFVCRURBTTdYWVdXNTRBIiwiaWF0IjoxNzUzMTk5Njc1LCJpc3MiOiJBRE5SWVZQVU1ESzRFV0xXRlpEVVpUTEZaWDJJVE5YQTVaU1ozWkUzQjdUM0tSVlpUSDRTSTM3UyIsIm5hbWUiOiJjbGktbW5xLW9wdGltaXN0aWMtZWxpb25jbGktY3JlZHMteGVub2RvY2hpYWwtZ2F1c3MiLCJzdWIiOiJVQkhaUlRITEZJRVROVUk1VkhJRDJMTEJLQjZGQ0VKN0lIQjc2RFFJTktNSVpFWEpOQUQ0U0RDNyIsIm5hdHMiOnsicHViIjp7fSwic3ViIjp7fSwic3VicyI6LTEsImRhdGEiOi0xLCJwYXlsb2FkIjotMSwiaXNzdWVyX2FjY291bnQiOiJBQUdXTFFRNDU1UFhZVlVIVjNQNDZHUFM0WURGQkJKRVpPWUdPR1YzWjZRQktFRFE0TlIyQ0ZaTCIsInR5cGUiOiJ1c2VyIiwidmVyc2lvbiI6Mn19.kqVenisKAj2vNxE-NV_hLFzL7OhiYiS2QWYIQJAwjSug9HHwgyTnYi74yvY8niX1cWz0rnaXw0tPUzdvi3JcDA\n------END NATS USER JWT------\n\n************************* IMPORTANT *************************\nNKEY Seed printed below can be used to sign and prove identity.\nNKEYs are sensitive and should be treated as secrets.\n\n-----BEGIN USER NKEY SEED-----\nSUAOT5P5BICOEMGPTWIWQ2MVFOWO2ENG5N2HWEBS5FZ34VXQCGGHL4RLIY\n------END USER NKEY SEED------\n\n*************************************************************\n"}, "checksum":"ac414a2accd0c78c31a27a1479a07f7d77d404f8"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials
        method: POST
      response:
        body: '{"nats_account_id":"AAGWLQQ455PXYVUHV3P46GPS4YDFBBJEZOYGOGV3Z6QBKEDQ4NR2CFZL", "created_at":"2025-07-22T15:54:35.737125485Z", "updated_at":"2025-07-22T15:54:35.737125597Z", "id":"fb4cf651-1c00-4608-a11d-c92dbd5d5d52", "name":"[...]
[...]
