---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-mnq-serene-khorana","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "region":"fr-par", "created_at":"2026-10-07T17:01:21.286996646Z", "updated_at":"2026-10-07T17:01:21.286996646Z", "id":"AB3D4I7LUJX3QMCDW27SBQ4HIBSYZ7W4DZSFBMTUWG2M7J3OUX6BUOBS", "name":"cli-mnq-serene-khorana", "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 213.594727ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCW34JXNB73TWW45XC21", "access_key":"SCWXXXXXXXXXXXXXXXXX", "secret_key":null, "description":"Generated by the Scaleway CLI", "created_at":"2026-09-21T08:59:40.180590Z", "updated_at":"2026-09-21T08:59:40.180590Z", "expires_at":"2026-12-20T08:59:35.980374Z", "default_project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "editable":true, "deletable":true, "managed":false, "creation_ip":"130.180.219.188", "user_id":"c54eef01-c4c6-48fa-9a1e-36e8998b9776"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 34.974071ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 7.431243ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/AB3D4I7LUJX3QMCDW27SBQ4HIBSYZ7W4DZSFBMTUWG2M7J3OUX6BUOBS
        method: GET
      response:
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "region":"fr-par", "created_at":"2026-10-07T17:01:21.286996Z", "updated_at":"2026-10-07T17:01:21.286996Z", "id":"AB3D4I7LUJX3QMCDW27SBQ4HIBSYZ7W4DZSFBMTUWG2M7J3OUX6BUOBS", "name":"cli-mnq-serene-khorana", "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 37.387897ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"nats_account_id":"AB3D4I7LUJX3QMCDW27SBQ4HIBSYZ7W4DZSFBMTUWG2M7J3OUX6BUOBS","name":"cli-mnq-serene-khoranacli-creds-goofy-kapitsa"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials
        method: POST
      response:
        body: '{"nats_account_id":"AB3D4I7LUJX3QMCDW27SBQ4HIBSYZ7W4DZSFBMTUWG2M7J3OUX6BUOBS", "region":"fr-par", "created_at":"2026-10-07T17:01:21.489280893Z", "updated_at":"2026-10-07T17:01:21.489281050Z", "id":"3a5476ad-5b6a-4124-aaba-b3ab8ac89b45", "name":"cli-mnq-serene-khoranacli-creds-goofy-kapitsa", "credentials":{"name":"user.creds", "content":"-----BEGIN NATS USER JWT-----\neyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiJGNFVEVEdFVTVJTkpZUEJGWFNWN0dKTUpYVlZNS0ZENDVQSUJSTjJCNzRBRUs1NktYNU9BIiwiaWF0IjoxNzkxMzkyNDgxLCJpc3MiOiJBREJXUEpQVkZTTjI3Q1JURVVNTlA3U05SWFBJSE5UWU5TQVU1MzMzSFVPUUsyRkZBWEVZUk5ZViIsIm5hbWUiOiJjbGktbW5xLXNlcmVuZS1raG9yYW5hY2xpLWNyZWRzLWdvb2Z5LWthcGl0c2EiLCJzdWIiOiJVQ01JSlBTUVBMNUpCVzJVMlNCNVhDSUNDSDJZMjVIREtQVjNQRVJSSjU3TlBFRk1QQ0xIR01TWiIsIm5hdHMiOnsicHViIjp7fSwic3ViIjp7fSwic3VicyI6LTEsImRhdGEiOi0xLCJwYXlsb2FkIjotMSwiaXNzdWVyX2FjY291bnQiOiJBQjNENEk3TFVKWDNRTUNEVzI3U0JRNEhJQlNZWjdXNERaU0ZCTVRVV0cyTTdKM09VWDZCVU9CUyIsInR5cGUiOiJ1c2VyIiwidmVyc2lvbiI6Mn19.64GvnOKXfehTKChrC9hqXLBXGG6f8izKBiDvtcSndXu_QkpNrGwsIjBsY6sUNHoSXfaV41IquKGQ094wQZhpBA\n------END NATS USER JWT------\n\n************************* IMPORTANT *************************\nNKEY Seed printed below can be used to sign and prove identity.\nNKEYs are sensitive and should be treated as secrets.\n\n-----BEGIN USER NKEY SEED-----\nSUAPFVZ6WYQGVI5IJ2RGAYC5RT72Q2LS2FBK6ZDITSVUWXK7O6674D2WXU\n------END USER NKEY SEED------\n\n*************************************************************\n"}, "checksum":"53b1ef24db460652d3a06c17aa107109c2e7ff5f"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 55.161016ms
[...]
