{{- if .PrivateNetworkID }}// Connect from a resource attached to private network {{ .PrivateNetworkID }}
{{ end -}}
<?php

$dsn = "mysql:host={{ .Host }};port={{ .Port }};dbname={{ .Database }}";
$pdo = new PDO($dsn, "{{ .User }}", "{{ .Password }}");
$pdo->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);

