{{- if .PrivateNetworkID }}// Connect from a resource attached to private network {{ .PrivateNetworkID }}
{{ end -}}
import mysql.connector

conn = mysql.connector.connect(
    host="{{ .Host }}",
    port={{ .Port }},
    user="{{ .User }}",
    password="{{ .Password }}",
    database="{{ .Database }}",
    ssl_disabled=False,
)

