{{- if .PrivateNetworkID }}// Connect from a resource attached to private network {{ .PrivateNetworkID }}
{{ end -}}
import psycopg2

conn = psycopg2.connect(
    host="{{ .Host }}",
    port={{ .Port }},
    user="{{ .User }}",
    password="{{ .Password }}",
    dbname="{{ .Database }}",
    sslmode="require",
)

