{{- if .PrivateNetworkID }}// Connect from a resource attached to private network {{ .PrivateNetworkID }}
{{ end -}}
import { Pool } from "pg";

export const pool = new Pool({
  host: "{{ .Host }}",
  port: {{ .Port }},
  user: "{{ .User }}",
  password: process.env.RDB_PASSWORD,
  database: "{{ .Database }}",
  ssl: { rejectUnauthorized: true },
});

