---
version: 1
interactions:
- request:
    body: '{"products":[{"title":"Account", "name":"account", "services":[{"name":"scaleway.account.v2.GDPRApi",
      "methods":["CreateGDPRRequest", "DownloadGDPRExport"]}, {"name":"scaleway.account.v3.OrganizationApi",
      "methods":["ChangeSupportPlan", "CloseOrganization", "SetPicture"]}, {"name":"scaleway.account.v3.UserApi",
      "methods":["ChangeUserEmail", "ChangeUserPassword", "ConfirmPhoneValidation",
      "CreateMFAOTP", "DeleteMFAOTP", "SendPhoneValidation", "UpdateUser", "UpdateUserPreferences",
      "ValidateMFAOTP"]}]}, {"title":"Apple Silicon", "name":"apple-silicon", "services":[{"name":"scaleway.a[...]
