---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/webhosting/v1alpha1/regions/fr-par/offers?only_options=false&order_by=price_asc&without_options=false
    method: GET
  response:
    body: '{"offers":[{"id":"e500237a-a9e9-11ec-b909-0242ac120002", "billing_operation_path":"/webhosting/backup/fr-par",
      "product":{"name":"backup", "option":true, "email_accounts_quota":0, "email_storage_quota":0,
      "databases_quota":0, "hosting_storage_quota":0, "support_included":false, "v_cpu":0,
      "ram":0}, "price":{"currency_code":"EUR", "units":2, "nanos":990000000}, "available":true,
      "quota_warnings":[]}, {"id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694", "billing_operation_path":"/webhosting/lite/fr-par",
      "product":{"name":"lite", "option":false, "email_accounts_quota":1, "email_storage_quota":5,
      "databases_quota":1, "hosting_storage_quota":10, "support_included":true, "v_cpu":1,
      "ram":1}, "price":{"currency_code":"EUR", "units":5, "nanos":990000000}, "available":true,
      "quota_warnings":[]}, {"id":"d86c61a0-a9e9-11ec-b909-0242ac120002", "billing_operation_path":"/webhostin[...]
