Source: scw
Homepage: https://www.scaleway.com/
Maintainer: Scaleway Devtools <opensource@scaleway.com>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
               dh-golang,
               golang-any,

Package: scw
Architecture: all
Description: Scaleway CLI
XS-Go-Import-Path: github.com/scaleway/scaleway-cli/v2/cmd/scw
Version: ${VERSION}