#!/usr/bin/make -f

export DH_GOPKG := github.com/scaleway/scaleway-cli/v2
export DH_GOLANG_BUILDPKG := ${DH_GOPKG}/cmd/scw

VERSION := $(shell dpkg-parsechangelog -SVersion)
SOURCE_DATE_EPOCH := $(shell git log -1 --pretty=%ct)
DATE := $(shell date --date="@${SOURCE_DATE_EPOCH}" -u '+%Y-%m-%dT%H:%M:%SZ')
GIT_BRANCH := $(shell git symbolic-ref -q --short HEAD || echo HEAD)
GIT_COMMIT := $(shell git rev-parse --short HEAD)

%:
	dh $@ --builddirectory=_build

override_dh_auto_install:
	dh_auto_install -- --no-source

override_dh_auto_build:
	dh_auto_build -- -ldflags "-w -extldflags -static -X main.Version=${VERSION} -X main.BuildDate=${DATE} -X main.GitBranch=${GIT_BRANCH} -X main.GitCommit=${GIT_COMMIT}"
