---
version: 1
interactions:
- request:
    body: '{"organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","name":"cli-test","description":"","tags":null,"version":"1.17.3","cni":"cilium","enable_dashboard":false,"ingress":"unknown_ingress","default_pool_config":{"node_type":"DEV1-M","placement_group_id":null,"autoscaling":false,"size":1,"min_size":null,"max_size":null,"container_runtime":"unknown_runtime","autohealing":false,"tags":null},"autoscaler_config":null,"auto_upgrade":null,"feature_gates":null,"admission_plugins":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1beta4/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"1ea2513b-e3e8-464c-8fae-8e8ad116a4d2","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2020-03-16T11:37:53.947621820Z","updated_at":"2020-03-16T11:37:53.947621820Z","name":"cli-test","description":"","current_node_count":0,"status":"creating","version":"1.17.3","cni":"cilium","tags":[],"current_core_count":0,"current_mem_count":0,"cluster_url":"https://1ea2513b-e3e8-464c-8fae-8e8ad116a4d2.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.1ea2513b-e3e8-464c-8fae-8e8ad116a4d2.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1beta4/regions/fr-par/clusters/1ea2513b-e3e8-464c-8fae-8e8ad116a4d2
    method: GET
  response:
    body: '{"region":"fr-par","id":"1ea2513b-e3e8-464c-8fae-8e8ad116a4d2","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2020-03-16T11:37:53.947622Z","updated_at":"2020-03-16T11:37:53.947622Z","name":"cli-test","description":"","current_node_count":0,"status":"creating","version":"1.17.3","cni":"cilium","tags":[],"current_core_count":0,"current_mem_count":0,"cluster_url":"https://1ea2513b-e3e8-464c-8fae-8e8ad116a4d2.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.1ea2513b-e3e8-464c-8fae-8e8ad116a4d2.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1beta4/regions/fr-par/clusters/1ea2513b-e3e8-464c-8fae-8e8ad116a4d2/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogY2xpdGVzdAogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTjVSRU5EUVdKRFowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZDAxRVRYaE9WRVY0VFhwak1VOUdiMWhFVkUxM1RVUk5lRTVVUlhoTmVtTXhUMFp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFFWRnZRMmRuUlV[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1beta4/regions/fr-par/clusters/1ea2513b-e3e8-464c-8fae-8e8ad116a4d2
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"1ea2513b-e3e8-464c-8fae-8e8ad116a4d2","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
