---
version: 1
interactions:
- request:
    body: '{"id":"8625d6ae-7e86-4ffc-99b8-f3cedd2a53a2", "name":"cli-llm-laughing-wescoff",
      "project_id":"894cc948-1194-4357-9320-57cefcb7b0e5", "status":"creating", "tags":[],
      "node_type":"L4", "endpoints":[{"id":"49609c7e-e93e-4fc4-b800-0b7a2204f7ac",
      "url":"https://8625d6ae-7e86-4ffc-99b8-f3cedd2a53a2.ifr.fr-srr.scw.cloud", "public_access":{},
      "disable_auth":false}], "size":0, "min_size":1, "max_size":1, "error_message":null,
      "model_name":"meta/llama-2-7b-chat:fp16", "created_at":"2024-05-28T11:49:47.317248Z",
      "updated_at":null, "region":"fr-srr"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://agw.stg.fr-par-2.internal.scaleway.com/llm-inference/v1beta1/regions/fr-srr/deployments
    method: POST
  response:
    body: '{"id":"8625d6ae-7e86-4ffc-99b8-f3cedd2a53a2", "name":"cli-llm-laughing-wescoff",
      "project_id":"894cc948-1194-4357-9320-57cefcb7b0e5", "status":"creating", "tags":[],
      "node_type":"L4", "endpoints":[{"id":"49609c7e-e93e-4fc4-b800-0b7a2204f7ac",
      "url":"https://8625d6ae-7e86-4ffc-99b8-f3cedd2a53a2.ifr.fr-srr.scw.cloud", "public_access":{},
      "disable_auth":false}], "size":0, "min_size":1, "max_size":1, "error_message":null,
      "model_name":"meta/llama-2-7b-chat:fp16", "created_at":"2024-05-28T11:49:47.317248Z",
      "updated_at":null, "region":"fr-srr"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
