---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"761b7898-3a20-45d6-b627-561870ad2dc9", "name":"cli-inference-bold-carson", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"creating", "tags":[], "node_type":"L4", "endpoints":[{"id":"e418e67c-93f0-4e47-84e9-321c144a62ac", "url":"https://761b7898-3a20-45d6-b627-561870ad2dc9.ifr.fr-par.scaleway.com", "public_access":{}, "disable_auth":false}], "size":0, "min_size":1, "max_size":1, "error_message":null, "model_name":"meta/llama-3-8b-instruct:bf16", "created_at":"2025-07-22T15:54:31.861413Z", "updated_at":null, "model_id":"6c68b256-ef4a-48d2-a794-9b63b5c6ba5d", "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"id":"761b7898-3a20-45d6-b627-561870ad2dc9", "name":"cli-inference-bold-carson", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"creating", "tags":[], "node_type":"L4", "endpoints":[{"id":"e418e67c-93f0-4e47-84e9-321c144a62ac", "url":"https://761b7898-3a20-45d6-b627-561870ad2dc9.ifr.fr-par.scaleway.com", "public_access":{}, "disable_auth":false}], "size":0, "min_size":1, "max_size":1, "error_message":null, "model_name":"meta/llama-3-8b-instruct:bf16", "created_at":"2025-07-22T15:54:31.861413Z", "updated_at":null, "model_id":"6c68b256-ef4a-48d2-a794-9b63b5c6ba5d", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 541.197966ms
[...]
