---
version: 1
interactions:
- request:
    body: '{"id":"c9702118-3ee5-4f7a-b993-230524079947","name":"cli-llm-interesting-rhodes","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","status":"creating","tags":[],"node_type":"L4","endpoints":[{"id":"93a11893-f034-4656-8297-6686bd71f74b","url":"https://c9702118-3ee5-4f7a-b993-230524079947.ifr.fr-par.scw.cloud","public_access":{},"disable_auth":false}],"size":0,"min_size":1,"max_size":1,"error_message":null,"model_name":"meta/llama-3-8b-instruct:bf16","created_at":"2024-05-29T08:59:03.427589Z","updated_at":null,"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/llm-inference/v1beta1/regions/fr-par/deployments
    method: POST
  response:
    body: '{"id":"c9702118-3ee5-4f7a-b993-230524079947","name":"cli-llm-interesting-rhodes","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","status":"creating","tags":[],"node_type":"L4","endpoints":[{"id":"93a11893-f034-4656-8297-6686bd71f74b","url":"https://c9702118-3ee5-4f7a-b993-230524079947.ifr.fr-par.scw.cloud","public_access":{},"disable_auth":false}],"size":0,"min_size":1,"max_size":1,"error_message":null,"model_name":"meta/llama-3-8b-instruct:bf16","created_at":"2024-05-29T08:59:03.427589Z","updated_at":null,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
