---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"44614a26-c3e9-47c0-b5ad-bca3540ecea6", "name":"cli-inference-frosty-joliot", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"creating", "tags":[], "node_type":"L4", "endpoints":[{"id":"ad424424-d95c-4497-a058-8ed54ca003da", "url":"https://44614a26-c3e9-47c0-b5ad-bca3540ecea6.ifr.fr-par.scaleway.com", "public_access":{}, "disable_auth":false}], "size":0, "min_size":1, "max_size":1, "error_message":null, "model_name":"meta/llama-3-8b-instruct:bf16", "created_at":"2025-07-23T15:56:39.745722Z", "updated_at":null, "model_id":"6c68b256-ef4a-48d2-a794-9b63b5c6ba5d", "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"id":"44614a26-c3e9-47c0-b5ad-bca3540ecea6", "name":"cli-inference-frosty-joliot", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"creating", "tags":[], "node_type":"L4", "endpoints":[{"id":"ad424424-d95c-4497-a058-8ed54ca003da", "url":"https://44614a26-c3e9-47c0-b5ad-bca3540ecea6.ifr.fr-par.scaleway.com", "public_access":{}, "disable_auth":false}], "size":0, "min_size":1, "max_size":1, "error_message":null, "model_name":"meta/llama-3-8b-instruct:bf16", "created_at":"2025-07-23T15:56:39.745722Z", "updated_at":null, "model_id":"6c68b256-ef4a-48d2-a794-9b63b5c6ba5d", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 394.244782ms
[...]
