---
version: 1
interactions:
- request:
    body: '{"id":"4b53b9b9-c940-4c3b-8db9-e7337bb66f93", "name":"cli-llm-great-joliot",
      "project_id":"894cc948-1194-4357-9320-57cefcb7b0e5", "status":"creating", "tags":[],
      "node_type":"L4", "endpoints":[{"id":"be7d860c-5948-4822-8e26-1c730bab7213",
      "url":"https://4b53b9b9-c940-4c3b-8db9-e7337bb66f93.ifr.fr-srr.scw.cloud", "public_access":{},
      "disable_auth":false}], "size":0, "min_size":1, "max_size":1, "error_message":null,
      "model_name":"meta/llama-3-8b-instruct:bf16", "created_at":"2024-05-27T14:49:17.987758Z",
      "updated_at":null, "region":"fr-srr"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://agw.stg.fr-par-2.internal.scaleway.com/llm-inference/v1beta1/regions/fr-srr/deployments
    method: POST
  response:
    body: '{"id":"4b53b9b9-c940-4c3b-8db9-e7337bb66f93", "name":"cli-llm-great-joliot",
      "project_id":"894cc948-1194-4357-9320-57cefcb7b0e5", "status":"creating", "tags":[],
      "node_type":"L4", "endpoints":[{"id":"be7d860c-5948-4822-8e26-1c730bab7213",
      "url":"https://4b53b9b9-c940-4c3b-8db9-e7337bb66f93.ifr.fr-srr.scw.cloud", "public_access":{},
      "disable_auth":false}], "size":0, "min_size":1, "max_size":1, "error_message":null,
      "model_name":"meta/llama-3-8b-instruct:bf16", "created_at":"2024-05-27T14:49:17.987758Z",
      "updated_at":null, "region":"fr-srr"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
