---
version: 1
interactions:
- request:
    body: '{"id":"9880f7f0-ed6a-495c-99fa-d4ff4b80e648", "name":"cli-llm-gifted-liskov",
      "project_id":"894cc948-1194-4357-9320-57cefcb7b0e5", "status":"creating", "tags":[],
      "node_type":"L4", "endpoints":[{"id":"eefe321d-9a57-4388-bc37-5ecc3b94fb0e",
      "url":"https://9880f7f0-ed6a-495c-99fa-d4ff4b80e648.ifr.fr-srr.scw.cloud", "public_access":{},
      "disable_auth":false}], "size":0, "min_size":1, "max_size":1, "error_message":null,
      "model_name":"meta/llama-3-8b-instruct:bf16", "created_at":"2024-05-28T11:49:47.320868Z",
      "updated_at":null, "region":"fr-srr"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://agw.stg.fr-par-2.internal.scaleway.com/llm-inference/v1beta1/regions/fr-srr/deployments
    method: POST
  response:
    body: '{"id":"9880f7f0-ed6a-495c-99fa-d4ff4b80e648", "name":"cli-llm-gifted-liskov",
      "project_id":"894cc948-1194-4357-9320-57cefcb7b0e5", "status":"creating", "tags":[],
      "node_type":"L4", "endpoints":[{"id":"eefe321d-9a57-4388-bc37-5ecc3b94fb0e",
      "url":"https://9880f7f0-ed6a-495c-99fa-d4ff4b80e648.ifr.fr-srr.scw.cloud", "public_access":{},
      "disable_auth":false}], "size":0, "min_size":1, "max_size":1, "error_message":null,
      "model_name":"meta/llama-3-8b-instruct:bf16", "created_at":"2024-05-28T11:49:47.320868Z",
      "updated_at":null, "region":"fr-srr"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
