---
version: 1
interactions:
- request:
    body: '{"models":[{"id":"6c68b256-ef4a-48d2-a794-9b63b5c6ba5d", "name":"meta/llama-3-8b-instruct:bf16",
      "project_id":"", "tags":["instruct", "chat"], "description":"Efficient 8B-param
      model by Meta, fine-tuned for instruction and automation.", "is_public":true,
      "created_at":"2024-03-14T00:00:00Z", "updated_at":"2024-07-10T07:49:19.674638Z",
      "has_eula":true, "provider":"meta", "compatible_node_types":["L4"], "quantization_level":"bf16",
      "region":"fr-par"}, {"id":"12c8b72a-720e-4482-b9e1-527f7d8b7aea", "name":"meta/llama-3-70b-instruct:int8",
      "project_id":"", "tags":["instruct", "chat"], "description":"Latest 70B-param
      model from Meta, fine-tuned for instruction and automation.", "is_public":true,
      "created_at":"2024-05-28T13:51:48.533257Z", "updated_at":"2024-07-10T07:49:19.690626Z",
      "has_eula":true, "provider":"meta", "compatible_node_types":["H100"], "quantization_level":"int8",
      "region":"fr-par"}, {"id":"[...]
