---
version: 1
interactions:
- request:
    body: '{"id":"d76467d6-ab64-4a28-be5e-5e4c7c72c826","name":"cli-llm-gallant-euler","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","status":"creating","tags":[],"node_type":"L4","endpoints":[{"id":"c1e652a2-349e-4be0-86c1-2835f2a8f4bc","url":"https://d76467d6-ab64-4a28-be5e-5e4c7c72c826.ifr.fr-par.scw.cloud","public_access":{},"disable_auth":false}],"size":0,"min_size":1,"max_size":1,"error_message":null,"model_name":"meta/llama-3-8b-instruct:bf16","created_at":"2024-05-28T13:26:57.601436Z","updated_at":null,"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/llm-inference/v1beta1/regions/fr-par/deployments
    method: POST
  response:
    body: '{"id":"d76467d6-ab64-4a28-be5e-5e4c7c72c826","name":"cli-llm-gallant-euler","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","status":"creating","tags":[],"node_type":"L4","endpoints":[{"id":"c1e652a2-349e-4be0-86c1-2835f2a8f4bc","url":"https://d76467d6-ab64-4a28-be5e-5e4c7c72c826.ifr.fr-par.scw.cloud","public_access":{},"disable_auth":false}],"size":0,"min_size":1,"max_size":1,"error_message":null,"model_name":"meta/llama-3-8b-instruct:bf16","created_at":"2024-05-28T13:26:57.601436Z","updated_at":null,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
