---
version: 1
interactions:
- request:
    body: '{"id":"5224cea1-4159-444c-a9ff-de4024fae075","name":"cli-inference-cranky-easley","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","status":"creating","tags":[],"node_type":"L4","endpoints":[{"id":"e63e55e0-0f84-49bb-ad17-891cbe59f0bc","url":"https://5224cea1-4159-444c-a9ff-de4024fae075.ifr.fr-par.scw.cloud","public_access":{},"disable_auth":false}],"size":0,"min_size":1,"max_size":1,"error_message":null,"model_name":"meta/llama-3-8b-instruct:bf16","created_at":"2024-06-27T14:19:43.288710Z","updated_at":null,"model_id":"6c68b256-ef4a-48d2-a794-9b63b5c6ba5d","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments
    method: POST
  response:
    body: '{"id":"5224cea1-4159-444c-a9ff-de4024fae075","name":"cli-inference-cranky-easley","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","status":"creating","tags":[],"node_type":"L4","endpoints":[{"id":"e63e55e0-0f84-49bb-ad17-891cbe59f0bc","url":"https://5224cea1-4159-444c-a9ff-de4024fae075.ifr.fr-par.scw.cloud","public_access":{},"disable_auth":false}],"size":0,"min_size":1,"max_size":1,"error_message":null,"model_name":"meta/llama-3-8b-instruct:bf16","created_at":"2024-06-27T14:19:43.288710Z","updated_at":null,"model_id":"6c68b256-ef4a-48d2-a794-9b63b5c6ba5d","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
