---
version: 1
interactions:
- request:
    body: '{"models":[{"id":"6c68b256-ef4a-48d2-a794-9b63b5c6ba5d", "name":"meta/llama-3-8b-instruct:bf16",
      "project_id":"", "tags":["instruct", "chat"], "description":"Efficient 8B-param
      model by Meta, fine-tuned for instruction and automation.", "is_public":true,
      "created_at":"2024-03-14T00:00:00Z", "updated_at":"2024-06-25T12:11:33.374529Z",
      "has_eula":true, "provider":"meta", "compatible_node_types":["L4"], "quantization_level":"bf16",
      "region":"fr-par"}, {"id":"a7db3243-9d6a-4149-9ffb-081e24886d00", "name":"mistral/mixtral-8x7b-instruct-v0.1:fp16",
      "project_id":"", "tags":["instruct", "chat"], "description":"A high-quality
      Mixture of Experts (MoE) model with open weights by Mistral AI, licensed under
      Apache 2.0.", "is_public":true, "created_at":"2024-03-15T00:00:00Z", "updated_at":"2024-06-25T12:11:33.317896Z",
      "has_eula":false, "provider":"mistral", "compatible_node_types":["H100-2"],
      "quantization_level[...]
