---
version: 1
interactions:
- request:
    body: '{"models":[{"id":"6c68b256-ef4a-48d2-a794-9b63b5c6ba5d","name":"meta/llama-3-8b-instruct:bf16","project_id":"","tags":["instruct","chat"],"description":"Efficient
      8B-param model by Meta, fine-tuned for instruction and automation.","is_public":true,"created_at":"2024-03-14T00:00:00Z","updated_at":"2024-05-28T08:45:34.779337Z","has_eula":true,"provider":"meta","compatible_node_types":["L4"],"quantization_level":"bf16","region":"fr-par"},{"id":"c55d11d3-f717-4ede-82ac-48a74b84cbf1","name":"mistral/mixtral-8x7b-instruct-v0.1:int8","project_id":"","tags":["instruct"],"description":"A
      high-quality Mixture of Experts (MoE) model with open weights by Mistral AI,
      licensed under Apache 2.0.","is_public":true,"created_at":"2024-03-15T00:00:00Z","updated_at":"2024-05-28T08:45:34.749698Z","has_eula":false,"provider":"mistral","compatible_node_types":["H100"],"quantization_level":"int8","region":"fr-par"},{"id":"a7db3[...]
