---
version: 1
interactions:
- request:
    body: '{"id":"7af205f0-77f2-4fa4-bee9-8a92733fbf14", "name":"cli-llm-gallant-dhawan",
      "project_id":"894cc948-1194-4357-9320-57cefcb7b0e5", "status":"creating", "tags":[],
      "node_type":"L4", "endpoints":[{"id":"e8a02e41-a455-4650-92e5-86d78454486d",
      "url":"https://7af205f0-77f2-4fa4-bee9-8a92733fbf14.ifr.fr-srr.scw.cloud", "public_access":{},
      "disable_auth":false}], "size":0, "min_size":1, "max_size":1, "error_message":null,
      "model_name":"meta/llama-2-7b-chat:fp16", "created_at":"2024-05-27T14:49:18.001359Z",
      "updated_at":null, "region":"fr-srr"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://agw.stg.fr-par-2.internal.scaleway.com/llm-inference/v1beta1/regions/fr-srr/deployments
    method: POST
  response:
    body: '{"id":"7af205f0-77f2-4fa4-bee9-8a92733fbf14", "name":"cli-llm-gallant-dhawan",
      "project_id":"894cc948-1194-4357-9320-57cefcb7b0e5", "status":"creating", "tags":[],
      "node_type":"L4", "endpoints":[{"id":"e8a02e41-a455-4650-92e5-86d78454486d",
      "url":"https://7af205f0-77f2-4fa4-bee9-8a92733fbf14.ifr.fr-srr.scw.cloud", "public_access":{},
      "disable_auth":false}], "size":0, "min_size":1, "max_size":1, "error_message":null,
      "model_name":"meta/llama-2-7b-chat:fp16", "created_at":"2024-05-27T14:49:18.001359Z",
      "updated_at":null, "region":"fr-srr"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
