---
version: 1
interactions:
- request:
    body: '{"models":[{"id":"9fb33bef-b54a-41a9-aae5-6413d868206e", "name":"meta/llama-3-8b-instruct:bf16",
      "project_id":"", "tags":["instruct", "chat"], "description":"Efficient 8B-param
      model by Meta, fine-tuned for instruction and automation.", "is_public":true,
      "created_at":"2024-03-14T00:00:00Z", "updated_at":"2024-05-24T08:03:56.251899Z",
      "has_eula":true, "provider":"meta", "compatible_node_types":["L4"], "quantization_level":"bf16",
      "region":"fr-srr"}, {"id":"161e9d67-179a-494e-a2c7-3eb64765386a", "name":"mistral/mixtral-8x7b-instruct-v0.1:fp16",
      "project_id":"", "tags":["instruct"], "description":"A high-quality Mixture
      of Experts (MoE) model with open weights by Mistral AI, licensed under Apache
      2.0.", "is_public":true, "created_at":"2024-03-15T00:00:00Z", "updated_at":"2024-05-24T08:03:56.196660Z",
      "has_eula":false, "provider":"mistral", "compatible_node_types":["H100-2"],
      "quantization_level":"fp16"[...]
