---
version: 1
interactions:
- request:
    body: '{"id":"7d34392f-61f3-4b1f-82ad-39a211f18ee7", "name":"cli-inference-eloquent-goldwasser",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "status":"creating", "tags":[],
      "node_type":"L4", "endpoints":[{"id":"c7d43b38-5c17-4b7e-8b3b-9ef209644707",
      "url":"https://7d34392f-61f3-4b1f-82ad-39a211f18ee7.ifr.fr-par.scw.cloud", "public_access":{},
      "disable_auth":false}], "size":0, "min_size":1, "max_size":1, "error_message":null,
      "model_name":"meta/llama-3-8b-instruct:bf16", "created_at":"2024-06-28T13:39:38.821026Z",
      "updated_at":null, "model_id":"6c68b256-ef4a-48d2-a794-9b63b5c6ba5d", "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/inference/v1beta1/regions/fr-par/deployments
    method: POST
  response:
    body: '{"id":"7d34392f-61f3-4b1f-82ad-39a211f18ee7", "name":"cli-inference-eloquent-goldwasser",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "status":"creating", "tags":[],
      "node_type":"L4", "endpoints":[{"id":"c7d43b38-5c17-4b7e-8b3b-9ef209644707",
      "url":"https://7d34392f-61f3-4b1f-82ad-39a211f18ee7.ifr.fr-par.scw.cloud", "public_access":{},
      "disable_auth":false}], "size":0, "min_size":1, "max_size":1, "error_message":null,
      "model_name":"meta/llama-3-8b-instruct:bf16", "created_at":"2024-06-28T13:39:38.821026Z",
      "updated_at":null, "model_id":"6c68b256-ef4a-48d2-a794-9b63b5c6ba5d", "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
