---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"aa9ff68e-d20d-452e-bdfe-e2e26205ffa5", "name":"cli-pn-focused-hertz", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T08:55:01.429225Z", "updated_at":"2025-07-24T08:55:01.429225Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"b9913cb6-03b0-4fef-82fa-2fafa06ef879", "created_at":"2025-07-24T08:55:01.429225Z", "updated_at":"2025-07-24T08:55:01.429225Z", "subnet":"172.16.184.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"aa9ff68e-d20d-452e-bdfe-e2e26205ffa5", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"859eb2a2-2bb7-478b-9d5d-ed1ecc8f7f81", "created_at":"2025-07-24T08:55:01.429225Z", "updated_at":"2025-07-24T08:55:01.429225Z", "subnet":"fd63:256c:45f7:fe28::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"aa9ff68e-d20d-452e-bdfe-e2e26205ffa5", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"aa9ff68e-d20d-452e-bdfe-e2e26205ffa5", "name":"cli-pn-focused-hertz", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T08:55:01.429225Z", "updated_at":"2025-07-24T08:55:01.429225Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"b9913cb6-03b0-4fef-82fa-2fafa06ef879", "created_at":"2025-07-24T08:55:01.429225Z", "updated_at":"2025-07-24T08:55:01.429225Z", "subnet":"172.16.184.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"aa9ff68e-d20d-452e-bdfe-e2e26205ffa5", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"859eb2a2-2bb7-478b-9d5d-ed1ecc8f7f81", "created_at":"2025-07-24T08:55:01.429225Z", "updated_at":"2025-07-24T08:55:01.429225Z", "subnet":"fd63:256c:45f7:fe28::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"aa9ff68e-d20d-452e-bdfe-e2e26205ffa5", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 808.179434ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"e305dd29-22c0-4306-bb09-f536621707b5", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T08:55:02.747066Z", "updated_at":"2025-07-24T08:55:02.747066Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000, "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-condescending-hopper", "tags":[], "ip":{"id":"1888df5e-7a37-4edc-aed1-f9b10f27eff9", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T08:55:02.723072Z", "updated_at":"2025-07-24T08:55:02.723072Z", "tags":[], "address":"51.15.196.2", "reverse":"2-196-15-51.instances.scw.cloud", "gateway_id":"e305dd29-22c0-4306-bb09-f536621707b5", "zone":"fr-par-1"}, "gateway_networks":[], "upstream_dns_servers":[], "version":null, "can_upgrade_to":null, "bastion_enabled":false, "bastion_port":61000, "smtp_enabled":false, "is_legacy":false, "ip_mobility_enabled":false, "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"id":"e305dd29-22c0-4306-bb09-f536621707b5", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T08:55:02.747066Z", "updated_at":"2025-07-24T08:55:02.747066Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000, "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-condescending-hopper", "tags":[], "ip":{"id":"1888df5e-7a37-4edc-aed1-f9b10f27eff9", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T08:55:02.723072Z", "updated_at":"2025-07-24T08:55:02.723072Z", "tags":[], "address":"51.15.196.2", "reverse":"2-196-15-51.instances.scw.cloud", "gateway_id":"e305dd29-22c0-4306-bb09-f536621707b5", "zone":"fr-par-1"}, "gateway_networks":[], "upstream_dns_servers":[], "version":null, "can_upgrade_to":null, "bastion_enabled":false, "bastion_port":61000, "smtp_enabled":false, "is_legacy":false, "ip_mobility_enabled":false, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 803.683823ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"e305dd29-22c0-4306-bb09-f536621707b5", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T08:55:02.747066Z", "updated_at":"2025-07-24T08:55:02.793616Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000, "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-condescending-hopper", "tags":[], "ip":{"id":"1888df5e-7a37-4edc-aed1-f9b1[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"id":"6bfabdec-05ac-4c17-badb-840e80eb62bf", "created_at":"2025-07-24T08:55:20.381428Z", "updated_at":"2025-07-24T08:55:20.381428Z", "gateway_id":"e305dd29-22c0-4306-bb09-f536621707b5", "private_network_id":"aa9ff68e-d20d-452e-bdfe-e2e26205ffa5", "mac_address":null, "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":true, "address":"172.16.184.2/22", "ipam_config":{"push_default_route":true, "ipam_ip_id":"be2b0d89-8e8a-4488-936b-9e48e28d50bd"}, "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"id":"6bfabdec-05ac-4c17-badb-840e80eb62bf", "created_at":"2025-07-24T08:55:20.381428Z", "updated_at":"2025-07-24T08:55:20.381428Z", "gateway_id":"e305dd29-22c0-4306-bb09-f536621707b5", "private_network_id":"aa9ff68e-d20d-452e-bdfe-e2e26205ffa5", "mac_address":null, "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":true, "address":"172.16.184.2/22", "ipam_config":{"push_default_route":true, "ipam_ip_id":"be2b0d89-8e8a-4488-936b-9e48e28d50bd"}, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.569609887s
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"id":"6bfabdec-05ac-4c17-badb-840e80eb62bf", "created_at":"2025-07-24T08:55:20.381428Z", "updated_at":"2025-07-24T08:55:20.381428Z", "gateway_id":"e305dd29-22c0-4306-bb09-f536621707b5", "private_network_id":"aa9ff68e-d20d-452e-bdfe-e2e26205ffa5", "mac_address":null, "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":true, "address":"172.16.184.2/22", "ipam_config":{"push_default_route":true, "ipam_ip_id":"be2b0d89-8e8a-4488-936b-9e48e28d50bd"}, "zone":"fr-par-1"}'
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/6bfabdec-05ac-4c17-badb-840e80eb62bf
        method: GET
      response:
        body: '{"id":"6bfabdec-05ac-4c17-badb-840e80eb62bf", "created_at":"2025-07-24T08:55:20.381428Z", "updated_at":"2025-07-24T08:55:20.381428Z", "gateway_id":"e305dd29-22c0-4306-bb09-f536621707b5", "private_network_id":"aa9ff68e-d20d-452e-bdfe-e2e26205ffa5", "mac_address":null, "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":true, "address":"172.16.184.2/22", "ipam_config":{"push_default_route":true, "ipam_ip_id":"be2b0d89-8e8a-4488-936b-9e48e28d50bd"}, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.813586ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/6bfabdec-05ac-4c17-badb-840e80eb62bf?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 96.245964ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"6bfabdec-05ac-4c17-badb-840e80eb62bf","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/6bfabdec-05ac-4c17-badb-840e80eb62bf
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"6bfabdec-05ac-4c17-badb-840e80eb62bf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.212528ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"message":"internal error"}'
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/aa9ff68e-d20d-452e-bdfe-e2e26205ffa5
        method: DELETE
      response:
        body: '{"message":"internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 5.092792863s
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/e305dd29-22c0-4306-bb09-f536621707b5?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 43.116943ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/1888df5e-7a37-4edc-aed1-f9b10f27eff9
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 771.437337ms
