---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"e1483c68-7620-4f79-979b-3d5cd9c2b654", "name":"cli-pn-thirsty-curran", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:55:37.359948Z", "updated_at":"2025-07-22T15:55:37.359948Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"f7608386-0467-44c0-a2cf-7a0f637daeee", "created_at":"2025-07-22T15:55:37.359948Z", "updated_at":"2025-07-22T15:55:37.359948Z", "subnet":"172.16.104.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"e1483c68-7620-4f79-979b-3d5cd9c2b654", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"967f911e-daec-4ecf-8c34-7a82b9ff220e", "created_at":"2025-07-22T15:55:37.359948Z", "updated_at":"2025-07-22T15:55:37.359948Z", "subnet":"fd63:256c:45f7:255d::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"e1483c68-7620-4f79-979b-3d5cd9c2b654", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"e1483c68-7620-4f79-979b-3d5cd9c2b654", "name":"cli-pn-thirsty-curran", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:55:37.359948Z", "updated_at":"2025-07-22T15:55:37.359948Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"f7608386-0467-44c0-a2cf-7a0f637daeee", "created_at":"2025-07-22T15:55:37.359948Z", "updated_at":"2025-07-22T15:55:37.359948Z", "subnet":"172.16.104.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"e1483c68-7620-4f79-979b-3d5cd9c2b654", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"967f911e-daec-4ecf-8c34-7a82b9ff220e", "created_at":"2025-07-22T15:55:37.359948Z", "updated_at":"2025-07-22T15:55:37.359948Z", "subnet":"fd63:256c:45f7:255d::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"e1483c68-7620-4f79-979b-3d5cd9c2b654", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 613.416892ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"f4e6315b-ffa9-4c20-b291-abb5ce263bd2", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:55:38.653231Z", "updated_at":"2025-07-22T15:55:38.653231Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000, "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-awesome-joliot", "tags":[], "ip":{"id":"16cd9923-a511-4865-a7b0-07a03d3282d8", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:55:38.629645Z", "updated_at":"2025-07-22T15:55:38.629645Z", "tags":[], "address":"51.15.196.2", "reverse":"2-196-15-51.instances.scw.cloud", "gateway_id":"f4e6315b-ffa9-4c20-b291-abb5ce263bd2", "zone":"fr-par-1"}, "gateway_networks":[], "upstream_dns_servers":[], "version":null, "can_upgrade_to":null, "bastion_enabled":false, "bastion_port":61000, "smtp_enabled":false, "is_legacy":false, "ip_mobility_enabled":false, "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"id":"f4e6315b-ffa9-4c20-b291-abb5ce263bd2", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:55:38.653231Z", "updated_at":"2025-07-22T15:55:38.653231Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000, "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-awesome-joliot", "tags":[], "ip":{"id":"16cd9923-a511-4865-a7b0-07a03d3282d8", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:55:38.629645Z", "updated_at":"2025-07-22T15:55:38.629645Z", "tags":[], "address":"51.15.196.2", "reverse":"2-196-15-51.instances.scw.cloud", "gateway_id":"f4e6315b-ffa9-4c20-b291-abb5ce263bd2", "zone":"fr-par-1"}, "gateway_networks":[], "upstream_dns_servers":[], "version":null, "can_upgrade_to":null, "bastion_enabled":false, "bastion_port":61000, "smtp_enabled":false, "is_legacy":false, "ip_mobility_enabled":false, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 759.868824ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"f4e6315b-ffa9-4c20-b291-abb5ce263bd2", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:55:38.653231Z", "updated_at":"2025-07-22T15:55:38.653231Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000, "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-awesome-joliot", "tags":[], "ip":{"id":"16cd9923-a511-4865-a7b0-07a03d3282[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"id":"f46943e5-5f8b-49dd-a266-cbfe503b0b75", "created_at":"2025-07-22T15:55:56.043435Z", "updated_at":"2025-07-22T15:55:56.043435Z", "gateway_id":"f4e6315b-ffa9-4c20-b291-abb5ce263bd2", "private_network_id":"e1483c68-7620-4f79-979b-3d5cd9c2b654", "mac_address":null, "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":true, "address":"172.16.104.2/22", "ipam_config":{"push_default_route":true, "ipam_ip_id":"0e7d07d7-63e2-4b17-b722-2a988919b533"}, "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"id":"f46943e5-5f8b-49dd-a266-cbfe503b0b75", "created_at":"2025-07-22T15:55:56.043435Z", "updated_at":"2025-07-22T15:55:56.043435Z", "gateway_id":"f4e6315b-ffa9-4c20-b291-abb5ce263bd2", "private_network_id":"e1483c68-7620-4f79-979b-3d5cd9c2b654", "mac_address":null, "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":true, "address":"172.16.104.2/22", "ipam_config":{"push_default_route":true, "ipam_ip_id":"0e7d07d7-63e2-4b17-b722-2a988919b533"}, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.39412328s
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"id":"f46943e5-5f8b-49dd-a266-cbfe503b0b75", "created_at":"2025-07-22T15:55:56.043435Z", "updated_at":"2025-07-22T15:55:56.043435Z", "gateway_id":"f4e6315b-ffa9-4c20-b291-abb5ce263bd2", "private_network_id":"e1483c68-7620-4f79-979b-3d5cd9c2b654", "mac_address":null, "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":true, "address":"172.16.104.2/22", "ipam_config":{"push_default_route":true, "ipam_ip_id":"0e7d07d7-63e2-4b17-b722-2a988919b533"}, "zone":"fr-par-1"}'
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/f46943e5-5f8b-49dd-a266-cbfe503b0b75
        method: GET
      response:
        body: '{"id":"f46943e5-5f8b-49dd-a266-cbfe503b0b75", "created_at":"2025-07-22T15:55:56.043435Z", "updated_at":"2025-07-22T15:55:56.043435Z", "gateway_id":"f4e6315b-ffa9-4c20-b291-abb5ce263bd2", "private_network_id":"e1483c68-7620-4f79-979b-3d5cd9c2b654", "mac_address":null, "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":true, "address":"172.16.104.2/22", "ipam_config":{"push_default_route":true, "ipam_ip_id":"0e7d07d7-63e2-4b17-b722-2a988919b533"}, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.264436ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/f46943e5-5f8b-49dd-a266-cbfe503b0b75?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 114.938748ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"f46943e5-5f8b-49dd-a266-cbfe503b0b75","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/f46943e5-5f8b-49dd-a266-cbfe503b0b75
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"f46943e5-5f8b-49dd-a266-cbfe503b0b75","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.175734ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e1483c68-7620-4f79-979b-3d5cd9c2b654
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 2.421932169s
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/f4e6315b-ffa9-4c20-b291-abb5ce263bd2?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 64.23175ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/16cd9923-a511-4865-a7b0-07a03d3282d8
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 681.030703ms
