---
version: 2
interactions:
- request:
    body: '{"id":"e92fc64c-0a33-4293-8a5d-d53b949b38d1", "name":"cli-pn-recursing-keller",
      "tags":[], "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "created_at":"2024-02-23T14:57:34.899248Z",
      "updated_at":"2024-02-23T14:57:34.899248Z", "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "subnets":[{"id":"6c7c3739-34d6-416d-9629-eda90bb26f76", "created_at":"2024-02-23T14:57:34.899248Z",
      "updated_at":"2024-02-23T14:57:34.899248Z", "subnet":"172.16.28.0/22"}, {"id":"7e876ad6-ae23-466f-b3ee-6f4a151b775b",
      "created_at":"2024-02-23T14:57:34.899248Z", "updated_at":"2024-02-23T14:57:34.899248Z",
      "subnet":"fd64:badd:7710:ad63::/64"}], "vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"e92fc64c-0a33-4293-8a5d-d53b949b38d1", "name":"cli-pn-recursing-keller",
      "tags":[], "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "created_at":"2024-02-23T14:57:34.899248Z",
      "updated_at":"2024-02-23T14:57:34.899248Z", "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "subnets":[{"id":"6c7c3739-34d6-416d-9629-eda90bb26f76", "created_at":"2024-02-23T14:57:34.899248Z",
      "updated_at":"2024-02-23T14:57:34.899248Z", "subnet":"172.16.28.0/22"}, {"id":"7e876ad6-ae23-466f-b3ee-6f4a151b775b",
      "created_at":"2024-02-23T14:57:34.899248Z", "updated_at":"2024-02-23T14:57:34.899248Z",
      "subnet":"fd64:badd:7710:ad63::/64"}], "vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"id":"842f7e39-cfed-41a3-bb7f-d4e77d069129", "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "created_at":"2024-02-23T14:57:36.125943Z",
      "updated_at":"2024-02-23T14:57:36.125943Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000,
      "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-dreamy-booth", "tags":[],
      "ip":{"id":"2c139c4c-b21f-48f1-89ac-3aa31ad3dc88", "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "created_at":"2024-02-23T14:57:36.110619Z",
      "updated_at":"2024-02-23T14:57:36.110619Z", "tags":[], "address":"51.15.231.133",
      "reverse":"133-231-15-51.instances.scw.cloud", "gateway_id":"842f7e39-cfed-41a3-bb7f-d4e77d069129",
      "zone":"fr-par-1"}, "gateway_networks":[], "upstream_dns_servers":[], "version":null,
      "can_upgrade_to":null, "bastion_enabled":false, "bastion_port":61000, "smtp_enabled":false,
      "is_legacy":false, "ip_mobility_enabled":false, "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"842f7e39-cfed-41a3-bb7f-d4e77d069129", "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "created_at":"2024-02-23T14:57:36.125943Z",
      "updated_at":"2024-02-23T14:57:36.125943Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000,
      "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-dreamy-booth", "tags":[],
      "ip":{"id":"2c139c4c-b21f-48f1-89ac-3aa31ad3dc88", "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "created_at":"2024-02-23T14:57:36.110619Z",
      "updated_at":"2024-02-23T14:57:36.110619Z", "tags":[], "address":"51.15.231.133",
      "reverse":"133-231-15-51.instances.scw.cloud", "gateway_id":"842f7e39-cfed-41a3-bb7f-d4e77d069129",
      "zone":"fr-par-1"}, "gateway_networks":[], "upstream_dns_servers":[], "version":null,
      "can_upgrade_to":null, "bastion_enabled":false, "bastion_port":61000, "smtp_enabled":false,
      "is_legacy":false, "ip_mobility_enabled":false, "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"id":"842f7e39-cfed-41a3-bb7f-d4e77d069129", "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "created_at":"2024-02-23T14:57:36.125943Z",
      "updated_at":"2024-02-23T14:57:36.165772Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000,
      "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-dreamy-booth", "tags":[],
      "ip":{"id":"2c139c4c-b21f-48f1-89ac-3aa31ad3dc88", "organization_id":"d3520[...]
[...]
- request:
    body: '{"id":"94a3b5f9-8a80-40f8-9560-5079747e0679", "created_at":"2024-02-23T14:57:51.402979Z",
      "updated_at":"2024-02-23T14:57:51.402979Z", "gateway_id":"842f7e39-cfed-41a3-bb7f-d4e77d069129",
      "private_network_id":"e92fc64c-0a33-4293-8a5d-d53b949b38d1", "mac_address":null,
      "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":false,
      "address":"172.16.28.2/22", "ipam_config":{"push_default_route":false, "ipam_ip_id":"36a6c5de-695b-4b79-a435-07308cb0e25a"},
      "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"94a3b5f9-8a80-40f8-9560-5079747e0679", "created_at":"2024-02-23T14:57:51.402979Z",
      "updated_at":"2024-02-23T14:57:51.402979Z", "gateway_id":"842f7e39-cfed-41a3-bb7f-d4e77d069129",
      "private_network_id":"e92fc64c-0a33-4293-8a5d-d53b949b38d1", "mac_address":null,
      "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":false,
      "address":"172.16.28.2/22", "ipam_config":{"push_default_route":false, "ipam_ip_id":"36a6c5de-695b-4b79-a435-07308cb0e25a"},
      "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"id":"94a3b5f9-8a80-40f8-9560-5079747e0679", "created_at":"2024-02-23T14:57:51.402979Z",
      "updated_at":"2024-02-23T14:57:51.402979Z", "gateway_id":"842f7e39-cfed-41a3-bb7f-d4e77d069129",
      "private_network_id":"e92fc64c-0a33-4293-8a5d-d53b949b38d1", "mac_address":null,
      "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":false,
      "address":"172.16.28.2/22", "ipam_config":{"push_default_route":false, "ipam_ip_id":"36a6c5de-695b-4b79-a435-07308cb0e25a"},
      "zone":"fr-par-1"}'
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/94a3b5f9-8a80-40f8-9560-5079747e0679
    method: GET
  response:
    body: '{"id":"94a3b5f9-8a80-40f8-9560-5079747e0679", "created_at":"2024-02-23T14:57:51.402979Z",
      "updated_at":"2024-02-23T14:57:51.402979Z", "gateway_id":"842f7e39-cfed-41a3-bb7f-d4e77d069129",
      "private_network_id":"e92fc64c-0a33-4293-8a5d-d53b949b38d1", "mac_address":null,
      "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":false,
      "address":"172.16.28.2/22", "ipam_config":{"push_default_route":false, "ipam_ip_id":"36a6c5de-695b-4b79-a435-07308cb0e25a"},
      "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/94a3b5f9-8a80-40f8-9560-5079747e0679?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
[...]
- request:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"94a3b5f9-8a80-40f8-9560-5079747e0679","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/94a3b5f9-8a80-40f8-9560-5079747e0679
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"94a3b5f9-8a80-40f8-9560-5079747e0679","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e92fc64c-0a33-4293-8a5d-d53b949b38d1
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/842f7e39-cfed-41a3-bb7f-d4e77d069129?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/2c139c4c-b21f-48f1-89ac-3aa31ad3dc88
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
