---
version: 1
interactions:
- request:
    body: '{"id":"8d2e6968-3376-405b-9d10-fb17941a44b2", "name":"cli-pn-heuristic-nightingale",
      "tags":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "created_at":"2024-12-17T20:17:22.136403Z",
      "updated_at":"2024-12-17T20:17:22.136403Z", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "subnets":[{"id":"3ad55249-c254-4170-8787-681360313643", "created_at":"2024-12-17T20:17:22.136403Z",
      "updated_at":"2024-12-17T20:17:22.136403Z", "subnet":"172.16.60.0/22", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "private_network_id":"8d2e6968-3376-405b-9d10-fb17941a44b2", "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},
      {"id":"201f1ec1-b02d-41c1-9cba-187ba09aded9", "created_at":"2024-12-17T20:17:22.136403Z",
      "updated_at":"2024-12-17T20:17:22.136403Z", "subnet":"fd46:78ab:30b8:d61b::/64",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "private_network_id":"8d2e6968-3376-405b-9d10-fb17941a44b2",
      "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}], "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"8d2e6968-3376-405b-9d10-fb17941a44b2", "name":"cli-pn-heuristic-nightingale",
      "tags":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "created_at":"2024-12-17T20:17:22.136403Z",
      "updated_at":"2024-12-17T20:17:22.136403Z", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "subnets":[{"id":"3ad55249-c254-4170-8787-681360313643", "created_at":"2024-12-17T20:17:22.136403Z",
      "updated_at":"2024-12-17T20:17:22.136403Z", "subnet":"172.16.60.0/22", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "private_network_id":"8d2e6968-3376-405b-9d10-fb17941a44b2", "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},
      {"id":"201f1ec1-b02d-41c1-9cba-187ba09aded9", "created_at":"2024-12-17T20:17:22.136403Z",
      "updated_at":"2024-12-17T20:17:22.136403Z", "subnet":"fd46:78ab:30b8:d61b::/64",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "private_network_id":"8d2e6968-3376-405b-9d10-fb17941a44b2",
      "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}], "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"5acaf45d-d60a-416b-9901-0598a7c6fc0d", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "created_at":"2024-12-17T20:17:23.590269Z",
      "updated_at":"2024-12-17T20:17:23.590269Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000,
      "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-compassionate-murdock",
      "tags":[], "ip":{"id":"f89e9296-419a-4cf5-90df-35fc24ad438a", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "created_at":"2024-12-17T20:17:23.570490Z",
      "updated_at":"2024-12-17T20:17:23.570490Z", "tags":[], "address":"51.158.101.65",
      "reverse":"65-101-158-51.instances.scw.cloud", "gateway_id":"5acaf45d-d60a-416b-9901-0598a7c6fc0d",
      "zone":"fr-par-1"}, "gateway_networks":[], "upstream_dns_servers":[], "version":null,
      "can_upgrade_to":null, "bastion_enabled":false, "bastion_port":61000, "smtp_enabled":false,
      "is_legacy":false, "ip_mobility_enabled":false, "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"5acaf45d-d60a-416b-9901-0598a7c6fc0d", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "created_at":"2024-12-17T20:17:23.590269Z",
      "updated_at":"2024-12-17T20:17:23.590269Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000,
      "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-compassionate-murdock",
      "tags":[], "ip":{"id":"f89e9296-419a-4cf5-90df-35fc24ad438a", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "created_at":"2024-12-17T20:17:23.570490Z",
      "updated_at":"2024-12-17T20:17:23.570490Z", "tags":[], "address":"51.158.101.65",
      "reverse":"65-101-158-51.instances.scw.cloud", "gateway_id":"5acaf45d-d60a-416b-9901-0598a7c6fc0d",
      "zone":"fr-par-1"}, "gateway_networks":[], "upstream_dns_servers":[], "version":null,
      "can_upgrade_to":null, "bastion_enabled":false, "bastion_port":61000, "smtp_enabled":false,
      "is_legacy":false, "ip_mobility_enabled":false, "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"5acaf45d-d60a-416b-9901-0598a7c6fc0d", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "created_at":"2024-12-17T20:17:23.590269Z",
      "updated_at":"2024-12-17T20:17:23.627078Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000,
      "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-compassionate-murdock",
      "tags":[], "ip":{"id":"f89e9296-419a-4cf5-90df-35fc24ad438a", "organization_i[...]
[...]
- request:
    body: '{"id":"e08f8ff5-c00b-4cde-badd-a6c6a5dff911", "created_at":"2024-12-17T20:17:39.105486Z",
      "updated_at":"2024-12-17T20:17:39.105486Z", "gateway_id":"5acaf45d-d60a-416b-9901-0598a7c6fc0d",
      "private_network_id":"8d2e6968-3376-405b-9d10-fb17941a44b2", "mac_address":null,
      "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":true,
      "address":"172.16.60.2/22", "ipam_config":{"push_default_route":true, "ipam_ip_id":"48b053e5-e9db-4186-a215-0e3b13899b30"},
      "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"e08f8ff5-c00b-4cde-badd-a6c6a5dff911", "created_at":"2024-12-17T20:17:39.105486Z",
      "updated_at":"2024-12-17T20:17:39.105486Z", "gateway_id":"5acaf45d-d60a-416b-9901-0598a7c6fc0d",
      "private_network_id":"8d2e6968-3376-405b-9d10-fb17941a44b2", "mac_address":null,
      "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":true,
      "address":"172.16.60.2/22", "ipam_config":{"push_default_route":true, "ipam_ip_id":"48b053e5-e9db-4186-a215-0e3b13899b30"},
      "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"e08f8ff5-c00b-4cde-badd-a6c6a5dff911", "created_at":"2024-12-17T20:17:39.105486Z",
      "updated_at":"2024-12-17T20:17:39.105486Z", "gateway_id":"5acaf45d-d60a-416b-9901-0598a7c6fc0d",
      "private_network_id":"8d2e6968-3376-405b-9d10-fb17941a44b2", "mac_address":null,
      "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":true,
      "address":"172.16.60.2/22", "ipam_config":{"push_default_route":true, "ipam_ip_id":"48b053e5-e9db-4186-a215-0e3b13899b30"},
      "zone":"fr-par-1"}'
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/e08f8ff5-c00b-4cde-badd-a6c6a5dff911
    method: GET
  response:
    body: '{"id":"e08f8ff5-c00b-4cde-badd-a6c6a5dff911", "created_at":"2024-12-17T20:17:39.105486Z",
      "updated_at":"2024-12-17T20:17:39.105486Z", "gateway_id":"5acaf45d-d60a-416b-9901-0598a7c6fc0d",
      "private_network_id":"8d2e6968-3376-405b-9d10-fb17941a44b2", "mac_address":null,
      "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":true,
      "address":"172.16.60.2/22", "ipam_config":{"push_default_route":true, "ipam_ip_id":"48b053e5-e9db-4186-a215-0e3b13899b30"},
      "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/e08f8ff5-c00b-4cde-badd-a6c6a5dff911?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"e08f8ff5-c00b-4cde-badd-a6c6a5dff911","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/e08f8ff5-c00b-4cde-badd-a6c6a5dff911
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"e08f8ff5-c00b-4cde-badd-a6c6a5dff911","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8d2e6968-3376-405b-9d10-fb17941a44b2
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/5acaf45d-d60a-416b-9901-0598a7c6fc0d?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/f89e9296-419a-4cf5-90df-35fc24ad438a
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
