---
version: 1
interactions:
- request:
    body: '{"id":"445c4a36-1fc6-4564-bf11-8ac85545cd23", "name":"cli-pn-magical-chaum",
      "tags":[], "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "created_at":"2024-02-09T10:03:52.726319Z",
      "updated_at":"2024-02-09T10:03:52.726319Z", "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "subnets":[{"id":"e4ba9317-b8a8-49ef-b088-0c6b65cd29e9", "created_at":"2024-02-09T10:03:52.726319Z",
      "updated_at":"2024-02-09T10:03:52.726319Z", "subnet":"172.16.8.0/22"}, {"id":"35ff852b-d843-4b9e-a6e9-cc9e7b28c457",
      "created_at":"2024-02-09T10:03:52.726319Z", "updated_at":"2024-02-09T10:03:52.726319Z",
      "subnet":"fd64:badd:7710:4f03::/64"}], "vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"445c4a36-1fc6-4564-bf11-8ac85545cd23", "name":"cli-pn-magical-chaum",
      "tags":[], "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "created_at":"2024-02-09T10:03:52.726319Z",
      "updated_at":"2024-02-09T10:03:52.726319Z", "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "subnets":[{"id":"e4ba9317-b8a8-49ef-b088-0c6b65cd29e9", "created_at":"2024-02-09T10:03:52.726319Z",
      "updated_at":"2024-02-09T10:03:52.726319Z", "subnet":"172.16.8.0/22"}, {"id":"35ff852b-d843-4b9e-a6e9-cc9e7b28c457",
      "created_at":"2024-02-09T10:03:52.726319Z", "updated_at":"2024-02-09T10:03:52.726319Z",
      "subnet":"fd64:badd:7710:4f03::/64"}], "vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"3fcef37a-506b-45a5-bde6-dec3f989c6be", "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "created_at":"2024-02-09T10:03:54.718483Z",
      "updated_at":"2024-02-09T10:03:54.718483Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000,
      "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-stupefied-swirles",
      "tags":[], "ip":{"id":"527342d1-f9bb-4fe7-88ef-c8306d6bd728", "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "created_at":"2024-02-09T10:03:54.697401Z",
      "updated_at":"2024-02-09T10:03:54.697401Z", "tags":[], "address":"51.15.254.9",
      "reverse":"9-254-15-51.instances.scw.cloud", "gateway_id":"3fcef37a-506b-45a5-bde6-dec3f989c6be",
      "zone":"fr-par-1"}, "gateway_networks":[], "upstream_dns_servers":[], "version":null,
      "can_upgrade_to":null, "bastion_enabled":false, "bastion_port":61000, "smtp_enabled":false,
      "is_legacy":false, "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"3fcef37a-506b-45a5-bde6-dec3f989c6be", "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "created_at":"2024-02-09T10:03:54.718483Z",
      "updated_at":"2024-02-09T10:03:54.718483Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000,
      "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-stupefied-swirles",
      "tags":[], "ip":{"id":"527342d1-f9bb-4fe7-88ef-c8306d6bd728", "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "created_at":"2024-02-09T10:03:54.697401Z",
      "updated_at":"2024-02-09T10:03:54.697401Z", "tags":[], "address":"51.15.254.9",
      "reverse":"9-254-15-51.instances.scw.cloud", "gateway_id":"3fcef37a-506b-45a5-bde6-dec3f989c6be",
      "zone":"fr-par-1"}, "gateway_networks":[], "upstream_dns_servers":[], "version":null,
      "can_upgrade_to":null, "bastion_enabled":false, "bastion_port":61000, "smtp_enabled":false,
      "is_legacy":false, "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"3fcef37a-506b-45a5-bde6-dec3f989c6be", "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "created_at":"2024-02-09T10:03:54.718483Z",
      "updated_at":"2024-02-09T10:03:54.766672Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000,
      "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-stupefied-swirles",
      "tags":[], "ip":{"id":"527342d1-f9bb-4fe7-88ef-c8306d6bd728", "organization_id":"[...]
[...]
- request:
    body: '{"id":"4273b9d5-646f-497e-bce7-2a7ebd7d891e", "created_at":"2024-02-09T10:04:10.021234Z",
      "updated_at":"2024-02-09T10:04:10.021234Z", "gateway_id":"3fcef37a-506b-45a5-bde6-dec3f989c6be",
      "private_network_id":"445c4a36-1fc6-4564-bf11-8ac85545cd23", "mac_address":null,
      "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":false,
      "address":"172.16.8.2/22", "ipam_config":{"push_default_route":false, "ipam_ip_id":"104609c5-9a5d-458a-9c3c-2924e0e0c290"},
      "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"4273b9d5-646f-497e-bce7-2a7ebd7d891e", "created_at":"2024-02-09T10:04:10.021234Z",
      "updated_at":"2024-02-09T10:04:10.021234Z", "gateway_id":"3fcef37a-506b-45a5-bde6-dec3f989c6be",
      "private_network_id":"445c4a36-1fc6-4564-bf11-8ac85545cd23", "mac_address":null,
      "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":false,
      "address":"172.16.8.2/22", "ipam_config":{"push_default_route":false, "ipam_ip_id":"104609c5-9a5d-458a-9c3c-2924e0e0c290"},
      "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"4273b9d5-646f-497e-bce7-2a7ebd7d891e", "created_at":"2024-02-09T10:04:10.021234Z",
      "updated_at":"2024-02-09T10:04:10.021234Z", "gateway_id":"3fcef37a-506b-45a5-bde6-dec3f989c6be",
      "private_network_id":"445c4a36-1fc6-4564-bf11-8ac85545cd23", "mac_address":null,
      "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":false,
      "address":"172.16.8.2/22", "ipam_config":{"push_default_route":false, "ipam_ip_id":"104609c5-9a5d-458a-9c3c-2924e0e0c290"},
      "zone":"fr-par-1"}'
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/4273b9d5-646f-497e-bce7-2a7ebd7d891e
    method: GET
  response:
    body: '{"id":"4273b9d5-646f-497e-bce7-2a7ebd7d891e", "created_at":"2024-02-09T10:04:10.021234Z",
      "updated_at":"2024-02-09T10:04:10.021234Z", "gateway_id":"3fcef37a-506b-45a5-bde6-dec3f989c6be",
      "private_network_id":"445c4a36-1fc6-4564-bf11-8ac85545cd23", "mac_address":null,
      "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":false,
      "address":"172.16.8.2/22", "ipam_config":{"push_default_route":false, "ipam_ip_id":"104609c5-9a5d-458a-9c3c-2924e0e0c290"},
      "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/4273b9d5-646f-497e-bce7-2a7ebd7d891e?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/445c4a36-1fc6-4564-bf11-8ac85545cd23
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/3fcef37a-506b-45a5-bde6-dec3f989c6be?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/527342d1-f9bb-4fe7-88ef-c8306d6bd728
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
