---
version: 1
interactions:
- request:
    body: '{"id":"8cd6cfc0-3ee7-434a-8551-578479f161c7", "name":"cli-pn-fervent-lamarr",
      "tags":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "created_at":"2024-12-17T20:10:58.141796Z",
      "updated_at":"2024-12-17T20:10:58.141796Z", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "subnets":[{"id":"24bb0aa6-497d-4975-9975-caf830b0b5b8", "created_at":"2024-12-17T20:10:58.141796Z",
      "updated_at":"2024-12-17T20:10:58.141796Z", "subnet":"172.16.68.0/22", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "private_network_id":"8cd6cfc0-3ee7-434a-8551-578479f161c7", "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},
      {"id":"2bf93f5d-5152-47d8-b561-10e6e2d8dc55", "created_at":"2024-12-17T20:10:58.141796Z",
      "updated_at":"2024-12-17T20:10:58.141796Z", "subnet":"fd46:78ab:30b8:791f::/64",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "private_network_id":"8cd6cfc0-3ee7-434a-8551-578479f161c7",
      "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}], "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"8cd6cfc0-3ee7-434a-8551-578479f161c7", "name":"cli-pn-fervent-lamarr",
      "tags":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "created_at":"2024-12-17T20:10:58.141796Z",
      "updated_at":"2024-12-17T20:10:58.141796Z", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "subnets":[{"id":"24bb0aa6-497d-4975-9975-caf830b0b5b8", "created_at":"2024-12-17T20:10:58.141796Z",
      "updated_at":"2024-12-17T20:10:58.141796Z", "subnet":"172.16.68.0/22", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "private_network_id":"8cd6cfc0-3ee7-434a-8551-578479f161c7", "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},
      {"id":"2bf93f5d-5152-47d8-b561-10e6e2d8dc55", "created_at":"2024-12-17T20:10:58.141796Z",
      "updated_at":"2024-12-17T20:10:58.141796Z", "subnet":"fd46:78ab:30b8:791f::/64",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "private_network_id":"8cd6cfc0-3ee7-434a-8551-578479f161c7",
      "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}], "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"077618e6-965d-4e56-897b-626047b26805", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "created_at":"2024-12-17T20:10:59.386641Z",
      "updated_at":"2024-12-17T20:10:59.386641Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000,
      "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-infallible-bhaskara",
      "tags":[], "ip":{"id":"9d5c29c7-57d0-414b-ad9f-18f25c8c8740", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "created_at":"2024-12-17T20:10:59.356826Z",
      "updated_at":"2024-12-17T20:10:59.356826Z", "tags":[], "address":"163.172.159.229",
      "reverse":"229-159-172-163.instances.scw.cloud", "gateway_id":"077618e6-965d-4e56-897b-626047b26805",
      "zone":"fr-par-1"}, "gateway_networks":[], "upstream_dns_servers":[], "version":null,
      "can_upgrade_to":null, "bastion_enabled":false, "bastion_port":61000, "smtp_enabled":false,
      "is_legacy":false, "ip_mobility_enabled":false, "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"077618e6-965d-4e56-897b-626047b26805", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "created_at":"2024-12-17T20:10:59.386641Z",
      "updated_at":"2024-12-17T20:10:59.386641Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000,
      "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-infallible-bhaskara",
      "tags":[], "ip":{"id":"9d5c29c7-57d0-414b-ad9f-18f25c8c8740", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "created_at":"2024-12-17T20:10:59.356826Z",
      "updated_at":"2024-12-17T20:10:59.356826Z", "tags":[], "address":"163.172.159.229",
      "reverse":"229-159-172-163.instances.scw.cloud", "gateway_id":"077618e6-965d-4e56-897b-626047b26805",
      "zone":"fr-par-1"}, "gateway_networks":[], "upstream_dns_servers":[], "version":null,
      "can_upgrade_to":null, "bastion_enabled":false, "bastion_port":61000, "smtp_enabled":false,
      "is_legacy":false, "ip_mobility_enabled":false, "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"077618e6-965d-4e56-897b-626047b26805", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "created_at":"2024-12-17T20:10:59.386641Z",
      "updated_at":"2024-12-17T20:10:59.431726Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000,
      "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-infallible-bhaskara",
      "tags":[], "ip":{"id":"9d5c29c7-57d0-414b-ad9f-18f25c8c8740", "organization_id"[...]
[...]
- request:
    body: '{"id":"09df3ae8-4fc6-451d-abbd-2c2f6d5978a0", "created_at":"2024-12-17T20:11:15.047692Z",
      "updated_at":"2024-12-17T20:11:15.047692Z", "gateway_id":"077618e6-965d-4e56-897b-626047b26805",
      "private_network_id":"8cd6cfc0-3ee7-434a-8551-578479f161c7", "mac_address":null,
      "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":true,
      "address":"172.16.68.2/22", "ipam_config":{"push_default_route":true, "ipam_ip_id":"e346a9a5-b4fc-4933-84b5-645a570f9f1f"},
      "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"09df3ae8-4fc6-451d-abbd-2c2f6d5978a0", "created_at":"2024-12-17T20:11:15.047692Z",
      "updated_at":"2024-12-17T20:11:15.047692Z", "gateway_id":"077618e6-965d-4e56-897b-626047b26805",
      "private_network_id":"8cd6cfc0-3ee7-434a-8551-578479f161c7", "mac_address":null,
      "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":true,
      "address":"172.16.68.2/22", "ipam_config":{"push_default_route":true, "ipam_ip_id":"e346a9a5-b4fc-4933-84b5-645a570f9f1f"},
      "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"09df3ae8-4fc6-451d-abbd-2c2f6d5978a0", "created_at":"2024-12-17T20:11:15.047692Z",
      "updated_at":"2024-12-17T20:11:15.047692Z", "gateway_id":"077618e6-965d-4e56-897b-626047b26805",
      "private_network_id":"8cd6cfc0-3ee7-434a-8551-578479f161c7", "mac_address":null,
      "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":true,
      "address":"172.16.68.2/22", "ipam_config":{"push_default_route":true, "ipam_ip_id":"e346a9a5-b4fc-4933-84b5-645a570f9f1f"},
      "zone":"fr-par-1"}'
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/09df3ae8-4fc6-451d-abbd-2c2f6d5978a0
    method: GET
  response:
    body: '{"id":"09df3ae8-4fc6-451d-abbd-2c2f6d5978a0", "created_at":"2024-12-17T20:11:15.047692Z",
      "updated_at":"2024-12-17T20:11:15.047692Z", "gateway_id":"077618e6-965d-4e56-897b-626047b26805",
      "private_network_id":"8cd6cfc0-3ee7-434a-8551-578479f161c7", "mac_address":null,
      "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":true,
      "address":"172.16.68.2/22", "ipam_config":{"push_default_route":true, "ipam_ip_id":"e346a9a5-b4fc-4933-84b5-645a570f9f1f"},
      "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/09df3ae8-4fc6-451d-abbd-2c2f6d5978a0?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"09df3ae8-4fc6-451d-abbd-2c2f6d5978a0","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/09df3ae8-4fc6-451d-abbd-2c2f6d5978a0
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"09df3ae8-4fc6-451d-abbd-2c2f6d5978a0","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/077618e6-965d-4e56-897b-626047b26805?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/9d5c29c7-57d0-414b-ad9f-18f25c8c8740
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
