---
version: 1
interactions:
- request:
    body: '{"id":"fd87fb88-d9d4-4406-82f9-dab6ec87336e", "name":"cli-pn-affectionate-pike",
      "tags":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "created_at":"2024-12-18T16:04:46.341679Z",
      "updated_at":"2024-12-18T16:04:46.341679Z", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "subnets":[{"id":"b8abf35f-a85b-4788-94a0-59e85cf3a6ae", "created_at":"2024-12-18T16:04:46.341679Z",
      "updated_at":"2024-12-18T16:04:46.341679Z", "subnet":"172.16.88.0/22", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "private_network_id":"fd87fb88-d9d4-4406-82f9-dab6ec87336e", "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},
      {"id":"804b3955-cd30-4592-82c5-474f83a98970", "created_at":"2024-12-18T16:04:46.341679Z",
      "updated_at":"2024-12-18T16:04:46.341679Z", "subnet":"fd46:78ab:30b8:710f::/64",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "private_network_id":"fd87fb88-d9d4-4406-82f9-dab6ec87336e",
      "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}], "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"fd87fb88-d9d4-4406-82f9-dab6ec87336e", "name":"cli-pn-affectionate-pike",
      "tags":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "created_at":"2024-12-18T16:04:46.341679Z",
      "updated_at":"2024-12-18T16:04:46.341679Z", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "subnets":[{"id":"b8abf35f-a85b-4788-94a0-59e85cf3a6ae", "created_at":"2024-12-18T16:04:46.341679Z",
      "updated_at":"2024-12-18T16:04:46.341679Z", "subnet":"172.16.88.0/22", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "private_network_id":"fd87fb88-d9d4-4406-82f9-dab6ec87336e", "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},
      {"id":"804b3955-cd30-4592-82c5-474f83a98970", "created_at":"2024-12-18T16:04:46.341679Z",
      "updated_at":"2024-12-18T16:04:46.341679Z", "subnet":"fd46:78ab:30b8:710f::/64",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "private_network_id":"fd87fb88-d9d4-4406-82f9-dab6ec87336e",
      "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}], "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"access_key":"SCWBDFF054RNNE8204AJ", "secret_key":null, "description":"my-key",
      "created_at":"2022-06-10T08:39:27.845066Z", "updated_at":"2022-07-05T15:12:12.987880Z",
      "expires_at":null, "default_project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153",
      "application_id":"531f5518-a0a5-44c2-b790-a9975505c89d"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWBDFF054RNNE8204AJ
    method: GET
  response:
    body: '{"access_key":"SCWBDFF054RNNE8204AJ", "secret_key":null, "description":"my-key",
      "created_at":"2022-06-10T08:39:27.845066Z", "updated_at":"2022-07-05T15:12:12.987880Z",
      "expires_at":null, "default_project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153",
      "application_id":"531f5518-a0a5-44c2-b790-a9975505c89d"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"58088b82-7940-40fe-9bef-c8c971642a66", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "created_at":"2024-12-18T16:04:48.177842Z",
      "updated_at":"2024-12-18T16:04:48.177842Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000,
      "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-elegant-ptolemy",
      "tags":[], "ip":{"id":"489a2543-644e-4687-9e5d-2e12ca8ca3aa", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "created_at":"2024-12-18T16:04:48.136050Z",
      "updated_at":"2024-12-18T16:04:48.136050Z", "tags":[], "address":"51.158.120.154",
      "reverse":"154-120-158-51.instances.scw.cloud", "gateway_id":"58088b82-7940-40fe-9bef-c8c971642a66",
      "zone":"fr-par-1"}, "gateway_networks":[], "upstream_dns_servers":[], "version":null,
      "can_upgrade_to":null, "bastion_enabled":false, "bastion_port":61000, "smtp_enabled":false,
      "is_legacy":false, "ip_mobility_enabled":false, "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"58088b82-7940-40fe-9bef-c8c971642a66", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "created_at":"2024-12-18T16:04:48.177842Z",
      "updated_at":"2024-12-18T16:04:48.177842Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000,
      "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-elegant-ptolemy",
      "tags":[], "ip":{"id":"489a2543-644e-4687-9e5d-2e12ca8ca3aa", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "created_at":"2024-12-18T16:04:48.136050Z",
      "updated_at":"2024-12-18T16:04:48.136050Z", "tags":[], "address":"51.158.120.154",
      "reverse":"154-120-158-51.instances.scw.cloud", "gateway_id":"58088b82-7940-40fe-9bef-c8c971642a66",
      "zone":"fr-par-1"}, "gateway_networks":[], "upstream_dns_servers":[], "version":null,
      "can_upgrade_to":null, "bastion_enabled":false, "bastion_port":61000, "smtp_enabled":false,
      "is_legacy":false, "ip_mobility_enabled":false, "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"58088b82-7940-40fe-9bef-c8c971642a66", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "created_at":"2024-12-18T16:04:48.177842Z",
      "updated_at":"2024-12-18T16:04:48.252998Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000,
      "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-elegant-ptolemy",
      "tags":[], "ip":{"id":"489a2543-644e-4687-9e5d-2e12ca8ca3aa", "organization_id":"56[...]
[...]
- request:
    body: '{"id":"c0eda470-15af-4ce1-b57f-d334f5def8a7", "created_at":"2024-12-18T16:05:03.801488Z",
      "updated_at":"2024-12-18T16:05:03.801488Z", "gateway_id":"58088b82-7940-40fe-9bef-c8c971642a66",
      "private_network_id":"fd87fb88-d9d4-4406-82f9-dab6ec87336e", "mac_address":null,
      "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":true,
      "address":"172.16.88.2/22", "ipam_config":{"push_default_route":true, "ipam_ip_id":"496180b2-77ee-4239-9842-3e535b6b8daa"},
      "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"c0eda470-15af-4ce1-b57f-d334f5def8a7", "created_at":"2024-12-18T16:05:03.801488Z",
      "updated_at":"2024-12-18T16:05:03.801488Z", "gateway_id":"58088b82-7940-40fe-9bef-c8c971642a66",
      "private_network_id":"fd87fb88-d9d4-4406-82f9-dab6ec87336e", "mac_address":null,
      "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":true,
      "address":"172.16.88.2/22", "ipam_config":{"push_default_route":true, "ipam_ip_id":"496180b2-77ee-4239-9842-3e535b6b8daa"},
      "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"c0eda470-15af-4ce1-b57f-d334f5def8a7", "created_at":"2024-12-18T16:05:03.801488Z",
      "updated_at":"2024-12-18T16:05:03.801488Z", "gateway_id":"58088b82-7940-40fe-9bef-c8c971642a66",
      "private_network_id":"fd87fb88-d9d4-4406-82f9-dab6ec87336e", "mac_address":null,
      "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":true,
      "address":"172.16.88.2/22", "ipam_config":{"push_default_route":true, "ipam_ip_id":"496180b2-77ee-4239-9842-3e535b6b8daa"},
      "zone":"fr-par-1"}'
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/c0eda470-15af-4ce1-b57f-d334f5def8a7
    method: GET
  response:
    body: '{"id":"c0eda470-15af-4ce1-b57f-d334f5def8a7", "created_at":"2024-12-18T16:05:03.801488Z",
      "updated_at":"2024-12-18T16:05:03.801488Z", "gateway_id":"58088b82-7940-40fe-9bef-c8c971642a66",
      "private_network_id":"fd87fb88-d9d4-4406-82f9-dab6ec87336e", "mac_address":null,
      "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":true,
      "address":"172.16.88.2/22", "ipam_config":{"push_default_route":true, "ipam_ip_id":"496180b2-77ee-4239-9842-3e535b6b8daa"},
      "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/c0eda470-15af-4ce1-b57f-d334f5def8a7?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"c0eda470-15af-4ce1-b57f-d334f5def8a7","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/c0eda470-15af-4ce1-b57f-d334f5def8a7
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"c0eda470-15af-4ce1-b57f-d334f5def8a7","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/fd87fb88-d9d4-4406-82f9-dab6ec87336e
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/58088b82-7940-40fe-9bef-c8c971642a66?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/489a2543-644e-4687-9e5d-2e12ca8ca3aa
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
