---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"9f4de3ce-3ba4-4f39-bcc2-9fcbefc9db7a", "name":"cli-pn-nostalgic-hugle", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:41.485488Z", "updated_at":"2025-07-22T15:54:41.485488Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"5b70fd75-3895-4d78-aef5-eb3fa1a57c4f", "created_at":"2025-07-22T15:54:41.485488Z", "updated_at":"2025-07-22T15:54:41.485488Z", "subnet":"172.16.112.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"9f4de3ce-3ba4-4f39-bcc2-9fcbefc9db7a", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"20f32e20-29ef-4a80-b698-dda953db17cf", "created_at":"2025-07-22T15:54:41.485488Z", "updated_at":"2025-07-22T15:54:41.485488Z", "subnet":"fd63:256c:45f7:cbd3::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"9f4de3ce-3ba4-4f39-bcc2-9fcbefc9db7a", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"9f4de3ce-3ba4-4f39-bcc2-9fcbefc9db7a", "name":"cli-pn-nostalgic-hugle", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:41.485488Z", "updated_at":"2025-07-22T15:54:41.485488Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"5b70fd75-3895-4d78-aef5-eb3fa1a57c4f", "created_at":"2025-07-22T15:54:41.485488Z", "updated_at":"2025-07-22T15:54:41.485488Z", "subnet":"172.16.112.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"9f4de3ce-3ba4-4f39-bcc2-9fcbefc9db7a", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"20f32e20-29ef-4a80-b698-dda953db17cf", "created_at":"2025-07-22T15:54:41.485488Z", "updated_at":"2025-07-22T15:54:41.485488Z", "subnet":"fd63:256c:45f7:cbd3::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"9f4de3ce-3ba4-4f39-bcc2-9fcbefc9db7a", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.019813532s
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"a9f29ab5-796b-4b37-8559-43e8e204ceb0", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:43.063273Z", "updated_at":"2025-07-22T15:54:43.063273Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000, "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-brave-chatterjee", "tags":[], "ip":{"id":"85b5c53c-4a61-4f18-93b0-d933f4081052", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:43.042429Z", "updated_at":"2025-07-22T15:54:43.042429Z", "tags":[], "address":"212.47.245.189", "reverse":"189-245-47-212.instances.scw.cloud", "gateway_id":"a9f29ab5-796b-4b37-8559-43e8e204ceb0", "zone":"fr-par-1"}, "gateway_networks":[], "upstream_dns_servers":[], "version":null, "can_upgrade_to":null, "bastion_enabled":false, "bastion_port":61000, "smtp_enabled":false, "is_legacy":false, "ip_mobility_enabled":false, "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"id":"a9f29ab5-796b-4b37-8559-43e8e204ceb0", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:43.063273Z", "updated_at":"2025-07-22T15:54:43.063273Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000, "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-brave-chatterjee", "tags":[], "ip":{"id":"85b5c53c-4a61-4f18-93b0-d933f4081052", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:43.042429Z", "updated_at":"2025-07-22T15:54:43.042429Z", "tags":[], "address":"212.47.245.189", "reverse":"189-245-47-212.instances.scw.cloud", "gateway_id":"a9f29ab5-796b-4b37-8559-43e8e204ceb0", "zone":"fr-par-1"}, "gateway_networks":[], "upstream_dns_servers":[], "version":null, "can_upgrade_to":null, "bastion_enabled":false, "bastion_port":61000, "smtp_enabled":false, "is_legacy":false, "ip_mobility_enabled":false, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 857.76678ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"a9f29ab5-796b-4b37-8559-43e8e204ceb0", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:43.063273Z", "updated_at":"2025-07-22T15:54:43.106694Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000, "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-brave-chatterjee", "tags":[], "ip":{"id":"85b5c53c-4a61-4f18-93b0-d933f408[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"id":"7075ab19-65a9-4e47-b1a2-0907d6549826", "created_at":"2025-07-22T15:55:01.701637Z", "updated_at":"2025-07-22T15:55:01.701637Z", "gateway_id":"a9f29ab5-796b-4b37-8559-43e8e204ceb0", "private_network_id":"9f4de3ce-3ba4-4f39-bcc2-9fcbefc9db7a", "mac_address":null, "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":true, "address":"172.16.112.2/22", "ipam_config":{"push_default_route":true, "ipam_ip_id":"11aa3537-aab2-4fbd-abf8-297ad90b8587"}, "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"id":"7075ab19-65a9-4e47-b1a2-0907d6549826", "created_at":"2025-07-22T15:55:01.701637Z", "updated_at":"2025-07-22T15:55:01.701637Z", "gateway_id":"a9f29ab5-796b-4b37-8559-43e8e204ceb0", "private_network_id":"9f4de3ce-3ba4-4f39-bcc2-9fcbefc9db7a", "mac_address":null, "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":true, "address":"172.16.112.2/22", "ipam_config":{"push_default_route":true, "ipam_ip_id":"11aa3537-aab2-4fbd-abf8-297ad90b8587"}, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.593417981s
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"id":"7075ab19-65a9-4e47-b1a2-0907d6549826", "created_at":"2025-07-22T15:55:01.701637Z", "updated_at":"2025-07-22T15:55:01.701637Z", "gateway_id":"a9f29ab5-796b-4b37-8559-43e8e204ceb0", "private_network_id":"9f4de3ce-3ba4-4f39-bcc2-9fcbefc9db7a", "mac_address":null, "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":true, "address":"172.16.112.2/22", "ipam_config":{"push_default_route":true, "ipam_ip_id":"11aa3537-aab2-4fbd-abf8-297ad90b8587"}, "zone":"fr-par-1"}'
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/7075ab19-65a9-4e47-b1a2-0907d6549826
        method: GET
      response:
        body: '{"id":"7075ab19-65a9-4e47-b1a2-0907d6549826", "created_at":"2025-07-22T15:55:01.701637Z", "updated_at":"2025-07-22T15:55:01.701637Z", "gateway_id":"a9f29ab5-796b-4b37-8559-43e8e204ceb0", "private_network_id":"9f4de3ce-3ba4-4f39-bcc2-9fcbefc9db7a", "mac_address":null, "enable_masquerade":false, "status":"created", "dhcp":null, "enable_dhcp":true, "address":"172.16.112.2/22", "ipam_config":{"push_default_route":true, "ipam_ip_id":"11aa3537-aab2-4fbd-abf8-297ad90b8587"}, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.047184ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/7075ab19-65a9-4e47-b1a2-0907d6549826?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 90.869624ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"7075ab19-65a9-4e47-b1a2-0907d6549826","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/7075ab19-65a9-4e47-b1a2-0907d6549826
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"7075ab19-65a9-4e47-b1a2-0907d6549826","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.375673ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"message":"internal error"}'
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9f4de3ce-3ba4-4f39-bcc2-9fcbefc9db7a
        method: DELETE
      response:
        body: '{"message":"internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 5.09131834s
