---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"types":[{"name":"VPC-GW-S", "bandwidth":100000000, "zone":"fr-par-1"}, {"name":"VPC-GW-M", "bandwidth":1000000000, "zone":"fr-par-1"}, {"name":"VPC-GW-L", "bandwidth":3000000000, "zone":"fr-par-1"}, {"name":"VPC-GW-XL", "bandwidth":10000000000, "zone":"fr-par-1"}]}'
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-types
        method: GET
      response:
        body: '{"types":[{"name":"VPC-GW-S", "bandwidth":100000000, "zone":"fr-par-1"}, {"name":"VPC-GW-M", "bandwidth":1000000000, "zone":"fr-par-1"}, {"name":"VPC-GW-L", "bandwidth":3000000000, "zone":"fr-par-1"}, {"name":"VPC-GW-XL", "bandwidth":10000000000, "zone":"fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.469187ms
