---
version: 1
interactions:
- request:
    body: '{"id":"33e309e0-71eb-4915-95e6-baafe98c0759", "name":"cli-pn-condescending-gould",
      "tags":[], "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "created_at":"2024-02-23T14:56:43.750806Z",
      "updated_at":"2024-02-23T14:56:43.750806Z", "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "subnets":[{"id":"5ccf72f1-52ab-4cd4-996c-21d11ebec40b", "created_at":"2024-02-23T14:56:43.750806Z",
      "updated_at":"2024-02-23T14:56:43.750806Z", "subnet":"172.16.28.0/22"}, {"id":"d85ad822-afaf-49df-9288-0f34bc3f429d",
      "created_at":"2024-02-23T14:56:43.750806Z", "updated_at":"2024-02-23T14:56:43.750806Z",
      "subnet":"fd64:badd:7710:7150::/64"}], "vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"33e309e0-71eb-4915-95e6-baafe98c0759", "name":"cli-pn-condescending-gould",
      "tags":[], "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "created_at":"2024-02-23T14:56:43.750806Z",
      "updated_at":"2024-02-23T14:56:43.750806Z", "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "subnets":[{"id":"5ccf72f1-52ab-4cd4-996c-21d11ebec40b", "created_at":"2024-02-23T14:56:43.750806Z",
      "updated_at":"2024-02-23T14:56:43.750806Z", "subnet":"172.16.28.0/22"}, {"id":"d85ad822-afaf-49df-9288-0f34bc3f429d",
      "created_at":"2024-02-23T14:56:43.750806Z", "updated_at":"2024-02-23T14:56:43.750806Z",
      "subnet":"fd64:badd:7710:7150::/64"}], "vpc_id":"e092f3d5-d85b-46fd-8d08-025e3282c8c1",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"b0920865-db15-452b-8a59-3fdc05d4339a", "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "created_at":"2024-02-23T14:56:44.935109Z",
      "updated_at":"2024-02-23T14:56:44.935109Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000,
      "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-suspicious-poitras",
      "tags":[], "ip":{"id":"9987a45c-2068-4aa9-a517-816382f55806", "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "created_at":"2024-02-23T14:56:44.911498Z",
      "updated_at":"2024-02-23T14:56:44.911498Z", "tags":[], "address":"51.158.104.196",
      "reverse":"196-104-158-51.instances.scw.cloud", "gateway_id":"b0920865-db15-452b-8a59-3fdc05d4339a",
      "zone":"fr-par-1"}, "gateway_networks":[], "upstream_dns_servers":[], "version":null,
      "can_upgrade_to":null, "bastion_enabled":false, "bastion_port":61000, "smtp_enabled":false,
      "is_legacy":false, "ip_mobility_enabled":false, "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"b0920865-db15-452b-8a59-3fdc05d4339a", "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "created_at":"2024-02-23T14:56:44.935109Z",
      "updated_at":"2024-02-23T14:56:44.935109Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000,
      "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-suspicious-poitras",
      "tags":[], "ip":{"id":"9987a45c-2068-4aa9-a517-816382f55806", "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "created_at":"2024-02-23T14:56:44.911498Z",
      "updated_at":"2024-02-23T14:56:44.911498Z", "tags":[], "address":"51.158.104.196",
      "reverse":"196-104-158-51.instances.scw.cloud", "gateway_id":"b0920865-db15-452b-8a59-3fdc05d4339a",
      "zone":"fr-par-1"}, "gateway_networks":[], "upstream_dns_servers":[], "version":null,
      "can_upgrade_to":null, "bastion_enabled":false, "bastion_port":61000, "smtp_enabled":false,
      "is_legacy":false, "ip_mobility_enabled":false, "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"b0920865-db15-452b-8a59-3fdc05d4339a", "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "created_at":"2024-02-23T14:56:44.935109Z",
      "updated_at":"2024-02-23T14:56:44.935109Z", "type":{"name":"VPC-GW-S", "bandwidth":100000000,
      "zone":"fr-par-1"}, "status":"allocating", "name":"cli-gw-suspicious-poitras",
      "tags":[], "ip":{"id":"9987a45c-2068-4aa9-a517-816382f55806", "organization_id":[...]
[...]
- request:
    body: '{"id":"b9915f5e-7c29-421b-8fae-2e4bea947f91", "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "created_at":"2024-02-23T14:57:00.099718Z",
      "updated_at":"2024-02-23T14:57:00.099718Z", "subnet":"192.168.1.0/24", "address":"192.168.1.1",
      "pool_low":"192.168.1.2", "pool_high":"192.168.1.254", "enable_dynamic":true,
      "valid_lifetime":"3600s", "renew_timer":"3000s", "rebind_timer":"3060s", "push_default_route":true,
      "push_dns_server":true, "dns_servers_override":[], "dns_search":[], "dns_local_name":"priv",
      "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"b9915f5e-7c29-421b-8fae-2e4bea947f91", "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "created_at":"2024-02-23T14:57:00.099718Z",
      "updated_at":"2024-02-23T14:57:00.099718Z", "subnet":"192.168.1.0/24", "address":"192.168.1.1",
      "pool_low":"192.168.1.2", "pool_high":"192.168.1.254", "enable_dynamic":true,
      "valid_lifetime":"3600s", "renew_timer":"3000s", "rebind_timer":"3060s", "push_default_route":true,
      "push_dns_server":true, "dns_servers_override":[], "dns_search":[], "dns_local_name":"priv",
      "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"8d84f727-0251-48f5-8000-054706fd7def", "created_at":"2024-02-23T14:57:02.052162Z",
      "updated_at":"2024-02-23T14:57:02.052162Z", "gateway_id":"b0920865-db15-452b-8a59-3fdc05d4339a",
      "private_network_id":"33e309e0-71eb-4915-95e6-baafe98c0759", "mac_address":null,
      "enable_masquerade":false, "status":"created", "dhcp":{"id":"b9915f5e-7c29-421b-8fae-2e4bea947f91",
      "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "created_at":"2024-02-23T14:57:00.099718Z", "updated_at":"2024-02-23T14:57:00.099718Z",
      "subnet":"192.168.1.0/24", "address":"192.168.1.1", "pool_low":"192.168.1.2",
      "pool_high":"192.168.1.254", "enable_dynamic":true, "valid_lifetime":"3600s",
      "renew_timer":"3000s", "rebind_timer":"3060s", "push_default_route":true, "push_dns_server":true,
      "dns_servers_override":[], "dns_search":[], "dns_local_name":"priv", "zone":"fr-par-1"},
      "enable_dhcp":true, "address":null, "ipam_config":null, "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"8d84f727-0251-48f5-8000-054706fd7def", "created_at":"2024-02-23T14:57:02.052162Z",
      "updated_at":"2024-02-23T14:57:02.052162Z", "gateway_id":"b0920865-db15-452b-8a59-3fdc05d4339a",
      "private_network_id":"33e309e0-71eb-4915-95e6-baafe98c0759", "mac_address":null,
      "enable_masquerade":false, "status":"created", "dhcp":{"id":"b9915f5e-7c29-421b-8fae-2e4bea947f91",
      "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2",
      "created_at":"2024-02-23T14:57:00.099718Z", "updated_at":"2024-02-23T14:57:00.099718Z",
      "subnet":"192.168.1.0/24", "address":"192.168.1.1", "pool_low":"192.168.1.2",
      "pool_high":"192.168.1.254", "enable_dynamic":true, "valid_lifetime":"3600s",
      "renew_timer":"3000s", "rebind_timer":"3060s", "push_default_route":true, "push_dns_server":true,
      "dns_servers_override":[], "dns_search":[], "dns_local_name":"priv", "zone":"fr-par-1"},
      "enable_dhcp":true, "address":null, "ipam_config":null, "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"8d84f727-0251-48f5-8000-054706fd7def", "created_at":"2024-02-23T14:57:02.052162Z",
      "updated_at":"2024-02-23T14:57:02.052162Z", "gateway_id":"b0920865-db15-452b-8a59-3fdc05d4339a",
      "private_network_id":"33e309e0-71eb-4915-95e6-baafe98c0759", "mac_address":null,
      "enable_masquerade":false, "status":"created", "dhcp":{"id":"b9915f5e-7c29-421b-8fae-2e4bea947f91",
      "organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "project_id":"d3520a52-2c75-[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/8d84f727-0251-48f5-8000-054706fd7def?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"8d84f727-0251-48f5-8000-054706fd7def","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/8d84f727-0251-48f5-8000-054706fd7def
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"8d84f727-0251-48f5-8000-054706fd7def","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/33e309e0-71eb-4915-95e6-baafe98c0759
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/b9915f5e-7c29-421b-8fae-2e4bea947f91
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/b0920865-db15-452b-8a59-3fdc05d4339a?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/9987a45c-2068-4aa9-a517-816382f55806
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
