---
version: 1
interactions:
- request:
    body: '{"organization_id":"b8fdefc6-c926-4a47-af24-24f14f724d6a","name":"cli-test","engine":"PostgreSQL-12","user_name":"foobar","password":"{4xdl*#QOoP+\u00263XRkGA)]","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"id":"96913f91-5ba5-4104-a54d-f3b2036fcf0f","name":"cli-test","organization_id":"b8fdefc6-c926-4a47-af24-24f14f724d6a","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"created_at":"2020-08-19T13:03:50.166268Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/96913f91-5ba5-4104-a54d-f3b2036fcf0f
    method: GET
  response:
    body: '{"id":"96913f91-5ba5-4104-a54d-f3b2036fcf0f","name":"cli-test","organization_id":"b8fdefc6-c926-4a47-af24-24f14f724d6a","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"created_at":"2020-08-19T13:03:50.166268Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/96913f91-5ba5-4104-a54d-f3b2036fcf0f
    method: GET
  response:
    body: '{"id":"96913f91-5ba5-4104-a54d-f3b2036fcf0f","name":"cli-test","organization_id":"b8fdefc6-c926-4a47-af24-24f14f724d6a","status":"ready","engine":"PostgreSQL-12","endpoint":{"ip":"51.158.129.78","port":64982,"name":null},"tags":[],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"created_at":"2020-08-19T13:03:50.166268Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"instance_id":"96913f91-5ba5-4104-a54d-f3b2036fcf0f","database_name":"rdb","name":"foobar","expires_at":"2999-01-02T15:04:05-07:00"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/backups
    method: POST
  response:
    body: '{"id":"38096809-7da9-449e-a92c-425e1181347f","instance_id":"96913f91-5ba5-4104-a54d-f3b2036fcf0f","database_name":"rdb","name":"foobar","status":"creating","size":null,"expires_at":"2999-01-02T22:04:05Z","created_at":"2020-08-19T13:08:24.339331Z","updated_at":null,"instance_name":"cli-test","download_url":null,"download_url_expires_at":null,"region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/backups/38096809-7da9-449e-a92c-425e1181347f
    method: GET
  response:
    body: '{"id":"38096809-7da9-449e-a92c-425e1181347f","instance_id":"96913f91-5ba5-4104-a54d-f3b2036fcf0f","database_name":"rdb","name":"foobar","status":"creating","size":null,"expires_at":"2999-01-02T22:04:05Z","created_at":"2020-08-19T13:08:24.339331Z","updated_at":null,"instance_name":"cli-test","download_url":null,"download_url_expires_at":null,"region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"database_name":null,"instance_id":"96913f91-5ba5-4104-a54d-f3b2036fcf0f"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/backups/38096809-7da9-449e-a92c-425e1181347f/restore
    method: POST
  response:
    body: '{"id":"38096809-7da9-449e-a92c-425e1181347f","instance_id":"96913f91-5ba5-4104-a54d-f3b2036fcf0f","database_name":"rdb","name":"foobar","status":"restoring","size":2547,"expires_at":"2999-01-02T22:04:05Z","created_at":"2020-08-19T13:08:24.339331Z","updated_at":"2020-08-19T13:08:28.530371Z","instance_name":"cli-test","download_url":null,"download_url_expires_at":null,"region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
