---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","description":"","tags":null,"is_ipv6":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
        method: POST
      response:
        body: '{"srn":"","id":"65b54d8e-888c-4abf-8884-fb7f4ade6e17","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","description":"","updated_at":"2026-10-07T09:24:40.630376954Z","created_at":"2021-07-21T08:31:19.017188Z","status":"ready","tags":[],"ip_address":"51.159.124.161","server_id":null,"reverse":"51-159-124-161.rev.poneytelecom.eu.","mac_address":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 272.108159ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 9.577517ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/65b54d8e-888c-4abf-8884-fb7f4ade6e17
        method: GET
      response:
        body: '{"srn":"","id":"65b54d8e-888c-4abf-8884-fb7f4ade6e17","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","description":"","updated_at":"2026-10-07T09:24:40.630377Z","created_at":"2021-07-21T08:31:19.017188Z","status":"ready","tags":[],"ip_address":"51.159.124.161","server_id":null,"reverse":"51-159-124-161.rev.poneytelecom.eu.","mac_address":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 67.209042ms
[...]
