---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"ecb3a9c2-1047-4035-9852-aa7fd2b62212", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "updated_at":"2025-07-22T15:54:30.826870071Z", "created_at":"2021-07-21T08:31:17.355154Z", "status":"ready", "tags":[], "ip_address":"51.159.124.46", "server_id":null, "reverse":"51-159-124-46.rev.poneytelecom.eu.", "mac_address":null, "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
        method: POST
      response:
        body: '{"id":"ecb3a9c2-1047-4035-9852-aa7fd2b62212", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "updated_at":"2025-07-22T15:54:30.826870071Z", "created_at":"2021-07-21T08:31:17.355154Z", "status":"ready", "tags":[], "ip_address":"51.159.124.46", "server_id":null, "reverse":"51-159-124-46.rev.poneytelecom.eu.", "mac_address":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 447.460609ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"ecb3a9c2-1047-4035-9852-aa7fd2b62212", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "updated_at":"2025-07-22T15:54:30.826870Z", "created_at":"2021-07-21T08:31:17.355154Z", "status":"ready", "tags":[], "ip_address":"51.159.124.46", "server_id":null, "reverse":"51-159-124-46.rev.poneytelecom.eu.", "mac_address":null, "zone":"fr-par-1"}'
        form: {}
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/ecb3a9c2-1047-4035-9852-aa7fd2b62212
        method: GET
      response:
        body: '{"id":"ecb3a9c2-1047-4035-9852-aa7fd2b62212", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "updated_at":"2025-07-22T15:54:30.826870Z", "created_at":"2021-07-21T08:31:17.355154Z", "status":"ready", "tags":[], "ip_address":"51.159.124.46", "server_id":null, "reverse":"51-159-124-46.rev.poneytelecom.eu.", "mac_address":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.411023ms
[...]
