---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","description":"","tags":null,"is_ipv6":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
        method: POST
      response:
        body: '{"srn":"","id":"7cb73a41-ed0f-4e89-b54d-b40ef8b73bbb","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","description":"","updated_at":"2026-09-24T09:40:21.835175956Z","created_at":"2023-11-09T14:19:37.447229Z","status":"ready","tags":[],"ip_address":"62.210.142.57","server_id":null,"reverse":"62-210-142-57.rev.poneytelecom.eu.","mac_address":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.211930031s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 9.700203ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/7cb73a41-ed0f-4e89-b54d-b40ef8b73bbb
        method: GET
      response:
        body: '{"srn":"","id":"7cb73a41-ed0f-4e89-b54d-b40ef8b73bbb","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","description":"","updated_at":"2026-09-24T09:40:21.835176Z","created_at":"2023-11-09T14:19:37.447229Z","status":"ready","tags":[],"ip_address":"62.210.142.57","server_id":null,"reverse":"62-210-142-57.rev.poneytelecom.eu.","mac_address":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 43.133231ms
[...]
