---
version: 2
interactions:
- request:
    body: '{"id":"edf18ea9-358a-4075-83f4-d8eb8e078779","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","description":"","updated_at":"2024-03-04T12:26:49.794223975Z","created_at":"2023-11-09T14:19:38.861363Z","status":"ready","tags":[],"ip_address":"62.210.142.180","server_id":null,"reverse":"62-210-142-180.rev.poneytelecom.eu.","mac_address":null,"zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
    method: POST
  response:
    body: '{"id":"edf18ea9-358a-4075-83f4-d8eb8e078779","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","description":"","updated_at":"2024-03-04T12:26:49.794223975Z","created_at":"2023-11-09T14:19:38.861363Z","status":"ready","tags":[],"ip_address":"62.210.142.180","server_id":null,"reverse":"62-210-142-180.rev.poneytelecom.eu.","mac_address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"id":"edf18ea9-358a-4075-83f4-d8eb8e078779","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","description":"","updated_at":"2024-03-04T12:26:49.794224Z","created_at":"2023-11-09T14:19:38.861363Z","status":"ready","tags":[],"ip_address":"62.210.142.180","server_id":null,"reverse":"62-210-142-180.rev.poneytelecom.eu.","mac_address":null,"zone":"fr-par-1"}'
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/edf18ea9-358a-4075-83f4-d8eb8e078779
    method: GET
  response:
    body: '{"id":"edf18ea9-358a-4075-83f4-d8eb8e078779","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","description":"","updated_at":"2024-03-04T12:26:49.794224Z","created_at":"2023-11-09T14:19:38.861363Z","status":"ready","tags":[],"ip_address":"62.210.142.180","server_id":null,"reverse":"62-210-142-180.rev.poneytelecom.eu.","mac_address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
