---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"access_key":"SCW2DWFM69FT5GRJARV0", "secret_key":null, "description":"my prod API key", "created_at":"2025-07-29T18:35:44.750352Z", "updated_at":"2025-07-29T18:35:44.750352Z", "expires_at":"2026-07-29T18:35:44.583Z", "default_project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153", "user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW2DWFM69FT5GRJARV0
        method: GET
      response:
        body: '{"access_key":"SCW2DWFM69FT5GRJARV0", "secret_key":null, "description":"my prod API key", "created_at":"2025-07-29T18:35:44.750352Z", "updated_at":"2025-07-29T18:35:44.750352Z", "expires_at":"2026-07-29T18:35:44.583Z", "default_project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153", "user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 263.424341ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"access_key":"SCWN8XYH10FBMF8K2BXR", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"test-cli-TestCheckAPIKey", "created_at":"2025-08-06T18:36:56.366513Z", "updated_at":"2025-08-06T18:36:56.366513Z", "expires_at":"2025-08-06T19:36:56.292041Z", "default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "editable":true, "deletable":true, "managed":false, "creation_ip":"92.170.169.4", "user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWN8XYH10FBMF8K2BXR", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"test-cli-TestCheckAPIKey", "created_at":"2025-08-06T18:36:56.366513Z", "updated_at":"2025-08-06T18:36:56.366513Z", "expires_at":"2025-08-06T19:36:56.292041Z", "default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "editable":true, "deletable":true, "managed":false, "creation_ip":"92.170.169.4", "user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.968822ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"access_key":"SCWN8XYH10FBMF8K2BXR", "secret_key":null, "description":"test-cli-TestCheckAPIKey", "created_at":"2025-08-06T18:36:56.366513Z", "updated_at":"2025-08-06T18:36:56.366513Z", "expires_at":"2025-08-06T19:36:56.292041Z", "default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "editable":true, "deletable":true, "managed":false, "creation_ip":"92.170.169.4", "user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWN8XYH10FBMF8K2BXR
        method: GET
      response:
        body: '{"access_key":"SCWN8XYH10FBMF8K2BXR", "secret_key":null, "description":"test-cli-TestCheckAPIKey", "created_at":"2025-08-06T18:36:56.366513Z", "updated_at":"2025-08-06T18:36:56.366513Z", "expires_at":"2025-08-06T19:36:56.292041Z", "default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "editable":true, "deletable":true, "managed":false, "creation_ip":"92.170.169.4", "user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.639979ms
[...]
