---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.github.com/repos/scaleway/scaleway-cli/releases/latest
    method: GET
  response:
    body: '{"url":"https://api.github.com/repos/scaleway/scaleway-cli/releases/71206020","assets_url":"https://api.github.com/repos/scaleway/scaleway-cli/releases/71206020/assets","upload_url":"https://uploads.github.com/repos/scaleway/scaleway-cli/releases/71206020/assets{?name,label}","html_url":"https://github.com/scaleway/scaleway-cli/releases/tag/v2.5.4","id":71206020,"author":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/github-actions%5Bbot%5D","html_url":"https://github.com/apps/github-actions","followers_url":"https://api.github.com/users/github-actions%5Bbot%5D/followers","following_url":"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/github-actions%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/github-actions%5Bbot%5D/repos","events_url":"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/github-actions%5Bbot%5D/received_events","type":"Bot","site_admin":false},"node_id":"RE_kwDOAfEQr84EPoSE","tag_name":"v2.5.4","target_commitish":"master","name":"v2.5.4","draft":false,"prerelease":false,"created_at":"2022-07-04T12:41:22Z","published_at":"2022-07-04T14:43:07Z","assets":[{"url":"https://api.github.com/repos/scaleway/scaleway-cli/releases/assets/70528211","id":70528211,"node_id":"RA_kwDOAfEQr84ENCzT","name":"scaleway-cli_2.5.4_darwin_amd64","label":"","uploader":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/github-actions%5Bbot%5D","html_url":"https://github.com/apps/github-actions","followers_url":"https://api.github.com/users/github-actions%5Bbot%5D/followers","following_url":"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/github-actions%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/github-actions%5Bbot%5D/repos","events_url":"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/github-actions%5Bbot%5D/received_events","type":"Bot","site_admin":false},"content_type":"application/octet-stream","state":"uploaded","size":16821520,"download_count":22,"created_at":"2022-07-04T14:27:35Z","updated_at":"2022-07-04T14:27:36Z","browser_download_url":"https://github.com/scaleway/scaleway-cli/releases/download/v2.5.4/scaleway-cli_2.5.4_darwin_amd64"},{"url":"https://api.github.com/repos/scaleway/scaleway-cli/releases/assets/70528210","id":70528210,"node_id":"RA_kwDOAfEQr84ENCzS","name":"scaleway-cli_2.5.4_darwin_arm64","label":"","uploader":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/github-a[...]
