---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"access_key":"SCWPB5A8ZHKGTSD2NHB0", "secret_key":null, "description":"Generated by the Scaleway CLI", "created_at":"2025-03-25T13:28:06.409480Z", "updated_at":"2025-03-25T13:28:06.409480Z", "expires_at":null, "default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9", "user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWPB5A8ZHKGTSD2NHB0
        method: GET
      response:
        body: '{"access_key":"SCWPB5A8ZHKGTSD2NHB0", "secret_key":null, "description":"Generated by the Scaleway CLI", "created_at":"2025-03-25T13:28:06.409480Z", "updated_at":"2025-03-25T13:28:06.409480Z", "expires_at":null, "default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9", "user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.771326ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"access_key":"SCWTFDERMPAAM1AMFCVG", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"test-cli-TestCheckAPIKey", "created_at":"2025-07-22T15:54:23.157536Z", "updated_at":"2025-07-22T15:54:23.157536Z", "expires_at":"2025-07-22T16:54:23.063360Z", "default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9", "user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWTFDERMPAAM1AMFCVG", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"test-cli-TestCheckAPIKey", "created_at":"2025-07-22T15:54:23.157536Z", "updated_at":"2025-07-22T15:54:23.157536Z", "expires_at":"2025-07-22T16:54:23.063360Z", "default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9", "user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.578833ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"access_key":"SCWTFDERMPAAM1AMFCVG", "secret_key":null, "description":"test-cli-TestCheckAPIKey", "created_at":"2025-07-22T15:54:23.157536Z", "updated_at":"2025-07-22T15:54:23.157536Z", "expires_at":"2025-07-22T16:54:23.063360Z", "default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9", "user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWTFDERMPAAM1AMFCVG
        method: GET
      response:
        body: '{"access_key":"SCWTFDERMPAAM1AMFCVG", "secret_key":null, "description":"test-cli-TestCheckAPIKey", "created_at":"2025-07-22T15:54:23.157536Z", "updated_at":"2025-07-22T15:54:23.157536Z", "expires_at":"2025-07-22T16:54:23.063360Z", "default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9", "user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.013648ms
[...]
