---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: '{"access_key":"SCWQN1ZYHWPFGJD28Q70","secret_key":null,"description":"iam","created_at":"2022-08-22T09:13:42.922733Z","updated_at":"2022-10-20T08:29:52.752429Z","expires_at":null,"default_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","editable":true,"creation_ip":"51.159.73.9","user_id":"38d8ec28-dbee-4dbe-a4e8-56adcc285e8b"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_id":"38d8ec28-dbee-4dbe-a4e8-56adcc285e8b","expires_at":"2023-04-21T11:49:57.648653377+02:00","default_project_id":null,"description":"test-cli-TestCheckAPIKey"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWSSR032HM4AQTGK4XM","secret_key":"11111111-1111-1111-1111-111111111111","description":"test-cli-TestCheckAPIKey","created_at":"2023-04-21T08:49:57.791116Z","updated_at":"2023-04-21T08:49:57.791116Z","expires_at":"2023-04-21T09:49:57.648653Z","default_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","editable":true,"creation_ip":"51.159.73.9","user_id":"38d8ec28-dbee-4dbe-a4e8-56adcc285e8b"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
