---
version: 1
interactions:
- request:
    body: '{"url":"https://api.github.com/repos/scaleway/scaleway-cli/releases/276717999","assets_url":"https://api.github.com/repos/scaleway/scaleway-cli/releases/276717999/assets","upload_url":"https://uploads.github.com/repos/scaleway/scaleway-cli/releases/276717999/assets{?name,label}","html_url":"https://github.com/scaleway/scaleway-cli/releases/tag/v2.50.0","id":276717999,"author":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/github-actions%5Bbot%5D","html_url":"https://github.com/apps/github-actions","followers_url":"https://api.github.com/users/github-actions%5Bbot%5D/followers","following_url":"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/github-actions%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/github-actions%5Bbot%5D/repos","events_url":"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/github-actions%5Bbot%5D/received_events","type":"Bot","user_view_type":"public","site_admin":false},"node_id":"RE_kwDOAfEQr84QfmGv","tag_name":"v2.50.0","target_commitish":"master","name":"v2.50.0","draft":false,"immutable":false,"prerelease":false,"created_at":"2026-01-14T12:26:51Z","updated_at":"2026-01-14T13:22:00Z","published_at":"2026-01-14T13:22:00Z","assets":[{"url":"https://api.github.com/repos/scaleway/scaleway-cli/releases/assets/340440813","id":340440813,"node_id":"RA_kwDOAfEQr84USrbt","name":"scaleway-cli_2.50.0_darwin_amd64","label":"","uploader":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/github-actions%5Bbot%5D","html_url":"https://github.com/apps/github-actions","followers_url":"https://api.github.com/users/github-actions%5Bbot%5D/followers","following_url":"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/github-actions%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/github-actions%5Bbot%5D/repos","events_url":"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/github-actions%5Bbot%5D/received_events","type":"Bot","user_view_type":"public","site_admin":false},"content_type":"application/octet-stream","state":"uploaded","size":54860752,"digest":"sha256:61dbe90647f77f22fe51d51d2440e6481355c98363fbfc15d223431b19231892","download_count":2,"created_at":"2026-01-14T13:09:33Z","updated_at":"2026-01-14T13:09:35Z","browser_download_url":"https://github.com/scaleway/scaleway-cli/releases/download/v2.50.0/scaleway-cli_2.50.0_darwin_amd64"},{"url":"https://api.github.com/repos/scaleway/scaleway-cli/releases/assets/340440829","id":340440829,"node_id":"RA_kwDOAfEQr84USrb9","name":"scaleway-cli_2.50.0_darwin_arm64","label":"","uploader":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/git[...]
- request:
    body: '{"access_key":"SCW363CZ5SRN5YHQBGXY", "secret_key":null, "description":"rleone-macbook",
      "created_at":"2023-03-28T09:41:12.847132Z", "updated_at":"2025-09-08T15:21:36.563446Z",
      "expires_at":null, "default_project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9",
      "user_id":"b49d82c1-ce3a-473f-9cef-420acc5256bf"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW363CZ5SRN5YHQBGXY
    method: GET
  response:
    body: '{"access_key":"SCW363CZ5SRN5YHQBGXY", "secret_key":null, "description":"rleone-macbook",
      "created_at":"2023-03-28T09:41:12.847132Z", "updated_at":"2025-09-08T15:21:36.563446Z",
      "expires_at":null, "default_project_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9",
      "user_id":"b49d82c1-ce3a-473f-9cef-420acc5256bf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
