---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: '{"url":"https://api.github.com/repos/scaleway/scaleway-cli/releases/234226645","assets_url":"https://api.github.com/repos/scaleway/scaleway-cli/releases/234226645/assets","upload_url":"https://uploads.github.com/repos/scaleway/scaleway-cli/releases/234226645/assets{?name,label}","html_url":"https://github.com/scaleway/scaleway-cli/releases/tag/v2.42.0","id":234226645,"author":{"login":"Laure-di","id":62625835,"node_id":"MDQ6VXNlcjYyNjI1ODM1","avatar_url":"https://avatars.githubusercontent.com/u/62625835?v=4","gravatar_id":"","url":"https://api.github.com/users/Laure-di","html_url":"https://github.com/Laure-di","followers_url":"https://api.github.com/users/Laure-di/followers","following_url":"https://api.github.com/users/Laure-di/following{/other_user}","gists_url":"https://api.github.com/users/Laure-di/gists{/gist_id}","starred_url":"https://api.github.com/users/Laure-di/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Laure-di/subscriptions","organizations_url":"https://api.github.com/users/Laure-di/orgs","repos_url":"https://api.github.com/users/Laure-di/repos","events_url":"https://api.github.com/users/Laure-di/events{/privacy}","received_events_url":"https://api.github.com/users/Laure-di/received_events","type":"User","user_view_type":"public","site_admin":false},"node_id":"RE_kwDOAfEQr84N9gPV","tag_name":"v2.42.0","target_commitish":"master","name":"v2.42.0","draft":false,"immutable":false,"prerelease":false,"created_at":"2025-07-22T08:26:35Z","published_at":"2025-07-22T12:38:32Z","assets":[{"url":"https://api.github.com/repos/scaleway/scaleway-cli/releases/assets/275246627","id":275246627,"node_id":"RA_kwDOAfEQr84QZ-4j","name":"scaleway-cli_2.42.0_darwin_amd64","label":"","uploader":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/github-actions%5Bbot%5D","html_url":"https://github.com/apps/github-actions","followers_url":"https://api.github.com/users/github-actions%5Bbot%5D/followers","following_url":"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/github-actions%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/github-actions%5Bbot%5D/repos","events_url":"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/github-actions%5Bbot%5D/received_events","type":"Bot","user_view_type":"public","site_admin":false},"content_type":"application/octet-stream","state":"uploaded","size":51963440,"digest":"sha256:d7ac38c0cf18049939670629afc587d272ce671a604b854c4827372ade283da6","download_count":2,"created_at":"2025-07-22T12:49:00Z","updated_at":"2025-07-22T12:49:02Z","browser_download_url":"https://github.com/scaleway/scaleway-cli/releases/download/v2.42.0/scaleway-cli_2.42.0_darwin_amd64"},{"url":"https://api.github.com/repos/scaleway/scaleway-cli/releases/assets/275246636","id":275246636,"node_id":"RA_kwDOAfEQr84QZ-4s","name":"scaleway-cli_2.42.0_darwin_arm64","label":"","uploader":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/git[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"access_key":"SCWPB5A8ZHKGTSD2NHB0", "secret_key":null, "description":"Generated by the Scaleway CLI", "created_at":"2025-03-25T13:28:06.409480Z", "updated_at":"2025-03-25T13:28:06.409480Z", "expires_at":null, "default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9", "user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWPB5A8ZHKGTSD2NHB0
        method: GET
      response:
        body: '{"access_key":"SCWPB5A8ZHKGTSD2NHB0", "secret_key":null, "description":"Generated by the Scaleway CLI", "created_at":"2025-03-25T13:28:06.409480Z", "updated_at":"2025-03-25T13:28:06.409480Z", "expires_at":null, "default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9", "user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 195.540717ms
