---
version: 1
interactions:
- request:
    body: '{"name":"cli-as-charming-knuth","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","type":"M1-M"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"message":"resource is out of stock","resource":"server","type":"out_of_stock"}'
    headers:
      Content-Type:
      - application/json
    status: 503 Service Unavailable
    code: 503
    duration: ""
