---
version: 1
interactions:
- request:
    body: '{"name":"cli-as-romantic-boyd","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","type":"M1-M"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"id":"8675c43b-7767-46dd-ac15-bcb7682d6b81","type":"M1-M","name":"cli-as-romantic-boyd","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":"195.154.249.131","vnc_url":"vnc://m1:eU8IjS8vdO6P@195.154.249.131:5900","status":"starting","created_at":"2021-02-05T15:23:09.572209Z","updated_at":"2021-02-05T15:23:09.572209Z","deletable_at":"2021-02-05T15:23:09.572209Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers/8675c43b-7767-46dd-ac15-bcb7682d6b81
    method: GET
  response:
    body: '{"id":"8675c43b-7767-46dd-ac15-bcb7682d6b81","type":"M1-M","name":"cli-as-romantic-boyd","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":"195.154.249.131","vnc_url":"vnc://m1:eU8IjS8vdO6P@195.154.249.131:5900","status":"starting","created_at":"2021-02-05T15:23:09.572209Z","updated_at":"2021-02-05T15:23:09.572209Z","deletable_at":"2021-02-05T15:23:09.572209Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
