---
version: 1
interactions:
- request:
    body: '{"name":"","project_id":"11111111-1111-1111-1111-111111111111","type":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"message":"authentication is denied","method":"api_key","reason":"not_found","type":"denied_authentication"}'
    headers:
      Content-Type:
      - application/json
    status: 401 Unauthorized
    code: 401
    duration: ""
