---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/os/e08d1e5d-b4b9-402a-9f9a-97732d17e374
        method: GET
      response:
        body: '{"id":"e08d1e5d-b4b9-402a-9f9a-97732d17e374","name":"macos-sonoma-14.4","label":"macOS Sonoma 14.4","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-sonoma.png","family":"Sonoma","is_beta":false,"xcode_version":"15","version":"14.4","release_notes_url":"","description":"","compatible_server_types":["M1-M","M2-M","M2-L"],"tags":[],"supported_server_types":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 57.542872ms
