---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/apple-silicon/v1alpha1/zones/fr-par-1/server-types
        method: GET
      response:
        body: '{"server_types":[{"name":"M2-L","cpu":{"name":"Apple M2 Pro","core_count":10,"frequency":3500000000,"sockets":1,"threads_per_core":1},"disk":{"capacity":512000000000,"type":"SSD"},"memory":{"capacity":16000000000,"type":"LPDDR5"},"stock":"no_stock","minimum_lease_duration":"86400s","default_os":{"id":"8c51501f-239b-4ed4-8cad-78816e11b970","name":"macos-tahoe-26.6.1","label":"macOS Tahoe 26.6.1","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-tahoe.png","family":"Tahoe","is_beta":false,"xcode_version":"26","version":"26.6.1","release_notes_url":"","description":"","compatible_server_types":["M2-M","M4-L","M4-M","M4-S","M4-SP","M4-XL","M2-L","M1-M"],"tags":["macos","apple","apple-license"],"supported_server_types":[]},"gpu":{"count":16},"network":{"public_bandwidth_bps":1000000000,"supported_bandwidth":[1000000000],"default_public_bandwidth":1000000000},"npu":{"count":16}},{"name":"M1-M","cpu":{"name":"Apple M1","core_count":8,"frequency":3200000000,"sockets":1,"threads_per_core":1},"disk":{"capacity":256000000000,"type":"SSD"},"memory":{"capacity":8000000000,"type":"LPDDR4"},"stock":"no_stock","minimum_lease_duration":"86400s","default_os":{"id":"d2b54766-cbeb-436f-b8d7-1902a8d74300","name":"macos-tahoe-26.6.2","label":"macOS Tahoe 26.6.2","image_url":"https://scw-apple-silicon.s3.fr-par.scw.cloud/scw-console/os/macos-tahoe.png","family":"Tahoe","is[...]
    - id: 1
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
            product_types:
                - apple_silicon
            zone:
                - fr-par-1
        headers:
        url: https://api.scaleway.com/product-catalog/v2alpha1/public-catalog/products?page=1&product_types=apple_silicon&zone=fr-par-1
        method: GET
      response:
        body: '{"products":[{"sku":"/apple-silicon/m2-m/monthly/run_par1","service_category":"BareMetal","product_category":"Apple Silicon","product":"Mac Mini M2 - M","variant":"Mac Mini M2 - M - month - fr-par-1","description":"Mac Mini M2 - M - month - fr-par-1 (115€ per month)","locality":{"zone":"fr-par-1"},"price":{"retail_price":{"currency_code":"EUR","units":115,"nanos":0}},"properties":{"hardware":{"cpu":{"description":"Apple M2, apple_silicon, Sockets: 1, Cores per socket: 8, Threads per core: 1, Frequency: 3.5 GHz","arch":"apple_silicon","type":"Apple M2","physical":{"sockets":1,"cores_per_socket":8,"threads_per_core":1,"frequency":3500000000,"benchmark":0},"threads":8,"shared":false},"ram":{"description":"16 GiB LPDDR5","size":17179869184,"type":"LPDDR5"},"storage":{"description":"Fixed local: 1 x 256 GB SSD","total":256000000000},"network":{"description":"Internal: 1 Gb/s, Public: 1 Gb/s","internal_bandwidth":1000000000,"public_bandwidth":1000000000,"max_public_bandwidth":1000000000},"gpu":{"description":"10 x Apple M2","count":10,"type":"Apple M2"}},"apple_silicon":{"range":"M2","server_type":"M2-M"}},"environmental_impact_estimation":{"kg_co2_equivalent":26.941422,"m3_water_usage":0.00040826388},"unit_of_measure":{"unit":"month","size":1},"status":"general_availability","badges":[]},{"sku":"/apple-silicon/m2-m/run_par1","service_category":"BareMetal","product_category":"Apple Silicon","product":"Mac Mini M2 - M","variant":"Mac Mini M2 - M - hour - fr-par-1","description":"Mac Mini M2 - M - hour - fr-par-1 (0.17€ per hour)","locality":{"zone":"fr-par-1"},"price":{"retail_price":{"currency_code":"EUR","units":0,"nanos":170000000}},"properties":{"hardware":{"cpu":{"description":"Apple M2, apple_silicon, Sockets: 1, Cores per socket: 8, Threads per core: 1, Frequency: 3.5 G[...]
