---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-pn-cocky-galois","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":null,"subnets":null,"default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"srn":"","id":"e7096ad2-ce97-4412-a8f4-90b8e220d71b","name":"cli-pn-cocky-galois","tags":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-09-21T14:40:16.735470Z","updated_at":"2026-09-21T14:40:16.735470Z","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","subnets":[{"srn":"","id":"c7ddd5e9-289b-4a03-804a-cf80c580078d","created_at":"2026-09-21T14:40:16.735470Z","updated_at":"2026-09-21T14:40:16.735470Z","subnet":"172.16.4.0/22","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","private_network_id":"e7096ad2-ce97-4412-a8f4-90b8e220d71b","vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964","region":"fr-par"},{"srn":"","id":"b572b753-bbe9-4200-a531-f61b8c7cb20c","created_at":"2026-09-21T14:40:16.735470Z","updated_at":"2026-09-21T14:40:16.735470Z","subnet":"fdb9:eb31:3ccc:4ae4::/64","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","private_network_id":"e7096ad2-ce97-4412-a8f4-90b8e220d71b","vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964","region":"fr-par"}],"vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964","dhcp_enabled":true,"default_route_propagation_enabled":false,"has_object_storage_private_access":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 648.51593ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 9.042063ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"1-ipam-1-static-priv-endpoints","version":"8.6.6","tags":null,"node_type":"RED1-micro","user_name":"admin","password":"P@sSw0Rd","acl_rules":null,"endpoints":[{"private_network":{"id":"e7096ad2-ce97-4412-a8f4-90b8e220d71b","service_ips":null,"ipam_config":{}}},{"private_network":{"id":"72e92232-c7d4-43e1-924a-b6ee40f698c5","service_ips":["10.16.4.1/22"],"ipam_config":null}}],"tls_enabled":false,"cluster_settings":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"id":"2675a10f-791b-4fa5-ba6a-f1ab08363871","name":"1-ipam-1-static-priv-endpoints","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"provisioning","version":"8.6.6","endpoints":[{"port":6379,"private_network":{"id":"e7096ad2-ce97-4412-a8f4-90b8e220d71b","service_ips":["172.16.4.2/22"],"provisioning_mode":"ipam","zone":"fr-par-1"},"ips":["172.16.4.2"],"id":"49c3dc9a-9d60-4508-b028-e697957f8fa0"},{"port":6379,"private_network":{"id":"72e92232-c7d4-43e1-924a-b6ee40f698c5","service_ips":["10.16.4.1/22"],"provisioning_mode":"static","zone":"fr-par-1"},"ips":["10.16.4.1"],"id":"e302c8b0-3981-497f-97e5-f5554a658fda"}],"tags":[],"node_type":"RED1-micro","created_at":"2026-09-21T14:41:19.631687Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"admin","upgradable_versions":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 2.757701923s
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/2675a10f-791b-4fa5-ba6a-f1ab08363871
        method: GET
      response:
        body: '{"id":"2675a10f-791b-4fa5-ba6a-f1ab08363871","name":"1-ipam-1-static-priv-endpoints","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"provisioning","version":"8.6.6","endpoints":[{"port":6379,"private_network":{"id":"e7096ad2-ce97-4412-a8f4-90b8e220d71b","service_ips":["172.16.4.2/22"],"provisioning_mode":"ipam","zone":"fr-par-1"},"ips":["172.16.4.2"],"id":"49c3dc9a-9d60-4508-b028-e697957f8fa0"},{"port":6379,"private_network":{"id":"72e92232-c7d4-43e1-924a-b6ee40f698c5","service_ips":["10.16.4.1/22"],"provisioning_mode":"static","zone":"fr-par-1"},"ips":["10.16.4.1"],"id":"e302c8b0-3981-497f-97e5-f5554a658fda"}],"tags":[],"node_type":"RED1-micro","created_at":"2026-09-21T14:41:19.631687Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"admin","upgradable_versions":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 120.061988ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/2675a10f-791b-4fa5-ba6a-f1ab08363871
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"2675a10f-791b-4fa5-ba6a-f1ab08363871","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 27.694864ms
    - id: 27
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e7096ad2-ce97-4412-a8f4-90b8e220d71b
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 1.779957584s
[...]
