---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-pn-keen-fermi","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":null,"subnets":null,"default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/9bda2b1c-c68c-49e3-82e1-c7cc47dd09a0", "id":"9bda2b1c-c68c-49e3-82e1-c7cc47dd09a0", "name":"cli-pn-keen-fermi", "tags":[], "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "created_at":"2026-10-08T08:29:37.779295Z", "updated_at":"2026-10-08T08:29:37.779295Z", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "subnets":[{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/e99898d0-80fd-4bd7-aafe-a38adeb15b3e", "id":"e99898d0-80fd-4bd7-aafe-a38adeb15b3e", "created_at":"2026-10-08T08:29:37.779295Z", "updated_at":"2026-10-08T08:29:37.779295Z", "subnet":"172.16.4.0/22", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "private_network_id":"9bda2b1c-c68c-49e3-82e1-c7cc47dd09a0", "vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964", "region":"fr-par"}, {"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/1d00532b-f100-4aae-861e-d5fa348f53d7", "id":"1d00532b-f100-4aae-861e-d5fa348f53d7", "created_at":"2026-10-08T08:29:37.779295Z", "updated_at":"2026-10-08T08:29:37.779295Z", "subnet":"fdb9:eb31:3ccc:d061::/64", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "private_network_id":"9bda2b1c-c68c-49e3-82e1-c7cc47dd09a0", "vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964", "region":"fr-par"}], "vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964", "dhcp_enabled":true, "default_route_propagation_enabled":false, "has_object_storage_private_access":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 675.897789ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 9.008619ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"private-endpoint-both","version":"8.6.6","tags":null,"node_type":"RED1-micro","user_name":"admin","password":"P@sSw0Rd","acl_rules":null,"endpoints":[{"private_network":{"id":"9bda2b1c-c68c-49e3-82e1-c7cc47dd09a0","service_ips":["172.16.4.1/22"],"ipam_config":{}}}],"tls_enabled":false,"cluster_settings":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"details":[{"argument_name":"endpoints.private_network","help_message":"You must specify an ipam_config or a service_ips","reason":"constraint"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 400 Bad Request
        code: 400
        duration: 445.656719ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9bda2b1c-c68c-49e3-82e1-c7cc47dd09a0
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 2.492383175s
