---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"bfb59bc4-8f5f-44e7-8607-6ad98e32dd7e", "name":"cli-pn-strange-archimedes", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-08-07T09:54:28.795545Z", "updated_at":"2025-08-07T09:54:28.795545Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"50ac8ba2-14c3-4be1-8d1f-df31c82c846b", "created_at":"2025-08-07T09:54:28.795545Z", "updated_at":"2025-08-07T09:54:28.795545Z", "subnet":"172.16.24.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"bfb59bc4-8f5f-44e7-8607-6ad98e32dd7e", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"51024792-1af0-4ef5-8b0e-e00d106aeec8", "created_at":"2025-08-07T09:54:28.795545Z", "updated_at":"2025-08-07T09:54:28.795545Z", "subnet":"fd63:256c:45f7:a184::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"bfb59bc4-8f5f-44e7-8607-6ad98e32dd7e", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"bfb59bc4-8f5f-44e7-8607-6ad98e32dd7e", "name":"cli-pn-strange-archimedes", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-08-07T09:54:28.795545Z", "updated_at":"2025-08-07T09:54:28.795545Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"50ac8ba2-14c3-4be1-8d1f-df31c82c846b", "created_at":"2025-08-07T09:54:28.795545Z", "updated_at":"2025-08-07T09:54:28.795545Z", "subnet":"172.16.24.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"bfb59bc4-8f5f-44e7-8607-6ad98e32dd7e", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"51024792-1af0-4ef5-8b0e-e00d106aeec8", "created_at":"2025-08-07T09:54:28.795545Z", "updated_at":"2025-08-07T09:54:28.795545Z", "subnet":"fd63:256c:45f7:a184::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"bfb59bc4-8f5f-44e7-8607-6ad98e32dd7e", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 904.809166ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"ed688b93-c3cb-4f81-bcd0-9299656bece2", "name":"2-ipam-priv-endpoints", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"bfb59bc4-8f5f-44e7-8607-6ad98e32dd7e", "service_ips":["172.16.24.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.24.2"], "id":"49092e4e-d424-4b70-a235-0fe9cb16752c"}, {"port":6379, "private_network":{"id":"599ab418-36ed-41a9-abc9-815c1292a465", "service_ips":["172.16.20.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.20.2"], "id":"4a61103c-8362-4bff-81d9-7c5aa33cd1d7"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-08-07T09:55:33.541311Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"id":"ed688b93-c3cb-4f81-bcd0-9299656bece2", "name":"2-ipam-priv-endpoints", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"bfb59bc4-8f5f-44e7-8607-6ad98e32dd7e", "service_ips":["172.16.24.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.24.2"], "id":"49092e4e-d424-4b70-a235-0fe9cb16752c"}, {"port":6379, "private_network":{"id":"599ab418-36ed-41a9-abc9-815c1292a465", "service_ips":["172.16.20.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.20.2"], "id":"4a61103c-8362-4bff-81d9-7c5aa33cd1d7"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-08-07T09:55:33.541311Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.890957465s
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"id":"ed688b93-c3cb-4f81-bcd0-9299656bece2", "name":"2-ipam-priv-endpoints", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"bfb59bc4-8f5f-44e7-8607-6ad98e32dd7e", "service_ips":["172.16.24.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.24.2"], "id":"49092e4e-d424-4b70-a235-0fe9cb16752c"}, {"port":63[...]
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"ed688b93-c3cb-4f81-bcd0-9299656bece2","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/ed688b93-c3cb-4f81-bcd0-9299656bece2
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"ed688b93-c3cb-4f81-bcd0-9299656bece2","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.688494ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/bfb59bc4-8f5f-44e7-8607-6ad98e32dd7e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.162440587s
[...]
