---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-pn-jolly-knuth","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":null,"subnets":null,"default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"srn":"","id":"04146eaf-6d81-4724-b700-d7ad154647fd","name":"cli-pn-jolly-knuth","tags":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-09-21T14:33:54.309593Z","updated_at":"2026-09-21T14:33:54.309593Z","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","subnets":[{"srn":"","id":"bec8d33e-535c-4d76-9d69-ac47471acb6e","created_at":"2026-09-21T14:33:54.309593Z","updated_at":"2026-09-21T14:33:54.309593Z","subnet":"172.16.0.0/22","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","private_network_id":"04146eaf-6d81-4724-b700-d7ad154647fd","vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964","region":"fr-par"},{"srn":"","id":"ba7f6964-e368-4b63-b0ff-03ea1cc598d3","created_at":"2026-09-21T14:33:54.309593Z","updated_at":"2026-09-21T14:33:54.309593Z","subnet":"fdb9:eb31:3ccc:1857::/64","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","private_network_id":"04146eaf-6d81-4724-b700-d7ad154647fd","vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964","region":"fr-par"}],"vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964","dhcp_enabled":true,"default_route_propagation_enabled":false,"has_object_storage_private_access":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 654.436683ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 8.583161ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"2-static-priv-endpoints","version":"8.6.6","tags":null,"node_type":"RED1-micro","user_name":"admin","password":"P@sSw0Rd","acl_rules":null,"endpoints":[{"private_network":{"id":"04146eaf-6d81-4724-b700-d7ad154647fd","service_ips":["172.16.4.1/22"],"ipam_config":null}},{"private_network":{"id":"4359416d-f837-4a6f-a3a9-7c2a7ca83d31","service_ips":["10.16.4.1/22"],"ipam_config":null}}],"tls_enabled":false,"cluster_settings":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"id":"c392ca3c-d56c-4f3d-8a9f-adb95df554a0","name":"2-static-priv-endpoints","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"provisioning","version":"8.6.6","endpoints":[{"port":6379,"private_network":{"id":"04146eaf-6d81-4724-b700-d7ad154647fd","service_ips":["172.16.4.1/22"],"provisioning_mode":"static","zone":"fr-par-1"},"ips":["172.16.4.1"],"id":"c6960a43-bcc8-4a49-ae9d-b7f8bc744ab0"},{"port":6379,"private_network":{"id":"4359416d-f837-4a6f-a3a9-7c2a7ca83d31","service_ips":["10.16.4.1/22"],"provisioning_mode":"static","zone":"fr-par-1"},"ips":["10.16.4.1"],"id":"f057910d-9814-4a26-bc95-8e83df261507"}],"tags":[],"node_type":"RED1-micro","created_at":"2026-09-21T14:34:55.947725Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"admin","upgradable_versions":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.475438773s
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/c392ca3c-d56c-4f3d-8a9f-adb95df554a0
        method: GET
      response:
        body: '{"id":"c392ca3c-d56c-4f3d-8a9f-adb95df554a0","name":"2-static-priv-endpoints","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"provisioning","version":"8.6.6","endpoints":[{"port":6379,"private_network":{"id":"04146eaf-6d81-4724-b700-d7ad154647fd","service_ips":["172.16.4.1/22"],"provisioning_mode":"static","zone":"fr-par-1"},"ips":["172.16.4.1"],"id":"c6960a43-bcc8-4a49-ae9d-b7f8bc744ab0"},{"port":6379,"private_network":{"id":"4359416d-f837-4a6f-a3a9-7c2a7ca83d31","service_ips":["10.16.4.1/22"],"provisioning_mode":"static","zone":"fr-par-1"},"ips":["10.16.4.1"],"id":"f057910d-9814-4a26-bc95-8e83df261507"}],"tags":[],"node_type":"RED1-micro","created_at":"2026-09-21T14:34:55.947725Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"admin","upgradable_versions":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 99.145975ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/c392ca3c-d56c-4f3d-8a9f-adb95df554a0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"c392ca3c-d56c-4f3d-8a9f-adb95df554a0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 45.993507ms
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/04146eaf-6d81-4724-b700-d7ad154647fd
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 2.309375032s
[...]
