---
version: 1
interactions:
- request:
    body: '{"id":"90a302d4-93e7-485d-b0cd-cca5a6b12a99", "name":"cli-pn-serene-gates",
      "tags":[], "organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "created_at":"2025-10-28T05:25:38.335846Z",
      "updated_at":"2025-10-28T05:25:38.335846Z", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "subnets":[{"id":"e5f31897-e574-478f-bc5e-3ca45de523c2", "created_at":"2025-10-28T05:25:38.335846Z",
      "updated_at":"2025-10-28T05:25:38.335846Z", "subnet":"172.16.108.0/22", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "private_network_id":"90a302d4-93e7-485d-b0cd-cca5a6b12a99", "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"},
      {"id":"81ad89e3-774b-4493-8f11-f3a7c901589b", "created_at":"2025-10-28T05:25:38.335846Z",
      "updated_at":"2025-10-28T05:25:38.335846Z", "subnet":"fd5d:9132:befe:4597::/64",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "private_network_id":"90a302d4-93e7-485d-b0cd-cca5a6b12a99",
      "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"}], "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"90a302d4-93e7-485d-b0cd-cca5a6b12a99", "name":"cli-pn-serene-gates",
      "tags":[], "organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "created_at":"2025-10-28T05:25:38.335846Z",
      "updated_at":"2025-10-28T05:25:38.335846Z", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "subnets":[{"id":"e5f31897-e574-478f-bc5e-3ca45de523c2", "created_at":"2025-10-28T05:25:38.335846Z",
      "updated_at":"2025-10-28T05:25:38.335846Z", "subnet":"172.16.108.0/22", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "private_network_id":"90a302d4-93e7-485d-b0cd-cca5a6b12a99", "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"},
      {"id":"81ad89e3-774b-4493-8f11-f3a7c901589b", "created_at":"2025-10-28T05:25:38.335846Z",
      "updated_at":"2025-10-28T05:25:38.335846Z", "subnet":"fd5d:9132:befe:4597::/64",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "private_network_id":"90a302d4-93e7-485d-b0cd-cca5a6b12a99",
      "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"}], "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"details":[{"argument_name":"endpoints.private_network","help_message":"You
      must specify an ipam_config or a service_ips","reason":"constraint"}],"message":"invalid
      argument(s)","type":"invalid_arguments"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"details":[{"argument_name":"endpoints.private_network","help_message":"You
      must specify an ipam_config or a service_ips","reason":"constraint"}],"message":"invalid
      argument(s)","type":"invalid_arguments"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/90a302d4-93e7-485d-b0cd-cca5a6b12a99
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
