---
version: 2
interactions:
- request:
    body: '{"id":"9104c8f2-09a7-4124-a44c-26a699d143cc","name":"cli-pn-angry-elgamal","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-11-23T13:33:52.015712Z","updated_at":"2023-11-23T13:33:52.015712Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"06e10be6-d359-4755-a324-9c6b2a45eb66","created_at":"2023-11-23T13:33:52.015712Z","updated_at":"2023-11-23T13:33:52.015712Z","subnet":"172.16.224.0/22"},{"id":"3b4ec6bd-46fe-40b7-a79a-63e16cd01bb9","created_at":"2023-11-23T13:33:52.015712Z","updated_at":"2023-11-23T13:33:52.015712Z","subnet":"fd63:256c:45f7:597d::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"9104c8f2-09a7-4124-a44c-26a699d143cc","name":"cli-pn-angry-elgamal","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-11-23T13:33:52.015712Z","updated_at":"2023-11-23T13:33:52.015712Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"06e10be6-d359-4755-a324-9c6b2a45eb66","created_at":"2023-11-23T13:33:52.015712Z","updated_at":"2023-11-23T13:33:52.015712Z","subnet":"172.16.224.0/22"},{"id":"3b4ec6bd-46fe-40b7-a79a-63e16cd01bb9","created_at":"2023-11-23T13:33:52.015712Z","updated_at":"2023-11-23T13:33:52.015712Z","subnet":"fd63:256c:45f7:597d::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"id":"62e071a3-e206-471b-afdb-1bc013b7c426","name":"1-static-priv-endpoint","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"7.0.5","endpoints":[{"port":6379,"private_network":{"id":"9104c8f2-09a7-4124-a44c-26a699d143cc","service_ips":["172.16.4.1/22"],"provisioning_mode":"static","zone":"fr-par-1"},"ips":["172.16.4.1"],"id":"a56f3126-4e97-46cf-89c6-f179359f96e9"}],"tags":[],"node_type":"RED1-micro","created_at":"2023-11-23T13:34:53.131543Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"admin","upgradable_versions":[],"zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"62e071a3-e206-471b-afdb-1bc013b7c426","name":"1-static-priv-endpoint","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"7.0.5","endpoints":[{"port":6379,"private_network":{"id":"9104c8f2-09a7-4124-a44c-26a699d143cc","service_ips":["172.16.4.1/22"],"provisioning_mode":"static","zone":"fr-par-1"},"ips":["172.16.4.1"],"id":"a56f3126-4e97-46cf-89c6-f179359f96e9"}],"tags":[],"node_type":"RED1-micro","created_at":"2023-11-23T13:34:53.131543Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"admin","upgradable_versions":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"id":"62e071a3-e206-471b-afdb-1bc013b7c426","name":"1-static-priv-endpoint","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"7.0.5","endpoints":[{"port":6379,"private_network":{"id":"9104c8f2-09a7-4124-a44c-26a699d143cc","service_ips":["172.16.4.1/22"],"provisioning_mode":"static","zone":"fr-par-1"},"ips":["172.16.4.1"],"id":"a56f3126-4e97-46cf-89c6-f179359f96e9"}],"tags":[],"node_type":"RED1-micro","created_at":"2023-11-23T13:34:53.13[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"62e071a3-e206-471b-afdb-1bc013b7c426","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/62e071a3-e206-471b-afdb-1bc013b7c426
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"62e071a3-e206-471b-afdb-1bc013b7c426","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9104c8f2-09a7-4124-a44c-26a699d143cc
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
