---
version: 1
interactions:
- request:
    body: '{"id":"e26d0bd5-e04d-4d92-8f39-7df210a40529","name":"1-pub-endpoint","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"7.0.5","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"9212bfab-dead-42d6-80e2-5eaa4f8be5a6"}],"tags":[],"node_type":"RED1-micro","created_at":"2023-11-23T13:34:52.247802Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"admin","upgradable_versions":[],"zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"e26d0bd5-e04d-4d92-8f39-7df210a40529","name":"1-pub-endpoint","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"7.0.5","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"9212bfab-dead-42d6-80e2-5eaa4f8be5a6"}],"tags":[],"node_type":"RED1-micro","created_at":"2023-11-23T13:34:52.247802Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"admin","upgradable_versions":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"e26d0bd5-e04d-4d92-8f39-7df210a40529","name":"1-pub-endpoint","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"7.0.5","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"9212bfab-dead-42d6-80e2-5eaa4f8be5a6"}],"tags":[],"node_type":"RED1-micro","created_at":"2023-11-23T13:34:52.247802Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"admin","upgradable_versions":[],"zone":"fr-par-1"}'
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/e26d0bd5-e04d-4d92-8f39-7df210a40529
    method: GET
  response:
    body: '{"id":"e26d0bd5-e04d-4d92-8f39-7df210a40529","name":"1-pub-endpoint","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"7.0.5","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"9212bfab-dead-42d6-80e2-5eaa4f8be5a6"}],"tags":[],"node_type":"RED1-micro","created_at":"2023-11-23T13:34:52.247802Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"admin","upgradable_versions":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"e26d0bd5-e04d-4d92-8f39-7df210a40529","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/e26d0bd5-e04d-4d92-8f39-7df210a40529
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"e26d0bd5-e04d-4d92-8f39-7df210a40529","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
