---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"generated-password","version":"8.6.6","tags":null,"node_type":"RED1-micro","user_name":"admin","password":";?X76J?qQ?FI^6lT*RpM\\","acl_rules":null,"endpoints":[{"public_network":{}}],"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"619424d9-ec62-4c5d-9c39-030ba109a6d3", "name":"generated-password",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "version":"8.6.6", "endpoints":[{"port":6379, "public_network":{}, "ips":[],
      "id":"a19af7b0-b527-4322-9450-e28b7c72dc5f"}], "tags":[], "node_type":"RED1-micro",
      "created_at":"2026-10-08T09:49:03.385216Z", "updated_at":null, "tls_enabled":false,
      "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin",
      "upgradable_versions":[], "zone":"fr-par-1", "srn":"srn://redis.scw.eu/zones/fr-par-1/clusters/619424d9-ec62-4c5d-9c39-030ba109a6d3"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "49"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/metadata
    method: GET
  response:
    body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "49"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/619424d9-ec62-4c5d-9c39-030ba109a6d3
    method: GET
  response:
    body: '{"id":"619424d9-ec62-4c5d-9c39-030ba109a6d3", "name":"generated-password",
      "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "status":"provisioning",
      "version":"8.6.6", "endpoints":[{"port":6379, "public_network":{}, "ips":[],
      "id":"a19af7b0-b527-4322-9450-e28b7c72dc5f"}], "tags":[], "node_type":"RED1-micro",
      "created_at":"2026-10-08T09:49:03.385216Z", "updated_at":null, "tls_enabled":false,
      "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin",
      "upgradable_versions":[], "zone":"fr-par-1", "srn":"srn://redis.scw.eu/zones/fr-par-1/clusters/619424d9-ec62-4c5d-9c39-030ba109a6d3"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "48"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/619424d9-ec62-4c5d-9c39-030ba109a6d3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"619424d9-ec62-4c5d-9c39-030ba109a6d3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "49"
      X-Ratelimit-Reset:
      - "1"
    status: 404 Not Found
    code: 404
    duration: ""
