---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-pn-sad-lovelace","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":null,"subnets":null,"default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/57b5e2fc-394a-4d88-88f2-9f966bdf429e", "id":"57b5e2fc-394a-4d88-88f2-9f966bdf429e", "name":"cli-pn-sad-lovelace", "tags":[], "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "created_at":"2026-10-08T08:16:59.647737Z", "updated_at":"2026-10-08T08:16:59.647737Z", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "subnets":[{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/d384ada4-ab8e-431b-b51a-6d7503e44292", "id":"d384ada4-ab8e-431b-b51a-6d7503e44292", "created_at":"2026-10-08T08:16:59.647737Z", "updated_at":"2026-10-08T08:16:59.647737Z", "subnet":"172.16.16.0/22", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "private_network_id":"57b5e2fc-394a-4d88-88f2-9f966bdf429e", "vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964", "region":"fr-par"}, {"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/235f4cf5-6e53-412d-a697-784df8934d9e", "id":"235f4cf5-6e53-412d-a697-784df8934d9e", "created_at":"2026-10-08T08:16:59.647737Z", "updated_at":"2026-10-08T08:16:59.647737Z", "subnet":"fdb9:eb31:3ccc:8016::/64", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "private_network_id":"57b5e2fc-394a-4d88-88f2-9f966bdf429e", "vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964", "region":"fr-par"}], "vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964", "dhcp_enabled":true, "default_route_propagation_enabled":false, "has_object_storage_private_access":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 944.102172ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 9.721222ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"1-ipam-1-static-priv-endpoints","version":"8.6.6","tags":null,"node_type":"RED1-micro","user_name":"admin","password":"P@sSw0Rd","acl_rules":null,"endpoints":[{"private_network":{"id":"57b5e2fc-394a-4d88-88f2-9f966bdf429e","service_ips":null,"ipam_config":{}}},{"private_network":{"id":"8882267f-c8f2-419d-a9b7-42a0d0bb49fa","service_ips":["10.16.4.1/22"],"ipam_config":null}}],"tls_enabled":false,"cluster_settings":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"id":"945a253e-55de-4c30-b389-cc8747cdb430", "name":"1-ipam-1-static-priv-endpoints", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "status":"provisioning", "version":"8.6.6", "endpoints":[{"port":6379, "private_network":{"id":"57b5e2fc-394a-4d88-88f2-9f966bdf429e", "service_ips":["172.16.16.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.16.2"], "id":"595bc3a9-da3d-46ea-8f40-f8915e6ea907"}, {"port":6379, "private_network":{"id":"8882267f-c8f2-419d-a9b7-42a0d0bb49fa", "service_ips":["10.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"}, "ips":["10.16.4.1"], "id":"bf610fa0-80a4-47d0-af4d-4220d73104c7"}], "tags":[], "node_type":"RED1-micro", "created_at":"2026-10-08T08:18:01.628435Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1", "srn":"srn://redis.scw.eu/zones/fr-par-1/clusters/945a253e-55de-4c30-b389-cc8747cdb430"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.640716041s
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/945a253e-55de-4c30-b389-cc8747cdb430
        method: GET
      response:
        body: '{"id":"945a253e-55de-4c30-b389-cc8747cdb430", "name":"1-ipam-1-static-priv-endpoints", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "status":"provisioning", "version":"8.6.6", "endpoints":[{"port":6379, "private_network":{"id":"57b5e2fc-394a-4d88-88f2-9f966b[...]
[...]
    - id: 25
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/945a253e-55de-4c30-b389-cc8747cdb430
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"945a253e-55de-4c30-b389-cc8747cdb430","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 29.60131ms
    - id: 26
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/57b5e2fc-394a-4d88-88f2-9f966bdf429e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 2.169984669s
[...]
