---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"1fca56bf-4dc0-40af-b5de-124d3fdb733e", "name":"cli-pn-nifty-bose", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-08-07T09:54:28.732085Z", "updated_at":"2025-08-07T09:54:28.732085Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"cc5119f7-cb96-4b50-949b-87999c8d4126", "created_at":"2025-08-07T09:54:28.732085Z", "updated_at":"2025-08-07T09:54:28.732085Z", "subnet":"172.16.32.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"1fca56bf-4dc0-40af-b5de-124d3fdb733e", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"8a244a59-68b8-4056-878b-dfad613d0568", "created_at":"2025-08-07T09:54:28.732085Z", "updated_at":"2025-08-07T09:54:28.732085Z", "subnet":"fd63:256c:45f7:f202::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"1fca56bf-4dc0-40af-b5de-124d3fdb733e", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"1fca56bf-4dc0-40af-b5de-124d3fdb733e", "name":"cli-pn-nifty-bose", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-08-07T09:54:28.732085Z", "updated_at":"2025-08-07T09:54:28.732085Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"cc5119f7-cb96-4b50-949b-87999c8d4126", "created_at":"2025-08-07T09:54:28.732085Z", "updated_at":"2025-08-07T09:54:28.732085Z", "subnet":"172.16.32.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"1fca56bf-4dc0-40af-b5de-124d3fdb733e", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"8a244a59-68b8-4056-878b-dfad613d0568", "created_at":"2025-08-07T09:54:28.732085Z", "updated_at":"2025-08-07T09:54:28.732085Z", "subnet":"fd63:256c:45f7:f202::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"1fca56bf-4dc0-40af-b5de-124d3fdb733e", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 859.481505ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"c0157269-cb3f-4527-b25a-296dbb144704", "name":"1-ipam-priv-endpoint", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"1fca56bf-4dc0-40af-b5de-124d3fdb733e", "service_ips":["172.16.32.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.32.2"], "id":"eb26830c-9371-41ac-b2a7-3a4fde9a0abe"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-08-07T09:55:29.772257Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"id":"c0157269-cb3f-4527-b25a-296dbb144704", "name":"1-ipam-priv-endpoint", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"1fca56bf-4dc0-40af-b5de-124d3fdb733e", "service_ips":["172.16.32.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.32.2"], "id":"eb26830c-9371-41ac-b2a7-3a4fde9a0abe"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-08-07T09:55:29.772257Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.48376104s
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"c0157269-cb3f-4527-b25a-296dbb144704", "name":"1-ipam-priv-endpoint", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"1fca56bf-4dc0-40af-b5de-124d3fdb733e", "service_ips":["172.16.32.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.32.2"], "id":"eb26830c-9371-41ac-b2a7-3a4fde9a0abe"}], "tags":[],[...]
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"c0157269-cb3f-4527-b25a-296dbb144704","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/c0157269-cb3f-4527-b25a-296dbb144704
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"c0157269-cb3f-4527-b25a-296dbb144704","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.084061ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/1fca56bf-4dc0-40af-b5de-124d3fdb733e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.244887009s
