---
version: 2
interactions:
- request:
    body: '{"id":"eacb55ae-6fce-4205-bce7-7dd55f710b11","name":"cli-pn-goofy-kowalevski","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-11-23T13:33:57.429985Z","updated_at":"2023-11-23T13:33:57.429985Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"bb663156-628e-4c95-9726-07b0b1814487","created_at":"2023-11-23T13:33:57.429985Z","updated_at":"2023-11-23T13:33:57.429985Z","subnet":"172.16.228.0/22"},{"id":"5690f806-aa37-4b67-adf3-b96896b63783","created_at":"2023-11-23T13:33:57.429985Z","updated_at":"2023-11-23T13:33:57.429985Z","subnet":"fd63:256c:45f7:5293::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"eacb55ae-6fce-4205-bce7-7dd55f710b11","name":"cli-pn-goofy-kowalevski","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-11-23T13:33:57.429985Z","updated_at":"2023-11-23T13:33:57.429985Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"bb663156-628e-4c95-9726-07b0b1814487","created_at":"2023-11-23T13:33:57.429985Z","updated_at":"2023-11-23T13:33:57.429985Z","subnet":"172.16.228.0/22"},{"id":"5690f806-aa37-4b67-adf3-b96896b63783","created_at":"2023-11-23T13:33:57.429985Z","updated_at":"2023-11-23T13:33:57.429985Z","subnet":"fd63:256c:45f7:5293::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"id":"79e54364-9013-427d-9e56-8085da929b70","name":"1-ipam-1-static-priv-endpoints","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"7.0.5","endpoints":[{"port":6379,"private_network":{"id":"72e054f3-77b4-4e65-b89d-7c955fe92d58","service_ips":["10.16.4.1/22"],"provisioning_mode":"static","zone":"fr-par-1"},"ips":["10.16.4.1"],"id":"0b9e8061-e10c-4fb8-815d-1dfd94bf2745"},{"port":6379,"private_network":{"id":"eacb55ae-6fce-4205-bce7-7dd55f710b11","service_ips":["172.16.228.2/22"],"provisioning_mode":"ipam","zone":"fr-par-1"},"ips":["172.16.228.2"],"id":"c0be2bbb-d4d6-4043-9aaa-f8a96e1685dc"}],"tags":[],"node_type":"RED1-micro","created_at":"2023-11-23T13:34:59.570781Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"admin","upgradable_versions":[],"zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"79e54364-9013-427d-9e56-8085da929b70","name":"1-ipam-1-static-priv-endpoints","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"7.0.5","endpoints":[{"port":6379,"private_network":{"id":"72e054f3-77b4-4e65-b89d-7c955fe92d58","service_ips":["10.16.4.1/22"],"provisioning_mode":"static","zone":"fr-par-1"},"ips":["10.16.4.1"],"id":"0b9e8061-e10c-4fb8-815d-1dfd94bf2745"},{"port":6379,"private_network":{"id":"eacb55ae-6fce-4205-bce7-7dd55f710b11","service_ips":["172.16.228.2/22"],"provisioning_mode":"ipam","zone":"fr-par-1"},"ips":["172.16.228.2"],"id":"c0be2bbb-d4d6-4043-9aaa-f8a96e1685dc"}],"tags":[],"node_type":"RED1-micro","created_at":"2023-11-23T13:34:59.570781Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"admin","upgradable_versions":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"id":"79e54364-9013-427d-9e56-8085da929b70","name":"1-ipam-1-static-priv-endpoints","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"7.0.5","endpoints":[{"port":6379,"private_network":{"id":"72e054f3-77b4-4e65-b89d-7c955fe92d58","service_ips":["10.16.4.1/22"],"provisioning_mode":"static","zone":"fr-par-1"},"ips":["10.16.4.1"],"id":"0b9e8061-e10c-4fb8-815d-1dfd94bf2745"},{"port":6379,"private_network":{"id":"eacb55ae-6fce-4205-bce7-7dd5[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"79e54364-9013-427d-9e56-8085da929b70","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/79e54364-9013-427d-9e56-8085da929b70
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"79e54364-9013-427d-9e56-8085da929b70","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/eacb55ae-6fce-4205-bce7-7dd55f710b11
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
[...]
