---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"5406a5a6-8243-4480-a9b2-7caf81abe068", "name":"cli-pn-blissful-shamir", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T09:32:03.385627Z", "updated_at":"2025-07-24T09:32:03.385627Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"5af290f5-f209-4824-8cd8-5f26b53e62bc", "created_at":"2025-07-24T09:32:03.385627Z", "updated_at":"2025-07-24T09:32:03.385627Z", "subnet":"172.16.232.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"5406a5a6-8243-4480-a9b2-7caf81abe068", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"be4920f5-d424-4f14-8c75-614bef2b36cc", "created_at":"2025-07-24T09:32:03.385627Z", "updated_at":"2025-07-24T09:32:03.385627Z", "subnet":"fd63:256c:45f7:ffaf::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"5406a5a6-8243-4480-a9b2-7caf81abe068", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"5406a5a6-8243-4480-a9b2-7caf81abe068", "name":"cli-pn-blissful-shamir", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T09:32:03.385627Z", "updated_at":"2025-07-24T09:32:03.385627Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"5af290f5-f209-4824-8cd8-5f26b53e62bc", "created_at":"2025-07-24T09:32:03.385627Z", "updated_at":"2025-07-24T09:32:03.385627Z", "subnet":"172.16.232.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"5406a5a6-8243-4480-a9b2-7caf81abe068", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"be4920f5-d424-4f14-8c75-614bef2b36cc", "created_at":"2025-07-24T09:32:03.385627Z", "updated_at":"2025-07-24T09:32:03.385627Z", "subnet":"fd63:256c:45f7:ffaf::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"5406a5a6-8243-4480-a9b2-7caf81abe068", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 821.358738ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"69d0f201-fb9e-46f5-aeba-4d273e1534fc", "name":"2-ipam-priv-endpoints", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"9e1ae23c-951b-416b-9d6e-05e29169a151", "service_ips":["172.16.228.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.228.2"], "id":"0f744a84-4a53-4d65-a3f0-0a1aab454a45"}, {"port":6379, "private_network":{"id":"5406a5a6-8243-4480-a9b2-7caf81abe068", "service_ips":["172.16.232.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.232.2"], "id":"e92b3a58-7179-4452-ba5f-ac53331455e1"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-24T09:33:05.150336Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"id":"69d0f201-fb9e-46f5-aeba-4d273e1534fc", "name":"2-ipam-priv-endpoints", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"9e1ae23c-951b-416b-9d6e-05e29169a151", "service_ips":["172.16.228.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.228.2"], "id":"0f744a84-4a53-4d65-a3f0-0a1aab454a45"}, {"port":6379, "private_network":{"id":"5406a5a6-8243-4480-a9b2-7caf81abe068", "service_ips":["172.16.232.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.232.2"], "id":"e92b3a58-7179-4452-ba5f-ac53331455e1"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-24T09:33:05.150336Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.967936909s
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"id":"69d0f201-fb9e-46f5-aeba-4d273e1534fc", "name":"2-ipam-priv-endpoints", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"9e1ae23c-951b-416b-9d6e-05e29169a151", "service_ips":["172.16.228.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.228.2"], "id":"0f744a84-4a53-4d65-a3f0-0a1aab454a45"}, {"port":[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"69d0f201-fb9e-46f5-aeba-4d273e1534fc","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/69d0f201-fb9e-46f5-aeba-4d273e1534fc
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"69d0f201-fb9e-46f5-aeba-4d273e1534fc","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 38.10064ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5406a5a6-8243-4480-a9b2-7caf81abe068
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 3.072256022s
[...]
