---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-pn-ecstatic-merkle","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":null,"subnets":null,"default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/1823d5b9-88eb-46b1-92d7-21c147ff59af", "id":"1823d5b9-88eb-46b1-92d7-21c147ff59af", "name":"cli-pn-ecstatic-merkle", "tags":[], "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "created_at":"2026-10-08T08:09:51.405098Z", "updated_at":"2026-10-08T08:09:51.405098Z", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "subnets":[{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/d8e2c57e-2f9f-4c6c-afdf-765615414c4a", "id":"d8e2c57e-2f9f-4c6c-afdf-765615414c4a", "created_at":"2026-10-08T08:09:51.405098Z", "updated_at":"2026-10-08T08:09:51.405098Z", "subnet":"172.16.8.0/22", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "private_network_id":"1823d5b9-88eb-46b1-92d7-21c147ff59af", "vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964", "region":"fr-par"}, {"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/9dacf512-4e0b-469e-b280-b2652de95fcf", "id":"9dacf512-4e0b-469e-b280-b2652de95fcf", "created_at":"2026-10-08T08:09:51.405098Z", "updated_at":"2026-10-08T08:09:51.405098Z", "subnet":"fdb9:eb31:3ccc:b7c2::/64", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "private_network_id":"1823d5b9-88eb-46b1-92d7-21c147ff59af", "vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964", "region":"fr-par"}], "vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964", "dhcp_enabled":true, "default_route_propagation_enabled":false, "has_object_storage_private_access":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 675.663276ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 8.994514ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"1-ipam-priv-endpoint","version":"8.6.6","tags":null,"node_type":"RED1-micro","user_name":"admin","password":"P@sSw0Rd","acl_rules":null,"endpoints":[{"private_network":{"id":"1823d5b9-88eb-46b1-92d7-21c147ff59af","service_ips":null,"ipam_config":{}}}],"tls_enabled":false,"cluster_settings":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"id":"a85d9f45-b9d5-4d58-aa42-de2260e585f8", "name":"1-ipam-priv-endpoint", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "status":"provisioning", "version":"8.6.6", "endpoints":[{"port":6379, "private_network":{"id":"1823d5b9-88eb-46b1-92d7-21c147ff59af", "service_ips":["172.16.8.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.8.2"], "id":"d943b9fa-1947-456e-ab6b-0555bfd77b6d"}], "tags":[], "node_type":"RED1-micro", "created_at":"2026-10-08T08:10:52.459933Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1", "srn":"srn://redis.scw.eu/zones/fr-par-1/clusters/a85d9f45-b9d5-4d58-aa42-de2260e585f8"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.32289209s
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/a85d9f45-b9d5-4d58-aa42-de2260e585f8
        method: GET
      response:
        body: '{"id":"a85d9f45-b9d5-4d58-aa42-de2260e585f8", "name":"1-ipam-priv-endpoint", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "status":"provisioning", "version":"8.6.6", "endpoints":[{"port":6379, "private_network":{"id":"1823d5b9-88eb-46b1-92d7-21c147ff59af", "service_ips":["172.16.8.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.8.2"], "id":"d943b9fa-1947-456e-ab6b-0555bfd77b6d"}], "tags":[], "node_type":"RED1-micro", "created_at":"2026-10-08T08:10:52.459933Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1", "srn":"srn://redis.scw.eu/zones/fr-par-1/clusters/a85d9f45-b9d5-4d58-aa42-de2260e585f8"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 107.87495ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/a85d9f45-b9d5-4d58-aa42-de2260e585f8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"a85d9f45-b9d5-4d58-aa42-de2260e585f8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 34.402317ms
    - id: 30
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/1823d5b9-88eb-46b1-92d7-21c147ff59af
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 1.97845246s
