---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"1a93cecf-3fcb-44ca-8fd2-1a7d7e4e1aa2", "name":"cli-pn-eloquent-herschel", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-23T18:22:24.444201Z", "updated_at":"2025-07-23T18:22:24.444201Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"ae37a128-7d2c-4482-9862-5d3a72e5792e", "created_at":"2025-07-23T18:22:24.444201Z", "updated_at":"2025-07-23T18:22:24.444201Z", "subnet":"172.16.60.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"1a93cecf-3fcb-44ca-8fd2-1a7d7e4e1aa2", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"36f7ffd4-c712-4c2a-b156-548db6d2f1d0", "created_at":"2025-07-23T18:22:24.444201Z", "updated_at":"2025-07-23T18:22:24.444201Z", "subnet":"fd63:256c:45f7:febd::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"1a93cecf-3fcb-44ca-8fd2-1a7d7e4e1aa2", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"1a93cecf-3fcb-44ca-8fd2-1a7d7e4e1aa2", "name":"cli-pn-eloquent-herschel", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-23T18:22:24.444201Z", "updated_at":"2025-07-23T18:22:24.444201Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"ae37a128-7d2c-4482-9862-5d3a72e5792e", "created_at":"2025-07-23T18:22:24.444201Z", "updated_at":"2025-07-23T18:22:24.444201Z", "subnet":"172.16.60.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"1a93cecf-3fcb-44ca-8fd2-1a7d7e4e1aa2", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"36f7ffd4-c712-4c2a-b156-548db6d2f1d0", "created_at":"2025-07-23T18:22:24.444201Z", "updated_at":"2025-07-23T18:22:24.444201Z", "subnet":"fd63:256c:45f7:febd::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"1a93cecf-3fcb-44ca-8fd2-1a7d7e4e1aa2", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 806.797267ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"7244cdb4-c52c-4b5e-8465-021603f41cc7", "name":"1-static-priv-endpoint", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"1a93cecf-3fcb-44ca-8fd2-1a7d7e4e1aa2", "service_ips":["172.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"}, "ips":["172.16.4.1"], "id":"c00b715a-fa2d-4686-a6a0-008b99fa04d0"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-23T18:23:25.485584Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"id":"7244cdb4-c52c-4b5e-8465-021603f41cc7", "name":"1-static-priv-endpoint", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"1a93cecf-3fcb-44ca-8fd2-1a7d7e4e1aa2", "service_ips":["172.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"}, "ips":["172.16.4.1"], "id":"c00b715a-fa2d-4686-a6a0-008b99fa04d0"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-23T18:23:25.485584Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.085537729s
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"7244cdb4-c52c-4b5e-8465-021603f41cc7", "name":"1-static-priv-endpoint", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"1a93cecf-3fcb-44ca-8fd2-1a7d7e4e1aa2", "service_ips":["172.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"}, "ips":["172.16.4.1"], "id":"c00b715a-fa2d-4686-a6a0-008b99fa04d0"}], "tags":[[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"7244cdb4-c52c-4b5e-8465-021603f41cc7","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/7244cdb4-c52c-4b5e-8465-021603f41cc7
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"7244cdb4-c52c-4b5e-8465-021603f41cc7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 45.063747ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/1a93cecf-3fcb-44ca-8fd2-1a7d7e4e1aa2
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 2.343900264s
