---
version: 1
interactions:
- request:
    body: '{"id":"f31f3694-d06e-47ea-ab60-ff6958f39b30", "name":"cli-pn-admiring-sinoussi",
      "tags":[], "organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "created_at":"2025-07-31T06:56:46.722004Z",
      "updated_at":"2025-07-31T06:56:46.722004Z", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "subnets":[{"id":"f051cb14-72df-4f09-8ca7-a4ed109d82a0", "created_at":"2025-07-31T06:56:46.722004Z",
      "updated_at":"2025-07-31T06:56:46.722004Z", "subnet":"172.16.96.0/22", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "private_network_id":"f31f3694-d06e-47ea-ab60-ff6958f39b30", "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"},
      {"id":"05c494e2-a939-4705-b0fb-3f8515c57a57", "created_at":"2025-07-31T06:56:46.722004Z",
      "updated_at":"2025-07-31T06:56:46.722004Z", "subnet":"fd5d:9132:befe:a25f::/64",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "private_network_id":"f31f3694-d06e-47ea-ab60-ff6958f39b30",
      "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"}], "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"f31f3694-d06e-47ea-ab60-ff6958f39b30", "name":"cli-pn-admiring-sinoussi",
      "tags":[], "organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "created_at":"2025-07-31T06:56:46.722004Z",
      "updated_at":"2025-07-31T06:56:46.722004Z", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "subnets":[{"id":"f051cb14-72df-4f09-8ca7-a4ed109d82a0", "created_at":"2025-07-31T06:56:46.722004Z",
      "updated_at":"2025-07-31T06:56:46.722004Z", "subnet":"172.16.96.0/22", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "private_network_id":"f31f3694-d06e-47ea-ab60-ff6958f39b30", "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"},
      {"id":"05c494e2-a939-4705-b0fb-3f8515c57a57", "created_at":"2025-07-31T06:56:46.722004Z",
      "updated_at":"2025-07-31T06:56:46.722004Z", "subnet":"fd5d:9132:befe:a25f::/64",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "private_network_id":"f31f3694-d06e-47ea-ab60-ff6958f39b30",
      "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"}], "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"61099418-0242-49de-9d2e-b99257cbbebe", "name":"1-ipam-priv-endpoint",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "status":"provisioning",
      "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"f31f3694-d06e-47ea-ab60-ff6958f39b30",
      "service_ips":["172.16.96.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"},
      "ips":["172.16.96.2"], "id":"c5f161ec-09bf-4b63-9e90-ad7c9a434e2d"}], "tags":[],
      "node_type":"RED1-micro", "created_at":"2025-07-31T06:57:47.919296Z", "updated_at":null,
      "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1,
      "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"61099418-0242-49de-9d2e-b99257cbbebe", "name":"1-ipam-priv-endpoint",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "status":"provisioning",
      "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"f31f3694-d06e-47ea-ab60-ff6958f39b30",
      "service_ips":["172.16.96.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"},
      "ips":["172.16.96.2"], "id":"c5f161ec-09bf-4b63-9e90-ad7c9a434e2d"}], "tags":[],
      "node_type":"RED1-micro", "created_at":"2025-07-31T06:57:47.919296Z", "updated_at":null,
      "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1,
      "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"61099418-0242-49de-9d2e-b99257cbbebe", "name":"1-ipam-priv-endpoint",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "status":"provisioning",
      "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"f31f3694-d06e-47ea-ab60-ff6958f39b30",
      "service_ips":["172.16.96.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"},
      "ips":["172.16.96.2"], "id":"c5f161ec-09bf-4b63-9e90-ad7c9a434e2d"}], "tags":[],
      "node_type":"RED1-mi[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"61099418-0242-49de-9d2e-b99257cbbebe","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/61099418-0242-49de-9d2e-b99257cbbebe
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"61099418-0242-49de-9d2e-b99257cbbebe","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f31f3694-d06e-47ea-ab60-ff6958f39b30
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
