---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-pn-flamboyant-shannon","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":null,"subnets":null,"default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"srn":"","id":"58a434fa-544b-44b3-a5a5-a79a18bb3d96","name":"cli-pn-flamboyant-shannon","tags":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-09-21T14:40:16.794057Z","updated_at":"2026-09-21T14:40:16.794057Z","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","subnets":[{"srn":"","id":"b1a0472a-fe18-496d-ba43-4510ca1a349f","created_at":"2026-09-21T14:40:16.794057Z","updated_at":"2026-09-21T14:40:16.794057Z","subnet":"172.16.20.0/22","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","private_network_id":"58a434fa-544b-44b3-a5a5-a79a18bb3d96","vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964","region":"fr-par"},{"srn":"","id":"8e8fa04f-f1c4-4ed8-b7ed-73a4efaf7e10","created_at":"2026-09-21T14:40:16.794057Z","updated_at":"2026-09-21T14:40:16.794057Z","subnet":"fdb9:eb31:3ccc:dc1c::/64","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","private_network_id":"58a434fa-544b-44b3-a5a5-a79a18bb3d96","vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964","region":"fr-par"}],"vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964","dhcp_enabled":true,"default_route_propagation_enabled":false,"has_object_storage_private_access":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 714.992958ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 21.136689ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"1-ipam-priv-endpoint","version":"8.6.6","tags":null,"node_type":"RED1-micro","user_name":"admin","password":"P@sSw0Rd","acl_rules":null,"endpoints":[{"private_network":{"id":"58a434fa-544b-44b3-a5a5-a79a18bb3d96","service_ips":null,"ipam_config":{}}}],"tls_enabled":false,"cluster_settings":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"id":"df0d572e-1145-4f94-aeb2-9a0fc7f6598c","name":"1-ipam-priv-endpoint","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"provisioning","version":"8.6.6","endpoints":[{"port":6379,"private_network":{"id":"58a434fa-544b-44b3-a5a5-a79a18bb3d96","service_ips":["172.16.20.2/22"],"provisioning_mode":"ipam","zone":"fr-par-1"},"ips":["172.16.20.2"],"id":"577f761e-c01c-4c62-8b2c-d6a36b912bc2"}],"tags":[],"node_type":"RED1-micro","created_at":"2026-09-21T14:41:17.883415Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"admin","upgradable_versions":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.485110856s
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/df0d572e-1145-4f94-aeb2-9a0fc7f6598c
        method: GET
      response:
        body: '{"id":"df0d572e-1145-4f94-aeb2-9a0fc7f6598c","name":"1-ipam-priv-endpoint","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"provisioning","version":"8.6.6","endpoints":[{"port":6379,"private_network":{"id":"58a434fa-544b-44b3-a5a5-a79a18bb3d96","service_ips":["172.16.20.2/22"],"provisioning_mode":"ipam","zone":"fr-par-1"},"ips":["172.16.20.2"],"id":"577f761e-c01c-4c62-8b2c-d6a36b912bc2"}],"tags":[],"node_type":"RED1-micro","created_at":"2026-09-21T14:41:17.883415Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"admin","upgradable_versions":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 571.804596ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/df0d572e-1145-4f94-aeb2-9a0fc7f6598c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"df0d572e-1145-4f94-aeb2-9a0fc7f6598c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 67.491774ms
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/58a434fa-544b-44b3-a5a5-a79a18bb3d96
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 2.167819227s
