---
version: 1
interactions:
- request:
    body: '{"id":"5016c024-9aa4-42de-bc16-0981f419889b", "name":"cli-pn-confident-chandrasekhar",
      "tags":[], "organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "created_at":"2025-10-28T05:21:11.981407Z",
      "updated_at":"2025-10-28T05:21:11.981407Z", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "subnets":[{"id":"c63859e2-c3cf-4da7-b561-ee6c247a14bb", "created_at":"2025-10-28T05:21:11.981407Z",
      "updated_at":"2025-10-28T05:21:11.981407Z", "subnet":"172.16.96.0/22", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "private_network_id":"5016c024-9aa4-42de-bc16-0981f419889b", "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"},
      {"id":"96a23a4d-af2e-4890-938d-aeff8807b8e7", "created_at":"2025-10-28T05:21:11.981407Z",
      "updated_at":"2025-10-28T05:21:11.981407Z", "subnet":"fd5d:9132:befe:20f9::/64",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "private_network_id":"5016c024-9aa4-42de-bc16-0981f419889b",
      "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"}], "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"5016c024-9aa4-42de-bc16-0981f419889b", "name":"cli-pn-confident-chandrasekhar",
      "tags":[], "organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "created_at":"2025-10-28T05:21:11.981407Z",
      "updated_at":"2025-10-28T05:21:11.981407Z", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "subnets":[{"id":"c63859e2-c3cf-4da7-b561-ee6c247a14bb", "created_at":"2025-10-28T05:21:11.981407Z",
      "updated_at":"2025-10-28T05:21:11.981407Z", "subnet":"172.16.96.0/22", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "private_network_id":"5016c024-9aa4-42de-bc16-0981f419889b", "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"},
      {"id":"96a23a4d-af2e-4890-938d-aeff8807b8e7", "created_at":"2025-10-28T05:21:11.981407Z",
      "updated_at":"2025-10-28T05:21:11.981407Z", "subnet":"fd5d:9132:befe:20f9::/64",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "private_network_id":"5016c024-9aa4-42de-bc16-0981f419889b",
      "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"}], "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"0dc62cf1-e394-405f-98ed-73902b5f883f", "name":"2-static-priv-endpoints",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "status":"provisioning",
      "version":"7.2.11", "endpoints":[{"port":6379, "private_network":{"id":"24f8bcc8-ad84-4f38-a018-8ff6c087eba3",
      "service_ips":["10.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"},
      "ips":["10.16.4.1"], "id":"87cbd5d0-7ea8-4148-94ef-5c8cf3a1b37a"}, {"port":6379,
      "private_network":{"id":"5016c024-9aa4-42de-bc16-0981f419889b", "service_ips":["172.16.4.1/22"],
      "provisioning_mode":"static", "zone":"fr-par-1"}, "ips":["172.16.4.1"], "id":"e0a39297-5213-4d9c-a550-a2c53c706f50"}],
      "tags":[], "node_type":"RED1-micro", "created_at":"2025-10-28T05:22:15.961011Z",
      "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[],
      "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"0dc62cf1-e394-405f-98ed-73902b5f883f", "name":"2-static-priv-endpoints",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "status":"provisioning",
      "version":"7.2.11", "endpoints":[{"port":6379, "private_network":{"id":"24f8bcc8-ad84-4f38-a018-8ff6c087eba3",
      "service_ips":["10.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"},
      "ips":["10.16.4.1"], "id":"87cbd5d0-7ea8-4148-94ef-5c8cf3a1b37a"}, {"port":6379,
      "private_network":{"id":"5016c024-9aa4-42de-bc16-0981f419889b", "service_ips":["172.16.4.1/22"],
      "provisioning_mode":"static", "zone":"fr-par-1"}, "ips":["172.16.4.1"], "id":"e0a39297-5213-4d9c-a550-a2c53c706f50"}],
      "tags":[], "node_type":"RED1-micro", "created_at":"2025-10-28T05:22:15.961011Z",
      "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[],
      "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"0dc62cf1-e394-405f-98ed-73902b5f883f", "name":"2-static-priv-endpoints",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "status":"provisioning",
      "version":"7.2.11", "endpoints":[{"port":6379, "private_network":{"id":"24f8bcc8-ad84-4f38-a018-8ff6c087eba3",
      "service_ips":["10.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"},
      "ips":["10.16.4.1"], "id":"87cbd5d0-7ea8-4148-94ef-5c8cf3a1b37a"}, {"port":6379,
      "private_network[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"0dc62cf1-e394-405f-98ed-73902b5f883f","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/0dc62cf1-e394-405f-98ed-73902b5f883f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"0dc62cf1-e394-405f-98ed-73902b5f883f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5016c024-9aa4-42de-bc16-0981f419889b
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
