---
version: 1
interactions:
- request:
    body: '{"id":"50070cff-34e2-4bc0-96d2-c305dce86277","name":"cli-pn-goofy-keller","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-11-23T13:33:57.362531Z","updated_at":"2023-11-23T13:33:57.362531Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"2822c814-af02-47e9-a223-37984dfaa608","created_at":"2023-11-23T13:33:57.362531Z","updated_at":"2023-11-23T13:33:57.362531Z","subnet":"172.16.208.0/22"},{"id":"29fc03af-a917-40d7-b0f9-9088694670a1","created_at":"2023-11-23T13:33:57.362531Z","updated_at":"2023-11-23T13:33:57.362531Z","subnet":"fd63:256c:45f7:15cf::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"50070cff-34e2-4bc0-96d2-c305dce86277","name":"cli-pn-goofy-keller","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-11-23T13:33:57.362531Z","updated_at":"2023-11-23T13:33:57.362531Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"2822c814-af02-47e9-a223-37984dfaa608","created_at":"2023-11-23T13:33:57.362531Z","updated_at":"2023-11-23T13:33:57.362531Z","subnet":"172.16.208.0/22"},{"id":"29fc03af-a917-40d7-b0f9-9088694670a1","created_at":"2023-11-23T13:33:57.362531Z","updated_at":"2023-11-23T13:33:57.362531Z","subnet":"fd63:256c:45f7:15cf::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"7033bf65-a914-4612-98dd-20e677f7e040","name":"2-ipam-priv-endpoints","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"7.0.5","endpoints":[{"port":6379,"private_network":{"id":"0bb418be-5e8b-4150-ad3c-ff807890bcdc","service_ips":["172.16.220.2/22"],"provisioning_mode":"ipam","zone":"fr-par-1"},"ips":["172.16.220.2"],"id":"003d16e6-7539-4058-9e59-b81b3fe8a4e6"},{"port":6379,"private_network":{"id":"50070cff-34e2-4bc0-96d2-c305dce86277","service_ips":["172.16.208.2/22"],"provisioning_mode":"ipam","zone":"fr-par-1"},"ips":["172.16.208.2"],"id":"e6ac24ff-015a-4d2a-a29e-4b2eae03b259"}],"tags":[],"node_type":"RED1-micro","created_at":"2023-11-23T13:34:59.510053Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"admin","upgradable_versions":[],"zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"7033bf65-a914-4612-98dd-20e677f7e040","name":"2-ipam-priv-endpoints","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"7.0.5","endpoints":[{"port":6379,"private_network":{"id":"0bb418be-5e8b-4150-ad3c-ff807890bcdc","service_ips":["172.16.220.2/22"],"provisioning_mode":"ipam","zone":"fr-par-1"},"ips":["172.16.220.2"],"id":"003d16e6-7539-4058-9e59-b81b3fe8a4e6"},{"port":6379,"private_network":{"id":"50070cff-34e2-4bc0-96d2-c305dce86277","service_ips":["172.16.208.2/22"],"provisioning_mode":"ipam","zone":"fr-par-1"},"ips":["172.16.208.2"],"id":"e6ac24ff-015a-4d2a-a29e-4b2eae03b259"}],"tags":[],"node_type":"RED1-micro","created_at":"2023-11-23T13:34:59.510053Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"admin","upgradable_versions":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"7033bf65-a914-4612-98dd-20e677f7e040","name":"2-ipam-priv-endpoints","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"7.0.5","endpoints":[{"port":6379,"private_network":{"id":"0bb418be-5e8b-4150-ad3c-ff807890bcdc","service_ips":["172.16.220.2/22"],"provisioning_mode":"ipam","zone":"fr-par-1"},"ips":["172.16.220.2"],"id":"003d16e6-7539-4058-9e59-b81b3fe8a4e6"},{"port":6379,"private_network":{"id":"50070cff-34e2-4bc0-96d2-c305dce86[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"7033bf65-a914-4612-98dd-20e677f7e040","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/7033bf65-a914-4612-98dd-20e677f7e040
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"7033bf65-a914-4612-98dd-20e677f7e040","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/50070cff-34e2-4bc0-96d2-c305dce86277
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
