---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"bda329b1-15cc-4f8d-99c0-d5ea18a4c7a5", "name":"1-pub-endpoint", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "public_network":{}, "ips":[], "id":"fee8368e-3947-4a6a-bbe0-d54ed974ab44"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-22T15:55:37.443472Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"id":"bda329b1-15cc-4f8d-99c0-d5ea18a4c7a5", "name":"1-pub-endpoint", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "public_network":{}, "ips":[], "id":"fee8368e-3947-4a6a-bbe0-d54ed974ab44"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-22T15:55:37.443472Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 812.917015ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"bda329b1-15cc-4f8d-99c0-d5ea18a4c7a5", "name":"1-pub-endpoint", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "public_network":{}, "ips":[], "id":"fee8368e-3947-4a6a-bbe0-d54ed974ab44"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-22T15:55:37.443472Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/bda329b1-15cc-4f8d-99c0-d5ea18a4c7a5
        method: GET
      response:
        body: '{"id":"bda329b1-15cc-4f8d-99c0-d5ea18a4c7a5", "name":"1-pub-endpoint", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "public_network":{}, "ips":[], "id":"fee8368e-3947-4a6a-bbe0-d54ed974ab44"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-22T15:55:37.443472Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.869258ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"bda329b1-15cc-4f8d-99c0-d5ea18a4c7a5","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/bda329b1-15cc-4f8d-99c0-d5ea18a4c7a5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"bda329b1-15cc-4f8d-99c0-d5ea18a4c7a5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.015127ms
