---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-persist","version":"8.6.6","node_type":"RED1-micro","user_name":"admin","password":"P@sSw0Rd"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"id":"537d9e4a-93d3-4c31-b4b1-0e0b1a2c3d4e","name":"cli-persist","project_id":"11111111-1111-1111-1111-111111111111","status":"ready","version":"8.6.6","endpoints":[{"port":6379,"public_network":{},"ips":["195.154.71.12"],"id":"94cdd5cc-141b-450f-b1e5-8e787865aa00"}],"tags":[],"node_type":"RED1-micro","created_at":"2026-10-08T07:52:58.925755Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"admin","upgradable_versions":[],"zone":"fr-par-1","srn":"srn://redis.scw.eu/zones/fr-par-1/clusters/537d9e4a-93d3-4c31-b4b1-0e0b1a2c3d4e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 10ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"cli","project_id":"11111111-1111-1111-1111-111111111111","path":"/redis/fr-par-1/537d9e4a-93d3-4c31-b4b1-0e0b1a2c3d4e/admin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"8e0d4c2a-1b2c-3d4e-5f60-718293a4b5c6","name":"cli","status":"ready","project_id":"11111111-1111-1111-1111-111111111111","path":"/redis/fr-par-1/537d9e4a-93d3-4c31-b4b1-0e0b1a2c3d4e/admin"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"data":"eyJ1c2VybmFtZSI6ImFkbWluIiwicGFzc3dvcmQiOiJQQHNTdzBSZCJ9"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8e0d4c2a-1b2c-3d4e-5f60-718293a4b5c6/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"8e0d4c2a-1b2c-3d4e-5f60-718293a4b5c6","status":"enabled"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50ms
