---
version: 1
interactions:
- request:
    body: '{"id":"9e3c45a3-2e2c-4684-8bb2-0f2f4d92c7f9", "name":"cli-pn-brave-satoshi",
      "tags":[], "organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "created_at":"2025-07-31T06:56:46.848396Z",
      "updated_at":"2025-07-31T06:56:46.848396Z", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "subnets":[{"id":"2291d0e8-9a68-4aee-8e3c-890fd0d0346d", "created_at":"2025-07-31T06:56:46.848396Z",
      "updated_at":"2025-07-31T06:56:46.848396Z", "subnet":"172.16.104.0/22", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "private_network_id":"9e3c45a3-2e2c-4684-8bb2-0f2f4d92c7f9", "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"},
      {"id":"e8ddcf01-1b0f-4271-8a52-d905c68a0dd7", "created_at":"2025-07-31T06:56:46.848396Z",
      "updated_at":"2025-07-31T06:56:46.848396Z", "subnet":"fd5d:9132:befe:4662::/64",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "private_network_id":"9e3c45a3-2e2c-4684-8bb2-0f2f4d92c7f9",
      "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"}], "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"9e3c45a3-2e2c-4684-8bb2-0f2f4d92c7f9", "name":"cli-pn-brave-satoshi",
      "tags":[], "organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "created_at":"2025-07-31T06:56:46.848396Z",
      "updated_at":"2025-07-31T06:56:46.848396Z", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "subnets":[{"id":"2291d0e8-9a68-4aee-8e3c-890fd0d0346d", "created_at":"2025-07-31T06:56:46.848396Z",
      "updated_at":"2025-07-31T06:56:46.848396Z", "subnet":"172.16.104.0/22", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "private_network_id":"9e3c45a3-2e2c-4684-8bb2-0f2f4d92c7f9", "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"},
      {"id":"e8ddcf01-1b0f-4271-8a52-d905c68a0dd7", "created_at":"2025-07-31T06:56:46.848396Z",
      "updated_at":"2025-07-31T06:56:46.848396Z", "subnet":"fd5d:9132:befe:4662::/64",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "private_network_id":"9e3c45a3-2e2c-4684-8bb2-0f2f4d92c7f9",
      "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"}], "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"158af3cd-9ab3-47d9-bb84-79046130b763", "name":"1-ipam-1-static-priv-endpoints",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "status":"provisioning",
      "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"9e3c45a3-2e2c-4684-8bb2-0f2f4d92c7f9",
      "service_ips":["172.16.104.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"},
      "ips":["172.16.104.2"], "id":"2dccaba8-eccb-452f-a079-b7a49c1aa1f6"}, {"port":6379,
      "private_network":{"id":"efee6ff6-2f73-4a6c-a294-a4eadb2a7edd", "service_ips":["10.16.4.1/22"],
      "provisioning_mode":"static", "zone":"fr-par-1"}, "ips":["10.16.4.1"], "id":"d439cc7e-145a-430a-8809-bc6d9430a482"}],
      "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-31T06:57:52.498744Z",
      "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[],
      "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"158af3cd-9ab3-47d9-bb84-79046130b763", "name":"1-ipam-1-static-priv-endpoints",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "status":"provisioning",
      "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"9e3c45a3-2e2c-4684-8bb2-0f2f4d92c7f9",
      "service_ips":["172.16.104.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"},
      "ips":["172.16.104.2"], "id":"2dccaba8-eccb-452f-a079-b7a49c1aa1f6"}, {"port":6379,
      "private_network":{"id":"efee6ff6-2f73-4a6c-a294-a4eadb2a7edd", "service_ips":["10.16.4.1/22"],
      "provisioning_mode":"static", "zone":"fr-par-1"}, "ips":["10.16.4.1"], "id":"d439cc7e-145a-430a-8809-bc6d9430a482"}],
      "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-31T06:57:52.498744Z",
      "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[],
      "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"158af3cd-9ab3-47d9-bb84-79046130b763", "name":"1-ipam-1-static-priv-endpoints",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "status":"provisioning",
      "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"9e3c45a3-2e2c-4684-8bb2-0f2f4d92c7f9",
      "service_ips":["172.16.104.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"},
      "ips":["172.16.104.2"], "id":"2dccaba8-eccb-452f-a079-b7a49c1aa1f6"}, {"port":6379,
      "priva[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"158af3cd-9ab3-47d9-bb84-79046130b763","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/158af3cd-9ab3-47d9-bb84-79046130b763
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"158af3cd-9ab3-47d9-bb84-79046130b763","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9e3c45a3-2e2c-4684-8bb2-0f2f4d92c7f9
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
