---
version: 2
interactions:
- request:
    body: '{"id":"272416ea-cbac-4560-906a-e31a8b37f5b8","name":"cli-pn-practical-benz","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-11-23T13:27:15.926509Z","updated_at":"2023-11-23T13:27:15.926509Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"a1f4aeff-f085-44c4-8ff1-0221ad0c25d6","created_at":"2023-11-23T13:27:15.926509Z","updated_at":"2023-11-23T13:27:15.926509Z","subnet":"172.16.220.0/22"},{"id":"eceaabad-9987-43ad-9769-fef6bd4c68a4","created_at":"2023-11-23T13:27:15.926509Z","updated_at":"2023-11-23T13:27:15.926509Z","subnet":"fd63:256c:45f7:5c80::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"272416ea-cbac-4560-906a-e31a8b37f5b8","name":"cli-pn-practical-benz","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-11-23T13:27:15.926509Z","updated_at":"2023-11-23T13:27:15.926509Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"a1f4aeff-f085-44c4-8ff1-0221ad0c25d6","created_at":"2023-11-23T13:27:15.926509Z","updated_at":"2023-11-23T13:27:15.926509Z","subnet":"172.16.220.0/22"},{"id":"eceaabad-9987-43ad-9769-fef6bd4c68a4","created_at":"2023-11-23T13:27:15.926509Z","updated_at":"2023-11-23T13:27:15.926509Z","subnet":"fd63:256c:45f7:5c80::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"details":[{"argument_name":"endpoints.private_network","help_message":"You
      must specify an ipam_config or a service_ips","reason":"constraint"}],"message":"invalid
      argument(s)","type":"invalid_arguments"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"details":[{"argument_name":"endpoints.private_network","help_message":"You
      must specify an ipam_config or a service_ips","reason":"constraint"}],"message":"invalid
      argument(s)","type":"invalid_arguments"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/272416ea-cbac-4560-906a-e31a8b37f5b8
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
