---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-pn-flamboyant-archimedes","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":null,"subnets":null,"default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/f5bb5982-99c3-4d20-be81-c4d4c2d76332", "id":"f5bb5982-99c3-4d20-be81-c4d4c2d76332", "name":"cli-pn-flamboyant-archimedes", "tags":[], "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "created_at":"2026-10-08T07:57:48.582345Z", "updated_at":"2026-10-08T07:57:48.582345Z", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "subnets":[{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/74ffc9a0-261c-4e8a-8cdf-dd95f08d2acb", "id":"74ffc9a0-261c-4e8a-8cdf-dd95f08d2acb", "created_at":"2026-10-08T07:57:48.582345Z", "updated_at":"2026-10-08T07:57:48.582345Z", "subnet":"172.16.8.0/22", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "private_network_id":"f5bb5982-99c3-4d20-be81-c4d4c2d76332", "vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964", "region":"fr-par"}, {"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/4302b3dd-aaef-402f-99a6-3b40298e72d4", "id":"4302b3dd-aaef-402f-99a6-3b40298e72d4", "created_at":"2026-10-08T07:57:48.582345Z", "updated_at":"2026-10-08T07:57:48.582345Z", "subnet":"fdb9:eb31:3ccc:86f7::/64", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "private_network_id":"f5bb5982-99c3-4d20-be81-c4d4c2d76332", "vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964", "region":"fr-par"}], "vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964", "dhcp_enabled":true, "default_route_propagation_enabled":false, "has_object_storage_private_access":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 669.349009ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 13.103143ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"2-static-priv-endpoints","version":"8.6.6","tags":null,"node_type":"RED1-micro","user_name":"admin","password":"P@sSw0Rd","acl_rules":null,"endpoints":[{"private_network":{"id":"f5bb5982-99c3-4d20-be81-c4d4c2d76332","service_ips":["172.16.4.1/22"],"ipam_config":null}},{"private_network":{"id":"00d31fc1-345f-4cdf-b5b4-05fe968e63d6","service_ips":["10.16.4.1/22"],"ipam_config":null}}],"tls_enabled":false,"cluster_settings":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"id":"c1ccf2fb-d2c0-41bc-bcb6-543e4e48069f", "name":"2-static-priv-endpoints", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "status":"provisioning", "version":"8.6.6", "endpoints":[{"port":6379, "private_network":{"id":"00d31fc1-345f-4cdf-b5b4-05fe968e63d6", "service_ips":["10.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"}, "ips":["10.16.4.1"], "id":"8dc4ba41-113d-4bcb-abb8-f8634e46a122"}, {"port":6379, "private_network":{"id":"f5bb5982-99c3-4d20-be81-c4d4c2d76332", "service_ips":["172.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"}, "ips":["172.16.4.1"], "id":"d2d8872e-3ce4-455e-b709-001cd3e21867"}], "tags":[], "node_type":"RED1-micro", "created_at":"2026-10-08T07:58:50.176328Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1", "srn":"srn://redis.scw.eu/zones/fr-par-1/clusters/c1ccf2fb-d2c0-41bc-bcb6-543e4e48069f"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.303304501s
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/c1ccf2fb-d2c0-41bc-bcb6-543e4e48069f
        method: GET
      response:
        body: '{"id":"c1ccf2fb-d2c0-41bc-bcb6-543e4e48069f", "name":"2-static-priv-endpoints", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "status":"provisioning", "version":"8.6.6", "endpoints":[{"port":6379, "private_network":{"id":"00d31fc1-345f-4cdf-b5b4-05fe968e63d6"[...]
[...]
    - id: 27
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/c1ccf2fb-d2c0-41bc-bcb6-543e4e48069f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"c1ccf2fb-d2c0-41bc-bcb6-543e4e48069f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 37.992334ms
    - id: 28
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f5bb5982-99c3-4d20-be81-c4d4c2d76332
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 2.089450102s
[...]
