---
version: 1
interactions:
- request:
    body: '{"total_count":1, "versions":[{"version":"7.2.11", "end_of_life_at":"2026-02-28T00:00:00Z",
      "available_settings":[{"name":"tcp-keepalive", "default_value":"300", "type":"INT",
      "description":"The specified value (in seconds) is the period used to send ACKs.",
      "max_value":65536, "min_value":null, "regex":null, "deprecated":false}, {"name":"maxclients",
      "default_value":"10000", "type":"INT", "description":"Set the max number of
      connected clients at the same time.", "max_value":65536, "min_value":100, "regex":null,
      "deprecated":false}, {"name":"maxmemory-policy", "default_value":"noeviction",
      "type":"STRING", "description":"How Redis will select what to remove when maxmemory
      is reached: https://redis.io/topics/lru-cache.", "max_value":null, "min_value":null,
      "regex":"volatile-lru|[...]
