---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"ed023e0e-43a6-4104-bb9e-d20be8a94254", "name":"cli-pn-suspicious-robinson", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T12:19:53.415882Z", "updated_at":"2025-07-24T12:19:53.415882Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"1e72212b-83a5-441f-aa6f-c9d762c5d189", "created_at":"2025-07-24T12:19:53.415882Z", "updated_at":"2025-07-24T12:19:53.415882Z", "subnet":"172.16.232.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"ed023e0e-43a6-4104-bb9e-d20be8a94254", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"2c9b1d18-562b-4737-8c40-3ed92139e33f", "created_at":"2025-07-24T12:19:53.415882Z", "updated_at":"2025-07-24T12:19:53.415882Z", "subnet":"fd63:256c:45f7:7021::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"ed023e0e-43a6-4104-bb9e-d20be8a94254", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"ed023e0e-43a6-4104-bb9e-d20be8a94254", "name":"cli-pn-suspicious-robinson", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T12:19:53.415882Z", "updated_at":"2025-07-24T12:19:53.415882Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"1e72212b-83a5-441f-aa6f-c9d762c5d189", "created_at":"2025-07-24T12:19:53.415882Z", "updated_at":"2025-07-24T12:19:53.415882Z", "subnet":"172.16.232.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"ed023e0e-43a6-4104-bb9e-d20be8a94254", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"2c9b1d18-562b-4737-8c40-3ed92139e33f", "created_at":"2025-07-24T12:19:53.415882Z", "updated_at":"2025-07-24T12:19:53.415882Z", "subnet":"fd63:256c:45f7:7021::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"ed023e0e-43a6-4104-bb9e-d20be8a94254", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 768.620275ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"aeedc6fd-1ce9-4f1a-8ed9-7b153d9a6b1d", "name":"1-ipam-1-static-priv-endpoints", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"ed023e0e-43a6-4104-bb9e-d20be8a94254", "service_ips":["172.16.232.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.232.2"], "id":"25490e2b-b73c-4667-945a-2960f95b7f38"}, {"port":6379, "private_network":{"id":"b6d6e454-7b0f-4502-af53-78a930f62887", "service_ips":["10.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"}, "ips":["10.16.4.1"], "id":"bf685b6a-bcd9-4fb9-b8f3-49548703c6ab"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-24T12:20:55.218902Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"id":"aeedc6fd-1ce9-4f1a-8ed9-7b153d9a6b1d", "name":"1-ipam-1-static-priv-endpoints", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"ed023e0e-43a6-4104-bb9e-d20be8a94254", "service_ips":["172.16.232.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.232.2"], "id":"25490e2b-b73c-4667-945a-2960f95b7f38"}, {"port":6379, "private_network":{"id":"b6d6e454-7b0f-4502-af53-78a930f62887", "service_ips":["10.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"}, "ips":["10.16.4.1"], "id":"bf685b6a-bcd9-4fb9-b8f3-49548703c6ab"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-24T12:20:55.218902Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.136833655s
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"id":"aeedc6fd-1ce9-4f1a-8ed9-7b153d9a6b1d", "name":"1-ipam-1-static-priv-endpoints", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"ed023e0e-43a6-4104-bb9e-d20be8a94254", "service_ips":["172.16.232.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.232.2"], "id":"25490e2b-b73c-4667-945a-2960f95b7f38"},[...]
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"aeedc6fd-1ce9-4f1a-8ed9-7b153d9a6b1d","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/aeedc6fd-1ce9-4f1a-8ed9-7b153d9a6b1d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"aeedc6fd-1ce9-4f1a-8ed9-7b153d9a6b1d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.721924ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ed023e0e-43a6-4104-bb9e-d20be8a94254
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 4.508803279s
[...]
