---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"ce94c48d-a12d-4765-bb16-751775b79c22", "name":"cli-pn-elastic-golick", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:37.319531Z", "updated_at":"2025-07-22T15:54:37.319531Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"e9e996fd-9902-4779-b1f4-141072782d2b", "created_at":"2025-07-22T15:54:37.319531Z", "updated_at":"2025-07-22T15:54:37.319531Z", "subnet":"172.16.116.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"ce94c48d-a12d-4765-bb16-751775b79c22", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"5e32646b-479c-429f-ba4c-1ebbce48d0a6", "created_at":"2025-07-22T15:54:37.319531Z", "updated_at":"2025-07-22T15:54:37.319531Z", "subnet":"fd63:256c:45f7:b761::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"ce94c48d-a12d-4765-bb16-751775b79c22", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"ce94c48d-a12d-4765-bb16-751775b79c22", "name":"cli-pn-elastic-golick", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:37.319531Z", "updated_at":"2025-07-22T15:54:37.319531Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"e9e996fd-9902-4779-b1f4-141072782d2b", "created_at":"2025-07-22T15:54:37.319531Z", "updated_at":"2025-07-22T15:54:37.319531Z", "subnet":"172.16.116.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"ce94c48d-a12d-4765-bb16-751775b79c22", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"5e32646b-479c-429f-ba4c-1ebbce48d0a6", "created_at":"2025-07-22T15:54:37.319531Z", "updated_at":"2025-07-22T15:54:37.319531Z", "subnet":"fd63:256c:45f7:b761::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"ce94c48d-a12d-4765-bb16-751775b79c22", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 871.936499ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"12934621-7a6d-45bb-8f29-48b289aa4961", "name":"1-static-priv-endpoint", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"ce94c48d-a12d-4765-bb16-751775b79c22", "service_ips":["172.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"}, "ips":["172.16.4.1"], "id":"e6b4e824-0f67-4ed5-9a4b-a1ec78399b11"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-22T15:55:38.246178Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"id":"12934621-7a6d-45bb-8f29-48b289aa4961", "name":"1-static-priv-endpoint", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"ce94c48d-a12d-4765-bb16-751775b79c22", "service_ips":["172.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"}, "ips":["172.16.4.1"], "id":"e6b4e824-0f67-4ed5-9a4b-a1ec78399b11"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-22T15:55:38.246178Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.050473352s
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"12934621-7a6d-45bb-8f29-48b289aa4961", "name":"1-static-priv-endpoint", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"ce94c48d-a12d-4765-bb16-751775b79c22", "service_ips":["172.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"}, "ips":["172.16.4.1"], "id":"e6b4e824-0f67-4ed5-9a4b-a1ec78399b11"}], "tags":[[...]
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"12934621-7a6d-45bb-8f29-48b289aa4961","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/12934621-7a6d-45bb-8f29-48b289aa4961
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"12934621-7a6d-45bb-8f29-48b289aa4961","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.264917ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ce94c48d-a12d-4765-bb16-751775b79c22
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 2.335814013s
