---
version: 1
interactions:
- request:
    body: '{"id":"ef7ea057-2b33-49d9-aa56-5431bf2b7890", "name":"cli-pn-competent-gates",
      "tags":[], "organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "created_at":"2025-10-28T05:25:38.482070Z",
      "updated_at":"2025-10-28T05:25:38.482070Z", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "subnets":[{"id":"132ea409-31ce-4f88-b7da-1f92825b491d", "created_at":"2025-10-28T05:25:38.482070Z",
      "updated_at":"2025-10-28T05:25:38.482070Z", "subnet":"172.16.92.0/22", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "private_network_id":"ef7ea057-2b33-49d9-aa56-5431bf2b7890", "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"},
      {"id":"4582d3ee-0056-4049-9842-30ec2fb12376", "created_at":"2025-10-28T05:25:38.482070Z",
      "updated_at":"2025-10-28T05:25:38.482070Z", "subnet":"fd5d:9132:befe:3ee3::/64",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "private_network_id":"ef7ea057-2b33-49d9-aa56-5431bf2b7890",
      "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"}], "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"ef7ea057-2b33-49d9-aa56-5431bf2b7890", "name":"cli-pn-competent-gates",
      "tags":[], "organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "created_at":"2025-10-28T05:25:38.482070Z",
      "updated_at":"2025-10-28T05:25:38.482070Z", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "subnets":[{"id":"132ea409-31ce-4f88-b7da-1f92825b491d", "created_at":"2025-10-28T05:25:38.482070Z",
      "updated_at":"2025-10-28T05:25:38.482070Z", "subnet":"172.16.92.0/22", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "private_network_id":"ef7ea057-2b33-49d9-aa56-5431bf2b7890", "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"},
      {"id":"4582d3ee-0056-4049-9842-30ec2fb12376", "created_at":"2025-10-28T05:25:38.482070Z",
      "updated_at":"2025-10-28T05:25:38.482070Z", "subnet":"fd5d:9132:befe:3ee3::/64",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "private_network_id":"ef7ea057-2b33-49d9-aa56-5431bf2b7890",
      "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"}], "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"details":[{"argument_name":"endpoints.private_network","help_message":"You
      must specify an ipam_config or a service_ips","reason":"constraint"}],"message":"invalid
      argument(s)","type":"invalid_arguments"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"details":[{"argument_name":"endpoints.private_network","help_message":"You
      must specify an ipam_config or a service_ips","reason":"constraint"}],"message":"invalid
      argument(s)","type":"invalid_arguments"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ef7ea057-2b33-49d9-aa56-5431bf2b7890
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
