---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"ddc8e16b-47b7-40f1-bf7c-964aece37416", "name":"1-pub-endpoint", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "public_network":{}, "ips":[], "id":"690a9811-350e-4a59-ae37-ca420ce80400"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-23T18:23:25.034188Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"id":"ddc8e16b-47b7-40f1-bf7c-964aece37416", "name":"1-pub-endpoint", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "public_network":{}, "ips":[], "id":"690a9811-350e-4a59-ae37-ca420ce80400"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-23T18:23:25.034188Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.117899389s
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"ddc8e16b-47b7-40f1-bf7c-964aece37416", "name":"1-pub-endpoint", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "public_network":{}, "ips":[], "id":"690a9811-350e-4a59-ae37-ca420ce80400"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-23T18:23:25.034188Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/ddc8e16b-47b7-40f1-bf7c-964aece37416
        method: GET
      response:
        body: '{"id":"ddc8e16b-47b7-40f1-bf7c-964aece37416", "name":"1-pub-endpoint", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "public_network":{}, "ips":[], "id":"690a9811-350e-4a59-ae37-ca420ce80400"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-23T18:23:25.034188Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.918448ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"ddc8e16b-47b7-40f1-bf7c-964aece37416","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/ddc8e16b-47b7-40f1-bf7c-964aece37416
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"ddc8e16b-47b7-40f1-bf7c-964aece37416","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.364687ms
