---
version: 1
interactions:
- request:
    body: '{"id":"412f480b-9a41-42a5-ae6e-18372017b507", "name":"cli-pn-goofy-swartz",
      "tags":[], "organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "created_at":"2025-10-28T05:21:12.097252Z",
      "updated_at":"2025-10-28T05:21:12.097252Z", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "subnets":[{"id":"0a7175c1-754c-4e3f-a689-5c19537cccbf", "created_at":"2025-10-28T05:21:12.097252Z",
      "updated_at":"2025-10-28T05:21:12.097252Z", "subnet":"172.16.116.0/22", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "private_network_id":"412f480b-9a41-42a5-ae6e-18372017b507", "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"},
      {"id":"58aff920-a833-4c0f-8537-9181c605223e", "created_at":"2025-10-28T05:21:12.097252Z",
      "updated_at":"2025-10-28T05:21:12.097252Z", "subnet":"fd5d:9132:befe:ba1::/64",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "private_network_id":"412f480b-9a41-42a5-ae6e-18372017b507",
      "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"}], "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"412f480b-9a41-42a5-ae6e-18372017b507", "name":"cli-pn-goofy-swartz",
      "tags":[], "organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "created_at":"2025-10-28T05:21:12.097252Z",
      "updated_at":"2025-10-28T05:21:12.097252Z", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "subnets":[{"id":"0a7175c1-754c-4e3f-a689-5c19537cccbf", "created_at":"2025-10-28T05:21:12.097252Z",
      "updated_at":"2025-10-28T05:21:12.097252Z", "subnet":"172.16.116.0/22", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "private_network_id":"412f480b-9a41-42a5-ae6e-18372017b507", "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"},
      {"id":"58aff920-a833-4c0f-8537-9181c605223e", "created_at":"2025-10-28T05:21:12.097252Z",
      "updated_at":"2025-10-28T05:21:12.097252Z", "subnet":"fd5d:9132:befe:ba1::/64",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "private_network_id":"412f480b-9a41-42a5-ae6e-18372017b507",
      "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"}], "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"faef57d3-929c-4a9e-8e7c-2bc97ff93812", "name":"1-static-priv-endpoint",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "status":"provisioning",
      "version":"7.2.11", "endpoints":[{"port":6379, "private_network":{"id":"412f480b-9a41-42a5-ae6e-18372017b507",
      "service_ips":["172.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"},
      "ips":["172.16.4.1"], "id":"b504689f-8e33-4eca-a01d-29d9c01105c5"}], "tags":[],
      "node_type":"RED1-micro", "created_at":"2025-10-28T05:22:15.027355Z", "updated_at":null,
      "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1,
      "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"faef57d3-929c-4a9e-8e7c-2bc97ff93812", "name":"1-static-priv-endpoint",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "status":"provisioning",
      "version":"7.2.11", "endpoints":[{"port":6379, "private_network":{"id":"412f480b-9a41-42a5-ae6e-18372017b507",
      "service_ips":["172.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"},
      "ips":["172.16.4.1"], "id":"b504689f-8e33-4eca-a01d-29d9c01105c5"}], "tags":[],
      "node_type":"RED1-micro", "created_at":"2025-10-28T05:22:15.027355Z", "updated_at":null,
      "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1,
      "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"faef57d3-929c-4a9e-8e7c-2bc97ff93812", "name":"1-static-priv-endpoint",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "status":"provisioning",
      "version":"7.2.11", "endpoints":[{"port":6379, "private_network":{"id":"412f480b-9a41-42a5-ae6e-18372017b507",
      "service_ips":["172.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"},
      "ips":["172.16.4.1"], "id":"b504689f-8e33-4eca-a01d-29d9c01105c5"}], "tags":[],
      "node_type":"RED1[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"faef57d3-929c-4a9e-8e7c-2bc97ff93812","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/faef57d3-929c-4a9e-8e7c-2bc97ff93812
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"faef57d3-929c-4a9e-8e7c-2bc97ff93812","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/412f480b-9a41-42a5-ae6e-18372017b507
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
