---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"b880e450-3db9-4f66-a655-eb6c242ccc0d", "name":"cli-pn-ecstatic-golick", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:37.223664Z", "updated_at":"2025-07-22T15:54:37.223664Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"9432c1ad-6a10-44b8-b80a-364ce2bdd8f2", "created_at":"2025-07-22T15:54:37.223664Z", "updated_at":"2025-07-22T15:54:37.223664Z", "subnet":"172.16.88.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"b880e450-3db9-4f66-a655-eb6c242ccc0d", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"e3c5d3c2-1a4f-40b3-8ce7-b827a04fba04", "created_at":"2025-07-22T15:54:37.223664Z", "updated_at":"2025-07-22T15:54:37.223664Z", "subnet":"fd63:256c:45f7:ddd9::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"b880e450-3db9-4f66-a655-eb6c242ccc0d", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"b880e450-3db9-4f66-a655-eb6c242ccc0d", "name":"cli-pn-ecstatic-golick", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:37.223664Z", "updated_at":"2025-07-22T15:54:37.223664Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"9432c1ad-6a10-44b8-b80a-364ce2bdd8f2", "created_at":"2025-07-22T15:54:37.223664Z", "updated_at":"2025-07-22T15:54:37.223664Z", "subnet":"172.16.88.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"b880e450-3db9-4f66-a655-eb6c242ccc0d", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"e3c5d3c2-1a4f-40b3-8ce7-b827a04fba04", "created_at":"2025-07-22T15:54:37.223664Z", "updated_at":"2025-07-22T15:54:37.223664Z", "subnet":"fd63:256c:45f7:ddd9::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"b880e450-3db9-4f66-a655-eb6c242ccc0d", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 809.951993ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"46d23045-596b-4534-a17d-5d22e2784de8", "name":"2-static-priv-endpoints", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"0a8cbbf0-fa31-40fa-a15b-7dc0665acd44", "service_ips":["10.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"}, "ips":["10.16.4.1"], "id":"27569a9c-0e8b-42cd-9f93-307362cf1324"}, {"port":6379, "private_network":{"id":"b880e450-3db9-4f66-a655-eb6c242ccc0d", "service_ips":["172.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"}, "ips":["172.16.4.1"], "id":"33e14efb-a511-44d0-a611-1b4635040340"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-22T15:55:39.862734Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"id":"46d23045-596b-4534-a17d-5d22e2784de8", "name":"2-static-priv-endpoints", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"0a8cbbf0-fa31-40fa-a15b-7dc0665acd44", "service_ips":["10.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"}, "ips":["10.16.4.1"], "id":"27569a9c-0e8b-42cd-9f93-307362cf1324"}, {"port":6379, "private_network":{"id":"b880e450-3db9-4f66-a655-eb6c242ccc0d", "service_ips":["172.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"}, "ips":["172.16.4.1"], "id":"33e14efb-a511-44d0-a611-1b4635040340"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-22T15:55:39.862734Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.524686457s
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"id":"46d23045-596b-4534-a17d-5d22e2784de8", "name":"2-static-priv-endpoints", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"0a8cbbf0-fa31-40fa-a15b-7dc0665acd44", "service_ips":["10.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"}, "ips":["10.16.4.1"], "id":"27569a9c-0e8b-42cd-9f93-307362cf1324"}, {"port":63[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"46d23045-596b-4534-a17d-5d22e2784de8","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/46d23045-596b-4534-a17d-5d22e2784de8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"46d23045-596b-4534-a17d-5d22e2784de8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 52.304625ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b880e450-3db9-4f66-a655-eb6c242ccc0d
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 2.154079492s
[...]
