---
version: 1
interactions:
- request:
    body: '{"id":"8084b2d3-6adc-428d-a04f-378332590f92","name":"cli-pn-ecstatic-zhukovsky","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-11-23T13:33:57.301521Z","updated_at":"2023-11-23T13:33:57.301521Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"38f0a49a-eab8-4745-ada8-d4be11b2654f","created_at":"2023-11-23T13:33:57.301521Z","updated_at":"2023-11-23T13:33:57.301521Z","subnet":"172.16.232.0/22"},{"id":"36fcadd7-ec00-42d0-89bd-0e3a08b7ace7","created_at":"2023-11-23T13:33:57.301521Z","updated_at":"2023-11-23T13:33:57.301521Z","subnet":"fd63:256c:45f7:70f::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"8084b2d3-6adc-428d-a04f-378332590f92","name":"cli-pn-ecstatic-zhukovsky","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-11-23T13:33:57.301521Z","updated_at":"2023-11-23T13:33:57.301521Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"38f0a49a-eab8-4745-ada8-d4be11b2654f","created_at":"2023-11-23T13:33:57.301521Z","updated_at":"2023-11-23T13:33:57.301521Z","subnet":"172.16.232.0/22"},{"id":"36fcadd7-ec00-42d0-89bd-0e3a08b7ace7","created_at":"2023-11-23T13:33:57.301521Z","updated_at":"2023-11-23T13:33:57.301521Z","subnet":"fd63:256c:45f7:70f::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"caac7795-b1c1-407f-8635-7da21563691e","name":"1-ipam-priv-endpoint","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"7.0.5","endpoints":[{"port":6379,"private_network":{"id":"8084b2d3-6adc-428d-a04f-378332590f92","service_ips":["172.16.232.2/22"],"provisioning_mode":"ipam","zone":"fr-par-1"},"ips":["172.16.232.2"],"id":"2aaf6524-7ce6-4f6e-96aa-3f5cdc24ce04"}],"tags":[],"node_type":"RED1-micro","created_at":"2023-11-23T13:34:58.220770Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"admin","upgradable_versions":[],"zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"caac7795-b1c1-407f-8635-7da21563691e","name":"1-ipam-priv-endpoint","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"7.0.5","endpoints":[{"port":6379,"private_network":{"id":"8084b2d3-6adc-428d-a04f-378332590f92","service_ips":["172.16.232.2/22"],"provisioning_mode":"ipam","zone":"fr-par-1"},"ips":["172.16.232.2"],"id":"2aaf6524-7ce6-4f6e-96aa-3f5cdc24ce04"}],"tags":[],"node_type":"RED1-micro","created_at":"2023-11-23T13:34:58.220770Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"admin","upgradable_versions":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"caac7795-b1c1-407f-8635-7da21563691e","name":"1-ipam-priv-endpoint","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"7.0.5","endpoints":[{"port":6379,"private_network":{"id":"8084b2d3-6adc-428d-a04f-378332590f92","service_ips":["172.16.232.2/22"],"provisioning_mode":"ipam","zone":"fr-par-1"},"ips":["172.16.232.2"],"id":"2aaf6524-7ce6-4f6e-96aa-3f5cdc24ce04"}],"tags":[],"node_type":"RED1-micro","created_at":"2023-11-23T13:34:58.22[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"caac7795-b1c1-407f-8635-7da21563691e","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/caac7795-b1c1-407f-8635-7da21563691e
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"caac7795-b1c1-407f-8635-7da21563691e","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8084b2d3-6adc-428d-a04f-378332590f92
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
