---
version: 1
interactions:
- request:
    body: '{"id":"be7eab11-1c2a-469b-9b13-ba52797ae472", "name":"cli-pn-amazing-payne",
      "tags":[], "organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "created_at":"2025-07-31T08:42:24.547238Z",
      "updated_at":"2025-07-31T08:42:24.547238Z", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "subnets":[{"id":"485179a6-ddae-41d9-8a53-1dc1be5e60ff", "created_at":"2025-07-31T08:42:24.547238Z",
      "updated_at":"2025-07-31T08:42:24.547238Z", "subnet":"172.16.112.0/22", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "private_network_id":"be7eab11-1c2a-469b-9b13-ba52797ae472", "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"},
      {"id":"3da247db-fe05-4d1b-809d-e803d8ac3af5", "created_at":"2025-07-31T08:42:24.547238Z",
      "updated_at":"2025-07-31T08:42:24.547238Z", "subnet":"fd5d:9132:befe:ab37::/64",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "private_network_id":"be7eab11-1c2a-469b-9b13-ba52797ae472",
      "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"}], "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"be7eab11-1c2a-469b-9b13-ba52797ae472", "name":"cli-pn-amazing-payne",
      "tags":[], "organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "created_at":"2025-07-31T08:42:24.547238Z",
      "updated_at":"2025-07-31T08:42:24.547238Z", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "subnets":[{"id":"485179a6-ddae-41d9-8a53-1dc1be5e60ff", "created_at":"2025-07-31T08:42:24.547238Z",
      "updated_at":"2025-07-31T08:42:24.547238Z", "subnet":"172.16.112.0/22", "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae",
      "private_network_id":"be7eab11-1c2a-469b-9b13-ba52797ae472", "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"},
      {"id":"3da247db-fe05-4d1b-809d-e803d8ac3af5", "created_at":"2025-07-31T08:42:24.547238Z",
      "updated_at":"2025-07-31T08:42:24.547238Z", "subnet":"fd5d:9132:befe:ab37::/64",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "private_network_id":"be7eab11-1c2a-469b-9b13-ba52797ae472",
      "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322"}], "vpc_id":"b1972fa8-5349-4d37-8777-f4f205bbd322",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"456998f0-9440-422b-bb8a-e4822a6b022d", "name":"2-ipam-priv-endpoints",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "status":"provisioning",
      "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"00c2fa94-415a-4ff6-a73b-708a7bedcdca",
      "service_ips":["172.16.96.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"},
      "ips":["172.16.96.2"], "id":"46df25f5-6db6-4f68-a876-1a1351a83910"}, {"port":6379,
      "private_network":{"id":"be7eab11-1c2a-469b-9b13-ba52797ae472", "service_ips":["172.16.112.2/22"],
      "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.112.2"], "id":"bdc90d37-077e-4423-95cf-f453fe06129f"}],
      "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-31T08:43:26.424681Z",
      "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[],
      "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"456998f0-9440-422b-bb8a-e4822a6b022d", "name":"2-ipam-priv-endpoints",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "status":"provisioning",
      "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"00c2fa94-415a-4ff6-a73b-708a7bedcdca",
      "service_ips":["172.16.96.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"},
      "ips":["172.16.96.2"], "id":"46df25f5-6db6-4f68-a876-1a1351a83910"}, {"port":6379,
      "private_network":{"id":"be7eab11-1c2a-469b-9b13-ba52797ae472", "service_ips":["172.16.112.2/22"],
      "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.112.2"], "id":"bdc90d37-077e-4423-95cf-f453fe06129f"}],
      "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-31T08:43:26.424681Z",
      "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[],
      "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"456998f0-9440-422b-bb8a-e4822a6b022d", "name":"2-ipam-priv-endpoints",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "status":"provisioning",
      "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"00c2fa94-415a-4ff6-a73b-708a7bedcdca",
      "service_ips":["172.16.96.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"},
      "ips":["172.16.96.2"], "id":"46df25f5-6db6-4f68-a876-1a1351a83910"}, {"port":6379,
      "private_network"[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"456998f0-9440-422b-bb8a-e4822a6b022d","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/456998f0-9440-422b-bb8a-e4822a6b022d
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"456998f0-9440-422b-bb8a-e4822a6b022d","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/be7eab11-1c2a-469b-9b13-ba52797ae472
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
