---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-pn-zen-golick","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":null,"subnets":null,"default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/7d26925c-a69f-4948-b057-808b7d52bcf1", "id":"7d26925c-a69f-4948-b057-808b7d52bcf1", "name":"cli-pn-zen-golick", "tags":[], "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "created_at":"2026-10-08T08:22:55.713518Z", "updated_at":"2026-10-08T08:22:55.713518Z", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "subnets":[{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/0648bae8-9ca8-4012-87b6-faaaa5ce46ce", "id":"0648bae8-9ca8-4012-87b6-faaaa5ce46ce", "created_at":"2026-10-08T08:22:55.713518Z", "updated_at":"2026-10-08T08:22:55.713518Z", "subnet":"172.16.12.0/22", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "private_network_id":"7d26925c-a69f-4948-b057-808b7d52bcf1", "vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964", "region":"fr-par"}, {"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/653278a8-480c-49ba-abea-33e9237f2a59", "id":"653278a8-480c-49ba-abea-33e9237f2a59", "created_at":"2026-10-08T08:22:55.713518Z", "updated_at":"2026-10-08T08:22:55.713518Z", "subnet":"fdb9:eb31:3ccc:aac4::/64", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "private_network_id":"7d26925c-a69f-4948-b057-808b7d52bcf1", "vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964", "region":"fr-par"}], "vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964", "dhcp_enabled":true, "default_route_propagation_enabled":false, "has_object_storage_private_access":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 672.767707ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 8.122369ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"2-ipam-priv-endpoints","version":"8.6.6","tags":null,"node_type":"RED1-micro","user_name":"admin","password":"P@sSw0Rd","acl_rules":null,"endpoints":[{"private_network":{"id":"7d26925c-a69f-4948-b057-808b7d52bcf1","service_ips":null,"ipam_config":{}}},{"private_network":{"id":"c2bd9042-687e-4ace-9dfd-1186e43d37e8","service_ips":null,"ipam_config":{}}}],"tls_enabled":false,"cluster_settings":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"id":"126639d5-3dd6-497d-b5da-277a6c64f0c0", "name":"2-ipam-priv-endpoints", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "status":"provisioning", "version":"8.6.6", "endpoints":[{"port":6379, "private_network":{"id":"7d26925c-a69f-4948-b057-808b7d52bcf1", "service_ips":["172.16.12.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.12.2"], "id":"171ded65-5860-402e-b04c-273644d814d3"}, {"port":6379, "private_network":{"id":"c2bd9042-687e-4ace-9dfd-1186e43d37e8", "service_ips":["172.16.20.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.20.2"], "id":"af2683ad-59d6-40ee-b450-fb404f567330"}], "tags":[], "node_type":"RED1-micro", "created_at":"2026-10-08T08:23:57.347907Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1", "srn":"srn://redis.scw.eu/zones/fr-par-1/clusters/126639d5-3dd6-497d-b5da-277a6c64f0c0"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.931947742s
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/126639d5-3dd6-497d-b5da-277a6c64f0c0
        method: GET
      response:
        body: '{"id":"126639d5-3dd6-497d-b5da-277a6c64f0c0", "name":"2-ipam-priv-endpoints", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "status":"provisioning", "version":"8.6.6", "endpoints":[{"port":6379, "private_network":{"id":"7d26925c-a69f-4948-b057-808b7d52bcf1", [...]
[...]
    - id: 28
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/126639d5-3dd6-497d-b5da-277a6c64f0c0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"126639d5-3dd6-497d-b5da-277a6c64f0c0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 54.919456ms
    - id: 29
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/7d26925c-a69f-4948-b057-808b7d52bcf1
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 1.821217899s
[...]
