---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"4f16241b-f444-4a1d-ad3c-8c55b74a2a09", "name":"cli-pn-interesting-shtern", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:58:59.029427Z", "updated_at":"2025-07-22T15:58:59.029427Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"5d78bcf6-4fa8-4d2e-bc50-85bcd5439741", "created_at":"2025-07-22T15:58:59.029427Z", "updated_at":"2025-07-22T15:58:59.029427Z", "subnet":"172.16.124.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"4f16241b-f444-4a1d-ad3c-8c55b74a2a09", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"390c6798-a07d-4a2d-918c-672358653d3c", "created_at":"2025-07-22T15:58:59.029427Z", "updated_at":"2025-07-22T15:58:59.029427Z", "subnet":"fd63:256c:45f7:9646::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"4f16241b-f444-4a1d-ad3c-8c55b74a2a09", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"4f16241b-f444-4a1d-ad3c-8c55b74a2a09", "name":"cli-pn-interesting-shtern", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:58:59.029427Z", "updated_at":"2025-07-22T15:58:59.029427Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"5d78bcf6-4fa8-4d2e-bc50-85bcd5439741", "created_at":"2025-07-22T15:58:59.029427Z", "updated_at":"2025-07-22T15:58:59.029427Z", "subnet":"172.16.124.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"4f16241b-f444-4a1d-ad3c-8c55b74a2a09", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"390c6798-a07d-4a2d-918c-672358653d3c", "created_at":"2025-07-22T15:58:59.029427Z", "updated_at":"2025-07-22T15:58:59.029427Z", "subnet":"fd63:256c:45f7:9646::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"4f16241b-f444-4a1d-ad3c-8c55b74a2a09", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.327586106s
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"message":"the request could not be completed due to a conflict with another action on this organization."}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"message":"the request could not be completed due to a conflict with another action on this organization."}'
        headers:
            Content-Type:
                - application/json
        status: 409 Conflict
        code: 409
        duration: 5.188478587s
