---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"471c6d30-9760-4bc4-952b-ff55e5d68f99", "name":"cli-pn-nostalgic-ellis", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T09:19:00.507896Z", "updated_at":"2025-07-24T09:19:00.507896Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"4a85f3c6-017f-49ee-a8be-f5fe9097b055", "created_at":"2025-07-24T09:19:00.507896Z", "updated_at":"2025-07-24T09:19:00.507896Z", "subnet":"172.16.216.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"471c6d30-9760-4bc4-952b-ff55e5d68f99", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"ed123471-452b-4bba-85e6-6d668bbcde2c", "created_at":"2025-07-24T09:19:00.507896Z", "updated_at":"2025-07-24T09:19:00.507896Z", "subnet":"fd63:256c:45f7:f653::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"471c6d30-9760-4bc4-952b-ff55e5d68f99", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"471c6d30-9760-4bc4-952b-ff55e5d68f99", "name":"cli-pn-nostalgic-ellis", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T09:19:00.507896Z", "updated_at":"2025-07-24T09:19:00.507896Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"4a85f3c6-017f-49ee-a8be-f5fe9097b055", "created_at":"2025-07-24T09:19:00.507896Z", "updated_at":"2025-07-24T09:19:00.507896Z", "subnet":"172.16.216.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"471c6d30-9760-4bc4-952b-ff55e5d68f99", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"ed123471-452b-4bba-85e6-6d668bbcde2c", "created_at":"2025-07-24T09:19:00.507896Z", "updated_at":"2025-07-24T09:19:00.507896Z", "subnet":"fd63:256c:45f7:f653::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"471c6d30-9760-4bc4-952b-ff55e5d68f99", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.282696145s
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"details":[{"argument_name":"endpoints.private_network","help_message":"You must specify an ipam_config or a service_ips","reason":"constraint"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"details":[{"argument_name":"endpoints.private_network","help_message":"You must specify an ipam_config or a service_ips","reason":"constraint"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 1.436558954s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/471c6d30-9760-4bc4-952b-ff55e5d68f99
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 2.21032429s
