---
version: 2
interactions:
- request:
    body: '{"id":"7d5d5e13-7f07-44df-962d-5edad547ee62","name":"cli-pn-magical-benz","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-11-23T13:33:51.943821Z","updated_at":"2023-11-23T13:33:51.943821Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"8d2c5055-50a7-4f86-bba5-a81b91fcc0b0","created_at":"2023-11-23T13:33:51.943821Z","updated_at":"2023-11-23T13:33:51.943821Z","subnet":"172.16.216.0/22"},{"id":"d9486b51-6e41-4369-b87e-18442dc42806","created_at":"2023-11-23T13:33:51.943821Z","updated_at":"2023-11-23T13:33:51.943821Z","subnet":"fd63:256c:45f7:49e0::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"7d5d5e13-7f07-44df-962d-5edad547ee62","name":"cli-pn-magical-benz","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-11-23T13:33:51.943821Z","updated_at":"2023-11-23T13:33:51.943821Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"8d2c5055-50a7-4f86-bba5-a81b91fcc0b0","created_at":"2023-11-23T13:33:51.943821Z","updated_at":"2023-11-23T13:33:51.943821Z","subnet":"172.16.216.0/22"},{"id":"d9486b51-6e41-4369-b87e-18442dc42806","created_at":"2023-11-23T13:33:51.943821Z","updated_at":"2023-11-23T13:33:51.943821Z","subnet":"fd63:256c:45f7:49e0::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"id":"89ee8049-b2db-4204-96f0-4a1e69f87e45","name":"2-static-priv-endpoints","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"7.0.5","endpoints":[{"port":6379,"private_network":{"id":"7d5d5e13-7f07-44df-962d-5edad547ee62","service_ips":["172.16.4.1/22"],"provisioning_mode":"static","zone":"fr-par-1"},"ips":["172.16.4.1"],"id":"13199053-663b-40e8-bf06-56161d32271b"},{"port":6379,"private_network":{"id":"f8ecd537-56c8-49a6-9da0-e4e0ba6d2c12","service_ips":["10.16.4.1/22"],"provisioning_mode":"static","zone":"fr-par-1"},"ips":["10.16.4.1"],"id":"1ede35c6-c45a-4a24-b34b-0486a33c01f8"}],"tags":[],"node_type":"RED1-micro","created_at":"2023-11-23T13:34:53.867963Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"admin","upgradable_versions":[],"zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"89ee8049-b2db-4204-96f0-4a1e69f87e45","name":"2-static-priv-endpoints","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"7.0.5","endpoints":[{"port":6379,"private_network":{"id":"7d5d5e13-7f07-44df-962d-5edad547ee62","service_ips":["172.16.4.1/22"],"provisioning_mode":"static","zone":"fr-par-1"},"ips":["172.16.4.1"],"id":"13199053-663b-40e8-bf06-56161d32271b"},{"port":6379,"private_network":{"id":"f8ecd537-56c8-49a6-9da0-e4e0ba6d2c12","service_ips":["10.16.4.1/22"],"provisioning_mode":"static","zone":"fr-par-1"},"ips":["10.16.4.1"],"id":"1ede35c6-c45a-4a24-b34b-0486a33c01f8"}],"tags":[],"node_type":"RED1-micro","created_at":"2023-11-23T13:34:53.867963Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"admin","upgradable_versions":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"id":"89ee8049-b2db-4204-96f0-4a1e69f87e45","name":"2-static-priv-endpoints","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"7.0.5","endpoints":[{"port":6379,"private_network":{"id":"7d5d5e13-7f07-44df-962d-5edad547ee62","service_ips":["172.16.4.1/22"],"provisioning_mode":"static","zone":"fr-par-1"},"ips":["172.16.4.1"],"id":"13199053-663b-40e8-bf06-56161d32271b"},{"port":6379,"private_network":{"id":"f8ecd537-56c8-49a6-9da0-e4e0ba6d2[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"89ee8049-b2db-4204-96f0-4a1e69f87e45","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/89ee8049-b2db-4204-96f0-4a1e69f87e45
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"89ee8049-b2db-4204-96f0-4a1e69f87e45","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/7d5d5e13-7f07-44df-962d-5edad547ee62
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
[...]
