---
version: 1
interactions:
- request:
    body: '{"id":"9bd9070c-1571-4631-a8d8-33e87d104beb", "name":"1-pub-endpoint",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "status":"provisioning",
      "version":"7.2.11", "endpoints":[{"port":6379, "public_network":{}, "ips":[],
      "id":"72c32043-69f4-41e7-a6fd-d3b5e239e017"}], "tags":[], "node_type":"RED1-micro",
      "created_at":"2025-10-28T05:21:57.395358Z", "updated_at":null, "tls_enabled":false,
      "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin",
      "upgradable_versions":[], "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"9bd9070c-1571-4631-a8d8-33e87d104beb", "name":"1-pub-endpoint",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "status":"provisioning",
      "version":"7.2.11", "endpoints":[{"port":6379, "public_network":{}, "ips":[],
      "id":"72c32043-69f4-41e7-a6fd-d3b5e239e017"}], "tags":[], "node_type":"RED1-micro",
      "created_at":"2025-10-28T05:21:57.395358Z", "updated_at":null, "tls_enabled":false,
      "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin",
      "upgradable_versions":[], "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"9bd9070c-1571-4631-a8d8-33e87d104beb", "name":"1-pub-endpoint",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "status":"provisioning",
      "version":"7.2.11", "endpoints":[{"port":6379, "public_network":{}, "ips":[],
      "id":"72c32043-69f4-41e7-a6fd-d3b5e239e017"}], "tags":[], "node_type":"RED1-micro",
      "created_at":"2025-10-28T05:21:57.395358Z", "updated_at":null, "tls_enabled":false,
      "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin",
      "upgradable_versions":[], "zone":"fr-par-1"}'
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/9bd9070c-1571-4631-a8d8-33e87d104beb
    method: GET
  response:
    body: '{"id":"9bd9070c-1571-4631-a8d8-33e87d104beb", "name":"1-pub-endpoint",
      "project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae", "status":"provisioning",
      "version":"7.2.11", "endpoints":[{"port":6379, "public_network":{}, "ips":[],
      "id":"72c32043-69f4-41e7-a6fd-d3b5e239e017"}], "tags":[], "node_type":"RED1-micro",
      "created_at":"2025-10-28T05:21:57.395358Z", "updated_at":null, "tls_enabled":false,
      "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin",
      "upgradable_versions":[], "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"9bd9070c-1571-4631-a8d8-33e87d104beb","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/9bd9070c-1571-4631-a8d8-33e87d104beb
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"9bd9070c-1571-4631-a8d8-33e87d104beb","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
