---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"faa14eb7-7bfe-4d4e-89fc-5e0313fe918b", "name":"cli-pn-funny-euclid", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-23T18:22:24.549300Z", "updated_at":"2025-07-23T18:22:24.549300Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"7915276d-b9e5-4e7e-98a5-70de22d81ca3", "created_at":"2025-07-23T18:22:24.549300Z", "updated_at":"2025-07-23T18:22:24.549300Z", "subnet":"172.16.72.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"faa14eb7-7bfe-4d4e-89fc-5e0313fe918b", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"a517e05b-dc43-4228-97f1-28f3f67c5488", "created_at":"2025-07-23T18:22:24.549300Z", "updated_at":"2025-07-23T18:22:24.549300Z", "subnet":"fd63:256c:45f7:8009::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"faa14eb7-7bfe-4d4e-89fc-5e0313fe918b", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"faa14eb7-7bfe-4d4e-89fc-5e0313fe918b", "name":"cli-pn-funny-euclid", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-23T18:22:24.549300Z", "updated_at":"2025-07-23T18:22:24.549300Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"7915276d-b9e5-4e7e-98a5-70de22d81ca3", "created_at":"2025-07-23T18:22:24.549300Z", "updated_at":"2025-07-23T18:22:24.549300Z", "subnet":"172.16.72.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"faa14eb7-7bfe-4d4e-89fc-5e0313fe918b", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"a517e05b-dc43-4228-97f1-28f3f67c5488", "created_at":"2025-07-23T18:22:24.549300Z", "updated_at":"2025-07-23T18:22:24.549300Z", "subnet":"fd63:256c:45f7:8009::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"faa14eb7-7bfe-4d4e-89fc-5e0313fe918b", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 872.801374ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"98a4bf1a-0954-4d24-8e78-32ed0bfbf831", "name":"2-static-priv-endpoints", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"faa14eb7-7bfe-4d4e-89fc-5e0313fe918b", "service_ips":["172.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"}, "ips":["172.16.4.1"], "id":"1963e0e5-be99-4d34-b27c-9ad6a9cfa1fb"}, {"port":6379, "private_network":{"id":"c5476da5-79b4-4517-91be-921cdcb2b820", "service_ips":["10.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"}, "ips":["10.16.4.1"], "id":"73a6f55b-64ff-469e-bf70-a5de6b168764"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-23T18:23:26.252640Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"id":"98a4bf1a-0954-4d24-8e78-32ed0bfbf831", "name":"2-static-priv-endpoints", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"faa14eb7-7bfe-4d4e-89fc-5e0313fe918b", "service_ips":["172.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"}, "ips":["172.16.4.1"], "id":"1963e0e5-be99-4d34-b27c-9ad6a9cfa1fb"}, {"port":6379, "private_network":{"id":"c5476da5-79b4-4517-91be-921cdcb2b820", "service_ips":["10.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"}, "ips":["10.16.4.1"], "id":"73a6f55b-64ff-469e-bf70-a5de6b168764"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-23T18:23:26.252640Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.692217516s
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"id":"98a4bf1a-0954-4d24-8e78-32ed0bfbf831", "name":"2-static-priv-endpoints", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"faa14eb7-7bfe-4d4e-89fc-5e0313fe918b", "service_ips":["172.16.4.1/22"], "provisioning_mode":"static", "zone":"fr-par-1"}, "ips":["172.16.4.1"], "id":"1963e0e5-be99-4d34-b27c-9ad6a9cfa1fb"}, {"port":[...]
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"98a4bf1a-0954-4d24-8e78-32ed0bfbf831","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/98a4bf1a-0954-4d24-8e78-32ed0bfbf831
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"98a4bf1a-0954-4d24-8e78-32ed0bfbf831","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 38.206961ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/faa14eb7-7bfe-4d4e-89fc-5e0313fe918b
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 2.268190834s
[...]
