---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-pn-frosty-thompson","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":null,"subnets":null,"default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"srn":"","id":"5a9e7b99-a833-4aa7-81d1-3ba77129a846","name":"cli-pn-frosty-thompson","tags":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-09-21T14:40:16.847289Z","updated_at":"2026-09-21T14:40:16.847289Z","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","subnets":[{"srn":"","id":"01d78322-0a8d-4d06-a865-3847b0b02817","created_at":"2026-09-21T14:40:16.847289Z","updated_at":"2026-09-21T14:40:16.847289Z","subnet":"172.16.24.0/22","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","private_network_id":"5a9e7b99-a833-4aa7-81d1-3ba77129a846","vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964","region":"fr-par"},{"srn":"","id":"8e7979fb-634e-4dc5-9267-a0286b852c14","created_at":"2026-09-21T14:40:16.847289Z","updated_at":"2026-09-21T14:40:16.847289Z","subnet":"fdb9:eb31:3ccc:417e::/64","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","private_network_id":"5a9e7b99-a833-4aa7-81d1-3ba77129a846","vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964","region":"fr-par"}],"vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964","dhcp_enabled":true,"default_route_propagation_enabled":false,"has_object_storage_private_access":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 697.203612ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 8.1235ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"2-ipam-priv-endpoints","version":"8.6.6","tags":null,"node_type":"RED1-micro","user_name":"admin","password":"P@sSw0Rd","acl_rules":null,"endpoints":[{"private_network":{"id":"5a9e7b99-a833-4aa7-81d1-3ba77129a846","service_ips":null,"ipam_config":{}}},{"private_network":{"id":"fc05d472-01c6-4879-9a29-b1d96480cd91","service_ips":null,"ipam_config":{}}}],"tls_enabled":false,"cluster_settings":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"id":"0f3138e8-5661-451a-87bd-780b1f672031","name":"2-ipam-priv-endpoints","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"provisioning","version":"8.6.6","endpoints":[{"port":6379,"private_network":{"id":"fc05d472-01c6-4879-9a29-b1d96480cd91","service_ips":["172.16.8.2/22"],"provisioning_mode":"ipam","zone":"fr-par-1"},"ips":["172.16.8.2"],"id":"6251c427-7ec3-444b-99a3-cc09e6592d82"},{"port":6379,"private_network":{"id":"5a9e7b99-a833-4aa7-81d1-3ba77129a846","service_ips":["172.16.24.2/22"],"provisioning_mode":"ipam","zone":"fr-par-1"},"ips":["172.16.24.2"],"id":"b8250e25-6878-4a45-9af2-b0865c860b43"}],"tags":[],"node_type":"RED1-micro","created_at":"2026-09-21T14:41:21.621932Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"admin","upgradable_versions":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 4.909040274s
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/0f3138e8-5661-451a-87bd-780b1f672031
        method: GET
      response:
        body: '{"id":"0f3138e8-5661-451a-87bd-780b1f672031","name":"2-ipam-priv-endpoints","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","status":"provisioning","version":"8.6.6","endpoints":[{"port":6379,"private_network":{"id":"fc05d472-01c6-4879-9a29-b1d96480cd91","service_ips":["172.16.8.2/22"],"provisioning_mode":"ipam","zone":"fr-par-1"},"ips":["172.16.8.2"],"id":"6251c427-7ec3-444b-99a3-cc09e6592d82"},{"port":6379,"private_network":{"id":"5a9e7b99-a833-4aa7-81d1-3ba77129a846","service_ips":["172.16.24.2/22"],"provisioning_mode":"ipam","zone":"fr-par-1"},"ips":["172.16.24.2"],"id":"b8250e25-6878-4a45-9af2-b0865c860b43"}],"tags":[],"node_type":"RED1-micro","created_at":"2026-09-21T14:41:21.621932Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"admin","upgradable_versions":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 148.663239ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/0f3138e8-5661-451a-87bd-780b1f672031
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"0f3138e8-5661-451a-87bd-780b1f672031","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 40.050117ms
    - id: 28
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5a9e7b99-a833-4aa7-81d1-3ba77129a846
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 1.853497228s
[...]
