---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"465f3557-aa80-4381-84a1-83f2e72c2b9f", "name":"cli-pn-flamboyant-tereshkova", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T09:50:34.153401Z", "updated_at":"2025-07-24T09:50:34.153401Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"f9b145d3-fcc3-48d9-a134-87df124bae30", "created_at":"2025-07-24T09:50:34.153401Z", "updated_at":"2025-07-24T09:50:34.153401Z", "subnet":"172.16.232.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"465f3557-aa80-4381-84a1-83f2e72c2b9f", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"94418027-1d5f-495b-a279-75bbe34b64f4", "created_at":"2025-07-24T09:50:34.153401Z", "updated_at":"2025-07-24T09:50:34.153401Z", "subnet":"fd63:256c:45f7:27ae::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"465f3557-aa80-4381-84a1-83f2e72c2b9f", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"465f3557-aa80-4381-84a1-83f2e72c2b9f", "name":"cli-pn-flamboyant-tereshkova", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T09:50:34.153401Z", "updated_at":"2025-07-24T09:50:34.153401Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"f9b145d3-fcc3-48d9-a134-87df124bae30", "created_at":"2025-07-24T09:50:34.153401Z", "updated_at":"2025-07-24T09:50:34.153401Z", "subnet":"172.16.232.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"465f3557-aa80-4381-84a1-83f2e72c2b9f", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"94418027-1d5f-495b-a279-75bbe34b64f4", "created_at":"2025-07-24T09:50:34.153401Z", "updated_at":"2025-07-24T09:50:34.153401Z", "subnet":"fd63:256c:45f7:27ae::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"465f3557-aa80-4381-84a1-83f2e72c2b9f", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 873.380194ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"702cad6c-aac0-4dde-8021-1bd30c4610ed", "name":"1-ipam-priv-endpoint", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"465f3557-aa80-4381-84a1-83f2e72c2b9f", "service_ips":["172.16.232.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.232.2"], "id":"46b1779d-6684-43df-a347-4649c1c2a012"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-24T09:51:35.262558Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"id":"702cad6c-aac0-4dde-8021-1bd30c4610ed", "name":"1-ipam-priv-endpoint", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"465f3557-aa80-4381-84a1-83f2e72c2b9f", "service_ips":["172.16.232.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.232.2"], "id":"46b1779d-6684-43df-a347-4649c1c2a012"}], "tags":[], "node_type":"RED1-micro", "created_at":"2025-07-24T09:51:35.262558Z", "updated_at":null, "tls_enabled":false, "cluster_settings":[], "acl_rules":[], "cluster_size":1, "user_name":"admin", "upgradable_versions":[], "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.288733547s
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"702cad6c-aac0-4dde-8021-1bd30c4610ed", "name":"1-ipam-priv-endpoint", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "status":"provisioning", "version":"7.0.5", "endpoints":[{"port":6379, "private_network":{"id":"465f3557-aa80-4381-84a1-83f2e72c2b9f", "service_ips":["172.16.232.2/22"], "provisioning_mode":"ipam", "zone":"fr-par-1"}, "ips":["172.16.232.2"], "id":"46b1779d-6684-43df-a347-4649c1c2a012"}], "tags":[[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"702cad6c-aac0-4dde-8021-1bd30c4610ed","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/702cad6c-aac0-4dde-8021-1bd30c4610ed
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"702cad6c-aac0-4dde-8021-1bd30c4610ed","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.163534ms
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"message":"internal error"}'
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/465f3557-aa80-4381-84a1-83f2e72c2b9f
        method: DELETE
      response:
        body: '{"message":"internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 5.09166532s
[...]
