---
version: 1
interactions:
- request:
    body: '{"id":"e12a10db-07d7-4f35-b245-31c4e490e08e","name":"cli-pn-festive-brattain","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-11-23T13:27:15.883245Z","updated_at":"2023-11-23T13:27:15.883245Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"02e6f56a-de3a-4a08-b07e-c6eb74b7fceb","created_at":"2023-11-23T13:27:15.883245Z","updated_at":"2023-11-23T13:27:15.883245Z","subnet":"172.16.216.0/22"},{"id":"bc61fd18-f728-4914-b0c7-efd10882db8d","created_at":"2023-11-23T13:27:15.883245Z","updated_at":"2023-11-23T13:27:15.883245Z","subnet":"fd63:256c:45f7:a860::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"e12a10db-07d7-4f35-b245-31c4e490e08e","name":"cli-pn-festive-brattain","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-11-23T13:27:15.883245Z","updated_at":"2023-11-23T13:27:15.883245Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"02e6f56a-de3a-4a08-b07e-c6eb74b7fceb","created_at":"2023-11-23T13:27:15.883245Z","updated_at":"2023-11-23T13:27:15.883245Z","subnet":"172.16.216.0/22"},{"id":"bc61fd18-f728-4914-b0c7-efd10882db8d","created_at":"2023-11-23T13:27:15.883245Z","updated_at":"2023-11-23T13:27:15.883245Z","subnet":"fd63:256c:45f7:a860::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"details":[{"argument_name":"endpoints.private_network","help_message":"You
      must specify an ipam_config or a service_ips","reason":"constraint"}],"message":"invalid
      argument(s)","type":"invalid_arguments"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"details":[{"argument_name":"endpoints.private_network","help_message":"You
      must specify an ipam_config or a service_ips","reason":"constraint"}],"message":"invalid
      argument(s)","type":"invalid_arguments"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e12a10db-07d7-4f35-b245-31c4e490e08e
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
