---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"ca77fc6e-e99c-4a27-9293-e66b9591f53e", "name":"cli-pn-amazing-stonebraker", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T09:19:00.411908Z", "updated_at":"2025-07-24T09:19:00.411908Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"8dfb68cb-71b4-4ede-a616-bcf2e9d7d461", "created_at":"2025-07-24T09:19:00.411908Z", "updated_at":"2025-07-24T09:19:00.411908Z", "subnet":"172.16.204.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"ca77fc6e-e99c-4a27-9293-e66b9591f53e", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"8c53f724-5a04-49ed-b14a-46fd3823b046", "created_at":"2025-07-24T09:19:00.411908Z", "updated_at":"2025-07-24T09:19:00.411908Z", "subnet":"fd63:256c:45f7:17c3::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"ca77fc6e-e99c-4a27-9293-e66b9591f53e", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"ca77fc6e-e99c-4a27-9293-e66b9591f53e", "name":"cli-pn-amazing-stonebraker", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-24T09:19:00.411908Z", "updated_at":"2025-07-24T09:19:00.411908Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"8dfb68cb-71b4-4ede-a616-bcf2e9d7d461", "created_at":"2025-07-24T09:19:00.411908Z", "updated_at":"2025-07-24T09:19:00.411908Z", "subnet":"172.16.204.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"ca77fc6e-e99c-4a27-9293-e66b9591f53e", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"8c53f724-5a04-49ed-b14a-46fd3823b046", "created_at":"2025-07-24T09:19:00.411908Z", "updated_at":"2025-07-24T09:19:00.411908Z", "subnet":"fd63:256c:45f7:17c3::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"ca77fc6e-e99c-4a27-9293-e66b9591f53e", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.044942863s
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"details":[{"argument_name":"endpoints.private_network","help_message":"You must specify an ipam_config or a service_ips","reason":"constraint"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
        method: POST
      response:
        body: '{"details":[{"argument_name":"endpoints.private_network","help_message":"You must specify an ipam_config or a service_ips","reason":"constraint"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 559.713438ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ca77fc6e-e99c-4a27-9293-e66b9591f53e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 2.783650685s
