---
version: 1
interactions:
- request:
    body: '{"id":"e76eea80-d2ec-4ffa-bdec-6db68c987f9f","name":"cli-llm-laughing-wu","project_id":"894cc948-1194-4357-9320-57cefcb7b0e5","status":"creating","tags":[],"node_type":"L4","endpoints":[{"id":"1d567d93-dd4f-4d3c-a1c6-90855e3c09fd","url":"https://e76eea80-d2ec-4ffa-bdec-6db68c987f9f.ifr.fr-par.scw.cloud","public_access":{},"disable_auth":false}],"size":0,"min_size":1,"max_size":1,"error_message":null,"model_name":"meta/llama-2-7b-chat:fp16","created_at":"2024-03-29T13:34:32.037517Z","updated_at":null,"region":"fr-srr"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://agw.stg.fr-par-2.internal.scaleway.com/llm-inference/v1beta1/regions/fr-srr/deployments
    method: POST
  response:
    body: '{"id":"e76eea80-d2ec-4ffa-bdec-6db68c987f9f","name":"cli-llm-laughing-wu","project_id":"894cc948-1194-4357-9320-57cefcb7b0e5","status":"creating","tags":[],"node_type":"L4","endpoints":[{"id":"1d567d93-dd4f-4d3c-a1c6-90855e3c09fd","url":"https://e76eea80-d2ec-4ffa-bdec-6db68c987f9f.ifr.fr-par.scw.cloud","public_access":{},"disable_auth":false}],"size":0,"min_size":1,"max_size":1,"error_message":null,"model_name":"meta/llama-2-7b-chat:fp16","created_at":"2024-03-29T13:34:32.037517Z","updated_at":null,"region":"fr-srr"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
