---
version: 1
interactions:
- request:
    body: '{"id":"1aa20c4e-e33d-42a4-b147-3d75348ce16b", "name":"cli-llm-nostalgic-knuth",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "status":"creating", "tags":[],
      "node_type":"H100", "endpoints":[{"id":"049a4ee4-8f12-46be-a827-7109fbb5c1ca",
      "url":"https://1aa20c4e-e33d-42a4-b147-3d75348ce16b.ifr.fr-par.scw.cloud", "public_access":{},
      "disable_auth":false}], "size":0, "min_size":1, "max_size":1, "error_message":null,
      "model_name":"wizardlm/wizardlm-70b-v1.0:fp8", "created_at":"2024-03-29T12:33:20.996621Z",
      "updated_at":null, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/llm-inference/v1beta1/regions/fr-par/deployments
    method: POST
  response:
    body: '{"id":"1aa20c4e-e33d-42a4-b147-3d75348ce16b", "name":"cli-llm-nostalgic-knuth",
      "project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2", "status":"creating", "tags":[],
      "node_type":"H100", "endpoints":[{"id":"049a4ee4-8f12-46be-a827-7109fbb5c1ca",
      "url":"https://1aa20c4e-e33d-42a4-b147-3d75348ce16b.ifr.fr-par.scw.cloud", "public_access":{},
      "disable_auth":false}], "size":0, "min_size":1, "max_size":1, "error_message":null,
      "model_name":"wizardlm/wizardlm-70b-v1.0:fp8", "created_at":"2024-03-29T12:33:20.996621Z",
      "updated_at":null, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
