---
version: 2
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/marketplace/v2/images?include_eol=false&order_by=name_asc&page=1
    method: GET
  response:
    body: '{"images":[{"id":"0d3a22da-c634-45d6-a7dd-aff402f88b0c","name":"AlmaLinux
      8","label":"almalinux_8","description":"AlmaLinux OS is an Open Source and forever-free
      enterprise Linux distribution, governed and driven by the community, focused
      on long-term stability and a robust production-grade platform","logo":"https://scw-marketplace-logos.s3.fr-par.scw.cloud/almalinux.png","categories":["distribution"],"valid_until":null,"created_at":"2021-10-05T13:36:52.246490Z","updated_at":"2022-11-21T09:56:12.505342Z"},{"id":"486ead23-9656-41d1-aa74-a5a780b2ae1b","name":"AlmaLinux
      9","label":"almalinux_9","description":"AlmaLinux OS is an Open Source and forever-free
      enterprise Linux distribution, governed and driven by the community, focused
      on long-term stability and a robust production-grade platform","logo":"https://scw-marketplace-logos.s3.fr-par.scw.cloud/almalinux.png","categories":["distribution"],"valid_until":null,"created_at":"2022-08-24T09:21:26.3159[...]
