---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      include_eol:
      - "false"
      order_by:
      - name_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/marketplace/v2/images?include_eol=false&order_by=name_asc&page=1
    method: GET
  response:
    body: "{\"images\":[{\"id\":\"0d3a22da-c634-45d6-a7dd-aff402f88b0c\",\"name\":\"AlmaLinux 8\",\"label\":\"almalinux_8\",\"description\":\"AlmaLinux OS is an Open Source and forever-free enterprise Linux distribution, governed and driven by the community, focused on long-term stability and a robust production-grade platform\",\"logo\":\"https://scw-marketplace-logos.s3.fr-par.scw.cloud/almalinux.png\",\"categories\":[\"distribution\"],\"valid_until\":null,\"created_at\":\"2021-10-05T13:36:52.246490Z\",\"updated_at\":\"2025-06-27T13:01:43.904475Z\"},{\"id\":\"486ead23-9656-41d1-aa74-a5a780b2ae1b\",\"name\":\"AlmaLinux 9\",\"label\":\"almalinux_9\",\"description\":\"AlmaLinux OS is an Open Source and forever-free enterprise Linux distribution, governed and driven by the community, focused on long-term stability and a robust production-grade platform\",\"logo\":\"https://scw-marketplace-logos.s3.fr-par.scw.cloud/almalinux.png\",\"categories\":[\"distribution\"],\"valid_until\":null,\"created_at\":\"2022-08-24T[...]
[...]
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"access_key\":\"SCW2DWFM69FT5GRJARV0\",\"secret_key\":null,\"description\":\"my prod API key\",\"created_at\":\"2025-07-29T18:35:44.750352Z\",\"updated_at\":\"2025-07-29T18:35:44.750352Z\",\"expires_at\":\"2026-07-29T18:35:44.583Z\",\"default_project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"51.159.46.153\",\"user_id\":\"77e7fa85-f305-4ea2-afea-09571a039336\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 64.488907ms
