---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-pg-vigilant-haibt","policy_type":"max_availability","tags":["test"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups
        method: POST
      response:
        body: '{"srn":"","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-pg-vigilant-haibt","id":"fee507b9-a8f5-4049-a879-50e3a8596d87","policy_type":"max_availability","tags":["test"],"created_at":"2026-10-02T13:44:26.813945Z","updated_at":"2026-10-02T13:44:26.813945Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 173.301029ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 11.368766ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"cli-test-pg-update","policy_type":"low_latency","tags":["test-update","cli"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups/fee507b9-a8f5-4049-a879-50e3a8596d87
        method: PATCH
      response:
        body: '{"srn":"","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-test-pg-update","id":"fee507b9-a8f5-4049-a879-50e3a8596d87","policy_type":"low_latency","tags":["test-update","cli"],"created_at":"2026-10-02T13:44:26.813945Z","updated_at":"2026-10-02T13:44:26.891495Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 98.145184ms
[...]
