---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-tmpl-flamboyant-kepler","tags":["tmpl-tag"],"server_tags":["server-tag"],"server_type":"BASIC2-A2C-4G","volumes":null,"private_networks":null,"filesystem_ids":null,"public_ip_v4_count":2,"public_ip_v6_count":4}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"55f1f486-a7ad-4b97-8e10-098f221600d8", "name":"cli-tmpl-flamboyant-kepler", "tags":["tmpl-tag"], "server_tags":["server-tag"], "server_type":"BASIC2-A2C-4G", "public_ip_v4_count":2, "public_ip_v6_count":4, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-04T14:59:21.009972Z", "updated_at":"2026-08-04T14:59:21.009972Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.909226ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/55f1f486-a7ad-4b97-8e10-098f221600d8
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 163.555866ms
