---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-pg-stoic-bell","policy_type":"max_availability","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups
        method: POST
      response:
        body: '{"srn":"","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-pg-stoic-bell","id":"3a76bdb4-a177-4ceb-b28e-840ac05daa99","policy_type":"max_availability","tags":[],"created_at":"2026-10-02T13:44:26.104449Z","updated_at":"2026-10-02T13:44:26.104449Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 149.93698ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 10.843759ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_desc
            project_id:
                - fa1e3217-dc80-42ac-85c3-3f034b78b552
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups?order_by=created_at_desc&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552
        method: GET
      response:
        body: '{"placement_groups":[{"srn":"","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-pg-unruffled-lewin","id":"2a6b77f3-ee4f-43f4-8ddd-7715911a45e3","policy_type":"low_latency","tags":[],"created_at":"2026-10-02T13:44:26.287802Z","updated_at":"2026-10-02T13:44:26.287802Z","zone":"fr-par-1"},{"srn":"","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-pg-stoic-bell","id":"3a76bdb4-a177-4ceb-b28e-840ac05daa99","policy_type":"max_availability","tags":[],"created_at":"2026-10-02T13:44:26.104449Z","updated_at":"2026-10-02T13:44:26.104449Z","zone":"fr-par-1"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 79.039543ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups/3a76bdb4-a177-4ceb-b28e-840ac05daa99
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 141.58541ms
[...]
