---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-pg-eloquent-banzai","policy_type":"max_availability","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-pg-eloquent-banzai", "id":"139eda29-c24d-4e6a-ab7a-24f3a60b55a9", "policy_type":"max_availability", "tags":[], "created_at":"2026-09-04T13:46:49.372742Z", "updated_at":"2026-09-04T13:46:49.372742Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 154.081997ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups/139eda29-c24d-4e6a-ab7a-24f3a60b55a9
        method: GET
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-pg-eloquent-banzai", "id":"139eda29-c24d-4e6a-ab7a-24f3a60b55a9", "policy_type":"max_availability", "tags":[], "created_at":"2026-09-04T13:46:49.372742Z", "updated_at":"2026-09-04T13:46:49.372742Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 63.213123ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_desc
            page:
                - "1"
            placement_group_ids:
                - 139eda29-c24d-4e6a-ab7a-24f3a60b55a9
            project_id:
                - fa1e3217-dc80-42ac-85c3-3f034b78b552
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/servers?order_by=created_at_desc&page=1&placement_group_ids=139eda29-c24d-4e6a-ab7a-24f3a60b55a9&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552
        method: GET
      response:
        body: '{"servers":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 123.839608ms
[...]
