---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-sg-nifty-volhard","description":"tmp","disable_default_rules":true,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["cli-test","instance-sg","update"],"project_default":false,"inbound_default_action":"accept","outbound_default_action":"drop","stateless":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/security-groups
        method: POST
      response:
        body: '{"srn":"","id":"9771b0cb-e852-4b5e-9736-f4c00ebb33ff","name":"cli-sg-nifty-volhard","description":"tmp","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["cli-test","instance-sg","update"],"disable_default_rules":true,"project_default":false,"inbound_default_action":"accept","outbound_default_action":"drop","stateless":false,"created_at":"2026-10-06T17:50:21.240222Z","updated_at":"2026-10-06T17:50:21.240222Z","default_rules":[{"id":"11111111-2222-4333-8444-000000000001","protocol":"tcp","direction":"outbound","action":"drop","source_ip_range":"0.0.0.0/0","destination_ip_range":"","source_ports":{"start":1,"end":65536},"destination_ports":{"start":25,"end":25},"position":1},{"id":"11111111-2222-4333-8444-000000000002","protocol":"tcp","direction":"outbound","action":"drop","source_ip_range":"0.0.0.0/0","destination_ip_range":"","source_ports":{"start":1,"end":65536},"destination_ports":{"start":465,"end":465},"position":2},{"id":"11111111-2222-4333-8444-000000000003","protocol":"tcp","direction":"outbound","action":"drop","source_ip_range":"0.0.0.0/0","destination_ip_range":"","source_ports":{"start":1,"end":65536},"destination_ports":{"start":587,"end":587},"position":3},{"id":"11111111-2222-4333-8444-000000000004","protocol":"tcp","direction":"outbound","action":"drop","source_ip_range":"::/0","destination_ip_range":"","source_ports":{"start":1,"end":65536},"destination_ports":{"start":25,"end":25},"position":4},{"id":"11111111-2222-4333-8444-000000000005","protocol":"tcp","direction":"outbound","action":"drop","source_ip_range":"::/0","destination_ip_range":"","source_ports":{"start":1,"end":65536},"destination_ports":{"start":465,"end":465},"position":5},{"id":"11111111-2222-4333-8444-000000000006","protocol":"tcp","direction":"outbound","action":"drop","source_ip_range":"::/0","destination_ip_range":"","source_ports":{"start":1,"end":65536},"destination_ports":{"start":587,"end":587},"position":6}],"rules":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 227.232429ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 10.326642ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"cli-test-sg-update","description":"updated","disable_default_rules":false,"tags":["cli-test","instance-sg","update"],"inbound_default_action":"drop","outbound_default_action":"accept","stateless":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/security-groups/9771b0cb-e852-4b5e-9736-f4c00ebb33ff
        metho[...]
[...]
