---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-tpl-thirsty-ptolemy","tags":null,"server_tags":null,"server_type":"GP1-M","volumes":null,"private_networks":null,"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"5598658f-cf01-488e-9f1c-a68a0997bbed", "name":"cli-tpl-thirsty-ptolemy", "tags":[], "server_tags":[], "server_type":"GP1-M", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-04T12:45:51.026312Z", "updated_at":"2026-08-04T12:45:51.026312Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 292.253271ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"content":"Y29udGVudDE="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/5598658f-cf01-488e-9f1c-a68a0997bbed/user-data/key1
        method: PUT
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 77.240789ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/5598658f-cf01-488e-9f1c-a68a0997bbed/user-data
        method: GET
      response:
        body: '{"keys":["key1", "key2", "key3"], "total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.409695ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/5598658f-cf01-488e-9f1c-a68a0997bbed
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 96.115608ms
