---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-pg-zen-gauss","policy_type":"max_availability","tags":["test"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-pg-zen-gauss", "id":"1a6beb55-e0da-4b84-8e3b-1ede56d4e8dd", "policy_type":"max_availability", "tags":["test"], "created_at":"2026-09-04T13:47:00.928683Z", "updated_at":"2026-09-04T13:47:00.928683Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 246.101035ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"cli-test-pg-update","policy_type":"low_latency","tags":["test-update","cli"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups/1a6beb55-e0da-4b84-8e3b-1ede56d4e8dd
        method: PATCH
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-test-pg-update", "id":"1a6beb55-e0da-4b84-8e3b-1ede56d4e8dd", "policy_type":"low_latency", "tags":["test-update", "cli"], "created_at":"2026-09-04T13:47:00.928683Z", "updated_at":"2026-09-04T13:47:01.038585Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 111.437796ms
[...]
