---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-ns-relaxed-almeida","tags":null,"server_tags":null,"server_type":"BASIC2-A2C-4G","volumes":[{"volume_type":"sbs","name":"ubuntu-root-vol","tags":null,"size":300000000000,"image_label":"ubuntu_jammy","perf_iops":null}],"private_networks":null,"filesystem_ids":null,"public_ip_v4_count":5,"public_ip_v6_count":0}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"2c511966-04a8-482d-be56-365ce5ed820c", "name":"cli-ns-relaxed-almeida", "tags":[], "server_tags":[], "server_type":"BASIC2-A2C-4G", "public_ip_v4_count":5, "public_ip_v6_count":0, "volumes":[{"volume_type":"sbs", "name":"ubuntu-root-vol", "tags":[], "size":300000000000, "image_label":"ubuntu_jammy"}], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-04T12:38:13.354430Z", "updated_at":"2026-08-04T12:38:13.354430Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.917978ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/2c511966-04a8-482d-be56-365ce5ed820c/check
        method: GET
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 95.936621ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/2c511966-04a8-482d-be56-365ce5ed820c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 96.186522ms
