---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-pn-focused-rhodes","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"7fcb5484-aaf8-4507-af0b-fdf527446b30", "name":"cli-pn-focused-rhodes", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-09-08T14:46:54.299918Z", "updated_at":"2026-09-08T14:46:54.299918Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"c7214246-848c-4ad0-83a1-e9065912c10a", "created_at":"2026-09-08T14:46:54.299918Z", "updated_at":"2026-09-08T14:46:54.299918Z", "subnet":"172.16.108.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"7fcb5484-aaf8-4507-af0b-fdf527446b30", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "region":"fr-par"}, {"id":"471fa79e-137c-4095-ae4d-647f93ce10e0", "created_at":"2026-09-08T14:46:54.299918Z", "updated_at":"2026-09-08T14:46:54.299918Z", "subnet":"fd63:256c:45f7:4a87::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"7fcb5484-aaf8-4507-af0b-fdf527446b30", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "region":"fr-par"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "has_object_storage_private_access":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 669.128788ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 10.995039ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"7fcb5484-aaf8-4507-af0b-fdf527446b30","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","ip_ids":null,"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/private-network-interfaces
        method: POST
      response:
        body: '{"id":"de55672f-4c0b-4908-873e-dd0e355eab37", "private_network_id":"7fcb5484-aaf8-4507-af0b-fdf527446b30", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "server_id":"", "security_group_id":"", "mac_address":"02:00:00:1e:21:b8", "status":"available", "ip_ids":["7e57569e-1c23-4ef3-885b-4a4a60e2203e", "93147160-d13c-452a-bcab-c5c516e3c1da"], "tags":[], "created_at":"2026-09-08T14:46:55.011346Z", "updated_at":"2026-09-08T14:46:55.011346Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 540.537016ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/7fcb5484-aaf8-4507-af0b-fdf527446b30
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 1.796274058s
