---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-pg-hopeful-spence","policy_type":"max_availability","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-pg-hopeful-spence", "id":"eb4da5a2-b999-4750-9022-a457103081fa", "policy_type":"max_availability", "tags":[], "created_at":"2026-09-11T13:13:50.219876Z", "updated_at":"2026-09-11T13:13:50.219876Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.302093452s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 10.217237ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups/eb4da5a2-b999-4750-9022-a457103081fa
        method: GET
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-pg-hopeful-spence", "id":"eb4da5a2-b999-4750-9022-a457103081fa", "policy_type":"max_availability", "tags":[], "created_at":"2026-09-11T13:13:50.219876Z", "updated_at":"2026-09-11T13:13:50.219876Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 56.045105ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_desc
            page:
                - "1"
            placement_group_ids:
                - eb4da5a2-b999-4750-9022-a457103081fa
            project_id:
                - fa1e3217-dc80-42ac-85c3-3f034b78b552
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/servers?order_by=created_at_desc&page=1&placement_group_ids=eb4da5a2-b999-4750-9022-a457103081fa&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552
        method: GET
      response:
        body: '{"servers":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 76.440904ms
[...]
