---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"cli-sg-dreamy-hellman","description":"","disable_default_rules":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["foo"],"project_default":false,"inbound_default_action":"accept","outbound_default_action":"accept","stateless":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/security-groups
        method: POST
      response:
        body: '{"srn":"","id":"1b65ee6b-cff9-41c6-9ff2-d5e3952226b9","name":"cli-sg-dreamy-hellman","description":"","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["foo"],"disable_default_rules":false,"project_default":false,"inbound_default_action":"accept","outbound_default_action":"accept","stateless":false,"created_at":"2026-10-06T15:48:54.721604Z","updated_at":"2026-10-06T15:48:54.721604Z","default_rules":[{"id":"11111111-2222-4333-8444-000000000001","protocol":"tcp","direction":"outbound","action":"drop","source_ip_range":"0.0.0.0/0","destination_ip_range":"","source_ports":{"start":1,"end":65536},"destination_ports":{"start":25,"end":25},"position":1},{"id":"11111111-2222-4333-8444-000000000002","protocol":"tcp","direction":"outbound","action":"drop","source_ip_range":"0.0.0.0/0","destination_ip_range":"","source_ports":{"start":1,"end":65536},"destination_ports":{"start":465,"end":465},"position":2},{"id":"11111111-2222-4333-8444-000000000003","protocol":"tcp","direction":"outbound","action":"drop","source_ip_range":"0.0.0.0/0","destination_ip_range":"","source_ports":{"start":1,"end":65536},"destination_ports":{"start":587,"end":587},"position":3},{"id":"11111111-2222-4333-8444-000000000004","protocol":"tcp","direction":"outbound","action":"drop","source_ip_range":"::/0","destination_ip_range":"","source_ports":{"start":1,"end":65536},"destination_ports":{"start":25,"end":25},"position":4},{"id":"11111111-2222-4333-8444-000000000005","protocol":"tcp","direction":"outbound","action":"drop","source_ip_range":"::/0","destination_ip_range":"","source_ports":{"start":1,"end":65536},"destination_ports":{"start":465,"end":465},"position":5},{"id":"11111111-2222-4333-8444-000000000006","protocol":"tcp","direction":"outbound","action":"drop","source_ip_range":"::/0","destination_ip_range":"","source_ports":{"start":1,"end":65536},"destination_ports":{"start":587,"end":587},"position":6}],"rules":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 226.010204ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 6.813675ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_desc
            project_id:
                - fa1e3217-dc80-42ac-85c3-3f034b78b552
            tags:
                - foo
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/security-groups?order_by=created_at_desc&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&tags=foo
        method: GET
      response:
        body: '{"security_groups":[{"srn":"","id":"dd3177ea-c8aa-49ec-b49f-328f1a9c66ce","name":"cli-sg-laughing-nobel","description":"Descriptive text.","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["foo","bar"],"disable_default_rules":false,"project_default":false,"inbound_default_action":"drop","outbound_default_action":"accept","stateless":false,"created_at":"2026-10-06T15:48:55.170993Z","updated_at":"2026-10-06T15:48:55.170993Z","zone":""},{"srn":"","id":"438b82cd-988a-4ed4-988a-e4549355d9a1","name":"Named SG","description":"","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["foo"],"disable_default_rules":false,"project_default":false,"inbound_default_action":"drop","outbound_default_action":"drop","stateless":true,"created_at":"2026-10-06T15:48:55.058164Z","updated_at":"2026-10-06T15:48:55.058164Z","zone":""},{"srn":"","id":"1b65ee6b-cff9-41c6-9ff2-d5e3952226b9","name":"cli-sg-dreamy-hellman","description":"","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["foo"],"disable_default_rules":false,"project_default":false,"inbound_default_action":"accept","outbound_default_action":"accept","stateless":false,"created_at":"2026-10-06T15:48:54.721604Z","updated_at":"2026-10-06T15:48:54.721604Z","zone":""}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 74.357279ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/security-groups/1b65ee6b-cff9-41c6-9ff2-d5e3952226b9
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 123.208699ms
[...]
