---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-tpl-confident-dijkstra","tags":null,"server_tags":null,"server_type":"GP1-M","volumes":null,"private_networks":null,"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"beb3ea13-a8c7-4845-835d-af3ceeee12ac", "name":"cli-tpl-confident-dijkstra", "tags":[], "server_tags":[], "server_type":"GP1-M", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-04T14:50:00.675299Z", "updated_at":"2026-08-04T14:50:00.675299Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 222.81162ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"content":"I2Nsb3VkLWNvbmZpZwpwYWNrYWdlX3VwZGF0ZTogdHJ1ZQpwYWNrYWdlX3VwZ3JhZGU6IHRydWUKcGFja2FnZXM6CiAgLSBzc2hmcwogIC0gc2hlbGxjaGVjaw=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/beb3ea13-a8c7-4845-835d-af3ceeee12ac/user-data/file-key
        method: PUT
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 101.048696ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/beb3ea13-a8c7-4845-835d-af3ceeee12ac/user-data/file-key
        method: GET
      response:
        body: '{"key":"file-key", "content":"I2Nsb3VkLWNvbmZpZwpwYWNrYWdlX3VwZGF0ZTogdHJ1ZQpwYWNrYWdlX3VwZ3JhZGU6IHRydWUKcGFja2FnZXM6CiAgLSBzc2hmcwogIC0gc2hlbGxjaGVjaw=="}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.094555ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/beb3ea13-a8c7-4845-835d-af3ceeee12ac
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 120.696327ms
