---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-ns-hardcore-austin","tags":["tmpl-tag"],"server_tags":null,"server_type":"BASIC2-A2C-4G","volumes":null,"private_networks":null,"filesystem_ids":null,"public_ip_v4_count":2,"public_ip_v6_count":0}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"85534cc5-fd3a-4a12-b1cd-e0d3671f58a0", "name":"cli-ns-hardcore-austin", "tags":["tmpl-tag"], "server_tags":[], "server_type":"BASIC2-A2C-4G", "public_ip_v4_count":2, "public_ip_v6_count":0, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-04T12:38:13.360088Z", "updated_at":"2026-08-04T12:38:13.360088Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 214.222616ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"tags":["new","tags"],"server_tags":["server-tag"],"server_type":"POP2-HM-8C-64G","update_volumes":{"volumes":[{"volume_type":"sbs","name":"cli-test","tags":null,"size":20000000000,"image_label":"ubuntu_resolute","perf_iops":null}]},"update_private_networks":{"private_networks":null},"public_ip_v4_count":0,"public_ip_v6_count":1}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/85534cc5-fd3a-4a12-b1cd-e0d3671f58a0
        method: PATCH
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"85534cc5-fd3a-4a12-b1cd-e0d3671f58a0", "name":"cli-ns-hardcore-austin", "tags":["new", "tags"], "server_tags":["server-tag"], "server_type":"POP2-HM-8C-64G", "public_ip_v4_count":0, "public_ip_v6_count":1, "volumes":[{"volume_type":"sbs", "name":"cli-test", "tags":[], "size":20000000000, "image_label":"ubuntu_resolute"}], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-04T12:38:13.360088Z", "updated_at":"2026-08-04T12:38:13.427804Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.665012ms
[...]
