---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-tpl-trusting-thompson","tags":null,"server_tags":null,"server_type":"GP1-M","volumes":null,"private_networks":null,"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"ec77ae06-9500-42c9-be32-6cf78a2a4d74", "name":"cli-tpl-trusting-thompson", "tags":[], "server_tags":[], "server_type":"GP1-M", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-04T12:45:51.071057Z", "updated_at":"2026-08-04T12:45:51.071057Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 350.797247ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"content":"Y29udGVudDE="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/ec77ae06-9500-42c9-be32-6cf78a2a4d74/user-data/key1
        method: PUT
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 99.995085ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/ec77ae06-9500-42c9-be32-6cf78a2a4d74/user-data?page=1
        method: GET
      response:
        body: '{"keys":["key1", "key3"], "total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.265411ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/ec77ae06-9500-42c9-be32-6cf78a2a4d74
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 78.093804ms
