---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-pg-focused-wing","policy_type":"max_availability","tags":["test"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-pg-focused-wing", "id":"75323741-aa0f-4240-ac0c-60263a9f89e4", "policy_type":"max_availability", "tags":["test"], "created_at":"2026-09-11T13:13:53.020328Z", "updated_at":"2026-09-11T13:13:53.020328Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 127.386091ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 9.415717ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"cli-test-pg-update","policy_type":"low_latency","tags":["test-update","cli"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups/75323741-aa0f-4240-ac0c-60263a9f89e4
        method: PATCH
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-test-pg-update", "id":"75323741-aa0f-4240-ac0c-60263a9f89e4", "policy_type":"low_latency", "tags":["test-update", "cli"], "created_at":"2026-09-11T13:13:53.020328Z", "updated_at":"2026-09-11T13:13:53.085051Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 95.705583ms
[...]
