---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-tpl-goofy-spence","tags":null,"server_tags":null,"server_type":"DEV1-M","volumes":null,"private_networks":null,"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"7c7634f8-5860-4533-908f-341df08906e9", "name":"cli-tpl-goofy-spence", "tags":[], "server_tags":[], "server_type":"DEV1-M", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-04T14:38:57.733321Z", "updated_at":"2026-08-04T14:38:57.733321Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 191.414014ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"content":"I2Nsb3VkLWNvbmZpZwpwYWNrYWdlX3VwZGF0ZTogdHJ1ZQpwYWNrYWdlX3VwZ3JhZGU6IHRydWUKcGFja2FnZXM6CiAgLSBzc2hmcwogIC0gc2hlbGxjaGVjaw=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/7c7634f8-5860-4533-908f-341df08906e9/user-data/cloud-init
        method: PUT
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 104.235624ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/7c7634f8-5860-4533-908f-341df08906e9/user-data/cloud-init
        method: GET
      response:
        body: '{"key":"cloud-init", "content":"I2Nsb3VkLWNvbmZpZwpwYWNrYWdlX3VwZGF0ZTogdHJ1ZQpwYWNrYWdlX3VwZ3JhZGU6IHRydWUKcGFja2FnZXM6CiAgLSBzc2hmcwogIC0gc2hlbGxjaGVjaw=="}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.158344ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/7c7634f8-5860-4533-908f-341df08906e9
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 106.309426ms
