---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-tpl-agitated-driscoll","tags":null,"server_tags":null,"server_type":"GP1-M","volumes":null,"private_networks":null,"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"aee49eef-3b90-40b0-8896-ff925e729d0c", "name":"cli-tpl-agitated-driscoll", "tags":[], "server_tags":[], "server_type":"GP1-M", "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[], "filesystem_ids":[], "created_at":"2026-08-04T12:45:51.035194Z", "updated_at":"2026-08-04T12:45:51.035194Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 304.861715ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"content":"cHV0LXVzZXItZGF0YS1oZXJl"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/aee49eef-3b90-40b0-8896-ff925e729d0c/user-data/example
        method: PUT
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 118.463308ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/aee49eef-3b90-40b0-8896-ff925e729d0c/user-data/example
        method: GET
      response:
        body: '{"key":"example", "content":"cHV0LXVzZXItZGF0YS1oZXJl"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.898685ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/aee49eef-3b90-40b0-8896-ff925e729d0c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 110.003027ms
