---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-pg-epic-ride","policy_type":"max_availability","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-pg-epic-ride", "id":"a1b87134-1b39-4e27-887e-932a23fb2128", "policy_type":"max_availability", "tags":[], "created_at":"2026-09-11T13:13:52.424024Z", "updated_at":"2026-09-11T13:13:52.424024Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 127.017767ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 10.220533ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_desc
            project_id:
                - fa1e3217-dc80-42ac-85c3-3f034b78b552
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups?order_by=created_at_desc&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552
        method: GET
      response:
        body: '{"placement_groups":[{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-pg-blissful-black", "id":"77d01fd6-157d-4207-8e3b-0ded69d78e64", "policy_type":"low_latency", "tags":[], "created_at":"2026-09-11T13:13:52.584219Z", "updated_at":"2026-09-11T13:13:52.584219Z", "zone":"fr-par-1"}, {"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-pg-epic-ride", "id":"a1b87134-1b39-4e27-887e-932a23fb2128", "policy_type":"max_availability", "tags":[], "created_at":"2026-09-11T13:13:52.424024Z", "updated_at":"2026-09-11T13:13:52.424024Z", "zone":"fr-par-1"}], "total_count":2}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 70.281732ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups/a1b87134-1b39-4e27-887e-932a23fb2128
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 129.850011ms
[...]
