---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-pg-admiring-pike","policy_type":"max_availability","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups
        method: POST
      response:
        body: '{"srn":"","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-pg-admiring-pike","id":"6c8fcd90-89f6-4eab-abd0-15a5be569fee","policy_type":"max_availability","tags":[],"created_at":"2026-10-02T13:44:24.325581Z","updated_at":"2026-10-02T13:44:24.325581Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 232.709335ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 9.809804ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups/6c8fcd90-89f6-4eab-abd0-15a5be569fee
        method: GET
      response:
        body: '{"srn":"","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-pg-admiring-pike","id":"6c8fcd90-89f6-4eab-abd0-15a5be569fee","policy_type":"max_availability","tags":[],"created_at":"2026-10-02T13:44:24.325581Z","updated_at":"2026-10-02T13:44:24.325581Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 93.647354ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_desc
            page:
                - "1"
            placement_group_ids:
                - 6c8fcd90-89f6-4eab-abd0-15a5be569fee
            project_id:
                - fa1e3217-dc80-42ac-85c3-3f034b78b552
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/servers?order_by=created_at_desc&page=1&placement_group_ids=6c8fcd90-89f6-4eab-abd0-15a5be569fee&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552
        method: GET
      response:
        body: '{"servers":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 99.323942ms
[...]
