---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-pg-gallant-murdock","policy_type":"max_availability","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-pg-gallant-murdock", "id":"667dce98-f614-4d90-af09-805d684d7993", "policy_type":"max_availability", "tags":[], "created_at":"2026-09-03T15:27:27.927163Z", "updated_at":"2026-09-03T15:27:27.927163Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 515.191856ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups/667dce98-f614-4d90-af09-805d684d7993
        method: GET
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-pg-gallant-murdock", "id":"667dce98-f614-4d90-af09-805d684d7993", "policy_type":"max_availability", "tags":[], "created_at":"2026-09-03T15:27:27.927163Z", "updated_at":"2026-09-03T15:27:27.927163Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 90.544484ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_desc
            page:
                - "1"
            placement_group_ids:
                - 667dce98-f614-4d90-af09-805d684d7993
            project_id:
                - fa1e3217-dc80-42ac-85c3-3f034b78b552
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/servers?order_by=created_at_desc&page=1&placement_group_ids=667dce98-f614-4d90-af09-805d684d7993&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552
        method: GET
      response:
        body: '{"servers":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 86.970173ms
[...]
