---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-pg-affectionate-haslett","policy_type":"max_availability","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-pg-affectionate-haslett", "id":"654dcc8d-01b6-4f35-b01a-e89f8bb44261", "policy_type":"max_availability", "tags":[], "created_at":"2026-09-03T15:27:33.659387Z", "updated_at":"2026-09-03T15:27:33.659387Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 179.941724ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_desc
            project_id:
                - fa1e3217-dc80-42ac-85c3-3f034b78b552
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups?order_by=created_at_desc&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552
        method: GET
      response:
        body: '{"placement_groups":[{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-pg-youthful-pasteur", "id":"49fe4112-f03e-48c9-9c39-c4a7e07e28bc", "policy_type":"low_latency", "tags":[], "created_at":"2026-09-03T15:27:33.794706Z", "updated_at":"2026-09-03T15:27:33.794706Z", "zone":"fr-par-1"}, {"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-pg-affectionate-haslett", "id":"654dcc8d-01b6-4f35-b01a-e89f8bb44261", "policy_type":"max_availability", "tags":[], "created_at":"2026-09-03T15:27:33.65[...]
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups/654dcc8d-01b6-4f35-b01a-e89f8bb44261
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 118.081795ms
[...]
