---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-pg-clever-sammet","policy_type":"max_availability","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-pg-clever-sammet", "id":"a93a932a-c1d3-447b-b0a9-5076b1862eda", "policy_type":"max_availability", "tags":[], "created_at":"2026-09-04T13:46:56.894806Z", "updated_at":"2026-09-04T13:46:56.894806Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 148.266611ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_desc
            project_id:
                - fa1e3217-dc80-42ac-85c3-3f034b78b552
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups?order_by=created_at_desc&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552
        method: GET
      response:
        body: '{"placement_groups":[{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-pg-objective-lichterman", "id":"64e03e6f-f55c-4d7a-87b6-2c3effa7fae9", "policy_type":"low_latency", "tags":[], "created_at":"2026-09-04T13:46:57.008139Z", "updated_at":"2026-09-04T13:46:57.008139Z", "zone":"fr-par-1"}, {"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-pg-clever-sammet", "id":"a93a932a-c1d3-447b-b0a9-5076b1862eda", "policy_type":"max_availability", "tags":[], "created_at":"2026-09-04T13:46:56.89480[...]
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups/a93a932a-c1d3-447b-b0a9-5076b1862eda
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 97.527055ms
[...]
