---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-pg-epic-meninsky","policy_type":"max_availability","tags":["test"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups
        method: POST
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-pg-epic-meninsky", "id":"071c3299-b779-4e4a-9c09-55e3ae790c37", "policy_type":"max_availability", "tags":["test"], "created_at":"2026-09-03T15:27:37.843554Z", "updated_at":"2026-09-03T15:27:37.843554Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 179.660697ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"cli-test-pg-update","policy_type":"low_latency","tags":["test-update","cli"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/placement-groups/071c3299-b779-4e4a-9c09-55e3ae790c37
        method: PATCH
      response:
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-test-pg-update", "id":"071c3299-b779-4e4a-9c09-55e3ae790c37", "policy_type":"low_latency", "tags":["test-update", "cli"], "created_at":"2026-09-03T15:27:37.843554Z", "updated_at":"2026-09-03T15:27:37.908399Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 93.364869ms
[...]
