---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cli-iam-delete-rule","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"srn":"srn://account.scw.eu/projects/0fc1bc77-7527-4625-8c33-c47a486302af","id":"0fc1bc77-7527-4625-8c33-c47a486302af","name":"test-cli-iam-delete-rule","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-10-07T09:57:50.393376Z","updated_at":"2026-10-07T09:57:50.393376Z","description":"","qualification":null,"status":"active"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 190.336116ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 10.281037ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-cli-iam-delete-rule","description":"","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","rules":[{"permission_set_names":["IPAMReadOnly"],"condition":"","project_ids":["0fc1bc77-7527-4625-8c33-c47a486302af"]},{"permission_set_names":["VPCReadOnly"],"condition":"","project_ids":["0fc1bc77-7527-4625-8c33-c47a486302af"]}],"tags":null,"no_principal":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/f01bad67-cc58-4303-bd48-1553c8e01d6a","id":"f01bad67-cc58-4303-bd48-1553c8e01d6a","name":"test-cli-iam-delete-rule","description":"","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-10-07T09:57:50.586123Z","updated_at":"2026-10-07T09:57:50.586123Z","editable":true,"deletable":true,"managed":false,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 104.26222ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/f01bad67-cc58-4303-bd48-1553c8e01d6a
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/f01bad67-cc58-4303-bd48-1553c8e01d6a","id":"f01bad67-cc58-4303-bd48-1553c8e01d6a","name":"test-cli-iam-delete-rule","description":"","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-10-07T09:57:50.586123Z","updated_at":"2026-10-07T09:57:50.586123Z","editable":true,"deletable":true,"managed":false,"nb_rules":2,"nb_scopes":1,"nb_permission_sets":2,"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 27.894179ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
            policy_id:
                - f01bad67-cc58-4303-bd48-1553c8e01d6a
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?page=1&policy_id=f01bad67-cc58-4303-bd48-1553c8e01d6a
        method: GET
      response:
        body: '{"rules":[{"srn":"srn://iam.scw.eu/rules/b7ead963-d951-47e6-99d2-7ed213a3777b","id":"b7ead963-d951-47e6-99d2-7ed213a3777b","permission_set_names":["IPAMReadOnly"],"permission_sets_scope_type":"projects","condition":"","project_ids":["0fc1bc77-7527-4625-8c33-c47a486302af"]},{"srn":"srn://iam.scw.eu/rules/9c7f00c0-bc9f-4178-acce-4b80209ea258","id":"9c7f00c0-bc9f-4178-acce-4b80209ea258","permission_set_names":["VPCReadOnly"],"permission_sets_scope_type":"projects","condition":"","project_ids":["0fc1bc77-7527-4625-8c33-c47a486302af"]}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 42.961336ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"policy_id":"f01bad67-cc58-4303-bd48-1553c8e01d6a","rules":[{"permission_set_names":["VPCReadOnly"],"condition":"","project_ids":["0fc1bc77-7527-4625-8c33-c47a486302af"]}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/rules
        method: PUT
      response:
        body: '{"rules":[{"srn":"srn://iam.scw.eu/rules/0a194151-5d20-4654-870f-153ea741e7f2","id":"0a194151-5d20-4654-870f-153ea741e7f2","permission_set_names":["VPCReadOnly"],"permission_sets_scope_type":"projects","condition":"","project_ids":["0fc1bc77-7527-4625-8c33-c47a486302af"]}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 71.482576ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/0fc1bc77-7527-4625-8c33-c47a486302af
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 1.430659271s
