---
version: 1
interactions:
- request:
    body: '{"users":[{"id":"791cc87f-3379-402f-bba0-f76ddf294f70","email":"cli@scaleway.com","username":"cli@scaleway.com","first_name":"CLI","last_name":"Scaleway","phone_number":"","locale":"en_US","created_at":"2024-11-25T09:43:21.029770Z","updated_at":"2026-03-31T07:35:42.733665Z","organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","deletable":false,"last_login_at":"2026-03-31T07:35:42.750023Z","type":"owner","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"09c11ba0-7319-449a-a9c4-d7e437c625fd","tags":[],"locked":false}],"total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users?order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&type=owner
    method: GET
  response:
    body: '{"users":[{"id":"791cc87f-3379-402f-bba0-f76ddf294f70","email":"cli@scaleway.com","username":"cli@scaleway.com","first_name":"CLI","last_name":"Scaleway","phone_number":"","locale":"en_US","created_at":"2024-11-25T09:43:21.029770Z","updated_at":"2026-03-31T07:35:42.733665Z","organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","deletable":false,"last_login_at":"2026-03-31T07:35:42.750023Z","type":"owner","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"09c11ba0-7319-449a-a9c4-d7e437c625fd","tags":[],"locked":false}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"api_keys":[{"access_key":"SCW3508ENX0JCKRW0DKZ","secret_key":null,"description":"","created_at":"2026-03-30T08:48:06.159212Z","updated_at":"2026-03-30T08:48:06.159212Z","expires_at":null,"default_project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","editable":true,"deletable":true,"managed":false,"creation_ip":"51.159.46.153","user_id":"791cc87f-3379-402f-bba0-f76ddf294f70"}],"total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys?bearer_id=791cc87f-3379-402f-bba0-f76ddf294f70&bearer_type=unknown_bearer_type&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
    method: GET
  response:
    body: '{"api_keys":[{"access_key":"SCW3508ENX0JCKRW0DKZ","secret_key":null,"description":"","created_at":"2026-03-30T08:48:06.159212Z","updated_at":"2026-03-30T08:48:06.159212Z","expires_at":null,"default_project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","editable":true,"deletable":true,"managed":false,"creation_ip":"51.159.46.153","user_id":"791cc87f-3379-402f-bba0-f76ddf294f70"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"access_key":"SCW3508ENX0JCKRW0DKZ","secret_key":null,"description":"","created_at":"2026-03-30T08:48:06.159212Z","updated_at":"2026-03-30T08:48:06.159212Z","expires_at":null,"default_project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","editable":true,"deletable":true,"managed":false,"creation_ip":"51.159.46.153","user_id":"791cc87f-3379-402f-bba0-f76ddf294f70"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW3508ENX0JCKRW0DKZ
    method: GET
  response:
    body: '{"access_key":"SCW3508ENX0JCKRW0DKZ","secret_key":null,"description":"","created_at":"2026-03-30T08:48:06.159212Z","updated_at":"2026-03-30T08:48:06.159212Z","expires_at":null,"default_project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","editable":true,"deletable":true,"managed":false,"creation_ip":"51.159.46.153","user_id":"791cc87f-3379-402f-bba0-f76ddf294f70"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"791cc87f-3379-402f-bba0-f76ddf294f70","email":"cli@scaleway.com","username":"cli@scaleway.com","first_name":"CLI","last_name":"Scaleway","phone_number":"","locale":"en_US","created_at":"2024-11-25T09:43:21.029770Z","updated_at":"2026-03-31T07:35:42.733665Z","organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","deletable":false,"last_login_at":"2026-03-31T07:35:42.750023Z","type":"owner","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"09c11ba0-7319-449a-a9c4-d7e437c625fd","tags":[],"locked":false}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/791cc87f-3379-402f-bba0-f76ddf294f70
    method: GET
  response:
    body: '{"id":"791cc87f-3379-402f-bba0-f76ddf294f70","email":"cli@scaleway.com","username":"cli@scaleway.com","first_name":"CLI","last_name":"Scaleway","phone_number":"","locale":"en_US","created_at":"2024-11-25T09:43:21.029770Z","updated_at":"2026-03-31T07:35:42.733665Z","organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","deletable":false,"last_login_at":"2026-03-31T07:35:42.750023Z","type":"owner","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"09c11ba0-7319-449a-a9c4-d7e437c625fd","tags":[],"locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
