---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"users":[{"id":"84d20ae1-9650-419a-ab74-7ab09b6262e0", "email":"developer-tools-team@scaleway.com", "username":"developer-tools-team@scaleway.com", "first_name":"Developper Tools", "last_name":"TEAM", "phone_number":"", "locale":"en_US", "created_at":"2023-01-23T15:16:01.748877Z", "updated_at":"2025-06-23T13:16:39.476255Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "deletable":true, "last_login_at":null, "type":"member", "two_factor_enabled":true, "status":"activated", "mfa":true, "account_root_user_id":"", "tags":[], "locked":false}, {"id":"ee474852-1f90-4cc1-bad0-4a17998c51e7", "email":"jremy@scaleway.com", "username":"jremy@scaleway.com", "first_name":"Jonathan", "last_name":"REMY", "phone_number":"", "locale":"en_US", "created_at":"2024-01-17T13:14:30.940996Z", "updated_at":"2025-08-01T13:12:24.043561Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "deletable":true, "last_login_at":"2025-08-01T13:12:24.063914Z", "type":"member", "two_factor_enabled":false, "status":"activated", "mfa":false, "account_r[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"api_keys":[{"access_key":"SCWWMXRCRN5C8C2XHFEA", "secret_key":null, "description":"a description", "created_at":"2023-01-23T15:45:59.900260Z", "updated_at":"2023-01-23T15:45:59.900260Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153", "user_id":"84d20ae1-9650-419a-ab74-7ab09b6262e0"}], "total_count":1}'
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys?bearer_id=84d20ae1-9650-419a-ab74-7ab09b6262e0&bearer_type=unknown_bearer_type&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"api_keys":[{"access_key":"SCWWMXRCRN5C8C2XHFEA", "secret_key":null, "description":"a description", "created_at":"2023-01-23T15:45:59.900260Z", "updated_at":"2023-01-23T15:45:59.900260Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153", "user_id":"84d20ae1-9650-419a-ab74-7ab09b6262e0"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.720259ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"access_key":"SCWWMXRCRN5C8C2XHFEA", "secret_key":null, "description":"a description", "created_at":"2023-01-23T15:45:59.900260Z", "updated_at":"2023-01-23T15:45:59.900260Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153", "user_id":"84d20ae1-9650-419a-ab74-7ab09b6262e0"}'
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWWMXRCRN5C8C2XHFEA
        method: GET
      response:
        body: '{"access_key":"SCWWMXRCRN5C8C2XHFEA", "secret_key":null, "description":"a description", "created_at":"2023-01-23T15:45:59.900260Z", "updated_at":"2023-01-23T15:45:59.900260Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153", "user_id":"84d20ae1-9650-419a-ab74-7ab09b6262e0"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.011694ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"id":"84d20ae1-9650-419a-ab74-7ab09b6262e0", "email":"developer-tools-team@scaleway.com", "username":"developer-tools-team@scaleway.com", "first_name":"Developper Tools", "last_name":"TEAM", "phone_number":"", "locale":"en_US", "created_at":"2023-01-23T15:16:01.748877Z", "updated_at":"2025-06-23T13:16:39.476255Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "deletable":true, "last_login_at":null, "type":"member", "two_factor_enabled":true, "status":"activated", "mfa":true, "account_root_user_id":"", "tags":[], "locked":false}'
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/84d20ae1-9650-419a-ab74-7ab09b6262e0
        method: GET
      response:
        body: '{"id":"84d20ae1-9650-419a-ab74-7ab09b6262e0", "email":"developer-tools-team@scaleway.com", "username":"developer-tools-team@scaleway.com", "first_name":"Developper Tools", "last_name":"TEAM", "phone_number":"", "locale":"en_US", "created_at":"2023-01-23T15:16:01.748877Z", "updated_at":"2025-06-23T13:16:39.476255Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "deletable":true, "last_login_at":null, "type":"member", "two_factor_enabled":true, "status":"activated", "mfa":true, "account_root_user_id":"", "tags":[], "locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 164.399532ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"policies":[], "total_count":0}'
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies?order_by=policy_name_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&user_ids=84d20ae1-9650-419a-ab74-7ab09b6262e0
        method: GET
      response:
        body: '{"policies":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.990403ms
