---
version: 1
interactions:
- request:
    body: '{"users":[{"id":"aa669c52-3448-42fb-94ba-f6350a4278d8", "email":"esoulard@scaleway.com",
      "username":"esoulard@scaleway.com", "first_name":"Estelle", "last_name":"SOULARD",
      "phone_number":"", "locale":"en_US", "created_at":"2022-03-29T11:44:54.791271Z",
      "updated_at":"2025-10-23T13:13:41.793202Z", "organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e",
      "deletable":false, "last_login_at":"2025-10-23T13:13:41.797635Z", "type":"owner",
      "two_factor_enabled":true, "status":"activated", "mfa":true, "account_root_user_id":"dd89a02c-b199-46c8-9f71-65eeb6346751",
      "tags":[], "locked":false}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users?order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&type=owner
    method: GET
  response:
    body: '{"users":[{"id":"aa669c52-3448-42fb-94ba-f6350a4278d8", "email":"esoulard@scaleway.com",
      "username":"esoulard@scaleway.com", "first_name":"Estelle", "last_name":"SOULARD",
      "phone_number":"", "locale":"en_US", "created_at":"2022-03-29T11:44:54.791271Z",
      "updated_at":"2025-10-23T13:13:41.793202Z", "organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e",
      "deletable":false, "last_login_at":"2025-10-23T13:13:41.797635Z", "type":"owner",
      "two_factor_enabled":true, "status":"activated", "mfa":true, "account_root_user_id":"dd89a02c-b199-46c8-9f71-65eeb6346751",
      "tags":[], "locked":false}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"api_keys":[{"access_key":"SCWF6K9RF8ABTV51WJH6", "secret_key":null, "description":"",
      "created_at":"2023-02-09T16:25:11.096188Z", "updated_at":"2023-02-09T16:25:11.096188Z",
      "expires_at":null, "default_project_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9",
      "user_id":"aa669c52-3448-42fb-94ba-f6350a4278d8"}, {"access_key":"SCWBZDNS7MNP8491YA6H",
      "secret_key":null, "description":"", "created_at":"2023-03-16T10:11:07.024747Z",
      "updated_at":"2023-03-16T10:11:07.024747Z", "expires_at":null, "default_project_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"10.32.0.150",
      "user_id":"aa669c52-3448-42fb-94ba-f6350a4278d8"}, {"access_key":"SCWTTHJXQG8F3RMY4B47",
      "secret_key":nul[...]
- request:
    body: '{"access_key":"SCWF6K9RF8ABTV51WJH6", "secret_key":null, "description":"",
      "created_at":"2023-02-09T16:25:11.096188Z", "updated_at":"2023-02-09T16:25:11.096188Z",
      "expires_at":null, "default_project_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9",
      "user_id":"aa669c52-3448-42fb-94ba-f6350a4278d8"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWF6K9RF8ABTV51WJH6
    method: GET
  response:
    body: '{"access_key":"SCWF6K9RF8ABTV51WJH6", "secret_key":null, "description":"",
      "created_at":"2023-02-09T16:25:11.096188Z", "updated_at":"2023-02-09T16:25:11.096188Z",
      "expires_at":null, "default_project_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9",
      "user_id":"aa669c52-3448-42fb-94ba-f6350a4278d8"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"aa669c52-3448-42fb-94ba-f6350a4278d8", "email":"esoulard@scaleway.com",
      "username":"esoulard@scaleway.com", "first_name":"Estelle", "last_name":"SOULARD",
      "phone_number":"", "locale":"en_US", "created_at":"2022-03-29T11:44:54.791271Z",
      "updated_at":"2025-10-23T13:13:41.793202Z", "organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e",
      "deletable":false, "last_login_at":"2025-10-23T13:13:41.797635Z", "type":"owner",
      "two_factor_enabled":[...]
