---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cli-iam-create-rule","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"srn":"srn://account.scw.eu/projects/551905dd-83e8-4492-8d2d-ccaf58e65cfd","id":"551905dd-83e8-4492-8d2d-ccaf58e65cfd","name":"test-cli-iam-create-rule","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-10-07T09:57:48.244206Z","updated_at":"2026-10-07T09:57:48.244206Z","description":"","qualification":null,"status":"active"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 191.367682ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 10.527424ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-cli-iam-create-rule","description":"","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","rules":[{"permission_set_names":["IPAMReadOnly"],"condition":"","project_ids":["551905dd-83e8-4492-8d2d-ccaf58e65cfd"]}],"tags":null,"no_principal":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/d6fe8e81-21d6-441a-8eb2-acf8eb8bb02e","id":"d6fe8e81-21d6-441a-8eb2-acf8eb8bb02e","name":"test-cli-iam-create-rule","description":"","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-10-07T09:57:48.439314Z","updated_at":"2026-10-07T09:57:48.439314Z","editable":true,"deletable":true,"managed":false,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 104.447978ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
            policy_id:
                - d6fe8e81-21d6-441a-8eb2-acf8eb8bb02e
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?page=1&policy_id=d6fe8e81-21d6-441a-8eb2-acf8eb8bb02e
        method: GET
      response:
        body: '{"rules":[{"srn":"srn://iam.scw.eu/rules/0fb3c5b9-4aa5-4468-b816-cc5027d30571","id":"0fb3c5b9-4aa5-4468-b816-cc5027d30571","permission_set_names":["IPAMReadOnly"],"permission_sets_scope_type":"projects","condition":"","project_ids":["551905dd-83e8-4492-8d2d-ccaf58e65cfd"]}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 41.753948ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"policy_id":"d6fe8e81-21d6-441a-8eb2-acf8eb8bb02e","rules":[{"permission_set_names":["IPAMReadOnly"],"condition":"","project_ids":["551905dd-83e8-4492-8d2d-ccaf58e65cfd"]},{"permission_set_names":["VPCReadOnly"],"condition":"","project_ids":["551905dd-83e8-4492-8d2d-ccaf58e65cfd"]}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/rules
        method: PUT
      response:
        body: '{"rules":[{"srn":"srn://iam.scw.eu/rules/fc7679c4-5d2c-4956-bea6-6d2b48f6d91f","id":"fc7679c4-5d2c-4956-bea6-6d2b48f6d91f","permission_set_names":["IPAMReadOnly"],"permission_sets_scope_type":"projects","condition":"","project_ids":["551905dd-83e8-4492-8d2d-ccaf58e65cfd"]},{"srn":"srn://iam.scw.eu/rules/f85a14b2-4f32-4b04-aee8-ddf5c93ad95d","id":"f85a14b2-4f32-4b04-aee8-ddf5c93ad95d","permission_set_names":["VPCReadOnly"],"permission_sets_scope_type":"projects","condition":"","project_ids":["551905dd-83e8-4492-8d2d-ccaf58e65cfd"]}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 78.657456ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/d6fe8e81-21d6-441a-8eb2-acf8eb8bb02e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 44.75271ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/551905dd-83e8-4492-8d2d-ccaf58e65cfd
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 1.672965832s
