---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cli-iam-api-key1208138096047661521","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","description":"","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/68d9c930-ab0b-4b3a-b200-309013bd60b2","id":"68d9c930-ab0b-4b3a-b200-309013bd60b2","name":"test-cli-iam-api-key1208138096047661521","description":"","created_at":"2026-10-07T09:57:45.430681Z","updated_at":"2026-10-07T09:57:45.430681Z","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 83.470621ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 10.41728ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"application_id":"68d9c930-ab0b-4b3a-b200-309013bd60b2","description":"test-cli-iam-api-key"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCW2J4FJNVVE6AMTBQGM","access_key":"SCWXXXXXXXXXXXXXXXXX","secret_key":"11111111-1111-1111-1111-111111111111","description":"test-cli-iam-api-key","created_at":"2026-10-07T09:57:45.527021Z","updated_at":"2026-10-07T09:57:45.527021Z","expires_at":"2027-10-07T09:57:45.526386Z","default_project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","editable":true,"deletable":true,"managed":false,"creation_ip":"82.124.125.44","application_id":"68d9c930-ab0b-4b3a-b200-309013bd60b2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 86.616056ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCW2J4FJNVVE6AMTBQGM","access_key":"SCWXXXXXXXXXXXXXXXXX","secret_key":null,"description":"test-cli-iam-api-key","created_at":"2026-10-07T09:57:45.527021Z","updated_at":"2026-10-07T09:57:45.527021Z","expires_at":"2027-10-07T09:57:45.526386Z","default_project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","editable":true,"deletable":true,"managed":false,"creation_ip":"82.124.125.44","application_id":"68d9c930-ab0b-4b3a-b200-309013bd60b2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 42.995141ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            application_ids:
                - 68d9c930-ab0b-4b3a-b200-309013bd60b2
            order_by:
                - policy_name_asc
            organization_id:
                - de2b260d-2c2e-4be9-baa0-99d8ed17f1da
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies?application_ids=68d9c930-ab0b-4b3a-b200-309013bd60b2&order_by=policy_name_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"policies":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 54.436886ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/68d9c930-ab0b-4b3a-b200-309013bd60b2
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 54.501791ms
