---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"ssh_keys":[{"srn":"srn://iam.scw.eu/ssh-keys/f191a0b4-9b78-4eec-84c9-c465ba1fae9d","id":"f191a0b4-9b78-4eec-84c9-c465ba1fae9d","name":"cli-key-competent-visvesvaraya","public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQCbJuYSOQc01zjHsMyn4OUsW61cqRvttKt3StJgbvt2WBuGpwi1/5RtSoMQpudYlZpdeivFb21S8QRas8zcOc+6WqgWa2nj/8yA+cauRlV6CMWY+hOTkkg39xaekstuQ+WR2/AP7O/9hjVx5735+9ZNIxxHsFjVYdBEuk9gEX+1Rw==","fingerprint":"1024 MD5:da:0f:06:4c:de:fe:a1:c0:6c:e9:bb:78:e1:a4:e8:ce (ssh-rsa)","created_at":"2026-10-07T06:57:47.804465Z","updated_at":"2026-10-07T06:57:47.804465Z","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","disabled":false}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 41.889742ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 9.412111ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"key-boring-allen","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBn9mGL7LGZ6/RTIVP7GExiD5gOwgl63MbJGlL7a6U3x foo@foobar.com","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/ssh-keys/6b7bb046-550f-42ca-b4cc-420e3c2f0f37","id":"6b7bb046-550f-42ca-b4cc-420e3c2f0f37","name":"key-boring-allen","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBn9mGL7LGZ6/RTIVP7GExiD5gOwgl63MbJGlL7a6U3x","fingerprint":"256 MD5:1e:f8:f7:cb:c4:b7:a8:6d:96:20:49:d0:d0:af:a0:9e (ssh-ed25519)","created_at":"2026-10-07T09:57:52.417329Z","updated_at":"2026-10-07T09:57:52.417329Z","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","disabled":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 89.62213ms
