---
version: 1
interactions:
- request:
    body: '{"users":[{"id":"e7a35342-d125-42e3-a0d8-f2f378abd1de","email":"testiam@testiam.testiam","username":"test-cli-iam-membership-api-key","first_name":"","last_name":"","phone_number":"","locale":"en_US","created_at":"2026-04-02T10:38:24.081192Z","updated_at":"2026-04-02T10:39:36.613091Z","organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","deletable":true,"last_login_at":"2026-04-02T10:39:36.618851Z","type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":[],"locked":false}],"total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users?order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&type=member&user_ids=e7a35342-d125-42e3-a0d8-f2f378abd1de
    method: GET
  response:
    body: '{"users":[{"id":"e7a35342-d125-42e3-a0d8-f2f378abd1de","email":"testiam@testiam.testiam","username":"test-cli-iam-membership-api-key","first_name":"","last_name":"","phone_number":"","locale":"en_US","created_at":"2026-04-02T10:38:24.081192Z","updated_at":"2026-04-02T10:39:36.613091Z","organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","deletable":true,"last_login_at":"2026-04-02T10:39:36.618851Z","type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":[],"locked":false}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"api_keys":[{"access_key":"SCWVHZ094TMXVJS6571R","secret_key":null,"description":"API
      key used solely for nightly IAM API keys listing tests.","created_at":"2026-04-02T10:40:53.087685Z","updated_at":"2026-04-02T10:40:53.087685Z","expires_at":null,"default_project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","editable":true,"deletable":true,"managed":false,"creation_ip":"51.159.73.9","user_id":"e7a35342-d125-42e3-a0d8-f2f378abd1de"}],"total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys?bearer_id=e7a35342-d125-42e3-a0d8-f2f378abd1de&bearer_type=unknown_bearer_type&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
    method: GET
  response:
    body: '{"api_keys":[{"access_key":"SCWVHZ094TMXVJS6571R","secret_key":null,"description":"API
      key used solely for nightly IAM API keys listing tests.","created_at":"2026-04-02T10:40:53.087685Z","updated_at":"2026-04-02T10:40:53.087685Z","expires_at":null,"default_project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","editable":true,"deletable":true,"managed":false,"creation_ip":"51.159.73.9","user_id":"e7a35342-d125-42e3-a0d8-f2f378abd1de"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"access_key":"SCWVHZ094TMXVJS6571R","secret_key":null,"description":"API
      key used solely for nightly IAM API keys listing tests.","created_at":"2026-04-02T10:40:53.087685Z","updated_at":"2026-04-02T10:40:53.087685Z","expires_at":null,"default_project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","editable":true,"deletable":true,"managed":false,"creation_ip":"51.159.73.9","user_id":"e7a35342-d125-42e3-a0d8-f2f378abd1de"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWVHZ094TMXVJS6571R
    method: GET
  response:
    body: '{"access_key":"SCWVHZ094TMXVJS6571R","secret_key":null,"description":"API
      key used solely for nightly IAM API keys listing tests.","created_at":"2026-04-02T10:40:53.087685Z","updated_at":"2026-04-02T10:40:53.087685Z","expires_at":null,"default_project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","editable":true,"deletable":true,"managed":false,"creation_ip":"51.159.73.9","user_id":"e7a35342-d125-42e3-a0d8-f2f378abd1de"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"e7a35342-d125-42e3-a0d8-f2f378abd1de","email":"testiam@testiam.testiam","username":"test-cli-iam-membership-api-key","first_name":"","last_name":"","phone_number":"","locale":"en_US","created_at":"2026-04-02T10:38:24.081192Z","updated_at":"2026-04-02T10:39:36.613091Z","organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","deletable":true,"last_login_at":"2026-04-02T10:39:36.618851Z","type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":[],"locked":false}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/e7a35342-d125-42e3-a0d8-f2f378abd1de
    method: GET
  response:
    body: '{"id":"e7a35342-d125-42e3-a0d8-f2f378abd1de","email":"testiam@testiam.testiam","username":"test-cli-iam-membership-api-key","first_name":"","last_name":"","phone_number":"","locale":"en_US","created_at":"2026-04-02T10:38:24.081192Z","updated_at":"2026-04-02T10:39:36.613091Z","organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","deletable":true,"last_login_at":"2026-04-02T10:39:36.618851Z","type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":[],"locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"policies":[],"total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies?order_by=policy_name_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&user_ids=e7a35342-d125-42e3-a0d8-f2f378abd1de
    method: GET
  response:
    body: '{"policies":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
