---
version: 1
interactions:
- request:
    body: '{"applications":[{"id":"ee684d01-4555-4b8e-afd7-ac7755e1e50e","name":"test-cli-iam-application-api-key","description":"API
      key used solely for nightly IAM API keys listing tests.","created_at":"2026-04-02T09:52:54.585231Z","updated_at":"2026-04-02T10:45:42.441201Z","organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","editable":true,"deletable":true,"managed":false,"nb_api_keys":1,"tags":[]}],"total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications?name=test-cli-iam-application-api-key&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
    method: GET
  response:
    body: '{"applications":[{"id":"ee684d01-4555-4b8e-afd7-ac7755e1e50e","name":"test-cli-iam-application-api-key","description":"API
      key used solely for nightly IAM API keys listing tests.","created_at":"2026-04-02T09:52:54.585231Z","updated_at":"2026-04-02T10:45:42.441201Z","organization_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","editable":true,"deletable":true,"managed":false,"nb_api_keys":1,"tags":[]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"api_keys":[{"access_key":"SCWZ2CNKDJ217YMA8XFD","secret_key":null,"description":"API
      key used solely for nightly IAM API keys listing tests.","created_at":"2026-04-02T10:46:26.282392Z","updated_at":"2026-04-02T10:46:56.166254Z","expires_at":null,"default_project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","editable":true,"deletable":true,"managed":false,"creation_ip":"51.159.73.9","application_id":"ee684d01-4555-4b8e-afd7-ac7755e1e50e"}],"total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys?bearer_id=ee684d01-4555-4b8e-afd7-ac7755e1e50e&bearer_type=unknown_bearer_type&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
    method: GET
  response:
    body: '{"api_keys":[{"access_key":"SCWZ2CNKDJ217YMA8XFD","secret_key":null,"description":"API
      key used solely for nightly IAM API keys listing tests.","created_at":"2026-04-02T10:46:26.282392Z","updated_at":"2026-04-02T10:46:56.166254Z","expires_at":null,"default_project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","editable":true,"deletable":true,"managed":false,"creation_ip":"51.159.73.9","application_id":"ee684d01-4555-4b8e-afd7-ac7755e1e50e"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"access_key":"SCWZ2CNKDJ217YMA8XFD","secret_key":null,"description":"API
      key used solely for nightly IAM API keys listing tests.","created_at":"2026-04-02T10:46:26.282392Z","updated_at":"2026-04-02T10:46:56.166254Z","expires_at":null,"default_project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","editable":true,"deletable":true,"managed":false,"creation_ip":"51.159.73.9","application_id":"ee684d01-4555-4b8e-afd7-ac7755e1e50e"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWZ2CNKDJ217YMA8XFD
    method: GET
  response:
    body: '{"access_key":"SCWZ2CNKDJ217YMA8XFD","secret_key":null,"description":"API
      key used solely for nightly IAM API keys listing tests.","created_at":"2026-04-02T10:46:26.282392Z","updated_at":"2026-04-02T10:46:56.166254Z","expires_at":null,"default_project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","editable":true,"deletable":true,"managed":false,"creation_ip":"51.159.73.9","application_id":"ee684d01-4555-4b8e-afd7-ac7755e1e50e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"policies":[],"total_count":0}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies?application_ids=ee684d01-4555-4b8e-afd7-ac7755e1e50e&order_by=policy_name_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
    method: GET
  response:
    body: '{"policies":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
