---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"1c58dca0-da1e-4fc8-84d0-02c2264959be", "name":"test-cli-iam-delete-rule", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-08-07T09:56:48.708466Z", "updated_at":"2025-08-07T09:56:48.708466Z", "description":"", "qualification":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"id":"1c58dca0-da1e-4fc8-84d0-02c2264959be", "name":"test-cli-iam-delete-rule", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-08-07T09:56:48.708466Z", "updated_at":"2025-08-07T09:56:48.708466Z", "description":"", "qualification":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 397.351882ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"06959a88-61dd-497b-9ae1-2d8001f51e98", "name":"test-cli-iam-delete-rule", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-08-07T09:56:49.070167Z", "updated_at":"2025-08-07T09:56:49.070167Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "no_principal":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"id":"06959a88-61dd-497b-9ae1-2d8001f51e98", "name":"test-cli-iam-delete-rule", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-08-07T09:56:49.070167Z", "updated_at":"2025-08-07T09:56:49.070167Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.433528ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"06959a88-61dd-497b-9ae1-2d8001f51e98", "name":"test-cli-iam-delete-rule", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-08-07T09:56:49.070167Z", "updated_at":"2025-08-07T09:56:49.070167Z", "editable":true, "deletable":true, "managed":false, "nb_rules":2, "nb_scopes":1, "nb_permission_sets":2, "tags":[], "no_principal":true}'
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/06959a88-61dd-497b-9ae1-2d8001f51e98
        method: GET
      response:
        body: '{"id":"06959a88-61dd-497b-9ae1-2d8001f51e98", "name":"test-cli-iam-delete-rule", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-08-07T09:56:49.070167Z", "updated_at":"2025-08-07T09:56:49.070167Z", "editable":true, "deletable":true, "managed":false, "nb_rules":2, "nb_scopes":1, "nb_permission_sets":2, "tags":[], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.614355ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"rules":[{"id":"b0bb9559-1b71-4967-97ce-a636040a58e2", "permission_set_names":["IPAMReadOnly"], "permission_sets_scope_type":"projects", "condition":"", "project_ids":["1c58dca0-da1e-4fc8-84d0-02c2264959be"]}, {"id":"82a4ec52-32c6-4d16-9579-700629b26887", "permission_set_names":["VPCReadOnly"], "permission_sets_scope_type":"projects", "condition":"", "project_ids":["1c58dca0-da1e-4fc8-84d0-02c2264959be"]}], "total_count":2}'
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?page=1&policy_id=06959a88-61dd-497b-9ae1-2d8001f51e98
        method: GET
      response:
        body: '{"rules":[{"id":"b0bb9559-1b71-4967-97ce-a636040a58e2", "permission_set_names":["IPAMReadOnly"], "permission_sets_scope_type":"projects", "condition":"", "project_ids":["1c58dca0-da1e-4fc8-84d0-02c2264959be"]}, {"id":"82a4ec52-32c6-4d16-9579-700629b26887", "permission_set_names":["VPCReadOnly"], "permission_sets_scope_type":"projects", "condition":"", "project_ids":["1c58dca0-da1e-4fc8-84d0-02c2264959be"]}], "total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.194572ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"rules":[{"id":"1bb58e2f-6651-4c50-894e-63952282f588", "permission_set_names":["VPCReadOnly"], "permission_sets_scope_type":"projects", "condition":"", "project_ids":["1c58dca0-da1e-4fc8-84d0-02c2264959be"]}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/rules
        method: PUT
      response:
        body: '{"rules":[{"id":"1bb58e2f-6651-4c50-894e-63952282f588", "permission_set_names":["VPCReadOnly"], "permission_sets_scope_type":"projects", "condition":"", "project_ids":["1c58dca0-da1e-4fc8-84d0-02c2264959be"]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 193.852061ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/1c58dca0-da1e-4fc8-84d0-02c2264959be
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.380519984s
