---
version: 1
interactions:
- request:
    body: '{"id":"952694bf-3221-43fc-b2dd-44701b746762","name":"test-cli-iam-delete-rule","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2024-04-09T12:54:07.841090Z","updated_at":"2024-04-09T12:54:07.841090Z","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"id":"952694bf-3221-43fc-b2dd-44701b746762","name":"test-cli-iam-delete-rule","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2024-04-09T12:54:07.841090Z","updated_at":"2024-04-09T12:54:07.841090Z","description":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"26306b32-4286-43ab-ba81-d111539ed822","name":"test-cli-iam-delete-rule","description":"","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2024-04-09T12:54:08.041690Z","updated_at":"2024-04-09T12:54:08.041690Z","editable":true,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"tags":[],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"26306b32-4286-43ab-ba81-d111539ed822","name":"test-cli-iam-delete-rule","description":"","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2024-04-09T12:54:08.041690Z","updated_at":"2024-04-09T12:54:08.041690Z","editable":true,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"tags":[],"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"26306b32-4286-43ab-ba81-d111539ed822","name":"test-cli-iam-delete-rule","description":"","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2024-04-09T12:54:08.041690Z","updated_at":"2024-04-09T12:54:08.041690Z","editable":true,"nb_rules":2,"nb_scopes":1,"nb_permission_sets":2,"tags":[],"no_principal":true}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/26306b32-4286-43ab-ba81-d111539ed822
    method: GET
  response:
    body: '{"id":"26306b32-4286-43ab-ba81-d111539ed822","name":"test-cli-iam-delete-rule","description":"","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2024-04-09T12:54:08.041690Z","updated_at":"2024-04-09T12:54:08.041690Z","editable":true,"nb_rules":2,"nb_scopes":1,"nb_permission_sets":2,"tags":[],"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"rules":[{"id":"ab2878b1-b3a9-4fae-b10a-065de194a874","permission_set_names":["IPAMReadOnly"],"permission_sets_scope_type":"projects","project_ids":["952694bf-3221-43fc-b2dd-44701b746762"]},{"id":"f46fc847-ef03-4531-b368-dd07db388b0b","permission_set_names":["VPCReadOnly"],"permission_sets_scope_type":"projects","project_ids":["952694bf-3221-43fc-b2dd-44701b746762"]}],"total_count":2}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?page=1&policy_id=26306b32-4286-43ab-ba81-d111539ed822
    method: GET
  response:
    body: '{"rules":[{"id":"ab2878b1-b3a9-4fae-b10a-065de194a874","permission_set_names":["IPAMReadOnly"],"permission_sets_scope_type":"projects","project_ids":["952694bf-3221-43fc-b2dd-44701b746762"]},{"id":"f46fc847-ef03-4531-b368-dd07db388b0b","permission_set_names":["VPCReadOnly"],"permission_sets_scope_type":"projects","project_ids":["952694bf-3221-43fc-b2dd-44701b746762"]}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"rules":[{"id":"fc7a8836-b5dd-4380-a9c7-6be096134a69","permission_set_names":["VPCReadOnly"],"permission_sets_scope_type":"projects","project_ids":["952694bf-3221-43fc-b2dd-44701b746762"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: '{"rules":[{"id":"fc7a8836-b5dd-4380-a9c7-6be096134a69","permission_set_names":["VPCReadOnly"],"permission_sets_scope_type":"projects","project_ids":["952694bf-3221-43fc-b2dd-44701b746762"]}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/952694bf-3221-43fc-b2dd-44701b746762
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
