---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            organization_id:
                - de2b260d-2c2e-4be9-baa0-99d8ed17f1da
            page:
                - "1"
            type:
                - member
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users?order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&type=member
        method: GET
      response:
        body: '{"users":[{"srn":"srn://iam.scw.eu/users/1a2b3b90-fa68-4a22-91bd-1b2a5e10ba2c","id":"1a2b3b90-fa68-4a22-91bd-1b2a5e10ba2c","email":"rbaugue+member@scaleway.com","username":"rbaugue-member","first_name":"Romain Member","last_name":"Baugue","phone_number":"","locale":"en_US","created_at":"2026-09-27T13:19:45.325444Z","updated_at":"2026-09-27T13:25:15.635005Z","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","deletable":true,"last_login_at":"2026-09-27T13:25:15.641662Z","type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":[],"locked":false}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 42.679689ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 11.986235ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            bearer_id:
                - 1a2b3b90-fa68-4a22-91bd-1b2a5e10ba2c
            bearer_type:
                - unknown_bearer_type
            order_by:
                - created_at_asc
            organization_id:
                - de2b260d-2c2e-4be9-baa0-99d8ed17f1da
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys?bearer_id=1a2b3b90-fa68-4a22-91bd-1b2a5e10ba2c&bearer_type=unknown_bearer_type&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"api_keys":[{"srn":"srn://iam.scw.eu/api-keys/SCWW9D803SKGVFJ5DZ69","access_key":"SCWXXXXXXXXXXXXXXXXX","secret_key":null,"description":"","created_at":"2026-09-27T13:25:37.193898Z","updated_at":"2026-09-27T13:25:37.193898Z","expires_at":"2027-09-27T13:25:36.929Z","default_project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","editable":true,"deletable":true,"managed":false,"creation_ip":"82.124.125.44","user_id":"1a2b3b90-fa68-4a22-91bd-1b2a5e10ba2c"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 42.029818ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCWW9D803SKGVFJ5DZ69","access_key":"SCWXXXXXXXXXXXXXXXXX","secret_key":null,"description":"","created_at":"2026-09-27T13:25:37.193898Z","updated_at":"2026-09-27T13:25:37.193898Z","expires_at":"2027-09-27T13:25:36.929Z","default_project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","editable":true,"deletable":true,"managed":false,"creation_ip":"82.124.125.44","user_id":"1a2b3b90-fa68-4a22-91bd-1b2a5e10ba2c"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 34.861341ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/1a2b3b90-fa68-4a22-91bd-1b2a5e10ba2c
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/users/1a2b3b90-fa68-4a22-91bd-1b2a5e10ba2c","id":"1a2b3b90-fa68-4a22-91bd-1b2a5e10ba2c","email":"rbaugue+member@scaleway.com","username":"rbaugue-member","first_name":"Romain Member","last_name":"Baugue","phone_number":"","locale":"en_US","created_at":"2026-09-27T13:19:45.325444Z","updated_at":"2026-09-27T13:25:15.635005Z","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","deletable":true,"last_login_at":"2026-09-27T13:25:15.641662Z","type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":[],"locked":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 40.099753ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            order_by:
                - policy_name_asc
            organization_id:
                - de2b260d-2c2e-4be9-baa0-99d8ed17f1da
            page:
                - "1"
            user_ids:
                - 1a2b3b90-fa68-4a22-91bd-1b2a5e10ba2c
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies?order_by=policy_name_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&user_ids=1a2b3b90-fa68-4a22-91bd-1b2a5e10ba2c
        method: GET
      response:
        body: '{"policies":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 36.824089ms
