---
version: 1
interactions:
- request:
    body: '{"users":[{"id":"3153ad6d-2866-4471-b0b3-6728cf875a1c", "email":"gnoale@scaleway.com",
      "username":"gnoale@scaleway.com", "first_name":"Guillaume", "last_name":"NOALE",
      "phone_number":"", "locale":"en_US", "created_at":"2025-03-28T10:50:07.185700Z",
      "updated_at":"2025-05-14T07:13:05.513760Z", "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "deletable":false, "last_login_at":"2025-05-14T07:13:05.534507Z", "type":"owner",
      "two_factor_enabled":false, "status":"activated", "mfa":false, "account_root_user_id":"a4b0ffed-f500-4ea6-b469-51bbc7b2cb99",
      "tags":[], "locked":false}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users?order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&type=owner
    method: GET
  response:
    body: '{"users":[{"id":"3153ad6d-2866-4471-b0b3-6728cf875a1c", "email":"gnoale@scaleway.com",
      "username":"gnoale@scaleway.com", "first_name":"Guillaume", "last_name":"NOALE",
      "phone_number":"", "locale":"en_US", "created_at":"2025-03-28T10:50:07.185700Z",
      "updated_at":"2025-05-14T07:13:05.513760Z", "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "deletable":false, "last_login_at":"2025-05-14T07:13:05.534507Z", "type":"owner",
      "two_factor_enabled":false, "status":"activated", "mfa":false, "account_root_user_id":"a4b0ffed-f500-4ea6-b469-51bbc7b2cb99",
      "tags":[], "locked":false}], "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"api_keys":[{"access_key":"SCWEBEM4J7VT79C0T0GA", "secret_key":null, "description":"",
      "created_at":"2025-04-02T14:15:50.935181Z", "updated_at":"2025-04-02T14:15:50.935181Z",
      "expires_at":null, "default_project_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9",
      "user_id":"3153ad6d-2866-4471-b0b3-6728cf875a1c"}, {"access_key":"SCW3WPMMZ8P22BBBNS4V",
      "secret_key":null, "description":"Generated by the Scaleway CLI", "created_at":"2025-04-29T15:18:01.672815Z",
      "updated_at":"2025-04-29T15:18:01.672815Z", "expires_at":null, "default_project_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.145",
      "user_id":"3153ad6d-2866-4471-b0b3-6728cf875a1c"}, {"access_key":"SCWMB21R57P0JW[...]
- request:
    body: '{"access_key":"SCWEBEM4J7VT79C0T0GA", "secret_key":null, "description":"",
      "created_at":"2025-04-02T14:15:50.935181Z", "updated_at":"2025-04-02T14:15:50.935181Z",
      "expires_at":null, "default_project_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9",
      "user_id":"3153ad6d-2866-4471-b0b3-6728cf875a1c"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWEBEM4J7VT79C0T0GA
    method: GET
  response:
    body: '{"access_key":"SCWEBEM4J7VT79C0T0GA", "secret_key":null, "description":"",
      "created_at":"2025-04-02T14:15:50.935181Z", "updated_at":"2025-04-02T14:15:50.935181Z",
      "expires_at":null, "default_project_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9",
      "user_id":"3153ad6d-2866-4471-b0b3-6728cf875a1c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"3153ad6d-2866-4471-b0b3-6728cf875a1c", "email":"gnoale@scaleway.com",
      "username":"gnoale@scaleway.com", "first_name":"Guillaume", "last_name":"NOALE",
      "phone_number":"", "locale":"en_US", "created_at":"2025-03-28T10:50:07.185700Z",
      "updated_at":"2025-05-14T07:13:05.513760Z", "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "deletable":false, "last_login_at":"2025-05-14T07:13:05.534507Z", "type":"owner",
      "two_factor_enabled":fals[...]
