---
version: 1
interactions:
- request:
    body: '{"id":"87221b69-c0fe-443d-985b-321d7cbd0af9","name":"test-cli-get-policy","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2024-04-09T09:50:19.674563Z","updated_at":"2024-04-09T09:50:19.674563Z","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"id":"87221b69-c0fe-443d-985b-321d7cbd0af9","name":"test-cli-get-policy","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2024-04-09T09:50:19.674563Z","updated_at":"2024-04-09T09:50:19.674563Z","description":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"abb2fc89-6c2b-46af-939c-3725a1fe0df8","name":"test-cli-get-policy","description":"","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2024-04-09T09:50:19.871600Z","updated_at":"2024-04-09T09:50:19.871600Z","editable":true,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"tags":[],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"abb2fc89-6c2b-46af-939c-3725a1fe0df8","name":"test-cli-get-policy","description":"","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2024-04-09T09:50:19.871600Z","updated_at":"2024-04-09T09:50:19.871600Z","editable":true,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"tags":[],"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"abb2fc89-6c2b-46af-939c-3725a1fe0df8","name":"test-cli-get-policy","description":"","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2024-04-09T09:50:19.871600Z","updated_at":"2024-04-09T09:50:19.871600Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"tags":[],"no_principal":true}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/abb2fc89-6c2b-46af-939c-3725a1fe0df8
    method: GET
  response:
    body: '{"id":"abb2fc89-6c2b-46af-939c-3725a1fe0df8","name":"test-cli-get-policy","description":"","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2024-04-09T09:50:19.871600Z","updated_at":"2024-04-09T09:50:19.871600Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"tags":[],"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"rules":[{"id":"bb38e001-5eb5-428c-b1f9-0eab9e055b7f","permission_set_names":["IPAMReadOnly"],"permission_sets_scope_type":"projects","project_ids":["87221b69-c0fe-443d-985b-321d7cbd0af9"]}],"total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?page=1&policy_id=abb2fc89-6c2b-46af-939c-3725a1fe0df8
    method: GET
  response:
    body: '{"rules":[{"id":"bb38e001-5eb5-428c-b1f9-0eab9e055b7f","permission_set_names":["IPAMReadOnly"],"permission_sets_scope_type":"projects","project_ids":["87221b69-c0fe-443d-985b-321d7cbd0af9"]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/87221b69-c0fe-443d-985b-321d7cbd0af9
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
