---
version: 1
interactions:
- request:
    body: '{"id":"54826627-c2b8-4bc1-baa8-ac2a78b02daf", "name":"test-cli-get-policy",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-07-30T12:51:07.409843Z",
      "updated_at":"2024-07-30T12:51:07.409843Z", "description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"id":"54826627-c2b8-4bc1-baa8-ac2a78b02daf", "name":"test-cli-get-policy",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-07-30T12:51:07.409843Z",
      "updated_at":"2024-07-30T12:51:07.409843Z", "description":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"a0ec7d54-6dc8-46f5-b808-84e1b728fe0a", "name":"test-cli-get-policy",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "created_at":"2024-07-30T12:51:07.646480Z", "updated_at":"2024-07-30T12:51:07.646480Z",
      "editable":true, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[],
      "no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"a0ec7d54-6dc8-46f5-b808-84e1b728fe0a", "name":"test-cli-get-policy",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "created_at":"2024-07-30T12:51:07.646480Z", "updated_at":"2024-07-30T12:51:07.646480Z",
      "editable":true, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[],
      "no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"a0ec7d54-6dc8-46f5-b808-84e1b728fe0a", "name":"test-cli-get-policy",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "created_at":"2024-07-30T12:51:07.646480Z", "updated_at":"2024-07-30T12:51:07.646480Z",
      "editable":true, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[],
      "no_principal":true}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/a0ec7d54-6dc8-46f5-b808-84e1b728fe0a
    method: GET
  response:
    body: '{"id":"a0ec7d54-6dc8-46f5-b808-84e1b728fe0a", "name":"test-cli-get-policy",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "created_at":"2024-07-30T12:51:07.646480Z", "updated_at":"2024-07-30T12:51:07.646480Z",
      "editable":true, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[],
      "no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"rules":[{"id":"67cce713-1763-446e-8b05-4f520b925131", "permission_set_names":["IPAMReadOnly"],
      "permission_sets_scope_type":"projects", "condition":"", "project_ids":["54826627-c2b8-4bc1-baa8-ac2a78b02daf"]}],
      "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?page=1&policy_id=a0ec7d54-6dc8-46f5-b808-84e1b728fe0a
    method: GET
  response:
    body: '{"rules":[{"id":"67cce713-1763-446e-8b05-4f520b925131", "permission_set_names":["IPAMReadOnly"],
      "permission_sets_scope_type":"projects", "condition":"", "project_ids":["54826627-c2b8-4bc1-baa8-ac2a78b02daf"]}],
      "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/54826627-c2b8-4bc1-baa8-ac2a78b02daf
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
