---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"53376d20-8e44-422f-a1bd-ee30debc6ac9", "name":"test-cli-get-policy", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-08-07T09:56:43.651067Z", "updated_at":"2025-08-07T09:56:43.651067Z", "description":"", "qualification":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"id":"53376d20-8e44-422f-a1bd-ee30debc6ac9", "name":"test-cli-get-policy", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-08-07T09:56:43.651067Z", "updated_at":"2025-08-07T09:56:43.651067Z", "description":"", "qualification":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 437.644283ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"d5078a28-1d00-45ab-b939-b1f9ec772fe3", "name":"test-cli-get-policy", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-08-07T09:56:44.085765Z", "updated_at":"2025-08-07T09:56:44.085765Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "no_principal":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"id":"d5078a28-1d00-45ab-b939-b1f9ec772fe3", "name":"test-cli-get-policy", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-08-07T09:56:44.085765Z", "updated_at":"2025-08-07T09:56:44.085765Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 216.181674ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"d5078a28-1d00-45ab-b939-b1f9ec772fe3", "name":"test-cli-get-policy", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-08-07T09:56:44.085765Z", "updated_at":"2025-08-07T09:56:44.085765Z", "editable":true, "deletable":true, "managed":false, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[], "no_principal":true}'
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/d5078a28-1d00-45ab-b939-b1f9ec772fe3
        method: GET
      response:
        body: '{"id":"d5078a28-1d00-45ab-b939-b1f9ec772fe3", "name":"test-cli-get-policy", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-08-07T09:56:44.085765Z", "updated_at":"2025-08-07T09:56:44.085765Z", "editable":true, "deletable":true, "managed":false, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.878032ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"rules":[{"id":"eb7fb025-635d-4afc-82f9-163ea3b55cc3", "permission_set_names":["IPAMReadOnly"], "permission_sets_scope_type":"projects", "condition":"", "project_ids":["53376d20-8e44-422f-a1bd-ee30debc6ac9"]}], "total_count":1}'
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?page=1&policy_id=d5078a28-1d00-45ab-b939-b1f9ec772fe3
        method: GET
      response:
        body: '{"rules":[{"id":"eb7fb025-635d-4afc-82f9-163ea3b55cc3", "permission_set_names":["IPAMReadOnly"], "permission_sets_scope_type":"projects", "condition":"", "project_ids":["53376d20-8e44-422f-a1bd-ee30debc6ac9"]}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.532859ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/53376d20-8e44-422f-a1bd-ee30debc6ac9
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.439421985s
