---
version: 1
interactions:
- request:
    body: '{"id":"99675e6f-cb5c-43c6-9343-93b6b1a5777b","name":"test-cli-iam-create-rule","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2024-04-09T12:27:34.573933Z","updated_at":"2024-04-09T12:27:34.573933Z","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"id":"99675e6f-cb5c-43c6-9343-93b6b1a5777b","name":"test-cli-iam-create-rule","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2024-04-09T12:27:34.573933Z","updated_at":"2024-04-09T12:27:34.573933Z","description":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"eb474c79-8423-4fc3-b000-7b88074329a0","name":"test-cli-iam-create-rule","description":"","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2024-04-09T12:27:34.993419Z","updated_at":"2024-04-09T12:27:34.993419Z","editable":true,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"tags":[],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"eb474c79-8423-4fc3-b000-7b88074329a0","name":"test-cli-iam-create-rule","description":"","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2024-04-09T12:27:34.993419Z","updated_at":"2024-04-09T12:27:34.993419Z","editable":true,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"tags":[],"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"rules":[{"id":"43f6b67c-1c43-4e23-8306-f50f4ad48903","permission_set_names":["IPAMReadOnly"],"permission_sets_scope_type":"projects","project_ids":["99675e6f-cb5c-43c6-9343-93b6b1a5777b"]}],"total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?page=1&policy_id=eb474c79-8423-4fc3-b000-7b88074329a0
    method: GET
  response:
    body: '{"rules":[{"id":"43f6b67c-1c43-4e23-8306-f50f4ad48903","permission_set_names":["IPAMReadOnly"],"permission_sets_scope_type":"projects","project_ids":["99675e6f-cb5c-43c6-9343-93b6b1a5777b"]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"rules":[{"id":"d90e1b2f-e58d-4b7d-9fd0-ffd376287a6a","permission_set_names":["IPAMReadOnly"],"permission_sets_scope_type":"projects","project_ids":["99675e6f-cb5c-43c6-9343-93b6b1a5777b"]},{"id":"25f1082b-bade-4751-ba53-84275d01d2ca","permission_set_names":["VPCReadOnly"],"permission_sets_scope_type":"projects","project_ids":["99675e6f-cb5c-43c6-9343-93b6b1a5777b"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: '{"rules":[{"id":"d90e1b2f-e58d-4b7d-9fd0-ffd376287a6a","permission_set_names":["IPAMReadOnly"],"permission_sets_scope_type":"projects","project_ids":["99675e6f-cb5c-43c6-9343-93b6b1a5777b"]},{"id":"25f1082b-bade-4751-ba53-84275d01d2ca","permission_set_names":["VPCReadOnly"],"permission_sets_scope_type":"projects","project_ids":["99675e6f-cb5c-43c6-9343-93b6b1a5777b"]}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/eb474c79-8423-4fc3-b000-7b88074329a0
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/99675e6f-cb5c-43c6-9343-93b6b1a5777b
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
