---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cli-get-policy","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"srn":"srn://account.scw.eu/projects/beb54647-d5d1-4610-b360-50acffe2063b","id":"beb54647-d5d1-4610-b360-50acffe2063b","name":"test-cli-get-policy","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-10-07T09:57:46.030254Z","updated_at":"2026-10-07T09:57:46.030254Z","description":"","qualification":null,"status":"active"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 174.72196ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 17.206393ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-cli-get-policy","description":"","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","rules":[{"permission_set_names":["IPAMReadOnly"],"condition":"","project_ids":["beb54647-d5d1-4610-b360-50acffe2063b"]}],"tags":null,"no_principal":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/df75f374-ab83-48d7-89f0-8e47a32626cb","id":"df75f374-ab83-48d7-89f0-8e47a32626cb","name":"test-cli-get-policy","description":"","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-10-07T09:57:46.218109Z","updated_at":"2026-10-07T09:57:46.218109Z","editable":true,"deletable":true,"managed":false,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 88.23375ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/df75f374-ab83-48d7-89f0-8e47a32626cb
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/df75f374-ab83-48d7-89f0-8e47a32626cb","id":"df75f374-ab83-48d7-89f0-8e47a32626cb","name":"test-cli-get-policy","description":"","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-10-07T09:57:46.218109Z","updated_at":"2026-10-07T09:57:46.218109Z","editable":true,"deletable":true,"managed":false,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 56.752372ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
            policy_id:
                - df75f374-ab83-48d7-89f0-8e47a32626cb
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?page=1&policy_id=df75f374-ab83-48d7-89f0-8e47a32626cb
        method: GET
      response:
        body: '{"rules":[{"srn":"srn://iam.scw.eu/rules/edb1c117-41cb-4e73-a56a-8591717e8a2b","id":"edb1c117-41cb-4e73-a56a-8591717e8a2b","permission_set_names":["IPAMReadOnly"],"permission_sets_scope_type":"projects","condition":"","project_ids":["beb54647-d5d1-4610-b360-50acffe2063b"]}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 41.259367ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/beb54647-d5d1-4610-b360-50acffe2063b
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 1.756891322s
