---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"c193645e-a4d4-4fce-923d-a8df787cff96", "name":"test-cli-iam-create-rule", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-08-07T09:56:46.227661Z", "updated_at":"2025-08-07T09:56:46.227661Z", "description":"", "qualification":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"id":"c193645e-a4d4-4fce-923d-a8df787cff96", "name":"test-cli-iam-create-rule", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-08-07T09:56:46.227661Z", "updated_at":"2025-08-07T09:56:46.227661Z", "description":"", "qualification":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 438.248599ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"4d72448f-81fe-4828-9240-1e52395e0912", "name":"test-cli-iam-create-rule", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-08-07T09:56:46.602347Z", "updated_at":"2025-08-07T09:56:46.602347Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "no_principal":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"id":"4d72448f-81fe-4828-9240-1e52395e0912", "name":"test-cli-iam-create-rule", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2025-08-07T09:56:46.602347Z", "updated_at":"2025-08-07T09:56:46.602347Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 186.372063ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"rules":[{"id":"0871f8ea-1926-44e2-928f-a97050a8e873", "permission_set_names":["IPAMReadOnly"], "permission_sets_scope_type":"projects", "condition":"", "project_ids":["c193645e-a4d4-4fce-923d-a8df787cff96"]}], "total_count":1}'
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?page=1&policy_id=4d72448f-81fe-4828-9240-1e52395e0912
        method: GET
      response:
        body: '{"rules":[{"id":"0871f8ea-1926-44e2-928f-a97050a8e873", "permission_set_names":["IPAMReadOnly"], "permission_sets_scope_type":"projects", "condition":"", "project_ids":["c193645e-a4d4-4fce-923d-a8df787cff96"]}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.401823ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"rules":[{"id":"a3571843-b8da-4731-a660-e3f21698f0e1", "permission_set_names":["IPAMReadOnly"], "permission_sets_scope_type":"projects", "condition":"", "project_ids":["c193645e-a4d4-4fce-923d-a8df787cff96"]}, {"id":"863e0814-14a2-41d0-9092-131a0a49e320", "permission_set_names":["VPCReadOnly"], "permission_sets_scope_type":"projects", "condition":"", "project_ids":["c193645e-a4d4-4fce-923d-a8df787cff96"]}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/rules
        method: PUT
      response:
        body: '{"rules":[{"id":"a3571843-b8da-4731-a660-e3f21698f0e1", "permission_set_names":["IPAMReadOnly"], "permission_sets_scope_type":"projects", "condition":"", "project_ids":["c193645e-a4d4-4fce-923d-a8df787cff96"]}, {"id":"863e0814-14a2-41d0-9092-131a0a49e320", "permission_set_names":["VPCReadOnly"], "permission_sets_scope_type":"projects", "condition":"", "project_ids":["c193645e-a4d4-4fce-923d-a8df787cff96"]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 134.181112ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/4d72448f-81fe-4828-9240-1e52395e0912
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 147.462534ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/c193645e-a4d4-4fce-923d-a8df787cff96
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.437418411s
