---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"users":[{"id":"ef29ce05-3f2b-4fa0-a259-d76110850d57", "email":"hashicorp@scaleway.com", "username":"hashicorp@scaleway.com", "first_name":"", "last_name":"", "phone_number":"", "locale":"fr_FR", "created_at":"2022-03-29T11:44:54.791271Z", "updated_at":"2025-03-05T14:31:18.088783Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "deletable":false, "last_login_at":"2024-06-18T21:39:22.182798Z", "type":"owner", "two_factor_enabled":true, "status":"activated", "mfa":true, "account_root_user_id":"afa9fc32-9d43-417d-9ca0-a4ed6edf27a1", "tags":[], "locked":false}], "total_count":1}'
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users?order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&type=owner
        method: GET
      response:
        body: '{"users":[{"id":"ef29ce05-3f2b-4fa0-a259-d76110850d57", "email":"hashicorp@scaleway.com", "username":"hashicorp@scaleway.com", "first_name":"", "last_name":"", "phone_number":"", "locale":"fr_FR", "created_at":"2022-03-29T11:44:54.791271Z", "updated_at":"2025-03-05T14:31:18.088783Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "deletable":false, "last_login_at":"2024-06-18T21:39:22.182798Z", "type":"owner", "two_factor_enabled":true, "status":"activated", "mfa":true, "account_root_user_id":"afa9fc32-9d43-417d-9ca0-a4ed6edf27a1", "tags":[], "locked":false}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 358.033219ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"api_keys":[{"access_key":"SCW1MY1SB4PXQ98V5R4G", "secret_key":null, "description":"", "created_at":"2023-01-23T08:05:54.376147Z", "updated_at":"2023-01-23T08:05:54.376147Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9", "user_id":"ef29ce05-3f2b-4fa0-a259-d76110850d57"}, {"access_key":"SCWA9EGR4S2NF72F51MM", "secret_key":null, "description":"", "created_at":"2023-01-23T15:53:43.319099Z", "updated_at":"2023-01-23T15:53:43.319099Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153", "user_id":"ef29ce05-3f2b-4fa0-a259-d76110850d57"}], "total_count":2}'
        form: {}
        headers:
        url: https://api.scal[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"access_key":"SCW1MY1SB4PXQ98V5R4G", "secret_key":null, "description":"", "created_at":"2023-01-23T08:05:54.376147Z", "updated_at":"2023-01-23T08:05:54.376147Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9", "user_id":"ef29ce05-3f2b-4fa0-a259-d76110850d57"}'
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW1MY1SB4PXQ98V5R4G
        method: GET
      response:
        body: '{"access_key":"SCW1MY1SB4PXQ98V5R4G", "secret_key":null, "description":"", "created_at":"2023-01-23T08:05:54.376147Z", "updated_at":"2023-01-23T08:05:54.376147Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9", "user_id":"ef29ce05-3f2b-4fa0-a259-d76110850d57"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.160578ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"id":"ef29ce05-3f2b-4fa0-a259-d76110850d57", "email":"hashicorp@scaleway.com", "username":"hashicorp@scaleway.com", "first_name":"", "last_name":"", "phone_number":"", "locale":"fr_FR", "created_at":"2022-03-29T11:44:54.791271Z", "updated_at":"2025-03-05T14:31:18.088783Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "deletable":false, "last_login_at":"2024-06-18T21:39:22.182798Z", "type":"owner", "two_factor_[...]
