---
version: 1
interactions:
- request:
    body: '{"id":"58424335-de19-40f8-a208-509e322fb9f6", "name":"test-cli-get-policy",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-08-21T15:44:32.250839Z",
      "updated_at":"2024-08-21T15:44:32.250839Z", "description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"id":"58424335-de19-40f8-a208-509e322fb9f6", "name":"test-cli-get-policy",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-08-21T15:44:32.250839Z",
      "updated_at":"2024-08-21T15:44:32.250839Z", "description":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"e535a298-3a03-4846-9b87-0404c17df8d1", "name":"test-cli-get-policy",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "created_at":"2024-08-21T15:44:32.499520Z", "updated_at":"2024-08-21T15:44:32.499520Z",
      "editable":true, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[],
      "no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"e535a298-3a03-4846-9b87-0404c17df8d1", "name":"test-cli-get-policy",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "created_at":"2024-08-21T15:44:32.499520Z", "updated_at":"2024-08-21T15:44:32.499520Z",
      "editable":true, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[],
      "no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"e535a298-3a03-4846-9b87-0404c17df8d1", "name":"test-cli-get-policy",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "created_at":"2024-08-21T15:44:32.499520Z", "updated_at":"2024-08-21T15:44:32.499520Z",
      "editable":true, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[],
      "no_principal":true}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/e535a298-3a03-4846-9b87-0404c17df8d1
    method: GET
  response:
    body: '{"id":"e535a298-3a03-4846-9b87-0404c17df8d1", "name":"test-cli-get-policy",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "created_at":"2024-08-21T15:44:32.499520Z", "updated_at":"2024-08-21T15:44:32.499520Z",
      "editable":true, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[],
      "no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"rules":[{"id":"19de912f-6be1-45bd-ba89-5c1b4d502f86", "permission_set_names":["IPAMReadOnly"],
      "permission_sets_scope_type":"projects", "condition":"", "project_ids":["58424335-de19-40f8-a208-509e322fb9f6"]}],
      "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?page=1&policy_id=e535a298-3a03-4846-9b87-0404c17df8d1
    method: GET
  response:
    body: '{"rules":[{"id":"19de912f-6be1-45bd-ba89-5c1b4d502f86", "permission_set_names":["IPAMReadOnly"],
      "permission_sets_scope_type":"projects", "condition":"", "project_ids":["58424335-de19-40f8-a208-509e322fb9f6"]}],
      "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/58424335-de19-40f8-a208-509e322fb9f6
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
