---
version: 1
interactions:
- request:
    body: '{"users":[{"id":"c65552fc-27de-4a60-a835-2145b8c142f4", "email":"gnoale+test@scaleway.com",
      "username":"gnoale-test", "first_name":"", "last_name":"", "phone_number":"",
      "locale":"en_US", "created_at":"2025-04-29T10:40:46.039227Z", "updated_at":"2025-05-02T13:31:32.552210Z",
      "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b", "deletable":true,
      "last_login_at":"2025-05-02T13:31:32.567617Z", "type":"member", "two_factor_enabled":false,
      "status":"activated", "mfa":false, "account_root_user_id":"", "tags":[], "locked":false},
      {"id":"4175ff92-bd0b-4481-98e4-d2331aac12bd", "email":"foobar@example.com",
      "username":"test-cli-iam-api-key-get-policies", "first_name":"", "last_name":"",
      "phone_number":"", "locale":"en_US", "created_at":"2025-05-13T08:57:03.167785Z",
      "updated_at":"2025-05-13T08:57:03.167785Z", "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "deletable":true, "last_login_at":null, "type":"member", "two_factor_enabled":false,
      "status":"activated", "mfa":false, "account_root_user_id":"", "tags":[], "locked":false}],
      "total_count":2}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users?order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&type=member
    method: GET
  response:
    body: '{"users":[{"id":"c65552fc-27de-4a60-a835-2145b8c142f4", "email":"gnoale+test@scaleway.com",
      "username":"gnoale-test", "first_name":"", "last_name":"", "phone_number":"",
      "locale":"en_US", "created_at":"2025-04-29T10:40:46.039227Z", "updated_at":"2025-05-02T13:31:32.552210Z",
      "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b", "deletable":true,
      "last_login_at":"2025-05-02T13:31:32.567617Z", "type":"member", "two_factor_enabled":false,
      "status":"activated", "mfa":false, "account_root_user_id":"", "tags":[], "locked":false},
      {"id":"4175ff92-bd0b-4481-98e4-d2331aac12bd", "email":"foobar@example.com",
      "username":"test-cli-iam-api-key-get-policies", "first_name":"", "last_name":"",
      "phone_number":"", "locale":"en_US", "created_at":"2025-05-13T08:57:03.167785Z",
      "updated_at":"2025-05-13T08:57:03.167785Z", "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "deletable":true, "last_login_at":null, "type":"member", "two_factor_enabled":false,
      "status":"activated", "mfa":false, "account_root_user_id":"", "tags":[], "locked":false}],
      "total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"api_keys":[{"access_key":"SCW4Q1MKSRZXRAQ2TPXM", "secret_key":null, "description":"Generated
      by the Scaleway CLI", "created_at":"2025-04-30T13:13:01.841624Z", "updated_at":"2025-04-30T13:13:01.841624Z",
      "expires_at":null, "default_project_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.145",
      "user_id":"c65552fc-27de-4a60-a835-2145b8c142f4"}, {"access_key":"SCWS6E3R4BX4V8GMPVYD",
      "secret_key":null, "description":"Generated by the Scaleway CLI", "created_at":"2025-04-30T13:15:40.128792Z",
      "updated_at":"2025-04-30T13:15:40.128792Z", "expires_at":null, "default_project_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.145",
      "user_id":"c65552fc-27de-4a60-a835-2145b8c142f4"}, {"access_key":"SCWKMGP6NMZNR0[...]
- request:
    body: '{"access_key":"SCW4Q1MKSRZXRAQ2TPXM", "secret_key":null, "description":"Generated
      by the Scaleway CLI", "created_at":"2025-04-30T13:13:01.841624Z", "updated_at":"2025-04-30T13:13:01.841624Z",
      "expires_at":null, "default_project_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.145",
      "user_id":"c65552fc-27de-4a60-a835-2145b8c142f4"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW4Q1MKSRZXRAQ2TPXM
    method: GET
  response:
    body: '{"access_key":"SCW4Q1MKSRZXRAQ2TPXM", "secret_key":null, "description":"Generated
      by the Scaleway CLI", "created_at":"2025-04-30T13:13:01.841624Z", "updated_at":"2025-04-30T13:13:01.841624Z",
      "expires_at":null, "default_project_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.145",
      "user_id":"c65552fc-27de-4a60-a835-2145b8c142f4"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"c65552fc-27de-4a60-a835-2145b8c142f4", "email":"gnoale+test@scaleway.com",
      "username":"gnoale-test", "first_name":"", "last_name":"", "phone_number":"",
      "locale":"en_US", "created_at":"2025-04-29T10:40:46.039227Z", "updated_at":"2025-05-02T13:31:32.552210Z",
      "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b", "deletable":true,
      "last_login_at":"2025-05-02T13:31:32.567617Z", "type":"member", "two_factor_enabled":false,
      "status":"activated", "mfa":false, "account_root_user_id":"", "tags":[], "locked":false}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/c65552fc-27de-4a60-a835-2145b8c142f4
    method: GET
  response:
    body: '{"id":"c65552fc-27de-4a60-a835-2145b8c142f4", "email":"gnoale+test@scaleway.com",
      "username":"gnoale-test", "first_name":"", "last_name":"", "phone_number":"",
      "locale":"en_US", "created_at":"2025-04-29T10:40:46.039227Z", "updated_at":"2025-05-02T13:31:32.552210Z",
      "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b", "deletable":true,
      "last_login_at":"2025-05-02T13:31:32.567617Z", "type":"member", "two_factor_enabled":false,
      "status":"activated", "mfa":false, "account_root_user_id":"", "tags":[], "locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"policies":[{"id":"4feb1f44-1726-4373-bf9b-01c828ddb0ca", "name":"Copy
      of Editors", "description":"", "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "created_at":"2025-05-09T10:39:40.931178Z", "updated_at":"2025-05-09T10:39:40.931178Z",
      "editable":true, "deletable":true, "managed":false, "nb_rules":2, "nb_scopes":2,
      "nb_permission_sets":4, "tags":[], "user_id":"c65552fc-27de-4a60-a835-2145b8c142f4"},
      {"id":"39ddc97c-457c-40df-b076-0f83c1cc7d2b", "name":"Copy of test-cli-iam-api-key-get-policies",
      "description":"", "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "created_at":"2025-05-12T12:57:19.185567Z", "updated_at":"2025-05-12T12:57:19.185567Z",
      "editable":true, "deletable":true, "managed":false, "nb_rules":1, "nb_scopes":1,
      "nb_permission_sets":1, "tags":[], "user_id":"c65552fc-27de-4a[...]
- request:
    body: '{"rules":[{"id":"a7d5a179-d818-4cf2-a280-3d9445381cd2", "permission_set_names":["OrganizationReadOnly",
      "ProjectManager", "SupportTicketReadOnly"], "permission_sets_scope_type":"organization",
      "condition":"", "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b"}, {"id":"5b5c2ab4-48e3-45a5-a9a3-ac3ea382f773",
      "permission_set_names":["AllProductsFullAccess"], "permission_sets_scope_type":"projects",
      "condition":"", "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b"}],
      "total_count":2}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=4feb1f44-1726-4373-bf9b-01c828ddb0ca
    method: GET
  response:
    body: '{"rules":[{"id":"a7d5a179-d818-4cf2-a280-3d9445381cd2", "permission_set_names":["OrganizationReadOnly",
      "ProjectManager", "SupportTicketReadOnly"], "permission_sets_scope_type":"organization",
      "condition":"", "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b"}, {"id":"5b5c2ab4-48e3-45a5-a9a3-ac3ea382f773",
      "permission_set_names":["AllProductsFullAccess"], "permission_sets_scope_type":"projects",
      "condition":"", "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b"}],
      "total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
