---
version: 1
interactions:
- request:
    body: '{"id":"cc038cdc-71ed-4835-9dff-2725a61c0bce", "name":"test-cli-iam-create-rule",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-08-21T15:44:34.072629Z",
      "updated_at":"2024-08-21T15:44:34.072629Z", "description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"id":"cc038cdc-71ed-4835-9dff-2725a61c0bce", "name":"test-cli-iam-create-rule",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-08-21T15:44:34.072629Z",
      "updated_at":"2024-08-21T15:44:34.072629Z", "description":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"daa5688a-7192-48f4-95ae-dc84427373cd", "name":"test-cli-iam-create-rule",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "created_at":"2024-08-21T15:44:34.278325Z", "updated_at":"2024-08-21T15:44:34.278325Z",
      "editable":true, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[],
      "no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"daa5688a-7192-48f4-95ae-dc84427373cd", "name":"test-cli-iam-create-rule",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "created_at":"2024-08-21T15:44:34.278325Z", "updated_at":"2024-08-21T15:44:34.278325Z",
      "editable":true, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[],
      "no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"rules":[{"id":"bf7a0f99-697b-47b2-b249-05c073776212", "permission_set_names":["IPAMReadOnly"],
      "permission_sets_scope_type":"projects", "condition":"", "project_ids":["cc038cdc-71ed-4835-9dff-2725a61c0bce"]}],
      "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?page=1&policy_id=daa5688a-7192-48f4-95ae-dc84427373cd
    method: GET
  response:
    body: '{"rules":[{"id":"bf7a0f99-697b-47b2-b249-05c073776212", "permission_set_names":["IPAMReadOnly"],
      "permission_sets_scope_type":"projects", "condition":"", "project_ids":["cc038cdc-71ed-4835-9dff-2725a61c0bce"]}],
      "total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"rules":[{"id":"2c9c03cd-1738-43fa-adca-7458f75755a3", "permission_set_names":["IPAMReadOnly"],
      "permission_sets_scope_type":"projects", "condition":"", "project_ids":["cc038cdc-71ed-4835-9dff-2725a61c0bce"]},
      {"id":"06b5a4ad-777e-4d36-83bf-957dc238c3e5", "permission_set_names":["VPCReadOnly"],
      "permission_sets_scope_type":"projects", "condition":"", "project_ids":["cc038cdc-71ed-4835-9dff-2725a61c0bce"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: '{"rules":[{"id":"2c9c03cd-1738-43fa-adca-7458f75755a3", "permission_set_names":["IPAMReadOnly"],
      "permission_sets_scope_type":"projects", "condition":"", "project_ids":["cc038cdc-71ed-4835-9dff-2725a61c0bce"]},
      {"id":"06b5a4ad-777e-4d36-83bf-957dc238c3e5", "permission_set_names":["VPCReadOnly"],
      "permission_sets_scope_type":"projects", "condition":"", "project_ids":["cc038cdc-71ed-4835-9dff-2725a61c0bce"]}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/daa5688a-7192-48f4-95ae-dc84427373cd
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/cc038cdc-71ed-4835-9dff-2725a61c0bce
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
