---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            organization_id:
                - de2b260d-2c2e-4be9-baa0-99d8ed17f1da
            page:
                - "1"
            type:
                - owner
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users?order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&type=owner
        method: GET
      response:
        body: '{"users":[{"srn":"srn://iam.scw.eu/users/c54eef01-c4c6-48fa-9a1e-36e8998b9776","id":"c54eef01-c4c6-48fa-9a1e-36e8998b9776","email":"rbaugue@scaleway.com","username":"rbaugue","first_name":"Romain","last_name":"BAUGUE","phone_number":"","locale":"en_US","created_at":"2026-08-27T12:13:23.707255Z","updated_at":"2026-10-05T09:18:56.363252Z","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","deletable":false,"last_login_at":"2026-10-05T09:18:56.371397Z","type":"owner","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"6269113d-7edd-4e11-845f-426e4ddf8730","tags":[],"locked":false}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 155.217588ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 11.355552ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            bearer_id:
                - c54eef01-c4c6-48fa-9a1e-36e8998b9776
            bearer_type:
                - unknown_bearer_type
            order_by:
                - created_at_asc
            organization_id:
                - de2b260d-2c2e-4be9-baa0-99d8ed17f1da
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys?bearer_id=c54eef01-c4c6-48fa-9a1e-36e8998b9776&bearer_type=unknown_bearer_type&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"api_keys":[{"srn":"srn://iam.scw.eu/api-keys/SCWD2ZWJXT6WQ0HAZN4M","access_key":"SCWD2ZWJXT6WQ0HAZN4M","secret_key":null,"description":"Generated by the Scaleway CLI","created_at":"2026-09-02T14:50:00.845201Z","updated_at":"2026-09-02T14:50:00.845201Z","expires_at":"2026-12-01T14:49:55.565046Z","default_project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","editable":true,"deletable":true,"managed":false,"creation_ip":"51.159.46.153","user_id":"c54eef01-c4c6-48fa-9a1e-36e8998b9776"},{"srn":"srn://iam.scw.eu/api-keys/SCW43HMGF7H5P7PQ2XJ0","access_key":"SCW43HMGF7H5P7PQ2XJ0","secret_key":null,"description":"opencode''s scw models key","created_at":"2026-09-03T07:43:47.106468Z","updated_at":"2026-09-03T07:43:47.106468Z","expires_at":"2027-09-03T07:43:47.040Z","default_project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","editable":true,"deletable":true,"managed":false,"creation_ip":"51.159.73.9","user_id":"c54eef01-c4c6-48fa-9a1e-36e8998b9[...]
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCWD2ZWJXT6WQ0HAZN4M","access_key":"SCWXXXXXXXXXXXXXXXXX","secret_key":null,"description":"Generated by the Scaleway CLI","created_at":"2026-09-02T14:50:00.845201Z","updated_at":"2026-09-02T14:50:00.845201Z","expires_at":"2026-12-01T14:49:55.565046Z","default_project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","editable":true,"deletable":true,"managed":false,"creation_ip":"51.159.46.153","user_id":"c54eef01-c4c6-48fa-9a1e-36e8998b9776"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 38.843674ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/c54eef01-c4c6-48fa-9a1e-36e8998b9776
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/users/c54eef01-c4c6-48fa-9a1e-36e8998b9776","id":"c54eef01-c4c6-48fa-9a1e-36e8998b9776","email":"rbaugue@scaleway.com","username":"rbaugue","first_name":"Romain","last_name":"BAUGUE","phone_number":"","locale":"en_US","created_at":"2026-08-27T12:13:23.707255Z","updated_at":"2026-10-05T09:18:56.363252Z","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","deletable":false,"last_login_at":"2026-10-05T09:18:56.371397Z","type":"owner","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"6269113d-7edd-4e11-845f-426e4ddf8730","tags":[],"locked":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 45.778976ms
