---
version: 1
interactions:
- request:
    body: '{"id":"f7c108b5-021e-4bc0-8e1b-02256cbd2ad2", "name":"test-cli-iam-delete-rule",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-08-21T15:44:35.857831Z",
      "updated_at":"2024-08-21T15:44:35.857831Z", "description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"id":"f7c108b5-021e-4bc0-8e1b-02256cbd2ad2", "name":"test-cli-iam-delete-rule",
      "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2024-08-21T15:44:35.857831Z",
      "updated_at":"2024-08-21T15:44:35.857831Z", "description":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"abf2c608-5238-4dc5-8275-e8114f8c2c61", "name":"test-cli-iam-delete-rule",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "created_at":"2024-08-21T15:44:36.048701Z", "updated_at":"2024-08-21T15:44:36.048701Z",
      "editable":true, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[],
      "no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"abf2c608-5238-4dc5-8275-e8114f8c2c61", "name":"test-cli-iam-delete-rule",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "created_at":"2024-08-21T15:44:36.048701Z", "updated_at":"2024-08-21T15:44:36.048701Z",
      "editable":true, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[],
      "no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"abf2c608-5238-4dc5-8275-e8114f8c2c61", "name":"test-cli-iam-delete-rule",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "created_at":"2024-08-21T15:44:36.048701Z", "updated_at":"2024-08-21T15:44:36.048701Z",
      "editable":true, "nb_rules":2, "nb_scopes":1, "nb_permission_sets":2, "tags":[],
      "no_principal":true}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/abf2c608-5238-4dc5-8275-e8114f8c2c61
    method: GET
  response:
    body: '{"id":"abf2c608-5238-4dc5-8275-e8114f8c2c61", "name":"test-cli-iam-delete-rule",
      "description":"", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42",
      "created_at":"2024-08-21T15:44:36.048701Z", "updated_at":"2024-08-21T15:44:36.048701Z",
      "editable":true, "nb_rules":2, "nb_scopes":1, "nb_permission_sets":2, "tags":[],
      "no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"rules":[{"id":"efda6f82-f955-4879-a61e-a0914eac823b", "permission_set_names":["IPAMReadOnly"],
      "permission_sets_scope_type":"projects", "condition":"", "project_ids":["f7c108b5-021e-4bc0-8e1b-02256cbd2ad2"]},
      {"id":"40ad4766-6761-4519-b75a-529a26a45170", "permission_set_names":["VPCReadOnly"],
      "permission_sets_scope_type":"projects", "condition":"", "project_ids":["f7c108b5-021e-4bc0-8e1b-02256cbd2ad2"]}],
      "total_count":2}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?page=1&policy_id=abf2c608-5238-4dc5-8275-e8114f8c2c61
    method: GET
  response:
    body: '{"rules":[{"id":"efda6f82-f955-4879-a61e-a0914eac823b", "permission_set_names":["IPAMReadOnly"],
      "permission_sets_scope_type":"projects", "condition":"", "project_ids":["f7c108b5-021e-4bc0-8e1b-02256cbd2ad2"]},
      {"id":"40ad4766-6761-4519-b75a-529a26a45170", "permission_set_names":["VPCReadOnly"],
      "permission_sets_scope_type":"projects", "condition":"", "project_ids":["f7c108b5-021e-4bc0-8e1b-02256cbd2ad2"]}],
      "total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"rules":[{"id":"707951b1-bfbf-4d53-a06a-e0cedfe6f1f3", "permission_set_names":["VPCReadOnly"],
      "permission_sets_scope_type":"projects", "condition":"", "project_ids":["f7c108b5-021e-4bc0-8e1b-02256cbd2ad2"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: '{"rules":[{"id":"707951b1-bfbf-4d53-a06a-e0cedfe6f1f3", "permission_set_names":["VPCReadOnly"],
      "permission_sets_scope_type":"projects", "condition":"", "project_ids":["f7c108b5-021e-4bc0-8e1b-02256cbd2ad2"]}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/f7c108b5-021e-4bc0-8e1b-02256cbd2ad2
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
