---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"applications":[{"id":"baca7695-fe4e-48eb-8f24-e479c20ca3a6", "name":"terraform-provider", "description":"", "created_at":"2022-12-01T12:58:00.035298Z", "updated_at":"2022-12-01T12:58:00.035298Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":1, "tags":[]}, {"id":"609bfa7f-1618-4eb4-af4b-cfc7b54f03cb", "name":"Ansible community.scaleway", "description":"", "created_at":"2023-02-24T14:21:49.615888Z", "updated_at":"2023-02-24T14:21:49.615888Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":1, "tags":[]}, {"id":"d2f56973-8e47-428b-bb2d-b8a61c5b6626", "name":"github-actions_action-scw", "description":"Define an application that will be used to test https://github.com/sca[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"api_keys":[{"access_key":"SCW9GYPGY01AJ939C94F", "secret_key":null, "description":"", "created_at":"2022-12-01T13:01:34.201310Z", "updated_at":"2022-12-01T13:01:34.201310Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9", "application_id":"baca7695-fe4e-48eb-8f24-e479c20ca3a6"}], "total_count":1}'
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys?bearer_id=baca7695-fe4e-48eb-8f24-e479c20ca3a6&bearer_type=unknown_bearer_type&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"api_keys":[{"access_key":"SCW9GYPGY01AJ939C94F", "secret_key":null, "description":"", "created_at":"2022-12-01T13:01:34.201310Z", "updated_at":"2022-12-01T13:01:34.201310Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9", "application_id":"baca7695-fe4e-48eb-8f24-e479c20ca3a6"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.592027ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"access_key":"SCW9GYPGY01AJ939C94F", "secret_key":null, "description":"", "created_at":"2022-12-01T13:01:34.201310Z", "updated_at":"2022-12-01T13:01:34.201310Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9", "application_id":"baca7695-fe4e-48eb-8f24-e479c20ca3a6"}'
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW9GYPGY01AJ939C94F
        method: GET
      response:
        body: '{"access_key":"SCW9GYPGY01AJ939C94F", "secret_key":null, "description":"", "created_at":"2022-12-01T13:01:34.201310Z", "updated_at":"2022-12-01T13:01:34.201310Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9", "application_id":"baca7695-fe4e-48eb-8f24-e479c20ca3a6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.438846ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"policies":[], "total_count":0}'
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies?application_ids=baca7695-fe4e-48eb-8f24-e479c20ca3a6&order_by=policy_name_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"policies":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 164.201849ms
