---
version: 1
interactions:
- request:
    body: '{"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-test","description":"cli-test","ip_id":null,"tags":null,"type":"","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs
    method: POST
  response:
    body: '{"id":"dbed1d12-4675-477f-a704-a61c40367a5a","name":"cli-test","description":"cli-test","status":"pending","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"4de76393-cba9-4c52-8c55-e41093b3ae9d","ip_address":"51.159.24.70","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"dbed1d12-4675-477f-a704-a61c40367a5a","reverse":"51-159-24-70.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/dbed1d12-4675-477f-a704-a61c40367a5a
    method: GET
  response:
    body: '{"id":"dbed1d12-4675-477f-a704-a61c40367a5a","name":"cli-test","description":"cli-test","status":"pending","instances":[{"id":"2f267584-f608-4bc4-9af3-c11414691412","status":"unknown","ip_address":"10.65.102.135","region":"fr-par"},{"id":"e71c6131-ba52-4329-b52f-482d34950e62","status":"unknown","ip_address":"10.65.58.127","region":"fr-par"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"4de76393-cba9-4c52-8c55-e41093b3ae9d","ip_address":"51.159.24.70","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"dbed1d12-4675-477f-a704-a61c40367a5a","reverse":"51-159-24-70.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"lbs":[{"id":"fa923d8a-3d4b-48a7-bc1c-1872daa37456","name":"cli-test","description":"cli-test","status":"ready","instances":[{"id":"af5df9d1-31f7-42c0-a913-a1d2ca1e2d84","status":"ready","ip_address":"10.64.80.93","region":"fr-par"},{"id":"b0666cfc-4d3b-46dc-8cf1-b96af751b1cd","status":"pending","ip_address":"10.68.170.1","region":"fr-par"},{"id":"6898dc60-9d87-45f5-8de0-968dd52cd28e","status":"ready","ip_address":"10.68.44.47","region":"fr-par"},{"id":"c1822f7d-853d-4b62-816d-2ec6b2c1acf5","status":"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/dbed1d12-4675-477f-a704-a61c40367a5a?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
