---
version: 1
interactions:
- request:
    body: '{"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-test","description":"cli-test","ip_id":null,"tags":null,"type":"","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs
    method: POST
  response:
    body: '{"id":"584e888e-4a00-45c7-82f8-e6b65347e618","name":"cli-test","description":"cli-test","status":"pending","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"4de76393-cba9-4c52-8c55-e41093b3ae9d","ip_address":"51.159.24.70","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"584e888e-4a00-45c7-82f8-e6b65347e618","reverse":"51-159-24-70.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/584e888e-4a00-45c7-82f8-e6b65347e618
    method: GET
  response:
    body: '{"id":"584e888e-4a00-45c7-82f8-e6b65347e618","name":"cli-test","description":"cli-test","status":"pending","instances":[{"id":"43dc86d7-45e7-4d09-99a5-c7c1aeb53bce","status":"unknown","ip_address":"10.69.52.125","region":"fr-par"},{"id":"004e82fa-4b23-4ea1-8e39-1dcbc8e5c3a3","status":"unknown","ip_address":"10.68.132.145","region":"fr-par"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"4de76393-cba9-4c52-8c55-e41093b3ae9d","ip_address":"51.159.24.70","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"584e888e-4a00-45c7-82f8-e6b65347e618","reverse":"51-159-24-70.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/584e888e-4a00-45c7-82f8-e6b65347e618?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
