---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-test","description":"cli-test","assign_flexible_ip":true,"assign_flexible_ipv6":false,"ip_ids":null,"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"id":"163d16b1-a044-4e8f-9ed2-6b96ed77d084","name":"cli-test","description":"cli-test","status":"to_create","instances":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","ip":[{"id":"03d6bd8f-54f1-4625-9aee-cd9d2ce121b9","ip_address":"195.154.69.126","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","lb_id":"163d16b1-a044-4e8f-9ed2-6b96ed77d084","reverse":"195-154-69-126.lb.fr-par.scw.cloud","tags":[],"region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2026-09-24T12:30:09.731028457Z","updated_at":"2026-09-24T12:30:09.731028457Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 126.709729ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/163d16b1-a044-4e8f-9ed2-6b96ed77d084
        method: GET
      response:
        body: '{"id":"163d16b1-a044-4e8f-9ed2-6b96ed77d084","name":"cli-test","description":"cli-test","status":"creating","instances":[{"id":"a3259924-05c0-4aa0-8e2f-df984600d647","status":"unknown","ip_address":"","created_at":"2026-09-24T12:28:20.290287Z","updated_at":"2026-09-24T12:30[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"lbs":[{"id":"163d16b1-a044-4e8f-9ed2-6b96ed77d084","name":"cli-test","description":"cli-test","status":"ready","instances":[{"id":"a3259924-05c0-4aa0-8e2f-df984600d647","status":"ready","ip_address":"","created_at":"2026-09-24T12:28:20.290287Z","updated_at":"2026-09-24T12:30:11.411275Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","ip":[{"id":"03d6bd8f-54f1-4625-9aee-cd9d2ce121b9","ip_address":"195.154.69.126","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","lb_id":"163d16b1-a044-4e8f-9ed2-6b96ed77d084","reverse":"195-154-69-126.lb.fr-par.scw.cloud","tags":[],"region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2026-09-24T12:30:09.731028Z","updated_at":"2026-09-24T12:30:12.112860Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 59.697966ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        form:
            release_ip:
                - "false"
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/163d16b1-a044-4e8f-9ed2-6b96ed77d084?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 135.623115ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/163d16b1-a044-4e8f-9ed2-6b96ed77d084
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 24.595527ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/03d6bd8f-54f1-4625-9aee-cd9d2ce121b9
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 97.640974ms
