---
version: 1
interactions:
- request:
    body: '{"id":"3268271a-bb6c-4fb7-bc26-3b382754a77f","name":"cli-test","description":"cli-test","status":"to_create","instances":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"b39ac506-623f-4455-9a3e-a8333a4e35c6","ip_address":"51.158.58.126","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"3268271a-bb6c-4fb7-bc26-3b382754a77f","reverse":"51-158-58-126.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2023-12-14T15:09:36.884265480Z","updated_at":"2023-12-14T15:09:36.884265480Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"3268271a-bb6c-4fb7-bc26-3b382754a77f","name":"cli-test","description":"cli-test","status":"to_create","instances":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"b39ac506-623f-4455-9a3e-a8333a4e35c6","ip_address":"51.158.58.126","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"3268271a-bb6c-4fb7-bc26-3b382754a77f","reverse":"51-158-58-126.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2023-12-14T15:09:36.884265480Z","updated_at":"2023-12-14T15:09:36.884265480Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"3268271a-bb6c-4fb7-bc26-3b382754a77f","name":"cli-test","description":"cli-test","status":"to_create","instances":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"b39ac506-623f-4455-9a3e-a8333a4e35c6","ip_address":"51.158.58.126","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"3268271a-bb6c-4fb7-bc26-3b382754a77f","reverse"[...]
[...]
- request:
    body: '{"id":"4838d344-a416-4e7d-9b9f-faa1ea5deb7a","name":"cli-pn-optimistic-gould","tags":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2023-12-14T15:09:45.450677Z","updated_at":"2023-12-14T15:09:45.450677Z","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":[{"id":"a5f1ddd4-4482-4a83-af95-6b2f1a8eee10","created_at":"2023-12-14T15:09:45.450677Z","updated_at":"2023-12-14T15:09:45.450677Z","subnet":"172.16.28.0/22"},{"id":"692c4336-626f-4fad-a3d8-776666edf223","created_at":"2023-12-14T15:09:45.450677Z","updated_at":"2023-12-14T15:09:45.450677Z","subnet":"fd46:78ab:30b8:637::/64"}],"vpc_id":"086a5171-f7ab-4667-a231-840a81203f19","dhcp_enabled":true,"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"4838d344-a416-4e7d-9b9f-faa1ea5deb7a","name":"cli-pn-optimistic-gould","tags":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2023-12-14T15:09:45.450677Z","updated_at":"2023-12-14T15:09:45.450677Z","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":[{"id":"a5f1ddd4-4482-4a83-af95-6b2f1a8eee10","created_at":"2023-12-14T15:09:45.450677Z","updated_at":"2023-12-14T15:09:45.450677Z","subnet":"172.16.28.0/22"},{"id":"692c4336-626f-4fad-a3d8-776666edf223","created_at":"2023-12-14T15:09:45.450677Z","updated_at":"2023-12-14T15:09:45.450677Z","subnet":"fd46:78ab:30b8:637::/64"}],"vpc_id":"086a5171-f7ab-4667-a231-840a81203f19","dhcp_enabled":true,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"lb":{"id":"3268271a-bb6c-4fb7-bc26-3b382754a77f","name":"cli-test","description":"cli-test","status":"ready","instances":[{"id":"44e6c760-30e0-4109-a74c-614f8ea86021","status":"ready","ip_address":"","created_at":"2023-12-14T15:08:30.950784Z","updated_at":"2023-12-14T15:09:42.120702Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"b39ac506-623f-4455-9a3e-a8333a4e35c6","ip_address":"51.158.58.126","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"3268271a-bb6c-4fb7-bc26-3b382754a77f","reverse":"51-158-58-126.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2023-12-14T15:09:36.884265Z","updated_at":"2023-12-14T15:09:43.392436Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"4838d344-a416-4e7d-9b9f-faa1ea5deb7a","status":"pending","created_at":"2023-12-14T15:09:46.669926458Z","updated_at":"2023-12-14T15:09:46.669926458Z","dhcp_config":{"ip_id":null},"ipam_ids":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3268271a-bb6c-4fb7-bc26-3b382754a77f/private-networks/4838d344-a416-4e7d-9b9f-faa1ea5deb7a/attach
    method: POST
  response:
    body: '{"lb":{"id":"3268271a-bb6c-4fb7-bc26-3b382754a77f","name":"cli-test","description":"cli-test","status":"ready","instances":[{"id":"44e6c760-30e0-4109-a74c-614f8ea86021","status":"ready","ip_address":"","created_at":"2023-12-14T[...]
- request:
    body: '{"private_network":[{"lb":{"id":"3268271a-bb6c-4fb7-bc26-3b382754a77f","name":"cli-test","description":"cli-test","status":"ready","instances":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"b39ac506-623f-4455-9a3e-a8333a4e35c6","ip_address":"51.158.58.126","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"3268271a-bb6c-4fb7-bc26-3b382754a77f","reverse":"51-158-58-126.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2023-12-14T15:09:36.884265Z","updated_at":"2023-12-14T15:09:43.392436Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"4838d344-a416-4e7d-9b9f-faa1ea5deb7a","status":"pending","created_at":"2023-12-14T15:09:46.669926Z","updated_at":"2023-12-14T15:09:46.669926Z","dhcp_config":{"ip_id":null},"ipam_ids":[]}],"total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3268271a-bb6c-4fb7-bc26-3b382754a77f/private-networks?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"3268271a-bb6c-4fb7-bc26-3b382754a77f","name":"cli-test","description":"cli-test","status":"ready","instances":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"b39ac506-623f-4455-9a3e-a8333a4e35c6","ip_address":"51.158.58.126","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"3268271a-bb6c-4fb7-bc26-3b382754a77f","reverse":"51-158-58-126.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2023-12-14T15:09:36.884265Z","updated_at":"2023-12-14T15:09:43.392436Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"4838d344-a416-4e7d-9b9f-faa1ea5deb7a","status":"pending","created_at":"2023-12-14T15:09:46.669926Z","updated_at":"2023-12-14T15:09:46.669926Z","dhcp_config":{"ip_id":null},"ipam_ids":[]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3268271a-bb6c-4fb7-bc26-3b382754a77f/private-networks/4838d344-a416-4e7d-9b9f-faa1ea5deb7a/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3268271a-bb6c-4fb7-bc26-3b382754a77f?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4838d344-a416-4e7d-9b9f-faa1ea5deb7a
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
