---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"d82b6011-a4e9-4785-9a0f-96aa2e187467", "name":"cli-test", "description":"cli-test", "status":"to_create", "instances":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "ip":[{"id":"ed41b46a-0120-4740-9224-c2ac389885be", "ip_address":"163.172.171.180", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "lb_id":"d82b6011-a4e9-4785-9a0f-96aa2e187467", "reverse":"163-172-171-180.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2025-07-22T15:58:36.119597536Z", "updated_at":"2025-07-22T15:58:36.119597536Z", "private_network_count":0, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"id":"d82b6011-a4e9-4785-9a0f-96aa2e187467", "name":"cli-test", "description":"cli-test", "status":"to_create", "instances":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "ip":[{"id":"ed41b46a-0120-4740-9224-c2ac389885be", "ip_address":"163.172.171.180", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "lb_id":"d82b6011-a4e9-4785-9a0f-96aa2e187467", "reverse":"163-172-171-180.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2025-07-22T15:58:36.119597536Z", "updated_at":"2025-07-22T15:58:36.119597536Z", "private_network_count":0, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 339.204532ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"d82b6011-a4e9-4785-9a0f-96aa2e187467", "name":"cli-test", "description":"cli-test", "status":"to_create", "instances":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "ip":[{"id":"ed41b46a-0120-4740-9224-c2ac389885be", "ip_address":"163.172.171.180", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b7[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"id":"a5967157-d522-4b63-aad7-d1a3100f21c7", "name":"cli-pn-beautiful-rhodes", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:58:40.607759Z", "updated_at":"2025-07-22T15:58:40.607759Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"56aee222-6f99-4120-8571-72c4cf1b62e0", "created_at":"2025-07-22T15:58:40.607759Z", "updated_at":"2025-07-22T15:58:40.607759Z", "subnet":"172.16.108.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"a5967157-d522-4b63-aad7-d1a3100f21c7", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"5b70df95-f0e5-494f-9e95-694b6d217ec6", "created_at":"2025-07-22T15:58:40.607759Z", "updated_at":"2025-07-22T15:58:40.607759Z", "subnet":"fd63:256c:45f7:f230::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"a5967157-d522-4b63-aad7-d1a3100f21c7", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"a5967157-d522-4b63-aad7-d1a3100f21c7", "name":"cli-pn-beautiful-rhodes", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:58:40.607759Z", "updated_at":"2025-07-22T15:58:40.607759Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"56aee222-6f99-4120-8571-72c4cf1b62e0", "created_at":"2025-07-22T15:58:40.607759Z", "updated_at":"2025-07-22T15:58:40.607759Z", "subnet":"172.16.108.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"a5967157-d522-4b63-aad7-d1a3100f21c7", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"5b70df95-f0e5-494f-9e95-694b6d217ec6", "created_at":"2025-07-22T15:58:40.607759Z", "updated_at":"2025-07-22T15:58:40.607759Z", "subnet":"fd63:256c:45f7:f230::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"a5967157-d522-4b63-aad7-d1a3100f21c7", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 672.310631ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"lb":{"id":"d82b6011-a4e9-4785-9a0f-96aa2e187467", "name":"cli-test", "description":"cli-test", "status":"ready", "instances":[{"id":"1ab656b0-18f2-421f-ada0-b645974ef5e6", "status":"ready", "ip_address":"", "created_at":"2025-07-22T15:57:50.442277Z", "updated_at":"2025-07-22T15:58:38.747764Z", "region":"fr-par", "zone":"fr-par-1"}], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "ip":[{"id":"ed41b46a-0120-4740-9224-c2ac389885be", "ip_address":"163.172.171.180", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "lb_id":"d82b6011-a4e9-4785-9a0f-96aa2e187467", "reverse":"163-172-171-180.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2025-07-22T15:58:36.119598Z", "updated_at":"2025-07-22T15:58:40.235317Z", "private_network_count":1, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}, "private_network_id":"a5967157-d522-4b63-aad7-d1a3100f21c7", "status":"pending", "created_at":"2025-07-22T15:58:41.421199364Z", "updated_at":"2025-07-22T15:58:41.421199364Z", "dhcp_config":{"ip_id":null}, "ipam_ids":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d82b6011-a4e9-4785-9a0f-96aa2e187467/attach-private-network
        method: POST
      response:
        body: '{"lb":{"id":"d82b6011-a4e9-4785-9a0f-96aa2e187467", "name":"cli-test", "description":"cli-test", "status":"ready", "instances":[{"id":"1ab656b0-18f2-421f-ada0-b645974ef5e6", "status":"ready", "ip_address":"", "created_at":"20[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"private_network":[{"lb":{"id":"d82b6011-a4e9-4785-9a0f-96aa2e187467", "name":"cli-test", "description":"cli-test", "status":"ready", "instances":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "ip":[{"id":"ed41b46a-0120-4740-9224-c2ac389885be", "ip_address":"163.172.171.180", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "lb_id":"d82b6011-a4e9-4785-9a0f-96aa2e187467", "reverse":"163-172-171-180.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2025-07-22T15:58:36.119598Z", "updated_at":"2025-07-22T15:58:40.235317Z", "private_network_count":1, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}, "private_network_id":"a5967157-d522-4b63-aad7-d1a3100f21c7", "status":"pending", "created_at":"2025-07-22T15:58:41.421199Z", "updated_at":"2025-07-22T15:58:41.421199Z", "dhcp_config":{"ip_id":null}, "ipam_ids":[]}], "total_count":1}'
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d82b6011-a4e9-4785-9a0f-96aa2e187467/private-networks?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"private_network":[{"lb":{"id":"d82b6011-a4e9-4785-9a0f-96aa2e187467", "name":"cli-test", "description":"cli-test", "status":"ready", "instances":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d82b6011-a4e9-4785-9a0f-96aa2e187467/detach-private-network
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 327.972316ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d82b6011-a4e9-4785-9a0f-96aa2e187467?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 373.537489ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"message":"lbs not Found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d82b6011-a4e9-4785-9a0f-96aa2e187467
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.109697ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"help_message":"Private Network must be empty to be deleted","message":"precondition is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a5967157-d522-4b63-aad7-d1a3100f21c7
        method: DELETE
      response:
        body: '{"help_message":"Private Network must be empty to be deleted","message":"precondition is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
        headers:
            Content-Type:
                - application/json
        status: 412 Precondition Failed
        code: 412
        duration: 1.162662948s
