---
version: 1
interactions:
- request:
    body: '{"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-test","description":"cli-test","ip_id":null,"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs
    method: POST
  response:
    body: '{"id":"4b5fc8eb-dd09-4b34-bfa2-1ac1bad987ac","name":"cli-test","description":"cli-test","status":"pending","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"732084bc-89fc-440b-84ad-d43e8348af0a","ip_address":"51.159.26.250","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"4b5fc8eb-dd09-4b34-bfa2-1ac1bad987ac","reverse":"51-159-26-250.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/4b5fc8eb-dd09-4b34-bfa2-1ac1bad987ac
    method: GET
  response:
    body: '{"id":"4b5fc8eb-dd09-4b34-bfa2-1ac1bad987ac","name":"cli-test","description":"cli-test","status":"pending","instances":[{"id":"5e19347c-e19f-4ca6-9735-e0a3e5276633","status":"unknown","ip_address":"10.68.26.177","region":"fr-par"},{"id":"30363741-bf31-4aa0-a5e7-ada82263ae25","status":"unknown","ip_address":"10.65.30.23","region":"fr-par"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"732084bc-89fc-440b-84ad-d43e8348af0a","ip_address":"51.159.26.250","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"4b5fc8eb-dd09-4b34-bfa2-1ac1bad987ac","reverse":"51-159-26-250.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/4b5fc8eb-dd09-4b34-bfa2-1ac1bad987ac?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
