---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"4ae55d62-008a-44d0-8802-1cbd8b5613ad", "name":"cli-test", "description":"cli-test", "status":"to_create", "instances":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "ip":[{"id":"ed41b46a-0120-4740-9224-c2ac389885be", "ip_address":"163.172.171.180", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "lb_id":"4ae55d62-008a-44d0-8802-1cbd8b5613ad", "reverse":"163-172-171-180.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2025-07-22T15:57:52.585044941Z", "updated_at":"2025-07-22T15:57:52.585044941Z", "private_network_count":0, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"id":"4ae55d62-008a-44d0-8802-1cbd8b5613ad", "name":"cli-test", "description":"cli-test", "status":"to_create", "instances":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "ip":[{"id":"ed41b46a-0120-4740-9224-c2ac389885be", "ip_address":"163.172.171.180", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "lb_id":"4ae55d62-008a-44d0-8802-1cbd8b5613ad", "reverse":"163-172-171-180.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2025-07-22T15:57:52.585044941Z", "updated_at":"2025-07-22T15:57:52.585044941Z", "private_network_count":0, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 306.848119ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"4ae55d62-008a-44d0-8802-1cbd8b5613ad", "name":"cli-test", "description":"cli-test", "status":"to_create", "instances":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "ip":[{"id":"ed41b46a-0120-4740-9224-c2ac389885be", "ip_address":"163.172.171.180", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b7[...]
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"id":"f2f676c8-f605-4cc8-b2cd-4a19965767db", "ip_address":"2001:bc8:710:64::", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "lb_id":null, "reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.4.6.0.0.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"f2f676c8-f605-4cc8-b2cd-4a19965767db", "ip_address":"2001:bc8:710:64::", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "lb_id":null, "reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.4.6.0.0.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.327044ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"id":"f2f676c8-f605-4cc8-b2cd-4a19965767db", "ip_address":"2001:bc8:710:64::", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "lb_id":"4ae55d62-008a-44d0-8802-1cbd8b5613ad", "reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.4.6.0.0.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/f2f676c8-f605-4cc8-b2cd-4a19965767db
        method: PATCH
      response:
        body: '{"id":"f2f676c8-f605-4cc8-b2cd-4a19965767db", "ip_address":"2001:bc8:710:64::", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "lb_id":"4ae55d62-008a-44d0-8802-1cbd8b5613ad", "reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.4.6.0.0.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 294.032122ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4ae55d62-008a-44d0-8802-1cbd8b5613ad?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 239.132612ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"message":"lbs not Found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4ae55d62-008a-44d0-8802-1cbd8b5613ad
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.120704ms
[...]
