---
version: 1
interactions:
- request:
    body: '{"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-test","description":"cli-test","ip_id":null,"tags":null,"type":"","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs
    method: POST
  response:
    body: '{"id":"d2d25dfa-1952-40cd-80f7-546b21dc5248","name":"cli-test","description":"cli-test","status":"pending","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"4e11d8cc-7787-4c32-87a9-097c584c6b9b","ip_address":"195.154.70.203","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"d2d25dfa-1952-40cd-80f7-546b21dc5248","reverse":"195-154-70-203.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/d2d25dfa-1952-40cd-80f7-546b21dc5248
    method: GET
  response:
    body: '{"id":"d2d25dfa-1952-40cd-80f7-546b21dc5248","name":"cli-test","description":"cli-test","status":"pending","instances":[{"id":"63c638f3-579f-4424-ae1d-316b9df0b992","status":"unknown","ip_address":"10.68.12.81","region":"fr-par"},{"id":"cd597fe1-3595-4c6b-bc4a-45bdbfc1afe1","status":"unknown","ip_address":"10.64.120.93","region":"fr-par"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"4e11d8cc-7787-4c32-87a9-097c584c6b9b","ip_address":"195.154.70.203","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"d2d25dfa-1952-40cd-80f7-546b21dc5248","reverse":"195-154-70-203.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/d2d25dfa-1952-40cd-80f7-546b21dc5248?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
