---
version: 2
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"cli-test","description":"cli-test","ip_id":null,"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"8896c755-f57f-4fb5-b5ae-fedd423afff8","name":"cli-test","description":"cli-test","status":"to_create","instances":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"b46bdae2-942d-42d1-a8d3-6cd3ef6a67aa","ip_address":"51.159.26.87","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"8896c755-f57f-4fb5-b5ae-fedd423afff8","reverse":"51-159-26-87.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-12-14T08:47:37.099544462Z","updated_at":"2022-12-14T08:47:37.099544462Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8896c755-f57f-4fb5-b5ae-fedd423afff8
    method: GET
  response:
    body: '{"id":"8896c755-f57f-4fb5-b5ae-fedd423afff8","name":"cli-test","description":"cli-test","status":"to_create","instances":[{"id":"70f98fd7-c442-4bac-b794-feebf11712af","status":"unknown","ip_address":"10.71.26.51","created_at":"2022-12-14T08:45:47.418062Z","updated_at":"2022-12-14T08:47:37.395236Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"b46bdae2-942d-42d1-a8d3-6cd3ef6a67aa","ip_address":"51.159.26.87","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"8896c755-f57f-4fb5-b5ae-fedd423afff8","reverse":"51-159-26-87.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-12-14T08:47:37.099544Z","updated_at":"2022-12-14T08:47:37.099544Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"lbs":[{"id":"7dfe5933-71cc-4cea-8861-5ede3fd9266f","name":"lb-nice-antonelli","description":"","status":"ready","instances":[{"id":"4aba3847-5da8-49b4-ba91-26362f94da98","status":"ready","ip_address":"10.68.140.57","created_at":"2022-10-25T03:13:05.829591Z","updated_at":"2022-11-14T15:27:57.989526Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"4012ed0f-a193-4837-8edc-1fda409c22c4","ip_ad[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8896c755-f57f-4fb5-b5ae-fedd423afff8?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
[...]
