---
version: 1
interactions:
- request:
    body: '{"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-test","description":"cli-test","ip_id":null,"tags":null,"type":"","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs
    method: POST
  response:
    body: '{"id":"fbbadfaa-d76b-4167-b438-7fe3c85250e4","name":"cli-test","description":"cli-test","status":"pending","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"50731261-5454-4e54-842c-ad68faea746e","ip_address":"195.154.68.242","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"fbbadfaa-d76b-4167-b438-7fe3c85250e4","reverse":"195-154-68-242.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/fbbadfaa-d76b-4167-b438-7fe3c85250e4
    method: GET
  response:
    body: '{"id":"fbbadfaa-d76b-4167-b438-7fe3c85250e4","name":"cli-test","description":"cli-test","status":"pending","instances":[{"id":"36a4911e-8046-47aa-9b93-5bf3f729781b","status":"unknown","ip_address":"10.68.216.13","region":"fr-par"},{"id":"01e36503-3ca2-4cb3-9f3a-bd896f1b4435","status":"unknown","ip_address":"10.68.114.169","region":"fr-par"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"50731261-5454-4e54-842c-ad68faea746e","ip_address":"195.154.68.242","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"fbbadfaa-d76b-4167-b438-7fe3c85250e4","reverse":"195-154-68-242.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"lbs":[{"id":"f91ce5b6-d604-4c92-83d6-9f40bdf461c3","name":"testcli","description":"fdlkjfdlkjsfd","status":"ready","instances":[{"id":"22433c77-700f-4297-a4c6-47b790572ae7","status":"ready","ip_address":"10.64.244.129","region":"fr-par"},{"id":"3d53fb9c-ae56-479f-bf59-65aa405014b0","status":"ready","ip_address":"10.64.102.199","region":"fr-par"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"497f1f83-f0cc-4c92-95bb-a50408174cd2","ip_address":"195.154.70.227","organization_id":[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/fbbadfaa-d76b-4167-b438-7fe3c85250e4?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
