---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-test","description":"cli-test","ip_id":null,"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs
    method: POST
  response:
    body: '{"id":"bb8a94d3-fa3b-44f3-9a95-5e540ff43833","name":"cli-test","description":"cli-test","status":"pending","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"9250f201-9cf2-425b-929e-4422592eb2c2","ip_address":"51.159.114.215","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"bb8a94d3-fa3b-44f3-9a95-5e540ff43833","reverse":"51-159-114-215.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-04-07T11:59:50.989303952Z","updated_at":"2021-04-07T11:59:50.989303952Z","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/bb8a94d3-fa3b-44f3-9a95-5e540ff43833
    method: GET
  response:
    body: '{"id":"bb8a94d3-fa3b-44f3-9a95-5e540ff43833","name":"cli-test","description":"cli-test","status":"pending","instances":[{"id":"c41a309f-fca4-490a-8107-b8c91093c61a","status":"unknown","ip_address":"10.72.118.63","created_at":"2021-04-07T11:58:47.636732Z","updated_at":"2021-04-07T11:59:51.184853Z","region":"fr-par"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/bb8a94d3-fa3b-44f3-9a95-5e540ff43833?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
