---
version: 1
interactions:
- request:
    body: '{"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-test","description":"cli-test","ip_id":null,"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs
    method: POST
  response:
    body: '{"id":"ffd53f8d-7845-4303-99b7-3de8f6cb340c","name":"cli-test","description":"cli-test","status":"pending","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"51b36cce-4180-447a-b607-b2f2a8c4f53d","ip_address":"195.154.70.59","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"ffd53f8d-7845-4303-99b7-3de8f6cb340c","reverse":"195-154-70-59.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/ffd53f8d-7845-4303-99b7-3de8f6cb340c
    method: GET
  response:
    body: '{"id":"ffd53f8d-7845-4303-99b7-3de8f6cb340c","name":"cli-test","description":"cli-test","status":"pending","instances":[{"id":"9813d7d7-6e14-4d30-ac3b-13b3efb4da57","status":"unknown","ip_address":"10.65.104.131","region":"fr-par"},{"id":"d9e4362b-1e43-404b-ae69-5b3c1bfd0753","status":"unknown","ip_address":"10.64.220.125","region":"fr-par"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"51b36cce-4180-447a-b607-b2f2a8c4f53d","ip_address":"195.154.70.59","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"ffd53f8d-7845-4303-99b7-3de8f6cb340c","reverse":"195-154-70-59.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/ffd53f8d-7845-4303-99b7-3de8f6cb340c?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
