---
version: 1
interactions:
- request:
    body: '{"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-test","description":"cli-test","ip_id":null,"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs
    method: POST
  response:
    body: '{"id":"ee00b31c-767a-4133-8ec0-cbcc42b5329c","name":"cli-test","description":"cli-test","status":"pending","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"497f1f83-f0cc-4c92-95bb-a50408174cd2","ip_address":"195.154.70.227","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"ee00b31c-767a-4133-8ec0-cbcc42b5329c","reverse":"195-154-70-227.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/ee00b31c-767a-4133-8ec0-cbcc42b5329c
    method: GET
  response:
    body: '{"id":"ee00b31c-767a-4133-8ec0-cbcc42b5329c","name":"cli-test","description":"cli-test","status":"pending","instances":[{"id":"0d614db8-bffe-4b42-beb0-53754fdc9f0b","status":"unknown","ip_address":"10.68.212.169","region":"fr-par"},{"id":"0d5734af-26b7-4c56-814d-6bae65c60cdf","status":"unknown","ip_address":"10.64.2.23","region":"fr-par"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"497f1f83-f0cc-4c92-95bb-a50408174cd2","ip_address":"195.154.70.227","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"ee00b31c-767a-4133-8ec0-cbcc42b5329c","reverse":"195-154-70-227.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"lbs":[{"id":"df9969f2-e408-471d-89ad-fec905268bc6","name":"cli-test","description":"cli-test","status":"ready","instances":[{"id":"223875c7-90b5-47b9-bce4-c31da7b72c5d","status":"ready","ip_address":"10.68.130.123","region":"fr-par"},{"id":"722e1255-f976-4c10-8a30-e0a0140e05d8","status":"ready","ip_address":"10.64.74.57","region":"fr-par"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"513a8613-5d27-4839-a2e1-8100960b5402","ip_address":"195.154.69.128","organization_id":"951df[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/ee00b31c-767a-4133-8ec0-cbcc42b5329c?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
