---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"d35aeac8-bad2-4242-95da-aea012d7ed92", "ip_address":"2001:bc8:710:63::", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "lb_id":null, "reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.3.6.0.0.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"d35aeac8-bad2-4242-95da-aea012d7ed92", "ip_address":"2001:bc8:710:63::", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "lb_id":null, "reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.3.6.0.0.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.537987ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"74066ea7-1291-4b74-bd9a-fb11fa98a4af", "name":"cli-test", "description":"cli-test", "status":"to_create", "instances":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "ip":[{"id":"639ff1b1-ee97-41d7-8d1a-7c8209e6f8ef", "ip_address":"163.172.185.55", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "lb_id":"74066ea7-1291-4b74-bd9a-fb11fa98a4af", "reverse":"163-172-185-55.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2025-07-22T15:57:52.650815232Z", "updated_at":"2025-07-22T15:57:52.650815232Z", "private_network_count":0, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"id":"74066ea7-1291-4b74-bd9a-fb11fa98a4af", "name":"cli-test", "description":"cli-test", "status":"to_create", "instances":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "ip":[{"id":"639ff1b1-ee97-41d7-8d1a-7c8209e6f8ef", "ip_address":"163.172.185.55", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "lb_id":"74066ea7-1291-4b74-bd9a-fb11fa98a4af", "reverse":"163-172-185-55.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2025-07-22T15:57:52.650815232Z", "updated_at":"2025-07-22T15:57:52.650815232Z", "private_network_count":0, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 379.349387ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"id":"74066ea7-1291-4b74-bd9a-fb11fa98a4af", "name":"cli-test", "description":"cli-test", "status":"to_create", "instances":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "ip":[{"id":"639ff1b1-ee97-41d7-8d1a-7c8209e6f8ef", "ip_address":"163.172.185.55", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"id":"d35aeac8-bad2-4242-95da-aea012d7ed92", "ip_address":"2001:bc8:710:63::", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "lb_id":"74066ea7-1291-4b74-bd9a-fb11fa98a4af", "reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.3.6.0.0.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/d35aeac8-bad2-4242-95da-aea012d7ed92
        method: PATCH
      response:
        body: '{"id":"d35aeac8-bad2-4242-95da-aea012d7ed92", "ip_address":"2001:bc8:710:63::", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "lb_id":"74066ea7-1291-4b74-bd9a-fb11fa98a4af", "reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.3.6.0.0.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 249.544618ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/74066ea7-1291-4b74-bd9a-fb11fa98a4af?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 280.459377ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"message":"lbs not Found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/74066ea7-1291-4b74-bd9a-fb11fa98a4af
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.308313ms
