---
version: 1
interactions:
- request:
    body: '{"project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","name":"cli-test","description":"cli-test","ip_id":null,"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"354c487f-5eb9-4d7a-928d-07f76d22351e","name":"cli-test","description":"cli-test","status":"pending","instances":[],"organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","ip":[{"id":"c2ddaac1-2e04-485b-a6ba-6c9b0af7df08","ip_address":"51.159.115.76","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":"354c487f-5eb9-4d7a-928d-07f76d22351e","reverse":"51-159-115-76.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-04-27T12:33:20.535807216Z","updated_at":"2021-04-27T12:33:20.535807216Z","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/354c487f-5eb9-4d7a-928d-07f76d22351e
    method: GET
  response:
    body: '{"id":"354c487f-5eb9-4d7a-928d-07f76d22351e","name":"cli-test","description":"cli-test","status":"pending","instances":[],"organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","ip":[{"id":"c2ddaac1-2e04-485b-a6ba-6c9b0af7df08","ip_address":"51.159.115.76","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":"354c487f-5eb9-4d7a-928d-07f76d22351e","reverse":"51-159-115-76.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-04-27T12:33:20.535807Z","updated_at":"2021-04-27T12:33:20.535807Z","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/marketplace/v1/images?page=1
    method: GET
  response:
    body: '{"images": [{"id": "b381b2bf-804a-4b12-91f6-9f4ff273462f", "name": "Ubuntu Bionic", "label": "ubuntu_bionic", "logo": "https://marketplace-logos.s3.nl-ams.scw.cloud/ubuntu.png", "description": "Ubuntu is the ideal distribution for scale-out computing, Ubuntu Server helps you make the most of your infrastructure.", "organization": {"id": "51b656e3-4865-41e8-adbc-0c45bdd780db", "name": "Instances User Resources Build System"}, "versions": [{"id": "46b87e8b-e9b5-417f-a185-3d0fac2531bc", "name": "2021-03-30T08:50:27.029754+00:00", "local_images": [{"id": "5e84372e-6abe-4df5-834d-b12af4b24af8", "zone": "pl-waw-1", "arch": "x86_64", "compatible_commercial_types": ["VC1S", "VC1M", "VC1L", "START1-XS", "START1-S", "START1-M", "START1-L", "DEV1-S", "DEV1-M", "DEV1-L", "DEV1-XL", "GP1-XS", "GP1-S", "GP1-M", "GP1-L", "GP1-XL"]}, {"id": "a7306ef9-5e1b-464d-a409-a44026d91a9e", "zone": "ams1", "arch": "x86_64", "compatible_commercial_types": ["C2S", "C2M", "C2L", "X64-15GB", "X64-30GB", "X64-60GB", "X64-120GB"]}, {"id": "a5076337-734f-4b99-95ed-9a5bc73b9b09", "zone": "ams1", "arch": "arm", "compatible_commercial_types": []}, {"id": "7663c62b-40e3-4e6b-a835-7072[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/16152446-99ed-4795-9d3f-87ec2f5b891d
    method: GET
  response:
    body: '{"image": {"id": "16152446-99ed-4795-9d3f-87ec2f5b891d", "name": "Ubuntu 20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "210db8e4-9645-4369-aa7e-9caa57ba79dd", "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "size": 10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2021-03-25T11:32:29.589126+00:00", "modification_date": "2021-03-25T11:32:29.589126+00:00", "default_bootscript": null, "from_server": null, "state": "available", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/products/servers
    method: GET
  response:
    body: '{"servers": {"C1": {"alt_names": [], "arch": "arm", "ncpus": 4, "ram": 2147483648, "gpu": null, "volumes_constraint": {"min_size": 50000000000, "max_size": 1000000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": true, "monthly_price": 4.32, "hourly_price": 0.006, "capabilities": {"boot_types": ["bootscript", "rescue"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": false, "placement_groups": false, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": false, "sum_internal_bandwidth": 1073741824, "sum_internet_bandwidth": 209715200, "interfaces": [{"internal_bandwidth": 1073741824, "internet_bandwidth": 209715200}]}}, "DEV1-L": {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 8589934592, "gpu": null, "volumes_constraint": {"min_size": 80000000000, "max_size": 80000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price": 28.8, "hourly_price": 0.04, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 419430400, "sum_internet_bandwidth": 419430400, "interfaces": [{"internal_bandwidth": 419430400, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth": 419430400}]}}, "DEV1-M": {"alt_names": [], "arch": "x86_64", "ncpus": 3, "ram": 4294967296, "gpu": null, "volumes_constraint": {"min_size": 40000000000, "max_size": 40000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price": 14.4, "hourly_price": 0.02, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 314572800, "sum_internet_bandwidth": 314572800, "interfaces": [{"internal_bandwidth": 314572800, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth": 314572800}]}}, "DEV1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 2147483648, "gpu": null, "volumes_constraint": {"min_size": 20000000000, "max_size": 20000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price": 7.2, "hourly_price": 0.01, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 209715200, "sum_internet_bandwidth": 209715200, "interfaces": [{"internal_bandwidth": 209715200, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth": 209715200}]}}, "DEV1-XL": {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 12884901888, "gpu": null, "volumes_constraint": {"min_size": 120000000000, "max_size": 120000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price": 43.2, "hourly_price": 0.06, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 524288000, "sum_internet_bandwidth": 524288000, "interfaces": [{"internal_bandwidth": 524288000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth": 524288000}]}}, "GP1-L": {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram": 137438953472, "gpu": null, "volumes_constraint": {"min_size": 600000000000, "max_size": 600000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price": 475.2, "hourly_price": 0.66, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 5368709120, "sum_internet_bandwidth": 5368709120, "interfaces": [{"internal_bandwidth": 5368709120, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth": 5368709120}]}}, "GP1-M": {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 68719476736, "gpu": null, "volumes_constraint": {"min_size": 600000000000, "max_size": 600000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price": 244.8, "hourly_price": 0.34, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 1610612736, "sum_internet_bandwidth": 1610612736, "interfaces": [{"internal_bandwidth": 1610612736, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth": 1610612736}]}}, "GP1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": null, "volumes_constraint": {"min_size": 300000000000, "max_size": 300000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price": 122.4, "hourly_price": 0.17, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 838860800, "sum_internet_bandwidth": 838860800, "interfaces": [{"internal_bandwidth": 838860800, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth": 838860800}]}}, "GP1-VIZ": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": null, "volumes_constraint": {"min_size": 300000000000, "max_size": 300000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price": 72.0, "hourly_price": 0.1, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 524288000, "sum_internet_bandwidth": 524288000, "interfaces": [{"internal_bandwidth": 524288000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth": 524288000}]}}, "GP1-XL": {"alt_names": [], "arch": "x86_64", "ncpus": 48, "ram": 274877906944, "gpu": null, "volumes_constraint": {"min_size": 600000000000, "max_size": 600000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price": 1008.0, "hourly_price": 1.4, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 10737418240, "sum_internet_bandwidth": 10737418240, "interfaces": [{"internal_bandwidth": 10737418240, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth": 10737418240}]}}, "GP1-XS": {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 17179869184, "gpu": null, "volumes_constraint": {"min_size": 150000000000, "max_size": 150000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price": 60.48, "hourly_price": 0.084, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 524288000, "sum_internet_bandwidth": 524288000, "interfaces": [{"internal_bandwidth": 524288000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth": 524288000}]}}, "RENDER-S": {"alt_names": [], "arch": "x86_64", "ncpus": 10, "ram": 48318382080, "gpu": 1, "volumes_constraint": {"min_size": 400000000000, "max_size": 400000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price": 720.0, "hourly_price": 1.0, "capabilities": {"boot_types": ["local", "rescue"], "default_boot_type": "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 1073741824, "sum_internet_bandwidth": 1073741824, "interfaces": [{"internal_bandwidth": 1073741824, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth": 1073741824}]}}, "STARDUST1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 1, "ram": 1073741824, "gpu": null, "volumes_constraint": {"min_size": 10000000000, "max_size": 10000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price": 1.8, "hourly_price": 0.0025, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 104857600, "sum_internet_bandwidth": 104857600, "interfaces": [{"internal_bandwidth": 104857600, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth": 104857600}]}}, "START1-L": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 8589934592, "gpu": null, "volumes_constraint": {"min_size": 200000000000, "max_size": 200000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 23.04, "hourly_price": 0.032, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 419430400, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 419430400}]}}, "START1-M": {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 4294967296, "gpu": null, "volumes_constraint": {"min_size": 100000000000, "max_size": 100000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 11.52, "hourly_price": 0.016, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 314572800, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 314572800}]}}, "START1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 2147483648, "gpu": null, "volumes_constraint": {"min_size": 50000000000, "max_size": 50000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 5.76, "hourly_price": 0.008, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 209715200, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 209715200}]}}, "START1-XS": {"alt_names": [], "arch": "x86_64", "ncpus": 1, "ram": 1073741824, "gpu": null, "volumes_constraint": {"min_size": 25000000000, "max_size": 25000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 2.88, "hourly_price": 0.004, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 104857600, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 104857600}]}}, "VC1L": {"alt_names": ["X64-8GB"], "arch": "x86_64", "ncpus": 6, "ram": 8589934592, "gpu": null, "volumes_constraint": {"min_size": 200000000000, "max_size": 200000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 14.4, "hourly_price": 0.02, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 209715200, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 209715200}]}}, "VC1M": {"alt_names": ["X64-4GB"], "arch": "x86_64", "ncpus": 4, "ram": 4294967296, "gpu": null, "volumes_constraint": {"min_size": 100000000000, "max_size": 100000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 8.64, "hourly_price": 0.012, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 209715200, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 209715200}]}}, "VC1S": {"alt_names": ["X64-2GB"], "arch": "x86_64", "ncpus": 2, "ram": 2147483648, "gpu": null, "volumes_constraint": {"min_size": 50000000000, "max_size": 50000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 4.32, "hourly_price": 0.006, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 209715200, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 209715200}]}}, "X64-120GB": {"alt_names": [], "arch": "x86_64", "ncpus": 12, "ram": 128849018880, "gpu": null, "volumes_constraint": {"min_size": 500000000000, "max_size": 1000000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 259.2, "hourly_price": 0.36, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 1073741824, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 1073741824}]}}, "X64-15GB": {"alt_names": [], "arch": "x86_64", "ncpus": 6, "ram": 16106127360, "gpu": null, "volumes_constraint": {"min_size": 200000000000, "max_size": 200000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 36.0, "hourly_price": 0.05, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 262144000, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 262144000}]}}, "X64-30GB": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 32212254720, "gpu": null, "volumes_constraint": {"min_size": 300000000000, "max_size": 400000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 72.0, "hourly_price": 0.1, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 524288000, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 524288000}]}}, "X64-60GB": {"alt_names": [], "arch": "x86_64", "ncpus": 10, "ram": 64424509440, "gpu": null, "volumes_constraint": {"min_size": 400000000000, "max_size": 700000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price": 129.6, "hourly_price": 0.18, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth": 1073741824, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth": 1073741824}]}}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </products/servers?page=1&per_page=50&>; rel="last"
      X-Total-Count:
      - "24"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "1b3e9eac-2ba1-423e-9711-9f031360b568", "address": "51.158.74.120", "reverse": null, "server": null, "organization": "b3ba839a-dcf2-4b0a-ac81-fc32370052a0", "project": "b3ba839a-dcf2-4b0a-ac81-fc32370052a0", "zone": "fr-par-1", "tags": []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api02.internal.scaleway.com/ips/1b3e9eac-2ba1-423e-9711-9f031360b568
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"cli-srv-heuristic-dubinsky","commercial_type":"DEV1-S","image":"16152446-99ed-4795-9d3f-87ec2f5b891d","public_ip":"1b3e9eac-2ba1-423e-9711-9f031360b568","boot_type":"local","project":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"server": {"id": "605f4f3e-05bb-499a-8e84-b6e9c21e7690", "name": "cli-srv-heuristic-dubinsky", "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization": "b3ba839a-dcf2-4b0a-ac81-fc32370052a0", "project": "b3ba839a-dcf2-4b0a-ac81-fc32370052a0", "hostname": "cli-srv-heuristic-dubinsky", "image": {"id": "16152446-99ed-4795-9d3f-87ec2f5b891d", "name": "Ubuntu 20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "210db8e4-9645-4369-aa7e-9caa57ba79dd", "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "size": 10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2021-03-25T11:32:29.589126+00:00", "modification_date": "2021-03-25T11:32:29.589126+00:00", "default_bootscript": null, "from_server": null, "state": "available", "zone": "fr-par-1"}, "volumes": {"0": {"id": "b1ea734d-773f-4dab-8908-4e40bd1db54c", "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "export_uri": null, "organization": "b3ba839a-dcf2-4b0a-ac81-fc32370052a0", "project": "b3ba839a-dcf2-4b0a-ac81-fc32370052a0", "server": {"id": "605f4f3e-05bb-499a-8e84-b6e9c21e7690", "name": "cli-srv-heuristic-dubinsky"}, "size": 20000000000, "state": "available", "creation_date": "2021-04-27T12:33:24.096034+00:00", "modification_date": "2021-04-27T12:33:24.096034+00:00", "zone": "fr-par-1"}}, "tags": [], "state": "stopped", "protected": false, "state_detail": "", "public_ip": {"id": "1b3e9eac-2ba1-423e-9711-9f031360b568", "address": "51.158.74.120", "dynamic": false}, "ipv6": null, "extra_networks": [], "dynamic_ip_required": false, "enable_ipv6": false, "private_ip": null, "creation_date": "2021-04-27T12:33:24.096034+00:00", "modification_date": "2021-04-27T12:33:24.096034+00:00", "bootscript": {"id": "fdfe150f-a870-4ce4-b432-9f56b5b995c1", "public": true, "title": "x86_64 mainline 4.4.230 rev1", "architecture": "x86_64", "organization": "11111111-1111-4111-8111-111111111111", "project": "11111111-1111-4111-8111-111111111111", "kernel": "https://s3.fr-par.scw.cloud/scw-par1-bootscripts/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230", "dtb": "", "initrd": "https://s3.fr-par.scw.cloud/scw-par1-bootscripts/initrd/initrd-Linux-x86_64-v3.14.6.gz", "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default": true, "zone": "fr-par-1"}, "security_group": {"id": "8c2471b6-317d-46a9-ba7d-081f1bc8ba69", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api02.internal.scaleway.com/servers/605f4f3e-05bb-499a-8e84-b6e9c21e7690
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"cli-test","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":5,"port":8888,"check_send_proxy":false,"check_timeout":null,"check_delay":null},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_unknown","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/354c487f-5eb9-4d7a-928d-07f76d22351e/backends
    method: POST
  response:
    body: '{"id":"b1466359-95a5-46e4-9968-a1b6ab166940","name":"cli-test","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":8888,"check_delay":3000,"check_timeout":1000,"check_max_retries":5,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"354c487f-5eb9-4d7a-928d-07f76d22351e","name":"cli-test","description":"cli-test","status":"ready","instances":[{"id":"e50fe662-3279-4732-9ebd-cfa58457b77f","status":"ready","ip_address":"10.65.40.103","created_at":"2021-04-27T11:51:05.633148Z","updated_at":"2021-04-27T12:33:21.049411Z","region":"fr-par","zone":"fr-par-1"},{"id":"32037751-d48a-42af-a0c6-0e91ed703d33","status":"ready","ip_address":"10.69.58.49","created_at":"2021-04-27T03:09:42.806815Z","updated_at":"2021-04-27T12:33:21.269[...]
[...]
- request:
    body: '{"server_ip":["51.158.74.120"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/29777872-8f83-4c2b-9b5a-d829d2189229/servers
    method: POST
  response:
    body: '{"id":"29777872-8f83-4c2b-9b5a-d829d2189229","name":"cli-test","forward_protocol":"tcp","forward_port":81,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":[...]
- request:
    body: '{"name":"cli-test","inbound_port":8888,"backend_id":"29777872-8f83-4c2b-9b5a-d829d2189229","certificate_id":null,"certificate_ids":null,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/354c487f-5eb9-4d7a-928d-07f76d22351e/frontends
    method: POST
  response:
[...]
