---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","type":"","name":"cli-test","description":"","tags":null,"version":"1.24.7","cni":"cilium","pools":[{"name":"default","node_type":"DEV1-M","placement_group_id":null,"autoscaling":false,"size":1,"min_size":null,"max_size":null,"container_runtime":"unknown_runtime","autohealing":false,"tags":null,"kubelet_args":null,"upgrade_policy":null,"zone":"","root_volume_type":"default_volume_type","root_volume_size":null}],"autoscaler_config":null,"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"e60e53f3-1034-4c6e-bdb6-401ee36d59d3","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2022-12-14T08:57:11.411989195Z","updated_at":"2022-12-14T08:57:12.254869789Z","type":"kapsule","name":"cli-test","description":"","status":"creating","version":"1.24.7","cni":"cilium","tags":[],"cluster_url":"https://e60e53f3-1034-4c6e-bdb6-401ee36d59d3.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.e60e53f3-1034-4c6e-bdb6-401ee36d59d3.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e60e53f3-1034-4c6e-bdb6-401ee36d59d3
    method: GET
  response:
    body: '{"region":"fr-par","id":"e60e53f3-1034-4c6e-bdb6-401ee36d59d3","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2022-12-14T08:57:11.411989Z","updated_at":"2022-12-14T08:57:12.254870Z","type":"kapsule","name":"cli-test","description":""[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e60e53f3-1034-4c6e-bdb6-401ee36d59d3/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZVUxVVNYaE5la0UwVGxSamVFMHhiMWhFVkUxNVRWUkplRTE2UVRST1ZHTjRUVEZ2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFFWRnZRMmR[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/07642645-b067-4094-8f5b-6e1838cbc342
    method: GET
  response:
    body: '{"id":"07642645-b067-4094-8f5b-6e1838cbc342","name":"e60e53f3-1034-4c6e-bdb6-401ee36d59d3_5098228a-4dec-48e0-86e3-11a19536a8df","description":"kubernetes
      service traefik-ingress","status":"ready","instances":[{"id":"ddde68b4-f527-4c6e-9d88-f4553e40fd9e","status":"ready","ip_address":"10.74.62.47","created_at":"2022-12-14T08:57:18.718116Z","updated_at":"2022-12-14T08:58:26.607999Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"b9dceb0e-4055-4193-b36b-146e8ccd2552","ip_address":"51.158.56.212","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"07642645-b067-4094-8f5b-6e1838cbc342","reverse":"51-158-56-212.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":["kapsule","cluster=e60e53f3-1034-4c6e-bdb6-401ee36d59d3","managed-by-scaleway-cloud-controller-manager"],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-12-14T08:58:25.986081Z","updated_at":"2022-12-14T08:58:27.170644Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e60e53f3-1034-4c6e-bdb6-401ee36d59d3?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"e60e53f3-1034-4c6e-bdb6-401ee36d59d3","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2022-12-14T08:57:11.411989Z","updated_at":"2022-12-14T08:58:31.217755807Z","type":"kapsu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e60e53f3-1034-4c6e-bdb6-401ee36d59d3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"e60e53f3-1034-4c6e-bdb6-401ee36d59d3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/07642645-b067-4094-8f5b-6e1838cbc342?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
