---
version: 1
interactions:
- request:
    body: '{"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-test","description":"cli-test","ip_id":null,"tags":null,"type":"","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs
    method: POST
  response:
    body: '{"id":"6adae80d-99e8-43eb-a617-8bee6ae4230e","name":"cli-test","description":"cli-test","status":"pending","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"50d49130-2d74-47b8-ab6b-1b360e49723a","ip_address":"51.159.75.242","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"6adae80d-99e8-43eb-a617-8bee6ae4230e","reverse":"51-159-75-242.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/6adae80d-99e8-43eb-a617-8bee6ae4230e
    method: GET
  response:
    body: '{"id":"6adae80d-99e8-43eb-a617-8bee6ae4230e","name":"cli-test","description":"cli-test","status":"pending","instances":[{"id":"d4c14bc5-260e-448f-b519-0e8e84ab98c8","status":"unknown","ip_address":"10.65.58.143","region":"fr-par"},{"id":"48302bd0-fcfb-4801-a63a-3e566d5eb9b9","status":"unknown","ip_address":"10.69.20.143","region":"fr-par"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"50d49130-2d74-47b8-ab6b-1b360e49723a","ip_address":"51.159.75.242","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"6adae80d-99e8-43eb-a617-8bee6ae4230e","reverse":"51-159-75-242.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/6adae80d-99e8-43eb-a617-8bee6ae4230e?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
