---
version: 1
interactions:
- request:
    body: '{"id":"d9a1d724-4c40-4e6d-88e2-52ae393bb8da","name":"cli-test","description":"cli-test","status":"to_create","instances":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"7df6fb3b-22af-4752-b24a-67dbb27c0c33","ip_address":"51.159.113.70","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"d9a1d724-4c40-4e6d-88e2-52ae393bb8da","reverse":"51-159-113-70.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2024-04-11T06:52:02.591490348Z","updated_at":"2024-04-11T06:52:02.591490348Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"d9a1d724-4c40-4e6d-88e2-52ae393bb8da","name":"cli-test","description":"cli-test","status":"to_create","instances":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"7df6fb3b-22af-4752-b24a-67dbb27c0c33","ip_address":"51.159.113.70","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"d9a1d724-4c40-4e6d-88e2-52ae393bb8da","reverse":"51-159-113-70.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2024-04-11T06:52:02.591490348Z","updated_at":"2024-04-11T06:52:02.591490348Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"d9a1d724-4c40-4e6d-88e2-52ae393bb8da","name":"cli-test","description":"cli-test","status":"creating","instances":[{"id":"3033d9ab-0107-45ab-a344-c155ad5d5cce","status":"unknown","ip_address":"","created_at":"2024-04-11T06:47:31.263352Z","updated_at":"2024-04-11T06:52:02.928716Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"7df6fb3b-22af-4752-b24a-67dbb27[...]
[...]
- request:
    body: '{"id":"3760547c-eec8-4d90-af36-a898748a92c1","ip_address":"2001:bc8:710:5a::","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":null,"reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.a.5.0.0.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"3760547c-eec8-4d90-af36-a898748a92c1","ip_address":"2001:bc8:710:5a::","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":null,"reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.a.5.0.0.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"3760547c-eec8-4d90-af36-a898748a92c1","ip_address":"2001:bc8:710:5a::","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"d9a1d724-4c40-4e6d-88e2-52ae393bb8da","reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.a.5.0.0.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/3760547c-eec8-4d90-af36-a898748a92c1
    method: PATCH
  response:
    body: '{"id":"3760547c-eec8-4d90-af36-a898748a92c1","ip_address":"2001:bc8:710:5a::","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"d9a1d724-4c40-4e6d-88e2-52ae393bb8da","reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.a.5.0.0.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d9a1d724-4c40-4e6d-88e2-52ae393bb8da?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
