---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","is_ipv6":true,"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"7dec7ce9-b9bf-4ca6-9f0e-3b10885bec43","ip_address":"2001:bc8:710:136a::","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","lb_id":null,"reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.a.6.3.1.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud","tags":[],"region":"fr-par","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 743.376453ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-test","description":"cli-test","assign_flexible_ip":true,"assign_flexible_ipv6":false,"ip_ids":null,"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"id":"fa168cf1-ab05-4880-8839-85bedb69c12c","name":"cli-test","description":"cli-test","status":"to_create","instances":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","ip":[{"id":"03d6bd8f-54f1-4625-9aee-cd9d2ce121b9","ip_address":"195.154.69.126","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","lb_id":"fa168cf1-ab05-4880-8839-85bedb69c12c","reverse":"195-154-69-126.lb.fr-par.scw.cloud","tags":[],"region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2026-09-24T12:30:34.791493961Z","updated_at":"2026-09-24T12:30:34.791493961Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 144.468182ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fa168cf1-ab05-4880-8839-85bedb69c12c
        method: GET
      response:
        body: '{"id":"fa168cf1-ab05-4880-8839-85bedb69c12c","name":"cli-test","description":"cli-test","status":"creating","instances":[{"id":"e2e60f20-fd72-45ae-9d01-95596135b586","status":"unknown","ip_address":"","created_at":"2026-09-24T12:16:40.281355Z","updated_at":"2026-09-24T12:30[...]
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"lb_id":"fa168cf1-ab05-4880-8839-85bedb69c12c"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/7dec7ce9-b9bf-4ca6-9f0e-3b10885bec43
        method: PATCH
      response:
        body: '{"id":"7dec7ce9-b9bf-4ca6-9f0e-3b10885bec43","ip_address":"2001:bc8:710:136a::","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","lb_id":"fa168cf1-ab05-4880-8839-85bedb69c12c","reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.a.6.3.1.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud","tags":[],"region":"fr-par","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.052152116s
[...]
    - id: 9
      request:
        host: api.scaleway.com
        form:
            release_ip:
                - "false"
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fa168cf1-ab05-4880-8839-85bedb69c12c?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 123.779775ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fa168cf1-ab05-4880-8839-85bedb69c12c
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 22.89507ms
