---
version: 1
interactions:
- request:
    body: '{"id":"7a0c3a08-e13a-46f8-b0a2-1423625bb0ef", "name":"cli-test", "description":"cli-test",
      "status":"to_create", "instances":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "ip":[{"id":"10f0e543-9cf1-4fcc-b939-c9ec675c01db",
      "ip_address":"51.159.25.215", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "lb_id":"7a0c3a08-e13a-46f8-b0a2-1423625bb0ef",
      "reverse":"51-159-25-215.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par",
      "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s",
      "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate",
      "created_at":"2025-01-08T14:19:12.409641920Z", "updated_at":"2025-01-08T14:19:12.409641920Z",
      "private_network_count":0, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"7a0c3a08-e13a-46f8-b0a2-1423625bb0ef", "name":"cli-test", "description":"cli-test",
      "status":"to_create", "instances":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "ip":[{"id":"10f0e543-9cf1-4fcc-b939-c9ec675c01db",
      "ip_address":"51.159.25.215", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "lb_id":"7a0c3a08-e13a-46f8-b0a2-1423625bb0ef",
      "reverse":"51-159-25-215.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par",
      "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s",
      "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate",
      "created_at":"2025-01-08T14:19:12.409641920Z", "updated_at":"2025-01-08T14:19:12.409641920Z",
      "private_network_count":0, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"7a0c3a08-e13a-46f8-b0a2-1423625bb0ef", "name":"cli-test", "description":"cli-test",
      "status":"to_create", "instances":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "ip":[{"id":"10f0e543-9cf1-4fcc-b939-c9ec675c01db",
      "ip_address":"51.159.25.215", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "lb_id":"7a0c3a08-e13[...]
[...]
- request:
    body: '{"id":"f6dd3849-441c-4dae-988a-93a673ad72d7", "name":"cli-pn-youthful-wozniak",
      "tags":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "created_at":"2025-01-08T14:19:16.840813Z",
      "updated_at":"2025-01-08T14:19:16.840813Z", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "subnets":[{"id":"820eac9d-40f3-46af-b928-7259262f01af", "created_at":"2025-01-08T14:19:16.840813Z",
      "updated_at":"2025-01-08T14:19:16.840813Z", "subnet":"172.16.80.0/22", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "private_network_id":"f6dd3849-441c-4dae-988a-93a673ad72d7", "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},
      {"id":"d71169bd-2655-48a0-8271-1dbb0708b52e", "created_at":"2025-01-08T14:19:16.840813Z",
      "updated_at":"2025-01-08T14:19:16.840813Z", "subnet":"fd46:78ab:30b8:f5c2::/64",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "private_network_id":"f6dd3849-441c-4dae-988a-93a673ad72d7",
      "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}], "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"f6dd3849-441c-4dae-988a-93a673ad72d7", "name":"cli-pn-youthful-wozniak",
      "tags":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "created_at":"2025-01-08T14:19:16.840813Z",
      "updated_at":"2025-01-08T14:19:16.840813Z", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "subnets":[{"id":"820eac9d-40f3-46af-b928-7259262f01af", "created_at":"2025-01-08T14:19:16.840813Z",
      "updated_at":"2025-01-08T14:19:16.840813Z", "subnet":"172.16.80.0/22", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "private_network_id":"f6dd3849-441c-4dae-988a-93a673ad72d7", "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},
      {"id":"d71169bd-2655-48a0-8271-1dbb0708b52e", "created_at":"2025-01-08T14:19:16.840813Z",
      "updated_at":"2025-01-08T14:19:16.840813Z", "subnet":"fd46:78ab:30b8:f5c2::/64",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "private_network_id":"f6dd3849-441c-4dae-988a-93a673ad72d7",
      "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}], "vpc_id":"086a5171-f7ab-4667-a231-840a81203f19",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"lb":{"id":"7a0c3a08-e13a-46f8-b0a2-1423625bb0ef", "name":"cli-test",
      "description":"cli-test", "status":"ready", "instances":[{"id":"58eb3094-b4cb-47a7-ad60-e1742f532500",
      "status":"ready", "ip_address":"", "created_at":"2025-01-08T13:32:27.687819Z",
      "updated_at":"2025-01-08T14:19:14.472114Z", "region":"fr-par", "zone":"fr-par-1"}],
      "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "ip":[{"id":"10f0e543-9cf1-4fcc-b939-c9ec675c01db", "ip_address":"51.159.25.215",
      "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "lb_id":"7a0c3a08-e13a-46f8-b0a2-1423625bb0ef", "reverse":"51-159-25-215.lb.fr-par.scw.cloud",
      "tags":[], "region":"fr-par", "zone":"fr-par-1"}], "tags":[], "frontend_count":0,
      "backend_count":0, "type":"lb-s", "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate",
      "created_at":"2025-01-08T14:19:12.409642Z", "updated_at":"2025-01-08T14:19:15.678404Z",
      "private_network_count":1, "route_count":0, "region":"fr-par", "zone":"fr-par-1"},
      "private_network_id":"f6dd3849-441c-4dae-988a-93a673ad72d7", "status":"pending",
      "created_at":"2025-01-08T14:19:17.641852987Z", "updated_at":"2025-01-08T14:19:17.641852987Z",
      "dhcp_config":{"ip_id":null}, "ipam_ids":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7a0c3a08-e13a-46f8-b0a2-1423625bb0ef/attach-private-network
    method: POST
  response:
    body: '{"lb":{"id":"7a0c3a08-e13a-46f8-b0a2-1423625bb0ef", "name":"cli-test",
      "description":"cli-test", "status":"ready", "instances":[{"id":"58eb3094-b4cb-47a7-ad60-e1742f532500",
      "status":"ready", "ip_address":"", "created_at":"2025-01-08T13:32:27.687819Z",
[...]
- request:
    body: '{"private_network":[{"lb":{"id":"7a0c3a08-e13a-46f8-b0a2-1423625bb0ef",
      "name":"cli-test", "description":"cli-test", "status":"ready", "instances":[],
      "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "ip":[{"id":"10f0e543-9cf1-4fcc-b939-c9ec675c01db", "ip_address":"51.159.25.215",
      "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "lb_id":"7a0c3a08-e13a-46f8-b0a2-1423625bb0ef", "reverse":"51-159-25-215.lb.fr-par.scw.cloud",
      "tags":[], "region":"fr-par", "zone":"fr-par-1"}], "tags":[], "frontend_count":0,
      "backend_count":0, "type":"lb-s", "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate",
      "created_at":"2025-01-08T14:19:12.409642Z", "updated_at":"2025-01-08T14:19:15.678404Z",
      "private_network_count":1, "route_count":0, "region":"fr-par", "zone":"fr-par-1"},
      "private_network_id":"f6dd3849-441c-4dae-988a-93a673ad72d7", "status":"pending",
      "created_at":"2025-01-08T14:19:17.641853Z", "updated_at":"2025-01-08T14:19:17.641853Z",
      "dhcp_config":{"ip_id":null}, "ipam_ids":[]}], "total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7a0c3a08-e13a-46f8-b0a2-1423625bb0ef/private-networks?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"7a0c3a08-e13a-46f8-b0a2-1423625bb0ef",
      "name":"cli-test", "description":"cli-test", "status":"ready", "instances":[],
      "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "ip":[{[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7a0c3a08-e13a-46f8-b0a2-1423625bb0ef/detach-private-network
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7a0c3a08-e13a-46f8-b0a2-1423625bb0ef?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"message":"lbs not Found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7a0c3a08-e13a-46f8-b0a2-1423625bb0ef
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f6dd3849-441c-4dae-988a-93a673ad72d7
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/10f0e543-9cf1-4fcc-b939-c9ec675c01db
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
