---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"23884036-80d9-4cc4-9e94-275610daa04a", "name":"cli-test", "description":"cli-test", "status":"to_create", "instances":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "ip":[{"id":"ed41b46a-0120-4740-9224-c2ac389885be", "ip_address":"163.172.171.180", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "lb_id":"23884036-80d9-4cc4-9e94-275610daa04a", "reverse":"163-172-171-180.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2025-07-22T15:57:45.156220694Z", "updated_at":"2025-07-22T15:57:45.156220694Z", "private_network_count":0, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"id":"23884036-80d9-4cc4-9e94-275610daa04a", "name":"cli-test", "description":"cli-test", "status":"to_create", "instances":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "ip":[{"id":"ed41b46a-0120-4740-9224-c2ac389885be", "ip_address":"163.172.171.180", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "lb_id":"23884036-80d9-4cc4-9e94-275610daa04a", "reverse":"163-172-171-180.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2025-07-22T15:57:45.156220694Z", "updated_at":"2025-07-22T15:57:45.156220694Z", "private_network_count":0, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 308.126741ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"23884036-80d9-4cc4-9e94-275610daa04a", "name":"cli-test", "description":"cli-test", "status":"to_create", "instances":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "ip":[{"id":"ed41b46a-0120-4740-9224-c2ac389885be", "ip_address":"163.172.171.180", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b7[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/23884036-80d9-4cc4-9e94-275610daa04a?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 272.60538ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"message":"lbs not Found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/23884036-80d9-4cc4-9e94-275610daa04a
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.477687ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/ed41b46a-0120-4740-9224-c2ac389885be
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 332.762417ms
