---
version: 2
interactions:
- request:
    body: '{"id":"cebb00bd-39b5-436b-84cd-bcb3b13eacbd", "name":"cli-test", "description":"cli-test",
      "status":"to_create", "instances":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "ip":[{"id":"11e22061-70e5-4f39-916a-1e298215d899",
      "ip_address":"195.154.71.18", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "lb_id":"cebb00bd-39b5-436b-84cd-bcb3b13eacbd",
      "reverse":"195-154-71-18.lb.fr-par.scw.cloud", "region":"fr-par", "zone":"fr-par-1"}],
      "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null,
      "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2023-07-06T12:47:43.704696967Z",
      "updated_at":"2023-07-06T12:47:43.704696967Z", "private_network_count":0, "route_count":0,
      "region":"fr-par", "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"cebb00bd-39b5-436b-84cd-bcb3b13eacbd", "name":"cli-test", "description":"cli-test",
      "status":"to_create", "instances":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "ip":[{"id":"11e22061-70e5-4f39-916a-1e298215d899",
      "ip_address":"195.154.71.18", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "lb_id":"cebb00bd-39b5-436b-84cd-bcb3b13eacbd",
      "reverse":"195-154-71-18.lb.fr-par.scw.cloud", "region":"fr-par", "zone":"fr-par-1"}],
      "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null,
      "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2023-07-06T12:47:43.704696967Z",
      "updated_at":"2023-07-06T12:47:43.704696967Z", "private_network_count":0, "route_count":0,
      "region":"fr-par", "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"id":"cebb00bd-39b5-436b-84cd-bcb3b13eacbd", "name":"cli-test", "description":"cli-test",
      "status":"to_create", "instances":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "ip":[{"id":"11e22061-70e5-4f39-916a-1e298215d899",
      "ip_address":"195.154.71.18", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "lb_id":"cebb00bd-39b[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/cebb00bd-39b5-436b-84cd-bcb3b13eacbd?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
[...]
