---
version: 1
interactions:
- request:
    body: '{"id":"57c0ad68-037a-4e52-bbaf-d422d4d943fd", "name":"foobar", "description":"foobar",
      "status":"to_create", "instances":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "ip":[{"id":"8bfc3757-bbae-4b52-9325-d4acde51c110",
      "ip_address":"195.154.197.213", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "lb_id":"57c0ad68-037a-4e52-bbaf-d422d4d943fd",
      "reverse":"195-154-197-213.lb.fr-par.scw.cloud", "region":"fr-par", "zone":"fr-par-1"}],
      "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null,
      "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2023-07-06T12:46:56.668336212Z",
      "updated_at":"2023-07-06T12:46:56.668336212Z", "private_network_count":0, "route_count":0,
      "region":"fr-par", "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"57c0ad68-037a-4e52-bbaf-d422d4d943fd", "name":"foobar", "description":"foobar",
      "status":"to_create", "instances":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "ip":[{"id":"8bfc3757-bbae-4b52-9325-d4acde51c110",
      "ip_address":"195.154.197.213", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "lb_id":"57c0ad68-037a-4e52-bbaf-d422d4d943fd",
      "reverse":"195-154-197-213.lb.fr-par.scw.cloud", "region":"fr-par", "zone":"fr-par-1"}],
      "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null,
      "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2023-07-06T12:46:56.668336212Z",
      "updated_at":"2023-07-06T12:46:56.668336212Z", "private_network_count":0, "route_count":0,
      "region":"fr-par", "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"57c0ad68-037a-4e52-bbaf-d422d4d943fd", "name":"foobar", "description":"foobar",
      "status":"creating", "instances":[{"id":"2b506a8b-657f-486e-9bc6-21b93e595200",
      "status":"unknown", "ip_address":"10.65.72.21", "created_at":"2023-07-06T09:33:43.319671Z",
      "updated_at":"2023-07-06T12:46:56.913312Z", "region":"fr-par", "zone":"fr-par-1"}],
      "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/57c0ad68-037a-4e52-bbaf-d422d4d943fd?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
