---
version: 1
interactions:
- request:
    body: '{"id":"826bed62-5072-43d2-817b-348dff5fb1a2", "name":"cli-test", "description":"cli-test",
      "status":"to_create", "instances":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "ip":[{"id":"bbaa0f77-f9c0-4d5c-8d74-a54817f42faa",
      "ip_address":"51.159.10.141", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "lb_id":"826bed62-5072-43d2-817b-348dff5fb1a2",
      "reverse":"51-159-10-141.lb.fr-par.scw.cloud", "region":"fr-par", "zone":"fr-par-1"}],
      "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null,
      "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2023-07-06T12:48:35.648253207Z",
      "updated_at":"2023-07-06T12:48:35.648253207Z", "private_network_count":0, "route_count":0,
      "region":"fr-par", "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"826bed62-5072-43d2-817b-348dff5fb1a2", "name":"cli-test", "description":"cli-test",
      "status":"to_create", "instances":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "ip":[{"id":"bbaa0f77-f9c0-4d5c-8d74-a54817f42faa",
      "ip_address":"51.159.10.141", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "lb_id":"826bed62-5072-43d2-817b-348dff5fb1a2",
      "reverse":"51-159-10-141.lb.fr-par.scw.cloud", "region":"fr-par", "zone":"fr-par-1"}],
      "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null,
      "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2023-07-06T12:48:35.648253207Z",
      "updated_at":"2023-07-06T12:48:35.648253207Z", "private_network_count":0, "route_count":0,
      "region":"fr-par", "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"826bed62-5072-43d2-817b-348dff5fb1a2", "name":"cli-test", "description":"cli-test",
      "status":"to_create", "instances":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "ip":[{"id":"bbaa0f77-f9c0-4d5c-8d74-a54817f42faa",
      "ip_address":"51.159.10.141", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "lb_id":"826bed62-507[...]
[...]
- request:
    body: '{"images": [{"id": "0d3a22da-c634-45d6-a7dd-aff402f88b0c", "name": "AlmaLinux
      8", "label": "almalinux_8", "logo": "https://scw-marketplace-logos.s3.fr-par.scw.cloud/almalinux.png",
      "description": "AlmaLinux OS is an Open Source and forever-free enterprise Linux
      distribution, governed and driven by the community, focused on long-term stability
      and a robust production-grade platform", "organization": {"id": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "name": "Instances User Resources Build System"}, "versions": [{"id": "27ba4914-61c5-454c-b0ec-72c01fa12c2e",
      "name": "2023-06-29T09:17:23.982691+00:00", "local_images": [{"id": "50ad9f02-586c-4ce6-aae5-c2ae4e687021",
      "zone": "pl-waw-2", "arch": "x86_64", "compatible_commercial_types": ["DEV1-L",
      "DEV1-M", "DEV1-S", "DEV1-XL", "GP1-L", "GP1-M", "GP1-S", "GP1-XL", "GP1-XS",
      "START1-L", "START1-M", "START1-S", "START1-XS", "VC1L", "VC1M", "VC1S", "X64-120GB",
      "X64-15GB", "X64-30GB", "X64-60GB", "ENT1-XXS", "ENT1-XS", "ENT1-S", "ENT1-M",
      "ENT1-L", "ENT1-XL", "ENT1-2XL", "PRO2-XXS", "PRO2-XS", "PRO2-S", "PRO2-M",
      "PRO2-L", "PLAY2-MICRO", "PLAY2-NANO", "PLAY2-PICO", "POP2-2C-8G", "POP2-4C-16G",
      "POP2-8C-32G", "POP2-16C-64G", "POP2-32C-128G", "PO[...]
- request:
    body: '{"image": {"id": "aef2a64e-d6d8-4b39-b00d-61ce2ddce2c8", "name": "Ubuntu
      20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "3cd60412-e478-4f16-ad7c-8290c6e1e8c8",
      "name": "Ubuntu 20.04 Focal Fossa", "volume_type": "unified", "size": 10000000000},
      "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2023-06-28T12:44:51.423515+00:00",
      "modification_date": "2023-06-28T12:44:51.423515+00:00", "default_bootscript":
      null, "from_server": null, "state": "available", "tags": [], "zone": "fr-par-1"}}'
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/aef2a64e-d6d8-4b39-b00d-61ce2ddce2c8
    method: GET
  response:
    body: '{"image": {"id": "aef2a64e-d6d8-4b39-b00d-61ce2ddce2c8", "name": "Ubuntu
      20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "3cd60412-e478-4f16-ad7c-8290c6e1e8c8",
      "name": "Ubuntu 20.04 Focal Fossa", "volume_type": "unified", "size": 10000000000},
      "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2023-06-28T12:44:51.423515+00:00",
      "modification_date": "2023-06-28T12:44:51.423515+00:00", "default_bootscript":
      null, "from_server": null, "state": "available", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"servers": {"DEV1-L": {"alt_names": [], "arch": "x86_64", "ncpus": 4,
      "ram": 8589934592, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 80000000000}, "per_volume_constraint": {"l_ssd": {"min_size":
      1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price":
      36.1496, "hourly_price": 0.04952, "capabilities": {"boot_types": ["bootscript",
      "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth":
      400000000, "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 400000000}]}}, "DEV1-M":
      {"alt_names": [], "arch": "x86_64", "ncpus": 3, "ram": 4294967296, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 40000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "baremetal": false, "monthly_price": 18.6588, "hourly_price": 0.02556, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      300000000, "sum_internet_bandwidth": 300000000, "interfaces": [{"internal_bandwidth":
      300000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      300000000}]}}, "DEV1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram":
      2147483648, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 20000000000}, "per_volume_constraint": {"l_ssd": {"min_size":
      1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price":
      9.9864, "hourly_price": 0.01368, "capabilities": {"boot_types": ["bootscript",
      "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 200000000, "sum_internet_bandwidth":
      200000000, "interfaces": [{"internal_bandwidth": 200000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 200000000}]}}, "DEV1-XL":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 12884901888, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 120000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "baremetal": false, "monthly_price": 53.3484, "hourly_price": 0.07308, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      500000000, "sum_internet_bandwidth": 500000000, "interfaces": [{"internal_bandwidth":
      500000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      500000000}]}}, "ENT1-2XL": {"alt_names": [], "arch": "x86_64", "ncpus": 96,
      "ram": 412316860416, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "baremetal": false, "monthly_price": 2576.9, "hourly_price": 3.53, "capabilities":
      {"boot_types": ["rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      false, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 20000000000, "sum_internet_bandwidth":
      20000000000, "interfaces": [{"internal_bandwidth": 20000000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 20000000000}]}}, "ENT1-L":
      {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram": 137438953472, "gpu":
      0, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0},
      "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal":
      false, "monthly_price": 861.4, "hourly_price": 1.18, "capabilities": {"boot_types":
      ["rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      false, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 6400000000, "sum_internet_bandwidth":
      6400000000, "interfaces": [{"internal_bandwidth": 6400000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 6400000000}]}}, "ENT1-M":
      {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 68719476736, "gpu":
      0, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0},
      "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal":
      false, "monthly_price": 430.7, "hourly_price": 0.59, "capabilities": {"boot_types":
      ["rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      false, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 3200000000, "sum_internet_bandwidth":
      3200000000, "interfaces": [{"internal_bandwidth": 3200000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 3200000000}]}}, "ENT1-S":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      211.7, "hourly_price": 0.29, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 1600000000, "sum_internet_bandwidth": 1600000000,
      "interfaces": [{"internal_bandwidth": 1600000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 1600000000}]}}, "ENT1-XL":
      {"alt_names": [], "arch": "x86_64", "ncpus": 64, "ram": 274877906944, "gpu":
      0, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0},
      "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal":
      false, "monthly_price": 1715.5, "hourly_price": 2.35, "capabilities": {"boot_types":
      ["rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      false, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 12800000000, "sum_internet_bandwidth":
      12800000000, "interfaces": [{"internal_bandwidth": 12800000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 12800000000}]}}, "ENT1-XS":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 17179869184, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      107.31, "hourly_price": 0.147, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 800000000, "sum_internet_bandwidth": 800000000,
      "interfaces": [{"internal_bandwidth": 800000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 800000000}]}}, "ENT1-XXS":
      {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 8589934592, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      53.655, "hourly_price": 0.0735, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth": 400000000,
      "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 400000000}]}}, "GP1-L": {"alt_names":
      [], "arch": "x86_64", "ncpus": 32, "ram": 137438953472, "gpu": 0, "mig_profile":
      null, "volumes_constraint": {"min_size": 0, "max_size": 600000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 576.262, "hourly_price": 0.7894, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 5000000000, "sum_internet_bandwidth":
      5000000000, "interfaces": [{"internal_bandwidth": 5000000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 5000000000}]}}, "GP1-M":
      {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 68719476736, "gpu":
      0, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 600000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "baremetal": false, "monthly_price": 296.672, "hourly_price": 0.4064, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      1500000000, "sum_internet_bandwidth": 1500000000, "interfaces": [{"internal_bandwidth":
      1500000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      1500000000}]}}, "GP1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram":
      34359738368, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 300000000000}, "per_volume_constraint": {"l_ssd": {"min_size":
      1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price":
      149.066, "hourly_price": 0.2042, "capabilities": {"boot_types": ["bootscript",
      "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 800000000, "sum_internet_bandwidth":
      800000000, "interfaces": [{"internal_bandwidth": 800000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 800000000}]}}, "GP1-VIZ":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 300000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "baremetal": false, "monthly_price": 72.0, "hourly_price": 0.1, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      500000000, "sum_internet_bandwidth": 500000000, "interfaces": [{"internal_bandwidth":
      500000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      500000000}]}}, "GP1-XL": {"alt_names": [], "arch": "x86_64", "ncpus": 48, "ram":
      274877906944, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 600000000000}, "per_volume_constraint": {"l_ssd": {"min_size":
      1000000000, "max_size": 800000000000}}, "baremetal": false, "monthly_price":
      1220.122, "hourly_price": 1.6714, "capabilities": {"boot_types": ["bootscript",
      "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 10000000000, "sum_internet_bandwidth":
      10000000000, "interfaces": [{"internal_bandwidth": 10000000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 10000000000}]}}, "GP1-XS":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 17179869184, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 150000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "baremetal": false, "monthly_price": 74.168, "hourly_price": 0.1016, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      500000000, "sum_internet_bandwidth": 500000000, "interfaces": [{"internal_bandwidth":
      500000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      500000000}]}}, "PLAY2-MICRO": {"alt_names": [], "arch": "x86_64", "ncpus": 4,
      "ram": 8589934592, "gpu": 0, "mig_profile": null, "volumes_constraint": {"min_size":
      0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size":
      0}}, "baremetal": false, "monthly_price": 39.42, "hourly_price": 0.054, "capabilities":
      {"boot_types": ["rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      false, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth":
      400000000, "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 400000000}]}}, "PLAY2-NANO":
      {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 4294967296, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      19.71, "hourly_price": 0.027, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 200000000, "sum_internet_bandwidth": 200000000,
      "interfaces": [{"internal_bandwidth": 200000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 200000000}]}}, "PLAY2-PICO":
      {"alt_names": [], "arch": "x86_64", "ncpus": 1, "ram": 2147483648, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      10.22, "hourly_price": 0.014, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 100000000, "sum_internet_bandwidth": 100000000,
      "interfaces": [{"internal_bandwidth": 100000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 100000000}]}}, "POP2-16C-64G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 68719476736, "gpu":
      0, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0},
      "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal":
      false, "monthly_price": 430.7, "hourly_price": 0.59, "capabilities": {"boot_types":
      ["rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      false, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 3200000000, "sum_internet_bandwidth":
      3200000000, "interfaces": [{"internal_bandwidth": 3200000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 3200000000}]}}, "POP2-2C-8G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 8589934592, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      53.66, "hourly_price": 0.0735, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth": 400000000,
      "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 400000000}]}}, "POP2-32C-128G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram": 137438953472, "gpu":
      0, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0},
      "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal":
      false, "monthly_price": 861.4, "hourly_price": 1.18, "capabilities": {"boot_types":
      ["rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      false, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 6400000000, "sum_internet_bandwidth":
      6400000000, "interfaces": [{"internal_bandwidth": 6400000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 6400000000}]}}, "POP2-4C-16G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 17179869184, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      107.31, "hourly_price": 0.147, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 800000000, "sum_internet_bandwidth": 800000000,
      "interfaces": [{"internal_bandwidth": 800000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 800000000}]}}, "POP2-64C-256G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 64, "ram": 274877906944, "gpu":
      0, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0},
      "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal":
      false, "monthly_price": 1715.5, "hourly_price": 2.35, "capabilities": {"boot_types":
      ["rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      false, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 12800000000, "sum_internet_bandwidth":
      12800000000, "interfaces": [{"internal_bandwidth": 12800000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 12800000000}]}}, "POP2-8C-32G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      211.7, "hourly_price": 0.29, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 1600000000, "sum_internet_bandwidth": 1600000000,
      "interfaces": [{"internal_bandwidth": 1600000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 1600000000}]}}, "POP2-HC-16C-32G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 34359738368, "gpu":
      0, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0},
      "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal":
      false, "monthly_price": 310.69, "hourly_price": 0.4256, "capabilities": {"boot_types":
      ["rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      false, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 3200000000, "sum_internet_bandwidth":
      3200000000, "interfaces": [{"internal_bandwidth": 3200000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 3200000000}]}}, "POP2-HC-2C-4G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 4294967296, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      38.84, "hourly_price": 0.0532, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth": 400000000,
      "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 400000000}]}}, "POP2-HC-32C-64G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram": 68719476736, "gpu":
      0, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0},
      "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal":
      false, "monthly_price": 621.38, "hourly_price": 0.8512, "capabilities": {"boot_types":
      ["rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      false, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 6400000000, "sum_internet_bandwidth":
      6400000000, "interfaces": [{"internal_bandwidth": 6400000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 6400000000}]}}, "POP2-HC-4C-8G":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 8589934592, "gpu": 0,
      "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      77.67, "hourly_price": 0.1064, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
[...]
