---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-test","description":"cli-test","assign_flexible_ip":true,"assign_flexible_ipv6":false,"ip_ids":null,"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"id":"cd1cfafd-3e93-455a-97ae-f367b74ce4d2","name":"cli-test","description":"cli-test","status":"to_create","instances":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","ip":[{"id":"03d6bd8f-54f1-4625-9aee-cd9d2ce121b9","ip_address":"195.154.69.126","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","lb_id":"cd1cfafd-3e93-455a-97ae-f367b74ce4d2","reverse":"195-154-69-126.lb.fr-par.scw.cloud","tags":[],"region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2026-09-24T12:30:28.585422660Z","updated_at":"2026-09-24T12:30:28.585422660Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 136.447876ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/cd1cfafd-3e93-455a-97ae-f367b74ce4d2
        method: GET
      response:
        body: '{"id":"cd1cfafd-3e93-455a-97ae-f367b74ce4d2","name":"cli-test","description":"cli-test","status":"creating","instances":[{"id":"8b075243-e1e5-49f8-af69-9298c80e63de","status":"unknown","ip_address":"","created_at":"2026-09-24T12:16:20.287289Z","updated_at":"2026-09-24T12:30[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","is_ipv6":true,"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"6ef68292-b300-4761-892d-3ac6ee557185","ip_address":"2001:bc8:711:49f2::","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","lb_id":null,"reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.2.f.9.4.1.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud","tags":[],"region":"fr-par","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 511.310413ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"lb_id":"cd1cfafd-3e93-455a-97ae-f367b74ce4d2"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/6ef68292-b300-4761-892d-3ac6ee557185
        method: PATCH
      response:
        body: '{"id":"6ef68292-b300-4761-892d-3ac6ee557185","ip_address":"2001:bc8:711:49f2::","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","lb_id":"cd1cfafd-3e93-455a-97ae-f367b74ce4d2","reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.2.f.9.4.1.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud","tags":[],"region":"fr-par","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 83.490423ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        form:
            release_ip:
                - "false"
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/cd1cfafd-3e93-455a-97ae-f367b74ce4d2?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 121.950267ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/cd1cfafd-3e93-455a-97ae-f367b74ce4d2
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 26.00991ms
[...]
