---
version: 1
interactions:
- request:
    body: '{"id":"abbd0516-349d-4e27-a4ed-f96ba6259f7d", "name":"cli-test", "description":"cli-test",
      "status":"to_create", "instances":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "ip":[{"id":"bf85ad58-3ffa-4d79-950d-57cd1a53e4f3",
      "ip_address":"195.154.71.202", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "lb_id":"abbd0516-349d-4e27-a4ed-f96ba6259f7d",
      "reverse":"195-154-71-202.lb.fr-par.scw.cloud", "region":"fr-par", "zone":"fr-par-1"}],
      "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null,
      "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2023-07-06T12:49:00.624246063Z",
      "updated_at":"2023-07-06T12:49:00.624246063Z", "private_network_count":0, "route_count":0,
      "region":"fr-par", "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"abbd0516-349d-4e27-a4ed-f96ba6259f7d", "name":"cli-test", "description":"cli-test",
      "status":"to_create", "instances":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "ip":[{"id":"bf85ad58-3ffa-4d79-950d-57cd1a53e4f3",
      "ip_address":"195.154.71.202", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "lb_id":"abbd0516-349d-4e27-a4ed-f96ba6259f7d",
      "reverse":"195-154-71-202.lb.fr-par.scw.cloud", "region":"fr-par", "zone":"fr-par-1"}],
      "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null,
      "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2023-07-06T12:49:00.624246063Z",
      "updated_at":"2023-07-06T12:49:00.624246063Z", "private_network_count":0, "route_count":0,
      "region":"fr-par", "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"abbd0516-349d-4e27-a4ed-f96ba6259f7d", "name":"cli-test", "description":"cli-test",
      "status":"to_create", "instances":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "ip":[{"id":"bf85ad58-3ffa-4d79-950d-57cd1a53e4f3",
      "ip_address":"195.154.71.202", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "lb_id":"abbd0516-34[...]
[...]
- request:
    body: '{"access_key":"SCWBDFF054RNNE8204AJ", "secret_key":null, "description":"my-key",
      "created_at":"2022-06-10T08:39:27.845066Z", "updated_at":"2022-07-05T15:12:12.987880Z",
      "expires_at":null, "default_project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "editable":true, "creation_ip":"51.159.46.153", "application_id":"531f5518-a0a5-44c2-b790-a9975505c89d"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: '{"access_key":"SCWBDFF054RNNE8204AJ", "secret_key":null, "description":"my-key",
      "created_at":"2022-06-10T08:39:27.845066Z", "updated_at":"2022-07-05T15:12:12.987880Z",
      "expires_at":null, "default_project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "editable":true, "creation_ip":"51.159.46.153", "application_id":"531f5518-a0a5-44c2-b790-a9975505c89d"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"09cc2fcc-89d0-455e-9e2a-ca9fb528d7ab", "type":"custom", "status":"ready",
      "common_name":"example.com", "subject_alternative_name":["www.example.com"],
      "fingerprint":"", "not_valid_before":"2022-11-14T16:09:11Z", "not_valid_after":"2023-11-14T16:09:11Z",
      "lb":{"id":"abbd0516-349d-4e27-a4ed-f96ba6259f7d", "name":"cli-test", "description":"cli-test",
      "status":"ready", "instances":[{"id":"f0db7c8b-be87-489e-8c1d-200aac84639e",
      "status":"ready", "ip_address":"10.68.44.31", "created_at":"2023-07-06T09:32:51.267565Z",
      "updated_at":"2023-07-06T12:49:02.044441Z", "region":"fr-par", "zone":"fr-par-1"}],
      "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "ip":[{"id":"bf85ad58-3ffa-4d79-950d-57cd1a53e4f3", "ip_address":"195.154.71.202",
      "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "lb_id":"abbd0516-349d-4e27-a4ed-f96ba6259f7d", "reverse":"195-154-71-202.lb.fr-par.scw.cloud",
      "region":"fr-par", "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0,
      "type":"lb-s", "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate",
      "created_at":"2023-07-06T12:49:00.624246Z", "updated_at":"2023-07-06T12:49:03.258677Z",
      "private_network_count":0, "route_count":0, "region":"fr-par", "zone":"fr-par-1"},
      "name":"cli-certificate-quizzical-chaplygin", "created_at":"2023-07-06T12:49:05.222553610Z",
      "updated_at":"2023-07-06T12:49:05.222553610Z", "status_details":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/abbd0516-349d-4e27-a4ed-f96ba6259f7d/certificates
    method: POST
  response:
    body: '{"id":"09cc2fcc-89d0-455e-9e2a-ca9fb528d7ab", "type":"custom", "status":"ready",
      "common_name":"example.com", "subject_alternative_name":["www.example.com"],
      "fingerprint":"", "not_valid_before":"2022-11-14T16:09:11Z", "not_valid_after":"2023-11-14T16:09:11Z",
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/abbd0516-349d-4e27-a4ed-f96ba6259f7d?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
