---
version: 1
interactions:
- request:
    body: '{"id":"5a14c2a1-c949-4336-bc7f-bbde7aa35abd", "ip_address":"2001:bc8:710:1bc::",
      "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "lb_id":null, "reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.c.b.1.0.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud",
      "tags":[], "region":"fr-par", "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"5a14c2a1-c949-4336-bc7f-bbde7aa35abd", "ip_address":"2001:bc8:710:1bc::",
      "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "lb_id":null, "reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.c.b.1.0.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud",
      "tags":[], "region":"fr-par", "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"c77bc49f-ec88-4f30-b491-2e8f183f3feb", "name":"cli-test", "description":"cli-test",
      "status":"to_create", "instances":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "ip":[{"id":"6996152a-3714-4597-bbb1-6344a16e86e4",
      "ip_address":"51.159.206.195", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "lb_id":"c77bc49f-ec88-4f30-b491-2e8f183f3feb",
      "reverse":"51-159-206-195.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par",
      "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s",
      "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate",
      "created_at":"2025-01-08T14:26:03.051125336Z", "updated_at":"2025-01-08T14:26:03.051125336Z",
      "private_network_count":0, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"c77bc49f-ec88-4f30-b491-2e8f183f3feb", "name":"cli-test", "description":"cli-test",
      "status":"to_create", "instances":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "ip":[{"id":"6996152a-3714-4597-bbb1-6344a16e86e4",
      "ip_address":"51.159.206.195", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "lb_id":"c77bc49f-ec88-4f30-b491-2e8f183f3feb",
      "reverse":"51-159-206-195.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par",
      "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s",
      "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate",
      "created_at":"2025-01-08T14:26:03.051125336Z", "updated_at":"2025-01-08T14:26:03.051125336Z",
      "private_network_count":0, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"c77bc49f-ec88-4f30-b491-2e8f183f3feb", "name":"cli-test", "description":"cli-test",
      "status":"to_create", "instances":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "ip":[{"id":"6996152a-3714-4597-bbb1-6344a16e86e4",
      "ip_address":"51.159.206.195", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "lb_id":"c77bc49f-ec[...]
[...]
- request:
    body: '{"id":"5a14c2a1-c949-4336-bc7f-bbde7aa35abd", "ip_address":"2001:bc8:710:1bc::",
      "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "lb_id":"c77bc49f-ec88-4f30-b491-2e8f183f3feb", "reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.c.b.1.0.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud",
      "tags":[], "region":"fr-par", "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/5a14c2a1-c949-4336-bc7f-bbde7aa35abd
    method: PATCH
  response:
    body: '{"id":"5a14c2a1-c949-4336-bc7f-bbde7aa35abd", "ip_address":"2001:bc8:710:1bc::",
      "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "lb_id":"c77bc49f-ec88-4f30-b491-2e8f183f3feb", "reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.c.b.1.0.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud",
      "tags":[], "region":"fr-par", "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c77bc49f-ec88-4f30-b491-2e8f183f3feb?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"message":"lbs not Found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c77bc49f-ec88-4f30-b491-2e8f183f3feb
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
