---
version: 1
interactions:
- request:
    body: '{"id":"7278bfe3-b9d5-4f0b-9ab3-542710405d73", "name":"cli-test", "description":"cli-test",
      "status":"to_create", "instances":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "ip":[{"id":"10f0e543-9cf1-4fcc-b939-c9ec675c01db",
      "ip_address":"51.159.25.215", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "lb_id":"7278bfe3-b9d5-4f0b-9ab3-542710405d73",
      "reverse":"51-159-25-215.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par",
      "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s",
      "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate",
      "created_at":"2025-01-08T14:20:44.535780826Z", "updated_at":"2025-01-08T14:20:44.535780826Z",
      "private_network_count":0, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"7278bfe3-b9d5-4f0b-9ab3-542710405d73", "name":"cli-test", "description":"cli-test",
      "status":"to_create", "instances":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "ip":[{"id":"10f0e543-9cf1-4fcc-b939-c9ec675c01db",
      "ip_address":"51.159.25.215", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "lb_id":"7278bfe3-b9d5-4f0b-9ab3-542710405d73",
      "reverse":"51-159-25-215.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par",
      "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s",
      "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate",
      "created_at":"2025-01-08T14:20:44.535780826Z", "updated_at":"2025-01-08T14:20:44.535780826Z",
      "private_network_count":0, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"7278bfe3-b9d5-4f0b-9ab3-542710405d73", "name":"cli-test", "description":"cli-test",
      "status":"to_create", "instances":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "ip":[{"id":"10f0e543-9cf1-4fcc-b939-c9ec675c01db",
      "ip_address":"51.159.25.215", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "lb_id":"7278bfe3-b9d[...]
[...]
- request:
    body: '{"access_key":"SCWBDFF054RNNE8204AJ", "secret_key":null, "description":"my-key",
      "created_at":"2022-06-10T08:39:27.845066Z", "updated_at":"2022-07-05T15:12:12.987880Z",
      "expires_at":null, "default_project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153",
      "application_id":"531f5518-a0a5-44c2-b790-a9975505c89d"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWBDFF054RNNE8204AJ
    method: GET
  response:
    body: '{"access_key":"SCWBDFF054RNNE8204AJ", "secret_key":null, "description":"my-key",
      "created_at":"2022-06-10T08:39:27.845066Z", "updated_at":"2022-07-05T15:12:12.987880Z",
      "expires_at":null, "default_project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153",
      "application_id":"531f5518-a0a5-44c2-b790-a9975505c89d"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"bafc4cef-76e7-48c4-9d1b-ec1cefdcbb89", "type":"custom", "status":"ready",
      "common_name":"example.com", "subject_alternative_name":["www.example.com"],
      "fingerprint":"", "not_valid_before":"2022-11-14T16:09:11Z", "not_valid_after":"2023-11-14T16:09:11Z",
      "lb":{"id":"7278bfe3-b9d5-4f0b-9ab3-542710405d73", "name":"cli-test", "description":"cli-test",
      "status":"ready", "instances":[{"id":"35ca02a8-6b7d-41d8-a62e-c7f82b8fb5bf",
      "status":"ready", "ip_address":"", "created_at":"2025-01-08T14:19:17.406490Z",
      "updated_at":"2025-01-08T14:20:46.606364Z", "region":"fr-par", "zone":"fr-par-1"}],
      "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "ip":[{"id":"10f0e543-9cf1-4fcc-b939-c9ec675c01db", "ip_address":"51.159.25.215",
      "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "lb_id":"7278bfe3-b9d5-4f0b-9ab3-542710405d73", "reverse":"51-159-25-215.lb.fr-par.scw.cloud",
      "tags":[], "region":"fr-par", "zone":"fr-par-1"}], "tags":[], "frontend_count":0,
      "backend_count":0, "type":"lb-s", "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate",
      "created_at":"2025-01-08T14:20:44.535781Z", "updated_at":"2025-01-08T14:20:47.934308Z",
      "private_network_count":0, "route_count":0, "region":"fr-par", "zone":"fr-par-1"},
      "name":"cli-certificate-cocky-noyce", "created_at":"2025-01-08T14:20:49.055405294Z",
      "updated_at":"2025-01-08T14:20:49.055405294Z", "status_details":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7278bfe3-b9d5-4f0b-9ab3-542710405d73/certificates
    method: POST
  response:
    body: '{"id":"bafc4cef-76e7-48c4-9d1b-ec1cefdcbb89", "type":"custom", "status":"ready",
      "common_name":"example.com", "subject_alternative_name":["www.example.com"],
      "fingerprint":"", "not_valid_before":"2022-11-14T16:09:11Z", "not_valid_after":"2023-11-14T16:09:11Z",
[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7278bfe3-b9d5-4f0b-9ab3-542710405d73?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"message":"lbs not Found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7278bfe3-b9d5-4f0b-9ab3-542710405d73
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/10f0e543-9cf1-4fcc-b939-c9ec675c01db
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
