---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"dbfbfc9f-06b0-41d8-ac86-ddb4880bcb78", "name":"cli-test", "description":"cli-test", "status":"to_create", "instances":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "ip":[{"id":"060e02c4-8678-43db-895c-ff52c902f305", "ip_address":"195.154.70.58", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "lb_id":"dbfbfc9f-06b0-41d8-ac86-ddb4880bcb78", "reverse":"195-154-70-58.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2025-08-07T09:51:17.229442963Z", "updated_at":"2025-08-07T09:51:17.229442963Z", "private_network_count":0, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"id":"dbfbfc9f-06b0-41d8-ac86-ddb4880bcb78", "name":"cli-test", "description":"cli-test", "status":"to_create", "instances":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "ip":[{"id":"060e02c4-8678-43db-895c-ff52c902f305", "ip_address":"195.154.70.58", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "lb_id":"dbfbfc9f-06b0-41d8-ac86-ddb4880bcb78", "reverse":"195-154-70-58.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2025-08-07T09:51:17.229442963Z", "updated_at":"2025-08-07T09:51:17.229442963Z", "private_network_count":0, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 485.761646ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"dbfbfc9f-06b0-41d8-ac86-ddb4880bcb78", "name":"cli-test", "description":"cli-test", "status":"to_create", "instances":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "ip":[{"id":"060e02c4-8678-43db-895c-ff52c902f305", "ip_address":"195.154.70.58", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"19a4819b-24bf-4d44-969f-935ef0061[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"id":"c9cd059b-54b4-4e3a-adaf-d52e12125628", "name":"cli-pn-recursing-agnesi", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-08-07T09:51:21.690762Z", "updated_at":"2025-08-07T09:51:21.690762Z", "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "subnets":[{"id":"bc6b0541-306a-4a61-b93c-6baefd164647", "created_at":"2025-08-07T09:51:21.690762Z", "updated_at":"2025-08-07T09:51:21.690762Z", "subnet":"172.16.0.0/22", "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "private_network_id":"c9cd059b-54b4-4e3a-adaf-d52e12125628", "vpc_id":"4ff9c241-8d59-4bc7-bf1a-97d5893f418c"}, {"id":"b78dfcec-8785-4876-99ed-ae221f1ea06f", "created_at":"2025-08-07T09:51:21.690762Z", "updated_at":"2025-08-07T09:51:21.690762Z", "subnet":"fd46:78ab:30b8:dc42::/64", "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "private_network_id":"c9cd059b-54b4-4e3a-adaf-d52e12125628", "vpc_id":"4ff9c241-8d59-4bc7-bf1a-97d5893f418c"}], "vpc_id":"4ff9c241-8d59-4bc7-bf1a-97d5893f418c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"c9cd059b-54b4-4e3a-adaf-d52e12125628", "name":"cli-pn-recursing-agnesi", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-08-07T09:51:21.690762Z", "updated_at":"2025-08-07T09:51:21.690762Z", "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "subnets":[{"id":"bc6b0541-306a-4a61-b93c-6baefd164647", "created_at":"2025-08-07T09:51:21.690762Z", "updated_at":"2025-08-07T09:51:21.690762Z", "subnet":"172.16.0.0/22", "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "private_network_id":"c9cd059b-54b4-4e3a-adaf-d52e12125628", "vpc_id":"4ff9c241-8d59-4bc7-bf1a-97d5893f418c"}, {"id":"b78dfcec-8785-4876-99ed-ae221f1ea06f", "created_at":"2025-08-07T09:51:21.690762Z", "updated_at":"2025-08-07T09:51:21.690762Z", "subnet":"fd46:78ab:30b8:dc42::/64", "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "private_network_id":"c9cd059b-54b4-4e3a-adaf-d52e12125628", "vpc_id":"4ff9c241-8d59-4bc7-bf1a-97d5893f418c"}], "vpc_id":"4ff9c241-8d59-4bc7-bf1a-97d5893f418c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 743.513207ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"id":"6e43b723-7b92-4e6a-9f31-3f63e8d7d112", "address":"172.16.0.2/22", "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "is_ipv6":false, "created_at":"2025-08-07T09:51:22.524819Z", "updated_at":"2025-08-07T09:51:22.524819Z", "source":{"subnet_id":"bc6b0541-306a-4a61-b93c-6baefd164647"}, "resource":null, "tags":[], "reverses":[], "region":"fr-par", "zone":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"id":"6e43b723-7b92-4e6a-9f31-3f63e8d7d112", "address":"172.16.0.2/22", "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "is_ipv6":false, "created_at":"2025-08-07T09:51:22.524819Z", "updated_at":"2025-08-07T09:51:22.524819Z", "source":{"subnet_id":"bc6b0541-306a-4a61-b93c-6baefd164647"}, "resource":null, "tags":[], "reverses":[], "region":"fr-par", "zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 175.640044ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"lb":{"id":"dbfbfc9f-06b0-41d8-ac86-ddb4880bcb78", "name":"cli-test", "description":"cli-test", "status":"ready", "instances":[{"id":"c44d8229-c7a4-40de-9961-4e03745d62bf", "status":"ready", "ip_address":"", "created_at":"2025-08-07T09:42:24.923231Z", "updated_at":"2025-08-07T09:51:19.684878Z", "region":"fr-par", "zone":"fr-par-1"}], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "ip":[{"id":"060e02c4-8678-43db-895c-ff52c902f305", "ip_address":"195.154.70.58", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "lb_id":"dbfbfc9f-06b0-41d8-ac86-ddb4880bcb78", "reverse":"195-154-70-58.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2025-08-07T09:51:17.229443Z", "updated_at":"2025-08-07T09:51:21.051044Z", "private_network_count":1, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}, "private_network_id":"c9cd059b-54b4-4e3a-adaf-d52e12125628", "status":"pending", "created_at":"2025-08-07T09:51:22.830826902Z", "updated_at":"2025-08-07T09:51:22.830826902Z", "dhcp_config":{"ip_id":"6e43b723-7b92-4e6a-9f31-3f63e8d7d112"}, "ipam_ids":["6e43b723-7b92-4e6a-9f31-3f63e8d7d112"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/dbfbfc9f-06b0-41d8-ac86-ddb4880bcb78/attach-private-network
        method: POST
      response:
        body: '{"lb":{"id":"dbfbfc9f-06b0-41d8-ac86-ddb4880bcb78", "name":"cli-test", "description":"cli-test", "status":"ready", "instances":[{"id":"c44d8229-c7a4-40de-9961-4e03745d62bf", "status":"rea[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"private_network":[{"lb":{"id":"dbfbfc9f-06b0-41d8-ac86-ddb4880bcb78", "name":"cli-test", "description":"cli-test", "status":"ready", "instances":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "ip":[{"id":"060e02c4-8678-43db-895c-ff52c902f305", "ip_address":"195.154.70.58", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "lb_id":"dbfbfc9f-06b0-41d8-ac86-ddb4880bcb78", "reverse":"195-154-70-58.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2025-08-07T09:51:17.229443Z", "updated_at":"2025-08-07T09:51:21.051044Z", "private_network_count":1, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}, "private_network_id":"c9cd059b-54b4-4e3a-adaf-d52e12125628", "status":"pending", "created_at":"2025-08-07T09:51:22.830827Z", "updated_at":"2025-08-07T09:51:22.830827Z", "dhcp_config":{"ip_id":"6e43b723-7b92-4e6a-9f31-3f63e8d7d112"}, "ipam_ids":["6e43b723-7b92-4e6a-9f31-3f63e8d7d112"]}], "total_count":1}'
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/dbfbfc9f-06b0-41d8-ac86-ddb4880bcb78/private-networks?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"private_network":[{"lb":{"id":"dbfbfc9f-06b0-41d8-ac86-ddb4880bcb78", "name":"cli-test", "description":"cli-test", "status":"ready", "instances":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/dbfbfc9f-06b0-41d8-ac86-ddb4880bcb78/detach-private-network
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 265.037374ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/dbfbfc9f-06b0-41d8-ac86-ddb4880bcb78?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 302.803912ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"message":"lbs not Found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/dbfbfc9f-06b0-41d8-ac86-ddb4880bcb78
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.950233ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/6e43b723-7b92-4e6a-9f31-3f63e8d7d112
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 177.529292ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c9cd059b-54b4-4e3a-adaf-d52e12125628
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.450585294s
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/060e02c4-8678-43db-895c-ff52c902f305
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 325.255215ms
