---
version: 1
interactions:
- request:
    body: '{"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"foobar","description":"foobar","ip_id":null,"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs
    method: POST
  response:
    body: '{"id":"df47ea4e-7585-42ce-bcbf-3b5f704f1ef4","name":"foobar","description":"foobar","status":"pending","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"733a3c45-f975-42ef-b4ca-28419312f932","ip_address":"195.154.68.106","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"df47ea4e-7585-42ce-bcbf-3b5f704f1ef4","reverse":"195-154-68-106.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/df47ea4e-7585-42ce-bcbf-3b5f704f1ef4
    method: GET
  response:
    body: '{"id":"df47ea4e-7585-42ce-bcbf-3b5f704f1ef4","name":"foobar","description":"foobar","status":"pending","instances":[{"id":"9d2d8441-8172-45e8-9d77-35f6432424c8","status":"unknown","ip_address":"10.68.206.111","region":"fr-par"},{"id":"e821e381-295d-4f45-8986-0f03953cd737","status":"unknown","ip_address":"10.70.38.9","region":"fr-par"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"733a3c45-f975-42ef-b4ca-28419312f932","ip_address":"195.154.68.106","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"df47ea4e-7585-42ce-bcbf-3b5f704f1ef4","reverse":"195-154-68-106.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/df47ea4e-7585-42ce-bcbf-3b5f704f1ef4?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
