---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-test","description":"cli-test","ip_id":null,"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs
    method: POST
  response:
    body: '{"id":"0931135e-6220-4546-b346-56d0195e863f","name":"cli-test","description":"cli-test","status":"pending","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"934bc09b-003e-476d-96a8-24aabeb7fa36","ip_address":"51.159.115.15","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"0931135e-6220-4546-b346-56d0195e863f","reverse":"51-159-115-15.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-04-07T12:01:51.557341150Z","updated_at":"2021-04-07T12:01:51.557341150Z","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/0931135e-6220-4546-b346-56d0195e863f
    method: GET
  response:
    body: '{"id":"0931135e-6220-4546-b346-56d0195e863f","name":"cli-test","description":"cli-test","status":"pending","instances":[{"id":"6302f128-9642-4b17-be31-885c16e7f095","status":"unknown","ip_address":"10.68.186.133","created_at":"2021-04-07T12:00:27.686504Z","updated_at":"2021-04-07T12:01:51.783037Z","region":"fr-par[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"lbs":[{"id":"9ba57bc3-8be9-4db6-8984-74ccd2ae83c8","name":"lb-lucid-johnson","description":"","status":"ready","instances":[{"id":"545b12e9-cef7-4ef3-9c07-09911764e2e9","status":"ready","ip_address":"10.68.186.61","created_at":"2021-03-08T17:07:40.485699Z","updated_at":"2021-03-08T17:11:02.840965Z","region":"fr-par","zone":"fr-par-1"},{"id":"59bf1f4b-c4a2-4dd0-bd3f-daa1c451483f","status":"ready","ip_address":"10.73.80.45","created_at":"2021-03-08T17:07:43.161367Z","updated_at":"2021-03-08T17:11:02.67[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/0931135e-6220-4546-b346-56d0195e863f?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
