---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"5486d355-a1c8-4bba-b40b-0c92e2ad86c8", "name":"cli-test", "description":"cli-test", "status":"to_create", "instances":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "ip":[{"id":"ed41b46a-0120-4740-9224-c2ac389885be", "ip_address":"163.172.171.180", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "lb_id":"5486d355-a1c8-4bba-b40b-0c92e2ad86c8", "reverse":"163-172-171-180.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2025-07-22T15:57:04.309590671Z", "updated_at":"2025-07-22T15:57:04.309590671Z", "private_network_count":0, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"id":"5486d355-a1c8-4bba-b40b-0c92e2ad86c8", "name":"cli-test", "description":"cli-test", "status":"to_create", "instances":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "ip":[{"id":"ed41b46a-0120-4740-9224-c2ac389885be", "ip_address":"163.172.171.180", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "lb_id":"5486d355-a1c8-4bba-b40b-0c92e2ad86c8", "reverse":"163-172-171-180.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2025-07-22T15:57:04.309590671Z", "updated_at":"2025-07-22T15:57:04.309590671Z", "private_network_count":0, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 294.41601ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"5486d355-a1c8-4bba-b40b-0c92e2ad86c8", "name":"cli-test", "description":"cli-test", "status":"to_create", "instances":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "ip":[{"id":"ed41b46a-0120-4740-9224-c2ac389885be", "ip_address":"163.172.171.180", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b7[...]
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"access_key":"SCWPB5A8ZHKGTSD2NHB0", "secret_key":null, "description":"Generated by the Scaleway CLI", "created_at":"2025-03-25T13:28:06.409480Z", "updated_at":"2025-03-25T13:28:06.409480Z", "expires_at":null, "default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9", "user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWPB5A8ZHKGTSD2NHB0
        method: GET
      response:
        body: '{"access_key":"SCWPB5A8ZHKGTSD2NHB0", "secret_key":null, "description":"Generated by the Scaleway CLI", "created_at":"2025-03-25T13:28:06.409480Z", "updated_at":"2025-03-25T13:28:06.409480Z", "expires_at":null, "default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9", "user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.637298ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"id":"7b0bd4a4-f3df-44ab-af04-8ebf82293efa", "type":"custom", "status":"ready", "common_name":"example.com", "subject_alternative_name":["www.example.com"], "fingerprint":"", "not_valid_before":"2022-11-14T16:09:11Z", "not_valid_after":"2023-11-14T16:09:11Z", "lb":{"id":"5486d355-a1c8-4bba-b40b-0c92e2ad86c8", "name":"cli-test", "description":"cli-test", "status":"ready", "instances":[{"id":"fc8e3b72-90e8-484f-8151-eb37755a2847", "status":"ready", "ip_address":"", "created_at":"2025-07-22T15:56:00.613416Z", "updated_at":"2025-07-22T15:57:06.909210Z", "region":"fr-par", "zone":"fr-par-1"}], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "ip":[{"id":"ed41b46a-0120-4740-9224-c2ac389885be", "ip_address":"163.172.171.180", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "lb_id":"5486d355-a1c8-4bba-b40b-0c92e2ad86c8", "reverse":"163-172-171-180.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2025-07-22T15:57:04.309591Z", "updated_at":"2025-07-22T15:57:08.855592Z", "private_network_count":0, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}, "name":"cli-certificate-funny-johnson", "created_at":"2025-07-22T15:57:10.961950999Z", "updated_at":"2025-07-22T15:57:10.961950999Z", "status_details":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5486d355-a1c8-4bba-b40b-0c92e2ad86c8/certificates
        method: POST
      response:
        body: '{"id":"7b0bd4a4-f3df-44ab-af04-8ebf82293efa", "type":"custom", "status":"ready", "common_name":"example.com", "subject_alternative_name":["www.example.com"], "fingerprint":"", "not_valid_before":"2022-11-14T16:09:11Z", "not_valid_aft[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5486d355-a1c8-4bba-b40b-0c92e2ad86c8?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 326.053241ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"message":"lbs not Found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5486d355-a1c8-4bba-b40b-0c92e2ad86c8
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.681023ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/ed41b46a-0120-4740-9224-c2ac389885be
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 308.961257ms
