---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-test","description":"cli-test","assign_flexible_ip":true,"assign_flexible_ipv6":false,"ip_ids":null,"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"id":"2b229b3b-e0f8-4bd7-bae3-1e5b42fb29b5", "name":"cli-test", "description":"cli-test", "status":"to_create", "instances":[], "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "ip":[{"id":"23b2be59-e196-48dd-aab7-3ac9c38ab056", "ip_address":"163.172.143.73", "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "lb_id":"2b229b3b-e0f8-4bd7-bae3-1e5b42fb29b5", "reverse":"163-172-143-73.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2026-10-07T16:50:36.491231682Z", "updated_at":"2026-10-07T16:50:36.491231682Z", "private_network_count":0, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 167.476701ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2b229b3b-e0f8-4bd7-bae3-1e5b42fb29b5
        method: GET
      response:
        body: '{"id":"2b229b3b-e0f8-4bd7-bae3-1e5b42fb29b5", "name":"cli-test", "description":"cli-test", "status":"creating", "instances":[{"id":"0abad3bb-100a-4e7b-a046-c05adbc07064", "status":"unknown", "ip_address":"", "created_at":"2026-10-07T16:45:01.737476Z", "updated_at":"2026-10-[...]
[...]
    - id: 3
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"lbs":[{"id":"3dff2d1b-ea2c-4540-a0b8-e703c05f16b3", "name":"cli-test", "description":"cli-test", "status":"ready", "instances":[{"id":"dcdbee7b-6e28-487b-aa06-410812ca87d9", "status":"ready", "ip_address":"", "created_at":"2026-10-07T16:40:01.798453Z", "updated_at":"2026-10-07T16:42:32.678623Z", "region":"fr-par", "zone":"fr-par-1"}], "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "ip":[{"id":"0e16b811-29d5-4a58-9661-a76c6ae34d22", "ip_a[...]
[...]
    - id: 5
      request:
        host: api.scaleway.com
        form:
            release_ip:
                - "false"
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2b229b3b-e0f8-4bd7-bae3-1e5b42fb29b5?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 140.322737ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2b229b3b-e0f8-4bd7-bae3-1e5b42fb29b5
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 40.263011ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/23b2be59-e196-48dd-aab7-3ac9c38ab056
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 116.793505ms
