---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-test","description":"cli-test","ip_id":null,"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"e5f0459b-60a6-40e9-a6c6-9c6066d9ecd1","name":"cli-test","description":"cli-test","status":"pending","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"ef015389-2f39-47bc-9e59-5c578381fe37","ip_address":"51.159.113.69","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"e5f0459b-60a6-40e9-a6c6-9c6066d9ecd1","reverse":"51-159-113-69.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-07-07T12:45:39.844587815Z","updated_at":"2021-07-07T12:45:39.844587815Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e5f0459b-60a6-40e9-a6c6-9c6066d9ecd1
    method: GET
  response:
    body: '{"id":"e5f0459b-60a6-40e9-a6c6-9c6066d9ecd1","name":"cli-test","description":"cli-test","status":"pending","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"ef015389-2f39-47bc-9e59-5c578381fe37","ip_address":"51.159.113.69","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"e5f0459b-60a6-40e9-a6c6-9c6066d9ecd1","reverse":"51-159-113-69.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-07-07T12:45:39.844588Z","updated_at":"2021-07-07T12:45:39.844588Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"lbs":[{"id":"e5f0459b-60a6-40e9-a6c6-9c6066d9ecd1","name":"cli-test","description":"cli-test","status":"ready","instances":[{"id":"8f197062-4435-4ea4-a7ba-8f3eebf6d3c9","status":"ready","ip_address":"10.70.146.95","created_at":"2021-07-06T13:53:52.855505Z","updated_at":"2021-07-07T12:45:40.590501Z","region":"fr-par","zone":"fr-par-1"},{"id":"b0226d8a-020e-4e36-95c4-f016e7418e7b","status":"ready","ip_address":"10.70.104.1","created_at":"2021-07-07T05:04:32.716188Z","updated_at":"2021-07-07T12:45:40.370056Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"ef015389-2f39-47bc-9e59-5c578381fe37","ip_address":"51.159.113.69","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"e5f0459b-60a6-40e9-a6c6-9c6066d9ecd1","reverse":"51-159-113-69.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-07-07T12:45:39.844588Z","updated_at":"2021-07-07T12:45:40.897801Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e5f0459b-60a6-40e9-a6c6-9c6066d9ecd1?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
