---
version: 1
interactions:
- request:
    body: '{"id":"e35470a7-86c9-49f4-a5b8-df15d27bbce5", "name":"cli-test", "description":"cli-test",
      "status":"to_create", "instances":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "ip":[{"id":"8d51a3cd-f7ad-41b8-98a8-8e7ba005a8a0",
      "ip_address":"195.154.196.180", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "lb_id":"e35470a7-86c9-49f4-a5b8-df15d27bbce5",
      "reverse":"195-154-196-180.lb.fr-par.scw.cloud", "region":"fr-par", "zone":"fr-par-1"}],
      "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null,
      "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2023-07-06T12:47:23.203956449Z",
      "updated_at":"2023-07-06T12:47:23.203956449Z", "private_network_count":0, "route_count":0,
      "region":"fr-par", "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"e35470a7-86c9-49f4-a5b8-df15d27bbce5", "name":"cli-test", "description":"cli-test",
      "status":"to_create", "instances":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "ip":[{"id":"8d51a3cd-f7ad-41b8-98a8-8e7ba005a8a0",
      "ip_address":"195.154.196.180", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "lb_id":"e35470a7-86c9-49f4-a5b8-df15d27bbce5",
      "reverse":"195-154-196-180.lb.fr-par.scw.cloud", "region":"fr-par", "zone":"fr-par-1"}],
      "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null,
      "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2023-07-06T12:47:23.203956449Z",
      "updated_at":"2023-07-06T12:47:23.203956449Z", "private_network_count":0, "route_count":0,
      "region":"fr-par", "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"e35470a7-86c9-49f4-a5b8-df15d27bbce5", "name":"cli-test", "description":"cli-test",
      "status":"to_create", "instances":[], "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "ip":[{"id":"8d51a3cd-f7ad-41b8-98a8-8e7ba005a8a0",
      "ip_address":"195.154.196.180", "organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "lb_id":"e35470a7-8[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e35470a7-86c9-49f4-a5b8-df15d27bbce5?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
