---
version: 1
interactions:
- request:
    body: '{"project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","name":"cli-test","description":"cli-test","ip_id":null,"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"ea6e45fe-365e-44d2-bdf8-a44c74bc6a18","name":"cli-test","description":"cli-test","status":"pending","instances":[],"organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","ip":[{"id":"a2236b5f-9ead-4593-a06a-ecf90152d8e4","ip_address":"195.154.71.27","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":"ea6e45fe-365e-44d2-bdf8-a44c74bc6a18","reverse":"195-154-71-27.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-04-27T12:33:09.385514008Z","updated_at":"2021-04-27T12:33:09.385514008Z","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ea6e45fe-365e-44d2-bdf8-a44c74bc6a18
    method: GET
  response:
    body: '{"id":"ea6e45fe-365e-44d2-bdf8-a44c74bc6a18","name":"cli-test","description":"cli-test","status":"pending","instances":[],"organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","ip":[{"id":"a2236b5f-9ead-4593-a06a-ecf90152d8e4","ip_address":"195.154.71.27","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":"ea6e45fe-365e-44d2-bdf8-a44c74bc6a18","reverse":"195-154-71-27.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-04-27T12:33:09.385514Z","updated_at":"2021-04-27T12:33:09.385514Z","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"lbs":[{"id":"ea6e45fe-365e-44d2-bdf8-a44c74bc6a18","name":"cli-test","description":"cli-test","status":"ready","instances":[{"id":"2c1edad9-a140-4758-ad19-57bd18c7ed76","status":"ready","ip_address":"10.73.106.27","created_at":"2021-04-27T01:41:00.212647Z","updated_at":"2021-04-27T12:33:10.460645Z","region":"fr-par","zone":"fr-par-1"},{"id":"79ca891e-bf51-438a-9fd0-a3a40bb3855b","status":"ready","ip_address":"10.64.98.25","created_at":"2021-04-27T00:14:29.778246Z","updated_at":"2021-04-27T12:33:10.092337Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","ip":[{"id":"a2236b5f-9ead-4593-a06a-ecf90152d8e4","ip_address":"195.154.71.27","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":"ea6e45fe-365e-44d2-bdf8-a44c74bc6a18","reverse":"195-154-71-27.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-04-27T12:33:09.385514Z","updated_at":"2021-04-27T12:33:10.837200Z","region":"fr-par","zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ea6e45fe-365e-44d2-bdf8-a44c74bc6a18?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
