---
version: 1
interactions:
- request:
    body: '{"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-test","description":"cli-test","ip_id":null,"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs
    method: POST
  response:
    body: '{"id":"a665ecbc-f0b6-464a-9e95-5d12868ea946","name":"cli-test","description":"cli-test","status":"pending","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"739b8590-a067-4131-866e-74e5ee18dae1","ip_address":"51.159.26.103","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"a665ecbc-f0b6-464a-9e95-5d12868ea946","reverse":"51-159-26-103.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/a665ecbc-f0b6-464a-9e95-5d12868ea946
    method: GET
  response:
    body: '{"id":"a665ecbc-f0b6-464a-9e95-5d12868ea946","name":"cli-test","description":"cli-test","status":"pending","instances":[{"id":"1ba0de55-bfb1-44f5-89fd-b71fc9aa67e6","status":"unknown","ip_address":"10.68.70.45","region":"fr-par"},{"id":"b2fce7f2-8e0c-4c9d-9ef4-1884f155ca8b","status":"unknown","ip_address":"10.68.206.119","region":"fr-par"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"739b8590-a067-4131-866e-74e5ee18dae1","ip_address":"51.159.26.103","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"a665ecbc-f0b6-464a-9e95-5d12868ea946","reverse":"51-159-26-103.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"lbs":[{"id":"8b873b80-5327-4ef1-8f99-6c74d54faed3","name":"lb-boring-nash","description":"","status":"ready","instances":[{"id":"1a141c2d-9061-46a5-99d9-eaccf669b41b","status":"ready","ip_address":"10.68.42.73","region":"fr-par"},{"id":"9ab0406f-7203-4956-baa7-81a53d48d603","status":"ready","ip_address":"10.68.14.47","region":"fr-par"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"497f1f83-f0cc-4c92-95bb-a50408174cd2","ip_ad[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/a665ecbc-f0b6-464a-9e95-5d12868ea946?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
