---
version: 1
interactions:
- request:
    body: '{"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-test","description":"cli-test","ip_id":null,"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs
    method: POST
  response:
    body: '{"id":"bbcf3fb3-d5e9-4d72-b75d-d7986519e522","name":"cli-test","description":"cli-test","status":"pending","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"519188d9-50c9-4a37-b2e4-d20d74e054d0","ip_address":"195.154.69.123","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"bbcf3fb3-d5e9-4d72-b75d-d7986519e522","reverse":"195-154-69-123.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/bbcf3fb3-d5e9-4d72-b75d-d7986519e522
    method: GET
  response:
    body: '{"id":"bbcf3fb3-d5e9-4d72-b75d-d7986519e522","name":"cli-test","description":"cli-test","status":"pending","instances":[{"id":"98c7a6c3-399a-484e-975e-ec73de9db0b0","status":"unknown","ip_address":"10.70.42.45","region":"fr-par"},{"id":"36c70928-2cbc-4242-a51a-79aaf46ce991","status":"unknown","ip_address":"10.65.34.21","region":"fr-par"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"519188d9-50c9-4a37-b2e4-d20d74e054d0","ip_address":"195.154.69.123","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"bbcf3fb3-d5e9-4d72-b75d-d7986519e522","reverse":"195-154-69-123.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/bbcf3fb3-d5e9-4d72-b75d-d7986519e522?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
