---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-test","description":"cli-test","assign_flexible_ip":true,"assign_flexible_ipv6":false,"ip_ids":null,"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"id":"46f449d7-8c30-4aeb-a2e1-7b956106cb66","name":"cli-test","description":"cli-test","status":"to_create","instances":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","ip":[{"id":"2d62f114-b32f-4355-8db1-c0aaf42c4607","ip_address":"212.47.238.49","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","lb_id":"46f449d7-8c30-4aeb-a2e1-7b956106cb66","reverse":"212-47-238-49.lb.fr-par.scw.cloud","tags":[],"region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2026-09-24T12:32:53.889250242Z","updated_at":"2026-09-24T12:32:53.889250242Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 232.94414ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/46f449d7-8c30-4aeb-a2e1-7b956106cb66
        method: GET
      response:
        body: '{"id":"46f449d7-8c30-4aeb-a2e1-7b956106cb66","name":"cli-test","description":"cli-test","status":"creating","instances":[{"id":"293876d5-e173-482c-9cb9-c4efe1db8a7b","status":"unknown","ip_address":"","created_at":"2026-09-24T12:30:50.362342Z","updated_at":"2026-09-24T12:32[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"cli-pn-amazing-boyd","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":null,"subnets":null,"default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/a5fb78dd-aa28-480b-9139-3faed6d55f0f","id":"a5fb78dd-aa28-480b-9139-3faed6d55f0f","name":"cli-pn-amazing-boyd","tags":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-09-24T12:32:58.296621Z","updated_at":"2026-09-24T12:32:58.296621Z","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","subnets":[{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/afb1b886-9611-4a4e-9499-e024c07b78d0","id":"afb1b886-9611-4a4e-9499-e024c07b78d0","created_at":"2026-09-24T12:32:58.296621Z","updated_at":"2026-09-24T12:32:58.296621Z","subnet":"172.16.0.0/22","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","private_network_id":"a5fb78dd-aa28-480b-9139-3faed6d55f0f","vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964","region":"fr-par"},{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/c8381fdc-dc63-4f22-a9a2-3828e1874f95","id":"c8381fdc-dc63-4f22-a9a2-3828e1874f95","created_at":"2026-09-24T12:32:58.296621Z","updated_at":"2026-09-24T12:32:58.296621Z","subnet":"fdb9:eb31:3ccc:7637::/64","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","private_network_id":"a5fb78dd-aa28-480b-9139-3faed6d55f0f","vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964","region":"fr-par"}],"vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964","dhcp_enabled":true,"default_route_propagation_enabled":false,"has_object_storage_private_access":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 672.447178ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 8.808058ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","source":{"private_network_id":"a5fb78dd-aa28-480b-9139-3faed6d55f0f"},"is_ipv6":false,"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"srn":"","id":"4771ba0a-a1e8-471f-a545-4b8e5d3b2592","address":"172.16.0.2/22","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","is_ipv6":false,"created_at":"2026-09-24T12:32:59.128659Z","updated_at":"2026-09-24T12:32:59.128659Z","source":{"subnet_id":"afb1b886-9611-4a4e-9499-e024c07b78d0"},"resource":null,"tags":[],"reverses":[],"region":"fr-par","zone":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 292.784583ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"a5fb78dd-aa28-480b-9139-3faed6d55f0f","ipam_ids":["4771ba0a-a1e8-471f-a545-4b8e5d3b2592"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/46f449d7-8c30-4aeb-a2e1-7b956106cb66/attach-private-network
        method: POST
      response:
        body: '{"lb":{"id":"46f449d7-8c30-4aeb-a2e1-7b956106cb66","name":"cli-test","description":"cli-test","status":"ready","instances":[{"id":"293876d5-e173-482c-9cb9-c4efe1db8a7b","status":"ready","ip_address":"","created_at":"2026-09-24T12:30:50.362342Z","updated_at":"2026-09-24T12:32:55.102824Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","ip":[{"id":"2d62f114-b32f-4355-8db1-c0aaf42c4607","ip_address":"212.47.238.49","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","lb_id":"46f449d7-8c30-4aeb-a2e1-7b956106cb66","reverse":"212-47-238-49.lb.fr-par.scw.cloud","tags":[],"region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2026-09-24T12:32:53.889250Z","updated_at":"2026-09-24T12:32:56.275846Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"a5fb78dd-aa28-480b-9139-3faed6d55f0f","status":"pending","created_at":"2026-09-24T12:32:59.624669840Z","updated_at":"2026-09-24T12:32:59.624669840Z","dhcp_config":{"ip_id":"4771ba0a-a1e8-471f-a545-4b8e5d3b2592"},"ipam_ids":["4771ba0a-a1e8-471f-a545-4b8e5d3b2592"]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 531.576069ms
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/46f449d7-8c30-4aeb-a2e1-7b956106cb66/private-networks?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"private_network":[{"lb":{"id":"46f449d7-8c30-4aeb-a2e1-7b956106cb66","name":"cli-test","description":"cli-test","status":"ready","instances":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","ip":[{"id":"2d62f114-b32f-4355-8db1-c0aaf42c4607","ip_address":"212.47.238.49","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","lb_id":"46f449d7-8c30-4aeb-a2e1-7b956106cb66","reverse":"212-47-238-49.lb.fr-par.scw.cloud","tags":[],"region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2026-09-24T12:32:53.889250Z","updated_at":"2026-09-24T12:32:56.275846Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"a5fb78dd-aa28-480b-9139-3faed6d55f0f","status":"ready","created_at":"2026-09-24T12:32:59.624670Z","updated_at":"2026-09-24T12:33:03.132512Z","dhcp_config":{"ip_id":"4771ba0a-a1e8-471f-a545-4b8e5d3b2592"},"ipam_ids":["4771ba0a-a1e8-471f-a545-4b8e5d3b2592"]}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 127.265237ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"a5fb78dd-aa28-480b-9139-3faed6d55f0f"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/46f449d7-8c30-4aeb-a2e1-7b956106cb66/detach-private-network
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 175.092283ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        form:
            release_ip:
                - "false"
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/46f449d7-8c30-4aeb-a2e1-7b956106cb66?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 133.190809ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/46f449d7-8c30-4aeb-a2e1-7b956106cb66
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 116.043479ms
    - id: 14
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/4771ba0a-a1e8-471f-a545-4b8e5d3b2592
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 344.505644ms
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a5fb78dd-aa28-480b-9139-3faed6d55f0f
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 1.871774822s
    - id: 16
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/2d62f114-b32f-4355-8db1-c0aaf42c4607
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 465.434212ms
