---
version: 1
interactions:
- request:
    body: '{"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"foobar","description":"foobar","ip_id":null,"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs
    method: POST
  response:
    body: '{"id":"6ef0e23c-3bb8-4198-ba36-b7790491ec1a","name":"foobar","description":"foobar","status":"pending","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"50d49130-2d74-47b8-ab6b-1b360e49723a","ip_address":"51.159.75.242","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"6ef0e23c-3bb8-4198-ba36-b7790491ec1a","reverse":"51-159-75-242.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/6ef0e23c-3bb8-4198-ba36-b7790491ec1a
    method: GET
  response:
    body: '{"id":"6ef0e23c-3bb8-4198-ba36-b7790491ec1a","name":"foobar","description":"foobar","status":"pending","instances":[{"id":"24513814-8844-4a01-9ff1-164c6a4da521","status":"unknown","ip_address":"10.64.52.151","region":"fr-par"},{"id":"06cf9cf1-82df-44b1-bc16-d873e69778b1","status":"unknown","ip_address":"10.64.104.67","region":"fr-par"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"50d49130-2d74-47b8-ab6b-1b360e49723a","ip_address":"51.159.75.242","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"6ef0e23c-3bb8-4198-ba36-b7790491ec1a","reverse":"51-159-75-242.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/6ef0e23c-3bb8-4198-ba36-b7790491ec1a?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
