---
version: 1
interactions:
- request:
    body: '{"id":"745d4b3d-402b-480a-a728-d408b7c61f3e","name":"cli-test","description":"cli-test","status":"to_create","instances":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"a6c7b704-a64c-450c-9313-dd6e559516ee","ip_address":"51.15.227.121","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"745d4b3d-402b-480a-a728-d408b7c61f3e","reverse":"51-15-227-121.lb.fr-par.scw.cloud","tags":[],"region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2025-07-29T15:46:21.316291217Z","updated_at":"2025-07-29T15:46:21.316291217Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"745d4b3d-402b-480a-a728-d408b7c61f3e","name":"cli-test","description":"cli-test","status":"to_create","instances":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"a6c7b704-a64c-450c-9313-dd6e559516ee","ip_address":"51.15.227.121","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"745d4b3d-402b-480a-a728-d408b7c61f3e","reverse":"51-15-227-121.lb.fr-par.scw.cloud","tags":[],"region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2025-07-29T15:46:21.316291217Z","updated_at":"2025-07-29T15:46:21.316291217Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"745d4b3d-402b-480a-a728-d408b7c61f3e","name":"cli-test","description":"cli-test","status":"to_create","instances":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"a6c7b704-a64c-450c-9313-dd6e559516ee","ip_address":"51.15.227.121","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"745d4b3d-402b-480a-a728-d408b7c61f3e","reverse"[...]
[...]
- request:
    body: '{"id":"ee1711fb-c70e-4b49-ad20-69bc7058f2d9","name":"cli-pn-heuristic-chatelet","tags":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2025-07-29T15:46:25.870434Z","updated_at":"2025-07-29T15:46:25.870434Z","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":[{"id":"a443be3d-f6d9-4124-97d5-db434cd55f50","created_at":"2025-07-29T15:46:25.870434Z","updated_at":"2025-07-29T15:46:25.870434Z","subnet":"172.16.12.0/22","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"ee1711fb-c70e-4b49-ad20-69bc7058f2d9","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"id":"94a9bab1-d3f4-42c3-b316-ebbba8308f93","created_at":"2025-07-29T15:46:25.870434Z","updated_at":"2025-07-29T15:46:25.870434Z","subnet":"fd46:78ab:30b8:6963::/64","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"ee1711fb-c70e-4b49-ad20-69bc7058f2d9","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"vpc_id":"086a5171-f7ab-4667-a231-840a81203f19","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"ee1711fb-c70e-4b49-ad20-69bc7058f2d9","name":"cli-pn-heuristic-chatelet","tags":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2025-07-29T15:46:25.870434Z","updated_at":"2025-07-29T15:46:25.870434Z","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":[{"id":"a443be3d-f6d9-4124-97d5-db434cd55f50","created_at":"2025-07-29T15:46:25.870434Z","updated_at":"2025-07-29T15:46:25.870434Z","subnet":"172.16.12.0/22","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"ee1711fb-c70e-4b49-ad20-69bc7058f2d9","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"id":"94a9bab1-d3f4-42c3-b316-ebbba8308f93","created_at":"2025-07-29T15:46:25.870434Z","updated_at":"2025-07-29T15:46:25.870434Z","subnet":"fd46:78ab:30b8:6963::/64","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"ee1711fb-c70e-4b49-ad20-69bc7058f2d9","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"vpc_id":"086a5171-f7ab-4667-a231-840a81203f19","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"a514ca32-0d99-4369-bf2a-364119bf81f9","address":"172.16.12.2/22","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"created_at":"2025-07-29T15:46:28.025875Z","updated_at":"2025-07-29T15:46:28.025875Z","source":{"subnet_id":"a443be3d-f6d9-4124-97d5-db434cd55f50"},"resource":null,"tags":[],"reverses":[],"region":"fr-par","zone":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
    method: POST
  response:
    body: '{"id":"a514ca32-0d99-4369-bf2a-364119bf81f9","address":"172.16.12.2/22","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"created_at":"2025-07-29T15:46:28.025875Z","updated_at":"2025-07-29T15:46:28.025875Z","source":{"subnet_id":"a443be3d-f6d9-4124-97d5-db434cd55f50"},"resource":null,"tags":[],"reverses":[],"region":"fr-par","zone":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"lb":{"id":"745d4b3d-402b-480a-a728-d408b7c61f3e","name":"cli-test","description":"cli-test","status":"ready","instances":[{"id":"b4d466ef-e1a8-4f19-ac07-ef6231229915","status":"ready","ip_address":"","created_at":"2025-07-29T15:06:41.610531Z","updated_at":"2025-07-29T15:46:24.098440Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"a6c7b704-a64c-450c-9313-dd6e559516ee","ip_address":"51.15.227.121","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"745d4b3d-402b-480a-a728-d408b7c61f3e","reverse":"51-15-227-121.lb.fr-par.scw.cloud","tags":[],"region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2025-07-29T15:46:21.316291Z","updated_at":"2025-07-29T15:46:25.349234Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"ee1711fb-c70e-4b49-ad20-69bc7058f2d9","status":"pending","created_at":"2025-07-29T15:46:29.097969813Z","updated_at":"2025-07-29T15:46:29.097969813Z","dhcp_config":{"ip_id":"a514ca32-0d99-4369-bf2a-364119bf81f9"},"ipam_ids":["a514ca32-0d99-4369-bf2a-364119bf81f9"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/745d4b3d-402b-480a-a728-d408b7c61f3e/attach-private-network
    method: POST
  response:
    body: '{"lb":{"id":"745d4b3d-402b-480a-a728-d408b7c61f3e","name":"cli-test","description":"cli-test","status":"ready","instances":[{"id":"b4d466ef-e1a8-4f19-ac07-ef6231229915","status":"ready","ip_address":"","created_at":"2025-07-29T[...]
- request:
    body: '{"private_network":[{"lb":{"id":"745d4b3d-402b-480a-a728-d408b7c61f3e","name":"cli-test","description":"cli-test","status":"ready","instances":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"a6c7b704-a64c-450c-9313-dd6e559516ee","ip_address":"51.15.227.121","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"745d4b3d-402b-480a-a728-d408b7c61f3e","reverse":"51-15-227-121.lb.fr-par.scw.cloud","tags":[],"region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2025-07-29T15:46:21.316291Z","updated_at":"2025-07-29T15:46:25.349234Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"ee1711fb-c70e-4b49-ad20-69bc7058f2d9","status":"pending","created_at":"2025-07-29T15:46:29.097970Z","updated_at":"2025-07-29T15:46:29.097970Z","dhcp_config":{"ip_id":"a514ca32-0d99-4369-bf2a-364119bf81f9"},"ipam_ids":["a514ca32-0d99-4369-bf2a-364119bf81f9"]}],"total_count":1}'
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/745d4b3d-402b-480a-a728-d408b7c61f3e/private-networks?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"745d4b3d-402b-480a-a728-d408b7c61f3e","name":"cli-test","description":"cli-test","status":"ready","instances":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"a6c7b704-a64c-450c-[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/745d4b3d-402b-480a-a728-d408b7c61f3e/detach-private-network
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/745d4b3d-402b-480a-a728-d408b7c61f3e?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"message":"lbs not Found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/745d4b3d-402b-480a-a728-d408b7c61f3e
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/a514ca32-0d99-4369-bf2a-364119bf81f9
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ee1711fb-c70e-4b49-ad20-69bc7058f2d9
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/a6c7b704-a64c-450c-9313-dd6e559516ee
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
