---
version: 1
interactions:
- request:
    body: '{"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-test","description":"cli-test","ip_id":null,"tags":null,"type":"","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs
    method: POST
  response:
    body: '{"id":"5b63cc3b-cdfd-4548-ac81-b6ee933d8f6c","name":"cli-test","description":"cli-test","status":"pending","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"4df5bf25-ff19-4426-8dd5-8f3fd5b0d4f1","ip_address":"195.154.71.21","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"5b63cc3b-cdfd-4548-ac81-b6ee933d8f6c","reverse":"195-154-71-21.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/5b63cc3b-cdfd-4548-ac81-b6ee933d8f6c
    method: GET
  response:
    body: '{"id":"5b63cc3b-cdfd-4548-ac81-b6ee933d8f6c","name":"cli-test","description":"cli-test","status":"pending","instances":[{"id":"26b78fc9-930f-4c50-a4fc-334163a2301a","status":"unknown","ip_address":"10.68.102.153","region":"fr-par"},{"id":"8118a899-004d-4511-87dc-810d1b32433e","status":"unknown","ip_address":"10.64.150.105","region":"fr-par"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"4df5bf25-ff19-4426-8dd5-8f3fd5b0d4f1","ip_address":"195.154.71.21","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"5b63cc3b-cdfd-4548-ac81-b6ee933d8f6c","reverse":"195-154-71-21.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/5b63cc3b-cdfd-4548-ac81-b6ee933d8f6c?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
