---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-test","description":"cli-test","assign_flexible_ip":true,"assign_flexible_ipv6":false,"ip_ids":null,"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"id":"128c83d9-9c8a-4aad-9c74-4da86070f1bd", "name":"cli-test", "description":"cli-test", "status":"to_create", "instances":[], "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "ip":[{"id":"29ec1a8f-834e-4584-85a8-29d7e7d7002f", "ip_address":"163.172.167.84", "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "lb_id":"128c83d9-9c8a-4aad-9c74-4da86070f1bd", "reverse":"163-172-167-84.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2026-10-07T16:57:51.669793504Z", "updated_at":"2026-10-07T16:57:51.669793504Z", "private_network_count":0, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 247.350126ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/128c83d9-9c8a-4aad-9c74-4da86070f1bd
        method: GET
      response:
        body: '{"id":"128c83d9-9c8a-4aad-9c74-4da86070f1bd", "name":"cli-test", "description":"cli-test", "status":"creating", "instances":[{"id":"f5644944-72eb-48b0-ad12-4a9dce6b76f6", "status":"unknown", "ip_address":"", "created_at":"2026-10-07T16:56:11.744330Z", "updated_at":"2026-10-[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"cli-pn-nostalgic-knuth","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":null,"subnets":null,"default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/62aeeb37-d2fa-4d93-831e-8b26c3fa8160", "id":"62aeeb37-d2fa-4d93-831e-8b26c3fa8160", "name":"cli-pn-nostalgic-knuth", "tags":[], "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "created_at":"2026-10-07T16:57:56.065078Z", "updated_at":"2026-10-07T16:57:56.065078Z", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "subnets":[{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/56830c8f-5b39-401a-998c-88fd0c53c8c5", "id":"56830c8f-5b39-401a-998c-88fd0c53c8c5", "created_at":"2026-10-07T16:57:56.065078Z", "updated_at":"2026-10-07T16:57:56.065078Z", "subnet":"172.16.8.0/22", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "private_network_id":"62aeeb37-d2fa-4d93-831e-8b26c3fa8160", "vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964", "region":"fr-par"}, {"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/16a41b0f-cae8-4eea-9fa5-7584de8ab616", "id":"16a41b0f-cae8-4eea-9fa5-7584de8ab616", "created_at":"2026-10-07T16:57:56.065078Z", "updated_at":"2026-10-07T16:57:56.065078Z", "subnet":"fdb9:eb31:3ccc:71a5::/64", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "private_network_id":"62aeeb37-d2fa-4d93-831e-8b26c3fa8160", "vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964", "region":"fr-par"}], "vpc_id":"363ba968-29a8-4ac2-8f99-a0352a3b9964", "dhcp_enabled":true, "default_route_propagation_enabled":false, "has_object_storage_private_access":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 724.602216ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 8.748958ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","source":{"private_network_id":"62aeeb37-d2fa-4d93-831e-8b26c3fa8160"},"is_ipv6":false,"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"srn":"", "id":"8b92a205-5f82-4a39-8cd4-1076be576cce", "address":"172.16.8.2/22", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "is_ipv6":false, "created_at":"2026-10-07T16:57:56.974937Z", "updated_at":"2026-10-07T16:57:56.974937Z", "source":{"subnet_id":"56830c8f-5b39-401a-998c-88fd0c53c8c5"}, "resource":null, "tags":[], "reverses":[], "region":"fr-par", "zone":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 296.929539ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"62aeeb37-d2fa-4d93-831e-8b26c3fa8160","ipam_ids":["8b92a205-5f82-4a39-8cd4-1076be576cce"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/128c83d9-9c8a-4aad-9c74-4da86070f1bd/attach-private-network
        method: POST
      response:
        body: '{"lb":{"id":"128c83d9-9c8a-4aad-9c74-4da86070f1bd", "name":"cli-test", "description":"cli-test", "status":"ready", "instances":[{"id":"f5644944-72eb-48b0-ad12-4a9dce6b76f6", "status":"ready", "ip_address":"", "created_at":"2026-10-07T16:56:11.744330Z", "updated_at":"2026-10-07T16:57:53.721571Z", "region":"fr-par", "zone":"fr-par-1"}], "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "ip":[{"id":"29ec1a8f-834e-4584-85a8-29d7e7d7002f", "ip_address":"163.172.167.84", "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "lb_id":"128c83d9-9c8a-4aad-9c74-4da86070f1bd", "reverse":"163-172-167-84.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2026-10-07T16:57:51.669794Z", "updated_at":"2026-10-07T16:57:54.538700Z", "private_network_count":1, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}, "private_network_id":"62aeeb37-d2fa-4d93-831e-8b26c3fa8160", "status":"pending", "created_at":"2026-10-07T16:57:57.463275363Z", "updated_at":"2026-10-07T16:57:57.463275363Z", "dhcp_config":{"ip_id":"8b92a205-5f82-4a39-8cd4-1076be576cce"}, "ipam_ids":["8b92a205-5f82-4a39-8cd4-1076be576cce"]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 611.011364ms
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/128c83d9-9c8a-4aad-9c74-4da86070f1bd/private-networks?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"private_network":[{"lb":{"id":"128c83d9-9c8a-4aad-9c74-4da86070f1bd", "name":"cli-test", "description":"cli-test", "status":"ready", "instances":[], "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "ip":[{"id":"29ec1a8f-834e-4584-85a8-29d7e7d7002f", "ip_address":"163.172.167.84", "organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "lb_id":"128c83d9-9c8a-4aad-9c74-4da86070f1bd", "reverse":"163-172-167-84.lb.fr-par.scw.cloud", "tags":[], "region":"fr-par", "zone":"fr-par-1"}], "tags":[], "frontend_count":0, "backend_count":0, "type":"lb-s", "subscriber":null, "ssl_compatibility_level":"ssl_compatibility_level_intermediate", "created_at":"2026-10-07T16:57:51.669794Z", "updated_at":"2026-10-07T16:57:54.538700Z", "private_network_count":1, "route_count":0, "region":"fr-par", "zone":"fr-par-1"}, "private_network_id":"62aeeb37-d2fa-4d93-831e-8b26c3fa8160", "status":"pending", "created_at":"2026-10-07T16:57:57.463275Z", "updated_at":"2026-10-07T16:57:57.463275Z", "dhcp_config":{"ip_id":"8b92a205-5f82-4a39-8cd4-1076be576cce"}, "ipam_ids":["8b92a205-5f82-4a39-8cd4-1076be576cce"]}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 163.269121ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"62aeeb37-d2fa-4d93-831e-8b26c3fa8160"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/128c83d9-9c8a-4aad-9c74-4da86070f1bd/detach-private-network
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 189.484198ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        form:
            release_ip:
                - "false"
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/128c83d9-9c8a-4aad-9c74-4da86070f1bd?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 129.223448ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/128c83d9-9c8a-4aad-9c74-4da86070f1bd
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 44.469365ms
    - id: 14
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/8b92a205-5f82-4a39-8cd4-1076be576cce
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 136.803338ms
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/62aeeb37-d2fa-4d93-831e-8b26c3fa8160
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 1.977944134s
    - id: 16
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/29ec1a8f-834e-4584-85a8-29d7e7d7002f
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 727.316605ms
