---
version: 1
interactions:
- request:
    body: '{"cluster_types":[{"name":"kapsule","availability":"available","max_nodes":150,"commitment_delay":"0s","sla":0,"resiliency":"standard","memory":4000000000,"dedicated":false,"audit_logs_supported":false,"max_etcd_size":55000000},{"name":"kapsule-dedicated-4","availability":"available","max_nodes":250,"commitment_delay":"2592000s","sla":99.5,"resiliency":"high_availability","memory":4000000000,"dedicated":true,"audit_logs_supported":false,"max_etcd_size":200000000},{"name":"kapsule-dedicated-8","availability":"available","max_nodes":500,"commitment_delay":"2592000s","sla":99.5,"resiliency":"high_availability","memory":8000000000,"dedicated":true,"audit_logs_supported":false,"max_etcd_size":200000000},{"name":"k[...]
- request:
    body: '{"id":"eba6c634-458f-4d77-871f-f3cb1d5e7b97","name":"pn-brave-galois","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2024-12-12T16:38:30.412370Z","updated_at":"2024-12-12T16:38:30.412370Z","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":[{"id":"39634b78-fd4a-4f95-a847-134baad09729","created_at":"2024-12-12T16:38:30.412370Z","updated_at":"2024-12-12T16:38:30.412370Z","subnet":"172.16.28.0/22","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"eba6c634-458f-4d77-871f-f3cb1d5e7b97","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"id":"5ec6db64-8474-4203-92c6-092ae61fae7c","created_at":"2024-12-12T16:38:30.412370Z","updated_at":"2024-12-12T16:38:30.412370Z","subnet":"fd46:78ab:30b8:aab5::/64","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"eba6c634-458f-4d77-871f-f3cb1d5e7b97","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"vpc_id":"086a5171-f7ab-4667-a231-840a81203f19","dhcp_enabled":true,"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"eba6c634-458f-4d77-871f-f3cb1d5e7b97","name":"pn-brave-galois","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2024-12-12T16:38:30.412370Z","updated_at":"2024-12-12T16:38:30.412370Z","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":[{"id":"39634b78-fd4a-4f95-a847-134baad09729","created_at":"2024-12-12T16:38:30.412370Z","updated_at":"2024-12-12T16:38:30.412370Z","subnet":"172.16.28.0/22","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"eba6c634-458f-4d77-871f-f3cb1d5e7b97","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"id":"5ec6db64-8474-4203-92c6-092ae61fae7c","created_at":"2024-12-12T16:38:30.412370Z","updated_at":"2024-12-12T16:38:30.412370Z","subnet":"fd46:78ab:30b8:aab5::/64","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"eba6c634-458f-4d77-871f-f3cb1d5e7b97","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"vpc_id":"086a5171-f7ab-4667-a231-840a81203f19","dhcp_enabled":true,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par","id":"447c0dba-0728-4f59-aed1-a6282f57d631","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2024-12-12T16:38:31.932192Z","updated_at":"2024-12-12T16:38:31.932192Z","type":"kapsule","name":"cli-test-uninstall-kubeconfig-merge","description":"","status":"creating","version":"1.27.1","cni":"cilium","tags":[],"cluster_url":"https://447c0dba-0728-4f59-aed1-a6282f57d631.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.447c0dba-0728-4f59-aed1-a6282f57d631.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"eba6c634-458f-4d77-871f-f3cb1d5e7b97","commitment_ends_at":"2024-12-12T16:38:31.932202Z","routed_ip_enabled":true,"sbs_csi_enabled":true,"full_vpc_integraton_enabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"447c0dba-0728-4f59-aed1-a6282f57d631","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2024-12-12T16:38:31.932192Z","updated_at":"2024-12-12T16:38:31.932192Z","type":"kapsule","name":"cli-test-uninstall-kubeconfig-mer[...]
[...]
- request:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LXVuaW5zdGFsbC1rdWJlY29uZmlnLW1lcmdlIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTUUxVVNYaE5WRVV5VFhwbmVrMHhiMWhFVkUwd1RWUkplRTFVUlRKTmVtZDZUVEZ2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJ[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"447c0dba-0728-4f59-aed1-a6282f57d631","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/447c0dba-0728-4f59-aed1-a6282f57d631
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"447c0dba-0728-4f59-aed1-a6282f57d631","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
