---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/cluster-types
    method: GET
  response:
    body: "{\"cluster_types\":[{\"name\":\"kapsule\", \"availability\":\"available\", \"max_nodes\":150, \"commitment_delay\":\"0s\", \"sla\":0, \"resiliency\":\"standard\", \"memory\":4000000000, \"dedicated\":false, \"audit_logs_supported\":false, \"max_etcd_size\":55000000}, {\"name\":\"kapsule-dedicated-4\", \"availability\":\"available\", \"max_nodes\":250, \"commitment_delay\":\"2592000s\", \"sla\":99.5, \"resiliency\":\"high_availability\", \"memory\":4000000000, \"dedicated\":true, \"audit_logs_supported\":true, \"max_etcd_size\":200000000}, {\"name\":\"kapsule-dedicated-8\", \"availability\":\"available\", \"max_nodes\":500, \"commitment_delay\":\"2592000s\", \"sla\":99.5, \"resiliency\":\"high_availability\", \"memory\":8000000000, \"dedicated\":tr[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"pn-tender-benz\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"tags\":[\"created-along-with-k8s-cluster\",\"created-by-cli\"],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"f932db89-93ed-4779-b9d4-2231b507aea2\", \"name\":\"pn-tender-benz\", \"tags\":[\"created-along-with-k8s-cluster\", \"created-by-cli\"], \"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-03T17:03:47.068539Z\", \"updated_at\":\"2025-11-03T17:03:47.068539Z\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"subnets\":[{\"id\":\"148886d0-a634-4221-bc8b-2bb6614b116b\", \"created_at\":\"2025-11-03T17:03:47.068539Z\", \"updated_at\":\"2025-11-03T17:03:47.068539Z\", \"subnet\":\"172.16.12.0/22\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"private_network_id\":\"f932db89-93ed-4779-b9d4-2231b507aea2\", \"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}, {\"id\":\"29319f39-5105-4f25-a8eb-cbc627a6da72\", \"created_at\":\"2025-11-03T17:03:47.068539Z\", \"updated_at\":\"2025-11-03T17:03:47.068539Z\", \"subnet\":\"fd63:256c:45f7:8e57::/64\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"private_network_id\":\"f932db89-93ed-4779-b9d4-2231b507aea2\", \"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}], \"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\", \"dhcp_enabled\":true, \"default_route_propagation_enabled\":false, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 693.180587ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"type\":\"\",\"name\":\"cli-test-wait-cluster\",\"description\":\"\",\"tags\":null,\"version\":\"1.32.3\",\"cni\":\"cilium\",\"pools\":[{\"name\":\"default\",\"node_type\":\"DEV1-M\",\"placement_group_id\":null,\"autoscaling\":false,\"size\":1,\"min_size\":null,\"max_size\":null,\"container_runtime\":\"unknown_runtime\",\"autohealing\":false,\"tags\":null,\"kubelet_args\":null,\"upgrade_policy\":null,\"zone\":\"\",\"root_volume_type\":\"default_volume_type\",\"root_volume_size\":null,\"public_ip_disabled\":false,\"security_group_id\":null}],\"feature_gates\":null,\"admission_plugins\":null,\"apiserver_cert_sans\":null,\"private_network_id\":\"f932db89-93ed-4779-b9d4-2231b507aea2\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"3a04da67-e97e-4654-9e94-ab430e9e635f\", \"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-03T17:03:48.076963Z\", \"updated_at\":\"2025-11-03T17:03:48.076963Z\", \"type\":\"kapsule\", \"name\":\"cli-test-wait-cluster\", \"description\":\"\", \"status\":\"creating\", \"version\":\"1.32.3\", \"cni\":\"cilium\", \"tags\":[], \"cluster_url\":\"https://3a04da67-e97e-4654-9e94-ab430e9e635f.api.k8s.fr-par.scw.cloud:6443\", \"dns_wildcard\":\"*.3a04da67-e97e-4654-9e94-ab430e9e635f.nodes.k8s.fr-par.scw.cloud\", \"autoscaler_config\":{\"scale_down_disabled\":false, \"scale_down_delay_after_add\":\"10m\", \"estimator\":\"binpacking\", \"expander\":\"random\", \"ignore_daemonsets_utilization\":false, \"balance_similar_node_groups\":false, \"expendable_pods_priority_cutoff\":-10, \"scale_down_unneeded_time\":\"10m\", \"scale_down_utilization_threshold\":0.5, \"max_graceful_termination_sec\":600}, \"auto_upgrade\":{\"enabled\":false, \"maintenance_window\":{\"start_hour\":0, \"day\":\"any\"}}, \"upgrade_available\":true, \"feature_gates\":[], \"admission_plugins\":[], \"open_id_connect_config\":{\"issuer_url\":\"\", \"client_id\":\"\", \"username_claim\":\"\", \"username_prefix\":\"\", \"groups_claim\":[], \"groups_prefix\":\"\", \"required_claim\":[]}, \"apiserver_cert_sans\":[], \"private_network_id\":\"f932db89-93ed-4779-b9d4-2231b507aea2\", \"commitment_ends_at\":\"2025-11-03T17:03:48.076971Z\", \"acl_available\":true, \"iam_nodes_group_id\":\"\", \"new_images_enabled\":false, \"pod_cidr\":\"100.64.0.0/15\", \"service_cidr\":\"10.32.0.0/20\", \"service_dns_ip\":\"10.32.0.10\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 471.160776ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3a04da67-e97e-4654-9e94-ab430e9e635f
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"3a04da67-e97e-4654-9e94-ab430e9e635f\", \"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-03T17:03:48.076963Z\", \"updated_at\":\"2025-11-03T17:03:48.076963Z\", \"type\":\"k[...]
[...]
- id: 21
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3a04da67-e97e-4654-9e94-ab430e9e635f/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1, \"pools\":[{\"region\":\"fr-par\", \"id\":\"394aed00-d838-47ec-8fde-aae7e414c7ce\", \"cluster_id\":\"3a04da67-e97e-4654-9e94-ab430e9e635f\", \"created_at\":\"2025-11-03T17:03:47.762952Z\", \"updated_at\":\"2025-11-03T17:03:47.762952Z\", \"name\":\"default\", \"status\":\"scaling\", \"version\":\"1.32.3\", \"node_type\":\"dev1_m\", \"autoscaling\":false, \"size\":1, \"min_size\":0, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":false, \"tags\":[], \"placement_group_id\":null, \"kubelet_args\":{}, \"upgrade_policy\":{\"max_unavailable\":1, \"max_surge\":0}, \"zone\":\"fr-par-1\", \"root_volume_type\":\"l_ssd\", \"root_volume_size\":40000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"592f683f-83b9-47e4-9434-ca1931bdaa4b\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 25.395342ms
- id: 22
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/394aed00-d838-47ec-8fde-aae7e414c7ce
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"394aed00-d838-47ec-8fde-aae7e414c7ce\", \"cluster_id\":\"3a04da67-e97e-4654-9e94-ab430e9e635f\", \"created_at\":\"2025-11-03T17:03:47.762952Z\", \"updated_at\":\"2025-11-03T17:03:47.762952Z\", \"name\":\"default\", \"status\":\"scaling\", \"version\":\"1.32.3\", \"node_type\":\"dev1_m\", \"autoscaling\":false, \"size\":1, \"min_size\":0, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":false, \"tags\":[], \"placement_group_id\":null, \"kubelet_args\":{}, \"upgrade_policy\":{\"max_unavailable\":1, \"max_surge\":0}, \"zone\":\"fr-par-1\", \"root_volume_type\":\"l_ssd\", \"root_volume_size\":40000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"592f683f-83b9-47e4-9434-ca1931bdaa4b\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 50.407142ms
[...]
- id: 63
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "true"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3a04da67-e97e-4654-9e94-ab430e9e635f?with_additional_resources=true
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"3a04da67-e97e-4654-9e94-ab430e9e635f\", \"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-03T17:03:48.076963Z\", \"updated_at\":\"2025-11-03T17:08:36.503372Z\", \"type\"[...]
[...]
- id: 79
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3a04da67-e97e-4654-9e94-ab430e9e635f
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"cluster\",\"resource_id\":\"3a04da67-e97e-4654-9e94-ab430e9e635f\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 20.533608ms
