---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","type":"","name":"cli-test","description":"","tags":null,"version":"1.17.3","cni":"cilium","enable_dashboard":false,"ingress":"unknown_ingress","pools":[{"name":"default","node_type":"GP1-XS","placement_group_id":null,"autoscaling":false,"size":1,"min_size":null,"max_size":null,"container_runtime":"unknown_runtime","autohealing":false,"tags":null,"kubelet_args":null,"upgrade_policy":null,"zone":""}],"autoscaler_config":null,"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"af9af50a-de91-4d4c-aab3-de61db807d8a","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-09-16T13:08:17.639376389Z","updated_at":"2021-09-16T13:08:18.438632809Z","type":"kapsule","name":"cli-test","description":"","status":"creating","version":"1.17.3","cni":"cilium","tags":[],"cluster_url":"https://af9af50a-de91-4d4c-aab3-de61db807d8a.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.af9af50a-de91-4d4c-aab3-de61db807d8a.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/af9af50a-de91-4d4c-aab3-de61db807d8a
    method: GET
  response:
    body: '{"region":"fr-par","id":"af9af50a-de91-4d4c-aab3-de61db807d8a","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-09-16T13:08:17.639376Z","updated_at":"2021-09-16T13:08:18.438633Z","type":"kapsule","name":"cli-test","description":""[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/af9af50a-de91-4d4c-aab3-de61db807d8a/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"pools":[{"region":"fr-par","id":"2b33c61b-aa8c-476a-97b1-0762c57aead9","cluster_id":"af9af50a-de91-4d4c-aab3-de61db807d8a","created_at":"2021-09-16T13:08:17.665623Z","updated_at":"2021-09-16T13:08:17.677634Z","name":"default","status":"scaling","version":"1.17.3","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/2b33c61b-aa8c-476a-97b1-0762c57aead9
    method: GET
  response:
    body: '{"region":"fr-par","id":"2b33c61b-aa8c-476a-97b1-0762c57aead9","cluster_id":"af9af50a-de91-4d4c-aab3-de61db807d8a","created_at":"2021-09-16T13:08:17.665623Z","updated_at":"2021-09-16T13:08:17.677634Z","name":"default","status":"scaling","version":"1.17.3","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/af9af50a-de91-4d4c-aab3-de61db807d8a?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"af9af50a-de91-4d4c-aab3-de61db807d8a","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-09-16T13:08:17.639376Z","updated_at":"2021-09-16T13:12:17.043005122Z","type":"kapsu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/af9af50a-de91-4d4c-aab3-de61db807d8a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"af9af50a-de91-4d4c-aab3-de61db807d8a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
