---
version: 1
interactions:
- request:
    body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150,
      "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000,
      "dedicated":false, "audit_logs_supported":false, "max_etcd_size":55000000},
      {"name":"kapsule-dedicated-4", "availability":"available", "max_nodes":250,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":4000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200000000},
      {"name":"kapsule-dedicated-8", "availability":"available", "max_nodes":500,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":8000000000, "dedicated":true, "audit_logs_[...]
- request:
    body: '{"id":"9f82e794-e694-4c61-b146-5c6818657070", "name":"pn-keen-varahamihira",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "created_at":"2025-10-30T18:05:46.757989Z", "updated_at":"2025-10-30T18:05:46.757989Z",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"b81dcc9b-a85e-4ecc-b8a0-bb80ad945d17",
      "created_at":"2025-10-30T18:05:46.757989Z", "updated_at":"2025-10-30T18:05:46.757989Z",
      "subnet":"172.16.0.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "private_network_id":"9f82e794-e694-4c61-b146-5c6818657070", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},
      {"id":"f17b410a-8119-41f2-b428-98dca0502bd9", "created_at":"2025-10-30T18:05:46.757989Z",
      "updated_at":"2025-10-30T18:05:46.757989Z", "subnet":"fd63:256c:45f7:2665::/64",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"9f82e794-e694-4c61-b146-5c6818657070",
      "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"9f82e794-e694-4c61-b146-5c6818657070", "name":"pn-keen-varahamihira",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "created_at":"2025-10-30T18:05:46.757989Z", "updated_at":"2025-10-30T18:05:46.757989Z",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"b81dcc9b-a85e-4ecc-b8a0-bb80ad945d17",
      "created_at":"2025-10-30T18:05:46.757989Z", "updated_at":"2025-10-30T18:05:46.757989Z",
      "subnet":"172.16.0.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "private_network_id":"9f82e794-e694-4c61-b146-5c6818657070", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},
      {"id":"f17b410a-8119-41f2-b428-98dca0502bd9", "created_at":"2025-10-30T18:05:46.757989Z",
      "updated_at":"2025-10-30T18:05:46.757989Z", "subnet":"fd63:256c:45f7:2665::/64",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"9f82e794-e694-4c61-b146-5c6818657070",
      "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par", "id":"37567083-583a-447d-a971-4c1b6afe7e59", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-10-30T18:05:47.792704Z",
      "updated_at":"2025-10-30T18:05:47.792704Z", "type":"kapsule", "name":"cli-test-get-cluster",
      "description":"", "status":"creating", "version":"1.32.3", "cni":"cilium", "tags":[],
      "cluster_url":"https://37567083-583a-447d-a971-4c1b6afe7e59.api.k8s.fr-par.scw.cloud:6443",
      "dns_wildcard":"*.37567083-583a-447d-a971-4c1b6afe7e59.nodes.k8s.fr-par.scw.cloud",
      "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m",
      "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false,
      "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10,
      "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600},
      "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}},
      "upgrade_available":true, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"",
      "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[],
      "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"9f82e794-e694-4c61-b146-5c6818657070",
      "commitment_ends_at":"2025-10-30T18:05:47.792714Z", "acl_available":true, "iam_nodes_group_id":"",
      "new_images_enabled":false, "pod_cidr":"100.64.0.0/15", "service_cidr":"10.32.0.0/20",
      "service_dns_ip":"10.32.0.10"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par", "id":"37567083-583a-447d-a971-4c1b6afe7e59", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-10-30T18:05:47.792704Z",
      "updated_at":"2025-10-30T18:05:47.792704Z", "type":"kapsule", "name":"cli-tes[...]
[...]
- request:
    body: '{"total_count":1, "pools":[{"region":"fr-par", "id":"ddd7f032-6040-4d3e-b3d6-470c28277cf1",
      "cluster_id":"37567083-583a-447d-a971-4c1b6afe7e59", "created_at":"2025-10-30T18:05:47.422182Z",
      "updated_at":"2025-10-30T18:05:47.422182Z", "name":"default", "status":"scaling",
      "version":"1.32.3", "node_type":"dev1_m", "autoscaling":false, "size":1, "min_size":0,
      "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[],
      "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1,
      "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"l_ssd", "root_volume_size":40000000000,
      "public_ip_disabled":false, "new_images_enabled":true, "security_group_id":"592f683f-83b9-47e4-9434-ca1931bdaa4b"}]}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/37567083-583a-447d-a971-4c1b6afe7e59/pools?order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: '{"total_count":1, "pools":[{"region":"fr-par", "id":"ddd7f032-6040-4d3e-b3d6-470c28277cf1",
      "cluster_id":"37567083-583a-447d-a971-4c1b6afe7e59", "created_at":"2025-10-30T18:05:47.422182Z",
      "updated_at":"2025-10-30T18:05:47.422182Z", "name":"default", "status":"scaling",
      "version":"1.32.3", "node_type":"dev1_m", "autoscaling":false, "size":1, "min_size":0,
      "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[],
      "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1,
      "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"l_ssd", "root_volume_size":40000000000,
      "public_ip_disabled":false, "new_images_enabled":true, "security_group_id":"592f683f-83b9-47e4-9434-ca1931bdaa4b"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"37567083-583a-447d-a971-4c1b6afe7e59","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/37567083-583a-447d-a971-4c1b6afe7e59
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"37567083-583a-447d-a971-4c1b6afe7e59","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
