---
version: 1
interactions:
- request:
    body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150,
      "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000,
      "dedicated":false, "audit_logs_supported":false, "max_etcd_size":55000000},
      {"name":"kapsule-dedicated-4", "availability":"available", "max_nodes":250,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":4000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200000000},
      {"name":"kapsule-dedicated-8", "availability":"available", "max_nodes":500,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":8000000000, "dedicated":true, "audit_logs_[...]
- request:
    body: '{"id":"79be1d7d-fb92-4fdd-985c-f37a03520ae6", "name":"pn-happy-mccarthy",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "created_at":"2025-10-30T18:12:19.592973Z", "updated_at":"2025-10-30T18:12:19.592973Z",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"b7d1239e-e102-498b-966a-446b00604493",
      "created_at":"2025-10-30T18:12:19.592973Z", "updated_at":"2025-10-30T18:12:19.592973Z",
      "subnet":"172.16.12.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "private_network_id":"79be1d7d-fb92-4fdd-985c-f37a03520ae6", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},
      {"id":"2d3b7e6d-5a4e-4d04-a658-6aafd48e586f", "created_at":"2025-10-30T18:12:19.592973Z",
      "updated_at":"2025-10-30T18:12:19.592973Z", "subnet":"fd63:256c:45f7:8b32::/64",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"79be1d7d-fb92-4fdd-985c-f37a03520ae6",
      "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"79be1d7d-fb92-4fdd-985c-f37a03520ae6", "name":"pn-happy-mccarthy",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "created_at":"2025-10-30T18:12:19.592973Z", "updated_at":"2025-10-30T18:12:19.592973Z",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"b7d1239e-e102-498b-966a-446b00604493",
      "created_at":"2025-10-30T18:12:19.592973Z", "updated_at":"2025-10-30T18:12:19.592973Z",
      "subnet":"172.16.12.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "private_network_id":"79be1d7d-fb92-4fdd-985c-f37a03520ae6", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},
      {"id":"2d3b7e6d-5a4e-4d04-a658-6aafd48e586f", "created_at":"2025-10-30T18:12:19.592973Z",
      "updated_at":"2025-10-30T18:12:19.592973Z", "subnet":"fd63:256c:45f7:8b32::/64",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"79be1d7d-fb92-4fdd-985c-f37a03520ae6",
      "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par", "id":"56c418a0-71f4-42c7-b484-0d0e0d4bb45a", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-10-30T18:12:20.442802Z",
      "updated_at":"2025-10-30T18:12:20.442802Z", "type":"kapsule", "name":"cli-test-get-kubeconfig-with-flags-and-envs",
      "description":"", "status":"creating", "version":"1.32.3", "cni":"cilium", "tags":[],
      "cluster_url":"https://56c418a0-71f4-42c7-b484-0d0e0d4bb45a.api.k8s.fr-par.scw.cloud:6443",
      "dns_wildcard":"*.56c418a0-71f4-42c7-b484-0d0e0d4bb45a.nodes.k8s.fr-par.scw.cloud",
      "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m",
      "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false,
      "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10,
      "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600},
      "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}},
      "upgrade_available":true, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"",
      "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[],
      "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"79be1d7d-fb92-4fdd-985c-f37a03520ae6",
      "commitment_ends_at":"2025-10-30T18:12:20.442811Z", "acl_available":true, "iam_nodes_group_id":"",
      "new_images_enabled":false, "pod_cidr":"100.64.0.0/15", "service_cidr":"10.32.0.0/20",
      "service_dns_ip":"10.32.0.10"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par", "id":"56c418a0-71f4-42c7-b484-0d0e0d4bb45a", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-10-30T18:12:20.442802Z",
      "updated_at":"2025-10-30T18:12:20.442802Z", "type":"kapsule", "name":"cli-tes[...]
[...]
- request:
    body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWdldC1rdWJlY29uZmlnLXdpdGgtZmxhZ3MtYW5kLWVudnMiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VKWVJFTkRRVkZIWjBGM1NVSkJaMGxDUVVSQlMwSm5aM0ZvYTJwUFVGRlJSRUZxUVZaTlVrMTNSVkZaUkZaUlVVUkZkM0J5WkZkS2JHTnROV3dLWkVkV2VrMUNORmhFVkVreFRWUkJlVTlVUlRSTlZFbDVUVVp2V0VSVVRURk5WRUY1VDFSRk5FMVVTWGxOUm05M1JsUkZWRTFDUlVkQk1WVkZRWGhOU3dwaE0xWnBXbGhLZFZwWVVteGpla0phVFVKTlIwSjVjVWRUVFRRNVFXZEZ[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"56c418a0-71f4-42c7-b484-0d0e0d4bb45a","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/56c418a0-71f4-42c7-b484-0d0e0d4bb45a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"56c418a0-71f4-42c7-b484-0d0e0d4bb45a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
