---
version: 1
interactions:
- request:
    body: '{"id":"5a920a91-f662-4a2f-a075-ee94eadceece","name":"pn-stupefied-gould","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:41:52.454679Z","updated_at":"2023-06-13T09:41:52.454679Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"1a3e0858-d3ac-4596-a7c2-56e7cdb944ef","created_at":"2023-06-13T09:41:52.454679Z","updated_at":"2023-06-13T09:41:52.454679Z","subnet":"172.16.0.0/22"},{"id":"7bb224fc-afa0-41fd-b29e-ffb64fc19ccf","created_at":"2023-06-13T09:41:52.454679Z","updated_at":"2023-06-13T09:41:52.454679Z","subnet":"fd63:256c:45f7:c7b6::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"5a920a91-f662-4a2f-a075-ee94eadceece","name":"pn-stupefied-gould","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:41:52.454679Z","updated_at":"2023-06-13T09:41:52.454679Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"1a3e0858-d3ac-4596-a7c2-56e7cdb944ef","created_at":"2023-06-13T09:41:52.454679Z","updated_at":"2023-06-13T09:41:52.454679Z","subnet":"172.16.0.0/22"},{"id":"7bb224fc-afa0-41fd-b29e-ffb64fc19ccf","created_at":"2023-06-13T09:41:52.454679Z","updated_at":"2023-06-13T09:41:52.454679Z","subnet":"fd63:256c:45f7:c7b6::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par","id":"18d4d461-8715-4122-91f0-3bcaad1e8384","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:41:52.715427768Z","updated_at":"2023-06-13T09:41:52.987197812Z","type":"kapsule","name":"cli-test-get-cluster","description":"","status":"creating","version":"1.27.1","cni":"cilium","tags":[],"cluster_url":"https://18d4d461-8715-4122-91f0-3bcaad1e8384.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.18d4d461-8715-4122-91f0-3bcaad1e8384.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"5a920a91-f662-4a2f-a075-ee94eadceece"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"18d4d461-8715-4122-91f0-3bcaad1e8384","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:41:52.715427768Z","updated_at":"2023-06-13T09:41:52.987197812Z","type":"kapsule","n[...]
[...]
- request:
    body: '{"total_count":1,"pools":[{"region":"fr-par","id":"74b7f800-1846-4538-b7c3-f42b36ace8a6","cluster_id":"18d4d461-8715-4122-91f0-3bcaad1e8384","created_at":"2023-06-13T09:41:52.815976Z","updated_at":"2023-06-13T09:41:52.826632Z","name":"default","status":"scaling","version":"1.27.1","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":40000000000}]}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/18d4d461-8715-4122-91f0-3bcaad1e8384/pools?order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"pools":[{"region":"fr-par","id":"74b7f800-1846-4538-b7c3-f42b36ace8a6","cluster_id":"18d4d461-8715-4122-91f0-3bcaad1e8384","created_at":"2023-06-13T09:41:52.815976Z","updated_at":"2023-06-13T09:41:52.826632Z","name":"default","status":"scaling","version":"1.27.1","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":40000000000}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"18d4d461-8715-4122-91f0-3bcaad1e8384","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/18d4d461-8715-4122-91f0-3bcaad1e8384
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"18d4d461-8715-4122-91f0-3bcaad1e8384","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
