---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"pn-vibrant-antonelli","project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0","tags":["created-along-with-k8s-cluster","created-by-cli"],"subnets":null,"default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"5608568e-5f92-4212-bf29-91cd37235e86","name":"pn-vibrant-antonelli","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0","created_at":"2026-03-06T16:04:41.011538Z","updated_at":"2026-03-06T16:04:41.011538Z","project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0","subnets":[{"id":"c90b6202-41d5-472d-bf00-b1e797a33ced","created_at":"2026-03-06T16:04:41.011538Z","updated_at":"2026-03-06T16:04:41.011538Z","subnet":"172.17.0.0/22","project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0","private_network_id":"5608568e-5f92-4212-bf29-91cd37235e86","vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"},{"id":"216f9e5d-ce81-40a4-8091-fca43222b42f","created_at":"2026-03-06T16:04:41.011538Z","updated_at":"2026-03-06T16:04:41.011538Z","subnet":"fd58:6b70:2d5a:2247::/64","project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0","private_network_id":"5608568e-5f92-4212-bf29-91cd37235e86","vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"}],"vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 763.037373ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0","type":"","name":"cli-test-Test_PoolRemoveTaint","description":"","tags":null,"version":"1.32.3","cni":"cilium","pools":[{"name":"default","node_type":"DEV1-M","placement_group_id":null,"autoscaling":false,"size":1,"min_size":null,"max_size":null,"container_runtime":"unknown_runtime","autohealing":false,"tags":null,"kubelet_args":null,"upgrade_policy":null,"zone":"","root_volume_type":"default_volume_type","root_volume_size":null,"public_ip_disabled":false,"security_group_id":null,"labels":null,"taints":[{"key":"foo","value":"bar","effect":"NoSchedule"}],"startup_taints":null}],"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"5608568e-5f92-4212-bf29-91cd37235e86"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par","id":"705cb9e4-6208-4a2e-ae86-f01fb6ca97d1","organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0","project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0","created_at":"2026-03-06T16:04:41.984140Z","updated_at":"2026-03-06T16:04:41.984140Z","type":"kapsule","name":"cli-test-Test_PoolRemoveTaint","description":"","status":"creating","version":"1.32.3","cni":"cilium","tags":[],"cluster_url":"https://705cb9e4-6208-4a2e-ae86-f01fb6ca97d1.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.705cb9e4-6208-4a2e-ae86-f01fb6ca97d1.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"5608568e-5f92-4212-bf29-91cd37235e86","commitment_ends_at":"2026-03-06T16:04:41.984152Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 396.641884ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/705cb9e4-6208-4a2e-ae86-f01fb6ca97d1
        method: GET
      response:
        body: '{"region":"fr-par","id":"705cb9e4-6208-4a2e-ae86-f01fb6ca97d1","organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0","project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0","created_at":"2026-03-06T16:04:41.984140Z","updated_at":"2026-03-06T16:04:41.984140Z","type":"ka[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        form:
            name:
                - default
            order_by:
                - created_at_asc
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/705cb9e4-6208-4a2e-ae86-f01fb6ca97d1/pools?name=default&order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"total_count":1,"pools":[{"region":"fr-par","id":"eba08915-3f68-40a4-bfcf-d3774fe7e637","cluster_id":"705cb9e4-6208-4a2e-ae86-f01fb6ca97d1","created_at":"2026-03-06T16:04:41.740038Z","updated_at":"2026-03-06T16:04:41.740038Z","name":"default","status":"scaling","version":"1.32.3","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":40000000000,"public_ip_disabled":false,"security_group_id":"8bcdc1ce-cda4-4e8f-859f-2aa0aa86e957","labels":{},"taints":[],"startup_taints":[]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.237359ms
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/eba08915-3f68-40a4-bfcf-d3774fe7e637
        method: GET
      response:
        body: '{"region":"fr-par","id":"eba08915-3f68-40a4-bfcf-d3774fe7e637","cluster_id":"705cb9e4-6208-4a2e-ae86-f01fb6ca97d1","created_at":"2026-03-06T16:04:41.740038Z","updated_at":"2026-03-06T16:04:41.740038Z","name":"default","status":"scaling","version":"1.32.3","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":40000000000,"public_ip_disabled":false,"security_group_id":"8bcdc1ce-cda4-4e8f-859f-2aa0aa86e957","labels":{},"taints":[],"startup_taints":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.054434ms
    - id: 11
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "true"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/705cb9e4-6208-4a2e-ae86-f01fb6ca97d1?with_additional_resources=true
        method: DELETE
      response:
        body: '{"region":"fr-par","id":"705cb9e4-6208-4a2e-ae86-f01fb6ca97d1","organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0","project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0","created_at":"2026-03-06T16:04:41.984140Z","updated_at":"2026-03-06T16:06:12.703816Z","type":"[...]
[...]
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/705cb9e4-6208-4a2e-ae86-f01fb6ca97d1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"705cb9e4-6208-4a2e-ae86-f01fb6ca97d1","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.120629ms
