---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/cluster-types
    method: GET
  response:
    body: "{\"cluster_types\":[{\"name\":\"kapsule\", \"availability\":\"available\", \"max_nodes\":150, \"commitment_delay\":\"0s\", \"sla\":0, \"resiliency\":\"standard\", \"memory\":4000000000, \"dedicated\":false, \"audit_logs_supported\":false, \"max_etcd_size\":55000000}, {\"name\":\"kapsule-dedicated-4\", \"availability\":\"available\", \"max_nodes\":250, \"commitment_delay\":\"2592000s\", \"sla\":99.5, \"resiliency\":\"high_availability\", \"memory\":4000000000, \"dedicated\":true, \"audit_logs_supported\":true, \"max_etcd_size\":200000000}, {\"name\":\"kapsule-dedicated-8\", \"availability\":\"available\", \"max_nodes\":500, \"commitment_delay\":\"2592000s\", \"sla\":99.5, \"resiliency\":\"high_availability\", \"memory\":8000000000, \"dedicated\":tr[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"pn-hopeful-dubinsky\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"tags\":[\"created-along-with-k8s-cluster\",\"created-by-cli\"],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"feb7d755-c33d-4a3b-9809-2e9b85862053\", \"name\":\"pn-hopeful-dubinsky\", \"tags\":[\"created-along-with-k8s-cluster\", \"created-by-cli\"], \"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-03T16:52:01.561772Z\", \"updated_at\":\"2025-11-03T16:52:01.561772Z\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"subnets\":[{\"id\":\"7f5cce00-936f-403f-a62f-fedff7bb813d\", \"created_at\":\"2025-11-03T16:52:01.561772Z\", \"updated_at\":\"2025-11-03T16:52:01.561772Z\", \"subnet\":\"172.16.4.0/22\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"private_network_id\":\"feb7d755-c33d-4a3b-9809-2e9b85862053\", \"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}, {\"id\":\"fc3077c8-96bd-4f0d-bb12-28a297fdd7ca\", \"created_at\":\"2025-11-03T16:52:01.561772Z\", \"updated_at\":\"2025-11-03T16:52:01.561772Z\", \"subnet\":\"fd63:256c:45f7:884a::/64\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"private_network_id\":\"feb7d755-c33d-4a3b-9809-2e9b85862053\", \"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}], \"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\", \"dhcp_enabled\":true, \"default_route_propagation_enabled\":false, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 945.602703ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"type\":\"\",\"name\":\"cli-test-get-kubeconfig-with-envs\",\"description\":\"\",\"tags\":null,\"version\":\"1.32.3\",\"cni\":\"cilium\",\"pools\":[{\"name\":\"default\",\"node_type\":\"DEV1-M\",\"placement_group_id\":null,\"autoscaling\":false,\"size\":1,\"min_size\":null,\"max_size\":null,\"container_runtime\":\"unknown_runtime\",\"autohealing\":false,\"tags\":null,\"kubelet_args\":null,\"upgrade_policy\":null,\"zone\":\"\",\"root_volume_type\":\"default_volume_type\",\"root_volume_size\":null,\"public_ip_disabled\":false,\"security_group_id\":null}],\"feature_gates\":null,\"admission_plugins\":null,\"apiserver_cert_sans\":null,\"private_network_id\":\"feb7d755-c33d-4a3b-9809-2e9b85862053\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"739e0b9c-a703-4dd2-ad79-d68c01017246\", \"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-03T16:52:02.332190Z\", \"updated_at\":\"2025-11-03T16:52:02.332190Z\", \"type\":\"kapsule\", \"name\":\"cli-test-get-kubeconfig-with-envs\", \"description\":\"\", \"status\":\"creating\", \"version\":\"1.32.3\", \"cni\":\"cilium\", \"tags\":[], \"cluster_url\":\"https://739e0b9c-a703-4dd2-ad79-d68c01017246.api.k8s.fr-par.scw.cloud:6443\", \"dns_wildcard\":\"*.739e0b9c-a703-4dd2-ad79-d68c01017246.nodes.k8s.fr-par.scw.cloud\", \"autoscaler_config\":{\"scale_down_disabled\":false, \"scale_down_delay_after_add\":\"10m\", \"estimator\":\"binpacking\", \"expander\":\"random\", \"ignore_daemonsets_utilization\":false, \"balance_similar_node_groups\":false, \"expendable_pods_priority_cutoff\":-10, \"scale_down_unneeded_time\":\"10m\", \"scale_down_utilization_threshold\":0.5, \"max_graceful_termination_sec\":600}, \"auto_upgrade\":{\"enabled\":false, \"maintenance_window\":{\"start_hour\":0, \"day\":\"any\"}}, \"upgrade_available\":true, \"feature_gates\":[], \"admission_plugins\":[], \"open_id_connect_config\":{\"issuer_url\":\"\", \"client_id\":\"\", \"username_claim\":\"\", \"username_prefix\":\"\", \"groups_claim\":[], \"groups_prefix\":\"\", \"required_claim\":[]}, \"apiserver_cert_sans\":[], \"private_network_id\":\"feb7d755-c33d-4a3b-9809-2e9b85862053\", \"commitment_ends_at\":\"2025-11-03T16:52:02.332201Z\", \"acl_available\":true, \"iam_nodes_group_id\":\"\", \"new_images_enabled\":false, \"pod_cidr\":\"100.64.0.0/15\", \"service_cidr\":\"10.32.0.0/20\", \"service_dns_ip\":\"10.32.0.10\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 322.640354ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/739e0b9c-a703-4dd2-ad79-d68c01017246
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"739e0b9c-a703-4dd2-ad79-d68c01017246\", \"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-03T16:52:02.332190Z\", \"updated_at\":\"2025-11-03T16:52:02.332190Z\", \"type\":\"k[...]
[...]
- id: 58
  request:
    host: api.scaleway.com
    form:
      redacted:
      - "true"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/739e0b9c-a703-4dd2-ad79-d68c01017246/kubeconfig?redacted=true
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\", \"content_type\":\"application/octet-stream\", \"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWdldC1rdWJlY29uZmlnLXdpdGgtZW52cyIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYZWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt4VFZSRmQwMXFSVEpPVkVsM1RXeHZXRVJVVFRGTlZFVjNUV3BGTWs1VVNYZE5iRzkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVF[...]
[...]
- id: 60
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "true"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/739e0b9c-a703-4dd2-ad79-d68c01017246?with_additional_resources=true
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"739e0b9c-a703-4dd2-ad79-d68c01017246\", \"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-03T16:52:02.332190Z\", \"updated_at\":\"2025-11-03T16:56:35.273119Z\", \"type\"[...]
[...]
- id: 63
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/739e0b9c-a703-4dd2-ad79-d68c01017246
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"cluster\",\"resource_id\":\"739e0b9c-a703-4dd2-ad79-d68c01017246\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 29.546527ms
