---
version: 1
interactions:
- request:
    body: '{"id":"ed0437b7-9099-4336-a95e-cb838cf676a6","name":"pn-dazzling-albattani","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:51:13.322966Z","updated_at":"2023-06-13T09:51:13.322966Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"75b8bdfc-6d6d-47ab-94cf-2c8c39b6c21a","created_at":"2023-06-13T09:51:13.322966Z","updated_at":"2023-06-13T09:51:13.322966Z","subnet":"172.16.44.0/22"},{"id":"fd70d7a5-d720-408a-8118-e3119c8b064b","created_at":"2023-06-13T09:51:13.322966Z","updated_at":"2023-06-13T09:51:13.322966Z","subnet":"fd63:256c:45f7:f2f::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"ed0437b7-9099-4336-a95e-cb838cf676a6","name":"pn-dazzling-albattani","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:51:13.322966Z","updated_at":"2023-06-13T09:51:13.322966Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"75b8bdfc-6d6d-47ab-94cf-2c8c39b6c21a","created_at":"2023-06-13T09:51:13.322966Z","updated_at":"2023-06-13T09:51:13.322966Z","subnet":"172.16.44.0/22"},{"id":"fd70d7a5-d720-408a-8118-e3119c8b064b","created_at":"2023-06-13T09:51:13.322966Z","updated_at":"2023-06-13T09:51:13.322966Z","subnet":"fd63:256c:45f7:f2f::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par","id":"2dee0207-2623-4d27-ab4b-c1626a67a571","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:51:13.850262448Z","updated_at":"2023-06-13T09:51:14.166584721Z","type":"kapsule","name":"cli-test-uninstall-kubeconfig-merge","description":"","status":"creating","version":"1.27.1","cni":"cilium","tags":[],"cluster_url":"https://2dee0207-2623-4d27-ab4b-c1626a67a571.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.2dee0207-2623-4d27-ab4b-c1626a67a571.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"ed0437b7-9099-4336-a95e-cb838cf676a6"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"2dee0207-2623-4d27-ab4b-c1626a67a571","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:51:13.850262448Z","updated_at":"2023-06-13T09:51:14.166584721Z","type":"kapsule","n[...]
[...]
- request:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LXVuaW5zdGFsbC1rdWJlY29uZmlnLW1lcmdlIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxRVdYaE5ha0UxVGxSRmVFNVdiMWhFVkUxNlRVUlplRTFxUVRWT1ZFVjRUbFp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJ[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"2dee0207-2623-4d27-ab4b-c1626a67a571","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2dee0207-2623-4d27-ab4b-c1626a67a571
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"2dee0207-2623-4d27-ab4b-c1626a67a571","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
