---
version: 1
interactions:
- request:
    body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150,
      "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000,
      "dedicated":false, "audit_logs_supported":false, "max_etcd_size":55000000},
      {"name":"kapsule-dedicated-4", "availability":"available", "max_nodes":250,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":4000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200000000},
      {"name":"kapsule-dedicated-8", "availability":"available", "max_nodes":500,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":8000000000, "dedicated":true, "audit_logs_[...]
- request:
    body: '{"id":"463a6351-e4e2-491c-bb76-aebc7aabf253", "name":"pn-confident-khorana",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "created_at":"2025-07-30T13:43:08.082758Z", "updated_at":"2025-07-30T13:43:08.082758Z",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"af78d69e-65df-4437-b025-595cce233b29",
      "created_at":"2025-07-30T13:43:08.082758Z", "updated_at":"2025-07-30T13:43:08.082758Z",
      "subnet":"172.16.20.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "private_network_id":"463a6351-e4e2-491c-bb76-aebc7aabf253", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},
      {"id":"f3cadde2-1ab0-4c2a-a3da-548f41916396", "created_at":"2025-07-30T13:43:08.082758Z",
      "updated_at":"2025-07-30T13:43:08.082758Z", "subnet":"fd63:256c:45f7:72ee::/64",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"463a6351-e4e2-491c-bb76-aebc7aabf253",
      "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"463a6351-e4e2-491c-bb76-aebc7aabf253", "name":"pn-confident-khorana",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "created_at":"2025-07-30T13:43:08.082758Z", "updated_at":"2025-07-30T13:43:08.082758Z",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"af78d69e-65df-4437-b025-595cce233b29",
      "created_at":"2025-07-30T13:43:08.082758Z", "updated_at":"2025-07-30T13:43:08.082758Z",
      "subnet":"172.16.20.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "private_network_id":"463a6351-e4e2-491c-bb76-aebc7aabf253", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},
      {"id":"f3cadde2-1ab0-4c2a-a3da-548f41916396", "created_at":"2025-07-30T13:43:08.082758Z",
      "updated_at":"2025-07-30T13:43:08.082758Z", "subnet":"fd63:256c:45f7:72ee::/64",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"463a6351-e4e2-491c-bb76-aebc7aabf253",
      "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par", "id":"f1e8452c-2434-4cf8-a594-bf8f5abf44fb", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-30T13:43:08.838639Z",
      "updated_at":"2025-07-30T13:43:08.838639Z", "type":"kapsule", "name":"cli-test-get-cluster",
      "description":"", "status":"creating", "version":"1.32.3", "cni":"cilium", "tags":[],
      "cluster_url":"https://f1e8452c-2434-4cf8-a594-bf8f5abf44fb.api.k8s.fr-par.scw.cloud:6443",
      "dns_wildcard":"*.f1e8452c-2434-4cf8-a594-bf8f5abf44fb.nodes.k8s.fr-par.scw.cloud",
      "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m",
      "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false,
      "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10,
      "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600},
      "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}},
      "upgrade_available":true, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"",
      "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[],
      "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"463a6351-e4e2-491c-bb76-aebc7aabf253",
      "commitment_ends_at":"2025-07-30T13:43:08.838648Z", "acl_available":true, "iam_nodes_group_id":"",
      "new_images_enabled":false, "pod_cidr":"", "service_cidr":"", "service_dns_ip":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par", "id":"f1e8452c-2434-4cf8-a594-bf8f5abf44fb", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-30T13:43:08.838639Z",
      "updated_at":"2025-07-30T13:43:08.838639Z", "type":"kapsule", "name":"cli-test-get-clus[...]
[...]
- request:
    body: '{"total_count":1, "pools":[{"region":"fr-par", "id":"c63e3bfd-7a81-4e1c-8182-faf02c53ebe9",
      "cluster_id":"f1e8452c-2434-4cf8-a594-bf8f5abf44fb", "created_at":"2025-07-30T13:43:08.685249Z",
      "updated_at":"2025-07-30T13:43:08.685249Z", "name":"default", "status":"scaling",
      "version":"1.32.3", "node_type":"dev1_m", "autoscaling":false, "size":1, "min_size":0,
      "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[],
      "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1,
      "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"l_ssd", "root_volume_size":40000000000,
      "public_ip_disabled":false, "new_images_enabled":false, "security_group_id":"592f683f-83b9-47e4-9434-ca1931bdaa4b"}]}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f1e8452c-2434-4cf8-a594-bf8f5abf44fb/pools?order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: '{"total_count":1, "pools":[{"region":"fr-par", "id":"c63e3bfd-7a81-4e1c-8182-faf02c53ebe9",
      "cluster_id":"f1e8452c-2434-4cf8-a594-bf8f5abf44fb", "created_at":"2025-07-30T13:43:08.685249Z",
      "updated_at":"2025-07-30T13:43:08.685249Z", "name":"default", "status":"scaling",
      "version":"1.32.3", "node_type":"dev1_m", "autoscaling":false, "size":1, "min_size":0,
      "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[],
      "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1,
      "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"l_ssd", "root_volume_size":40000000000,
      "public_ip_disabled":false, "new_images_enabled":false, "security_group_id":"592f683f-83b9-47e4-9434-ca1931bdaa4b"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"f1e8452c-2434-4cf8-a594-bf8f5abf44fb","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f1e8452c-2434-4cf8-a594-bf8f5abf44fb
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"f1e8452c-2434-4cf8-a594-bf8f5abf44fb","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
