---
version: 1
interactions:
- request:
    body: '{"versions":[{"region":"fr-par", "name":"1.32.3", "label":"Kubernetes 1.32.3",
      "available_cnis":["cilium", "calico", "kilo", "none"], "available_container_runtimes":["containerd"],
      "available_feature_gates":["HPAScaleToZero", "InPlacePodVerticalScaling", "SidecarContainers",
      "DRAAdminAccess", "DRAResourceClaimDeviceStatus", "DynamicResourceAllocation"],
      "available_admission_plugins":["AlwaysPullImages", "PodNodeSelector", "PodTolerationRestriction"],
      "available_kubelet_args":{"containerLogMaxFiles":"uint16", "containerLogMaxSize":"quantity",
      "cpuCFSQuota":"bool", "cpuCFSQuotaPeriod":"duration", "cpuManagerPolicy":"enum:none|static",
      "enableDebuggingHandlers":"bool", "imageGCHighThresholdPercent":"uint32", "imageGCLowThresholdPercent":"uint32",
      "maxParallelImagePulls":"int32", "maxPods":"uint16", "registryBurst":"int32",
      "registryPullQPS":"int32", "serializeImagePulls":"bool"}}, {"region":"fr-par",
      "name":"1.31.7", "label":"Kubernetes 1.31.7", "available_cnis":["cilium", "calico",
      "kilo", "none"], "available_container_runtimes":["containerd"], "available_feature_gates":["HPAScaleToZero",
      "InPlacePodVerticalScaling", "SidecarContainers"], "available_admission_plugins":["AlwaysPullImages",
      "PodNodeSelector", "PodTolerationRestriction"], "available_kubelet_args":{"containerLogMaxFiles":"uint16",
      "containerLogMaxSize":"quantity", "cpu[...]
