---
version: 1
interactions:
- request:
    body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150,
      "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000,
      "dedicated":false, "audit_logs_supported":false, "max_etcd_size":55000000},
      {"name":"kapsule-dedicated-4", "availability":"available", "max_nodes":250,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":4000000000, "dedicated":true, "audit_logs_supported":false, "max_etcd_size":200000000},
      {"name":"kapsule-dedicated-8", "availability":"available", "max_nodes":500,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":8000000000, "dedicated":true, "audit_logs[...]
- request:
    body: '{"id":"24edfd9c-505b-47c5-ba77-d8fc1d0efb5d", "name":"pn-great-cannon",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "created_at":"2024-09-19T07:57:53.357799Z", "updated_at":"2024-09-19T07:57:53.357799Z",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "subnets":[{"id":"8884b3b0-ea4d-44e9-bfd4-5b3daa08ea7b",
      "created_at":"2024-09-19T07:57:53.357799Z", "updated_at":"2024-09-19T07:57:53.357799Z",
      "subnet":"172.16.128.0/22", "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "private_network_id":"24edfd9c-505b-47c5-ba77-d8fc1d0efb5d", "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"},
      {"id":"b5224134-47b2-46dd-bda2-e4213af2c2da", "created_at":"2024-09-19T07:57:53.357799Z",
      "updated_at":"2024-09-19T07:57:53.357799Z", "subnet":"fd58:6b70:2d5a:19ce::/64",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "private_network_id":"24edfd9c-505b-47c5-ba77-d8fc1d0efb5d",
      "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"}], "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"24edfd9c-505b-47c5-ba77-d8fc1d0efb5d", "name":"pn-great-cannon",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "created_at":"2024-09-19T07:57:53.357799Z", "updated_at":"2024-09-19T07:57:53.357799Z",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "subnets":[{"id":"8884b3b0-ea4d-44e9-bfd4-5b3daa08ea7b",
      "created_at":"2024-09-19T07:57:53.357799Z", "updated_at":"2024-09-19T07:57:53.357799Z",
      "subnet":"172.16.128.0/22", "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "private_network_id":"24edfd9c-505b-47c5-ba77-d8fc1d0efb5d", "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"},
      {"id":"b5224134-47b2-46dd-bda2-e4213af2c2da", "created_at":"2024-09-19T07:57:53.357799Z",
      "updated_at":"2024-09-19T07:57:53.357799Z", "subnet":"fd58:6b70:2d5a:19ce::/64",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "private_network_id":"24edfd9c-505b-47c5-ba77-d8fc1d0efb5d",
      "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"}], "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par", "id":"b4553d7f-fef6-40c6-b5b1-3c7c0f1c5c02", "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "created_at":"2024-09-19T07:57:54.536727Z",
      "updated_at":"2024-09-19T07:57:54.536728Z", "type":"kapsule", "name":"cli-test-get-kubeconfig",
      "description":"", "status":"creating", "version":"1.27.1", "cni":"cilium", "tags":[],
      "cluster_url":"https://b4553d7f-fef6-40c6-b5b1-3c7c0f1c5c02.api.k8s.fr-par.scw.cloud:6443",
      "dns_wildcard":"*.b4553d7f-fef6-40c6-b5b1-3c7c0f1c5c02.nodes.k8s.fr-par.scw.cloud",
      "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m",
      "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false,
      "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10,
      "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600},
      "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}},
      "upgrade_available":true, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"",
      "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[],
      "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"24edfd9c-505b-47c5-ba77-d8fc1d0efb5d",
      "commitment_ends_at":"2024-09-19T07:57:54.536739Z", "routed_ip_enabled":true,
      "sbs_csi_enabled":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par", "id":"b4553d7f-fef6-40c6-b5b1-3c7c0f1c5c02", "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "created_at":"2024-09-19T07:57:54.536727Z",
      "updated_at":"2024-09-19T07:57:54.536728Z", "type":"kapsule", "name":"cli-test-get-ku[...]
[...]
- request:
    body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWdldC1rdWJlY29uZmlnIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTUUxRWEzaFBSRUV6VGxSak1VNXNiMWhFVkUwd1RVUnJlRTlFUVROT1ZHTXhUbXh2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"b4553d7f-fef6-40c6-b5b1-3c7c0f1c5c02","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b4553d7f-fef6-40c6-b5b1-3c7c0f1c5c02
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"b4553d7f-fef6-40c6-b5b1-3c7c0f1c5c02","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
