---
version: 1
interactions:
- request:
    body: '{"cluster_types":[{"name":"kapsule","availability":"available","max_nodes":150,"commitment_delay":"0s","sla":0,"resiliency":"standard","memory":4000000000,"dedicated":false,"audit_logs_supported":false,"max_etcd_size":55000000},{"name":"kapsule-dedicated-4","availability":"available","max_nodes":250,"commitment_delay":"2592000s","sla":99.5,"resiliency":"high_availability","memory":4000000000,"dedicated":true,"audit_logs_supported":true,"max_etcd_size":200000000},{"name":"kapsule-dedicated-8","availability":"available","max_nodes":500,"commitment_delay":"2592000s","sla":99.5,"resiliency":"high_availability","memory":8000000000,"dedicated":true,"audit_logs_supported":true,"max_etcd_size":200000000},{"name":"kap[...]
- request:
    body: '{"id":"f6bcb614-016e-413f-9797-b9350a12c220","name":"pn-pensive-cray","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2025-09-12T15:26:25.848941Z","updated_at":"2025-09-12T15:26:25.848941Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"465ef7f7-f622-40ee-9dd3-64166c60e6ac","created_at":"2025-09-12T15:26:25.848941Z","updated_at":"2025-09-12T15:26:25.848941Z","subnet":"172.16.12.0/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"f6bcb614-016e-413f-9797-b9350a12c220","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"id":"7e4262ad-025a-47fe-8e65-9022b3e1eb72","created_at":"2025-09-12T15:26:25.848941Z","updated_at":"2025-09-12T15:26:25.848941Z","subnet":"fd63:256c:45f7:339a::/64","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"f6bcb614-016e-413f-9797-b9350a12c220","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"f6bcb614-016e-413f-9797-b9350a12c220","name":"pn-pensive-cray","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2025-09-12T15:26:25.848941Z","updated_at":"2025-09-12T15:26:25.848941Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"465ef7f7-f622-40ee-9dd3-64166c60e6ac","created_at":"2025-09-12T15:26:25.848941Z","updated_at":"2025-09-12T15:26:25.848941Z","subnet":"172.16.12.0/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"f6bcb614-016e-413f-9797-b9350a12c220","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"id":"7e4262ad-025a-47fe-8e65-9022b3e1eb72","created_at":"2025-09-12T15:26:25.848941Z","updated_at":"2025-09-12T15:26:25.848941Z","subnet":"fd63:256c:45f7:339a::/64","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"f6bcb614-016e-413f-9797-b9350a12c220","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par","id":"f97b6e95-472d-490b-a7f3-2caa6584b888","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2025-09-12T15:26:26.627243Z","updated_at":"2025-09-12T15:26:26.627244Z","type":"kapsule","name":"cli-test-get-kubeconfig","description":"","status":"creating","version":"1.32.3","cni":"cilium","tags":[],"cluster_url":"https://f97b6e95-472d-490b-a7f3-2caa6584b888.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.f97b6e95-472d-490b-a7f3-2caa6584b888.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"f6bcb614-016e-413f-9797-b9350a12c220","commitment_ends_at":"2025-09-12T15:26:26.627252Z","acl_available":true,"iam_nodes_group_id":"","new_images_enabled":false,"pod_cidr":"","service_cidr":"","service_dns_ip":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"f97b6e95-472d-490b-a7f3-2caa6584b888","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2025-09-12T15:26:26.627243Z","updated_at":"2025-09-12T15:26:26.627244Z","type":"kapsule","name":"cli-test-get-kubeconfig","descriptio[...]
[...]
- request:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWdldC1rdWJlY29uZmlnIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTVUxRWEzaE5WRVV4VFdwWmVVNHhiMWhFVkUweFRVUnJlRTFVUlRGTmFsbDVUakZ2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"f97b6e95-472d-490b-a7f3-2caa6584b888","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f97b6e95-472d-490b-a7f3-2caa6584b888
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"f97b6e95-472d-490b-a7f3-2caa6584b888","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
