---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/cluster-types
    method: GET
  response:
    body: "{\"cluster_types\":[{\"name\":\"kapsule\", \"availability\":\"available\", \"max_nodes\":150, \"commitment_delay\":\"0s\", \"sla\":0, \"resiliency\":\"standard\", \"memory\":4000000000, \"dedicated\":false, \"audit_logs_supported\":false, \"max_etcd_size\":55000000}, {\"name\":\"kapsule-dedicated-4\", \"availability\":\"available\", \"max_nodes\":250, \"commitment_delay\":\"2592000s\", \"sla\":99.5, \"resiliency\":\"high_availability\", \"memory\":4000000000, \"dedicated\":true, \"audit_logs_supported\":true, \"max_etcd_size\":200000000}, {\"name\":\"kapsule-dedicated-8\", \"availability\":\"available\", \"max_nodes\":500, \"commitment_delay\":\"2592000s\", \"sla\":99.5, \"resiliency\":\"high_availability\", \"memory\":8000000000, \"dedicated\":tr[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"pn-hungry-mendeleev\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"tags\":[\"created-along-with-k8s-cluster\",\"created-by-cli\"],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"62937bd9-51e3-4fe8-9cf8-9e399657b60f\", \"name\":\"pn-hungry-mendeleev\", \"tags\":[\"created-along-with-k8s-cluster\", \"created-by-cli\"], \"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-03T16:56:45.887247Z\", \"updated_at\":\"2025-11-03T16:56:45.887247Z\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"subnets\":[{\"id\":\"d24c3259-c6c5-4549-aba6-6eb795a07f1d\", \"created_at\":\"2025-11-03T16:56:45.887247Z\", \"updated_at\":\"2025-11-03T16:56:45.887247Z\", \"subnet\":\"172.16.8.0/22\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"private_network_id\":\"62937bd9-51e3-4fe8-9cf8-9e399657b60f\", \"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}, {\"id\":\"1a3779eb-597e-4af2-b028-f14cc854bed2\", \"created_at\":\"2025-11-03T16:56:45.887247Z\", \"updated_at\":\"2025-11-03T16:56:45.887247Z\", \"subnet\":\"fd63:256c:45f7:980b::/64\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"private_network_id\":\"62937bd9-51e3-4fe8-9cf8-9e399657b60f\", \"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}], \"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\", \"dhcp_enabled\":true, \"default_route_propagation_enabled\":false, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 751.262214ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"type\":\"\",\"name\":\"cli-test-install-kubeconfig-simple\",\"description\":\"\",\"tags\":null,\"version\":\"1.32.3\",\"cni\":\"cilium\",\"pools\":[{\"name\":\"default\",\"node_type\":\"DEV1-M\",\"placement_group_id\":null,\"autoscaling\":false,\"size\":1,\"min_size\":null,\"max_size\":null,\"container_runtime\":\"unknown_runtime\",\"autohealing\":false,\"tags\":null,\"kubelet_args\":null,\"upgrade_policy\":null,\"zone\":\"\",\"root_volume_type\":\"default_volume_type\",\"root_volume_size\":null,\"public_ip_disabled\":false,\"security_group_id\":null}],\"feature_gates\":null,\"admission_plugins\":null,\"apiserver_cert_sans\":null,\"private_network_id\":\"62937bd9-51e3-4fe8-9cf8-9e399657b60f\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"54e46078-4214-41be-a152-3afe57938645\", \"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-03T16:56:46.631526Z\", \"updated_at\":\"2025-11-03T16:56:46.631526Z\", \"type\":\"kapsule\", \"name\":\"cli-test-install-kubeconfig-simple\", \"description\":\"\", \"status\":\"creating\", \"version\":\"1.32.3\", \"cni\":\"cilium\", \"tags\":[], \"cluster_url\":\"https://54e46078-4214-41be-a152-3afe57938645.api.k8s.fr-par.scw.cloud:6443\", \"dns_wildcard\":\"*.54e46078-4214-41be-a152-3afe57938645.nodes.k8s.fr-par.scw.cloud\", \"autoscaler_config\":{\"scale_down_disabled\":false, \"scale_down_delay_after_add\":\"10m\", \"estimator\":\"binpacking\", \"expander\":\"random\", \"ignore_daemonsets_utilization\":false, \"balance_similar_node_groups\":false, \"expendable_pods_priority_cutoff\":-10, \"scale_down_unneeded_time\":\"10m\", \"scale_down_utilization_threshold\":0.5, \"max_graceful_termination_sec\":600}, \"auto_upgrade\":{\"enabled\":false, \"maintenance_window\":{\"start_hour\":0, \"day\":\"any\"}}, \"upgrade_available\":true, \"feature_gates\":[], \"admission_plugins\":[], \"open_id_connect_config\":{\"issuer_url\":\"\", \"client_id\":\"\", \"username_claim\":\"\", \"username_prefix\":\"\", \"groups_claim\":[], \"groups_prefix\":\"\", \"required_claim\":[]}, \"apiserver_cert_sans\":[], \"private_network_id\":\"62937bd9-51e3-4fe8-9cf8-9e399657b60f\", \"commitment_ends_at\":\"2025-11-03T16:56:46.631534Z\", \"acl_available\":true, \"iam_nodes_group_id\":\"\", \"new_images_enabled\":false, \"pod_cidr\":\"100.64.0.0/15\", \"service_cidr\":\"10.32.0.0/20\", \"service_dns_ip\":\"10.32.0.10\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 312.48502ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/54e46078-4214-41be-a152-3afe57938645
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"54e46078-4214-41be-a152-3afe57938645\", \"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-03T16:56:46.631526Z\", \"updated_at\":\"2025-11-03T16:56:46.631526Z\", \"type\":\"k[...]
[...]
- id: 21
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"access_key\":\"SCW2DWFM69FT5GRJARV0\", \"secret_key\":null, \"description\":\"my prod API key\", \"created_at\":\"2025-07-29T18:35:44.750352Z\", \"updated_at\":\"2025-07-29T18:35:44.750352Z\", \"expires_at\":\"2026-07-29T18:35:44.583Z\", \"default_project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"51.159.46.153\", \"user_id\":\"77e7fa85-f305-4ea2-afea-09571a039336\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 52.913932ms
- id: 22
  request:
    host: api.scaleway.com
    form:
      redacted:
      - "true"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/54e46078-4214-41be-a152-3afe57938645/kubeconfig?redacted=true
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\", \"content_type\":\"application/octet-stream\", \"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWluc3RhbGwta3ViZWNvbmZpZy1zaW1wbGUiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VKWGVrTkRRVkZIWjBGM1NVSkJaMGxDUVVSQlMwSm5aM0ZvYTJwUFVGRlJSRUZxUVZaTlVrMTNSVkZaUkZaUlVVUkZkM0J5WkZkS2JHTnROV3dLWkVkV2VrMUNORmhFVkVreFRWUkZkMDFxUlRKT1ZGa3dUbXh2V0VSVVRURk5WRVYzVFdwRk1rNVVXVEJPYkc5M1JsUkZWRTFDUlVkQk1WVkZRWGhOU3dwaE0xWnBXbGhLZFZwWVVteGpla0phVFVKTlIwSjVjVWRUVFRRNVFXZEZSME5EY1VkVF[...]
[...]
- id: 24
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "true"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/54e46078-4214-41be-a152-3afe57938645?with_additional_resources=true
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"54e46078-4214-41be-a152-3afe57938645\", \"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-03T16:56:46.631526Z\", \"updated_at\":\"2025-11-03T16:58:12.813274Z\", \"type\"[...]
[...]
- id: 27
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/54e46078-4214-41be-a152-3afe57938645
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"cluster\",\"resource_id\":\"54e46078-4214-41be-a152-3afe57938645\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 26.28372ms
