---
version: 1
interactions:
- request:
    body: '{"id":"0c8cff83-8269-4125-ac96-266fc0ecdc0c","name":"pn-reverent-minsky","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:47:00.845832Z","updated_at":"2023-06-13T09:47:00.845832Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"0665cf01-fd97-4ac2-8ed3-e5e6c97b3915","created_at":"2023-06-13T09:47:00.845832Z","updated_at":"2023-06-13T09:47:00.845832Z","subnet":"172.16.20.0/22"},{"id":"60d9789e-0478-4e3c-ae9e-5b52f8f8c54a","created_at":"2023-06-13T09:47:00.845832Z","updated_at":"2023-06-13T09:47:00.845832Z","subnet":"fd63:256c:45f7:2b1::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"0c8cff83-8269-4125-ac96-266fc0ecdc0c","name":"pn-reverent-minsky","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:47:00.845832Z","updated_at":"2023-06-13T09:47:00.845832Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"0665cf01-fd97-4ac2-8ed3-e5e6c97b3915","created_at":"2023-06-13T09:47:00.845832Z","updated_at":"2023-06-13T09:47:00.845832Z","subnet":"172.16.20.0/22"},{"id":"60d9789e-0478-4e3c-ae9e-5b52f8f8c54a","created_at":"2023-06-13T09:47:00.845832Z","updated_at":"2023-06-13T09:47:00.845832Z","subnet":"fd63:256c:45f7:2b1::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par","id":"7fbdf5a1-70a3-41e8-92a9-8114a34ee549","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:47:01.111946636Z","updated_at":"2023-06-13T09:47:01.399600674Z","type":"kapsule","name":"cli-test-get-kubeconfig","description":"","status":"creating","version":"1.27.1","cni":"cilium","tags":[],"cluster_url":"https://7fbdf5a1-70a3-41e8-92a9-8114a34ee549.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.7fbdf5a1-70a3-41e8-92a9-8114a34ee549.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"0c8cff83-8269-4125-ac96-266fc0ecdc0c"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"7fbdf5a1-70a3-41e8-92a9-8114a34ee549","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:47:01.111946636Z","updated_at":"2023-06-13T09:47:01.399600674Z","type":"kapsule","n[...]
[...]
- request:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWdldC1rdWJlY29uZmlnIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxRVdYaE5ha0UxVGtSamQwMXNiMWhFVkUxNlRVUlplRTFxUVRWT1JHTjNUV3h2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"7fbdf5a1-70a3-41e8-92a9-8114a34ee549","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7fbdf5a1-70a3-41e8-92a9-8114a34ee549
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"7fbdf5a1-70a3-41e8-92a9-8114a34ee549","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
