---
version: 1
interactions:
- request:
    body: '{"organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","name":"cli-test","description":"","tags":null,"version":"1.17.3","cni":"cilium","enable_dashboard":false,"ingress":"unknown_ingress","pools":[{"name":"default","node_type":"DEV1-M","placement_group_id":null,"autoscaling":false,"size":1,"min_size":null,"max_size":null,"container_runtime":"unknown_runtime","autohealing":false,"tags":null}],"autoscaler_config":null,"auto_upgrade":null,"feature_gates":null,"admission_plugins":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"7cf93e3b-8874-4583-8c5f-646cbab325be","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2020-03-31T17:17:43.385981825Z","updated_at":"2020-03-31T17:17:43.385981825Z","name":"cli-test","description":"","status":"creating","version":"1.17.3","cni":"cilium","tags":[],"cluster_url":"https://7cf93e3b-8874-4583-8c5f-646cbab325be.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.7cf93e3b-8874-4583-8c5f-646cbab325be.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7cf93e3b-8874-4583-8c5f-646cbab325be
    method: GET
  response:
    body: '{"region":"fr-par","id":"7cf93e3b-8874-4583-8c5f-646cbab325be","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2020-03-31T17:17:43.385982Z","updated_at":"2020-03-31T17:17:43.385982Z","name":"cli-test","description":"","status":"creating","version":"1.17.3","cni":"cilium","tags":[],"cluster_url":"https://7cf93e3b-8874-4583-8c5f-646cbab325be.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.7cf93e3b-8874-4583-8c5f-646cbab325be.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7cf93e3b-8874-4583-8c5f-646cbab325be/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogY2xpdGVzdAogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTjVSRU5EUVdKRFowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZDAxRVRYcE5SRVV6VFZSak1FNUdiMWhFVkUxM1RVUk5lazFFUlROTlZHTXdUa1p2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFFWRnZRMmRuUlV[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7cf93e3b-8874-4583-8c5f-646cbab325be?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"7cf93e3b-8874-4583-8c5f-646cbab325be","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2020-03-31T17:17:43.385982Z","updated_at":"2020-03-31T17:18:34.694991442Z","name":"cli-test","description":"","status":"deleting","version":"1.17.3","cni":"cilium","tags":[],"cluster_url":"https://7cf93e3b-8874-4583-8c5f-646cbab325be.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.7cf93e3b-8874-4583-8c5f-646cbab325be.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7cf93e3b-8874-4583-8c5f-646cbab325be
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"7cf93e3b-8874-4583-8c5f-646cbab325be","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
