---
version: 1
interactions:
- request:
    body: '{"id":"a52bec4e-5f72-4c74-98ae-ad80d968f453","name":"pn-infallible-kirch","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-14T10:10:22.019018Z","updated_at":"2023-06-14T10:10:22.019018Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"ef695022-6a66-4c0e-af04-7ba0bbe06369","created_at":"2023-06-14T10:10:22.019018Z","updated_at":"2023-06-14T10:10:22.019018Z","subnet":"172.16.112.0/22"},{"id":"0ba2ef4f-d040-429a-aad8-7a793388ff43","created_at":"2023-06-14T10:10:22.019018Z","updated_at":"2023-06-14T10:10:22.019018Z","subnet":"fd63:256c:45f7:5713::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"a52bec4e-5f72-4c74-98ae-ad80d968f453","name":"pn-infallible-kirch","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-14T10:10:22.019018Z","updated_at":"2023-06-14T10:10:22.019018Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"ef695022-6a66-4c0e-af04-7ba0bbe06369","created_at":"2023-06-14T10:10:22.019018Z","updated_at":"2023-06-14T10:10:22.019018Z","subnet":"172.16.112.0/22"},{"id":"0ba2ef4f-d040-429a-aad8-7a793388ff43","created_at":"2023-06-14T10:10:22.019018Z","updated_at":"2023-06-14T10:10:22.019018Z","subnet":"fd63:256c:45f7:5713::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par","id":"e5507bd5-02be-4d1a-9fcd-1b3d8634bdb0","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-14T10:10:22.344478513Z","updated_at":"2023-06-14T10:10:22.629587105Z","type":"kapsule","name":"cli-test-install-kubeconfig-simple","description":"","status":"creating","version":"1.27.1","cni":"cilium","tags":[],"cluster_url":"https://e5507bd5-02be-4d1a-9fcd-1b3d8634bdb0.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.e5507bd5-02be-4d1a-9fcd-1b3d8634bdb0.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"a52bec4e-5f72-4c74-98ae-ad80d968f453"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"e5507bd5-02be-4d1a-9fcd-1b3d8634bdb0","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-14T10:10:22.344478513Z","updated_at":"2023-06-14T10:10:22.629587105Z","type":"kapsule","n[...]
[...]
- request:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWluc3RhbGwta3ViZWNvbmZpZy1zaW1wbGUiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkplazFFV1hoTmVrVjNUVlJCZVU1R2IxaEVWRTE2VFVSWmVFMTZSWGROVkVGNVRrWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlV[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"e5507bd5-02be-4d1a-9fcd-1b3d8634bdb0","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e5507bd5-02be-4d1a-9fcd-1b3d8634bdb0
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"e5507bd5-02be-4d1a-9fcd-1b3d8634bdb0","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
