---
version: 1
interactions:
- request:
    body: '{"id":"d74ffd0f-d524-4941-93e9-e0d5885b21f4","name":"pn-dazzling-babbage","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-14T10:03:32.465020Z","updated_at":"2023-06-14T10:03:32.465020Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"a4270814-b4dd-4fd6-8e9c-792f11ccbb9a","created_at":"2023-06-14T10:03:32.465020Z","updated_at":"2023-06-14T10:03:32.465020Z","subnet":"172.16.80.0/22"},{"id":"861ada82-5307-455b-a69b-312664196a45","created_at":"2023-06-14T10:03:32.465020Z","updated_at":"2023-06-14T10:03:32.465020Z","subnet":"fd63:256c:45f7:f94b::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"d74ffd0f-d524-4941-93e9-e0d5885b21f4","name":"pn-dazzling-babbage","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-14T10:03:32.465020Z","updated_at":"2023-06-14T10:03:32.465020Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"a4270814-b4dd-4fd6-8e9c-792f11ccbb9a","created_at":"2023-06-14T10:03:32.465020Z","updated_at":"2023-06-14T10:03:32.465020Z","subnet":"172.16.80.0/22"},{"id":"861ada82-5307-455b-a69b-312664196a45","created_at":"2023-06-14T10:03:32.465020Z","updated_at":"2023-06-14T10:03:32.465020Z","subnet":"fd63:256c:45f7:f94b::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par","id":"b4d01188-08ab-43cc-b889-02f8979f4b11","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-14T10:03:33.087351954Z","updated_at":"2023-06-14T10:03:33.513005466Z","type":"kapsule","name":"cli-test-wait-cluster","description":"","status":"creating","version":"1.27.1","cni":"cilium","tags":[],"cluster_url":"https://b4d01188-08ab-43cc-b889-02f8979f4b11.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.b4d01188-08ab-43cc-b889-02f8979f4b11.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"d74ffd0f-d524-4941-93e9-e0d5885b21f4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"b4d01188-08ab-43cc-b889-02f8979f4b11","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-14T10:03:33.087351954Z","updated_at":"2023-06-14T10:03:33.513005466Z","type":"kapsule","n[...]
[...]
- request:
    body: '{"total_count":1,"pools":[{"region":"fr-par","id":"e7f01036-edfd-4299-ab98-8172ab128d25","cluster_id":"b4d01188-08ab-43cc-b889-02f8979f4b11","created_at":"2023-06-14T10:03:33.186306Z","updated_at":"2023-06-14T10:03:33.232181Z","name":"default","status":"scaling","version":"1.27.1","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":150000000000}]}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b4d01188-08ab-43cc-b889-02f8979f4b11/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"pools":[{"region":"fr-par","id":"e7f01036-edfd-4299-ab98-8172ab128d25","cluster_id":"b4d01188-08ab-43cc-b889-02f8979f4b11","created_at":"2023-06-14T10:03:33.186306Z","updated_at":"2023-06-14T10:03:33.232181Z","name":"default","status":"scaling","version":"1.27.1","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":150000000000}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par","id":"e7f01036-edfd-4299-ab98-8172ab128d25","cluster_id":"b4d01188-08ab-43cc-b889-02f8979f4b11","created_at":"2023-06-14T10:03:33.186306Z","updated_at":"2023-06-14T10:03:33.232181Z","name":"default","status":"scaling","version":"1.27.1","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":150000000000}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/e7f01036-edfd-4299-ab98-8172ab128d25
    method: GET
  response:
    body: '{"region":"fr-par","id":"e7f01036-edfd-4299-ab98-8172ab128d25","cluster_id":"b4d01188-08ab-43cc-b889-02f8979f4b11","created_at":"2023-06-14T10:03:33.186306Z","updated_at":"2023-06-14T10:03:33.232181Z","name":"default","status":"scaling","version":"1.27.1","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":150000000000}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"b4d01188-08ab-43cc-b889-02f8979f4b11","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b4d01188-08ab-43cc-b889-02f8979f4b11
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"b4d01188-08ab-43cc-b889-02f8979f4b11","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
