---
version: 1
interactions:
- request:
    body: '{"id":"ba38b14a-d28e-4a3f-a9b9-8b1eb0d4dcc8","name":"pn-musing-gauss","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-14T10:13:54.359419Z","updated_at":"2023-06-14T10:13:54.359419Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"7a7cb2d0-6d2e-4420-90ab-7be208709d00","created_at":"2023-06-14T10:13:54.359419Z","updated_at":"2023-06-14T10:13:54.359419Z","subnet":"172.16.140.0/22"},{"id":"4ec93b2f-240b-4599-b5b6-a045b49e882b","created_at":"2023-06-14T10:13:54.359419Z","updated_at":"2023-06-14T10:13:54.359419Z","subnet":"fd63:256c:45f7:5423::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"ba38b14a-d28e-4a3f-a9b9-8b1eb0d4dcc8","name":"pn-musing-gauss","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-14T10:13:54.359419Z","updated_at":"2023-06-14T10:13:54.359419Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"7a7cb2d0-6d2e-4420-90ab-7be208709d00","created_at":"2023-06-14T10:13:54.359419Z","updated_at":"2023-06-14T10:13:54.359419Z","subnet":"172.16.140.0/22"},{"id":"4ec93b2f-240b-4599-b5b6-a045b49e882b","created_at":"2023-06-14T10:13:54.359419Z","updated_at":"2023-06-14T10:13:54.359419Z","subnet":"fd63:256c:45f7:5423::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par","id":"b99b48c5-a38d-4feb-8ab6-d1e2262841d4","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-14T10:13:54.594211931Z","updated_at":"2023-06-14T10:13:54.905465453Z","type":"kapsule","name":"cli-test-uninstall-kubeconfig-merge","description":"","status":"creating","version":"1.27.1","cni":"cilium","tags":[],"cluster_url":"https://b99b48c5-a38d-4feb-8ab6-d1e2262841d4.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.b99b48c5-a38d-4feb-8ab6-d1e2262841d4.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"ba38b14a-d28e-4a3f-a9b9-8b1eb0d4dcc8"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"b99b48c5-a38d-4feb-8ab6-d1e2262841d4","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-14T10:13:54.594211931Z","updated_at":"2023-06-14T10:13:54.905465453Z","type":"kapsule","n[...]
[...]
- request:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LXVuaW5zdGFsbC1rdWJlY29uZmlnLW1lcmdlIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxRVdYaE5la1YzVFZSTk1VNXNiMWhFVkUxNlRVUlplRTE2UlhkTlZFMHhUbXh2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJ[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"b99b48c5-a38d-4feb-8ab6-d1e2262841d4","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b99b48c5-a38d-4feb-8ab6-d1e2262841d4
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"b99b48c5-a38d-4feb-8ab6-d1e2262841d4","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
