---
version: 1
interactions:
- request:
    body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150,
      "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000,
      "dedicated":false, "audit_logs_supported":false, "max_etcd_size":55000000},
      {"name":"kapsule-dedicated-4", "availability":"available", "max_nodes":250,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":4000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200000000},
      {"name":"kapsule-dedicated-8", "availability":"available", "max_nodes":500,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":8000000000, "dedicated":true, "audit_logs_[...]
- request:
    body: '{"id":"f1bcba69-95f6-4bc7-9625-545b986733a9", "name":"pn-distracted-roentgen",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "created_at":"2025-05-14T12:16:24.383191Z", "updated_at":"2025-05-14T12:16:24.383191Z",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "subnets":[{"id":"f6a93c15-f134-44d4-9aad-f9ea33da1322",
      "created_at":"2025-05-14T12:16:24.383191Z", "updated_at":"2025-05-14T12:16:24.383191Z",
      "subnet":"172.16.0.0/22", "project_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "private_network_id":"f1bcba69-95f6-4bc7-9625-545b986733a9", "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e"},
      {"id":"6e7b29d2-8de3-4570-b202-e967e65d1fd7", "created_at":"2025-05-14T12:16:24.383191Z",
      "updated_at":"2025-05-14T12:16:24.383191Z", "subnet":"fdd2:c09a:9672:649a::/64",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "private_network_id":"f1bcba69-95f6-4bc7-9625-545b986733a9",
      "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e"}], "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"f1bcba69-95f6-4bc7-9625-545b986733a9", "name":"pn-distracted-roentgen",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "created_at":"2025-05-14T12:16:24.383191Z", "updated_at":"2025-05-14T12:16:24.383191Z",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "subnets":[{"id":"f6a93c15-f134-44d4-9aad-f9ea33da1322",
      "created_at":"2025-05-14T12:16:24.383191Z", "updated_at":"2025-05-14T12:16:24.383191Z",
      "subnet":"172.16.0.0/22", "project_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "private_network_id":"f1bcba69-95f6-4bc7-9625-545b986733a9", "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e"},
      {"id":"6e7b29d2-8de3-4570-b202-e967e65d1fd7", "created_at":"2025-05-14T12:16:24.383191Z",
      "updated_at":"2025-05-14T12:16:24.383191Z", "subnet":"fdd2:c09a:9672:649a::/64",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "private_network_id":"f1bcba69-95f6-4bc7-9625-545b986733a9",
      "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e"}], "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par", "id":"bed1c7f0-46a7-4814-a330-6ddb2a39e2bb", "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "created_at":"2025-05-14T12:16:25.384536Z",
      "updated_at":"2025-05-14T12:16:25.384536Z", "type":"kapsule", "name":"cli-test-install-kubeconfig-simple",
      "description":"", "status":"creating", "version":"1.32.3", "cni":"cilium", "tags":[],
      "cluster_url":"https://bed1c7f0-46a7-4814-a330-6ddb2a39e2bb.api.k8s.fr-par.scw.cloud:6443",
      "dns_wildcard":"*.bed1c7f0-46a7-4814-a330-6ddb2a39e2bb.nodes.k8s.fr-par.scw.cloud",
      "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m",
      "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false,
      "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10,
      "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600},
      "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}},
      "upgrade_available":false, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"",
      "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[],
      "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"f1bcba69-95f6-4bc7-9625-545b986733a9",
      "commitment_ends_at":"2025-05-14T12:16:25.384550Z", "acl_available":true, "iam_nodes_group_id":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par", "id":"bed1c7f0-46a7-4814-a330-6ddb2a39e2bb", "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "created_at":"2025-05-14T12:16:25.384536Z",
      "updated_at":"2025-05-14T12:16:25.384536Z", "type":"kapsule", "name":"cli-test-install-[...]
[...]
- request:
    body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWluc3RhbGwta3ViZWNvbmZpZy1zaW1wbGUiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNVTFFVlhoTmVrVjVUVlJaZVU1c2IxaEVWRTB4VFVSVmVFMTZSWGxOVkZsNVRteHZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlV[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"bed1c7f0-46a7-4814-a330-6ddb2a39e2bb","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/bed1c7f0-46a7-4814-a330-6ddb2a39e2bb
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"bed1c7f0-46a7-4814-a330-6ddb2a39e2bb","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
