---
version: 1
interactions:
- request:
    body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150,
      "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000,
      "dedicated":false}, {"name":"kapsule-dedicated-4", "availability":"available",
      "max_nodes":250, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":4000000000, "dedicated":true}, {"name":"kapsule-dedicated-8", "availability":"available",
      "max_nodes":500, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":8000000000, "dedicated":true}, {"name":"kapsule-dedicated-16", "availability":"available",
      "max_nodes":500, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":16000000000, "dedicated":true}, {"name":"multicloud", "availability":"available",
      "max_nodes":150, "commitment_delay":"0s", "sla":0, "resiliency":"standard",
      "memory":4000000000, "dedicated":false}, {"name":"multicloud-dedicated-4", "availability":"available",
      "max_nodes":250, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":4000000000, "dedicated":true}, {"name":"multicloud-dedicated-8", "availability":"available",
      "max_nodes":500, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":8000000000, "dedicated":true}, {"name":"multicloud-dedicated-16", "availability":"available",
      "max_nodes":500, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":16000000000, "dedicated":true}], "total_count":8}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/cluster-types
    method: GET
  response:
    body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150,
      "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000,
      "dedicated":false}, {"name":"kapsule-dedicated-4", "availability":"available",
      "max_nodes":250, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":4000000000, "dedicated":true}, {"name":"kapsule-dedicated-8", "availability":"available",
      "max_nodes":500, "commit[...]
- request:
    body: '{"id":"832eb121-b53d-4cfe-b2a1-602523f1c567", "name":"pn-focused-mayer",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "created_at":"2023-12-28T14:44:10.329031Z", "updated_at":"2023-12-28T14:44:10.329031Z",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"7a81cfbb-03bd-4b53-af48-fae5ccdb71e5",
      "created_at":"2023-12-28T14:44:10.329031Z", "updated_at":"2023-12-28T14:44:10.329031Z",
      "subnet":"172.16.28.0/22"}, {"id":"2a8e8230-a576-498e-82b4-4d6191a9c188", "created_at":"2023-12-28T14:44:10.329031Z",
      "updated_at":"2023-12-28T14:44:10.329031Z", "subnet":"fd63:256c:45f7:2f0d::/64"}],
      "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"832eb121-b53d-4cfe-b2a1-602523f1c567", "name":"pn-focused-mayer",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "created_at":"2023-12-28T14:44:10.329031Z", "updated_at":"2023-12-28T14:44:10.329031Z",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"7a81cfbb-03bd-4b53-af48-fae5ccdb71e5",
      "created_at":"2023-12-28T14:44:10.329031Z", "updated_at":"2023-12-28T14:44:10.329031Z",
      "subnet":"172.16.28.0/22"}, {"id":"2a8e8230-a576-498e-82b4-4d6191a9c188", "created_at":"2023-12-28T14:44:10.329031Z",
      "updated_at":"2023-12-28T14:44:10.329031Z", "subnet":"fd63:256c:45f7:2f0d::/64"}],
      "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par", "id":"7993085a-9a23-4e78-a8ca-e0ad1580f251", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2023-12-28T14:44:11.571406503Z",
      "updated_at":"2023-12-28T14:44:11.800047793Z", "type":"kapsule", "name":"cli-test-get-kubeconfig",
      "description":"", "status":"creating", "version":"1.27.1", "cni":"cilium", "tags":[],
      "cluster_url":"https://7993085a-9a23-4e78-a8ca-e0ad1580f251.api.k8s.fr-par.scw.cloud:6443",
      "dns_wildcard":"*.7993085a-9a23-4e78-a8ca-e0ad1580f251.nodes.k8s.fr-par.scw.cloud",
      "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m",
      "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false,
      "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10,
      "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600},
      "dashboard_enabled":false, "ingress":"none", "auto_upgrade":{"enabled":false,
      "maintenance_window":{"start_hour":0, "day":"any"}}, "upgrade_available":true,
      "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"",
      "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[],
      "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"832eb121-b53d-4cfe-b2a1-602523f1c567",
      "commitment_ends_at":"2023-12-28T14:44:11.571406503Z", "audit_log":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par", "id":"7993085a-9a23-4e78-a8ca-e0ad1580f251", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2023-12-28T14:44:11.571406503Z",
      "updated_at":"2023-12-28T14:44:11.800047793Z", "type":"kapsule", "name":"cli-test[...]
[...]
- request:
    body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWdldC1rdWJlY29uZmlnIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxVVNYbE9la1V3VGtSUmVFMHhiMWhFVkUxNlRWUkplVTU2UlRCT1JGRjRUVEZ2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"7993085a-9a23-4e78-a8ca-e0ad1580f251","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7993085a-9a23-4e78-a8ca-e0ad1580f251
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"7993085a-9a23-4e78-a8ca-e0ad1580f251","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
