---
version: 1
interactions:
- request:
    body: '{"region":"fr-par", "name":"1.32.3", "label":"Kubernetes 1.32.3", "available_cnis":["cilium",
      "calico", "kilo", "none"], "available_container_runtimes":["containerd"], "available_feature_gates":["HPAScaleToZero",
      "InPlacePodVerticalScaling", "SidecarContainers", "DRAAdminAccess", "DRAResourceClaimDeviceStatus",
      "DynamicResourceAllocation", "PodLevelResources", "CPUManagerPolicyAlphaOptions",
      "ImageVolume"], "available_admission_plugins":["AlwaysPullImages", "PodNodeSelector",
      "PodTolerationRestriction"], "available_kubelet_args":{"containerLogMaxFiles":"uint16",
      "containerLogMaxSize":"quantity", "cpuCFSQuota":"bool", "cpuCFSQuotaPeriod":"duration",
      "cpuManagerPolicy":"enum:none|static", "cpuManagerPolicyOptions":"map[string]string",
      "enableDebuggingHandlers":"bool", "evictionHard":"map[string]string", "evictionMinimumReclaim":"map[string]string",
      "imageGCHighThresholdPercent":"uint32", "imageGCLowThresholdPercent":"uint32",
      "maxParallelImagePulls":"int32", "maxPods":"uint16", "registryBurst":"int32",
      "registryPullQPS":"int32", "serializeImagePulls":"bool"}, "deprecated_at":"2026-03-24T00:00:00Z",
      "end_of_life_at":"2025-05-24T00:00:00Z"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions/1.32.3
    method: GET
  response:
    body: '{"region":"fr-par", "name":"1.32.3", "label":"Kubernetes 1.32.3", "available_cnis":["cilium",
      "calico", "kilo", "none"], "available_container_runtimes":["containerd"], "available_feature_gates":["HPAScaleToZero",
      "InPlacePodVerticalScaling", "SidecarContainers", "DRAAdminAccess", "DRAResourceClaimDeviceStatus",
      "DynamicResourceAllocation", "PodLevelResources", "CPUManagerPolicyAlphaOptions",
      "ImageVolume"], "available_admission_plugins":["AlwaysPullImages", "PodNodeSelector",
      "PodTolerationRestriction"], "available_kubelet_args":{"containerLogMaxFiles":"uint16",
      "containerLogMaxSize":"quantity", "cpuCFSQuota":"bool", "cpuCFSQuotaPeriod":"duration",
      "cpuManagerPolicy":"enum:none|static", "cpuManagerPolicyOptions":"map[string]string",
      "enableDebuggingHandlers":"bool", "evictionHard":"map[string]string", "evictionMinimumReclaim":"map[string]string",
      "imageGCHighThresholdPercent":"uint32", "imageGCLowThresholdPercent":"uint32",
      "maxParallelImagePulls":"int32", "maxPods":"uint16", "registryBurst":"int32",
      "registryPullQPS":"int32", "serializeImagePulls":"bool"}, "deprecated_at":"2026-03-24T00:00:00Z",
      "end_of_life_at":"2025-05-24T00:00:00Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
