---
version: 1
interactions:
- request:
    body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150,
      "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000,
      "dedicated":false, "audit_logs_supported":false, "max_etcd_size":55000000},
      {"name":"kapsule-dedicated-4", "availability":"available", "max_nodes":250,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":4000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200000000},
      {"name":"kapsule-dedicated-8", "availability":"available", "max_nodes":500,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":8000000000, "dedicated":true, "audit_logs_[...]
- request:
    body: '{"id":"c01ebaf1-e158-49a0-84fb-3be1e53f5ef8", "name":"pn-bold-buck", "tags":["created-along-with-k8s-cluster",
      "created-by-cli"], "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "created_at":"2025-05-14T12:19:49.692933Z", "updated_at":"2025-05-14T12:19:49.692933Z",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "subnets":[{"id":"d883adb5-efe3-4932-8e76-2ecd60d69b3e",
      "created_at":"2025-05-14T12:19:49.692933Z", "updated_at":"2025-05-14T12:19:49.692933Z",
      "subnet":"172.16.12.0/22", "project_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "private_network_id":"c01ebaf1-e158-49a0-84fb-3be1e53f5ef8", "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e"},
      {"id":"98bc7f55-c47a-4a73-803c-9bde6b8fda60", "created_at":"2025-05-14T12:19:49.692933Z",
      "updated_at":"2025-05-14T12:19:49.692933Z", "subnet":"fdd2:c09a:9672:a30::/64",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "private_network_id":"c01ebaf1-e158-49a0-84fb-3be1e53f5ef8",
      "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e"}], "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"c01ebaf1-e158-49a0-84fb-3be1e53f5ef8", "name":"pn-bold-buck", "tags":["created-along-with-k8s-cluster",
      "created-by-cli"], "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "created_at":"2025-05-14T12:19:49.692933Z", "updated_at":"2025-05-14T12:19:49.692933Z",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "subnets":[{"id":"d883adb5-efe3-4932-8e76-2ecd60d69b3e",
      "created_at":"2025-05-14T12:19:49.692933Z", "updated_at":"2025-05-14T12:19:49.692933Z",
      "subnet":"172.16.12.0/22", "project_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "private_network_id":"c01ebaf1-e158-49a0-84fb-3be1e53f5ef8", "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e"},
      {"id":"98bc7f55-c47a-4a73-803c-9bde6b8fda60", "created_at":"2025-05-14T12:19:49.692933Z",
      "updated_at":"2025-05-14T12:19:49.692933Z", "subnet":"fdd2:c09a:9672:a30::/64",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "private_network_id":"c01ebaf1-e158-49a0-84fb-3be1e53f5ef8",
      "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e"}], "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par", "id":"ef24615c-35e3-45d0-8097-2324d6effe81", "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "created_at":"2025-05-14T12:19:50.431191Z",
      "updated_at":"2025-05-14T12:19:50.431192Z", "type":"kapsule", "name":"cli-test-uninstall-kubeconfig",
      "description":"", "status":"creating", "version":"1.32.3", "cni":"cilium", "tags":[],
      "cluster_url":"https://ef24615c-35e3-45d0-8097-2324d6effe81.api.k8s.fr-par.scw.cloud:6443",
      "dns_wildcard":"*.ef24615c-35e3-45d0-8097-2324d6effe81.nodes.k8s.fr-par.scw.cloud",
      "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m",
      "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false,
      "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10,
      "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600},
      "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}},
      "upgrade_available":false, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"",
      "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[],
      "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"c01ebaf1-e158-49a0-84fb-3be1e53f5ef8",
      "commitment_ends_at":"2025-05-14T12:19:50.431201Z", "acl_available":true, "iam_nodes_group_id":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par", "id":"ef24615c-35e3-45d0-8097-2324d6effe81", "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "created_at":"2025-05-14T12:19:50.431191Z",
      "updated_at":"2025-05-14T12:19:50.431192Z", "type":"kapsule", "name":"cli-test-uninstal[...]
[...]
- request:
    body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LXVuaW5zdGFsbC1rdWJlY29uZmlnIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTVUxRVZYaE5la1Y1VFZSck1VMVdiMWhFVkUweFRVUlZlRTE2UlhsTlZHc3hUVlp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWx[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"ef24615c-35e3-45d0-8097-2324d6effe81","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ef24615c-35e3-45d0-8097-2324d6effe81
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"ef24615c-35e3-45d0-8097-2324d6effe81","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
