---
version: 1
interactions:
- request:
    body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150,
      "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000,
      "dedicated":false, "audit_logs_supported":false, "max_etcd_size":55000000},
      {"name":"kapsule-dedicated-4", "availability":"available", "max_nodes":250,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":4000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200000000},
      {"name":"kapsule-dedicated-8", "availability":"available", "max_nodes":500,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":8000000000, "dedicated":true, "audit_logs_[...]
- request:
    body: '{"id":"9c6f9c4a-a1b0-4aee-b093-c1eae68bb80f", "name":"pn-distracted-poincare",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "created_at":"2025-10-13T13:29:33.669173Z", "updated_at":"2025-10-13T13:29:33.669173Z",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "subnets":[{"id":"11220e4c-d95c-40dd-9720-5725a1250c8f",
      "created_at":"2025-10-13T13:29:33.669173Z", "updated_at":"2025-10-13T13:29:33.669173Z",
      "subnet":"172.17.60.0/22", "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "private_network_id":"9c6f9c4a-a1b0-4aee-b093-c1eae68bb80f", "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"},
      {"id":"bad9e889-f0bd-4036-a227-56728cbbd733", "created_at":"2025-10-13T13:29:33.669173Z",
      "updated_at":"2025-10-13T13:29:33.669173Z", "subnet":"fd58:6b70:2d5a:d6ce::/64",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "private_network_id":"9c6f9c4a-a1b0-4aee-b093-c1eae68bb80f",
      "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"}], "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"9c6f9c4a-a1b0-4aee-b093-c1eae68bb80f", "name":"pn-distracted-poincare",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "created_at":"2025-10-13T13:29:33.669173Z", "updated_at":"2025-10-13T13:29:33.669173Z",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "subnets":[{"id":"11220e4c-d95c-40dd-9720-5725a1250c8f",
      "created_at":"2025-10-13T13:29:33.669173Z", "updated_at":"2025-10-13T13:29:33.669173Z",
      "subnet":"172.17.60.0/22", "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "private_network_id":"9c6f9c4a-a1b0-4aee-b093-c1eae68bb80f", "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"},
      {"id":"bad9e889-f0bd-4036-a227-56728cbbd733", "created_at":"2025-10-13T13:29:33.669173Z",
      "updated_at":"2025-10-13T13:29:33.669173Z", "subnet":"fd58:6b70:2d5a:d6ce::/64",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "private_network_id":"9c6f9c4a-a1b0-4aee-b093-c1eae68bb80f",
      "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"}], "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par", "id":"61ee8c07-a690-40c8-8ea2-b49002eb1d8e", "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "created_at":"2025-10-13T13:29:34.721190Z",
      "updated_at":"2025-10-13T13:29:34.721190Z", "type":"kapsule", "name":"cli-test-uninstall-kubeconfig-merge",
      "description":"", "status":"creating", "version":"1.32.3", "cni":"cilium", "tags":[],
      "cluster_url":"https://61ee8c07-a690-40c8-8ea2-b49002eb1d8e.api.k8s.fr-par.scw.cloud:6443",
      "dns_wildcard":"*.61ee8c07-a690-40c8-8ea2-b49002eb1d8e.nodes.k8s.fr-par.scw.cloud",
      "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m",
      "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false,
      "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10,
      "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600},
      "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}},
      "upgrade_available":true, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"",
      "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[],
      "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"9c6f9c4a-a1b0-4aee-b093-c1eae68bb80f",
      "commitment_ends_at":"2025-10-13T13:29:34.721200Z", "acl_available":true, "iam_nodes_group_id":"",
      "new_images_enabled":false, "pod_cidr":"100.64.0.0/15", "service_cidr":"10.32.0.0/20",
      "service_dns_ip":"10.32.0.10"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par", "id":"61ee8c07-a690-40c8-8ea2-b49002eb1d8e", "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "created_at":"2025-10-13T13:29:34.721190Z",
      "updated_at":"2025-10-13T13:29:34.721190Z", "type":"kapsule", "name":"cli-tes[...]
[...]
- request:
    body: '{"access_key":"SCWTSXK0WE3GRJDR3W35", "secret_key":null, "description":"goland
      regen casettes cli", "created_at":"2024-08-30T13:28:32.818239Z", "updated_at":"2024-08-30T13:28:32.818239Z",
      "expires_at":null, "default_project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9",
      "user_id":"063ace2e-0340-4c01-a29a-e7f985d6d9f3"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWTSXK0WE3GRJDR3W35
    method: GET
  response:
    body: '{"access_key":"SCWTSXK0WE3GRJDR3W35", "secret_key":null, "description":"goland
      regen casettes cli", "created_at":"2024-08-30T13:28:32.818239Z", "updated_at":"2024-08-30T13:28:32.818239Z",
      "expires_at":null, "default_project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9",
      "user_id":"063ace2e-0340-4c01-a29a-e7f985d6d9f3"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LXVuaW5zdGFsbC1rdWJlY29uZmlnLW1lcmdlIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVSlhha05EUVZGSFowRjNTVUpCWjBsQ1FVUkJTMEpuWjNGb2EycFBVRkZSUkVGcVFWWk5VazEzUlZGWlJGWlJVVVJGZDNCeVpGZEtiR050Tld3S1pFZFdlazFDTkZoRVZFa3hUVlJCZUUxcVJYcE5hbXQ2VGtadldFUlVUVEZOVkVGNFRXcEZlazFxYTNwT1JtOTNSbFJGVkUxQ1JVZEJNVlZGUVhoTlN3cGhNMVpwV2xoS2RWcFlVbXhqZWtKYVRVSk5SMEo1Y1VkVFRUUTVRV2RGUjBORGNVZFR[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"61ee8c07-a690-40c8-8ea2-b49002eb1d8e","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/61ee8c07-a690-40c8-8ea2-b49002eb1d8e
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"61ee8c07-a690-40c8-8ea2-b49002eb1d8e","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
