---
version: 1
interactions:
- request:
    body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150,
      "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000,
      "dedicated":false, "audit_logs_supported":false, "max_etcd_size":55000000},
      {"name":"kapsule-dedicated-4", "availability":"available", "max_nodes":250,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":4000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200000000},
      {"name":"kapsule-dedicated-8", "availability":"available", "max_nodes":500,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":8000000000, "dedicated":true, "audit_logs_[...]
- request:
    body: '{"id":"740e15db-6ecd-4416-b0b3-31d6a642722f", "name":"pn-epic-raman", "tags":["created-along-with-k8s-cluster",
      "created-by-cli"], "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "created_at":"2025-05-14T12:16:24.652173Z", "updated_at":"2025-05-14T12:16:24.652173Z",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "subnets":[{"id":"d14d9fe5-ae4e-4793-bc83-00329d0a03dc",
      "created_at":"2025-05-14T12:16:24.652173Z", "updated_at":"2025-05-14T12:16:24.652173Z",
      "subnet":"172.16.16.0/22", "project_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "private_network_id":"740e15db-6ecd-4416-b0b3-31d6a642722f", "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e"},
      {"id":"6bcb9cbd-3411-44e6-a4d3-cf3b9c3b30b5", "created_at":"2025-05-14T12:16:24.652173Z",
      "updated_at":"2025-05-14T12:16:24.652173Z", "subnet":"fdd2:c09a:9672:76d9::/64",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "private_network_id":"740e15db-6ecd-4416-b0b3-31d6a642722f",
      "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e"}], "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"740e15db-6ecd-4416-b0b3-31d6a642722f", "name":"pn-epic-raman", "tags":["created-along-with-k8s-cluster",
      "created-by-cli"], "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "created_at":"2025-05-14T12:16:24.652173Z", "updated_at":"2025-05-14T12:16:24.652173Z",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "subnets":[{"id":"d14d9fe5-ae4e-4793-bc83-00329d0a03dc",
      "created_at":"2025-05-14T12:16:24.652173Z", "updated_at":"2025-05-14T12:16:24.652173Z",
      "subnet":"172.16.16.0/22", "project_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "private_network_id":"740e15db-6ecd-4416-b0b3-31d6a642722f", "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e"},
      {"id":"6bcb9cbd-3411-44e6-a4d3-cf3b9c3b30b5", "created_at":"2025-05-14T12:16:24.652173Z",
      "updated_at":"2025-05-14T12:16:24.652173Z", "subnet":"fdd2:c09a:9672:76d9::/64",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "private_network_id":"740e15db-6ecd-4416-b0b3-31d6a642722f",
      "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e"}], "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par", "id":"a0585cf2-d77b-4ecc-aabf-75f09bfb3176", "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "created_at":"2025-05-14T12:16:25.445414Z",
      "updated_at":"2025-05-14T12:16:25.445414Z", "type":"kapsule", "name":"cli-test-install-kubeconfig-merge",
      "description":"", "status":"creating", "version":"1.32.3", "cni":"cilium", "tags":[],
      "cluster_url":"https://a0585cf2-d77b-4ecc-aabf-75f09bfb3176.api.k8s.fr-par.scw.cloud:6443",
      "dns_wildcard":"*.a0585cf2-d77b-4ecc-aabf-75f09bfb3176.nodes.k8s.fr-par.scw.cloud",
      "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m",
      "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false,
      "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10,
      "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600},
      "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}},
      "upgrade_available":false, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"",
      "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[],
      "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"740e15db-6ecd-4416-b0b3-31d6a642722f",
      "commitment_ends_at":"2025-05-14T12:16:25.445427Z", "acl_available":true, "iam_nodes_group_id":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par", "id":"a0585cf2-d77b-4ecc-aabf-75f09bfb3176", "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "created_at":"2025-05-14T12:16:25.445414Z",
      "updated_at":"2025-05-14T12:16:25.445414Z", "type":"kapsule", "name":"cli-test-install-[...]
[...]
- request:
    body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWluc3RhbGwta3ViZWNvbmZpZy1tZXJnZSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVWWGhOZWtWNVRWUlplVTVzYjFoRVZFMHhUVVJWZUUxNlJYbE5WRmw1VG14dmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVV[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"a0585cf2-d77b-4ecc-aabf-75f09bfb3176","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a0585cf2-d77b-4ecc-aabf-75f09bfb3176
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"a0585cf2-d77b-4ecc-aabf-75f09bfb3176","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
