---
version: 1
interactions:
- request:
    body: '{"organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","name":"cli-test","description":"","tags":null,"version":"1.18.2","cni":"cilium","enable_dashboard":false,"ingress":"unknown_ingress","pools":[{"name":"default","node_type":"DEV1-M","placement_group_id":null,"autoscaling":false,"size":1,"min_size":null,"max_size":null,"container_runtime":"unknown_runtime","autohealing":false,"tags":null}],"autoscaler_config":null,"auto_upgrade":null,"feature_gates":null,"admission_plugins":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"2beaef64-7c19-46eb-92a6-c95ef6f41ffb","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2020-04-18T11:37:52.152479315Z","updated_at":"2020-04-18T11:37:52.152479315Z","name":"cli-test","description":"","status":"creating","version":"1.18.2","cni":"cilium","tags":[],"cluster_url":"https://2beaef64-7c19-46eb-92a6-c95ef6f41ffb.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.2beaef64-7c19-46eb-92a6-c95ef6f41ffb.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2beaef64-7c19-46eb-92a6-c95ef6f41ffb
    method: GET
  response:
    body: '{"region":"fr-par","id":"2beaef64-7c19-46eb-92a6-c95ef6f41ffb","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2020-04-18T11:37:52.152479Z","updated_at":"2020-04-18T11:37:52.152479Z","name":"cli-test","description":"","status":"creating","version":"1.18.2","cni":"cilium","tags":[],"cluster_url":"https://2beaef64-7c19-46eb-92a6-c95ef6f41ffb.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.2beaef64-7c19-46eb-92a6-c95ef6f41ffb.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"empty","node_type":"DEV1-M","placement_group_id":null,"autoscaling":false,"size":0,"min_size":0,"max_size":null,"container_runtime":"unknown_runtime","autohealing":false,"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2beaef64-7c19-46eb-92a6-c95ef6f41ffb/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"4dd8a231-554b-4975-93c7-6b7ea8233d91","cluster_id":"2beaef64-7c19-46eb-92a6-c95ef6f41ffb","created_at":"2020-04-18T11:38:33.314151Z","updated_at":"2020-04-18T11:38:33.337071578Z","name":"empty","status":"scaling","version":"1.18.2","node_type":"dev1_m","autoscaling":false,"size":0,"min_size":0,"max_size":0,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2beaef64-7c19-46eb-92a6-c95ef6f41ffb
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"2beaef64-7c19-46eb-92a6-c95ef6f41ffb","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
