---
version: 1
interactions:
- request:
    body: '{"cluster_types":[{"name":"kapsule","availability":"available","max_nodes":150,"commitment_delay":"0s","sla":0,"resiliency":"standard","memory":4000000000,"dedicated":false,"audit_logs_supported":false,"max_etcd_size":55000000},{"name":"kapsule-dedicated-4","availability":"available","max_nodes":250,"commitment_delay":"2592000s","sla":99.5,"resiliency":"high_availability","memory":4000000000,"dedicated":true,"audit_logs_supported":false,"max_etcd_size":200000000},{"name":"kapsule-dedicated-8","availability":"available","max_nodes":500,"commitment_delay":"2592000s","sla":99.5,"resiliency":"high_availability","memory":8000000000,"dedicated":true,"audit_logs_supported":false,"max_etcd_size":200000000},{"name":"k[...]
- request:
    body: '{"id":"3521e64f-4960-4206-b9c4-2d306730210c","name":"pn-gallant-mclaren","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2024-12-12T16:33:50.142170Z","updated_at":"2024-12-12T16:33:50.142170Z","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":[{"id":"d0915823-537f-4dba-b1a1-fea46ae56a98","created_at":"2024-12-12T16:33:50.142170Z","updated_at":"2024-12-12T16:33:50.142170Z","subnet":"172.16.44.0/22","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"3521e64f-4960-4206-b9c4-2d306730210c","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"id":"1d19e5f7-c866-4c48-9bdf-a161ab571303","created_at":"2024-12-12T16:33:50.142170Z","updated_at":"2024-12-12T16:33:50.142170Z","subnet":"fd46:78ab:30b8:754d::/64","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"3521e64f-4960-4206-b9c4-2d306730210c","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"vpc_id":"086a5171-f7ab-4667-a231-840a81203f19","dhcp_enabled":true,"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"3521e64f-4960-4206-b9c4-2d306730210c","name":"pn-gallant-mclaren","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2024-12-12T16:33:50.142170Z","updated_at":"2024-12-12T16:33:50.142170Z","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":[{"id":"d0915823-537f-4dba-b1a1-fea46ae56a98","created_at":"2024-12-12T16:33:50.142170Z","updated_at":"2024-12-12T16:33:50.142170Z","subnet":"172.16.44.0/22","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"3521e64f-4960-4206-b9c4-2d306730210c","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"id":"1d19e5f7-c866-4c48-9bdf-a161ab571303","created_at":"2024-12-12T16:33:50.142170Z","updated_at":"2024-12-12T16:33:50.142170Z","subnet":"fd46:78ab:30b8:754d::/64","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"3521e64f-4960-4206-b9c4-2d306730210c","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"vpc_id":"086a5171-f7ab-4667-a231-840a81203f19","dhcp_enabled":true,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par","id":"e889c144-ed33-47c9-a9c3-709b1a4e55ea","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2024-12-12T16:33:51.482987Z","updated_at":"2024-12-12T16:33:51.482987Z","type":"kapsule","name":"cli-test-install-kubeconfig-merge","description":"","status":"creating","version":"1.27.1","cni":"cilium","tags":[],"cluster_url":"https://e889c144-ed33-47c9-a9c3-709b1a4e55ea.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.e889c144-ed33-47c9-a9c3-709b1a4e55ea.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"3521e64f-4960-4206-b9c4-2d306730210c","commitment_ends_at":"2024-12-12T16:33:51.482999Z","routed_ip_enabled":true,"sbs_csi_enabled":true,"full_vpc_integraton_enabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"e889c144-ed33-47c9-a9c3-709b1a4e55ea","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2024-12-12T16:33:51.482987Z","updated_at":"2024-12-12T16:33:51.482987Z","type":"kapsule","name":"cli-test-install-kubeconfig-merge[...]
[...]
- request:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWluc3RhbGwta3ViZWNvbmZpZy1tZXJnZSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1FMVVTWGhOVkVVeVRYcE5NVTB4YjFoRVZFMHdUVlJKZUUxVVJUSk5lazB4VFRGdmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVV[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"e889c144-ed33-47c9-a9c3-709b1a4e55ea","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e889c144-ed33-47c9-a9c3-709b1a4e55ea
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"e889c144-ed33-47c9-a9c3-709b1a4e55ea","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
