---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150, "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000, "dedicated":false, "audit_logs_supported":false, "max_etcd_size":55000000}, {"name":"kapsule-dedicated-4", "availability":"available", "max_nodes":250, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability", "memory":4000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200000000}, {"name":"kapsule-dedicated-8", "availability":"available", "max_nodes":500, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability", "memory":8000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"63c38d33-692c-43bb-a72f-9ce2d03210a5", "name":"pn-frosty-saha", "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-23T16:09:57.445165Z", "updated_at":"2025-07-23T16:09:57.445165Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"ca25e417-19d5-4ab9-8c63-fa4f391c1b46", "created_at":"2025-07-23T16:09:57.445165Z", "updated_at":"2025-07-23T16:09:57.445165Z", "subnet":"172.16.32.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"63c38d33-692c-43bb-a72f-9ce2d03210a5", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"4fb9ccec-8fa8-4e7a-a414-7cbbf4d8ffc3", "created_at":"2025-07-23T16:09:57.445165Z", "updated_at":"2025-07-23T16:09:57.445165Z", "subnet":"fd63:256c:45f7:f7e7::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"63c38d33-692c-43bb-a72f-9ce2d03210a5", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"63c38d33-692c-43bb-a72f-9ce2d03210a5", "name":"pn-frosty-saha", "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-23T16:09:57.445165Z", "updated_at":"2025-07-23T16:09:57.445165Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"ca25e417-19d5-4ab9-8c63-fa4f391c1b46", "created_at":"2025-07-23T16:09:57.445165Z", "updated_at":"2025-07-23T16:09:57.445165Z", "subnet":"172.16.32.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"63c38d33-692c-43bb-a72f-9ce2d03210a5", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"4fb9ccec-8fa8-4e7a-a414-7cbbf4d8ffc3", "created_at":"2025-07-23T16:09:57.445165Z", "updated_at":"2025-07-23T16:09:57.445165Z", "subnet":"fd63:256c:45f7:f7e7::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"63c38d33-692c-43bb-a72f-9ce2d03210a5", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 620.426863ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"region":"fr-par", "id":"be2b2c5b-cebd-4992-bada-08bf23b6ffaa", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-23T16:09:58.252799Z", "updated_at":"2025-07-23T16:09:58.252799Z", "type":"kapsule", "name":"cli-test-install-kubeconfig-simple", "description":"", "status":"creating", "version":"1.32.3", "cni":"cilium", "tags":[], "cluster_url":"https://be2b2c5b-cebd-4992-bada-08bf23b6ffaa.api.k8s.fr-par.scw.cloud:6443", "dns_wildcard":"*.be2b2c5b-cebd-4992-bada-08bf23b6ffaa.nodes.k8s.fr-par.scw.cloud", "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m", "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false, "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10, "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600}, "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}}, "upgrade_available":true, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"", "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[], "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"63c38d33-692c-43bb-a72f-9ce2d03210a5", "commitment_ends_at":"2025-07-23T16:09:58.252809Z", "acl_available":true, "iam_nodes_group_id":"", "new_images_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par", "id":"be2b2c5b-cebd-4992-bada-08bf23b6ffaa", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-23T16:09:58.252799Z", "updated_at":"2025-07-23T16:09:58.252799Z", "type":"kaps[...]
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWluc3RhbGwta3ViZWNvbmZpZy1zaW1wbGUiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNVTFFWTNsTmFrVXlUVlJCZDAxR2IxaEVWRTB4VFVSamVVMXFSVEpOVkVGM1RVWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlV[...]
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"be2b2c5b-cebd-4992-bada-08bf23b6ffaa","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/be2b2c5b-cebd-4992-bada-08bf23b6ffaa
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"be2b2c5b-cebd-4992-bada-08bf23b6ffaa","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.89754ms
