---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150, "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000, "dedicated":false, "audit_logs_supported":false, "max_etcd_size":55000000}, {"name":"kapsule-dedicated-4", "availability":"available", "max_nodes":250, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability", "memory":4000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200000000}, {"name":"kapsule-dedicated-8", "availability":"available", "max_nodes":500, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability", "memory":8000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"64c88b7a-684d-457b-8cbf-ce5aff99e74b", "name":"pn-friendly-shaw", "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-23T16:09:57.510885Z", "updated_at":"2025-07-23T16:09:57.510885Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"6e413509-bccf-485c-bc8a-390238193cfe", "created_at":"2025-07-23T16:09:57.510885Z", "updated_at":"2025-07-23T16:09:57.510885Z", "subnet":"172.16.76.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"64c88b7a-684d-457b-8cbf-ce5aff99e74b", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"d461b5c2-3cfc-4a36-917c-7311cba2eeaf", "created_at":"2025-07-23T16:09:57.510885Z", "updated_at":"2025-07-23T16:09:57.510885Z", "subnet":"fd63:256c:45f7:934f::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"64c88b7a-684d-457b-8cbf-ce5aff99e74b", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"64c88b7a-684d-457b-8cbf-ce5aff99e74b", "name":"pn-friendly-shaw", "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-23T16:09:57.510885Z", "updated_at":"2025-07-23T16:09:57.510885Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"6e413509-bccf-485c-bc8a-390238193cfe", "created_at":"2025-07-23T16:09:57.510885Z", "updated_at":"2025-07-23T16:09:57.510885Z", "subnet":"172.16.76.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"64c88b7a-684d-457b-8cbf-ce5aff99e74b", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"d461b5c2-3cfc-4a36-917c-7311cba2eeaf", "created_at":"2025-07-23T16:09:57.510885Z", "updated_at":"2025-07-23T16:09:57.510885Z", "subnet":"fd63:256c:45f7:934f::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"64c88b7a-684d-457b-8cbf-ce5aff99e74b", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 713.152616ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"region":"fr-par", "id":"41113da3-5025-4fbc-9106-70c6861003be", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-23T16:09:58.278008Z", "updated_at":"2025-07-23T16:09:58.278008Z", "type":"kapsule", "name":"cli-test-install-kubeconfig-merge", "description":"", "status":"creating", "version":"1.32.3", "cni":"cilium", "tags":[], "cluster_url":"https://41113da3-5025-4fbc-9106-70c6861003be.api.k8s.fr-par.scw.cloud:6443", "dns_wildcard":"*.41113da3-5025-4fbc-9106-70c6861003be.nodes.k8s.fr-par.scw.cloud", "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m", "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false, "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10, "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600}, "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}}, "upgrade_available":true, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"", "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[], "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"64c88b7a-684d-457b-8cbf-ce5aff99e74b", "commitment_ends_at":"2025-07-23T16:09:58.278019Z", "acl_available":true, "iam_nodes_group_id":"", "new_images_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par", "id":"41113da3-5025-4fbc-9106-70c6861003be", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-23T16:09:58.278008Z", "updated_at":"2025-07-23T16:09:58.278008Z", "type":"kaps[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWluc3RhbGwta3ViZWNvbmZpZy1tZXJnZSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVZM2xOYWtVeVRWUkJkMDFHYjFoRVZFMHhUVVJqZVUxcVJUSk5WRUYzVFVadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVV[...]
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"41113da3-5025-4fbc-9106-70c6861003be","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/41113da3-5025-4fbc-9106-70c6861003be
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"41113da3-5025-4fbc-9106-70c6861003be","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.957161ms
