---
version: 1
interactions:
- request:
    body: '{"id":"8c983914-138a-4919-82f4-049cf1e35558","name":"pn-thirsty-archimedes","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:48:29.680232Z","updated_at":"2023-06-13T09:48:29.680232Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"7c7e3782-20d8-4ca6-8b7f-55534210a46f","created_at":"2023-06-13T09:48:29.680232Z","updated_at":"2023-06-13T09:48:29.680232Z","subnet":"172.16.12.0/22"},{"id":"2a1dcd8f-8e71-4ddc-9480-8074b54e5775","created_at":"2023-06-13T09:48:29.680232Z","updated_at":"2023-06-13T09:48:29.680232Z","subnet":"fd63:256c:45f7:4ac5::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"8c983914-138a-4919-82f4-049cf1e35558","name":"pn-thirsty-archimedes","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:48:29.680232Z","updated_at":"2023-06-13T09:48:29.680232Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"7c7e3782-20d8-4ca6-8b7f-55534210a46f","created_at":"2023-06-13T09:48:29.680232Z","updated_at":"2023-06-13T09:48:29.680232Z","subnet":"172.16.12.0/22"},{"id":"2a1dcd8f-8e71-4ddc-9480-8074b54e5775","created_at":"2023-06-13T09:48:29.680232Z","updated_at":"2023-06-13T09:48:29.680232Z","subnet":"fd63:256c:45f7:4ac5::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par","id":"3d69b0c4-0a3f-4f3a-857f-45bb54072fac","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:48:30.000747936Z","updated_at":"2023-06-13T09:48:30.277889814Z","type":"kapsule","name":"cli-test-install-kubeconfig-merge","description":"","status":"creating","version":"1.27.1","cni":"cilium","tags":[],"cluster_url":"https://3d69b0c4-0a3f-4f3a-857f-45bb54072fac.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.3d69b0c4-0a3f-4f3a-857f-45bb54072fac.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"8c983914-138a-4919-82f4-049cf1e35558"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"3d69b0c4-0a3f-4f3a-857f-45bb54072fac","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:48:30.000747936Z","updated_at":"2023-06-13T09:48:30.277889814Z","type":"kapsule","n[...]
[...]
- request:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWluc3RhbGwta3ViZWNvbmZpZy1tZXJnZSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMUVXWGhOYWtFMVRrUm5lazFXYjFoRVZFMTZUVVJaZUUxcVFUVk9SR2Q2VFZadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVV[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"3d69b0c4-0a3f-4f3a-857f-45bb54072fac","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3d69b0c4-0a3f-4f3a-857f-45bb54072fac
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"3d69b0c4-0a3f-4f3a-857f-45bb54072fac","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
