---
version: 1
interactions:
- request:
    body: '{"id":"8d19c9fa-027c-42d0-a671-a208cd608d83","name":"pn-eloquent-benz","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:48:29.606736Z","updated_at":"2023-06-13T09:48:29.606736Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"0c8dc067-5c4f-4d28-92b7-fac91db86d70","created_at":"2023-06-13T09:48:29.606736Z","updated_at":"2023-06-13T09:48:29.606736Z","subnet":"172.16.28.0/22"},{"id":"c9cd3a82-5096-4624-9a19-fd6f45561781","created_at":"2023-06-13T09:48:29.606736Z","updated_at":"2023-06-13T09:48:29.606736Z","subnet":"fd63:256c:45f7:6f3e::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"8d19c9fa-027c-42d0-a671-a208cd608d83","name":"pn-eloquent-benz","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:48:29.606736Z","updated_at":"2023-06-13T09:48:29.606736Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"0c8dc067-5c4f-4d28-92b7-fac91db86d70","created_at":"2023-06-13T09:48:29.606736Z","updated_at":"2023-06-13T09:48:29.606736Z","subnet":"172.16.28.0/22"},{"id":"c9cd3a82-5096-4624-9a19-fd6f45561781","created_at":"2023-06-13T09:48:29.606736Z","updated_at":"2023-06-13T09:48:29.606736Z","subnet":"fd63:256c:45f7:6f3e::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par","id":"a1fb92d0-7436-4b72-99d6-8e853dbafb3a","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:48:30.007633123Z","updated_at":"2023-06-13T09:48:30.308088489Z","type":"kapsule","name":"cli-test-install-kubeconfig-simple","description":"","status":"creating","version":"1.27.1","cni":"cilium","tags":[],"cluster_url":"https://a1fb92d0-7436-4b72-99d6-8e853dbafb3a.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.a1fb92d0-7436-4b72-99d6-8e853dbafb3a.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"8d19c9fa-027c-42d0-a671-a208cd608d83"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"a1fb92d0-7436-4b72-99d6-8e853dbafb3a","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:48:30.007633123Z","updated_at":"2023-06-13T09:48:30.308088489Z","type":"kapsule","n[...]
[...]
- request:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWluc3RhbGwta3ViZWNvbmZpZy1zaW1wbGUiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkplazFFV1hoTmFrRTFUa1JuZWsxV2IxaEVWRTE2VFVSWmVFMXFRVFZPUkdkNlRWWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlV[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"a1fb92d0-7436-4b72-99d6-8e853dbafb3a","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a1fb92d0-7436-4b72-99d6-8e853dbafb3a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"a1fb92d0-7436-4b72-99d6-8e853dbafb3a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
