---
version: 1
interactions:
- request:
    body: '{"id":"a8f3a58a-a060-4348-a3fd-608e9d5d6bbf","name":"pn-exciting-morse","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:41:58.845843Z","updated_at":"2023-06-13T09:41:58.845843Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"6d7574fc-709f-4a04-826d-f3e9750f5da2","created_at":"2023-06-13T09:41:58.845843Z","updated_at":"2023-06-13T09:41:58.845843Z","subnet":"172.16.4.0/22"},{"id":"e279cd05-0745-4bf5-8594-d47d993e78ae","created_at":"2023-06-13T09:41:58.845843Z","updated_at":"2023-06-13T09:41:58.845843Z","subnet":"fd63:256c:45f7:c3b2::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"a8f3a58a-a060-4348-a3fd-608e9d5d6bbf","name":"pn-exciting-morse","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:41:58.845843Z","updated_at":"2023-06-13T09:41:58.845843Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"6d7574fc-709f-4a04-826d-f3e9750f5da2","created_at":"2023-06-13T09:41:58.845843Z","updated_at":"2023-06-13T09:41:58.845843Z","subnet":"172.16.4.0/22"},{"id":"e279cd05-0745-4bf5-8594-d47d993e78ae","created_at":"2023-06-13T09:41:58.845843Z","updated_at":"2023-06-13T09:41:58.845843Z","subnet":"fd63:256c:45f7:c3b2::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par","id":"489cb62b-fb38-4d45-a12b-bed40b878b77","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:41:59.191248096Z","updated_at":"2023-06-13T09:41:59.496828781Z","type":"kapsule","name":"cli-test-wait-cluster","description":"","status":"creating","version":"1.27.1","cni":"cilium","tags":[],"cluster_url":"https://489cb62b-fb38-4d45-a12b-bed40b878b77.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.489cb62b-fb38-4d45-a12b-bed40b878b77.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"a8f3a58a-a060-4348-a3fd-608e9d5d6bbf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"489cb62b-fb38-4d45-a12b-bed40b878b77","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:41:59.191248096Z","updated_at":"2023-06-13T09:41:59.496828781Z","type":"kapsule","n[...]
[...]
- request:
    body: '{"total_count":1,"pools":[{"region":"fr-par","id":"8bd24472-78e4-48f2-9c81-86343ad19df5","cluster_id":"489cb62b-fb38-4d45-a12b-bed40b878b77","created_at":"2023-06-13T09:41:59.286617Z","updated_at":"2023-06-13T09:41:59.300808Z","name":"default","status":"scaling","version":"1.27.1","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":150000000000}]}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/489cb62b-fb38-4d45-a12b-bed40b878b77/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"pools":[{"region":"fr-par","id":"8bd24472-78e4-48f2-9c81-86343ad19df5","cluster_id":"489cb62b-fb38-4d45-a12b-bed40b878b77","created_at":"2023-06-13T09:41:59.286617Z","updated_at":"2023-06-13T09:41:59.300808Z","name":"default","status":"scaling","version":"1.27.1","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":150000000000}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par","id":"8bd24472-78e4-48f2-9c81-86343ad19df5","cluster_id":"489cb62b-fb38-4d45-a12b-bed40b878b77","created_at":"2023-06-13T09:41:59.286617Z","updated_at":"2023-06-13T09:41:59.300808Z","name":"default","status":"scaling","version":"1.27.1","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":150000000000}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/8bd24472-78e4-48f2-9c81-86343ad19df5
    method: GET
  response:
    body: '{"region":"fr-par","id":"8bd24472-78e4-48f2-9c81-86343ad19df5","cluster_id":"489cb62b-fb38-4d45-a12b-bed40b878b77","created_at":"2023-06-13T09:41:59.286617Z","updated_at":"2023-06-13T09:41:59.300808Z","name":"default","status":"scaling","version":"1.27.1","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":150000000000}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"489cb62b-fb38-4d45-a12b-bed40b878b77","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/489cb62b-fb38-4d45-a12b-bed40b878b77
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"489cb62b-fb38-4d45-a12b-bed40b878b77","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
