---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150, "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000, "dedicated":false, "audit_logs_supported":false, "max_etcd_size":55000000}, {"name":"kapsule-dedicated-4", "availability":"available", "max_nodes":250, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability", "memory":4000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200000000}, {"name":"kapsule-dedicated-8", "availability":"available", "max_nodes":500, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability", "memory":8000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"c04a7680-4d58-483c-a183-4eb91a5aa1cd", "name":"pn-sleepy-curie", "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-23T16:01:46.318252Z", "updated_at":"2025-07-23T16:01:46.318252Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"b5f0d864-75de-4174-851c-3ebf663924e9", "created_at":"2025-07-23T16:01:46.318252Z", "updated_at":"2025-07-23T16:01:46.318252Z", "subnet":"172.16.64.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"c04a7680-4d58-483c-a183-4eb91a5aa1cd", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"6e24af72-1a6b-4fb9-afb3-77387701d302", "created_at":"2025-07-23T16:01:46.318252Z", "updated_at":"2025-07-23T16:01:46.318252Z", "subnet":"fd63:256c:45f7:83e5::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"c04a7680-4d58-483c-a183-4eb91a5aa1cd", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"c04a7680-4d58-483c-a183-4eb91a5aa1cd", "name":"pn-sleepy-curie", "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-23T16:01:46.318252Z", "updated_at":"2025-07-23T16:01:46.318252Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"b5f0d864-75de-4174-851c-3ebf663924e9", "created_at":"2025-07-23T16:01:46.318252Z", "updated_at":"2025-07-23T16:01:46.318252Z", "subnet":"172.16.64.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"c04a7680-4d58-483c-a183-4eb91a5aa1cd", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"6e24af72-1a6b-4fb9-afb3-77387701d302", "created_at":"2025-07-23T16:01:46.318252Z", "updated_at":"2025-07-23T16:01:46.318252Z", "subnet":"fd63:256c:45f7:83e5::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"c04a7680-4d58-483c-a183-4eb91a5aa1cd", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 750.369791ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"region":"fr-par", "id":"f0837e24-ff2f-438d-80b2-c4cb38dfc94c", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-23T16:01:47.330513Z", "updated_at":"2025-07-23T16:01:47.330513Z", "type":"kapsule", "name":"cli-test-get-cluster", "description":"", "status":"creating", "version":"1.32.3", "cni":"cilium", "tags":[], "cluster_url":"https://f0837e24-ff2f-438d-80b2-c4cb38dfc94c.api.k8s.fr-par.scw.cloud:6443", "dns_wildcard":"*.f0837e24-ff2f-438d-80b2-c4cb38dfc94c.nodes.k8s.fr-par.scw.cloud", "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m", "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false, "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10, "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600}, "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}}, "upgrade_available":true, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"", "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[], "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"c04a7680-4d58-483c-a183-4eb91a5aa1cd", "commitment_ends_at":"2025-07-23T16:01:47.330523Z", "acl_available":true, "iam_nodes_group_id":"", "new_images_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par", "id":"f0837e24-ff2f-438d-80b2-c4cb38dfc94c", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-23T16:01:47.330513Z", "updated_at":"2025-07-23T16:01:47.330513Z", "type":"kaps[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"total_count":1, "pools":[{"region":"fr-par", "id":"7bf4ef59-07bc-4d60-b5b2-bbcd8a3681d0", "cluster_id":"f0837e24-ff2f-438d-80b2-c4cb38dfc94c", "created_at":"2025-07-23T16:01:47.055096Z", "updated_at":"2025-07-23T16:01:47.055096Z", "name":"default", "status":"scaling", "version":"1.32.3", "node_type":"dev1_m", "autoscaling":false, "size":1, "min_size":0, "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[], "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1, "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"l_ssd", "root_volume_size":40000000000, "public_ip_disabled":false, "new_images_enabled":false, "security_group_id":"08f6084b-9f0f-421b-aff3-b5286caf997d"}]}'
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f0837e24-ff2f-438d-80b2-c4cb38dfc94c/pools?order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"total_count":1, "pools":[{"region":"fr-par", "id":"7bf4ef59-07bc-4d60-b5b2-bbcd8a3681d0", "cluster_id":"f0837e24-ff2f-438d-80b2-c4cb38dfc94c", "created_at":"2025-07-23T16:01:47.055096Z", "updated_at":"2025-07-23T16:01:47.055096Z", "name":"default", "status":"scaling", "version":"1.32.3", "node_type":"dev1_m", "autoscaling":false, "size":1, "min_size":0, "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[], "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1, "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"l_ssd", "root_volume_size":40000000000, "public_ip_disabled":false, "new_images_enabled":false, "security_group_id":"08f6084b-9f0f-421b-aff3-b5286caf997d"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.757896ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"f0837e24-ff2f-438d-80b2-c4cb38dfc94c","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f0837e24-ff2f-438d-80b2-c4cb38dfc94c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"f0837e24-ff2f-438d-80b2-c4cb38dfc94c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.906759ms
