---
version: 1
interactions:
- request:
    body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150,
      "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000,
      "dedicated":false, "audit_logs_supported":false, "max_etcd_size":55000000},
      {"name":"kapsule-dedicated-4", "availability":"available", "max_nodes":250,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":4000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200000000},
      {"name":"kapsule-dedicated-8", "availability":"available", "max_nodes":500,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":8000000000, "dedicated":true, "audit_logs_[...]
- request:
    body: '{"id":"7c5c11fd-b272-4ce8-9e15-f2e80514938f", "name":"pn-pensive-saha",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "created_at":"2025-10-30T18:14:02.484628Z", "updated_at":"2025-10-30T18:14:02.484628Z",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"2bba6e8f-46c2-4d7c-82f0-c1f610056047",
      "created_at":"2025-10-30T18:14:02.484628Z", "updated_at":"2025-10-30T18:14:02.484628Z",
      "subnet":"172.16.0.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "private_network_id":"7c5c11fd-b272-4ce8-9e15-f2e80514938f", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},
      {"id":"222fe1f2-8393-40b1-a897-36cba168225a", "created_at":"2025-10-30T18:14:02.484628Z",
      "updated_at":"2025-10-30T18:14:02.484628Z", "subnet":"fd63:256c:45f7:55ce::/64",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"7c5c11fd-b272-4ce8-9e15-f2e80514938f",
      "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"7c5c11fd-b272-4ce8-9e15-f2e80514938f", "name":"pn-pensive-saha",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "created_at":"2025-10-30T18:14:02.484628Z", "updated_at":"2025-10-30T18:14:02.484628Z",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"2bba6e8f-46c2-4d7c-82f0-c1f610056047",
      "created_at":"2025-10-30T18:14:02.484628Z", "updated_at":"2025-10-30T18:14:02.484628Z",
      "subnet":"172.16.0.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "private_network_id":"7c5c11fd-b272-4ce8-9e15-f2e80514938f", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},
      {"id":"222fe1f2-8393-40b1-a897-36cba168225a", "created_at":"2025-10-30T18:14:02.484628Z",
      "updated_at":"2025-10-30T18:14:02.484628Z", "subnet":"fd63:256c:45f7:55ce::/64",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"7c5c11fd-b272-4ce8-9e15-f2e80514938f",
      "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par", "id":"873ed373-a955-4d9f-914d-987e6aa315aa", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-10-30T18:14:03.307827Z",
      "updated_at":"2025-10-30T18:14:03.307827Z", "type":"kapsule", "name":"cli-test-install-kubeconfig-simple",
      "description":"", "status":"creating", "version":"1.32.3", "cni":"cilium", "tags":[],
      "cluster_url":"https://873ed373-a955-4d9f-914d-987e6aa315aa.api.k8s.fr-par.scw.cloud:6443",
      "dns_wildcard":"*.873ed373-a955-4d9f-914d-987e6aa315aa.nodes.k8s.fr-par.scw.cloud",
      "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m",
      "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false,
      "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10,
      "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600},
      "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}},
      "upgrade_available":true, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"",
      "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[],
      "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"7c5c11fd-b272-4ce8-9e15-f2e80514938f",
      "commitment_ends_at":"2025-10-30T18:14:03.307835Z", "acl_available":true, "iam_nodes_group_id":"",
      "new_images_enabled":false, "pod_cidr":"100.64.0.0/15", "service_cidr":"10.32.0.0/20",
      "service_dns_ip":"10.32.0.10"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par", "id":"873ed373-a955-4d9f-914d-987e6aa315aa", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-10-30T18:14:03.307827Z",
      "updated_at":"2025-10-30T18:14:03.307827Z", "type":"kapsule", "name":"cli-tes[...]
[...]
- request:
    body: '{"access_key":"SCW2DWFM69FT5GRJARV0", "secret_key":null, "description":"my
      prod API key", "created_at":"2025-07-29T18:35:44.750352Z", "updated_at":"2025-07-29T18:35:44.750352Z",
      "expires_at":"2026-07-29T18:35:44.583Z", "default_project_id":"19a4819b-24bf-4d44-969f-935ef0061b71",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153",
      "user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW2DWFM69FT5GRJARV0
    method: GET
  response:
    body: '{"access_key":"SCW2DWFM69FT5GRJARV0", "secret_key":null, "description":"my
      prod API key", "created_at":"2025-07-29T18:35:44.750352Z", "updated_at":"2025-07-29T18:35:44.750352Z",
      "expires_at":"2026-07-29T18:35:44.583Z", "default_project_id":"19a4819b-24bf-4d44-969f-935ef0061b71",
      "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153",
      "user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWluc3RhbGwta3ViZWNvbmZpZy1zaW1wbGUiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VKWGVrTkRRVkZIWjBGM1NVSkJaMGxDUVVSQlMwSm5aM0ZvYTJwUFVGRlJSRUZxUVZaTlVrMTNSVkZaUkZaUlVVUkZkM0J5WkZkS2JHTnROV3dLWkVkV2VrMUNORmhFVkVreFRWUkJlVTlVUlRSTlZGRjNUVEZ2V0VSVVRURk5WRUY1VDFSRk5FMVVVWGROTVc5M1JsUkZWRTFDUlVkQk1WVkZRWGhOU3dwaE0xWnBXbGhLZFZwWVVteGpla0phVFVKTlIwSjVjVWRUVFRRNVFXZEZSME5EY1VkVFR[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"873ed373-a955-4d9f-914d-987e6aa315aa","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/873ed373-a955-4d9f-914d-987e6aa315aa
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"873ed373-a955-4d9f-914d-987e6aa315aa","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
