---
version: 1
interactions:
- request:
    body: '{"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-test","description":"","tags":null,"version":"1.18.5","cni":"cilium","enable_dashboard":false,"ingress":"unknown_ingress","pools":[{"name":"default","node_type":"DEV1-M","placement_group_id":null,"autoscaling":false,"size":3,"min_size":null,"max_size":null,"container_runtime":"unknown_runtime","autohealing":false,"tags":null}],"autoscaler_config":null,"auto_upgrade":null,"feature_gates":null,"admission_plugins":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"8cdae922-603f-45b4-bea8-4498c0c0b680","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-07-10T09:22:13.168714291Z","updated_at":"2020-07-10T09:22:13.168714291Z","name":"cli-test","description":"","status":"creating","version":"1.18.5","cni":"cilium","tags":[],"cluster_url":"https://8cdae922-603f-45b4-bea8-4498c0c0b680.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.8cdae922-603f-45b4-bea8-4498c0c0b680.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8cdae922-603f-45b4-bea8-4498c0c0b680
    method: GET
  response:
    body: '{"region":"fr-par","id":"8cdae922-603f-45b4-bea8-4498c0c0b680","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-07-10T09:22:13.168714Z","updated_at":"2020-07-10T09:22:13.168714Z","name":"cli-test","description":"","status":"creating","version":"1.18.5","cni":"cilium","tags":[],"cluster_url":"https://8cdae922-603f-45b4-bea8-4498c0c0b680.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.8cdae922-603f-45b4-bea8-4498c0c0b680.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8cdae922-603f-45b4-bea8-4498c0c0b680/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"pools":[{"region":"fr-par","id":"cd4004d1-cf63-42e5-b8fe-44291a23fc8b","cluster_id":"8cdae922-603f-45b4-bea8-4498c0c0b680","created_at":"2020-07-10T09:22:13.179719Z","updated_at":"2020-07-10T09:22:13.207420Z","name":"default","status":"scaling","version":"1.18.5","node_type":"dev1_m","autoscaling":false,"size":3,"min_size":1,"max_size":3,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/cd4004d1-cf63-42e5-b8fe-44291a23fc8b
    method: GET
  response:
    body: '{"region":"fr-par","id":"cd4004d1-cf63-42e5-b8fe-44291a23fc8b","cluster_id":"8cdae922-603f-45b4-bea8-4498c0c0b680","created_at":"2020-07-10T09:22:13.179719Z","updated_at":"2020-07-10T09:22:13.207420Z","name":"default","status":"scaling","version":"1.18.5","node_type":"dev1_m","autoscaling":false,"size":3,"min_size":1,"max_size":3,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8cdae922-603f-45b4-bea8-4498c0c0b680?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"8cdae922-603f-45b4-bea8-4498c0c0b680","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-07-10T09:22:13.168714Z","updated_at":"2020-07-10T09:26:57.411208373Z","name":"cli-test","description":"","status":"deleting","version":"1.18.5","cni":"cilium","tags":[],"cluster_url":"https://8cdae922-603f-45b4-bea8-4498c0c0b680.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.8cdae922-603f-45b4-bea8-4498c0c0b680.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8cdae922-603f-45b4-bea8-4498c0c0b680
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"8cdae922-603f-45b4-bea8-4498c0c0b680","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
