---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"pn-quizzical-austin","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["created-along-with-k8s-cluster","created-by-cli"],"subnets":null,"default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"26ffce99-93d0-4adf-ae67-d9a99271a1a6","name":"pn-quizzical-austin","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T14:02:53.899419Z","updated_at":"2026-07-03T14:02:53.899419Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"6eac5ff5-a1c0-4796-ba23-e3bb66e4d412","created_at":"2026-07-03T14:02:53.899419Z","updated_at":"2026-07-03T14:02:53.899419Z","subnet":"172.16.40.0/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"26ffce99-93d0-4adf-ae67-d9a99271a1a6","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"},{"id":"5946fdd4-01b6-4c32-9c8b-81dc0f719e05","created_at":"2026-07-03T14:02:53.899419Z","updated_at":"2026-07-03T14:02:53.899419Z","subnet":"fd63:256c:45f7:5a07::/64","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"26ffce99-93d0-4adf-ae67-d9a99271a1a6","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 888.006683ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"cli-test-get-kubeconfig-with-flags-and-envs","description":"","tags":null,"version":"1.35.3","cni":"cilium","pools":[{"name":"default","node_type":"DEV1-M","placement_group_id":null,"autoscaling":false,"size":1,"min_size":null,"max_size":null,"container_runtime":"unknown_runtime","autohealing":false,"tags":null,"kubelet_args":null,"upgrade_policy":null,"zone":"","root_volume_type":"default_volume_type","root_volume_size":null,"public_ip_disabled":false,"security_group_id":null,"labels":null,"taints":null,"startup_taints":null,"private_network_id":null}],"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"26ffce99-93d0-4adf-ae67-d9a99271a1a6"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par","id":"c7aa12ee-a337-4f27-a7e3-bf4d0824df71","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T14:02:54.573300Z","updated_at":"2026-07-03T14:02:54.573301Z","type":"kapsule","name":"cli-test-get-kubeconfig-with-flags-and-envs","description":"","status":"creating","version":"1.35.3","cni":"cilium","tags":[],"cluster_url":"https://c7aa12ee-a337-4f27-a7e3-bf4d0824df71.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.c7aa12ee-a337-4f27-a7e3-bf4d0824df71.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600,"skip_nodes_with_local_storage":true,"log_level":2},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"26ffce99-93d0-4adf-ae67-d9a99271a1a6","commitment_ends_at":"2026-07-03T14:02:54.573307Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 254.401508ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c7aa12ee-a337-4f27-a7e3-bf4d0824df71
        method: GET
      response:
        body: '{"region":"fr-par","id":"c7aa12ee-a337-4f27-a7e3-bf4d0824df71","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T14:02:54.573300Z","updated_at":"2026-07-03T14:02:54.573301Z","type":"ka[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        form:
            redacted:
                - "true"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c7aa12ee-a337-4f27-a7e3-bf4d0824df71/kubeconfig?redacted=true
        method: GET
      response:
        body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWdldC1rdWJlY29uZmlnLXdpdGgtZmxhZ3MtYW5kLWVudnMiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VKWVJFTkRRVkZIWjBGM1NVSkJaMGxDUVVSQlMwSm5aM0ZvYTJwUFVGRlJSRUZxUVZaTlVrMTNSVkZaUkZaUlVVUkZkM0J5WkZkS2JHTnROV3dLWkVkV2VrMUNORmhFVkVreVRVUmpkMDFxUlRCTlJFa3hUa1p2V0VSVVRUSk5SR04zVFdwRk1FMUVTVEZPUm05M1JsUkZWRTFDUlVkQk1WVkZRWGhOU3dwaE0xWnBXbGhLZFZwWVVteGpla0phVFVKTlIwSjVjVWRUVFRRNVFXZEZ[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "true"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c7aa12ee-a337-4f27-a7e3-bf4d0824df71?with_additional_resources=true
        method: DELETE
      response:
        body: '{"region":"fr-par","id":"c7aa12ee-a337-4f27-a7e3-bf4d0824df71","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T14:02:54.573300Z","updated_at":"2026-07-03T14:04:25.094295Z","type":"[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c7aa12ee-a337-4f27-a7e3-bf4d0824df71
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"c7aa12ee-a337-4f27-a7e3-bf4d0824df71","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.157117ms
