---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-test","description":"","tags":null,"version":"1.17.3","cni":"cilium","enable_dashboard":false,"ingress":"unknown_ingress","pools":[{"name":"default","node_type":"GP1-XS","placement_group_id":null,"autoscaling":false,"size":1,"min_size":null,"max_size":null,"container_runtime":"unknown_runtime","autohealing":false,"tags":null,"kubelet_args":null}],"autoscaler_config":null,"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"50f31645-dcd9-48d1-933b-19226f59dc1a","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-11-30T13:52:13.334372932Z","updated_at":"2020-11-30T13:52:14.045101737Z","name":"cli-test","description":"","status":"creating","version":"1.17.3","cni":"cilium","tags":[],"cluster_url":"https://50f31645-dcd9-48d1-933b-19226f59dc1a.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.50f31645-dcd9-48d1-933b-19226f59dc1a.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/50f31645-dcd9-48d1-933b-19226f59dc1a
    method: GET
  response:
    body: '{"region":"fr-par","id":"50f31645-dcd9-48d1-933b-19226f59dc1a","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-11-30T13:52:13.334373Z","updated_at":"2020-11-30T13:52:14.045102Z","name":"cli-test","description":"","status":"creati[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/50f31645-dcd9-48d1-933b-19226f59dc1a/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"pools":[{"region":"fr-par","id":"fb097e75-b031-4c95-a971-cd4ebf792855","cluster_id":"50f31645-dcd9-48d1-933b-19226f59dc1a","created_at":"2020-11-30T13:52:13.342314Z","updated_at":"2020-11-30T13:52:13.360942Z","name":"default","status":"scaling","version":"1.17.3","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{}}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/fb097e75-b031-4c95-a971-cd4ebf792855
    method: GET
  response:
    body: '{"region":"fr-par","id":"fb097e75-b031-4c95-a971-cd4ebf792855","cluster_id":"50f31645-dcd9-48d1-933b-19226f59dc1a","created_at":"2020-11-30T13:52:13.342314Z","updated_at":"2020-11-30T13:52:13.360942Z","name":"default","status":"scaling","version":"1.17.3","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/50f31645-dcd9-48d1-933b-19226f59dc1a?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"50f31645-dcd9-48d1-933b-19226f59dc1a","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-11-30T13:52:13.334373Z","updated_at":"2020-11-30T13:56:59.417442926Z","name":"cli-t[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/50f31645-dcd9-48d1-933b-19226f59dc1a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"","resource_id":"","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
