---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"pn-gracious-elion","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["created-along-with-k8s-cluster","created-by-cli"],"subnets":null,"default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"13b93807-c1bc-42fd-a32c-cfdd3db83761","name":"pn-gracious-elion","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T13:56:49.327238Z","updated_at":"2026-07-03T13:56:49.327238Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"281326b8-af32-45d4-b9ce-d61a1b40da09","created_at":"2026-07-03T13:56:49.327238Z","updated_at":"2026-07-03T13:56:49.327238Z","subnet":"172.16.48.0/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"13b93807-c1bc-42fd-a32c-cfdd3db83761","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"},{"id":"79557144-8c7e-46f8-b1df-1ffa69597ef6","created_at":"2026-07-03T13:56:49.327238Z","updated_at":"2026-07-03T13:56:49.327238Z","subnet":"fd63:256c:45f7:3e76::/64","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"13b93807-c1bc-42fd-a32c-cfdd3db83761","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 626.469279ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"cli-test-get-cluster","description":"","tags":null,"version":"1.35.3","cni":"cilium","pools":[{"name":"default","node_type":"DEV1-M","placement_group_id":null,"autoscaling":false,"size":1,"min_size":null,"max_size":null,"container_runtime":"unknown_runtime","autohealing":false,"tags":null,"kubelet_args":null,"upgrade_policy":null,"zone":"","root_volume_type":"default_volume_type","root_volume_size":null,"public_ip_disabled":false,"security_group_id":null,"labels":null,"taints":null,"startup_taints":null,"private_network_id":null}],"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"13b93807-c1bc-42fd-a32c-cfdd3db83761"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par","id":"03495d0c-fd17-41c8-abd7-a9504098cd3a","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T13:56:50.102239Z","updated_at":"2026-07-03T13:56:50.102239Z","type":"kapsule","name":"cli-test-get-cluster","description":"","status":"creating","version":"1.35.3","cni":"cilium","tags":[],"cluster_url":"https://03495d0c-fd17-41c8-abd7-a9504098cd3a.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.03495d0c-fd17-41c8-abd7-a9504098cd3a.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600,"skip_nodes_with_local_storage":true,"log_level":2},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"13b93807-c1bc-42fd-a32c-cfdd3db83761","commitment_ends_at":"2026-07-03T13:56:50.102246Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 334.68333ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/03495d0c-fd17-41c8-abd7-a9504098cd3a
        method: GET
      response:
        body: '{"region":"fr-par","id":"03495d0c-fd17-41c8-abd7-a9504098cd3a","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T13:56:50.102239Z","updated_at":"2026-07-03T13:56:50.102239Z","type":"ka[...]
    - id: 3
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/03495d0c-fd17-41c8-abd7-a9504098cd3a/pools?order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"total_count":1,"pools":[{"region":"fr-par","id":"2e2820de-5891-4fb2-b92b-6350508c3a86","cluster_id":"03495d0c-fd17-41c8-abd7-a9504098cd3a","created_at":"2026-07-03T13:56:49.893185Z","updated_at":"2026-07-03T13:56:49.893185Z","name":"default","status":"scaling","version":"1.35.3","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":40000000000,"public_ip_disabled":false,"security_group_id":"592f683f-83b9-47e4-9434-ca1931bdaa4b","labels":{},"taints":[],"startup_taints":[]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.396124ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "true"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/03495d0c-fd17-41c8-abd7-a9504098cd3a?with_additional_resources=true
        method: DELETE
      response:
        body: '{"region":"fr-par","id":"03495d0c-fd17-41c8-abd7-a9504098cd3a","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T13:56:50.102239Z","updated_at":"2026-07-03T13:56:50.312979Z","type":"[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/03495d0c-fd17-41c8-abd7-a9504098cd3a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"03495d0c-fd17-41c8-abd7-a9504098cd3a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.864009ms
