---
version: 1
interactions:
- request:
    body: '{"region":"fr-par", "name":"1.32.3", "label":"Kubernetes 1.32.3", "available_cnis":["cilium",
      "calico", "kilo", "none"], "available_container_runtimes":["containerd"], "available_feature_gates":["HPAScaleToZero",
      "InPlacePodVerticalScaling", "SidecarContainers", "DRAAdminAccess", "DRAResourceClaimDeviceStatus",
      "DynamicResourceAllocation"], "available_admission_plugins":["AlwaysPullImages",
      "PodNodeSelector", "PodTolerationRestriction"], "available_kubelet_args":{"containerLogMaxFiles":"uint16",
      "containerLogMaxSize":"quantity", "cpuCFSQuota":"bool", "cpuCFSQuotaPeriod":"duration",
      "cpuManagerPolicy":"enum:none|static", "enableDebuggingHandlers":"bool", "imageGCHighThresholdPercent":"uint32",
      "imageGCLowThresholdPercent":"uint32", "maxParallelImagePulls":"int32", "maxPods":"uint16",
      "registryBurst":"int32", "registryPullQPS":"int32", "serializeImagePulls":"bool"}}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions/1.32.3
    method: GET
  response:
    body: '{"region":"fr-par", "name":"1.32.3", "label":"Kubernetes 1.32.3", "available_cnis":["cilium",
      "calico", "kilo", "none"], "available_container_runtimes":["containerd"], "available_feature_gates":["HPAScaleToZero",
      "InPlacePodVerticalScaling", "SidecarContainers", "DRAAdminAccess", "DRAResourceClaimDeviceStatus",
      "DynamicResourceAllocation"], "available_admission_plugins":["AlwaysPullImages",
      "PodNodeSelector", "PodTolerationRestriction"], "available_kubelet_args":{"containerLogMaxFiles":"uint16",
      "containerLogMaxSize":"quantity", "cpuCFSQuota":"bool", "cpuCFSQuotaPeriod":"duration",
      "cpuManagerPolicy":"enum:none|static", "enableDebuggingHandlers":"bool", "imageGCHighThresholdPercent":"uint32",
      "imageGCLowThresholdPercent":"uint32", "maxParallelImagePulls":"int32", "maxPods":"uint16",
      "registryBurst":"int32", "registryPullQPS":"int32", "serializeImagePulls":"bool"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
