---
version: 1
interactions:
- request:
    body: '{"organization_id":"b8fdefc6-c926-4a47-af24-24f14f724d6a","name":"cli-test","description":"","tags":null,"version":"1.17.3","cni":"cilium","enable_dashboard":false,"ingress":"unknown_ingress","pools":[{"name":"default","node_type":"GP1-XS","placement_group_id":null,"autoscaling":false,"size":1,"min_size":null,"max_size":null,"container_runtime":"unknown_runtime","autohealing":false,"tags":null}],"autoscaler_config":null,"auto_upgrade":null,"feature_gates":null,"admission_plugins":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"16cbc227-9a47-4c2d-8835-8e58cfbd46d2","organization_id":"b8fdefc6-c926-4a47-af24-24f14f724d6a","project_id":"","created_at":"2020-08-19T09:46:18.545119282Z","updated_at":"2020-08-19T09:46:18.545119282Z","name":"cli-test","description":"","status":"creating","version":"1.17.3","cni":"cilium","tags":[],"cluster_url":"https://16cbc227-9a47-4c2d-8835-8e58cfbd46d2.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.16cbc227-9a47-4c2d-8835-8e58cfbd46d2.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/16cbc227-9a47-4c2d-8835-8e58cfbd46d2
    method: GET
  response:
    body: '{"region":"fr-par","id":"16cbc227-9a47-4c2d-8835-8e58cfbd46d2","organization_id":"b8fdefc6-c926-4a47-af24-24f14f724d6a","project_id":"","created_at":"2020-08-19T09:46:18.545119Z","updated_at":"2020-08-19T09:46:18.545119Z","name":"cli-test","description":"","status":"creating","version":"1.17.3","cni":"cilium","tags":[],"cluster_url":"https://16cbc227-9a47-4c2d-8835-8e58cfbd46d2.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.16cbc227-9a47-4c2d-8835-8e58cfbd46d2.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/16cbc227-9a47-4c2d-8835-8e58cfbd46d2/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"pools":[{"region":"fr-par","id":"36af4a55-211e-4b94-9a77-aedf81ff2b01","cluster_id":"16cbc227-9a47-4c2d-8835-8e58cfbd46d2","created_at":"2020-08-19T09:46:18.558409Z","updated_at":"2020-08-19T09:46:18.582959Z","name":"default","status":"scaling","version":"1.17.3","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/36af4a55-211e-4b94-9a77-aedf81ff2b01
    method: GET
  response:
    body: '{"region":"fr-par","id":"36af4a55-211e-4b94-9a77-aedf81ff2b01","cluster_id":"16cbc227-9a47-4c2d-8835-8e58cfbd46d2","created_at":"2020-08-19T09:46:18.558409Z","updated_at":"2020-08-19T09:46:18.582959Z","name":"default","status":"scaling","version":"1.17.3","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/16cbc227-9a47-4c2d-8835-8e58cfbd46d2?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"16cbc227-9a47-4c2d-8835-8e58cfbd46d2","organization_id":"b8fdefc6-c926-4a47-af24-24f14f724d6a","project_id":"","created_at":"2020-08-19T09:46:18.545119Z","updated_at":"2020-08-19T09:50:16.950516581Z","name":"cli-test","description":"","status":"deleting","version":"1.17.3","cni":"cilium","tags":[],"cluster_url":"https://16cbc227-9a47-4c2d-8835-8e58cfbd46d2.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.16cbc227-9a47-4c2d-8835-8e58cfbd46d2.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/16cbc227-9a47-4c2d-8835-8e58cfbd46d2
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"16cbc227-9a47-4c2d-8835-8e58cfbd46d2","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
