---
version: 1
interactions:
- request:
    body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150,
      "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000,
      "dedicated":false}, {"name":"kapsule-dedicated-4", "availability":"available",
      "max_nodes":250, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":4000000000, "dedicated":true}, {"name":"kapsule-dedicated-8", "availability":"available",
      "max_nodes":500, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":8000000000, "dedicated":true}, {"name":"kapsule-dedicated-16", "availability":"available",
      "max_nodes":500, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":16000000000, "dedicated":true}, {"name":"multicloud", "availability":"available",
      "max_nodes":150, "commitment_delay":"0s", "sla":0, "resiliency":"standard",
      "memory":4000000000, "dedicated":false}, {"name":"multicloud-dedicated-4", "availability":"available",
      "max_nodes":250, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":4000000000, "dedicated":true}, {"name":"multicloud-dedicated-8", "availability":"available",
      "max_nodes":500, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":8000000000, "dedicated":true}, {"name":"multicloud-dedicated-16", "availability":"available",
      "max_nodes":500, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":16000000000, "dedicated":true}], "total_count":8}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/cluster-types
    method: GET
  response:
    body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150,
      "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000,
      "dedicated":false}, {"name":"kapsule-dedicated-4", "availability":"available",
      "max_nodes":250, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":4000000000, "dedicated":true}, {"name":"kapsule-dedicated-8", "availability":"available",
      "max_nodes":500, "commit[...]
- request:
    body: '{"id":"65834a6d-2e7c-43f1-bd71-52fa7307ab07", "name":"pn-youthful-almeida",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "created_at":"2023-12-28T14:43:38.866551Z", "updated_at":"2023-12-28T14:43:38.866551Z",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"41482861-a1d6-4094-b0cd-925e69a8ea0a",
      "created_at":"2023-12-28T14:43:38.866551Z", "updated_at":"2023-12-28T14:43:38.866551Z",
      "subnet":"172.16.48.0/22"}, {"id":"a9f17be0-cc03-4a7e-894d-0216f8f40b8a", "created_at":"2023-12-28T14:43:38.866551Z",
      "updated_at":"2023-12-28T14:43:38.866551Z", "subnet":"fd63:256c:45f7:22f0::/64"}],
      "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"65834a6d-2e7c-43f1-bd71-52fa7307ab07", "name":"pn-youthful-almeida",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "created_at":"2023-12-28T14:43:38.866551Z", "updated_at":"2023-12-28T14:43:38.866551Z",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"41482861-a1d6-4094-b0cd-925e69a8ea0a",
      "created_at":"2023-12-28T14:43:38.866551Z", "updated_at":"2023-12-28T14:43:38.866551Z",
      "subnet":"172.16.48.0/22"}, {"id":"a9f17be0-cc03-4a7e-894d-0216f8f40b8a", "created_at":"2023-12-28T14:43:38.866551Z",
      "updated_at":"2023-12-28T14:43:38.866551Z", "subnet":"fd63:256c:45f7:22f0::/64"}],
      "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par", "id":"37176254-0637-41bd-b519-091d431d29ed", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2023-12-28T14:43:40.349089490Z",
      "updated_at":"2023-12-28T14:43:40.571210468Z", "type":"kapsule", "name":"cli-test-wait-cluster",
      "description":"", "status":"creating", "version":"1.27.1", "cni":"cilium", "tags":[],
      "cluster_url":"https://37176254-0637-41bd-b519-091d431d29ed.api.k8s.fr-par.scw.cloud:6443",
      "dns_wildcard":"*.37176254-0637-41bd-b519-091d431d29ed.nodes.k8s.fr-par.scw.cloud",
      "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m",
      "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false,
      "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10,
      "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600},
      "dashboard_enabled":false, "ingress":"none", "auto_upgrade":{"enabled":false,
      "maintenance_window":{"start_hour":0, "day":"any"}}, "upgrade_available":true,
      "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"",
      "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[],
      "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"65834a6d-2e7c-43f1-bd71-52fa7307ab07",
      "commitment_ends_at":"2023-12-28T14:43:40.349089490Z", "audit_log":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par", "id":"37176254-0637-41bd-b519-091d431d29ed", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2023-12-28T14:43:40.349089490Z",
      "updated_at":"2023-12-28T14:43:40.571210468Z", "type":"kapsule", "name":"cli-test[...]
[...]
- request:
    body: '{"total_count":1, "pools":[{"region":"fr-par", "id":"abfe19fb-e171-4116-8df9-becdd8953f7a",
      "cluster_id":"37176254-0637-41bd-b519-091d431d29ed", "created_at":"2023-12-28T14:43:40.366788Z",
      "updated_at":"2023-12-28T14:43:40.375245Z", "name":"default", "status":"scaling",
      "version":"1.27.1", "node_type":"gp1_xs", "autoscaling":false, "size":1, "min_size":0,
      "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[],
      "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1,
      "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"l_ssd", "root_volume_size":150000000000,
      "public_ip_disabled":false}]}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/37176254-0637-41bd-b519-091d431d29ed/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: '{"total_count":1, "pools":[{"region":"fr-par", "id":"abfe19fb-e171-4116-8df9-becdd8953f7a",
      "cluster_id":"37176254-0637-41bd-b519-091d431d29ed", "created_at":"2023-12-28T14:43:40.366788Z",
      "updated_at":"2023-12-28T14:43:40.375245Z", "name":"default", "status":"scaling",
      "version":"1.27.1", "node_type":"gp1_xs", "autoscaling":false, "size":1, "min_size":0,
      "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[],
      "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1,
      "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"l_ssd", "root_volume_size":150000000000,
      "public_ip_disabled":false}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par", "id":"abfe19fb-e171-4116-8df9-becdd8953f7a", "cluster_id":"37176254-0637-41bd-b519-091d431d29ed",
      "created_at":"2023-12-28T14:43:40.366788Z", "updated_at":"2023-12-28T14:43:40.375245Z",
      "name":"default", "status":"scaling", "version":"1.27.1", "node_type":"gp1_xs",
      "autoscaling":false, "size":1, "min_size":0, "max_size":1, "container_runtime":"containerd",
      "autohealing":false, "tags":[], "placement_group_id":null, "kubelet_args":{[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"37176254-0637-41bd-b519-091d431d29ed","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/37176254-0637-41bd-b519-091d431d29ed
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"37176254-0637-41bd-b519-091d431d29ed","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
