---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"pn-condescending-mcclintock","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["created-along-with-k8s-cluster","created-by-cli"],"subnets":null,"default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"5aa8991e-48d5-4d6c-a77d-6e718452c73b","name":"pn-condescending-mcclintock","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T14:19:19.386605Z","updated_at":"2026-07-03T14:19:19.386605Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"a5758dcd-9148-4ad2-bf4c-7034f08c3f3e","created_at":"2026-07-03T14:19:19.386605Z","updated_at":"2026-07-03T14:19:19.386605Z","subnet":"172.16.56.0/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"5aa8991e-48d5-4d6c-a77d-6e718452c73b","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"},{"id":"95a4306f-0d41-47f9-9b72-6cd034ef6135","created_at":"2026-07-03T14:19:19.386605Z","updated_at":"2026-07-03T14:19:19.386605Z","subnet":"fd63:256c:45f7:404f::/64","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"5aa8991e-48d5-4d6c-a77d-6e718452c73b","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 685.181582ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"cli-test-Test_PoolSetTaint","description":"","tags":null,"version":"1.35.3","cni":"cilium","pools":[{"name":"default","node_type":"DEV1-M","placement_group_id":null,"autoscaling":false,"size":1,"min_size":null,"max_size":null,"container_runtime":"unknown_runtime","autohealing":false,"tags":null,"kubelet_args":null,"upgrade_policy":null,"zone":"","root_volume_type":"default_volume_type","root_volume_size":null,"public_ip_disabled":false,"security_group_id":null,"labels":null,"taints":null,"startup_taints":null,"private_network_id":null}],"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"5aa8991e-48d5-4d6c-a77d-6e718452c73b"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par","id":"d057ade3-52fa-43d8-acad-cd7390cf77e8","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T14:19:20.248678Z","updated_at":"2026-07-03T14:19:20.248679Z","type":"kapsule","name":"cli-test-Test_PoolSetTaint","description":"","status":"creating","version":"1.35.3","cni":"cilium","tags":[],"cluster_url":"https://d057ade3-52fa-43d8-acad-cd7390cf77e8.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.d057ade3-52fa-43d8-acad-cd7390cf77e8.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600,"skip_nodes_with_local_storage":true,"log_level":2},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"5aa8991e-48d5-4d6c-a77d-6e718452c73b","commitment_ends_at":"2026-07-03T14:19:20.248690Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 315.330319ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d057ade3-52fa-43d8-acad-cd7390cf77e8
        method: GET
      response:
        body: '{"region":"fr-par","id":"d057ade3-52fa-43d8-acad-cd7390cf77e8","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T14:19:20.248678Z","updated_at":"2026-07-03T14:19:20.248679Z","type":"ka[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        form:
            name:
                - default
            order_by:
                - created_at_asc
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d057ade3-52fa-43d8-acad-cd7390cf77e8/pools?name=default&order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"total_count":1,"pools":[{"region":"fr-par","id":"16ba3b9a-4b50-4dc5-9614-b7dbb7dab7ac","cluster_id":"d057ade3-52fa-43d8-acad-cd7390cf77e8","created_at":"2026-07-03T14:19:20.055776Z","updated_at":"2026-07-03T14:19:20.055776Z","name":"default","status":"scaling","version":"1.35.3","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":40000000000,"public_ip_disabled":false,"security_group_id":"592f683f-83b9-47e4-9434-ca1931bdaa4b","labels":{},"taints":[],"startup_taints":[]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.186371ms
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/16ba3b9a-4b50-4dc5-9614-b7dbb7dab7ac
        method: GET
      response:
        body: '{"region":"fr-par","id":"16ba3b9a-4b50-4dc5-9614-b7dbb7dab7ac","cluster_id":"d057ade3-52fa-43d8-acad-cd7390cf77e8","created_at":"2026-07-03T14:19:20.055776Z","updated_at":"2026-07-03T14:19:20.055776Z","name":"default","status":"scaling","version":"1.35.3","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":40000000000,"public_ip_disabled":false,"security_group_id":"592f683f-83b9-47e4-9434-ca1931bdaa4b","labels":{},"taints":[],"startup_taints":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.573069ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"taints":[{"key":"foo","value":"bar","effect":"NoSchedule"}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/16ba3b9a-4b50-4dc5-9614-b7dbb7dab7ac/set-taints
        method: PUT
      response:
        body: '{"region":"fr-par","id":"16ba3b9a-4b50-4dc5-9614-b7dbb7dab7ac","cluster_id":"d057ade3-52fa-43d8-acad-cd7390cf77e8","created_at":"2026-07-03T14:19:20.055776Z","updated_at":"2026-07-03T14:20:50.879310Z","name":"default","status":"scaling","version":"1.35.3","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":40000000000,"public_ip_disabled":false,"security_group_id":"592f683f-83b9-47e4-9434-ca1931bdaa4b","labels":{},"taints":[{"key":"foo","value":"bar","effect":"NoSchedule"}],"startup_taints":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.730051ms
    - id: 12
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "true"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d057ade3-52fa-43d8-acad-cd7390cf77e8?with_additional_resources=true
        method: DELETE
      response:
        body: '{"region":"fr-par","id":"d057ade3-52fa-43d8-acad-cd7390cf77e8","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T14:19:20.248678Z","updated_at":"2026-07-03T14:20:50.916372Z","type":"[...]
[...]
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d057ade3-52fa-43d8-acad-cd7390cf77e8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"d057ade3-52fa-43d8-acad-cd7390cf77e8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.265579ms
