---
version: 1
interactions:
- request:
    body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150,
      "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000,
      "dedicated":false, "audit_logs_supported":false, "max_etcd_size":55000000},
      {"name":"kapsule-dedicated-4", "availability":"available", "max_nodes":250,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":4000000000, "dedicated":true, "audit_logs_supported":false, "max_etcd_size":200000000},
      {"name":"kapsule-dedicated-8", "availability":"available", "max_nodes":500,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":8000000000, "dedicated":true, "audit_logs[...]
- request:
    body: '{"id":"2831f587-d37a-4ece-84aa-3b2ea0fd6cec", "name":"pn-inspiring-chebyshev",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "created_at":"2024-09-19T08:27:57.344902Z", "updated_at":"2024-09-19T08:27:57.344902Z",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "subnets":[{"id":"e48ebaae-8665-4245-addd-0b817c18d49c",
      "created_at":"2024-09-19T08:27:57.344902Z", "updated_at":"2024-09-19T08:27:57.344902Z",
      "subnet":"172.16.236.0/22", "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "private_network_id":"2831f587-d37a-4ece-84aa-3b2ea0fd6cec", "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"},
      {"id":"1d6b579f-ceaf-493f-954e-a0dd67db143f", "created_at":"2024-09-19T08:27:57.344902Z",
      "updated_at":"2024-09-19T08:27:57.344902Z", "subnet":"fd58:6b70:2d5a:a3af::/64",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "private_network_id":"2831f587-d37a-4ece-84aa-3b2ea0fd6cec",
      "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"}], "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"2831f587-d37a-4ece-84aa-3b2ea0fd6cec", "name":"pn-inspiring-chebyshev",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "created_at":"2024-09-19T08:27:57.344902Z", "updated_at":"2024-09-19T08:27:57.344902Z",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "subnets":[{"id":"e48ebaae-8665-4245-addd-0b817c18d49c",
      "created_at":"2024-09-19T08:27:57.344902Z", "updated_at":"2024-09-19T08:27:57.344902Z",
      "subnet":"172.16.236.0/22", "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "private_network_id":"2831f587-d37a-4ece-84aa-3b2ea0fd6cec", "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"},
      {"id":"1d6b579f-ceaf-493f-954e-a0dd67db143f", "created_at":"2024-09-19T08:27:57.344902Z",
      "updated_at":"2024-09-19T08:27:57.344902Z", "subnet":"fd58:6b70:2d5a:a3af::/64",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "private_network_id":"2831f587-d37a-4ece-84aa-3b2ea0fd6cec",
      "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"}], "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par", "id":"c889de26-6708-44cd-b441-9a3479cf399d", "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "created_at":"2024-09-19T08:27:58.658902Z",
      "updated_at":"2024-09-19T08:27:58.658902Z", "type":"kapsule", "name":"cli-test-install-kubeconfig-simple",
      "description":"", "status":"creating", "version":"1.27.1", "cni":"cilium", "tags":[],
      "cluster_url":"https://c889de26-6708-44cd-b441-9a3479cf399d.api.k8s.fr-par.scw.cloud:6443",
      "dns_wildcard":"*.c889de26-6708-44cd-b441-9a3479cf399d.nodes.k8s.fr-par.scw.cloud",
      "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m",
      "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false,
      "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10,
      "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600},
      "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}},
      "upgrade_available":true, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"",
      "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[],
      "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"2831f587-d37a-4ece-84aa-3b2ea0fd6cec",
      "commitment_ends_at":"2024-09-19T08:27:58.658914Z", "routed_ip_enabled":true,
      "sbs_csi_enabled":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par", "id":"c889de26-6708-44cd-b441-9a3479cf399d", "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "created_at":"2024-09-19T08:27:58.658902Z",
      "updated_at":"2024-09-19T08:27:58.658902Z", "type":"kapsule", "name":"cli-test-instal[...]
[...]
- request:
    body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWluc3RhbGwta3ViZWNvbmZpZy1zaW1wbGUiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNRTFFYTNoUFJFRTBUV3BuZDAxR2IxaEVWRTB3VFVScmVFOUVRVFJOYW1kM1RVWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlV[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"c889de26-6708-44cd-b441-9a3479cf399d","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c889de26-6708-44cd-b441-9a3479cf399d
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"c889de26-6708-44cd-b441-9a3479cf399d","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
