---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/cluster-types
    method: GET
  response:
    body: "{\"cluster_types\":[{\"name\":\"kapsule\", \"availability\":\"available\", \"max_nodes\":150, \"commitment_delay\":\"0s\", \"sla\":0, \"resiliency\":\"standard\", \"memory\":4000000000, \"dedicated\":false, \"audit_logs_supported\":false, \"max_etcd_size\":55000000}, {\"name\":\"kapsule-dedicated-4\", \"availability\":\"available\", \"max_nodes\":250, \"commitment_delay\":\"2592000s\", \"sla\":99.5, \"resiliency\":\"high_availability\", \"memory\":4000000000, \"dedicated\":true, \"audit_logs_supported\":true, \"max_etcd_size\":200000000}, {\"name\":\"kapsule-dedicated-8\", \"availability\":\"available\", \"max_nodes\":500, \"commitment_delay\":\"2592000s\", \"sla\":99.5, \"resiliency\":\"high_availability\", \"memory\":8000000000, \"dedicated\":tr[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"pn-nostalgic-swirles\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"tags\":[\"created-along-with-k8s-cluster\",\"created-by-cli\"],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"c06dcdff-4f39-4694-b9d3-437b025088e1\", \"name\":\"pn-nostalgic-swirles\", \"tags\":[\"created-along-with-k8s-cluster\", \"created-by-cli\"], \"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-03T17:04:17.430537Z\", \"updated_at\":\"2025-11-03T17:04:17.430537Z\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"subnets\":[{\"id\":\"4568a850-64b4-4f0d-8ea9-0edff52d0a8e\", \"created_at\":\"2025-11-03T17:04:17.430537Z\", \"updated_at\":\"2025-11-03T17:04:17.430537Z\", \"subnet\":\"172.16.16.0/22\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"private_network_id\":\"c06dcdff-4f39-4694-b9d3-437b025088e1\", \"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}, {\"id\":\"b8e4de39-4c33-4db9-af22-fcff1fb16677\", \"created_at\":\"2025-11-03T17:04:17.430537Z\", \"updated_at\":\"2025-11-03T17:04:17.430537Z\", \"subnet\":\"fd63:256c:45f7:6bc5::/64\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"private_network_id\":\"c06dcdff-4f39-4694-b9d3-437b025088e1\", \"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}], \"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\", \"dhcp_enabled\":true, \"default_route_propagation_enabled\":false, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 615.200639ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"type\":\"\",\"name\":\"cli-test-get-kubeconfig-simple\",\"description\":\"\",\"tags\":null,\"version\":\"1.32.3\",\"cni\":\"cilium\",\"pools\":[{\"name\":\"default\",\"node_type\":\"DEV1-M\",\"placement_group_id\":null,\"autoscaling\":false,\"size\":1,\"min_size\":null,\"max_size\":null,\"container_runtime\":\"unknown_runtime\",\"autohealing\":false,\"tags\":null,\"kubelet_args\":null,\"upgrade_policy\":null,\"zone\":\"\",\"root_volume_type\":\"default_volume_type\",\"root_volume_size\":null,\"public_ip_disabled\":false,\"security_group_id\":null}],\"feature_gates\":null,\"admission_plugins\":null,\"apiserver_cert_sans\":null,\"private_network_id\":\"c06dcdff-4f39-4694-b9d3-437b025088e1\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"5231559b-6686-455b-a8cb-e5243e033639\", \"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-03T17:04:18.299237Z\", \"updated_at\":\"2025-11-03T17:04:18.299237Z\", \"type\":\"kapsule\", \"name\":\"cli-test-get-kubeconfig-simple\", \"description\":\"\", \"status\":\"creating\", \"version\":\"1.32.3\", \"cni\":\"cilium\", \"tags\":[], \"cluster_url\":\"https://5231559b-6686-455b-a8cb-e5243e033639.api.k8s.fr-par.scw.cloud:6443\", \"dns_wildcard\":\"*.5231559b-6686-455b-a8cb-e5243e033639.nodes.k8s.fr-par.scw.cloud\", \"autoscaler_config\":{\"scale_down_disabled\":false, \"scale_down_delay_after_add\":\"10m\", \"estimator\":\"binpacking\", \"expander\":\"random\", \"ignore_daemonsets_utilization\":false, \"balance_similar_node_groups\":false, \"expendable_pods_priority_cutoff\":-10, \"scale_down_unneeded_time\":\"10m\", \"scale_down_utilization_threshold\":0.5, \"max_graceful_termination_sec\":600}, \"auto_upgrade\":{\"enabled\":false, \"maintenance_window\":{\"start_hour\":0, \"day\":\"any\"}}, \"upgrade_available\":true, \"feature_gates\":[], \"admission_plugins\":[], \"open_id_connect_config\":{\"issuer_url\":\"\", \"client_id\":\"\", \"username_claim\":\"\", \"username_prefix\":\"\", \"groups_claim\":[], \"groups_prefix\":\"\", \"required_claim\":[]}, \"apiserver_cert_sans\":[], \"private_network_id\":\"c06dcdff-4f39-4694-b9d3-437b025088e1\", \"commitment_ends_at\":\"2025-11-03T17:04:18.299260Z\", \"acl_available\":true, \"iam_nodes_group_id\":\"\", \"new_images_enabled\":false, \"pod_cidr\":\"100.64.0.0/15\", \"service_cidr\":\"10.32.0.0/20\", \"service_dns_ip\":\"10.32.0.10\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 520.447781ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5231559b-6686-455b-a8cb-e5243e033639
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"5231559b-6686-455b-a8cb-e5243e033639\", \"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-03T17:04:18.299237Z\", \"updated_at\":\"2025-11-03T17:04:18.299237Z\", \"type\":\"k[...]
[...]
- id: 22
  request:
    host: api.scaleway.com
    form:
      redacted:
      - "true"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5231559b-6686-455b-a8cb-e5243e033639/kubeconfig?redacted=true
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\", \"content_type\":\"application/octet-stream\", \"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWdldC1rdWJlY29uZmlnLXNpbXBsZSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYZWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt4VFZSRmQwMXFSVE5OUkZGNFQwWnZXRVJVVFRGTlZFVjNUV3BGTTAxRVVYaFBSbTkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNV[...]
[...]
- id: 24
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "true"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5231559b-6686-455b-a8cb-e5243e033639?with_additional_resources=true
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"5231559b-6686-455b-a8cb-e5243e033639\", \"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-03T17:04:18.299237Z\", \"updated_at\":\"2025-11-03T17:05:49.611784Z\", \"type\"[...]
[...]
- id: 27
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5231559b-6686-455b-a8cb-e5243e033639
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"cluster\",\"resource_id\":\"5231559b-6686-455b-a8cb-e5243e033639\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 31.461571ms
