---
version: 1
interactions:
- request:
    body: '{"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-test","description":"","tags":null,"version":"1.17.3","cni":"cilium","enable_dashboard":false,"ingress":"unknown_ingress","pools":[{"name":"default","node_type":"GP1-XS","placement_group_id":null,"autoscaling":false,"size":1,"min_size":null,"max_size":null,"container_runtime":"unknown_runtime","autohealing":false,"tags":null}],"autoscaler_config":null,"auto_upgrade":null,"feature_gates":null,"admission_plugins":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"d6daab7b-4d76-465b-b6bb-2a725cf901d3","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-07-10T12:40:06.816487240Z","updated_at":"2020-07-10T12:40:06.816487240Z","name":"cli-test","description":"","status":"creating","version":"1.17.3","cni":"cilium","tags":[],"cluster_url":"https://d6daab7b-4d76-465b-b6bb-2a725cf901d3.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.d6daab7b-4d76-465b-b6bb-2a725cf901d3.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d6daab7b-4d76-465b-b6bb-2a725cf901d3
    method: GET
  response:
    body: '{"region":"fr-par","id":"d6daab7b-4d76-465b-b6bb-2a725cf901d3","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-07-10T12:40:06.816487Z","updated_at":"2020-07-10T12:40:06.816487Z","name":"cli-test","description":"","status":"creating","version":"1.17.3","cni":"cilium","tags":[],"cluster_url":"https://d6daab7b-4d76-465b-b6bb-2a725cf901d3.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.d6daab7b-4d76-465b-b6bb-2a725cf901d3.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d6daab7b-4d76-465b-b6bb-2a725cf901d3/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"pools":[{"region":"fr-par","id":"e58eb8cf-546a-4a6c-9e97-867dcdece982","cluster_id":"d6daab7b-4d76-465b-b6bb-2a725cf901d3","created_at":"2020-07-10T12:40:06.823661Z","updated_at":"2020-07-10T12:40:06.838915Z","name":"default","status":"scaling","version":"1.17.3","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/e58eb8cf-546a-4a6c-9e97-867dcdece982
    method: GET
  response:
    body: '{"region":"fr-par","id":"e58eb8cf-546a-4a6c-9e97-867dcdece982","cluster_id":"d6daab7b-4d76-465b-b6bb-2a725cf901d3","created_at":"2020-07-10T12:40:06.823661Z","updated_at":"2020-07-10T12:40:06.838915Z","name":"default","status":"scaling","version":"1.17.3","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d6daab7b-4d76-465b-b6bb-2a725cf901d3?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"d6daab7b-4d76-465b-b6bb-2a725cf901d3","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-07-10T12:40:06.816487Z","updated_at":"2020-07-10T12:46:24.595098581Z","name":"cli-test","description":"","status":"deleting","version":"1.17.3","cni":"cilium","tags":[],"cluster_url":"https://d6daab7b-4d76-465b-b6bb-2a725cf901d3.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.d6daab7b-4d76-465b-b6bb-2a725cf901d3.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d6daab7b-4d76-465b-b6bb-2a725cf901d3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"d6daab7b-4d76-465b-b6bb-2a725cf901d3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
