---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\", \"name\":\"1.34.1\", \"label\":\"Kubernetes 1.34.1\", \"available_cnis\":[\"cilium\", \"cilium_native\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"], \"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\", \"containerLogMaxSize\":\"quantity\", \"cpuCFSQuota\":\"bool\", \"cpuCFSQuotaPeriod\":\"duration\", \"cpuManagerPolicy\":\"enum:none|static\", \"cpuManagerPolicyOptions\":\"map[string]string\", \"enableDebuggingHandlers\":\"bool\", \"evictionHard\":\"map[string]string\", \"evictionMinimumReclaim\":\"map[string]string\", \"imageGCHighThresholdPercent\":\"uint32\", \"imageGCLowThresholdPercent\":\"uint32\", \"maxParallelImagePulls\":\"int32\", \"maxPods\":\"uint16\", \"registryBurst\":\"int32\", \"registryPullQPS\":\"int32\", \"serializeImagePulls\":\"bool\"}, \"deprecated_at\":\"2026-09-29T00:00:00Z\", \"end_of_life_at\":\"2026-11-29T00:00:00Z\", \"released_at\":\"2025-09-29T00:00:00Z\"}, {\"region\":\"fr-par\", \"name\":\"1.33.4\", \"label\":\"Kubernetes 1.33.4\", \"available_cnis\":[\"cilium\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"DRAAdminAccess\", \"DynamicResourceAllocation\", \"PodLevelResources\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"[...]
