---
version: 1
interactions:
- request:
    body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150,
      "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000,
      "dedicated":false, "audit_logs_supported":false, "max_etcd_size":55000000},
      {"name":"kapsule-dedicated-4", "availability":"available", "max_nodes":250,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":4000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200000000},
      {"name":"kapsule-dedicated-8", "availability":"available", "max_nodes":500,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":8000000000, "dedicated":true, "audit_logs_[...]
- request:
    body: '{"id":"451b4b59-36e6-419b-8209-84cd8207fbe1", "name":"pn-goofy-faraday",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "created_at":"2025-10-15T16:31:44.964172Z", "updated_at":"2025-10-15T16:31:44.964172Z",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "subnets":[{"id":"f79f96d5-1216-4063-9f52-ec6c06b31c6c",
      "created_at":"2025-10-15T16:31:44.964172Z", "updated_at":"2025-10-15T16:31:44.964172Z",
      "subnet":"172.17.48.0/22", "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "private_network_id":"451b4b59-36e6-419b-8209-84cd8207fbe1", "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"},
      {"id":"89418492-5428-4ab5-b32c-e55cb6342317", "created_at":"2025-10-15T16:31:44.964172Z",
      "updated_at":"2025-10-15T16:31:44.964172Z", "subnet":"fd58:6b70:2d5a:5b4e::/64",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "private_network_id":"451b4b59-36e6-419b-8209-84cd8207fbe1",
      "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"}], "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"451b4b59-36e6-419b-8209-84cd8207fbe1", "name":"pn-goofy-faraday",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "created_at":"2025-10-15T16:31:44.964172Z", "updated_at":"2025-10-15T16:31:44.964172Z",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "subnets":[{"id":"f79f96d5-1216-4063-9f52-ec6c06b31c6c",
      "created_at":"2025-10-15T16:31:44.964172Z", "updated_at":"2025-10-15T16:31:44.964172Z",
      "subnet":"172.17.48.0/22", "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "private_network_id":"451b4b59-36e6-419b-8209-84cd8207fbe1", "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"},
      {"id":"89418492-5428-4ab5-b32c-e55cb6342317", "created_at":"2025-10-15T16:31:44.964172Z",
      "updated_at":"2025-10-15T16:31:44.964172Z", "subnet":"fd58:6b70:2d5a:5b4e::/64",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "private_network_id":"451b4b59-36e6-419b-8209-84cd8207fbe1",
      "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"}], "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par", "id":"4a2b53e9-e8de-47be-a086-78c442a27f69", "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "created_at":"2025-10-15T16:31:45.873397Z",
      "updated_at":"2025-10-15T16:31:45.873397Z", "type":"kapsule", "name":"cli-test-get-kubeconfig-copy-cli-token",
      "description":"", "status":"creating", "version":"1.32.3", "cni":"cilium", "tags":[],
      "cluster_url":"https://4a2b53e9-e8de-47be-a086-78c442a27f69.api.k8s.fr-par.scw.cloud:6443",
      "dns_wildcard":"*.4a2b53e9-e8de-47be-a086-78c442a27f69.nodes.k8s.fr-par.scw.cloud",
      "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m",
      "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false,
      "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10,
      "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600},
      "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}},
      "upgrade_available":true, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"",
      "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[],
      "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"451b4b59-36e6-419b-8209-84cd8207fbe1",
      "commitment_ends_at":"2025-10-15T16:31:45.873408Z", "acl_available":true, "iam_nodes_group_id":"",
      "new_images_enabled":false, "pod_cidr":"100.64.0.0/15", "service_cidr":"10.32.0.0/20",
      "service_dns_ip":"10.32.0.10"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par", "id":"4a2b53e9-e8de-47be-a086-78c442a27f69", "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "created_at":"2025-10-15T16:31:45.873397Z",
      "updated_at":"2025-10-15T16:31:45.873397Z", "type":"kapsule", "name":"cli-tes[...]
[...]
- request:
    body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWdldC1rdWJlY29uZmlnLWNvcHktY2xpLXRva2VuIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVSlhla05EUVZGSFowRjNTVUpCWjBsQ1FVUkJTMEpuWjNGb2EycFBVRkZSUkVGcVFWWk5VazEzUlZGWlJGWlJVVVJGZDNCeVpGZEtiR050Tld3S1pFZFdlazFDTkZoRVZFa3hUVlJCZUU1RVJUSk5la1V3VGxadldFUlVUVEZOVkVGNFRrUkZNazE2UlRCT1ZtOTNSbFJGVkUxQ1JVZEJNVlZGUVhoTlN3cGhNMVpwV2xoS2RWcFlVbXhqZWtKYVRVSk5SMEo1Y1VkVFRUUTVRV2RGUjBORGN[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"4a2b53e9-e8de-47be-a086-78c442a27f69","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4a2b53e9-e8de-47be-a086-78c442a27f69
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"4a2b53e9-e8de-47be-a086-78c442a27f69","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
