---
version: 1
interactions:
- request:
    body: '{"id":"b71f3d56-cae6-4ab3-bb2c-6154b6b3e30e","name":"pn-stupefied-chatelet","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:51:13.400625Z","updated_at":"2023-06-13T09:51:13.400625Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"e599c386-22cf-4842-9692-f320fa4b87ad","created_at":"2023-06-13T09:51:13.400625Z","updated_at":"2023-06-13T09:51:13.400625Z","subnet":"172.16.40.0/22"},{"id":"37e6751a-0eea-4114-af79-be221a091ad6","created_at":"2023-06-13T09:51:13.400625Z","updated_at":"2023-06-13T09:51:13.400625Z","subnet":"fd63:256c:45f7:a92f::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"b71f3d56-cae6-4ab3-bb2c-6154b6b3e30e","name":"pn-stupefied-chatelet","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:51:13.400625Z","updated_at":"2023-06-13T09:51:13.400625Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"e599c386-22cf-4842-9692-f320fa4b87ad","created_at":"2023-06-13T09:51:13.400625Z","updated_at":"2023-06-13T09:51:13.400625Z","subnet":"172.16.40.0/22"},{"id":"37e6751a-0eea-4114-af79-be221a091ad6","created_at":"2023-06-13T09:51:13.400625Z","updated_at":"2023-06-13T09:51:13.400625Z","subnet":"fd63:256c:45f7:a92f::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par","id":"8699f0fb-5734-4cd1-a5e2-ecffb89e9a6e","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:51:13.664809133Z","updated_at":"2023-06-13T09:51:13.951745868Z","type":"kapsule","name":"cli-test-uninstall-kubeconfig","description":"","status":"creating","version":"1.27.1","cni":"cilium","tags":[],"cluster_url":"https://8699f0fb-5734-4cd1-a5e2-ecffb89e9a6e.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.8699f0fb-5734-4cd1-a5e2-ecffb89e9a6e.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"b71f3d56-cae6-4ab3-bb2c-6154b6b3e30e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"8699f0fb-5734-4cd1-a5e2-ecffb89e9a6e","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:51:13.664809133Z","updated_at":"2023-06-13T09:51:13.951745868Z","type":"kapsule","n[...]
[...]
- request:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LXVuaW5zdGFsbC1rdWJlY29uZmlnIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxRVdYaE5ha0UxVGxSRmVFNVdiMWhFVkUxNlRVUlplRTFxUVRWT1ZFVjRUbFp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWx[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"8699f0fb-5734-4cd1-a5e2-ecffb89e9a6e","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8699f0fb-5734-4cd1-a5e2-ecffb89e9a6e
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"8699f0fb-5734-4cd1-a5e2-ecffb89e9a6e","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
