---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"pn-elegant-moore","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["created-along-with-k8s-cluster","created-by-cli"],"subnets":null,"default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"bd0eed8d-f3ed-42ec-b9d2-1d4db5556d6b","name":"pn-elegant-moore","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T14:07:41.222078Z","updated_at":"2026-07-03T14:07:41.222078Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"431049a7-23ce-4041-954c-91fc83e6083e","created_at":"2026-07-03T14:07:41.222078Z","updated_at":"2026-07-03T14:07:41.222078Z","subnet":"172.16.76.0/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"bd0eed8d-f3ed-42ec-b9d2-1d4db5556d6b","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"},{"id":"bb632e63-f3be-45a6-a6a4-4308e9b3e5aa","created_at":"2026-07-03T14:07:41.222078Z","updated_at":"2026-07-03T14:07:41.222078Z","subnet":"fd63:256c:45f7:fb1::/64","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"bd0eed8d-f3ed-42ec-b9d2-1d4db5556d6b","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 742.148321ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"cli-test-install-kubeconfig-merge","description":"","tags":null,"version":"1.35.3","cni":"cilium","pools":[{"name":"default","node_type":"DEV1-M","placement_group_id":null,"autoscaling":false,"size":1,"min_size":null,"max_size":null,"container_runtime":"unknown_runtime","autohealing":false,"tags":null,"kubelet_args":null,"upgrade_policy":null,"zone":"","root_volume_type":"default_volume_type","root_volume_size":null,"public_ip_disabled":false,"security_group_id":null,"labels":null,"taints":null,"startup_taints":null,"private_network_id":null}],"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"bd0eed8d-f3ed-42ec-b9d2-1d4db5556d6b"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par","id":"45532f3e-4e38-4401-9dc7-eb977464220d","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T14:07:42.013264Z","updated_at":"2026-07-03T14:07:42.013265Z","type":"kapsule","name":"cli-test-install-kubeconfig-merge","description":"","status":"creating","version":"1.35.3","cni":"cilium","tags":[],"cluster_url":"https://45532f3e-4e38-4401-9dc7-eb977464220d.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.45532f3e-4e38-4401-9dc7-eb977464220d.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600,"skip_nodes_with_local_storage":true,"log_level":2},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"bd0eed8d-f3ed-42ec-b9d2-1d4db5556d6b","commitment_ends_at":"2026-07-03T14:07:42.013273Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 455.046977ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/45532f3e-4e38-4401-9dc7-eb977464220d
        method: GET
      response:
        body: '{"region":"fr-par","id":"45532f3e-4e38-4401-9dc7-eb977464220d","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T14:07:42.013264Z","updated_at":"2026-07-03T14:07:42.013265Z","type":"ka[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"access_key":"SCW2WH4M9QAC6PWEJSJA","secret_key":null,"description":"my API key for prod","created_at":"2026-04-02T13:13:26.558853Z","updated_at":"2026-04-02T13:13:26.558853Z","expires_at":"2027-04-02T13:13:26.452Z","default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","editable":true,"deletable":true,"managed":false,"creation_ip":"51.159.73.9","user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.949967ms
    - id: 10
      request:
        host: api.scaleway.com
        form:
            redacted:
                - "true"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/45532f3e-4e38-4401-9dc7-eb977464220d/kubeconfig?redacted=true
        method: GET
      response:
        body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWluc3RhbGwta3ViZWNvbmZpZy1tZXJnZSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYZWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt5VFVSamQwMXFSVEJOUkdNd1RXeHZXRVJVVFRKTlJHTjNUV3BGTUUxRVl6Qk5iRzkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFR[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "true"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/45532f3e-4e38-4401-9dc7-eb977464220d?with_additional_resources=true
        method: DELETE
      response:
        body: '{"region":"fr-par","id":"45532f3e-4e38-4401-9dc7-eb977464220d","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T14:07:42.013264Z","updated_at":"2026-07-03T14:09:12.648747Z","type":"[...]
[...]
    - id: 14
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/45532f3e-4e38-4401-9dc7-eb977464220d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"45532f3e-4e38-4401-9dc7-eb977464220d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.869579ms
