---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/cluster-types
    method: GET
  response:
    body: "{\"cluster_types\":[{\"name\":\"kapsule\", \"availability\":\"available\", \"max_nodes\":150, \"commitment_delay\":\"0s\", \"sla\":0, \"resiliency\":\"standard\", \"memory\":4000000000, \"dedicated\":false, \"audit_logs_supported\":false, \"max_etcd_size\":55000000}, {\"name\":\"kapsule-dedicated-4\", \"availability\":\"available\", \"max_nodes\":250, \"commitment_delay\":\"2592000s\", \"sla\":99.5, \"resiliency\":\"high_availability\", \"memory\":4000000000, \"dedicated\":true, \"audit_logs_supported\":true, \"max_etcd_size\":200000000}, {\"name\":\"kapsule-dedicated-8\", \"availability\":\"available\", \"max_nodes\":500, \"commitment_delay\":\"2592000s\", \"sla\":99.5, \"resiliency\":\"high_availability\", \"memory\":8000000000, \"dedicated\":tr[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"pn-optimistic-mayer\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"tags\":[\"created-along-with-k8s-cluster\",\"created-by-cli\"],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"3d4cf091-54c9-4e93-8e39-b18cb743b481\", \"name\":\"pn-optimistic-mayer\", \"tags\":[\"created-along-with-k8s-cluster\", \"created-by-cli\"], \"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-03T16:56:45.952113Z\", \"updated_at\":\"2025-11-03T16:56:45.952113Z\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"subnets\":[{\"id\":\"a0df726e-6d53-4f14-9d26-12be66eb08de\", \"created_at\":\"2025-11-03T16:56:45.952113Z\", \"updated_at\":\"2025-11-03T16:56:45.952113Z\", \"subnet\":\"172.16.20.0/22\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"private_network_id\":\"3d4cf091-54c9-4e93-8e39-b18cb743b481\", \"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}, {\"id\":\"eb3a3d27-c15c-4cd2-a854-dc4dc5ae617a\", \"created_at\":\"2025-11-03T16:56:45.952113Z\", \"updated_at\":\"2025-11-03T16:56:45.952113Z\", \"subnet\":\"fd63:256c:45f7:b36f::/64\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"private_network_id\":\"3d4cf091-54c9-4e93-8e39-b18cb743b481\", \"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}], \"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\", \"dhcp_enabled\":true, \"default_route_propagation_enabled\":false, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 879.936834ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"type\":\"\",\"name\":\"cli-test-install-kubeconfig-merge-keep\",\"description\":\"\",\"tags\":null,\"version\":\"1.32.3\",\"cni\":\"cilium\",\"pools\":[{\"name\":\"default\",\"node_type\":\"DEV1-M\",\"placement_group_id\":null,\"autoscaling\":false,\"size\":1,\"min_size\":null,\"max_size\":null,\"container_runtime\":\"unknown_runtime\",\"autohealing\":false,\"tags\":null,\"kubelet_args\":null,\"upgrade_policy\":null,\"zone\":\"\",\"root_volume_type\":\"default_volume_type\",\"root_volume_size\":null,\"public_ip_disabled\":false,\"security_group_id\":null}],\"feature_gates\":null,\"admission_plugins\":null,\"apiserver_cert_sans\":null,\"private_network_id\":\"3d4cf091-54c9-4e93-8e39-b18cb743b481\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"2ec8083a-eac8-4ab2-b82a-99abc2fbe553\", \"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-03T16:56:46.699806Z\", \"updated_at\":\"2025-11-03T16:56:46.699806Z\", \"type\":\"kapsule\", \"name\":\"cli-test-install-kubeconfig-merge-keep\", \"description\":\"\", \"status\":\"creating\", \"version\":\"1.32.3\", \"cni\":\"cilium\", \"tags\":[], \"cluster_url\":\"https://2ec8083a-eac8-4ab2-b82a-99abc2fbe553.api.k8s.fr-par.scw.cloud:6443\", \"dns_wildcard\":\"*.2ec8083a-eac8-4ab2-b82a-99abc2fbe553.nodes.k8s.fr-par.scw.cloud\", \"autoscaler_config\":{\"scale_down_disabled\":false, \"scale_down_delay_after_add\":\"10m\", \"estimator\":\"binpacking\", \"expander\":\"random\", \"ignore_daemonsets_utilization\":false, \"balance_similar_node_groups\":false, \"expendable_pods_priority_cutoff\":-10, \"scale_down_unneeded_time\":\"10m\", \"scale_down_utilization_threshold\":0.5, \"max_graceful_termination_sec\":600}, \"auto_upgrade\":{\"enabled\":false, \"maintenance_window\":{\"start_hour\":0, \"day\":\"any\"}}, \"upgrade_available\":true, \"feature_gates\":[], \"admission_plugins\":[], \"open_id_connect_config\":{\"issuer_url\":\"\", \"client_id\":\"\", \"username_claim\":\"\", \"username_prefix\":\"\", \"groups_claim\":[], \"groups_prefix\":\"\", \"required_claim\":[]}, \"apiserver_cert_sans\":[], \"private_network_id\":\"3d4cf091-54c9-4e93-8e39-b18cb743b481\", \"commitment_ends_at\":\"2025-11-03T16:56:46.699816Z\", \"acl_available\":true, \"iam_nodes_group_id\":\"\", \"new_images_enabled\":false, \"pod_cidr\":\"100.64.0.0/15\", \"service_cidr\":\"10.32.0.0/20\", \"service_dns_ip\":\"10.32.0.10\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 278.531303ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2ec8083a-eac8-4ab2-b82a-99abc2fbe553
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"2ec8083a-eac8-4ab2-b82a-99abc2fbe553\", \"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-03T16:56:46.699806Z\", \"updated_at\":\"2025-11-03T16:56:46.699806Z\", \"type\":\"k[...]
[...]
- id: 22
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"access_key\":\"SCW2DWFM69FT5GRJARV0\", \"secret_key\":null, \"description\":\"my prod API key\", \"created_at\":\"2025-07-29T18:35:44.750352Z\", \"updated_at\":\"2025-07-29T18:35:44.750352Z\", \"expires_at\":\"2026-07-29T18:35:44.583Z\", \"default_project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"51.159.46.153\", \"user_id\":\"77e7fa85-f305-4ea2-afea-09571a039336\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 44.42354ms
- id: 23
  request:
    host: api.scaleway.com
    form:
      redacted:
      - "true"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2ec8083a-eac8-4ab2-b82a-99abc2fbe553/kubeconfig?redacted=true
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\", \"content_type\":\"application/octet-stream\", \"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWluc3RhbGwta3ViZWNvbmZpZy1tZXJnZS1rZWVwIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVSlhla05EUVZGSFowRjNTVUpCWjBsQ1FVUkJTMEpuWjNGb2EycFBVRkZSUkVGcVFWWk5VazEzUlZGWlJGWlJVVVJGZDNCeVpGZEtiR050Tld3S1pFZFdlazFDTkZoRVZFa3hUVlJGZDAxcVJUSk9WRmt3VG14dldFUlVUVEZOVkVWM1RXcEZNazVVV1RCT2JHOTNSbFJGVkUxQ1JVZEJNVlZGUVhoTlN3cGhNMVpwV2xoS2RWcFlVbXhqZWtKYVRVSk5SMEo1Y1VkVFRUUTVRV2RGUjBORG[...]
[...]
- id: 25
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "true"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2ec8083a-eac8-4ab2-b82a-99abc2fbe553?with_additional_resources=true
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"2ec8083a-eac8-4ab2-b82a-99abc2fbe553\", \"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-03T16:56:46.699806Z\", \"updated_at\":\"2025-11-03T16:58:17.811455Z\", \"type\"[...]
[...]
- id: 28
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2ec8083a-eac8-4ab2-b82a-99abc2fbe553
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"cluster\",\"resource_id\":\"2ec8083a-eac8-4ab2-b82a-99abc2fbe553\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 19.637765ms
