---
version: 1
interactions:
- request:
    body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150,
      "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000,
      "dedicated":false, "audit_logs_supported":false, "max_etcd_size":55000000},
      {"name":"kapsule-dedicated-4", "availability":"available", "max_nodes":250,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":4000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200000000},
      {"name":"kapsule-dedicated-8", "availability":"available", "max_nodes":500,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":8000000000, "dedicated":true, "audit_logs_[...]
- request:
    body: '{"id":"42754679-2205-42d7-adf9-0686b77365c3", "name":"pn-laughing-rosalind",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "created_at":"2025-10-15T16:31:45.500021Z", "updated_at":"2025-10-15T16:31:45.500021Z",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "subnets":[{"id":"4af4ec78-6237-40cd-adf7-46feccb6527f",
      "created_at":"2025-10-15T16:31:45.500021Z", "updated_at":"2025-10-15T16:31:45.500021Z",
      "subnet":"172.17.108.0/22", "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "private_network_id":"42754679-2205-42d7-adf9-0686b77365c3", "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"},
      {"id":"4cfba854-6ba7-4af1-afff-f0d904e29d35", "created_at":"2025-10-15T16:31:45.500021Z",
      "updated_at":"2025-10-15T16:31:45.500021Z", "subnet":"fd58:6b70:2d5a:1626::/64",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "private_network_id":"42754679-2205-42d7-adf9-0686b77365c3",
      "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"}], "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"42754679-2205-42d7-adf9-0686b77365c3", "name":"pn-laughing-rosalind",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "created_at":"2025-10-15T16:31:45.500021Z", "updated_at":"2025-10-15T16:31:45.500021Z",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "subnets":[{"id":"4af4ec78-6237-40cd-adf7-46feccb6527f",
      "created_at":"2025-10-15T16:31:45.500021Z", "updated_at":"2025-10-15T16:31:45.500021Z",
      "subnet":"172.17.108.0/22", "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "private_network_id":"42754679-2205-42d7-adf9-0686b77365c3", "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"},
      {"id":"4cfba854-6ba7-4af1-afff-f0d904e29d35", "created_at":"2025-10-15T16:31:45.500021Z",
      "updated_at":"2025-10-15T16:31:45.500021Z", "subnet":"fd58:6b70:2d5a:1626::/64",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "private_network_id":"42754679-2205-42d7-adf9-0686b77365c3",
      "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"}], "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par", "id":"5c31253b-1a2b-4bc7-bfdf-020cd4613c68", "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "created_at":"2025-10-15T16:31:46.335467Z",
      "updated_at":"2025-10-15T16:31:46.335467Z", "type":"kapsule", "name":"cli-test-get-kubeconfig-simple",
      "description":"", "status":"creating", "version":"1.32.3", "cni":"cilium", "tags":[],
      "cluster_url":"https://5c31253b-1a2b-4bc7-bfdf-020cd4613c68.api.k8s.fr-par.scw.cloud:6443",
      "dns_wildcard":"*.5c31253b-1a2b-4bc7-bfdf-020cd4613c68.nodes.k8s.fr-par.scw.cloud",
      "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m",
      "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false,
      "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10,
      "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600},
      "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}},
      "upgrade_available":true, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"",
      "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[],
      "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"42754679-2205-42d7-adf9-0686b77365c3",
      "commitment_ends_at":"2025-10-15T16:31:46.335475Z", "acl_available":true, "iam_nodes_group_id":"",
      "new_images_enabled":false, "pod_cidr":"100.64.0.0/15", "service_cidr":"10.32.0.0/20",
      "service_dns_ip":"10.32.0.10"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par", "id":"5c31253b-1a2b-4bc7-bfdf-020cd4613c68", "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "created_at":"2025-10-15T16:31:46.335467Z",
      "updated_at":"2025-10-15T16:31:46.335467Z", "type":"kapsule", "name":"cli-tes[...]
[...]
- request:
    body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWdldC1rdWJlY29uZmlnLXNpbXBsZSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYZWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt4VFZSQmVFNUVSVEpOZWtVd1RteHZXRVJVVFRGTlZFRjRUa1JGTWsxNlJUQk9iRzkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVF[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"5c31253b-1a2b-4bc7-bfdf-020cd4613c68","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5c31253b-1a2b-4bc7-bfdf-020cd4613c68
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"5c31253b-1a2b-4bc7-bfdf-020cd4613c68","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
