---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"cli-test","description":"","tags":null,"version":"1.17.3","cni":"cilium","enable_dashboard":false,"ingress":"unknown_ingress","pools":[{"name":"default","node_type":"DEV1-M","placement_group_id":null,"autoscaling":false,"size":1,"min_size":null,"max_size":null,"container_runtime":"unknown_runtime","autohealing":false,"tags":null,"kubelet_args":null,"upgrade_policy":null,"zone":""}],"autoscaler_config":null,"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"5e04d093-20e1-4d2b-9a6d-3d7a15016dbf","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-04-07T12:04:00.903725912Z","updated_at":"2021-04-07T12:04:02.114842790Z","name":"cli-test","description":"","status":"creating","version":"1.17.3","cni":"cilium","tags":[],"cluster_url":"https://5e04d093-20e1-4d2b-9a6d-3d7a15016dbf.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.5e04d093-20e1-4d2b-9a6d-3d7a15016dbf.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5e04d093-20e1-4d2b-9a6d-3d7a15016dbf
    method: GET
  response:
    body: '{"region":"fr-par","id":"5e04d093-20e1-4d2b-9a6d-3d7a15016dbf","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-04-07T12:04:00.903726Z","updated_at":"2021-04-07T12:04:02.114843Z","name":"cli-test","description":"","status":"creati[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5e04d093-20e1-4d2b-9a6d-3d7a15016dbf/pools?order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"pools":[{"region":"fr-par","id":"22c9b049-abde-4ef1-8a4a-833cc65a856b","cluster_id":"5e04d093-20e1-4d2b-9a6d-3d7a15016dbf","created_at":"2021-04-07T12:04:00.940327Z","updated_at":"2021-04-07T12:04:00.954178Z","name":"default","status":"scaling","version":"1.17.3","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5e04d093-20e1-4d2b-9a6d-3d7a15016dbf?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"5e04d093-20e1-4d2b-9a6d-3d7a15016dbf","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-04-07T12:04:00.903726Z","updated_at":"2021-04-07T12:04:02.356379557Z","name":"cli-t[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5e04d093-20e1-4d2b-9a6d-3d7a15016dbf
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"5e04d093-20e1-4d2b-9a6d-3d7a15016dbf","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
