---
version: 1
interactions:
- request:
    body: '{"id":"861698b7-d572-4ce7-b4b3-1b9a51d9dc18","name":"pn-condescending-mendeleev","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-14T10:03:18.042185Z","updated_at":"2023-06-14T10:03:18.042185Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"c6caa4f3-fbdc-4ee1-8058-3a079506ab4e","created_at":"2023-06-14T10:03:18.042185Z","updated_at":"2023-06-14T10:03:18.042185Z","subnet":"172.16.100.0/22"},{"id":"01214935-ecf0-4005-a3c2-947849f76485","created_at":"2023-06-14T10:03:18.042185Z","updated_at":"2023-06-14T10:03:18.042185Z","subnet":"fd63:256c:45f7:9d40::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"861698b7-d572-4ce7-b4b3-1b9a51d9dc18","name":"pn-condescending-mendeleev","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-14T10:03:18.042185Z","updated_at":"2023-06-14T10:03:18.042185Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"c6caa4f3-fbdc-4ee1-8058-3a079506ab4e","created_at":"2023-06-14T10:03:18.042185Z","updated_at":"2023-06-14T10:03:18.042185Z","subnet":"172.16.100.0/22"},{"id":"01214935-ecf0-4005-a3c2-947849f76485","created_at":"2023-06-14T10:03:18.042185Z","updated_at":"2023-06-14T10:03:18.042185Z","subnet":"fd63:256c:45f7:9d40::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par","id":"79044276-ee55-4f60-8c71-95d4369500b0","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-14T10:03:18.813231508Z","updated_at":"2023-06-14T10:03:19.626001594Z","type":"kapsule","name":"cli-test-get-cluster","description":"","status":"creating","version":"1.27.1","cni":"cilium","tags":[],"cluster_url":"https://79044276-ee55-4f60-8c71-95d4369500b0.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.79044276-ee55-4f60-8c71-95d4369500b0.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"861698b7-d572-4ce7-b4b3-1b9a51d9dc18"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"79044276-ee55-4f60-8c71-95d4369500b0","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-14T10:03:18.813231508Z","updated_at":"2023-06-14T10:03:19.626001594Z","type":"kapsule","n[...]
- request:
    body: '{"access_key":"SCWHJNSK2028RFV4SE6K","secret_key":null,"description":"lmarabese
      IAM API key","created_at":"2023-02-07T12:50:30.653520Z","updated_at":"2023-02-07T12:50:30.653520Z","expires_at":null,"default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","editable":true,"creation_ip":"51.159.46.153","user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: '{"access_key":"SCWHJNSK2028RFV4SE6K","secret_key":null,"description":"lmarabese
      IAM API key","created_at":"2023-02-07T12:50:30.653520Z","updated_at":"2023-02-07T12:50:30.653520Z","expires_at":null,"default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","editable":true,"creation_ip":"51.159.46.153","user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"total_count":1,"pools":[{"region":"fr-par","id":"094d8ce1-6bc6-40ad-8bdd-bc14c7febea6","cluster_id":"79044276-ee55-4f60-8c71-95d4369500b0","created_at":"2023-06-14T10:03:19.200581Z","updated_at":"2023-06-14T10:03:19.228210Z","name":"default","status":"scaling","version":"1.27.1","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":40000000000}]}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/79044276-ee55-4f60-8c71-95d4369500b0/pools?order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"pools":[{"region":"fr-par","id":"094d8ce1-6bc6-40ad-8bdd-bc14c7febea6","cluster_id":"79044276-ee55-4f60-8c71-95d4369500b0","created_at":"2023-06-14T10:03:19.200581Z","updated_at":"2023-06-14T10:03:19.228210Z","name":"default","status":"scaling","version":"1.27.1","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":40000000000}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"79044276-ee55-4f60-8c71-95d4369500b0","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/79044276-ee55-4f60-8c71-95d4369500b0
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"79044276-ee55-4f60-8c71-95d4369500b0","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
