---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150, "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000, "dedicated":false, "audit_logs_supported":false, "max_etcd_size":55000000}, {"name":"kapsule-dedicated-4", "availability":"shortage", "max_nodes":250, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability", "memory":4000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200000000}, {"name":"kapsule-dedicated-8", "availability":"available", "max_nodes":500, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability", "memory":8000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":2000[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"a7aff40f-9065-44fd-863d-85dbe0bd1640", "name":"pn-keen-meitner", "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:34.225494Z", "updated_at":"2025-07-22T15:54:34.225494Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"36e29edf-d560-48aa-a753-80045b3014a5", "created_at":"2025-07-22T15:54:34.225494Z", "updated_at":"2025-07-22T15:54:34.225494Z", "subnet":"172.16.104.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"a7aff40f-9065-44fd-863d-85dbe0bd1640", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"97b3c754-bdf5-4745-a9cc-63c2528562f8", "created_at":"2025-07-22T15:54:34.225494Z", "updated_at":"2025-07-22T15:54:34.225494Z", "subnet":"fd63:256c:45f7:3459::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"a7aff40f-9065-44fd-863d-85dbe0bd1640", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"a7aff40f-9065-44fd-863d-85dbe0bd1640", "name":"pn-keen-meitner", "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:34.225494Z", "updated_at":"2025-07-22T15:54:34.225494Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"36e29edf-d560-48aa-a753-80045b3014a5", "created_at":"2025-07-22T15:54:34.225494Z", "updated_at":"2025-07-22T15:54:34.225494Z", "subnet":"172.16.104.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"a7aff40f-9065-44fd-863d-85dbe0bd1640", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"97b3c754-bdf5-4745-a9cc-63c2528562f8", "created_at":"2025-07-22T15:54:34.225494Z", "updated_at":"2025-07-22T15:54:34.225494Z", "subnet":"fd63:256c:45f7:3459::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"a7aff40f-9065-44fd-863d-85dbe0bd1640", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 629.371572ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"region":"fr-par", "id":"e2bb9112-bdd9-4e64-a0ce-8c080bb97ac6", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:35.109999Z", "updated_at":"2025-07-22T15:54:35.109999Z", "type":"kapsule", "name":"cli-test-get-cluster", "description":"", "status":"creating", "version":"1.32.3", "cni":"cilium", "tags":[], "cluster_url":"https://e2bb9112-bdd9-4e64-a0ce-8c080bb97ac6.api.k8s.fr-par.scw.cloud:6443", "dns_wildcard":"*.e2bb9112-bdd9-4e64-a0ce-8c080bb97ac6.nodes.k8s.fr-par.scw.cloud", "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m", "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false, "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10, "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600}, "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}}, "upgrade_available":false, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"", "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[], "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"a7aff40f-9065-44fd-863d-85dbe0bd1640", "commitment_ends_at":"2025-07-22T15:54:35.110011Z", "acl_available":true, "iam_nodes_group_id":"", "new_images_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par", "id":"e2bb9112-bdd9-4e64-a0ce-8c080bb97ac6", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:35.109999Z", "updated_at":"2025-07-22T15:54:35.109999Z", "type":"kaps[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"total_count":1, "pools":[{"region":"fr-par", "id":"51ff42db-3851-4f07-a417-b26d5556743f", "cluster_id":"e2bb9112-bdd9-4e64-a0ce-8c080bb97ac6", "created_at":"2025-07-22T15:54:34.861886Z", "updated_at":"2025-07-22T15:54:34.861886Z", "name":"default", "status":"scaling", "version":"1.32.3", "node_type":"dev1_m", "autoscaling":false, "size":1, "min_size":0, "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[], "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1, "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"l_ssd", "root_volume_size":40000000000, "public_ip_disabled":false, "new_images_enabled":false, "security_group_id":"08f6084b-9f0f-421b-aff3-b5286caf997d"}]}'
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e2bb9112-bdd9-4e64-a0ce-8c080bb97ac6/pools?order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"total_count":1, "pools":[{"region":"fr-par", "id":"51ff42db-3851-4f07-a417-b26d5556743f", "cluster_id":"e2bb9112-bdd9-4e64-a0ce-8c080bb97ac6", "created_at":"2025-07-22T15:54:34.861886Z", "updated_at":"2025-07-22T15:54:34.861886Z", "name":"default", "status":"scaling", "version":"1.32.3", "node_type":"dev1_m", "autoscaling":false, "size":1, "min_size":0, "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[], "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1, "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"l_ssd", "root_volume_size":40000000000, "public_ip_disabled":false, "new_images_enabled":false, "security_group_id":"08f6084b-9f0f-421b-aff3-b5286caf997d"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.943483ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"e2bb9112-bdd9-4e64-a0ce-8c080bb97ac6","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e2bb9112-bdd9-4e64-a0ce-8c080bb97ac6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"e2bb9112-bdd9-4e64-a0ce-8c080bb97ac6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.138485ms
