---
version: 1
interactions:
- request:
    body: '{"id":"a7884f96-9fbf-4651-aec1-fd5a73ce3626","name":"pn-hopeful-shamir","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-14T10:08:54.508436Z","updated_at":"2023-06-14T10:08:54.508436Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"109cee5f-a512-445e-99de-104fb037f401","created_at":"2023-06-14T10:08:54.508436Z","updated_at":"2023-06-14T10:08:54.508436Z","subnet":"172.16.120.0/22"},{"id":"bb18a912-adc9-470d-8435-034fb3198823","created_at":"2023-06-14T10:08:54.508436Z","updated_at":"2023-06-14T10:08:54.508436Z","subnet":"fd63:256c:45f7:4f49::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"a7884f96-9fbf-4651-aec1-fd5a73ce3626","name":"pn-hopeful-shamir","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-14T10:08:54.508436Z","updated_at":"2023-06-14T10:08:54.508436Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"109cee5f-a512-445e-99de-104fb037f401","created_at":"2023-06-14T10:08:54.508436Z","updated_at":"2023-06-14T10:08:54.508436Z","subnet":"172.16.120.0/22"},{"id":"bb18a912-adc9-470d-8435-034fb3198823","created_at":"2023-06-14T10:08:54.508436Z","updated_at":"2023-06-14T10:08:54.508436Z","subnet":"fd63:256c:45f7:4f49::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par","id":"78338397-62f4-4458-8ba8-ce37ddff5340","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-14T10:08:54.802874122Z","updated_at":"2023-06-14T10:08:55.093035123Z","type":"kapsule","name":"cli-test-get-kubeconfig","description":"","status":"creating","version":"1.27.1","cni":"cilium","tags":[],"cluster_url":"https://78338397-62f4-4458-8ba8-ce37ddff5340.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.78338397-62f4-4458-8ba8-ce37ddff5340.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"a7884f96-9fbf-4651-aec1-fd5a73ce3626"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"78338397-62f4-4458-8ba8-ce37ddff5340","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-14T10:08:54.802874122Z","updated_at":"2023-06-14T10:08:55.093035123Z","type":"kapsule","n[...]
[...]
- request:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWdldC1rdWJlY29uZmlnIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxRVdYaE5la1YzVFVSbk1VNXNiMWhFVkUxNlRVUlplRTE2UlhkTlJHY3hUbXh2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"78338397-62f4-4458-8ba8-ce37ddff5340","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/78338397-62f4-4458-8ba8-ce37ddff5340
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"78338397-62f4-4458-8ba8-ce37ddff5340","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
