---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150, "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000, "dedicated":false, "audit_logs_supported":false, "max_etcd_size":55000000}, {"name":"kapsule-dedicated-4", "availability":"shortage", "max_nodes":250, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability", "memory":4000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200000000}, {"name":"kapsule-dedicated-8", "availability":"available", "max_nodes":500, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability", "memory":8000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":2000[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"c0f6a703-fe32-42cd-be4c-9b9c009218f0", "name":"pn-wonderful-curie", "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T16:02:31.890603Z", "updated_at":"2025-07-22T16:02:31.890603Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"ae6a4dd1-efab-43f2-af23-e6398e4e8d79", "created_at":"2025-07-22T16:02:31.890603Z", "updated_at":"2025-07-22T16:02:31.890603Z", "subnet":"172.16.144.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"c0f6a703-fe32-42cd-be4c-9b9c009218f0", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"7e7233e7-a4b0-407c-a3c5-6c96d4f1dc84", "created_at":"2025-07-22T16:02:31.890603Z", "updated_at":"2025-07-22T16:02:31.890603Z", "subnet":"fd63:256c:45f7:3a9b::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"c0f6a703-fe32-42cd-be4c-9b9c009218f0", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"c0f6a703-fe32-42cd-be4c-9b9c009218f0", "name":"pn-wonderful-curie", "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T16:02:31.890603Z", "updated_at":"2025-07-22T16:02:31.890603Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"ae6a4dd1-efab-43f2-af23-e6398e4e8d79", "created_at":"2025-07-22T16:02:31.890603Z", "updated_at":"2025-07-22T16:02:31.890603Z", "subnet":"172.16.144.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"c0f6a703-fe32-42cd-be4c-9b9c009218f0", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"7e7233e7-a4b0-407c-a3c5-6c96d4f1dc84", "created_at":"2025-07-22T16:02:31.890603Z", "updated_at":"2025-07-22T16:02:31.890603Z", "subnet":"fd63:256c:45f7:3a9b::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"c0f6a703-fe32-42cd-be4c-9b9c009218f0", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 683.747902ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"region":"fr-par", "id":"9d02e7da-47cf-40db-ab55-d8eef18538fe", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T16:02:32.871855Z", "updated_at":"2025-07-22T16:02:32.871855Z", "type":"kapsule", "name":"cli-test-install-kubeconfig-merge", "description":"", "status":"creating", "version":"1.32.3", "cni":"cilium", "tags":[], "cluster_url":"https://9d02e7da-47cf-40db-ab55-d8eef18538fe.api.k8s.fr-par.scw.cloud:6443", "dns_wildcard":"*.9d02e7da-47cf-40db-ab55-d8eef18538fe.nodes.k8s.fr-par.scw.cloud", "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m", "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false, "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10, "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600}, "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}}, "upgrade_available":false, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"", "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[], "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"c0f6a703-fe32-42cd-be4c-9b9c009218f0", "commitment_ends_at":"2025-07-22T16:02:32.871865Z", "acl_available":true, "iam_nodes_group_id":"", "new_images_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par", "id":"9d02e7da-47cf-40db-ab55-d8eef18538fe", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T16:02:32.871855Z", "updated_at":"2025-07-22T16:02:32.871855Z", "type":"kaps[...]
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWluc3RhbGwta3ViZWNvbmZpZy1tZXJnZSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVZM2xOVkVVeVRVUkplazVXYjFoRVZFMHhUVVJqZVUxVVJUSk5SRWw2VGxadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVV[...]
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"9d02e7da-47cf-40db-ab55-d8eef18538fe","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9d02e7da-47cf-40db-ab55-d8eef18538fe
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"9d02e7da-47cf-40db-ab55-d8eef18538fe","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 56.072069ms
