---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150, "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000, "dedicated":false, "audit_logs_supported":false, "max_etcd_size":55000000}, {"name":"kapsule-dedicated-4", "availability":"shortage", "max_nodes":250, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability", "memory":4000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200000000}, {"name":"kapsule-dedicated-8", "availability":"available", "max_nodes":500, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability", "memory":8000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":2000[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"22629496-5311-4203-aeda-405336111615", "name":"pn-heuristic-shannon", "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:41.048950Z", "updated_at":"2025-07-22T15:54:41.048950Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"5aebce33-33d7-4e67-8863-bfaad4a2dbe8", "created_at":"2025-07-22T15:54:41.048950Z", "updated_at":"2025-07-22T15:54:41.048950Z", "subnet":"172.16.132.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"22629496-5311-4203-aeda-405336111615", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"c7a74157-e5ce-4e2a-a25e-7c7c674edba4", "created_at":"2025-07-22T15:54:41.048950Z", "updated_at":"2025-07-22T15:54:41.048950Z", "subnet":"fd63:256c:45f7:2c58::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"22629496-5311-4203-aeda-405336111615", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"22629496-5311-4203-aeda-405336111615", "name":"pn-heuristic-shannon", "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:41.048950Z", "updated_at":"2025-07-22T15:54:41.048950Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"5aebce33-33d7-4e67-8863-bfaad4a2dbe8", "created_at":"2025-07-22T15:54:41.048950Z", "updated_at":"2025-07-22T15:54:41.048950Z", "subnet":"172.16.132.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"22629496-5311-4203-aeda-405336111615", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"c7a74157-e5ce-4e2a-a25e-7c7c674edba4", "created_at":"2025-07-22T15:54:41.048950Z", "updated_at":"2025-07-22T15:54:41.048950Z", "subnet":"fd63:256c:45f7:2c58::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"22629496-5311-4203-aeda-405336111615", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 702.132103ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"region":"fr-par", "id":"582968ba-a817-4712-90f5-a84fb0a9afbd", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:41.892698Z", "updated_at":"2025-07-22T15:54:41.892698Z", "type":"kapsule", "name":"cli-test-wait-cluster", "description":"", "status":"creating", "version":"1.32.3", "cni":"cilium", "tags":[], "cluster_url":"https://582968ba-a817-4712-90f5-a84fb0a9afbd.api.k8s.fr-par.scw.cloud:6443", "dns_wildcard":"*.582968ba-a817-4712-90f5-a84fb0a9afbd.nodes.k8s.fr-par.scw.cloud", "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m", "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false, "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10, "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600}, "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}}, "upgrade_available":false, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"", "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[], "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"22629496-5311-4203-aeda-405336111615", "commitment_ends_at":"2025-07-22T15:54:41.892709Z", "acl_available":true, "iam_nodes_group_id":"", "new_images_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par", "id":"582968ba-a817-4712-90f5-a84fb0a9afbd", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-22T15:54:41.892698Z", "updated_at":"2025-07-22T15:54:41.892698Z", "type":"kaps[...]
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"total_count":1, "pools":[{"region":"fr-par", "id":"b688fd91-3650-4f56-8593-bccc9984d2f4", "cluster_id":"582968ba-a817-4712-90f5-a84fb0a9afbd", "created_at":"2025-07-22T15:54:41.747683Z", "updated_at":"2025-07-22T15:54:41.747683Z", "name":"default", "status":"scaling", "version":"1.32.3", "node_type":"gp1_xs", "autoscaling":false, "size":1, "min_size":0, "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[], "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1, "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"l_ssd", "root_volume_size":150000000000, "public_ip_disabled":false, "new_images_enabled":false, "security_group_id":"08f6084b-9f0f-421b-aff3-b5286caf997d"}]}'
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/582968ba-a817-4712-90f5-a84fb0a9afbd/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":1, "pools":[{"region":"fr-par", "id":"b688fd91-3650-4f56-8593-bccc9984d2f4", "cluster_id":"582968ba-a817-4712-90f5-a84fb0a9afbd", "created_at":"2025-07-22T15:54:41.747683Z", "updated_at":"2025-07-22T15:54:41.747683Z", "name":"default", "status":"scaling", "version":"1.32.3", "node_type":"gp1_xs", "autoscaling":false, "size":1, "min_size":0, "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[], "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1, "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"l_ssd", "root_volume_size":150000000000, "public_ip_disabled":false, "new_images_enabled":false, "security_group_id":"08f6084b-9f0f-421b-aff3-b5286caf997d"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.54703ms
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"region":"fr-par", "id":"b688fd91-3650-4f56-8593-bccc9984d2f4", "cluster_id":"582968ba-a817-4712-90f5-a84fb0a9afbd", "created_at":"2025-07-22T15:54:41.747683Z", "updated_at":"2025-07-22T15:54:41.747683Z", "name":"default", "status":"scaling", "version":"1.32.3", "node_type":"gp1_xs", "autoscaling":false, "size":1, "min_size":0, "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[], "placement_grou[...]
[...]
    - id: 80
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"582968ba-a817-4712-90f5-a84fb0a9afbd","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/582968ba-a817-4712-90f5-a84fb0a9afbd
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"582968ba-a817-4712-90f5-a84fb0a9afbd","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.464053ms
