---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"pn-brave-mccarthy","project_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":["created-along-with-k8s-cluster","created-by-cli"],"subnets":null,"default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"e5997652-94fc-4020-a25f-a66e5b2d3b36", "name":"pn-brave-mccarthy", "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"4d333544-41be-4b0b-8907-0b9036859747", "created_at":"2026-08-26T15:40:40.755028Z", "updated_at":"2026-08-26T15:40:40.755028Z", "project_id":"4d333544-41be-4b0b-8907-0b9036859747", "subnets":[{"id":"0caa9199-ec00-499e-9da7-a05cc8a569af", "created_at":"2026-08-26T15:40:40.755028Z", "updated_at":"2026-08-26T15:40:40.755028Z", "subnet":"172.16.0.0/22", "project_id":"4d333544-41be-4b0b-8907-0b9036859747", "private_network_id":"e5997652-94fc-4020-a25f-a66e5b2d3b36", "vpc_id":"3a436539-0369-429e-95b4-c38683bcac76", "region":"fr-par"}, {"id":"90ef2664-4754-42c3-b75c-ef2f34e61725", "created_at":"2026-08-26T15:40:40.755028Z", "updated_at":"2026-08-26T15:40:40.755028Z", "subnet":"fd6d:9b51:d4ce:703c::/64", "project_id":"4d333544-41be-4b0b-8907-0b9036859747", "private_network_id":"e5997652-94fc-4020-a25f-a66e5b2d3b36", "vpc_id":"3a436539-0369-429e-95b4-c38683bcac76", "region":"fr-par"}], "vpc_id":"3a436539-0369-429e-95b4-c38683bcac76", "dhcp_enabled":true, "default_route_propagation_enabled":false, "has_object_storage_private_access":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 866.200833ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 13.344625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"4d333544-41be-4b0b-8907-0b9036859747","type":"","name":"cli-test-Test_PoolSetLabel","description":"","tags":null,"version":"1.35.3","cni":"cilium","pools":[{"name":"default","node_type":"DEV1-M","placement_group_id":null,"autoscaling":false,"size":1,"min_size":null,"max_size":null,"container_runtime":"unknown_runtime","autohealing":false,"tags":null,"kubelet_args":null,"upgrade_policy":null,"zone":"","root_volume_type":"default_volume_type","root_volume_size":null,"public_ip_disabled":false,"security_group_id":null,"labels":null,"taints":null,"startup_taints":null,"private_network_id":null,"max_termination_grace_period":null}],"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"e5997652-94fc-4020-a25f-a66e5b2d3b36"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par", "id":"f38bf640-1760-413f-8b2e-31d15284ac60", "organization_id":"4d333544-41be-4b0b-8907-0b9036859747", "project_id":"4d333544-41be-4b0b-8907-0b9036859747", "created_at":"2026-08-26T15:40:41.833484Z", "updated_at":"2026-08-26T15:40:41.833484Z", "type":"kapsule", "name":"cli-test-Test_PoolSetLabel", "description":"", "status":"creating", "version":"1.35.3", "cni":"cilium", "tags":[], "cluster_url":"https://f38bf640-1760-413f-8b2e-31d15284ac60.api.k8s.fr-par.scw.cloud:6443", "dns_wildcard":"*.f38bf640-1760-413f-8b2e-31d15284ac60.nodes.k8s.fr-par.scw.cloud", "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m", "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false, "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10, "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600, "skip_nodes_with_local_storage":true, "log_level":2}, "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}}, "upgrade_available":true, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"", "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[], "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"e5997652-94fc-4020-a25f-a66e5b2d3b36", "commitment_ends_at":"2026-08-26T15:40:41.833494Z", "acl_available":true, "iam_nodes_group_id":"", "pod_cidr":"100.64.0.0/15", "service_cidr":"10.32.0.0/20", "service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 507.219458ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f38bf640-1760-413f-8b2e-31d15284ac60
        method: GET
      response:
        body: '{"region":"fr-par", "id":"f38bf640-1760-413f-8b2e-31d15284ac60", "organization_id":"4d333544-41be-4b0b-8907-0b9036859747", "project_id":"4d333544-41be-4b0b-8907-0b9036859747", "created_at":"2026-08-26T15:40:41.833484Z", "updated_at":"2026-08-26T15:40:41.833484Z", "typ[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        form:
            name:
                - default
            order_by:
                - created_at_asc
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f38bf640-1760-413f-8b2e-31d15284ac60/pools?name=default&order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"total_count":1, "pools":[{"region":"fr-par", "id":"0017d088-b071-45d4-ac1c-c793b20ee0ff", "cluster_id":"f38bf640-1760-413f-8b2e-31d15284ac60", "created_at":"2026-08-26T15:40:41.494503Z", "updated_at":"2026-08-26T15:40:41.494503Z", "name":"default", "status":"scaling", "version":"1.35.3", "node_type":"dev1_m", "autoscaling":false, "size":1, "min_size":1, "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[], "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1, "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"l_ssd", "root_volume_size":40000000000, "public_ip_disabled":false, "security_group_id":"aa085195-0b80-44df-9c92-8b9c52d8411a", "labels":{}, "taints":[], "startup_taints":[], "error_message":null, "max_termination_grace_period":null}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 56.6995ms
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/0017d088-b071-45d4-ac1c-c793b20ee0ff
        method: GET
      response:
        body: '{"region":"fr-par", "id":"0017d088-b071-45d4-ac1c-c793b20ee0ff", "cluster_id":"f38bf640-1760-413f-8b2e-31d15284ac60", "created_at":"2026-08-26T15:40:41.494503Z", "updated_at":"2026-08-26T15:40:41.494503Z", "name":"default", "status":"scaling", "version":"1.35.3", "node_type":"dev1_m", "autoscaling":false, "size":1, "min_size":1, "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[], "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1, "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"l_ssd", "root_volume_size":40000000000, "public_ip_disabled":false, "security_group_id":"aa085195-0b80-44df-9c92-8b9c52d8411a", "labels":{}, "taints":[], "startup_taints":[], "error_message":null, "max_termination_grace_period":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.992875ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"labels":{"foo":"bar"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/0017d088-b071-45d4-ac1c-c793b20ee0ff/set-labels
        method: PUT
      response:
        body: '{"region":"fr-par", "id":"0017d088-b071-45d4-ac1c-c793b20ee0ff", "cluster_id":"f38bf640-1760-413f-8b2e-31d15284ac60", "created_at":"2026-08-26T15:40:41.494503Z", "updated_at":"2026-08-26T15:42:12.476301Z", "name":"default", "status":"scaling", "version":"1.35.3", "node_type":"dev1_m", "autoscaling":false, "size":1, "min_size":1, "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[], "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1, "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"l_ssd", "root_volume_size":40000000000, "public_ip_disabled":false, "security_group_id":"aa085195-0b80-44df-9c92-8b9c52d8411a", "labels":{"foo":"bar"}, "taints":[], "startup_taints":[], "error_message":null, "max_termination_grace_period":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 64.810917ms
    - id: 13
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "true"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f38bf640-1760-413f-8b2e-31d15284ac60?with_additional_resources=true
        method: DELETE
      response:
        body: '{"region":"fr-par", "id":"f38bf640-1760-413f-8b2e-31d15284ac60", "organization_id":"4d333544-41be-4b0b-8907-0b9036859747", "project_id":"4d333544-41be-4b0b-8907-0b9036859747", "created_at":"2026-08-26T15:40:41.833484Z", "updated_at":"2026-08-26T15:42:12.537973Z", "t[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f38bf640-1760-413f-8b2e-31d15284ac60
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"f38bf640-1760-413f-8b2e-31d15284ac60","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 25.91625ms
