---
version: 1
interactions:
- request:
    body: '{"cluster_types":[{"name":"kapsule","availability":"available","max_nodes":150,"commitment_delay":"0s","sla":0,"resiliency":"standard","memory":4000000000,"dedicated":false,"audit_logs_supported":false,"max_etcd_size":55000000},{"name":"kapsule-dedicated-4","availability":"available","max_nodes":250,"commitment_delay":"2592000s","sla":99.5,"resiliency":"high_availability","memory":4000000000,"dedicated":true,"audit_logs_supported":false,"max_etcd_size":200000000},{"name":"kapsule-dedicated-8","availability":"available","max_nodes":500,"commitment_delay":"2592000s","sla":99.5,"resiliency":"high_availability","memory":8000000000,"dedicated":true,"audit_logs_supported":false,"max_etcd_size":200000000},{"name":"k[...]
- request:
    body: '{"id":"99b960e4-e830-4979-baab-40184b9b8209","name":"pn-wizardly-hamilton","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2024-12-12T16:24:32.149325Z","updated_at":"2024-12-12T16:24:32.149325Z","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":[{"id":"8261a540-774d-482a-9d99-c9248a04570c","created_at":"2024-12-12T16:24:32.149325Z","updated_at":"2024-12-12T16:24:32.149325Z","subnet":"172.16.24.0/22","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"99b960e4-e830-4979-baab-40184b9b8209","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"id":"a8f23a58-d2b2-4e94-a229-b612541d3369","created_at":"2024-12-12T16:24:32.149325Z","updated_at":"2024-12-12T16:24:32.149325Z","subnet":"fd46:78ab:30b8:8fe9::/64","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"99b960e4-e830-4979-baab-40184b9b8209","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"vpc_id":"086a5171-f7ab-4667-a231-840a81203f19","dhcp_enabled":true,"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"99b960e4-e830-4979-baab-40184b9b8209","name":"pn-wizardly-hamilton","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2024-12-12T16:24:32.149325Z","updated_at":"2024-12-12T16:24:32.149325Z","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":[{"id":"8261a540-774d-482a-9d99-c9248a04570c","created_at":"2024-12-12T16:24:32.149325Z","updated_at":"2024-12-12T16:24:32.149325Z","subnet":"172.16.24.0/22","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"99b960e4-e830-4979-baab-40184b9b8209","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"id":"a8f23a58-d2b2-4e94-a229-b612541d3369","created_at":"2024-12-12T16:24:32.149325Z","updated_at":"2024-12-12T16:24:32.149325Z","subnet":"fd46:78ab:30b8:8fe9::/64","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"99b960e4-e830-4979-baab-40184b9b8209","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"vpc_id":"086a5171-f7ab-4667-a231-840a81203f19","dhcp_enabled":true,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par","id":"2b3d49ed-7aac-4ca4-b690-ae896d15e956","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2024-12-12T16:24:33.172797Z","updated_at":"2024-12-12T16:24:33.172797Z","type":"kapsule","name":"cli-test-wait-cluster","description":"","status":"creating","version":"1.27.1","cni":"cilium","tags":[],"cluster_url":"https://2b3d49ed-7aac-4ca4-b690-ae896d15e956.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.2b3d49ed-7aac-4ca4-b690-ae896d15e956.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"99b960e4-e830-4979-baab-40184b9b8209","commitment_ends_at":"2024-12-12T16:24:33.172812Z","routed_ip_enabled":true,"sbs_csi_enabled":true,"full_vpc_integraton_enabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"2b3d49ed-7aac-4ca4-b690-ae896d15e956","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2024-12-12T16:24:33.172797Z","updated_at":"2024-12-12T16:24:33.172797Z","type":"kapsule","name":"cli-test-wait-cluster","descripti[...]
[...]
- request:
    body: '{"total_count":1,"pools":[{"region":"fr-par","id":"578851bc-88f1-4f6e-b3ad-532d0eab21d5","cluster_id":"2b3d49ed-7aac-4ca4-b690-ae896d15e956","created_at":"2024-12-12T16:24:32.703626Z","updated_at":"2024-12-12T16:24:32.703626Z","name":"default","status":"scaling","version":"1.27.1","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":150000000000,"public_ip_disabled":false}]}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2b3d49ed-7aac-4ca4-b690-ae896d15e956/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"pools":[{"region":"fr-par","id":"578851bc-88f1-4f6e-b3ad-532d0eab21d5","cluster_id":"2b3d49ed-7aac-4ca4-b690-ae896d15e956","created_at":"2024-12-12T16:24:32.703626Z","updated_at":"2024-12-12T16:24:32.703626Z","name":"default","status":"scaling","version":"1.27.1","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":150000000000,"public_ip_disabled":false}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par","id":"578851bc-88f1-4f6e-b3ad-532d0eab21d5","cluster_id":"2b3d49ed-7aac-4ca4-b690-ae896d15e956","created_at":"2024-12-12T16:24:32.703626Z","updated_at":"2024-12-12T16:24:32.703626Z","name":"default","status":"scaling","version":"1.27.1","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":150000000000,"public_ip_disabled":false}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/578851bc-88f1-4f6e-b3ad-532d0eab21d5
    method: GET
  response:
    body: '{"region":"fr-par","id":"578851bc-88f1-4f6e-b3ad-532d0eab21d5","cluster_id":"2b3d49ed-7aac-4ca4-b690-ae896d15e956","created_at":"2024-12-12T16:24:32.703626Z","updated_at":"2024-12-12T16:24:32.703626Z","name":"default","status":"scaling","version":"1.27.1","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":150000000000,"public_ip_disabled":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"2b3d49ed-7aac-4ca4-b690-ae896d15e956","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2b3d49ed-7aac-4ca4-b690-ae896d15e956
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"2b3d49ed-7aac-4ca4-b690-ae896d15e956","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
