---
version: 1
interactions:
- request:
    body: '{"cluster_types":[{"name":"kapsule","availability":"available","max_nodes":150,"commitment_delay":"0s","sla":0,"resiliency":"standard","memory":4000000000,"dedicated":false,"audit_logs_supported":false,"max_etcd_size":55000000},{"name":"kapsule-dedicated-4","availability":"available","max_nodes":250,"commitment_delay":"2592000s","sla":99.5,"resiliency":"high_availability","memory":4000000000,"dedicated":true,"audit_logs_supported":true,"max_etcd_size":200000000},{"name":"kapsule-dedicated-8","availability":"available","max_nodes":500,"commitment_delay":"2592000s","sla":99.5,"resiliency":"high_availability","memory":8000000000,"dedicated":true,"audit_logs_supported":true,"max_etcd_size":200000000},{"name":"kap[...]
- request:
    body: '{"id":"081b5b27-e1b3-4d93-8a99-0a9f6c8bf804","name":"pn-affectionate-jepsen","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2025-09-12T15:30:06.670302Z","updated_at":"2025-09-12T15:30:06.670302Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"f0a132e1-3654-40a4-9cc1-8b0d08ad5c09","created_at":"2025-09-12T15:30:06.670302Z","updated_at":"2025-09-12T15:30:06.670302Z","subnet":"172.16.20.0/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"081b5b27-e1b3-4d93-8a99-0a9f6c8bf804","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"id":"63db67bd-b8c7-4fdb-9bed-25a0f93d1485","created_at":"2025-09-12T15:30:06.670302Z","updated_at":"2025-09-12T15:30:06.670302Z","subnet":"fd63:256c:45f7:f055::/64","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"081b5b27-e1b3-4d93-8a99-0a9f6c8bf804","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"081b5b27-e1b3-4d93-8a99-0a9f6c8bf804","name":"pn-affectionate-jepsen","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2025-09-12T15:30:06.670302Z","updated_at":"2025-09-12T15:30:06.670302Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"f0a132e1-3654-40a4-9cc1-8b0d08ad5c09","created_at":"2025-09-12T15:30:06.670302Z","updated_at":"2025-09-12T15:30:06.670302Z","subnet":"172.16.20.0/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"081b5b27-e1b3-4d93-8a99-0a9f6c8bf804","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"id":"63db67bd-b8c7-4fdb-9bed-25a0f93d1485","created_at":"2025-09-12T15:30:06.670302Z","updated_at":"2025-09-12T15:30:06.670302Z","subnet":"fd63:256c:45f7:f055::/64","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"081b5b27-e1b3-4d93-8a99-0a9f6c8bf804","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par","id":"023584c2-4635-4d84-be8d-2578f5a2070e","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2025-09-12T15:30:07.491681Z","updated_at":"2025-09-12T15:30:07.491681Z","type":"kapsule","name":"cli-test-install-kubeconfig-merge","description":"","status":"creating","version":"1.32.3","cni":"cilium","tags":[],"cluster_url":"https://023584c2-4635-4d84-be8d-2578f5a2070e.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.023584c2-4635-4d84-be8d-2578f5a2070e.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"081b5b27-e1b3-4d93-8a99-0a9f6c8bf804","commitment_ends_at":"2025-09-12T15:30:07.491691Z","acl_available":true,"iam_nodes_group_id":"","new_images_enabled":false,"pod_cidr":"","service_cidr":"","service_dns_ip":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"023584c2-4635-4d84-be8d-2578f5a2070e","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2025-09-12T15:30:07.491681Z","updated_at":"2025-09-12T15:30:07.491681Z","type":"kapsule","name":"cli-test-install-kubeconfig-merge","[...]
[...]
- request:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWluc3RhbGwta3ViZWNvbmZpZy1tZXJnZSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVhM2hOVkVVeFRYcEJkMDR4YjFoRVZFMHhUVVJyZUUxVVJURk5la0YzVGpGdmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVV[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"023584c2-4635-4d84-be8d-2578f5a2070e","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/023584c2-4635-4d84-be8d-2578f5a2070e
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"023584c2-4635-4d84-be8d-2578f5a2070e","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
