---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150, "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000, "dedicated":false, "audit_logs_supported":false, "max_etcd_size":55000000}, {"name":"kapsule-dedicated-4", "availability":"available", "max_nodes":250, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability", "memory":4000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200000000}, {"name":"kapsule-dedicated-8", "availability":"available", "max_nodes":500, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability", "memory":8000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"c724e45c-8973-4b71-8177-1971a73ac2d7", "name":"pn-thirsty-golick", "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-08-07T09:46:44.380281Z", "updated_at":"2025-08-07T09:46:44.380281Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"40087066-6e59-4d54-911f-deadf830e953", "created_at":"2025-08-07T09:46:44.380281Z", "updated_at":"2025-08-07T09:46:44.380281Z", "subnet":"172.16.20.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"c724e45c-8973-4b71-8177-1971a73ac2d7", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"b141a9bf-086f-49e2-ac6f-5ab172e2fdcc", "created_at":"2025-08-07T09:46:44.380281Z", "updated_at":"2025-08-07T09:46:44.380281Z", "subnet":"fd63:256c:45f7:9cda::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"c724e45c-8973-4b71-8177-1971a73ac2d7", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"c724e45c-8973-4b71-8177-1971a73ac2d7", "name":"pn-thirsty-golick", "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-08-07T09:46:44.380281Z", "updated_at":"2025-08-07T09:46:44.380281Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"40087066-6e59-4d54-911f-deadf830e953", "created_at":"2025-08-07T09:46:44.380281Z", "updated_at":"2025-08-07T09:46:44.380281Z", "subnet":"172.16.20.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"c724e45c-8973-4b71-8177-1971a73ac2d7", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"b141a9bf-086f-49e2-ac6f-5ab172e2fdcc", "created_at":"2025-08-07T09:46:44.380281Z", "updated_at":"2025-08-07T09:46:44.380281Z", "subnet":"fd63:256c:45f7:9cda::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"c724e45c-8973-4b71-8177-1971a73ac2d7", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 658.368247ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"region":"fr-par", "id":"b5122b96-b515-4089-9a5a-baaddaf8f660", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-08-07T09:46:45.233070Z", "updated_at":"2025-08-07T09:46:45.233070Z", "type":"kapsule", "name":"cli-test-get-cluster", "description":"", "status":"creating", "version":"1.32.3", "cni":"cilium", "tags":[], "cluster_url":"https://b5122b96-b515-4089-9a5a-baaddaf8f660.api.k8s.fr-par.scw.cloud:6443", "dns_wildcard":"*.b5122b96-b515-4089-9a5a-baaddaf8f660.nodes.k8s.fr-par.scw.cloud", "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m", "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false, "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10, "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600}, "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}}, "upgrade_available":true, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"", "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[], "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"c724e45c-8973-4b71-8177-1971a73ac2d7", "commitment_ends_at":"2025-08-07T09:46:45.233081Z", "acl_available":true, "iam_nodes_group_id":"", "new_images_enabled":false, "pod_cidr":"", "service_cidr":"", "service_dns_ip":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par", "id":"b5122b96-b515-4089-9a5a-baaddaf8f660", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-08-07T09:46:45.233070Z", "updated_at":"2025-08-07T09:46:45.233070Z", "type":"kapsule[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"total_count":1, "pools":[{"region":"fr-par", "id":"560e1132-4456-45f0-ad28-ad0e57118933", "cluster_id":"b5122b96-b515-4089-9a5a-baaddaf8f660", "created_at":"2025-08-07T09:46:45.040487Z", "updated_at":"2025-08-07T09:46:45.040487Z", "name":"default", "status":"scaling", "version":"1.32.3", "node_type":"dev1_m", "autoscaling":false, "size":1, "min_size":0, "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[], "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1, "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"l_ssd", "root_volume_size":40000000000, "public_ip_disabled":false, "new_images_enabled":false, "security_group_id":"592f683f-83b9-47e4-9434-ca1931bdaa4b"}]}'
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b5122b96-b515-4089-9a5a-baaddaf8f660/pools?order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"total_count":1, "pools":[{"region":"fr-par", "id":"560e1132-4456-45f0-ad28-ad0e57118933", "cluster_id":"b5122b96-b515-4089-9a5a-baaddaf8f660", "created_at":"2025-08-07T09:46:45.040487Z", "updated_at":"2025-08-07T09:46:45.040487Z", "name":"default", "status":"scaling", "version":"1.32.3", "node_type":"dev1_m", "autoscaling":false, "size":1, "min_size":0, "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[], "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1, "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"l_ssd", "root_volume_size":40000000000, "public_ip_disabled":false, "new_images_enabled":false, "security_group_id":"592f683f-83b9-47e4-9434-ca1931bdaa4b"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.565033ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"b5122b96-b515-4089-9a5a-baaddaf8f660","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b5122b96-b515-4089-9a5a-baaddaf8f660
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"b5122b96-b515-4089-9a5a-baaddaf8f660","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 18.911956ms
