---
version: 1
interactions:
- request:
    body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150,
      "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000,
      "dedicated":false, "audit_logs_supported":false, "max_etcd_size":55000000},
      {"name":"kapsule-dedicated-4", "availability":"available", "max_nodes":250,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":4000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200000000},
      {"name":"kapsule-dedicated-8", "availability":"available", "max_nodes":500,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":8000000000, "dedicated":true, "audit_logs_[...]
- request:
    body: '{"id":"ba6591f3-15a7-4567-92aa-308a7fe9eb20", "name":"pn-blissful-curie",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "created_at":"2025-05-14T12:19:49.849572Z", "updated_at":"2025-05-14T12:19:49.849572Z",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "subnets":[{"id":"caaba37b-f74b-4cb6-9af5-57f5d3541d99",
      "created_at":"2025-05-14T12:19:49.849572Z", "updated_at":"2025-05-14T12:19:49.849572Z",
      "subnet":"172.16.0.0/22", "project_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "private_network_id":"ba6591f3-15a7-4567-92aa-308a7fe9eb20", "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e"},
      {"id":"86b1182a-1359-4719-a5e0-77e61c5760e2", "created_at":"2025-05-14T12:19:49.849572Z",
      "updated_at":"2025-05-14T12:19:49.849572Z", "subnet":"fdd2:c09a:9672:d372::/64",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "private_network_id":"ba6591f3-15a7-4567-92aa-308a7fe9eb20",
      "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e"}], "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"ba6591f3-15a7-4567-92aa-308a7fe9eb20", "name":"pn-blissful-curie",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "created_at":"2025-05-14T12:19:49.849572Z", "updated_at":"2025-05-14T12:19:49.849572Z",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "subnets":[{"id":"caaba37b-f74b-4cb6-9af5-57f5d3541d99",
      "created_at":"2025-05-14T12:19:49.849572Z", "updated_at":"2025-05-14T12:19:49.849572Z",
      "subnet":"172.16.0.0/22", "project_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "private_network_id":"ba6591f3-15a7-4567-92aa-308a7fe9eb20", "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e"},
      {"id":"86b1182a-1359-4719-a5e0-77e61c5760e2", "created_at":"2025-05-14T12:19:49.849572Z",
      "updated_at":"2025-05-14T12:19:49.849572Z", "subnet":"fdd2:c09a:9672:d372::/64",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "private_network_id":"ba6591f3-15a7-4567-92aa-308a7fe9eb20",
      "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e"}], "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par", "id":"aa09206b-5914-47ea-9cc7-d7016d073b40", "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "created_at":"2025-05-14T12:19:50.611851Z",
      "updated_at":"2025-05-14T12:19:50.611851Z", "type":"kapsule", "name":"cli-test-uninstall-kubeconfig-empty",
      "description":"", "status":"creating", "version":"1.32.3", "cni":"cilium", "tags":[],
      "cluster_url":"https://aa09206b-5914-47ea-9cc7-d7016d073b40.api.k8s.fr-par.scw.cloud:6443",
      "dns_wildcard":"*.aa09206b-5914-47ea-9cc7-d7016d073b40.nodes.k8s.fr-par.scw.cloud",
      "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m",
      "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false,
      "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10,
      "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600},
      "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}},
      "upgrade_available":false, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"",
      "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[],
      "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"ba6591f3-15a7-4567-92aa-308a7fe9eb20",
      "commitment_ends_at":"2025-05-14T12:19:50.611863Z", "acl_available":true, "iam_nodes_group_id":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par", "id":"aa09206b-5914-47ea-9cc7-d7016d073b40", "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "created_at":"2025-05-14T12:19:50.611851Z",
      "updated_at":"2025-05-14T12:19:50.611851Z", "type":"kapsule", "name":"cli-test-uninstal[...]
[...]
- request:
    body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LXVuaW5zdGFsbC1rdWJlY29uZmlnLWVtcHR5IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTVUxRVZYaE5la1Y1VFZSck1VMXNiMWhFVkUweFRVUlZlRTE2UlhsTlZHc3hUV3h2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJ[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"aa09206b-5914-47ea-9cc7-d7016d073b40","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/aa09206b-5914-47ea-9cc7-d7016d073b40
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"aa09206b-5914-47ea-9cc7-d7016d073b40","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
