---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150, "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000, "dedicated":false, "audit_logs_supported":false, "max_etcd_size":55000000}, {"name":"kapsule-dedicated-4", "availability":"available", "max_nodes":250, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability", "memory":4000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200000000}, {"name":"kapsule-dedicated-8", "availability":"available", "max_nodes":500, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability", "memory":8000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"0cc47d1c-31c3-49ad-878f-4b48a73ebf11", "name":"pn-silly-easley", "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-23T16:01:53.311700Z", "updated_at":"2025-07-23T16:01:53.311700Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"3812f06e-107b-475c-b1be-71c07460e0b2", "created_at":"2025-07-23T16:01:53.311700Z", "updated_at":"2025-07-23T16:01:53.311700Z", "subnet":"172.16.32.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"0cc47d1c-31c3-49ad-878f-4b48a73ebf11", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"3bf97de8-7d0c-411d-a113-6599d816eef2", "created_at":"2025-07-23T16:01:53.311700Z", "updated_at":"2025-07-23T16:01:53.311700Z", "subnet":"fd63:256c:45f7:51cf::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"0cc47d1c-31c3-49ad-878f-4b48a73ebf11", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"0cc47d1c-31c3-49ad-878f-4b48a73ebf11", "name":"pn-silly-easley", "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-23T16:01:53.311700Z", "updated_at":"2025-07-23T16:01:53.311700Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"3812f06e-107b-475c-b1be-71c07460e0b2", "created_at":"2025-07-23T16:01:53.311700Z", "updated_at":"2025-07-23T16:01:53.311700Z", "subnet":"172.16.32.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"0cc47d1c-31c3-49ad-878f-4b48a73ebf11", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"3bf97de8-7d0c-411d-a113-6599d816eef2", "created_at":"2025-07-23T16:01:53.311700Z", "updated_at":"2025-07-23T16:01:53.311700Z", "subnet":"fd63:256c:45f7:51cf::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"0cc47d1c-31c3-49ad-878f-4b48a73ebf11", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 632.856141ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"region":"fr-par", "id":"b02738ac-11e2-4eb9-addf-0183061ddf10", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-23T16:01:54.148773Z", "updated_at":"2025-07-23T16:01:54.148773Z", "type":"kapsule", "name":"cli-test-wait-cluster", "description":"", "status":"creating", "version":"1.32.3", "cni":"cilium", "tags":[], "cluster_url":"https://b02738ac-11e2-4eb9-addf-0183061ddf10.api.k8s.fr-par.scw.cloud:6443", "dns_wildcard":"*.b02738ac-11e2-4eb9-addf-0183061ddf10.nodes.k8s.fr-par.scw.cloud", "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m", "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false, "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10, "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600}, "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}}, "upgrade_available":true, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"", "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[], "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"0cc47d1c-31c3-49ad-878f-4b48a73ebf11", "commitment_ends_at":"2025-07-23T16:01:54.148783Z", "acl_available":true, "iam_nodes_group_id":"", "new_images_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par", "id":"b02738ac-11e2-4eb9-addf-0183061ddf10", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-07-23T16:01:54.148773Z", "updated_at":"2025-07-23T16:01:54.148773Z", "type":"kaps[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"total_count":1, "pools":[{"region":"fr-par", "id":"d7968eb3-164c-44c2-9a23-ae2e73e05b99", "cluster_id":"b02738ac-11e2-4eb9-addf-0183061ddf10", "created_at":"2025-07-23T16:01:53.958379Z", "updated_at":"2025-07-23T16:01:53.958379Z", "name":"default", "status":"scaling", "version":"1.32.3", "node_type":"gp1_xs", "autoscaling":false, "size":1, "min_size":0, "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[], "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1, "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"l_ssd", "root_volume_size":150000000000, "public_ip_disabled":false, "new_images_enabled":false, "security_group_id":"08f6084b-9f0f-421b-aff3-b5286caf997d"}]}'
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b02738ac-11e2-4eb9-addf-0183061ddf10/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":1, "pools":[{"region":"fr-par", "id":"d7968eb3-164c-44c2-9a23-ae2e73e05b99", "cluster_id":"b02738ac-11e2-4eb9-addf-0183061ddf10", "created_at":"2025-07-23T16:01:53.958379Z", "updated_at":"2025-07-23T16:01:53.958379Z", "name":"default", "status":"scaling", "version":"1.32.3", "node_type":"gp1_xs", "autoscaling":false, "size":1, "min_size":0, "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[], "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1, "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"l_ssd", "root_volume_size":150000000000, "public_ip_disabled":false, "new_images_enabled":false, "security_group_id":"08f6084b-9f0f-421b-aff3-b5286caf997d"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.47393ms
    - id: 23
      request:
        host: api.scaleway.com
        body: '{"region":"fr-par", "id":"d7968eb3-164c-44c2-9a23-ae2e73e05b99", "cluster_id":"b02738ac-11e2-4eb9-addf-0183061ddf10", "created_at":"2025-07-23T16:01:53.958379Z", "updated_at":"2025-07-23T16:01:53.958379Z", "name":"default", "status":"scaling", "version":"1.32.3", "node_type":"gp1_xs", "autoscaling":false, "size":1, "min_size":0, "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[], "placement_grou[...]
[...]
    - id: 83
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"b02738ac-11e2-4eb9-addf-0183061ddf10","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b02738ac-11e2-4eb9-addf-0183061ddf10
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"b02738ac-11e2-4eb9-addf-0183061ddf10","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.834418ms
