---
version: 1
interactions:
- request:
    body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150,
      "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000,
      "dedicated":false, "audit_logs_supported":false, "max_etcd_size":55000000},
      {"name":"kapsule-dedicated-4", "availability":"shortage", "max_nodes":250, "commitment_delay":"2592000s",
      "sla":99.5, "resiliency":"high_availability", "memory":4000000000, "dedicated":true,
      "audit_logs_supported":true, "max_etcd_size":200000000}, {"name":"kapsule-dedicated-8",
      "availability":"available", "max_nodes":500, "commitment_delay":"2592000s",
      "sla":99.5, "resiliency":"high_availability", "memory":8000000000, "dedicated":true,
      "audit_logs_s[...]
- request:
    body: '{"id":"82d14678-d815-412b-ac75-2134d5df987b", "name":"pn-flamboyant-fermi",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "created_at":"2025-05-14T11:50:34.500032Z", "updated_at":"2025-05-14T11:50:34.500032Z",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "subnets":[{"id":"102749aa-0768-45c7-a1f6-b36a9b1a3415",
      "created_at":"2025-05-14T11:50:34.500032Z", "updated_at":"2025-05-14T11:50:34.500032Z",
      "subnet":"172.16.12.0/22", "project_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "private_network_id":"82d14678-d815-412b-ac75-2134d5df987b", "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e"},
      {"id":"ca3d260b-fc0e-4130-aec5-2b89b522ecce", "created_at":"2025-05-14T11:50:34.500032Z",
      "updated_at":"2025-05-14T11:50:34.500032Z", "subnet":"fdd2:c09a:9672:290a::/64",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "private_network_id":"82d14678-d815-412b-ac75-2134d5df987b",
      "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e"}], "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"82d14678-d815-412b-ac75-2134d5df987b", "name":"pn-flamboyant-fermi",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "created_at":"2025-05-14T11:50:34.500032Z", "updated_at":"2025-05-14T11:50:34.500032Z",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "subnets":[{"id":"102749aa-0768-45c7-a1f6-b36a9b1a3415",
      "created_at":"2025-05-14T11:50:34.500032Z", "updated_at":"2025-05-14T11:50:34.500032Z",
      "subnet":"172.16.12.0/22", "project_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "private_network_id":"82d14678-d815-412b-ac75-2134d5df987b", "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e"},
      {"id":"ca3d260b-fc0e-4130-aec5-2b89b522ecce", "created_at":"2025-05-14T11:50:34.500032Z",
      "updated_at":"2025-05-14T11:50:34.500032Z", "subnet":"fdd2:c09a:9672:290a::/64",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "private_network_id":"82d14678-d815-412b-ac75-2134d5df987b",
      "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e"}], "vpc_id":"f563b340-475d-466c-bc25-e100e067e38e",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par", "id":"7ab71cf4-d372-4e2a-8a07-65c5e52d0859", "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "created_at":"2025-05-14T11:50:35.218849Z",
      "updated_at":"2025-05-14T11:50:35.218849Z", "type":"kapsule", "name":"cli-test-wait-cluster",
      "description":"", "status":"creating", "version":"1.32.3", "cni":"cilium", "tags":[],
      "cluster_url":"https://7ab71cf4-d372-4e2a-8a07-65c5e52d0859.api.k8s.fr-par.scw.cloud:6443",
      "dns_wildcard":"*.7ab71cf4-d372-4e2a-8a07-65c5e52d0859.nodes.k8s.fr-par.scw.cloud",
      "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m",
      "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false,
      "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10,
      "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600},
      "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}},
      "upgrade_available":false, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"",
      "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[],
      "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"82d14678-d815-412b-ac75-2134d5df987b",
      "commitment_ends_at":"2025-05-14T11:50:35.218860Z", "acl_available":true, "iam_nodes_group_id":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par", "id":"7ab71cf4-d372-4e2a-8a07-65c5e52d0859", "organization_id":"6867048b-fe12-4e96-835e-41c79a39604b",
      "project_id":"6867048b-fe12-4e96-835e-41c79a39604b", "created_at":"2025-05-14T11:50:35.218849Z",
      "updated_at":"2025-05-14T11:50:35.218849Z", "type":"kapsule", "name":"cli-test-wait-clu[...]
[...]
- request:
    body: '{"total_count":1, "pools":[{"region":"fr-par", "id":"c256c3d6-2469-42b0-8528-dbbdd178ab0f",
      "cluster_id":"7ab71cf4-d372-4e2a-8a07-65c5e52d0859", "created_at":"2025-05-14T11:50:35.082285Z",
      "updated_at":"2025-05-14T11:50:35.082285Z", "name":"default", "status":"scaling",
      "version":"1.32.3", "node_type":"gp1_xs", "autoscaling":false, "size":1, "min_size":0,
      "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[],
      "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1,
      "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"l_ssd", "root_volume_size":150000000000,
      "public_ip_disabled":false}]}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7ab71cf4-d372-4e2a-8a07-65c5e52d0859/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: '{"total_count":1, "pools":[{"region":"fr-par", "id":"c256c3d6-2469-42b0-8528-dbbdd178ab0f",
      "cluster_id":"7ab71cf4-d372-4e2a-8a07-65c5e52d0859", "created_at":"2025-05-14T11:50:35.082285Z",
      "updated_at":"2025-05-14T11:50:35.082285Z", "name":"default", "status":"scaling",
      "version":"1.32.3", "node_type":"gp1_xs", "autoscaling":false, "size":1, "min_size":0,
      "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[],
      "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1,
      "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"l_ssd", "root_volume_size":150000000000,
      "public_ip_disabled":false}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par", "id":"c256c3d6-2469-42b0-8528-dbbdd178ab0f", "cluster_id":"7ab71cf4-d372-4e2a-8a07-65c5e52d0859",
      "created_at":"2025-05-14T11:50:35.082285Z", "updated_at":"2025-05-14T11:50:35.082285Z",
      "name":"default", "status":"scaling", "version":"1.32.3", "node_type":"gp1_xs",
      "autoscaling":false, "size":1, "min_size":0, "max_size":1, "container_runtime":"containerd",
      "autohealing":false, "tags":[], "placement_group_id":null, "kubelet_args":{[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"7ab71cf4-d372-4e2a-8a07-65c5e52d0859","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7ab71cf4-d372-4e2a-8a07-65c5e52d0859
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"7ab71cf4-d372-4e2a-8a07-65c5e52d0859","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
