---
version: 1
interactions:
- request:
    body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150,
      "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000,
      "dedicated":false, "audit_logs_supported":false, "max_etcd_size":55000000},
      {"name":"kapsule-dedicated-4", "availability":"scarce", "max_nodes":250, "commitment_delay":"2592000s",
      "sla":99.5, "resiliency":"high_availability", "memory":4000000000, "dedicated":true,
      "audit_logs_supported":true, "max_etcd_size":200000000}, {"name":"kapsule-dedicated-8",
      "availability":"available", "max_nodes":500, "commitment_delay":"2592000s",
      "sla":99.5, "resiliency":"high_availability", "memory":8000000000, "dedicated":true,
      "audit_logs_sup[...]
- request:
    body: '{"id":"f1d533fd-eb65-4f40-b7c1-06b98d83858a", "name":"pn-nostalgic-babbage",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "created_at":"2025-10-09T18:37:56.912649Z", "updated_at":"2025-10-09T18:37:56.912649Z",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "subnets":[{"id":"b8ef86a4-f177-4148-8629-c28e3c0338ae",
      "created_at":"2025-10-09T18:37:56.912649Z", "updated_at":"2025-10-09T18:37:56.912649Z",
      "subnet":"172.17.44.0/22", "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "private_network_id":"f1d533fd-eb65-4f40-b7c1-06b98d83858a", "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"},
      {"id":"f9415017-f8fb-487b-8040-98437c689e8d", "created_at":"2025-10-09T18:37:56.912649Z",
      "updated_at":"2025-10-09T18:37:56.912649Z", "subnet":"fd58:6b70:2d5a:4498::/64",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "private_network_id":"f1d533fd-eb65-4f40-b7c1-06b98d83858a",
      "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"}], "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"f1d533fd-eb65-4f40-b7c1-06b98d83858a", "name":"pn-nostalgic-babbage",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "created_at":"2025-10-09T18:37:56.912649Z", "updated_at":"2025-10-09T18:37:56.912649Z",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "subnets":[{"id":"b8ef86a4-f177-4148-8629-c28e3c0338ae",
      "created_at":"2025-10-09T18:37:56.912649Z", "updated_at":"2025-10-09T18:37:56.912649Z",
      "subnet":"172.17.44.0/22", "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "private_network_id":"f1d533fd-eb65-4f40-b7c1-06b98d83858a", "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"},
      {"id":"f9415017-f8fb-487b-8040-98437c689e8d", "created_at":"2025-10-09T18:37:56.912649Z",
      "updated_at":"2025-10-09T18:37:56.912649Z", "subnet":"fd58:6b70:2d5a:4498::/64",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "private_network_id":"f1d533fd-eb65-4f40-b7c1-06b98d83858a",
      "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"}], "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20",
      "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par", "id":"d1b4328c-a847-45d6-bb57-e6f0fdc41812", "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "created_at":"2025-10-09T18:37:57.866574Z",
      "updated_at":"2025-10-09T18:37:57.866574Z", "type":"kapsule", "name":"cli-test-get-kubeconfig-copy-cli-token",
      "description":"", "status":"creating", "version":"1.34.1", "cni":"cilium", "tags":[],
      "cluster_url":"https://d1b4328c-a847-45d6-bb57-e6f0fdc41812.api.k8s.fr-par.scw.cloud:6443",
      "dns_wildcard":"*.d1b4328c-a847-45d6-bb57-e6f0fdc41812.nodes.k8s.fr-par.scw.cloud",
      "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m",
      "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false,
      "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10,
      "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600},
      "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}},
      "upgrade_available":false, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"",
      "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[],
      "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"f1d533fd-eb65-4f40-b7c1-06b98d83858a",
      "commitment_ends_at":"2025-10-09T18:37:57.866582Z", "acl_available":true, "iam_nodes_group_id":"",
      "new_images_enabled":false, "pod_cidr":"100.64.0.0/15", "service_cidr":"10.32.0.0/20",
      "service_dns_ip":"10.32.0.10"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par", "id":"d1b4328c-a847-45d6-bb57-e6f0fdc41812", "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "created_at":"2025-10-09T18:37:57.866574Z",
      "updated_at":"2025-10-09T18:37:57.866574Z", "type":"kapsule", "name":"cli-tes[...]
[...]
- request:
    body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWdldC1rdWJlY29uZmlnLWNvcHktY2xpLXRva2VuIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVSlhla05EUVZGSFowRjNTVUpCWjBsQ1FVUkJTMEpuWjNGb2EycFBVRkZSUkVGcVFWWk5VazEzUlZGWlJGWlJVVVJGZDNCeVpGZEtiR050Tld3S1pFZFdlazFDTkZoRVZFa3hUVlJCZDA5RVJUUk5lbU14VDBadldFUlVUVEZOVkVGM1QwUkZORTE2WXpGUFJtOTNSbFJGVkUxQ1JVZEJNVlZGUVhoTlN3cGhNMVpwV2xoS2RWcFlVbXhqZWtKYVRVSk5SMEo1Y1VkVFRUUTVRV2RGUjBORGN[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"d1b4328c-a847-45d6-bb57-e6f0fdc41812","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d1b4328c-a847-45d6-bb57-e6f0fdc41812
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"d1b4328c-a847-45d6-bb57-e6f0fdc41812","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
