---
version: 1
interactions:
- request:
    body: '{"id":"4df1d9c5-57b4-4f05-b09e-690961684fd2","name":"pn-hopeful-blackwell","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:51:13.276278Z","updated_at":"2023-06-13T09:51:13.276278Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"5d5a7951-8f22-4844-8df0-637f80c40d4d","created_at":"2023-06-13T09:51:13.276278Z","updated_at":"2023-06-13T09:51:13.276278Z","subnet":"172.16.24.0/22"},{"id":"4ddc9c6f-27b0-42b8-bd37-b05ab62156c3","created_at":"2023-06-13T09:51:13.276278Z","updated_at":"2023-06-13T09:51:13.276278Z","subnet":"fd63:256c:45f7:4fa6::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"4df1d9c5-57b4-4f05-b09e-690961684fd2","name":"pn-hopeful-blackwell","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:51:13.276278Z","updated_at":"2023-06-13T09:51:13.276278Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"5d5a7951-8f22-4844-8df0-637f80c40d4d","created_at":"2023-06-13T09:51:13.276278Z","updated_at":"2023-06-13T09:51:13.276278Z","subnet":"172.16.24.0/22"},{"id":"4ddc9c6f-27b0-42b8-bd37-b05ab62156c3","created_at":"2023-06-13T09:51:13.276278Z","updated_at":"2023-06-13T09:51:13.276278Z","subnet":"fd63:256c:45f7:4fa6::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par","id":"47d762d4-6937-47f4-abd3-460354412d80","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:51:13.508658314Z","updated_at":"2023-06-13T09:51:14.023597445Z","type":"kapsule","name":"cli-test-uninstall-kubeconfig-empty","description":"","status":"creating","version":"1.27.1","cni":"cilium","tags":[],"cluster_url":"https://47d762d4-6937-47f4-abd3-460354412d80.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.47d762d4-6937-47f4-abd3-460354412d80.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"4df1d9c5-57b4-4f05-b09e-690961684fd2"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"47d762d4-6937-47f4-abd3-460354412d80","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-13T09:51:13.508658314Z","updated_at":"2023-06-13T09:51:14.023597445Z","type":"kapsule","n[...]
[...]
- request:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LXVuaW5zdGFsbC1rdWJlY29uZmlnLWVtcHR5IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxRVdYaE5ha0UxVGxSRmVFNVdiMWhFVkUxNlRVUlplRTFxUVRWT1ZFVjRUbFp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJ[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"47d762d4-6937-47f4-abd3-460354412d80","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/47d762d4-6937-47f4-abd3-460354412d80
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"47d762d4-6937-47f4-abd3-460354412d80","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
