---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150, "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000, "dedicated":false, "audit_logs_supported":false, "max_etcd_size":55000000}, {"name":"kapsule-dedicated-4", "availability":"available", "max_nodes":250, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability", "memory":4000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200000000}, {"name":"kapsule-dedicated-8", "availability":"available", "max_nodes":500, "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability", "memory":8000000000, "dedicated":true, "audit_logs_supported":true, "max_etcd_size":200[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"id":"8cb4b3f9-312e-4659-bfcd-142a085e4928", "name":"pn-epic-banach", "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-08-07T09:47:03.213771Z", "updated_at":"2025-08-07T09:47:03.213771Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"41faa3a2-b38d-4825-85d2-1491c28c3ad1", "created_at":"2025-08-07T09:47:03.213771Z", "updated_at":"2025-08-07T09:47:03.213771Z", "subnet":"172.16.28.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"8cb4b3f9-312e-4659-bfcd-142a085e4928", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"43963532-f09d-467c-8545-8b2317a39f5f", "created_at":"2025-08-07T09:47:03.213771Z", "updated_at":"2025-08-07T09:47:03.213771Z", "subnet":"fd63:256c:45f7:9109::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"8cb4b3f9-312e-4659-bfcd-142a085e4928", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"8cb4b3f9-312e-4659-bfcd-142a085e4928", "name":"pn-epic-banach", "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-08-07T09:47:03.213771Z", "updated_at":"2025-08-07T09:47:03.213771Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"41faa3a2-b38d-4825-85d2-1491c28c3ad1", "created_at":"2025-08-07T09:47:03.213771Z", "updated_at":"2025-08-07T09:47:03.213771Z", "subnet":"172.16.28.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"8cb4b3f9-312e-4659-bfcd-142a085e4928", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}, {"id":"43963532-f09d-467c-8545-8b2317a39f5f", "created_at":"2025-08-07T09:47:03.213771Z", "updated_at":"2025-08-07T09:47:03.213771Z", "subnet":"fd63:256c:45f7:9109::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"8cb4b3f9-312e-4659-bfcd-142a085e4928", "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}], "vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 642.54277ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"region":"fr-par", "id":"b86b98b8-2e23-458c-889b-51479c3a239b", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-08-07T09:47:04.025629Z", "updated_at":"2025-08-07T09:47:04.025629Z", "type":"kapsule", "name":"cli-test-wait-cluster", "description":"", "status":"creating", "version":"1.32.3", "cni":"cilium", "tags":[], "cluster_url":"https://b86b98b8-2e23-458c-889b-51479c3a239b.api.k8s.fr-par.scw.cloud:6443", "dns_wildcard":"*.b86b98b8-2e23-458c-889b-51479c3a239b.nodes.k8s.fr-par.scw.cloud", "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m", "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false, "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10, "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600}, "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}}, "upgrade_available":true, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"", "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[], "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"8cb4b3f9-312e-4659-bfcd-142a085e4928", "commitment_ends_at":"2025-08-07T09:47:04.025637Z", "acl_available":true, "iam_nodes_group_id":"", "new_images_enabled":false, "pod_cidr":"", "service_cidr":"", "service_dns_ip":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par", "id":"b86b98b8-2e23-458c-889b-51479c3a239b", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-08-07T09:47:04.025629Z", "updated_at":"2025-08-07T09:47:04.025629Z", "type":"kapsule[...]
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{"total_count":1, "pools":[{"region":"fr-par", "id":"b0c91a3d-e19c-40ec-8b8b-d252c9b7da3f", "cluster_id":"b86b98b8-2e23-458c-889b-51479c3a239b", "created_at":"2025-08-07T09:47:03.842981Z", "updated_at":"2025-08-07T09:47:03.842981Z", "name":"default", "status":"scaling", "version":"1.32.3", "node_type":"gp1_xs", "autoscaling":false, "size":1, "min_size":0, "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[], "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1, "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"l_ssd", "root_volume_size":150000000000, "public_ip_disabled":false, "new_images_enabled":false, "security_group_id":"592f683f-83b9-47e4-9434-ca1931bdaa4b"}]}'
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b86b98b8-2e23-458c-889b-51479c3a239b/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":1, "pools":[{"region":"fr-par", "id":"b0c91a3d-e19c-40ec-8b8b-d252c9b7da3f", "cluster_id":"b86b98b8-2e23-458c-889b-51479c3a239b", "created_at":"2025-08-07T09:47:03.842981Z", "updated_at":"2025-08-07T09:47:03.842981Z", "name":"default", "status":"scaling", "version":"1.32.3", "node_type":"gp1_xs", "autoscaling":false, "size":1, "min_size":0, "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[], "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1, "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"l_ssd", "root_volume_size":150000000000, "public_ip_disabled":false, "new_images_enabled":false, "security_group_id":"592f683f-83b9-47e4-9434-ca1931bdaa4b"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.026332ms
    - id: 25
      request:
        host: api.scaleway.com
        body: '{"region":"fr-par", "id":"b0c91a3d-e19c-40ec-8b8b-d252c9b7da3f", "cluster_id":"b86b98b8-2e23-458c-889b-51479c3a239b", "created_at":"2025-08-07T09:47:03.842981Z", "updated_at":"2025-08-07T09:47:03.842981Z", "name":"default", "status":"scaling", "version":"1.32.3", "node_type":"gp1_xs", "autoscaling":false, "size":1, "min_size":0, "max_size":1, "container_runtime":"containerd", "autohealing":false, "tags":[], "placement_grou[...]
[...]
    - id: 99
      request:
        host: api.scaleway.com
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"b86b98b8-2e23-458c-889b-51479c3a239b","type":"not_found"}'
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b86b98b8-2e23-458c-889b-51479c3a239b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"b86b98b8-2e23-458c-889b-51479c3a239b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.152964ms
