---
version: 1
interactions:
- request:
    body: '{"organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","name":"test","description":"","tags":null,"version":"1.18.2","cni":"cilium","enable_dashboard":false,"ingress":"unknown_ingress","pools":[{"name":"default","node_type":"DEV1-M","placement_group_id":null,"autoscaling":false,"size":1,"min_size":null,"max_size":null,"container_runtime":"unknown_runtime","autohealing":false,"tags":null},{"name":"empty","node_type":"DEV1-M","placement_group_id":null,"autoscaling":false,"size":0,"min_size":null,"max_size":null,"container_runtime":"unknown_runtime","autohealing":false,"tags":null}],"autoscaler_config":null,"auto_upgrade":null,"feature_gates":null,"admission_plugins":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"f77da334-9f90-4322-9384-f1e18aa25dc1","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2020-04-18T10:59:11.277149458Z","updated_at":"2020-04-18T10:59:11.277149458Z","name":"test","description":"","status":"creating","version":"1.18.2","cni":"cilium","tags":[],"cluster_url":"https://f77da334-9f90-4322-9384-f1e18aa25dc1.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.f77da334-9f90-4322-9384-f1e18aa25dc1.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f77da334-9f90-4322-9384-f1e18aa25dc1/pools?order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: '{"total_count":2,"pools":[{"region":"fr-par","id":"80de79cd-a7d9-4ca4-b2b5-c93395a09a51","cluster_id":"f77da334-9f90-4322-9384-f1e18aa25dc1","created_at":"2020-04-18T10:59:11.295654Z","updated_at":"2020-04-18T10:59:11.322318Z","name":"default","status":"scaling","version":"1.18.2","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":null},{"region":"fr-par","id":"a6b472bb-5c4d-4714-98a9-5712372d9b85","cluster_id":"f77da334-9f90-4322-9384-f1e18aa25dc1","created_at":"2020-04-18T10:59:11.337411Z","updated_at":"2020-04-18T10:59:11.361988Z","name":"empty","status":"scaling","version":"1.18.2","node_type":"dev1_m","autoscaling":false,"size":0,"min_size":0,"max_size":0,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f77da334-9f90-4322-9384-f1e18aa25dc1
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"f77da334-9f90-4322-9384-f1e18aa25dc1","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2020-04-18T10:59:11.277149Z","updated_at":"2020-04-18T10:59:12.085400989Z","name":"test","description":"","status":"deleting","version":"1.18.2","cni":"cilium","tags":[],"cluster_url":"https://f77da334-9f90-4322-9384-f1e18aa25dc1.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.f77da334-9f90-4322-9384-f1e18aa25dc1.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f77da334-9f90-4322-9384-f1e18aa25dc1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"f77da334-9f90-4322-9384-f1e18aa25dc1","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
