---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/cluster-types
    method: GET
  response:
    body: "{\"cluster_types\":[{\"name\":\"kapsule\", \"availability\":\"available\", \"max_nodes\":150, \"commitment_delay\":\"0s\", \"sla\":0, \"resiliency\":\"standard\", \"memory\":4000000000, \"dedicated\":false, \"audit_logs_supported\":false, \"max_etcd_size\":55000000}, {\"name\":\"kapsule-dedicated-4\", \"availability\":\"available\", \"max_nodes\":250, \"commitment_delay\":\"2592000s\", \"sla\":99.5, \"resiliency\":\"high_availability\", \"memory\":4000000000, \"dedicated\":true, \"audit_logs_supported\":true, \"max_etcd_size\":200000000}, {\"name\":\"kapsule-dedicated-8\", \"availability\":\"available\", \"max_nodes\":500, \"commitment_delay\":\"2592000s\", \"sla\":99.5, \"resiliency\":\"high_availability\", \"memory\":8000000000, \"dedicated\":tr[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"pn-crazy-zhukovsky\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"tags\":[\"created-along-with-k8s-cluster\",\"created-by-cli\"],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"4a64f3e9-f128-4679-84ac-af05eec5b520\", \"name\":\"pn-crazy-zhukovsky\", \"tags\":[\"created-along-with-k8s-cluster\", \"created-by-cli\"], \"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-03T16:40:47.523530Z\", \"updated_at\":\"2025-11-03T16:40:47.523530Z\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"subnets\":[{\"id\":\"62092958-a0df-4a85-a87f-cfac4921ae6c\", \"created_at\":\"2025-11-03T16:40:47.523530Z\", \"updated_at\":\"2025-11-03T16:40:47.523530Z\", \"subnet\":\"172.16.0.0/22\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"private_network_id\":\"4a64f3e9-f128-4679-84ac-af05eec5b520\", \"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}, {\"id\":\"8c812823-63c0-48b1-9616-7f2043af80f5\", \"created_at\":\"2025-11-03T16:40:47.523530Z\", \"updated_at\":\"2025-11-03T16:40:47.523530Z\", \"subnet\":\"fd63:256c:45f7:fd01::/64\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"private_network_id\":\"4a64f3e9-f128-4679-84ac-af05eec5b520\", \"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}], \"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\", \"dhcp_enabled\":true, \"default_route_propagation_enabled\":false, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 639.82769ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"type\":\"\",\"name\":\"cli-test-get-cluster\",\"description\":\"\",\"tags\":null,\"version\":\"1.32.3\",\"cni\":\"cilium\",\"pools\":[{\"name\":\"default\",\"node_type\":\"DEV1-M\",\"placement_group_id\":null,\"autoscaling\":false,\"size\":1,\"min_size\":null,\"max_size\":null,\"container_runtime\":\"unknown_runtime\",\"autohealing\":false,\"tags\":null,\"kubelet_args\":null,\"upgrade_policy\":null,\"zone\":\"\",\"root_volume_type\":\"default_volume_type\",\"root_volume_size\":null,\"public_ip_disabled\":false,\"security_group_id\":null}],\"feature_gates\":null,\"admission_plugins\":null,\"apiserver_cert_sans\":null,\"private_network_id\":\"4a64f3e9-f128-4679-84ac-af05eec5b520\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"ebad6977-b62e-499f-bb6e-c97dbbbe56aa\", \"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-03T16:40:48.545193Z\", \"updated_at\":\"2025-11-03T16:40:48.545193Z\", \"type\":\"kapsule\", \"name\":\"cli-test-get-cluster\", \"description\":\"\", \"status\":\"creating\", \"version\":\"1.32.3\", \"cni\":\"cilium\", \"tags\":[], \"cluster_url\":\"https://ebad6977-b62e-499f-bb6e-c97dbbbe56aa.api.k8s.fr-par.scw.cloud:6443\", \"dns_wildcard\":\"*.ebad6977-b62e-499f-bb6e-c97dbbbe56aa.nodes.k8s.fr-par.scw.cloud\", \"autoscaler_config\":{\"scale_down_disabled\":false, \"scale_down_delay_after_add\":\"10m\", \"estimator\":\"binpacking\", \"expander\":\"random\", \"ignore_daemonsets_utilization\":false, \"balance_similar_node_groups\":false, \"expendable_pods_priority_cutoff\":-10, \"scale_down_unneeded_time\":\"10m\", \"scale_down_utilization_threshold\":0.5, \"max_graceful_termination_sec\":600}, \"auto_upgrade\":{\"enabled\":false, \"maintenance_window\":{\"start_hour\":0, \"day\":\"any\"}}, \"upgrade_available\":true, \"feature_gates\":[], \"admission_plugins\":[], \"open_id_connect_config\":{\"issuer_url\":\"\", \"client_id\":\"\", \"username_claim\":\"\", \"username_prefix\":\"\", \"groups_claim\":[], \"groups_prefix\":\"\", \"required_claim\":[]}, \"apiserver_cert_sans\":[], \"private_network_id\":\"4a64f3e9-f128-4679-84ac-af05eec5b520\", \"commitment_ends_at\":\"2025-11-03T16:40:48.545197Z\", \"acl_available\":true, \"iam_nodes_group_id\":\"\", \"new_images_enabled\":false, \"pod_cidr\":\"100.64.0.0/15\", \"service_cidr\":\"10.32.0.0/20\", \"service_dns_ip\":\"10.32.0.10\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 540.105621ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ebad6977-b62e-499f-bb6e-c97dbbbe56aa
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"ebad6977-b62e-499f-bb6e-c97dbbbe56aa\", \"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-03T16:40:48.545193Z\", \"updated_at\":\"2025-11-03T16:40:48.545193Z\", \"type\":\"k[...]
- id: 4
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ebad6977-b62e-499f-bb6e-c97dbbbe56aa/pools?order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1, \"pools\":[{\"region\":\"fr-par\", \"id\":\"65fbd09a-72aa-4022-af5a-6a09212d7047\", \"cluster_id\":\"ebad6977-b62e-499f-bb6e-c97dbbbe56aa\", \"created_at\":\"2025-11-03T16:40:48.152865Z\", \"updated_at\":\"2025-11-03T16:40:48.152865Z\", \"name\":\"default\", \"status\":\"scaling\", \"version\":\"1.32.3\", \"node_type\":\"dev1_m\", \"autoscaling\":false, \"size\":1, \"min_size\":0, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":false, \"tags\":[], \"placement_group_id\":null, \"kubelet_args\":{}, \"upgrade_policy\":{\"max_unavailable\":1, \"max_surge\":0}, \"zone\":\"fr-par-1\", \"root_volume_type\":\"l_ssd\", \"root_volume_size\":40000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"592f683f-83b9-47e4-9434-ca1931bdaa4b\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 19.472495ms
- id: 5
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "true"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ebad6977-b62e-499f-bb6e-c97dbbbe56aa?with_additional_resources=true
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"ebad6977-b62e-499f-bb6e-c97dbbbe56aa\", \"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-03T16:40:48.545193Z\", \"updated_at\":\"2025-11-03T16:40:48.760607Z\", \"type\"[...]
[...]
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ebad6977-b62e-499f-bb6e-c97dbbbe56aa
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"cluster\",\"resource_id\":\"ebad6977-b62e-499f-bb6e-c97dbbbe56aa\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 18.903234ms
