---
version: 1
interactions:
- request:
    body: '{"cluster_types":[{"name":"kapsule","availability":"available","max_nodes":150,"commitment_delay":"0s","sla":0,"resiliency":"standard","memory":4000000000,"dedicated":false,"audit_logs_supported":false,"max_etcd_size":55000000},{"name":"kapsule-dedicated-4","availability":"available","max_nodes":250,"commitment_delay":"2592000s","sla":99.5,"resiliency":"high_availability","memory":4000000000,"dedicated":true,"audit_logs_supported":false,"max_etcd_size":200000000},{"name":"kapsule-dedicated-8","availability":"available","max_nodes":500,"commitment_delay":"2592000s","sla":99.5,"resiliency":"high_availability","memory":8000000000,"dedicated":true,"audit_logs_supported":false,"max_etcd_size":200000000},{"name":"k[...]
- request:
    body: '{"id":"42299907-e54a-4454-9afd-7146b9ab28d2","name":"pn-zen-almeida","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2024-12-12T16:23:52.751733Z","updated_at":"2024-12-12T16:23:52.751733Z","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":[{"id":"dceaa0f2-9d0d-4c47-9f61-ce927bf844f9","created_at":"2024-12-12T16:23:52.751733Z","updated_at":"2024-12-12T16:23:52.751733Z","subnet":"172.16.48.0/22","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"42299907-e54a-4454-9afd-7146b9ab28d2","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"id":"e8cacd28-77f0-4336-8d9a-d5634e479e98","created_at":"2024-12-12T16:23:52.751733Z","updated_at":"2024-12-12T16:23:52.751733Z","subnet":"fd46:78ab:30b8:c80a::/64","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"42299907-e54a-4454-9afd-7146b9ab28d2","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"vpc_id":"086a5171-f7ab-4667-a231-840a81203f19","dhcp_enabled":true,"region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"42299907-e54a-4454-9afd-7146b9ab28d2","name":"pn-zen-almeida","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2024-12-12T16:23:52.751733Z","updated_at":"2024-12-12T16:23:52.751733Z","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":[{"id":"dceaa0f2-9d0d-4c47-9f61-ce927bf844f9","created_at":"2024-12-12T16:23:52.751733Z","updated_at":"2024-12-12T16:23:52.751733Z","subnet":"172.16.48.0/22","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"42299907-e54a-4454-9afd-7146b9ab28d2","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"id":"e8cacd28-77f0-4336-8d9a-d5634e479e98","created_at":"2024-12-12T16:23:52.751733Z","updated_at":"2024-12-12T16:23:52.751733Z","subnet":"fd46:78ab:30b8:c80a::/64","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"42299907-e54a-4454-9afd-7146b9ab28d2","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"vpc_id":"086a5171-f7ab-4667-a231-840a81203f19","dhcp_enabled":true,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par","id":"d0e42582-6f68-4122-8f3b-f9f31efab2ec","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2024-12-12T16:23:54.010258Z","updated_at":"2024-12-12T16:23:54.010258Z","type":"kapsule","name":"cli-test-get-cluster","description":"","status":"creating","version":"1.27.1","cni":"cilium","tags":[],"cluster_url":"https://d0e42582-6f68-4122-8f3b-f9f31efab2ec.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.d0e42582-6f68-4122-8f3b-f9f31efab2ec.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"42299907-e54a-4454-9afd-7146b9ab28d2","commitment_ends_at":"2024-12-12T16:23:54.010270Z","routed_ip_enabled":true,"sbs_csi_enabled":true,"full_vpc_integraton_enabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"d0e42582-6f68-4122-8f3b-f9f31efab2ec","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2024-12-12T16:23:54.010258Z","updated_at":"2024-12-12T16:23:54.010258Z","type":"kapsule","name":"cli-test-get-cluster","descriptio[...]
[...]
- request:
    body: '{"total_count":1,"pools":[{"region":"fr-par","id":"882057a6-66dc-4791-a964-d0aaa628020f","cluster_id":"d0e42582-6f68-4122-8f3b-f9f31efab2ec","created_at":"2024-12-12T16:23:53.267533Z","updated_at":"2024-12-12T16:23:53.267533Z","name":"default","status":"scaling","version":"1.27.1","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":40000000000,"public_ip_disabled":false}]}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d0e42582-6f68-4122-8f3b-f9f31efab2ec/pools?order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"pools":[{"region":"fr-par","id":"882057a6-66dc-4791-a964-d0aaa628020f","cluster_id":"d0e42582-6f68-4122-8f3b-f9f31efab2ec","created_at":"2024-12-12T16:23:53.267533Z","updated_at":"2024-12-12T16:23:53.267533Z","name":"default","status":"scaling","version":"1.27.1","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":40000000000,"public_ip_disabled":false}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"d0e42582-6f68-4122-8f3b-f9f31efab2ec","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d0e42582-6f68-4122-8f3b-f9f31efab2ec
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"d0e42582-6f68-4122-8f3b-f9f31efab2ec","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
