---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"pn-dazzling-volhard","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["created-along-with-k8s-cluster","created-by-cli"],"subnets":null,"default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"f7d04fcd-1412-44c0-81b9-c1a5eb456b2c","name":"pn-dazzling-volhard","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T14:07:41.001556Z","updated_at":"2026-07-03T14:07:41.001556Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"f182b7ba-373e-49e6-b2ca-d02f4412292e","created_at":"2026-07-03T14:07:41.001556Z","updated_at":"2026-07-03T14:07:41.001556Z","subnet":"172.16.64.0/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"f7d04fcd-1412-44c0-81b9-c1a5eb456b2c","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"},{"id":"85d86761-2282-490b-9b05-c49de42b63a4","created_at":"2026-07-03T14:07:41.001556Z","updated_at":"2026-07-03T14:07:41.001556Z","subnet":"fd63:256c:45f7:1e4a::/64","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"f7d04fcd-1412-44c0-81b9-c1a5eb456b2c","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 722.483318ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"cli-test-install-kubeconfig-merge-kubeconfig","description":"","tags":null,"version":"1.35.3","cni":"cilium","pools":[{"name":"default","node_type":"DEV1-M","placement_group_id":null,"autoscaling":false,"size":1,"min_size":null,"max_size":null,"container_runtime":"unknown_runtime","autohealing":false,"tags":null,"kubelet_args":null,"upgrade_policy":null,"zone":"","root_volume_type":"default_volume_type","root_volume_size":null,"public_ip_disabled":false,"security_group_id":null,"labels":null,"taints":null,"startup_taints":null,"private_network_id":null}],"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"f7d04fcd-1412-44c0-81b9-c1a5eb456b2c"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par","id":"6147ad97-49eb-4765-9e0e-3843910e9e2c","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T14:07:41.992124Z","updated_at":"2026-07-03T14:07:41.992124Z","type":"kapsule","name":"cli-test-install-kubeconfig-merge-kubeconfig","description":"","status":"creating","version":"1.35.3","cni":"cilium","tags":[],"cluster_url":"https://6147ad97-49eb-4765-9e0e-3843910e9e2c.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.6147ad97-49eb-4765-9e0e-3843910e9e2c.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600,"skip_nodes_with_local_storage":true,"log_level":2},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"f7d04fcd-1412-44c0-81b9-c1a5eb456b2c","commitment_ends_at":"2026-07-03T14:07:41.992131Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 474.507285ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6147ad97-49eb-4765-9e0e-3843910e9e2c
        method: GET
      response:
        body: '{"region":"fr-par","id":"6147ad97-49eb-4765-9e0e-3843910e9e2c","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T14:07:41.992124Z","updated_at":"2026-07-03T14:07:42.158415Z","type":"ka[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"access_key":"SCW2WH4M9QAC6PWEJSJA","secret_key":null,"description":"my API key for prod","created_at":"2026-04-02T13:13:26.558853Z","updated_at":"2026-04-02T13:13:26.558853Z","expires_at":"2027-04-02T13:13:26.452Z","default_project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","editable":true,"deletable":true,"managed":false,"creation_ip":"51.159.73.9","user_id":"77e7fa85-f305-4ea2-afea-09571a039336"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.290705ms
    - id: 10
      request:
        host: api.scaleway.com
        form:
            redacted:
                - "true"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6147ad97-49eb-4765-9e0e-3843910e9e2c/kubeconfig?redacted=true
        method: GET
      response:
        body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWluc3RhbGwta3ViZWNvbmZpZy1tZXJnZS1rdWJlY29uZmlnIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVSllSRU5EUVZGSFowRjNTVUpCWjBsQ1FVUkJTMEpuWjNGb2EycFBVRkZSUkVGcVFWWk5VazEzUlZGWlJGWlJVVVJGZDNCeVpGZEtiR050Tld3S1pFZFdlazFDTkZoRVZFa3lUVVJqZDAxcVJUQk5SR013VFd4dldFUlVUVEpOUkdOM1RXcEZNRTFFWXpCTmJHOTNSbFJGVkUxQ1JVZEJNVlZGUVhoTlN3cGhNMVpwV2xoS2RWcFlVbXhqZWtKYVRVSk5SMEo1Y1VkVFRUUTVRV2R[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "true"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6147ad97-49eb-4765-9e0e-3843910e9e2c?with_additional_resources=true
        method: DELETE
      response:
        body: '{"region":"fr-par","id":"6147ad97-49eb-4765-9e0e-3843910e9e2c","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T14:07:41.992124Z","updated_at":"2026-07-03T14:09:12.629124Z","type":"[...]
[...]
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6147ad97-49eb-4765-9e0e-3843910e9e2c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"6147ad97-49eb-4765-9e0e-3843910e9e2c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.900883ms
