---
version: 1
interactions:
- request:
    body: '{"id":"70982197-bf72-4f18-b2e7-34d1776c3449","name":"pn-trusting-lehmann","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-14T10:10:21.961179Z","updated_at":"2023-06-14T10:10:21.961179Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"71c70e38-f776-4f94-95e0-477362713b7b","created_at":"2023-06-14T10:10:21.961179Z","updated_at":"2023-06-14T10:10:21.961179Z","subnet":"172.16.92.0/22"},{"id":"62544acf-769c-4fad-a3d6-e73d52fa756b","created_at":"2023-06-14T10:10:21.961179Z","updated_at":"2023-06-14T10:10:21.961179Z","subnet":"fd63:256c:45f7:4db8::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"70982197-bf72-4f18-b2e7-34d1776c3449","name":"pn-trusting-lehmann","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-14T10:10:21.961179Z","updated_at":"2023-06-14T10:10:21.961179Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"71c70e38-f776-4f94-95e0-477362713b7b","created_at":"2023-06-14T10:10:21.961179Z","updated_at":"2023-06-14T10:10:21.961179Z","subnet":"172.16.92.0/22"},{"id":"62544acf-769c-4fad-a3d6-e73d52fa756b","created_at":"2023-06-14T10:10:21.961179Z","updated_at":"2023-06-14T10:10:21.961179Z","subnet":"fd63:256c:45f7:4db8::/64"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par","id":"fd147412-cb7e-4af5-8cf8-9c1ed2170973","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-14T10:10:22.345021800Z","updated_at":"2023-06-14T10:10:22.601641180Z","type":"kapsule","name":"cli-test-install-kubeconfig-merge","description":"","status":"creating","version":"1.27.1","cni":"cilium","tags":[],"cluster_url":"https://fd147412-cb7e-4af5-8cf8-9c1ed2170973.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.fd147412-cb7e-4af5-8cf8-9c1ed2170973.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"70982197-bf72-4f18-b2e7-34d1776c3449"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"fd147412-cb7e-4af5-8cf8-9c1ed2170973","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2023-06-14T10:10:22.345021800Z","updated_at":"2023-06-14T10:10:22.601641180Z","type":"kapsule","n[...]
[...]
- request:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWluc3RhbGwta3ViZWNvbmZpZy1tZXJnZSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMUVXWGhOZWtWM1RWUkJlVTVHYjFoRVZFMTZUVVJaZUUxNlJYZE5WRUY1VGtadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVV[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"fd147412-cb7e-4af5-8cf8-9c1ed2170973","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/fd147412-cb7e-4af5-8cf8-9c1ed2170973
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"fd147412-cb7e-4af5-8cf8-9c1ed2170973","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
