---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"pn-thirsty-fermi","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["created-along-with-k8s-cluster","created-by-cli"],"subnets":null,"default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"5ddb5dc6-3cb6-492d-ae83-c0e0b5848797","name":"pn-thirsty-fermi","tags":["created-along-with-k8s-cluster","created-by-cli"],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T14:02:53.983914Z","updated_at":"2026-07-03T14:02:53.983914Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"44982fd0-f82b-4b75-8958-3196413f69cf","created_at":"2026-07-03T14:02:53.983914Z","updated_at":"2026-07-03T14:02:53.983914Z","subnet":"172.16.56.0/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"5ddb5dc6-3cb6-492d-ae83-c0e0b5848797","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"},{"id":"a9b42529-20ce-46ba-90e6-64a247a2ff37","created_at":"2026-07-03T14:02:53.983914Z","updated_at":"2026-07-03T14:02:53.983914Z","subnet":"fd63:256c:45f7:8f12::/64","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"5ddb5dc6-3cb6-492d-ae83-c0e0b5848797","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","region":"fr-par"}],"vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.007861582s
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"cli-test-get-kubeconfig-with-envs","description":"","tags":null,"version":"1.35.3","cni":"cilium","pools":[{"name":"default","node_type":"DEV1-M","placement_group_id":null,"autoscaling":false,"size":1,"min_size":null,"max_size":null,"container_runtime":"unknown_runtime","autohealing":false,"tags":null,"kubelet_args":null,"upgrade_policy":null,"zone":"","root_volume_type":"default_volume_type","root_volume_size":null,"public_ip_disabled":false,"security_group_id":null,"labels":null,"taints":null,"startup_taints":null,"private_network_id":null}],"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"5ddb5dc6-3cb6-492d-ae83-c0e0b5848797"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par","id":"33b8ae0a-1fc8-4c94-9bb0-1aaa5a29a051","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T14:02:54.706351Z","updated_at":"2026-07-03T14:02:54.706351Z","type":"kapsule","name":"cli-test-get-kubeconfig-with-envs","description":"","status":"creating","version":"1.35.3","cni":"cilium","tags":[],"cluster_url":"https://33b8ae0a-1fc8-4c94-9bb0-1aaa5a29a051.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.33b8ae0a-1fc8-4c94-9bb0-1aaa5a29a051.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":-10,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600,"skip_nodes_with_local_storage":true,"log_level":2},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"5ddb5dc6-3cb6-492d-ae83-c0e0b5848797","commitment_ends_at":"2026-07-03T14:02:54.706358Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 282.638468ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/33b8ae0a-1fc8-4c94-9bb0-1aaa5a29a051
        method: GET
      response:
        body: '{"region":"fr-par","id":"33b8ae0a-1fc8-4c94-9bb0-1aaa5a29a051","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T14:02:54.706351Z","updated_at":"2026-07-03T14:02:54.706351Z","type":"ka[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        form:
            redacted:
                - "true"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/33b8ae0a-1fc8-4c94-9bb0-1aaa5a29a051/kubeconfig?redacted=true
        method: GET
      response:
        body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWdldC1rdWJlY29uZmlnLXdpdGgtZW52cyIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYYWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt5VFVSamQwMXFSVEJOUkVreFRrWnZXRVJVVFRKTlJHTjNUV3BGTUUxRVNURk9SbTkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFR[...]
[...]
    - id: 14
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "true"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/33b8ae0a-1fc8-4c94-9bb0-1aaa5a29a051?with_additional_resources=true
        method: DELETE
      response:
        body: '{"region":"fr-par","id":"33b8ae0a-1fc8-4c94-9bb0-1aaa5a29a051","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T14:02:54.706351Z","updated_at":"2026-07-03T14:05:10.397764Z","type":"[...]
[...]
    - id: 20
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/33b8ae0a-1fc8-4c94-9bb0-1aaa5a29a051
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"33b8ae0a-1fc8-4c94-9bb0-1aaa5a29a051","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.859899ms
