---
version: 1
interactions:
- request:
    body: '{"cluster_types":[{"name":"kapsule", "availability":"available", "max_nodes":150,
      "commitment_delay":"0s", "sla":0, "resiliency":"standard", "memory":4000000000,
      "dedicated":false, "audit_logs_supported":false, "max_etcd_size":55000000},
      {"name":"kapsule-dedicated-4", "availability":"available", "max_nodes":250,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":4000000000, "dedicated":true, "audit_logs_supported":false, "max_etcd_size":200000000},
      {"name":"kapsule-dedicated-8", "availability":"available", "max_nodes":500,
      "commitment_delay":"2592000s", "sla":99.5, "resiliency":"high_availability",
      "memory":8000000000, "dedicated":true, "audit_logs[...]
- request:
    body: '{"id":"d6892e41-4c01-4d1f-9e7e-4a1ac8d781ea", "name":"pn-flamboyant-rubin",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "created_at":"2024-09-19T08:27:57.463969Z", "updated_at":"2024-09-19T08:27:57.463969Z",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "subnets":[{"id":"f27a4d83-e77b-4f23-a4d6-c82fb573048a",
      "created_at":"2024-09-19T08:27:57.463969Z", "updated_at":"2024-09-19T08:27:57.463969Z",
      "subnet":"172.16.244.0/22", "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "private_network_id":"d6892e41-4c01-4d1f-9e7e-4a1ac8d781ea", "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"},
      {"id":"87453bb3-ffd7-42a3-99ee-589fbcbe8639", "created_at":"2024-09-19T08:27:57.463969Z",
      "updated_at":"2024-09-19T08:27:57.463969Z", "subnet":"fd58:6b70:2d5a:743b::/64",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "private_network_id":"d6892e41-4c01-4d1f-9e7e-4a1ac8d781ea",
      "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"}], "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20",
      "dhcp_enabled":true, "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"id":"d6892e41-4c01-4d1f-9e7e-4a1ac8d781ea", "name":"pn-flamboyant-rubin",
      "tags":["created-along-with-k8s-cluster", "created-by-cli"], "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "created_at":"2024-09-19T08:27:57.463969Z", "updated_at":"2024-09-19T08:27:57.463969Z",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "subnets":[{"id":"f27a4d83-e77b-4f23-a4d6-c82fb573048a",
      "created_at":"2024-09-19T08:27:57.463969Z", "updated_at":"2024-09-19T08:27:57.463969Z",
      "subnet":"172.16.244.0/22", "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "private_network_id":"d6892e41-4c01-4d1f-9e7e-4a1ac8d781ea", "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"},
      {"id":"87453bb3-ffd7-42a3-99ee-589fbcbe8639", "created_at":"2024-09-19T08:27:57.463969Z",
      "updated_at":"2024-09-19T08:27:57.463969Z", "subnet":"fd58:6b70:2d5a:743b::/64",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "private_network_id":"d6892e41-4c01-4d1f-9e7e-4a1ac8d781ea",
      "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20"}], "vpc_id":"b730047a-278a-4bbf-8092-ac2ae2bbef20",
      "dhcp_enabled":true, "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"fr-par", "id":"eadff35d-173a-472a-9e2f-d6ddc64ea924", "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "created_at":"2024-09-19T08:27:58.663127Z",
      "updated_at":"2024-09-19T08:27:58.663127Z", "type":"kapsule", "name":"cli-test-install-kubeconfig-merge",
      "description":"", "status":"creating", "version":"1.27.1", "cni":"cilium", "tags":[],
      "cluster_url":"https://eadff35d-173a-472a-9e2f-d6ddc64ea924.api.k8s.fr-par.scw.cloud:6443",
      "dns_wildcard":"*.eadff35d-173a-472a-9e2f-d6ddc64ea924.nodes.k8s.fr-par.scw.cloud",
      "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m",
      "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false,
      "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":-10,
      "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":600},
      "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}},
      "upgrade_available":true, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"",
      "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[],
      "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"d6892e41-4c01-4d1f-9e7e-4a1ac8d781ea",
      "commitment_ends_at":"2024-09-19T08:27:58.663138Z", "routed_ip_enabled":true,
      "sbs_csi_enabled":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par", "id":"eadff35d-173a-472a-9e2f-d6ddc64ea924", "organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0",
      "project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0", "created_at":"2024-09-19T08:27:58.663127Z",
      "updated_at":"2024-09-19T08:27:58.663127Z", "type":"kapsule", "name":"cli-test-instal[...]
[...]
- request:
    body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogImNsaS10ZXN0LWluc3RhbGwta3ViZWNvbmZpZy1tZXJnZSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1FMUVhM2hQUkVFMFRXcG5kMDFHYjFoRVZFMHdUVVJyZUU5RVFUUk5hbWQzVFVadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVV[...]
[...]
- request:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"eadff35d-173a-472a-9e2f-d6ddc64ea924","type":"not_found"}'
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/eadff35d-173a-472a-9e2f-d6ddc64ea924
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"eadff35d-173a-472a-9e2f-d6ddc64ea924","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
