---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            order_by:
                - price_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/offers?order_by=price_asc&page=1
        method: GET
      response:
        body: '{"total_count":6, "offers":[{"id":"5fb20315-3661-4b4f-8884-94f29dc05d0d", "name":"mini", "billing_operation_path":"/webhosting/mini/fr-par", "options":[{"id":"0c9ee1a0-1495-4ac8-8e7a-bc322ee45370", "name":"domain_count", "billing_operation_path":"", "min_value":1, "current_value":0, "max_value":1, "quota_warning":"unknown_warning", "price":{"currency_code":"EUR", "units":0, "nanos":500000000}}, {"id":"c4ac6ef1-b6ff-4b49-b429-f7662f600ea2", "name":"email_count", "billing_operation_path":"", "min_value":0, "current_value":0, "max_value":0, "quota_warning":"unknown_warning", "price":{"currency_code":"EUR", "units":1, "nanos":0}}, {"id":"e6419570-47e2-45cc-b2fa-dd149cdd4887", "name":"email_storage_gb", "billing_operation_path":"", "min_value":0, "current_value":0, "max_value":0, "quota_warning":"unknown_warning", "price":{"currency_code":"EUR", "units":0, "nanos":150000000}}, [...]
