---
version: 1
interactions:
- request:
    body: '{"organization":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "dc78c1dd-4436-4193-b82f-94bd5881ea35", "address": "51.15.215.79",
      "reverse": null, "server": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cp-par1.scaleway.com/ips/dc78c1dd-4436-4193-b82f-94bd5881ea35
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips?page=1
    method: GET
  response:
    body: '{"ips": [{"id": "52f3bf8e-006f-48dc-9e2f-293ed2330dd1", "address": "51.158.113.81",
      "reverse": null, "server": {"id": "ac2f54b4-3c02-4fc4-b7f7-85f7a4683a8d", "name":
      "oss-exporter"}, "organization": "32f707c5-df07-43c7-8b57-6e09b687dd03", "project":
      "32f707c5-df07-43c7-8b57-6e09b687dd03", "zone": "fr-par-1", "tags": []}, {"id":
      "15312268-a2e4-48d2-bc7a-d86db2f7f493", "address": "51.158.102.193", "reverse":
      null, "server": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "zone": "fr-par-1", "tags":
      []}, {"id": "8ed1c207-86db-4e60-84cd-0a4e84031239", "address": "51.15.253.183",
      "reverse": null, "server": {"id": "fa37ff62-4665-4b94-93bf-385d264a7b4d", "name":
      "juju"}, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42", "project":
      "951df375-e094-4d26-97c1-ba548eeb9c42", "zone": "fr-par-1", "tags": []}, {"id":
      "687f1b17-1d8d-4267-9b69-22025f6a52e8", "address": "51.15.251.251", "reverse":
      null, "server": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "zone": "fr-par-1", "tags":
      []}, {"id": "dc78c1dd-4436-4193-b82f-94bd5881ea35", "address": "51.15.215.79",
      "reverse": null, "server": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "zone": "fr-par-1", "tags":
      []}]}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </ips?page=1&per_page=50&>; rel="last"
      X-Total-Count:
      - "5"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/51.15.215.79
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
