---
version: 1
interactions:
- request:
    body: '{"name":"test","organization":"aba2d0d0-b01d-4d88-b322-935edc96d0fd","volume_type":"l_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"size": 20000000000, "state": "available", "name": "test",
      "modification_date": "2020-02-11T13:55:18.688897+00:00", "organization": "aba2d0d0-b01d-4d88-b322-935edc96d0fd",
      "export_uri": null, "creation_date": "2020-02-11T13:55:18.688897+00:00", "id":
      "dc762eda-d8f8-4e96-8221-fc5c49580d0f", "volume_type": "l_ssd", "server": null}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cp-par1.scaleway.com/volumes/dc762eda-d8f8-4e96-8221-fc5c49580d0f
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/dc762eda-d8f8-4e96-8221-fc5c49580d0f
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
