---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/products/volumes
    method: GET
  response:
    body: '{"volumes": {"b_ssd": {"capabilities": {"snapshot": true}, "display_name":
      "Block Storage SSD", "constraints": {"min": 1000000000, "max": 10000000000000}},
      "l_ssd": {"capabilities": {"snapshot": true}, "display_name": "Local SSD", "constraints":
      {"min": 1000000000, "max": 800000000000}}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </products/volumes?page=1&per_page=50&>; rel="last"
      X-Total-Count:
      - "2"
    status: 200 OK
    code: 200
    duration: ""
