---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-tpl-boring-lalande","tags":null,"server_tags":null,"server_type":"PRO2-S","volumes":null,"private_networks":null,"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
        method: POST
      response:
        body: '{"srn":"","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","id":"87f8b481-d0ff-4c8e-9b3c-350cc812c5fa","name":"cli-tpl-boring-lalande","tags":[],"server_tags":[],"server_type":"PRO2-S","public_ip_v4_count":0,"public_ip_v6_count":0,"volumes":[],"private_networks":[],"filesystem_ids":[],"created_at":"2026-10-07T06:31:34.624870Z","updated_at":"2026-10-07T06:31:34.624870Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 160.127146ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 15.645309ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/87f8b481-d0ff-4c8e-9b3c-350cc812c5fa
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 101.913299ms
