---
version: 1
interactions:
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"cli-tpl-peaceful-grothendieck","tags":null,"server_tags":null,"server_type":"PRO2-S","volumes":null,"private_networks":null,"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
    method: POST
  response:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"99d25304-10e9-4266-992c-2f01d22a9c22",
      "name":"cli-tpl-peaceful-grothendieck", "tags":[], "server_tags":[], "server_type":"PRO2-S",
      "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[],
      "filesystem_ids":[], "created_at":"2026-08-28T11:19:18.762617Z", "updated_at":"2026-08-28T11:19:18.762617Z",
      "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "49"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/99d25304-10e9-4266-992c-2f01d22a9c22
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "49"
      X-Ratelimit-Reset:
      - "1"
    status: 204 No Content
    code: 204
    duration: ""
