---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-tpl-interesting-grothendieck","tags":null,"server_tags":null,"server_type":"PRO2-S","volumes":null,"private_networks":null,"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
        method: POST
      response:
        body: '{"srn":"","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","id":"cca81e91-dce9-43fd-bf35-81572e1f4554","name":"cli-tpl-interesting-grothendieck","tags":[],"server_tags":[],"server_type":"PRO2-S","public_ip_v4_count":0,"public_ip_v6_count":0,"volumes":[],"private_networks":[],"filesystem_ids":[],"created_at":"2026-10-07T06:31:33.631543Z","updated_at":"2026-10-07T06:31:33.631543Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 143.040177ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 7.4024ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-asg-happy-black","tags":["cli-test-asg"],"template_id":"cca81e91-dce9-43fd-bf35-81572e1f4554","scaling_policy_spec":{"minimum_size":1,"maximum_size":5,"scale_out_cooldown":"180.000000000s","scale_in_cooldown":null,"scale_in_step":2,"scale_out_step":null,"memory_target":{"target_avg_percent":80}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha2/zones/fr-par-1/groups
        method: POST
      response:
        body: '{"id":"01a1150f-68d4-73c1-b349-95b75f72506b","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-asg-happy-black","tags":["cli-test-asg"],"created_at":"2026-10-07T06:31:33.815788Z","updated_at":"2026-10-07T06:31:33.815788Z","status":"active","open_alerts":[],"current_size":0,"target_size":0,"last_scale_out_at":null,"last_scale_in_at":null,"template_id":"cca81e91-dce9-43fd-bf35-81572e1f4554","scaling_policy":{"minimum_size":1,"maximum_size":5,"scale_out_cooldown":"180s","scale_in_cooldown":"60s","scale_in_step":2,"scale_out_step":1,"memory_target":{"target_avg_percent":80}}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 237.561937ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha2/zones/fr-par-1/groups/01a1150f-68d4-73c1-b349-95b75f72506b
        method: DELETE
      response:
        body: '{"id":"01a1150f-68d4-73c1-b349-95b75f72506b","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-asg-happy-black","tags":["cli-test-asg"],"created_at":"2026-10-07T06:31:33.815788Z","updated_at":"2026-10-07T06:31:34.024700Z","status":"deleting","open_alerts":[],"current_size":0,"target_size":0,"last_scale_out_at":null,"last_scale_in_at":null,"template_id":"cca81e91-dce9-43fd-bf35-81572e1f4554","scaling_policy":{"minimum_size":1,"maximum_size":5,"scale_out_cooldown":"180s","scale_in_cooldown":"60s","scale_in_step":2,"scale_out_step":1,"memory_target":{"target_avg_percent":80}}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 187.424989ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/cca81e91-dce9-43fd-bf35-81572e1f4554
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 127.865307ms
