---
version: 1
interactions:
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"b666c5f4-e9e0-45ab-aa58-e85bf5193f9b",
      "name":"cli-tpl-thirsty-gagarin", "tags":[], "server_tags":[], "server_type":"PRO2-S",
      "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[],
      "filesystem_ids":[], "created_at":"2026-08-06T12:50:57.294996Z", "updated_at":"2026-08-06T12:50:57.294996Z",
      "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
    method: POST
  response:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"b666c5f4-e9e0-45ab-aa58-e85bf5193f9b",
      "name":"cli-tpl-thirsty-gagarin", "tags":[], "server_tags":[], "server_type":"PRO2-S",
      "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[],
      "filesystem_ids":[], "created_at":"2026-08-06T12:50:57.294996Z", "updated_at":"2026-08-06T12:50:57.294996Z",
      "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"019fd720-7a09-7381-a969-32e9a7ef383b", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "name":"cli-asg-adoring-heisenberg", "tags":[], "created_at":"2026-08-06T12:50:57.636249Z",
      "updated_at":"2026-08-06T12:50:57.636249Z", "status":"active", "open_alerts":[],
      "current_size":0, "target_size":0, "last_scale_out_at":null, "last_scale_in_at":null,
      "template_id":"b666c5f4-e9e0-45ab-aa58-e85bf5193f9b", "scaling_policy":{"minimum_size":0,
      "maximum_size":12, "scale_out_cooldown":"60s", "scale_in_cooldown":"60s", "scale_in_step":1,
      "scale_out_step":1, "fixed_size":{"size":3}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/autoscaling/v1alpha2/zones/fr-par-1/groups
    method: POST
  response:
    body: '{"id":"019fd720-7a09-7381-a969-32e9a7ef383b", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "name":"cli-asg-adoring-heisenberg", "tags":[], "created_at":"2026-08-06T12:50:57.636249Z",
      "updated_at":"2026-08-06T12:50:57.636249Z", "status":"active", "open_alerts":[],
      "current_size":0, "target_size":0, "last_scale_out_at":null, "last_scale_in_at":null,
      "template_id":"b666c5f4-e9e0-45ab-aa58-e85bf5193f9b", "scaling_policy":{"minimum_size":0,
      "maximum_size":12, "scale_out_cooldown":"60s", "scale_in_cooldown":"60s", "scale_in_step":1,
      "scale_out_step":1, "fixed_size":{"size":3}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"019fd720-7a09-7381-a969-32e9a7ef383b", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "name":"cli-asg-adoring-heisenberg", "tags":["tags", "were", "updated"], "created_at":"2026-08-06T12:50:57.636249Z",
      "updated_at":"2026-08-06T12:50:57.792187Z", "status":"active", "open_alerts":[],
      "current_size":0, "target_size":0, "last_scale_out_at":null, "last_scale_in_at":null,
      "template_id":"5ab3e2a8-9624-4711-bfe2-a5706945f171", "scaling_policy":{"minimum_size":0,
      "maximum_size":25, "scale_out_cooldown":"60s", "scale_in_cooldown":"60s", "scale_in_step":1,
      "scale_out_step":5, "cpu_target":{"target_avg_percent":70}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/autoscaling/v1alpha2/zones/fr-par-1/groups/019fd720-7a09-7381-a969-32e9a7ef383b
    method: PATCH
  response:
    body: '{"id":"019fd720-7a09-7381-a969-32e9a7ef383b", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "name":"cli-asg-adoring-heisenberg", "tags":["tags", "were", "updated"], "created_at":"2026-08-06T12:50:57.636249Z",
      "updated_at":"2026-08-06T12:50:57.792187Z", "status":"active", "open_alerts":[],
      "current_size":0, "target_size":0, "last_scale_out_at":null, "last_scale_in_at":null,
      "template_id":"5ab3e2a8-9624-4711-bfe2-a5706945f171", "scaling_policy":{"minimum_size":0,
      "maximum_size":25, "scale_out_cooldown":"60s", "scale_in_cooldown":"60s", "scale_in_step":1,
      "scale_out_step":5, "cpu_target":{"target_avg_percent":70}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/b666c5f4-e9e0-45ab-aa58-e85bf5193f9b
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
