---
version: 1
interactions:
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"51980af8-8cd9-4a93-9346-6869e95d56a2",
      "name":"cli-tpl-cool-golick", "tags":[], "server_tags":[], "server_type":"PRO2-S",
      "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[],
      "filesystem_ids":[], "created_at":"2026-08-06T12:50:57.264737Z", "updated_at":"2026-08-06T12:50:57.264737Z",
      "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
    method: POST
  response:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"51980af8-8cd9-4a93-9346-6869e95d56a2",
      "name":"cli-tpl-cool-golick", "tags":[], "server_tags":[], "server_type":"PRO2-S",
      "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[],
      "filesystem_ids":[], "created_at":"2026-08-06T12:50:57.264737Z", "updated_at":"2026-08-06T12:50:57.264737Z",
      "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"019fd720-7953-7e6a-ae89-e345eec00186", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "name":"cli-asg-unruffled-cannon", "tags":["cli-test-asg"], "created_at":"2026-08-06T12:50:57.474574Z",
      "updated_at":"2026-08-06T12:50:57.474574Z", "status":"active", "open_alerts":[],
      "current_size":0, "target_size":0, "last_scale_out_at":null, "last_scale_in_at":null,
      "template_id":"51980af8-8cd9-4a93-9346-6869e95d56a2", "scaling_policy":{"minimum_size":1,
      "maximum_size":5, "scale_out_cooldown":"180s", "scale_in_cooldown":"60s", "scale_in_step":2,
      "scale_out_step":1, "memory_target":{"target_avg_percent":80}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/autoscaling/v1alpha2/zones/fr-par-1/groups
    method: POST
  response:
    body: '{"id":"019fd720-7953-7e6a-ae89-e345eec00186", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "name":"cli-asg-unruffled-cannon", "tags":["cli-test-asg"], "created_at":"2026-08-06T12:50:57.474574Z",
      "updated_at":"2026-08-06T12:50:57.474574Z", "status":"active", "open_alerts":[],
      "current_size":0, "target_size":0, "last_scale_out_at":null, "last_scale_in_at":null,
      "template_id":"51980af8-8cd9-4a93-9346-6869e95d56a2", "scaling_policy":{"minimum_size":1,
      "maximum_size":5, "scale_out_cooldown":"180s", "scale_in_cooldown":"60s", "scale_in_step":2,
      "scale_out_step":1, "memory_target":{"target_avg_percent":80}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"019fd720-7953-7e6a-ae89-e345eec00186", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "name":"cli-asg-unruffled-cannon", "tags":["cli-test-asg"], "created_at":"2026-08-06T12:50:57.474574Z",
      "updated_at":"2026-08-06T12:50:57.640594Z", "status":"deleting", "open_alerts":[],
      "current_size":0, "target_size":0, "last_scale_out_at":null, "last_scale_in_at":null,
      "template_id":"51980af8-8cd9-4a93-9346-6869e95d56a2", "scaling_policy":{"minimum_s[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/51980af8-8cd9-4a93-9346-6869e95d56a2
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
