---
version: 1
interactions:
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"48e68919-d923-4911-b6e4-68ba8bc86dd9",
      "name":"cli-tpl-vigilant-khayyam", "tags":[], "server_tags":[], "server_type":"PRO2-S",
      "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[],
      "filesystem_ids":[], "created_at":"2026-08-04T21:40:50.737078Z", "updated_at":"2026-08-04T21:40:50.737078Z",
      "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
    method: POST
  response:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"48e68919-d923-4911-b6e4-68ba8bc86dd9",
      "name":"cli-tpl-vigilant-khayyam", "tags":[], "server_tags":[], "server_type":"PRO2-S",
      "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[],
      "filesystem_ids":[], "created_at":"2026-08-04T21:40:50.737078Z", "updated_at":"2026-08-04T21:40:50.737078Z",
      "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"019fceb8-e359-7a58-ad6f-0a8b65046e2a", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "name":"cli-asg-keen-babbage", "tags":[], "created_at":"2026-08-04T21:40:51.148224Z",
      "updated_at":"2026-08-04T21:40:51.148224Z", "status":"active", "open_alerts":[],
      "current_size":0, "target_size":0, "last_scale_out_at":null, "last_scale_in_at":null,
      "template_id":"48e68919-d923-4911-b6e4-68ba8bc86dd9", "scaling_policy":{"minimum_size":0,
      "maximum_size":12, "scale_out_cooldown":"60s", "scale_in_cooldown":"60s", "scale_in_step":1,
      "scale_out_step":1, "fixed_size":{"size":3}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/autoscaling/v1alpha2/zones/fr-par-1/groups
    method: POST
  response:
    body: '{"id":"019fceb8-e359-7a58-ad6f-0a8b65046e2a", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "name":"cli-asg-keen-babbage", "tags":[], "created_at":"2026-08-04T21:40:51.148224Z",
      "updated_at":"2026-08-04T21:40:51.148224Z", "status":"active", "open_alerts":[],
      "current_size":0, "target_size":0, "last_scale_out_at":null, "last_scale_in_at":null,
      "template_id":"48e68919-d923-4911-b6e4-68ba8bc86dd9", "scaling_policy":{"minimum_size":0,
      "maximum_size":12, "scale_out_cooldown":"60s", "scale_in_cooldown":"60s", "scale_in_step":1,
      "scale_out_step":1, "fixed_size":{"size":3}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"019fceb8-e359-7a58-ad6f-0a8b65046e2a", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "name":"cli-asg-keen-babbage", "tags":["tags", "were", "updated"], "created_at":"2026-08-04T21:40:51.148224Z",
      "updated_at":"2026-08-04T21:40:51.358515Z", "status":"active", "open_alerts":[],
      "current_size":0, "target_size":0, "last_scale_out_at":null, "last_scale_in_at":null,
      "template_id":"9a51e876-813d-44de-9fcf-24869100786c", "scaling_policy":{"minimum_size":0,
      "maximum_size":25, "scale_out_cooldown":"60s", "scale_in_cooldown":"60s", "scale_in_step":1,
      "scale_out_step":5, "cpu_target":{"target_avg_percent":70}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/autoscaling/v1alpha2/zones/fr-par-1/groups/019fceb8-e359-7a58-ad6f-0a8b65046e2a
    method: PATCH
  response:
    body: '{"id":"019fceb8-e359-7a58-ad6f-0a8b65046e2a", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "name":"cli-asg-keen-babbage", "tags":["tags", "were", "updated"], "created_at":"2026-08-04T21:40:51.148224Z",
      "updated_at":"2026-08-04T21:40:51.358515Z", "status":"active", "open_alerts":[],
      "current_size":0, "target_size":0, "last_scale_out_at":null, "last_scale_in_at":null,
      "template_id":"9a51e876-813d-44de-9fcf-24869100786c", "scaling_policy":{"minimum_size":0,
      "maximum_size":25, "scale_out_cooldown":"60s", "scale_in_cooldown":"60s", "scale_in_step":1,
      "scale_out_step":5, "cpu_target":{"target_avg_percent":70}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/48e68919-d923-4911-b6e4-68ba8bc86dd9
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
