---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-tpl-wizardly-banzai","tags":null,"server_tags":null,"server_type":"PRO2-S","volumes":null,"private_networks":null,"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
        method: POST
      response:
        body: '{"srn":"","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","id":"4904a4c9-80e5-4894-b452-9201a9e228a5","name":"cli-tpl-wizardly-banzai","tags":[],"server_tags":[],"server_type":"PRO2-S","public_ip_v4_count":0,"public_ip_v6_count":0,"volumes":[],"private_networks":[],"filesystem_ids":[],"created_at":"2026-10-07T06:31:32.592288Z","updated_at":"2026-10-07T06:31:32.592288Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 275.930451ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 9.326601ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-asg-gallant-dhawan","tags":null,"template_id":"4904a4c9-80e5-4894-b452-9201a9e228a5","scaling_policy_spec":{"minimum_size":0,"maximum_size":12,"scale_out_cooldown":null,"scale_in_cooldown":null,"scale_in_step":null,"scale_out_step":null,"fixed_size":{"size":3}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha2/zones/fr-par-1/groups
        method: POST
      response:
        body: '{"id":"01a1150f-6576-7b96-bea4-2eee1551890c","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-asg-gallant-dhawan","tags":[],"created_at":"2026-10-07T06:31:32.967891Z","updated_at":"2026-10-07T06:31:32.967891Z","status":"active","open_alerts":[],"current_size":0,"target_size":0,"last_scale_out_at":null,"last_scale_in_at":null,"template_id":"4904a4c9-80e5-4894-b452-9201a9e228a5","scaling_policy":{"minimum_size":0,"maximum_size":12,"scale_out_cooldown":"60s","scale_in_cooldown":"60s","scale_in_step":1,"scale_out_step":1,"fixed_size":{"size":3}}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 228.453392ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"tags":["tags","were","updated"],"template_id":"04d0e5ad-78e5-4a97-b0f0-2cec1c0020df","scaling_policy_spec":{"minimum_size":null,"maximum_size":25,"scale_out_cooldown":null,"scale_in_cooldown":null,"scale_in_step":null,"scale_out_step":5,"cpu_target":{"target_avg_percent":70}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha2/zones/fr-par-1/groups/01a1150f-6576-7b96-bea4-2eee1551890c
        method: PATCH
      response:
        body: '{"id":"01a1150f-6576-7b96-bea4-2eee1551890c","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-asg-gallant-dhawan","tags":["tags","were","updated"],"created_at":"2026-10-07T06:31:32.967891Z","updated_at":"2026-10-07T06:31:33.099419Z","status":"active","open_alerts":[],"current_size":0,"target_size":0,"last_scale_out_at":null,"last_scale_in_at":null,"template_id":"04d0e5ad-78e5-4a97-b0f0-2cec1c0020df","scaling_policy":{"minimum_size":0,"maximum_size":25,"scale_out_cooldown":"60s","scale_in_cooldown":"60s","scale_in_step":1,"scale_out_step":5,"cpu_target":{"target_avg_percent":70}}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 160.546286ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/4904a4c9-80e5-4894-b452-9201a9e228a5
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 94.375059ms
[...]
