---
version: 1
interactions:
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"55e333b8-c59f-4c4b-a87d-fbf17dd630ca",
      "name":"cli-tpl-nostalgic-vaughan", "tags":[], "server_tags":[], "server_type":"PRO2-S",
      "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[],
      "filesystem_ids":[], "created_at":"2026-08-04T16:18:39.559150Z", "updated_at":"2026-08-04T16:18:39.559150Z",
      "zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
    method: POST
  response:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "id":"55e333b8-c59f-4c4b-a87d-fbf17dd630ca",
      "name":"cli-tpl-nostalgic-vaughan", "tags":[], "server_tags":[], "server_type":"PRO2-S",
      "public_ip_v4_count":0, "public_ip_v6_count":0, "volumes":[], "private_networks":[],
      "filesystem_ids":[], "created_at":"2026-08-04T16:18:39.559150Z", "updated_at":"2026-08-04T16:18:39.559150Z",
      "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"019fcd91-ea16-753a-b9ca-3ee4df143c77", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "name":"cli-asg-gallant-bartik", "tags":["cli-test-asg"], "created_at":"2026-08-04T16:18:39.750845Z",
      "updated_at":"2026-08-04T16:18:39.750845Z", "status":"active", "open_alerts":[],
      "current_size":0, "target_size":0, "last_scale_out_at":null, "last_scale_in_at":null,
      "template_id":"55e333b8-c59f-4c4b-a87d-fbf17dd630ca", "scaling_policy":{"minimum_size":1,
      "maximum_size":5, "scale_out_cooldown":"180s", "scale_in_cooldown":"60s", "scale_in_step":2,
      "scale_out_step":1, "memory_target":{"target_avg_percent":80}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/autoscaling/v1alpha2/zones/fr-par-1/groups
    method: POST
  response:
    body: '{"id":"019fcd91-ea16-753a-b9ca-3ee4df143c77", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "name":"cli-asg-gallant-bartik", "tags":["cli-test-asg"], "created_at":"2026-08-04T16:18:39.750845Z",
      "updated_at":"2026-08-04T16:18:39.750845Z", "status":"active", "open_alerts":[],
      "current_size":0, "target_size":0, "last_scale_out_at":null, "last_scale_in_at":null,
      "template_id":"55e333b8-c59f-4c4b-a87d-fbf17dd630ca", "scaling_policy":{"minimum_size":1,
      "maximum_size":5, "scale_out_cooldown":"180s", "scale_in_cooldown":"60s", "scale_in_step":2,
      "scale_out_step":1, "memory_target":{"target_avg_percent":80}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"id":"019fcd91-ea16-753a-b9ca-3ee4df143c77", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "name":"cli-asg-gallant-bartik", "tags":["cli-test-asg"], "created_at":"2026-08-04T16:18:39.750845Z",
      "updated_at":"2026-08-04T16:18:39.954824Z", "status":"deleting", "open_alerts":[],
      "current_size":0, "target_size":0, "last_scale_out_at":null, "last_scale_in_at":null,
      "template_id":"55e333b8-c59f-4c4b-a87d-fbf17dd630ca", "scaling_policy":{"minimum_siz[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/55e333b8-c59f-4c4b-a87d-fbf17dd630ca
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
