---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-tpl-festive-shamir","tags":null,"server_tags":null,"server_type":"PRO2-S","volumes":null,"private_networks":null,"filesystem_ids":null,"public_ip_v4_count":0,"public_ip_v6_count":0}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates
        method: POST
      response:
        body: '{"srn":"","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","id":"cc2cf3ea-559e-4011-92b9-d90f14f05389","name":"cli-tpl-festive-shamir","tags":[],"server_tags":[],"server_type":"PRO2-S","public_ip_v4_count":0,"public_ip_v6_count":0,"volumes":[],"private_networks":[],"filesystem_ids":[],"created_at":"2026-09-24T09:35:13.503003Z","updated_at":"2026-09-24T09:35:13.503003Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 238.868432ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 10.338923ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-asg-hardcore-tereshkova","tags":["cli-test-asg"],"template_id":"cc2cf3ea-559e-4011-92b9-d90f14f05389","scaling_policy_spec":{"minimum_size":1,"maximum_size":5,"scale_out_cooldown":"180.000000000s","scale_in_cooldown":null,"scale_in_step":2,"scale_out_step":null,"memory_target":{"target_avg_percent":80}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/autoscaling/v1alpha2/zones/fr-par-1/groups
        method: POST
      response:
        body: '{"id":"01a0d2c4-e332-7480-b6c1-4ac01b95c79f","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-asg-hardcore-tereshkova","tags":["cli-test-asg"],"created_at":"2026-09-24T09:35:13.702181Z","updated_at":"2026-09-24T09:35:13.702181Z","status":"active","open_alerts":[],"current_size":0,"target_size":0,"last_scale_out_at":null,"last_scale_in_at":null,"template_id":"cc2cf3ea-559e-4011-92b9-d90f14f05389","scaling_policy":{"minimum_size":1,"maximum_size":5,"scale_out_cooldown":"180s","scale_in_cooldown":"60s","scale_in_step":2,"scale_out_step":1,"memory_target":{"target_avg_percent":80}}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 180.775393ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/autoscaling/v1alpha2/zones/fr-par-1/groups/01a0d2c4-e332-7480-b6c1-4ac01b95c79f
        method: DELETE
      response:
        body: '{"id":"01a0d2c4-e332-7480-b6c1-4ac01b95c79f","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-asg-hardcore-tereshkova","tags":["cli-test-asg"],"created_at":"2026-09-24T09:35:13.702181Z","updated_at":"2026-09-24T09:35:13.827785Z","status":"deleting","open_alerts":[],"current_size":0,"target_size":0,"last_scale_out_at":null,"last_scale_in_at":null,"template_id":"cc2cf3ea-559e-4011-92b9-d90f14f05389","scaling_policy":{"minimum_size":1,"maximum_size":5,"scale_out_cooldown":"180s","scale_in_cooldown":"60s","scale_in_step":2,"scale_out_step":1,"memory_target":{"target_avg_percent":80}}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 150.855681ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v2alpha1/zones/fr-par-1/templates/cc2cf3ea-559e-4011-92b9-d90f14f05389
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 144.228621ms
