---
version: 1
interactions:
- request:
    body: '{"id":"78cd6067-45ed-4e5c-85ba-1e1eca66e660", "project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "name":"cli-test-access-secret", "status":"ready", "created_at":"2024-04-03T07:23:26.018474Z",
      "updated_at":"2024-04-03T07:23:26.018474Z", "tags":[], "version_count":0, "description":"",
      "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null,
      "region":"fr-par"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: '{"id":"78cd6067-45ed-4e5c-85ba-1e1eca66e660", "project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "name":"cli-test-access-secret", "status":"ready", "created_at":"2024-04-03T07:23:26.018474Z",
      "updated_at":"2024-04-03T07:23:26.018474Z", "tags":[], "version_count":0, "description":"",
      "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null,
      "region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"revision":1, "secret_id":"78cd6067-45ed-4e5c-85ba-1e1eca66e660", "status":"enabled",
      "created_at":"2024-04-03T07:23:26.186144Z", "updated_at":"2024-04-03T07:23:26.186144Z",
      "description":"", "latest":true, "ephemeral_properties":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/78cd6067-45ed-4e5c-85ba-1e1eca66e660/versions
    method: POST
  response:
    body: '{"revision":1, "secret_id":"78cd6067-45ed-4e5c-85ba-1e1eca66e660", "status":"enabled",
      "created_at":"2024-04-03T07:23:26.186144Z", "updated_at":"2024-04-03T07:23:26.186144Z",
      "description":"", "latest":true, "ephemeral_properties":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"secret_id":"78cd6067-45ed-4e5c-85ba-1e1eca66e660", "revision":1, "data":"eyJrZXkiOiJ2YWx1ZSJ9",
      "data_crc32":null}'
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/78cd6067-45ed-4e5c-85ba-1e1eca66e660/versions/1/access
    method: GET
  response:
    body: '{"secret_id":"78cd6067-45ed-4e5c-85ba-1e1eca66e660", "revision":1, "data":"eyJrZXkiOiJ2YWx1ZSJ9",
      "data_crc32":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/78cd6067-45ed-4e5c-85ba-1e1eca66e660
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
