---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"id":"0e548fcc-b784-421b-9c32-7171d5ea0644", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-test-access-secret", "status":"ready", "created_at":"2025-07-22T15:54:37.526037Z", "updated_at":"2025-07-22T15:54:37.526037Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"0e548fcc-b784-421b-9c32-7171d5ea0644", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "name":"cli-test-access-secret", "status":"ready", "created_at":"2025-07-22T15:54:37.526037Z", "updated_at":"2025-07-22T15:54:37.526037Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 298.341495ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"revision":1, "secret_id":"0e548fcc-b784-421b-9c32-7171d5ea0644", "status":"enabled", "created_at":"2025-07-22T15:54:37.853261Z", "updated_at":"2025-07-22T15:54:37.853261Z", "deleted_at":null, "description":"", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0e548fcc-b784-421b-9c32-7171d5ea0644/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"0e548fcc-b784-421b-9c32-7171d5ea0644", "status":"enabled", "created_at":"2025-07-22T15:54:37.853261Z", "updated_at":"2025-07-22T15:54:37.853261Z", "deleted_at":null, "description":"", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 325.884929ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"secret_id":"0e548fcc-b784-421b-9c32-7171d5ea0644", "revision":1, "data":"eyJrZXkiOiJ2YWx1ZSJ9", "data_crc32":null, "type":"opaque"}'
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0e548fcc-b784-421b-9c32-7171d5ea0644/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"0e548fcc-b784-421b-9c32-7171d5ea0644", "revision":1, "data":"eyJrZXkiOiJ2YWx1ZSJ9", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.238348ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0e548fcc-b784-421b-9c32-7171d5ea0644
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 64.378093ms
