---
version: 1
interactions:
- request:
    body: '{"project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","name":"cli-test-access-secret","tags":null,"type":"unknown_type","protected":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: '{"srn":"","id":"b379250e-af49-427e-998e-299275a6e77c","project_id":"5ebc0159-7cb7-406c-9521-9347d1987fb2","name":"cli-test-access-secret","status":"ready","created_at":"2026-10-02T08:47:51.588759Z","updated_at":"2026-10-02T08:47:51.588759Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "49"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/metadata
    method: GET
  response:
    body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "49"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"data":"eyJrZXkiOiJ2YWx1ZSJ9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b379250e-af49-427e-998e-299275a6e77c/versions
    method: POST
  response:
    body: '{"srn":"","revision":1,"secret_id":"b379250e-af49-427e-998e-299275a6e77c","status":"enabled","created_at":"2026-10-02T08:47:51.962152Z","updated_at":"2026-10-02T08:47:51.962152Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "48"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b379250e-af49-427e-998e-299275a6e77c/versions/1/access
    method: GET
  response:
    body: '{"secret_id":"b379250e-af49-427e-998e-299275a6e77c","revision":1,"data":"eyJrZXkiOiJ2YWx1ZSJ9","data_crc32":null,"type":"opaque"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "48"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b379250e-af49-427e-998e-299275a6e77c
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50, 50;w=1
      X-Ratelimit-Remaining:
      - "47"
      X-Ratelimit-Reset:
      - "1"
    status: 204 No Content
    code: 204
    duration: ""
