---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"cli-test-access-secret","tags":null,"type":"unknown_type","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"srn":"", "id":"2594e7a3-1c40-479a-8cc5-4c3f2541e1f3", "project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da", "name":"cli-test-access-secret", "status":"ready", "created_at":"2026-10-08T08:35:54.723419Z", "updated_at":"2026-10-08T08:35:54.723419Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 150.074578ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 9.413495ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"data":"eyJrZXkiOiJ2YWx1ZSJ9"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2594e7a3-1c40-479a-8cc5-4c3f2541e1f3/versions
        method: POST
      response:
        body: '{"srn":"", "revision":1, "secret_id":"2594e7a3-1c40-479a-8cc5-4c3f2541e1f3", "status":"enabled", "created_at":"2026-10-08T08:35:55.030230Z", "updated_at":"2026-10-08T08:35:55.030230Z", "deleted_at":null, "description":"", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 318.703488ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2594e7a3-1c40-479a-8cc5-4c3f2541e1f3/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"2594e7a3-1c40-479a-8cc5-4c3f2541e1f3", "revision":1, "data":"eyJrZXkiOiJ2YWx1ZSJ9", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 93.437311ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2594e7a3-1c40-479a-8cc5-4c3f2541e1f3
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 55.933849ms
