---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-keys?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"ssh_keys":[{"id":"495d0e9f-a22b-4ff5-8324-0cb4746c57dc","name":"rleone@scaleway.com","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM6Lfs9IrfEUsw2oALOKucAqjeJo3vdADJAZS0BrJ4Vl rleone@scaleway.com","fingerprint":"256
      MD5:0d:6d:20:43:4c:0f:38:a3:65:de:8f:72:77:70:26:55 rleone@scaleway.com (ssh-ed25519)","created_at":"2022-03-29T07:50:11.839583Z","updated_at":"2022-03-29T07:50:17.762922Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42"},{"id":"01b5a42f-31d0-4a08-b239-7c452490315c","name":"pouet","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM6Lfs9IrfEUsw2oALOKucAqjeJo3vdADJAZS0BrJ4Vl rleone@scaleway.com","fingerprint":"256
      MD5:0d:6d:20:43:4c:0f:38:a3:65:de:8f:72:77:70:26:55 rleone@scaleway.com (ssh-ed25519)","created_at":"2022-04-20T16:47:46.265496Z","updated_at":"2022-04-20T16:47:46.265496Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42"},{"id":"16f762bf-41a5-4018-a7bb-a1a4e70e5206","name":"pouet","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM6Lfs9IrfEUsw2oALOKucAqjeJo3vdADJAZS0BrJ4Vl rleone@scaleway.com","fingerprint":"256
      MD5:0d:6d:20:43:4c:0f:38:a3:65:de:8f:72:77:70:26:55 rleone@scaleway.com (ssh-ed25519)","created_at":"2022-04-27T17:40:45.047682Z","updated_at":"2022-04-27T17:40:45.047682Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}],"total_count":3}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
