---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"ssh_keys":[{"srn":"srn://iam.scw.eu/ssh-keys/b3473d47-6a1c-489c-8f9b-56665129162e","id":"b3473d47-6a1c-489c-8f9b-56665129162e","name":"test-cli-KeyRegistered","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICd8ZxAm9mXQsRHhQ5iADEJuO+Ai8EbXMI7TIlsh9jbE","fingerprint":"256 MD5:2e:c9:d3:87:1c:04:5f:c8:86:0c:08:4d:34:3f:ff:4c (ssh-ed25519)","created_at":"2026-09-24T12:38:47.450576Z","updated_at":"2026-09-24T12:38:47.450576Z","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","disabled":false},{"srn":"srn://iam.scw.eu/ssh-keys/a648a00b-70a1-4ee3-b8a8-3be0132fcb43","id":"a648a00b-70a1-4ee3-b8a8-3be0132fcb43","name":"key-compassionate-rhodes","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICd8ZxAm9mXQsRHhQ5iADEJuO+Ai8EbXMI7TIlsh9jbE","fingerprint":"256 MD5:2e:c9:d3:87:1c:04:5f:c8:86:0c:08:4d:34:3f:ff:4c (ssh-ed25519)","created_at":"2026-09-24T12:38:47.661442Z","updated_at":"2026-09-24T12:38:47.661442Z","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b[...]
[...]
    - id: 2
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "3"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys?order_by=created_at_asc&page=3
        method: GET
      response:
        body: '{"ssh_keys":[{"srn":"srn://iam.scw.eu/ssh-keys/3ecce91f-19bd-411c-ae16-c014d2182b8e","id":"3ecce91f-19bd-411c-ae16-c014d2182b8e","name":"test-cli-KeyRegistered","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICd8ZxAm9mXQsRHhQ5iADEJuO+Ai8EbXMI7TIlsh9jbE","fingerprint":"256 MD5:2e:c9:d3:87:1c:04:5f:c8:86:0c:08:4d:34:3f:ff:4c (ssh-ed25519)","created_at":"2026-09-24T13:50:36.489028Z","updated_at":"2026-09-24T13:50:36.489028Z","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","disabled":false},{"srn":"srn://iam.scw.eu/ssh-keys/aae277f4-7c95-491a-9a64-15a616c44979","id":"aae277f4-7c95-491a-9a64-15a616c44979","name":"key-priceless-mccarthy","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICd8ZxAm9mXQsRHhQ5iADEJuO+Ai8EbXMI7TIlsh9jbE","fingerprint":"256 MD5:2e:c9:d3:87:1c:04:5f:c8:86:0c:08:4d:34:3f:ff:4c (ssh-ed25519)","created_at":"2026-09-24T13:50:36.766316Z","updated_at":"2026-09-24T13:50:36.766316Z","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","disabled":false}],"total_count":42}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 34.39588ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "38"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 7.46451ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"key-quirky-galois","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIQE67HxSRicWd4ol7ntM2jdeD/qEehPJxK/3thmMiZg foobar@foobar","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/ssh-keys/00858cb3-2f27-4daa-8b54-50629fc586c6","id":"00858cb3-2f27-4daa-8b54-50629fc586c6","name":"key-quirky-galois","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIQE67HxSRicWd4ol7ntM2jdeD/qEehPJxK/3thmMiZg","fingerprint":"256 MD5:ea:c1:a1:82:4b:41:2b:65:26:9c:18:27:da:0d:bd:91 (ssh-ed25519)","created_at":"2026-09-24T13:50:37.099196Z","updated_at":"2026-09-24T13:50:37.099196Z","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","disabled":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 63.825298ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCW34JXNB73TWW45XC21","access_key":"SCWXXXXXXXXXXXXXXXXX","secret_key":null,"description":"Generated by the Scaleway CLI","created_at":"2026-09-21T08:59:40.180590Z","updated_at":"2026-09-21T08:59:40.180590Z","expires_at":"2026-12-20T08:59:35.980374Z","default_project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","editable":true,"deletable":true,"managed":false,"creation_ip":"130.180.219.188","user_id":"c54eef01-c4c6-48fa-9a1e-36e8998b9776"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "37"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 37.095054ms
[...]
