---
version: 1
interactions:
- request:
    body: '{"access_key":"SCW15KJMQ5J9BJ5R6VXR","secret_key":null,"description":"","created_at":"2023-11-02T20:47:30.074094Z","updated_at":"2023-11-02T20:47:30.074094Z","expires_at":null,"default_project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","editable":true,"creation_ip":"51.159.46.153","user_id":"c6d30243-8c79-4999-867f-e901e6f498e7"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: '{"access_key":"SCW15KJMQ5J9BJ5R6VXR","secret_key":null,"description":"","created_at":"2023-11-02T20:47:30.074094Z","updated_at":"2023-11-02T20:47:30.074094Z","expires_at":null,"default_project_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","editable":true,"creation_ip":"51.159.46.153","user_id":"c6d30243-8c79-4999-867f-e901e6f498e7"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
