---
version: 1
interactions:
- request:
    body: '{"name":"test-cli-KeyRegistered","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICd8ZxAm9mXQsRHhQ5iADEJuO+Ai8EbXMI7TIlsh9jbE
      foobar@foobar","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"33ece97d-d6b7-4d4b-b213-15d4a8ee2eb9","name":"test-cli-KeyRegistered","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAICd8ZxAm9mXQsRHhQ5iADEJuO+Ai8EbXMI7TIlsh9jbE foobar@foobar","fingerprint":"256
      MD5:2e:c9:d3:87:1c:04:5f:c8:86:0c:08:4d:34:3f:ff:4c foobar@foobar (ssh-ed25519)","created_at":"2020-06-10T13:57:05.192946Z","updated_at":"2020-06-23T14:04:17.658644Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://account.scaleway.com/tokens/11111111-1111-1111-1111-111111111111
    method: GET
  response:
    body: '{"token": {"access_key": "SCWV1KBG4XV8BM4Y5T2T", "user_id": "721f2fde-1a01-4854-822b-fcca5638d73e",
      "expires": null, "creation_date": "2020-06-23T08:21:54.096455+00:00", "creation_ip":
      "195.154.229.35", "category": "user_created", "deletion_date": null, "inherits_user_perms":
      true, "roles": {"role": null, "organization": null}, "description": "sieben-macbook",
      "organization_id": "951df375-e094-4d26-97c1-ba548eeb9c42", "use_role_key": false}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/33ece97d-d6b7-4d4b-b213-15d4a8ee2eb9
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
