---
version: 2
interactions:
- request:
    body: '{"access_key":"SCWQN1ZYHWPFGJD28Q70", "secret_key":null, "description":"iam",
      "created_at":"2022-08-22T09:13:42.922733Z", "updated_at":"2022-10-20T08:29:52.752429Z",
      "expires_at":null, "default_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "editable":true, "creation_ip":"51.159.73.9", "user_id":"38d8ec28-dbee-4dbe-a4e8-56adcc285e8b"}'
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: '{"access_key":"SCWQN1ZYHWPFGJD28Q70", "secret_key":null, "description":"iam",
      "created_at":"2022-08-22T09:13:42.922733Z", "updated_at":"2022-10-20T08:29:52.752429Z",
      "expires_at":null, "default_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "editable":true, "creation_ip":"51.159.73.9", "user_id":"38d8ec28-dbee-4dbe-a4e8-56adcc285e8b"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
