---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.scaleway.com/account/v1/tokens/11111111-1111-1111-1111-111111111111
    method: GET
  response:
    body: '{"token": {"access_key": "SCWFEREJ5D3PW6WTVEH1", "user_id": "721f2fde-1a01-4854-822b-fcca5638d73e",
      "iam_user_id": null, "iam_application_id": null, "expires": null, "creation_date":
      "2021-04-16T12:46:06.403601+00:00", "deletion_date": null, "creation_ip": "195.154.229.35",
      "category": "user_created", "inherits_user_perms": false, "role_id": "5737d70a-84fc-46ce-ae5c-5d31170f733a",
      "description": "sieben-macbook", "project_id": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "organization_id": "951df375-e094-4d26-97c1-ba548eeb9c42", "use_role_key": true}}'
    headers:
      Content-Type:
      - application/json
      Warning:
      - 299 - "Deprecated API please use https://api.scaleway.com/account/v1"
    status: 200 OK
    code: 200
    duration: ""
