name: Build

permissions:
  contents: read

on:
  pull_request:
  merge_group:

jobs:
  native-binary:
    runs-on: ubuntu-latest
    steps:
      # Checkout should always be before setup-go to ensure caching is working
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Verify go.mod is tidy
        run: |
          go mod tidy
          git diff --exit-code
      - name: Build binaries
        run: ./scripts/build.sh
      - name: Print binaries size
        run: ls -lh ./bin
      - name: Check binary size
        run: ./scripts/check-size.sh ./bin/*linux-x86_64

  docker:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 1
    - name: Build image in Docker
      run: docker build -t scaleway/cli .
    - name: Test help command in docker
      run: docker run -i scaleway/cli version
