name: Documentation Workflows
on:
  pull_request:
  merge_group:
jobs:
  ensure-docs-generated:
    name: Ensure docs are generated
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Generate code
        run: go run ./cmd/scw-doc-gen
        env:
          # We need this to enable autocomplete documentation generation default
          SHELL: /bin/bash
      - name: Exit 1 if not empty
        run: git diff --exit-code
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gaurav-nelson/github-action-markdown-link-check@1.0.15
        with:
          use-quiet-mode: 'yes'
          use-verbose-mode: 'yes'
          config-file: '.markdownlinkcheck.json'
          folder-path: 'docs'
          file-extension: '.md'
