name: Lint

permissions:
  contents: read

on:
  pull_request:
  merge_group:

jobs:
  actionlint:
    name: Github Actions lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Check workflow files
        uses: docker://rhysd/actionlint:latest
        with:
          args: -color -ignore SC2086

  dockerlint:
    name: dockerfile-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: dockerfile-lint
        run: docker build --check .

  golangci:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: latest
          args: --timeout 10m

  spelling:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@v4
      - name: Spell Check Repo
        uses: crate-ci/typos@v1.39.0
        env:
          CLICOLOR: 1
