name: Tests

on:
  pull_request:

jobs:
  os-tests:
    strategy:
      matrix:
        go-version: [1.13.x, 1.14.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 1
    - name: Run unit tests
      run: go test -v ./...
    - name: Execute main binary # Test the runtime for potential panics.
      run: go run cmd/scw/main.go -h

  build-tests:
    strategy:
      matrix:
        go-version: [1.13.x, 1.14.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Build binaries
        run: ./scripts/build.sh

  docker-tests:
    runs-on:  ubuntu-latest
    steps:
      - name: Build image in Docker
        run: docker build -t scaleway/cli .
      - name: Test help command in docker
        name: docker run -i scaleway/cli help
