name: WebAssembly

permissions:
  contents: read

on:
  pull_request:
  merge_group:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      # Checkout should always be before setup-go to ensure caching is working
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: stable
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 6.0.2
      - name: Build
        run: ./scripts/build-wasm.sh
      - name: Run npm package tests
        run: ./scripts/run-tests-wasm.sh
      - name: Run custom tester
        run: ./scripts/run-tests-wasm.sh
        env:
          TESTER: true
      - name: Run prettier
        working-directory: wasm
        run: pnpm lint
