name: WebAssembly

permissions:
  contents: read

on:
  pull_request:
  merge_group:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      # Checkout should always be before setup-go to ensure caching is working
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 6.0.2
      - name: Build
        run: ./scripts/build-wasm.sh
      - name: Run npm package tests
        run: ./scripts/run-tests-wasm.sh
      - name: Run custom tester
        run: ./scripts/run-tests-wasm.sh
        env:
          TESTER: true
      - name: Run prettier
        working-directory: wasm
        run: pnpm lint
